[2021-11-07 01:16] yoonghm commented on #4174
The `post-install.sh` does this

[code]
However, user and group `telegraf` are not present.  If I enable logging, I see this from the stderr:

`Unable to open /var/log/telegraf/telegraf.log (open /var/log/telegraf/telegraf.log: is a directory), using stderr`

[2021-11-07 13:25] desvdp opened #10071 "Processor skipping fails"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20, Docker

### Docker

_No response_

### Steps to reproduce

1. Given the Config file above
2. Send MQTT messages to the relevant topic in either json or raw int format
2. Observe the output

### Expected behavior

I had expected the converter processor would be skipped for topics other than the the one mentioned.
Where the json top

[2021-11-07 14:35] desvdp commented on #10071
Fixed: [[processors.override.tagpass]] requires a single bracket.

[2021-11-07 14:35] #10071 closed

[2021-11-08 13:18] reimerp opened #10072 "json_v2 parser with wildcard mqtt topics produces lot of "GJSON Path returned null" errors"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.3

### Docker

_No response_

### Steps to reproduce

Using json_v2 seems ok for input with a unique schema, but when using in an mqtt input on wildcard topics this is not true and you will get tons of errors (even if output is correct)

I have a couple of tasmota device sending mqtt data on topics "home/device/tele"
Each device se

[2021-11-08 15:14] powersj commented on #10069
Hi,

While the [README](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/ping) suggests using method native, it does layout some [Linux related permission](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/ping/README.md#linux-permissions) changes that need to occur to a system for this to work. Effectively Telegraf needs to be run as root or given the `CAP_NET_RAW

[2021-11-08 15:14] #10069 closed

[2021-11-08 16:15] reimda commented on #10063
I replied on the community page

[2021-11-08 16:22] sjwang90 commented on #9164
@jeffsparks Were you able to determine if the error originated from the gopcua library?

[2021-11-08 16:28] sjwang90 commented on #9780
Duplicate of #9164

[2021-11-08 16:28] #9780 closed

[2021-11-08 21:08] aslater3 commented on #10061
I have this same issue

[2021-11-08 21:42] #9979 closed

[2021-11-08 21:47] #10000 closed

[2021-11-08 22:00] reimda commented on #9917
I updated gosnmp to 1.33.0 in https://github.com/influxdata/telegraf/pull/10076. When the CI build completes for that PR, could you test that change and see whether the error that started happening in telegraf 1.20 still happens? Thanks!

[2021-11-08 22:21] reimda commented on #9917
The build is here: https://github.com/influxdata/telegraf/pull/10076#issuecomment-963626781. Click the dropdown triangle and choose your platform.

[2021-11-08 23:27] henjoe commented on #9164
Hello Thanks for this.
Will try to test it.

[2021-11-09 00:46] jeffsparks commented on #9164
I will test again but it will take a few days

[2021-11-09 08:26] magiconair commented on #10062
Hi, I am one of the main authors and maintainers of the https://github.com/gopcua/opcua library and I am really happy that this library is being used in more areas. I was caught a bit by surprise by the inclusion to influx.

So far we have been using and testing this mostly in our factories at Northvolt with Siemens and Beckhoff PLCs and other maintainers were able to test with a different setup.

[2021-11-09 08:27] magiconair commented on #10062
What usually helps to troubleshoot the issues are tcpdumps.

[2021-11-09 08:57] papey opened #10078 "[inputs.mongodb] Telegraf crash on init if conn to MongoDB fails"
### Relevent telegraf.conf

`/etc/telegraf/telegraf.d/mongo.conf`

[code]

### System info

Telegraf 1.20.2 (git: HEAD f721f53d), Debian 10.11

### Docker

_No response_

### Steps to reproduce

1. Add a dedicated conf for MongoDB like the one above (to simulate a failed conn, just change the port number, for example)
2. Restart Telegraf

### Expected behavior

At least a log message to STDERR, on

[2021-11-09 10:27] magiconair commented on #9164
I think the only way this can panic at https://github.com/gopcua/opcua/blob/v0.1.13/ua/node_id.go#L396-L398 is if the node id is `nil`. `n.mask` will then panic.

[2021-11-09 10:28] magiconair commented on #9164
Maybe something going wrong in `RegisterNodes` ?

[2021-11-09 10:53] Cougar commented on #10069
Hi,

You don'tneed to run Telegraf as root when `CAP_NET_RAW` is set which is the whole point of this capability. The missing part in Docker image is that to use this capability you have to set this file attribute first.

ping binary works because it has SUID bit set which means that basically it runs as root.

[2021-11-09 12:28] Stephan-Walter commented on #3823
yeah, we have moved also to a single agent per snmp entry now, with an auto generated config. Nevertheless, it is the best solution.

[2021-11-09 12:31] etycomputer commented on #9936
With the fix made in #9865, this flag is no longer needed.

[2021-11-09 12:31] #9936 closed

[2021-11-09 13:53] etycomputer opened #10079 "Adding support to parse metadata before headers to the CSV parser"
## Feature Request

Adding this option enables the parser to process metadata included before the CSV header.
This information can be included in every metric as a field or tag.

### Proposal:
To add two new options to the CSV parser: `csv_metadata_rows` and `csv_metadata_regex`
`csv_metadata_rows = x` where x is the number of rows that contain the metadata after `csv_skip_rows` and before the hea

[2021-11-09 14:05] etycomputer commented on #10079
Hi @srebhan, @powersj, @Hipska, and @sspaink,

I am going to start working on this new feature for the CSV parse.
Could you all have a look at my proposal and let me know what you think.

The main part that I need feedback on is regarding the `csv_metadata_regex` field. Is this good practice to give users this much flexibility or should I limit them by just letting them create a list of `csv_metad

[2021-11-09 15:03] powersj commented on #10078
Hi,

I want to be certain I understand your desire for this bug. Are you after more log messages? The message you provided shows that it failed to connect to MongoDB already.

Are you hoping for some sort of retry?

Or something else?

Thanks!

[2021-11-09 15:28] jnangle commented on #10062
Hello @magiconair, thank you for finding the Influx group and for providing the updates to the gopcua library.  I opened a ticket in that github group for errors involving connections to the Red Lion OPC UA server using numeric identifiers.  You had asked for tcpdumps for a working connection, but I haven't had the time to get back my system and run tcpdump.  I understand that that is a valuable t

[2021-11-09 15:32] #243 closed

[2021-11-09 15:41] papey commented on #10078
Thanks for your feedback and sorry if it was unclear,

Yes, but since the error is returned in the `Init()` func of the `mongodb` package, Telegraf just exit with an error exit status (equal to 1, see the log above).

From that state, lets imagine I have other metrics collected (lets say from other inputs for example). If one of the MongoDB servers listed if not reachable for some reason, I want T

[2021-11-09 15:53] srebhan opened #10080 "Improve or replace --test"
## Problem

The telegraf command line option `--test` is often misunderstood especially in that it does **not** send any data to the outputs but only to stdout. Therefore new users wonder why they don't see any data in their configured database(s) as they meant to use `--once`.

### Proposal:

To improve the awareness for the user about the actual behavior when using `--test` I see the following o

[2021-11-09 16:52] #9972 closed

[2021-11-09 16:59] magiconair commented on #10062
@jnangle Thank you!

[2021-11-09 19:00] BondAnthony opened #10081 "Testing"

[2021-11-09 19:01] BondAnthony commented on #10081
Thanks telegraf-tiger. I'll use the community pages.

[2021-11-09 19:01] #10081 closed

[2021-11-09 22:05] #10034 closed

[2021-11-09 22:29] #9611 closed

[2021-11-09 22:30] #6671 closed

[2021-11-09 23:07] zeus86 commented on #6170
is there currently any real work ongoing on this topic?

[2021-11-09 23:13] powersj commented on #6170
The [AMD ROCm SMI](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/amd_rocm_smi) plugin I believe covers this request. I am going to close this, but if it is missing support, or something else, please do feel free to open a bug with additional details as to what is missing.

Thanks!

[2021-11-09 23:13] #6170 closed

[2021-11-10 00:20] philjb commented on #9744
Hey @powersj -

* These rate limits only apply to InfluxDB Cloud. If someone hosted their own instance of InfluxDB the 413 response would not be seen? Or is this configurable there as well?

I'm not sure with Influxdb OSS does or is capable of for rate limits.

* Is the rate limit specific to a single request body size or overtime? (i.e. the cloud pricing page has different data-in limits for free

[2021-11-10 01:58] aaronjwood commented on #8862
Pool metrics seem to have stopped working with ZFS 2.1.x. I'd be happy to submit a PR for this + support for the new metrics but I'm very tight on time. I will see what I can do over the next few months.

[2021-11-10 02:17] sfitts opened #10085 "[inputs.prometheus] SIGSEGV on startup with Kubernetes 1.20"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.3, Kubernetes 1.20.7

### Docker

_No response_

### Steps to reproduce

1. Deploy Telegraf using the helm chart in the  [official repo](https://github.com/influxdata/helm-charts/tree/master/charts/telegraf) to deploy telegraf in a K8s 1.20 cluster.  We have seen this failure in both EKS and AKS.
2. Use the configuration shown abov

[2021-11-10 07:09] srebhan commented on #10059
Hey @KEVISONG can you please outline your use-case? I'm a bit hesitant to open this box as we, over time, might accumulate a bunch of formats here, basically duplicating the `outputs.file` plugin with `files=["stdout"]`...
Would using
[code]
and running telegraf with `--output-filter file --once` also solve your use-case?

[2021-11-10 08:42] papey commented on #10078
See https://github.com/influxdata/telegraf/pull/10086 for implementation details and discussion.

[2021-11-10 09:28] MichaelTharwat opened #10087 "Cisco_telemetry_mdt input plugin incorrect parsing of child policy data sent by sensor "Cisco-IOS-XR-qos-ma-oper:qos/interface-table/interface/input/service-policy-names/service-policy-instance/statistics""
### Relevent telegraf.conf

[code]

### System info

debian buster

### Docker

_No response_

### Steps to reproduce

1.
2.
3.
...
1.Cisco equipment details
Cisco IOS XR Software, Version 6.5.3
Version : 6.5.3

2.Relevant Cisco equipment configuration
telemetry model-driven
destination-group GROUP1
  address-family ipv4 10.110.254.3 port 5432
   encoding self-describing-gpb
   protocol tcp
  !
!

[2021-11-10 09:57] DavidBuettner opened #10088 "hex values not supported by currently used https://github.com/BurntSushi/toml/"
### Relevent telegraf.conf

[code]

### System info

telegraf master (observed on v1.20.3 debian bullseye)

### Docker

_No response_

### Steps to reproduce

1. Create a plugin `myplugin` with a `myplugin.conf` defining hex values (e.g.  `register = 0x34`)
2. Try to load the config variable into a int64

### Expected behavior

Variable should contain the respective integer value (`int64 register

[2021-11-10 12:38] Hipska commented on #10080
I like option 2, but would love to see `--test` to stay, just as a shortcut to `--once --dry-run`. Although, you are stating it would resemble the same, it is not as it would not output the metrics..

[2021-11-10 13:17] KEVISONG commented on #10059
Hi @srebhan

It actually worked and solved my use case : )

But in this way, the config file needs additional modifying - adding `outputs.file` output. It would be great if `--test` can support different format so the config file can remain untouched.

It's a `nice to have` feature.

[2021-11-10 13:50] KEVISONG opened #10090 "Add Tencent Cloud’s Cloud Monitor Input Plugin"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal: Add Tencent Cloud’s Cloud Monitor Input Plugin

### Current behavior:

Cloud providers have input plugins that are capable of scraping metrics of cloud services from the monitoring services that they provide.

- [Amazon CloudWatch Statistics Input Plugin](https://github.com/influxdata/telegraf/tree/master/plugins/

[2021-11-10 14:46] samhld commented on #10049
@sjwang90 LGTM.  I assume the second `topic_tags` in 3rd bullet under Desired Behavior was meant to be `topic_fields`?

[2021-11-10 15:06] powersj commented on #10080
If the problem is the lack of understanding of the `--test` option's capabilities then adding a warning log message seems like the most beneficial and straightforward resolution. The UX could look like:

[code]

Adding additional options does not seem like the best path forward as it results in even more confusion as to what to use and when. Traditionally `--dryrun`/--dry-run` would show what comm

[2021-11-10 15:08] powersj commented on #10059
I am going to go ahead and close this per the solution @srebhan pointed out. No need to muddy up `--test` with what could grow into lots of additional options + what the file output plugin already does.

Thanks!

[2021-11-10 15:08] #10059 closed

[2021-11-10 15:43] powersj commented on #10085
Hi,

That trace is from this bit of code:

[code]

The nil pointer happens when trying to `defer watcher.Stop()`. Looks like there was an error trying to get a watch interface. If I put up a branch that checks the error first and builds artifacts are you in a position to take a test build so we can see what error comes up?

[2021-11-10 15:52] sfitts commented on #10085
@powersj -- yep, not in a position to build the code, but should be able to modify the existing Docker image with a new executable for use in our K8s cluster.

[2021-11-10 16:52] #10048 closed

[2021-11-10 16:57] sjwang90 commented on #10049
Oops, I updated. @samhld and @srebhan Want to double check that it's common enough that your topics would names and values that you would want to set as your measurements and fields? The initial request was only for tags and I don't want to include extra config options if it's not necessary.

[2021-11-10 17:28] samhld commented on #10049
@sjwang90 I think it's necessary to be flexible so allowing to parse out any Line Protocol element would be good.

Since there can only be one Measurement per parsed line, it would also probably be good to call out that this functionality would overwrite any other Measurement value that may already have (unlikely scenario but still worth mentioning probably, especially if the data source emits Lin

[2021-11-10 18:33] powersj commented on #10085
Alright, #10091 has artifacts now attached to it. Can you please give those a shot?

Thanks!

[2021-11-10 18:42] ihard opened #10092 "Plugin processors.regex not create new field"
### Relevent telegraf.conf

[code]

### System info

telegraf 1.20.3 ubuntu 20.04

### Docker

_No response_

### Steps to reproduce

1. send metric to input "test123,instance=test1,metric_type=counter value=1i 1636562575000000000"

### Expected behavior

Metric with field my_value
"test123,instance=test1,metric_type=counter value=1i,my_value=1i 1636562575000000000"

### Actual behavior

The plugi

[2021-11-10 19:39] sspaink commented on #10079
Usually the best practice is to keep the configuration as simple as possible, so it would be nice to just use the delimiter option you suggested but if that means not allowing to have comments then probably using the regex would be ok. I am curious what the others think about this, but `csv_metadata_regex` seems to be an acceptable proposal I wouldn't know a better way of doing.

[2021-11-10 20:25] ihard commented on #10092
I already asked in the slack, I did not receive an answer why this does not work.

[2021-11-10 21:18] sfitts commented on #10085
New output is

[code]

[2021-11-10 21:26] sjwang90 commented on #10062
@magiconair Thanks for reaching out! Yes this OPC UA plugin is becoming pretty popular with influx users. Here are some things I wanted to run by you.

I'll add the following items to the plugin [readme](https://github.com/influxdata/telegraf/blob/release-1.17/plugins/inputs/opcua/README.md):
- Devices that have been tested
  - List out devices that the gopcua library is consistently tested with (

[2021-11-10 22:26] n-oden commented on #7758
@camaeel @danielnelson I'm curious if you ever found a solution or workaround to this issue; I'm running into exactly this with both 1.18.3 (from alpine) and 1.20.3.

@akrantz01 your basicstats stanza there means that the original counter metric never gets exported to stackdriver, and all of the aggregate sub-metrics are GAUGE not CUMULATIVE.

I've checked the outputs via the influxdb udp output,

[2021-11-10 22:30] camaeel commented on #7758
I found a solution - I dropped Stackdriver and moved to New Relic.

[2021-11-10 23:05] powersj commented on #9744
@philjb, thanks for the background. A few follow-ups:

For the purpose of this feature request, it then sounds like we are explicitly concerned with Telegraf receiving a 413 response from only InfluxDB Cloud. In which case, we could warn the user and attempt to reduce the payload size (i.e., split in half) and try again. Any additional 413 responses, could error out saying we tried to reduce, but

[2021-11-11 08:35] srebhan commented on #10080
@powersj  I'm not sure that people will notice that message if it is not red and blinks. :-) The documentation of the option clearly states that there will not be an output beside stdout. Nevertheless, people open issues of type _"I run telegraf and I don't see any data in my database"_ Often they run with `--test`...
My intention with `--dry-run` was to make the behavior more obvious as I assumed

[2021-11-11 08:42] srebhan commented on #10049
I agree with @samhld. We should be able to extract the information coming from the topic and sort it into measurement names, tags and fields.

[2021-11-11 09:03] magiconair commented on #10062
At Northvolt we run the code in production in all our factories against Siemens S7-1500 PLCs, Beckhoff PLCs and some Kepware gateways. We are in the process of migrating from v0.1.13 to v0.2.x.

[2021-11-11 09:04] magiconair commented on #10062
I'll update the gopcua readme as well. I think this is a good idea.

[2021-11-11 09:22] yoonghm commented on #10070
Hi,

1. I used docker
2. I meant that if I turn on logging, all the scripts assume `/var/log/telegraf.log` but it is not the one specified inside `/etc/telegraf/telegraf.conf`.

[2021-11-11 09:43] magiconair commented on #10062
https://github.com/gopcua/opcua#tested-platforms

[2021-11-11 13:53] zwl-sun opened #10094 "111"
111

[2021-11-11 13:53] #10094 closed

[2021-11-11 14:23] zwl-sun opened #10095 "OPC-UA input plugin will report errors once an hour and completely cut off at a random time."
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.19.3    Centos7.2

### Docker

Nothing!

### Steps to reproduce

1.There are 150 metrics in the configuration file.
2.Data acquisition interval is 0.5s.
3.During connection we see an error like in subject and below logs. And only restart telegraf will restore.
...

### Expected behavior

### **No error will be reported every hour or I

[2021-11-11 14:59] powersj commented on #10080
Having a log message embedded in output as a warning is very different than a [far away docs page](https://github.com/influxdata/telegraf/blob/master/docs/COMMANDS_AND_FLAGS.md) inside a repo that does not actually mention that output is not run :) Also note our ["pretty" docs site](https://docs.influxdata.com/telegraf/) does not even mention this flag. Finally, the `--help` option also does not e

[2021-11-11 15:36] powersj commented on #9868
Closing this as this is now resolved in v1.18.3, v1.19.3, v1.20.3

[2021-11-11 15:36] #9868 closed

[2021-11-11 16:18] the-elven-archer commented on #8921
I'm in the same conundrum.
We're thinking on switching to Prometheus -> InfluxDB, or Prometheus -> Telegraf-prometheus plugin -> InfluxDB, or ditch TICK and go for Prometheus -> AlertManager as alternatives.

[2021-11-11 16:52] #10058 closed

[2021-11-11 17:03] philjb commented on #9744
New docs update for the 250MB limit! https://github.com/influxdata/docs-v2/pull/3392

I am concerned with Telegraf receiving a 413 response from InfluxDB Cloud, as I'm a c2 engineer, but 413 is a general purpose error - I don't see why telegraf shouldn't handle that error generically for all influxdb destinations or for all output plugins - I believe it should. I suggest starting with 413 logic fo

[2021-11-11 18:50] n-oden commented on #7758
Oh boy, this was fun: https://github.com/influxdata/telegraf/pull/10097

As far as I can tell, if telegraf publishing of counter/cumulative metrics to stackdriver ever worked at all, it was entirely accidental and due to extremely generous behavior on google's part.  But most likely it simply never worked.

[2021-11-11 23:09] #10088 closed

[2021-11-12 11:27] MichaelTharwat commented on #10087
@danielnelson  Would you please support here if possible , Thank You :)

[2021-11-12 14:50] TechDawg commented on #9117
Hi Sjwang, please can you share any resources/information you may have surrounding the scale limitations of gNMI plugin?

[2021-11-12 16:52] #10022 closed

[2021-11-12 18:08] R290 commented on #9405
I don't have an actual use case for this at the moment, so this is strictly theoretical. Currently only nodes that have good quality are passed on to fields and make it into a metric. This means we have a field `Quality` which always contains the same information: `OK (0x0)`. Other than a waste of memory this is not much of an issue since it can be dropped by a processor.

Say we remove the checks

[2021-11-12 18:51] sfitts commented on #10085
Tried to work around this by using the node level scrape, but I can't get that working either.  I don't see any errors in the log, but it also isn't scraping from any pods (turning on debug tracing does not emit the "will scrape metrics" message from `registerPod`).  Hard to tell what's wrong beyond that however.

[2021-11-12 18:56] R290 commented on #8826
I'd say 2. Maybe we could make the plugin configurable to allow for one or more other OK status codes? This allows the gopcua library to stick to the official OPC specification. Something like a default of:
[code]
which can be modified to:
[code]
If acceptable I can make a pull request for this.

[2021-11-12 19:24] R290 commented on #9079
I've made some contributions to the `eventhub_consumer` plugin. During testing it never occured to me to try configuring 2 instances of the plugin. Sadly I no longer have access to an eventhub for testing so I cannot investigate.

[2021-11-12 19:25] sjwang90 commented on #9927
@Hipska It would be nice to target this deprecation announcement for the next minor release (1.21 in December) along with all the new deprecation changes.

[2021-11-12 21:18] sjwang90 commented on #10095
@zwl-sun Can you share the OPC UA hardware you're collecting from?

[2021-11-12 21:56] Zanthras commented on #10092
The regex processor only operates on string fields, floats, ints cant be parsed.

An easy work around is to apply the converter processor first.

Given this input data, note the mix of string, integer and float.
test123,instance=test1,metric_type=counter value=1i 1636562575000000000
test456,instance=test1,metric_type=counter value=1 1636562575000000000
test789,instance=test1,metric_type=counter va

[2021-11-14 08:15] pbek commented on #10050
Of course if telegraf is used with docker-compose you either need to set the group statically by executing `stat -c '%g' /var/run/docker.sock` on the command line on the host and using that group id with the `user` property in your `docker-compose.yaml`, like:

[code]

Or you can play around with https://github.com/docker/compose/issues/1532#issuecomment-619548112 to get an env variable with the g

[2021-11-15 01:16] DavidAntliff commented on #9763
@helenosheaa is this fixed in telegraf 1.20.3 / mosquitto 2.0.13? I'm just using default values for `keep_alive` and many of my MQTT clients are being rejected with "(2) identifier rejected" errors. If I roll mosquitto back to 2.0.11 then it's working fine for me. Strange thing is that the connections are rejected even if telegraf is not running - so is this just a mosquitto issue?

[2021-11-15 08:13] batistado opened #10107 "[inputs.sqlserver] Error in plugin: Script SQLServerProperties failed: No instance matching '<instance name>' returned from host '<hostname>'"
Hello everyone! Can you please help me? I am seeing these errors when I use telegraf agent through Go library:

[code]

If this helps, these are the screenshots from my SQL server instance and registry:
![image](https://user-images.githubusercontent.com/33063144/141744668-ddaa11cf-84b2-4594-bbff-ed61c0a013e7.png)
![image](https://user-images.githubusercontent.com/33063144/141744763-b9cf2cbf-08f0-4

[2021-11-15 08:13] batistado commented on #10107
I tried asking this question on slack community but I was asked to raise this in github issue and mention @masree as he knows a lot about SQL Server plugin so please help!!

[2021-11-15 16:26] helenosheaa commented on #9763
You'll need to set keep_alive to something other than 0 which is the default as that was previous working behavior e.g. `keep_alive = 30

IIRR switching keep_alive off was an issue with mosquitto 2.0.12 it may still be an issue in mosquitto 2.0.13.

Let me know if that works.

[2021-11-15 16:36] powersj commented on #10092
Thanks @Zanthras! @ihard were you able to give that a try?

[2021-11-15 18:39] MyaLongmire commented on #9478
deprecate inputs.mysql metric version 1 as it is recommended for user to use metric version 2

[2021-11-15 19:16] mr-manuel opened #10110 "[FR] input.fail2ban - do not send zero values to database"
## Feature Request
Add an option to the `input.fail2ban` plugin that allows to choose if you want to write zero records to the database. As zero records I intend when the values of banned and failed are 0.

### Proposal:
Add an option like `log_zero = false|true` that only send data to InfluxDB (or the selected output) when it's true.

### Current behavior:
All data is written to the database.

##

[2021-11-15 21:35] DavidAntliff commented on #9763
@helenosheaa thanks for your response and sorry for the noise - my issue wasn't directly a telegraf issue, but it's very related to this one I think.

I set the client keep_alive to non-zero in my client (mqtt_cpp) and this did in fact resolve the issue. I can confirm that it is still an issue for mosquitto 2.0.13.

I'm not sure how "switching keep_alive off" relates to setting it to non-zero - do

[2021-11-15 21:43] ihard commented on #10092
Yes, I checked with the translation of the value into a string and back - it worked. It would be great to see this limitation in the documentation if the plugin cannot be fixed to work with numbers directly.

[2021-11-15 22:04] ralight commented on #9763
@DavidAntliff since it was introduced the `max_keepalive` option in mosquitto has had a default value of 65535. This did not apply to the case where a client was passing keepalive=0 (infinite keepalive), even though it should have. This was fixed, but the resulting problem was that `max_keepalive` could not be set to 0 either, which meant using earlier versions of telegraf was not possible.

If yo

[2021-11-15 22:23] DavidAntliff commented on #9763
@ralight thank you - I did get there eventually, it wasn't until I saw the updated comment in the 2.0.13 default mosquitto.conf that I figured out what you've just said.

So, yes, I can confirm that 2.0.13 is now working for me, either with non-zero keepalive for clients, or by setting `max_keepalive 0` in the mosquitto config file.

[2021-11-16 11:25] mbanaszkiewicz-vonage opened #10113 "statsd plugin sanitizes '?'"
### Relevent telegraf.conf

[code]

### System info

telegraf:alpine latest

### Docker

docker-compose available here: https://github.com/spring-projects/spring-boot/issues/28393

### Steps to reproduce

detailed steps to reproduce: https://github.com/spring-projects/spring-boot/issues/28393

### Expected behavior

Telegraf should receive metrics with '?'

### Actual behavior

Sanitization of '?'

[2021-11-16 17:44] #10107 closed

[2021-11-16 19:04] sjwang90 commented on #8826
@R290 Thanks for the suggestion! Our team discussed that it would be best to add discussed an `[inputs.opcua.workarounds]` subtable like we have for modbus that we can add settings that would help users configure workarounds that may differ from the OPC specification. [Here is the Modbus workarounds](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/modbus#workarounds) for referenc

[2021-11-16 19:56] R290 commented on #8826
Before I start, are there any plans to upgrade the TOML version? I'd like to make of hex support which is introduced in [v0.5.0](https://github.com/toml-lang/toml/blob/3b11f6921da7b6f5db37af039aa021fee450c091/CHANGELOG.md#050--2018-07-11) where as influxdb is tracking v0.4.0.  If not, then the opcua plugin itself needs to include the conversion.

[2021-11-16 20:02] powersj commented on #8826
We updated the TOML library last week in https://github.com/influxdata/telegraf/pull/10089 to add hex support

[2021-11-16 20:22] R290 commented on #8826
I had a look at:
https://github.com/influxdata/telegraf/blob/b9e4978b17754faa5900e65f53fac4693da1ec13/config/config.go#L31
Which led to: https://github.com/influxdata/toml#toml-parser-and-encoder-library-for-golang- where v0.4.0 is mentioned. @powersj pull https://github.com/influxdata/telegraf/pull/10089 only seems to consider shim/execd type plugins? I wrote influxdb but I meant telegraf, my bad

[2021-11-16 21:08] dbleul opened #10114 "Telegraf Windows Service - --watch-config is ignored"
I want to start Telegraf as a Windows Service, using --watch-config inotify to monitor the configuration for changes. But the hot reload does not work after configuration change. It seems that --watch-config is ignored in service mode.

Can anyone confirm this? Am I doing something wrong?

[2021-11-16 21:16] sjwang90 commented on #9405
@R290 With that output and no unique identifier as a tag the metrics would be overwritten.

[2021-11-16 22:05] #5338 closed

[2021-11-16 22:05] #9898 closed

[2021-11-16 22:05] #9903 closed

[2021-11-16 23:29] smiffytech opened #10115 "Issue with inputs.mqtt_consumer - Windows Server 2019 Only"
Hi Folks!

We have a very odd issue with inputs.mqtt_consumer, receiving data from The Things Network.

* The problem occurs both when running our own build (we have a bespoke output plugin, everything else is standard,) and downloading the latest version and using outputs.file.
* 2 of 5 of our applications throw errors when receiving data. Comparing the inbound JSON, we can't see any difference i

[2021-11-17 09:02] shuxnhs commented on #8366
i use telegraf v1.20，got the error although set metric_version to 1 or 2
[code]

[2021-11-17 14:27] srebhan commented on #10079
@etycomputer how about allowing the user to specify a "separator" (e.g. `":"`) and then parse key-value pairs removing all non-word characters in the beginning (e.g. all `#`) and trim spaces? This would ease the configuration and covers your use case...

[2021-11-17 15:32] danxmoran opened #10117 "`apt-get install telegraf` fails on raspbian"
See original community report at https://github.com/influxdata/influxdb/issues/22889.

It looks like our repo server doesn't have a `Release` file for the `raspbian` OS.

[2021-11-17 15:41] powersj commented on #10117
Because raspbian is based on Debian, and the fact that the deb packages are literally, all the same, I would encourage users to use `debian` in place of `raspbian`. We had a similar request around Amazon Linux, which is a RHEL-like release.

There are lots of other Red Hat (e.g. AlmaLinux, Rocky Linux, Amazon Linux, Oracle Linux) and Debian derivatives (e.g. Raspbian, PopOS, Tails, Purism, Kali) t

[2021-11-17 15:55] osd42 opened #10118 "[inputs.prometheus] is rewriting GET query options"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.2, debian 10.10

### Docker

_No response_

### Steps to reproduce

1. launch a blackbox_exporter exporter on localhost
2. curl query it on the endpoint you need to scrape prometheus formated data from
`curl "http://127.0.0.1:9115/probe?debug=false&module=ssh_banner&target=sftp.mydomain.com:22"`
* replace "mydomain" with any ssh se

[2021-11-17 16:15] powersj commented on #10118
Hi,

`probe_failed_due_to_regex` is a valid measurement and not an error message. The measurement has the value of 0 in the screenshot and in your results from Telegraf. In fact, all your results are returning gauges with the value from the above screenshots.

The reason the URL has the `=` escaped, is because otherwise the Influx Line Protocol an `=` is used between keys and values. It needs to b

[2021-11-17 16:25] powersj commented on #10110
For fine tuning your metrics, you can use Starlark to drop metrics with a specific value:

[code]

Take a look at [this blog post](https://www.influxdata.com/blog/how-use-starlark-telegraf/).

[2021-11-17 16:28] osd42 commented on #10118
Hi, thank you for the answer ! My bad, now I understand why the url changed ! Everything is good !

Thanks a lot for your work !

[2021-11-17 16:28] #10118 closed

[2021-11-17 16:33] powersj commented on #10056
Hi,

My understanding of `-n/--non-interactive` is it avoids creating a prompt and if one is necessary it errors out. There are about a dozen input plugins that use this same option so I would like to ensure any change is actually necessary.

You said that the last-run timestamp for `sudo` is old. 1) How did you determine this? 2) How did you know this is the issue?

Can you also provide the actua

[2021-11-17 18:36] etycomputer commented on #10079
Hey @srebhan,
I have actually finished working on this feature. Please have a look at #10083.
The Regex approach was very straightforward, it gives greater flexibility and doubles as `Skip` or `Ignore`.
I have fully tested the change with different scenarios and have got lots of unit tests and examples.

Using the "telegraf --config config.conf --test" people can make sure that they have correctly

[2021-11-17 21:37] etycomputer commented on #10079
Hi @sspaink @srebhan @reimda @powersj and @Hipska

The #10083 feature covers the following use-cases:

[code]

[code]

[code]

[2021-11-18 01:14] DavidAntliff opened #10121 "Syslog plugin disconnects TCP connection when idle, contrary to documentation"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.3, Arch Linux 20211118

### Docker

_No response_

### Steps to reproduce

1. set up syslog-ng OSE with config below
2. set up telegraf with an input.syslog as above
3. send single messages to syslog-ng with:

[code]

...

syslog-ng config:

[code]

### Expected behavior

I expect syslog-ng to maintain a TCP connection to telegraf

[2021-11-18 01:32] DavidAntliff commented on #10121
I suggest that the comment in the documentation be reworded to say:

[code]

If the intention is to time out the parsing when an incomplete message is received (e.g. half-closed connection, malformed message, unexpected disconnection) then the original wording is OK, but there's a bug in the implementation. On the other hand, if the intention is to disconnect the TCP connection if no message is re

[2021-11-18 01:52] SeanPMiller commented on #10056
Thanks, Joshua. The error that we observed follows:

[code]

The most convincing piece of evidence is that we resolved this issue by simply adding a cronjob on every server that executes `sudo id` as user `telegraf` every four minutes, while we execute the input plugin via the Telegraf daemon every five minutes. The cronjob updates the sudo timestamp so that the `-n` check passes during the plugin

[2021-11-18 07:46] maxmoehl opened #10122 "[cloudwatch-input] dataQuery generation always returns the same dimension for a metric"
### Relevent telegraf.conf

[code]

### System info

macOS 12.0.1; go version go1.17.2 darwin/amd64; telegraf 1.20.4 (and master)

### Docker

_No response_

### Steps to reproduce

1. Using the above config with multiple NAT Gateways deployed on AWS, run telegraf
2. `telegraf --config telegraf.conf --input-filter cloudwatch`

### Expected behavior

I can see the metric `BytesInFromDestination` fo

[2021-11-18 10:44] arindamchoudhury commented on #4519
docker container_version is empty in telegraf v1.20.3

[2021-11-18 12:00] srebhan commented on #10079
@etycomputer yeah I saw the PR, but I wanted to discuss this with you here. You probably will agree that the regexp in your example is not necessarily easy to understand... ;-)
I propose to have an option to configure the separator or even a set of separators like
[code]
The parser will then look for key-value pairs in the "skipped rows" at the beginning of the file and will extract all found pair

[2021-11-18 14:18] Hipska commented on #9470
Example usage:
https://github.com/sleepinggenius2/gosmi/blob/841095eac905c34222076a761d6d534d1fc8fef6/node.go#L37-L39

[2021-11-18 15:04] powersj commented on #10056
Does your initial run of sudo require a password due to the way you have PAM setup?

[2021-11-18 15:26] powersj commented on #8730
The above and several other scenarios are essential to figuring out before landing this feature. For example, what happens if the file is un-reachable, there are errors in the configuration itself, a way for the user to get feedback on whether an update occurred, or some mechanism of security.

The next steps are to design and flesh out the above and other cases. Then we can work to add the CLI su

[2021-11-18 15:51] pmalek-sumo opened #10125 "Panic in http_listener_v2 when sending metrics via e.g. prometheus remote write and killing telegraf with os signal"
### Relevent telegraf.conf

[code]

### System info

Telegraf master HEAD : 146fff31832e74e0db31ed6405400a3b18e9ccdd, MacOS

### Docker

_No response_

### Steps to reproduce

1. Run telegraf with attached config
2. Run the following Go program which sends lots of metrics via Prometheus remote write
[code]

3. Kill telegraf

### Expected behavior

No panic

### Actual behavior

[code]

### Additio

[2021-11-18 18:42] sspaink commented on #10125
Thank you for reporting this issue! It looks like this is an issue with the http_listener_v2 plugin, it looks like it just logs the failure to serve the http while it should probably stop Telegraf: https://github.com/influxdata/telegraf/blob/master/plugins/inputs/http_listener_v2/http_listener_v2.go#L186

[2021-11-18 19:45] torneset opened #10128 "inputs.Fibaro: support HC3 devices - plugin error line 74 defining "dead" as sting instead of bool property"
### Relevent telegraf.conf

[code]

### System info

Telegraf agent on Windows running fibaro plugin

### Docker

_No response_

### Steps to reproduce

1.  Run telegraf agent with fibaro plugin config against Fibaro Home Center 3
Errormessage;
2021-11-18T18:11:20Z E! [inputs.fibaro] Error in plugin: json: cannot unmarshal bool into Go struct field .properties.dead of type string
2.
3.
...

### Ex

[2021-11-18 20:58] etycomputer commented on #10079
@srebhan Thanks for your feedback.

Yes, I do agree that a person with no or limited IT background will have difficulty with the regex approach.
In my defence, I would argue that non-IT savvy people would not be using this tool.
Nevertheless, the customer is always right. :)

I will try to make the requested changes ASAP.

Kind regards,
Ehsan

[2021-11-18 21:41] pmalek-sumo commented on #10125
@sspaink Actually I just realized that we can utilize `Start()` in the plugin's code and then check when accepting the metric/request. Please verify if https://github.com/influxdata/telegraf/pull/10132 works for you.

[2021-11-18 22:12] mr-manuel commented on #10110
Thank you very much. So as I understand is this the correct setup in my case?

Reading the docs didn't helped me to fully understand, if I have to use `namepass` to pass the input?

[code]

[2021-11-18 22:36] sspaink commented on #10128
Hello, thanks for using Telegraf! So I am not familiar with Fibaro, but we looked up the API documentation and found for HC2 that the dead variable in the devices JSON should be a string [link to HC2 REST API Doc](https://manuals.fibaro.com/knowledge-base-browse/rest-api/) and then the only documentation for the REST API for HC3 we could find is this [link to HC3](https://manuals.fibaro.com/conten

[2021-11-18 22:38] #8869 closed

[2021-11-19 06:26] JoseMarianoAlvarez opened #10133 "Problem & FIX to SQL Server Input Plugin round large values in Performance Counters"
# Problem: SQL Server Input Plugin round large values in Performance Counters

When the performance counter has very large values, the query that  obtains the data from the SQL Server database performs a rounding by means of a statement  CAST (……… float (10)) that prevents the precise calculation of derived values.

## Solution
The solution is change all CAST statements in this queries to increase

[2021-11-19 06:30] SIKIM92 opened #10134 "The data was sent to Grafana because it was delayed by 1 minute."
### Relevent telegraf.conf

[code]

### System info

telegraf 1.20

### Docker

_No response_

### Steps to reproduce

1.
2.
3.
...

### Expected behavior

idt

### Actual behavior

no

### Additional info

_No response_

[2021-11-19 07:11] SeanPMiller commented on #10056
No, it does not. We are effectively passwordless via this setup, which uses https://www.athenz.io/, but this requires that the PAM shared object actually get called.

I could invite some folks who know more about the details into this discussion if you like.

[2021-11-19 07:56] torneset commented on #10128
Thank you for your feedback

Maybe it actually is a difference in the two platforms and there should be one HC2 and one HC3 telegraf plugin. I have attached the swagger doc for devices-api downloaded from my HC3.

[HC3-swaggerAPI-devices-json.txt](https://github.com/influxdata/telegraf/files/7568635/HC3-swaggerAPI-devices-json.txt)
.

[2021-11-19 13:05] 1tft commented on #9521
I want to clarify again: During Telegraf RPM update ONLY following directory permissions are changed "/etc/telegraf/telegraf.d"
No files inside are changed, and also lobal directory /etc/telegraf is untouched.
So I still think its a bug and could be fixed without changing complete packaging infrastructure. If it would a general FPM issue, there should also /etc/telegraf be affected but only /etc/t

[2021-11-19 20:12] powersj commented on #10110
Hi!

This is what I was using:

[code]

To test this, I was flipping the `!=` to `==` to see if it suddenly showed all the zero-zero records, which is all I had.

Feel free to pop over to our [Community Slack](https://influxdata.com/slack) or [Community Page](https://community.influxdata.com/tag/telegraf), we have a lot of talented community members there who could help answer your question more q

[2021-11-19 20:12] #10110 closed

[2021-11-19 20:28] powersj commented on #10133
Hi,

In the `sqlserver` plugin it looks like there are at least four queries which cast `float(10)`:

* `./sqlserver/azuresqldbqueries.go`
* `./sqlserver/azuresqlmanagedqueries.go`
* `./sqlserver/sqlqueriesV2.go`
* `./sqlserver/sqlserverqueries.go`

Anytime we change a datatype, we need to ensure we do not break backwards compatibility further down the chain.

Can you please provide examples how f

[2021-11-19 21:57] JoseMarianoAlvarez commented on #10133
You can see the difference in this image. I filter the query to see Batch Requests/sec only. This counter is cumulative and then I need to perform the difference of two consecutive measures. As the Sql Server is running for several month the values are noticeably big and the difference in the rounded query doesn't represent the real value.

![image](https://user-images.githubusercontent.com/191414

[2021-11-21 11:46] hybuild-project opened #10140 "Sudden close of Telegraf caused by OPC UA input plugin"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.3, Windows 10

### Docker

_No response_

### Steps to reproduce

1. Simly running Telegraf with that plugin
2.
3.
...

### Expected behavior

No errors

### Actual behavior

After some random time (hours, one day at most) it crashes:

goroutine 68418 [running]:
github.com/gopcua/opcua/uasc.(*SecureChannel).dispatcher(0xc0007b8000)

[2021-11-22 02:25] xinmos opened #10141 "telemetry GRPC connection cannot be established"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.19

### Docker

_No response_

### Steps to reproduce

XR：7.3.1 telemetry 配置
[code]

### Expected behavior

When I used GRPC Dial-out to collect data of XR9K device, I could not establish an effective link all the time. XR devices are 64-bit
According to the document, it should meet the telemetry configuration requirements, but I coul

[2021-11-22 02:28] #9840 closed

[2021-11-22 02:29] etycomputer commented on #10079
Hi @srebhan I have made the following changes:
I have removed the `csv_metadata_regex` and added `cvs_metadata_separators`.
I have also added another optional parameter for trim sets `cvs_metadata_trim_set`.

[2021-11-22 12:00] iserranoe opened #10142 "processors.rename: fields are stored as string instead of float"
I'm using the `inputs.http` plugin to store data from an API into `Influxdb2.0`. The fields are strings, therefore I have to convert them to float with `processors.converter`. Moreover, I want to rename these fields using `processors.rename`. However, once I rename the fields they are no longer floats, but string. I try to rename them first and the convert them, with the same results.

This is the

[2021-11-22 17:33] syunusic commented on #8733
Is there any update on this? I'd love to have an option to include only services that have "startup_mode" equals to 0,1,2,3 (not 4), or exclude if "startup_mode" = 4.

[2021-11-22 17:52] powersj commented on #10142
Can you please provide the output before and after applying the processors, please?

[2021-11-22 18:37] sspaink commented on #8733
@syunusic there is a open pull request to implement this feature made by @let-thomas, to help get it merged I moved it and you can find it here: #10144. Filtering services by `startup_modes` seems out of scope of this change and should probably be a separate issue and pull request because it will need more design discussion.

[2021-11-22 20:58] pebbe commented on #9703
I had the same problem with Telegraf version 1.20.4

I tried with Mosquitto and HiveMQ as broker.
I tried with InfluxDB Cloud, and with InfluxDB running on Debian.

I could see in the Telegraf logs (running in debug mode) that messages matching new topics were not sent.

[2021-11-22 21:14] codeByKochs commented on #10117
@danxmoran
For me it worked downloading and installing https://repos.influxdata.com/debian/pool/stable/t/telegraf/telegraf_1.20.4-1_armhf.deb using a RPi 4 with raspbian lite.

@powersj
Shouldn't the documentation be updated then? As someone new to this it took me a good amount of time to figure this out.

[2021-11-22 21:26] powersj commented on #10117
@codeByKochs yeah we could tell folks to use the generic `debian`. Which specific docs were you looking at? I only ask since this is in at least 3 different places and I want to be sure I hit them all.

[2021-11-22 22:41] codeByKochs commented on #10117
I was trying to follow [this guide](https://docs.influxdata.com/telegraf/v1.20/introduction/installation/#ubuntu--debian).

[2021-11-23 02:09] ccb1900 opened #10146 "json time key not match and _field is more than json_string_fields"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.0, Ubuntu 20.04

### Docker

_No response_

### Steps to reproduce

[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Additional info

I set json time key ,but it seems no effect.

in influxdb,I got _time every 10s.in fact ,i should every 5s

[2021-11-23 07:27] nsteinmetz commented on #5055
Just got the issue when upgrading from telegraf 1.20.2 to 1.20.4

[code]

[2021-11-23 08:17] iserranoe commented on #10142
I don't know if this is what you mean with the output, the output configuration is:
[code]
I didn't change the configuration after applying the processors.

[2021-11-23 10:51] Hipska commented on #10080
Whoops, the CLI option docs in point 2 is even not correct. The processors are run for sure, not sure if aggregators are run.

[2021-11-23 12:11] Pranav-Balakumar opened #10148 "Scaled pods not detected by telegraf in Kubernetes cluster"
## Relevant telegraf.conf:

[code]

## System info:

Telegraf `1.20.4`
Telegraf executable run as a process in a Kubernetes pod in the cluster

## Steps to reproduce:

- Deploy a pod that exposes prometheus metrics at <pod_ip>:<port>/<metrics path> with the annotations in the comment for monitor_kubernetes_pods above.
- Run telegraf with the prometheus input plugin and the settings monitor_kuberne

[2021-11-23 13:33] KubaTrojan opened #10149 "SMART plugin doesn't collect vendor-specific data with nvme-cli v1.14+"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.4, Ubuntu 18.04, nvme-cli 1.14

### Docker

_No response_

### Steps to reproduce

1. Run Telegraf with SMART plugin enabled.
2. Observe metrics.

### Expected behavior

Telegraf successfully collects SMART metrics from nvme devices.

### Actual behavior

When running Telegraf with a config with SMART plugin's Intel extension enabl

[2021-11-23 15:40] R290 commented on #10140
I'm facing a similar issue after upgrading Telegraf to version 1.20.4:

[code]

There is an extra line at the beginning about sending on a closed channel. In my case this is caused by the PLC closing the TCP connection. Let me see if I can find out what changed between versions. Could be Telegraf itself or the [gopcua](https://github.com/gopcua/opcua) library.

[2021-11-23 16:32] #9687 closed

[2021-11-23 16:52] #10092 closed

[2021-11-23 22:05] #10113 closed

[2021-11-23 22:07] #8733 closed

[2021-11-24 00:00] blockloop commented on #9365
Prometheus has now [merged](https://github.com/prometheus/prometheus/pull/8424/files) Remote Write into upstream (albeit as a feature flag) and it also expects metrics to be in order. Given that Thanos, Cortex, and Prometheus expect this ordering, can we now just do a `sort` on the metrics before they are serialized [here](https://github.com/influxdata/telegraf/blob/6518745153d3b141811a096b1ff6211

[2021-11-24 03:28] covered opened #10160 "parser json_v2 multiple_timestamps bug"
### Relevent telegraf.conf

[code]

### System info

telegraf 1.20.4  / telegraf 1.20.0

### Docker

_No response_

### Steps to reproduce

1.  input json：
[code]

### Expected behavior

file name="fire" 0
file name="flood" 1

### Actual behavior

file name="fire", name1="fire1" 1577811661000000000
file name="flood" 1

### Additional info

_No response_

[2021-11-24 08:07] Hipska commented on #3813
With the various `execd` plugins available, only last part required to fulfil this request is a protobuf parser/serializer.

[2021-11-24 08:36] covered commented on #10160
modify:
telegraf v1.20.4/plugins/parsers/json_v2/parser.go:
line 440 : `results = cartesianProduct(results, r)`
modify to:
`results = cartesianProduct(r, results)`

[2021-11-24 11:41] artavazdg opened #10162 "By default telegraf.conf for Windows binaries contain Linux input plugin configurations"
### Relevent telegraf.conf

[code]

### System info

1.20.4, Windows Server

### Docker

_No response_

### Steps to reproduce

1. download telegraf binaries from "https://dl.influxdata.com/telegraf/releases/telegraf-1.20.4_windows_amd64.zip" URL, which is mentioned on telegraf official documentation page, to Windows endpoint
2. extract files in the necessary location
3. open telegraf.conf file

#

[2021-11-24 15:03] Trovalo commented on #8730
What about adding some more metrics to the [input.internal](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/internal)?
This will allow users to monitor and set up whatever alert they want.

Not sure about what can be provided since that might depend on the implementation but something like
"LastConfigUpdate" → a date that will be saved as a string in influxDB (since it has no "da

[2021-11-24 15:19] robbyq92 opened #10163 "Disk quote space detect"
## Feature Request

Add quote to detect in instance.

### Proposal:
Hi, i see the inputs disk and diskio but i dont see to have the options for detect quote configurations in a instance.  I try to configure one SMB in perf monitor but dont work for this i come to said, if it possible add options in inputs disk or same for detect quotes on instance.
### Current behavior:

### Desired behavior:

###

[2021-11-24 15:23] WireFr33 commented on #802
With reference to some of the concerns above:
backpressure - Does TCP not address this already? Do we need to duplicate TCP flow control?
slow consumers - Same as above. TCP flow control.
out of order - Can this be addressed with timestamps in the data?

Can a persistent output buffer with a user configurable fixed size be implemented together with the following?
- As data is sent and acknowledged

[2021-11-24 15:30] powersj commented on #10163
Hi,

Could you provide more details as to what this means? It would be nice to see 1) a more detailed use case and 2) any error messages that you are getting when trying Telegraf today.

Thanks!

[2021-11-24 15:34] trennepohl opened #10164 "processors.unpivot: Reuse tags and field names"
## Feature Request
Hi :wave:
If makes sense for the project I'd like to implement this improvement.
I've bumped into a scenario where I need to unpivot a metric but still keep its original field name and tags.

### Proposal:
When `tag_key` and `value_key ` are not set, the processor will keep tags as they are and create a new metric per field. i.e
[code]
### Current behavior:
for each field the pr

[2021-11-24 16:31] connormckelvey commented on #8776
I ran into this issue this morning, for me, the problem was this line here:
https://github.com/influxdata/telegraf/blob/6ce4729813db6e22319f147ca77701884721cd95/plugins/inputs/proxmox/proxmox.go#L57

Simply setting `node_name` to my proxmox nodes name (in my case `pve`) to the `inputs.proxmox` config. Without this all API calls with being made assuming the telegraf hostname is the name of the prox

[2021-11-24 16:45] piotrp commented on #9078
@MyaLongmire how about dropping `Tranfer-Encoding` header from requests and using plain POST with `Content-Length` header?

[2021-11-24 16:52] #10115 closed

[2021-11-24 16:53] #10114 closed

[2021-11-24 18:35] sjwang90 opened #10170 "CloudEvents output data format support"
## Feature Request

### Proposal:
Support for Cloud Events JSON output format or a more flexible JSON serializer.

CloudEvents:
https://cloud.google.com/eventarc/docs/cloudevents
https://cloudevents.io/

### Current behavior:
Existing [JSON serializer](https://github.com/influxdata/telegraf/tree/master/plugins/serializers/json) that outputs data in this format:
[code]

### Desired behavior:

[code

[2021-11-24 19:03] #9744 closed

[2021-11-24 19:28] #10035 closed

[2021-11-24 20:17] powersj commented on #10128
If there is now a difference between the two products I would suggest we create a new version of the plugin for those devices. While the proposed change might fix HC3 inputs unless HC2 suddenly changed as well you will inadvertently break all HC2 devices using telegraf.

[2021-11-24 21:04] #8258 closed

[2021-11-24 22:55] Hipska commented on #10142
The metric output when you run telegraf with `—test`

[2021-11-24 23:02] Hipska commented on #10070
Which scripts are you referring to?

[2021-11-25 06:05] loneWolf666 opened #10176 "How to filter json messages from telegraf parser mqtt ？？？"
{
         "updated" : 1634607913.044073,
         "x":566753.985858001,
         "y":566753.9858582001,
         "odometer":[ 9.9,9.1,9.5],
         "angle":[0.35431448844127544, 0.09063859006636221]

}

How to filter out odometer and storage field “angle” to influxdb

[2021-11-25 07:08] robbyq92 commented on #10163
Hello, it does not give me any error.

I have put the windows input (perf_performance) I add the url below the input.
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/win_perf_counters

The thing is, I have a windows server 2016 server that has disk quotas configured and it does not detect them. I only get the instances in influxdb, instance D:, E: but no configured quota detected

[2021-11-25 08:08] rabenhorst commented on #9646
WDYT about adding a `client_errors_ignore_list` option that takes an array of 4xx status codes so you can flexible configure which error codes should be ignored in the output (i.e. return no error).

[2021-11-25 09:45] theiny opened #10177 "bigquery unknown plugin"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20, Docker 20.10.10

### Docker

_No response_

### Steps to reproduce

1. Run telegraf with bigquery output plugin defined in telegraf.conf
2.
3.
...

### Expected behavior

Telegraf should recognise the BigQuery plugin

### Actual behavior

[telegraf] Error running agent: Error loading config file /etc/telegraf/telegraf.conf: error

[2021-11-25 13:05] mzbroch commented on #9646
It sounds reasonable, does this mean we're making a project decision about this issue?

[2021-11-25 13:52] torneset commented on #10128
@powersj I agree with that, and the existing telegraf plugin for HC2 should be marked with HC2. How do we proceed with this?

[2021-11-25 15:31] TotallyInformation opened #10180 "Telegraf 1.20.3 to 1.21.2 failing to startup - mqtt.output fails"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.3 and 1.20.4, Debian GNU/Linux 10 (buster) 4.19.0-18-amd64, mosquitto version 2.0.12

### Docker

_No response_

### Steps to reproduce

systemd attempts to start the Telegraf service

### Expected behavior

Telegraf should start up.
Telegraf used to start up before recent updates.

### Actual behavior

Telegraf fails to start with

[2021-11-25 15:34] TotallyInformation commented on #10180
Also noting that commenting out the `[[outputs.mqtt]]` section allowed Telegraf to start up again.

[2021-11-25 17:31] srebhan commented on #9756
Any updates here @martinscheffler? Is your problem solved?

[2021-11-25 17:36] srebhan commented on #5014
@sanchitgupta3112 is this still a thing? Do you care to submit a PR?

[2021-11-25 17:37] srebhan commented on #3813
Related to #9492.

[2021-11-26 02:37] est opened #10183 "Make "Merge"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

### Current behavior:

### Desired behavior:

### Use case:

[2021-11-26 02:40] lambdaq opened #10184 "Make "Merge" plugin work with aggregator results"
## Feature Request

### Proposal:

The Merge plugin only works with raw input data, every 1 minute, it doesn't play nicely with aggregator outputs.

### Current behavior:

[code]

Output:

[code]

You see the lines are with the same measurement, tags and timestamp but didn't merge.

From the debug log it looks like the merge works at different time window than `quantile` or `basicstats`.

### Desi

[2021-11-26 09:58] iserranoe commented on #10142
Ok, this is what I get:

Option 1: `Device1 Conductivity="131.78",Frequency="131027.0",Temperature="14.94",pH="10.84" 1637920557000000000`
Option 2: `Device1 Conductivity="131.78",Frequency="131027.0",Temperature="14.94",pH="10.84" 1637920557000000000`

[2021-11-26 10:26] iserranoe commented on #10142
Playing with different combinations of configuration, I finally found the working one, a mixed of option 1 and 2 together...:
[code]

[2021-11-26 10:32] MSommer95 opened #10185 "Timeout parameter for inputs.graylog"
## Feature Request

### Proposal:
Add configurable timeout value to graylog input plugin for the http request.

### Current behavior:
There is currently no parameter the us to configure iirc.

### Desired behavior:
Having a parameter like: ``timeout = 10s`` for the Graylog input plugin.

### Use case:
We lose a bit of data every now and then when the request runs into a timeout, which might be avo

[2021-11-26 13:55] nvinzens commented on #9646
Added a PR for that in #10186, happy to change the naming if peeps don't agree with `non_retryable_statuscodes`.

[2021-11-26 16:52] #10134 closed

[2021-11-26 17:06] Victor-D opened #10190 "Retrieve bounce queue with the postfix input plugin"
## Feature Request

Retrieve bounce queue with the postfix input plugin and sum the total mail queued.

### Proposal:

- Retrieve bounce queue with the postfix input plugin
- Add a fake queue named "total"

### Current behavior:

Currently not all postfix queues are retrieved :
queue=active
queue=hold
queue=incoming
queue=maildrop
queue=deferred

### Desired behavior:
queue=active
queue=hold
queue

[2021-11-28 12:04] Qdynasty opened #10194 "telegraf config parser mqtt json "json_v2""
### Relevent telegraf.conf

[code]

### System info

telegraf  1.20.4

### Docker

[code]

### Steps to reproduce

1.  config rename invalid
2.  It is found that the data is not parsed according to the configuration
3.  A JSON data nested array field is fully arranged and combined, but only one data can be found

### Expected behavior

1. filter odometer
2. ”speed“ Each element rename resolution i

[2021-11-29 10:40] Jayclifford345 commented on #10194
I believe this should be considered a feature request, rather than a bug. Essentially the JSON_V2 parser is iterating through each item of the array and converting it to a string (rather than the full array as I also expected in my suggestion). I agree with @loneWolf666 there should be an option to retain the structure of an array if required. i.e. [1,2,3,4,5,6] yields more context than storing ju

[2021-11-29 11:28] Hipska commented on #10142
Yeah, the problem is the ordering of the processors. As stated in the docs, that order is not fixed unless you specify it with the `order` option.

[2021-11-29 16:42] crflanigan commented on #7913
Current code can be found here:
https://github.com/homedepot/telegraf

[2021-11-29 16:52] #10141 closed

[2021-11-29 21:59] sjwang90 commented on #8607
Adding information about configurations: https://github.com/influxdata/telegraf/issues/8730#issuecomment-977961493

`LastConfigUpdate`: date that will be saved as a string in influxDB (since it has no "date" datatype), not sure how handy is to work with a string, to build alert rules from Grafana/Kapacitor
`IsUpdated`: boolean that shows if the config endpoint was reachable or not
`Message`: text

[2021-11-30 08:34] srebhan commented on #9430
Hey @temp5mr, does the problem still persist with current master?

[2021-11-30 08:41] srebhan commented on #9022
@orbweaver I think this is a more fundamental issue not related to modbus. The option `name_prefix` is a general telegraf option not specific to modbus. I guess it is triggered by subtables such as `holding_registers`, `input_registers`, etc.

[2021-11-30 09:33] srebhan commented on #8633
@yonas it should be `ABCDEFGH` actually, but with the latest master you can also set `ABCD` (and friends) for all register-length IIRC. Does that help?

[2021-11-30 09:36] srebhan commented on #8905
As discussed on slack, for some devices you need to specify _all_ coil registers starting from address zero as those devices do not allow reading from an offset.
We hope to come up with a workaround, taking away that tedious workaround-work from the user. PRs beating me on this are appreciated!

[2021-11-30 10:53] srebhan commented on #6080
@BoobooWei can this issue be closed in favor of using the [SQL input plugin](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/sql)?

[2021-11-30 10:56] temp5mr commented on #9430
Hi. I could not solve the problem, so the device was changed and we use other scheme for logging.

[2021-11-30 11:09] srebhan commented on #9430
So it seems we don't have any way of testing this anymore? Are you OK with closing this issue?

[2021-11-30 11:33] temp5mr commented on #9430
Yes, close please. (But I hope try check this device with the new version later.)

[2021-11-30 11:43] srebhan commented on #9430
Perfect. Feel free to reopen this issue in case the problem persists.

[2021-11-30 11:43] #9430 closed

[2021-11-30 12:09] n2N8Z commented on #10122
This is the cause of #10027, hence a duplicate.
Fixed by #10112 or #10123.

[2021-11-30 17:04] sjwang90 commented on #9492
@jacobmarble Would you or someone on your team be able to do a review on this PR and test it with IOx if possible?

[2021-11-30 17:31] sjwang90 commented on #8327
Closing this feature request as we do not want to turn the Telegraf agent into a task engine when it's not meant to be one.

Conditional and logic actions on metrics themselves can be done currently with Starlark. The Execd output can also be used to write a script. One of our Telegraf community maintainer uses the HTTP output plugin to do something similar to control metrics. An output is recomme

[2021-11-30 17:31] #8327 closed

[2021-11-30 18:25] jesusmogollon opened #10197 "Kinesis input consumer plugin not working after update"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.4 Ubuntu 20.04.3 LTS

### Docker

_No response_

### Steps to reproduce

Upgraded to the latest version and kinesis input plugin doesn't collect data anymore

### Expected behavior

Collect data as before or display an error to fix

### Actual behavior

Not collecting any data or displaying errors

### Additional info

I can see th

[2021-11-30 22:47] #5720 closed

[2021-12-01 03:30] ahothan commented on #10085
This is likely caused by permission issue of your telegraf pod. The error message is not very helpful.
Check if you have the proper rbac for your telegraf pod.
For this to work, it  requires to create a cluster role and role binding, something like:

apiVersion: v1
kind: ServiceAccount
metadata:
  name: telegraf-sa

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  # "name

[2021-12-01 10:01] Hipska commented on #3784
Just got mentions on this ticket because of the merge. I don't see any reason why top level fields now would be polled via GET BULK instead of normal GET? Could you point me to that change @MyaLongmire ?

[2021-12-01 10:02] Hipska commented on #6450
@MyaLongmire why would change the way you translate OID's help with this issue?

[2021-12-01 15:54] #10183 closed

[2021-12-01 15:56] powersj commented on #10184
Hi,

To ensure I understand your request, you were expecting the output to only show these two lines?

[code]

Thanks!

[2021-12-01 16:04] powersj commented on #10190
Hi,

I installed postfix version 3.4.13 and went and looked in `/var/spool/postfix` and found that there is indeed a "bounce" directory. I do not however see a "total" queue. Is that something special you have set up?

Thanks!

[2021-12-01 16:06] powersj commented on #10185
Hi,

Looks like we do have a configurable timeout in other inputs plugins, so this looks like something that might be helpful.

Thanks!

[2021-12-01 16:07] powersj commented on #10177
Thanks for catching this!

[2021-12-01 16:11] powersj commented on #10164
Hi,

Can you provide an example configuration that you are using to generate these? It would help to think through this proposal a bit.

[code]

As this is written, in Line Protocol, one thing to keep in mind is that the first line is essentially identical to the 2nd and 3rd assuming the timestamps are identical.

[2021-12-01 16:35] Victor-D commented on #10190
Hello

Yes the postfix bounce directory exists. It contains bounce messages such as automatic notification failures which can not be delivered right now.

However "total" is not a postfix spool queue.
But it's imho a nice feature to have to avoid scrapping and summing all queues size. It could be enabled with a config boolean set by default to false. In my case I don't need the queues detail, but

[2021-12-01 16:49] #10027 closed

[2021-12-01 18:50] sfitts commented on #10085
We had assumed it was probably something along those lines, but we have yet to find the incantation which allows it to work.  Currently we have the following definition for the SA, Role, RoleBinding.  Note that this configuration works fine on our K8s 1.18 based clusters.

[code]

On our 1.20 based EKS cluster the example you give above fails to apply with:

[code]

Removing that key from the `sub

[2021-12-01 21:17] ict-one-nl commented on #3078
Bug still seems valid.

[2021-12-02 01:11] ahothan commented on #10085
sorry, the apiGroup line in kind service account in my example above needs to be removed.
Here is a config that was just tested and works with k8s 1.21:
[code]

(ClusterRole/Binding instead of Role/Binding is needed in case of cluster level pods watch)

[2021-12-02 01:18] ahothan commented on #10085
in your config, the rules is empty (null), have you tried adding the same rules as those defined in my config above?
You also use Role/RoleBinding with the namespace "shared", this will likely not allow to watch pods from other namespaces (fine if you only want to watch that namespace)

[2021-12-02 01:20] sfitts commented on #10085
Yes, sorry I was unclear about that -- I replaced our definitions with the ones you originally provided and got the same error.  However, we haven't tried the ones you just provided in your most recent update.  But once we do we'll let you know the result.  Thanks!

[2021-12-02 06:23] hybuild-project commented on #10140
Very nice investigation R290! Let-s hope it will be included in v1.21...! Cheers and thank you so much.

[2021-12-02 09:06] mjf commented on #7968
Hello.

[code]

[code]

The `gather_innodb_metrics = true` seems to be the cause.

**Both** version 1 and version 2 metrics are affected.

The same error for both `mariadb_dialect = true` and `mariadb_dialect = false`.

[code]

@ssoroka Could this be given a higher priority? Are there any chances any "hotfix" is released soon, please?

-----

The field `STATUS` in table `information_schema.innodb_

[2021-12-02 10:25] isodude opened #10204 "Add config management to telegraf"
## Feature Request

A tool or config option such that you can view configuration and change them, very much like sysctl.

### Proposal:

Add params to view parsed config
Add params to change config and write to disk
Add params to verify config

### Current behavior:

Telegraf can only generate example config

### Desired behavior:

Telegraf can fully manage config

### Use case:

Ease of use durin

[2021-12-02 16:16] samhld opened #10207 "[MQTT topic parsing] Line Protocol elements should each be optional"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.0 rc0

### Docker

_No response_

### Steps to reproduce

See config above

Consider this case:
topic: `sensors/0011`
message: `45.0`

I want Line Protocol like: `sensors,sensor_id=0011 value=45.0`

Pub to topic: `sensors/0011` with message: `45.0`

I would configure: `measurement = "measurement/_"` and `tags = "_/sensor_id"` and l

[2021-12-02 16:52] #10176 closed

[2021-12-02 17:42] sfitts commented on #10085
Confirmed that the configuration above works.  Looks like K8s actually started applying some security to the watch API (which is good).  Thanks for the help in finding the correct permissions to use.

[2021-12-02 22:06] #7523 closed

[2021-12-02 22:32] #7876 closed

[2021-12-02 23:55] #10207 closed

[2021-12-03 03:32] BoobooWei commented on #6080
Yes, thx.

________________________________
发件人: Sven Rebhan ***@***.***>
发送时间: 2021年11月30日 10:54
收件人: influxdata/telegraf ***@***.***>
抄送: 魏亚萍 ***@***.***>; Mention ***@***.***>
主题: Re: [influxdata/telegraf] Enhance inputs.mysql to gather more lock info (#6080)

@BoobooWei<https://github.com/BoobooWei> can this issue be closed in favor of using the SQL input plugin<https://github.com/influxdata/t

[2021-12-03 09:48] zak-pawel opened #10212 "Adjust telegraf.Logger to be easy to use in whole codebase"
## Feature Request

- Adjust `telegraf.Logger` to be easy to use in whole codebase, not only inside `plugins` (`aggregators`, `inputs`, `outputs`, `parsers` and `processors`).
- Moreover, `telegraf.Logger` should be also injected for `plugins/serializers` (as it is for other type of plugins).
- https://github.com/influxdata/telegraf/blob/master/docs/developers/LOGGING.md will need to be adjusted t

[2021-12-03 09:54] nayrbbizkit opened #10213 "Telegraf Error in Syslog Plugin when receiving a Syslog CEF"
Hello Folks,

I got the following error in Influx's chronograf when the Syslog message being received is in CEF (Common Event Format). Is there any available resolution to for this specific telegraf plugins?

E! [inputs.syslog] Error in plugin: expecting an app-name (from 1 to max 48 US-ASCII characters) or a nil value [col 51
![Error PLugin](https://user-images.githubusercontent.com/88015644/1445

[2021-12-03 10:04] srebhan commented on #10212
I think all that is needed is to move the logging facility out of `models` to avoid circular dependencies. Then you can just do

[code]

[2021-12-03 10:38] SebastianThorn commented on #10185
This seems to be the relevant code:

https://github.com/influxdata/telegraf/blob/master/plugins/inputs/graylog/graylog.go#L130-L137
[code]

[2021-12-03 10:49] MSommer95 commented on #10185
I would love to make the necessary changes myself, but sadly I never worked with Go before. So I lack the confidence to implement this myself (even if its possibly quite simple, since other input plugins have done it before).

[2021-12-03 11:01] SebastianThorn commented on #10185
I can give it a shot this weekend!

[2021-12-03 12:55] Hipska commented on #9607
Hi @meimz, could you respond please? Otherwise we will close this Issue.

[2021-12-03 14:06] Hipska commented on #8011
According to #4413, `source` would be the most logical default value.

[2021-12-03 15:36] ahothan commented on #10085
cool! thanks for verifying.

[2021-12-03 15:38] Catbuttes commented on #6418
I don't believe it has been handled. Attempting to use Telegraf as a replacement for Pushgateway with anything other than extremely simple metric definitions fails with 404 errors due to the way Pushgateway handles labels.

[2021-12-03 17:24] sjwang90 opened #10216 "Add support for RISC-V architecture"
### Overview of the feature
In addition to providing supported builds for arm and x86 architectures, we should add support for the RISC-V architecture. Experimental support for 64-bit RISC-V on Linux was added to Go 1.14 with performance improvements in Go 1.15 & 1.16.
- https://en.wikipedia.org/wiki/RISC-V
- [Go 1.14 Release Notes - go.dev](https://go.dev/doc/go1.14#riscv)

### Business motivatio

[2021-12-03 17:48] #10085 closed

[2021-12-03 20:09] #6080 closed

[2021-12-03 20:44] #9983 closed

[2021-12-03 22:23] sjwang90 commented on #10204
Hi @isodude, thank you for bringing this up and glad to hear this is something you're looking for Expanded configuration management capabilities in Telegraf is something we're looking to add. Would you add your use case and any other notes to this issue #7519 so we can keep all the information in one place. Thank you!

[2021-12-03 22:23] #10204 closed

[2021-12-03 23:56] reimda commented on #10197
Hi @jesusmogollon, what version were you using before the update? Can you run `telegraf --config telegraf.conf --debug` with that version and the config you included? Thanks!

[2021-12-04 10:05] SebastianThorn commented on #10185
I made these changes and it compiles, but I can not test it untill Monday when im back at work.
I have no Graylog-cluster at home.

https://github.com/SebastianThorn/telegraf/commit/2596345b7756df10c401712f6307f6f191271dc4

[2021-12-04 14:27] sajoupa opened #10217 "Duplicate links in contributing.md"
### Relevent telegraf.conf

[code]

### System info

N/A

### Docker

_No response_

### Steps to reproduce

N/A

### Expected behavior

N/A

### Actual behavior

N/A

### Additional info

The links for Resources at the end of the CONTRIBUTING page has duplicate links (Logging, Packaging). We should de-duplicate them.

[2021-12-05 02:10] jesusmogollon commented on #10197
@reimda I installed back 1.18.3 and everything runs smoothly.
Same config file.
I did not want to upgrade to see what exact version is not behaving (beside latest), but I may do that this week.

[2021-12-06 07:53] etycomputer opened #10219 "Adding the option to overwriting default tags and metadata with row data"
## Feature Request

The current CSV parser overwrites the row tag data when a default tag or metadata with the same tag name is defined.
This feature introduces options to choose the overwrite priority.
`rows_overwrite_default_tags` = true/false with the current behavior being the default (false).
`rows_overwrite_metadata_tags` = true/false with the current behavior being the default (false).

###

[2021-12-06 08:16] Hipska commented on #10219
Wouldn't it be better to have just 1 option to enable/disable? `rows_overwrite_tags` and default being `false` (current behaviour)

[2021-12-06 10:08] srebhan commented on #10219
I agree with @Hipska. Maybe `prioritize_default_tags` (default: `true`) or similar to just give the global prio-order...

[2021-12-06 11:32] etycomputer commented on #10219
Hi @srebhan and @Hipska,
Thank you for your feedback. I am happy to only have one option.
Just to make sure we are all on the same page:
The current state of the code parses the rows and finds the tags,
1- If the tag name is the same as the metadata, the value will overwrite the data collected from the CSV row.
2- If the default tag name is the same as the metadata or the row, the default tag valu

[2021-12-06 11:39] trennepohl commented on #10164
Sure.

[code]

The config above produces the following
[code]

And what I'm proposing is when using unpivot without specifying a `tag_key` and `tag_value` would produce metrics without the tag `name` and use the field_name itself for the new metric field name
[code]

[2021-12-06 12:26] jjh74 commented on #10180
Have you tried changing `servers` to `servers = ["localhost:1883"]`
(https://github.com/influxdata/telegraf/tree/master/plugins/outputs/mqtt#required-parameters
"Each URL should just include host and port")
If you have tcp:// in servers  then the url becomes `tcp://tcp://localhost:1883` (https://github.com/influxdata/telegraf/blob/master/plugins/outputs/mqtt/mqtt.go#L241-L244).

I think telegraf d

[2021-12-06 15:37] #8862 closed

[2021-12-06 16:02] #10217 closed

[2021-12-06 17:05] powersj commented on #10160
Thanks for the bug and the potential solution. I have put up #10221 with a fix and test case.

[2021-12-06 17:14] powersj commented on #9749
@mhall119 any interest in reviewing PR #9782?

[2021-12-06 17:15] sjwang90 opened #10222 "Makefile: use goreleaser + rewrite"
## Overview

The makefile is a huge collection of build flags and options that could easily be scripted or replaced by goreleaser. Determine a way forward that makes the user experience much easier.

The current flags attempt to capture:

- arch
- package type
- static binary

[Example Spec](https://docs.google.com/document/d/1Tto_1Kizf-yOvedIqlglphAB94Y5ZgIz1x_Nv3egVKM/edit)

## Next Steps

* Rea

[2021-12-06 18:19] parthi-kk opened #10223 "Reg - Adding mutiple conf files in telegraf windows"
Hello Team,

How to run the two different telegraf.conf files in windows Server from a single telegraf data collector?

[2021-12-06 18:30] powersj opened #10224 "Tests: test website URLs during a release"
Want to ensure that the [website URLs](https://portal.influxdata.com/downloads/) are always working after doing a release.

[2021-12-06 19:10] sjwang90 opened #10226 "Metrics: GitHub Stats"
## Overview

Have a place to track open issues and PRs to make sure we're making progress in maintaining the project.

## Possible Solutions

- Internal influx: Data currently lives in tools using inputs.webhook
  - should we move to `inputs.github` to start collecting PR information
  - Create a Notebook with this information so it can be public
- MeasureOSS: https://github.com/MeasureOSS/Measure

[2021-12-06 19:10] sjwang90 opened #10227 "Metrics: Download Stats"
## Overview

Track download statistics from Docker + dl.influxdata.com

## Use Case

Understand which are the more popular Telegraf builds

## Data sources

- InfluxData downloads page: https://dl.influxdata.com/logs/stats.html
- Docker downloads: https://hub.docker.com/v2/repositories/library/telegraf/
- Homebrew: https://formulae.brew.sh/formula/telegraf
[code]

## Expected Result

Single place

[2021-12-06 19:18] #10160 closed

[2021-12-06 19:36] sjwang90 opened #10228 "Training: OpenTelemetry"
## Overview

Want to understand what OpenTelemetry is as it is often called Telegraf's biggest competitor.

## Questions

- What is OpenTelemetry?
- How do you run OpenTelemetry?
- Where is OpenTelemetry supported (e.g. OSes and Architechtures)?
- Where are their source code repos?
- How do I contribute a new metric gathering tool?
- Where do they compete with Telegraf?
- Are there capabilities ar

[2021-12-06 20:25] sjwang90 opened #10229 "Logging error should occur once"
See: https://github.com/influxdata/telegraf/issues/5964 https://github.com/influxdata/telegraf/pull/6166

### Proposal:
Error messaging should log once - implement across Telegraf globally

### Current behavior:
Every single iteration, if the interval is set to `60s`, Telegraf errors for every interval for services that don't exist.

### Desired behavior:
If the service doesn't exist, I'd expect i

[2021-12-06 20:27] sjwang90 commented on #10229
from #9888

[2021-12-06 21:46] BrentonPoke commented on #6750
There is one project that's managed to convert lm-sensors to go and provide an API for getting the info. Worth looking into. https://github.com/md14454/gosensors

[2021-12-06 23:19] popey commented on #8693
Not sure if it's useful, but apparently AWS now have M1 macs in "preview". https://aws.amazon.com/blogs/aws/use-amazon-ec2-m1-mac-instances-to-build-test-macos-ios-ipados-tvos-and-watchos-apps/

[2021-12-06 23:20] popey commented on #8693
Not sure if it's useful, but apparently AWS now have M1 macs in "preview". https://aws.amazon.com/blogs/aws/use-amazon-ec2-m1-mac-instances-to-build-test-macos-ios-ipados-tvos-and-watchos-apps/

[2021-12-07 09:01] srebhan commented on #10229
@sjwang90 can we extend this to have "once" logging functions to minimize code in the plugins and make adoption easy. E.g. adding/modifying a logger to provide
[code]
and make the logger to track if the message was already issued?

[2021-12-07 10:58] srebhan commented on #10219
@etycomputer I think you misunderstood my proposal (maybe due to the suboptimal option naming)...
For the same tag name we currently have: `row` will be overwritten by `metadata` will be overwritten by `default`. I.e. for all three having the same tag _name_ the `default` value will eventually set the final value. With the new option (maybe `prioritize_low_level_tags = false`) this should **still

[2021-12-07 13:08] RemcoAA opened #10232 "Enum Processor Plugin not working after upgrade from 1.14.4 to 1.18.3"
We are testing a Telegraph update from 1.14.4 to 1.18.3 and we have some issues with the Enum Processor Plugin.

We have the following config:

[code]

After the upgrade to v1.18.3 the fan metrics are always '0' set by the default rule. While the result of the snmpwalk gives:

RADWARE-MIB::rsSystemFanIndex.1 = INTEGER: 1
RADWARE-MIB::rsSystemFanIndex.2 = INTEGER: 2
RADWARE-MIB::rsSystemFanIndex.3

[2021-12-07 14:19] RemcoAA commented on #10232
We have also tested v1.20.4 and also in this version the enum mapping does not work.

[2021-12-07 14:20] #10140 closed

[2021-12-07 14:59] jcourt2006 opened #10233 "Upgrading Telegraf 1.18.3 to 1.20.4"
### Relevent telegraf.conf

[code]

### System info

Red Hat Enterprise Linux Server release 7.9 (Maipo)

### Docker

  telegraf-ddos-trap:
      image: rexxx.xxxx.xxx.xxx/telegraf:1.18.3
      container_name: telegraf-ddos-trap
      hostname: telegraf-ddos-trap
      restart: always
      ulimits:
        memlock:
          soft: -1
          hard: -1
      volumes:
        - /etc/telegraf/snmp-

[2021-12-07 15:07] tgirotto opened #10234 "Timestamp not parsing seconds correctly"
Coming from https://community.influxdata.com/t/timestamp-not-being-recorded-json-v2/22818/6

### Relevent telegraf.conf

[code]

### System info

Linux 4.15.0-163-generic Ubuntu; Telegraf 1.20.4 (git: HEAD 34ad5aa1)

### Docker

_No response_

### Steps to reproduce

1. Send with postman the following
[code]

[2021-12-07 15:14] Jayclifford345 opened #10235 "OPC UA Client to support Data Change Subscription"
### Proposal:
OPC UA Client should be given the ability to subscribe to OPC UA server tags using a Data Change subscription. This would allow Telegraf to collect all metric changes coming from the OPC UA server. This is much like how the MQTT Client works in the fact we accept all incoming messages from a given topic.

https://github.com/gopcua/opcua/blob/main/examples/subscribe/subscribe.go

###

[2021-12-07 15:33] powersj commented on #10234
Can you please provide the actual output that shows it off by 2 seconds?

I am not seeing the same thing:

[code]

Then convert the timestamp to a real date:

[code]

[2021-12-07 15:58] tgirotto commented on #10234
@powersj I am new to influx db, so I am not sure what commands I need to use to get the results in the form you expect them, but here are some screenshots:

![t](https://user-images.githubusercontent.com/5568090/145062952-733a4ab3-32eb-4cc9-b7b8-c38b7a3a742a.png)

![t](https://user-images.githubusercontent.com/5568090/145062362-4f8887c4-164a-4d22-8900-e3992f16c4be.png)

Also, I bumped into a simil

[2021-12-07 16:03] powersj commented on #10234
That top screenshot's timestamp format is not what you showed in your original comment.

In the post on the community forum and the initial post you showed:

[code]

But that 2nd screenshot shows:

[code]

So yes, you will need to set the timestamp format correctly.

[2021-12-07 16:10] #10149 closed

[2021-12-07 16:10] #8684 closed

[2021-12-07 16:10] #9417 closed

[2021-12-07 16:41] tgirotto commented on #10234
@powersj  my bad, I was testing all possibilities. The result is the same, independently of the input.

![t](https://user-images.githubusercontent.com/5568090/145069920-62d4e3bc-c1eb-4f64-99a5-bbdc3d7bec99.png)

[2021-12-07 18:00] R290 commented on #10235
Duplicate of https://github.com/influxdata/telegraf/issues/8083?

[2021-12-07 21:14] powersj commented on #10224
https://github.com/influxdata/telegraf-internal/pull/232

[2021-12-07 21:23] ahothan opened #10238 "prometheus input plugin does not support query parameters in scrape url path of discovered k8s pods"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20

### Docker

_No response_

### Steps to reproduce

A bit tricky as it requires a k8s environment with k8s pod autodiscovery

1. bring up a k8s cluster with at least one k8s pod that is a scrape target and requires query parameters in the scrape url annotation
2. bring up a telegraf k8s pod configured to autodiscover scrape targets

[2021-12-07 22:56] #10080 closed

[2021-12-08 00:55] ahothan commented on #10238
same bug as https://github.com/influxdata/telegraf/issues/8008
fixed by https://github.com/influxdata/telegraf/pull/9662
will be in v1.21 release branch

[2021-12-08 00:55] #10238 closed

[2021-12-08 07:56] RemcoAA opened #10240 "error parsing OID Value after upgrade from 1.14.4 to 1.18.3"
### Relevent telegraf.conf

[code]

### System info

Telegraf1.18.3, Docker 1.13.1

### Docker

_No response_

### Steps to reproduce

After upgrading Telegraf from 1.14.4 to 1.18.3 for one device type the IF-MIB::ifTable metrics are no longer available.

Telegraf is logging the following error:
Error in plugin: agent <device-fqdn>: gathering table _interface: performing bulk walk for field ifSpec

[2021-12-08 08:31] srebhan commented on #10024
Hey @alespour and @1tft, does #10209 fix the issue for you?

[2021-12-08 08:40] 1tft commented on #10024
@srebhan Made some tests with telegraf-1.21.0~4737bebc-0.x86_64.rpm and logs successfully transferred to Graylog with all fields. Telegraf graylog output seems now to produce valid gelf.
Thank you!

[2021-12-08 08:53] srebhan commented on #10024
So I'll close the issue and also the PR. If you see any issues, please open a new issue or reopen this one.

[2021-12-08 08:53] #10024 closed

[2021-12-08 09:09] Hipska commented on #10240
Hi @RemcoAA, that indeed looks like a bad implementation from vendor since `ccitt` equals `0` if translated.

Would you be able to test this also with latest 1.20 version of telegraf?

[2021-12-08 09:15] Hipska commented on #10233
That version of the image does not run as root anymore, so it has no privileges to listen on port < 1024.

It will be fixed when https://github.com/influxdata/influxdata-docker/pull/552 is merged. In the meantime you can setup your plugin to listen to a port >1024 and map it to 162 in the `ports` section of the docker compose file.

[2021-12-08 09:16] RemcoAA commented on #10240
Hi,

yes we also tested with 1.20.4 and had the same issue.

We managed to work around this by excluding OID .1.3.6.1.2.1.2.2.1.22  from the snmp-view for the monitoring users. The snmpwalk now gives:
IF-MIB::ifSpecific = No Such Object available on this agent at this OID

I will follow-up with the vendor.

[2021-12-08 09:20] Hipska commented on #10232
Could you give an example of snmp_defensepro_fans when the processor is not enabled. (for example by running telegraf with `--test`)

[2021-12-08 09:23] Hipska commented on #10180
@TotallyInformation could you confirm fixing the server option solves this issue?

[2021-12-08 09:29] Hipska commented on #9917
Resolved by #10076 and included in telegraf 1.20, pleas reopen/comment if this did not solve the current issue.

[2021-12-08 09:35] Hipska commented on #9470
@MyaLongmire? This should be fixed in order to get telegraf deployed as the trap receiver for a very big client of us.

[2021-12-08 09:39] Hipska commented on #9286
@reimda? Maybe @MyaLongmire can also be of help here?

[2021-12-08 09:47] Jayclifford345 commented on #10235
Hi @R290 you are correct! I will link and close this one out:
https://github.com/influxdata/telegraf/issues/8083

[2021-12-08 09:47] #10235 closed

[2021-12-08 09:49] Jayclifford345 commented on #8083
Adding this community query to the support for this feature: https://community.influxdata.com/t/telegraf-opc-ua-data-incoming-with-1ms-speed-but-influxdb-only-showing-10-sec-intervals/22836/4

[2021-12-08 10:27] Hipska commented on #10240
Great!

Another way would be to don't let telegraf collect this field. That implies removing the `oid` value for the table, but the downside is that you manually need to add each field you want to collect.

[2021-12-08 10:27] #10240 closed

[2021-12-08 10:56] zzcpower opened #10241 "Timestamp of data that collected from telegraf is disordered."
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.14.1, CentOS Linux release 7.9.2009 (Core)

### Docker

_No response_

### Steps to reproduce

1.Set up the telegraf.conf
2.check the timestamp of data in output file "/etc/telegraf/test.txt"

...

### Expected behavior

cat /etc/telegraf/test.txt

vm_linux_procstat_lookup,host=5b616bfd-dbc4-4d9b-a015-610870b8bb14,pid_finder=pgrep,res

[2021-12-08 11:31] yummydsky commented on #9821
Please help to add the following code at v1 collector.go Add function. You can reference v2 collector Add function.
[code]

[2021-12-08 11:37] jcourt2006 commented on #10233
Hallo,
    We run the image using the Telegraf user and not root!!!

[2021-12-08 11:40] Hipska commented on #10233
Correct, please wait until the referenced PR is merged or change your config as explained.

[2021-12-08 12:42] tgirotto commented on #10234
@powersj I think it's a bug in the influx cloud UI. In fact, I have read the data via influx cli, and the timestamps seem to be picked up correctly, with seconds and ms showing correctly.

[2021-12-08 13:09] srebhan commented on #10241
@zzcpower there is no guarantee whatsoever on the order of the timestamps IIRC but they are forwarded as they arrive. Is there a specific reason to order the metrics by time?

[2021-12-08 13:42] Venreaver opened #10242 "Add heap_size_limit field input.kibana plugin"
## Feature Request
Update input.kibana with new field in metrics "heap_size_limit"

### Proposal:
Add  "heap_size_limit (integer)" field in output

### Current behavior:
There is a "size_limit" field in input data, but there is no appropriate field in the output.

### Desired behavior:
Would like to have "heap_size_limit (integer)" field in kibana metric.

### Use case:
I have to use another tool

[2021-12-08 14:24] don-code opened #10244 "AMQP consumer should not consume more messages than fit in the input buffer"
## Feature Request

### Proposal:

This proposal suggests that Telegraf does not consume an AMQP queue if its local metric buffer is full. Telegraf does not appear to negative-acknowledge messages if the input buffer is full, nor does it refuse to consume if the input buffer is full. Instead, messages are always  consumed and dropped on the floor once the local metric buffer is filled. Furthermore

[2021-12-08 15:00] powersj commented on #10234
Awesome, thanks for confirming! If you could file a bug with [InfluxDB UI here](https://github.com/influxdata/ui/issues/new) I would appreciate it.

I'm going to go ahead and close this.

[2021-12-08 15:00] #10234 closed

[2021-12-08 15:45] Hipska commented on #10232
Did you remove anything in there? That doesn't look valid. (The last `,` at the end of the tag list)

[2021-12-08 15:47] JeongsikKang commented on #6959
I worked fine with the yaml below
[code]

[2021-12-08 15:50] RemcoAA commented on #10232
Yes, I did remove some tags. This is the complete output with the tags.

snmp_defensepro_fans,agent_host=xxx,host=telegraf-ddos-1,label_env=xxx,rsSystemFanIndex=1,sysname=xxx rsSystemFansStatus="OK" 1638963410000000000
snmp_defensepro_fans,agent_host=xxx,host=telegraf-ddos-1,label_env=xxx,rsSystemFanIndex=2,sysname=xxx rsSystemFansStatus="OK" 1638963410000000000
snmp_defensepro_fans,agent_host=xxx

[2021-12-08 16:52] #10146 closed

[2021-12-08 18:28] batistado opened #10245 "Need a PluginErrorHandler interface or something that telegraf can callback when it fails to poll for metrics."
## Feature Request

Need a PluginErrorHandler interface or something that telegraf can callback when it fails to poll for metrics.
For more context please check out this thread: https://influxcommunity.slack.com/archives/CH7C56X4Z/p1638920766176700

### Proposal:

A new interface something like this:
So an interface something like this:
[code]
would be really useful.
https://influxcommunity.slack.

[2021-12-08 20:16] TotallyInformation commented on #10180
Hi, sorry for the delay. I've just tried that change and it hasn't worked. I'm getting the same problem. Currently running Telegraf v1.20.4.

[2021-12-09 01:21] Caedin commented on #7475
Was this ever integrated? I need to push messages to event hub for my current project using telegraf.

[2021-12-09 03:13] jonatan-ivanov opened #10248 "Do not accept any media type in the prometheus input"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.4 MacOS 11.6.1

### Docker

_No response_

### Steps to reproduce

The issue is related to the [`Accept` header](https://github.com/influxdata/telegraf/blob/31cbd2e504ad0a053a06b7669592009295c6a57e/plugins/inputs/prometheus/prometheus.go#L27) of the Prometheus input plugin:

1. Let's say we have a service that prefers the OpenMetri

[2021-12-09 04:55] SIKIM92 opened #10249 "I want to monitor log patterns."
I want to monitor log patterns.
For example, if the word 'ERROR' is found in the /var/log/message file.
Are there any plugins I can use?

Need to write a script using the exec plugin?

[2021-12-09 05:29] Hipska commented on #10180
Now it’s a totally different problem. Telegraf is able to connect to the server, but now the “identifier” is rejected.

[2021-12-09 06:21] zzcpower commented on #10241
Yes, especially in real-time data processing situation. Let's say if we want to build a alarm service of redis by using the data from procstat_lookup. As we know when running=1, we say the process is running, and when running=0, we say the process is down and the alarm will be triggered. If the error(running=0) and disorder happen at the same time, we will get a series of streaming data like runni

[2021-12-09 08:38] srebhan commented on #10241
@zzcpower that makes sense and I do understand your point. However, telegraf itself cannot "fix" this issue, here is why:
In telegraf, the input plugins will query data and, (leaving out intermediate processing for simplicity), telegraf collects those metrics as batches (you can control it with `buffer_size` etc). Then, after `flush_interval` passed this batch will be written to the output(s). Now

[2021-12-09 08:50] AndersoLeyendo opened #10250 "MQTT regex patterns"
Hi everyone, I was wondering if it was possible to replace multiple elements with Regex.

This code work:
[code]

But that's not enough for me.
I was hoping that such a thing would work but it doesn't ...
[code]

So, the expected result should have been this:
inpd4->temperatura
co2->anidride

And this is my mqtt config:
[code]

[2021-12-09 09:03] srebhan commented on #10249
@SIKIM92 first of all, I have to agree with our bot. Please use issues for bugs, feature requests and code-related discussions and ask those questions in either Slack or the forum.
Anyway, you have multiple possibilities e.g. using the [syslog input plugin](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/syslog) or the [tail input plugin](https://github.com/influxdata/telegraf/tr

[2021-12-09 09:03] #10249 closed

[2021-12-09 09:07] srebhan commented on #10250
I don't get the issue here... In your example above, why not add
[code]

Anyway, if you only replace non-regex static values you might also take a look at the [enum processor](https://github.com/influxdata/telegraf/tree/master/plugins/processors/enum) or use, as a last resort, starlark...

[2021-12-09 09:09] srebhan commented on #10245
@batistado for clarification. Do you want to have this `OnError` callback to live in each plugin or do you want this to be global over all plugins?

[2021-12-09 09:35] batistado commented on #10245
@srebhan I would recommend you have support for both but make it optional. So those who want to get notified on every error for any plugin, they can configure global error handler and those who want it from a specific set of plugins can configure handlers on those plugins.

[2021-12-09 09:42] srebhan commented on #10245
@batistado from what I understand, you want to do something like this (pseudocode)
[code]

Is this correct?

[2021-12-09 09:56] srebhan commented on #10245
@batistado one more comment. I think this can be done already. If you use the `tail` plugin to monitor your log file, you can easily parse errors (or warnings etc) and then use an output plugin (e.g. http) to push that error/warning/whatsoever somewhere. Would that work for you?

[2021-12-09 17:12] batistado commented on #10245
Yeah something of this sort.

[2021-12-09 17:15] batistado commented on #10245
Parsing log error messages is a bad developer experience. Also, the code will have to unnecessarily process non error string messages too and figure out if it's error or other kind of log.
And this will also heavily depend on log string message format which could break things if you change your log messages.
I would really only want error messages to be notified.

[2021-12-09 17:42] TotallyInformation commented on #10180
Well it still isn't working and it WAS working. No config changes had been made until I discovered it wasn't working. The broker accepts anonymous connections and can be contacted locally and also hasn't been changed.

Many of the example settings for urls also include the tcp prefix.

[2021-12-09 19:20] powersj commented on #10184
Hi,

Can you clarify what you were looking for, otherwise I am going to close this issue.

Thanks!

[2021-12-09 21:46] rmharrisva opened #10251 "inputs_mysql.conf gather perf events is false. Still generating mysql perf metrics."
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.19.1, Centos 7.9

### Docker

_No response_

### Steps to reproduce

1. Make sure inputs_mysql.conf the following statements are set as follows:

[code]

2. Restart Telegraf
3.  curl -s http://127.0.0.1:9126/metrics | grep -i mysql | grep perf | grep -v '^\#' | wc -l
`The result I got was 9557.`

### Expected behavior

The result shou

[2021-12-10 03:05] yanming-zhang opened #10253 "Using plugins/beat to collect filebeat metrics to prometheus will cause prometheus memory to be full"
### Relevent telegraf.conf

[code]

### System info

telegraf-1.20.4   centos-7.6    kubenetes-1.16.9

### Docker

_No response_

### Steps to reproduce

1. Use plugins/beat to collect filebeat metrics to prometheus
2. A large number of indicators similar to the following appear:
beat_filebeat_harvester_files_0066da78_a3af_4ca2_9360_d8372861e5a7_read_offset
beat_filebeat_harvester_files_0066da78_a

[2021-12-10 04:04] kiwi-yan opened #10254 "how can I control the metrics collection time precisely?"
For example, if i want to collect metrics at the 20th second and the 50 second in each minute, how can I write/modify configuration file?

[2021-12-10 08:00] sseypt commented on #5887
@beiermi Thanks you for opening this issue 👍

Don't know how long it would have taken me to realize that these authorization errors in the influx log came from a missing `#` 🙈

In my opinion there shouldn't be a default output which can't be disabled throug `/etc/telegraf/telegraf.d/`

Since there is `[[outputs.influxdb_v2]]` already, i'd also like this issue to be fixed.

[2021-12-10 12:14] yanming-zhang commented on #10253
@powersj

[2021-12-10 14:04] powersj commented on #10250
I'm going to go ahead and close this given srebhan's comment. But if there is something else, do let us know.

Thanks!

[2021-12-10 14:04] #10250 closed

[2021-12-10 15:50] darxriggs commented on #7959
I have found out that when using `watch_method = poll` the file descriptors are released.

BUT: Data structures in telegraf are not cleaned up. So disappearing watched files do not result in decreased RAM usage.

[2021-12-10 19:26] #10224 closed

[2021-12-10 20:14] #10125 closed

[2021-12-10 21:20] Victor-D opened #10256 "Better mongodb metrics organisation"
## Feature Request

Hello guys

I think operation stats such as insert, queries, update, delete etc should not be returned like `mongodb.<operation_name>` but more something like `mongodb.opcounters.<operation_name>`

It will be more easy to select all operations and graph them using a regexp such as `mongodb.opcounters.*`

### Proposal:

Add the `opcounters` metric prefix for operation counters s

[2021-12-10 21:22] powersj commented on #10223
Hi,

Please take a look at the [docs here](https://docs.influxdata.com/telegraf/v1.20/administration/configuration/#configuration-file-locations) around using `--config-directory` for multiple configuration files.

I am going to go ahead and close this issue as it is a support issue. Please do check out our Slack or Community Page where others can answer these types of questions and usually faster

[2021-12-10 21:22] #10223 closed

[2021-12-10 21:23] #9658 closed

[2021-12-10 21:24] powersj commented on #10254
Saw this posted on

[2021-12-10 21:24] #10254 closed

[2021-12-11 08:17] shubhamcoc opened #10257 "Is there any documentation of telegraf related metrics exposed to Prometheus?"
Hi, I have enabled the internal plugin to collect the telegraf related metrics from the Prometheus client output plugin.

I am getting the output below mentioned output along with go stats.
internal_write_write_time_ns{output="health",version="1.19.3"}
internal_write_write_time_ns{output="prometheus_client",version="1.19.3"}

internal_write_metrics_written{output="health",version="1.19.3"}
interna

[2021-12-12 12:33] amir-am commented on #8779
thanks a lot.

[2021-12-12 12:33] #8779 closed

[2021-12-12 16:22] SudoNova commented on #4984
Hi. Without addressing this issue, as syslog input plugin lacks the ability to set ownership and mode of unix socket it binds to, its becomes impossible to use socket capability without messing with permissions. If you want to address it in syslog input plugin you will end up with duplicate code paths. Addressing this issue can help with lots of scenarios regarding log shipping.

[2021-12-13 08:09] ElapsedSoul opened #10259 "some detail for the configuration of outputs.sql"
[code]
We need to know more about the type of telegraf offered, so that we can convert to a suitable type for the database which is used.

[2021-12-13 16:35] reimda commented on #10245
Hi @batistado, I'm not sure I completely understand your use case, but it sounds like you want a way to report errors in an input plugin, like when the sqlserver input fails to connect. You need those errors to be reported downstream through telegraf's output plugin so an external process can take action to fix the errors.

It seems like it should be possible to do this with internal statistics.

[2021-12-13 17:30] sjwang90 commented on #10257
I'm going to close this as I believe you received all your questions in slack. We'll add more documentation around the `inputs.internal` plugin for clarification.

[2021-12-13 17:30] #10257 closed

[2021-12-13 17:37] #3516 closed

[2021-12-13 19:44] phemmer opened #10261 "aggregators.merge causes processing loop"
### Relevent telegraf.conf

[code]

### System info

Telegraf 5cb9939

### Docker

_No response_

### Steps to reproduce

1. Run the above config

### Expected behavior

Should emit metrics with `i=1`.

### Actual behavior

Emits metrics with `i=2`.

### Additional info

_No response_

[2021-12-13 19:46] powersj commented on #10261
I believe this is a dup of #7993

[2021-12-13 19:47] #10261 closed

[2021-12-13 20:16] powersj commented on #5685
As mentioned above this is a limitation of the reprepro tool that is in use as well as a general setup of debian repos generally don't keep every single version every published either. We are looking at other tooling to host the repos, but so far they would fall under this same limitation. Suggestions are welcome.

That said I am going to go ahead and close this issue as folks can use the download

[2021-12-13 20:16] #5685 closed

[2021-12-13 21:42] Bibz87-CG commented on #5025
Is there anything new on this? I noticed the same issue happens when using telegraf's Docker image and the `http_response` plugin.

I looked at Go's code to see if something could go wrong with the way times are calculated and everything looked fine to me, so I have no clue where this 10 factor comes from.

[2021-12-13 21:51] powersj commented on #6475
Hi,

Going through old packaging bugs, so wanted to ensure I understand this one.

Is there a reason or example you can give where this is an issue? The default setting for `logfile_rotation_interval` and `logfile_rotation_max_size` will not rotate based on size or any interval as long as those options are not set. I believe this means users of the deb/rpm could set the logfile to `/var/log/telegr

[2021-12-14 07:55] ElapsedSoul opened #10264 "[outputs][sql] Error occurred when the metric with different data format output to rdb"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.0-5cb99391 (git: master 5cb99391),centos7

### Docker

_No response_

### Steps to reproduce

```./telegraf -config ./telegraf.conf```

### Expected behavior

data record insert into the postgres

### Actual behavior

[code]

### Additional info

I use outputs.http to print log to get the metics format like this followed:
[code]
wh

[2021-12-14 08:33] nathleeuk opened #10265 "Telegraf not using AWS endpoints for timestream"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.4, Amazon Linux 2

### Docker

not using docker

### Steps to reproduce

1. create timestream database in AWS
2. use standard configuration to send data
3. this works fine but by default telegraf will send the data over the internet
4. create an AWS endpoint for timestream to allow data to stay private (does not go over the interne

[2021-12-14 09:54] meowcat opened #10266 "Modbus plugin: support 8-bit values (boolean)"
## Feature Request

We are using `ARRAY[0..63] OF BOOL` in holding registers of our PLC. These are stored as **one byte per bool** (unlike coil registers). When reading out the values via Modbus, one word of two bytes gets read into two booleans (or 8-bit integers, for that matter).

For example, using the `modbus_cli` tool https://github.com/favalex/modbus-cli, they are read with the config
[code

[2021-12-14 10:35] Hipska commented on #9470
@MyaLongmire ?

[2021-12-14 11:00] zzcpower commented on #10241
@srebhan
Thanks for you reply, this makes sense. What if I set flush interval to 50s which is smaller than interval(60s)? Will this fix the issue?

[2021-12-14 12:34] meowcat opened #10269 "Modbus plugin: Support `FLOAT16-IEEE`"
## Feature Request

Currently Modbus supports `FLOAT32-IEEE` and `FLOAT64-IEEE` but not `FLOAT16-IEEE`, which is in common use on PLCs

### Proposal:

`data_type = 'FLOAT16-IEEE'`

### Current behavior:

I am trying to write a starlark to do the conversion by hand, but it's tedious.

### Desired behavior:

`data_type = 'FLOAT16-IEEE'`

### Use case:

Reading from PLCs that use `REAL` which are 2-b

[2021-12-14 14:27] meowcat commented on #10266
Dirty hack, currently (have to verify which is hi and which is lo):

[code]

[2021-12-14 14:44] powersj commented on #10264
Hi,

Using another output is nice to see what data is getting collected, but do not assume that the two outputs use the same data format when sending data.

The [HTTP output](https://github.com/influxdata/telegraf/blob/master/plugins/outputs/http/README.md) is printing per the `data_format` value, which by default uses `influx`. This is the [InfluxDB Line Protocol format](https://docs.influxdata.c

[2021-12-14 15:23] ngharo opened #10270 "RPM Package not installable on RHEL8 w/ FIPS"
### Relevent telegraf.conf

[code]

### System info

telegraf-1.20.4, Red Hat Enterprise Linux 8.5

### Docker

_No response_

### Steps to reproduce

1. From a RHEL8 w/ FIPS mode turned on
2. `dnf install telegraf-$VERSION.rpm`
3. dnf install fails `error: unpacking of archive failed on file /etc/logrotate.d/telegraf;61b8b554: cpio: Digest mismatch`

### Expected behavior

Package installs cleanl

[2021-12-14 15:33] powersj commented on #10270
Can you please provide the SHA256SUM of the rpm file you are using and where you downloaded it from, please?

Are you seeing the same behavior with FIPS disabled?

[2021-12-14 16:17] ngharo commented on #10270
With `fips=0` the package installs.

[code]

[2021-12-14 16:32] Victor-D opened #10271 "Best ways to monitor Telegraf"
Hello

What is the best way to monitor Telegraf on hosts ?

I'm thinking of :
Telegraf service status
Custom input module with non 0 exit code
Disabled input module because too many errors
Issue with flushing / writing to remote backend

I also found the inputs.internal module to retrieve internal stats, but it does not work with --test:
[code]
and I don't want to send theses kind of metrics.

Reg

[2021-12-14 16:50] powersj commented on #10271
Your command is using the configuration file `/etc/telegraf/telegraf.conf`, which does not have any inputs enabled. The internal plugin does work with `--test`:

[code]

If you do not want these metrics going to an output, then you could use the `namedrop` option to not send them anywhere.

We've recently talked about exposing a more detailed error mechanism, but for now the internal plugin is one

[2021-12-14 17:13] Victor-D commented on #10271
Hello Joshua

Thanks for the quick answer.

Ideally having the possibility to perform a curl http://localhost:xxxx/status on a local telegraph web endpoint generating a json response with the stats would be perfect.

[2021-12-14 17:13] #10271 closed

[2021-12-14 17:13] Victor-D commented on #10271
solution is to add the input plugin and filter it out
or parse the telegraf logs

[2021-12-14 17:30] archoversight commented on #10270
Can confirm, I am also seeing this issue on RHEL 8.4.

[2021-12-14 17:53] archoversight commented on #10270
As a work-around I am now doing:

[code]

This installs the RPM. However I would prefer if upstream could release a new RPM that is fixed, as this makes security review more difficult. Let me know how I can help!

[2021-12-14 18:41] powersj commented on #10270
## Root Cause

We currently use `fpm` to build the rpm and deb package. By default, the rpm digest will use `md5`. md5 is *not* FIPS compliant. If I specify `sha256` as an option during the build I am able to install correctly.

## How to reproduce

1. Install Centos8
2. `sudo fips-mode-setup --enable && sudo shutdown -r now`
3. `sudo fips-mode-setup --check && getenforce`
4. `wget https://dl.infl

[2021-12-14 18:53] srebhan commented on #10245
@reimda I think the internal plugin is too coarse. From what I understand @batistado wants to know the kind of error (not only the count over all types) to e.g. restart some services on connection errors etc.

[2021-12-14 19:09] powersj commented on #10270
My PR is up and appears to work locally. It would be great if someone else could confirm the fix works using the artifact from the PR:

https://137903-33258973-gh.circle-artifacts.com/0/build/dist/telegraf-1.21.0%7E6b28967c-0.x86_64.rpm

[2021-12-14 19:55] #10270 closed

[2021-12-14 20:25] #10242 closed

[2021-12-14 21:43] Hipska commented on #4941
This will not be added in the snmp input. As Daniel said, you can use the rename processor to rename the index to the name you want.

[2021-12-14 21:43] #4941 closed

[2021-12-14 22:04] #7913 closed

[2021-12-14 22:13] #5487 closed

[2021-12-14 22:28] #4683 closed

[2021-12-14 22:28] #7300 closed

[2021-12-15 01:05] ElapsedSoul commented on #10264
@powersj thx for you reply.
For some reasons which I still don't comfirm, I can not login in Slack.

In spite of it has just been said, but the input plugins the telegraf built-in like 'swap' and 'system' does against the rules:one metric with two data formats, while the output plugins need store it to one logical container.

Even though, the data_format default influx by http output show out the

[2021-12-15 01:46] akhepcat opened #10276 "Support vSphere 7+ with post-7.0U2 authentication API"
## Feature Request

Add support for new vSphere API

### Proposal:
Current 1.20 doesn't support post-7.0U2  because it uses the old api for authentication.

A per-host flag would need to be set to inform telegraf which API to use when connecting to a host,
and support for the new API that follows the flag would need to be added -  unless there is an unauthenticated
method of determining the API mo

[2021-12-15 02:04] powersj commented on #10264
I think I understand what you are saying now, see if you agree:

If I run the system plugin I get the following measurements:

[code]

When you use the SQL plugin to push the data it will generate a table based on the first measurement it finds:

[code]

However, when it tries to insert the additional measurements, like `uptime` and `uptime_format`, it fails with the 42703 error, because those col

[2021-12-15 02:57] ElapsedSoul commented on #10264
@powersj The problem I met is rightly what you descriped.

But the hole problem is not really solved with your solution.
Your solution is just solved the a specific metric 'system', we need to find a dynamic variable way to apply to any  metric.

eg. If I want to collect 'system' and 'swap' (measurements followed), how to configue with your method?
[code]

[2021-12-15 06:02] dkuk opened #10277 "shim trigger output to write single metric"
### Relevent telegraf.conf

[code]

### System info

telegraf 1.20.4

### Docker

_No response_

### Steps to reproduce

Make an output plugin.

Output triggers every 10 seconds, but batch size for every call is 1 metric.

Simple output plugin triggers write on each metric

[code]

telegraf log
[code]

Shim scans batch per line and triggers write output for each metric ?
(https://github.com/influx

[2021-12-15 09:06] Hipska commented on #6330
The gosmi library has been implemented into telegraf, I will have a look and try to translate enums..

[2021-12-15 13:30] VladislavSenkevich opened #10278 "Groundwork doesn't handle string metrics and payload without NextCheckTime and StartTime"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.4, Ubuntu 20.04, Docker 20.10.7, Groundwork 8.2.1

### Docker

_No response_

### Steps to reproduce

1. Connect the 'groundwork' output plugin with any Groundwork instance
2. Open the Groundwork -> Status -> Dashboard page on your Groundwork instance UI

### Expected behavior

Resource and services from telegraf plugin must be dis

[2021-12-15 14:16] powersj commented on #10277
Hi,

Not sure I follow. "batch size for every call is 1 metric." Your config does not set a batch size of 1.

If I use the following shell script to generate 100 metrics:

[code]

and the following config to write out 10 metrics at a time per the output config:

[code]

Then I get 10 metrics at a time:

[code]

[2021-12-15 14:23] ngharo commented on #10270
We tried your artifact out, it works! Thanks for the help @powersj!

We'll be on a lookup for the next release.

[2021-12-15 14:25] powersj commented on #10264
The table template field takes arbitrary SQL statements. So you can send two statements to create each table:

[code]

[2021-12-15 14:27] powersj commented on #10270
Thanks for confirming, we are working to get v1.21.0 out this week, if not today, and it will have this fix.

[2021-12-15 18:52] yitongtse commented on #7472
Is SONiC telemetry supported by Telegraf yet?

[2021-12-15 23:26] #8693 closed

[2021-12-16 01:41] luizribeiro commented on #9204
@loganmc10, why was this closed? Was this implemented? I'm interested on this too.

[2021-12-16 01:49] loganmc10 commented on #9204
My org just stopped doing DNS resolution in Telegraf, we just rely on the IPs for now, so it wasn't something we needed anymore, but I agree it would be useful. I'll re-open it since I know there are others looking for it

[2021-12-16 05:56] marszhang-sha opened #10280 "can not index elasticsearch_cluster_health"
### Relevent telegraf.conf

[code]

### System info

telegraf 1.20.4 aliyun k8s 1.18.8

### Docker

_No response_

### Steps to reproduce

1.start the telegraf pod
2.pod log

3. search the indice, can not find elasticsearch_cluster_health, while the other elasticsearch_fs, elasticsearch_os, elasticsearch_http exist.

### Expected behavior

elasticsearch_cluster_health has been indexed

### Actual

[2021-12-16 07:13] flopp999 opened #10281 "Error in version 1.21.0 SNMP"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.0 Debian 11

### Steps to reproduce

### Expected behavior

No errors

### Actual behavior
E! [inputs.snmp] Error in plugin: agent udp://xx.xx.xx.xx:ppp: converting 'ǆ' (OID .1.4.6.1.4.1.21796.3.4.3.1.6.2) for field 1.4.6.1.4.1.21796.3.4.3.1.6.2: invalid conversion type '1.4.6.1.4.1.21796.3.4.3.1.6.2'

After upgrade to 1.21.0 above

[2021-12-16 08:41] sajoupa opened #10282 "openstack input plugin: typo in neutron measurements ?"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.0

### Docker

_No response_

### Steps to reproduce

Configure the openstack input plugin, read its measurements

### Expected behavior

Ne**u**tron metrics should be named openstack_ne**u**tron_agent

### Actual behavior

Neutron metrics are named openstack_ne**w**tron_agent.

### Additional info

Or did I mess something ?

[2021-12-16 08:46] Panplumousse commented on #7741
Hello

long time have past :)
any update ?

thx very much

[2021-12-16 09:35] tarjei opened #10285 "SIGSEV inputs.tail w/grok crashes in 1.21.0"
### Note: This is a regresion as 1.20 works as expected.

### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21, Ubuntu 18.04.

### Steps to reproduce

1. Install telegraf 1.21 (from .deb)
2. Use the config above.
3. Start telegraf
...

### Expected behavior

Telegraf should just process and forward the logs.

### Actual behavior

Telegraf crashes with the following:
[code]

### Addit

[2021-12-16 10:16] hluaces opened #10286 "Telegraf 1.21.0 - segmentation violation when using logparser"
### Relevent telegraf.conf

[code]

### System info

CentOS 7, Telegraf 1.21.0 (git: HEAD efa65223)

### Docker

The Docker file is here:

https://github.com/hluaces/telegraf-bug-1.21.0

Please see the `README.md` for instructions on reproducing the error.

### Steps to reproduce

See the linked Dockerfile for instructions on how to reproduce.

Apparently the `tail` input seems to be failing when

[2021-12-16 10:19] alcoralcor opened #10287 "[PHP-FPM] unix socket group permission access"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.4 (git: HEAD 34ad5aa1) Ubuntu 20.04 Plesk Obsidian 18.0.40.1

### Docker

_No response_

### Steps to reproduce

1. Checking unix socket permissions (user : root rw + group : psaserv rw)
[code]
2. Checking users / groups (I only added telegraf user to psaserv group) :
[code]
3. Testing unix socket access with group permission, usin

[2021-12-16 10:21] ohopp commented on #10286
The same here unter Debian Bullseye:
[code]

Reverting back to 1.20 works fine

[2021-12-16 10:26] opengamer29 commented on #7217
Why this feature request has been closed? I can be helpful.

[2021-12-16 12:49] martinduspiva opened #10289 "Mysql plugin: missing metrics"
### Issue
In the package telegraf-1.20.2-1 were available following metrics:
_slave_slave_sql_running
slave_slave_io_running_

After upgrade on  telegraf-1.21.0-1 theese metrics are missing.  Did you remove these metrics, it is some bug or I need to make some changes to the plugin configuration? I didn't find  mention  of  it in your changlelog.

Thank you.

### Relevent telegraf.conf

[code]

###

[2021-12-16 13:00] srebhan commented on #10286
Hey @hluaces and @ohopp , can you test the artifacts built in #10288?

[2021-12-16 13:27] hluaces commented on #10286
Seems to be working for me on the Dockerfile I've provided, LGTM

[2021-12-16 13:57] bondskin opened #10290 "Telegraf 1.21.0 - issue with SNMP plugin"
### Relevent telegraf.conf

[code]

### System info

Raspbian, Telegraf 1.21.0

### Docker

no

### Steps to reproduce

1.
2.
3.
...

### Expected behavior

should work as before with 1.20.4

MIB file unchanged:
pi@raspberrypidns:/etc/telegraf/telegraf.d $ ll /var/lib/mibs/ietf/DPI20-MIB
-rw-r--r-- 1 root root 1683 25. Dez 2020  /var/lib/mibs/ietf/DPI20-MIB

### Actual behavior

Dez 16 14:52:13 ra

[2021-12-16 14:10] mharjula commented on #8083
I would very much prefer a subscription type model.

Additionally I have problems with Red Lion DA 10 servers, since they do not seem to support registered reads (see #9551 ). Normal reading and subscriptions seem to work in the gopcua examples.

See also https://github.com/gopcua/opcua/issues/478

[2021-12-16 14:25] srebhan commented on #10285
@tarjei can you please also add this as a short note to the PR?

[2021-12-16 14:26] srebhan commented on #10286
@hluaces can you please also add this as a short note to the PR?

[2021-12-16 14:28] Pengozoid opened #10291 "DPDK input plugin socket connection failure causes Telegraf service failure"
### Relevent telegraf.conf

[code]

### System info

telegraf-1.21.0-1.x86_64.rpm (run as root), CentOS 7.4, DPDK 20.11.0

### Docker

_No response_

### Steps to reproduce

1. Make stats socket unavailable (stop DPDK application; or specify many sections in telegraf.conf for DPDK apps with different paths to sockets)
2. Restart Telegraf:
`systemctl restart telegraf`
3. Telegraf service fails.

##

[2021-12-16 14:37] srebhan commented on #10291
@Pengozoid do you know if that configuration works with 1.20?

[2021-12-16 14:51] powersj commented on #10289
Looks like there were two changes against mysql.go:

* https://github.com/influxdata/telegraf/pull/9966
* https://github.com/influxdata/telegraf/pull/10006

The second was lint fixes, but the first helped with some type conversions.

Can you run with `--debug` and provide some logs to see if any errors are coming out?

Thanks!

[2021-12-16 15:16] MyaLongmire commented on #10290
Hi @bondskin, sorry you are having issues with the new release. We switched from using `snmptranslate` to `gosmi` for better performance. These are warning messages and should not hinder telegraf from continuing to do its thing. Please try letting telegraf keep running.

[2021-12-16 15:19] bondskin commented on #10290
Hi @MyaLongmire , thanks but actually the update to 1.21.0 broke the functionality.
Also I am not receiving any syslog events in Grafana although Telegraf is running

[2021-12-16 15:20] #10285 closed

[2021-12-16 15:23] #10282 closed

[2021-12-16 15:38] MyaLongmire commented on #10290
Thank you for your quick reply! There is an issue that documents the inability to parse these mibs in the `gosmi` library, you can find it [here](https://github.com/sleepinggenius2/gosmi/issues/23).

[2021-12-16 15:40] MyaLongmire commented on #10281
Hi @flopp999! is this your full config? Please checkout the `README.md` for the correct way to layout your config

[2021-12-16 15:48] Pengozoid commented on #10291
Just the same behaviour:

`
дек 16 10:45:18 vDPDK telegraf[25218]: 2021-12-16T15:45:18Z I! Starting Telegraf 1.20.4
{omitted}
дек 16 10:45:18 vDPDK telegraf[25218]: 2021-12-16T15:45:18Z E! [telegraf] Error running agent: could not initialize input inputs.dpdk: cannot get system information of '/var/run/dpdk/rte/dpdk_telemetry.v2' file: lstat /var/run/dpdk/rte/dpdk_telemetry.v2: permission denied
д

[2021-12-16 15:56] bondskin commented on #10290
thanks @MyaLongmire
still not clear to me how to fix it. even removing the MIB files does not help, no error messages but also no parsing of the logs into influx/grafana
Only removing the SNMP section of my Telegraf config brings the remaining things back to work.

[2021-12-16 16:00] reimda commented on #10281
@flopp999 could you double check the oid in your config? The first 4 in the oid is almost certainly wrong. I think you want 1.3.6... instead of 1.4.6...

http://oidref.com/1.3.6.1.4.1.21796.3.4.3.1.6

[2021-12-16 16:04] flopp999 commented on #10281
Hi
I changed it to not show the correct value.

This is the OID that I collect
1.3.6.1.4.1.21796.3.3.3.1.6.2

It was working fine until this morning when telegram 1.21 got installed.
Before it was 1.20.4

[2021-12-16 16:12] MyaLongmire commented on #10290
Will you please post your full config and I will try to get to the bottom of it

[2021-12-16 16:15] Pengozoid commented on #10291
[code]

[2021-12-16 16:21] Pengozoid commented on #10291
After install:

[code]

This renders DPDK plugin pretty tricky to use due to the availability of DPDK stats socket. If socket is not available at the moment of Telegraf startup due to user app not running for example, then Telegraf service will fail. I suppose such behavior at least deserves explicit mention in docs.

[2021-12-16 16:32] MyaLongmire commented on #10281
Is it possible to get more of your config, if you are not comfortable posting it here you can send it to me on slack. To get to the bottom of this I need the correct oid and how you are setting up fields and tables (I do not need you passwords or version 3 security info).

[2021-12-16 18:42] archoversight commented on #10270
@powersj thank you so much for the quick fix for this issue. It's greatly appreciated!

[2021-12-16 18:48] sjwang90 commented on #7217
We recently added [starlark aggregator](https://github.com/influxdata/telegraf/tree/master/plugins/aggregators/starlark) capabilities in 1.21 that could cover your use case of using Execd.

[2021-12-16 19:40] mabnz commented on #10290
I'm also seeing this. I've clipped a bunch of SNMP MIB errors, but the panic is below.

Dec 17 08:38:27 mgmtnuc telegraf[357341]: Parse module: /var/lib/snmp/mibs/ietf/DPI20-MIB:9:4: unexpected "ibm" (expected ";")
Dec 17 08:38:27 mgmtnuc telegraf[357341]: 2021-12-16T19:38:27Z W! [inputs.snmp] Could not load module at DPI20-MIB
Dec 17 08:38:27 mgmtnuc mosquitto[780]: Client esp8266-laundry has exc

[2021-12-16 19:46] aarontroot opened #10292 "Problem with inputs.tail as of 1.21.0"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.0-1, Ubuntu 20.04.3 LTS

### Docker

_No response_

### Steps to reproduce

1. sudo -u telegraf /usr/bin/telegraf -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d --test

### Expected behavior

Normal startup

### Actual behavior

panic: runtime error: invalid memory address or nil pointer dereference

[2021-12-16 19:49] powersj commented on #10292
dup of #10285 and #10286

Fix is in master and release is in progress with the fix.

[2021-12-16 19:49] #10292 closed

[2021-12-16 19:59] aarontroot commented on #10292
Thank you @powersj !

[2021-12-16 20:49] MyaLongmire commented on #10290
Can you please post your full config?

[2021-12-16 21:38] mabnz commented on #10290
`
# Telegraf Configuration
#
# Telegraf is entirely plugin driven. All metrics are gathered from the
# declared inputs, and sent to the declared outputs.
#
# Plugins must be declared in here to be active.
# To deactivate a plugin, comment out the name and any variables.
#
# Use 'telegraf -config telegraf.conf -test' to see what metrics a config
# file would generate.
#
# Environment variables can

[2021-12-16 22:19] MyaLongmire commented on #10290
Thank you! I am grabbing the extra mib files that I do not have to start testing. I will see what I can do, thank you for your patience :)

[2021-12-16 22:25] MyaLongmire commented on #10290
What platform are you on?

[2021-12-16 23:21] MyaLongmire commented on #10290
I was able to find 6 different snmp sections in your config (not including snmp_legacy as that one did not change in the new release)

I ran every section and never got a panic. I went through and separated them so you can try those and narrow down which section is causing your panic

[section1.txt](https://github.com/influxdata/telegraf/files/7730878/section1.txt) -> runs for me

[section2.txt](h

[2021-12-17 02:32] mabnz commented on #10290
Looks like this is the config file causing the issue here. What else can I provide to help narrow down the problem?

[code]

[2021-12-17 03:26] duanyifei1937 opened #10294 "output os system information"
telegraf how to output os system information an metrics?
like prometheus node-exporter:
  `node_uname_info{domainname="(none)", instance="localhost:9100", job="node", machine="x86_64", nodename="xxxhelloxxx", release="4.4.0-131-generic", sysname="Linux", version="#157-Ubuntu SMP Thu Jul 12 15:51:36 UTC 2018"}`
maybe need read system path:
  /proc/sys/kernel/version
  /proc/sys/kernel/osrelease
  .

[2021-12-17 03:38] MyaLongmire commented on #10290
This is a fantastic start!

The next step I took is to run each field section by itself to isolate which one is causing the issues. I commented out both `SYNOLOGY-DISK-MIB` and it ran fine.

Next, I commented out `SNMPv2-MIB` and `SYNOLOGY-DISK-MIB::diskID` section to run just `SYNOLOGY-DISK-MIB::diskTable`. This also ran fine.

Last, I commented out `SNMPv2-MIB` and left `SYNOLOGY-DISK-MIB::diskT

[2021-12-17 03:41] mabnz commented on #10290
I also see this behaviour.

[code]

It looks like it's erroring on this.

[2021-12-17 04:16] MyaLongmire commented on #10290
Can you please test [this branch](https://github.com/influxdata/telegraf/pull/10295) and see if it fixes your problem?

[2021-12-17 05:09] marszhang-sha commented on #10280
after manually modified the elastic dynamic mapping templates ,the problem was resovled

[2021-12-17 07:56] flopp999 commented on #10281
here you go
[code]

[2021-12-17 08:37] srebhan commented on #10294
@duanyifei1937 the easierst is to write a small shell script to output that information in line-protocol. The use the `exec` input plugin to get this into telegraf... Would that solve your issue?

[2021-12-17 08:46] ohopp commented on #10286
Hi, even with Version 1.21.1 from last night it fails under Debian Bullseye:

[code]

[2021-12-17 08:52] #6475 closed

[2021-12-17 09:14] srebhan commented on #10286
@ohopp sorry for missing this one. Please check the artifacts on PR #10296 built by CI (once it finished). As a side note: `logparser` is deprecated and will be removed in the future (see the warning). To be future proof (and also as a workaround) please use `inputs.tail` with the `grok` dataformat.
Anyway, please let me know if #10296 fixes the issue for you!

[2021-12-17 09:25] ajoergensen commented on #9494
Are there any plans to fix this in a Telegraf release? I see it wasn't included in 1.21.0.

[2021-12-17 11:10] opengamer29 commented on #7217
Thanks, it really can solve my issue. But I've slightly modified telegraf histogram plugin and with starlark aggregator, I need totally rewrite it :(

[2021-12-17 12:12] 999eagle opened #10297 "Telegraf 1.21.1, input plugin `disk` doesn't report data for non-partitioned disks"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.12.1 running in Docker 20.10.8

### Docker

[code]

### Steps to reproduce

1. Update Telegraf to 1.21.1
2. Look at the `disk` metrics

### Expected behavior

All disks (`/dev/sda1` and `/dev/sdb`) should export data.

### Actual behavior

Only data for `/dev/sda1` is visible, `/dev/sdb` is missing.

### Additional info

The `diskio`

[2021-12-17 12:56] jjh74 commented on #10213
Have you tried with `best_effort = true` in your `[[inputs.syslog]]` config (https://github.com/influxdata/telegraf/blob/master/plugins/inputs/syslog/README.md) ?

[2021-12-17 13:05] jjh74 commented on #10190
Hi,

So for example with these values:
[code]
total would be:
[code]
ie. length column values added and size values added ? Does it make any sense to report total age and what would total age be ?

[2021-12-17 14:21] powersj commented on #10297
Hi,

Can you provide an example output from 1.20.4 and what are you now seeing on 1.21.1?

Thanks!

[2021-12-17 14:27] powersj commented on #10280
Hi,

Thank for following up. I am assuming that change was done on the elasticsearch side? If there is still something for telegraf to do here let us know, in the meantime I am going to close this issue.

Thanks!

[2021-12-17 14:27] #10280 closed

[2021-12-17 15:06] powersj commented on #10297
ok one more, can you run `lsblk` and provide that output as well? Thanks

[2021-12-17 15:11] 999eagle commented on #10297
Sure

[code]

[2021-12-17 16:08] martinduspiva commented on #10289
With `--debug`  is only this in the log:

[code]

[2021-12-17 16:09] henriknoerr opened #10298 "Telegraf 1.21.0 - go panic with SNMP plugin"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.1

### Docker

_No response_

### Steps to reproduce

1.
After the agent restarted it restarts every 100ms because of the error "panic: runtime error: index out of range [1] with length 1"
2.
rollback to 1.21.0 does not fix the issue
rollback to 1.20.4 fixes the issue
3.
...

### Expected behavior

to work like 1.20.4

### Actual b

[2021-12-17 16:10] powersj commented on #10298
Can you please provide your config as well?

[2021-12-17 16:13] henriknoerr commented on #10298
I have 300+ .conf files representing each device I monitor.

The telegraf.conf is pretty basic

`
[agent]
  interval = "120s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""

  hostname = ""
  omit_hostname = false

[[outputs.influxdb_v2]]
  urls = ["http://:8086"]
  token =

[2021-12-17 16:53] powersj commented on #10298
The config causing the panic will be in one of the snmp configs, so the above doesn't help. It would be very helpful to have a config that reproduces this.

The panic itself is from: https://github.com/influxdata/telegraf/blob/master/internal/snmp/translate.go#L153

Looks like it is splitting the `oid` on `::` and trying to take the second value

@MyaLongmire thoughts?

[2021-12-17 16:57] MyaLongmire commented on #10298
Please post any the oids you are monitoring that have the `:: ` so I can test it please

[2021-12-17 18:10] MyaLongmire commented on #10298
If you can run the artifacts from [this pr](https://github.com/influxdata/telegraf/pull/10299) it should error instead of panic and tell you which mib it is having trouble parsing.

[2021-12-17 19:34] Victor-D commented on #10190
Hello

Yes for the `total` that's what i'm looking for.

Maybe we can exclude the active queue ?

Age is interesting to monitor to know the period of time some emails were undelivered because stuck in postfix queue.
Total age makes no sense, but max age and mean age could be nice.

[2021-12-17 19:34] mabnz commented on #10290
It didn't work unfortunately, the same panic occurs.

[2021-12-17 20:22] MyaLongmire commented on #10290
Can you please attach your SYNOLOGY-DISK-MIB?

[2021-12-17 20:24] mabnz commented on #10290
You can find them here:
https://global.download.synology.com/download/Document/Software/DeveloperGuide/Firmware/DSM/All/enu/Synology_MIB_File.zip

[2021-12-17 20:43] powersj opened #10300 "snmp: with no mibs installed, snmp panics"
### Relevent telegraf.conf

[code]

### System info

master

### Docker

_No response_

### Steps to reproduce

On a system with no snmp installed, telegraf panics when trying to use an snmp plugin.

### Expected behavior

Error message about no mibs found, no panic

### Actual behavior

[code]

### Additional info

_No response_

[2021-12-17 21:07] MyaLongmire commented on #10290
That was very helpful and allowed me to see the panic. I traced it down the libary and found it is not something wrong in telegraf but in gosmi. I opened an issue and described it [here](https://github.com/sleepinggenius2/gosmi/issues/32) if you would like to follow. I will keep you updated on any progress.

[2021-12-17 21:30] #10300 closed

[2021-12-17 22:21] larsjohnson commented on #10298
I don't know if this is the same issue, but I see similiarities and thought i would post it here.  Let me know though if I should post it as a new issue, or if you would like more information.  This same telegraf.conf has been used for around a year without any issue with the previous telegraf versions.  Thanks for you help and working on a great product.

Telegraph installation on a raspberryPi r

[2021-12-17 23:28] jhass commented on #10286
Seeing something similar in the tail plugin I think
[code]

[2021-12-17 23:52] WS-Dave opened #10302 "upgrade process was interrupted - "Failed to set capabilities on file" errors"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.19.2 vs newer versions, Synology DS1515+ DSM 6.2-25556, Docker 20.10.3-0554

### Docker

sudo docker run -itd --name="telegraf" -p 8092:8092/udp -p 8094:8094/tcp -p 8125:8125/udp --restart=always -v /volume1/docker/telegraf/mibs:/usr/share/snmp/mibs -v /volume1/docker/telegraf/configuration:/etc/telegraf -v /volume1/docker/telegraf/lo

[2021-12-18 00:10] powersj commented on #10302
Hi,

Is watchtower doing any customization to the telegraf image?
Are you using a custom Dockerfile?

When I use the following config:

[code]

It starts right up:

[code]

[2021-12-18 00:13] powersj commented on #10286
@jhass can you confirm you are running v1.21.1. We quickly rolled a patch release yesterday and it included a fix for `tail`, `file`, and `directory_monitor`

[2021-12-18 00:15] henriknoerr commented on #10298
I use these MIBs
oid = "AIRESPACE-REF-MIB::airespace.1.1.1.10.0"
oid = "AIRESPACE-REF-MIB::airespace.1.1.1.14.0"
oid = "AIRESPACE-REF-MIB::airespace.1.1.1.3.0"
oid = "AIRESPACE-REF-MIB::airespace.1.1.5.1.0"
oid = "AIRESPACE-REF-MIB::airespace.1.1.5.3.0"
oid = "AIRESPACE-WIRELESS-MIB::bsnAPDot3MacAddress"
oid = "AIRESPACE-WIRELESS-MIB::bsnAPLocation"
oid = "AIRESPACE-WIRELESS-MIB::bsnAPName"
oid =

[2021-12-18 00:15] jhass commented on #10286
Ah indeed, the package I'm using didn't update yet. Sorry for the noise!

[2021-12-18 00:29] WS-Dave commented on #10302
AFAIK - watchtower is not.  I'm just using the default config on that so it's doing the most basic check/update thing.

The thing that is so puzzling is that it was working fine yesterday (with 1.21.0) as well as previous versions (all via Watchtower for probably a year) and then the error started.

It doesn't seem like an issue w/ 1.21.1 - because anything newer than 1.19.2 causes the same proble

[2021-12-18 01:26] powersj commented on #10302
This might get a bit confusing since we have a docker container image version and a Telegraf version.

In terms of docker containers, we never published a v1.21 Telegraf container with version v1.21.0 of Telegraf. This was because we got reports of an issue with logging/parsing Wednesday night and held off on updating the docker image until v1.21.1 of Telegraf was released on Thursday.

We publish

[2021-12-18 02:54] MyaLongmire commented on #10298
We have this panic on a similar mib, unfortunately, it is an issue in the new `gosmi` library we are using to parse mibs. I logged an issue with the library [here](https://github.com/sleepinggenius2/gosmi/issues/32), if you would like to follow it. I will also keep you updated on the status. Thank you for your continued support!

[2021-12-18 03:51] MyaLongmire commented on #10298
I have tried to implement what the owner of the library recommended. If you wouldn't mind testing this [draft pr](https://github.com/influxdata/telegraf/pull/10303) and giving some feedback, it would be greatly appreciated :)

[2021-12-18 03:51] MyaLongmire commented on #10290
I have tried to implement what the owner of the library recommended. If you wouldn't mind testing this [draft pr](https://github.com/influxdata/telegraf/pull/10303) and giving some feedback, it would be greatly appreciated :)

[2021-12-18 04:21] reimda commented on #10297
I think this is a side effect of the change to run Telegraf as a non-root user. (see https://github.com/influxdata/influxdata-docker/pull/536). The partition devices are owned by root:disk but the disk device is owned by root:root.

[2021-12-18 05:44] dedworks commented on #10297
Same here, we have watchtower updating `telegraf:alpine` every morning, and have no data from the disk since this morning's update. Data starts collecting again when I switch to `telegraf:1.20.4-alpine`

[2021-12-18 07:36] bondskin commented on #10290
hi @MyaLongmire , many thanks for your support. Sadly I don't know how to implement or test your solution

[2021-12-18 08:15] Doridian opened #10304 "Telegraf 1.21.1: Marshal error with SNMP PowerNet MIB"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.1

### Docker

_No response_

### Steps to reproduce

1. Put this config in
2. Wait for it to pull
3. Observe error `2021-12-18T08:06:00Z E! [inputs.snmp] Error in plugin: agent SNIP: performing get on field model: marshal: marshalPDU: unable to marshal varbind list: unable to marshal OID: Invalid object identifier`

### Expected b

[2021-12-18 12:01] tuxianerDE commented on #10290
@MyaLongmire had the same issue. I can confirm installing the draft PR removes the panic and I see data flowing in.

[2021-12-18 12:16] dontobi commented on #10297
I can confirm this. Rolled back to 1.20.4 and everything works.

[2021-12-18 12:49] 999eagle commented on #10297
@reimda I'm running Telegraf 1.20.4 with a non-root account now and still get data for all disks, so I'm pretty sure it's not about being root or not.

[2021-12-18 13:58] MyaLongmire commented on #10290
@tuxianerDE Wohoo! Thank you for testing it. I will try to get it cleaned up and merged in for the next patch release.

[2021-12-18 21:09] mabnz commented on #10290
@MyaLongmire, the PR also fixes the issue for me. Thanks for your help!

[2021-12-18 21:18] mabnz commented on #10290
I've just noticed some MIBs don't seem to be getting processed correctly.

[code]

Should I raise a separate issue?

[2021-12-18 21:39] Derek-K commented on #10304
+1!! Just come across this post, I wish I find it sooner and it can save my afternoon of troubleshooting!

I was scratching my head trying to figure out what's wrong as well!!

I found the actual error message is generated by "gosnmp" and I opened a ticket over there

https://github.com/gosnmp/gosnmp/issues/388

[2021-12-18 21:41] Doridian commented on #10304
I am unsure if the actual issue is in gosmnp, or in the way telegraf interacts with it, which is why I opened a ticket here first.
Hope there's a reply from a contributor soon. I've went down the rabbit hole trying to poke deeper but I just can't wrap my head around exactly why this fails.

[2021-12-18 21:51] Derek-K commented on #10304
@Doridian same here... I went down the rabbit hole trying to figure out what's wrong as well.

[This](https://github.com/gosnmp/gosnmp/commit/98d87374d0713c55acee86cf9b5e1f75bb5b7b83) leads me to believe something to do with gosnmp

Yea, I hope someone from the team can take a look and get back to us. For the longest time, I was wondering what's "marshalPDU", in my world PDU stands for Power Distr

[2021-12-18 21:59] eskemojoe007 commented on #10297
Not as savvy as you all, but running in docker `telegraf:latest` for 1.21.1 lost me data around my secondary disk sizes as well.  Downgrading to 1.20.4 fixed it right up.  Just wanted to provide a +1 on this one.

[2021-12-18 22:22] jordipalet commented on #10298
Same problem with v1.21.1, both in arm (Raspberry) and amd64 (Ubuntu)

[2021-12-19 04:02] MyaLongmire commented on #10290
@mabnz a separate issue would be great! Thank you for testing the pr :)

[2021-12-19 04:03] MyaLongmire commented on #10298
@jordipalet did you try the pr listed above?

[2021-12-19 08:26] mabnz opened #10305 "Marshal error with SNMP plugin 1.21.0"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.20.0, Ubuntu 20.04.3.

### Docker

_No response_

### Steps to reproduce

1.
2.
3.
...

### Expected behavior

No errors.

### Actual behavior

After upgrade to 1.21.0, the snmp agent is having trouble fetching certain OIDs.

[code]
### Additional info

_No response_

[2021-12-19 10:37] dnewsholme commented on #10298
@MyaLongmire  it still appears to panic with your PR build at least for me (using the synology mibs).

[code]

[2021-12-19 23:34] MyaLongmire commented on #10304
@Doridian Thank you for noticing this! I am trying my best to get to the bottom of it I will keep you guys updated and appreciate your patience as well as opening a ticket with gosnmp :)

[2021-12-19 23:37] MyaLongmire commented on #10298
@dnewsholme Thank you for attaching your mib! I will try my best to figure out the issue.

[2021-12-19 23:39] MyaLongmire commented on #10049
[This](https://github.com/influxdata/telegraf/pull/9995) pr allows the extracting of topics into measurements, tags, and fields. Closing this issue :)

[2021-12-19 23:39] #10049 closed

[2021-12-19 23:42] mabnz commented on #10290
Raised #10305 =)

[2021-12-20 00:51] pkoenig10 commented on #10297
Also seeing this problem on 1.21.1. Downgrading to 1.20.4 resolved the issue. Agree with @999eagle that this doesn't appear to be about running as a non-root user - that change happened in 1.20.3.

[2021-12-20 01:06] nayrbbizkit commented on #10213
Hi @jjh74,

Yes it is already set to true, my Telegraf version is 1.20.0:
![Telegraf](https://user-images.githubusercontent.com/88015644/146698001-b49aee29-1f68-416f-8204-22d6adbe7503.JPG)

[2021-12-20 05:47] lambdaq commented on #10184
@powersj  Hi,  I need to combine the `usage_idle_095`, `usage_idle_count`, `usage_idle_sum`, `usage_idle_rate` to a single line.

[2021-12-20 06:28] ElapsedSoul commented on #10264
Table_template is a automatic create table template.
If configure like this, that means I must add the ddl to the table template while I add a input plugin to collect.

[2021-12-20 07:37] srebhan commented on #10305
I think this is a duplicate of #10304... At least it seems to share the cause...

[2021-12-20 08:02] dstewen commented on #10298
Similar issue here with the SNMP polling. I have not updated to the pr listed above, yet.

Dec 20 18:54:35 pi3b systemd[1]: telegraf.service: Main process exited, code=exited, status=2/INVALIDARGUMENT
Dec 20 18:54:35 pi3b systemd[1]: telegraf.service: Failed with result 'exit-code'.
Dec 20 18:54:35 pi3b systemd[1]: telegraf.service: Service RestartSec=100ms expired, scheduling restart.
Dec 20 18:5

[2021-12-20 08:04] toketsai opened #10306 "Error in SNMP Plugin"
### Relevent telegraf.conf

[code]

### System info

1.20.0

### Docker

_No response_

### Steps to reproduce

1.
2.
3.
...

### Expected behavior

get value

### Actual behavior

_snmpget -v2c -c public 192.168.1.1 'F5-BIGIP-SYSTEM-MIB::sysInterfaceStatus."1.0"'_  can get value.
Actually,it losts all metrics

### Additional info

_No response_

[2021-12-20 08:06] srebhan commented on #10306
@toketsai do you see any error message?

[2021-12-20 08:34] srebhan commented on #10297
Are you sure that in both environments the disk-in-question is mounted? Is it visible for the telegraf user in `/proc/self/mounts`?

[2021-12-20 08:38] toketsai commented on #10306
unable to marshal varbind list: unable to marshal OID: Invalid object identifier

[2021-12-20 08:39] toketsai commented on #10306
unable to marshal varbind list: unable to marshal OID: Invalid object identifier

[2021-12-20 12:17] flopp999 commented on #10281
I see that lots of people having problem with SNMP.

What is the solution for all this errors, why did you change to GOSMI?

[2021-12-20 13:21] aratik711 opened #10308 "Feature to add suffix and prefix to tag value"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Add a feature under strings processor to add suffix and prefix to the value of the specified tag key
### Current behavior:
This feature is not available currently
### Desired behavior:
The suffix/prefix mentioned in conf should be added to the value of the specified tag
[code]

 ### Expected output

 Sample input

[2021-12-20 14:56] powersj commented on #10184
I have not played with aggregators like this before, but I do not believe aggregators can be combined as you are assuming. I added some debug output to the three aggregators you are trying to use and found:

* The basicstats and quantile aggregators are receiving the same data
* The merge aggregator is not receiving any metrics in the first place

Per the [aggregator docs](https://github.com/influ

[2021-12-20 15:29] srebhan commented on #10308
Hey @aratik711,

I think this should be possible using the [`regex` processor](https://github.com/influxdata/telegraf/tree/master/plugins/processors/regex) with e.g.
[code]

[2021-12-20 15:53] MyaLongmire commented on #10281
We are trying out best to address all the issues, there are multiple prs up already. We switched to `gosmi` as it is a lot quicker than calling `snmptranslate` and parsing the output. Please be patient as we try to work out all the kinks with the switch.

[2021-12-20 16:02] MyaLongmire commented on #10298
@dstewen I do not see a panic here. Just some warnings that gosmi cannot parse some of your modules. This is not affect the running of telegraf. You can read more about the inability to parse some modules in this issue [here](https://github.com/sleepinggenius2/gosmi/issues/23)

[2021-12-20 16:04] MyaLongmire commented on #10298
@dnewsholme I see the mibs you posted are not the synology mibs. Would you mind posting your config that goes with the mibs you posted?

[2021-12-20 16:12] hkml2000 opened #10309 "SNMP Traps from Juniper not fully translated"
### Relevent telegraf.conf

[code]

### System info

Telegraf 1.21.1

### Docker

_No response_

### Steps to reproduce

1. put Juniper MIB files into /usr/share/snmp/mibs

2. start telegraf using above config

3. send snmptrap  using "snmptrap -v 2c -c public **telegraf_server_ip** '' .1.3.6.1.4.1.2636.3.53.1.2.1.1"

4. observe the output from telegraf :
snmp_trap,community=public,host=xxxxxx,mib

[2021-12-20 16:44] dnewsholme commented on #10298
@MyaLongmire  You are correct looking at the issue you posted. It seem telegraf was loading the mibs from the ietf bundle. I've now removed all the RFC ones and only have the MIBs specified in my config loading and do get a different error and i'm unable to see the problem MIB.

[code]

Attached is the config and the mibs
[config.zip](https://github.com/influxdata/telegraf/files/7746739/config.zip

[2021-12-20 16:47] MyaLongmire commented on #10298
Thank you for attaching your files. I will investigate and get back to you :)

[2021-12-20 16:52] #10259 closed

[2021-12-20 17:06] MyaLongmire commented on #10298
I ran your config with your mibs. I had to comment out `HOST-RESOURCES-MIB` as that was not included. I ran on [this pr](https://github.com/influxdata/telegraf/pull/10303) as it is what is going to fix the panic. And I am getting `performing get on field sysName: marshal: marshalPDU: unable to marshal varbind list: unable to marshal OID: Invalid object identifier`. Which is an issue with `gosnmp`

[2021-12-20 17:31] srebhan commented on #10286
@hluaces can you please confirm that the mentioned PR fixes your issue!?

[2021-12-20 17:34] srebhan commented on #10306
@toketsai so I guess this is a duplicate of #10304. I will close this ticket in favor of #10304. Please follow the process there and reopen this issue if necessary.

[2021-12-20 17:34] #10306 closed

[2021-12-20 17:52] #10298 closed

[2021-12-20 18:13] hluaces commented on #10286
https://github.com/influxdata/telegraf/issues/10286#issuecomment-998132407 isn't crashing for me.

[2021-12-20 19:37] sjwang90 commented on #7217
@opengamer29 Can you provide more information about your use case? We haven't had that many requests for an execd aggregator. We were wondering if it was possible to achieve what you're trying to do with the Execd input possibly.

[2021-12-20 19:49] #10290 closed

[2021-12-20 20:15] sjwang90 commented on #10227
https://github.com/influxdata/sre/issues/171

[2021-12-20 20:54] MyaLongmire commented on #10304
I do not believe this is an issue with `gosnmp` but with `gosmi`. I have opened an issue in the appropriate library asking for some direction on how to solve the issue. As always, thank you for your patience and I will keep you updated on the status :)

[2021-12-20 20:58] MyaLongmire commented on #9470
I cannot just call `RenderOID()` as it is nested in the function `RenderNumeric()`. I will not have time to work on this until after the holidays

[2021-12-20 21:01] MyaLongmire commented on #648
I do believe this was been implemented with [topic parsing](https://github.com/influxdata/telegraf/pull/9995), so I am closing. If this is incorrect please let me know

[2021-12-20 21:01] #648 closed

[2021-12-20 21:07] powersj commented on #10302
@WS-Dave do you happen to be running the container on a synology device? If so can you take a look at https://github.com/influxdata/influxdata-docker/issues/561 please?

[2021-12-20 21:37] 999eagle commented on #10297
@srebhan Yes, the disk appears inside the container, both in `/proc/self/mounts` and `/host/proc/self/mounts`.

[2021-12-20 22:40] sjwang90 commented on #5907
Closing issue due to inactivity and interested. If someone is interested on taking this work back up, please take a look at PR #5908.

[2021-12-20 22:40] #5907 closed

[2021-12-20 22:57] sjwang90 commented on #5425
Closing due to inactivity - See https://github.com/influxdata/telegraf/pull/7669#issuecomment-998330235

[2021-12-20 22:57] #5425 closed

[2021-12-20 23:05] sjwang90 commented on #1176
Closing issue due to inactivity. See https://github.com/influxdata/telegraf/pull/3775

[2021-12-20 23:05] #1176 closed

[2021-12-20 23:30] #10286 closed

[2021-12-21 03:15] aratik711 commented on #10308
@srebhan  works, thanks a lot
One more help.
Is there a processor already where I can create a new field based on some calculations of some other fields
Ex: field3 = (field1/100)*field2+4
I didn't find any.

[2021-12-21 03:31] aratik711 opened #10315 "Upgrade aerospike go client to v5/v4"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Upgrade the AS go client to v5/v4 (which has quite a few improvements and bug fixes)
https://github.com/aerospike/aerospike-client-go/releases
### Current behavior:
The current AS go client used in telegraf is v1.27.0
### Desired behavior:
Update to the latest stable client, add feature to enable latency related m

[2021-12-21 06:41] opengamer29 commented on #7217
We use telegraf to collect mobile performance metrics. In details, we use inputs.socket_listener to collect data from devices, aggregators.histogram to create histograms (there are a lot of data and it's expensive save all of them without aggregations) and outputs.prometheus_client to scrap all metrics by VictoriaMetrics.

[2021-12-21 06:58] opengamer29 commented on #7217
We use telegraf to collect mobile performance metrics. In detail, we use `inputs.socket_listener` to collect data from devices, `aggregators.histogram` to create histograms (there are a lot of data and it's expensive to save them all without aggregations) and `outputs.prometheus_client` to scrap all metrics by VictoriaMetrics.

And we have more than 80 000 lines in `prometheus_client` `/metrics` u

[2021-12-21 07:16] Hipska commented on #10309
Problem is similar to #9470, but the root cause is different. Here it seems because for some reason the MIB cannot be parsed, on the other issue the MIB is just missing.

Could you check if you have any mib parsing error messages during startup of telegraf?

[2021-12-21 08:18] R290 commented on #8890
As of telegraf v1.21.1 with gopcua v0.2.3 I no longer have the `StatusBadTimeout (0x800A0000)` error recurring roughly once an hour. The error now occurs once at start up and has not appeared afterwards for 24 hours.

[2021-12-21 09:13] hkml2000 commented on #10309
I turned on the debug and the output shows no error:

2021-12-21T09:02:15Z D! [agent] Connecting outputs
2021-12-21T09:02:15Z D! [agent] Attempting connection to [outputs.influxdb_v2]
2021-12-21T09:02:15Z D! [agent] Successfully connected to outputs.influxdb_v2
2021-12-21T09:02:15Z D! [agent] Starting service inputs
2021-12-21T09:02:15Z I! [inputs.snmp_trap] Listening on udp://:162
2021-12-21T09:0

[2021-12-21 09:40] srebhan commented on #10308
@aratik711 we need a plugin search engine I guess... ;-P

You can use the [starlark processor](https://github.com/influxdata/telegraf/tree/master/plugins/processors/starlark) to do the computation. There is even a [math example](https://github.com/influxdata/telegraf/blob/master/plugins/processors/starlark/testdata/math.star)... :-)

Closing this issue. Please feel free to join the [InfluxData #te

[2021-12-21 09:40] #10308 closed

[2021-12-21 09:42] srebhan commented on #8890
So can we be confident that the new release fixed the issue? If so, I tend to close the issue and ask you to reopen if the problem comes back. What do you think @alexmc1510, @R290, @zwl-sun?

[2021-12-21 09:56] alexmc1510 commented on #8890
I will not have time to test it until January. I hope that the issue is solved...in any case, it has been a long time since I opened the issue (Feb 2021) so I needed to find a workaround. Nobody payed attention to our concerns so...feel free to close it if it urges to you...

[2021-12-21 10:01] srebhan commented on #10297
@999eagle can you post your `disk` part of your telegraf configuration and the content of `/proc/1/mountinfo` and `/proc/self/mountinfo` in your container? The background is that the underlying [gopsutil library](https://github.com/shirou/gopsutil) changed the path from [v3.21.8](https://github.com/shirou/gopsutil/blob/5268453c1e25853698065e9e5cb14afc175610c3/disk/disk_linux.go#L224) to [v3.21.10]

[2021-12-21 10:08] srebhan commented on #10297
@999eagle and if possible also show `/host/proc/1/mountinfo`...

[2021-12-21 10:16] srebhan commented on #8890
@alexmc1510 I'll leave the issue open for you to test in January and provide feedback if possible.

Apologies if I missed out on this issue (there are just too many). I tried to help with OPCUA in e.g. #9551 etc. Please feel free to mention me next time and I try to help as soon as I can (as this is not my day-job)...

[2021-12-21 10:37] 999eagle commented on #10297
@srebhan I've already posted that part of my telegraf config in the initial post. Here it is again:

[code]

Here are the mountinfo contents from inside the container read from the telegraf user:

[code]

Apparently, both `sda1` and `sdb` show up in all three mountinfos as expected.

[2021-12-21 12:31] Hipska commented on #10309
And you are sure the permissions for `JUNIPER-L2CP-FEATURES-MIB` are ok for the telegraf user, and it exists in the same directory?

[2021-12-21 13:59] pflugj opened #10317 "The repository 'https://repos.influxdata.com/raspbian bullseye Release' does not have a Release file"
### Relevent telegraf.conf

[code]

### System info

telegraf v1.21.1 "Raspbian GNU/Linux" ¨VERSION="11 (bullseye)"

### Docker

_No response_

### Steps to reproduce

1. trying to install a described here:
https://docs.influxdata.com/telegraf/v1.21/introduction/installation/
2. result of the command: sudo apt-get update && sudo apt-get install telegraf
./..
E: The repository 'https://repos.influx

[2021-12-21 14:32] powersj commented on #10317
Hi,

Please use `debian` instead of `raspbian`. We do not keep up with all the various distros and all their releases in our repo, since Raspbian is essentially Debian you can safely swap between those two for our repo.

Thanks!

[2021-12-21 14:32] #10317 closed

[2021-12-21 14:40] pflugj commented on #10317
Thanks but there is only a description for Ubuntu & Debian  nothing for raspbian
This is what I tried:
wget -qO- https://repos.influxdata.com/influxdb.key | sudo tee /etc/apt/trusted.gpg.d/influxdb.asc >/dev/null
source /etc/os-release
echo "deb https://repos.influxdata.com/${ID} ${VERSION_CODENAME} stable" | sudo tee /etc/apt/sources.list.d/influxdb.list
sudo apt-get update && sudo apt-get instal

[2021-12-21 14:44] powersj commented on #10317
You did not try using debian... you need to update `/etc/apt/sources.list.d/influxdb.list` to use `debian` instead of `raspbian`

Note the debian below will take the place where raspbian currently is:

[code]

[2021-12-21 14:50] pflugj commented on #10317
Oh,  of course.  .. sorry... I see now.
Ran the above commands and everything installed as predicted ;-)
Thanks so much for your help!!

[2021-12-21 15:30] srebhan commented on #10297
@999eagle sorry for asking for the config twice. :-/

I'm not sure if this makes a difference, but as I said, the underlying library changed the reads. So (with your HOST_PROC setting) the old version (used in telegraf 1.20) references to `/host/proc/self/mountinfo` containing
[code]
the newer version (used in telegraf 1.21) references `/host/proc/1/mountinfo` containing
[code]

Please note the di

[2021-12-21 15:45] 999eagle commented on #10297
Ah hm. No, the path `/mnt/storage` doesn't exist in the container as that's the mount point on the host system. Seems like this issue is caused by https://github.com/shirou/gopsutil/pull/1133 and probably should be fixed in gopsutil by rewriting paths when using the `HOST_PROC` variable before returning from `PartitionsWithContext`.

Could this be fixed in telegraf by either rolling back the libra

[2021-12-21 16:10] #10185 closed

[2021-12-21 16:37] srebhan commented on #10297
@999eagle to track-down the cause of the issue, can you please run the [artifact built by CI](https://github.com/influxdata/telegraf/pull/10318#issuecomment-998924944). It will only output some debug messages to find out where the partition in question is dropped (so please run `telegraf --debug --once`). Can you send me the (redacted) output please?

[2021-12-21 16:38] srebhan commented on #10297
Yeah I first try to see if we can somehow fix the changed behavior and otherwise role-back to the older version even though there might be a reason why this was upgraded...

[2021-12-21 16:43] srebhan opened #10320 "Add TOML tags to Graylog plugin"
### Relevent telegraf.conf

[code]

### System info

---

### Docker

_No response_

### Steps to reproduce

---

### Expected behavior

---

### Actual behavior

---

### Additional info

Configuration options should be annotated in the code with the corresponding TOML tags. We need to do this for the [Graylog input plugin](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/graylog

[2021-12-21 17:22] 999eagle commented on #10297
@srebhan I think this is the relevant part of the output:

[code]

[2021-12-21 17:36] MyaLongmire commented on #10305
Due to the holidays coming up the team will not have time to have another bug release. There are a few options while you wait for this fix:
1) Roll back to 1.20.4
2) Grab a nightly build -> the snmp panic fix has been merged into master but we are still diligently working on the marshal error
3) clone master

Thank you for your continued support of Telegraf and for your patience with this switch t

[2021-12-21 17:38] srebhan commented on #10297
Exactly. So I guess the correct mount-point is `/host` and `/host/mnt/storage` for `sda1` and `sdb`? This will potentially create false values for `/dev/sda1` as it reads the container root instead of the host one...

[2021-12-21 17:38] MyaLongmire commented on #10298
Due to the holidays coming up the team will not have time to have another bug release. There are a few options while you wait for this fix:
1) Roll back to 1.20.4
2) Grab a nightly build -> the snmp panic fix has been merged into master but we are still diligently working on the marshal error
3) clone master

Thank you for your continued support of Telegraf and for your patience with this switch t

[2021-12-21 17:39] MyaLongmire commented on #10290
Due to the holidays coming up the team will not have time to have another bug release. There are a few options while you wait for this fix:
1) Roll back to 1.20.4
2) Grab a nightly build -> the snmp panic fix has been merged into master but we are still diligently working on the marshal error
3) clone master

Thank you for your continued support of Telegraf and for your patience with this switch t

[2021-12-21 17:40] 999eagle commented on #10297
Exactly. The current output contains the mount points for the host (which is to be expected when reading `/host/proc/1/mountinfo`). Prepending `$HOST_MOUNT_PREFIX` to both paths would lead to correct paths inside the container.

[2021-12-21 18:11] bondskin commented on #10290
Dear @MyaLongmire ,

Many thanks for all your efforts, much appreciated.
I rolled back to 1.20.4 and it's working as before (obviously) and I can live with that for the time being.
Take your time, enjoy the holiday season and stay healthy.

Mike

[2021-12-21 19:13] MyaLongmire commented on #10304
The library owner of `gosmi` got back to me on [this issue](https://github.com/sleepinggenius2/gosmi/issues/33). The marshal is error is coming from `RenderNumber()` which should return the oids of mibs. It is returning blank and that is why the marshal error says invalid oid. He explains that if it is returning black that the node is disconnected. I am going to add some error checking so the erro

[2021-12-21 19:16] Doridian commented on #10304
@MyaLongmire The odd thing is, I copied some of the gosmi code from telegraf into a standalone script to play around with. If I load that up, it comes back with the OID just fine, just telegraf for some reason does not. Maybe I load the folders in a different order, but the MIBs must exist somehow. I can try fiddling some more to see if I can get a minimal code snippet to actually reproduce the bl

[2021-12-21 19:26] MyaLongmire commented on #10304
I tried to simplify telegraf code just for testing `gosmi`. I have attached the code as a txt. It still comes up blank for me. Thank you for helping me test this. I am unsure of why the order would matter but will play with how we traverse the folder and try to come up with a solution. I am also open to any ideas you have as to why this happens.
[synology.txt](https://github.com/influxdata/telegra

[2021-12-21 19:30] Doridian commented on #10304
I finally managed to reproduce the issue. It is order dependant!
See my attached file (I prefixed all the paths to my MIBS with /mnt as this is a minimal test container).
Loading the MIBs in this order (/usr/share first, then /var/lib) produces a blank output.
Loading the MIBs in the other order (/var/lib first, then /usr/share) and I get correct output.
The loading code is copied from telegraf di

[2021-12-21 19:34] MyaLongmire commented on #10304
I just found that if you put them in the same folder it works. Any idea on the best order to load them in?

[2021-12-21 19:36] Doridian commented on #10304
I think I fond a possible fix for this issue. I have changed the function so that it first appends all paths to gosmi, and only at the end places the`LoadModule` calls.
This makes it load successfully in any order

See attached file.
[test.txt](https://github.com/influxdata/telegraf/files/7757718/test.txt)

[2021-12-21 19:57] MyaLongmire commented on #10304
The pr for this is now up! If you would give it a test just to be sure it works. Thank you so much for all of your help with this!

[2021-12-21 19:58] MyaLongmire commented on #10305
A [pr](https://github.com/influxdata/telegraf/pull/10322) for the marshal issue is now up. If you would please test it out.

[2021-12-21 20:00] MyaLongmire commented on #10290
A [pr](https://github.com/influxdata/telegraf/pull/10322) for the marshal issue is up! I am having some community members test it out and hoping to have it merged by the end of the week. I appreciate everyone's patience while this got sorted out :)

Happy Holidays 🎉

[2021-12-21 20:44] #9894 closed

[2021-12-21 20:49] powersj commented on #10241
I'm going to go ahead and close this for the reasons srebhan laid out.

[2021-12-21 20:49] #10241 closed

[2021-12-21 20:50] powersj commented on #10233
Hi!

The PR is merged and you should now be able to bind to privileged ports, assuming you are on a system that allows `setcap` command to run.

I'm going to go ahead and close this as that fix was released last week.

Thanks

[2021-12-21 20:50] #10233 closed

[2021-12-21 21:21] powersj commented on #10265
@nirmeshk is accessing Timestream via a VPC endpoint something that the golibary knows how to do? Or is there something Telegraf needs to learn to do?

[2021-12-21 21:46] powersj commented on #10294
Going to go ahead and close this one. As srebhan has suggested if you have a number of custom fields you want to collect using the `exec` plugin is usually best to allow you to customize freely.

[2021-12-21 21:46] #10294 closed

[2021-12-21 21:53] powersj commented on #10291
I have put up an MP that mentions this in the docs. Note that this behavior is similar across many inputs with Telegraf (e.g. kafka). I do think that this behavior could be made to retry or improved in other ways and would be happy to see an MP for that.

Thanks!

[2021-12-21 22:05] powersj commented on #10287
Hmm, this does seem odd. Given root can access it, I am going to assume this is not a Telegraf issue itself, but a permissions issue.

Are you sure `/var/www/vhosts/system/myvhost.fr/php-fpm.sock` is not a symlink?
As telegraf user or a user with the psaserv group can you stat the file and see if that works?

[2021-12-21 22:07] #5622 closed

[2021-12-21 22:08] powersj commented on #10142
I'm going to go ahead and close this one. I think we are in agreement that the regex expects strings and operates on strings. Changing that is not something we would want to do.

[2021-12-21 22:08] #10142 closed

[2021-12-21 22:27] #10291 closed

[2021-12-21 23:28] WS-Dave commented on #10302
@powersj Thank you for your follow up.

Indeed - I'm running
Synology DS1515+ DSM 6.2-25556
Docker 20.10.3-0554

and the setcap/aufs/capsh issues seem to be biting me.

Is there a workaround?  I couldn't identify one directly from influxdata/influxdata-docker#561
Maybe I'm missing something in terms of syntax and settings.

Thx!

[2021-12-22 04:20] sspaink opened #10327 "Issue with Dependabot"
Dependabot is failing to parse `go.mod`, the following error is thrown:

[code]

Investigate the issue with the package `gopkg.in/djherbis/times`

[2021-12-22 09:19] Hipska commented on #10309
There should also be some output before your first line. The place where the errors would be visible is left out :p

[2021-12-22 09:59] alcoralcor commented on #10287
I can confirm this is not a symlink and no symlink in the path, no hard link either.
And I can stat this sock with telegraf user (as I can run cgi-fcgi) :
[code]
I also tried to not use sudo so I created a new user, added my new user to psaserv group, log in as my new user and :
- stat successfully the sock without the use of sudo,
- cgi-fcgi successfully (...),
- fail to run telegraf test with er

[2021-12-22 10:20] alcoralcor commented on #10287
The issue remains at service level, even when I add "Group=psaserv" to  /etc/systemd/system/multi-user.target.wants/telegraf.service ; with systemctl daemon-reload + restart telegraf.service.

[2021-12-22 10:34] Hipska commented on #10232
Sorry, I couldn't find any problem with these metrics and the enum processor.

[2021-12-22 10:36] RemcoAA commented on #10232
Did you test with the "default = 0" option?

Because when we use this everything is mapped to 0

[2021-12-22 10:46] Hipska commented on #10232
I'm using this config:
[code]
And this is the result:
[code]

[2021-12-22 10:50] RemcoAA commented on #10232
Did you also test with v1.18.3 or v1.20.4?

[2021-12-22 10:57] Hipska commented on #10232
No, but I have a system that runs 1.18.1 and there I have the same expected behaviour. Can you try with latest version of telegraf?

Are you sure this is the only processor that is touching that metric?

[2021-12-22 12:06] srebhan commented on #10297
@999eagle I pushed a new version of #10318 hopefully fixing this issue. Can you please test once CI finished the build?

[2021-12-22 13:54] 999eagle commented on #10297
@srebhan no new artifact for amd64 was built there because the tests failed due to a missing container image. Can you please rerun the CI pipeline?

[2021-12-22 14:04] srebhan commented on #10297
@999eagle I see it and I tried multiple time. However it seems like [CircleCI has issues currently](https://status.circleci.com/)... Will try again ASAP...

[2021-12-22 14:42] powersj commented on #10287
Take a look at the following and let me know if I am doing something different than you. However I don't think I am reproducing this on Ubuntu 20.04:

[code]

My config:

[code]

Running with master:

[code]

And then running as a service:

[code]

[2021-12-22 15:15] hkml2000 commented on #10309
mib files exist in the same directory with read permission

here is the full output, no error appears:

telegraf.service - The plugin-driven server agent for reporting metrics into InfluxDB
   Loaded: loaded (/usr/lib/systemd/system/telegraf.service; enabled; vendor preset: disabled)
   Active: active (running) since Wed 2021-12-22 16:12:54 CET; 37s ago
     Docs: https://github.com/influxdata/tel

[2021-12-22 15:24] hkml2000 commented on #10309
just to add that with previous release of telegraf like 1.14 the translation works fine

[2021-12-22 15:42] Wnthr opened #10330 "inputs.file not working as stated"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

# telegraf --debug --config-directory=/etc/telegraf/telegraf.d/
2021-12-22T15:36:22Z I! Starting Telegraf 1.18.3
2021-12-22T15:36:22Z I! Using config file: /etc/telegraf/telegraf.conf
2021-12-22T15:36:22Z E! [telegraf] Error running agent: Error loading config file /etc/telegraf/telegraf.d/chrony_measurements.conf: plugin inputs.file: lin

[2021-12-22 15:47] powersj commented on #10330
The error message is correct. These settings: `"from_beginning" "max_undelivered_lines" "pipe" "path_tag"` are not available in the [file input plugin](https://github.com/influxdata/telegraf/tree/7d3531a29bd4c8c9e09b7e213514a6b6e7cfb957/plugins/inputs/file).

They are however documented and part of the [tail input plugin](https://github.com/influxdata/telegraf/blob/7d3531a29bd4c8c9e09b7e213514a6b6

[2021-12-22 15:47] #10330 closed

[2021-12-22 16:32] srebhan commented on #10297
@999eagle build passed, you can grab the artifacts now...

[2021-12-22 16:38] powersj commented on #10302
I am not sure what options Synology's Docker plugin gives you, if possible you could try running the container as the 'telegraf' user to avoid trying to set the capabilities or use an older version of the container image

I am going to close this issue and track updating the error message and not failing on influxdata/influxdata-docker#561

Thanks!

[2021-12-22 16:38] #10302 closed

[2021-12-22 17:11] MyaLongmire commented on #9286
[This pr](https://github.com/influxdata/telegraf/pull/10331) takes @Hipska idea of implementing UseUnconnectedUDPSocket. Can someone please test it to see if it fixes their issue?

[2021-12-22 17:27] isodude commented on #7485
I will check if this is easy to implement.

This is so annoying.

[2021-12-22 18:36] powersj commented on #9233
This was fixed in a preivous release.

From master:

[code]

[2021-12-22 18:36] #9233 closed

[2021-12-22 19:30] #10327 closed

[2021-12-22 20:11] #7758 closed

[2021-12-22 20:29] #9630 closed

[2021-12-22 20:39] #9427 closed

[2021-12-22 20:41] #10304 closed

[2021-12-22 20:41] #10305 closed

[2021-12-22 20:51] #10216 closed

[2021-12-22 21:38] WS-Dave commented on #10302
huzzah!

Thank you for the follow up!

I added the user flag as follows
-u "telegraf"
and It Just Works (with 'latest')

sudo docker run -itd --name="telegraf" -p 8092:8092/udp -p 8094:8094/tcp -p 8125:8125/udp --restart=always -v /volume1/docker/telegraf/mibs:/usr/share/snmp/mibs -v /volume1/docker/telegraf/configuration:/etc/telegraf -v /volume1/docker/telegraf/logs:/var/log/telegraf -e "TZ=Amer

[2021-12-23 01:49] dschemp opened #10338 "ARM Docker container images based on Alpine"
### Proposal:

Add support for ARMv7 / ARMv8 (arm64) Alpine Docker images just like the non-Alpine / "normal" images.

### Current behavior:

There exists no such images.

### Desired behavior:

Parallel Alpine Docker images for ARMv7 / ARMv8 (arm64)

### Use case:

Lightweight containers on ARM servers like Raspberry Pi's.

[2021-12-23 10:25] 999eagle commented on #10297
I've tested the new artifact now (again with `--once --debug`), here's the relevant log:

[code]

Seems like the mount points are now correct and thus both devices are kept! Thanks!

[2021-12-23 17:43] #10278 closed

[2021-12-23 20:34] #9749 closed

[2021-12-24 08:14] zzcpower commented on #9993
hi there, any update yet? I just encountered the same issue

[2021-12-24 11:10] beparmentier opened #10346 "SNMP: failed to parse mibs"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

Dec 24 11:56:37 odin telegraf[85513]: 2021-12-24T10:56:37Z I! Starting Telegraf 1.21.1
Dec 24 11:56:44 odin systemd[1]: Stopping The plugin-driven server agent for reporting metrics into InfluxDB...
Dec 24 11:56:45 odin telegraf[85513]: Parse module: /var/lib/snmp/mibs/ietf/DPI20-MIB:9:4: unexpected "ibm" (expected ";")
Dec 24 11:56:48 od

[2021-12-24 12:57] deuntje commented on #10281
Please add support for older versions in your repo, in the [Debian repo](https://repos.influxdata.com/debian/pool/stable/t/telegraf/) I can only find the latest broken version, downgrading using apt install telegraf=1.20.4-1 is not possible. For these cases it would be very nice to have the latest X releases available on your repo. I had the luck that I had an old .deb file in my /var/cache/apt/ar

[2021-12-24 16:24] jostrasser commented on #10346
Hi,
I am getting also issues with SNMP after updating Telegraf to 1.21.1 on Ubuntu 20.04:

[code]

[2021-12-24 18:09] DennisBayer opened #10347 "Regression: CSV parser does not handle csv_skip_rows correctly"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

_Note_: I added new lines in the test run between each mtr output for easier reading.

**1.20.4**

[code]

[code]

[code]

**1.21.1**

[code]

[code]

[code]

### System info

Telegraf 1.21.1; Docker Compose version 2.2.2; Docker version 20.10.11, build dea9396e18; Manjaro

### Docker

**./telegraf/Dockerfile-mtr**

[code]

**./docker-com

[2021-12-25 07:14] jjh74 commented on #10287
@alcoralcor what are permissions on `/var/www/vhosts/system/myvhost.fr/` directory (`ls -lad  /var/www/vhosts/system/myvhost.fr/`) ?
I think telegraf needs `rx` permissions on the directory to glob for the socket:
https://github.com/influxdata/telegraf/blob/master/plugins/inputs/phpfpm/phpfpm.go#L299-L302

[2021-12-25 07:55] flyly0755 commented on #8136
With same issue, when insert data to cluster, no related with Telegraf cos no Telegraf in the machine.
2021.12.25 15:44:27.039463 [ 4112 ] {} <Error> ServerErrorHandler: Poco::Exception. Code: 1000, e.code() = 104, e.displayText() = Connection reset by peer, Stack trace (when copying this message, always include the lines below):

0. Poco::IOException::IOException(int) @ 0x18cda73f in /usr/bin/cli

[2021-12-26 12:31] l-fy commented on #7218
I'm working on a module for serial. I intend to use https://github.com/bugst/go-serial because it supports better hardware flow control.
I will most likely publish it under my account in the next week or so.

[2021-12-26 15:09] jjh74 commented on #10347
I think problem is https://github.com/influxdata/telegraf/pull/9865: commit (https://github.com/influxdata/telegraf/commit/db869047596ae9e78d1009bfcf3adf46a86b7032#diff-2c668efeba00e299cb699055ee85b8a114f60aae8d7684c4f4f70ac2bc1b70f4) changes skiprow loop from:
[code]
to
[code]
So on second input `p.SkipRows` is already zero. (Probaly similar problem with `p.HeaderRowCount`).

As a workaround you

[2021-12-27 07:01] soroush-ghorbani opened #10348 "Weblogic application list"
Hi
I use telegraf to get data from Jolokia Jmx exporter.
List of all applications deployed on Weblogic available in rest output from Jolokia with:
http://localhost:7001/jolokia/read/com.bea:Name=*,ServerRuntime=*,Type=ApplicationRuntime

but
[[input.jolokia2_agent.metric]]
  name = "ApplicationRuntime"
  mbean = "com.bea:Name=*,ServerRuntime=*,Type=ApplicationRuntime"
[[output.prometheus_client]]

[2021-12-27 07:10] #10348 closed

[2021-12-27 07:11] soroush-ghorbani commented on #10348
metric_version of Prometheus is 1 and need to be set 2

[2021-12-27 08:52] dlundh1 commented on #10346
It would be great if Telegraf could parse the mibs you get when you download the operating systems SNMP package.

[2021-12-27 09:03] jostrasser commented on #10346
Downgrading to Telegraf 1.20.4 (git: HEAD 34ad5aa1) solves the issue for me.

[2021-12-27 09:05] beparmentier commented on #10346
I also downgraded telegraf to version 1.20.4 and it solves the issue.

[2021-12-27 10:44] DennisBayer commented on #10347
Thanks for reaching out and digging in the changeset.

Yeah, seems like there is some hassle with the counter, which should not be decreased - at least not the original config value.
Unfortunately, I'm not proficient enough in the go language nor in the project architecture to provide a patch.

Related to your workaround:

The debug run looks good, ...

[code]

...but the log still complains about

[2021-12-27 11:02] l-fy opened #10349 "serial module"
## Serial Module

Adding a module that can detect and read from the serial port and maybe use a regex to split read values into infludb messages.
### Proposal:

I've started to work on a serial module and I intend to commit it soon.
This is the starting conversation related to it.

[2021-12-27 12:51] pradig opened #10350 "[inputs.vsphere] Unable to find metric name for id 355. Skipping!"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

Dec 27 12:48:50 orfeo telegraf[10823]: 2021-12-27T12:48:50Z I! [inputs.vsphere] Unable to find metric name for id 355. Skipping!

### System info

Telegraf 1.21.1 (git: HEAD 7c9a9c17), Linux 5.4.0-91-generic #102-Ubuntu SMP

### Docker

_No response_

### Steps to reproduce

Connect to vCenter 7.0.3-18778458
Start plugin

### Expected beh

[2021-12-27 15:23] thegrima commented on #8756
Encountered the same exact problem with Telegraf 1.21.1 on Windows.

`csv_timezone = "Europe/Brussels"`

Always provokes an error :
`
2021-12-27T15:09:20Z E! [inputs.directory_monitor] Error while reading file: 'D:\temp\telegraf\in\/simple.csv'. The system cannot find the path specified.
`
As soon as the timezone is commented, it works.

Best guess (as a newbie in Telegraf and Go) is the timezone

[2021-12-27 15:32] thegrima commented on #8756
If this help :

**Releveant telegraf configuration**
[code]
**Example file**
[simple.csv](https://github.com/influxdata/telegraf/files/7780805/simple.csv)

[2021-12-27 15:50] rafalkrupinski commented on #9562
I suspect the problem is with the timestamp. in Influx it's nanosecond precision, while in PG it's only microsecond

[2021-12-27 19:48] bmhkb4 opened #10351 "Telegraf Agent Health Check"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
The Telegraf agent can sometimes lose connectivity to input or output endpoint.  It fails with a log line fed to stderr, but the process stays up instead of crashing.  I propose either we kill the telegraf binary process, or add a telegraf health check endpoint to trigger a corresponding container orchestrator act

[2021-12-28 08:50] jnguiot commented on #10346
Same here. Downgrade temporarily fixes the problem.
However, the issue seems to come from the fact that on Ubuntu, default path is set to  ["/usr/share/snmp/mibs"], which does not exists. It causes the application to crash.
However, to fix it:
- if you have `snmp-mibs-downloader`, set `path = ["/var/lib/snmp/mibs/"]`
- if not, set `path = []`

To me, the real bug is this one:
Steps to reproduce:
-

[2021-12-29 00:09] Victor-D commented on #3462
Also you could specify in the documentation that telegraf logs are, for now, in UTC-0. As this request is closed I will open a PR for that.

[2021-12-29 03:10] ashleighverma opened #10353 "Wavefront Jolokia.jolokia.Atom.ExecutionManager.RunningExecutionEstimatedCount reporting wrong FE Count"
Hi, we've been having issues with our Wavefront misreporting the 'Forked Execs + Workers + Browsers (JMX)'. After June 2020 the graph started seeing the source is reporting lesser value. For this source earlier the raw value was around the range of 3 to 15. But starting from June 2020, for this source the raw value is around the range of 0 to 9. This issue is happening across all of the sources wh

[2021-12-29 10:43] sajoupa commented on #10346
Since https://github.com/influxdata/telegraf/commit/e00147ded38af30f945935ad626aa8be71700b6d, telegraf doesn't panic if the default path doesn't exist, but it will exit with an error.

https://github.com/influxdata/telegraf/pull/10354 makes it log a warning and continue. It also adds a test which would have caught the issue.

[2021-12-29 11:23] dlundh1 commented on #10346
I haven't had a panic. I just wish telegraf parsed MIBs it used to parse back on 1.20.

[2021-12-29 11:40] sajoupa opened #10355 "SNMP input plugin: error when the mib folder is missing"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

telegraf 1.21.1, ubuntu 20.04

### Docker

_No response_

### Steps to reproduce

1. start telegraf with the snmp input plugin activating, but without installing the package providing /usr/share/snmp/mibs
2. inspect logs

### Expected behavior

telegraf remains up and collects data from snmp

### Actual behavior

[2021-12-29 11:43] sajoupa commented on #10346
That's right, I was mislead by a comment showing the panic. I created a new issue for the panic (now just an error, since https://github.com/influxdata/telegraf/commit/e00147ded38af30f945935ad626aa8be71700b6d): https://github.com/influxdata/telegraf/issues/10355. And linked the PR to the new issue instead of this one.

[2021-12-29 18:53] lchan007 opened #10356 "config-directory not working in Windows 10"
### Relevent telegraf.conf

`--config-directory` is not working as expected on Microsoft Windows 10 Pro. Multiple `--config` is working

telegraf.exe --config "c:\Program Files\Telegraf\conf\inputs.conf" --config "c:\Program Files\Telegraf\conf\outputs.conf" --once [WORK]
telegraf.exe --config-directory "c:\Program Files\Telegraf\conf" --test [NOT WORK]
telegraf.exe --config-directory "c:/etc/tele

[2021-12-30 10:23] veprimk commented on #8261
I have the exact same problem and use the same configuration.  @jbrentfoster did you get it working or still having the problem?

[2021-12-30 12:19] rikvdh opened #10357 "Disk input is broken when /proc is mounted with hidepid=2 and telegraf running as non-root"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

telegraf[23083]: 2021-12-30T12:17:50Z E! [inputs.disk] Error in plugin: error getting disk usage info: open /proc/1/mounts: no such file or directory

### System info

Debian 11

### Docker

_No response_

### Steps to reproduce

1. mount -o remount,hidepid=2 /proc
2. diskinfo is gone

### Expected behavior

Diskinfo

### Actual behavior

[2021-12-30 12:51] mspencerl87 commented on #10290
Downgrading to 1.20.4 also resolved all my issues. Happy holidays.

[2021-12-30 22:07] igomura opened #10358 "json_v2 fails if input data contains null values"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

2021-12-30T21:56:57Z E! [inputs.file] Error in plugin: unknown format '<nil>' for field  'storage_redis_caCertificates'

### System info

telegraf-1.19.0-0.1.x86_64, CentOS 7

### Docker

_No response_

### Steps to reproduce

Input data file:
`{
  "config": {
    "apikey": "*",
    "ipAddressEnabled": true,
    "initialization": {

[2021-12-30 23:24] junior466 opened #10359 "ping_interval won't override agent"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

...

### System info

Ubuntu 20.04

### Docker

_No response_

### Steps to reproduce

1.Ping
2.
3.
...

### Expected behavior

Ping be send every 300s.

### Actual behavior

Ping is being sent at 10s interval as per agent.

### Additional info

My files are split into multiple files located at `/etc/telegraf/telegraf.d`.

[2021-12-31 13:40] byte-opps commented on #10347
I have a simular issue with inputs.exec  running a powershell script that spits out csv. The first loop is fine and writes to DB the next loop the csv header is not skipped and so the fails the data type check and no data is recored. i have version Telegraf 1.21.1 (git: HEAD 7c9a9c17)

telegraf.conf
[[inputs.exec]]
  commands = ["powershell.exe c:/Program` files/influxdata/telegraf/get-memory-deta

[2022-01-01 06:22] Howie59 commented on #10359
/assign

[2022-01-01 09:36] jjh74 commented on #10359
I think you want `interval`:
[code]
AFAIK `ping_interval` is used when `count` is higher than 1. For example:
[code]
would every 30s send three packets and wait 1.5s between packets.

[2022-01-01 18:24] utsukprani opened #10362 "Jolokia2 weblogic.conf - Weblogic Specific Metrics not working"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

2022-01-01T18:13:51Z I! Starting Telegraf 1.20.0
2022-01-01T18:13:51Z D! [agent] Initializing plugins
2022-01-01T18:13:51Z D! [agent] Starting service inputs
2022-01-01T18:13:51Z D! [agent] Stopping service inputs
2022-01-01T18:13:51Z D! [agent] Input channel closed
2022-01-01T18:13:51Z D! [agent] Processor channel closed
2022-01-01T18:13

[2022-01-02 10:24] goliath888 opened #10364 "Telegraf prevents a hard drive from going to sleep"
I am running telegran 1.20.4 in docker (with grafana, influxdb) in a system with OpenMediaVault 6 (Debian).

I have installed [hd-idle](https://github.com/adelolmo/hd-idle) to manage when my disks should spin down when they are not in use.

I had one disk that was unable to spin down and after a lot of try and failure I found out that was telegraf container who prevented to spin down. As soon I as

[2022-01-02 22:39] siehar opened #10365 "processors.parser doesn't seem to work with json_v2 data_format"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.21.1 (git: HEAD 7c9a9c17) (both on Debian 11 and Ubuntu 20.04, amd64); installed via Debian package downloaded from Github Releases page

### Docker

not applicable

### Steps to reproduce

1. Place a file `foo.json` into working directory with content e.g. `{"time": "2022-01-01T21:57:10", "test": 123}`

[2022-01-03 07:59] rbott commented on #10290
Since the PR has already been merged, do you know when the next release/Debian package will be shipped? We currently need to manually downgrade the package on each newly deployed Debian system.

Would it be possible to withdraw the 1.21.1 package from the Debian Repository in the meantime?

[2022-01-03 08:30] alcoralcor commented on #10287
@jjh74 here are directory permissions : `drwx--x--x 7 root psaserv `
So no `rx` permissions and I can't change these permissions or Plesk will raise an issue when checking these managed folders.
On a functional basis, is this requirement mandatory or is it just a check in the code ?

[2022-01-03 10:12] Mrx381 commented on #645
Try to Run this command  sudo chmod 666 /var/run.docker.sock.

[2022-01-03 11:17] miurlit opened #10366 "CSV parsing issue"
Since version 1.21 there seems to be an issue with CSV files, I am getting a parsing error:

`Jan  3 02:14:20 raspberrypi telegraf[426]: 2022-01-03T01:14:20Z E! [inputs.file] Error in plugin: parsing time "dd/MM/yyyy HH:mm:ss z" as "02/01/2006 15:04:05 -0700": cannot parse "dd/MM/yyyy HH:mm:ss z" as "02"`

If revert back to 1.20.4 no error occurs with the same CSV file.

Thanks

[2022-01-03 13:44] alespour opened #10367 "Graylog output plugin: add connection TTL option"
## Feature Request

Add connection TTL option to avoid node overload when using multiple load-balanced GL servers. Request per [comment](https://github.com/influxdata/telegraf/pull/9644#issuecomment-998264644) in PR #9644.

Generic problem description: https://www.ateam-oracle.com/post/long-lived-tcp-connections-and-load-balancers

### Proposal:

Add connection TTL option.

### Current behavior:

[2022-01-03 13:44] alespour commented on #10367
Please assign to me, if you will.

[2022-01-03 16:47] hshelly opened #10368 "VSphere Plugin: Enable Host_Group Attribute exported in metrics"
## Feature Request

Customers are wanting to collect Host_Group Attributes to be exported in metrics collected from VSphere.
### Proposal:
Enable this field to be included in the customer_attribute_include field list to be optionally collected for metrics.

### Current behavior:
The VMs associated with any Host_Group are not tagged as being a member.

### Desired behavior:
Ensure the VMs are tagge

[2022-01-03 22:55] LQss11 commented on #10050
Running `chmod 666 /var/run/docker.sock` once the container is started solved that issue for me.

Also, I guess adding this line to dockerfile might solve it as well:
`VOLUME /var/run/docker.sock`

PS: am running **telegraf:1.21** docker image.

[2022-01-03 23:07] micko opened #10370 "amqp_consumer - invalid character '{' after top-level value"
Hi, I have a "inputs.amqp_consumer" configured to pull data from rabbitmq (originally inserted in rabbitmq from pmacct) as a json format. I keep getting the following error message:

2022-01-03T22:46:01Z E! [inputs.amqp_consumer] Error in plugin: invalid character '{' after top-level value

the actual string in question is:

2022-01-03T22:23:01Z E! [inputs.amqp_consumer] Error in plugin: metric pa

[2022-01-03 23:33] effitient commented on #6574
For Pods in Kubernetes the following annotation must be added to solve this issue:

`container.apparmor.security.beta.kubernetes.io/<container-name>: unconfined`

Replace `<container-name>` accordingly.

[2022-01-04 00:03] micko commented on #10370
here is the formatted string again:
`"{\"event_type\": \"purge\", \"as_src\": 65101, \"as_dst\": 65101, \"iface_in\": 520, \"iface_out\": 521, \"ip_src\": \"129.7.137.188\", \"ip_dst\": \"142.250.115.128\", \"port_src\": 19557, \"port_dst\": 443, \"tcp_flags\": \"24\", \"ip_proto\": \"tcp\", \"stamp_inserted\": \"2022-01-03 22:20:00\", \"stamp_updated\": \"2022-01-03 22:23:01\", \"packets\": 4, \"

[2022-01-04 07:26] jjh74 commented on #10287
@alcoralcor AFAIK `rx` is mandatory: the code needs to read entries inside the directory (to be able to support glob patterns (for example: `/run/php-fpm/*.sock`)).

As a workaround you could try: create a directory where telegraf has `rx` on the directory and then symlink the original socket and use the symlink:
[code]

[2022-01-04 08:29] offbyone commented on #10298
It would be nice if this were left open til the release, so that we would get notifications when the release happens.

[2022-01-04 08:48] zenzxjul commented on #8890
I'm a bit late to the party here but I had the same issue with a Siemens S7 1500 PLC. Yesterday I stumbled upon  @R290 reply:

and so I updated telegraf on the affected system to v1.21.1 yesterday afternoon and so far (about 18h later) I've not encountered these timeouts again.

[2022-01-04 14:51] rudigerlove opened #10372 "blank spaces not parsed in statsd data"
### Relevent telegraf.conf

[code]

### Logs from Telegraf

ctrcoll01:/data/TEMP/SRI# ./telegraf --debug --config ./telegraf.conf
2022-01-04T13:51:07Z I! Starting Telegraf 1.19.3
2022-01-04T13:51:07Z I! Loaded inputs: statsd
2022-01-04T13:51:07Z I! Loaded aggregators:
2022-01-04T13:51:07Z I! Loaded processors:
2022-01-04T13:51:07Z I! Loaded outputs: file
2022-01-04T13:51:07Z I! Tags enabled: host=

[2022-01-04 14:54] powersj commented on #8136
Per @piotrp this issue is resolved with newer versions of telegraf, as such I am going to close this issue.

[2022-01-04 14:54] #8136 closed

[2022-01-04 14:57] powersj commented on #10349
Please use #7218 for this work. No need to have a 2nd issue open.

[2022-01-04 14:57] #10349 closed

[2022-01-04 15:03] alcoralcor commented on #10287
Thanks @jjh74.
I tested your workaround and it works.
However, it does not seem justified to me to test access to a folder when a path to a unix socket has been set.
In addition, the error message is not specific enough for the test performed.
Telegraf should be as precise as system permission access and as flexible as cgi-fcgi and socat.

Sorry @powersj, I didn't manage to test your steps to repr