[2020-11-15 22:26] gkatzioura opened #8412 "Google Cloud Storage Input Plugin"
## Feature Request

Google Cloud Storage (GCS) is a RESTful online file storage web service. Similar like the file Plugin the proposal is to use the Cloud Storage as an Input.

### Proposal:

Google Cloud Storage has the ability to list the files in lexicographic order. This helps alot when logs files are stored with a date prefix, or their lexicographic order is based on the time the files were c

[2020-11-16 01:49] falconkirtaran opened #8415 "SNMP agent cannot accept link-local IPv6 addresses for agent"
### Relevant telegraf.conf:

[code]

### System info:

Ubuntu 20.10, telegraf version 1.15.2+ds1-0ubuntu1

### Steps to reproduce:

[code]

### Expected behavior:

Telegraf should connect to `[fe80::1234:56ff:fe78:9abc%eth0]:161`.

This is the normal way to specify an IPv6 address - without the %eth0 scope, the address is ambiguous because the same subnet exists on all interfaces, so the system wi

[2020-11-16 07:40] rightkick commented on #802
Ended up adding rabbitMQ into the mix to ensure data persistence at Telegraf buffer.

[2020-11-16 09:33] mlbzssk commented on #8395
@reimda Hi！Can you help me look at this problem?I'm not sure what's wrong with the way I use it or anything.Thank you in advance. Issue: https://github.com/influxdata/telegraf/issues/8394

[2020-11-16 14:23] SimonMcN commented on #8410
Did you go through the troubleshooting steps ??

Troubleshooting
On Linux, the list of disks is taken from the /proc/self/mounts file and a statfs call is made on the second column. If any expected filesystems are missing ensure that the telegraf user can read these files:

$ sudo -u telegraf cat /proc/self/mounts | grep sda2
/dev/sda2 /home ext4 rw,relatime,data=ordered 0 0
$ sudo -u telegraf sta

[2020-11-16 14:26] SimonMcN commented on #8410
might also be worth sharing the result of the mount command too

[2020-11-16 14:37] minjaeapa opened #8416 "would like -config-directory to operate like -config http://endpoint"
## Feature Request

I like the fact that you can centrally store and load config files with the -config http://endpoint syntax.  It would be nice to be able to use the same syntax to read multiple config files from a web directory with -config-directory http://endpoint/d/.  Im not expecting this to be a part of the Influxdb 2 API, as I can see the complications with providing keys to access those

[2020-11-16 14:46] prydin commented on #8316
Could you please send me some logs? A common problem is that the vpxd.stats.maxQueryMetrics in vCenter is set too low. vCenter is a bit quirky in the way it counts rows in cluster performance queries, so even if it looks like this value is set very high, you may still run into problems. Try setting it to -1 for unlimited query complexity.

[2020-11-16 14:54] #8405 closed

[2020-11-16 16:00] SimonMcN commented on #8382
It's odd.  REsults are now as follows:

2020-11-16T15:51:56Z W! [inputs.win_perf_counters] error while getting value for counter "\\\\mymachine\\Process(LogonUI#1)\\% Processor Time", will skip metric: The data is not valid.
2020-11-16T15:51:56Z W! [inputs.win_perf_counters] error while getting value for counter "\\\\mymachine\\Process(conhost#4)\\% Processor Time", will skip metric: The data is n

[2020-11-16 16:00] SimonMcN commented on #8382
oh, git hub is removing the escaping

[2020-11-16 16:01] SimonMcN commented on #8382
![image](https://user-images.githubusercontent.com/26037555/99276866-0653fa80-2825-11eb-90f6-e55dcc7a76e6.png)

[2020-11-16 16:04] Trovalo opened #8417 "Error - configuration specified the fields ["__something__"], but they weren't used"
### Relevant telegraf.conf:
[code]

Here is the error  I get
[code]

### System info:
- Windows Server
- Equivalent to Telegraf Nightly (I usually make my own build)

### Steps to reproduce:

- Specify some additional static tags in an input plugin using the `[inputs._inputname_.tags]`
In my case I've just used the internal plugin, but I think the issue present itself on any plugin.

### Expected

[2020-11-16 16:06] phil-or opened #8418 "Redfish plugin error parsing input: json:"
### System info:

Telegraf Version 1.16.2
OS: CentOS7
Management Type: CIMC4.0(2g)

### Steps to reproduce:

Use the Redfish Input-Plugin with CIMC4.0

### Expected behavior:

Parse correct results

### Actual behavior:

Today I discovered the Redfish-Plugin. Great that there is such a plugin to write thermal and power metrics to influx and visualize them with Grafana.
I tested it out with HP ILO5

[2020-11-16 16:10] jorgedlcruz commented on #8316
Hello,
Sure, enabled the parameter on VMware as you mentioned, following VMware instructions. Restarted telegraf, this was working without me editing the vCenter a few of telegraf editions ago, log:
`2020-11-16T15:22:28Z I! Loaded inputs: cpu (2x) disk (2x) diskio (2x) http http_response ipmi_sensor kernel (2x) mem (2x) net netstat ping processes (2x) swap (2x) system (2x) vsphere (2x) x509_cert
2

[2020-11-16 16:38] prydin commented on #8316
It could be that the number of VMs has grown. Some background: When you ask for the cluster metrics, vSphere actually constructs it from VM and host metrics. That query can be very complex and it appears that vCenter is counting the total number of rows queried from VMs and hosts.

Is the log you posted from after you made the change? Is it working now?

[2020-11-16 16:52] andretmfarias commented on #8139
I applied the settings mentioned here, everything works now. Thanks a lot for the help!

[2020-11-16 16:56] jorgedlcruz commented on #8316
The amount of VMs in my environment is very low, just 32 powered on but I get the point :) Yes, the log is after the parameter was added to the vCenter.

Nope, still no usage average at all. I could always get the vSphere_Cluster_mem - usage_average without a problem, but not the cpu_average. Really strange, I am not alone, and this is a new vanilla telegraf + influxdb

[2020-11-16 17:22] sjwang90 commented on #8418
@phil-or Can you please provide a sample of a config and possibly a sample of the Redfish JSON metrics you're reading?

[2020-11-16 18:14] sjwang90 commented on #7753
Hey @jjamesclt, this issue has been pretty stale for awhile. Hopefully the above solution is helpful. Feel free to re-open or reach out in the #telegraf channel in our [Community Slack](influxdata.com/slack).

[2020-11-16 18:14] #7753 closed

[2020-11-16 18:16] sjwang90 commented on #8106
Hi @Aynury, can you let us know what plugin you're running into these read data latency mismatches?

[2020-11-16 18:47] sjwang90 commented on #7735
@bigdatasunil @Tautcius Is this still an issue on the latest version of Telegraf?

[2020-11-16 18:48] sjwang90 commented on #7183
Closing issue due to lack of information. Feel free to open if this is something you'd still like to see supported in Telegraf.

[2020-11-16 18:48] #7183 closed

[2020-11-16 19:43] ssoroka commented on #8409
try setting `method = "native"`

[2020-11-16 20:02] phil-or commented on #8418
Sure, my config is very simple and it works on a CentOS7 server with ILO 5, but it doesn't work on a CentOS7 with CIMC 4.x
[code]
I would like to read the basic metrics like temperatures, fan-speed and power consumption, but I know it's difficult to read out all fields with one tool because every Management Type (ILO4|ILO5|CIMC3|CIMC4|...) has a slightly different JSON-structure.

At the moment I

[2020-11-16 20:58] sjwang90 commented on #6423
1. Determine which code signing certificate from a public source (Linux) to use @darinfisher
   - Signcode - https://linux.die.net/man/1/signcode
1. Determine who will own on the influxdata side will own code signing certificate.
1. Incorporate it into Telegraf build process @ssoroka

[2020-11-16 20:59] #8402 closed

[2020-11-16 20:59] ssoroka commented on #8402
resolved in https://github.com/influxdata/telegraf/pull/8408

[2020-11-16 21:00] reimda commented on #8410
Double check your docker-compose config.  I think HOST_SYS is misconfigured

[code]
Shouldn't it be
[code]

[2020-11-16 21:06] reimda commented on #8410
HOST_SYS pointing to the proc dir explains the error you're getting so I'm closing the issue.  Feel free to reopen if correcting it doesn't fix the problem.

[2020-11-16 21:06] #8410 closed

[2020-11-16 21:40] ssoroka commented on #8416
I don't think what you're asking is possible. --config-directory _watches the filesystem_ for new files and collects them all. This is not possible over HTTP.
Instead do you want the ability to load multiple configs from URLs?

[2020-11-16 21:43] essobedo commented on #8403
@ssoroka I can check this one if you want. If so, could you clarify a little bit about what you expect exactly? I'm mean we can already create a custom error with the built-in function `fail(message)` unless I misunderstand what you want to do?

[2020-11-16 21:57] #8417 closed

[2020-11-16 22:21] ssoroka commented on #8411
I think we're fine with this change as long as it's a configuration option that needs to be enabled to take effect. If you'd like to open a PR we'd be happy to take a look at it

[2020-11-16 23:19] jacob-swanson commented on #8410
Thanks, @reimda. It's working. Seems so obvious now.

[2020-11-16 23:46] sjwang90 commented on #8037
Closing this issue. @SQLPRODDBA feel free to re-open if you are still seeing issues that isn't resolved the above guidance.

[2020-11-16 23:46] #8037 closed

[2020-11-16 23:49] sjwang90 commented on #7766
Hey @kerriwait, thanks for the suggestion. If your code is ready feel free to open a PR and we can get it reviewed.

[2020-11-16 23:51] sjwang90 commented on #7577
@anikas95  have you had a chance to take a look at @ghost's suggestions?

[2020-11-16 23:54] sjwang90 commented on #7522
Hey @neeles83, is still still an issue you're running into? Please provide any updates.

[2020-11-17 00:08] zak-pawel commented on #4269
I easily reproduced it using Telegraf 1.6.4.
I couldn't reproduce it using Telegraf 1.16.2 - seems that [mentioned bug](https://github.com/shirou/gopsutil/issues/420) in `github.com/shirou/gopsutil/cpu` was fixed [here](https://github.com/shirou/gopsutil/pull/611) in `v2.18.12` version. Currently Telegraf uses `v2.20.9`

[2020-11-17 00:11] zak-pawel commented on #4629
Seems like a duplicate of: https://github.com/influxdata/telegraf/issues/4269

[2020-11-17 00:57] sjwang90 commented on #8418
@sarvanikonda would have any feedback on why it works on a CentOS7 server with ILO 5, but it doesn't work on a CentOS7 with CIMC 4.x?

[2020-11-17 01:38] kerriwait commented on #7766
Hi @sjwang90,

I need to do a bit more work before it's ready to go, but I'll try and get this done over the next week or so; when is your next round of reviews happening?

[2020-11-17 01:56] sjwang90 commented on #7939
@zhaoxiangchun please let us know if this is still a problem

[2020-11-17 02:24] minjaeapa commented on #8416
Im thinking it would be unruly unless you were able to pass a file that contained the list of URLS... but that would probably be useful

[2020-11-17 03:40] sjwang90 commented on #7766
@kerriwait No rush. We review PRs pretty continuously and do feature releases at the end of the quarter. We're pretty backlogged right now and this PR may not make this quarter's review so feel free to take your time.

[2020-11-17 06:23] sarvanikonda commented on #8418
@sjwang90 I have used the standard DMTF redfish JSON structures for the redfish API calls, the reason why the plugin does not work with CIMC 4.x might be because it has the different JSON structure than standard DMTF redfish.

[2020-11-17 07:52] jutkarsh079 opened #8421 "inputs.kafka_consumer plugin not receiving any data"
Telegraf service is up and running without any errors but I can not see any data being consumed by telegraf from kafka.

**Telegraf config file:**

 `

     [[outputs.influxdb]]
      database = "snbb_network_kafka"
      urls = [ "http://192.168.100.102:8086","http://192.168.101.103:8086" ]

     [[inputs.kafka_consumer]]
       brokers = ["192.168.101.100:9092","192.168.100.100:9092"]
       top

[2020-11-17 08:14] rguptarg opened #8422 "certificates on the Windows server"
I want to monitor certificates on the Windows server

I can see "https://github.com/influxdata/telegraf/tree/master/plugins/inputs/x509_cert" but how can I do it on Windows server

[2020-11-17 08:43] kOstovic commented on #5939
Any status on this one?

[2020-11-17 08:58] vincent-gou commented on #8416
I don't know if this solution may be applicable in your setup but dynamic telegraf.conf may do the job.

I've successfully used node-red setup with telegraf like explained here: [Influxdata Blog Post](https://www.influxdata.com/blog/continuous-deployment-of-telegraf-configurations/) to maintain different telegraf configs for my clients.

For example i use these kind of url to pass parameters and g

[2020-11-17 09:01] srebhan commented on #7317
@kolmodin can you verify that with the change of @sensor-freak and changing the datatype to `FIXED` your issue is solved? If so, please close this ticket! :-)

[2020-11-17 09:45] bigdatasunil commented on #7735
I don't know, because we are not using telegraf anymore. We have
written our own connector for this.

On Mon, Nov 16, 2020 at 7:47 PM Samantha Wang <notifications@github.com>
wrote:

[2020-11-17 10:19] SimonMcN commented on #8422
You would have to do this by extracting the certs from the windows cert store to the file system, then reading them.  It doesn't look like the plugin supports reading them from the registry, which is where some certs are located.  This plug in will tell you details:
https://docs.microsoft.com/en-us/windows-hardware/drivers/install/local-machine-and-current-user-certificate-stores

They can be expo

[2020-11-17 11:40] domwoe commented on #7735
@sjwang90 I tested it with `1.16.0-1` about a week ago and it worked.

[2020-11-17 14:21] minjaeapa commented on #8416
I did look at your blog post actually, and I do have a lot of similar design requirements that you laid out in your post, and i found the node-red system compelling, but, since Influxdb2 is now official, and there looked like there was some direction to create telegraf configs via an API, and launch telegraf via a web request, this feature request was also an attempt to gain more insight into the

[2020-11-17 15:40] #4269 closed

[2020-11-17 15:40] #4629 closed

[2020-11-17 15:45] pepijnverburg commented on #7735
I see that your telegraf MQTT consumer `data_format` is still set to `influx`. Are you sure you are sending `influx` formatted data in the MQTT message?

You can change it to `json` and test it with a message `{"test": 24}` to be sure. Note: the key value pairs in the JSON string should have numeric values to be classified as metrics.

[2020-11-17 17:20] sjwang90 opened #8424 "Add nftables Input Plugin"
## Feature Request

### Proposal:

Request for an input plugin for [nftables](netfilter.org/projects/nftables/)

There is @herbautn's [fork of Telegraf with a plugin for nftables](https://gricad-gitlab.univ-grenoble-alpes.fr/vqgroup/telegraf-nftables/-/tree/master/plugins/inputs/nftables)

### Current behavior:

Telegraf only has a plugin for [iptables](https://github.com/influxdata/telegraf/tree/

[2020-11-17 17:29] sjwang90 commented on #8424
@nherbaut Would you be willing to submit a pull request for your [nftables input plugin](https://gricad-gitlab.univ-grenoble-alpes.fr/vqgroup/telegraf-nftables/-/tree/master/plugins/inputs/nftables) so other Telegraf users can run it?

[2020-11-17 17:53] essobedo commented on #8371
The corresponding PR https://github.com/influxdata/telegraf/pull/8423 that shows how to do it

[2020-11-17 20:26] door7302 opened #8425 "Integration of vFlow or Goflow Netflow/IPFIX collector module in a Telegraf input plugin"
## Feature Request
NetFlow/IPFIX collector as Telegraf's input plugin

### Proposal:
There are several nice Go Projects that provide reliable and scalable solutions to collect Netflox/IPFIX sample information from network devices.

- vflow  : https://github.com/VerizonDigital/vflow
- goflow : https://github.com/cloudflare/goflow

It would very useful to "backport" the " Netflow/IPFIX collector mod

[2020-11-17 21:14] ssoroka commented on #8371
fixed in https://github.com/influxdata/telegraf/pull/8423

[2020-11-17 21:14] #8371 closed

[2020-11-17 23:30] zak-pawel commented on #1719
Implemented in: https://github.com/influxdata/telegraf/pull/3072

[2020-11-17 23:30] #1719 closed

[2020-11-18 00:59] darinfisher commented on #6423
Looks like we are stuck with `signcode`.  I could not find any support for [MS Authenticode](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/authenticode) with the other suggestions.
Minisign with libsodium looks great, just doesn't support Authenticode.

Fortunately `signcode`, as part of the [mono project](https://github.com/mono/mono), is well maintained, has broad support, an

[2020-11-18 01:01] sjwang90 commented on #4493
@bbfoto has this problem been fixed? please closed if so or provide what error you are still receiving.

[2020-11-18 04:29] mcassaniti opened #8427 "RAM usage grows when installing Telegraf without any configuration"
When the Telegraf agent is installed on Linux and is not configured (because someone forgot to configure it) the RAM usage continues to increase. This may take days to become an apparent issue.

### Relevant telegraf.conf:

[code]

### System info:

<u>Version:</u> 1.15.3
<u>OS:</u> Ubuntu Linux 18.04.5 LTS
<u>Configuration:</u> Not modified from initial installation

### Steps to reproduce:

1. I

[2020-11-18 06:23] squidpickles commented on #7990
@srebhan It works! Fantastic, thanks.

[2020-11-18 06:23] #7990 closed

[2020-11-18 07:37] JaeSim opened #8430 "Failed connect mongodb-cluster with tls certs. X509 error in dial"
Hello,
I configured a mongodb cluster that enabled ssl with certs files.

That is 3-nodes replica set and they are work well with ssl option.

I tried to set configure to gather metrics of mongodb as like below,

[code]

but, telegraf display errors.
[code]

tls filses of [[outputs.http]] and [[inputs.mongodb]] is different. Should those are same cert files?
The cert files of [[inputs.mongodb]] is

[2020-11-18 07:39] CarlosEssun commented on #8421
i have same issue

[2020-11-18 07:43] Sverik commented on #690
I am actively using this in a production environment. I have rewritten the plugin, though, to use
`github.com/libvirt/libvirt-go` and include only metrics that are necessary for us.

[2020-11-18 07:57] JaeSim commented on #8430
it was solved by set #  insecure_skip_verify = false to #  insecure_skip_verify = true

[2020-11-18 07:57] #8430 closed

[2020-11-18 10:01] #2546 closed

[2020-11-18 10:42] aklyachkin opened #8431 "Builds for Linux on OpenPOWER (ppc64le)"
## Feature Request

Add building packages for Linux/ppc64le

### Proposal:
Add new architecture to Makefile. GOARCH=ppc64le. The architecture is supported by Golang since 1.8. There are no additional resources needed, just adding several lines to Makefile. The pull request will follow.

### Current behavior:
No packages for ppc64le.

### Desired behavior:
Packages for ppc64le are built automatical

[2020-11-18 10:51] rgroenewoudt opened #8433 "Multiple processes with same name not tracked in Windows"
I have multiple processes with the same name, for example w3wp.exe. I would expect all of them are tracked but I only see 1 process in InfluxDB.

### Relevant telegraf.conf:

[code]

### System info:
Windows Server 2019 Datacenter 1809
Telegraf 1.15.4
InfluxDB 1.8.3-1

### Expected behavior:
Task Managed shows multiple w3wp.exe processes.
![image](https://user-images.githubusercontent.com/39033010

[2020-11-18 11:15] aklyachkin commented on #8431
The artifact test on a ppc64le system:

[code]

[2020-11-18 11:38] zak-pawel commented on #8431
@aklyachkin Did you try to run tests for this architecture? Do they pass?
[code]
and
[code]

[2020-11-18 14:31] aklyachkin commented on #8431
@zak-pawel Yes, I run. The output is very long, but I don't see any FAILs:

[code]

First output:
[code]

Second output:
[code]

[2020-11-18 16:42] KarstenSchnitter commented on #7123
This is great news. I have not found the time to try that out yet. Shopify/sarama v1.27.1 should support zstd compression out of the box.

[2020-11-18 17:52] vinnitu opened #8434 "data_format like https://bigeasy.github.io/packet/"
Hello.

Nice have https://bigeasy.github.io/packet/ data_format type to parse binary input data

BTW how to add custom data_format for all type input sources?

[2020-11-18 18:08] sjwang90 commented on #3897
If anyone is interested wants to work on this, feel free to clone @doransmestad's PR #3544.

Due to the late activity, it may be best to have this output plugin as an [external plugin](https://github.com/influxdata/telegraf/blob/master/docs/EXTERNAL_PLUGINS.md). Telegraf users would be able to start using this plugin quicker.

[2020-11-18 21:58] sjwang90 commented on #7735
Thanks @domwoe and @pepijnverburg.

@bigdatasunil if you'd like to try out the MQTT plugin again check out @pepijnverburg's comments.

Closing this issue, feel free to re-open if issue persists.

[2020-11-18 21:58] #7735 closed

[2020-11-19 00:16] sjwang90 commented on #824
If anyone is interested in taking over @toni-moreno's JBoss input plugin PR #3537 please feel free to do so.

As this plugin is rather large so far I'd suggest submitting it as an [external plugin](https://github.com/influxdata/telegraf/blob/master/docs/EXTERNAL_PLUGINS.md). Telegraf users would be able to use the plugin sooner by having it as an external plugin since it wouldn't have to go throug

[2020-11-19 02:22] sunghyebae commented on #8380
Thanks!!

[2020-11-19 02:22] #8380 closed

[2020-11-19 14:37] stenehall opened #8437 "Proxmox: "search domain is not set""
### Relevant telegraf.conf:

[code]

### System info:
Telegraf 1.16.2 tested on docker and on OSX
Proxmox 6.2-15

### Steps to reproduce:

1. Empty `telegraf.conf` file except for above
2. Run `telegraf --config telegraf.conf --input-filter proxmox --test`

### Expected behavior:

I would assume this to not return an error

### Actual behavior:

outputs:
[code]

### Additional info:

Trying to acc

[2020-11-19 14:40] christophedc0 commented on #8437
I have the same issue, basic config file.

`search domain is not set`

on the proxmox node I get the correct output using `pvesh`

[code]

[2020-11-19 16:15] ssoroka commented on #8437
as far as I can tell from the code it's doing a request to `/nodes/{NodeName}/dns` and getting back a json object, then looking for the data object in there, then looking for "search", and it's erroring because search is empty. What do you get from this endpoint if you do the http get yourself?

[2020-11-19 16:20] ssoroka commented on #8437
I noticed you're not setting the `node_name` argument in your config

[2020-11-19 16:41] christophedc0 commented on #8437
This is what I have in my config:

`

if I run
`curl https://X.X.X.4:8006/api2/json/nodes/philip-price/dns -k -d 'telegraf@pam!monitor=APIKEY'`
I also don't really get an output (but I'm not a curl expert)

[2020-11-19 16:43] stenehall commented on #8437
Thanks for the help! While not having node_name in my scaled down example I did try it with a `node_name` before. However in the same way as @christophedc0 did it. With a "-". Removing the dash actually made my setup work.

[2020-11-19 16:47] christophedc0 commented on #8437
I retried my config without a "-" in the node_name, the issue still exists (and the proxmox hostname truly has a hyphen in it)

[2020-11-19 17:12] christophedc0 commented on #8437
I managed to get my config also working.

Issue was:
I assigned the permission to the API token `telegraf@pam!monitor`, this should've been the user `telegraf@pam` in Proxmox.

[2020-11-19 18:04] danielmotaleite commented on #6559
@JoveYu and @danielnelson , the https://github.com/influxdata/telegraf/pull/6772 was closed without merging. Any info about any backstage changes to get this improved? we need the netstat to track the high number of connections, but as we have many, telegraf consumes way too much resources to have it enabled. Basically, when this plugin would be useful is exactly where we can't use it.

If there i

[2020-11-19 18:10] Kedesai commented on #6559
Great!! and someone commented that they did not see this issue and they run 1k servers.  I wonder why the ticket closes without the customer verifying which I cannot understand. Poor practice.

[2020-11-19 18:24] essobedo commented on #8403
The corresponding PR https://github.com/influxdata/telegraf/pull/8439

[2020-11-19 19:05] ssoroka commented on #8427
thanks for the bug report. are you able to reproduce this in 1.16.2?

also curious if there's a minimum set of inputs that you still see the issue for. i'm suspicious of inputs.processes.

[2020-11-19 19:37] stenehall commented on #8437
So this was clearly not a bug, if anything it was a documentation that was a bit hard to understand. Closing this.

[2020-11-19 19:37] #8437 closed

[2020-11-19 22:48] mcassaniti commented on #8427
I'll seek permission internally and let you know.

[2020-11-20 11:00] gerilya commented on #8134
@sjwang90 as v1.16 went out approx one month ago, I am wondering whether you have an ETA for merging this nice feature into the master branch. Thank you

[2020-11-20 12:16] mirkocomparetti-synesis opened #8442 "Disable test configuration"
## Feature Request

At the moment, when telegraf is installed/updated from the package manager in ubuntu, there is a default configuration that saves cpu, disk, mem, ... stats into the database. In our case we are not interested in this and we comment them out and write custom conf files in the telegraf.d folder which are read every startup. Anyway, the package update can overwrite the main config

[2020-11-20 13:24] afletch opened #8443 "Add configurable timeout to bind input plugin http call"
## Feature Request

### Proposal:

Add configurable timeout value to bind input plugin for the http request to bind

### Current behavior:
The http request currently has a static 4 second timeout value defined:
https://github.com/influxdata/telegraf/blob/master/plugins/inputs/bind/bind.go#L29
On loaded bind instances, or those with many zones, the http response time can often exceed this value.

#

[2020-11-20 14:11] rlenferink commented on #6675
I seem to have the exact same issue:
[code]

Snipped `apcaccess` output:
[code]

I am using Telegraf 1.16.2

[2020-11-20 14:14] elizino6 commented on #3408
Hi
Does telegraf still stupport output to TimescaleDB?
Regards,
IZ

[2020-11-20 15:52] #7288 closed

[2020-11-20 16:06] rlenferink commented on #6675
Apparently updating the dependency and testing against the latest `master` branch was easier then expected. PR #8444 updates the dependency after which the apcupsd plugin works again with a `BATTDATE` of `02/19/2020`.

[2020-11-20 16:07] mhall119 commented on #8427
Should there even be a default configuration? Or should this file be telegraf.config.example and force the user to copy and modify it?

FWIW, there's a Snap package of Telegraf that has this same issue

[2020-11-20 16:40] reimda commented on #8363
I don't have much experience running fips mode.  I understand it ensures only approved crypto algorithms will be used but otherwise the OS acts normally.  I expect telegraf would run fine on an os in fips mode.  Telegraf itself would not change its behavior though.  It may use crypto algorithms that are not approved by fips in this case.

[2020-11-20 16:40] #8363 closed

[2020-11-20 16:42] reimda commented on #8321
There is not enough information to show that this is a bug in Telegraf and not a misconfiguration of the platform it's running on, AWS and Fargate.  Feel free to reopen with more information.

[2020-11-20 16:42] #8321 closed

[2020-11-20 17:19] sjwang90 commented on #8134
There hasn't been any reviews on the PR yet, so we'll get someone to take a look.

@gerilya Can you confirm you've tested the PR and haven't run into any problems? Feedback from interested users helps expedite the PR process.

[2020-11-20 18:11] ssoroka commented on #8437
@stenehall It looks like we could potentially improve the errors around the requests. Do you know if it was returning a 403 http status code or anything? I think we're not checking the result status codes. I'd love to see what a failed response body and headers look like if you have access to that.

[2020-11-20 18:44] ssoroka commented on #8443
This sounds great. Are you comfortable making the change? There's a `config.Duration` field type that's perfect for this.

[2020-11-20 18:51] sjwang90 opened #8445 "update to Go 1.15.5 to fix cert vulnerability"
Go 1.15.5 fixes CVE-2020-28362 golang certificate vulnerability: https://groups.google.com/g/golang-announce/c/NpBGTTmKzpM/m/fLguyiM2CAAJ?pli=1

[2020-11-20 18:54] #6675 closed

[2020-11-20 20:20] sjwang90 commented on #8425
Currently we don't support binary (ex: protobuf) formats. There is a PR #3421 for support that may need some more progress.

I've opened some issues in goflow/vFlow repos to see if they're willing to support any other output formats in the meantime.

[2020-11-20 20:24] lspgn commented on #8425
GoFlow developer/maintainer here:
I'm not familiar with Telegraf/Influx, but if we are dealing with time-series, you will need to do an aggregation before insertion (eg: summing all sFlow packets by a key like destination ASN, port and protocol) which unfortunately is out of scope of the decoder.

Alternative that I've seen used with Logstash, you can have GoFlow output JSON in stdout (not using K

[2020-11-20 22:53] #8445 closed

[2020-11-20 22:54] ssoroka commented on #8253
Ok, might be a deeper bug in the kinesis input, then. Might need some help debugging this one.

Try increasing the max_undelivered_messages. I would guess it should be about the same size as the output batch size.  This variable controls a semaphore that could be causing it to lock up.

There's also two open issues on the upstream project that might be related, https://github.com/harlow/kinesis-co

[2020-11-21 08:42] stenehall commented on #8437
Me having problems with this was probably due to several things.

It's hard to actually set "search domain" in proxmox, I had a problem where it would just reset once networking was restarted. I didn't realise this at first and started debugging the telegraf side of it. Hence me actually commenting out node_name (since the docs said it wasn't needed and would use the hostname, but it seems to not

[2020-11-21 15:31] xcage7 commented on #8088
What more do you need?

[2020-11-21 16:52] essobedo commented on #7793
The corresponding PR https://github.com/influxdata/telegraf/pull/8447

[2020-11-21 17:39] naveenabt opened #8448 "Telegraf tail not working after "cannot allocate memory" error"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf version: 1.13
operating system: Amazon Linux

### Docker

Running Telegraf in docker

### Steps to reproduce:

1. ... Log more data to log file using concurrent request
2. ... Once memory full, getting below error.

E! [inputs.tail] Tailing \"app_logs.log\": Error reading app_logs.log: read app_logs.log: cannot allocate memory"

### Ex

[2020-11-21 22:23] zak-pawel commented on #6248
Super asterisk still doesn't work for Windows in Telegraf 1.16.2.

One file in `C:\Temp`
`dir /B C:\Temp`:
[code]

**Config:**
[code]

**Output:**
[code]

**Config with single asterisk:**
[code]

**Single asterisk works:**
[code]

I believe it is not a problem in `filestat` plugin itself but in `internal/globpath/globpath.go`
I adjusted `internal/globpath/globpath_test.go` to Windows here https://

[2020-11-21 22:38] zak-pawel commented on #6248
Also, it doesn't work with shashes in config:
[code]

[2020-11-22 03:04] samuelkadolph commented on #6316
I came across the issue and whipped up a script. Figured I'd share it for others.

[code]

In my case I have that script at `/etc/telegraf/ups` and added the following to my config:

[code]

[2020-11-22 10:46] door7302 commented on #8425
Thank you for your interest of my request. I will have a look if I could 'POC' some stuff to integrate a part of goflow code in an input plugin. I will share my tests. We will also need a plugin of "aggregation" to aggregate sample data before sending to "Timeseries" DB to avoid the explosion of cardinality :)

It's a nice challange I guess. As i'm not a "expert" in dev I will share my tests, samp

[2020-11-22 11:24] leopoldsedev opened #8449 "Multiple tail input instances with inotify not working as expected"
### Relevant telegraf.conf:

[code]

### System info:

[code]

### Steps to reproduce:

Run
[code]
and then in another terminal
[code]

### Expected behavior:

In the terminal where telegraf is running, something like
[code]

### Actual behavior:

[code]

### Additional info:
It seems like the inotify event only arrives at one tail plugin instance (either tail1 or tail2) for every file append.
It

[2020-11-22 12:26] sensor-freak commented on #6402
Just lost a few hours looking for the problem with my configuration, now I discovered that it wasn't my fault...

My file input contains measurements in arbitrary (not chronological) order, and the file has to be re-parsed in each interval. But when I try to csv-parse the timestamp field using the merge="override" option, all lines are receiving the same timestamp.

Maybe an additioinal parameter

[2020-11-22 15:14] youcann commented on #8361
Also interested (For a Siemens PAC2200)

[2020-11-22 16:05] zak-pawel opened #8451 "http_response plugin have issues when urls list contains IPv4 and IPv6 addresses"
Issue is present only when `interface` is set to proper value in `telegraf.conf`

### Relevant telegraf.conf for Windows:
[code]

### Relevant telegraf.conf for Linux:
[code]

### System info:
1. Telegraf 1.16.2 (but probably there is problem since `interface` was added to plugin here: https://github.com/influxdata/telegraf/pull/6006 - so from Telegraf 1.12.0)
2. Windows 10 Pro and Ubuntu 18

###

[2020-11-22 17:06] vttland opened #8452 "OPC UA Array off value"
Hello Im using op.ua is working well  and make great job but i have little issu i have a variable with  array i could correctly visualize it in my client but after telegraf in my influxdb V2 this variable is copied six time ( number of field)  whith the first value of array.
Have a special setting ?

[2020-11-22 17:14] giejay opened #8453 "[inputs.docker] No memory stats for docker containers"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf: telegraf:1.16.2
Raspberry Pi 4 with latest Raspbian

### Docker
[code]
### Steps to reproduce:

I have telegraf running on 2 Raspberry Pi's and 1 Odroid with Ubuntu. On 1 Raspberry and the Odroid, I can see the memory stats in grafana under the key docker_container_mem_usage.

Unfortunately, on my Raspberry Pi 4, the memory is always

[2020-11-23 09:29] SimonMcN opened #8455 "Solr plugin does not respect name_override"
conf file:
[[inputs.solr]]
  name_override = "Mytest_Solr"
  servers = ["http://localhost:8983"]

Issue:
Metrics are still reported as
solr_admin
solr_cache
solr_core
solr_queryhandler
solr_updatehandler

As these are hardcoded in the plugin.  would expect Mytest_Solr_Solr_Admin or something similar.

[2020-11-23 09:33] SimonMcN opened #8456 "Tomcat plugin does not respect name_override"
config:
# Gather metrics from the Tomcat server status page.
[[inputs.tomcat]]
name_override = "Mytest_Tomcat"
  ## URL of the Tomcat server status
  url = "http://127.0.0.1:39834/manager/status/all?XML=true"

Plug in does not respect name_override  as it adds hardcoded fields

		acc.AddFields("tomcat_connector", tccFields, tccTags)
		acc.AddFields("tomcat_jvm_memorypool", tcmpFields, tcmpTags)

[2020-11-23 09:55] afletch commented on #8443
@ssoroka Go isn't really my thing and it looks like @stephanie-engel has taken this, but happy to help where I can.

[2020-11-23 10:31] SimonMcN commented on #8455
It appears name_prefix will achieve this.  Will request a documentation update

[2020-11-23 10:31] #8455 closed

[2020-11-23 10:31] SimonMcN commented on #8456
It appears name_prefix will achieve this.  Will request a documentation update

[2020-11-23 10:31] #8456 closed

[2020-11-23 10:36] SimonMcN opened #8457 "Documentation clarification"
Please can you clarify in the documentation that name_prefix should be preferred to name_override in case people add hard coded fields in plugins.  i.e. the solr and tomcat plugins

It appears that name_override requires that you look in the plugin code and see if it adds fields.  Otherwise the behaviour is unpredictable.  It makes me wonder if name_override is fit for purpose as you cannot use it

[2020-11-23 12:50] LeadingMoominExpert opened #8458 "Enable snmptranslate to field values"
## Feature Request

The current implementation for the snmp input plugin does not enable snmptranslate for the field values, so there are some cases when the user is left with OID values for fields. I ran into this when ENTITY-MIB::entPhysicalVendorType returned an OID value.

### Proposal:
Enable translating value for individual fields

### Current behavior:
E.g.
[code]

### Desired behavior:
[co

[2020-11-23 15:16] stefi994 commented on #4967
2 years later, I encountered the same problem, can you please let me know if maybe there is any work around for this issues? Is it maybe fixed somehow?

[2020-11-23 15:17] stephanie-engel commented on #8088
Hi @xcage7,

We would need answers to the questions that @ssoroka asked:

If it helps, if you click **New Issue** > **Bug Report**, then we have a bug report template that you can use to answer all of the necessary questions so we can help you solve this problem.

[2020-11-23 15:23] stefi994 commented on #6096
hey @AlexSnarf did you get this to work with the converter processor I am struggling with similar issue and so far can't get this to work.

[2020-11-23 15:39] ssoroka opened #8459 "CI fails tests on windows when -race is enabled"
Created from issue https://github.com/influxdata/telegraf/pull/8414#discussion_r528373261

[2020-11-23 15:40] #3747 closed

[2020-11-23 17:19] srebhan commented on #8456
I'm pretty sure `name_override` also works. The overriding is done _before_ outputting the metric from the input plugin. Check `models/running_output.go` line 156.

[2020-11-23 17:22] srebhan commented on #8457
I think you misunderstood the concept of `name_override`! [The documentation ](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#input-plugins) clearly states:

So `name_override` has nothing to do with fields... What are you trying to achieve?

[2020-11-23 17:27] NF1198 opened #8460 "Add date converter in Converter Processor"
## Feature Request

Support **date conversions** in the **Converter Processor**.

### Proposal:

Add data parsing capability to the [Converter Processor](https://github.com/influxdata/telegraf/blob/release-1.16/plugins/processors/converter/README.md). Date formats would be specified in [Go Reference Time format](https://golang.org/src/time/format.go) using [TOML quoted key syntax](https://toml.io/

[2020-11-23 17:28] sjwang90 commented on #6316
@kiwimato @samuelkadolph Would either of your scripts be able list as an [external plugin](https://github.com/influxdata/telegraf/blob/master/docs/EXTERNAL_PLUGINS.md). If you would you be willing to submit this plugin as an [external plugin](https://github.com/influxdata/telegraf/blob/master/EXTERNAL_PLUGINS.md) that can be used with `execd` to run seamlessly with Telegraf?

[2020-11-23 18:03] ssoroka commented on #8237
that whole stat block makes no sense. if they really wanted it to error on empty glob matches, it should just return a new error.

[2020-11-23 18:26] sjwang90 commented on #8452
We reserve Telegraf issues for bugs for reproducible problems.  Please feel free to reach out to us (can DM me) in our [Community Slack](influxdata.com/slack) or [Community Page](https://community.influxdata.com/) and we can get this question answered quickly.

[2020-11-23 18:26] #8452 closed

[2020-11-23 18:27] andrenth commented on #8237
I think this is a leftover from the previous commit which tried to allow an empty match on the glob but forbid a nonexistent static path. It seems to me the fix is to simply remove the `os.Stat` call and just return the error as @ssoroka mentioned, ie.

[code]

[2020-11-23 19:34] #8384 closed

[2020-11-23 19:44] SimonMcN commented on #8457
Both the solr and tomcat plugins create measurements which do not obey name_override.  What, for instance, if I wanted to override solr_core in the solr plugin?  I can't as it's hard coded.  I understand thst name_override only applies to the base metric name, but in that case you there shouldn't be a way to add hard coded metric names in the plug ins.  If you understand me ?

[2020-11-23 19:51] SimonMcN commented on #8457
What I'm getting at is that override_name works if there is a single measurement.  Prefix and suffix work to prepend/append the name to all additional measurements nested within the plug in .  The problem is that really it seems as if plug plugins shouldn't be able to add measurements which can't have their base name overridden (i don't even know how you'd design that)

[2020-11-23 20:51] #7123 closed

[2020-11-23 20:51] #7647 closed

[2020-11-23 20:57] ssoroka commented on #4568
SASL and GSSAPI are both supported now. I think this issue can be closed. Please reach back out if this is still a problem for you.

[2020-11-23 20:57] #4568 closed

[2020-11-23 21:03] ssoroka commented on #8460
I think you can do this already with the date processor, and you can string processors together by declaring multiple and setting the `order` attribute.  Have you taken a look at it to see if it meets your needs?

[2020-11-23 21:50] NF1198 commented on #8460
The [date processor](https://github.com/influxdata/telegraf/blob/release-1.16/plugins/processors/date/README.md) works in reverse of the feature request and only with the metric timestamp. The feature request is to add date/time parsing for timestamps other than the metric timestamp. The [converter processor](https://github.com/influxdata/telegraf/tree/release-1.16/plugins/processors/converter) is

[2020-11-23 22:20] ssoroka commented on #8448
I think you have a valid point. that it should keep trying. Do you have any more of the log output? Any other messages that might be related?

[2020-11-23 22:21] #8237 closed

[2020-11-24 08:24] naorw commented on #802
I agree it's important specially if using external store DB such as influxcloud, local DC can have connectivity issues, why loose metrics or manage external components.

[2020-11-24 11:21] Nemecsek commented on #8361
@youcann, sorry but I continuously get a `permission denied` to push the modified `telegraf/plugins/inputs/modbus.go`.
I leave you the file in attachment. I renamed it to `.go.txt` because `.go` files cannot be attached to this comment.

[modbus.go.txt](https://github.com/influxdata/telegraf/files/5589459/modbus.go.txt)

[2020-11-24 12:06] Plinz commented on #8103
I have the same issue with similar configuration (minecraft server and telegraf on docker)

[2020-11-24 13:36] youcann commented on #8361
Thanks alot!
Regarding your permission error: I'm not sure what exactly you did, bur standard procedure is to open a pull request for the maintainer of the original repo to suggest him to merge your work.

[2020-11-24 13:49] naveenabt commented on #8448
After "cannot allocate memory" error, not getting any logs in telegraf.log

[2020-11-24 15:19] SimonMcN commented on #8433
This requires 	UseWildcardsExpansion = true
:-)

[2020-11-24 15:20] SimonMcN commented on #8433
I have suggested that this be default many times before but I don't remember why it wasn't changed.

[2020-11-24 15:20] littlespace commented on #6096
@danielnelson the component_id is important at least for the firewall and Interface data and I am adding it as a tag for those sensors. I did it on the jti_openconfig_telemetry plugin itself to do this only for specific sensors not all of them.

@stefi994 I think you can do it by:

[[processors.converter]]
[processors.converter.fields]
    tag = ["_component_id"]

[2020-11-24 15:42] dpajin commented on #7929
Hi @DouglasHeriot,

I have devices which does not work with Telegraf SNMP plugin, as the requests fail due to following error: "Incoming packet is not authentic, discarding".

The device answers on the first initial packet with the SNMP Report PDU and that message triggers the error and Telegraf stops at that point. As you mentioned, tools like snmpget and snmpwalk work correctly.

I have tested y

[2020-11-24 15:49] dpajin commented on #3788
Hi @reimda, can you please provide some help with this issue? I can provide packet captures if needed.
thanks

[2020-11-24 15:57] rgroenewoudt commented on #8433
I don't see any difference with UseWildcardsExpansion = true

[2020-11-24 16:04] stefi994 commented on #6096
@littlespace my problem is for the field: /interfaces/interface/subinterfaces/subinterface/state/description. I tried the above config just with
tag = ["/interfaces/interface/subinterfaces/subinterface/state/description"] but when I ran the output.file as a test the field was not converted as a tag.

I also tried with str_as_tags=true, but here I can see the field as tag but with not values:

name

[2020-11-24 16:11] rgroenewoudt commented on #8433
I have no experience with Go so code is difficult to read but I don't know how PdhExpandWildCardPath() exactly works.
If you give the counter path "\Process(conhost)\% Processor Time", do you get a list of the following?
[code]

[2020-11-24 16:21] littlespace commented on #6096
@stefi994 I just did a quick test:

[[processors.converter]]
  [processors.converter.fields]
    tag = ["/interfaces/interface/state/description"]

and worked fine. Please note if your interface does not have a description set, then the tag will be null or empty.

[2020-11-24 16:26] stefi994 commented on #6096
@littlespace Do you know if I should restart influxdb, telegraf, drop measurement, or something and by which order? Cause I did try the converter with no success... but I can give it another try tomorrow.

[2020-11-24 16:35] sjwang90 commented on #8295
Closed in PR #8296. Thanks for the plugin @peter-volkov!

[2020-11-24 16:35] #8295 closed

[2020-11-24 16:41] somersbd opened #8467 "no datacenter metrics from vsphere plugin"
Hello,
I'm not sure this is a bug or maybe a feature request. It appears that the telegraf vsphere plugin does not write any datacenter information and just wondering why? I get the  warning below on every pass that it finds datacenter objects but has no parent and when i look in influx i see no information for datacenters. If this is a config problem on my side I can't seem to find where it is bu

[2020-11-24 19:13] rgroenewoudt commented on #8433
Ah, my bad. UseWildcardsExpansion = true works, the instance name has a suffix #xx, just like in Windows Performance Monitor.

[2020-11-24 19:14] #8433 closed

[2020-11-24 21:46] alllexandrz commented on #6924
Hey Team. Any updates here?

[2020-11-24 23:58] dpajin commented on #3788
Hi @reimda,

It seems that this issue is fixed in one of the recent releases of gosnmp library - the latest is v1.28.0 and the one used by latest telegraf is v1.25.0.

I changed input snmp plugin to use github.com/gosnmp/gosnmp v1.28.0, instead of github.com/soniah/gosnmp v1.25.0 and this problem is fixed in my testing.

You might want to consider using gosnmp 1.28.0 for snmp input plugin.

[2020-11-24 23:59] dpajin commented on #7929
Hi @DouglasHeriot,

if you interested in the problem described in my previous comment, please take a look at: https://github.com/influxdata/telegraf/issues/3788#issuecomment-733318736

[2020-11-25 01:09] mcassaniti commented on #8427
I've got the following running on the same production machine at present:
  - The configuration above for Telegraf 1.16.2 with a collection interval of 1 second
  - The configuration above for Telegraf 1.15.3 with a collection interval of 1 second
  - Telegraf 1.15.3 with a collection interval of 1 second and only the input plugin for processes

I'll provide an update when I have something to repo

[2020-11-25 02:45] evolart commented on #6777
I am running into telegraf flooding my logs with this error for a Powershell script as well. I have modified the script it's running to test with an exit code of both 0 and 1 and I continually see an error showing "Error in plugin: exec: exit status 1 for command". I don't understand the cause though as the output from the script is showing in telegraf?

[2020-11-25 03:47] peterulsteen opened #8470 "Timestream plugin failing to write with empty dimensions from Redfish input plugin"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf agent:
Telegraf 1.16.2 in telegraf:latest official Docker image
Docker Desktop Community (Windows) 2.5.0.1
WSL2 Ubuntu 20.04
Windows 10

Redfish server:
Dell PowerEdge C6420
iDRAC 9 with firmware 4.22.00.53 (latest)

### Docker

Docker image: `telegraf:latest`

### Steps to reproduce:

1. Setup AWS Timestream output plugin and confirm

[2020-11-25 07:24] DouglasHeriot commented on #7929
@dpajin thanks for the info! In my case I just fixed the authentication config on our switches to resolve the error. However I'm still interested in seeing this fixed as my Influx gets full of random integers when new switches are added that are not correctly configured.

Will you make a pull request to update `gosnmp` in this project?

[2020-11-25 08:06] essobedo commented on #8403
@ssoroka I guess you can close this one since the PR has been merged

[2020-11-25 08:50] Nemecsek commented on #8361
@youcann, I cannot push my branch to github, that's the problem. So no PR.
I tried a number of solutions I found online but at no avail. I forked it and cloned it multiple times to fix this issue, even after reinstalling my Ubuntu machine.

Credentials have been reset:
`git credential reject / git credential fill`

HTTPS URL has been tried with both formats:
[code]
It should be straightforward, bu

[2020-11-25 11:24] mirkocomparetti-synesis opened #8471 "inputs.opcua multiple nodes in one database entry"
## Feature Request

[code]

### Proposal:

Add multiple fields in one entry and strip out the quality tag. In case quality is not good, leave the corresponding field empty with no data.

measurement: timestamp, tagA, tagB, tagC, value1, value2
measurement: now(), sometagA, sometagB, sometagC, 10, 12

(keep as a reference the example in the current behavior)

### Current behavior:

When multiple no

[2020-11-25 18:20] Fiery-Fenix opened #8473 "Missing kube_inventory metrics when Pod has no valid containers"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf version 1.15.2

### Steps to reproduce:
On Kubernetes cluster one of Pods was manually restarted and we didn't receive any metrics that can indicate that restart because telegraf has take metrics directly in the moment when no valid containers were in `v1.Pod.Status.ContainerStatuses`.
Respective piece of code:
[code]
For some valid re

[2020-11-25 18:36] soerman commented on #8361
Created a PR for this: #8474

[2020-11-25 20:24] sjwang90 commented on #8470
@peterulsteen This all looks like a error on the Timestream plugin? If you output to even `outputs.file` your redfish metrics read fine?

@piotrwest Do you have any insight on this?

[2020-11-25 20:25] sjwang90 commented on #8467
Can you please provide a sample of your configuration?

[2020-11-25 21:36] srebhan commented on #8361
@Nemecsek you cannot push to Telegraf directly. You should fork the repository, push your changes there to a branch and then create a pull-request (PR). You can find information [here](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-pull-requests). Pull-requests ensure that code gets reviewed to find issues and guaranteeing quality *before*

[2020-11-25 21:59] sjwang90 commented on #6691
Apologies as this has been awhile. @arindamchoudhury Can you test this with the latest PostgreSQL and Telegraf and share a sample of the config for troubleshooting?

[2020-11-26 10:09] dpajin commented on #7929
@DouglasHeriot, yes I will try to make a pull request to update `gosnmp`. Additionally, I can confirm that I also hit the bug with the random numbers at some point. Unfortunately, I don't have any packet capture so far.

[2020-11-26 13:07] crazy-canux commented on #4192
Yes tail works fine!
Thanks!

[2020-11-26 13:07] #4192 closed

[2020-11-26 13:27] crazy-canux commented on #6574
can't fix this for docker swarm?

[2020-11-26 13:56] mirkocomparetti-synesis opened #8475 "inputs.opcua missing support for arrays"
### Relevant telegraf.conf:

[code]

### System info:

Ubuntu 20.04, Telegraf 1.16.2 (git: release-1.16 962082f6), InfluxDB v1.8.3 (git: 1.8 563e6c3d1a7a2790763c6289501095dbec19244e)

### Steps to reproduce:

1. Define an array value in OPCUA like in the picture
![image](https://user-images.githubusercontent.com/34926125/100354912-26d43f80-2ff1-11eb-96ca-e75dbb6cbc39.png)
2. import it into telegra

[2020-11-26 15:18] Dubdelo opened #8476 "procstat plugin does not work on Windows Server and pattern searches with WMI query"
Hello,
found a bug with monitoring a Windows process.
If you use pattern searches with forms of a WMI query.
It does not work with telegraf versions newer as v1.14.5.

### Example Config (working with telegraf 1.14.5):
[code]

### System info:
OS Windows Server 2016 / 2019
Version telegraf-1.14.5_windows_amd64.zip

### Steps to reproduce:
1. Use telegraf 1.14.5 and setup a process to monitor like

[2020-11-26 18:21] #8458 closed

[2020-11-26 20:27] wtkwsk commented on #7985
I'm still experiencing the same issue. Apparently the sarama library has some issues with Confluent Cloud

[2020-11-27 12:15] MorphBonehunter opened #8479 "inputs.snmp invalid memory address or nil pointer dereference"
### Relevant telegraf.conf:
[code]

### System info:

Debian GNU/Linux 9 (stretch) with telegraf 1.16.2-1 (influx repo)

### Steps to reproduce:

Configure an snmp input which did not answer AFTER successfull initial contact.
On an snmpget this is when you get the "Timeout: No Response from x.x.x.x" vs. the "normal" output "snmpwalk: Timeout".
I think this happens if you request an OID which is no

[2020-11-27 13:31] bigdatasunil commented on #4568
Hello,

I am eagerly waiting for this, could you please share the configuration for
this?? and steps.

Thanks & Regards
Sunil

On Mon, Nov 23, 2020 at 9:57 PM Steven Soroka <notifications@github.com>
wrote:

[2020-11-27 15:17] peterulsteen commented on #8470
@sjwang90 That's correct. All the redfish metrics are reading correctly with no `datacenter`, `rack`, `room`, or `row` tags. I'm not sure why they're present (but empty) `CommonAttributes` from the Timestream plugin. One thing which may be of note is that this server in question is a Dell PowerEdge C6420 node/sled which is one of four nodes sharing the same 2U chassis. The chassis itself is what p

[2020-11-27 16:02] m4ce opened #8480 "Docker input - max cpus and disable per-cpu stats"
## Feature Request

Couple of new features. It would be nice to have in `docker_container_cpu` the cpu limits (CpuShares?), just like `docker_container_mem`.`max_limit` provides the container max memory.

The `usage_percent` is computed on a single CPU. However, in our monitoring system, we would like to take into consideration how many cpus are allocated to the container. For instance, say the `u

[2020-11-27 16:30] #8160 closed

[2020-11-27 23:42] NoxInmortus commented on #6617
Would also be interrested by this input plugin

[2020-11-28 13:10] LeadingMoominExpert commented on #6330
@Hipska you mentioned that this conversion can be done with `snmptranslate`. How? I was trying to find a way to do the conversion, but
[code]
still just returns the integer, `IF-MIB::ifOperStatus.1`. If this translation can really be done directly with snmptranslate I can implement a solution similar to translating string values done here https://github.com/influxdata/telegraf/pull/8466

[2020-11-28 19:59] utking commented on #6395
A PR has been prepared in https://github.com/influxdata/telegraf/pull/5517

[2020-11-29 16:33] Doron-Bargo opened #8481 "Logzio plugin is part of the master but not in the latest releases"
Logzio plugin (PR #8202  ) was merge to the master on 22.10 but its not part of the release ( 1.16.1, 1.16.2 )
Please advise what need to be done to fix this issue?

[2020-11-29 19:39] somersbd commented on #8467
Sure, this is it.
## Realtime instance
[[inputs.vsphere]]
## List of vCenter URLs to be monitored. These three lines must be uncommented
## and edited for the plugin to work.
interval = "20s"
vcenters = [ "https://192.168.1.251/sdk" ]
username = "telegraf-user@vsphere.local"
password = "secret!"

vm_metric_include = ["*"]
host_metric_include = ["*"]
cluster_metric_include = ["*"]
cluster_instances

[2020-11-29 23:22] affanshahid commented on #8271
Having the same problem. Running telegraf in a docker container causes: `...performing bulk walk for field ...: Request timeout (after 3 retries)`. If I remove docker however everything works fine.

[2020-11-30 00:49] affanshahid commented on #8271
So more information: I can open bash inside the telegraf container and run `snmptable` and `snmpget` against the agent just fine. The agent is running on the same machine. So basically `snmpget` works fine from the host machine and from inside the telegraf container but telegraf itself fails with the above error.

Running telegraf on the machine directly also works just fine. Also I tried adding t

[2020-11-30 02:05] debu99 commented on #3275
but who would store the response time into that response_time field? how can telegraf do it?

[2020-11-30 03:45] mousedownmike opened #8482 "gnmi.SubscribeResponse_Error not logged"
### Steps to reproduce:

1. Subscribe to a gnmi endpoint that reports an error when subscribing.
2. Observe no data reported in the log

### Expected behavior:

When an error response is returned the message and code should be reported in the log.

### Actual behavior:

The subscription silently fails.

[2020-11-30 09:11] jburdy opened #8484 "MacOs Environment variables remplacement failed"
The environment variables remplacement does not work in MacOS !?

### Relevant telegraf.conf:
[code]

### System info:
MacOs 11.0.1
Telegraf 1.16.2 (from HomeBrew)

### Steps to reproduce:

1- start telegraf (as root)
2- Check influxDB, the tags are user=${USER} or user=$USER

### Expected behavior:

user="nameOfTheUser"

### Actual behavior:

user=${USER} or user=$USER

### Additional info:

I'm

[2020-11-30 13:54] bigdatasunil commented on #4568
Hello Steven Soroka,

I need this bit of urgency. Could you please share the telegraf
configuration.

Thank you in advance

On Fri, Nov 27, 2020 at 2:31 PM Sunil Kumar <hai.sunilkumar@gmail.com>
wrote:

[2020-11-30 14:33] p-zak opened #8485 "New Intel PowerStat input plugin"
## Feature Request
We have created a Telegraf PowerStat input plugin which enables monitoring of platform metrics (power, TDP) and per-CPU metrics like temperature, power and utilization.

Intel PowerStat plugin supports _Intel_ based platforms and assumes presence of _Linux_ based OS.

### Proposal:
#### In the near future we will propose PR which adds new plugin we have created. It will be able

[2020-11-30 15:49] xiaopeng163 opened #8486 "How to rename key's name with regex"
hi team

we received some metrics like(through prometheus output plugin)

[code]

and is there a way to repleace `ifDescr_68` to `ifDescr`

[code]

But here `68` is not a **fixed number**, it could be any numbers.

so basically we want to replace  `ifDescr_{some number}`  to `ifDescr`

thanks

[2020-11-30 17:10] ssoroka commented on #8481
It missed the cut-off for 1.16. You can use the nightly release until 1.17 is out.

[2020-11-30 17:10] #8481 closed

[2020-11-30 17:12] #8482 closed

[2020-11-30 17:28] cun-dp opened #8487 "processors.enum.mapping - redunant configuration leads to default value overriding all actual values"
We have multiple instances of the same configuration snippet for the enum-processor-plugin.
All these instances contain a default value.

If there is a default value for the same field in any but the last configuration file (alphabetical order), then all the actual values are overriden by the default value.

This behavior appeared with v1.15.0, the previous 1.14.xx versions were working as expecte

[2020-11-30 19:15] sjwang90 commented on #8403
Closed #8439

[2020-11-30 19:15] #8403 closed

[2020-11-30 20:26] piotrwest commented on #8470
Hi @peterulsteen, as I understand you are trying to ingest data to Amazon Timestream with empty dimensions (InfluxDB tags). You mentioned that when you populate `row`, `rack`, and `room `dimensions with non-empty values, the error for those dimensions does not occur. However, the error still occurs for an empty `datacenter` dimension. This is expected behavior, as the data ingested to Timestream h

[2020-11-30 20:44] ssoroka commented on #7793
merged in https://github.com/influxdata/telegraf/pull/8447

[2020-11-30 20:44] #7793 closed

[2020-11-30 21:23] ssoroka commented on #8361
merged in https://github.com/influxdata/telegraf/pull/8474

[2020-11-30 21:23] #8361 closed

[2020-11-30 21:58] ssoroka commented on #8431
https://github.com/influxdata/telegraf/pull/8432 merged

[2020-11-30 21:58] #8431 closed

[2020-11-30 22:01] ssoroka commented on #8486
Check out the [regex processor](https://github.com/influxdata/telegraf/tree/master/plugins/processors/regex), which does this.

[2020-11-30 22:01] #8486 closed

[2020-12-01 00:51] hammacktony commented on #8098
I am getting the same error. Any update on this?

[2020-12-01 04:52] sjwang90 commented on #4568
@bigdatasunil

Please see the [`outputs.kafka` readme](https://github.com/influxdata/telegraf/tree/master/plugins/outputs/kafka#configuration).

[code]

[2020-12-01 05:52] db-brasil commented on #8022
Hello, how are you ?
I have been trying to record metrics on postgresql-timescaleb for a long time with telegraph, but without success!
You did it ?

[2020-12-01 07:05] HyunjoonCho opened #8490 "get metric type as a tag"
Hello,
I'm trying to get metric type - or field type - as a tag so looked through supported processor plugins.
Tried to use template plugin but found that it does not support [.Type](https://github.com/influxdata/telegraf/blob/master/plugins/processors/template/template_metric.go) and also the comment ["its use is discouraged."](https://github.com/influxdata/telegraf/blob/master/metric.go#L62)
The

[2020-12-01 08:36] HyunjoonCho commented on #8490
okay I solved the issue using Unpivot and Starlark plugin

[2020-12-01 08:36] #8490 closed

[2020-12-01 14:36] vust1001 opened #8491 "CF RabbitMQ Metrics missing/unavailable via Telegraf OneAgent plugin"
Hello,

I am opening this issue to report that there are CF RabbitMQ metrics missing via the Telegraf Dynatrace plugin. As noted here in the InfluxData post: https://community.influxdata.com/t/cf-rabbitmq-metrics-missing-unavailable-via-telegraf-oneagent-plugin/16862

These are essential RabbitMQ metrics that we are interested in. Please let me know if it would be possible to add these and when th

[2020-12-01 14:47] bmagistro opened #8492 "Docker + docker-compose input may not fully index to elastic"
Using an instance of telegraf to monitor the host and docker and another instance (containerized on a different host) to send to elastic I am seeing logs indicating an indexing failure.  I have been able to narrow this down to the docker input, if that input is disabled the messages stop.

### Relevant telegraf.conf:
source instance
additional host metric inputs are not included as not applicable

[2020-12-01 15:38] depfryer opened #8493 "problem with Cisco telemetry MDT"
hi
i use Cisco telemetry MDT and i want to know how can i automatically add the remote address into influx (like agent_host in SNMP)

thanks

[2020-12-01 16:16] sjwang90 commented on #8470
To drop tags before it hits the output you can configure the names in `tagdrop`: https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#metric-filtering.

Empty tag values should be valid. I haven't seen any issues arise with that in awhile.

[2020-12-01 16:46] ssoroka commented on #8225
It looks like it defaults to disconnecting after a minute of no activity, which seems like a reasonable default. Are you seeing any problems with connections left open longer than that, or issues with the connections not being used?

[2020-12-01 16:51] peterulsteen commented on #8470
I have now tested this on 13 Dell servers (mostly R630's and R640's except for the four C6420 nodes). This is working on all 6 Dell servers running iDRAC 8, but does NOT work with the 7 Dell servers with iDRAC 9.

The empty tags do not appear at all when printing the output to stdout or to a file. I'm only seeing this warning message when outputs.timestream attempts to write `CommonAttributes` and

[2020-12-01 17:17] donalod commented on #4801
Hello, also curious as running telegraf 1.16.2 on OSX 10.11.6 wth go1.11 and still getting "[inputs.cpu] Error in plugin: error getting CPU info: not implemented yet"

[2020-12-01 17:57] yimuniao commented on #8301
Any update?

[2020-12-01 18:03] sjwang90 commented on #7548
Requirements for large scale IIoT environments: @boris377 @suseelapattamatta
- Translation of the file lines into line protocol (our origin file doesn’t match line protocol).
- Potential large batches of incoming files of 1000+ (not uncommon)
- Continuous processing (directory monitoring portion) – We get 1-3 files per minute per asset except when the above happens
- Data integrity (no lost metric

[2020-12-02 10:39] Nemecsek commented on #7675
A 30+ years programmer here. I began "killing parents" in C since the late 80s. Up to now I didn't became more violent because it was so common to use that terminology eons ago.

This whole USA-generated "politically correct" is great from the human point of view, but according to my opinion we are frankly exaggerating. The rest of the world is not so obsessed by these "small" details.

For new pr

[2020-12-02 15:18] nradonicich commented on #8493
This shows up as tag "source" which comes from the "node_id_str" field in the original data.

You can then use a field transformation to change this to whatever you want.

[code]

[2020-12-02 15:52] depfryer commented on #8493
"source" is the name of the router not the IP address
![image](https://user-images.githubusercontent.com/17575141/100896293-c2b4ee00-34be-11eb-92ce-3756d8e0d511.png)

[2020-12-02 16:19] mirkocomparetti-synesis opened #8497 "input.modbus Handle 3 words length"
## Feature Request

### Proposal:

Handle a configuration like
{ name = "Somename", byte_order = "ABCDEF", data_type = "<somefloat>", scale=0.000001,  address = [0,1,2]},

### Current behavior:

Only support for max 2 words

### Desired behavior:

### Use case:

We use a [energy meter](https://www.seneca.it/en/linee-di-prodotto/energia-e-misure-elettriche/contatori-di-energia-serie-s500/s504c-80/)

[2020-12-02 16:35] nradonicich commented on #8493
I see, so you more closely want something like the `source` tag from snmp_trap input which tells you the source IP address of the data coming in, the `agent_host` tag in snmp input is what you entered into the config being DNS address or IP address?

[2020-12-02 18:21] davidgarciaMontreal commented on #7007
Can anyone provide an example where to apply the work around? I'm having the same problem in my window machines..
UseWildcardsExpansion

[2020-12-02 18:41] benzvan commented on #7675
Thanks for your perspective @Nemecsek, as a 20+ year engineer, I forget that not everyone has the life experience to understand why terms like master/slave and whitelist/blacklist are problems. Back when I realized my friends, who were way better at this stuff than I was, weren't represented in my workplaces or would quit before I did, I tried to find out why and started to make changes.

I would

[2020-12-02 19:48] #4414 closed

[2020-12-02 21:50] bjoe2k4 opened #8501 "inputs.ping native sends wrong number of pings"
### Relevant telegraf.conf:

[code]

### System info:
RaspberryOS with a 4GB Raspi4
Linux raspi-pihole2 5.4.72-v7l+ #1356 SMP Thu Oct 22 13:57:51 BST 2020 armv7l GNU/Linux
Telegraf 1.16.2 (git: release-1.16 962082f6) (offical release)

### Steps to reproduce:

1. Set above config & start telegraf + prometheus
2. Wait for a day

### Expected behavior:
telegraf sends and receives exactly 5 packets e

[2020-12-02 22:42] peter-volkov commented on #8295
@ssoroka and will this plugin be included in some release?
I see at least two releases were published since this PR was merged

[2020-12-02 22:46] Jagularr commented on #8484
Hi, after testing this I found that the issue doesn't occur when running Telegraf directly, but only when I ran through "sudo brew services start telegraf" was the issue replicated. I believe it has something to do with homebrew running the service as a different user/environment variables, and for some reason that $USER variable doesn't exist in that context. While I wasn't able to find a quick w

[2020-12-03 01:47] fcddk opened #8503 "inputs.chrony :Init function is not executed resulting in empty path"
telegraf version 2.16.3

commit: Search for chronyc only when chrony input plugin is enabled (#7005)

log:

2020-12-02T10:07:52Z E! [inputs.chrony]: Error in plugin: failed to run command  -n tracking: fork/exec : no such file or directory -

[2020-12-03 05:22] niftyhoot opened #8504 "Telegraf fails to start when custom tags are added in the input_internal plugin configs"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf version 16.2
Ubuntu 20.04

1. Add a custom tag section in the input_internal plugin in

### Expected behavior:
Telegraf should send the said tag for internal stats.

### Actual behavior:
Telegraf fails to start
This used to work til 14.2 but seems to be broken in newer version

### Additional info:
2020-12-03T01:59:41Z I! Starting Tele

[2020-12-03 08:12] Nemecsek commented on #7675
@benzvan, Thank you for your kind (and more balanced than mine) answer.
I don't want to cause any trouble, nor create useless discussions.

The same word "slave" is used in different contexts with different meanings. As I would never speak about rope in the house of the hanged man, I would pay particular attention to speak about slavery in the house of a black man. But I wouldn't feel any problem

[2020-12-03 08:40] depfryer commented on #8493
I use the subscription
so Telegraf does not receive without asking

yes i want to make like `source` from snmp_trap
(this is a better example of the desired result....)

the `agent_host` is just IP address

[2020-12-03 08:47] asitaru commented on #8185
This is also happening to us and it has a high impact as the entire telegraf service crashes when sending a reload.

[2020-12-03 10:26] vlastahajek commented on #7007
@davidgarciaMontreal, add it as a global param in the plugin config. It looks you have a config without commented default parameters. There is another related option that can be added, `CountersRefreshInterval`:

[code]

[2020-12-03 13:22] srebhan commented on #4331
@kyunghoj: The mysql-driver supports `ColumnTypeScanType()` to derive the actual type from the DB/scheme-definition. It includes information about signedness of the column. Instead of guessing the types, we should use this information to parse the value.

[2020-12-03 14:25] prydin commented on #8467
My initial guess is that this is a permission problem. Can you try with a vCenter account that has readonly access to the entire inventory tree?

[2020-12-03 14:55] prydin commented on #7940
@ssoroka This should be fixed.

[2020-12-03 14:55] RemcoAA commented on #8213
We solved our problems for now by using the starlak processor plug-in to modify the fields and tag.

[code]

[2020-12-03 15:52] prydin commented on #8316
Sorry for the delay. I've been able to reproduce this in a lab. I will provide an update once I understand the root cause a bit better.

[2020-12-03 16:20] mirkocomparetti-synesis opened #8506 "input.modbus Read custom bit lenght in coil"
### Relevant telegraf.conf:

This is an example configuration for this case, with a possible proposed solution that will be more clear later.
[code]

### System info:

Telegraf 1.16.3, ubuntu 18.04.4 server

### Steps to reproduce:

This is the example configuration
[code]
which retrieves the value
[code]

### Expected behavior:

Possibility to read a configurable lenght of bits from a coil addres

[2020-12-03 17:44] LeadingMoominExpert commented on #3076
I think I'm coming close to solving this by using this feature: https://github.com/influxdata/telegraf/pull/8466. With the ability to translate OID-values and using the regex processor plugin it's possible to yield these aliases as integers. I used `ENTITY-MIB::entPhysicalTable` and `IF-MIB::ifXTable` for example. Relevant configuration:
[code]
With these any two entries that can be merged togethe

[2020-12-03 18:16] prydin commented on #8316
@jorgedlcruz I think I have found the issue. This is caused by vCenter delaying data by about 30 minutes. When Telegraf looks for metrics in vCenter, it checks 3 sample periods back in time. For cluster metrics, the minimum sample period is 5 minutes, so the lookback is 15 minutes. Since the latest datapoint is 30 minutes old, it will not be included in this query. We could of course increase the

[2020-12-03 18:31] prydin commented on #7933
@sjwang90 I think we should close this. I haven't been able to reproduce this and there hasn't been any movement.

[2020-12-03 18:34] prydin commented on #7678
@ssoroka This is not reproducible and probably fixed in the latest release which addressed multiple issues causing potentially missing samples. Can we close this?

[2020-12-03 18:37] prydin commented on #7721
@ssoroka This is caused by a misconfiguration of vCenter. Can we please close this?

[2020-12-03 19:17] ssoroka commented on #8504
While it should probably work, you might want to set that as a global tag instead, rather than setting it on each plugin.

[2020-12-03 19:42] #8443 closed

[2020-12-03 19:53] stephanie-engel commented on #8443
@afletch This feature is now merged into `master`. The param is called `timeout`. To use it, simply add the following to the bind input plugin (for example, when adding a 15 second timeout):

[code]
 Please feel free to reach out if you have any other questions!

[2020-12-03 20:50] benzvan commented on #7675
I appreciate the opportunity to explain the reasoning behind these changes, so I would say this discussion is not useless. I could go into how almost every use of the master/slave metaphor are lazy and inaccurate and would be better suited by terms like leader/follower, primary/failover, listener/executor or others, and I'm happy to have that conversation, especially if it helps choose better lang

[2020-12-04 01:35] sjwang90 commented on #7933
@prydin No problem. Thank you for looking into this.

[2020-12-04 01:35] #7933 closed

[2020-12-04 09:43] afletch commented on #8443
@stephanie-engel fantastic, thank you for this.

[2020-12-04 12:45] BlueskyFR opened #8513 "Invalid data format; Prometheus"
Using the docker image `telegraf:alpine` (1.16.3), using the following config throws an error:

[code]
[code]

It obviously shouldn't happen since #7778 was merged.

[2020-12-04 12:56] srebhan commented on #8513
Well I think the "prometheus" parser didn't make it to 1.16.3. Correct me @reimda if I'm wrong here.

So you have two options, either waiting for the next release that might include "prometheus" OR you build telegraf from source. Building is as difficult as setting up golang, clone the repo and hit `make`... :-)

[2020-12-04 13:00] BlueskyFR commented on #8513
Oh it seems that you're right, I pretty sure it made it to 1.16.3...
I was already building it manually before, I guess I will continue until the next version come out :)

[2020-12-04 13:32] BlueskyFR opened #8514 "Internal stats cannot be disabled"
Using latest Docker image `telegraf:alpine` (1.16.3), the internal go stats are exported by default, even when the configuration file does not mention it.
This shouldn't be the case since each user should have the possibility to enable it manually as for all the other plugins.

Also, adding:
[code]
doesn't seem to help!

This behavior is not described in the README as far as I know

[2020-12-04 14:14] hyberdk opened #8515 "win_perf_counters cannot collect "DHCP Server" counters."
### Relevant telegraf.conf:

[code]

### System info:

Windows 2012 server.
Telegraf 1.16.3 (git: HEAD c7f21728)

### Steps to reproduce:

run: "telegraf.exe --console --debug --config telegraf.conf --test"

I tried to limit the number of counters to a minimum..

### Expected behavior:

to print the Acks/sec.

### Actual behavior:

2020-12-04T13:49:17Z I! Starting Telegraf 1.16.3
2020-12-04T13:49:

[2020-12-04 14:32] srebhan commented on #8513
Then could you please close the issue!? Thanks!

[2020-12-04 17:00] somersbd commented on #8467
The account I'm using is read-only at the global access level. I also tried the Administrator@vsphere.local which has full rights and get the same "No parent found for Folder:group-d1 (ascending from Folder:group-d1)" after the Find(Datacenter, /*) says it returns objects.

[2020-12-04 17:51] prydin commented on #8467
@somersbd The error message is benign. Are you still not seeing any datacenter metrics?

[2020-12-04 19:39] #8348 closed

[2020-12-04 19:41] kolmodin commented on #7317
Awesome! I've reviewed the code and it looks like it adresses the issues I was experiencing. When can I expect these changes in a released version of telegraf? I'm using it for thermometer data and it's December - we're having some minus (celcius) degrees here :)

[2020-12-04 20:08] #8513 closed

[2020-12-04 20:20] sjwang90 opened #8517 "Add configuration option to elasticsearch input to collect only the most recent fields"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

### Current behavior:
The plugin currently gathers all historical data, which creates too much data and increases cardinality. Customer would like to filter on a specific time frame, like last 24 hours.

### Desired behavior:
New configuration option: If my indices are datestamped - I'll get X of the newest dates

[2020-12-04 20:28] sjwang90 commented on #5676
I came across this issue and I wanted to see if this is still persistent with the latest version of Telegraf as it's been quite awhile.

[2020-12-04 21:03] hyberdk commented on #8515
well this was a perfect RTFM..

https://github.com/influxdata/telegraf/tree/master/plugins/inputs/win_perf_counters says:

changing the Instances from ["*"] to ["------"] did the trick..

[2020-12-04 21:03] #8515 closed

[2020-12-04 21:47] #8095 closed

[2020-12-04 22:31] reimda commented on #8270
#8389 addresses both of these issues.

We ended up adding tags in a slightly different way than this issue proposes because we needed to add tags to a single opc ua node or a group of nodes.  You can still use an inputs.opcua.tags section like before, but you can also add tags directly to a node or to a group of nodes.

We also changed the metric schema by removing the name field and allowing each

[2020-12-04 22:31] #8270 closed

[2020-12-05 01:11] sjwang90 commented on #8514
Can you share a sample of the output and you would like to mean. This may be the intentional case. You can drop any fields you wish not to have with `fielddrop`

[2020-12-05 01:21] sjwang90 opened #8518 "Dynamically collect metrics base of a set condition"
## Feature Request

**Conditional metric collection:**
Allow feedback loops in the processing of data. For example, one may want to detect some condition dynamically and at that point change filtering to collect more detailed data from the source.

Should be able to be done with `processors.starlark`

[2020-12-05 01:23] sjwang90 commented on #8518
@essobedo If you're interested trying this at all!

[2020-12-05 09:39] jburdy commented on #8484
Thanks for you answere. I made an issue for homebrew
https://github.com/Homebrew/homebrew-services/issues/286

[2020-12-05 09:39] #8484 closed

[2020-12-05 15:51] essobedo commented on #8518
@sjwang90 Thx for proposing, I'm already on another ticket. I can have a look to this one after it.

[2020-12-06 07:03] niftyhoot commented on #8504
Thanks @ssoroka for looking into this.
Basically, I was using this special set of metrics to capture the config version I was using (might not have been the bestpossible approach but it has worked well for me for a long time now and have other instrumentation and automation that depends on this tag now).  So, My use case did not permit global tag as we often change telegraf configs and keep updati

[2020-12-06 13:31] kolmodin commented on #7317
I upgraded to 1.16.3 and changed to `FIXED`. It seems to have worked, thanks!

[2020-12-06 13:31] #7317 closed

[2020-12-06 20:16] ssoroka commented on #4801
As a work around for this until we add a new release package, you can build Telegraf yourself with CGO enabled like so: `env CGO_ENABLED=1 go build ./cmd/telegraf`

[2020-12-07 16:58] crflanigan commented on #8518
Yes! I would be awesome to be able to change collection aggressiveness based on a condition being met.
Thanks!

[2020-12-07 17:22] freaknils opened #8521 "Input plugin apcupsd not serving any metrics"
Hi,

i have installed a new APC UPS for my homeserver, after the last has broken a few weeks ago.
Since then I do not get any metrics served from apcupsd.

### Relevant telegraf.conf:
[code]

### System info:
[code]

### Steps to reproduce:
Activate apcupsd with APC Smart UPS 1000.

### Expected behavior:
Should output data from APC UPS, but no ups data is provided

apcaccess output is:
[code]

##

[2020-12-07 19:20] Aladex commented on #8366
+1
This was happened after commit: https://github.com/influxdata/telegraf/commit/0ccb134ae427f13a4db1faab7021d14742b7779f
You'be created a new parser but you don't check for protobuf header like in older version of prometheus plugin

But all works if i set metric_version to 1

[2020-12-07 22:20] Jagularr commented on #8098
Hi, using your prometheus output I'm able to process it through the plugin without issue. However, if I add a second #TYPE jvm_info (or just duplicate the output) and process it, it seems to have the same error. Is this the entire output or could there perhaps be some other output stream example that perhaps has duplicate TYPEs or HELPs? Also want to add that using the updated prometheus module he

[2020-12-08 02:20] MattBrittan commented on #7648
Note that I have just released v1.3.0 of `github.com/eclipse/paho.mqtt.golang` and will be interested to see if moving to that fixes the issue - there have been considerable changes since the last release (18 months ago). If it does not I would be interested to see logs with the `paho.mqtt.golang` logging enabled because this would help confirm where the issue lies.

[2020-12-08 08:20] Nemecsek commented on #8497
Without changing the plugin, in your device I would switch to *RegSet1* that uses easier even-size registers.
After setting `REGSET 0538 = 1`, you can later use the common `INT64` and `FLOAT64-IEEE` (the latter has just been introduced: remember to checkout the last Telegraf release)

[2020-12-08 10:15] Kungitoo opened #8526 "Dec 08 10:10:36 kraken influxd[3630182]: ts=2020-12-08T10:10:36.911975Z lvl=error msg="Unable to gather" log_id=0QxSsDa0000 error="Get \"http://localhost:18086/metrics\": dial tcp [::1]:18086: connect: connection refused""
I have an open ssh tunnel from dev server through jumphost to localhost to be able to connect to influxdb 2.0.2 from browser.

In my ssh config:  LocalForward 18086 localhost:8086

This error is happening every 10 seconds. I'm not sure how to debug this. I have restarted the service multiple times and upgraded from 2.0.1 to 2.0.2

[code]

[2020-12-08 10:15] mirkocomparetti-synesis commented on #8471
Looking back at this, it can be achieved by using a combination of processors plugin and the aggregators.merge.
I think this can be closed.

Best

[2020-12-08 10:15] #8471 closed

[2020-12-08 10:18] mirkocomparetti-synesis commented on #8475
This can be potentially achieved using a combination of processors and aggregators, but the configuration for an array becomes very long and not practical. Adding the possibility to handle this automatically would be better.

Thanks

[2020-12-08 10:23] pthirumalachar opened #8527 "Build Telegraf for FIPS"
## Feature Request

We use Telegraf in our project and as a policy we build Telegraf from source.
However, as we are now going for FIPS certification, we need Telegraf to be FIPS certified.
So wanted to know if Telegraf is FIPS certified.

### Proposal:
If we build Telegraf from source using Boring Crypto GO, can we say that Telegraf if FIPS compliant.?
Are there any other flows, issues that might

[2020-12-08 11:20] wz2b commented on #2994
This is from 2017 (and it's now 2020) but I'm very interested in this.  I would be interested in working on it with a partner if anybody is so motivated.

[2020-12-08 11:24] wz2b commented on #2994
That project hasn't been updated in 4 years, which scares me a little.  There seems to be another, though:
[go-coap](https://godoc.org/github.com/go-ocf/go-coap)

That project looks active and featureful.  It may be a better bet at this point.

[2020-12-08 13:43] BlueskyFR commented on #8514
Sure, here they are:
[code]

[2020-12-08 13:44] BlueskyFR commented on #8514
I just want to get rid of all these useless stats, exported by default.
The main problem is that this isn't specified in the documentation.

[2020-12-08 15:50] vust1001 commented on #8491
Hello,

Anyone have any updates or feedback?

[2020-12-08 16:51] dapryor opened #8530 "Input Plugin: SNMP - Version 3 does not support AES<blocksize>"
## Feature Request

### Proposal:

Support `AES<blocksize>` for the privProtocol in the SNMP input plugin settings.  These protocols are already supported in the underlying gosnmp module.

[code]

`telegraf/internal/snmp/wrapper.go`
[code]

### Current behavior:

Only `DES, AES, and ""` are accepted for privProtocol.
The system I am polling uses AES256 and drops the poll connection.

`Dropping SNM

[2020-12-08 16:53] BlueskyFR opened #8531 "Add a new Telegraf:cuda Docker image to run the Nvidia-smi input plugin"
## Feature Request

### Proposal:

Running the Nvidia-smi plugin from the Docker Telegraf image.
I propose to add a new build to the list of the officially available Telegraf images based on nvidia/cuda, by specifiying clearly in the README that the Telegraf:cuda Docker image is required to run the Nvidia-smi plugin.

### Current behavior:

Nvidia-smi cannot be executed inside the Docker container

[2020-12-08 17:30] stefi994 commented on #6096
I am now back to this problem again, this convertor does convert the tag into the field. But now is not taking any values from the other fields in order to group by the description

[2020-12-08 18:57] dapryor commented on #8530
Relevant PR:
When SNMPv3 support was added to snmp_trap plugin, only AES was immediately supported. gosnmp then expanded their support to `aes<blocksize>`and the PR updated to include those ciphers.
@

[2020-12-08 20:49] dapryor commented on #8530
Working on a PR

[2020-12-08 23:03] Jagularr commented on #8517
Want to run by you a proposed solution for this: we'd add some config value (let's call it X) that specifies the number of prior index instances to report from, in descending order by the date at the end of the index name. So if someone configures `indices_include = ["example"]` and `X = 1,` and we find indices called example_2020_10_25 and example_2020_10_26, then we use fields only from index "e

[2020-12-09 02:02] dapryor commented on #8530
Update:
So this issue is not as easy as allowing the other options to be set.

Only net-snmp 5.8+ (the last two versions) allows AES192/256/192c/256c and at least in 5.8, it requires special configuration options to enable the algorithms.

**I'd like your opinions on how to continue on with this.**

In the meantime, I am going to try to enable the algorithms on my machine and build a docker image

[2020-12-09 04:23] sjwang90 commented on #8526
Looks like this is in influxdb question not a Telegraf question. Either way we reserve GitHub issues for bugs for reproducible problems.  Please reach out to us in our [Community Slack](influxdata.com/slack) or [Community Page](https://community.influxdata.com/) and we can help troubleshoot your problem.

[2020-12-09 04:23] #8526 closed

[2020-12-09 11:51] mirkocomparetti-synesis commented on #8497
Thanks!
Actually we started using the IEEE registers that are available in that device, so we worked around this in that way, using FLOAT32-IEEE. Pretty similar to what you suggested.
Anyway, this works because the device exposes the data also in those registers (and regset 1 as you mentioned), but this is not valid in general devices, so expanding the plugin might make sense.

[2020-12-09 15:08] Hipska commented on #6330
It should be possible:

But it seems even StackOverflow doesn't know the answer: https://stackoverflow.com/questions/65048143/can-snmptranslate-return-the-textual-value-of-an-integer-defined-in-mib

[2020-12-09 15:12] sAws opened #8533 "processor.date creates duplicate values"
### Relevant telegraf.conf:

[code]

### System info:

[code]

### Docker

none

### Steps to reproduce:

1. Configured and start agent
2. Writing to a log file
3. Show logs in kibana

### Expected behavior:

Unique value for field

### Actual behavior:

Non unique value for field

### Additional info:

<img width="1145" alt="Снимок экрана 2020-12-09 в 18 11 15" src="https://user-images.githubuser

[2020-12-09 21:04] dapryor commented on #8530
Update:
I have gotten net-snmp tools compiled with `--enable-blumenthal-aes`
The snmp tools now support 256 and 256C (256C is not documented in the `--help` but it still works)

Still trying having some issues with my MIBs not linking together properly.

Once I figure that out, I will try to get telegraf working

[2020-12-10 00:51] sjwang90 commented on #8497
@mirkocomparetti-synesis If you are interested in a submitting a PR for this at all that would be great.

[2020-12-10 01:47] dapryor commented on #8530
Update 3:

Telegraf is now successfully pulling SNMPv3 data with AES256C.

I can push the changes to the code go in a PR, **BUT** this change will require users to have the properly compiled net-snmp tools.

This change would also need an update for net-snmp in the telegraf docker container to properly support the protocols.
This would require adding a manual net-snmp build process in the containe

[2020-12-10 02:52] dapryor commented on #8530
I have tested the manual net-snmp build into a telegraf container and it is working as expected.
This was the command used for my sanity test:

[code]

[2020-12-10 08:34] stefi994 commented on #4967
@danielnelson Do you have any info? I am having the similar problem, just with a different field "/interfaces/interface/subinterfaces/subinterface/state/description". Are the pieces of information linked? How can I check on the device this ?

[2020-12-10 09:00] stefi994 commented on #4626
@danielnelson @ajhai Hey guys , can you please take a look at this one? I am still struggling to get it to work.. is it in any way fixed?
@makzdot Do you maybe find some workaround for this one ?

[2020-12-10 10:26] BlueskyFR opened #8534 "Nvidia-smi is too slow"
## Feature Request

### Current behavior:

The Nvidia-smi plugin is too slow: it takes about 0.6 sec each time it is ran to complete:
*(on a 8 GPUs machine)*
[code]

### Proposal:

If we want to be able to go down to an interval of 10 ms for example, we definitely have to do something.
The current `nvidia-smi -q -x` command is taking too much time to complete because of 3 main factors:

1. The out

[2020-12-10 11:14] xiaopeng163 opened #8535 "snmp_trap plugin get error message like" Error resolving OID: exit status 2""
### Relevant telegraf.conf:

[code]

### System info:

### Docker

docker image version is 1.15.3

### Steps to reproduce:

1.  start teleraf
2.  Cisco routers send snmp traps to telegraf

### Expected behavior:

### Actual behavior:

Get error logging message like

[code]

### Additional info:

[2020-12-10 13:09] zumodevidrio opened #8537 "Error writing to outputs.influxdb: could not write any address / Client.Timeout exceeded while awaiting headers"
Randomly I receive the following error in logs:

[code]

However I don't find any interruption in grafana or in the database.

In the logs of the InfluxDB server I don't receive any relevant information at the same time.

**Versions:**
Telegraf 1.16.3
influxdb-1.8.2
InfluxDB server: CentOS Linux release 7.7.1908
Telegraf client: Ubuntu 16.04.7 LTS

**Client configuration:**

**telegraf.conf**

[co

[2020-12-10 13:47] adam0war opened #8538 "Not getting internal<plugin_name> metrics from Telegraf's internal input plugin."
### Relevant telegraf.conf:
[code]

### System info:

 - Centos 8
 - Linux centos8 4.18.0-80.11.2.el8_0.x86_64 #1 SMP Tue Sep 24 11:32:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
 - Telegraf 1.16.3

### Steps to reproduce:

1. Use internal input plugin
2. telegraf -- config telegraf.conf --test | grep internal_
3. curl localhost:8093/metrics | grep internal_

### Expected behavior:
Getting all metr

[2020-12-10 14:03] TomAvecLeVdsl opened #8539 "Error writing to outputs.influxdb_v2: failed to write metric: unauthorized: unauthorized access"
### Relevant telegraf.conf:

[code]

### System info:

Ubuntu server 20.04
Telegraf 1.16.3
InfluxDB 2.0.2

### Steps to reproduce:

1. Configure the influxdb-v2 plugin
2. add a service like input.exec
3. gives an error when runned as a service but works fine when runned in debug mode

### Expected behavior:

Sends data to influx db

### Actual behavior:

get the data but does not send it to influx

[2020-12-10 14:33] raul-parada opened #8540 "[inputs.socket_listener] Unable to parse incoming packet: invalid character 'ÿ' looking for beginning of value"
### Relevant telegraf.conf:
[code]

### System info:

Telegraf 1.16

### Steps to reproduce:

1. Setup above plugin.
2. Run telegraf

### Expected behavior:

Parsed JSON

### Actual behavior:

`[inputs.socket_listener] Unable to parse incoming packet: invalid character 'ÿ' looking for beginning of value `

The incoming message is well parsed using MQTT_consumer plugin.

[2020-12-10 16:53] reimda commented on #8530
I don't see a problem with a PR to update the telegraf binary to support the newer privacy protocols if gosnmp has been updated to support them.  We don't need to update the official docker container in the same PR.  Let's get the binary updated as the first step, then look into updating the docker container.

If you have code ready that updates telegraf to add the privacy protocols, open an PR an

[2020-12-10 17:32] acejacek commented on #8471
In simple cases - yes, it can. However, aggregator [merge](https://github.com/influxdata/telegraf/tree/master/plugins/aggregators/merge) works as last step (after processors), so if you tag your nodes in different way, merge will fail. In some cases it's useful to employee processor to change selected fields to tags, then merge fails too.

Have a look at this example:
[code]
To solve this issue I

[2020-12-10 17:37] mirkocomparetti-synesis commented on #8471
Yes, there are limitations, I know. But if I decide to tag stuff differently, maybe I do not want to merge them, otherwise the tags would be coherent, which is the baseline to have them all in one entry.

We are coming from nodered, but I do really prefer the telegraf approach and I was long waiting for this plugin to come out!

[2020-12-10 17:45] acejacek commented on #8471
maybe #8475 will solve this issue. In OPC-UA the nodes tree looks like this:
[code]
If I'll query OPC-UA on Product level instead on leaves, maybe it will produce correct, array result. Now it breaks with unknow data format.

[2020-12-10 20:23] #8485 closed

[2020-12-10 20:37] sjwang90 commented on #8539
Hey @TomAvecLeVdsl, I think I can help you troubleshoot but we reserve Telegraf issues for bugs/reproducible problems. Can you please reach out to me in our [Community Slack](influxdata.com/slack) - `@Samantha`

[2020-12-10 20:37] #8539 closed

[2020-12-10 20:52] raul-parada commented on #8540
This is my JSON file (you can observe how there is no 'ÿ' character:

[code]

[2020-12-10 23:06] ssoroka commented on #8518
Nothing needs to be done for this. You can do this today with the existing state support in the starlark plugin.

[2020-12-10 23:06] #8518 closed

[2020-12-11 01:22] dapryor commented on #8530
Thanks for the reply @reimda.

I have linked the PR.
One circleci build failed, but the code that failed was something isolated from the changes I implemented.  Could you force a rebuild?

[2020-12-11 02:24] sjwang90 commented on #8480
Thanks for the feature request. If you would like to open a PR to add these features that would be great!

[2020-12-11 02:25] endersonmaia commented on #4372
How much for this functionality ?

**Support Graphite Line Protocol at Input/Parser**

`my.series;tag1=value1;tag2=value2 <value> <timestamp>\n`

See:

- https://github.com/influxdata/telegraf/tree/master/plugins/parsers/graphite
- https://graphite.readthedocs.io/en/stable/tags.html

[2020-12-11 02:26] sjwang90 commented on #8491
If anyone would like to open a pull-request with the changes that would be great. Per @ssoroka, if you want to take a look at that, the relevant code seems to be around here: https://github.com/influxdata/telegraf/blob/master/plugins/inputs/rabbitmq/rabbitmq.go#L477

[2020-12-11 02:39] sjwang90 commented on #8527
Please see: https://github.com/influxdata/telegraf/issues/8363

We currently do not have plans to make Telegraf FIPS compliant

[2020-12-11 02:39] #8527 closed

[2020-12-11 14:08] #8347 closed

[2020-12-11 17:05] mjiderhamn commented on #5898
AFAI can tell, a new pool is even created _for every query_ at every interval.

[2020-12-11 17:08] Jagularr commented on #8521
Thanks for the issue, the ALARMDEL value is being parsed incorrectly and looking into a way to fix it.

[2020-12-11 19:11] sjwang90 commented on #6072
Closed in #8318

[2020-12-11 19:11] #6072 closed

[2020-12-11 19:52] sjwang90 commented on #5964
If anyone is interested in taking over PR #6166 that addresses this issue

[2020-12-11 22:49] #8188 closed

[2020-12-12 02:13] philomory opened #8546 "Handle labels in kube_inventory input like the kubernetes input does"
## Feature Request

The Kubernetes input plugin can turn pod labels into tags on the `kubernetes_pod_container` measurement. For example, if you set `label_include = ["app.kubernetes.io/name"]`, then all your measurements will get a tag with the value of that field.

The Kubernetes Inventory plugin _also_ produces a measurement named `kubernetes_pod_container`, but this feature isn't available for

[2020-12-12 07:31] hloeung opened #8547 "[ethtool] ethtool input plugin to include speed and duplex"
## Feature Request

Any chance of including speed and duplex settings with metrics exported by the ethtool plugin?

### Proposal:

e.g. (speed=1000,duplex=full)

### Use case:

It's useful for when issues with cables, connectors, connections, or even incorrect switch port configs. We'll be able to identify and alert on when speed or duplex has changed.

[2020-12-12 12:02] ClaudioESSilva opened #8548 "SQLServer: SQLServerCpu - sqlserver_process_cpu calculation may retrieve wrong value when hyperthreading exists"
### Relevant telegraf.conf:

[code]

### System info:

SQL Server 2016 running on Windows Server 2016
Telegraf v1.13.3

### Steps to reproduce:

Collect SQL Server CPU metrics on a system with hyperthreading (and lots of cores)

#### The case I saw
From `sys.dm_os_sys_info`
cpu_count -> 80
hyperthread_ratio -> 20

1. Collect CPU metrics
2. Output example (notice the negative value of blue line):

[2020-12-12 12:50] sndstar opened #8550 "Telegraf Processors :: handle bitwise data"
Hello

I hope I am at the right place to solve a problem I have with extracting bitwise data from a field value with the Telegraf Processor facilities.

I have a field value containing an integer-encoded number, which I need to dissect into its individual bits. So far I have failed to find a combination of processors that would allow me to do that.

Desired result: derive n datapoints with field v

[2020-12-12 13:13] #8535 closed

[2020-12-13 09:55] KalyaniDar opened #8553 "Input plugin for AWS S3"
I am new to telegraf and I am trying to use Telegraf cloudwatch plugin for retrieving AWS/S3 metrics and the plugin doesn't seem to list any metrics for S3. It works for EC2  but not for S3. Buckets are already present for the credentials I used.

 [[inputs.cloudwatch]]

   region = 'ap-east-1'
   namespace = "AWS/S3"

Kindly help in resolving this issue

[2020-12-13 09:56] KalyaniDar opened #8554 "Telegraf Input plugins needed for ScaleIO , IBM Cleversafe and NetApp"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal: I want to read the scaleIO metrics using telegraf. I would be great, if you can develop the Input plugins for the same.
Similarly for IBM Cleversafe and NetApp storage systems

### Current behavior:

### Desired behavior:

### Use case:

[2020-12-14 02:05] ljagiello commented on #5208
@ssoroka @sjwang90 I've tried to replicate environment based on what I remember with docker composer but I was unable to generate the same issue. Because I don't use telegraf, I don't have access to that environment and I'm unable to replicate this issue I will close this ticket.

Thank you so much for checking here.

[2020-12-14 02:05] #5208 closed

[2020-12-14 08:46] Karmenzind opened #8557 "[procstat] memory_usage are always 0i on linux"
Here are the latest master code.

![image](https://user-images.githubusercontent.com/17923071/102057965-bf5c2380-3e29-11eb-8f20-471aefb6a36f.png)

As you can see, the method `fillFromStatmWithContext` didn't collect the Swap value so it will always be 0.

I read https://github.com/shirou/gopsutil/issues/620 and it seems an upstream bug. But gopsutil provides another method (https://github.com/shir

[2020-12-14 13:12] henriknoerr opened #8558 "input.snmp - v3 unknown user name - still creates records with tags as integer"
I have issues with telegraf output being sent to influx even when failing snmp credentials. Tags and values are somehow random integers - sorry I don't know the markup codes here to makes this look remotely nice 🥇

`snmpwalk -v 3 -u user -a sha -A password -x aes -X password -l AuthPriv ipaddress CHECKPOINT-MIB::fwFrag-fragments -n ctxname_vsid10
snmpwalk: Unknown user name`

but the value from te

[2020-12-14 13:13] henriknoerr commented on #8558
Telegraf 1.16.3 (git: HEAD c7f21728)

[2020-12-14 13:16] henriknoerr commented on #8558
the above issue means that if a user enters wrong credentials to the device / telegraf config the influxdb is still being flooded with millions of unique tags which destroys series

[2020-12-14 13:22] henriknoerr commented on #8558
ok - I think someone smarter than me described the issue here: https://github.com/influxdata/telegraf/issues/8242

[2020-12-14 14:19] sndstar commented on #8550
Hello,

Update on this one, I managed to cludge together a workaround by using clone (to clone as many points as bits required), and enum. Enum is used as a lookup table for integer combinations belonging to a single bit. As you can imagine, it scales really bad and I can only use it because it’s only 6 bits that are not completely independent. You also have to rename the field names of all cloned

[2020-12-14 14:45] TannerW commented on #732
Is there any update on this effort or does it need to be rebooted? It seems like there is still interest, but we haven't seen an update in 3 or so years. I could maybe find the time to lend a hand to the request if no one is actively working on this. This feature is a *big* want for me right now so I am happy to assist in any way possible.

[2020-12-14 17:01] sk4mi opened #8559 "Parsers :: Add OpenTSDB data format support"
## Feature Request

### Proposal:

Add  new parser to supports OpenTSDB for input data format.

http://opentsdb.net/docs/build/html/user_guide/writing/index.html

### Current behavior:

Actually not supported.

### Desired behavior:

Be able to handle pushed OpenTSDB metrics from an app to telegraf input.

### Use case:

I cannot get metrics with Telegraf from my apps environment who is pushing me

[2020-12-14 18:08] stephanie-engel commented on #8027
After doing the initial research and attempting to create a proof of concept for this, it looks like this potential implementation should be part of a larger discussion.

Currently, it appears that `telegraf.go`(which contains the supported telegraf command line arguments) **doesn't** include commands that would overwrite values within `telegraf.conf`. This proposed feature seems to stray from how

[2020-12-14 18:29] samhld commented on #8027
@stephanie-engel Thanks for looking into this!  The environment variable workaround would still not be available today though, correct?  Unless I'm misunderstanding?

How would Telegraf use `INFLUX_FETCH_TOKEN` to instantiate its configuration if not from the configuration file?  To be extra clear, the proposal is to allow for Telegraf to use a separate token to fetch its configuration.  The curre

[2020-12-14 20:32] sanel opened #8560 "Odd behavior of http_response plugin"
### Relevant telegraf.conf:

[code]

### System info:

OS: Ubuntu 16.04.7 LTS x86_64, Telegraf: 1.16.3 (git: HEAD c7f21728).

### Steps to reproduce:

1. Telegraf, Riemann, InfluxDB.
2. Add multiple sites to monitor, like in configuration. More than 10.

### Expected behavior:

Measurements from all sites should be sent from telegraf around every 10 seconds.

### Actual behavior:

For some sites,

[2020-12-14 21:37] idrennanvmware commented on #7160
Just resurrecting this conversation - we are seeing similar broken pipe behavior (irrecoverably so in our telegraf containers) since upgrading to wavefront proxy 9.2 (telegraf is 1.6.0)

We are repeatedly spammed now with [agent] Error writing to outputs.wavefront: Wavefront sending error: write tcp XXXXX:35206->XXXXXX:2878: write: broken pipe

@randallt did you ever get any instructions on how to

[2020-12-14 22:16] reimda opened #8561 "Mysql input plugin needs tests"
### Current behavior:
The mysql plugin has very few tests.  The existing unit tests cover only narrow parsing tasks.  There are a couple integration tests related to connecting.  There are no tests related to gathering metrics.

related: #6132

### Desired behavior:
Unit tests covering the functionality of the plugin.  Include mocking the response from mysql so tests can cover metric generation.

[2020-12-14 22:43] reimda opened #8563 "Grok parser unit test is failing intermittently"
The unit test TestAdvanceFieldName in plugins/parsers/grok is failing intermittently.  Since the tests are run during CI on every PR, the failing unit test often prevents the other CI steps from running.

Example test failure:

https://app.circleci.com/pipelines/github/influxdata/telegraf/2530/workflows/6b057500-1fd0-4bca-95dc-642c29827c13/jobs/71550

[2020-12-14 23:15] endersonmaia commented on #4372
There's a PR for that https://github.com/influxdata/telegraf/pull/8564

[2020-12-15 01:21] sjwang90 commented on #732
@TannerW There's no one currently working on this right now so we welcome anything you would like to work on.

Please check out writing this as an [external plugin](https://github.com/influxdata/telegraf/blob/master/docs/EXTERNAL_PLUGINS.md) that can be used with `execd` to run seamlessly with Telegraf. Any plugin could be used sooner by having it as an external plugin since it wouldn't have to go

[2020-12-15 01:55] sjwang90 commented on #7009
These types of calculations can be done with the [Starlark Processor](https://github.com/influxdata/telegraf/tree/master/plugins/processors/starlark). Please check out the [examples](https://github.com/influxdata/telegraf/tree/master/plugins/processors/starlark#examples) and how you can perform a mathematical function.

[2020-12-15 01:55] #7009 closed

[2020-12-15 02:03] sjwang90 commented on #4017
@timhallinflux Can you provide a link to the Anti Entropy (AE) service metrics?

[2020-12-15 02:11] sjwang90 commented on #1569
Closing this issue as it's pretty old without any other users mentioning any similar errors. @zarnovican, feel free to re-open if this issue still exists.

[2020-12-15 02:11] #1569 closed

[2020-12-15 02:14] philomory opened #8565 "Include resource requests and limits in `kubernetes` plugin output for containers"
## Feature Request
I'd like the `kubernetes` input plugin to include the resource limits and requests as fields in the `kubernetes_pod_container` measurement.

### Proposal:
The `kubernetes` input should include resource limits and requests in the `kubernetes_pod_container` measurement. Currently, the only way to get this information is to also run the `kube_inventory` input plugin, however, this

[2020-12-15 02:15] sjwang90 commented on #4795
Added as an [external plugin](https://github.com/influxdata/telegraf/blob/master/EXTERNAL_PLUGINS.md#outputs)

[2020-12-15 02:15] #4795 closed

[2020-12-15 03:32] sjwang90 commented on #2194
Closing this issue since it has been a few years and not much other interest. Feel free to re-open if this a feature you would still like. If so, we welcome a PR for the enhancement.

[2020-12-15 03:32] #2194 closed

[2020-12-15 04:42] timhallinflux commented on #4017
I think this just happens... and we simply need to update the documentation in the README: https://github.com/influxdata/telegraf/blob/release-1.16/plugins/inputs/influxdb/README.md

you can see the list of all supported metrics (and cross check them to ensure they are up-to-date with the 1.8 release here:

https://docs.influxdata.com/platform/monitoring/influxdata-platform/tools/measurements-inte

[2020-12-15 04:48] vipinvkmenon commented on #3723
Hmm...same issue for missing influxdb connections as well.

[2020-12-15 05:11] sjwang90 commented on #8553
Please check out to see if this helps: https://github.com/influxdata/telegraf/issues/1907#issuecomment-300867109

We reserve Telegraf issues for bugs for reproducible problems.  Please reach out to us in our [Community Slack](influxdata.com/slack) or [Community Page](https://community.influxdata.com/) and someone will assist you.

[2020-12-15 05:11] #8553 closed

[2020-12-15 07:12] prashanthjbabu opened #8566 "Add cmdline as a field in procstat plugin"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
    Adding `cmdline` as a field in procstat plugin
### Current behavior:
 `cmdline` can only be added as a tag
### Desired behavior:
 option to add `cmdline` as a field or tag
### Use case:
Adding `cmdline` as a tag can introduce a very high cardinality in databases like influxdb because if you're running 5-10 she

[2020-12-15 08:22] zarnovican commented on #1569
Hi @sjwang90, I have stopped using `cloudwatch` plugin long time ago for several reasons. That's why I didn't bother retest it.

I have re-tested it now. The good news is that the problem no longer appears on 1.15.3.

[2020-12-15 11:05] kevinv21 commented on #5750
Just in case... ¿Does your username contain a special character?
I was having the same issue, after trying with different configurations (e.g., **insecure_skip_verify = true**) and ensuring that I have access through the VMWare.PowerCLI tool with the command **Connect-VIServer -Server <IP>,** I noticed that my username (vsphere.local\readonly) includes a slash \ and that I had to scape it (vsphere

[2020-12-15 12:41] randallt commented on #7160
See my workaround #2 in the description above for how to use http mode. Essentially, using a url field instead of host and port. The wavefront output plugin doc has an example I believe.

[2020-12-15 12:58] TannerW commented on #732
Thank you for the tips on getting started @sjwang90! I will start spinning something up this weekend and won’t hesitate with my questions. I will post an update to this thread ASAP.

[2020-12-15 15:59] #6131 closed

[2020-12-15 17:04] sjwang90 commented on #4972
Please check out the [CONTRIBUTING.md](https://github.com/influxdata/telegraf/blob/master/CONTRIBUTING.md). If you want more specific assistance please join our [Community Slack](influxdata.com/slack) and hit up the #telegraf-dev channel.

[2020-12-15 17:04] #4972 closed

[2020-12-15 18:15] stephanie-engel commented on #8027
@samhld Ah ok, you're right. I was misunderstanding your request.

[2020-12-15 18:17] ssoroka commented on #8437
@stenehall for sure; we'd love to see the contribution if you can.

[2020-12-15 18:42] ssoroka commented on #4372
resolved in https://github.com/influxdata/telegraf/pull/8564

[2020-12-15 18:42] #4372 closed

[2020-12-15 18:47] #4971 closed

[2020-12-15 18:47] ssoroka commented on #8560
because they're all in the same plugin config, one site being slow to respond will hold up all the others (requests are in parallel, but the gather interval can't end until they all reply or time out). It's likely that one of the sites is slow to respond, causing it to miss the next collection interval. All this would take is for a response to take longer than 10 seconds, based on your config.

[2020-12-15 18:47] #8560 closed

[2020-12-15 18:48] sjwang90 commented on #4971
Closed in https://github.com/influxdata/telegraf/commit/fbd3e7887ae8400191f55862d90e2066847daecd

[2020-12-15 18:51] ssoroka commented on #8553
FYI see https://github.com/influxdata/telegraf/issues/6617 for the request for an S3 input plugin request (re topic)

[2020-12-15 18:56] ssoroka commented on #8550
take a look at the Starlark processor, it should have everything you need to do arbitrary operations on fields and store them back to the metric in any way you like.

[2020-12-15 18:56] #8550 closed

[2020-12-15 20:07] sanel commented on #8560
I put each site in separate `[[inputs.http_response]]`, results are mostly the same.

You suggest to put this in separate config files? Notice that all sites should timeout after 5 seconds (see that `response_timeout` in `[[inputs.http_response]]` block, which is less than 10 seconds cycle interval.

[2020-12-15 20:41] sumptersmartt commented on #7940
Is this fixed in PR #8505?

[2020-12-15 23:47] reimda commented on #8501
Do you get the same behavior with ping method = "exec"?

[2020-12-16 00:50] kerriwait commented on #7966
@sjwang90 this issue also impacts our telegraf installation. The fix looks good. Is there a plan to add this to a new release?

[2020-12-16 03:07] Jamesits opened #8570 "Docker plugin + InfluxDB 2.0: type mismatch"
### Relevant telegraf.conf:
[code]

### System info:

* CentOS 7.9
* Telegraf 1.16.1 (git: HEAD 292e285a)
* Docker version 20.10.0, build 7287ab3

### Docker

N/A

### Steps to reproduce:

1. Enable Telegraf Docker plugin and a InfluxDB v2 output plugin
2. Wait a while for the `docker_swarm` series to be created
3. Enable Docker Swarm mode on the host

### Expected behavior:

Telegraf should be ab

[2020-12-16 08:53] sndstar commented on #8550
I'm a bit sad that I overlooked this, seems to be just the solution I need.

Thank you!

On 15 December 2020 7:56:34 pm GMT+01:00, Steven Soroka <notifications@github.com> wrote:

[2020-12-16 11:21] eremmel opened #8571 "outputs.influxdb_v2 keeps looping on 500 response."
### Relevant telegraf.conf:
[[outputs.influxdb_v2]]
  Any working config will do.

[[inputs.influxdb_listener]]
  Any local input will do

### System info:

telegraf 1.16.3
influxdb 2.x

### Steps to reproduce:

I've configured a bucket with a retention policy of 2 weeks. When I write some measurements that are older than those two weeks, influxdb response with an 500 error.

1. setup influxdb v2

[2020-12-16 13:50] lahsivjar opened #8572 "Prometheus style histogram metrics from statsd input plugin"
## Feature Request
A way to generate Prometheus style histogram metrics from statsd input plugin (something similar to https://github.com/atlassian/gostatsd#timer-histograms-experimental-feature)

### Proposal:
Statsd Input plugin receives raw data from clients thus it should be possible to maintain counters for a user-defined set of le-buckets(similar to Prometheus). Le labels can be added as tag

[2020-12-16 15:39] dapryor commented on #8530
I have opened an issue on the influxdata-docker repo requesting the team provide the net-snmp tools required to fully support snmpv3.

https://github.com/influxdata/influxdata-docker/issues/430

[2020-12-16 18:41] ssoroka commented on #8571
Thanks! looking into this now

[2020-12-16 20:31] VahidMostofi opened #8578 "Link to influxdb line protocl is broken for v2"
Hi,
It definitely is not high priority, but
In https://github.com/influxdata/telegraf/tree/master/plugins/parsers/influx , the link which is supposed to point to influxdb line protocol tutorial, is pointing to 404.
Correct link:
https://docs.influxdata.com/influxdb/v2.0/reference/syntax/line-protocol/

[2020-12-16 20:33] sspaink commented on #3673
Merged a pull request that resolves this issue. Let us know if you have any problems with this change! thanks.

[2020-12-16 20:33] #3673 closed

[2020-12-16 20:37] sjwang90 commented on #7966
@kerriwait We'll get this merged. We're currently planning our 1.17 general release for really soon so this won't make it in. But once it's merged it'll be included in master and the nightly builds. It will be included in the following patch release (1.17.1).

[2020-12-16 20:38] #7581 closed

[2020-12-16 20:39] #8501 closed

[2020-12-16 21:05] patgmac opened #8580 "Telegraf for macOS should be signed"
## Feature Request

### Proposal:

Apple has a hard requirement in current versions of macOS for binaries to be signed and notarized. This FR is to start signing the telegraf binary with a valid Apple certificate and notarize as needed. Here is some documentation from Apple on this topic: [https://developer.apple.com/support/code-signing/](url).

This would ideally mean someone at a company level

[2020-12-17 03:21] lahsivjar commented on #8572
https://github.com/lahsivjar/telegraf/commit/43ea032d6e29906e393557b08b8bfbac988c8c0b

A PoC for the proposal.

[2020-12-17 06:53] ortiga88 opened #8581 "[inputs.sqlserver] exclude a bd"
How could you exclude a database from the telegraphy configuration? Is it necessary to delete the data directly from influxdb ???

[2020-12-17 09:06] Hipska commented on #8235
AFAIK telegraf is already using GETBULK, you can configure it by using the `max_repetitions` config setting (defaults to 10).

[2020-12-17 09:08] Hipska commented on #8011
@reimda what do you think?

[2020-12-17 09:14] Hipska commented on #7956
@ekolseth could you give feedback please?

[2020-12-17 09:32] Hipska commented on #3788
@dpajin Could you make a PR with the updated gosnmp library?

[2020-12-17 09:38] zhanghongxia4725 opened #8582 "redis5.0.8 NOAUTH Authentication required"
servers = ["tcp://XXX.XXX.XX.XXX:6379"]
#
#   ## Optional. Specify redis commands to retrieve values
#   # [[inputs.redis.commands]]
#   # command = ["get", "sample-key"]
#   # field = "sample-key-value"
#   # type = "string"
#
#   ## specify server password
 password = "XX"
执行 telegraf -config redis.conf --input-filter redis --output-filter opentsdb:influxdb -test
报错
2020-12-17T09:07:22Z I! Start

[2020-12-17 09:43] Hipska commented on #5440
Hi, I'm using Ansible to generate a config file for each agent I want to collect so it does not interfere with the global `telegraf.conf` file. Is this a workable alternative to your request?

[2020-12-17 10:00] Hipska commented on #4413
@danielnelson What is the state on this with the snmp input plugin? It currently still uses `agent_address`, should that be changed to `source` or should a user pick the sysName to be added as 'source'?

[2020-12-17 10:02] Hipska commented on #5020
Support could be added by using `fping` instead of `ping` as command to execute.

[2020-12-17 12:14] acejacek opened #8583 "[inputs.opcua] StatusBadSessionIDInvalid"
In exact 2 minutes intervals I'm getting this message in log:
[code]
It exists in Telegraf 1.16.3, and latest RC: 1.17.0
Connection to OPC-UA in anonymous mode, no security policies nor secure modes, generic configuration.

Telegraf seems to be working, data get collected just this annoying error message. I can't spot from where error comes from: is it a bug in plugin or in its surroundings.

[2020-12-17 14:04] zumodevidrio commented on #8537
UPDATE: The recurrence of the message has been drastically reduced after increasing the ressources (CPU) of the InfluxDB server

[2020-12-17 15:12] Theoooooo opened #8584 "[input.exe] Impossible to retrieve data from script, working by hand properly"
### Relevant telegraf.conf:

[code]

### System info:
CentOS 7 1804
Telegraf 1.16.3

### Steps to reproduce:
I've wanted to create a script to return if a specific service is running or not. I've decided to use the input.exec module to be able to do this with a simple bash script.

1. Create the script at a location you can execute it as a command (for me)
2. Add the following content
[code]

###

[2020-12-17 16:17] Theoooooo commented on #8584
Ok after searching more i found the correct way to make this work.
I hope this will help peoples in the futur.

Script :
[code]
You **need** to let the integer or float value without the double quote, or the system will understand it as a string and will not be parsed overwise you tell him to do it.

telegraf.conf configuration :
[code]
If you don't specify the "**json_string_fields**", none of yo

[2020-12-17 16:17] #8584 closed

[2020-12-17 16:21] #4017 closed

[2020-12-17 16:28] byrdchris commented on #8271
I had this exact issue on Centos 7.9 outside of docker.
Telegraf, snmpwalk, snmptable, etc tests worked without issue but any version of Telegraf from 1.14-1.16 hit the "[inputs.snmp] Collection took longer than expected;" after approximately 10-12 checks

I adjusted timeouts, intervals, connection jitter etc, and tested against a few agents all with similar results.

I then tested my same configu

[2020-12-17 17:04] IgorKuchmienko opened #8585 "[sqlserver input plug-in] TLS handshake errors with 200 Azure SQL DBs"
## Problem description

When sqlserver plug-in is configured to monitor 200 Azure SQL DBs, it fails with many errors in file tgf.log:
2020-12-17T16:15:19Z E! [inputs.sqlserver] Error in plugin: Script AzureSQLDBSchedulers failed: TLS Handshake failed: Cannot read handshake packet: EOF

The degradation seems to be gradual and depends on the number of parallel connections in file [sqlserver.go](http

[2020-12-17 18:24] igomura opened #8586 "postgresql plugin has to retry connection in case of failure"
### Relevant telegraf.conf:
[code]

### System info:

telegraf-1.15.3-1.x86_64
CentOS Linux release 7.8.2003 (Core)
kernel 3.10.0-1160.6.1.el7.x86_64

### Steps to reproduce:

1. shut down postgres server
2. start telegraf
3. start postgres server few seconds later

### Expected behavior:

plugin reconnects to the database as soon as it becomes available

### Actual behavior:

plugin throws an err

[2020-12-17 20:54] dpajin commented on #3788
Hi @Hipska, sorry for being so slow on this. I just created a PR for update of gosnmp library.

[2020-12-17 20:55] dpajin commented on #7929
@DouglasHeriot, I made a pull request for gosnmp update: https://github.com/influxdata/telegraf/pull/8588

[2020-12-18 00:32] #7531 closed

[2020-12-18 01:23] sjwang90 opened #8593 "Add additional metrics to Network Input Plugin"
## Feature Request

### Proposal:
Request for additional measurements of Network TCP collisions on Linux.

### Current behavior:
Current plugin does not have list need metrics on Network TCP collisions

### Desired behavior:
Specific List of Metrics: TBD

[2020-12-18 13:07] bimw520 commented on #7940
yes

[2020-12-18 13:53] CHANDU677493 commented on #5958
Hi Nisely and all,

How can I get the telegraf version Number from our existing domain servers where telegraf already installed..? can you please provide a quick solution here.

[2020-12-18 13:55] CHANDU677493 opened #8595 "telegraf should be able to report its existing version"
As an operator, I should be able to check to query/understand how many of each version of telegraf agents are reporting in.

Proposal:
Current behavior:
Desired behavior:
Use case:
If I have 4,000 telegraf agents on 1.X and I'm performing an upgrade to 1.Y, I would like to ask/use InfluxDB to understand if all 4,000 agents are running 1.Y. If they are not all 1.Y, how many, and which are still 1.X

[2020-12-18 15:22] rudigerlove commented on #7107
Hi,
is this plugin finally on the main thread?
thanks

[2020-12-18 16:02] poulhs commented on #5958
Some configuration like this:
[code]
or `telegraf --version`
should do the trick.
I think the configuration is supoorted from `telegraf >= 1.12`

[2020-12-18 16:13] CHANDU677493 commented on #5958
Can I have the perfect configuration file to get the telegraf version ?

From: Poul H. Sørensen <notifications@github.com>
Sent: Friday, December 18, 2020 9:32 PM
To: influxdata/telegraf <telegraf@noreply.github.com>
Cc: Chandra Sekhar Mortha <chandrasekhar.mortha@factset.com>; Comment <comment@noreply.github.com>
Subject: Re: [influxdata/telegraf] telegraf should be able to report its version (#5

[2020-12-18 16:27] poulhs commented on #5958
Well, your _perfect_ may differ from my _perfect_ (mine may even differ between the servers I configure...)
But iin my _perfect_ world, we use:  `/etc/telegraf/telegraf.d/inputs_internal.cfg` which telegraf includes:
[code]

[2020-12-18 16:55] CHANDU677493 commented on #5958
Thanks, please don’t mine…I am new to this telegraf

can you please explain the process and where to change the config file to hard code and get the versions list..?

How to modify the below configuration file w.r.to the telegraf version ?

## If true, collect telegraf memory stats.

  collect_memstats = true

  interval = "120s"

Also, please let me know if there is any easy way to get the telegr

[2020-12-18 17:05] poulhs commented on #5958
https://docs.influxdata.com/telegraf/v1.16/ to get a better understanding of telegraf
and https://docs.influxdata.com/telegraf/v1.16/administration/configuration/ to understand how to configure telegraf...

[2020-12-18 17:14] CHANDU677493 commented on #5958
I have these docs, But, I need to understand that what configuration needs to change to get the telegraf version list..?
what command (configuration file to hard code) needs to use ?

From: Poul H. Sørensen <notifications@github.com>
Sent: Friday, December 18, 2020 10:36 PM
To: influxdata/telegraf <telegraf@noreply.github.com>
Cc: Chandra Sekhar Mortha <chandrasekhar.mortha@factset.com>; Comment <

[2020-12-18 17:19] poulhs commented on #5958
OK, then you can tell me where you have your telegraf configuration from your existing domain servers where telegraf is already installed.

Or just login to all the servers and issue `telegraf --version`

[2020-12-18 17:22] poulhs commented on #5958
To enable the input plugin `internal`
find the lines ```# # Collect statistics about itself
# [[inputs.internal]]
#   ## If true, collect telegraf memory stats.
#   # collect_memstats = true
[code]
yes, that was "remove the `# ` comment"
and restart telegraf

[2020-12-18 17:27] CHANDU677493 commented on #5958
Hi

I am receiving the below error while running telegraf --version

[cid:image001.png@01D6D591.19B69A60]

Also, is the below for memory stats or to get an version.?

[[inputs.internal]]

#   ## If true, collect telegraf memory stats.

#   # collect_memstats = true
yes, that was "remove the # comment"

From: Poul H. Sørensen <notifications@github.com>
Sent: Friday, December 18, 2020 10:53 PM
To: i

[2020-12-18 18:33] dobicz opened #8597 "gNMI for Nokia and Huawei devices"
Hi,

gNMI supported only Cisco devices?

I need to use for a Nokia SR-7750 and Huawei devices.

Tks,

Paulo

[2020-12-18 19:55] philomory opened #8599 "Add missing RabbitMQ queue metrics"
### Proposal:

The `rabbitmq_queue` measurement should have the following additional fields added:

* `messages_deliver_no_ack`
* `messages_deliver_no_ack_rate`
* `messages_get`
* `messages_get_rate`
* `messages_get_no_ack`
* `messages_get_no_ack_rate`

We already have `messages_deliver` and `messages_deliver_get`, but, `messages_deliver_get` is defined as `messages_deliver + messages_deliver_no_a

[2020-12-18 21:41] #7184 closed

[2020-12-19 00:27] poulhs commented on #5958
You failed to post an image, so I don't even know your operating system (although it sounds like a non-unix like variant).
I am not trying to be rude, so please don't be offended by the next questions, it is the kind of questions I got asked in the past and still ask myself whenever I come around similar problems:
I tried to guide you as far as I can - Do you know where the configuration files are

[2020-12-20 08:58] tfoldi opened #8601 "Add timestamp option to postgres_extensible to handle log like queries."
## Feature Request

Add `timestamp` option to `postgres_extensible` to handle log like queries.

_I am about to send a PR, so you do not have to implement it - just don't hate that much_

### Proposal:

add `timestamp` option for `query` configuration such as:

[code]

in case timestamp column is defined, then the data point's timestamp will be parsed from that database column. If not specified, i

[2020-12-20 17:32] freaknils commented on #8521
Error in 1.17 still present

[2020-12-20 20:17] bugsyb opened #8603 "input.swap in/out empty - Docker container"
Swap in/out reports zeros (always):
 in=0i,out=0i
Even if swap gets usage reported correctly bytes/percentage free/used.
Can't find how the in/out is collected (swapstats?) and if it is a missing mount/command or maybe a limitation how it works => gets info of swap in/out only at the time of running telegraf.

Expectation is that between runs of telegraf we would find out how much more swap in/out

[2020-12-21 00:56] tengjiaowang opened #8604 "config input.logparse grok, but no metics out"
if i config like this,it works;
[[inputs.logparser]]
     files = ["/etc/telegraf/example/test2.log"]
     from_beginning = true
     [inputs.logparser.grok]
         measurement = "apopscenter"
         patterns = [  "%{NOTSPACE:date} %{NOTSPACE:times} %{NOTSPACE:thread_name} %{NOTSPACE:log_level} %{NOTSPACE:biz_service} %{NOTSPACE:split} %{NOTSPACE:trace_id} %{NOTSPACE:service_name} %{NOTSPACE:m

[2020-12-21 05:49] lahsivjar commented on #8572
@danielnelson Would be great if you can take a look at it and give some feedback

[2020-12-21 10:38] kb70 commented on #8597
Hi,

don't know about Huawei devices, but GNMI subscription to Nokia SR devices works without problems.
What's missing are embedded/dynamic tags, but that's something which is already worked on, see https://github.com/influxdata/telegraf/pull/8344 or https://github.com/influxdata/telegraf/pull/7484

br,
Kurt

[2020-12-21 12:04] Jasomeca opened #8606 "Telegraf + vSphere. VMs vs Datastores"
I have Telegraf v1.16. With TIG last versions (Dec/2020)

I use Telegraf to **capture data from Vsphere**, and it works fine.

I can know in an ESXi server, which are the VMs that are running.

But I can't know in a DataStore, which VMs are the ones that are hosted.

Would it be easy to fix or add this?

Thank you

[2020-12-21 12:36] adam0war opened #8607 "Internal plugin additional fields"
### Proposal:
Add metrics_dropped and metrics_filtered fields to input plugins.
Add metrics_dropped, metrics_filtered, metrics_gathered(processed/aggregated) to processors and aggregators plugins.

### Current behavior:
metrics_dropped and metrics_filtered are only available for output plugins.
For processors and aggregators plugins the only available field  is internal_process_errors

### Desired

[2020-12-21 13:17] adam0war opened #8608 "Internal plugin not increasing errors values, it stops gathering metrics instead."
### Relevant telegraf.conf:

[code]
### System info:
 - Centos 8
 -  Linux centos8 4.18.0-80.11.2.el8_0.x86_64
 - Telegraf 1.16.3

### Steps to reproduce:
1. Use converter plugin to convert field type from string to int.
2. Type string value instead integer.

### Expected behavior:
Telegraf drops problematic metrics,increase value of errors accordingly to number metrics dropped and keeps gathering

[2020-12-21 13:53] hansoostendorp commented on #6043
Could at least the default config me updated ?

In the default config its mentioned that OpenWeatherMap updates their weather data every 10minutes. It took me a while to figure out this is not true, it only updates every hour because this plugin uses the group url. Thanks to this bug report I finally figured out what was happening. I am using the workaround @KLVN posted, thanks! I can live with th

[2020-12-21 14:15] hansoostendorp commented on #6043
Thanks!

I am using your workaround now. I only added

[code]

this way the timestamp Openweathermap returns is used in stead of the the timestamp the http call is made

[2020-12-21 14:32] KLVN commented on #6043
It used to be 10 minutes. I recently switched to a different method for gathering OpenWeatherMap data and just noticed it too.

---

Good point!

[2020-12-21 15:08] flyerhawk commented on #8411
Was this implemented?   Is there documentation?   Sorry if this is a dumb question but I'm a Github noob networking engineer.

[2020-12-21 15:43] Jagularr commented on #8521
@freaknils If it's of any use, having the ALARMDEL be any value of 'No Alarm', '5 seconds' or '30 seconds' will work. 'Always' and 'Low Battery' don't currently work right now because of the way the library we use parses the data. We're working to fix the issue.

[2020-12-21 16:45] #8517 closed

[2020-12-21 16:45] #6858 closed

[2020-12-21 19:37] #8578 closed

[2020-12-22 01:32] danielmotaleite opened #8611 "aws ec2 instance scheduled maintenance"
## Feature Request
I'm looking for a metric that reports ec2 instance scheduled maintenance on ondemand instances.

### Proposal:
A new metric for ec2_scheduled_maintenance_seconds , taken from the aws meta-data info

$ curl   http://169.254.169.254/latest/meta-data/events/maintenance/scheduled
[ {
  "NotBefore" : "1 Jan 2021 02:00:00 GMT",
  "Code" : "instance-stop",
  "Description" : "The instan

[2020-12-22 05:12] mosyang commented on #8382
The same problem in Telegraf 1.16.2
[inputs.win_perf_counters] error while getting value for counter "\\Process(opcflux)\\% Processor Time", will skip metric:  The data is not valid.

[2020-12-22 10:48] essobedo commented on #7925
@sjwang90 Since this processor takes the top K of the buckets of metrics and not the top K of the metrics, unless I miss something obvious, I don't see how it is possible to get rid of the internal cache of metrics. The best we can do, is to use a heap when we sort the buckets of metrics which should not have a real impact on the overall scalability of the processor as the real scalability issue i

[2020-12-22 16:02] LloydW93 opened #8612 "outputs.influxdb broken with Telegraf v1.17.0/InfluxDB 1.8.2"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf v1.17.0 (and v1.16.0 and newer), RHEL 7.

### Steps to reproduce:

1. On a RHEL 7 environment, install the latest telegraf (v1.17.0)
2. Elsewhere, install InfluxDB 1.8.2, with an mTLS reverse proxy in front

Create an outputs.influxdb configuration as per the example above.

### Expected behavior:

System metrics data is written to In

[2020-12-22 18:39] jimmyseto commented on #8595
@CHANDU677493 - can you extract the version from the User-Agent header?

https://github.com/influxdata/telegraf/blob/0731585d614e3463f30fd217978e543704eeae07/plugins/outputs/influxdb/http.go#L142

[2020-12-22 19:05] edward408-zhang commented on #4680
Is there any updates on this issue? how do we set up the config file for replicaset

[2020-12-22 19:29] jimmyseto opened #8615 "CVE-2020-29509/29510/29511: security vulnerability in Go encoding/xml package"
### Relevant telegraf.conf:

[code]

### System info:

### Docker

### Steps to reproduce:

1. ...
2. ...

### Expected behavior:

vulnerability is addressed

### Actual behavior:

vulnerability is exposed

### Additional info:

a new vulnerability in Go was reported with a score of 9.8.  for more specifics:
https://nvd.nist.gov/vuln/detail/CVE-2020-29509#match-6163821
https://cve.mitre.org/cgi-bi

[2020-12-22 21:30] jimmyseto commented on #8615
/label security

[2020-12-23 08:38] lahsivjar commented on #8572
There are other options to achieve this for some other input plugins by using [aggregators](https://github.com/influxdata/telegraf/tree/release-1.14/plugins/aggregators/histogram). However, for statsd input the plugin itself does the paring and aggregation. Because of this, the raw data is lost.

One way to fix this would be to overhaul the statsd input plugin and create a parser for statsd which

[2020-12-23 10:05] Dubdelo commented on #8476
any news on this bug?

[2020-12-23 14:42] jimmyseto commented on #8615
@ssoroka - do you know if these issues apply to telegraf?  or, does telegraf not expose these issues?  thanks in advance!

[2020-12-23 16:19] #8530 closed

[2020-12-23 17:01] Jagularr commented on #7487
For what it might be worth, telegraf seems to support eventlog currently if it's ran as a windows service. This functionality is missing otherwise, but hopefully will be fixed with the above pull request.

[2020-12-23 19:39] #7598 closed

[2020-12-24 13:19] wiardvanrij commented on #3716
This is now included in the 1.17 release. I believe this can be closed.

[2020-12-24 13:37] phemmer commented on #3716
Little bit late, but my $0.02 on #8426: "hextoint" is not the correct name for the conversion. The data isn't in hex, it's in binary. "Hex" is an encoding format representing for numbers as strings using ASCII characters 0-9 A-F. That's not what this data being converted there is. The data is in binary, hence why there's no code to actually convert from a string in that PR.

If we were to ever act

[2020-12-24 15:37] wiardvanrij commented on #3716
Well, that's a fair point. lol.

To be honest, I don't "use" this, but I had colleagues who had this issue so I sort of just wrote the code. Based on this issue. So I haven't put that much thought into the whole 'what is this data', although I should have figured the hint when creating the test-cases.

So regardless of the naming, I believe this issue is resolved. Yet I would agree that a refactor

[2020-12-24 15:58] iot-monitor-net commented on #7122
I hit the same problem, while I tried to scale specific fields with the starlark plugin, while leaving others untouched. However fieldpass filters on the complete stream and not only the processor plugin (at least for the variants I tested). To me this seems to apply to all processor plugins.
Especially with the great added capabilities of starlark it would be easiest to have the fieldpass filter

[2020-12-24 18:01] johnseekins opened #8617 "Prometheus Input fails with metric_version = 2"
### Relevant telegraf.conf:

[code]

[code]

### System info:

[code]

### Steps to reproduce:

1. Install telegraf and minio on a host
2. Attempt to scrape prometheus stats from minio using telegraf with `metric_version = 2`.
[code]
3. Switch to `metric_version = 1` and stats will be collected, although the naming is then messed up.

### Expected behavior:

1. When scraping stats from minio's pro

[2020-12-24 18:04] johnseekins commented on #8617
Stats in Grafana for Minio clearly stopping with the 1.17 release:
![Screenshot from 2020-12-24 11-04-21](https://user-images.githubusercontent.com/5665929/103102136-d9d78f00-45d7-11eb-8894-aca4c068e1d5.png)

[2020-12-24 18:09] johnseekins commented on #8617
Interesting: Dumping the minio stats to a file and reading them using the prometheus parser:
[code]
Works!

[code]

[2020-12-24 18:51] johnseekins commented on #8617
Reverting to 1.16.3 fixing this problem immediately.

[2020-12-25 02:11] Philipzhong1980 commented on #3965
we meet the same issue and when will fix this bug?

[2020-12-25 07:21] M0rdecay opened #8619 "Telnet Input plugin"
## Feature Request

Opening a feature request kicks off a discussion.

### Use case:
Receiving data via telnet would be useful for polling equipment or applications for which SNMP/HTTP has an undesirable effect on performance.
Another situation is when work is carried out in a high load network, where priority is given to simpler protocols.
Metrics can be obtained from the response using a combina

[2020-12-26 13:09] wellsgz opened #8620 "Error parsing url for http input"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf 1.17.0 (git: HEAD 3f7a54c9)

### Steps to reproduce:

1. Test configure with debug flag
2. The url seems to be ignored

### Expected behavior:

❯ telegraf -config ./test.conf -test --debug
2020-12-26T12:43:55Z I! Starting Telegraf 1.17.0
2020-12-26T12:43:55Z D! [agent] Initializing plugins
2020-12-26T12:43:55Z D! [agent] Starting servi

[2020-12-27 01:18] wellsgz commented on #8620
Did more test and figure out it's returning data issue, closing the issue.

[2020-12-27 01:18] #8620 closed

[2020-12-27 10:22] tfoldi commented on #2683
I think you can safely close this one: we are using telegraf with redshift in production since a while.

So it does work with redshift.

[2020-12-28 11:06] srebhan commented on #820
Everybody interested in this plugin, please give me your opinion (with a thumbs up?) on the following options for the generated metrics. I just will show an example for the `read` and `write` operations, but the scheme should become clear...

[2020-12-28 11:09] srebhan commented on #820
Option 1: Having one measurement with different field-sets. This results in a minimal cardinality but is hard to query (IMO).
[code]

[2020-12-28 11:13] srebhan commented on #820
Option 2: Having multiple measurements with own (potentially overlapping) field-sets. This increases cardinality (by the number of operations) but is easier to query.
[code]

[2020-12-28 11:15] srebhan commented on #820
Option 3: Having one measurements with own (potentially overlapping) field-sets and an `operation` tag. This has the same cardinality as 2 but allows e.g. group-by operations for operations and is easy to extend.
[code]

[2020-12-28 16:41] helenosheaa commented on #7227
@garciaolais @gianniforesi is this issue now closed with the closed above PR?

[2020-12-28 17:32] IgorKuchmienko commented on #8585
Tried changing the monitoring VM SKU from Basic A1 to Standard B2. It seems to have fixed the error.

Test results:
[telegraf_error_sku_change_A1_to_B2.zip](https://github.com/influxdata/telegraf/files/5748162/telegraf_error_sku_change_A1_to_B2.zip)

In this archive:
**Basic A1 (1 vcpus, 1.75 GiB).png, Basic_A1_(1_vcpus,_1.75_GiB)-metrics.png** - metrics of the monitoring VM, SKU Basic A1
**Standa

[2020-12-28 20:41] helenosheaa commented on #8583
That error message would be coming from inside the getData function within the opcua client on line 455 but need to explore more. Can you share your telegraf.conf?

[2020-12-28 23:35] iot-monitor-net commented on #7993
Took me some time to figure out what was wrong, as I ran into this problem as well. Would be great to have this resolved.

[2020-12-29 06:58] iStone188 opened #8622 "[inputs.mem] Error in plugin: error getting virtual memory info: strconv.ParseUint: parsing "": invalid syntax"
# Telegraf Configuration
# Telegraf is entirely plugin driven. All metrics are gathered from the declared inputs, and sent to the declared outputs.
[code]

### System info:

Telegraf  v1.17.0
AndroidVersion:7.0
Hardware:MStar  AArch64

### Steps to reproduce:

1. Copy  telegraf  and telegraf.conf  to /data/local/tmp
2. excute  ./telegraf  -config=telegraf.conf

### Expected behavior:

### Actual b

[2020-12-29 11:42] oplehto commented on #8617
I'm seeing a similar issue. In my case the reason seems to be that the content negotiation prefers the protobuf format that has been deprecated for a while and is not implemented in metrics_version 2. Some prometheus endpoints respond with protobuf format if it's in the Accept header and the new parser can't handle it.

https://github.com/influxdata/telegraf/blob/3d30fd85c6cf9dd7a9384abe4c86e9b050

[2020-12-29 14:43] gerilya commented on #8134
@sjwang90 yes, I can confirm we are using this in production since Nov 25.
Our custom telegraf version is basically telegraf v1.16.2 + PR https://github.com/influxdata/telegraf/pull/8179/files for distribution metrics support.

This is a killing feature for everyone looking to migrate from DataDog.  Big thanks to @ppsreejith !

[2020-12-29 16:01] lachlanbb commented on #407
`lachlan@singularity:~/go15/src/telegraf$ ./telegraf --version
Telegraf 1.17.0 (git: HEAD 3f7a54c9)
lachlan@singularity:~/go15/src/telegraf$ uname -a
SunOS singularity 5.11 11.4.0.15.0 i86pc i386 i86pc`

Got latest successfully compiling on 11.4... bit painful though
1) pkg install golang gcc gnu-binutils gnu-make

2) Download latest go source, compile it using standard Solaris Golang (Makefile re

[2020-12-29 16:15] helenosheaa commented on #8582
It looks like you may not have provided the correct authentication details / password for redis in your telegraf.conf

For support questions we encourage you to use our [Community Page](https://community.influxdata.com/) or our [Community Slack Channel](https://influxcommunity.slack.com/archives/CH99HUH8V)

[2020-12-29 16:19] helenosheaa commented on #8581
Could you provide the relevant telegraf.conf? From what I understand you want to exclude certain databases from the sqlserver inputs but without seeing your config it's hard to assist.

For support questions rather than reproducible errors we encourage you to direct questions to our [Community Page](https://community.influxdata.com/) or our [Community Slack Channel](https://influxcommunity.slack.c

[2020-12-29 17:05] helenosheaa opened #8623 "CI AppVeyor build fails intermittently on test-windows"
AppVeyor builds keep failing on this line intermittently

[code]

Line 117 -

`go test -short ./...`

[2020-12-29 17:27] zak-pawel commented on #8623
@helenosheaa

Can you provide more output for this problem? And/or link to particular CI AppVeyor build?

[2020-12-29 17:37] helenosheaa commented on #8623
@zak-pawel

Yes, three examples of the failing builds: [here](https://ci.appveyor.com/project/influx/telegraf/builds/36995097), [here](https://ci.appveyor.com/project/influx/telegraf/builds/36872002) and [here](https://ci.appveyor.com/project/influx/telegraf/builds/36764798)

[2020-12-29 18:31] garciaolais commented on #7227
@helenosheaa

https://github.com/influxdata/telegraf/pull/7488 tried solved two issues this one https://github.com/influxdata/telegraf/issues/7227 and https://github.com/influxdata/telegraf/issues/7317.

But https://github.com/influxdata/telegraf/pull/7869 solved https://github.com/influxdata/telegraf/issues/7317 first, for this reason I closed https://github.com/influxdata/telegraf/pull/7488.

To

[2020-12-29 18:33] TheLinuxGuy opened #8624 "field corresponding to `datasetMetrics' is not defined in zfs.Zfs"
I'm having issues enabling datasetMetrics using latest Telegraf 1.16.2 zfs input plugin.

Error below

[code]

Config snippet
[code]

version

[code]

[2020-12-29 19:38] helenosheaa commented on #8624
I believe that datasetMetrics was only added to the 1.17.0 release if you use [this](https://github.com/influxdata/telegraf/releases/tag/v1.17.0) it should work for you

[2020-12-29 20:16] TheLinuxGuy commented on #8624
This solved the issue for me. I don't know who owns or maintains https://www.influxdata.com/get-influxdb/ but the links there point to telegraf_1.16.2-1_amd64.deb - it should perhaps reference the latest 1.17

[2020-12-29 20:16] #8624 closed

[2020-12-29 21:09] helenosheaa commented on #7227
@garciaolais

Understood, would you be willing to cherry pick from your previous pr?

[2020-12-29 21:17] garciaolais commented on #7227
Yes, I will cherry picks and test it 🔬 with the last version

[2020-12-30 08:12] zhanghongxia4725 opened #8626 "telegraf run a period, report goroutine error"
2020-12-30T07:50:00Z I! Loaded inputs: cpu disk diskio gbase jolokia kernel kingbase mem processes redis swap system
2020-12-30T07:50:00Z I! Loaded aggregators:
2020-12-30T07:50:00Z I! Loaded processors:
2020-12-30T07:50:00Z I! Loaded outputs: influxdb
2020-12-30T07:50:00Z I! Tags enabled: host=test5-centos7.5
2020-12-30T07:50:00Z I! [agent] Config: Interval:20s, Quiet:false, Hostname:"test5-cento

[2020-12-30 16:13] acejacek commented on #8583
Complete `opcua.conf`:
[code]
logs:

[code]

[2020-12-30 18:32] sspaink commented on #7588
Closing because I wasn't able to recreate this issue with the latest version of Telegraf (1.17). Please upgrade Telegraf and try again. Thank you!

I created a pull request #8629 to include a test environment for using the Kibana input plugin, hopefully this can help if you are still having problems.

[2020-12-30 18:32] #7588 closed

[2020-12-30 19:34] sspaink commented on #8623
Just had another failure: https://ci.appveyor.com/project/influx/telegraf/builds/37050472

For the above failure, looks like the test for the tail input plugin is failing randomly: `FAIL	github.com/influxdata/telegraf/plugins/inputs/tail	600.062s`

Full error message:
[code]

[2020-12-30 19:46] helenosheaa commented on #8623
Yeah so two of the ones i'd referenced it was the same inputs/tail test and for the other one it was:

[code]

[2020-12-30 22:58] Jagularr commented on #8626
Looks like there might be some sort of unexpected response upon the influxdb output attempting to create your 'telegraf' database. If the 'telegraf' database is already created in your influxdb, perhaps try setting `skip_database_creation = true` in the influxdb plugin config, and see if that helps at all.

[2020-12-31 00:00] gkatzioura opened #8630 "Google BigQuery Output Plugin"
## Feature Request

BigQuery is a serverless, highly scalable, and cost-effective data warehouse designed to help you turn big data into informed business decisions

### Proposal:

Implementation of a BigQuery plugin for output.

### Desired behavior:

The telegraph metrics will get mapped to a corresponding table in a BigQuery Dataset. The fields and tags would be fields in a BigQuery table with

[2020-12-31 01:21] zhanghongxia4725 opened #8631 "telegraf run a period with skip_database_creation = true, error as follows"
2020-12-31T01:05:00Z W! DEPRECATED: the jolokia plugin has been deprecated in favor of the jolokia2 plugin (https://github.com/influxdata/telegraf/tree/master/plugins/inputs/jolokia2)
2020-12-31T01:14:09Z W! [inputs.ÿÿÿÿem] Collection took longer than expected; not complete after interval of 20s
2020-12-31T01:14:42Z W! [agent] ["outputs.influxdb"] did not complete within its flush interval
2020-12

[2020-12-31 03:05] zeldalegends opened #8632 "OPC UA input plugin stops Telegraf if OPC server not found"
If the plugin does not find the OPC server, e.g., in case of temporary unavailability of the PLC running it, instead of just warning inside the console and continuing monitoring the other input plugins (as it happens, e.g., for Modbus, MQTT, etc., which just warn the user and let the application run), it causes the entire Telegraf application to stop.  The console shows a message like this, end ex

[2020-12-31 10:49] yonas124 opened #8633 "MODBUS Input UINT64 Stops Telegraf in Windows"
Telegraf immediately closes if configured with UINT64 data type holding register in modbus input.

Is it because it's currently not supported?

[2020-12-31 15:28] Jagularr commented on #8631
Hi, so with your config it seems to work for me. Have you tried manually running a write command to your influxdb api and seeing if it has an error (without telegraf)?

[2020-12-31 15:35] Jagularr commented on #8633
Would you be able to provide the config you're experiencing this with as well as any logging telegraf outputs before the error?

[2021-01-01 04:30] yonas124 commented on #8633
If line 3992 is commented out, it works right away. If don't, telegraf immediately closes without any visible log.

`{ measurement ="SDM",	name = "E",      byte_order = "ABCD",   data_type = "UINT64", scale=1.0,  address = [30513,30514,30515,30516]},
 `

Below is the .conf file
[telegraf.conf.txt](https://github.com/influxdata/telegraf/files/5758638/telegraf.conf.txt)

[2021-01-02 09:39] TommyJzx2015 opened #8637 "jolokia2 input plugin can parse long field into new field and new tags"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

### Current behavior:

### Desired behavior:

### Use case:

[2021-01-02 09:56] TommyJzx2015 opened #8638 "jolokia2 input plugin need parse long field into new field and new tags"
## Feature Request

jolokia2 input plugin need parse long field into new field and new tags

### Proposal:
hbase regionserver jmx have many long fields, which are not inconvenient to select later for stored in influxdb or prometheus
so, jolokia2 input plugin need parse long field into new field and new tags
for example
"Namespace_testnamespace_table_tablexxxx_region_829218468187127c482da79er1cso34

[2021-01-02 10:27] TommyJzx2015 commented on #8638
supplement Desired behavior

1，"Namespace_testnamespace_table_tablexxxx_region_829218468187127c482da79er1cso34o_metric_storeCount": 3
       config as below:
	[[jolokia2_agent.metric]]
		name = "Hadoop_HBase"
		mbean = "Hadoop:service=Hbase,name=Regionserver,sub=Regions"
	[[jolokia2_agent.metric.rules]]
		pattern = "Namespace_(.*?)_table_(.*)_region_(.*)_metric_(.*) : (.*)"
		fieldName = "$4"
	[[j

[2021-01-02 10:29] TommyJzx2015 commented on #8638
3, "tag.livedRegionServer": "hostname1,hostname2,hostname3,hostname4"
"tag.deadRegionServer": "hostname8,hostname5,hostname6,hostname7"
”tag.zookeeperQuorum“:"hostname9,hostname10,hostname11"
......
config as below:
[[jolokia2_agent.metric]]
name = "Hadoop_HBase"
mbean ="Hadoop:name=Master,service=HBase,sub=Server"
tag_keys = ["name", "sub"]
[[jolokia2_agent.metric.rules]]
pattern = "(tag.*) : (.*

[2021-01-03 15:06] brainrecall commented on #1566
I would love to have this as well, as my system does not report power usage on the standard "sdr" output.

[2021-01-03 16:39] hwanjin-jeong opened #8640 "Support Landing Page on Prometheus Client Output Plugin"
## Feature Request

Request to add Landing page on Prometheus Client Output Plugin.

The Landing page is one of the recommended developments for the Prometheus exporter.

ref: https://prometheus.io/docs/instrumenting/writing_exporters/#landing-page

We are going to use the landing page for health check about service discovery.

We can use  "/metrics" path for health check, but if the metric size i

[2021-01-03 21:13] linucks opened #8642 "Example of querying data collected by Telegraf Openweathermap plugin"
## Feature Request

Examples of queries using InfluxQL to extract forecasts from the data collected by the Telegraf Openweathermap plugin to be added to the [README.md](https://github.com/influxdata/telegraf/blob/master/README.md)

### Proposal:
Examples of queries using InfluxQL to extract forecasts from the data collected by the Telegraf Openweathermap plugin to be added to the [README.md](https

[2021-01-04 09:34] #7956 closed

[2021-01-04 09:39] Hipska commented on #7969
@ssoroka Do you think if #6613 is implemented, it will solve this issue?

[2021-01-04 09:53] Hipska commented on #6112
Hi @mahima2112 could you give some more context? Are you using the vmware api within Telegraf to gather metrics. I'm not sure what you are trying to achieve.

[2021-01-04 10:16] Hipska commented on #2849
Hi @scjoiner is this issue still relevant? If not, or no response, we will close it.

[2021-01-04 11:09] goodvirus136 opened #8643 "Azure IoT/Event hub Telegraf Plugin not sending data to influxdb cloud 2.0"
As I have stated in the [influxdb forum](https://community.influxdata.com/t/telegraf-not-sending-data-to-influxdb-azure-event-hub-influxdb-cloud-2/17240/13) I have a problem getting data from and azure iot hub (or event hub, I tried both) to the influxdb cloud 2.0
The setup is as following (As described in the [documentation](https://github.com/influxdata/telegraf/blob/release-1.14/plugins/inputs/

[2021-01-04 14:56] Jagularr commented on #8633
So after running it with that config it appears that your line in question has a byte_order length of 4 and an address length of 4. The logic in the init for this plugin errors out when the length of the byte_order isn't exactly twice the length of the address array. This appears to be what's shutting your telegraf instance down.

`invalid byte order 'ABCD' and address '[30513 30514 30515 30516]'

[2021-01-04 14:59] #8637 closed

[2021-01-04 15:10] yonas124 commented on #8633
So I should write ABCDABCD?

It makes sense a little bit because each register in the array is 2 bytes, so 8 bytes in total. But usually other application just use ABCD because it is unlikely that consecutive bytes have different order.

[2021-01-04 16:27] sjwang90 commented on #3965
Please follow the issue #7959 for status of the issue fix.

[2021-01-04 18:17] reimda opened #8645 "Include metrics from golang's new runtime/metrics package in telegraf's internal plugin"
The golang 1.16 release will include support for new metrics exported by the go runtime.  Currently telegraf's internal plugin uses runtime.ReadMemStats().  The new package supersedes ReadMemStats and adds new metrics.  Telegraf should consider switching to the new package once the build uses golang 1.16.

https://tip.golang.org/pkg/runtime/metrics/

[2021-01-05 02:23] hpmtissera opened #8648 "procstat plugin create metrics with different timestamps in the same gather cycle"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf version: v1.16.2
OS : CentOS 7-6.1810.2.el7
### Docker

### Steps to reproduce:

1. Configure prostate input plugin and output as above (Output use Influxdb line protocol)
2. When output contains data of ~200 processes, entries towards the end have a timestamp of a later time compared to entries in the beginning.

### Expected behavio

[2021-01-05 10:20] gassanpavel commented on #1829
Yes, got this bug at telegraf 1.17.0 with  [inputs.tail] plugin on ubuntu 20.04
I run telegraf and `tail -F --lines=0 /var/log/voodoo/voodoo_metric.log` in separate window/
I wrote some loglines to my logfile, and both - telegraf and tail see it and telegraf parse it correctly.
Then, I remove /var/log/voodoo/voodoo_metric.log and touch it, and tail say:
`tail: '/var/log/voodoo/voodoo_metric.log' h

[2021-01-05 11:21] iatalay commented on #5131
In my company, there is a huge demand to use telegraf agents on AIX. We are looking forward to see AIX support. :)

[2021-01-05 17:31] mousedownmike opened #8653 "gNMI metric path has leading character truncated"
### Relevant telegraf.conf:

[code]

### System info:

Here is a sample subscription.

[code]
### Steps to reproduce:

Have a device that sends a gNMI Update that is processed by Telegraf to look like:
[code]

### Expected behavior:

The Metric key should  be:

`Monta:/oc_if:interfaces/oc_if:interface/oc_if:state/oc_if:countersMonta:/in_1024_to_1518_octet_pkts`

### Actual behavior:

When the Metr

[2021-01-05 20:43] mr-manuel commented on #1829
I have the same issue when using Telegraf (1.17.0) `[inputs.tail]` and Grok Pattern with Linux (Debian Buster latest version) build-in logrotation that rotates the logfile. After the log file gets rotatet Telegraf don't log the new data and output this error:

`telegraf [inputs.tail] /var/log/mylogfile.log Tailing unable to open file`

After restarting the telegraf service all works fine again unt

[2021-01-05 22:57] aaronjwood commented on #5931
I see this behavior on a qemu host (proxmox). Sometimes the userspace execution metric goes to -.10 or -.11. @danielnelson shall I enable `collect_cpu_time` and post the results here?

[2021-01-06 10:27] popeyesfx opened #8656 "Telegraf for arm32v6 Pi Zero"
Unable to run telegraf on pizero w.
Is it possible to build an image for the pizero, as these are very popular among makers and used for monitoring in many locations.

I would be willing to compile a custom version if changes could be indicated.

thanks

[2021-01-06 17:20] sjwang90 commented on #8580
@darinfisher Can you provide any feedback for this? See if there's any overlap with the discussions you're having with the Windows signature stuff?

[2021-01-06 17:26] kevin-cantwell commented on #1992
Can this issue be closed now with the advent of https://github.com/influxdata/telegraf/pull/6049 ?

[2021-01-06 20:14] ksator commented on #8411
@flyerhawk there is this pending pull request https://github.com/influxdata/telegraf/pull/8420

[2021-01-06 20:51] Jagularr commented on #8653
Thanks for the report. Looks as though this is trying to eliminate the 'alias path' from the key. I'm assuming in your case there is no alias path, so the fix here should just be to leave the key as it is if the alias path is blank?

[2021-01-07 03:45] mousedownmike commented on #8653
Yes, your PR looks like it will do the trick.  Thanks!

[2021-01-07 10:15] Hipska commented on #8619
Hi @M0rdecay, I understand your concerns and have faced the same issues as you.

But it would be very difficult to make a generic Telnet plugin as each type of device will have different commands and output to process.

Solution could be to create an [external plugin](https://github.com/influxdata/telegraf/blob/master/docs/EXTERNAL_PLUGINS.md) specific for this use-case or use the [exec](https://g

[2021-01-07 10:21] Hipska commented on #3784
@smogsy  In my experience, each agent is being processed parallel. If you believe this is not the case, please create new issue for it.

Implementing SNMP BULK GET should be having higher priority.

[2021-01-07 10:32] Hipska commented on #6330
Lol, I just saw that it was a question made by you 😆

Help from someone in the community would be highly appreciated.

[2021-01-07 15:44] #3788 closed

[2021-01-07 15:49] reimda commented on #7340
This may be fixed now that #8588 is merged.  Could you retest?

[2021-01-07 15:52] reimda opened #8660 "Update gosnmp in snmp_legacy and snmp_trap plugins"
The snmp_trap plugin was recently updated to use a new version of gosnmp.  The snmp and snmp_legacy plugins need to be updated too.

[2021-01-07 16:08] Hipska commented on #8660
I think you read that wrong, #8588 updated the library for `snmp` plugin. What still needs to be done is updating it for `snmp_trap`.

Should `snmp_legacy` still be considered since it will be removed in 2.0? (see #2320)

[2021-01-07 16:21] #8366 closed

[2021-01-07 18:45] reimda commented on #8660
Oops, my mistake.  I updated the issue title to reflect that we need to update snmp_trap still.  snmp_legacy isn't as important because it's deprecated, but until it's removed it's probably worth updating.

[2021-01-07 19:20] lastb0isct commented on #2616
I see that this is closed, but this still doesn't not seem to have been merged, has it?!

[2021-01-07 19:53] Hipska commented on #8660
The only problem is that `snmp_legacy` doesn't have any tests. So how to deal with that?

[2021-01-07 20:13] richardelling commented on #2616
FYI, a `zpool_influxdb` command has been added to the OpenZFS upstream master branch. It is integrated into the CI/CD system and should be available in future builds automatically. See https://github.com/openzfs/zfs/tree/master/cmd/zpool_influxdb

[2021-01-08 11:53] mmichelli commented on #8244
This is exactly our use case as well.

[2021-01-08 14:18] ghost opened #8663 "Telegraf agent - Windows: fill product name, product version in telegraf.exe attributes"
## Feature Request

### Proposal: On Windows OS level the Telegraf agent has some empty attributes.
See telegraf.exe - attributes - details: product name + product version are empty.

### Current behavior:
On Windows - telegraf.exe - attributes - details: product name + product version are empty.

### Desired behavior:
Fill product name and product version with the correct values.

### Use case:
W

[2021-01-08 18:14] sjwang90 commented on #7155
Closed by #6653

[2021-01-08 18:14] #7155 closed

[2021-01-08 21:51] sjwang90 commented on #6771
@futurexpe I'd suggest you checking out if any of the [Starlark processor examples](https://github.com/influxdata/telegraf/tree/master/plugins/processors/starlark#examples) can help you to get what you're looking for. It can calculate deltas and do logic functions.

Closing this for now due to the lack of discussion. If you have any questions please reach out to us in our [Community Slack](influxd

[2021-01-08 21:51] #6771 closed

[2021-01-09 01:09] takenalias commented on #7648
So I have also been seeing an issue with using Telegraf with The Things Network Broker. I suspect it is related

`Jan 09 11:42:05 adelvps telegraf[2490]: 2021-01-09T00:42:05Z E! [inputs.mqtt_consumer] Error in plugin: connection lost: EOF
Jan 09 11:42:05 adelvps telegraf[2490]: 2021-01-09T00:42:05Z D! [inputs.mqtt_consumer] Disconnected [tcp://router.au.thethings.network:1883]
Jan 09 11:42:05 adel

[2021-01-09 06:57] cao2358 opened #8666 "AggregatingOutput not accept or reject the metrics"
AggregatingOutput must use metric.Accept() or metric.Reject() when Add() func is calling，because the kafka_consumer use the trackMetric to confirm every metric is complete resolve
so can add accept func when to Add, like this

[code]

or resolve in every AggregatingOutput Add() func by yourself

[2021-01-09 21:52] nwchrist commented on #7476
I had similar symptoms as shown here, for me it turns out the problem was that you can specify the IP address of the server using 127.0.0.1 when using the TCP scheme, but you must use the public IP address when using SSL.

[2021-01-09 22:35] jmorcar commented on #3330
Could you indicate an example? If is OK then you could use output.influxdb to export metrics after in influxdb format, rigth?

[2021-01-10 07:09] bunnyevans opened #8667 "inputs.bind with bind 9.16+ not collecting "malloced" and uptime."
### Current behavior:
Under "bind_memory" only "total_use", "in_use", "context_size", "block_size", "lost" are available.
Additionally, there is no "version" or "uptime"

### Desired behavior:
New in 9.16 is "Malloced" which is how much memory is actually being used.
Also, it would be nice to know what version of bind was being used and when it was
last booted / reconfigured / et cetera.

e.g from

[2021-01-10 21:08] jt3k commented on #8656
Hey. i use telegraph bot on my rapsberry pi zero w. for this I downloaded and installed nodejs 10 specially compiled for arm architecture. then added the unit to sysdemd. everything works like a charm.

let me know if you need more details

[2021-01-11 10:35] aaashishbakshi opened #8669 "inputs.opcua: Add metric for datatype"
## Feature Request
Multiple attributes to pass from opcua-input plugin

### Proposal:
I'm new to Telegraf, So, Using opcua-input plugin, I only get 1 value from the identitfier which is its main value but I also want to monitor other attributes like its datatype with it

### Current behavior:
opcua,host=sysadmin-Virtual-Machine Tartget_Production_Achieved=true,Quality="OK (0x0)" 161035441000000000

[2021-01-11 11:15] rohit482 opened #8670 "Custom time interval for metrics"
We are using Telegraf to take metrics data into Splunk , we want to fetch the metric data for different metrices in different intervals.
i.e. For telegraf.disk --30 sec for telegraf.system --120 sec . As of now  we found that we can only setup single interval for all the metrics , Do we have any feature available in telegraf where we can make changes based on our requirements and collect the metri

[2021-01-11 13:10] garbled1 opened #8672 "Apex suddenly stopped reporting amps and watts"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.17.0 (git: HEAD 3f7a54c9)
Linux mirzam 5.4.78-1-pve #1 SMP PVE 5.4.78-1 (Mon, 30 Nov 2020 10:57:47 +0100) x86_64 GNU/Linux
debian 10.7

### Docker

### Steps to reproduce:

Suddenly 2 nights ago, the integration stopped pulling amp and watt data from my apex.  It's still pulling other data, but it just seems to not send the amp and

[2021-01-11 13:14] garbled1 commented on #8672
At the time of the failure, I renamed an outlet to Stream3_Left:

[code]

[2021-01-11 18:53] #6436 closed

[2021-01-12 09:00] ict-one-nl opened #8676 "Modbus Serial RTU: support multiple slaves on the same bus"
## Feature Request

Support multiple slaves (with independent register configurations) for Modbus RTU over serial.

### Proposal:

### Current behavior:

Only one slave can be used.

### Desired behavior:

Multiple slaves can be used.

### Use case:

Almost every bus has more than one slave on it, in my case it's a set of 7 Eastron SDM energy meters and a SmartEVSE car charger.

[2021-01-12 16:18] neographikal opened #8677 "Implement httpxml plugin alongside httpjson"
## Feature Request

There is the https://github.com/influxdata/telegraf/tree/master/plugins/inputs/httpjson plugin
Really useful, but my data is in XML format. Can this plugin be adapted to parse xml and do exactly the same

### Proposal:
Implement httpxml plugin

### Current behavior:
-

### Desired behavior:
Same as httpjson but for xml

### Use case:
Monitoring API's that give numbers of result

[2021-01-12 20:02] sjwang90 commented on #8677
Closing this as we're already following issue #1758 and have an XML parser PR that you can use with `inputs.http`.

Also we have deprecated the httpjson plugin and you should use `inputs.http` with `data_format = "http"` if you're going to parse JSON - which you'll eventually set the data format to `xml` when the parser is completed.

[2021-01-12 20:02] #8677 closed

[2021-01-12 22:20] ssoroka commented on #8612
I believe content_encoding default changed from `content_encoding = "identity"` to `content_encoding = "gzip"`, you could test if this is what's causing the issue by explicitly adding  `content_encoding = "identity"` to the output. If that resolves it, I'm curious as to why InfluxDB 1.8.2 isn't handling the gzip encoding properly.

[2021-01-12 22:21] kkruzich opened #8681 "govc and influx inconsistent: telegraf metric no update"
### Relevant telegraf.conf:

#### vsphere.historical.conf:
[code]

#### vsphere.realtime.conf:
[code]

#### telegraf.conf:
[code]

### System info:

telegraf-1.17.0-1.x86_64
Amazon Linux 2
Linux - 4.14.192-147.314.amzn2.x86_64 #1 SMP Mon Aug 17 06:07:07 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**InfluxDB is separate server**
influxdb-1.8.1-1.x86_64
Amazon Linux 2
Linux - 4.14.192-147.314.amzn2.x86

[2021-01-12 22:37] kkruzich commented on #7721
I will close this. Thank you!

[2021-01-12 22:37] #7721 closed

[2021-01-12 22:54] neographikal commented on #8677
Thank you, didn't notice that! Will look into it

[2021-01-12 22:59] #8648 closed

[2021-01-12 22:59] #6879 closed

[2021-01-13 00:08] kkruzich commented on #7878
I see this is closed but yet hoping someone might comment: What is the quickest, single shot means of determing if cluster metrics collection is working?

[2021-01-13 00:12] jorgedlcruz commented on #7878
If you have enabled telegraf logging, you will quickly see if it is collecting metrics, give it some time, but eventually, you will clearly see the cluster metrics. If not, on chronograf, or grafana explorer you can explore as well.

[2021-01-13 00:12] sjwang90 opened #8682 "Add Prometheus Remote Write Parser"
## Feature Request

### Proposal:
Add prometheus remote write parser to use a `data_format` for input plugins
### Current behavior:
None - only [Prometheus remote write serializer](https://github.com/influxdata/telegraf/tree/master/plugins/serializers/prometheusremotewrite)

### Desired behavior:
Add prometheus remote write parser where users can read in data with setting `data_format = "prometheu

[2021-01-13 00:14] jorgedlcruz commented on #8606
Hello,
There is nothing at the moment that relates a VM with a Datastore, you can bind a VM to a Host, cluster, or vcenter, but not to a datastore. It is not a bug but maybe more a feature request?

[2021-01-13 00:17] jorgedlcruz commented on #8316
Hello,
Thank you for the answer, but that does not explain why this was working fine for quite some years, and now we can see these delays. I am not even sure if I try with an old telegraf release this will happen, like 1.14 or below.

And if it works on older telegraf releases I guess it might be not VMware related. Could you try with telegraf 1.14?

[2021-01-13 00:18] jorgedlcruz commented on #8681
Hello,
You might have been facing this issue - https://github.com/influxdata/telegraf/issues/8316 It was working all fine a few months ago but not anymore.

[2021-01-13 00:22] kkruzich commented on #7878
But more specifically, and as efficiently as possible how to determine if cluster metrics collection is working? I'm aware of logging and querying the db --but what would most quickly tell me if I'm getting cluster metrics?

[2021-01-13 00:32] jorgedlcruz commented on #7878
Sorry, I can not think of any simple way other than looking at telegraf log first, you will see something like this, bear the cluster giving you metrics:
`2021-01-13T00:29:01Z D! [inputs.vsphere] Query for cluster returned metrics for 3 objects
2021-01-13T00:29:01Z D! [inputs.vsphere] CollectChunk for cluster returned 18 metrics
2021-01-13T00:29:01Z D! [inputs.vsphere] CollectChunk for cluster ret

[2021-01-13 04:16] mousedownmike commented on #8653
I'm not sure this change works, particularly when there are aliases.  I can get aliases to "kind of" work before introducing this change but once I add the code changes from this PR in, they stop working completely.

By "kind of" working, I'm getting bits of `onta` in the generated key (with an alias this time).  It isn't very clear to me what the relationship is between `origin`, `path`, `name` a

[2021-01-13 07:42] i-prudnikov commented on #5798
Hello guys, the configuration settings for this feature
[code]
 is missed from readme.md.

[2021-01-13 08:04] douginoz commented on #4720
I don't think the solution matches the problem.
I have the same problem, which is this:
If my telegraf.conf [input.smart] has the following, it works:
devices = [ "/dev/sg3 -d areca,12/2"]

which $telegraf --test|grep smart shows:
[code]
etc. etc.   (The actual output is about 25 lines long).

But since /dev/sg3 is a hardware raid controller, there are many hard drives within it, which is why you

[2021-01-13 09:34] douginoz opened #8684 "[input.smart]: Specifying multiple drives in the devices= parameter fails when the '-d' parameter is used to differentiate drives within a hardware RAID array"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.17.0 (git: HEAD 3f7a54c9)
Linux sophie 5.4.0-58-generic #64-Ubuntu SMP (Ubuntu 20.04)
smartmontools release 7.1 dated 2019-12-30 at 15:00:11 UTC
smartmontools SVN rev 5022 dated 2019-12-30 at 15:00:49
smartmontools build host: x86_64-pc-linux-gnu

### Docker
Docker not being used.

### Steps to reproduce:

1. Trying to specify the i

[2021-01-13 09:39] sajoupa opened #8685 "Restrict permissions on the telegraf config file"
### Relevant telegraf.conf:

(just a random example)
[code]

### System info:

[code]

### Steps to reproduce:

[code]

### Expected behavior:

Files owned by `root:telegraf`, not world-readable:
[code]
### Actual behavior:

Files world-readable, owned by `root:root`:
[code]
### Additional info:

There's https://github.com/influxdata/telegraf/issues/3124 to move secrets out of the config files, wh

[2021-01-13 10:50] popeyesfx commented on #8656
Hi
if you could let me have more details that would be great,

cheers
jack

[2021-01-13 12:31] stefi994 opened #8686 "Jti_openconfig_telemetry aggregate interface monitoring network traffic"
Is there a way to graph the interface traffic of ae interface?

I am not finding any way, since I guess the data collected with the plugin is not corelated with the aggregate interface, only with the physical interfaces.

[2021-01-13 14:38] kkruzich commented on #8681
Thanks for the comment @jorgedlcruz. I'm looking at the issue you mentioned and it does indeed look similar to this one.

[2021-01-13 14:49] kkruzich commented on #8316
@prydin My attention was called over here from https://github.com/influxdata/telegraf/issues/8681. I'm experiencing the same issue. For me, looks like cluster metrics stopped sometime in July-August 2020. I don't know if this is the result of an update to vCenter or telegraf. Nonetheless, I have a few projects which have merged towards needing these metrics and I'm in a difficult spot. I'd like to

[2021-01-13 16:49] Hipska commented on #8670
You can have different interval for each configured plugin..

[2021-01-13 17:49] SomKen commented on #5714
PFSense is Freebsd but with magic and a web ui for PF.

[2021-01-13 17:51] SomKen commented on #5714
https://github.com/W0CHP/FreeBSD-ARM/tree/master/net-mgmt/telegraf

When this was initially asked about on the Freebsd side, someone was able to hack together version 1.9.0 of telegraf to work on pfsense. Since then, I have been using this package on every vertion of pfsense that's come out for my [Netgate SG-3100](https://store.netgate.com/SG-3100.aspx)

If I can offer my router as sacrifice to I

[2021-01-13 19:12] simonmurdock commented on #7117
I have been getting this error since I updated to windows `10.0.19042 N/A Build 19042`. Broken immediately after a reboot, despite running fine for the last 2 days.

Even tried downloading latest telegraf, and with the default config it has the same error. All I have modified in the new install is adding my influx URL into `[[outputs.influxdb]]`. No idea what is broken since the windows update.

[2021-01-13 19:19] sjwang90 opened #8687 "docs: Add context to broker list selection in Kafka output plugin"
Need clearer context on how the selection is made of which broker to connect to when a list of brokers is configured. And details on the behavior when that broker becomes unavailable.

Need clarity from question opened: https://github.com/Shopify/sarama/issues/1872

[2021-01-13 19:23] testarch-aurk opened #8688 "inputs: intel onboard gpu metrics counters"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
It will help if intel onboard GPU metrics can be listed in
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/win_perf_counters
or
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/intel_powerstat
Please let me know if it is already available in any other inputs.

### Current behavio

[2021-01-13 19:39] testarch-aurk commented on #8688
https://software.intel.com/content/www/us/en/develop/documentation/vtune-help/top/analyze-performance/code-profiling-scenarios/gpu-application-analysis.html

[2021-01-13 19:49] sjwang90 opened #8689 "Create global tag setting for using local timestamp"
## Feature Request
Continuation of #8411

### Proposal:
Create a [global tag](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#global-tags) that can be set to `true` that will allow you to using the collector's local time instead of using the timestamp of the notification/device.

### Current behavior:
Data received over gnmi are always timestamped using the Timestamp field

[2021-01-13 20:07] sjwang90 commented on #8411
Hello! We found that having your timestamps set locally would be very useful across a lot of Telegraf plugins, not just gnmi. Instead of building this enhancement for gnmi specifically we created an issue to create a global tag setting to set your local timestamp #8689.

We'd welcome any PRs for #8689.

If you are looking to use this immediately for gnmi, please use the list of builds from @rski's

[2021-01-13 20:07] #8411 closed

[2021-01-13 20:48] #8653 closed

[2021-01-13 21:41] courtarro opened #8690 "Cannot get `smart` plugin to work with passwordless `sudo`"
I'm unable to get the `smart` plugin to work with a locally-built and installed version of `smartmontools` using `sudo`. My `telegraf` runs as its own user (`telegraf`), and I've got a `sudoers` clause set up to enable passwordless execution of `/usr/local/sbin/smartctl` by Telegraf, yet I get an error.

The log entries are visible below. I think the key message is "sudo: unable to change to root

[2021-01-13 21:49] p-zak commented on #8690
@courtarro can you try with Telegraf 1.17.0?

[2021-01-13 22:05] courtarro commented on #8690
@p-zak I just upgraded via the InfluxDB PPA to 1.17.0 and the result is the same, unfortunately.

[2021-01-13 22:12] courtarro commented on #8690
For comparison, here's what it looks like when I test from the command line:

[code]

[2021-01-14 07:48] myc547 opened #8691 "inputs nginx_vts json error parser"
env: linux，telegraf:1.17
description：
nginx json format：
{
    "hostName": "test.example.com",
    "nginxVersion": "1.12.2",
    "loadMsec": 1518180328331,
    "nowMsec": 1518256058416,
    "connections": {
        "active": 111,
        "reading": 222,
        "writing": 333,
        "waiting": 444,
        "accepted": 555,
        "handled": 666,
        "requests": 777
    },
"serverZones": {

[2021-01-14 13:13] #8619 closed

[2021-01-14 13:14] trygvis opened #8692 "Goroutine panic in docker.parseContainerStats"
I'm getting a panic when running Telegraf v1.15 and v1.17:

**Stacktrace**

[code]

Relevant source code:
https://github.com/influxdata/telegraf/blob/fbd54e84a2c5b4355b92a4ade0fd50805a5bff7e/plugins/inputs/docker/docker.go#L673-L680

It seems that a double check of the data actually being present would be useful, even though it might hide other problems. Perhaps a warning is in order.

# Environme

[2021-01-14 13:16] #7329 closed

[2021-01-14 13:20] Wireheadbe commented on #630
I know this is old - but I see similar behaviour - so it seems this isn't fixed (yet). On the host where I run Telegraf ping inputs, i regularly get avg_rtt spikes from 200ms+.

The hosts are defined as IP's, so it's not resolving. A continous ping at the same time, on the same host, does not return these spikes.

Running Telegraf 1.15.3

[2021-01-14 14:15] R-Rudolf opened #8693 "Have ARM64 Mac OS X release package"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
In the coming releases, have a new row for the new platform/architecture: https://github.com/influxdata/telegraf/releases/tag/v1.17.0

### Current behavior:
Only AMD64 CPU architecture is supported for the Mac OS X Platform.

### Desired behavior:
I can download and easily install/deploy/use the released official

[2021-01-14 15:48] mousedownmike opened #8694 "gNMI metric Origin truncated in path"
### Relevant telegraf.conf:

[code]

### System info:

This was built from the `master` branch to make use of the fix from PR #8653.  Prior to that fix the subscription `name` value was being ignored.  I assume this was because the configured `origin` value of `Monta` did not match the truncated value of `onta`.

### Steps to reproduce:

1. Configure gNMI inputs as defined above.
2. Review the out

[2021-01-14 16:33] Jagularr commented on #8694
Sorry to hear that the bug is still happening, and my apologies as I didn't see your comment on the earlier issue. This seems strange to me as you'd think the only way for a single character to be taken off of the `key` would be if the 'aliasPath' is an empty string, but the logic explicitly skips the truncation if that is the case. I'll plan to look into this further.

[2021-01-14 16:47] #7375 closed

[2021-01-14 17:35] mousedownmike commented on #8694
@Jagularr I think we're getting closer.  It's not clear to me why the additional character is being removed in the code I identified.  My guess (and it really is a guess) would be that it is meant to strip a trailing slash (`/` ) from the key name.

I'm working with one device manufacturer and I'm not intimately familiar with the gNMI spec so I have a hard time definitively stating if my use case

[2021-01-14 18:24] sjwang90 commented on #7925
@essobedo Scalability is the main concern for the enhancements - the process you laid out is good with me. Since you mentioned the internal cache of metrics is the root problem of scalability and it is not possible to get rid of these this all sounds good.

Not sure if @ssoroka had any feedback.

[2021-01-14 18:29] gnjack opened #8695 "[inputs.statsd] Tags mangled with tags from other StatsD metrics"
After upgrading from Telegraf 1.16.3 to 1.17.0, we've noticed that tags from StatsD metrics are being mangled with unrelated metrics.

### Relevant telegraf.conf:
This may require Graphite templates to be set on the statsd input as the thread safe issue appears to be partially in the `GraphiteParser`
[code]

### Steps to reproduce:

1. Configure a StatsD input
2. Send a large number of metrics wit

[2021-01-14 19:26] sjwang90 commented on #7338
Adding some notes on if we implement this some behavior we would want to go about it:
- By default, set the retries to 0 - to preserve the current behavior
- Log attempts and the specific failure response codes.

[2021-01-14 19:53] ssoroka opened #8696 "Support namespacing plugins"
## Feature Request

namespace plugins so that you can easily control the flow of metrics through Telegraf without depending on a rather verbose namepass setup.

eg

[code]

[2021-01-14 19:57] ssoroka opened #8697 "use before/after for sorting processors"
## Feature Request

using `order` for numbering processors has some drawbacks. specifically inserting something into the list requires renumbering all other processors. This is especially difficult when the config comes from multiple files or places, for example writing configuration programmatically.

example use
[code]

### Current behavior:

uses ordering numbers

### Desired behavior:

infer o

[2021-01-14 20:14] kkruzich commented on #7878
Thanks for the comments @jorgedlcruz. After extensive testing with configurations, etc. I think I can conclude, like you've shown above, that the log entry `CollectChunk for cluster` is accurate evidence that cluster metrics are being collected. Thank you!

[2021-01-14 21:03] mohsin106 opened #8698 "TLS stopped working when upgrading to v1.17"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf v1.17.0
### Docker

### Steps to reproduce:

1. ...
2. ...

### Expected behavior:

### Actual behavior:

### Additional info:

[2021-01-14 21:09] mohsin106 opened #8699 "TLS stopped working with Telegraf v1.15 and newer."
### Relevant telegraf.conf:

[code]

### System info:

Telegraf v1.17.0
MacOS 11.0.1

### Steps to reproduce:

1. Brew install Telegraf 1.17
2. Run Telegraf using the above config

### Expected behavior:

Telegraf should be able to connect to the routers and start streaming the telemetry data.
### Actual behavior:

Get this error:
[inputs.jti_openconfig_telemetry] Could not initiate login check fo

[2021-01-14 23:56] modem7 opened #8700 "Docker healthcheck"
## Feature Request

Please include a docker healthcheck for telegraf so that we can use systems like autoheal to restart in case of failure

### Proposal:

### Current behavior:
Container stops if it fails

### Desired behavior:

Healthcheck would allow container to come up as healthy/unhealthy and have it be dealt with accordingly.

### Use case:
As an example: After a reboot, telegraf came up be

[2021-01-15 00:26] jt3k commented on #8656
I started from this page. → https://github.com/nodesource/distributions
first I selected and added one of the repositories in which nodejs for arm.

hm wait! ..

The Raspberry_Pi_OS repositories already have nodejs. the truth is there is now version 10. before I found there only 0.10

You just need to run this in the terminal:
[code]

check if it installed correctly with the command
[code]

[2021-01-15 00:39] jt3k commented on #8656
hm...
I am very sorry, it looks like I got confused in the github ))))

I was pretty sure I was answering in issues of another repository → https://github.com/telegraf/telegraf/

sorry...

[2021-01-15 03:52] Badb0yBadb0y opened #8701 "Percentage used endurance indicator wasn't sent even smart attributes enabled"
## Feature Request

### Proposal:
The smartctl command like this smartctl -a /dev/sde gives you back many information about the ssd and what I'm interested in is the "Percentage used endurance indicator: 0%".
If you want to take this information in a short output can query like this also:
smartctl -l ssd /dev/sde

### Current behavior:
Even with the smart attributes enables in the config, this ind

[2021-01-15 06:56] aleksey-novikov commented on #8682
Basic implementation: [https://github.com/influxdata/telegraf/pull/8702]

[2021-01-15 08:53] markbastiaans commented on #6822
We're currently running into this issue. We'd like to use Telegraf to directly submit metrics to Datadog. This works fine for gauges, but counters and rates are not possible. It's of course possible to specify metric type, units and rollup intervals on the Datadog side. Would you be open to a PR that is similar to #8397?

My idea is to be able to specify which fields to interpret as a rate, counte

[2021-01-15 12:28] Aladex commented on #8692
I think it will be like:
[code]

[2021-01-15 14:22] redrumdk opened #8704 "[inputs.ping] Error in plugin: , exit status 3221225794: X.X.X.X"
Hi All,

im having this issue with using input ping on windows, using latest build of telegraf, and any version prior.

We are pinging 201 ip's at an interval of 60 seconds,
And don't have anything special in the config.

[[inputs.ping]]
## List of urls to ping
urls = [
"X.X.X.X",
"X.X.X.X"  (we have 201 ip's in this list)
] # required
count = 3
timeout = 2.0
method = "exec"
We are running telegra

[2021-01-15 14:28] trygvis commented on #8692
Just upgraded to Docker version **20.10.2+dfsg1**, same issue.

[2021-01-15 17:28] danger89 commented on #8362
Telegraf 1.17.0 on Ubuntu Server 20.04 LTS. Same issue still:

[code]

[2021-01-15 18:18] #8604 closed

[2021-01-15 18:18] #8597 closed

[2021-01-15 18:18] #8595 closed

[2021-01-15 18:18] #8582 closed

[2021-01-15 20:44] vishiy opened #8705 "Prometheus [Input] plugin - Optimizing for bigger kubernetes clusters (500+ pods) when scraping thru 'monitor_kubernetes_pods'"
## Feature Request

Prometheus [Input] plugin - Optimizing for bigger kubernetes clusters (500+ pods) when scraping thru 'monitor_kubernetes_pods'

### Current behavior:
Currently  when 'monitor_kubernetes_pods=true' , telegraf watches for pods with specific annotations to scrape metrics, as pods come & go (in all namespaces or in specified namespaces). This approach works for smaller clusters, it

[2021-01-16 13:02] douginoz commented on #8684
Still plugging away at it.  Looking at similar issues previously logged, I tried their (failed) workaround attempts and found the same result.  The following should work according to documentation, but it still returns the same error:

[code]

[2021-01-16 16:52] #8581 closed

[2021-01-16 16:53] #8493 closed

[2021-01-16 16:53] #8467 closed

[2021-01-16 16:53] #8453 closed

[2021-01-16 16:53] #8422 closed

[2021-01-16 16:53] #8421 closed

[2021-01-16 16:53] #8409 closed

[2021-01-16 16:53] #8284 closed

[2021-01-16 16:53] #8271 closed

[2021-01-16 16:53] #8217 closed

[2021-01-16 16:53] #8180 closed

[2021-01-16 16:53] #8109 closed

[2021-01-16 16:53] #8096 closed

[2021-01-16 16:53] #8091 closed

[2021-01-16 16:53] #7939 closed

[2021-01-16 16:53] #7727 closed

[2021-01-17 03:54] douginoz commented on #8684
After leaving things overnight, I was surprised to come back and see that my grafana charts show data for all the drives in my array (24 of them!).  It appears that the error that occurs happens to all the disks except 1 random one, each time the query is made.  So, over time, all drives are queried.  Just not all of them, all the time.
This can be demonstrated by doing a manual test query:
$ tele

[2021-01-17 23:09] mcassaniti commented on #8427
I've unfortunately had the host reboot that had been collecting all of this data. Over the last 2 months I can see a very slow increase of RAM usage, but I can't attribute this to Telegraf. When I checked around the 1 month mark all 3 Telegraf agents from above were showing a flat amount of RAM usage with no indication of an increase.

I'm closing this issue at this stage since there's nothing con

[2021-01-17 23:09] #8427 closed

[2021-01-18 02:24] chench00 opened #8706 "Odd log messages in vcenter (possibly related to vsphere input plugin)"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.17.0
Ubuntu 18.04

### Docker

### Steps to reproduce:

1. ...Start telegraf
2. ...tail -f /var/log/vmware/vpxd/vpxd.log | grep error
3. ...watch it fill up

### Expected behavior:

If I stop the telegraf service, the errors go away.

### Actual behavior:

### Additional info:

I was troubleshooting some issues in my vCenter when I

[2021-01-18 06:52] zzcpower commented on #5510
Good morning，
Is there any projection for this fix?

[2021-01-18 09:22] rdxmb commented on #6574
same here with ubuntu 20.04. telegraf is running as a DaemonSet (so it is running in the official telegraf-image)

`--input-filter processes` seems to be the problem here.

the inputs `cpu, disk, diskio, mem, kernel, swap, system, docker` are running without errors.

[2021-01-18 09:34] Aladex commented on #8692
@trygvis
Hi. Can you show permissions of your user? Do you run this telegraf agent from docker or on bare metal
 as service?
Can you show your config section for docker plugin?

[2021-01-18 09:47] trygvis commented on #8692
Telegraf is running in a Docker container through Docker compose:

[code]

Telegraf.conf:
[code]

[2021-01-18 12:15] p-zak commented on #8684
@douginoz
Can you try putting into Telegraf's config your devices using [format suggested by smartmontools](https://www.smartmontools.org/wiki/Supported_RAID-Controllers)?

For example:
[code]

[2021-01-18 13:08] redrumdk commented on #8704
i found the error, seems when on windows you can't use the Count parameter (ping -c)

[2021-01-18 14:28] KubaTrojan commented on #8690
I have tried to reproduce this behaviour and here is what I got:

System info: Ubuntu 18.04 (bionic), bare-metal
Telegraf version: 1.17.0

1. Create new **telegraf_test** user: `sudo adduser telegraf_test`
2. Add below entry to the bottom of sudoers file: `sudo visudo`
[code]
3. Log into created user: `sudo su telegraf_test`
4. Run id command and observe output: `id`
[code]
5. Run smartctl by **te

[2021-01-18 14:46] srebhan commented on #7266
@orbweaver did you check the scaling-factor lately? I think it should work just fine if you specify INT16 and 0.1 as scaling factor. Otherwise, as Daniel said, it's a bug. The problem with your suggestion is that devices with scaling factors such as 200.0 or 0.2 or 0.128 won't be supported and we definitively have those...

[2021-01-18 22:46] macminoz opened #8708 "SNMP Trap value dropped after ="
hi all, I'm receiving different value coming from the same oid:

.1.3.6.1.4.1.3212.7.1.2.3=19
.1.3.6.1.4.1.3212.7.1.2.3=4
.1.3.6.1.4.1.3212.7.1.2.3=3
.1.3.6.1.4.1.3212.7.1.2.3=20
...

I got a TCPDump and everything is fine:

`[udp sum ok]  { SNMPv2c { V2Trap(94) R=835323544  .1.3.6.1.2.1.1.3.0=3877169 .1.3.6.1.6.3.1.1.4.1.0=.1.3.6.1.4.1.8072.1.1.1.1 .1.3.6.1.4.1.3212.7.1.2.2=1 .1.3.6.1.4.1.3212.7.

[2021-01-19 03:54] douginoz commented on #8684
Same result:
telegraf.conf:
`devices = [ "-d areca,1/2 /dev/sg3", "-d areca,2/2 /dev/sg3", "-d areca,3/2 /dev/sg3", "-d areca,4/2 /dev/sg3", "-d areca,5/2 /dev/sg3", "-d areca,6/2 /dev/sg3" ]`

[code]

My best guess right now is that the code considers "device=/dev/sda" different from "device=/dev/sdb", but doesn't consider "/dev/sg3 -d areca,2/2" different than "/dev/sg3 -d areca,3/2" and gets so

[2021-01-19 12:59] mikedavem opened #8710 "Updating SQL Server HADR queries for improving Dashboard capabilities"
## Feature Request

### Proposal:

Telegraf 1.17 provides new HADR queries and after experienced them with Prometheus and Grafana here some suggestions to make things easier

### Current behavior and Desired behavior:

**sqlServerAvailabilityReplicaStates + sqlServerDatabaseReplicaStates**

sql_instance is using **server:instance** whereas replica_server_name format is **server\instance**. This ma

[2021-01-19 13:39] jimmyseto commented on #8615
@helenosheaa - should this be marked with a security label as well?

[2021-01-19 14:17] smalenfant commented on #8699
FYI. This stopped because some device can't negotiate TLS version. We need to be able to specify TLS version on the input plugin. This was due to a change in golang compiler version.

[2021-01-19 14:44] #8698 closed

[2021-01-19 14:44] mohsin106 commented on #8698
Not sure, how this got created.

[2021-01-19 15:03] mikedavem commented on #7074
I think we can close this feature request because metric is exposed through sqlserver_cpu_sqlserver_process_cpu

Regards

[2021-01-19 15:38] ssoroka commented on #8615
At the moment, Telegraf does not expose this issue.

[2021-01-19 15:38] #8615 closed

[2021-01-19 16:03] #7487 closed

[2021-01-19 16:11] helenosheaa opened #8711 "Sqlserver needs integration tests"
### Current behavior:
The sqlserver plugin only currently has 30% test coverage. There is only one integration test which is currently failing.

related: #8548, #8549

### Desired behavior:
Integration test(s) that check the calculation of sqlserver_process_cpu following these queries.

- sqlCPUHistory
- sqlServerCpuV2
- sqlServerRingBufferCpu

[2021-01-19 16:27] helenosheaa opened #8717 "sql"

[2021-01-19 16:27] helenosheaa opened #8718 "tests"

[2021-01-19 16:28] #8717 closed

[2021-01-19 16:28] #8718 closed

[2021-01-19 17:02] depfryer commented on #8235
hi sorry for my long time to respond

yes
[code]
is really helpful for understand and when i look in plugin snmp max_repetitions only appear once, in sample config.....
so where it is used ? (or it is used in legacy mode)

also i see GETBULK only in legacy mode. in new SNMP plugin, where is a trully fonctionnal gs.getbulk (or gosnmp.getbulk, i con"t find it)

thank you for  the help

[2021-01-19 19:12] gsperry2011 opened #8719 "Telegraf 1.17 has issues reading a valid telegraf.conf file (text format parsing error in line 1: invalid metric name)"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.16.3 (git: HEAD c7f21728) - works fine
Telegraf 1.17.0 (git: HEAD 3f7a54c9) - Has issues
Red Hat Enterprise Linux Server release 7.9 (Maipo)

### Steps to reproduce:

1. Install telegraf 1.17 and start the service. Observe telegraf log within ~10 seconds the parsing error begins.

### Expected behavior:

Jan 19 13:59:51  systemd[1]: