[2021-06-03 07:43] prab2014 commented on #9165
is this done??Can we connect prometheus to influxdb via remote write? kindly share the documents for the same.

[2021-06-03 13:28] MorphBonehunter commented on #8479
Sorry for the late response!
Yes, the error is gone, so latest versions fixed this.

[code]

[2021-06-03 13:28] #8479 closed

[2021-06-03 13:49] ssoroka commented on #9325
Ok, I think it's technically possible, but that it would add a lot of complication to the shim code. Right now the shim only wraps a single plugin, and with this change it'd need to act more like a mini-Telegraf agent for all the plugins it manages. This doesn't make a ton of sense since it can never do different plugin types (inputs/processors/outputs), as they all communicate differently over st

[2021-06-03 13:50] #9325 closed

[2021-06-03 15:59] patrikh-dev commented on #8250
this was fixed in `cisco_telemetry_mdt` plugin by @sbyx https://github.com/influxdata/telegraf/issues/6322 but unfortunately still missing in `gnmi`

[2021-06-03 18:59] helenosheaa commented on #9165
Hi @prab2014, you can test out this functionality at the moment from one of our nightly builds [here](https://github.com/influxdata/telegraf#nightly-builds).

It should be released into Telegraf 1.19.0 which is coming soon.

You'll use the `[[inputs.http_listener_v2]] `and then set the `data_format = "prometheusremotewrite"`. Check out the parser [here](https://github.com/influxdata/telegraf/tree/

[2021-06-03 19:09] akrantz01 commented on #8743
I can't seem to reproduce this locally. My only suggestion would be to try updating everything just in case.

Below are the files I used to attempt to reproduce your issue:
<details><summary>docker-compose.yml</summary>
<p>

[code]
</p>
</details>

<details><summary>telegraf.conf</summary>
<p>

[code]
</p>
</details>

<details><summary>Dockerfile</summary>
<p>

[code]
</p>
</details>

[2021-06-03 19:14] samhld opened #9328 "[Enhancement] JSON_v2 parser"
There is a JSON style (albeit probably not an optimal one) that splits keys and values into separate arrays.  A real world example is needing to pair keys in `"keys"` and values in `"values"` in the below JSON, such that the Line Protocol output gets pairs like `shortterm=0.83`:

_Note: it can be assumed that these will be ordered appropriately_
[code]

This is done in Starlark with `zip()` (snipp

[2021-06-03 19:15] samhld commented on #9328
@sjwang90 I can't assign or label this so, FYI, the Starlark label was added automatically and it shouldn't have been.

[2021-06-04 00:46] minwal commented on #9230
@ssoroka @helenosheaa @Jagularr - Hi All, Can you please help me on the next steps for this request or connect me with the relevant folks? Looking for your feedback on following -
1. Influx requires to sign Contributor License Agreement (CLA). There is a segment where it mentions a Corporate CLA rather than Individual CLA - https://www.influxdata.com/legal/cla/
Whom to contact to start this proces

[2021-06-04 07:31] prab2014 commented on #9165
THANKS FOR THE reply @helenosheaa . i do have few questions.
1) is this approach suited for the production environment(nightly builds)?
2) what changes we need to do at prometheus side to enable the remote write to influxdb2.0. Right now am using prometheus and influxdb 1.8.x .Both are connecting well as per the steps mentioned in the below url. Made changes at prometheus side by adding remote_wri

[2021-06-04 07:35] tomconte commented on #9230
Hi @minwal, regarding 1. I have initiated the internal review process for the CLA. I will forward you the details in DM.

[2021-06-04 09:25] Foustdg commented on #7968
Hello,

[2021-06-04 10:26] masual opened #9330 "[Suricata Input Plugin] Error when enabling per thread statistics"
### Relevant telegraf.conf:
[code]

[code]

### System info:

Ubuntu 20.04
Telegraf Docker Image 1.18.3
InfluxDB Docker Image 2.0.6
Suricata 6.0.2

### Steps to reproduce:

1. Configure Suricata to write threads statistics
2. Start Telegraf to read from the corresponding socket

### Expected behavior:

Metrics should be correctly read and taged with the corresponding thread

### Actual behavior:

[2021-06-04 20:18] ssoroka commented on #9328
Probably a better use case for Starlark than the JSON parser for now.

[2021-06-04 22:10] helenosheaa commented on #9165
Hi Prabhat,

1. Testing it out on staging might be better and once it's released into the next Telegraf version then it would be ready for a production environment (in my opinion).

2. Whatever is in your prometheus yml file for remote_write would need to be the same as what you put into the `[[inputs.http_listener_v2]]` for service_address and path.

3. The input would be [[inputs.http_listener_v

[2021-06-06 23:42] minwal commented on #9230
Thanks Thomas, please let me know if any action required from my side.
Is your team responsible for all Telegraf contributions integration from process perspective?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Thomas Conté ***@***.***>
Sent: Friday, June 4, 2021 5:35:29 PM
To: influxdata/telegraf ***@***.***>
Cc: Minni Walia ***@***.***>; Mention ***@***.***>

[2021-06-07 00:41] hankehly commented on #8021
I have a similar issue using a docker compose file. I expected telegraf to poll the `clickhouse` host, but it polls `localhost` instead.

#### docker-compose.yml
[code]
#### telegraf.conf
[code]
#### Output of `docker compose logs telegraf`
[code]

If this is an issue with the plugin and not the configuration, the related code may be somewhere around here.
https://github.com/influxdata/telegraf/bl

[2021-06-07 07:08] prab2014 commented on #9165
@helenosheaa
This is great. Appreciate your suggestions. I would try it and see how it works.

BTW, I do have below concerns here.

1) The input [[inputs.http_listener_v2]] & the input would be of remote_write url are same. - - Any specific port designated for the telegraf remote write feature?
 **service_address = ":1234" & remote_write:   - url: "http://localhost:1234/receive"**

Who will open t

[2021-06-07 08:13] thewickedornstein commented on #9266
This issue is reproduced at the SQL server with a self-signed certificate. As **jjh75** mentions this issue could be fixed with an update to go-mssqldb(v0.10.0), it there any chances to have this fix in the next release?

[2021-06-07 09:40] depfryer commented on #9285
some new
nothing change and some interface decide to stop working
![image](https://user-images.githubusercontent.com/17575141/120994781-1ca3b280-c785-11eb-8e36-1663f806a92e.png)

[2021-06-07 13:03] andig opened #9334 "Release sha changed"
Noticed during Homebrew/homebrew-core#78666 that the release sha has changed.

[code]

Has this been re-released?

[2021-06-07 15:54] helenosheaa commented on #9230
Hi @minwal,

Our typical process is if you are looking for feedback on ideas/implementation details you can post them on the InfluxDB Community slack channels #telegraf or #telegraf-dev. You can join this slack channel [here](https://influxdata.com/slack).

Then once you're ready with your PR, submit it and you'll get feedback/reviews from the community and engineers on the Telegraf team. There's

[2021-06-07 18:58] sspaink commented on #9330
It looks like the plugin didn't expect the thread key in the JSON being sent by Suricata to include an array ([relevant code](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/suricata/suricata.go#L154)). The plugins README points [here for the JSON format](https://suricata.readthedocs.io/en/latest/performance/statistics.html) but I don't see any JSON format outlined. Do you perhap

[2021-06-07 20:06] helenosheaa commented on #9165
@prab2014,

1. There's no specific port for remote write you can define that. There's an old blog post [here](https://thenewstack.io/how-i-created-a-telegraf-plugin-to-monitor-solar-panels/) about a different use case of the http_listener plugin if you want to get more information about it works.

2. I understand it can seem complex. If you don't want to put the Starlark script in I referenced you

[2021-06-08 04:38] minwal commented on #9230
Thanks @helenosheaa! Posted question on slack channel, hoping to get a quick response from the community.

[2021-06-08 06:06] prab2014 commented on #9165
@helenosheaa  Thanks for all the details here.  Really appreciate the suggestions and steps. Let me try this stuff and update on the results.
Happy coding
Cheers!!

[2021-06-08 06:37] ednon-labs commented on #9330
Hi @sspaink, thank you for your response.

The JSON output when stats are confgured with `threads: yes` is as follows:

[code]

[2021-06-08 07:21] coanor opened #9337 "toml: can not parse empty array with comments"
Following toml works ok:

[code]

but following parse failed: `line 2: invalid TOML syntax`

[code]

[2021-06-08 15:36] sspaink commented on #9337
This is a duplicate of: #3642
There seems to be a test already implemented for it that is being skipped at the moment:
- [test code](https://github.com/influxdata/telegraf/blob/master/config/config_test.go#L256)
- [test config](https://github.com/influxdata/telegraf/blob/master/config/testdata/slice_comment.toml)

It is quite an old issue, it will need to be revisited to see what the best approach

[2021-06-08 15:36] #9337 closed

[2021-06-08 16:03] sspaink commented on #9330
@masual I've created a pull request with a fix for this issue, can you try out the change to see if you get the expected results? You can use the artifacts posted by the tiger bot: https://github.com/influxdata/telegraf/pull/9338#issuecomment-856894895

[2021-06-08 16:52] #9318 closed

[2021-06-08 16:53] #9308 closed

[2021-06-08 16:53] sjwang90 opened #9340 "Add routing_key to kafka_consumer input plugin"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Add `routing_key` config option to kafka_consumer input plugin

### Current behavior:
No option to config in input plugin. `routing_key` configuration exists in outputs.kafka

### Desired behavior:
Configure `routing_key`

### Use case:
Wish to consume messages from a specific partition

[2021-06-08 17:37] reimda commented on #9334
Hi, thanks for the report and for repackaging telegraf in homebrew!

I'm not sure I completely understand homebrew's process, so correct me if I'm wrong: I think you have an automated download that grabs a telegraf tarball soon after we tag a release. Later when you build telegraf for homebrew, you download the tarball again and check that the hashes of the two tarballs match.

I'm pretty sure I d

[2021-06-08 18:00] orbweaver opened #9341 "Modbus: add tag to individual registers, to facilitate post-processing"
## Feature Request
Would it be possible to add a tag for processing different data types pulled from modbus devices?

### Proposal:
when registers are defined, a tag would be helpful to know how to process or interpret certain types of data
examples:
a circuit breaker register will specify status based on which bit is toggled on or off.
a pump status register has enumerated values, i.e. 0=off, 1=m

[2021-06-08 19:00] andig commented on #9334
/cc @smillerdev

[2021-06-08 19:57] SMillerDev commented on #9334
Basically every time we build any software we check the download hash. And in this case it changed.

[2021-06-08 21:40] ahsan1640 opened #9344 "time.star: module time.star is not available in Telegraf version 1.18.2"
2021-06-06T16:45:02Z I! Starting Telegraf 1.18.2
2021-06-06T16:45:02Z I! Using config file: /etc/telegraf/telegraf.conf
2021-06-06T16:45:02Z I! Loaded inputs: gnmi
2021-06-06T16:45:02Z I! Loaded aggregators:
2021-06-06T16:45:02Z I! Loaded processors: starlark
2021-06-06T16:45:02Z I! Loaded outputs: influxdb
2021-06-06T16:45:02Z I! Tags enabled: host=$containerName-telegraf-agent
2021-06-06T16:45:0

[2021-06-09 05:41] andig commented on #9334
This is what @carlocab wrote in https://github.com/linkerd/linkerd2/issues/6233#issuecomment-856310162:

[2021-06-09 06:15] SMillerDev commented on #9334
When people notice a release in the repo they send in a pull request to update the software. If this is not the place to look for releases we have ways to stop it. We just have to know.

[2021-06-09 07:08] carlocab commented on #9334
I think this could help, yes.

[2021-06-09 07:23] vishiy commented on #9225
@reimda thanks. I tried with the last release (1.18.3). Below are the vulnerabilties i see on the dependencies .

![image](https://user-images.githubusercontent.com/10353076/121311019-d7809d00-c8b8-11eb-9545-c17c1c1d3981.png)

[2021-06-09 07:25] masual commented on #9330
@sspaink awesome! Thank you very much, tested and working as expected:

![image](https://user-images.githubusercontent.com/9088782/121311324-96ae7580-c904-11eb-9cf6-7a4a5fce46c3.png)

[2021-06-09 08:53] nicolasme commented on #7728
I'm currently writing an external plugin using gos7. It's functionnal but still under development. You can take a look here https://github.com/nicolasme/s7comm. It's my first time contributing to a project. I don't really know how it works ...

[2021-06-09 13:28] helenosheaa commented on #9344
@ahsan1640 the math module has only been added in the latest Telegraf release candidate [v1.19.0-rc0](https://github.com/influxdata/telegraf/blob/master/CHANGELOG.md#features), if you use that version of Telegraf you'll be able to try out the math module.

[2021-06-09 13:28] #9344 closed

[2021-06-09 13:42] ThePeltonian opened #9347 "Issues with SQLSErver Plugin"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf Version = 1.18.2 / 1.18.3
Operating System Win 2008 R2
Microsoft SQL Server 2008 R2 (SP3) - 10.50.6220.0 (X64)
	Mar 19 2015 12:32:14
	Copyright (c) Microsoft Corporation
	Standard Edition (64-bit) on Windows NT 6.1 <X64> (Build 7601: Service Pack 1) (Hypervisor)

### Docker

### Steps to reproduce:

1. Install telegraf service
2. Exec

[2021-06-09 14:19] Rubueno opened #9348 "netstat to collect tcp connections per port"
## Feature Request

### Proposal:
I'd like to see implemented the `netstat` plugin to collect the connection states per port that the system/a service listens on, just like the [TCPConns](https://collectd.org/wiki/index.php/Plugin:TCPConns) plugin of collectd

### Current behavior:
The netstat plugin only gathers the amount of state types.

### Desired behavior:
The netstat plugin gathers amount o

[2021-06-09 17:02] sjwang90 commented on #6924
@jcchavezs Still interested in submitting a PR?

[2021-06-09 18:07] akrantz01 commented on #9340
I don't think that this should be implemented into Telegraf. From what I've read, it seems as though all data within a topic should be the same, so reading from a random set of partitions should be no different than reading from a specific partition.

Using partitions to segment events within a topic based on their data appears to be an anti-pattern, and as such, I don't think we should support it

[2021-06-09 18:35] sjwang90 commented on #8983
@vargasvic Can you please provide the information that was asked for in the comments above? Please provide the information or we'll close this issue due to inactivity

[2021-06-09 22:03] reimda commented on #9334
I understand that we should avoid retagging. Unfortunately the current telegraf process doesn't start the release build until we tag the git repo. It should be the other way around- we should tag after we have a successful build. I'll look into changing the release process but that may take some time.

In the mean time we'll flag all releases on github as pre-release and then only remove the flag

[2021-06-09 22:03] #9334 closed

[2021-06-09 22:19] carlocab commented on #9334
Thanks, @reimda. That's much appreciated.

[2021-06-10 05:36] #5900 closed

[2021-06-10 10:31] lewis-edginton opened #9349 "[prometheus input plugin] Input plugin doesn't get pod info for input as of 1.18.3"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.18.3
Image: telegraf:1.18.3-alpine on k8s 1.19.8-eks-96780e

### Expected behavior:

On pod launch with debug log-level enabled, the logs should show a list of pods to scrape metrics from:

[code]

### Actual behavior:
[code]

### Additional info:

The only difference between these 2 runs is the version. I simply updated the image t

[2021-06-10 19:22] #6437 closed

[2021-06-10 19:22] #9197 closed

[2021-06-10 19:22] #5940 closed

[2021-06-10 19:22] #6853 closed

[2021-06-10 19:22] #6990 closed

[2021-06-10 19:22] #7097 closed

[2021-06-10 19:24] #1363 closed

[2021-06-10 20:51] #7328 closed

[2021-06-10 21:05] #9211 closed

[2021-06-10 22:02] sjwang90 commented on #1363
The new [JSON_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2) (`json_v2`) has just been released in [Telegraf 1.19 rc-1](https://github.com/influxdata/telegraf/releases/tag/v1.19.0-rc1). We built it to address the use cases discussed in this thread so please download and test it out with your JSON files and open any bugs or feature gaps you may encounter.

[2021-06-10 22:03] sjwang90 commented on #6437
The new [JSON_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2) (`json_v2`) has just been released in [Telegraf 1.19 rc-1](https://github.com/influxdata/telegraf/releases/tag/v1.19.0-rc1). Please download and test it out with your JSON files and open any bugs or feature gaps you may encounter.

[2021-06-10 22:03] sjwang90 commented on #6853
The new [JSON_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2) (`json_v2`) has just been released in [Telegraf 1.19 rc-1](https://github.com/influxdata/telegraf/releases/tag/v1.19.0-rc1). Please download and test it out with your JSON files and open any bugs or feature gaps you may encounter.

[2021-06-10 22:03] sjwang90 commented on #6990
The new [JSON_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2) (`json_v2`) has just been released in [Telegraf 1.19 rc-1](https://github.com/influxdata/telegraf/releases/tag/v1.19.0-rc1). Please download and test it out with your JSON files and open any bugs or feature gaps you may encounter.

[2021-06-10 22:04] sjwang90 commented on #5940
The new [JSON_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2) (`json_v2`) has just been released in [Telegraf 1.19 rc-1](https://github.com/influxdata/telegraf/releases/tag/v1.19.0-rc1). Please download and test it out with your JSON files and open any bugs or feature gaps you may encounter.

[2021-06-10 22:39] russorat opened #9352 "json_v2 parser dealing with null data"
### Relevant telegraf.conf:
[code]

### System info:

➜  telegraf git:(master) ✗ ./telegraf --version
Telegraf unknown (git: master da7f2c7a)

### Steps to reproduce:

[code]

### Expected behavior:

Many JSON files have null values. I expected to be able to configure the json_v2 parser to ignore null values (or just automatically ignore them).

### Actual behavior:

Telegraf complains about an un

[2021-06-11 14:28] jrc opened #9353 "Exponential backoff upon output error"
## Feature Request

Opening a feature request kicks off a discussion.

### Current behavior:

We are using Telegraf to send data from IoT devices to InfluxDB. We reached a rate limit on InfluxDB, causing the database to respond with an error status. Telegraf then tried again every minute (default flushing interval of 1m).

Example log:
[code]

### Desired behavior:

Implement exponential backoff/c

[2021-06-11 20:06] jbbernar opened #9354 "expose multiple samples for a time series in prometheus_client output plugin"
## Feature Request

The prometheus_client output plugin exposes only a single sample for any time series. I'd like it to at least optionally expose all of them.

### Proposal:

Expose all the samples.

### Current behavior:

telegraf --test gives:

[code]
curl -sk localhost:9273 gives:

`test_write_latency_ms{node="46"} 0 1623440407000000000
`
### Desired behavior:

[code]

### Use case:

The curr

[2021-06-12 01:36] hankehly commented on #8021
Setting `auto_discovery` to `false` fixed my issue
[code]

[2021-06-14 10:09] Purneau opened #9361 "Azure Monitor output plugin not delivering all metrics"
### Relevant telegraf.conf:

[code]

### System info:
- RHEL 7
- Telegraf 1.15.4 (git: release-1.15 41628ee9)

### Docker
N/A

### Steps to reproduce:

On multiple VMs simultaneously:
1. Add a new input section to the config
2. Restart Telegraf service

### Expected behavior:

New metrics are consistently delivered to Azure monitor on all VMs.

### Actual behavior:

New metrics are fully visible o

[2021-06-14 10:54] cerilewis opened #9362 "SQL Server input no longer functions correctly with Windows Integrated authentication"
### Relevant telegraf.conf:

[code]

### System info:
telegraf 1.19.0-rc0 running on Windows OS

### Steps to reproduce:

1. Add SQL Server input configuration intended to use Windows Integrated authentication (i.e. no user id/password fields) and database_type of `SQLServer`
2. Run telegraf binary with above configuration

### Expected behavior:
Telegraf agent should connect to SQL Server instanc

[2021-06-14 12:16] isodude commented on #2509
@sparrc would my plugin be interesting to have included in telegraf?

[2021-06-14 15:07] #9330 closed

[2021-06-14 17:48] akrantz01 commented on #8473
Already fixed by [#8472](https://github.com/influxdata/telegraf/pull/8472).

[2021-06-14 17:48] #8473 closed

[2021-06-14 18:03] nniehoff opened #9365 "Prometheus remote write with Thanos out of order metrics stops metrics processing"
When pushing metrics to a Thanos receive endpoint if the metrics are out of order Thanos will return an HTTP 409 conflict response.  Telegraf will then keep retrying the same batch of metrics until action is taken to resolve the issue.  Thanos, however, expects the clients to understand 409 is a conflict and should not retry sending the metrics.  This will cause new metrics which are then processe

[2021-06-14 20:41] srebhan commented on #8225
@mihailescu2m and @rwalli I implemented a disconnection setting in PR #9256. It would be nice if you can test the new setting. You can use the [artifacts built by CI](https://github.com/influxdata/telegraf/pull/9256#issuecomment-860968211) and add the following to your modbus-plugin config:
[code]
Please let me know if you find any issue. Thanks you in advance!

[2021-06-15 04:23] #9242 closed

[2021-06-15 06:49] MorphBonehunter commented on #9313
Can anyone verify or reproduce this behavior?
Or is that something that only hits me?
At the moment this isn't reliably for monitoring in correlation with max and/or min functions.

[2021-06-15 07:33] freaknils commented on #8521
Thanks! Current master works fine!

[2021-06-15 18:32] #9165 closed

[2021-06-15 19:10] #352 closed

[2021-06-15 19:20] #9282 closed

[2021-06-15 19:48] alexmc1510 opened #9376 "MQTT json format"
Hello, I am desperated trying to ingest data from MQTT into InfluxDB. I have followed all documents and I have looked for some forums without success. Would someone be so kind as to provide me any idea how to ingest data that I receive from MQTT in the following format?
[code]
I would appreciate so much your help.

Thanks in advance.

Regards

[2021-06-15 20:57] #9266 closed

[2021-06-15 21:04] #9293 closed

[2021-06-15 22:11] #7728 closed

[2021-06-15 22:49] bhsu-ms opened #9377 "[SQL Server Input plugin] Configurable Query Timeout"
## Feature Request

Introduce configurable timeout for queries in SQL plugin to prevent telegraf queries blocking SQL server resources.

### Proposal:
There is no timeout for telegraf queries in SQL server plugin today. Telegraf could potentially trigger long running queries and cause performance issues. Introducing timeouts in queries will prevent long running queries from happening. There could

[2021-06-15 22:50] #9352 closed

[2021-06-15 22:52] bhsu-ms commented on #9377
@ssoroka @srebhan @Trovalo @denzilribeiro - Please let me know your thoughts.
@masree @coquagli - FYI

[2021-06-16 04:25] h3z commented on #7428
solved.
check it:
`sudo -u telegraf stat /path/to/mount`

[2021-06-16 06:46] srebhan commented on #9377
@bhsu-ms thanks for opening this discussion, much appreciated. Let me first check-back if I understood your question correctly... We are talking about the "new" generic sql plugin in `plugins/inputs/sql` and your proposal is to change the timeout handling in `Gather()` to a timeout per query. Is this correct?

As currently the timeout is used per-query in preparing the statement anyway, I'm open t

[2021-06-16 07:40] Trovalo commented on #9377
In the SQL Server plugin, you can actually set the Query timeout, but in the connection string itself. there are lots of parameters just look at the [driver docs](https://github.com/denisenkom/go-mssqldb).

as a sample:
`server=SqlInstance01;database=master;connection timeout=10`

[2021-06-16 07:55] xavpaice opened #9380 "When running as non-root user, intel_rdt plugin has no output"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf: 1.18.3+git-6ef3e51f~202105250953~ubuntu18.04.1 from  http://ppa.launchpad.net/telegraf-devs/ppa/ubuntu
Ubuntu Bionic, with kernel 5.4 (HWE)
intel-cmt-cat 4.1 from source (Bionic's package is older)

### Steps to reproduce:

1. configure the intel_rdt plugin per documentation
2. Ubuntu packages run telegraf as user 'telegraf', not as

[2021-06-16 08:00] srebhan commented on #9377
@Trovalo the `sql` input plugin support multiple different "drivers" not just `mssql`. I'm not sure if this is a generic thing **required** to be supported by the driver. Do you know it's save to rely on this in e.g. `mysql`, `postres` or `sqlite` drivers?
Anyway I would like to provide an option in telegraf that makes sure that we do not block forever, no matter what the driver is doing...

[2021-06-16 08:21] danberg13 commented on #7555
Hey together, I'm having the same problem.

Is there any bug fix or maybe somebody found by time a good workaround?

@sjwang90 How yo you suppose to skip the float step? Doesn't convert the JSON Plugin automatically the JSON Numbers to float fields?

Thanks for the help!

[2021-06-16 11:14] sspaink opened #9381 "Update json_v2 parser to allow excluding/including specific array elements"
The json_v2 parser doesn't allow you to exclude/include a element inside an array. The parser should be updated to support index numbers in the JSON key's so that users can select individual array items. At the moment only an entire array can be excluded/included.

e.g.

The JSON key: ` etd_0_estimate_0_minutes`

Should select: `24`

From the JSON:
[code]

[2021-06-16 11:55] denzilribeiro commented on #9377
@Trovalo  this is Connection timeout not  Query timeout, what the ask is here is a query timeout, say specific query gets blocked or whatever by workload, is better for monitoring query to timeout than to create any contention in the system .

@bhsu-ms  assuming something like this https://www.alexedwards.net/blog/how-to-manage-database-timeouts-and-cancellations-in-go is what you were thinking or

[2021-06-16 13:31] srebhan commented on #9377
I think we are drifting off a bit on the original issue. If I'm not mistaken, @bhsu-ms wants to change [those lines](https://github.com/influxdata/telegraf/blob/daec1040c6411494414fc7a674932c7f607859f0/plugins/inputs/sql/sql.go#L490-L503) in `plugins/inputs/sql` to something like
[code]

@denzilribeiro we already have a timeout (see the link above), but currently it is over all queries. This means

[2021-06-16 13:38] denzilribeiro commented on #9377
@srebhan  missed that totally thanks :) , will let @bhsu-ms  clarify his proposal if it was more than this aka per query timeout? or...

[2021-06-16 14:58] sjwang90 commented on #9230
Questions from @minwal about writing the Telegraf ADX output

In the `Write` method, array of `telegraf.Metric` object is received so is there any implicit convention to group metrics into buckets/namespaces within the same inputter? e.g. I am testing ADX outputter with SQL inputter – there are ~900 metrics collected by SQL inputter that are bucketed into following namespaces depending on `databas

[2021-06-16 14:58] srebhan commented on #9376
Hey @alexmc1510,

with
[code]

I do get
[code]

You have to postprocess `q` and maybe also `v` but that's nothing too hard using the [starlark processor](https://github.com/influxdata/telegraf/tree/master/plugins/processors/starlark)...

[2021-06-16 15:38] M0rdecay opened #9382 "Oracle support for SQL input plugin"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Can this driver be added to the list of supported?
Pure go driver - https://github.com/sijms/go-ora

[2021-06-16 15:52] sjwang90 commented on #7555
Would anyone be willing to see if the new [`json_v2` parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2) to see if you still lose granularity.

[2021-06-16 16:32] aslgithub opened #9383 "RabbitMQ Input Plugin v1.19.0 unmarshal errors"
### Relevant telegraf.conf:

[code]

### System info:

Windows Server 2019
Telegraf v1.19.0
RabbitMQ 3.8.14
Erlang 23.2.7

### Steps to reproduce:

1. Configure inputs.rabbitmq
2. Run a test collection
telegraf.exe --config "C:\Program Files\Telegraf\telegraf.conf" --test --input-filter rabbitmq --debug

### Expected behavior:

Collection should complete without errors.

### Actual behavior:
There

[2021-06-16 16:33] barbaranelson commented on #9381
Without being able to select an element within the array, you can only get the last element of the array, because the array elements all have the same time stamp and the same tags, and the same field value name, so InfluxDB overwrites the series each time it gets a new entry with the same time stamp, tags and field name.

[2021-06-16 16:53] aslgithub opened #9384 "x509 Certificate Input Plugin v1.19.0 does not work with URL"
### Relevant telegraf.conf:

[code]

### System info:

Windows Server 2019
Telegraf v1.19.0

### Steps to reproduce:

1. Configure inputs.x509_cert
2. telegraf.exe --config "C:\Program Files\Telegraf\telegraf.conf" --test --input-filter x509_cert --debug

### Expected behavior:

Certificate details returned

### Actual behavior:

No certificate details are returned
2021-06-16T16:52:07Z E! [inputs.

[2021-06-16 16:58] orbweaver commented on #9341
Closing this request.  Functionality is very similar to [#7941](https://github.com/influxdata/telegraf/pull/7941), which already has traction.

[2021-06-16 16:58] #9341 closed

[2021-06-16 17:23] aslgithub commented on #8914
@jjh74 @srebhan I've just raised https://github.com/influxdata/telegraf/issues/9384 as I have found this issue in testing v1.19.0.
https://github.com/influxdata/telegraf/issues/6952 is the only change I can see between working on v1.18.1 and broken on v1.19.0

[2021-06-16 17:32] aslgithub commented on #9384
Breaking change seems to be https://github.com/influxdata/telegraf/pull/6952 which has broken x509_cert https:// and other prefixes

[2021-06-16 17:47] aslgithub opened #9385 "Set telegraf.exe Property Details to include version number"
## Feature Request

The telegraf.exe properties for the version are empty so beyond the file size and date modified its impossible to tell which version of telegraf.exe without running it.

### Proposal:

Include at least the version number in the Properties.
This stackoverflow question shows the issue
https://stackoverflow.com/questions/35126344/how-to-set-the-file-version-field-in-pe-header-of-e

[2021-06-16 19:23] barbaranelson commented on #9381
Actually, I was able to make this work. Here's the telegraf configuration I ended up with, and it only selects the first entry in the array for each station:

[[inputs.http]]
  urls = [
    "http://api.bart.gov/api/etd.aspx?cmd=etd&orig=COLM&key=MW9S-E7SL-26DU-VV8V&dir=n&json=y",
    "http://api.bart.gov/api/etd.aspx?cmd=etd&orig=POWL&key=MW9S-E7SL-26DU-VV8V&dir=s&json=y"
  ]

  data_format = "jso

[2021-06-16 20:07] reimda commented on #9361
I think there have been updates to this plugin since 1.15.4. Could you retry with the latest telegraf build?

[2021-06-16 20:48] barbaranelson commented on #9381
Actually on further testing this doesn't completely work.  It works in that you can select the first entry in the array, but when you independently select root.station.#.etd.0.estimate.0.minutes for the minutes, and root.station.#.abbr, you get inconsistent data. I am assuming this is because the # is expanded independently for these two paths, so you get every combination of station name and minu

[2021-06-16 23:29] bhsu-ms commented on #9377
@srebhan @Trovalo @denzilribeiro Thanks for the feedback!
My original proposal was to have timeout for per query. I missed the lines @srebhan mentioned above. I'm open to whether having the timeout over all queries or per query. As @srebhan mentioned, all following queries will be dropped due to timeout when there's one long running query.

[2021-06-17 04:08] SomKen commented on #5282
https://docs.influxdata.com/telegraf/v1.18/about_the_project/release-notes-changelog/

"Add FreeBSD ARMv7 build." Front and center...

[2021-06-17 06:38] xavpaice commented on #9380
https://github.com/xavpaice/telegraf/tree/issues/9380 has a potential fix, need to get the CLA signed before making a PR.

[2021-06-17 13:05] Purneau commented on #9266
I can confirm this issue is also present on linux and also solved for linux in the nightly build.

[2021-06-17 13:06] Purneau commented on #9361
We are suffering from: https://github.com/influxdata/telegraf/issues/9266
I can't test this at scale using a nightly build, so I will get back on this once we have rolled out a stable build on all these systems.

[2021-06-17 13:27] vinothvm opened #9389 "Telegraf v1.19.0 insecure_skip_verify broken in outputs.http"
Hi Team,

In telegraf v1.19.0-rc1, output plugin HTTP throws following error.

2021-06-17T13:23:13Z E! [telegraf] Error running agent: Error loading config file telegraf.conf: error parsing http array, line 242: field corresponding to `insecure_skip_verify' in http.HTTP cannot be set through TOML

Is there any change expected in this release?

[2021-06-17 14:01] danberg13 commented on #7555
Im suppose the new json_v2 doesn't lose granularity.
Unfornutaly, I'm using docker compose where the newest version of telegraf (1.19) is still no aviable.
With 1.18.3 im determined to use the old json input right?
Thank you!

[2021-06-17 18:05] mcaulifn opened #9390 "mqtt_consumer support for AWS SDK"
## Feature Request

### Proposal:
Enable mqtt_consumer to utilize AWS SDK. This will allow Telegraf running with IAM permissions to access topics without having to use certificates.

### Current behavior:
Certificates are required, specifically for IOT topics.

### Desired behavior:
Subscribe to topic w/o requiring certificates if IAM credentials are available.

### Use case:
The current use case

[2021-06-17 18:51] flaker opened #9391 "AWS plugin - Prometheus output does not return billing metrics"
### Relevant telegraf.conf:

[code]

### System info:

./telegraf --version
Telegraf unknown (git: master 28fbdd8f)

(also tested on image telegraf:1.16.1)

### Docker

### Steps to reproduce:

1. Execute telegraf in an environment that has working credentials to connect to AWS and retrieve metrics.
2. ...

### Expected behavior:

Opening a browser and pointing to http://localhost:9273/metrics sho

[2021-06-17 19:05] MichiFr opened #9392 "Multiple docker inputs possible?"
Very basic question regarding telegraf.conf and docker monitoring:
Can I have multiple endpoints in section [[inputs.docker]] or multiple sections?

Background: I'm running telegraf on one machine and can monitor this local host. OTH, I'm running a second machine with a second docker instance, not running any telegraf daemon and would like to remotely monitor this instance, too.

Any hints availab

[2021-06-17 21:38] sjwang90 commented on #7555
@danberg13 The 1.19 release came out today with the [new JSON_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2).

I am trying with @nathanpegram above and altering the type and am not getting necessarily what you'd expect. Try it out and if this issue still exists we can figure out how to address it in this new parser.

[code]

`type = "int"`
Input: `"DEVICEID"

[2021-06-17 21:56] jh125486 commented on #5932
@osd42 , I've finally got around to working on this.
Do these config values make sense for your use case?:

[code]

It will use the `username`/`password` HTTP Basic auth if it's defined in the config, and will use all the cookies returned from cookie auth for subsequent calls.

[2021-06-17 22:33] mike-yli opened #9393 "Request to update the tidwall/gjson version"
The gjson v1.6.0 is still used in the most recent telegraf v1.19.0:

github.com/tidwall/gjson v1.6.0

It has three vulnerabilities:

Could you please update the gjson to the most recent version v1.8.0.

Thank you very much!

[2021-06-17 23:38] igomura opened #9394 "json_v2: tags required to be listed as included_keys"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf: telegraf-1.19.0-0.1.x86_64
OS: Linux localhost 3.10.0-1160.15.2.el7.x86_64 #1 SMP Wed Feb 3 15:06:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Steps to reproduce:

1. Create json_v2 input
2. add "included_keys" option
3. add "tags" option

### Expected behavior:

metrics, if found, should be tagged by tags from the list

### Actua

[2021-06-18 06:12] pradig commented on #9384
Same problem under Linux, too.

[2021-06-18 08:17] srebhan commented on #9384
@aslgithub and @pradig can you please test PR #9289? This should fix the problem... Would be good to get some confirmation that the issue is gone. The Windows artifact can be found [here](https://app.circleci.com/pipelines/github/influxdata/telegraf/5371/workflows/a70daa7b-9954-4dfa-a81f-616073ae5abf/jobs/97524/artifacts), trying to get the linux one built...

[2021-06-18 08:33] srebhan commented on #9377
@bhsu-ms the more I think about it the more it makes sense to have the timeout per query. So please feel free to submit a PR and assign me.

[2021-06-18 08:44] srebhan commented on #9384
Ok all artifacts built by CI can be found [here](https://github.com/influxdata/telegraf/pull/9289#issuecomment-863866190) including Linux. Just click on that small black rectangle to unfold the list.

Would appreciate your feedback...

[2021-06-18 09:06] pradig commented on #9384
Works for me now, Ubuntu 20.04.2
Thanks!

[2021-06-18 09:06] xAnder1402 opened #9396 "Input plugin procstat doesn't allow starting Windows service."
### Relevant telegraf.conf:
[code]

### System info:
Windows Server 2019 Standart 1809 17763.1577
Telegraf 1.19.0 amd64

### Steps to reproduce:
1. I launch Telegraf service and it does not start.
2. Delete inputs.procstat from telegraf.conf.
3. I launch Telegraf service and it starts.

**With Telegraf 1.17.3 works correctly on this OS.**

[2021-06-18 09:58] aslgithub commented on #9384
@srebhan
Its now providing an output rather than an error; but the behaviour does not match pre #6952

[[inputs.x509_cert]]
sources = ["https://my.server.com:443"]

v1.18.1 output snip
x509_cert,source=https://my.server.com:443

This artifact build
source=tcp://my.server.com:443

notice the https is now assumed to be tcp

If I remove the port in my config
2021-06-18T09:57:25Z E! [inputs.x509_cert]

[2021-06-18 10:07] pradig commented on #9384
@aslgithub

These are my entries, and they work perfectly well:

    "https://www.xxx.com:443",
    "https://minio.yyy.net:9000",

[2021-06-18 10:14] aslgithub commented on #9384
@pradig
and your actual output within the x509_cert contains source="https://www.xxx.com:443"
rather than source="tcp://www.xxx.com:443" ?

In which case this is a Windows versus Ubuntu issue..

[2021-06-18 10:17] aslgithub commented on #9384
Bit hard to redact, so snipped output..

[[inputs.x509_cert]]
sources = ["**https://iccs.refsys.commandcentralcrs.cloud:443**"]

[2021-06-18 10:18] pradig commented on #9384
This is the output:

x509_cert,common_name=www.xxx.com,host=orfeo,issuer_common_name=R3,public_key_algorithm=RSA,san=www.xxx.com,serial_number=3a220f4f2b064ad3a4c0d84436cbbe0a1ae,signature_algorithm=SHA256-RSA,source=tcp://www.xxx.com:443,verification=valid age=3551030i,enddate=1628236328i,expiry=4224969i,startdate=1620460328i,verification_code=0i 1624011359000000000

[2021-06-18 10:20] aslgithub commented on #9384
okay, so you have the same issue
you are requesting :
"**https**://www.xxx.com:443"
but the output back is
source=**tcp**://www.xxx.com:443

If you compare this to v1.18.0 for instance
"**https**://www.xxx.com:443"
but the output back is
source=**https**://www.xxx.com:443

Thanks,
Paul

[2021-06-18 10:27] pradig commented on #9384
I got your point now...
before telegraf 1.18 it was source=https://www.xxx.com
and with telegraf 1.19 it is now source=tcp://www.xxx.com
So we still have a little problem here.

[2021-06-18 10:42] pradig commented on #9384
I just had a look at the x509_cert documentation. It is a little bit inconsistent, the example config uses "tcp://example.org:443" but the sample output has "source=https://example.org:443".
So this is the reverse behaviour from what we are seeing now with 1.19, and it is still crazy for me. I would expect "tcp://" in and "tcp:://" out, or "https://" in and "https://" out.

[2021-06-18 10:47] Trovalo commented on #9377
I'll refer to the SQL Server input plugin only, as this is what's reported in the title of the request, if you want to implement it in the generic SQL plugin I already thank you @srebhan as that's will surely be useful.
What I'll report next might help you implement it for the [SQL server driver](https://github.com/denisenkom/go-mssqldb).

@denzilribeiro The parameter `connection timeout` is not a

[2021-06-18 11:22] modulec commented on #9383
I can confirm same thing is happening on Centos 7 with telegraf v1.19.0-1

[2021-06-18 11:23] aslgithub commented on #9384
#6952 seems to be 'bad' that made these changes.

If you look at
https://github.com/influxdata/telegraf/pull/6952/files

It updated the readme to remove https from the example
  ## List certificate sources  sources = ["/etc/ssl/certs/ssl-cert-snakeoil.pem", "https://example.org:443"]

And changed it to
  ## List certificate sources, support wildcard expands for files  ## Prefix your entry with 'fi

[2021-06-18 11:29] pradig commented on #9384
Well, I reckon that "tcp:" would be technically ok (as certificates are part of TLS, and this is agnostic of any higher level protocol, like https) -- but it is not what you would expect if you checked the certificate of a classical web site (which I guess is the major use case of this plugin).

[2021-06-18 13:07] DEvil0000 opened #9397 "smart scan with configurable device types"
## Feature Request
Adding a config option for device types to scan for when using smart input plugin.

### Proposal:

### Current behavior:
Currently the smart input uses `smartctl --scan` and `smartctl --scan --d nvme` to search for devices to monitor.

### Desired behavior:
I would like to see a config option containing a list of device types to scan for or command list for scans.

### Use case:

[2021-06-18 13:34] ADovgalyuk opened #9398 "Clickhouse Plugin: runtime error at ReplicationQueue"
**OS**: CentOS8
**Telegraf**: telegraf-1.19.0-1.x86_64
**Clickhouse**:  version 21.6.4 revision 54448. Single node instance, no replication.
**Configuration**:
[code]
**Telegraf_Test**:
[code]

[2021-06-18 13:36] Slach commented on #9398
@ADovgalyuk thanks a lot for reporting, i'm on it

[2021-06-18 14:45] srebhan commented on #9384
Thanks for testing folks! I think I found the issue and prepared a fix, also comprising the changes in #9289 for testing. Can you give the artifacts in #9400 a try as soon as they are built?
Thanks a lot and sorry for the inconvenience this whole mess might have caused.

[2021-06-18 15:31] pradig commented on #9384
Confirmed, fixes it for me.
Thanks for this fix at light speed.

[2021-06-18 16:52] aslgithub commented on #9384
@srebhan also confirmed as fixing for me, thank you. The request now matches the source.
Just a note to say I really appreciate your efforts Sven, you got the SQL input over the line into v1.19, but I'm now stuck on this, the SQL integrated login issue, and RabbitMQ aarrgghhh so close !

[2021-06-19 09:04] depinski commented on #8914
Just did a code review and arrived at the same conclusion as @jjh74. Line 124 of the plugin breaks the functionality quite obviously

[2021-06-21 05:45] pgmillon commented on #6418
I think this has been handled with https://github.com/influxdata/telegraf/pull/7778

[2021-06-21 09:46] Littlericket commented on #5425
Since this PR is still open and the first google hit when searching for chrony serverstats and telegraf is this issue, you can use the csv data format and inputs.exec for now

[code]

[2021-06-21 10:47] japsu opened #9402 "outputs.cloudwatch gets stuck when receiving data older than 2 weeks"
Consider a scenario where there are clients that stay offline for a long time and then send their metrics when they come back online.

If such metrics are more than 2 weeks old, `outputs.cloudwatch` will get stuck due to AWS Cloudwatch API error. Even though there are less than 2 weeks old messages in the queue, they will not get through.

In our case, input is Kinesis, so the old messages will be

[2021-06-21 17:09] #9393 closed

[2021-06-21 18:57] R290 opened #9405 "[inputs.opcua] Quality should be a tag and not a field"
## Feature Request

Regarding the opcua input plugin:

### Proposal:

In my opionon quality should be a tag and not a field based on the [InfluxDB schema design and data layout]( https://docs.influxdata.com/influxdb/v1.8/concepts/schema_and_data_layout/#encode-meta-data-in-tags).

### Current behavior:

Quality is a field

### Desired behavior:

Quality should be a tag

### Use case:

Filtering fo

[2021-06-21 19:20] R290 commented on #8826
`0xC0` is not a valid status code when considering the information from the OPC foundation: https://reference.opcfoundation.org/Core/docs/Part6/A.2/. This status code is not listed in the CSV on the linked page. Additionally from https://reference.opcfoundation.org/Core/docs/Part4/7.34.1/:

So this issue can be closed?

[2021-06-21 20:25] R290 commented on #8871
I can reproduce this behavior with the following configuration using the `open62541` docker image:
[code]
The good node is skipped, while we would expect to see it in the output. The problem arises from returning the error instead of just logging the error. I'll reference this issue in a commit with an example solution in the near future.

[2021-06-21 21:41] #2506 closed

[2021-06-21 22:02] drfickle opened #9407 "Startup failure with caching on 1.19"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.19, Ubuntu 18.04

### Steps to reproduce:

1. ... Install telegraf 1.18 with above config using influx apt repository
2. ... Things work
3. Upgrade to telegraf 1.9
4. Look for error in /var/log/syslog

### Expected behavior:

Telegraf should continue to run as it did

### Actual behavior:

failed to open. Ignored. open /etc/telegraf

[2021-06-21 22:08] drfickle commented on #9407
The only correlation between Telegraf and anything named snowflake that I can find is using it with "outputs.sql" for a Snowflake database connection. I do not have that plugin enabled anywhere and the /etc/telegraf/telegraf.d/ directory is empty, so I have no idea where this is coming from.

[2021-06-21 22:08] sspaink commented on #9376
We also recently introduced a new json parser that you can use, this new parser will set the appropriate types without post-processing.

Example config:
[code]
 Expected output:
[code]
Hope that and @srebhan example helps you get started!

[2021-06-21 22:08] #9376 closed

[2021-06-22 05:42] alexmc1510 commented on #9376
Thank you very much. I have mixed both and it is working like a charm. Thank you very much!!!

[2021-06-22 07:45] wujianhanshu opened #9408 "prometheus input plugin: mistaken delete"
### Relevant telegraf.conf:

[code]

### Mistaken info:

Telegraf:  v1.8.3-v1.19.0

https://github.com/influxdata/telegraf/pull/8937/files#diff-dcebbfefbef8e986af6172ea7f96ab8b6d0b62aac383a7fa3f7bc1df5d06f2e0

func (p *Prometheus) cAdvisor(ctx context.Context) error {
        ...
        client.SetHeaders(req.Header) // mistaken delete
        ...
}

[2021-06-22 07:47] wujianhanshu commented on #9408
@SebastianThorn

[2021-06-22 08:32] srebhan commented on #9384
@pradig thanks for testing!
@aslgithub thanks for testing! Please keep this on-topic! ;-) You can contact me on slack or discuss the matter on the related ticket (if there is one already).

[2021-06-22 08:50] GRX commented on #9162
I'm having the same issue, my certs seem to have an `enddate` that doesn't match with the actual end date.
Using query:
[code]

It returns: `1757952000` (epoch; Monday, September 15, 2025 4:00:00 PM)
The actual cert expiry is on Friday, 27 August 2021.

I DID notice that the certs manually requested via LetsEncrypt are showing a correct time, where the ones that are automatically requested by Trae

[2021-06-22 09:28] aslgithub commented on #9383
@srebhan Tagging you in on this to see if you can help please?

[2021-06-22 11:08] Darth-Bobo commented on #9407
Similar problem for me, but I have this error message before the one shown above:
level=error msg="failed to create cache directory. /etc/telegraf/.cache/snowflake, err: mkdir /etc/telegraf/.cache: permission denied. ignored\n" func="gosnowflake.(*defaultLogger).Errorf" file="log.go:120"

Changing the ownership of /etc/telegraf to telegraf:telegraf removes the error message and at the moment appea

[2021-06-22 12:12] srebhan commented on #8914
@depinski there is no doubt about this. We have some fixes in #9289 and #9400 and I'm working on getting those in ASAP. If you want to test, you can use the artifacts produced in #9400 as it comprises the other PR.

[2021-06-22 13:26] areian commented on #9407
Looks like this is caused by the addition of the SQL output plugin in #9280.

The gosnowflake library uses a directory for caching OSCP, and the directory is expected to follow the XDG Base Directory Specification, but rather than trying to get the cach dir path from an environment variable, it is just hard coded to [use the default path of `$HOME/.cache`](https://github.com/snowflakedb/gosnowflak

[2021-06-22 14:54] donfirst opened #9410 "Telegraf 1.9.0 doesn't support Health Output Plugin anymore"
### Relevant telegraf.conf:

[code]

### System info:

### Docker

### Steps to reproduce:

1. docker pull telegraf
2. docker images ( grab image  ID)
3. docker run -it IMAGE_ID /bin/bash
4. edit /etc/telegraf/telegraf.conf
5. Add secttion
[[outputs.health]]
 service_address = "tcp://:8025"
6. run telegraf

### Expected behavior:

 Telegraf should run without any  error ( the config is valid  for

[2021-06-22 15:46] srebhan commented on #9383
@aslgithub it seems like the output of RabbitMQ changed.  `0.0` is not an integer value so we would have to change the struct field to `float` in the plugin. The other issue points to a change in the JSON structure (field added/removed).
A quick search did not reveal a changelog or anything that documents what changed in RabbitMQ and when. However, this is a required information to make the plugin

[2021-06-22 16:10] #9340 closed

[2021-06-22 16:41] #8914 closed

[2021-06-22 16:48] #9394 closed

[2021-06-22 18:33] aslgithub commented on #9383
@srebhan The output of RabbitMQ is not changing, I'm simply running the two different versions of Telegraf against the same version of RabbitMQ .
If this is RabbitMQ related then as you say I'm not sure how to track this.
For me it has to be some change in how Telegraf is handling {or not} the conversion maybe one of the go updates or #8969 ?

Taking one error as the example,
[inputs.rabbitmq] Err

[2021-06-22 18:45] #9384 closed

[2021-06-22 20:56] #9389 closed

[2021-06-22 20:59] #8840 closed

[2021-06-22 21:40] #7914 closed

[2021-06-22 21:51] aslgithub commented on #9383
I give up ! I cannot find the answer, question submitted on the RabbitMQ Githhub discussion
https://github.com/rabbitmq/rabbitmq-server/discussions/3135

[2021-06-23 05:15] tiny6996 opened #9414 "elasticsearch output doesn't work with opensearch"
### Relevant telegraf.conf:

[code]

### System info:

os: Ubuntu 20.04
telegraf version: 1.19
opensearch version: 1.0.0-rc1

### Docker

### Steps to reproduce:

1. start telegraf with output config listed
2.  follow logs with journalctl

### Expected behavior:

no logs and documents appearing in elasticserch
### Actual behavior:
outputs 2021-06-23T05:11:31Z E! [agent] Failed to connect to [outpu

[2021-06-23 05:44] tiny6996 commented on #9414
I think this could be fixed by checking minimum_wire_compatibility_version instead of the number field for the version check

[2021-06-23 06:10] ray-magini opened #9415 "[dovecot input plugin] tcp read i/o timeout since telegraf 1.18.3 -> 1.19.0 update"
### Relevant telegraf.conf:

[code]

### Relevant dovecot.conf:

[code]

### System info:

OS: CentOS Linux release 7.9.2009 (Core)
Uname: Linux <hostname> 3.10.0-1160.31.1.el7.x86_64 #1 SMP Thu Jun 10 13:32:12 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
Telegraf: telegraf-1.19.0-1.x86_64
Dovecot: dovecot23-2.3.11.3-1.gf.el7.x86_64 and dovecot23-pigeonhole-2.3.11.3-1.gf.el7.x86_64

All latest updates

[2021-06-23 06:39] Levarix opened #9416 "Telegraf 1.19.0 isn't working with couchbase in 6.0.5 build 3340"
### Relevant telegraf.conf:

[code]
### Relevant couchbase.conf:
[code]

### System info:

Tested in Docker image and directly Ubuntu host
### Docker
Image: https://hub.docker.com/layers/bitnami/telegraf/1.19.0/images/sha256-50dfbfb37faed8894ca60cea120f1b819b2d31dc3515debfea2b849fc7f109d0?context=explore

### Ubuntu
Version: Ubuntu 18.04.5 LTS

### Steps to reproduce:

1. Just run telegraf 1.19.0

[2021-06-23 08:38] marianob85 opened #9417 "Telegraf 1.19 - Windows smart plugin does not work correctly with adaptec raid"
### Relevant telegraf.conf:

[code]

### System info:
Windows Server 2019
smartctl 7.2 2020-12-30 r5155 [x86_64-w64-mingw32-2019] (sf-7.2-1)
Adaptec RAID 2405 ( 4 drive with RAID 0 )
### Steps to reproduce:

Run telegraf: ( powershell ) with above smart config:
& 'C:\Program Files\telegraf\telegraf.exe' --test --debug --input-filter smart

### Expected behavior:

smart_device,device=sda,enabled=En

[2021-06-23 09:32] Novgor opened #9418 "Plugin SMCIPMITool"
Hello.
Will there be support for the SMCIpmiTool plugin in the latest versions? Plugin documentation is missing.
https://github.com/influxdata/telegraf/blob/release-1.19/plugins/inputs/smc_ipmi/README.md
best regards.

[2021-06-23 10:16] popey commented on #9416
Thanks for the issue report. I installed couchbase-server 6.6.2-9600-1 (the latest as per their [documentation](https://docs.couchbase.com/server/current/install/ubuntu-debian-install.html) on both Ubuntu 20.04 LTS and 18.04 LTS and used your simple config snippet:

[code]

It seems to work fine here with telegraf 1.19.0, I'm unable to reproduce this.

[code]
Does it happy for you on a newer couch

[2021-06-23 11:06] popey commented on #9415
Thanks for filing this issue. I'm trying to reproduce this in a lxd container running centos 7. I've got dovecot running, but adding your snippet to the dovecot.conf doesn't result in anything listening on port 24242 for me. Is there any other configuration required, to enable the stats output from dovecot?

[2021-06-23 11:22] popey commented on #9410
Thanks for filing this issue. Did you maybe download the wrong (older) version of telegraf?
I note you're mentioning telegraf 1.9.0, when the latest release is telegraf 1.*19*.0.
I grabbed 1.19.0 and it works as expected with the snippet you suggested.

[code]

[code]

[code]

For completeness I downloaded telegraf 1.9.0 and it fails as you identified, as expected. as 1.9.0 dates from November 201

[2021-06-23 11:43] Nkmol commented on #9162
I believe I correctly validated this works now. I ran `telegraf --test` inside the container to validate this. If I see issues regarding these problems again I might open this again.

@jjh74 Thanks for taking the time to look at this.

[2021-06-23 11:43] #9162 closed

[2021-06-23 12:37] ray-magini commented on #9415
Hi @popey, thanks for looking into it. Which version of dovecot are you running?

[2021-06-23 12:45] popey commented on #9415
I'm using dovecot 2.2.36. I just did a clean container and used yum to install it.

[2021-06-23 12:51] ray-magini commented on #9415
ok, in dovecot 2.3 the `stats` plugin was renamed to `old_stats`, so you may want to
- try to use `stats` (https://wiki2.dovecot.org/Statistics/Old)
- or update to dovecot 2.3 (use the GhettoForge repo http://ghettoforge.org/index.php/Usage#Usage or the dovecot repo should work as well https://repo.dovecot.org/)

[2021-06-23 13:10] popey commented on #9415
Thanks for the tips.

Ok, confirmed that telegraf 1.19.0 gives:-

[code]

With telegraf 1.18.3 I get:

[code]

So this looks like a regression in 1.19. Thanks again for reporting it.

[2021-06-23 13:25] chandhukeenz opened #9420 "Telegraf on Kubernetes : Error: Service "telegraf" is invalid: spec.ports: Required value"
**what do I want to do?**
I'm trying to deploy telegraf in my Kubernetes cluster so that I can use Telegraf's **Prometheus** input plugin to read the data (metrics) from a particular URL and write the metrics in a file using telegraf's output **file** plugin.
**what did I do?**
I used the telegraf [helm chart](https://github.com/influxdata/helm-charts/tree/master/charts/telegraf) to deploy telegra

[2021-06-23 13:38] VorobevPavel-dev opened #9421 "Expand set of allowed symbols in graphite tagged"
## Feature request

Adding new symbols is needed. Now in Telegraf there is a little problem with using ```graphite_tag_support```: symbols (for example '/') are replaced with '-'.

### Proposal:
Allow user to choose: replace '/' or any similar symbols with '-' or not via some sort of config field

### Current behavior:

##### telegraf.conf
[code]

##### input.txt
[code]

##### output.txt
[code]

H

[2021-06-23 15:03] zak-pawel commented on #9417
Seems that for now you can find workaround here: https://github.com/influxdata/telegraf/issues/8684

[2021-06-23 15:16] blamarvt opened #9422 "Telegraf 1.19 - statsd plugin stops processing after receiving malformed stats"
### Relevant telegraf.conf:

[code]

### System info:

Ubuntu 18.04 LTS
telegraf - 1.19.0-1

### Docker

Not applicable

### Steps to reproduce:

1. Start `telegraf` using a `statsd` input.
2. Send malformed stats to port 8125
[code]

### Expected behavior:

In previous versions of `telegraf` this error would happen:
[code]

### Actual behavior:

[code]

### Additional info:

This section of code

[2021-06-23 16:07] donfirst commented on #9410
Hello
I can confirm it was my mistake instead of 1.19.0 I used 1.9.0
Please take my apologies
Best Regards.
Pete

[2021-06-23 17:03] akrantz01 commented on #9420
Does your telegraf need to listen on any ports? If not, setting `service.enabled` to false in your values.yaml should fix it.

[2021-06-23 17:06] popey commented on #9410
No problem. :+1:

[2021-06-23 17:06] #9410 closed

[2021-06-23 17:56] chandhukeenz opened #9424 "2021-06-23T17:14:00Z E! Error writing to output [influxdb]: Could not write to any InfluxDB server in cluster 2021-06-23T17:14:10Z E! InfluxDB Output Error: Post http://127.0.0.1:8086/write?consistency=any&db=telegraf: dial tcp 127.0.0.1:8086: getsockopt: connection refused"
**what I want to do?**
I want to get the data from prometheus /metrics using inputs.prometheus plugin and write it in a file using outputs.file plugin by telegraf.
**what I did?**
![image](https://user-images.githubusercontent.com/55447161/123144986-ee5aee00-d479-11eb-9869-3054e16007f8.png)
![image](https://user-images.githubusercontent.com/55447161/123145125-1fd3b980-d47a-11eb-9ab1-f03263b4fead.p

[2021-06-23 18:53] reimda commented on #9424
It looks like the telegraf.conf in your yaml file isn't being used when telegraf runs. The log output mentions influxdb output which is not in your yaml configuration. I would guess your yaml config isn't placing the telegraf.conf in the expected location and telegraf is using a default telegraf.conf in the image.

This is not an issue with telegraf, but with your kubernetes configuration. Please

[2021-06-23 18:53] #9424 closed

[2021-06-23 18:56] reimda commented on #9420
We can't provide helm support here. Please use slack or the community message boards.

[2021-06-23 18:56] #9420 closed

[2021-06-23 18:58] reimda commented on #9418
The contributor of the smc ipmi tool plugin made the plugin external. It is not part of telegraf but can be run by telegraf using exec. See the instructions at https://github.com/jhpope/smc_ipmi.

[2021-06-23 18:58] #9418 closed

[2021-06-23 19:25] reimda commented on #9414
Hi @tiny6996, telegraf's elasticsearch plugin uses the elastic v5 golang module by olivere (https://olivere.github.io/elastic/) which is compatible with elasticsearch v5. Opensearch was forked from elasticsearch v7. There is a v7 version of the elastic module which is compatible with elasticsearch v7.

There may be workarounds to get telegraf (olivere/elastic.v5) to work with opensearch, but I don

[2021-06-23 19:38] reimda commented on #9408
Hi @wujianhanshu, is this causing telegraf to fail? Could you give more detail about what happens when you run v1.19.0?

@sspaink Could you look into why this `client.SetHeaders(req.Header)` line was removed? It looks like it happened when you migrated telegraf to kubernetes/client-go a few months ago.

[2021-06-23 19:56] reimda commented on #9407
Thanks everybody for looking into this, especially @areian. You explained the cause very well.

Sorry we missed this in #9280.  We may need to remove gosnowflake at least temporarily and make a 1.19.1 release. I'll also to look into changing telegraf's automated tests to have a read-only home directory so they are more similar to the Ubuntu packages and can catch issues like this in the future bef

[2021-06-23 20:02] SomKen commented on #8656
@jt3k is this still a problem? Did you attempt to build telegraf on the PI directly?

[2021-06-23 20:06] reimda commented on #9405
Hi @R290. You may be right that quality would be better as a tag. I see you've changed this in your fork, but changing the metric format breaks backward compatibility so we would need to do this with a setting that defaults to the previous behavior (quality as a field). Do opcua users often filter by quality? Would such a setting be worth it?

You can also use a processor converter to change a fie

[2021-06-23 20:21] reimda commented on #9392
You can have multiple [[inputs.docker]] sections in your telegraf.conf, for example one for your local docker and another for docker on your second machine.

By default, docker only listens on a unix socket. You may have to change docker on your second machine so it listens on tcp before you can connect to it. (see https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-socket-option)

[2021-06-23 20:21] #9392 closed

[2021-06-23 20:48] reimda commented on #9380
Hi @xavpaice, thanks for the issue. Using sudo is a good option here. Let us know when you've signed the CLA and can submit a PR.

Your readme.md changes say sudo is mandatory if telegraf isn't running as root, but that's not quite true. One other option for running pqos as root is to make the pqos executable setuid root. That's less secure than sudo but doesn't require any changes to telegraf.

[2021-06-23 20:52] sspaink commented on #9408
@reimda The new client used in the library "kubernetes/client-go" didn't have have an equivalent to the HTTP client field that the old `*k8s.Client` had which was being used to send the HTTP request. So instead I updated the code to use the standard HTTP library to make the request `resp, err := httpClient.Do(req)` ([link to code](https://github.com/sspaink/telegraf/blob/master/plugins/inputs/prom

[2021-06-24 01:07] arrmo commented on #6316
Hi,

Sorry if this is a dumb question, but ... as there is an official plugin for [apcupsd](https://www.influxdata.com/integration/apcupsd/), why not align with that => meaning, save the same parameter set with NUT?

Thanks!

[2021-06-24 07:00] Levarix commented on #9416
@popey Unfortunately, we are limited to 6.0.5, and this version is still supported, so IMO telegraf should work with it

[2021-06-24 09:24] VorobevPavel-dev commented on #9421
@Jagularr please take a look

[2021-06-24 09:44] popey commented on #9416
Ok, understandable. I grabbed couchbase enterprise 6.0.5 and tested. Works for me here on that release too, both using telegraf 1.18.3 and 1.19.0.

1.19.0 - 10.55.242.16 is the 18.04 couchbase 6.0.5 server, the other two are the 20.04 and 18.04 newer releases of couchbase.

[code]

1.18.3

[code]

Obviously mine is a completely clean install of couch, with no data. Are you able to reproduce the is

[2021-06-24 11:03] Levarix commented on #9416
@popey tested on clean couchbase server but NOT enterprise and the same result:
[code]

[2021-06-24 11:47] VorobevPavel-dev opened #9427 "x509 do not gather information about cross-certs and root-certs"
## Feature Request

Allow user to chose gather info about root certs or not via some kind of config field

### Proposal:

Add field to config allowing user not to gather info not from target cert.

### Current behavior:
Info gathered from target cert (green line) and cross, root certs (blue and orange lines)
![Скриншот от 2021-06-24 14-38-37](https://user-images.githubusercontent.com/66829073/1232

[2021-06-24 11:48] VorobevPavel-dev commented on #9427
@jaroug  @srebhan @ssoroka please take a look

[2021-06-24 12:03] FiliMila opened #9428 "openldap input mismatch with ldaps"
Hi,
I've tried to monitor openldap with this telegraf plugin (1.16 and 1.19, its the same), but in my openldap configuration, I've disabled anonymous access and forced secure auth.
Of course Monitor is active.

When debugging configuration I get:
[...]
2021-06-24T11:57:35Z E! [inputs.openldap] Error in plugin: LDAP Result Code 200 "Network Error": x509: certificate relies on legacy Common Name fie

[2021-06-24 12:06] FiliMila commented on #9428
Hi,
I'm sorry; after the post I read that it's not enabled option "insecure_skip_verify".
Thanks anyway,

[2021-06-24 12:06] #9428 closed

[2021-06-24 13:26] temp5mr opened #9430 "[inputs.modbus] long value error -- exception '3' (illegal data value), function '131'"
Device's (OWEN ME110) manual says:
`Integer value of measured voltage  0x0019, 0x001A  Signed long Read only`
A asked holding registers (telegraf 1.19.0,  RTU 9600/8N1):
`byte_order = "ABCD",  data_type = "INT32", scale=1.0,  address = [25,26]`
and
`byte_order = "ABCD",  data_type = "FIXED", scale=1.0,  address = [25,26]`
both give the message:
`Error in plugin: modbus: exception '3' (illegal data

[2021-06-24 13:41] Nkmol commented on #9162
The underlying issue for my specific server seems to be fixed by not 'leaking' the `server_name` in the next cert request, which is done in scope of https://github.com/influxdata/telegraf/pull/9289

[2021-06-24 18:36] Esity commented on #6591
@russorat @timhallinflux How can we get this one prioritized? Quorum queues have been available for some time

[2021-06-24 18:39] Purneau commented on #9361
Cannot reproduce using 1.19.0-1. Closing issue, thanks for the hint.

[2021-06-24 18:39] #9361 closed

[2021-06-24 20:43] #9422 closed

[2021-06-24 20:45] reimda opened #9434 "Add integration test for statsd input"
#9422 happened because of a linter fix in code that wasn't covered with tests. A docker integration test would make sense here and would have caught the regression.

[2021-06-24 20:50] #9415 closed

[2021-06-24 20:52] reimda opened #9435 "Add integration test for dovecot"
#9415 happened because of a linter fix in code that wasn't covered with tests. A docker integration test would make sense here and would have caught the regression.

We also need to check if there's a better api to use to gather dovecot stats. The current one we use "old_statistics" requires us to ignore a timeout.

https://doc.dovecot.org/configuration_manual/stats/old_statistics/#old-statistics

[2021-06-24 21:05] sspaink opened #9436 "Create a unit test format to test plugin configuration"
Plugins need a way to test the configuration to prevent regressions such as seen in this issue: https://github.com/influxdata/telegraf/pull/9413

Two possible approaches:

- Have a unit test parse the sample config from the README.md associated with the plugin, and attempt to load it and compare it to the struct defined in the go file
- Have the plugin generate the go struct and README.md from a s

[2021-06-24 21:24] MyaLongmire commented on #9396
[This ](https://github.com/shirou/gopsutil/pull/1090)pull request will fix the issue

[2021-06-24 21:27] reimda commented on #9407
I installed the 1.19.0 .deb on a vm and reproduced the gosnowflake error messages you are reporting. Do the errors prevent telegraf from working for you?

@drfickle, in the issue report you said "Telegraf should continue to run as it did" for expected behavior. In my vm, telegraf is running even though it prints a couple error messages to stdout when starting. Is telegraf actually crashing or exit

[2021-06-24 21:34] helenosheaa commented on #9383
@akrantz01  and I were just pairing on this we are also able to replicate the problem. If we change the type on the struct of `io_read_avg_time` to float64 there is then the same error message for `io_write_avg_time`. Once thats updated the same error message for the memory.total field:

[code]

I found this description [here](https://documentation.solarwinds.com/en/success_center/appoptics/conten

[2021-06-25 00:02] timhallinflux commented on #6591
Contributions from folks who are experts with RabbitMQ are welcome.

[2021-06-25 01:04] drfickle commented on #9407
Hi @reimda . Thanks for the follow-up.

Yes it does not start up. The entire set of logs looks like:

[code]

where you can see systemd keeps trying to start it. After 5 failures it gives up. There was no process running and we began receiving "no data" alerts in Grafana.

The directory has permissions as
[code]

[2021-06-25 05:49] SathishKumarRamasamy opened #9437 "Dynatrace > loggedMetrics map is never initialized."
Since d. loggedMetrics is never initialized, the following line causes a runtime panic.
https://github.com/influxdata/telegraf/blob/ed412d7f9cd4fd45693d77604140aa286adb3581/plugins/outputs/dynatrace/dynatrace.go#L132

Stacktrace:
`   2021-06-25T10:30:00.68+0530 [APP/PROC/WEB/0] ERR panic: assignment to entry in nil map
   2021-06-25T10:30:00.68+0530 [APP/PROC/WEB/0] ERR goroutine 505 [running]:

[2021-06-25 05:56] pprkut commented on #9407
@drfickle telegraf not starting up is a different issue:

[code]

[2021-06-25 08:29] Hipska commented on #9245
Doesn't setting the [round_interval](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#agent) to false already do that?

Otherwise, you could shedule this collection with a cron job every 3 hours with the `--once` parameter..

[2021-06-25 08:54] popeyesfx commented on #8656
On Wed, 23 Jun 2021 at 21:02, SomKen ***@***.***> wrote:

I havnt tried building it on a pu zero, been busy with other covid related
things im afraid. was not aware you could build it directly

[2021-06-25 09:15] chandhukeenz opened #9439 "Telegraf output file plugin : e error write to output file ,invalid argument"
**I want to write the metrics of a Prometheus input in a file using telegraf output plugin in azure kubernetes services.**
**This is my configmap YAML:**
![image](https://user-images.githubusercontent.com/55447161/123407000-1d33aa00-d5c9-11eb-96ba-4563ae2f5783.png)
This is the logs of Telegraf pod:
![image](https://user-images.githubusercontent.com/55447161/123407134-3d636900-d5c9-11eb-873b-277587

[2021-06-25 12:58] drfickle commented on #9407
I can see that possibility, but when I downgrade to 1.18 the same config file loads just fine?

[2021-06-25 13:01] MorphBonehunter commented on #9313
I've updated telegraf today to 1.19.0 but the situation didn't change:
[code]
and the metrics are duplicated:
[code]

[2021-06-25 13:02] drfickle commented on #9407
I have changed the config from `percentiles = [90]` to ``percentiles = [90.0]` and indeed it does start up now. Thank you for the suggestion.

[2021-06-25 13:22] #9439 closed

[2021-06-25 13:40] #9299 closed

[2021-06-25 14:55] thepacketgeek commented on #4762
I was looking into this enhancement this while working on #8454, should be easy enough to add. I'll give it a shot this weekend :)

[2021-06-25 15:35] chandhukeenz commented on #9439
The files key under outputs.file should be a path inside the pod and not the path in your host/cloud-drive.
When I gave a path like /tmp/metrics.out , the output file plugin write was successful. You can access the /tmp/metrics.out file by getting into the telegraf's pod which can be done using the command,
[code]

kubectl exec --stdin --tty telegraf-pod-name -- /bin/bash
[kubernetes command expla

[2021-06-25 17:24] reimda opened #9441 "Statsd percentile setting fails on integer values"
Before 1.19.0, the statsd percentile setting would accept integer or floating point values. After 1.19.0, it doesn't accept integer values.

This config snippet was valid before 1.19.0:
[code]

On 1.19.0 it will trigger an error like this:
`Error loading config file /etc/telegraf/telegraf.conf: error parsing statsd, line 186: (statsd.Statsd.Percentiles) cannot unmarshal TOML integer into float64`

[2021-06-25 17:25] reimda commented on #9407
Glad to hear this is not preventing telegraf from starting. It looks like the gosnowflake errors are a nuisance but not something that prevents existing .deb users from upgrading to 1.19.0. Since the extra errors aren't critical I won't remove snowflake. I'll start looking for a solution to use snowflake in a way that doesn't cause errors, maybe by providing another writable directory or disabling

[2021-06-25 20:16] danielmotaleite commented on #9407
@reimda well, from about 15 hosts i upgrades (from debian using influx repo), one of then failed to start, the same config worked fine in 1.18

[code]
nothing useful in the telegraf log.
maybe related to the couchbase, as some of the failed attempts did output some couchbase issue (above, in the middle and below):

[code]

even after creating the directories and changing the owner, i keep having p

[2021-06-25 22:35] SomKen commented on #8656
"GOARM=6 GOOS=linux GOARCH=arm go build ./cmd/telegraf" should work on another machine with a current version of GO installed. GO can cross-compile as well so it can totally build on an x86 machine. (How I proved the ARMv7 FreeBSD build worked)

[2021-06-26 10:31] danberg13 commented on #7555
@sjwang90 @nathanpegram I tried the new JSON_v2 Parser out with the new dockerimage (version 1.19.0-alpine).

My telegraf.conf file:
[code]

Type: `"float"`
Input: For example `8121069193333309404 `or `8121069193333309389 `etc.. (last 4 numbers are changing)
Output:  `8121069193333309000`

Type: `"int"/"uint"`
Input: For example `8121069193333309404` or `8121069193333309389` etc.. (last 4 numbers

[2021-06-26 13:11] abedfarvardin commented on #5599
I configured samba in this way and it worked well for me
# SMB / File Server
[[inputs.win_perf_counters]]
    [[inputs.win_perf_counters.object]]
	  ObjectName = "SMB Client Shares"
	  Counters = ["Write Bytes/sec","Read Bytes/sec","Current Data Queue Length","Metadata Requests/sec"]
	  Instances = ["*"]
	  Measurement = "win_smb"

[2021-06-27 11:14] liorfranko commented on #9441
+1

[2021-06-27 12:25] piotrp commented on #8136
On newer ClickHouse version (21.6) this error changes to:

[code]

But after upgrading Telegraf from 1.15.1 to 1.19.0 this issue seems to be resolved.

[2021-06-27 13:45] piotrp commented on #7567
Some more information: all `zk_avg*_latency` metrics were changed to doubles in ZooKeeper 3.6: https://github.com/apache/zookeeper/commit/bc992480ec938a3fad4b90f75a52dd186e1b968a ([ZOOKEEPER-2641](https://issues.apache.org/jira/browse/ZOOKEEPER-2641))

[2021-06-28 08:59] aalemanq commented on #7615
I have same issue too:

 [inputs.docker] Error in plugin: timeout retrieving container stats

 docker.sock permissions are right..

[2021-06-28 10:04] BlueskyFR commented on #8534
Can anything be done about this?

[2021-06-28 12:04] srebhan commented on #9383
@helenosheaa I think the problem is [here](https://github.com/influxdata/telegraf/blob/e4bd01e0c706fedca7e2584322d3e458569f40a4/plugins/inputs/rabbitmq/rabbitmq.go#L399) as the code changed
[code]
now checking the returned error, while before those errors went unnoticed.

Can anyone of you @aslgithub or @helenosheaa provide some sample data from `/api/nodes` and `/api/federation-links` so I can fi

[2021-06-28 12:34] aslgithub commented on #9383
@srebhan sure!
Starting with the easy one for me, we don't use Federation Links.
This data was not included in v1.18.1 output, but v1.19.0 is giving the error trying to include it.

/api/federation-links
`{"error":"Object Not Found","reason":"Not Found"}`

This data was included in v.1.18.1 output as rabbitmq_node without apparent errors, but v1.19.0 is giving the unmarshal error.
This is just a s

[2021-06-28 12:39] aslgithub commented on #9383
I don't know if this helps, as its not the matching example for the above, but this is the output from Telegraf v.1.18.1 for the node line

`> rabbitmq_node,host=telegrafsrv,node=rabbit@rabbitmqsrv,url=http://rabbitmqsrv:15672 disk_free=25119473664i,disk_free_alarm=0i,disk_free_limit=50000000i,fd_total=65536i,fd_used=77i,gc_bytes_reclaimed=11665854057096i,gc_bytes_reclaimed_rate=1586580.8,gc_num=2

[2021-06-28 13:54] helenosheaa commented on #9383
@srebhan thanks for working on this! Also staying tuned for testing :)

I was in the same situation as @aslgithub with no object found for federation-links.

[2021-06-28 14:21] srebhan commented on #9383
@helenosheaa did you find a document stating the datatypes of the returned values (e.g. `float` vs. `int`)? I can now use the example posted by @aslgithub but we still don't know for certain if we miss out on other values currently being `int64` that actually are `float`.

[2021-06-28 14:44] helenosheaa commented on #9383
@srebhan I can't find useful documentation outside of https://www.rabbitmq.com/monitoring.html#node-metrics which isn't enlightening on int vs float. However if it's json that it's returning and the numeric type is "number", which is both int and float we may have to explicitly set it to float (if it can ever be a float). I was seeing the same issue for `Memory.memory.total `as well as both` io_wr

[2021-06-28 15:02] aslgithub commented on #9383
The API returned fields are listed as tables on this document, but not the field types.
https://rawcdn.githack.com/rabbitmq/rabbitmq-server/v3.8.17/deps/rabbitmq_management/priv/www/api/index.html

I cannot find the field types documented anywhere, so I posted the question on the RabbitMQ GitHub
https://github.com/rabbitmq/rabbitmq-server/discussions/3135

But no response

[2021-06-28 15:10] srebhan commented on #9383
@aslgithub can you please attach a file with the result of `/api/nodes/rabbit@rmqserver/memory`?

[2021-06-28 15:49] aslgithub commented on #9383
@srebhan Please find attached..
..sorry I saw the add link the last time in the toolbar but no attach option..I totally missed the the note at the bottom I could attached by drag and drop..

`/api/nodes/rabbit@rmqserver/memory`
[rabbitmq_memory_json.txt](https://github.com/influxdata/telegraf/files/6727561/rabbitmq_memory_json.txt)

[2021-06-28 16:24] aslgithub commented on #9383
@srebhan I think this is a complete set of an example json of every API call from one of my servers

[rabbitmq_api_overview.txt](https://github.com/influxdata/telegraf/files/6727807/rabbitmq_api_overview.txt)
[rabbitmq_api_nodes.txt](https://github.com/influxdata/telegraf/files/6727808/rabbitmq_api_nodes.txt)
[rabbitmq_api_nodes_memory.txt](https://github.com/influxdata/telegraf/files/6727810/rabb

[2021-06-28 16:32] srebhan commented on #9383
@aslgithub is it ok to add those files to the repository as test-cases?

[2021-06-28 16:36] aslgithub commented on #9383
@srebhan Let me check..

[2021-06-28 16:49] reimda commented on #9407
@danielmotaleite It looks like you're hitting #9416 which is unrelated to this snowflake issue. Please share your logs on that issue.

[2021-06-28 17:17] srebhan commented on #9383
Oh and strangely you have
[code]
in memory where the old test-case has only a single value. So is the total memory the sum of the three values in your case?

[2021-06-28 17:33] sjwang90 commented on #6205
@wpegg-dev @davidbuchanan An [OpenTelemetry Input Plugin](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/opentelemetry) was released in Telegraf 1.19 (ty @jacobmarble !!)

closing this issue.

[2021-06-28 17:33] #6205 closed

[2021-06-28 17:51] akrantz01 commented on #7555
It seems that deserializing anything greater than `2^53 - 1` can cause precision to be lost since that is the max significant digits a `float64` can store. Go defaults to using a `float64` when deserializing into an interface, which is why this appears in `json` and `json_v2`.

According to golang/go#12409, the recommended way to deserialize larger numbers from JSON is to go directly into an `int6

[2021-06-28 18:04] aslgithub commented on #9383
@srebhan , I'm not too familiar with this, but it seems that they are not the sum of the values.
erlang = runtime used
allocated = runtime allocated
rss = resident set size (RSS) reported by the OS

From https://www.rabbitmq.com/memory-use.html
It looks as though the memory calculation strategy could be legacy, rss and allocated.
I'm currently running as rss; although its supposed to default to al

[2021-06-28 18:13] srebhan commented on #9383
Point taken. I'm now cascading and trying the estimations in the following order "rss", "allocated", "erlang".

Is it ok to use the data as test-case? If so I'm, ready to commit. :-)

[2021-06-28 18:31] aslgithub commented on #9383
Sorry, I was trying to see if I could switch the calculation strategy to get a different result..

I've double checked, I think I have suitably redacted; go for it..

[2021-06-28 18:40] srebhan commented on #9383
Once #9443 built you can use the binaries to test. At least it works with the testcase you provided. Regarding the `federate` error you can now exclude that metric using the new `metric_exclude` option (maybe we need to rename that option) and get rid of the error message.

[2021-06-28 19:36] srebhan commented on #9383
Yeah, here you go. :-) Let me know if it fixes the regression.

[2021-06-28 20:01] sjwang90 opened #9445 "Telegraf to accept tokens on v1 InfluxDB input plugins"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Add tokens (alongside existing username/password) to the [InfluxDB Listener v1 plugin](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/influxdb_listener).
- Use telegraf as an aggregator in front of the Cloud 2 API with v1 capability.
- Even though v2 listener https://docs.influxdata.com/telegraf

[2021-06-28 20:09] sjwang90 commented on #4419
Going to close this based off the convo in this Flux Processor PR https://github.com/influxdata/telegraf/pull/6490

[2021-06-28 20:09] #4419 closed

[2021-06-28 20:12] sjwang90 commented on #9273
@Aqualie Are you still seeing this issue? We haven't had any similar issue coming up for influxdb_v2 output.

[2021-06-28 20:18] #5597 closed

[2021-06-28 20:22] #2991 closed

[2021-06-28 21:13] sjwang90 commented on #7234
@dpajin Closing this issue. Feel free to re-open if still persists.

[2021-06-28 21:13] #7234 closed

[2021-06-28 22:45] aslgithub commented on #9383
@srebhan Looks good, I've set the metric_exclude and #9443 runs without collection errors.
As best as I can compare given different collection results between runs the output looks similar and mem_total is now populated.
Attached two samples from each version, prefixed at the start of the line.
[nodes_output.txt](https://github.com/influxdata/telegraf/files/6729580/nodes_output.txt)

The rest of t

[2021-06-29 02:42] wujianhanshu commented on #9408
@sspaink
yes, update the cadvisor pod list not working.
error message：
       2021-06-29T02:29:33Z E! [inputs.prometheus] Unable to monitor pods with node scrape scope: Error initially updating pod list: Error when making request for pod list with status 401 Unauthorized`

[httpClient := http.Client{}](https://github.com/influxdata/telegraf/pull/8937/files#:~:text=httpClient%20%3A%3D%20http.Client

[2021-06-29 11:15] danberg13 commented on #7555
Thanks @akrantz01.
After a few tests with the new JSON_v2 Parser i still get the same results as @sjwang90:
`type = "float"`
Input: `8141069193333309389 `
Output: `8141069193333309000`

`type = "uint"`
Input: `8141069193333309389 `
Output: `8141069193333309440` -> maybe a rounding Problem?

`type = "string"`
Input: `8141069193333309389 `
Output: `8.121069193333309e+18`

The last thee bytes aren't

[2021-06-29 11:36] danberg13 commented on #9381
Hey, I'm having the same problem.
Im trying to parse a JSON array: `data =  [8 2 9 10 11]`

Telegraf conf file:
[code]

According to [GJSON](https://github.com/tidwall/gjson/blob/v1.7.5/SYNTAX.md#arrays) i try it with path = "data". The only number i get is the last one in the array.

It's possible to get the length of the array with `path = "data.#"` or single elements with `path = "data.0"` or `

[2021-06-29 12:39] srebhan commented on #9427
@VorobevPavel-dev makes sense to me. Pull-requests welcome. ;-)

[2021-06-29 20:51] sspaink commented on #9381
@danberg13 Thank you for trying out the new parser, if you want to gather all elements in the data array then the path "data" should be correct and not return only the last one in the array.

Here is an example from something I ran locally:

Input json:
[code]

Telegraf config:
[code]

Expected output:
[code]

Hopefully I understood your problem correctly? I also tried it in the gjson playground h

[2021-06-29 20:53] ebertech opened #9450 "segfault on kube_inventory..."
### Relevant telegraf.conf:

[code]

### System info:

1.19, EKS, Docker

### Docker
### Steps to reproduce:

Run this inside of EKS with the settings provided and create an endpoint as described below.

### Expected behavior:

I get some data from the endpoint

### Actual behavior:

I get a segfault...

### Additional info:

Here's the specific line causing the issue I think...

https://github.co

[2021-06-29 21:01] #9383 closed

[2021-06-29 21:07] #9396 closed

[2021-06-29 23:44] sjwang90 opened #9451 "Rename `kubernetes_node` measurements in inputs.kube_inventory or inputs.kubernetes"
## Feature Request

### Proposal:
The same measurement name causes conflicts for those users that have both `inputs.kube_inventory` and `inputs.kubernetes` plugins.

### Current behavior:
`kubernetes_node` metric is emitted by both `inputs.kube_inventory` and `inputs.kubernetes` but each emit different field and tag keys. This causes problems and confusion when both input plugins are enabled.

Exa

[2021-06-30 03:53] tiny6996 commented on #9414
sadly I am not a go developer

[2021-06-30 04:04] lcgogo opened #9452 "inputs.docker plugin writes to AWS timestream error"
I want to collect docker stats by telegraf docker plugin.

My config is like below:
[code]
However, the telegraf log shows
[code]

[2021-06-30 09:32] r0bc94 opened #9453 "Failed to Parse Syslog Input if the APP-NAME Property is an empty string"
### Relevant telegraf.conf:

[code]

### System info:

* Telegraf 1.19.0 (git: HEAD ed412d7f)
* CentOS 7.8.2003
* rsyslogd 8.24.0-52.el7

### Steps to reproduce:

1. Rsyslog receives a log - message which looks like so:
[code]

2. Telegraf shows the following error message:
[code]

[2021-06-30 11:24] EugenFo opened #9454 "Couchbase plugin stop working due to certificate verification of an self-signed certificate"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf version 1.19.0
Debian 9
Couchbase 6.5.1

### Steps to reproduce:

We upgraded our Telegraf package from version 1.17.x to 1.19.0.
After this upgrade we are getting error messages regarding certificate verification. See the logs in the additional info.

### Expected behavior:

Couchbase input plugin should still work or at least have an

[2021-06-30 13:56] richardgianattasio commented on #7675
Please note that my organization (VMware) is trying to take the lead on eliminating insensitive language across the industry.  Terms like Master/Slave do carry different connotations (an idea or feeling that a word invokes in addition to its literal or primary meaning) for different users and therefore can effect the talent that our industry embraces. While I do not fully understand or appreciate

[2021-06-30 14:32] AllieWu opened #9455 "Support for body parameter in OAuth2 token request [inputs.http]"
## Feature Request
For the HTTP input plugin's OAuth2 token feature, add the ability to specify body parameter.

Opening a feature request kicks off a discussion.

### Proposal:
In telegraf.conf, allow for a body parameter:
  ## OAuth2 Client Credentials Grant
  client_id = "clientid"
  client_secret = "secret"
  token_url = "https://indentityprovider/oauth2/v1/token"
  scopes = ["urn:opc:idm:__my

[2021-06-30 15:38] anandpathak commented on #4693
+1

[2021-06-30 17:27] ssoroka commented on #7187
I seem to be mistaken. Reopening this.

[2021-06-30 18:20] sjwang90 commented on #1778
Please leave a comment describing why the example above or the [tagpass/tagdrop documentation](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#routing-metrics-to-different-outputs-based-on-the-input) outlined here doesn't resolve what you need.

Otherwise we will close this issue.

[2021-06-30 22:45] chvnch opened #9459 "error parsing http array, line 24: field corresponding to `insecure_skip_verify' in http.HTTP cannot be set through TOML"
### Relevant telegraf.conf:

[code]

### System info:

1.19
### Docker

### Steps to reproduce:

1. ...
2. ...

### Expected behavior:

### Actual behavior:

### Additional info:

[2021-06-30 23:08] mirath commented on #9226
@helenosheaa better late than never: #9461

[2021-07-01 09:12] rvql opened #9463 "Support 'port' tag in ClickHouse plugin"
## Feature Request

Support metrics collecting on a system with multiple ClickHouse instances.

### Proposal:

Add a 'port' field in metric tags to support multiple instance.

### Current behavior:

An example point:

[code]

### Desired behavior:

Add port field:

[code]

### Use case:

Metrics collected from multiple ClickHouse instances deployed on a single host cannot be differentiated by pres

[2021-07-01 10:19] cnkei commented on #9463
A possible fix.
[code]

[2021-07-01 15:20] TheWing commented on #8103
Hi.

I've ran into this same issue and after a bit of looking around I also found this:
https://community.influxdata.com/t/cant-get-the-minecraft-input-working-server-failed-to-mirror-request-challenge/15391

Seems to be a similar issue, and in there it seems weird to me that input.minecraft would try to ask for 'scoreboard players list #1' (the third send method); as far as I can see, that tries

[2021-07-01 16:07] danberg13 commented on #9381
Thank you @sspaink for testing my issue.

Input:
[code]
Telegraf config:
[code]

Im testing the new JSON Parser in combination with InfluxDB and Grafana.  How do you test it locally? Maybe there is the difference or there is another Problem with the configuration because i still get just the last number of the datainput. Any Ideas?

The GJSON Path seems to be correct.

Thanks for the help!

[2021-07-01 16:15] srebhan commented on #9459
Fixed in master with PR #9413.

[2021-07-01 16:15] #9459 closed

[2021-07-01 20:18] lukebeer commented on #8832
I have the same issue -

Telegraf 1.19.0
ActiveMQ 5.14.5

[code]

This is the response obtained via tcpdump on 127.0.0.1:8162

[code]

[2021-07-01 20:48] #9075 closed

[2021-07-01 20:50] #9416 closed

[2021-07-01 20:54] #9047 closed

[2021-07-01 22:55] lukebeer commented on #8832
Any .jsp people know if that forEach loop is working correctly? Should that be itering over the queue list and populating the <stats .. /> element in the final XML output the client receives?

[2021-07-01 23:05] lukebeer commented on #8832
I have resolved the issue by commenting out the first include line and replacing it with as follows
[code]

Now I have valid XML for each queue
[code]

[2021-07-02 10:19] lesinigo commented on #3723
Seems like the same issue has been fixed specifically in `outputs.kafka` with PR #9051 , merged in [Telegraf v1.19.0](https://github.com/influxdata/telegraf/blob/master/CHANGELOG.md#v1190-2021-06-17).

I'd really like to see a more general solution as already proposed because we had many instances of missing metrics in InfluxDB because an unrelated (ElasticSearch) output from the same Telegraf was

[2021-07-02 11:09] Hipska commented on #3723
I now have a similar problem when I would like to start a second telegraf instance with the same config. (The config has a service input that listens to a specific port)

Being able to tell telegraf not to crash(!) when it cannot bind to the specified port would be so useful.

[2021-07-02 13:21] smartpcr commented on #6534
I am experiencing same problem, I can only see go collector and process metrics, but not internal ones

[code]

[2021-07-02 19:51] ssoroka commented on #7993
If you're using aggregators you can't prevent a second copy from spinning up in 1.x

[2021-07-02 21:05] sspaink commented on #9381
@barbaranelson I believe I've implemented a change that addresses the issue your facing. If you'd like you can find the Telegraf artifacts with the changes in the link posted by the tiger bot [here](https://github.com/influxdata/telegraf/pull/9449#issuecomment-873253913). I've updated the [README.md](https://github.com/influxdata/telegraf/blob/eb118d90659f7a515dc26437cc4e99e5583aee5a/plugins/parse

[2021-07-02 21:10] sspaink commented on #9381
@danberg13 Thank you for providing your config, I think the reason your only seeing the last number is because of how influxdata handles [duplicate points](https://docs.influxdata.com/influxdb/v2.0/reference/syntax/line-protocol/#duplicate-points). In the same measurement, it uses the tag and timestamp to distinguish between two separate line protocols and in your example there is no tag therefore

[2021-07-02 23:38] barbaranelson commented on #9381
I tried the new build, and unfortunately it crashed.  Here's the stack trace:
2021-07-02T23:35:29Z I! Starting Telegraf
2021-07-02T23:35:29Z I! Loaded inputs: http
2021-07-02T23:35:29Z I! Loaded aggregators:
2021-07-02T23:35:29Z I! Loaded processors: starlark
2021-07-02T23:35:29Z I! Loaded outputs: file influxdb_v2
2021-07-02T23:35:29Z I! Tags enabled: host=ip-192-168-1-68.ec2.internal
2021-07-02T

[2021-07-03 00:28] sspaink commented on #9381
Oh no! Thank you for trying it out, I think I know why it happened the function `checkIfIncludedCollection` should have been deleted. Can you share the config you used? Then I can add it to the tests to make sure it doesn't happen again.

[2021-07-03 00:34] barbaranelson commented on #9381
Here is my config.
[telegraf.conf.txt](https://github.com/influxdata/telegraf/files/6757601/telegraf.conf.txt)

[2021-07-03 01:55] sspaink commented on #9381
Latest [artifacts posted by the telegraf tiger](https://github.com/influxdata/telegraf/pull/9449) no longer throws a panic, but instead produces this line protocol with the provided config:
[code]

[2021-07-03 12:29] R290 commented on #9405
My above point can be considered mooit after further investigation:

1. Bad quality metrics are never passed on, even the succeeding good quality metrics are dumped: https://github.com/influxdata/telegraf/issues/8871
2. I don't know how this works timing wise but the quality field might be overwritten depending the time resolution set? https://github.com/influxdata/telegraf/blob/17e86ab4ca97af454e

[2021-07-04 12:03] danberg13 commented on #9381
@sspaink Thank you for the explanation and the new config!
I tried it out and it works, the data comes through.

The tag solution works but is there a possibility to get the values of the data array a field values, too? I think it would be nice to have the arrays in the JSON as field values. I think the old JSON Parser did it automatically.  Thanks!

[2021-07-04 15:57] JeffAshton commented on #7795
Just learned that you have to set

[code]

In order to parse the tags.

[2021-07-05 07:46] veenaypatil opened #9467 "Issue with v1.19.0 - Telegraf failing to start"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf Version : 1.19.0
Operating System: Linux

### Steps to reproduce:

1. Starting Telegraf results in
[code]
2. Run `telegraf -test`
[code]

### Expected behavior:

Expected Telegraf to be in running state as there was no change in the configs

### Actual behavior:

It failed with the errors discussed above

### Additional info:

Workaro

[2021-07-05 08:45] alksinflux commented on #9382
Currently customers can use this https://github.com/influxdata/telegraf/issues/831

[2021-07-05 14:45] srebhan commented on #9467
Duplicate of #9441.

[2021-07-05 14:46] #9467 closed

[2021-07-05 23:32] SorryGames opened #9468 "<insecure_skip_verify> in [[output.http]]"
Good day!

Seems like *insecure_skip_verify* is not working for **output.http**. Any ideas?

[code]

[2021-07-06 06:43] srebhan commented on #9468
Fixed in master with PR #9413.

[2021-07-06 06:43] #9468 closed

[2021-07-06 09:21] lcgogo commented on #9452
Find the docker name option like --name xxx_yyy_xxx information doesn't send to timestream.

[2021-07-06 10:46] lcgogo commented on #9452
@zak-pawel Can you help to trouble shooting for my issue? Or it is caused by timestream data models?

[2021-07-06 11:26] M0rdecay opened #9469 "Procstat input incorrectly identifies PID of Windows service process when it stopped"
### Relevant telegraf.conf:

[code]

### System info:
Windows Server 2016
Telegraf version - 1.18.0

### Expected behavior:
When Windows service is stopped, field `running` in `procstat_lookup` measurement will be `0`

### Actual behavior:
Native PID finder misidentifies process:
[code]
Also, `sc query "some_service_name"` returns correct state - STOPPED

### Additional info:
The Telegraf service

[2021-07-06 13:22] SorryGames opened #9470 "some fields are collapsed in input.snmp_trap"
Good day!

I have the following Telegraf topology:
[code]

I have upgraded Telegraf agent within the version of 1.19.0. For the same SNMP and Telegraf configuration I have different SNMP trap messages.

For an old version of Telegraf (installed from apt repositories):
[code]

For a new version of [nightly-telegraf](https://dl.influxdata.com/telegraf/nightlies/telegraf_nightly_amd64.deb):
[code]

S

[2021-07-06 13:39] Hipska commented on #9470
Seems to be introduced by #9343, but I don't see why.

[2021-07-06 13:46] SorryGames commented on #9470
The reason [here](https://github.com/influxdata/telegraf/pull/9307) as I see.

[2021-07-06 14:10] Hipska commented on #9470
That PR wasn't merged into telegraf. It seems more like this is the reason:
https://github.com/influxdata/telegraf/blob/17e86ab4ca97af454e19d34d6d0e815c248e3a08/plugins/inputs/snmp_trap/snmp_trap.go#L408

@MyaLongmire would `node.RenderOID` be better to use?

[2021-07-06 16:48] sjwang90 commented on #2847
Does this issue still persist with `inputs.tail`? We have deprecated the [Logparser plugin in Telegraf 1.15](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/logparser#logparser-input-plugin) so any fixes for this would be made on the Tail plugin.

[2021-07-06 19:57] #9450 closed

[2021-07-06 21:17] jegj opened #9472 "Plugin inputs.postgresql has a breaking change on telegraf v1.19.0 when the host is a unix socket path"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf version: 1.19.0
OS: Ubuntu 20.04

### Steps to reproduce:

1. Install or upgrade to Telegraf 1.19.0
2. Restart the service

After this upgrade, I am getting an error message related to the socket connection. The previous configuration block works on Telegraf v1.18.3 or less

### Expected behavior:

Telegraf should work without problem

[2021-07-06 22:38] sspaink commented on #9408
@gracewehner could you perhaps help with this issue? Reaching out because you helped contribute the feature to support listing from cadvisor originally (#8762), and I don't have a good way to test this. It does seem the code is now missing the step to set the header properly like it did with the old library ([link to old way](https://github.com/ericchiang/k8s/blob/master/client.go#L320)), but it l

[2021-07-07 11:31] pmalek-sumo opened #9473 "Add working_directory or similar to procstat fields"
## Feature Request

Add working_directory or similar to procstat fields

### Proposal:

This should be fairly easy to add since it's already available in the underlying implementation of `gopsutil` that telegraf uses: https://github.com/shirou/gopsutil/blob/v3.21.3/process/process.go#L368-L371 via the

[code]

function.

I am willing to submit a PR if the idea gets accepted.

### Current behavior:

[2021-07-07 15:14] ssoroka opened #9474 "Support the new Influx Line Protocol Parser"
## Feature Request

@rogpeppe has written a new Influx Line Protocol Parser that is more semantically correct and significantly faster, supporting zero-allocation parsing. We should upgrade to it.

Updated parser can be found here https://pkg.go.dev/github.com/influxdata/line-protocol/v2/influxdata

### Proposal:

upgrade to the faster parser

### Current behavior:

Current parser does unnecessary

[2021-07-07 15:32] purifp commented on #4907
hi @psagrera , Did you solve this issue? I have something similar with OC ISIS sensor.

[2021-07-07 15:39] arindamchoudhury opened #9475 "input plugin rabbitmq json: cannot unmarshal"
Hi,

with telegraf v1.19.0, we are getting this error:

2021-07-07T15:19:42Z E! [inputs.rabbitmq] Error in plugin: json: cannot unmarshal object into Go value of type []rabbitmq.FederationLink
2021-07-07T15:19:42Z E! [inputs.rabbitmq] Error in plugin: json: cannot unmarshal number 0.051 into Go struct field Node.io_read_avg_time of type int64

works fine with 1.18.3

[2021-07-07 15:46] helenosheaa commented on #9475
Hi, thanks for opening the issue. I'm closing it as it's a duplicate of [#9383 ](https://github.com/influxdata/telegraf/issues/9383) which has been resolved.

 If you try the latest [nightly build](https://github.com/influxdata/telegraf#nightly-builds) it should be resolved and the fix should be included in the next bugfix release of Telegraf.

If you encounter problems with it please reopen the i

[2021-07-07 15:46] #9475 closed

[2021-07-07 17:20] hanej opened #9477 "Couchbase Node Specific Metrics"
## Feature Request

Collect metrics at the node level instead of the cluster level.

### Proposal:

Couchbase doesn't recommend collecting and using cluster wide metrics for monitoring as they are already aggregated by the cluster.  Instead, they recommend to monitor each node individually.  This is what their Prometheus exporter does.  See https://github.com/couchbaselabs/cbprometheus_python.

On

[2021-07-07 18:47] sjwang90 opened #9478 "Make breaking changes that require a major version update (2.0)"
Just because 2.0 isn’t required to be backward compatible doesn’t mean we can ignore usability for current users.  When we remove something people use we should replace it with a clear error so people know a change has been made and they need to adapt.

The errors should recommend a migration path or actively allow users push an update to their config.  For example, the udp_listener will be remove

[2021-07-07 19:09] #9362 closed

[2021-07-07 21:07] sspaink commented on #9381
@danberg13 I am not sure how you could get data array as field values without updating the JSON to include more information so you can use different tags. I don't think the old JSON parser can do it either, but I might be overlooking something. Do you have an example of using the old JSON parser that does what you want? Maybe I can use that to add the same functionality to json_v2. Because the pro

[2021-07-08 07:25] runningAgain opened #9480 "get logged on username as telegraf windows service"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
The agent can use some windows api to get the loggend on username from session 1 if there is a session 1. If there is no session then fallback to the normal behavior, but the username from the system account ist not really usefull.

### Current behavior:
On windows platform normally the agent is running in SYSTEM

[2021-07-08 08:17] ghost opened #9481 "Update json_v2 parser to get field values out of arrays"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf Version 1.19.0, Linux Ubuntu 20.04, InfluxDB 1.8 and Grafana 7.5.4

### Docker

[code]
### Steps to reproduce:

### Expected behavior:

Im testing the new json_v2 parser with InfluxDB and Grafana in a TIG-Stack configuration managed by docker. The old json parser gave me the array values as field values:

![old json parser](https://us

[2021-07-08 08:18] danberg13 commented on #9381
I created the new issue @sspaink. Thanks!

[2021-07-08 08:42] shenghaoyang opened #9482 "serializers/msgpack: Freeze MessagePack serialization behavior for int64s and uint64s"
## Feature Request

Maybe also a partial documentation bug 😅 ?

### Proposal:

Document that Telegraf's MessagePack output format will:
- always serialize unsigned integer field values (`uint64`s) using unsigned MessagePack integer formats.
- always serialize signed integer field values (`int64s`) using signed MessagePack integer formats.

Maintain documented behavior in future releases.

### Curr

[2021-07-08 10:00] runningAgain opened #9483 "inputs.exec plugin - option to ignore return code"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
For the exec input plugin there is an option to ignore the returncode from the executable (linux and windows)

### Current behavior:
Testet with windows agent, i use the exec plugin to execute the command "query user". These executable returns always an errorcode 1. But if i use this command native i'll get some d

[2021-07-08 10:54] shenghaoyang commented on #9482
Ah, sorry - it seems like that rule in `msgp` doesn't apply anymore (or I've likely misinterpreted it). In our tests we've seen `24i` being written out as a positive fixint.

Apologies for the noise - but this does mean that there's no way for downstream applications to recover the type of the original field value.

[2021-07-08 10:54] #9482 closed

[2021-07-08 13:35] lzwaan opened #9484 "Telegraf output plugin: kafka server: Disk error when trying to access log file on the disk."
### Issue:
One of our harddisk on kafka cluster failed, which caused very unstable pipeline:
Cisco Telemetry MDT ---> Telegraf ------> Kafka -------> ELK stack

Telegraf send duplicated messages (more then 3) even we had the following config max_retry = 3
The logfile in telegraf throws every +/- 10 secs messages (see example below)
The amount of data in Kibana was fluctuating.

The issue was solve

[2021-07-08 14:35] srebhan commented on #9482
As a workaround you can change the type of that field to uint64 in telegraf using e.g. the starlark processor.

[2021-07-08 15:29] #6691 closed

[2021-07-08 15:31] shenghaoyang commented on #9482
Ah, I see what you mean  - that would work but also cause the serializer to encode `-1` using 8 bytes instead of 1 =/, and we have to assume that every deserialized `uint64` with the MSB set was originally an `int64`, i.e. the MSB is now being used to encode type information.

Thanks for the idea, though! We might end up using it if there's nothing else we can easily do (after doing some checks on

[2021-07-08 20:39] #4593 closed

[2021-07-09 05:56] danberg13 commented on #7555
Hey, is there any fix for this on the horizon? I could open a new issue for this problem. Thanks for alle the work!

[2021-07-09 06:56] srebhan commented on #9482
@shenghaoyang well you are free in how you convert `int64` to `uint64` in e.g. starlark, so you can shuffle the bits around as you like. After you have your `uint64` value as you like, you either create a new field or override the field with the `uint64` datatype and value. This way the metric should show a `24u`. Assuming `msgpack` itself does a correct encoding, this should give you a msgpack en

[2021-07-09 16:15] pcjun97 commented on #9349
Facing the same issue. I believe the pod scraping in the prometheus inputs plugin is not functioning in Telegraf >= 1.18.3. It is not a bug in displaying the list of pods - it is unable to aggregate the list of pods in the first place. Might be related to #9408.

[2021-07-09 16:26] MyaLongmire commented on #9470
Looking at the functions available [here](https://pkg.go.dev/github.com/sleepinggenius2/gosmi) I am not seeing a `RenderOID()`. I also tried changing the code to n`ode.RenderOID()` and I get an error `node.RenderOID undefined (type gosmi.SmiNode has no field or method RenderOID)`

[2021-07-09 16:40] Hipska commented on #9470
@MyaLongmire I'm talking about this one: https://pkg.go.dev/github.com/sleepinggenius2/gosmi@v0.4.3/smi#RenderOID

[2021-07-09 18:13] prydin commented on #9102
vCenter 7.0 is supported. Just pushed a PR with an update to the README to reflect that.

[2021-07-09 20:21] sjwang90 commented on #7555
@danberg13 No need to open another issue, this one has been fine. We'll add this to our backlog to work on.

[2021-07-09 21:20] wz2b opened #9487 "Log handling for external plugins"
## Feature Request

This feature request is about improving the handling of log/debug/error/info messages from external plugins in Telegraf.

All of my external "plugins" use the [line protocol](https://github.com/influxdata/line-protocol) library to generate metrics.   This makes it really easy to debut things by running the plugin directly (outside of telegraf) and just watching stdout.  I gener

[2021-07-11 03:09] pabigot opened #9489 "rabbitmq plugin 1.19.1 api/federation-links failure"
### Relevant telegraf.conf:

[code]

### System info:

[code]
### Steps to reproduce:

Update from telegraph 1.19.0 to 1.19.1

### Expected behavior:

Removal of unmarshal errors due to incorporation of #9443

### Actual behavior:

While #9443 fixed part of the problem, https://github.com/influxdata/telegraf/issues/9383#issuecomment-869687723 notes that `/api/federation-links` in at least some ins

[2021-07-12 12:25] 784134748 opened #9490 "[inputs.processes] Unknown state "0" in file "/proc/1/stat""
![image](https://user-images.githubusercontent.com/16873072/125287040-0b832e00-e34f-11eb-91cd-f4edcdc1e2b8.png)

Docker：telegraf:1.19.1-alpine

[2021-07-12 12:27] 784134748 commented on #9490
![image](https://user-images.githubusercontent.com/16873072/125287505-9106de00-e34f-11eb-98e1-ffb2d137af6c.png)

[2021-07-12 14:25] AllieWu commented on #9455
Updated the Desired behavior section with specifics.

[2021-07-12 17:11] sjwang90 opened #9492 "Add InfluxDB Protobuf Data Protocol as data format output"
## Feature Request

Add **InfluxDB Protobuf Data Protocol** as a data format to output metrics in this new format

This protocol defines formatting and rules to write data to [InfluxDB/IOx](https://github.com/influxdata/influxdb_iox).
The protocol is optimized for efficient ingestion into IOx, and is also a good choice for transporting timeseries data generally.
It is not intended to replace [line

[2021-07-12 23:17] m4k5ym commented on #7420
Who cares right?

[2021-07-12 23:17] #7420 closed

[2021-07-13 08:03] levithanius opened #9494 "Pdns_recursor plugin fails collection with I/O timeout"
### Relevant telegraf.conf:
[code]

### System info:
OS: Debian 10 buster
Telegraf: 1.19.0-1
pdns-recursor: 4.5.2-1pdns.buster

### Steps to reproduce:

Everything has been set up according to the manuals, no data is been sent to the InfluxDB.

(Same procdure as stated here: https://community.influxdata.com/t/pdns-recursor-plugin-fails-collection-with-i-o-timeout/19759)

Trying ```sudo -u telegraf

[2021-07-13 08:04] srebhan commented on #9463
@cnkei we should guard this change with an user-configurable option (disabled by default) e.g. `output_port` and then add the port to the `source` tag as this is what other plugins do. We need the flag to be backward compatible and not break other peoples queries.

Do you want to submit a PR?

[2021-07-13 10:11] Levarix opened #9495 "Telegraf 1.19 lack of memory with couchbase plugin"
I've tested this, and now we have another huge problem. I applied a new version of telegraf in a production environment and telegraf processes consumes a lot of memory and don't purge it. Memory usage is still increasing until instance stopped work. It happens only with telegraf with couchbase plugin

![image](https://user-images.githubusercontent.com/34714430/125412400-2db49480-e3bf-11eb-8c4a-ccb

[2021-07-13 13:36] lzwaan commented on #9484
Are there any suggestions for this issue between telegraf and the kafka cluster?

[2021-07-13 21:21] perzizzle opened #9498 "Log the instance of win_perf_counters causing invalid data or negative value"
## Feature Request

Log instance name of a windows performance counter that is causing logs similar to:
will skip metric: A counter with a negative value was detected.
will skip metric: The returned data is not valid.

### Proposal:

### Current behavior:
2021-07-11T09:26:41Z W! [inputs.win_perf_counters] error while getting value for counter "\\.NET CLR Memory(*)\\Gen 0 Promoted Bytes/Sec", will

[2021-07-13 21:25] #9230 closed

[2021-07-13 21:58] #5932 closed

[2021-07-14 00:57] vsenapathy opened #9499 "ProcStat not getting all the process stats on Telegraf 1.19.1"
I am trying to get ProcStat data and I only get telegraf data, no other process data i am getting.

Conf file
# Global tags can be specified here in key="value" format.
[global_tags]

# Configuration for telegraf agent
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 100000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s

[2021-07-14 03:45] cnkei commented on #9463
Sure.

[2021-07-14 05:18] CarlosEssun opened #9500 "prometheus output metric_version=2 query result null"
### Relevant telegraf.conf:

[code]

### System info:

[code]

### Docker

### Steps to reproduce:

1. http post is submitted using application/x-protobuf; using the default metric_version configuration, the prefix of the original metric name is prefixed with prometheus_remote_write, followed by the original metric name, such as:
source:test_name{xxx:"xxxx"} ==>dest: prometheus_remote_write_test_n

[2021-07-14 05:56] ajoergensen opened #9502 "inputs.nsq_consumer fails after upgrading to 1.19.x"
We use nsq_consumer to move messages from nsq to Influx

This setup has been running for ages (at least three years) but broke after upgrading to Telegraf 1.19.1; downgrading to 1.18.3 fixes the issue.

### Relevant telegraf.conf:
[code]

### System info:

- Telegraf version: 1.19.1 (also tested on 1.19.0 and 1.20.0)
- OS: Ubuntu 16.04 (also tested on Ubuntu 18.04)

### Steps to reproduce:

[code]

[2021-07-14 06:19] imranismail commented on #9408
This fixes it https://github.com/influxdata/telegraf/pull/9497

[2021-07-14 06:20] imranismail commented on #9349
This is the fix https://github.com/influxdata/telegraf/pull/9497

[2021-07-14 08:16] srebhan commented on #9463
Cool! Thanks a bunch! Please add the flag as discussed and assign me to the PR. I'll try to review in a timely manner...

[2021-07-14 09:36] srebhan commented on #9502
@ajoergensen can you please test the [artifacts built by the CI bot](https://github.com/influxdata/telegraf/pull/9503#issuecomment-879714444) and let me know if this fixes your issue.

[2021-07-14 09:44] ajoergensen commented on #9502
Confirmed, connecting to nsqd works as expected using both a single server (nsqd parameter) and nsqlookupd.

[2021-07-14 10:05] zwl-sun commented on #9405
Please if I use the processor converter to change the quality from a field to a tag, then point with Good quality can be read and stored in InfluxDB. Point with Bad quality, not. Is that so?

[2021-07-14 11:35] srebhan commented on #9502
Thanks for checking!

[2021-07-14 11:40] srebhan commented on #9408
@wujianhanshu can you confirm that #9497 fixes the problem?

[2021-07-14 21:41] pabigot commented on #9489
It appears #6283 is based on an expectation that the [federation plugin](https://www.rabbitmq.com/federation.html) is enabled, although the module is opt-in (and not useful in a single-broker installation).  There seems to be no way to opt out of attempting to collect the data, or to indicate that absence of the plugin is not an error.

What's the right solution?  @jacquesh?

[2021-07-14 23:03] #3613 closed

[2021-07-14 23:15] sjwang90 commented on #4003
Closed in #8256

[2021-07-14 23:15] #4003 closed

[2021-07-15 02:02] wujianhanshu commented on #9408
he fixed the problem，it was excellent. @srebhan

[2021-07-15 02:02] #9408 closed

[2021-07-15 09:54] pabigot commented on #9489
This problem can be worked around as described in https://github.com/influxdata/telegraf/pull/9505#issuecomment-880451815

[2021-07-15 09:54] #9489 closed

[2021-07-15 12:33] Hipska opened #9506 "Add option to rename tag/field names based on regex"
## Feature Request

Add options to also rename the tag and field names instead of only just the values.
The regex processor seems to be ideal to add this functionality to.

### Proposal:

[code]

### Current behavior:

_Not implemented._

### Desired behavior:

[code]

### Use case:

SNMP traps are usually sent with indexed fields, so it is very difficult to process them later.

[2021-07-15 15:52] KEVISONG opened #9507 "inputs.redis password containing % keeps reporting error"
When the password field in configuration contains a % The process will keep reporting plugin error on every gather.

[code]

[2021-07-15 16:00] sjwang90 commented on #9481
@danberg13 can you share a sample of your json you're querying?

[2021-07-15 16:06] danberg13 commented on #9481
yeah of course:

[code]

[2021-07-15 16:11] #7187 closed

[2021-07-15 16:32] andrewbierbaum commented on #7930
@mjiderhamn

Were you able to make progress on sharing you input plugin? We are running into the same interest in exporting azure data.

Thanks

[2021-07-15 17:18] codyshepherd commented on #9294
This issue should be able to be closed now.

[2021-07-15 19:31] pavannayakanti opened #9510 "How to use outputs.sql plugin for postgres database"
Hello,

Am trying to push json data returning by an API to a postgres database using outputs.sql plugin.
However, i think am not understanding the right way to push the data to database.
As of now, my telegraf command ends up like this.
[code]
 Please advise.

here is the telegraf.conf file ...
[code]

[2021-07-15 22:46] sjwang90 commented on #9481
@danberg13 I'm getting this as my output (reading in the sample JSON from a file)

[code]

[2021-07-16 10:49] KenStlqptq opened #9511 "Incorrect data aggregation"
### Relevant telegraf.conf:

[code]

### System info:
telegraf 1.19.1    MacOS

As you can see the only plugin I use is [[aggregators.basicstats]]. It consumes all incoming data, summarizes their values and writes all data to InfluxDb. But total sum of aggregated data is much less than total sum of non-aggregated values. And I can't understand why does it hapen?

[2021-07-16 13:01] juliansteenbakker commented on #5359
Looks good! however when implementing i get the following error:
[code]

Any idea what this can be?

[2021-07-16 15:41] srebhan commented on #9510
I think you completely mixed up `driver` and `data_source_name`. If you are using Postgres, you need to set `driver = "pgx"` as the comment above the option says. Furthermore, `data_source_name` is a [Data source name (DSN)](https://en.wikipedia.org/wiki/Data_source_name) add can have the form `postgres://username:password@localhost:5432/database_name` for this driver. So you should start your sql

[2021-07-16 15:45] srebhan commented on #9511
Using `period = "2s"` tells the aggregator to output the aggregation result after every 2 seconds. That means, the aggregator will sum-up the data it receives in 2 seconds and output the result (subsequently sent to your InfluxDB output). Then it will reset the sum and start over for the next 2 seconds.
If now your input takes more than 2 seconds to arrive, you will only see a partial sum at the o

[2021-07-16 17:37] pavannayakanti commented on #9510
Thanks for correcting me @srebhan.
I have corrected the config file and here is the outcome...
`[root@h0011939 ~]# telegraf --config /home/naypavk/src/telegraf/pullrequests.conf --test
2021-07-16T17:33:53Z I! Starting Telegraf 1.19.1
2021-07-16T17:33:53Z E! [telegraf] Error running agent: Error loading config file /home/naypavk/src/telegraf/pullrequests.conf: plugin inputs.http: line 100: configur

[2021-07-18 17:26] tesibelda opened #9514 "outputs.influxdb not buffering points on telegraf 1.19.1"
With telegraf 1.19.1, internal_write reports values of buffer_size for outputs.influxdb that are smaller than metric_batch_size even when the influxdb instance is down and more points have been generated. Here is a configuration for comparison also with http output which buffers points correctly (as with previous versions).

### Relevant telegraf.conf:
[code]

### System info:
Linux on AMD64 with

[2021-07-18 17:28] tesibelda commented on #9514
Maybe related with #9296

[2021-07-19 02:14] lihtian285 opened #9515 "Filtering datastore by esxi host cluster"
## Feature Request
I am trying to display datastore by cluster on Grafana. I am trying to explore the metrics being collected by this plugin and cannot find cluster information in datastore measurements.

Opening a feature request kicks off a discussion.

### Proposal:

### Current behavior:
vSphere plugin has no cluster information in Datastore metrics. It couldn't filter datastore by cluster.

#

[2021-07-19 03:06] KenStlqptq commented on #9511
My test lasted more than 2 minutes. I will calculate the sum of the data in InfluxDB, the sum of "myfield_sum" will be less than the sum of "myfield"

[2021-07-19 03:24] KenStlqptq commented on #9511
The frequency of writing to telegraf is every 10ms，writing time more than 2 minutes

[2021-07-19 06:52] louishot opened #9516 "Does ping support distributed Ping the target website from multiple locations"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:Ping the target website from multiple locations

### Current behavior:

### Desired behavior:

### Use case:

[2021-07-19 09:38] milgner opened #9517 "sql input does not handle bool values correctly"
### Relevant telegraf.conf:

[code]

### System info:

- Telegraf 1.19.0 (git: tag-1.19.0 tag-1.19.0)
- MS SQL Server

### Docker

Don't have a full environment with a database at hand. The SQL server docker image is `mcr.microsoft.com/mssql/server:2019-latest@sha256:51965e4e4c17e6fef087550190c2920c7ef91bd449d0eec06a5484b92c437767`.

### Steps to reproduce:

1. Use a `sql` input with `float_column

[2021-07-19 10:01] lcgogo commented on #9452
@shatil Can you help to trouble shooting for my issue? Or it is caused by timestream data models?

[2021-07-19 12:59] pierfu commented on #9472
Hi,
same annoying issue here since upgrade from 1.18.3 to 1.19.0, no more graphs fro PG but telegraf service runs.

Log shows suspicious doubled unix path and "not a directory" :
`2021-07-19T12:37:00Z E! [inputs.postgresql] Error in plugin: failed to connect to `host=/run/postgresql/.s.PGSQL.5432 user=telegraf database=`: dial error (dial unix /run/postgresql/.s.PGSQL.5432/.s.PGSQL.5432: connect:

[2021-07-19 13:30] jegj commented on #9472
@pierfu thanks a lot for your solution! I was thinking of something similar to fix the issue but  I was hoping not to change the config files ...perhaps this issue will be addressed on a future release

[2021-07-19 14:53] #9441 closed

[2021-07-19 18:21] sjwang90 commented on #9294
Thank Cody!! @popey Can you confirm this is fixed?

[2021-07-19 18:21] #9294 closed

[2021-07-19 21:21] sjwang90 opened #9521 "Do not change permissions on upgrade for RPM"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Request for RPM to be modified to not change permissions on upgrade.

### Current behavior:
When upgrading Telegraf via RedHat RPMs, it changes the permissions on the Telegraf directories off of `/etc` which then flags a security issue.

### Desired behavior:
When upgrade Telegraf, permissions for telegraf.d remai

[2021-07-19 21:22] sjwang90 commented on #9521
Notes about how implementation of changes would affect all platform builds not just rpm:

[2021-07-19 21:47] vsenapathy commented on #9499
Hello,

Can someone help me out with this

Thanks,

vignesh

[2021-07-20 03:23] #7555 closed

[2021-07-20 09:44] asf-dp commented on #8487
Maybe this is not a bug.

When defining multiple processor plugins that match the same field they will be all be applied to the metric in question. The order in which the processor plugins get applied probably depends on the order the config files get read by telegraf. Is this correct?

If telegraf behaves like this it could explain why it appears like the actual values get overwritten by default

[2021-07-20 11:03] thoernle commented on #9407
So what is the solution to this problem? Just change the access rights for the telegraf path?

[2021-07-20 11:25] visued commented on #8890
+1

[2021-07-20 14:41] drfickle commented on #9407
@thoernle for myself and others it seems the writing of the cache is not preventing startup. I changed

`percentiles = [90]` to `percentiles = [90.0]` and telegraf started.

[2021-07-20 15:29] hluaces opened #9522 "inputs.tail: add an "use_sudo" parameter"
## Feature Request

### Proposal:

Add a `use_sudo` parameter to the `tail` input plugin.

### Current behavior:

The input does not have this option, so there's no builtin solution to work around permissions issues.

### Desired behavior:

Make telegraf prepend `sudo` to the command used by the input ( `tail -F --line=0`, according to the documentation) whenever the option `use_sudo` is `true`.

[2021-07-20 17:00] sjwang90 commented on #8815
@nicolas17 Can you provide an example of the log JSON data you'd like to read in?

[2021-07-20 17:21] nicolas17 commented on #8815
What? This isn't my ticket, I think you @'d the wrong username.

[2021-07-20 18:36] sjwang90 commented on #8815
Oops! Sorry @nicolas17 - typed too fast

[2021-07-20 18:52] R290 commented on #8871
In commit https://github.com/R290/telegraf/commit/c931908d99abc8ed522295877123e02fbd0eb95a I've added the standard telegraf logger and replaced the return error by a `Log.Errorf`. I also expanded the tester to show the behavior that I wanted to change. The node `badnode` now prints an error, wheras the node `goodnode` is processed normally.

I can open a pull request if this is an acceptable solut

[2021-07-20 19:23] R290 opened #9523 "[inputs.opcua] Regression between 1.18.3 and 1.19.1"
### Relevant telegraf.conf:

[code]

### System info:

- Telegraf version `1.18.3` and `1.19.1` in a docker container
- Siemens OPC UA server on a PLC

### Steps to reproduce:

1. Start both the `1.18.3` and `1.19.1` telegraf container with the same agent and input configuration
2. Wait about an hour
3. A timeout occurs

### Expected behavior:

Succesful recovery in the next collection interval. V

[2021-07-20 20:31] #8540 closed

[2021-07-20 22:01] akrantz01 commented on #9507
I wasn't able to reproduce this on Telegraf 1.19.1 or 1.18.3. What version are you using and what does your `telegraf.conf` look like?

<br>
<p>Here's the files I was testing with:</p>
<details><summary><code>docker-compose.yml</code></summary>

[code]
</details>

<details><summary><code>telegraf.conf</code></summary>

[code]
</details>

<details><summary><code>redis.conf</code></summary>

[code]

[2021-07-21 08:39] srebhan commented on #8890
Hey guys, it seems like the error you are getting comes from the underlying library. Not sure why the collection times jitter so much, but there is very little we can do from the telegraf side...

[2021-07-21 13:44] helenosheaa commented on #9349
closed by #9497

[2021-07-21 13:44] #9349 closed

[2021-07-21 14:00] srebhan commented on #9523
@R290 can you please check if PR #9524 fixes your problem?

[2021-07-21 15:32] popey commented on #9516
Great idea. Sadly the ping plugin we currently have doesn't have this capability. Unless of course you run telegraf in multiple locations, and ping from different networks, from telegraf. If there's a service which can do this, and has an API, perhaps a telegraf plugin could be created to leverage that. Might be worth discussing on the [forums](https://community.influxdata.com/tag/telegraf).

[2021-07-21 15:33] srebhan commented on #9511
Hmmm, can you provide some sample data so I can reproduce the problem locally? Like a dump of the data that should be summed in influx-line-protocol format in a file...

[2021-07-21 15:38] srebhan commented on #9510
@pavannayakanti you still have the section (`# [[outputs.sql]]`) commented... This way TOML fails as it cannot assign `driver` to any section...

[2021-07-21 15:53] #9516 closed

[2021-07-21 16:06] MyaLongmire commented on #9514
I ran your exact same config without localhost:8086 running and get a connection refused error.
[code]

 When I start up localhost:8086 I get metrics_written=0i every time. Here is my output:
[code]
Can you clarify what you mean by, "No processes are listening on localhost:8086"?

[2021-07-21 16:34] pavannayakanti commented on #9510
Yes @srebhan , i realized it and corrected.
Now the script doesn't throws any error, but i don't get to see any changes happening in the database end. no db or table gets created. not sure, what am missing here now. any advise?

[2021-07-21 18:31] d-mankowski-samsung commented on #9494
The only problem is with the documentation, the plugin itself is fine (I had the same problem as you, but I got it working with Telegraf 19.1 and PDNS Recursor 4.4.3).

Telegraf config:

[code]

[2021-07-21 18:35] d-mankowski-samsung commented on #9494
The only problem is with the documentation, the plugin itself is fine (I had the same problem as you, but I got it working with Telegraf 19.1 and PDNS Recursor 4.4.3).

Telegraf config:
[code]

Recursor's config: `socket-mode = 660`

`telegraf` is added to `pdns-recursor` group:

[code]

`telegraf-pdns-recursor` folder:

[code]

[2021-07-21 18:42] tesibelda commented on #9514
The idea of this configuration is to test the buffering mechanism of outputs.influxdb with telegraf 1.19.1 compared with 1.18.3 and also with outputs.http. In order to do that the test is done with no influxdb is listening in localhost:8086 nor endpoint listening 127.0.0.1:8080, we just run telegraf and the OS at the test machine. As a lot of metrics are collected, they should be entering to the b

[2021-07-21 23:16] wzamlynny opened #9525 "vSphere - Not receiving metric for each host to aggregate total memory"
## Problem
I am looking for a way to deterministically get the total memory in a vSphere cluster by aggregating host metrics. The number of hosts in the cluster may change and cannot be assumed.

This is to work around the [cluster limits for a vCenter with large number of VMs](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/vsphere#cluster-metrics-and-the-max_query_metrics-setti

[2021-07-22 00:27] morgan9220 opened #9528 "[vSphere] metrics missing in influxdb"
21-07-21T23:39:04Z I! Starting Telegraf 1.19.1
21-07-21T23:39:04Z I! Loaded inputs: vsphere (3x)
21-07-21T23:39:04Z I! Loaded aggregators:
21-07-21T23:39:04Z I! Loaded processors:
21-07-21T23:39:04Z I! Loaded outputs: influxdb
21-07-21T23:39:04Z I! Tags enabled: host=Trunks-Dashboard
21-07-21T23:39:04Z I! [agent] Config: Interval:10s, Quiet:false, Hostname:"Trunks-Dashboard", Flush Inte>
21-07-21T

[2021-07-22 03:48] KenStlqptq commented on #9511
My test script(node.js):
[code]
Dump data from telegraf:
[code]
summed data from influxdb
[code]

[2021-07-22 05:40] lchunleo commented on #4252
Hi

 i have quite a similar use where i actually store data in my mongodb. But i would like to use Telegraf to get the custom data out and put into influxdata to visualize and do time series related analysis.. Is this possible? thanks

[2021-07-22 07:34] srebhan commented on #9528
@morgan9220 the title of your issue is not very informative, please choose some speaking text next time.

This being said, the `--test` option will *only* output data to the console. From the help (`telegraf --help`):
[code]
So if you want to collect your metrics once and push it through your whole telegraf pipeline you should use `--once`.

[2021-07-22 07:37] levithanius commented on #9494
I'm still getting the i/o timeout.

The only thing I was missing from your Telegraf config was
`interval = "1m"`
Using this made no difference, the error just appears a bit later.

We are using the pdns user instead of a dedicated pdns-recursor user:
[code]

The folder permissions are also the same:
[code]

In the past this exact configuration was working. The problem exists since updating pdns-re

[2021-07-22 07:38] simonwhybrow opened #9530 "SQLServer Plugin: Throwing Errors when HADR DB Not Readable"
### Relevant telegraf.conf:
[code]

### System info:
All Windows versions
Telegraf version 1.18.0

### Steps to reproduce:
Setup the sqlserver input plugin to collect data against a SQL Server instance that is hosting secondary databases in an AlwaysOn Availability group. These databases aren't configured for read-only access.

No queries are excluded from the sqlserver input plugin.

### Expected

[2021-07-22 07:48] srebhan commented on #9530
@masree do you have any comment on this?

[2021-07-22 07:53] srebhan commented on #9510
@pavannayakanti did that fix your issue? If so, please close it here.

[2021-07-22 07:53] arjunkchr opened #9531 ""Metric buffer overflow" with telegraf 1.19.1, not on version 1.17.0."
Recently, we upgraded telegraf version from 1.17.0 and 1.19.1 and increased the buffer limit for telegraf.

Telegraf has wavefront output plugin configured.

On v1.17.0, we do not see "Metric buffer overflow" and the metrics are reported to wavefront correctly.

On v1.19.1, the metrics is not showing up in Wavefront correctly and we continue to see "Metric buffer overflow" being reported by telegr

[2021-07-22 08:21] AkatsukiPain opened #9532 "Get query history in mysql"
## Feature Request

It's really good if telegraf can push the query history to influx to show something like below images:

This feature is from the Percona Monitoring Management:

![image](https://user-images.githubusercontent.com/14358073/126609249-9e03b181-e938-42f9-a542-9cb536350dde.png)

This is some data that I could collect:

![image](https://user-images.githubusercontent.com/14358073/12660

[2021-07-22 12:38] dthpulse opened #9533 "use absolute path to sensors command in sensors plugin"
Hello

telegraf user may have not access to env. variable $PATH on all systems.

It would be really more efficient to use absolute path to `sensors` command instead by just calling the command itself and relay on env. variable $PATH

Then there wouldn't be needed to use this slice of code:

[code]

and code will get more professional look.

thx!

[2021-07-22 15:17] MyaLongmire commented on #9514
Please try [pr #9526](https://github.com/influxdata/telegraf/pull/9526) and see if it fixes your problem.

[2021-07-22 18:26] corklu opened #9535 "kube_inventory unable to parse certain K8s fields"
### Relevant telegraf.conf:

[code]

### System info:
Kubernetes v1.18.14
helm.sh/chart: telegraf-1.8.4
image: telegraf:1.19.1

### Steps to reproduce:

1. helm upgrade --install my-release influxdata/telegraf (https://artifacthub.io/packages/helm/influxdata/telegraf)
2. Modify the telegraf deployment to include resource requests and limits
[code]
3. Deploy the above telegraf configuration with th

[2021-07-22 20:08] sjwang90 commented on #9031
@mooyoul Can you provide an example of the JSON from Kinesis?

Is this also how you think it should be solved in the new [json_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2)? This parser is where we would implement the changes.

[2021-07-22 20:15] sjwang90 commented on #2252
Has anyone here tried round-tripping with the new [json_v2 parser](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2)?

[2021-07-22 20:48] R290 commented on #9523
Yes the problem is fixed, it has run for 24 hours without the need for a restart. Thank you for the quick PR. Now there is there remaining question of what is actually causing the timeouts, but that is not within the scope of this issue.

[2021-07-22 20:50] #5795 closed

[2021-07-22 20:50] #7706 closed

[2021-07-22 23:21] morgan9220 commented on #9528
@srebhan Sorry for not providing enough info. Problem I'm having is not getting any info from telegraf into influx, telegraf keeps stopping the plugin.

usr/bin/telegraf --config /etc/telegraf/telegraf.conf --config-directory /etc/telegraf/telegraf.d --once
2021-07-22T23:12:33Z I! Starting Telegraf 1.19.1
2021-07-22T23:12:33Z I! [inputs.vsphere] Starting plugin
2021-07-22T23:12:33Z I! [inputs.vsph

[2021-07-23 00:44] #9310 closed

[2021-07-23 08:50] srebhan commented on #9531
Can you please post the exact error message on v1.19.1. Furthermore, does your setup work with v1.18.3?

[2021-07-23 08:59] srebhan commented on #9528
@morgan9220 ok I changed the issue title myself. ;-)

Regarding your problem: The `--test` run shows that telegraf _collects_ the data correctly from the input side (you see the collected metrics). Do you agree? So the issue has to be on the output part... Do you see any error message? Can you post the influx configuration? Does the problem only happen with the `vSphere` plugin?

2021-07-22T23:12:

[2021-07-23 09:28] arjunkchr commented on #9531
We get messages like these "Metric buffer overflow; 2584 metrics have been dropped".

We tried increasing the buffer limit to 20000 and even that didn't help. The batch size is currently set to 1000 and the interval is set to 10 seconds.

Do you recommend upgrading to v1.18.3 to see if that helps? Haven't tried with v1.18.3 yet.

[2021-07-23 10:21] srebhan commented on #9531
Those things usually only happen if an output cannot flush the metrics to the sink. Do you see any output errors in the logs? What outputs did you configure?

Let's first see if we can track down the problem with v1.19 and if nothing helps we try v1.18 as a last resort. ;-)

[2021-07-23 13:10] srebhan commented on #9495
@Levarix can you please test #9536 and let me know if it helps? You can use the [artifacts built by the CI bot](https://github.com/influxdata/telegraf/pull/9536#issuecomment-885601169) (click the small black triangle).

[2021-07-23 14:22] tomklapka opened #9537 "kube_inventory: invalid memory address or nil pointer dereference"
### Relevant telegraf.conf:

[code]

### System info:

bare-metal ARM64 K8s Cluster v1.19.0, Ubuntu 20.04.1 LTS, Kernel: 5.4.0-1022-raspi, docker://19.3.13
Telegraf 1.19.0, Telegraf 1.19.1

### Actual behavior:

[code]

### Additional info:

[2021-07-23 19:48] corklu commented on #9537
I see this behavior too, but instead of endpoints, it's persistentclaimvolumes that throw the errors.

[2021-07-24 03:16] morgan9220 commented on #9528
Sorry for taking so long to reply, and I really appreciate your assistance.

# Configuration for sending metrics to InfluxDB

[[outputs.influxdb]]

    urls = ["http://1.1.1.1:8086"]

    database = "vmWareStats"

    timeout = "0s"

    username = "influxuser"

    password = "influxuserpassword"

	# Read metrics from VMware vCenter

 [[inputs.vsphere]]

 ## List of vCenter URLs to be monitored.

[2021-07-24 14:23] tesibelda commented on #9514
[pr #9526](https://github.com/influxdata/telegraf/pull/9526) artifacts behave as expected.
The test result was:
`internal_write,host=xxxx,output=influxdb,...,version=unknown ...,buffer_size=24865i,..,metrics_written=0i`
Thanks

[2021-07-24 21:50] midzelis commented on #6316
I wrote this for myself, but then i found this comment, so I put it up on github/dockerhub -- maybe others will find it useful?

https://github.com/midzelis/nut-ups-logger

This will connect to NUT remotely, list all the UPS, and then send ALL the variables over a remote server. This can be telegraf running with the HTTP Listener plugin.

By default, I send all the variables I find. If there is so

[2021-07-26 11:20] 139446702556 opened #9539 "Telegraf supports ActivemQ Artemis"
Telegraf supports ActivemQ Artemis？

[2021-07-26 22:24] prvattem opened #9543 "GNMI Plugin: Handling of "int64", "uint64", or "decimal64" attributes encoded in TypedValue_JsonIetfVal"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.19/master

### Docker

### Steps to reproduce:

In the telegraf.conf
1. Encoding type json_ietf
2. Input Plugin: gnmi  Output Plugin: influxDb

### Expected behavior:

Expected to see jsonparser.JSONFlattener decoding the int64 or decimal64 attributes to native scalar Go types

### Actual behavior:

int64 or decimal64 values encoded

[2021-07-27 00:32] masree commented on #9530
@denzilribeiro / @[dimitri](https://github.com/dimitri-furman) : SQLServerRequests queries are throwing errors only for SQL Server instance that is hosting secondary databases in an AlwaysOn Availability group. And these databases aren't configured for read-only access. DMV queried for SQLServerRequests namespace are dm_exec_requests  and dm_exec_sessions. Is the above error expected or do we need

[2021-07-27 08:46] srebhan commented on #9495
@Levarix can you please test the fix of @akrantz01 in #9544? The CI artifacts can be found [here](https://github.com/influxdata/telegraf/pull/9544#issuecomment-887089046).

[2021-07-27 09:58] srebhan commented on #9528
@morgan9220 next time, please attach the config as a file. Just pasting without using a pre-formatted section makes it really hard to read.

So from your `influx` query I see many `vsphere_*` measurements, so to me it seems like you are getting data into the database. What issue do you experience exactly? Your initial post made me believe you don't receive data on the database side...

[2021-07-27 10:11] johnatannvmd commented on #8997
@ssoroka Hello, any news on this?

[2021-07-27 10:23] srebhan commented on #9511
@KenStlqptq take a look at the Telegraf output. You will see three "summation" outputs, containing `success_count` fields etc. (see bottom of the comment). If you now sum those groups you will get _exactly_ the results that Telegraf outputs.
So your Telegraf instance receives the data in the chunks (the groups), one chunk per aggregation window (2 seconds in your case IIRC). Telegraf will (as desc

[2021-07-27 14:28] sumptersmartt opened #9545 "inputs.vsphere questions and best practices for large deployments"
I'm running the vsphere plugin against 2 different vcenter environments in 2 separate telegraf service installs in a windows server VM. Both installs have 2 different plugins configured as "realtime" and "historical". One vsphere deployment is fairly large.

When I set `debug = true` I see some unexpected log entries and I'm not sure if this behavior is normal, expected, or a bug. Does the plugin

[2021-07-27 17:26] akrantz01 commented on #9537
@tomklapka Please update to 1.19.1; it should be fixed there.

[2021-07-27 17:38] sirainen opened #9547 "Support for OpenMetrics standard"
## Feature Request

Telegraf supports Prometheus format, which was used as the basis for the OpenMetrics standard. However, there are some differences. Most importantly from my point of view, Dovecot v2.3.14+ uses the "info" type, which Telegraf treats as invalid. It would be nice if Telegraf would add support for this to make it more OpenMetrics standard compliant. (This can't be fixed on Dovecot

[2021-07-27 17:52] sumptersmartt commented on #8166
Sure thing. There may be a more efficient way to do this, but this works fine for me!

[code]

[2021-07-27 18:20] espenfl opened #9548 "Consider to add support for chassis data for ipmi_sensor"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

Add support for also extracting info from `chassis status` for `ipmi_sensor`.

### Current behavior:

Not supported.

### Desired behavior:

Supported.

### Use case:

To get e.g. power state, failures etc. Also, `selftest` status can also be queried for additional details.

[2021-07-27 18:39] akrantz01 commented on #9537
@corklu could you test #9549, it should fix your issue. The built artifacts can be found [here](https://github.com/influxdata/telegraf/pull/9549#issuecomment-887742603).

[2021-07-27 19:35] sspaink commented on #2320
Closing in favor of #9478

[2021-07-27 19:35] #2320 closed

[2021-07-27 21:14] #9377 closed

[2021-07-27 21:17] #8640 closed

[2021-07-27 21:31] #9321 closed

[2021-07-27 21:32] #9517 closed

[2021-07-27 21:39] #9502 closed

[2021-07-27 22:35] jnangle opened #9551 "Please merge latest gopcua library"
### Relevant telegraf.conf:

[code]

### System info:

I'm currently using Telefraf 1.20.0-6f2553d6 for Windows (amd64), running on Windows 10.  I am attempting to connect to a Red Lion DA50 running a Crimson v3.1 OPC UA server.

Telegraf will connect to a Kepware v6.10 and a ProSys OPC UA simulation server.  It will not connect to the Red Lion.  However, I am able to connect to the Red Lion using

[2021-07-27 22:58] morgan9220 commented on #9528
Sorry for making it difficult to read.

When I try to look in grafana to build any dashboards no info show up for esxi, it test successfully to influx.

Jul 27 18:43:55 Trunks-Dashboard systemd[1]: Started The plugin-driven server agent for reporting metrics into InfluxDB.
Jul 27 18:43:55 Trunks-Dashboard telegraf[18699]: time="2021-07-27T18:43:55-04:00" level=error msg="failed to create cache dir

[2021-07-28 08:26] srebhan commented on #9528
Why is telegraf started and stopped so often? Maybe it could not collect the metrics in the meantime?

[2021-07-28 13:02] DarrenMendalka commented on #9034
@sjwang90 Hello,  I am curious where this stands.  Looks like it says this is to be done by Bonito, just not sure who this is?  I have a call with Customer tomorrow and they are just looking for update.   Thanks for this.

Teckniker: influxdata/telegraf#9034 - to be done by Bonitoo

[2021-07-28 15:54] sjwang90 commented on #9034
@ivankudibal Can you provide an update?

[2021-07-28 17:06] AnastasiosDados commented on #8547
Any update on that?

[2021-07-28 20:55] #9514 closed

[2021-07-28 21:01] R290 commented on #8890
I'm also facing this issue with an OPC server on a Siemens PLC. The `0x800A0000` error resurfaces once every hour, which makes it a bit hard to debug. I did play around with the `request_timeout` setting, but the error occurance is exactly the same with 5 s and 500 ms. I agree with srebhan that this issue is related to the https://github.com/gopcua/opcua library. In the coming time I hope to be ab

[2021-07-28 23:03] morgan9220 commented on #9528
Not sure why it stopped, but after running since then:
Jul 28 18:55:15 Trunks-Dashboard telegraf[18762]: 2021-07-28T22:55:15Z E! [outputs.influxdb] E! [outputs.influxdb] Failed to write metric (will be dropped: 400 Bad Request): partial write: points beyond retentiuxdb] Failed to write metric (will be dropped: 400 Bad Request): partial write: points beyond retention policy dropped=2

[2021-07-28 23:28] sjwang90 commented on #9537
Closed in #9549

[2021-07-28 23:28] #9537 closed

[2021-07-29 06:35] TonyXiaoCui opened #9555 "MongoDB Input Plugin unexcepted output"
mongo v3.2.10
telegraf 1.19

I choose telegraf+prom+grafana to build my montior
I want to collect topstats of collections
when I check top_stat I found unexcepted output
1、one collection with node_type="PRI" but hostname was cfgsrv ip ,not the primary ip
2、cfgsrv has three rs ,so the output also become three
however my telegraf config do not include cfgsrv ips

I learn that the data is from {top:1

[2021-07-29 07:12] tomklapka commented on #9537
Same issue persists in 1.19.1 as I wrote in description.

[2021-07-29 07:19] JonnyTischbein opened #9556 "Build: Reduce Binary Size by excluding Plugins"
Hi,
I'm trying to build small telegraf binary versions for using them on embeded systems like routers with only less memory.

Because I didn't found a way in the [Makefile](https://github.com/influxdata/telegraf/blob/master/Makefile) to exclude plugins, I uncomment them in `plugins/{input,output}/all/all.go`.
I managed to reduce size to 75MB.
Than I started to look at `plugins/processors/all/all.g

[2021-07-29 10:36] chunleiz commented on #9451
it could be achieved through configuration

[[inputs.kube_inventory]]
  fieldpass = ["capacity_cpu_cores"]
[[inputs.kubernetes]]
  fieldpass = ["cpu_usage_core_nanoseconds "]
[[processors.rename]]
  [[processors.rename.replace]]
    measurement = "kube_inventory"
    dest = "kubernetes_node"
  [[processors.rename.replace]]
    measurement = "kubernetes"
    dest = "kubernetes_node"

[2021-07-29 15:35] akrantz01 commented on #9537
Could you send the error you get on 1.19.1?

[2021-07-29 16:00] ihard opened #9557 "Add support change metric name in plugins/processors/regex"
Please add the ability to change the name of the metric using the plugins/processors/regex.
Perhaps this is implemented in some other way (plugin), but could not be found.
Case - mass renaming of incoming metrics using regular expressions.

[2021-07-29 17:47] cotwild commented on #9407
I am facing absolutely the same after update to 1.1.9. Two telegraf instances, the above error message, but nothing is going into the influxdb anymore.

[2021-07-29 18:50] akrantz01 commented on #7554
This appears to have been fixed after one of the updates to the Consul library as I cannot reproduce it in 1.19.

[2021-07-29 18:50] #7554 closed

[2021-07-29 19:30] sspaink commented on #9556
As you noticed, there isn't a way to build Telegraf with a subset of plugins with the makefile at the moment. I do think this would be a good feature to have so I've added the `feature request` label to this issue to research how we'd want to do this.

Commenting out the plugins as you did in the `all.go` files seems like a good approach in the meantime. Be sure to build without the debug symbols

[2021-07-29 20:46] sjwang90 commented on #9451
Thanks @chunleiz - is adding a processor sufficient for you? If it is we'll just have this as an item to add to plugin READMEs.

[2021-07-29 21:01] 12nick12 opened #9558 "Telegraf https config check-in"
Hi, I wasn't unable to find any info on this, but if I point 'telegraf --config https://url-to-config' does it ever re-check-in or do I need to manually bounce the service? I'm on the newest version of Telegraf. Thanks for the awesome product.

[2021-07-29 21:51] sergiodj opened #9559 "hashicorp/consul CVE-2021-32574"
Security scanning revealed that telegraf *may* be affected by https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-32574.  This CVE affects HashiCorp Consul and Consul Enterprise 1.3.0 through 1.10.0; telegraf uses:

[code]

I'm not entirely sure whether the CVE affects the `api` component as well, but I thought I'd report the bug anyway.  According to the CVE note, it has been fixed in `hashic

[2021-07-30 06:25] lukhas commented on #9555
Same kind of new unexpected behavior here on 1.19.2, while running on a delayed secondary, I get `node_type=PRI`, presumably reporting the status of the PRIMARY member of the cluster:

[code]

Excerpt from rs.config():
[code]

And yet, telegraf sends:
[code]

[2021-07-30 07:28] JonnyTischbein commented on #9556
Thanks for your reply! I managed to further reduce the size to 34M and 16M without any plugins. It is still too much but I guess there is nothing else I can do now.

[2021-07-30 08:07] srebhan commented on #9506
Related to #5159.

[2021-07-30 08:07] srebhan commented on #9557
Related to #5159.

[2021-07-30 08:09] srebhan commented on #9154
@mirkocomparetti-synesis can you please test with PR #9524. Not sure if it helps, but it fixes reconnect. Otherwise, what is the error message you are getting?

[2021-07-30 09:31] srebhan commented on #9559
Should we update to v1.8.1 or rather to v1.9.1 directly? @reimda what do you think?

[2021-07-30 10:01] srebhan commented on #9551
@jnangle can you please give #9560 a try? You might want to use the [artifacts built by CI](https://github.com/influxdata/telegraf/pull/9560#issuecomment-889768774) (just click the small black triangle)...

[2021-07-30 10:47] thoernle commented on #2616
Are there any updates on this?

[2021-07-30 10:51] tomtastic commented on #2616
Richards' `zpool_influxdb` tool is available in the `zfs-2.1.0` release.

[2021-07-30 10:54] thoernle commented on #2616
Yes, and I am really looking forward to this but since this is not implemented in telegraf we have to upgrade our whole system to accomplish that.

[2021-07-30 10:56] tomtastic commented on #2616
You simply use it with telegraf like this :
[code]

[2021-07-30 11:00] tomtastic commented on #2616
You will still need to muck about with value mappings for the 'health' of a pool like @rwarren example years earlier in this thread.

[2021-07-30 13:11] 12nick12 commented on #9558
If I look at the systemd unit looks 'ExecReload=/bin/kill -HUP $MAINPID' should do the reload. Thanks.

[2021-07-30 13:11] #9558 closed

[2021-07-30 14:03] waqaskhan137 opened #9562 "Error writing to outputs.sql: ERROR: type “double” does not exist (SQLSTATE 42704)"
Please redirect question about Telegraf usage to the InfluxData Community
site: https://community.influxdata.com/t/error-writing-to-outputs-sql-error-type-double-does-not-exist-sqlstate-42704/20979

### Relevant telegraf.conf:

[code]

### System info:

Telegraf version 1.19.2
Operating System : CentOS 7

### Docker

[code]
### Steps to reproduce:

1. Use the output.sql plugin
2. Fetch some snmp.i

[2021-07-30 14:25] russorat commented on #9556
do you mind sharing what device you are trying to load telegraf on?

[2021-07-30 14:51] waqaskhan137 opened #9563 "If snmp custom agent is restarted have to restart telegraf too"
InfluxData Community
site: https://community.influxdata.com/t/if-snmp-custom-agent-is-restarted-have-to-restart-telegraf-too/20761

### Relevant telegraf.conf:

[code]

### System info:

Telegraf : 1.19.2
OS : CentOS 7

### Docker

[code]
### Steps to reproduce:

1. Restart the custom agent
2. Telegraf won't be able to get any data from the custom agent using snmp.input plugin.

### Expected behav

[2021-07-30 15:24] ict-one-nl commented on #9414
Ran into the same problem. Isn't the only problem the check on line 246? Syntax wise I would be able to fix but I have no knowledge of the Go ecosystem.

[2021-07-30 15:32] srebhan commented on #9557
@ihard can you please check if #9561 is what you had in mind? You can use the [artifacts built by CI](https://github.com/influxdata/telegraf/pull/9561#issuecomment-889909005) (click the small black triangle). If you encounter any problem, please let me know.

[2021-07-30 15:33] srebhan commented on #9506
@Hipska can you please check if #9561 works for your case? If you encounter any problem, please let me know.

[2021-07-30 16:26] ihard commented on #9557
@srebhan Yes, that's what you need!

[2021-07-30 19:39] helenosheaa commented on #9559
We are currently on hashicorp/consul/api v1.8.1, it's not clear if the CVEs from hashicorp/consul relates to the api component. I've put in a PR for us to move to v1.9.1.

[2021-07-30 19:40] JonnyTischbein commented on #9556
I'm developing currently on the raspberry pi 3 model B, where I do not have any memory restrictions, but I would love to run telegraf on our other routers, which are mostly [TP-Link Archer C7 AC1750 v2](https://openwrt.org/toh/tp-link/archer_c7#hardware_highlights) with about 16M flash memory.
I guess we still have some TP-Link WDR3600 with only 8M, but I guess that will never be possible.

Btw. I

[2021-07-30 19:46] Sevelantis commented on #3167
This worked for me.

https://it-obey.com/index.php/connecting-telegraf-to-mosquitto-with-influxdb/

Mqtt needs to allow incoming connection.
If using Docker, please also change 127.0.0.1 loopback IP to the desired container IP.

[2021-07-30 19:47] richardelling commented on #2616
Unfortunately, this will never happen. The interfaces used to get pool information are not stable across releases. So you'd have to update telegraf every time ZFS changed... ugly. It is more stable to have changes in ZFS reflected in the `zpool_influxdb` command as a more stable interface to telegraf. A bit unfortunate, but it is the state of the world.  See also https://github.com/openzfs/zfs/tre

[2021-07-30 19:50] richardelling commented on #2616
`zpool_influxdb` puts health as a tag, does that suffice?

With regards to a capacity %, that is easy to do in a query. If you'd like to see it from `zpool_influxdb` then please file an issue there and ping me.

[2021-07-30 20:06] jnangle commented on #9551
@srebhan, thank you for working on this so quickly.  I dowloaded the new code this afternoon and ran it with the same config I've been using.  It still failed to connect to the Red Lion OPC server, but with a different error.  Here is the output:

[code]
The new Telegraf still connects to the other OPC servers, though.

[2021-07-30 20:26] #8871 closed

[2021-07-30 20:49] #9102 closed

[2021-07-30 20:54] #9559 closed

[2021-07-31 17:54] tigattack commented on #6515
As a workaround for the time being, this can be achieved using [msroest's sabnzbd_exporter](https://github.com/msroest/sabnzbd_exporter) and telegraf's prometheus input plugin.

[2021-07-31 20:04] dewnull opened #9568 "Prometheus metrics titles are capitalized"
### Relevant telegraf.conf:

[code]

### System info:

 using helm chart to deploy Telegraf  https://github.com/influxdata/helm-charts/tree/master/charts/telegraf
### Docker
1.19-alpine and 1.19.2-alpine

### Steps to reproduce:

1.  deploy telegraf

### Expected behavior:

influxdb_query_executor_queries_active
### Actual behavior:
influxdb_query**E**xecutor_queriesActive

### Additional info:
Th

[2021-08-01 11:04] arrmo commented on #7307
Has anyone had any luck getting this working? I even took the latest snapshot build, still no output. Ran manually in debug (and test) mode, no output at all.

Thoughts?

Thanks!

[2021-08-02 00:11] bvilnis commented on #9562
I came across this issue as well and had the same line of thought as you (using the type conversion).

I have my type conversion set as follows:
[code]

Which appears to have fixed the initial problem of:

`Error writing to outputs.sql: ERROR: type “double” does not exist (SQLSTATE 42704)`

but now produces:

`Error writing to outputs.sql: 358503060759561 is greater than maximum value for Int4`.

[2021-08-02 09:50] thyseus commented on #9562
I would like to add my issue here instead of creating a new one. I get the message:

[code]

when connecting the `[outputs.sql]` plugin to a mariadb 10.3.29-0+deb10u1 instance.

[2021-08-02 16:26] akrantz01 commented on #9192
NTLM authentication is not supported by the default HTTP client in Go as it requires multiple rounds (golang/go#20053).

[2021-08-02 17:09] pavannayakanti commented on #9510
please close the issue. thanks for your support.

[2021-08-02 17:09] #9510 closed

[2021-08-02 17:21] pavannayakanti opened #9572 "how to use inuts.http plugin for the http APIs which return XML data"
Hello Support Team,

Am using **[[inputs.http]]** to fetch the outcome from a REST API.
However, am the REST API is is returning xml data instead of json.
am using `data_format = "xml"`, but it doesn't works though. Just wondering if this plugin works for xml.

[code]
Do we have alternative plugin/method to entertain the http APIs which return xml data. Please advise.

[2021-08-02 21:10] sjwang90 commented on #9445
We will implement this feature work as part of the initiative in #9478 issue to combine v1/v2 plugins and make sure any `influxdb` has compatibility with both versions.

[2021-08-02 21:59] akrantz01 commented on #8504
@niftyhoot @Eraser3 @AkaiNoCat Could you try using the [latest release](https://github.com/influxdata/telegraf/releases/latest)? It appears to have been fixed somewhere along the line.

[2021-08-02 22:41] sspaink commented on #9478
Looks like `inputs.udp_listener` has a flaky tests, so will be nice to get that removed.
Example of failed test: https://app.circleci.com/pipelines/github/influxdata/telegraf/5841/workflows/83257327-ac12-47a2-961a-035a253a096c/jobs/104391/parallel-runs/0/steps/0-110

We should figure out when we can start removing these plugins.

[2021-08-02 22:49] sspaink commented on #9472
@pierfu or @jegj if you have time, do you think you can use the artifacts from this pull request to verify it fixes your issue? https://github.com/influxdata/telegraf/pull/9554#issuecomment-888713728

[2021-08-03 04:05] varunjain0606 commented on #9535
Do we have any update on this? I am also getting the same error. @corklu please let me know what is the last version where kube_inventory plugin was not giving this error. Thanks.

[2021-08-03 08:01] srebhan commented on #9572
Hmmm did you configure the XML parser? There is an example in the [documentation](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/xpath)... If you do not specify _what_ should be parsed, there will be no output.

[2021-08-03 08:51] srebhan commented on #9528
As the error message states, the metrics you are writing will be deleted instantaneously by InfluxDB as they are older than what the retention policy (`retentiuxdb`) will keep. That's also the reason why you likely don't see any metric in the database. Please check how long you keep the metrics in the database by checking how long your `retentiuxdb` retention policy will keep data.

[2021-08-03 09:52] srebhan commented on #9562
@waqaskhan137 please check the solution of @bvilnis
[code]
and set `real = "REAL"`.

[2021-08-03 09:56] srebhan commented on #9562
@bvilnis thanks for your solution. Not sure why `DOUBLE` is there in the first place, couldn't find it in the SQL docu... @reimda how about changing the type to "REAL" by default?

Do you know which type the field has? Looking at the code, for `uint64` the SQL type is inferred as `${unsigned} ${integer}` which is unfortunate. We should change `unsigned = "UNSIGNED INT"` and do not do magic in the

[2021-08-03 10:19] srebhan commented on #9551
@jnangle I added a trial to close the connection entirely to PR #9560. Would be nice if you can give it a try after it is built.

[2021-08-03 10:42] corklu commented on #9535
@varunjain0606 I saw a PR in v1.17 that addressed this situation, so I reverted I changed my deployment to use _telegraf:1.17-alpine_ instead and it's works as expected in that version.

[2021-08-03 10:51] waqaskhan137 commented on #9562
@srebhan I have used that and I am getting following error.

`2021-08-03T10:47:15Z E! [agent] Error writing to outputs.sql: Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"linuxPerf"("timestamp" TIMESTAMP,"agent_host" TEXT,"host" TEXT,"linuxPerf-host"' at line 1`

[2021-08-03 12:04] varunjain0606 commented on #9535
@corklu  Okay, thanks for the information :)

[2021-08-03 12:16] jerry1333 opened #9575 "Add loading PowerConsumedWatts from redfish input plugin (Dell server)"
## Feature Request

### Proposal:
Please add loading 'PowerConsumedWatts' from Dell's redfish api - /redfish/v1/Chassis/System.Embedded.1/Power

### Current behavior:
Skips this field.
### Desired behavior:
Load it to database since some Dell servers do not output LastPowerOutputWatts in /redfish/v1/Chassis/System.Embedded.1/Power/PowerSupplies/PSU.Slot.1
### Use case:
Example from my Dell R720 (i

[2021-08-03 12:24] jerry1333 commented on #9575
There is also another endpoint with cleaner output:
/redfish/v1/Chassis/System.Embedded.1/Power/PowerControl:
`
{"@odata.context":"/redfish/v1/$metadata#Power.Power","@odata.id":"/redfish/v1/Chassis/System.Embedded.1/Power/PowerControl","@odata.type":"#Power.v1_4_0.PowerControl","MemberId":"PowerControl","Name":"System Power Control","PowerAllocatedWatts":896,"PowerAvailableWatts":0,"PowerCapacity

[2021-08-03 12:46] srebhan commented on #9562
@waqaskhan137 please check your `table_template`. It seems like it might be broken (e.g. missing closing bracket)...

[2021-08-03 12:52] jegj commented on #9472
I will test the artifacts from that PR :)

[2021-08-03 12:52] waqaskhan137 commented on #9562
I haven't used any template as shown in the telegraf configuration posted by me above.

[2021-08-03 13:15] TechDawg commented on #8124
I'm wondering if there are any plans for this update?

We're really keen to update our telegraf version but are not able to without losing the TLS encryption functionalities of the gNMI input plugin. Happy to help with any diagnostics on Nokia devices if required. Another issue raised suggest the same with the Juniper telemetry plugin - [https://github.com/influxdata/telegraf/issues/8699](url)

[2021-08-03 13:39] jegj commented on #9472
**pull/9554 892859c8**  seems to fix the issue with the UNIX socket path. No more issues on PostgreSQL plugin. I have tested on Ubuntu16,18 and 20

[2021-08-03 14:47] dani-pisca commented on #4666
How  can this issue still be open 3 years later?

[2021-08-03 15:21] reimda commented on #9563
(I also gave this response on slack)

I haven't heard of this behavior before. It sounds like it is easily reproducible, so I would recommend that you make a packet capture. Start the capture with the system working for a few telegraf intervals, then restart your agent, then leave the capture going for a few telegraf intervals. Stop the capture and open it with Wireshark to determine what changed

[2021-08-03 16:16] waqaskhan137 commented on #9563
Let me share my finding on this one too.

[2021-08-03 16:30] waqaskhan137 commented on #9562
I have used the basic template provided in the [readme file of the plugin](https://github.com/influxdata/telegraf/tree/release-1.19/plugins/outputs/sql)

the configurations are given below.
[code]
But I keep getting this error for some of the signals.

2021-08-03T16:22:11Z E! [outputs.sql] Error during insert: ERROR: column "nChoiceUsedCaller-comments" of relation "nChoiceUsedCaller" does not exis

[2021-08-03 16:47] denzilribeiro commented on #9530
@simonwhybrow  what is your connection string? are you connecting to the DB or master?

[2021-08-03 16:54] jnangle commented on #9551
@srebhan ,

I think I left this comment in the comments for PR9524 - more coffee this morning, I guess.

The code errored out again at the 1-hr mark with the following messages:

[code]

[2021-08-03 18:20] steverweber commented on #7075
yes the filestat Input plugin could use something like:

[code]

untill then.. i'll just hack something together in the shell and use the exec plugin
[code]

[2021-08-03 19:00] denzilribeiro commented on #9530
So do you get the same error if you run the sql requests query logging on via SSMS? Are you sure the default login is master?
https://github.com/influxdata/telegraf/blob/1872037eb759d5ca82506592e53bd0d2c3df28d8/plugins/inputs/sqlserver/sqlserverqueries.go#L1023

[2021-08-03 20:02] sjwang90 commented on #7675
master/slave terminology in `telegraf.conf`:

- inputs.bond
- inputs.dcos
- inputs.mesos
- inputs.modbus
   - Replace with client/server ([from Modbus org](https://modbus.org/docs/Client-ServerPR-07-2020-final.docx.pdf))
- inputs.mysql

[2021-08-03 20:40] sjwang90 commented on #9273
Closing this issue. Feel free to re-open if there are still open questions

[2021-08-03 20:40] #9273 closed

[2021-08-03 20:42] sjwang90 commented on #8862
@tjnome If you would like to submit a PR we would gladly take a look

[2021-08-03 21:20] #9472 closed

[2021-08-03 21:29] #9073 closed

[2021-08-03 23:30] #5150 closed

[2021-08-03 23:31] #4454 closed

[2021-08-04 00:13] sjwang90 commented on #5599
Closing issue - please comment any breaking changes in regards to win_per_counters configs at #5196

[2021-08-04 00:13] #5599 closed

[2021-08-04 07:28] yogilad opened #9580 "Add Support Kusto Azure Synapse Workspace"
The recently added Kusto plugin is using version 0.3.2 of azure-kusto-go SDK.
This version is not able to authenticate to Kusto clusters inside Synapse Workspaces, due to some URI incompatibility which is fixed in v0.3.3.

Can you please update Telegraf to take v0.3.3 of Kusto SDK?

Thanks!
Yochai

[2021-08-04 07:57] kapsh commented on #1790
Is this still an issue? There is `user` tag in procstat already.

[2021-08-04 08:01] simonwhybrow commented on #9530
Running the sql requests query via ssms works fine. In fact I tested all of them and they work fine.

Just to show the configuration I have set up..

The service is configured as below:
![image](https://user-images.githubusercontent.com/55552369/128140336-aca35988-a45b-4bad-ba44-1e5babdd18a3.png)

The telegraf.conf contains the below:
![image](https://user-images.githubusercontent.com/55552369/128

[2021-08-04 08:11] srebhan commented on #9551
I fear we have to dig deeper into that library. Will look into this after my time-off (i.e. in 2 to 3 weeks). Sorry, seems like there is no quick solution. :-(

[2021-08-04 08:25] kapsh commented on #9499
@vsenapathy
1. How do you run telegraf? If this is docker container, ensure you have all necessary mounts and settings. If this is system service, try to run it as root (since not all information may be available for restricted user).
2. Have you checked any logs? Can you post them here?
3. What procstat_lookup measurement is saying in details?

[2021-08-04 12:51] milgner opened #9582 "OPCUA Input: client should be set to nil after closing"
Bug in the `opcua` input:

In [`disconnect`](https://github.com/influxdata/telegraf/blob/de01d37a36288fd1688797ec50a5f58a578dab76/plugins/inputs/opcua/opcua_client.go#L507), the connection is closed which leads to `Connect` being invoked on the next `Gather` cycle which in turn finds tries to invoke [`CloseSession`](https://github.com/influxdata/telegraf/blob/de01d37a36288fd1688797ec50a5f58a578dab

[2021-08-04 13:37] srebhan commented on #9551
@jnangle can you please check if PR #9583 fixes your problem? Maybe in combination with PR #9524...

[2021-08-04 13:38] srebhan commented on #9582
This seems related to the problem arising in #9551...

[2021-08-04 13:51] arif-ali opened #9584 "system.uptime in LXC container gives incorrect uptime"
uptime from telegraf reports the uptime of the hypervisor rather than the LXC container

### Relevant telegraf.conf:
Default configuration
### System info:

[code]

OS: Ubuntu 20.04 (focal)

### Steps to reproduce:

On a focal hypervisor, first install LXD

[code]

Now install telegraf latest from

[code]

The uptime from the above will give you the uptime of the hypervisor and not from the contai

[2021-08-04 14:42] denzilribeiro commented on #9530
You could try auditing/Xevents to see what login comes as when it fails what auth context is using and what DB connects to. We shouldn't block this query from running on the secondary as it is useful for sure. I would definitely specify the database in connection string - does this happen with only a windows login? Can you repro this with simple golang app with windows auth? https://stackoverflow.

[2021-08-04 16:57] sjwang90 commented on #9511
@KenStlqptq Closing this issue as @srebhan has addressed your question from above.

[2021-08-04 16:57] #9511 closed

[2021-08-04 20:54] JorgeGT commented on #7100
Same issue in Telegraf 1.18.1 with rsyslog sending RSYSLOG_SyslogProtocol23Format over UDP.

[2021-08-04 23:31] morgan9220 commented on #9528
[agent] ["outputs.influxdb"] did not complete within its flush interval
I'm getting that now. I appreciate all of your help!

[2021-08-05 00:22] sergiodj commented on #9302
I've just packaged and uploaded the latest upstream release to impish, and I don't see the error anymore.  I'm closing this issue.

[2021-08-05 00:22] #9302 closed

[2021-08-05 00:25] sergiodj opened #9589 "Mention the Ubuntu telegraf package in the documentation"
Hi there,

Ubuntu has offered a `telegraf` package for its users for a few releases now (see https://launchpad.net/ubuntu/+source/telegraf), so I would like to request that it be listed in the official documentation if possible.

I didn't know what would be proper type for this issue so I chose "Feature request"; I hope that's OK.

Thanks in advance!

[2021-08-05 05:59] EricRemote opened #9590 "gNMI Input : GPB compact / protobuf support"
## Feature Request
It would be interesting to add the support of GPB compact (as "opposed" to KV / key-value) to the gNMI plugin. There is a similar request ([#7172](https://github.com/influxdata/telegraf/issues/7172)) for the cisco_telemetry_mdt plugin.

### Proposal:
Add support of GPB to the gNMI plugin. The project "gNMIc" (for Nokia SR OS) does it : you can specify an "external" (not compiled

[2021-08-05 07:05] Levarix commented on #9495
Yes, @srebhan I will try test it today or tommorrow

[2021-08-05 07:29] ankirich opened #9591 "gnmi plugin - notifications support"
Hi,

I"m testing telegraf with gnmi input plugin. The network device is sending telemetry data over gnmi.  I'm subscribing using gnmi client and telegraf gnmp plugin.

Both provide similar output apart from the event when the network device withdraws a route previously installed into the routing table.

The  event triggers DELETE notification message. It is seen in gnmi client output, but not in t

[2021-08-05 11:19] tsujp opened #9592 "Aggregation and starlark results in no output"
It appears that using an aggregator with a starlark processor is indeed calling starlark twice as expected, but I don't see my expected aggregation. I cannot work out why this is. Is this a bug?

### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.19.2-1 (git: release-1.14-geneva 0366f9d2)
Ubuntu 20.04

### Expected behavior:

Given input:

[code]

Expected output:

[code]

### Actua

[2021-08-05 12:26] tsujp commented on #9592
I misunderstood a few things, this works if you use `namepass` or `namedrop`.

[2021-08-05 12:26] #9592 closed

[2021-08-05 14:45] arif-ali commented on #9584
Adding the following option as a workaround for the time being

[code]

Background on this is that by default LXCFS does not provide emulation for syscall responses and only procfs, and hence using the sysinfo uptime call does not work. A simple C program (https://paste.ubuntu.com/p/wpryCz9gtb/) mimicked the same behaviour and gave us the uptime of the hypervisor and not the container.

I hope tha

[2021-08-05 15:15] wp-davga opened #9593 "Get English performance counters on different languages"
Hello Support,

we upgraded our telegraf to 1.19.2 but we are having issues getting perfcounters in english on non-english systems

it's critical for us to use UseWildcardExpansion but if we use it all the metrics arrive in the system's local language, not in english.
We would like to be able to use UseWildcardExpansion but also get the metrics (e.g. Process, CPU, etc.) in english and not in the l

[2021-08-05 15:54] #9523 closed

[2021-08-05 16:47] danielmotaleite commented on #7968
So after one year still no solution for this problem?
We just were forced to upgrade to 10.5 and now are locked out from those useful metrics

we now have the mariadb_dialect = true for the slave, a similar option  (say mariadb_innodb_new_format = true) could be added to switch the query format, a quick and sure fix

[2021-08-05 18:09] sjwang90 opened #9594 "JSON parser reports additional metric when field and object subtable used together"
When you use a `.field` + `.object` with your JSON parser, it an includes an extra line of the whatever `.field` or `.tag` subtables are also configured with the object.

### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.19.2

### Expected behavior:

Output:
[code]

### Actual behavior:
Output
[code]

[2021-08-05 18:11] sjwang90 commented on #9594
fyi @sspaink

[2021-08-05 18:14] sjwang90 commented on #9452
This looks like a timestream error. @piotrwest can you assist?

[2021-08-05 18:56] piotrwest commented on #9452
Hi, the error you are getting:

`Failed to write to Timestream database 'CoboInfraMonitorTimestream' table 'docker_container_cpu'. Skipping metric! Error: 'ValidationException: The dimension name is invalid. Dimension name can only contain alphanumeric characters and underscores. It can only start with an alphabet and cannot end with an underscore.'`

means one of the dimension names (most probabl

[2021-08-05 19:45] sjwang90 commented on #8999
@jeff-minard-ck Can you share a sample output of what you're getting when using (`inputs.prometheus` + `outputs.influxdb` + `inputs.influxdb_listener` + `outputs.newrelic`) vs (`inputs.prometheus` + `outputs.newrelic`)?

[2021-08-05 20:00] sjwang90 commented on #9545
@prydin would you be able to provide any assistance?

[2021-08-05 21:59] avoidik commented on #8856
https://github.com/influxdata/telegraf/pull/8639

[2021-08-06 00:05] 192dot opened #9595 "What's the minimum account permission required by the VMWare plugin?"
In https://github.com/influxdata/telegraf/blob/release-1.19/plugins/inputs/vsphere/README.md
[code]
Can this be a read only account? If not what's the minimum privilege does this account need in vCenter?
Thanks in advance!

[2021-08-06 04:03] KEVISONG opened #9596 "HTTP Response Input: Support pre-request script to add dynamic headers."
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal: Support pre-request script to add dynamic headers.

### Current behavior: Currently, the headers are hard-coded in configurations

[code]

### Desired behavior: Use scripts(not necessarily JS) to calculate headers in runtime.

[code]

### Use case:

Some HTTP request needs pre-scripts to generate signatures or tok

[2021-08-06 06:53] avoidik commented on #8856
hello @i-prudnikov much appreciated for the feature you're added, would you please suggest how to interconnect something like `[[inputs.logparser]]` and `[[outputs.cloudwatch_logs]]`? specifically `log_stream`, `log_data_metric_name`, and `log_data_source` attributes

[code]

[2021-08-06 08:36] i-prudnikov commented on #8856
Hello @avoidik,
If I got you correctly, then you have log_stream and log_data_source dynamically set.

For that please refer to the plugin readme:
[code]
So you can source this data either from tag or from field. Moreover you can use [processors](https://github.com/influxdata/telegraf/tree/master/plugins/processors) between inputs and outputs to process tags and/or fields.

[2021-08-06 11:50] prydin commented on #9545
The debug log looks normal to me. The "failure" in the beginning just means that there's no setting for maximum query size in vCenter and it reverts to the default. That's perfectly OK.

The warning means that you're sending more data than your InfluxDB instance can handle. If it only shows up sporadically, you can ignore it. As long as you don't overflow the buffers in Telegraf, the data will eve

[2021-08-06 13:54] nscheer opened #9597 "Add bool datatype to sql output plugin"
## Feature Request

### Proposal:
Add support for boolean to the sql output plugin.

### Current behavior:
When trying to use a boolean, the sql output plugin emits an error about bool being unknown, followed by an sql error that it can't convert `true` to Text:

[code]

[code]

As such, the `too_hot` column is created as `text` due to the lack of a specific type.

### Desired behavior:
The column

[2021-08-06 15:59] arvenil commented on #5887
I think everyone who want's to follow .d folder pattern will fall into this surprise. This means we can't really use telegraf.d folder as anyway we need to overwrite telegraf.conf. I don't understand why `[[outputs.influxdb]]` is not commented out. Put it into telegraf.d as localhost.conf and comment it out. Point users to the file and ask to uncomment the line if they want localhost.

[2021-08-06 16:12] arvenil commented on #5887
Everyone who want's to follow `.d` folder pattern will fall into this issue. I can't really use telegraf.d folder as I need to overwrite telegraf.conf anyway. I don't understand why `[[outputs.influxdb]]` is not commented out. Put it into telegraf.d as localhost.conf and comment it out. Point users to the file and ask to uncomment the line if they want localhost.

[2021-08-06 17:36] helenosheaa commented on #9593
Removing the support label based on [this](https://influxcommunity.slack.com/archives/CH99HUH8V/p1628176600063400) slack thread as I think it requires more investigation.

[2021-08-07 00:21] gracewehner opened #9600 "Prometheus pod discovery not working for monitor_kubernetes_pods=true and pod_scrape_scope=cluster since 1.18.3"
### Relevant telegraf.conf:
[code]

### System info:
Telegraf 1.18.3 - 1.19.2
Telegraf executable run as a process in a Kubernetes container

### Steps to reproduce:
1. Deploy a pod that exposes prometheus metrics at `<pod_ip>:<port>/<metrics path>` with the annotations in the comment for monitor_kubernetes_pods above.
2. Run telegraf with the prometheus input plugin and the settings `monitor_kube

[2021-08-07 14:05] mconcas opened #9601 "Add plugin to monitor AMD GPUs using ROCm System Management Interface rocm-smi"
## Feature Request

As it is done with nvdia GPUs would be nice to have the possibility to query metrics from AMD devices using the `rocm-smi` [0] utility.

### Proposal:

Write a plugin that parses the JSON output provided by `rocm-smi` executable and extracts metrics to be sent via Telegraf.

### Current behavior:

 Currently I could not find any effort in that direction.

### Desired behavior:

[2021-08-08 13:11] mkrysiak opened #9603 "Capture /proc/schedstat CPU metrics"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

Augment the existing CPU plugin, or develop a new plugin, that captures metrics from /proc/schedstat on Linux.  In particular, the time a CPU spent running a process, and the time spent by processes waiting to run on a CPU are useful metrics.

### Current behavior:

The data is not captured.

### Desired behavior

[2021-08-08 19:49] leonv024 commented on #6170
+1

[2021-08-09 04:45] whyjp commented on #9531
I also seen overflow dropped metrics logs.

only 1 that server isn't flush buffers

[code]

[2021-08-09 13:34] aishvaryaps opened #9604 "Pass arguments to telegraf exe for windows"
Hello team,
I am installing telegraf.exe on Windows using some automation..
Hence I want to pass proxy URL as an ArguemntList while I run telegraf exe , it should be a Silent installation
Can you please let me know how to pass argument list here

PS: I am working on Tanzu Observability and need wavefront proxy and telegraf agent on same VM (edited)

[2021-08-09 18:42] gracewehner commented on #9600
Created the PR #9605

[2021-08-10 02:33] meimz opened #9607 "inputs.snmp get the data of discontinuity"
192.168.1.35 is not noline, To get the data of 192.168.1.34 discontinuity

snmp timeout = 5s

telegraf config example

[code]

[2021-08-10 17:34] sumptersmartt commented on #7876
I am running into this same issue on 1.19.1, is there a good workaround?

[2021-08-10 17:36] akrantz01 commented on #9103
@dannydev By the looks of it, only the first error you experienced resulted from the TOML parsing. The second error, `redis: unexpected type=int64 for String`, resulted from the return type from the `EVAL` statement being misconfigured. The `field` parameter can be either `string`, `integer`, or `float` and defaults to `string` if it is anything else. This wouldn't be a problem if the redis librar

[2021-08-10 17:46] Trovalo commented on #7876
As a workaround, I run a powershell command (using the exec plugin) to end
all the processes that I started with the execd every n hours.
This way I ensure there are no zombie processes around.
When an execd process is killed it will restart in a minute by default.

This of course is not optimal, but in my case was a suitable solution

On Tue, 10 Aug 2021, 19:35 Sumpter Smartt, ***@***.***> wrote:

[2021-08-10 18:10] danydev commented on #9103
I think you're right, by looking better it may work by specifying integer.

While the `exec` input it's a viable solution, it forces us to create a custom container only to install `redis-cli` on it.

[2021-08-10 18:13] sumptersmartt commented on #7876
Thanks, I just wrote one myself that I think is pretty safe. You'd need to update it to match the command you're running, but,

`Get-WmiObject win32_process -Filter "name = 'powershell.exe'" | ? {$($_.ParentProcessID -notin $((Get-Process -Name telegraf).id)) -and $($_.SessionID -eq 0) -and $($_.commandline -like "C:\\scripts\\")} | stop-process`

Sorry for the one liner, but basically this script

[2021-08-10 18:38] jeff-minard-ck commented on #8999
I can not; we ultimately abandoned this avenue of transit in favor of transmitting metrics between telegraf instances in prometheus format since that carries the metric type between instances. So, for example:

[code]

After filing this, more research lead me to the fact that line protocol simply doesn't have a way to carry `metricType` metadata.

[2021-08-10 21:18] #9582 closed

[2021-08-10 21:20] #9398 closed

[2021-08-10 21:47] #8233 closed

[2021-08-10 21:48] #7026 closed

[2021-08-11 08:08] Vesimies80 opened #9610 "Could http_listener_v2 input plugin support the json_v2 parser"
This is pretty self explanatory but it would be useful to have this option. Currently handling complex jsons with [http_listener_v2](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/http_listener_v2) is not very convenient the [json_v2](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json_v2) parser would make using jsons much more viable here.

[2021-08-11 11:04] abrondijk opened #9611 "Error getting VM curent VM status - Proxmox error"
### Relevant telegraf.conf:
[code]

### System info:

PVE 7.0-11 based on debian 11
Telegraf version 1.19.2, installed according to [this ](https://docs.influxdata.com/telegraf/v1.19/introduction/installation/) guide.

### Steps to reproduce:

1. Start the telegraf service

### Expected behavior:

I expect telegraf to behave normally and to not spam errors in syslog.

### Actual behavior:

The fol

[2021-08-11 13:36] janegilring opened #9612 "InfluxDB crashes during initial data ingestion from Telegraf - unable to start afterwards"
### Relevant telegraf.conf:
[code]

### System info:

Old setup:

- Telegraf v 1.7.4
- InfluxDB v 1.6.2

InfluxDB was running on a Windows Server 2016 server, while Telegraf was running on various Windows Server versions ranging from 2012 R2 to 2019.

Now I wanted to modernize the setup by moving InfluxDB (and Grafana) into containers running in an Azure Container Instance using Azure Files as bac

[2021-08-11 13:56] jhychan commented on #7876
I think I've found the issue here - when Telegraf runs interactively/console mode the main loop (reloadLoop) runs on the main thread, but when running as a service the main telegraf loop (reloadLoop) is runs in a go routine.

In interactive/console mode when you interrupt the process with Control-C the reloadLoop detects this and all plugins get to cleanly shutdown on the main thread.

However, wh

[2021-08-11 15:00] janegilring commented on #9612
Sorry, I meant to open the issue in the influxdb repository. I'll close this one and re-open there.

[2021-08-11 15:05] #9612 closed

[2021-08-11 17:09] guenneguezt opened #9613 "Rpm install"
When you install telegraf-1.17.3-1.x86_64.rpm with the "--prefix" option the install doesn't complete.
There is error on copy telegraf.service which isn't in /usr/lib/telegraf/scripts/telegraf.service.

If we copy the good telegraf.service file we must change the ExecStart.

Thanks
Thomas

[2021-08-11 17:10] sjwang90 commented on #9610
Are there issues with using `inputs.http_listener_v2` plugin with the json_v2 parser by setting `data_format = "json_v2"` at the end of the plugin?

[2021-08-11 17:26] sjwang90 commented on #9545
Thanks!! @sumptersmartt Please try reducing the data volume by changing your collection interval and possibly adjusting buffer settings.

[2021-08-11 17:26] #9545 closed

[2021-08-11 19:28] andrema2 opened #9614 "[inputs.unbound] Error in plugin: error gathering metrics: error running unbound-control: exit status 1 (/usr/local/sbin/unbound-control [-c /var/unbound/unbound.conf stats_noreset])"
Trying to get unbound plug in to work is getting this error

[inputs.unbound] Error in plugin: error gathering metrics: error running unbound-control: exit status 1 (/usr/local/sbin/unbound-control [-c /var/unbound/unbound.conf stats_noreset])

### Relevant telegraf.conf:
[[inputs.unbound]]
   binary = "/usr/local/sbin/unbound-control"
   config_file = "/var/unbound/unbound.conf"
   thread_as_tag

[2021-08-11 19:59] sjwang90 opened #9615 "Convert hobby plugins to external plugins"
Telegraf's binary size has grown to well over 100MBs. There has been conversation to remove hobby or lesser popular Telegraf plugins to [external plugin](https://github.com/influxdata/telegraf/blob/master/EXTERNAL_PLUGINS.md) to somewhat reduce binary size. We want to make sure there's a precedent of these "hobby" plugins consistently made external plugins. This also reduces the Telegraf maintaine

[2021-08-11 20:23] reimda commented on #9615
The difficulty with removing these plugins is that we can't just delete them. We will need to open new github projects for each of them. That involves setting up a build against the shim and writing migration docs.

That's more work than leaving them in telegraf.

Most of these lesser used plugins never have any new issues filed against them so we don't spend any time maintaining them in core tele

[2021-08-12 07:04] Hipska commented on #9506
@srebhan Yes, that is indeed a way to get the desired behaviour.

[2021-08-12 10:05] Vesimies80 commented on #9610
Im atleast getting this error:

telegraf    | 2021-08-12T10:03:10Z I! Starting Telegraf 1.18.0
telegraf    | 2021-08-12T10:03:10Z I! Using config file: /etc/telegraf/telegraf.conf
telegraf    | 2021-08-12T10:03:10Z E! [telegraf] Error running agent: Error loading config file /etc/telegraf/telegraf.conf: error parsing http_listener_v2, Invalid data format: json_v2

I'm using a docker-compose file w

[2021-08-12 15:35] sjwang90 commented on #9610
you need to make sure you're on Telegraf 1.19+. The json_v2 parser wasn't included until that release

[2021-08-12 16:58] bslade opened #9617 "There should be a mapping of the MongoDB plugin output fields to the MongoDB docs"
## Feature Request

Right now, the MongoDB plugin for Telegraf collects fields like:
[code]

It's not clear which fields are rates and which are cumulative values.  For example, is aggregate_command_failed a cumulative stat?  Should I assume everything is a cumulative stat unless it says "per_sec"?

Using the aggregate_command_failed example, is that the sum of the [db.serverStatus() output fields

[2021-08-12 18:52] reimda commented on #9615
See 9618 for the details, but removing these plugins only reduced the amd64 linux binary by 1.65MB. Before removing them it was 125.61MB. That's a 1.3% difference in size.

[2021-08-12 19:25] sspaink commented on #8800
@gsauthof I've created a pull request to resolve this issue that includes two links with more information on the problem, I recommend looking there to learn more: #9620.

@ricrug thank you for providing a workaround!

[2021-08-13 05:45] varunjain0606 opened #9621 "Extend kube_inventory plugin to include few more metrics like node_count, node_status_condition, node_unschedulable"
**Feature Request**

The kubernetes and kube_inventory input plugins have most of the metrics to monitor k8s infrastructure needs but few metrics are still missing from the set of plugins which can be easily extended and will help in better k8s monitoring.

**Proposal**

The kube_inventory plugin can be extended to not only have capacity and allocatable quantity metrics but also other health metri

[2021-08-13 07:08] Levarix commented on #9495
@srebhan Tested version 1.19.2 and the same issue

[2021-08-13 07:24] Levarix commented on #9495
I'm testing version from there now

[2021-08-13 10:03] Vesimies80 commented on #9610
Oh my bad. Thanks for the help.

[2021-08-13 11:04] janegilring commented on #7650
FYI: I had a similar error (EOF) when trying to run InfluxDB on Azure Container Instances. This turned out not to provide required storage performance, as it was using Azure Files/samba for the backend storage. Hence, a tip could be look into the backend storage for InfluxDB, and if possible test against a different instance using other storage.

More details:
https://github.com/influxdata/telegra

[2021-08-13 11:56] t5virko opened #9622 "Problem with gather in MongoDB 5.0"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf version = 1.20.0, OS = CentOS8, db = MongoDB 5.0.2

### Docker

### Steps to reproduce:

1. Install MongoDB 5.0
2. Configure and start telegraf

### Expected behavior:

Gathering stats.

### Actual behavior:

Take err:
E! [inputs.mongodb] unable to gather shard connection pool stats: (CommandNotFound) no such command: 'shardConnPoolSt

[2021-08-13 12:52] Levarix commented on #9495
Looks like we have stable solution now
![Zrzut ekranu 2021-08-13 o 14 52 19](https://user-images.githubusercontent.com/34714430/129359858-6d0c31b4-db28-41d8-a9bc-76c3e413a5a9.png)

[2021-08-13 17:03] sjwang90 commented on #9291
Hey @theotherguy2175 - sorry for the delay. If you --test is showing up the way you want it but in Grafana it isn't there must be something going wrong in between. If you are using InfluxDB, i'd be curious if there's something up in Grafana.

We reserve Telegraf issues for bugs for reproducible problems.  If you want to find me in our [Community Slack](influxdata.com/slack) I can help you. Or [Com

[2021-08-13 17:03] #9291 closed

[2021-08-13 18:45] sjwang90 commented on #8016
Would we deprecate the `order = n` when this gets implemented in a Telegraf 2.0?

[2021-08-13 18:50] sjwang90 commented on #7993
Behavior when fix is implemented
[code]

[2021-08-13 19:31] mohsin106 opened #9624 "time.parse_duration() giving unknown binary op errors"
My data coming into Telegraf:
[code]
I want to filter out metrics that have timestamps that are older than 24hrs. My starlark stanza looks like this:
[code]
However, this is giving me the following errors:
[code]
I think **time.from_timestamp()** returns an int64, and I believe the curDate var might be an int type. Since those are two separate types Go isn't allowing the math to happen?

[2021-08-13 21:37] #9226 closed

[2021-08-13 21:38] sjwang90 commented on #5679
Let's follow this in: https://github.com/influxdata/telegraf/issues/3670

[2021-08-13 21:38] #5679 closed

[2021-08-13 21:41] sjwang90 commented on #9239
the openweathermap plugin is pretty low on the internal Influx's team's priority. If anyone from the community wants to pick this please open a PR and we'll review!

[2021-08-13 21:48] sjwang90 commented on #2453
Looks like there's a solution for this but @garceri if you're interested in converting this into an external plugin we'd gladly add it to the list. You can find the docs on how how to convert it [here](https://github.com/influxdata/telegraf/tree/master/plugins/common/shim#telegraf-execd-go-shim), and once that's done please open a pull request to get it added to the [list of external plugins](http

[2021-08-13 21:48] #2453 closed

[2021-08-13 21:51] sjwang90 commented on #4506
Telegraf now allows plugins to be built without Go libraries with [external plugins](https://github.com/influxdata/telegraf/blob/master/docs/EXTERNAL_PLUGINS.md) if you are still interested on getting this done with a C library.

[2021-08-13 22:40] mohsin106 opened #9626 "unknown binary op: int - time.duration"
My data:
[code]
StarLark Processor Stanza:
[code]
Gives the following error:
[code]

[2021-08-13 22:52] sjwang90 commented on #9245
@lucassardois - if you set `round_interval = false` as hipska mentioned your Telegraf will run and collect right away and continue collecting every 3 hours from there.

[2021-08-13 22:52] #9245 closed

[2021-08-13 23:12] sjwang90 commented on #9212
Hi @sivasusheendar - please make sure you check out the postgresql documentation. Here is more information about sample queries: https://github.com/influxdata/telegraf/tree/master/plugins/inputs/postgresql_extensible#sample-queries-

If you are looking it output to two different InfluxDB instances you can just do it by adding 2 `outputs.influxdb_v2`  plugins and it'll dual write your postgresql da

[2021-08-13 23:12] #9212 closed

[2021-08-13 23:15] #9148 closed

[2021-08-13 23:17] sjwang90 commented on #9108
Included in https://github.com/influxdata/telegraf/pull/9228

[2021-08-13 23:17] #9108 closed

[2021-08-13 23:24] #8832 closed

[2021-08-13 23:27] sjwang90 commented on #8794
retry feature implemented here: https://github.com/influxdata/telegraf/pull/8803

[2021-08-13 23:27] #8794 closed

[2021-08-14 01:00] reimda commented on #9233
We would still like to fix this. Reopening

[2021-08-14 21:08] valodzka opened #9629 "apt repository for debian bullseye missing"
Apt repository for debian bullseye missing

[2021-08-15 09:21] condorcet opened #9630 "Postgres input plugin should provide an option to disable prepared statements (PgBouncer support)"
## Feature Request

Postgres input plugin using binary protocol by default (because of default behavior of pgx library) that rely on prepared statements for SQL queries. Prepared statements must be known for each Postgres connection and pgx library handles logic to prepare Postgres connection to work with prepared statements. It works well.
But it doesn't work as expected with PgBouncer, because a

[2021-08-16 08:51] elboletaire commented on #8103
Hey, that's me :D

And I ended up here because I'm facing this issue again. It's weird because I left a fresh install working perfectly yesterday, with stuff monitored in grafana, but today, after a server restart, the telegraf plugin started complaining.

I've just started debugging it again right now, so if I find anything I'll tell you in this thread.

One thing I noted compared to yesterday: i

[2021-08-16 09:43] elboletaire commented on #8103
And it maaaay be related... not sure how yet, but after some more testing:

- Removing the `scoreboard.dat` file and letting the game re-create it "fixed the issue".
- The UUID which appeared in that (broken) file aren't really replacements, but new entities in the "Players" table. No idea why they appear as UUIDs, but could be related to the fact that I'm running an offline/insecure server (need