[2015-05-22 23:15] beckettsean opened #3 "change name from Tivan to Telegraf"
rebranding to commence in 3...2...1...

[2015-05-22 23:17] beckettsean opened #4 "setting `hostname` in config file generates no metadata in influxdb"
From the comments on the README, I would assume that setting

[code]

should add a `hostname=catalyst` tag to all points written, but I do not see that tag key or value anywhere in the data.

[2015-05-22 23:21] beckettsean opened #5 "debug setting in config doesn't work"
In the config file, the `debug` setting is non-functional:

[code]

Whether debug is set to true or false, no debugging output happens. I can use `tivan -config tivan.toml -debug` to get debug output. I'd be fine with that being the only option.

If removing the `debug` setting from the config is simple I vote we do that. It seems better as a command-line flag anyway.

[2015-05-22 23:32] beckettsean opened #6 "remove sample config from repo?"
Right now there's a tivan.toml in the root of the repo. It's non-functional. Valid configs must be generated with `tivan -sample-config > file.toml`.

On the one hand, it's confusing to have a non-working config ship with the repo. On the other hand, it's nice to have an example of the config in the repo so people can see it without downloading the app and generating one.

[2015-05-22 23:33] #4 closed, assigned to nobody

[2015-05-22 23:45] #3 closed, assigned to nobody

[2015-05-23 00:25] #5 closed, assigned to nobody

[2015-06-09 20:35] beckettsean opened #10 "Update telegraf to use new line protocol rather than JSON"
Given the major performance improvements it seems we should have telegraf use the line protocol rather than the JSON protocol, especially since the JSON protocol is likely to eventually be deprecated.

Here's more on the protocol: influxdb/influxdb#2696

[2015-06-18 06:03] #6 closed, assigned to nobody

[2015-06-19 19:10] toddboom commented on #10
Fixed with updated InfluxDB client library.

[2015-06-19 19:10] #10 closed

[2015-06-20 18:53] tanderberg opened #17 "telegraf\plugins\system\ps.go:70: cannot use du (type disk.DiskUsageStat) as type *disk.DiskUsageStat in append"
Tried to build Telegraf with go version go1.4.2 windows/amd64, got the error in the title,
telegraf\plugins\system\ps.go:70: cannot use du (type disk.DiskUsageStat) as type *disk.DiskUsageStat in append

[2015-06-20 19:09] toddboom commented on #17
@tanderberg awesome, thanks for the report - i assume there will be other Windows-specific issues, so keep reporting anything else you find

[2015-06-21 00:32] shortjared opened #18 "Tags no longer passed in due to change in Client"
I was experimenting with Telegraf, and I am pretty impressed with the ease of getting it setup and the potential for adding plugins. That said, I noticed that Tags don't seem to be passed at the point level.  Not even the default "host" as I would have expected after finding issue #4 .

I think I tracked down the cause.

It looks like a recent change in the influxdb client ( https://github.com/inf

[2015-06-22 16:28] dever860 opened #22 "Packager: Influxdb and telegraf share same init.sh path"
Since influxdb and telegraf share the same ROOT DIR's, the init.sh file will get overwritten when both are installed via RPM.

[code]

Suggest changing the following `s/influxdb/telegraf/` so that telegraf is treated independent from influxdb

[code]

[2015-06-22 23:48] skynet commented on #22
:+1:

[2015-06-23 09:04] trehn opened #24 "Language-agnostic Plugins"
Does Telegraf plan to allow users to write plugins in any language? Being able to quickly write something in Bash or Python would probably make a lot of ops people happy. Quite often I only need to collect a measurement once an hour or so, so the extra overhead would not be an issue at all.

Maybe this could be implemented as a plugin that just runs a configured list of commands with some configur

[2015-06-23 10:06] atmaniak commented on #24
It could also be nice to be able to specify a different duration between poll for each plugin.

[2015-06-23 12:44] dever860 commented on #18
+1

[2015-06-23 14:03] skynet opened #25 "Working demo"
Amazing solution but the documentation doesn't really go all the way through with a working example, which makes it relatively hard for a non-expert to start using it. Can someone fix that?

[2015-06-23 20:54] mjdesa opened #26 "Running raw `telegraf` command without a config file causes error"
Simply running `telegraf` by itself yields this error

[code]

If you generate a sample config and run it with the config file, everything works fine.

![screen shot 2015-06-23 at 1 54 15 pm](https://cloud.githubusercontent.com/assets/1477539/8317011/67f702ee-19af-11e5-8c42-e5673d7af23e.png)

[2015-06-24 14:31] mgresser commented on #18
+1 Also seeing this issue.

[2015-06-24 21:25] evanphx commented on #24
@atmaniak you can do that already, check out Interval under https://github.com/influxdb/telegraf#plugin-options

[2015-06-24 21:26] evanphx commented on #24
@trehn It certainly could be implemented via an `exec` plugin that takes a list of programs to run. If they output JSON to stdout it should be easy enough to allow them to pass any number of values back as well.

[2015-06-25 01:38] alvaromorales opened #29 "Hostname is not passed as a tag"
I installed telegraf using the Debian/Ubuntu package on the README file. It is sending metrics to influxdb 0.9. The hostname of the machine running telegraf is not being passed as a tag with metrics.

[2015-06-25 13:32] jimconner commented on #29
+1 for this issue - I'm seeing the same problem too. Additionally uncommenting the ```tags={ "dc" : "us-east-1" }``` line in the sample config causes a parse error.

[2015-06-25 15:40] toddboom commented on #29
I think this might be the same as #18 - we should have this fixed in the next day or so and will cut a release as soon as it's done.

[2015-06-25 16:34] skynet commented on #22
can someone provide info on how to patch existing influxdb+telegraf installations. I just got my  /opt/influxdb/init.sh overwritten.

[2015-06-25 16:59] dever860 commented on #22
Ultimately I just did the following, and linked the influxdb init script directly to the absolute URL instead of the symlink in /opt/influxdb.

ln -fs /opt/influxdb/versions/0.9.0/scripts/init.sh /etc/init.d/influxdb

[2015-06-25 17:23] skynet commented on #22
I suppose you have to do this, too:

`ln -fs /opt/influxdb/versions/0.1.1/scripts/init.sh /etc/init.d/telegraf`

with this final result:

`
ls -lah /etc/init.d/{telegraf,influxdb}
lrwxrwxrwx 1 root root 44 Jun 25 17:18 /etc/init.d/influxdb -> /opt/influxdb/versions/0.9.0/scripts/init.sh
lrwxrwxrwx 1 root root 44 Jun 25 17:21 /etc/init.d/telegraf -> /opt/influxdb/versions/0.1.1/scripts/init.sh
`

[2015-06-25 18:27] jcmartins commented on #29
please use full hostname ( hostname -f ) in Amazon AWS it's important because the instance-id  in a lof of case only show using hostname -f

[2015-06-25 21:12] #18 closed

[2015-06-26 18:43] JulienChampseix opened #30 "Windows version"
Hi,
What's an windows version is planned ?
thanks for your feedback

[2015-06-26 19:20] beckettsean opened #31 "nothing prevents launching multiple instances of telegraf"
Not sure if that's intentional or not, but it could lead to confusion. I can see a use case, where I want to sample different metrics at different intervals.

What's the intention?

[2015-06-27 21:09] tylernisonoff opened #33 "CPU Usage Plugin"
I want to add support for CPU Usage (percentage).  I've generally seen this done by querying /proc/stat, sleeping for a second, querying again, and calculating the percentage from the diff.  Does this sound reasonable if added to the current cpu plugin?

[2015-06-28 00:25] ipstatic opened #34 "Support sending metrics to Riemann"
Are you planning on supporting different "output" methods like writing metrics to Riemann?

[2015-07-01 13:16] luinav opened #36 "Installing together telegraf-0.1.1-1.x86_64.rpm and influxdb-0.9.0-1.x86_64.rpm"
In a Centos 7 host I have installed the Influxdb package first and then the telegraf package.

The telegraf package overwrites the startup script of influxdb "/opt/influxdb/init.sh".
In the /etc/init.d both links are pointing to the same file:

lrwxrwxrwx.  1 root root    21 jul  1 15:00 influxdb -> /opt/influxdb/init.sh
lrwxrwxrwx.  1 root root    21 jul  1 15:06 telegraf -> /opt/influxdb/init.sh

[2015-07-01 13:20] jimconner commented on #29
I've just tested with the current master branch after https://github.com/influxdb/influxdb/issues/3131 got merged, and can confirm that this has fixed the issue with tags not being passed. Is there any estimate for when the next release (incorporating this fix) is due to land? Thanks.

[2015-07-01 15:25] pauldix commented on #29
@jimconner we'll cut a release later today

[2015-07-02 12:22] jimconner opened #37 "influxdb and telegraf conflicting for ownership of /var/run/influxdb/ directory"
Installing both influxdb and telegraf on the same host results in one or the other failing to start correctly from the init.d scripts (on Ubuntu)

The problem seems to be down to the ownership of the /var/run/influxdb directory - If influx is installed first, then the directory will be owned by influxdb:influxdb and the telegraf:telegraf user is not able to write a pid file into there and the daem

[2015-07-02 18:26] toddboom commented on #29
This should be fixed in v0.1.2, which is now available.

[2015-07-02 18:26] #29 closed

[2015-07-02 18:27] toddboom commented on #22
This should be fixed by #23.

[2015-07-02 18:27] #22 closed

[2015-07-02 18:28] alvaromorales commented on #29
I'm running telegraf-0.1.2 (with influxdb 0.9.1-rc1) and can confirm that the issue is fixed. Thanks!

[2015-07-02 20:21] pauldix commented on #25
We'll be adding docs on that soon.

[2015-07-02 20:23] pauldix commented on #34
Different output methods is definitely on the list. Riemann and Kafka come to mind

[2015-07-02 20:27] skynet commented on #25
:+1:

[2015-07-02 22:13] pauldix opened #38 "Support sending metrics to Kafka"
We should be able to send metrics to a variety of places other than InfluxDB. This means that we'll need to have some sort of framework for defining new output sinks. This also means that we should be able to disable sending metrics to any of these output sinks, including InfluxDB.

What I'm thinking is to pull the InfluxDB settings into another area like `outputs`. Then, like plugins, define a nu

[2015-07-02 22:17] pauldix opened #39 "Add support for StatsD style aggregator"
We should support the StatsD protocol and aggregation. However, unlike StatsD, the metric names should follow the conventions of the [key section of the InfluxDB line protocol](http://new.influxdb.com/docs/v0.9/write_protocols/line.html).

The StatsD values should be output as a single field called `value`. This should be able to flush to any of the output sinks like what is mentioned in #35.

Thi

[2015-07-02 23:58] dever860 commented on #22
@toddboom It should be, but #23 was closed and not merged.

[2015-07-03 00:15] benfb commented on #26
Could we load in the sample config by default?

[2015-07-03 08:14] haomingz opened #40 "SNMP/ICMP Support?"
Are you planning on supporting remote services, like SNMP or ICMP ?

[2015-07-03 08:34] pkkummermo commented on #37
+1 For this

[2015-07-03 08:36] pkkummermo opened #41 "Wrong format for InfluxDB 0.9.1?"
I'm getting these in the log

`[http] 2015/07/03 10:32:26 127.0.0.1 - - [03/Jul/2015:10:32:26 +0200] POST /write?consistency=&db=telegraf&precision=&rp= HTTP/1.1 400 106 - InfluxDBClient 08d797be-215e-11e5-8005-000000000000 2.541832ms`

When running telegraf_0.1.2_amd64 on Ubuntu Server 14.04 LTS

[2015-07-03 11:47] luinav commented on #37
+1 I think this package conflict is the same as  #36

[2015-07-03 13:10] hypersleep opened #44 "Create DB automatically if not exist"
I think it should be a custom option in config

[2015-07-03 15:07] dever860 commented on #41
Seconded. I am probably getting the same error you are. It looks like tags are still broken.

[code]

[2015-07-03 16:53] dennisjac commented on #44
I don't think  this would be a good idea because you would also have to provide retention policies and admin permissions to be able to create the database correctly. This kind of information doesn't belong in the telegraf configuration.

[2015-07-03 16:55] dennisjac commented on #37
Telegraf should use it's own unique namespace e.g. /opt/telegraf and /var/run/telegraf. Is see no good reason why it should share directories with influxdb.

[2015-07-03 16:59] dennisjac commented on #33
Can plugins have state? If so you could store the values and time between runs and then on the next run subtract the values from the previous run and divide by the elapsed time between the runs (which should be the interval). That way you don't have to wait a second to get an actual value and you would get an average percentage over the whole interval which is probably what most people rather want

[2015-07-04 18:43] jhofeditz commented on #41
The error is caused by the missing serial tag value. Influxdb 0.9.1 now rejects writes with empty tag values as a 400 error.
Error in plugins: unable to parse 'io_reads,dc=us-east-1,host=blah.com,name=dm-0,serial= value=8794': missing tag value
I created PR influxdb/telegraf/pull/45 to fix this in the disk plugin.

To get the missing hostname tag, you also need to upgrade to telegraf-0.1.2

[2015-07-05 13:55] steverweber opened #48 "advantages of telegraf over heka"
telegraf seems to have good overlap with heka:
https://github.com/mozilla-services/heka

heka seems to have the InfluxDB 0.9.x+ line protocol almost complete.
https://github.com/mozilla-services/heka/pull/1574
https://github.com/mozilla-services/heka/pull/1595

what is the advantage of telegraf over heka?
Perhaps it would be nice to include that information in the readme.

thanks.

[2015-07-05 14:05] steverweber commented on #33
I did what @dennisjac said.  needed to store the previous state and calc the deltas.

Here is one i did for heka, its in `lua` not `go` but perhaps some of the logic is still helpful.
https://github.com/mozilla-services/heka/blob/dev/sandbox/lua/filters/procstat.lua

[2015-07-06 22:15] dever860 opened #51 "Changelog references Influxdb repo issues/pull requests instead of telegraf repo"
Changelog references Influxdb repo issues/pull requests instead of telegraf repo

https://github.com/influxdb/telegraf/blob/bbc6fa57fa6d594e8095107eb74860e6c239b23c/CHANGELOG.md
[code]
Should be:
[code]

[2015-07-06 23:10] toddboom commented on #51
Right you are!

[2015-07-06 23:11] #51 closed

[2015-07-06 23:16] toddboom commented on #36
@luinav this should be resolved in `v0.1.2`, but a few changes in the `init.sh` didn't get made, but those will be fixed in `v0.1.3`.

[2015-07-06 23:16] #36 closed

[2015-07-06 23:18] toddboom commented on #37
i mentioned this also in #36 - this should be resolved in v0.1.2, but a few changes in the init.sh didn't get made, but those will be fixed in v0.1.3.

[2015-07-06 23:18] #37 closed

[2015-07-07 12:40] marcosnils commented on #48
Interesting. I'd like to hear @otoolep and @pauldix opinion about this.

My first guessing is that telegraf is good for storing things from multiple sources into InfluxDB whether Heka seems like a generic processor from multiple inputs and outputs. This seems like a constraint because all metrics telegraf collects are optimized for Influx features (batching, tags & cq's mainly).

Anyway's it's jus

[2015-07-07 15:26] vic3lord commented on #38
:+1:

[2015-07-07 22:43] otoolep commented on #48
I don't know much about Heka, so can't really comment. Telegraf doesn't store data per-se, but is mostly for writing data to InfluxDB, collected from various sources. Of course, it's much newer than Heka.

[2015-07-08 21:11] jipperinbham commented on #38
:+1:

Has work started on this or are you looking for some help/ideas?

In another project similar to this, we use In/Out channels to wire up the message communication and defined a standard Msg struct to be passed along. It seems to work well for that project so didn't know if something similar would be good here as well.

[2015-07-08 21:49] pauldix commented on #38
We haven't started work on this and are definitely looking for help. We want to be able to to output to one or more output sinks like Kafka or InfluxDB or Riemann

[2015-07-09 16:59] zepouet commented on #24
Hello

@evanphx is it possible to use an unix socket to do communication between differents langages ?  I think it is a good way to have an universal plugin to gather metrics ?
The problem is for other environnement like windows... but for the moment I use it under MacOS and Linux.

If you like the idea, i could do a pull request about it.

Best regards,
Nicolas

[2015-07-09 17:02] zepouet commented on #26
@benfb else to stop the processus if no configuration is given.

[2015-07-10 07:37] anarcher opened #58 "Error in `docker` plugin: invalid integer."
[code]

I am not sure that value is right or not. It is too long for int. But  `telegraf` seems like that can't send metrics to `influxdb`. Maybe cause of this error.

I ran and tested `telegraf` on `docker` container.  Is it not good for gathering metrics?

[code]

[2015-07-11 14:31] nstott commented on #39
Looking at the statsd spec from here:

https://github.com/b/statsd_spec

@pauldix are you thinking of a line format something like this?
[code]
where the server adds the timestamp either when it receives the message, or perhaps in the case of counters, adding the timestamp when it flushes to a sink might be more appropriate

[2015-07-12 18:26] jhofeditz opened #61 "1000+ series per host causes slow performance in influxdb"
I'm running a test using influxdb 9.2 nightly and telegraf 0.1.3 on a single host with SSD. I am sending metrics from 500 hosts to influxdb using telegraf's default plugins and config. Within a week, influxdb begins returning 500 timeout errors to all requests. The database size is 340G with 137,269 unique series.

In https://influxdb.com/docs/v0.9/concepts/schema_and_data_layout.html, it mentions

[2015-07-12 19:19] otoolep commented on #61
@jhofeditz -- can we see your InfluxDB config file?

[2015-07-12 22:39] jhofeditz commented on #61
https://gist.github.com/jhofeditz/934d8e7f296be1501707

[2015-07-13 16:12] NicolasLM opened #62 "Redis protocol uses "\r\n" as line ending"
Redis protocol actually needs `\r\n` as line ending. Newer versions of redis seem to handle both, however older ones like 2.4, which is the one in Wheezy repository, hang when given only `\n`

See [redis protocol documentation](http://redis.io/topics/protocol)

[2015-07-13 16:48] jhofeditz commented on #61
Re-reading the schema and data layout page, is the limit referring to the number of unique values per tag (host=) or the total number of unique tag series (host=,name=,serial=)? My maximum unique values per tag is only around 5,000.

If having >100,000 series is ok, then this is a InfluxDB issue and I'll open the issue there.

[2015-07-14 23:07] steverweber commented on #48
http://hekad.readthedocs.org/en/v0.10.0b0/
/perhaps its worth a closer look/ lessons learned in heka could likely help telegraf.

[2015-07-15 12:01] thecodeassassin opened #65 "Support for libvirt/kvm"
Are there plans to support polling metrics from libvirt/kvm ?

[2015-07-15 14:30] schmurfy opened #66 "not reinventing the wheel"
If that is something that you are interested in there is already a nice library called sigar which is cross platform and provide most of the system data: cpu, memory, network interfaces, processes, ...
( https://github.com/hyperic/sigar )

I currently use it successfully for a similar project on:
- FreeBSD
- Linux
- OpenBSD
- Illumos (not entirely)

(it also supports Mac OS X, my development serve

[2015-07-15 16:24] jhofeditz commented on #61
D'oh! I might need to change the subject to "telegraf running 100x on one host causes slow performance" :fearful: It turns out that on one server puppet was spawning lots of telegraf clients because /etc/init.d/telegraf status said that telegraf was stopped.

We'll watch to make sure that doesn't happen again. We wiped the database and are now going to give things another week to see how it perfor

[2015-07-15 16:24] #61 closed

[2015-07-15 18:01] jhofeditz opened #67 "Add logrotate script for telegraf.log to rpm/deb packaging"
something like this in /etc/logrotate.d/telegraf would work for redhat/centos (rotating weekly, keep for a month):
    /var/log/telegraf/telegraf.log {
        missingok
        nocreate
        postrotate
	    /sbin/service telegraf restart  > /dev/null 2>/dev/null || true
        endscript
    }

[2015-07-16 08:12] liyichao commented on #39
It may be good if telegraf can add hostname as a tag.

[2015-07-16 16:21] pauldix commented on #39
@nstott yeah, that's exactly what I was thinking. Telegraf should specify timestamps when it flushes. In general when writing to InfluxDB it's best to specify timestamps. That way if there is a partial write in a cluster, you can just write again and it's idempotent.

@liyichao the issue is that you'd have one telegraf server collecting all the metrics for all of your hosts (like what you do with

[2015-07-16 17:30] nstott commented on #39
I'll see if i can knock something out in the next few days for this

[2015-07-16 22:36] kureikain opened #68 "Fail to run go get?"
I try to write my first plugin and want to build it manually. When I run go get in `~/go/src/github.com/influxdb/telegraf/cmd/telegraf`

[code]

Any ideas?

[2015-07-16 23:00] alvaromorales opened #69 "Reload configuration without downtime"
Are you planning on supporting config reloading? `nginx -s reload` comes to mind.

I'm thinking of a use case where telegraf is monitoring a cluster of servers. Some nodes fail and new ones are added -- the config needs to be updated.

A reload command would happen within the gather interval so metrics would not be dropped.

[2015-07-16 23:37] kureikain commented on #68
My bad, I have to run

[code]

[2015-07-16 23:37] #68 closed

[2015-07-17 02:51] farss opened #70 "Openstack vm support?"
libvirt support?

[2015-07-17 08:49] discoduck2x commented on #30
+1

[2015-07-17 09:29] schmurfy commented on #66
nevermind, that's GPL...
God I hate this license.

[2015-07-17 09:33] schmurfy commented on #66
.. or not, they switched to apache so it can be used.

[2015-07-21 20:31] #62 closed

[2015-07-22 11:40] kotopes opened #74 "redis servers is not tagged to multiple ports"
in config:
[redis]

servers = ["10.0.0.13:6386", "10.0.0.13:6380", "10.0.0.13:6381", "10.0.0.13:6382", "10.0.0.13:6383", "10.0.0.13:6384", "10.0.0.13:6385"]

------------------------------------
in influx 0.9.1:

...
redis_total_commands_processed
...

....
name: redis_total_commands_processed
tags: host=wpr01
time                            value
----                            -----
2015-07-22T1

[2015-07-22 14:01] ajohnstone opened #75 "Automated builds... No circleci"
Automated builds... No circleci

[2015-07-22 21:31] kotopes commented on #74
i add code before tags:

		_, rPort, err := net.SplitHostPort(addr.Host)
		if err != nil {
			rPort = defaultPort
		}
		tags := map[string]string{"host": addr.String(), "port": rPort}

[2015-07-23 14:07] discoduck2x commented on #30
Any comments atleast!?

[2015-07-24 22:49] mjdesa opened #77 "[feature request] On launch telegraf should create `telegraf` database if it doesn't already"
Currently the user has to create a `telegraf` database manually. The tool should do this for us.

[2015-07-25 09:45] damstux opened #78 "how to compile from sources ?"
Can you explain how to compile from sources ?

I have installed GO and GVM, but the next steps are not clear for me .. how to build .deb ?

Thanks !

[2015-07-25 11:00] #78 closed

[2015-07-27 13:30] jbrantly commented on #30
+1

[2015-07-28 10:38] dschallis opened #80 "Disabling measurements in plugins?"
It's not clear if this is possible (but it'd be a nice feature if not), but is there a way to only select certain measurements from a plugin?

E.g. if I'm only interested in the _mem_free_ and _mem_used_ measurements, can I avoid storing the 9 other _mem__ measurements that I'm not using?

[2015-07-28 10:40] dschallis commented on #80
Ignore me, I somehow failed to read that section of the docs :)

[2015-07-28 10:40] #80 closed

[2015-07-29 22:52] toddboom commented on #77
+1

[2015-08-01 02:44] skynet opened #83 "Aggregate and Analyze Syslog"
Is it possible to do with Telegraf what Fluentd does to aggregate and analyze Syslog with InfluxDB?

http://www.fluentd.org/guides/recipes/syslog-influxdb

[2015-08-03 11:48] mindscratch opened #84 "error getting docker info: No such file or directory"
Running telegraf 0.1.4 on CentOS 7 with Docker 1.7.1 fails to gather docker metrics. What I get is

error getting docker info: open /sys/fs/cgroup/cpuacct/docker/<long hash>/cpuacct.stat: no such file or directory

I tried running `find / -name docker -type d` and only found:

/run/docker
/var/lib/docker
/etc/docker
/usr/libexec/docker

Perhaps the cgroup paths are different in CentOS/RHEL 7?

[2015-08-03 21:14] discoduck2x commented on #17
+1 , any solution or workaround?

[2015-08-04 15:53] srfraser commented on #67
Added https://github.com/influxdb/telegraf/pull/87 before spotting this. Either file would be good.

[2015-08-05 13:37] ajohnstone opened #90 "Add Docker labels as tags."
With  telegraf it only supports tags in the form of id, name and command.
However doesn't import the actual labels associated to the container.

https://docs.docker.com/userguide/labels-custom-metadata/.

This is quite important with things like ECS.

[2015-08-05 21:06] sparrc commented on #74
@kotopes I believe this can now be closed due to closing the pull request, let me know if there are any more problems!

[2015-08-05 21:06] #74 closed

[2015-08-05 22:04] sparrc commented on #66
@schmurfy I don't think that this fits as an "issue", the purpose of telegraf is to be a Go implementation of different services logging into InfluxDB (or other outputs). From what I can tell, sigar doesn't replace telegraf, and there's no reason they can't run side-by-side.

[2015-08-05 22:04] #66 closed

[2015-08-05 22:06] sparrc commented on #40
@haomingz at the moment there is not, telegraf is more meant for aggregating local data, but we could consider that for a future enhancement.

Could you provide more details on what you'd be looking for?

[2015-08-05 22:09] sparrc commented on #30
At the moment, no, but it could be considered for a future enhancement. What are the sorts of services you're looking for monitoring?

[2015-08-05 22:10] sparrc commented on #31
Sounds like a bug, will look into it

[2015-08-05 22:12] sparrc commented on #26
I would say the solution should be to fail and exit with a better error message if no config file is specified, marking as a bug

[2015-08-05 22:12] sparrc commented on #70
@farss I don't understand the issue, what's stopping you from running telegraf on an openstack VM?

[2015-08-05 22:14] sparrc commented on #75
This is done, short unit tests are now running in circleci, see https://circleci.com/gh/influxdb/telegraf

[2015-08-05 22:14] #75 closed

[2015-08-05 22:15] sparrc commented on #84
@mindscratch can you please run `docker ps` and `docker version` ?

[2015-08-05 22:18] sparrc commented on #65
@thecodeassassin Yes! There are plans to support libvirt performance metrics

[2015-08-05 22:19] sparrc commented on #70
duplicate of https://github.com/influxdb/telegraf/issues/65

[2015-08-05 22:19] #70 closed

[2015-08-05 22:23] sparrc commented on #41
this was closed by PR 45, thanks!

[2015-08-05 22:23] #41 closed

[2015-08-05 22:23] sparrc commented on #25
@skynet I believe this is solved, please re-open if that's not the case!

[2015-08-05 22:23] #25 closed

[2015-08-05 22:24] sparrc commented on #17
@discoduck2x not yet, but marking this as a bug.

[2015-08-05 22:26] sparrc commented on #24
Sounds like a good idea, marking it as an enhancement request

[2015-08-05 22:28] sparrc commented on #58
Adding a bug label, will investigate

[2015-08-05 22:29] #44 closed

[2015-08-05 22:30] #67 closed

[2015-08-05 22:31] sparrc commented on #33
Sounds like a good idea, should probably be integrated into the existing system plugin

[2015-08-05 22:33] sparrc commented on #69
sounds like a good idea, but not a quick fix!

[2015-08-05 22:34] sparrc commented on #90
Sounds good, will investigate

[2015-08-05 22:36] sparrc commented on #83
+1, good idea for another plugin, adding as an 'enhancement'

[2015-08-05 22:59] alvaromorales commented on #39
+1

[2015-08-05 23:05] discoduck2x commented on #30
i would say initially have a plugin that supports any windows performance counter , including wildcard on insstance name , for example
\process(*)\% Processor Time
\process(sql*)\% Processor Time
there are some attempts out there which could call for inspiration, but the collectm on github uses a node js wrapper for typeperf which is really nonintrusive cpuwise. other flavors theres collectw that

[2015-08-05 23:57] mindscratch commented on #84
Docker 1.7.1

The output from docker ps isn't as each type get because it's on a separate
network (i can't just copy/paste).
On Aug 5, 2015 6:15 PM, "Cameron Sparr" <notifications@github.com> wrote:

[2015-08-06 07:56] schmurfy commented on #66
you completely missed the point... Have you looked at it ? The point of sigar would be to provide you the system data (cpu, ram, network usage, ...), not to replace your project or else there would indeed be no point in my issue.

libsigar by itself does one thing: collect data, that is all.
I posted this because too many projects code again and again and again these part and but I don't really ca

[2015-08-06 09:26] ajohnstone opened #93 "Unable to build telegraf, yet circle ci says the last build of master succeeds?"
Last build... https://circleci.com/gh/influxdb/telegraf/47
Not sure if I am missing something?

Using instructions from https://github.com/influxdb/telegraf/wiki/Building-from-source

[code]

[2015-08-06 15:40] sparrc commented on #66
I believe what you're suggesting is replacing gopsutil: https://github.com/influxdb/telegraf/tree/master/plugins/system/ps with a third-party application that does not provide native go bindings. I'm not sure I see the benefit of what you're getting at, but would be happy to review a PR if you feel strongly that this would be a better system :-)

[2015-08-06 15:42] sparrc commented on #93
Thanks for the report, looking into it

[2015-08-06 15:45] sparrc commented on #93
@ajohnstone can you provide your OS?

[2015-08-06 16:24] sparrc commented on #93
confirmed that Ubuntu 14.04 is having this issue, I don't know why the circleci container doesn't capture that, will need to be investigated

[2015-08-06 19:07] sparrc commented on #93
this should be fixed, the problem appears to be with a gopkg.in package and it wasn't caught because of circleci build environment caching

[2015-08-06 19:07] #93 closed

[2015-08-06 19:31] sparrc commented on #24
see PR #92

[2015-08-06 19:31] #24 closed

[2015-08-06 19:40] ajohnstone commented on #93
Great thanks :+1:

[2015-08-06 19:56] ajohnstone opened #95 "Unable to package telegraf due to missing logrotate -- cp: cannot stat ‘etc/logrotate.d/telegraf’: No such file or directory"
[code]

[2015-08-06 20:06] sparrc commented on #95
@srfraser can you comment on this? I believe it might be related to PR #87

[2015-08-06 20:10] sparrc commented on #95
looks like PR #87 wasn't complete, we shouldn't have merged that, I'm going to create a new PR to revert it

[2015-08-06 20:13] srfraser commented on #95
Apologies, I must have missed the actual logrotate config file - it's in my own copy. A simple option would be to add etc/logrotate.d/telegraf, containing something like

/var/log/telegraf/telegraf.log
{
        rotate 6
        daily
        missingok
            notifempty
            compress
    }

[2015-08-06 20:53] sparrc commented on #95
no problem @srfraser, my fault for merging it, if you want to send up another PR with the necessary file I'd be happy to re-merge it!

[2015-08-06 20:53] #95 closed

[2015-08-07 06:29] JulienChampseix opened #97 "Sending metrics to sensu agent"
New features, be able to send datas output to sensu agent

[2015-08-07 09:20] schmurfy commented on #66
Yes I missed it, they are similar, the way projects dependencies are handled in pretty chaotic ;)

[2015-08-07 13:57] sparrc commented on #97
Thanks for the suggestion, will investigate once PR #59 is merged

[2015-08-07 14:59] jipperinbham commented on #97
I'd be happy to work on this as I've had to integrate services with the Sensu API recently

[2015-08-07 15:04] sparrc commented on #97
@jipperinbham that would be much appreciated! thanks!

[2015-08-07 16:51] #26 closed

[2015-08-07 17:43] beckettsean opened #99 "update integer output to new line protocol format"
With 0.9.3, the line protocol has changed for integers: https://github.com/influxdb/influxdb/pull/3526

This change means that current telegraf users who upgrade to 0.9.3 cannot write a number of values, because they are integer fields in the db but the current telegraf sends them without the trailing `i`, meaning they parse as floats. That causes a type mismatch and a write failure.

[2015-08-07 17:45] beckettsean commented on #99
https://github.com/influxdb/influxdb/issues/3589 for the relevant issue

[2015-08-07 20:59] jipperinbham commented on #97
@JulienChampseix how were you thinking telegraf could send metrics to sensu?

[2015-08-07 22:13] sparrc commented on #99
To summarize an email thread, this will simply require a re-build of telegraf using the 0.9.3 release of InfluxDB.

Currently the head of influxdb will not work with telegraf unless you build it from source.

[2015-08-08 16:58] steverweber commented on #48
I think i'll reopen this because some good code is in heka,  A review of heka will likely help this project!

For example telegraf might like to investigate the generic logstreamer.
https://hekad.readthedocs.org/en/v0.9.2/pluginconfig/logstreamer.html#logstreamerplugin

https://github.com/mozilla-services/heka/tree/dev/plugins
https://github.com/mozilla-services/heka/tree/dev/logstreamer

cheers

[2015-08-08 23:17] srfraser opened #101 "package.sh swaps to master branch if .git/config contains upstream"
If you wish to test whether package.sh works on a different branch, you must make sure that .git/config does not contain a branch definition, such as:
[code]
If this definition exists, then package.sh swaps to the master branch and builds that.

Without that entry, the `git pull` fails (see below), but package.sh carries on with the current branch, allowing the test package build to work.

[code]

[2015-08-09 21:54] sparrc commented on #101
thanks for the report, I need to work on a feature to get circleci cross-compiling all pushes (branches and forks)

[2015-08-09 22:27] sparrc commented on #48
It's true that there is a lot of overlap between Heka and telegraf, I would also agree that some of their plugins (especially logstreamer & statsd) could be integrated in a similar fashion into telegraf.

That being said, I'm going to close this issue and instead open a new issue for making a plugin similar to the logstreamer, as we already have an open issue for making a statsd-style aggregator.

[2015-08-09 22:27] #48 closed

[2015-08-09 22:30] sparrc opened #102 "Create a "logstreamer" plugin"
Inspired by issue #48, create a plugin for aggregating and pushing data from log files, allowing user-defined regex filters.

This would behave in a similar manner to heka's logstreamer plugin: https://hekad.readthedocs.org/en/v0.9.2/pluginconfig/logstreamer.html#logstreamerplugin

/cc @steverweber

[2015-08-10 13:15] maxekman commented on #84
This also happens to me with boot2docker (OS X) and Docker v1.7.1.

[2015-08-10 15:36] sparrc commented on #84
@maxekman, The docker plugin is not supported on OSX, because it is not possible to poll for docker information from the OSX, telegraf would have to be running from within the boot2docker VM for it to work.

I also realize that the supported plugins for various OSes need to be better documented, this is going to be a point of future work.

[2015-08-10 15:55] maxekman commented on #84
Thanks for explaining. Then it will at least hopefully work in the deployment at CoreOS.

--

Max Ekman
Software Engineer

+46 708 710504
max@looplab.se

＞ looplab.se

[2015-08-10 16:02] aheusingfeld commented on #84
@sparrc I seem to have the same problem on An AWS EC2 instance running docker 1.6.2! Is there any documentation on which volumes telegraf needs - might also be dependant on the OS, I assume

[2015-08-10 16:12] sparrc commented on #84
@aheusingfeld This is something I'm looking into at the moment, unfortunately the docker functionality is completely based on the gopsutil package, which hasn't been the most stable option in terms of cross-platform functionality and build: https://github.com/shirou/gopsutil

[2015-08-11 01:26] sparrc commented on #77
see commit https://github.com/influxdb/telegraf/commit/c0cef8ca43b3d7dcf1e0235ac8aff9db5e9c8183

[2015-08-11 01:28] sparrc commented on #101
@srfraser do you mean that the `git pull` failure is "expected behavior"? ie, when `git pull` fails, package.sh builds from the intended branch?

[2015-08-11 01:29] sparrc commented on #101
PS: circleci should now be making debs and rpms, see the "artifacts" tab on any successful build

[2015-08-11 01:29] sparrc opened #104 "Telegraf should report version number on startup"

[2015-08-11 01:31] sparrc opened #105 "Telegraf Ctrl-C lag"
When ^C'ing Telegraf, there is quite a bit of lag, is should be able to exit immediately

[2015-08-11 08:39] srfraser commented on #101
Yes, when the `git pull` fails, it builds from the intended branch. When it succeeds (because the branch config is there), it builds from master.

It would still be useful to test the building of debs and rpms before it reaches circleci

[2015-08-11 16:04] sparrc commented on #101
@srfraser, it appears that `go get ./...` switches to the master branch IFF there is an upstream branch set.

I don't know why it does that, but the only solution I could come up with is to unset the remote branch before running that command, and log a warning that it happened. Let me know what you think (see referenced commit)

[2015-08-11 17:35] alvaromorales commented on #77
Should the db name be configurable?

I've been running telegraf 1.4 and writing metrics to a database that's not named `telegraf`. If I upgrade to the next version, I'm going to have to migrate all my data to a new db. Happy to PR

[2015-08-11 18:43] srfraser commented on #101
There could be an optional argument to package.sh, specifying the branch.  If not given, set to master, then after `go get ./...` then `git checkout branchname`.  It might be more work than desired for this use case, though.

[2015-08-11 19:27] sparrc commented on #101
I agree but I think it's a bit too much for this use-case, as it stands the script doesn't really have any arg parsing, I would rather keep it simple, especially since you can now get the .deb and .rpm files via circle

[2015-08-11 19:27] #101 closed

[2015-08-11 19:59] sparrc commented on #77
@alvaromorales yes, it should be, I'll fix that now

[2015-08-11 20:05] #77 closed

[2015-08-11 20:23] #104 closed

[2015-08-11 20:28] sparrc commented on #105
I was mistaken, it's a non-issue

[2015-08-11 20:28] #105 closed

[2015-08-11 20:29] sparrc commented on #99
closing this out because it should be fixed with any newer build of telegraf

[2015-08-11 20:35] beckettsean commented on #99
@sparrc is there a plan to issue new telegraf builds in conjunction with new influxdb builds?

[2015-08-11 20:37] sparrc commented on #31
I'm going to close this because Telegraf doesn't bind to any ports, and therefore there is no real reason to disallow this. As the plugins expand, we might integrate a UDP statsd-style listener, in which case we would have to prevent another from starting up based on the bind port.

[2015-08-11 20:37] #31 closed

[2015-08-11 20:40] sparrc commented on #99
@beckettsean Not at the moment, but the CircleCI job is now building binaries as well as .deb and .rpm files, so one can find an updated package there if need be https://circleci.com/gh/influxdb/telegraf/tree/master

I believe that it was decided that Telegraf would release on it's own schedule unless there was a release of another product (such as InfluxDB) that introduced a breaking change.

[2015-08-11 20:41] sparrc commented on #17
Closing because this is a duplicate of issue #30, Windows is not currently supported

[2015-08-11 20:41] #17 closed

[2015-08-11 20:52] beckettsean commented on #99
@sparrc I agree with and support the decision about releases in general, but this issue was about a specific case of the "breaking change" mentioned. I would like to know that we will have a coordinated release of telegraf and InfluxDB with the integer write change. An issue seems like a good place to track that so we don't forget on launch day.

[2015-08-11 21:19] sparrc commented on #99
@beckettsean fair enough, I'll keep it open

[2015-08-12 09:54] JauntyWard opened #108 "Setting PerCPU"
In the Cpu plugin, is there any way to set the PerCPU parameter through configuration? It appears as though this is hardcoded and cannot be altered through configuration.

[2015-08-12 20:19] sparrc commented on #108
Currently there is no way to set this, but I can work on a change to do that.

[2015-08-13 03:44] SkyRocknRoll commented on #39
+1

[2015-08-13 05:58] zp-markusp commented on #39
+1

[2015-08-13 07:31] JulienChampseix commented on #97
I was thibkibg like collectd is doing. Having telegraf & sensu agent localy on the same server and teleegraf sending data to sensu which will use handler for store data into influxdb. In this case sensu will be used fir alerting part (which is currently not planned in influxdb tools stack).

[2015-08-13 07:34] JulienChampseix commented on #90
Will be usefull this feature because labels are really usefull in docker. Do you progress on this enhancement ?

[2015-08-13 15:19] sparrc commented on #90
I haven't yet, as I've been working on merging PRs and other more basic stability issues with Telegraf.

[2015-08-13 20:02] sparrc commented on #108
@JauntyWard this is now a configurable option of the cpu plugin, thanks for the report!

[2015-08-13 20:02] #108 closed

[2015-08-13 20:54] sparrc commented on #33
this has been implemented, thanks @jpalay!

[2015-08-13 20:54] #33 closed

[2015-08-14 15:41] gavinzhou opened #113 "disk invalid number"
I get this log

2015/08/15 00:39:45 Error in plugins: unable to parse 'disk_total,fstype=rootfs,host=influxdbSrv03,path=/ value=10432581632i': invalid number
2015/08/15 00:39:55 Error in plugins: unable to parse 'disk_total,fstype=rootfs,host=influxdbSrv03,path=/ value=10432581632i': invalid number

[code]
I use telegraf 0.1.5

[2015-08-14 15:48] sparrc commented on #113
This is an issue with InfluxDB 0.9.2, I should have made this more clear in the README, but:

InfluxDB <= 0.9.2 requires Telegraf <= 0.1.4
InfluxDB > 0.9.2 requires Telegraf >= 0.1.5

Apologies for the confusion, I'm going to update the README now and keep links to version 0.1.4

[2015-08-14 16:04] gavinzhou commented on #113
Thank you

[2015-08-17 07:22] gavinzhou commented on #113
I update influxdb to 0.9.3
[code]
but I  get same error messages

[code]

[code]

[2015-08-17 07:47] gavinzhou commented on #113
I test my config no problem
[code]

[code]

[2015-08-17 14:22] steverweber commented on #38
some help perhaps:
https://github.com/mozilla-services/heka/blob/31a1bf9a1ad080e3ec8ec71ff3cefccdb609dc09/plugins/kafka/kafka_output.go

[2015-08-17 15:08] sparrc commented on #113
@gavinzhou I believe the problem is that your DB is still running 0.9.2 even though your shell is a 0.9.3 nightly, from the first line of the banner:
[code]
@beckettsean @gunnaraasen can you confirm?

[2015-08-17 18:40] beckettsean commented on #113
@gavinzhou I can confirm @sparrc is correct. You are running the 0.9.2 version of the database, using the 0.9.3-nightly version of the CLI to connect.

Please upgrade your running database process to a 0.9.3 nightly if you want to use telegraf 0.1.5, or stay on 0.9.2 and run telegraf 0.1.4.

[2015-08-17 18:40] #113 closed

[2015-08-17 18:40] beckettsean commented on #113
For instance, running the most recent nightly as both the shell and the daemon, you can see that my version outputs match:

[code]

[2015-08-18 03:14] gavinzhou commented on #113
I miss update my influxdb
thank you

[2015-08-18 21:09] zepouet opened #119 "Godeps : need to remove _workspace from git ?"
Hello,

I just updated my local git repository and I understand you use Godeps now. Nice idea too !

For information, when I ran make, I had a blocking error.

[code]

So I had to delete Godeps/_workspace

[code]

I don't know Godeps and I am sure it must be commited too.

My environment is MacOSX Last update.

Thanks a lot.
Best regards,

[2015-08-18 21:26] sparrc commented on #119
@zepouet Thanks for the report, it's possible that we may also need to add `godep restore` in the makefile

[2015-08-18 21:28] sparrc commented on #119
@zepouet, are you able to reproduce? If so, could you test out running `godep restore` like in the change I just pushed?

[2015-08-18 21:44] zepouet commented on #90
Hello, I will try to do it because I worked with the docker api few times ago.

[2015-08-18 21:50] sparrc commented on #119
nevermind, I've found the issue, the Godeps/_workspace/pkg directory was accidentally committed by me, fixing that now

[2015-08-18 21:53] zepouet commented on #119
thanks !

[2015-08-18 21:54] #119 closed

[2015-08-18 21:54] sparrc commented on #99
This is fixed and ready in 0.1.5

[2015-08-18 21:54] #99 closed

[2015-08-19 09:38] srfraser opened #121 "Telegraf 0.1.5 sample config not functional"
Installing from telegraf_0.1.5_amd64.deb and running `telegraf -sample-config` the output contains the old-style

[code]

README.md contains the required configuration format:
[code]

[2015-08-19 09:59] srfraser opened #122 "telegraf 0.1.5 panics talking to 0.9.3-rc1 on Ubuntu 14.04"
Installing 0.1.5 from the provided .deb, telegraf fails to start. It's configured to talk to InfluxDB 0.9.3-rc1

2015/08/19 10:35:35 Starting Telegraf (version 0.1.5)
2015/08/19 10:35:35 Loaded outputs: influxdb
2015/08/19 10:35:35 Loaded plugins: cpu disk docker io mem mongodb mysql net postgresql redis swap system
2015/08/19 10:35:35 Tags enabled: host=myhostname
panic: runtime error: invalid me

[2015-08-19 10:07] srfraser commented on #121
Ok, so if you don't have the `outputs` section then the log file contains:

[code]

But `telegraf -config /etc/opt/telegraf/telegraf.conf -test` works, and produces output.

If you specify the `outputs` section then the `-test` option no longer works:
[code]

[2015-08-19 10:59] srfraser commented on #122
Definitely the disk plugin. Building from HEAD doesn't cause this error, so maybe it's fixed already?

[2015-08-19 13:48] srfraser commented on #122
It appears to be working not because I built it from HEAD, but because I was running as a different user.

When running DiskUsage, there is a syscall.Statfs call. This is trying to run statfs against a fuse filesystem:

gvfsd-fuse on /run/user/1000/gvfs type fuse.gvfsd-fuse (rw,nosuid,nodev,user=simon)

[pid 25352] statfs("/run/user/1000/gvfs", 0xc2080dcc40) = -1 EACCES (Permission denied)
[pid 25

[2015-08-19 14:01] srfraser commented on #122
Opinions on adding a filter to plugins/system/ps.go's DiskUsage so that it doesn't examine fuse.* cgroup tmpfs, etc? Quickest to make it hardcoded, I'm trying to imagine a situation where you'd need those values.

[2015-08-19 16:28] sparrc commented on #121
@srfraser did you download the new 0.1.5 deb? (uploaded within the last 24 hours)

[2015-08-19 16:31] srfraser commented on #121
This is from a .deb I downloaded about 8 hours ago

[2015-08-19 16:34] sparrc commented on #121
Okay, thanks for the report, looking into it

[2015-08-19 21:11] sparrc commented on #121
This should now be fixed, please download the 0.1.5 debs again and re-open if needed

[2015-08-19 21:11] #121 closed

[2015-08-19 21:15] sparrc commented on #122
@srfraser rather than removing looking at those entirely (honestly I can't think of a situation either, but I'm also hesitant to filter it out in case someone would like to see fuse cgroups), couldn't we just capture the error where it's being called and ignore, or raise a debug log message that there is a permission error?

[2015-08-19 21:33] srfraser commented on #122
The standard check for err is there, I can have a look at why it's getting a SEGV instead of being caught

[2015-08-20 11:29] joakimberglund opened #125 "mysql_bytes_received gives invalid number when run"
./telegraf -config telegraf.toml
2015/08/20 13:24:28 Starting Telegraf (version 0.1.5)
2015/08/20 13:24:28 Loaded outputs: influxdb
2015/08/20 13:24:28 Loaded plugins: cpu mysql
2015/08/20 13:24:28 Tags enabled: host=<host>
2015/08/20 13:24:28 Error in plugins: unable to parse 'mysql_bytes_received,host=<host>value=238051953531i': invalid number

But if I run it with -test
./telegraf -config teleg

[2015-08-20 13:45] sparrc commented on #125
@joakimberglund, it looks like you're running Influx 0.9.2, please upgrade your influx DB or use Telegraf 0.1.4

[2015-08-20 13:45] #125 closed

[2015-08-20 13:52] sparrc commented on #122
closed by #124

[2015-08-20 13:52] #122 closed

[2015-08-20 15:51] ojan opened #126 "nginx plugin missing server value"
Hello,

With Telegraf 0.15 and InfluxDB 0.9.3 RC1, when i activate the nginx plugin with this configuration

[code]

I get this response with telegraf -config /etc/opt/telegraf/telegraf.conf -test

[code]

And then find in the telegraf.log

[code]

Bug or misconfiguration on my side ?

[2015-08-20 16:41] sparrc commented on #126
Looks like a bug to me, I'll look into it

@ojan in the meantime, try removing `http://` from your url like below and see if that gives you a valid server tag.
[code]

[2015-08-20 16:57] sparrc commented on #126
nevermind, the issue is due to not catching an error from net.SplitHostPort, I'll have a PR up soon

[2015-08-20 16:58] sparrc commented on #126
@ojan the solution will be to add a port to your url, I believe this should work:
[code]

[2015-08-20 17:16] ojan commented on #126
Works for me. thanks for the workaround

[2015-08-20 22:42] skynet opened #128 "system_load measurement missing"
Missing system_load measurement with a new telegraf-0.1.5-1.x86_64.rpm and InfluxDB v0.9.3-rc1

[2015-08-20 22:59] skynet commented on #128
Looks like
[code]
was removed from telegraf.conf
Any special reason for this change?

[2015-08-20 23:28] sparrc commented on #128
There was no particular reason to remove it, I just wanted telegraf's default config entries to be fairly stream-lined and without external dependencies (such as a mysql server). So that being said, system load is probably one that actually should stay.

I'll add it back in for the next release :+1:, thanks for the feedback!

[2015-08-21 02:48] skynet commented on #128
Thanks for the hard work. Really appreciated.

[2015-08-21 03:09] skynet commented on #126
I get the same:

`Error in plugins: unable to parse 'nginx_active,host=w1www1use.localdomain,server= value=23i': missing tag value`

[2015-08-21 04:02] skynet opened #129 "telegraf-0.1.6-1.x86_64.rpm"
Any chance someone is going to build the RPM for this:

http://get.influxdb.org/telegraf/telegraf-0.1.6-1.x86_64.rpm

[2015-08-21 04:20] skynet opened #130 "mysql config"
Tried different options, but couldn't make it to work:
[code]
Any chance for a better documentation for the configuration of these plugins?

[2015-08-21 06:10] joakimberglund commented on #130
This works for me

servers = ["user:password@tcp(<mysqlservername>:3306)/"]

[2015-08-21 11:41] skynet commented on #130
That worked for me too. :+1:

[2015-08-21 16:40] sparrc commented on #129
This is my fault, there is a typo in the package name, I'll fix that now, thanks for the report

the actual package is at http://get.influxdb.org/telegraf/telegraf-v0.1.6-1.x86_64.rpm

[2015-08-21 16:44] sparrc commented on #129
Thanks much for the issue report!!

[2015-08-21 16:44] #129 closed

[2015-08-21 16:45] sparrc commented on #130
This needs to be better documented, thanks for the report

[2015-08-22 01:40] skynet opened #132 "Apache server performance plugin"
Quite interesting to notice (by looking for, and not finding it) that no one has built an apache plugin for telegraf, so far. (Apache mod_status documentation: http://httpd.apache.org/docs/2.4/mod/mod_status.html)

Or maybe I am just mistaken?

[2015-08-22 07:34] skynet commented on #132
Is it possible to add a plugin after installing telegraf (from rpm)

[2015-08-24 09:38] rplessl opened #134 "Issues on Installing telegraf_v0.1.6_amd64 on trusty"
There is an error in the newest debian package.

[code]

The Version tag must be a digit according to
   https://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Version

[2015-08-24 15:59] sparrc commented on #132
I don't think a plugin could be added after installing from rpm, you would need to build from source

[2015-08-24 16:24] sparrc commented on #134
Thanks for the report, I will fix this

[2015-08-24 16:57] skynet commented on #132
Which is a serious drawback. Even building the rpm lacks some helpful documentation. I wanted to contribute.

[2015-08-24 16:58] sparrc commented on #134
This should now be fixed, please try again with the new link on the README: http://get.influxdb.org/telegraf/telegraf_0.1.6_amd64.deb

thanks again for the issue report!

[2015-08-24 16:58] #134 closed

[2015-08-24 16:59] sparrc commented on #126
Closing this issue, the fix is in `0.1.6`, thanks for the report!

[2015-08-24 16:59] #126 closed

[2015-08-24 19:21] sparrc opened #135 "MQTT Plugin"

[2015-08-24 19:35] #128 closed

[2015-08-24 20:02] sparrc commented on #130
Hi @skynet,

I just took a look at the sample config and actually find some pretty helpful documentation:

[code]

Does that cover what you need? This can be viewed by running `telegraf -sample-config`

[2015-08-24 20:17] sparrc opened #136 "Make a -usage flag for printing plugin usage"
This would be similar to the `-sample-config` flag, but wouldn't try to print out a usable config file, just usage information for all or a subset of plugins.

[2015-08-24 20:55] #136 closed

[2015-08-24 22:12] skynet commented on #130
yes, it helps

[2015-08-25 14:27] jbfarez commented on #34
Yeah it could be a great feature ! :+1:

[2015-08-25 15:26] brunoqc opened #137 "[memcached]: unexpected line in stats response: "STAT version 1.4.14 (Ubuntu)""
[code]

telegraf v0.1.6
influxdb v0.9.3-rc2
memcached 1.4.14

[2015-08-25 15:58] pasancario commented on #40
I've some script working written in Python to retrieve information from network devices (mainly Traffic IN/OUT in interfaces).

It will be really usefull, if we can use Telegraf also as a daemon to work as a collector from remote devices publishing stats in SNMP.

Could it be possible create a Plugin, extending some SNMP library, and using Telegraph to multiple thread connection to each devices.?

[2015-08-25 16:02] sparrc commented on #137
We should probably be ignoring the version line, I'll have a fix for this shortly

[2015-08-25 16:28] sparrc commented on #137
@brunoqc

I haven't been able to reproduce this issue, can you please startup memcached in verbose mode `memcached -vvv -d` and send me the full output of your telegraf command like so:

[code]

[2015-08-25 17:19] skynet commented on #130
any hint on how do we tag each server? tx

[2015-08-25 17:29] sparrc commented on #130
@skynet, that is not supported at the moment, could you open a separate issue for tagging each server with something like a `mysql_server=` tag?

[2015-08-25 17:29] skynet commented on #130
Yes, thanks!

[2015-08-25 17:31] skynet opened #138 "MySQL tagging"
Config does not include a method for tagging mysql servers:
[code]
See https://github.com/influxdb/telegraf/issues/130

[2015-08-25 17:31] #130 closed

[2015-08-25 17:48] brunoqc commented on #137
[code]

[code]

[code]

[2015-08-25 17:57] brunoqc commented on #137
I think it's because `STAT %s %s\r\n` doesn't match `STAT version 1.4.14 (Ubuntu)` on
https://github.com/influxdb/telegraf/blob/bd85a36cb1e88450bea2792e989fa8074b5798a4/plugins/memcached/memcached.go#L104

errScan's value is `newline in format does not match input`

[2015-08-25 18:09] brunoqc commented on #137
I'll submit a pull request soon.

[2015-08-25 19:14] #137 closed

[2015-08-25 20:06] #138 closed

[2015-08-25 23:04] skynet commented on #138
wow! :100:

[2015-08-25 23:06] skynet opened #141 "Build Telegraf from source"
What's the proper way to build Telegraf from source. You've made some changes recently and I need to use them before next release. Besides, I would like to give it a try at building plugins.

[2015-08-26 00:09] sparrc commented on #141
There is a section in the README about this: https://github.com/influxdb/telegraf#from-source

The Makefile assumes that you have golang installed and your GOPATH setup, see here: https://golang.org/doc/code.html#GOPATH for GOPATH instructions.

let me know if you need additional info!

[2015-08-26 00:11] sparrc commented on #141
although I just realized I didn't put the 1st step in the README, which is to run `go get github.com/influxdb/telegraf`, I'll add that

[2015-08-26 00:20] #141 closed

[2015-08-26 09:14] panda87 commented on #34
+1

[2015-08-26 09:42] Kenuat commented on #34
I would definetely vote for heka as well

[2015-08-26 12:32] panda87 opened #143 "Add InfluxDB clustering support"
Hi

In telegraf conf file there is an option to put only one address.
But, in case out outage of the leader instance the telegraf clients will get an error.

It seems that the simple workaround will be the ability to put a list of possible instances in the url parameter and if the first instance get timeout (with the existing param) this will move forward to the second instance and so on.

What do

[2015-08-26 14:39] sparrc commented on #143
:+1: I think this is a good idea

[2015-08-26 21:54] panda87 opened #144 "Add JVM plugin"
Use jmx protocols

[2015-08-26 22:53] sparrc commented on #144
@panda87 could you provide more details?

[2015-08-26 22:56] sparrc commented on #132
I'm not sure I understand how you would expect to do that, the RPM ships with a pre-built binary, there is no possible way that we could support adding plugins to a binary without having the telegraf agent built from a separate repo as the plugins, which I think is an unecessary complication.

As for the RPM documentation, what would you like to see? I was thinking I should add the location of the

[2015-08-27 01:04] skynet commented on #132
You did actually provide the documentation on how to build telegraf and that's good enough for now. I'd like to see more plugins being submitted. The problem is that they all need to end up compiled at the same time with telegraf and at one point or another you will not be able to accept all pull requests. But it makes perfect sense to go with this philosophy and foundation. Maybe an automated met

[2015-08-27 04:11] sparrc commented on #132
That's pretty cool! I could imagine something like that for selecting plugins and outputs :+1:

[2015-08-27 09:26] JulienChampseix commented on #97
@jipperinbham @sparrc do you have all information for start/continue this output plugin ?

[2015-08-27 09:34] panda87 commented on #144
Yes.
in order to collect JVM metrics from JVM based applications you need to create a connector between the jmx and the jvm.
Once you connect the jmx, you are able to pull jvm metrics.
The metrics including, ThreadCount, gc, memorypool etc., what the jvm is allow.

There is a good project called jmxtrans: https://github.com/jmxtrans/jmxtrans
And also I found a Go wrapper: https://github.com/cmceni

[2015-08-27 11:40] jipperinbham commented on #97
@JulienChampseix yea, I did some testing and it will not be hard to implement. The hard thing for me is I typically run these types of things in containers (docker/rkt) and the processes can't access the host level sensu client port. Not a blocker really just more of a concern.

[2015-08-27 14:46] sparrc commented on #97
@JulienChampseix Yes but I think finding time to get this done is probably the biggest blocker ;-). At the moment kafka and statsd are bigger priorities. Sensu also presents a challenge because it's not trivial to setup like other services are (which usually just involve a `docker run` command)

As always, we happily accept pull requests :-)

[2015-08-27 15:30] sparrc commented on #144
thanks @panda87

[2015-08-27 19:58] #38 closed

[2015-08-27 22:10] rapport commented on #135
I think this is important too. I am using this currently https://github.com/jpmens/mqttcollect but suspect it won't scale up.

[2015-08-27 22:46] beckettsean opened #146 "homebrew package is still 0.1.4, not 0.1.6"
[code]

[2015-08-27 23:00] rapport commented on #135
This looks like It may work https://eclipse.org/paho/clients/golang/. Would it be possible to write a telegraf to use this and if so would you have time to do this or can you help me get started and I will have a go?

[2015-08-27 23:00] beckettsean opened #147 "[0.1.4] disk_total now output as a float64, was previously output as an int64"
After upgrade to 0.9.3 and 0.1.4 on OS X I'm getting the following:

[code]

It's entirely possible this is fixed in 0.1.6, but I can't get that via Homebrew yet.

[2015-08-28 13:13] Madhu1512 opened #148 "Elasticsearch and RabbitMQ Https Support"
Is there any plan to support Https  for RabbitMQ Plugin?.

[2015-08-28 13:14] Madhu1512 opened #149 "Elasticsearch Https support?"
Is there any plan to support Https for Elasticsearch Plugin?

[2015-08-28 13:18] Madhu1512 opened #150 "Host Uptime Metric"
Host Uptime metric is not available in current version. Is there any plan to add in next version?

[2015-08-28 15:40] sparrc commented on #150
Thanks for the suggestion, currently not planned but this shouldn't be too difficult

[2015-08-28 15:44] sparrc commented on #148
have you tried using an https url? I don't see why this wouldn't work. If it's not working, please include the error that you're getting

[2015-08-28 15:44] sparrc commented on #149
duplicate of #148

[2015-08-28 15:44] #149 closed

[2015-08-28 15:46] sparrc commented on #147
InfluxDB 0.9.3 thinks that you're giving it a float64 because there is no `i` in the line protocol message to indicate an integer. marking this as a dupe of #146

[2015-08-28 15:46] #147 closed

[2015-08-28 15:49] sparrc commented on #146
I'm going to make a 0.1.7 release that supports kafka output and update the homebrew formula to that today

[2015-08-28 17:34] prsolucoes opened #151 "I think that is a bug in telegraf"
Hi,

None of data is exported to my InfluxDB, and after see the log i get:

[code]

I only enable mysql and server outputs (mem, cpu, ...)

What can be wrong?

Edit:
Link to screenshot:
https://www.dropbox.com/s/j985ef9uwhih5wb/Screenshot%202015-08-28%2014.34.45.png?dl=0

InfluxDB: Last Version: 0.9.2
Telegraf: Last version (i made a clone and build with Go)

[2015-08-28 17:36] jipperinbham commented on #151
What version of InfluxDB and telegraf are you running?

[2015-08-28 17:38] prsolucoes commented on #151
I have edited the post with infos.

[2015-08-28 17:53] sparrc commented on #146
@beckettsean this should be fixed now, homebrew should install 0.1.7 now (also linked on the README for linux)

[2015-08-28 17:53] #146 closed

[2015-08-28 17:58] sparrc commented on #151
@prsolucoes your problem is that your version of telegraf is incompatible with your version of InfluxDB, you will need to downgrade to telegraf 0.1.4 or upgrade your Influx instance to 0.9.3

see the README for more info: https://github.com/influxdb/telegraf#linux-packages-for-debianubuntu-and-rhelcentos

[2015-08-28 17:58] #151 closed

[2015-08-28 18:17] prsolucoes commented on #151
Problems solved after update. Thanks.

[2015-08-28 18:37] gotyaoi opened #152 "aggregate plugin measurements into a single measurement"
It might make sense to aggregate the readings from a plugin into a single measurement, rather than having multiple measurements with matching timestamps. For example, the disk plugin currently sends multiple measurements (total, free, used, etc...), each containing a single field called value. This would be changed to a single measurement named disk with multiple fields (total, free, used, etc...)

[2015-08-28 18:55] beckettsean commented on #146
confirming brew now gives me 0.1.7

[2015-08-28 19:54] sparrc commented on #152
That's a very good point, I like this idea

/cc @beckettsean @toddboom what do you guys think? Any reason not to have a plugin's output contained within a single series?

[2015-08-28 20:49] beckettsean opened #154 "create DEPENDENCY_LICENSES.md in the root of the repo"
list out the dependencies, their license, and link to their license files.

[2015-08-28 20:53] beckettsean commented on #152
@sparrc I do think it makes more sense to write into a single measurement with multiple fields, rather than decoupled measurements. It makes math on the results much easier.

The downside is that it means querying `disk_free` requires pulling all the points from disk, including the other unused fields. That's potentially a lot of unnecessary I/O if users are only graphing one value. Then again, al

[2015-08-29 01:38] #154 closed

[2015-08-29 17:00] deanefrati commented on #33
Hi, sorry but i may be missing something... i don't see any percentage measurements is there anything special that needs to be done in order to turn these on?

[2015-08-30 13:37] zepouet commented on #144
Very useful to consume jmx beans from JVM.

Maybe I am wrong but Golokia is dedicated to Jolokia.
Jolokia is another product like JMXTrans to expose JVM Beans as JSON over HTTP
https://jolokia.org/

Nice ideas !

[2015-08-30 15:06] KPACHbIuLLIAnO4 commented on #132
Recently i've implemented simple apache performance plugin, you can find it in my fork of telegraf repo. You can use it if you find it useable.

[2015-08-30 15:08] skynet commented on #132
:+1:

[2015-08-30 20:37] skynet opened #156 "Build telegraf"
Trying to build from source and packaging it, I get this:
`gvm not found -- aborting.`

[2015-08-31 03:24] skynet commented on #156
Don't think that I need to build the RPM. Just copying telegraf binary might do it.

[2015-08-31 03:59] sparrc commented on #156
package script isn't supported, you will be okay just building the binary

[2015-08-31 03:59] #156 closed

[2015-08-31 04:01] sparrc commented on #33
@deanefrati please open a new issue if you are having problems with CPU usage reporting. Please also include Telegraf version, command you are running, and output.

thanks!

[2015-08-31 05:06] skynet commented on #132
Tested and it works. @KPACHbIuLLIAnO4 can you do a pull request here?

[2015-08-31 05:13] skynet commented on #152
How about leaving it as is, with single fields, and adding another measurement with all fields combined.

[2015-08-31 05:21] skynet opened #157 "Un-used data in InfluxDB"
The accumulated data in InfluxDB goes way beyond acceptable limits when multiple plugins enabled. Seen over 2.8GB of telegraf database in just a couple of days. We use only a selected set of fields from each measurement and don't really need all the other fields sent for storage to InfluxDB. Is it possible to select certain fields for a plugin and have only those fields recorded in InfluxDB? Under

[2015-08-31 15:43] sparrc commented on #157
https://github.com/influxdb/telegraf#plugin-options

there are options for passing and dropping metrics, as well as collection intervals

[2015-08-31 15:43] #157 closed

[2015-08-31 15:48] sparrc commented on #152
@beckettsean wouldn't it just be `SELECT disk_free FROM disk` rather than `SELECT * FROM disk_free`?

@skynet is there a reason that combining the fields into a single measurement won't work for you?

[2015-08-31 15:51] sparrc commented on #132
+1, @KPACHbIuLLIAnO4 can you please re-open your pull request? I would like to get an Apache plugin merged into main

[2015-08-31 15:52] sparrc commented on #135
@rapport, at the moment I don't have the time, but always willing to help with Pull Requests :-)

[2015-08-31 16:00] KPACHbIuLLIAnO4 commented on #132
I was going to prepare a new branch with apache plugin only, beacuse I have
some fixes in master that you probably don't want to merge...

2015-08-31 18:51 GMT+03:00 Cameron Sparr <notifications@github.com>:

[2015-08-31 16:06] KPACHbIuLLIAnO4 commented on #132
Created pull request

2015-08-31 19:00 GMT+03:00 Alexander Oleinik <oaev.oaev@gmail.com>:

[2015-08-31 16:21] #132 closed

[2015-08-31 17:23] Madhu1512 commented on #148
if you the url with signed certificate, then the plugin won't work.

Here is  the message i am getting

x509: certificate signed by unknown authority (possibly because of "x509: cannot verify signature: algorithm unimplemented" while trying to verify candidate authority certificate

[2015-08-31 18:03] sparrc commented on #148
@Madhu1512 what is your OS and what version of telegraf are you running? and where are you seeing this error message, in the output of telegraf -debug?

[2015-08-31 18:22] beckettsean commented on #152
@sparrc `SELECT disk_free FROM disk` still has to pull the entire point from disk, including all field values. The DB cannot extract only the `disk_free` field. It's not a huge consideration but one thing to watch for after the switch.

Perhaps we can make it a configuration option? Some users want it all in one measurement, some want it in multiple measurements. Rather than doubling the data by w

[2015-08-31 18:46] sparrc commented on #152
Sounds fair, I guess I'm just worried that it might confuse and overly complex the documentation,

ie,

### Querying Data
To get CPU Idle percentage, use
[code]
unless you set `separate_series = true`, then
[code]

It's not a huge deal, I'm just not sure I understand the use-case of continuing to support the latter.

[2015-08-31 18:58] beckettsean commented on #152
Good points, @sparrc. I, too, don't have much use for the multi-measurement setup. Maybe we should ask on the mailing list?

@pauldix want to weigh in?

[2015-08-31 20:26] skynet commented on #157
This really helps, thank you!

[2015-08-31 20:35] skynet commented on #152
@sparrc as long as we can select what's being stored in InfluxDB from the data generated by a plugin, multi-measurement setup is just fine.

[2015-08-31 20:47] #150 closed

[2015-08-31 20:56] sparrc commented on #150
@Madhu1512, uptime is now available on tip, and will get integrated into the next release

[2015-08-31 21:21] pauldix commented on #152
I'm fine with storing them all as different fields against a single measurement name. The storage engine that will be released in 0.9.5 won't actually have to read all the fields off disk when querying one specific field so that won't be an issue then. Each field will be stored in its own contiguous block of space.

For the field names, they should have underscore casing, and not include the measu

[2015-08-31 21:32] sparrc commented on #152
:+1:, will fix all field names as part of this as well

[2015-08-31 22:25] sparrc opened #159 "Use "second" precision for InfluxDB writes"
Using second precision for InfluxDB writes will help enormously with compression

[2015-09-01 02:44] skynet commented on #159
:+1:

[2015-09-01 02:50] skynet opened #160 "Yum and Apt repositories for Telegraf"
Would it be possible to setup a yum repo for this project, something like this:

[code]

That way we don't have to check for a new release, download and run the upgrade manually.

[2015-09-01 07:43] panqiushi opened #161 "Which version of mongodb supported?"
I'm using mongodb 2.4.6, but there is no metrics data for mongodb, other plugins works fine. And I'm useing telegraf 0.1.7

[2015-09-01 16:35] sparrc commented on #161
Could you provide more details? Useful would be the telegraf command you're running, and also include some output using the `-test` and `-debug` flags

[2015-09-01 16:42] sparrc commented on #160
I agree, and am also going to include Apt repos while we're at it. Should be able to use something like packagecloud or bintray to host this for us, thanks for your suggestion!

[2015-09-02 01:56] sparrc opened #162 "Telegraf should write data in UTC not local time"

[2015-09-02 01:56] sparrc commented on #162
or provide an option that defaults to true

[2015-09-02 18:15] exzz opened #167 "Add ping plugin"
Hi,

It would be nice to be able to mesure ping latency to a defined host as it exists in collectd.

thx

[2015-09-02 18:16] exzz opened #168 "Add sensor plugin"
Read and forward sensor values (voltage and temperature)

thx

[2015-09-02 19:04] sparrc commented on #168
Could you be more specific? Where would we read this data from? What format would it be in?

Also see the exec plugin, which can read arbitrary json data, would that fit your needs?

[2015-09-02 20:22] #159 closed

[2015-09-02 20:22] #162 closed

[2015-09-03 07:50] exzz commented on #168
I am thinking about data reported by sensors command. Of course I can use exec plugin to run and parse command line output, but I would prefer a lightweight solution. Collectd use directly libsensors (sensors/sensors.h) to extract voltages, temperatures and fan status.

[2015-09-03 07:54] exzz commented on #167
Usefull plugin parameters would be :
- target host ip
- interval between ping icmp packets
- icmp timeout
- source interface (needed for ipv6 icmp)

[2015-09-03 14:57] sparrc commented on #168
I see, I thought you were talking about general sensor data, but you mean sensors that are builtin to the machine. This is a good idea and will almost certainly involve using CGo

[2015-09-03 22:28] sparrc commented on #148
@Madhu1512 I'm going to assume your problem was solved, please re-open if you're able to provide more information, thank you!

[2015-09-03 22:28] #148 closed

[2015-09-04 17:25] #167 closed

[2015-09-04 18:58] beckettsean opened #170 "[0.1.8] .deb package does not support systemd"
[code]

Note that `/etc/init.d/telegraf start` works fine.

See https://github.com/influxdb/influxdb/issues/3989 for details.

[2015-09-04 19:23] deanefrati opened #171 "Derived metrics"
Until influxdb can support lead and lag functions (https://github.com/influxdb/influxdb/issues/142, https://github.com/influxdb/influxdb/issues/143). It would be great if telegraf would provide more derived metrics and not just the straight values in the various /proc files. For example it would be great if the disk plugin would provide information similar to iostat reads/s writes/s await etc. Sim

[2015-09-04 19:29] sparrc commented on #170
Looks like our packaging script is upstart-specific, we'll need to update for systemd

[2015-09-04 23:11] sparrc commented on #171
I agree, at the moment the "system" plugins are a bit basic and need to provide more complete information.

[2015-09-05 22:34] grempe opened #172 "Remind users of installation and start/stop instructions for package installers"
README enhancement needed.

e.g. for Ubuntu

wget http://get.influxdb.org/telegraf/telegraf_0.1.8_amd64.deb
dpkg -i telegraf_0.1.8_amd64.deb

# see issue #170
/etc/init.d/telegraf start

[2015-09-06 04:24] Vye commented on #30
No Windows support is a deal breaker. Looking forward to seeing this implemented.

[2015-09-08 16:47] sparrc commented on #170
Also put brief instructions for stopping/starting the service and the location of the configuration file

[2015-09-08 16:47] sparrc commented on #172
I'm closing this because I'll just track it in issue #170

[2015-09-08 16:47] #172 closed

[2015-09-09 01:04] otoolep opened #174 "Support netflow data"
Netflow is a big deal in the network world. If there was someway telegraf could slurp it in, and write it to InfluxDB, that might be a big deal.

http://www.cisco.com/c/en/us/products/ios-nx-os-software/ios-netflow/index.html?referring_site=bodynav

[2015-09-09 10:12] Pomyk opened #175 "Wrong timestamps with mongodb plugin"
I have set the precision to seconds. Mongodb plugin writes timestamp in nanoseconds without respecting the precision.
Influxdb then reads this and gets year 2111 (that causes some strange behavior - a new WAL after every write).

[2015-09-09 20:13] sparrc commented on #170
this has been taken care of in the previously mentioned commits

[2015-09-09 20:13] #170 closed

[2015-09-09 21:18] sparrc commented on #175
You'll need to be more specific, things to include:

1. operating system
2. config file
3. version number
4. debug output

My first guess is that there is something wrong with your system's clock, I don't know how else to explain year 2111

[2015-09-09 21:19] sparrc commented on #161
closing this in absence of more info, please re-open if not fixed

[2015-09-09 21:19] #161 closed

[2015-09-10 00:04] sparrc opened #177 "per-plugin and per-output READMEs"
We should have a README for each plugin and output, and new ones going forward should have it as well.

Could document each metric the plugin collects, at least in a general sense of the types and units of the measurements being collected

[2015-09-10 00:05] sparrc commented on #177
@beckettsean ^^

[2015-09-10 00:26] jpalay commented on #152
Awesome to see this is in the works! This will be super useful for us. I'm not sure how far you've gotten on this, but about a month ago I made a similar change to the CPU plugin on a branch of our fork of telegraf. See the last two commits of https://github.com/Asana/telegraf/tree/cpu_percentages.

I added a few methods to the Accumulator to make it easier to send measurements with multiple field

[2015-09-10 00:27] jpalay commented on #152
The branch also removes the cpu "busy" measurement, since when all the other metrics are in the sam measurement the "busy" time can be calculated in an influxdb query

[2015-09-10 00:33] #143 closed

[2015-09-10 03:26] sparrc commented on #175
I still don't understand the part about year 2111, but I have found a bug in setting the precision for the plugin gathering in certain situations. I will have a fix for that soon.

[2015-09-10 06:20] kotopes opened #178 "bug: plugin redis send only one result"
After restart telegraf as service - plugin redis agent sends the data only once. More data will not come.
in log:
[code]

in config:
[code]

[2015-09-10 06:33] sparrc commented on #178
thanks for the report, I'm assuming you're running on ubuntu? what do you get when you run this command:

`/opt/telegraf/telegraf -config /etc/opt/telegraf/telegraf.conf -filter redis -test -debug`

and with -test flag:

`/opt/telegraf/telegraf -config /etc/opt/telegraf/telegraf.conf -filter redis -debug`

[2015-09-10 07:51] kotopes commented on #178
[code]

and without -test
[code]
no more data

[2015-09-10 09:25] JulienChampseix opened #179 "Mem plugin issue - Telegraph 0.1.8"
Hi,

After upgrading telegraf to 0.1.8, we got this error:

Error in output [influxdb]: write failed: field type conflict: input field "value" on measurement "swap_total" is type int64, already exists as type float
Error in output [influxdb]: write failed: field type conflict: input field "value" on measurement "mem_total" is type int64, already exists as type float

How to fix it ?

[2015-09-10 10:37] JulienChampseix commented on #90
any progress on it ?

[2015-09-10 12:50] kenzodeluxe commented on #84
Same here:
$ cat /etc/issue
Ubuntu 15.04
$ uname -a
Linux kenzo-qa 3.19.0-26-generic #28-Ubuntu SMP Tue Aug 11 14:16:32 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
$ docker --version
Docker version 1.8.1, build d12ea79

[2015-09-10 14:23] JulienChampseix commented on #97
@sparrc @jipperinbham did you find some time to work on it ?
Unfortunatly on this type of request, i could not provide PR

[2015-09-10 16:17] sparrc commented on #84
I believe that this PR: https://github.com/influxdb/telegraf/pull/180 will fix it, waiting on the author to sign the CLA and then will get this merged ASAP, thank you everyone for the issue reports

[2015-09-10 16:43] sparrc commented on #179
@JulienChampseix What is your version of InfluxDB and what version of Telegraf did you upgrade from?

My best guess is that you were using telegraf 0.1.4 or lower with InfluxDB 0.9.3+, this is documented as being incompatible here: https://github.com/influxdb/telegraf#installation

Because of the breaking line-protocol change, this would mean that your integer values from Telegraf would be interpr

[2015-09-10 16:45] sparrc commented on #178
@kotopes thank you for the detailed report, I'm looking into this now

[2015-09-10 17:52] sparrc commented on #178
pretty nasty bug that affected anyone using multiple redis servers. The TCP connection was being overwritten by all threads and causing a thread deadlock.

[2015-09-10 17:52] #178 closed

[2015-09-10 17:54] sparrc commented on #179
I'm going to assume that solves it, but please feel free to re-open if I was off-base, thank you for the report!

[2015-09-10 17:54] #179 closed

[2015-09-10 20:38] sparrc commented on #171
@deanefrati after thinking this over a bit more and discussing with other people at Influx, I think that we probably want to use a different approach. Rather than growing the database with derived metrics, InfluxDB can be queried to get the derived metrics from raw counters.

Take the `net` plugin, for example, an InfluxDB query like below will give you the kbps rate using only the bytes_recv data

[2015-09-10 20:39] sparrc commented on #171
Closing the issue, feel free to re-open if you don't think that this covers your use-case and we can discuss further

[2015-09-10 20:39] #171 closed

[2015-09-10 20:43] sparrc commented on #177
@beckettsean bump^

[2015-09-10 21:35] beckettsean commented on #177
I think the README should follow a template as much as possible. A complete template should name the plugin, give version compatibility, describe the measurements, tags, and fields submitted (with units for the fields), and the write frequency. Here's a strawman proposal for that template:

For example:

[code]

[2015-09-10 23:33] deanefrati commented on #171
thanks @sparrc that works for me and is actually elegant for metrics that can be calculated from only one datapoint in one series. However what about ones that requires multiple data points for example % CPU used (i know you already implemented that but just an example) In order to calculate that i will need to have a way to fetch that last two consecutive datapoints from influx (lead, lag) but th

[2015-09-10 23:47] sparrc commented on #171
Yes I agree about calculating stats based on multiple measurement, there is actually an open case about that here: https://github.com/influxdb/telegraf/issues/152

This would basically be calling for any plugin to consolidate all of it's values as fields in a single measurement. It's a pretty large and breaking change, but it's looking like people in the community would like to have this, which wo

[2015-09-11 00:04] sparrc commented on #152
very cool, thanks @jpalay, that will be useful. Currently we're thinking that we'll wait until InfluxDB 0.9.5 to implement this across the board. That is because an influx query currently will get ALL fields within the same measurement, even if you only want one or two of them.

[2015-09-11 00:15] sparrc commented on #90
I will be able to work on this soon, once I can get #180 merged (waiting on CLA)

[2015-09-11 00:16] sparrc commented on #40
I don't see why not @pasancario, there is also the `exec` plugin, which needs to be documented better but basically allows for any JSON-emitting script to be collected by telegraf

[2015-09-11 08:10] markfink commented on #135
I could add that but I do not know telegraf. When I looked into influxdb a few weeks before I did not notice it. Is telegraf the a new way of adding data? How about a mqtt plugin for influxdb?

[2015-09-11 11:50] Pomyk commented on #175
Thanks for the quick response, but that didn't fix it unfortunately.
1. os - CentOS 7
2. relevant config part is:
[code]

3. influx and telegraf compiled from master
4. output from influxd: https://gist.github.com/Pomyk/d7c707ec9432dda8cdb3

From the Line protocol docs:

"Timestamps are assumed to be in nanoseconds unless a precision value is passed in the query string."

Telegraf passes precision

[2015-09-11 12:53] rvrignaud opened #183 "Issues when specifying multiple rabbitmq cluster"
Hello,

I'm trying to use rabbitmq plugin with multiple rabbitmq clusters.
It seems (I may be wrong) that some metrics are not tagged with a specific cluster like rabbitmq_messages, rabbitmq_messages_ready, etc ...
When I try to display graph with grafana I get the data mixed in the same graph without the possibility to filter between the clusters.
Would that be possible to add a cluster name conf

[2015-09-11 12:54] rvrignaud commented on #39
+1

[2015-09-11 12:58] rvrignaud opened #184 "Support include directory for configuration files"
Hello,
It would make things much more easier if telegraf could support an include directive for the configuration (like /etc/opt/telegraf/conf.d).
This would be much more easier to use to enable plugins with configuration management systems or on docker.

Thoughts ?

[2015-09-11 13:03] rvrignaud opened #185 "Support per queue metrics for rabbitmq plugins"
Hello,

This would be awesome if telegraf could support per queues metrics.
Collectd has a pretty exhaustive plugin here : https://github.com/NYTimes/collectd-rabbitmq

Thoughts ?

[2015-09-11 18:36] mgresser opened #186 "EL5 support"
The current RPM doesn't install cleanly on EL5 systems like CentOS 5.

The first issue is the init script doesn't support chkconfig. It needs a pair of lines along the lines of this at the top of the init script in order to start up properly in EL5.
[code]
Secondly the rpm adds the telegraph user with the flag --system instead of the -r flag that is expected.

[2015-09-11 20:09] gotyaoi opened #187 "Telegraf startup -- retry failed server connections"
An issue I've noticed is that if the agent is unable to connect to an output initially, it exits. This came up on a restart of our server which runs influxdb. This server (Centos 6) also runs a telegraf agent. Both influxdb and telegraf were configured to start on boot, however, it appears that when telegraf started, influxdb was not ready to talk, so telegraf logged an error and exited. It might

[2015-09-11 22:15] sparrc commented on #135
@markfink telegraf is a daemon for collecting data and outputting it into InfluxDB, although it supports other output types as well

[2015-09-11 22:23] sparrc commented on #175
Okay, thanks for the info, I'll have to look into this next week. Can you please provide the debug telegraf output? and also the output of telegraf -version (if this doesn't return anything, include the commit from which you built.)

[2015-09-11 22:26] sparrc commented on #186
I'm assuming you're talking about RHEL 5?

[2015-09-11 22:27] sparrc commented on #185
thanks for the suggestion, that'll be a good enhancement

[2015-09-11 22:30] sparrc commented on #184
That's a good idea, but do you mean an include "directory" where individual files could add plugins to telegraf? Similar to how `/etc/apt/sources.list.d` works on ubuntu?

[2015-09-11 22:35] rvrignaud commented on #184
Yes that's what I'm talking about. A directory where every file with a specific extension (like *.conf) could append configuration

[2015-09-11 23:11] sparrc commented on #184
cool, that sounds like a good idea

[2015-09-11 23:28] sparrc commented on #183
That's a good idea, and should be a simple fix, thanks for the suggestion!

[2015-09-12 02:31] haomingz commented on #174
what about sflow?

[2015-09-12 23:54] abh opened #190 "httpjson plugin should allow JSON to add tags"
The httpjson plugin should have a way for the data emitter/end-point to specify tags to add to each key/value pair. This would make it possible to make "InfluxDB-aware" (telegraf-aware, I guess to be exact) applications and just use this plugin, rather than having to make a specific plugin for each application.

[2015-09-13 16:42] DaveBlooman opened #191 "Influxdb Output - Support SSL"
Would like to use self signed certs with telegraf, seems to be missing from the output options and config.

[2015-09-14 02:23] mgresser commented on #186
RHEL5, CentOS5 or Scientific Linux5 all would show this I believe.

[2015-09-14 03:12] farss opened #193 "Config with etcd"
Now config is static in file, if I need config can be change on running...So colud config with etcd

[2015-09-14 07:56] nckturner opened #194 "HAProxy 5xx stats missing"
HAProxy plugin leaves out 5xx stats.

Looks like the case `HF_HRSP_5xx` in `importCsvResult()` is missing.

[2015-09-14 13:09] Pomyk commented on #175
Version v0.1.8-11-gd8482cc
Debug output: https://gist.github.com/Pomyk/a2929f84882b65b28622

[2015-09-14 17:04] sparrc commented on #191
thanks for bringing it to my attention :-)

[2015-09-14 17:06] DaveBlooman commented on #191
I was going to submit a PR, but it doesn't seem like certificates are actually supported in the Go Influx client, so perhaps one for that project too.  Ideal situation is a similar setup to the Ruby SDK for influx

[2015-09-14 17:12] #183 closed

[2015-09-14 17:22] sparrc commented on #191
I'm not very familiar with the Ruby Influx SDK, could you include a link to the relevant code?

[2015-09-14 17:49] sparrc commented on #186
okay, thank you for the report! I'll try to get to this today or tomorrow

[2015-09-14 17:51] sparrc commented on #193
@farss thank you for the suggestion, I'm not very familiar with etcd, is that a system that is specific to CoreOS?

[2015-09-14 17:57] DaveBlooman commented on #191
SSL verify, SSL enabled and cert path are what we should add. https://github.com/influxdb/influxdb-ruby/blob/master/lib/influxdb/client/http.rb

If the cert store can't be used as in ruby, a ca.pem,   cert and key setup would work too.

[code]

[2015-09-14 18:04] sparrc commented on #194
Thanks for the report! Sounds like a pretty simple fix, would you like to submit a PR? Otherwise I may be able to get to this tomorrow

[2015-09-14 18:06] sparrc commented on #190
that sounds like a good idea :+1:

[2015-09-14 18:19] vhajdari opened #195 "Invalid number error in all plugins except CPU and System on Ubuntu 14.04"
Running telegraf on Ubuntu 14.04 inside of VMWare produces invalid number error when plugins other than cpu and/or system are enabled.

Config and debug output follows:

Running in VMWare Fusion 6.0.6
[code]
# Telegraf configuration
[code]
# Output
on@foobuntu:/opt/telegraf$ ./telegraf -config /etc/opt/telegraf/telegraf.conf
2015/08/29 13:03:28 Starting Telegraf (version 0.1.8)
2015/08/29 13:03:28

[2015-09-14 19:01] sparrc commented on #195
Thank you @vhajdari for the detailed report, it looks like you might be running a version of telegraf that is incompatible with your version of InfluxDB: https://github.com/influxdb/telegraf#installation

what is your telegraf version and influxdb version?

[2015-09-14 20:28] sparrc commented on #175
I've reproduced this, working on a fix now

[2015-09-14 21:46] vhajdari commented on #195
Hi Cameron,

I'm running InfluxDB v0.9.2

Regards,

Tony Hajdari

On Mon, Sep 14, 2015 at 2:01 PM, Cameron Sparr <notifications@github.com>
wrote:

[2015-09-14 21:55] vhajdari commented on #195
Hi Cameron,

Just upgraded InfluxDB to 0.9.3 and that did the trick.  I suppose RTMF
should be at the top of the support section :-)

Regards,

Tony Hajdari

On Mon, Sep 14, 2015 at 2:01 PM, Cameron Sparr <notifications@github.com>
wrote:

[2015-09-14 21:58] #195 closed

[2015-09-14 21:59] vhajdari commented on #195
Upgrading to the latest versions of InfluxDB and Telegraf resolved the issue.

[2015-09-15 00:10] sparrc commented on #195
Thank you for closing :+1: :-)

[2015-09-15 01:34] sparrc commented on #175
@Pomyk wow this turned into a rabbit-hole, and actually looks like it is a bug in influxfb. I have a PR up against the InfluxDB client code (https://github.com/influxdb/influxdb/pull/4099) to fix this and will have a separate PR for telegraf sometime tomorrow.

[2015-09-15 06:34] serenabi opened #196 "How can I get the usage of a Plugin, ./telegraf -usage in doc does not work"
How can I get the usage of a Plugin, ./telegraf -usage in doc does not work

[2015-09-15 06:37] serenabi opened #197 "cpu and network colletction is accumulated value, how I can get the percent used_percent?"

[2015-09-15 06:44] sparrc commented on #196
./telegraf -usage <plugin_name>

ie

./telegraf -usage cpu

[2015-09-15 06:44] #196 closed

[2015-09-15 06:49] sparrc commented on #197
cpu used percentage is already available, try outputting in debug mode to view the names, there will be documentation of these forthcoming, see https://github.com/influxdb/telegraf/issues/177

https://github.com/influxdb/telegraf#how-to-use-it

[2015-09-15 06:49] #197 closed

[2015-09-15 14:40] pauldix opened #199 "Sample config should have all non-system plugins disabled by default"
For the generated sample config all plugins that aren't the system plugin should be disabled. It's painful for a new user setting up Telegraf initially to have to go through and disable all the plugins since they're most likely only going to have one or two they want to use.

[2015-09-15 16:13] sparrc commented on #199
that's a good idea, I already did this for the .deb and .rpm package default config for the same reason

[2015-09-15 21:58] nckturner commented on #194
Yeah, I'll submit one tonight.

[2015-09-15 22:24] sparrc commented on #186
@mgresser I've gotten distracted by other things, if you know what the solution is here, do you mind submitting a PR to fix this?

[2015-09-16 03:24] takaidohigasi opened #201 "server tag error for plugins"
* version: 0.1.8
* summary: when server tag is null, plugin fails. server tag seems to be set null by default.

config sample

[code]

error log

[code]

[2015-09-16 09:41] rvrignaud commented on #193
Hello,
@sparrc etcd is a distributed, consistent key/value store written in Go. It can be compared to zookeeper and consul. This is not specific to CoreOS.

If I understand @farss request correctly I think he is referring to a configuration / discovery mechanism.
Instead of having a specific mechanism for etcd, would that be possible to design a generic and modular discovery mechanism like prometh

[2015-09-16 09:42] rvrignaud commented on #193
This would also be related to https://github.com/influxdb/telegraf/issues/69

[2015-09-16 10:36] takaidohigasi commented on #201
Related code was wrong.

I'm trying to fix code.
https://github.com/influxdb/telegraf/blob/master/agent.go#L309-L311

[2015-09-16 10:48] takaidohigasi commented on #201
How blank tag value should be handled?

Should it be to store with a blank tag value?

[2015-09-16 19:20] sparrc commented on #201
I believe that blank tags should be ignored and dropped

[2015-09-16 19:26] sparrc commented on #201
But I don't think this is an issue in tsdb, I think it's only an issue with the mysql plugin trying to make blank tags.

Server tag is not set to null, but it looks like it's being truncated to "" when set to "localhost" (because of what appears to be a strange behavior with the go sql library wanting a blank server string instead of localhost)

[2015-09-16 21:11] #194 closed

[2015-09-16 21:20] #186 closed

[2015-09-16 21:27] #201 closed

[2015-09-17 00:05] #175 closed

[2015-09-17 07:42] JulienChampseix commented on #174
Good idea +1

[2015-09-17 14:56] aodj opened #205 "redis input doesn't return keyspace info"
Looking at the [fields parsed from Redis](https://github.com/influxdb/telegraf/blob/6cb0f2d392ed8a90e62a1e797438b7322049ef93/plugins/redis/redis.go#L37-L68) it doesn't include any of the per-database keyspace metrics. Given that it's querying the [`INFO`](http://redis.io/commands/info) command the data is available, and it would be good to include it in the dataset.

It should look something like

[2015-09-17 15:48] jonc650 opened #206 "CPU steal value incorrect"
It seems that the cpu_steal value is being assigned the value of cpu_guest with telegraf 0.1.8 on Centos 7. This is on a physical host, and is not a VM.

Linux ops 3.10.0-229.11.1.el7.x86_64 #1 SMP Thu Aug 6 01:06:18 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

The output below shows cpu_steal seems to have the value associated with the cpu_guest column in /proc/stat

/opt/telegraf/telegraf -config te

[2015-09-17 18:01] sparrc commented on #206
Thank you for the detailed report, this was very helpful. I've had my suspicions that some of the CPU data we were collecting was not accurate but didn't have time to reproduce. I am going to investigate this and see if there is another cpu gathering library that may work better for us. On linux it may also be easiest to just `cat /proc/stat` to get CPU data, I'll investigate doing that as well.

[2015-09-17 18:45] sparrc commented on #205
Thanks for reporting that, I may not have time to get to this for a bit, but if you have time to submit a PR I would appreciate it immensely

[2015-09-17 18:46] sparrc commented on #84
I'm marking this as closed by PR #180, please re-open if that did not fix it

[2015-09-17 18:46] #84 closed

[2015-09-17 18:47] sparrc commented on #58
I'm marking this as closed by PR #180, please re-open if that did not fix it

[2015-09-17 18:47] #58 closed

[2015-09-17 21:37] elvarb commented on #30
@Vye This has worked very well for me, as fully featured as you can get. https://github.com/MattHodge/Graphite-PowerShell-Functions

TopBeat from Elastic is in beta and supports windows but it does not support all wmi calls. What it does  that is very good is that it monitors and ships metrics for all running processes. So you get per process memory and cpu usage. Very cool.

[2015-09-17 23:54] sparrc commented on #206
It looks like this was definitely an issue in the gopsutil library, that has long been fixed.

I've been meaning to refactor that code for a while, to actually properly vendor using `godep`, in which case we would just have needed to `godep update` to get the fixed code.

I've done that work in #209, as well as renaming some of the cpu metrics, since cpu_percentageIdle was a bit inconsistent with

[2015-09-18 01:03] mabushey opened #210 "Error in output [influxdb]: unable to parse 'mem_total,host=w17 value=4193386496i': invalid number"
[code]

[code]

[2015-09-18 01:32] sparrc commented on #210
Thank you for the detailed error message :+1:

It looks like you're running InfluxDB version 0.9.2 or lower, which is incompatible with Telegraf 0.1.8. See the note on version compatability in the install section of the README: https://github.com/influxdb/telegraf#installation

You'll need to either downgrade your telegraf version, or upgrade your influxdb version.

[2015-09-18 01:32] #210 closed

[2015-09-18 01:50] sparrc opened #211 "Enable -filter flag for generating a sample config"
So that users can run something like

[code]

and generate a config file with only those plugins present

[2015-09-18 01:52] sparrc commented on #211
/cc @beckettsean something we talked about in the support team presentation the other day

[2015-09-18 05:10] beckettsean commented on #211
Yeah, I dig this idea, especially for classroom and other learning contexts.

[2015-09-18 05:10] beckettsean commented on #211
@mjdesa

[2015-09-18 06:56] JulienChampseix commented on #97
Sorry to be pushy on it but we are using sensu and having this output plugins will be a great feature

[2015-09-18 06:58] JulienChampseix commented on #90
Cool the #180 is now close, hope the merge will come soon for unblock this issue/feature

[2015-09-18 16:51] mabushey commented on #210
Upgraded to InfluxDB 0.9.4.1 and the problem went away. Thank you! :)

[2015-09-18 17:38] marcogallotta commented on #152
@sparcc Any update as to whether you guys will be implementing this change across the board? I work with @jpalay, and we'd be happy to help change some of the plugins we use to aggregate the metrics if it's something that will be better supported as you suggest will be the case in 0.9.5.

[2015-09-18 19:26] sparrc commented on #152
@marcogallotta update is still the same as above, we'll be waiting for the next version of InfluxDB (0.9.5) which is gated on the new storage engine.

The new storage engine will remove query penalties, such as all fields being retrieved from measurements at the same time, there will also be very significant storage compression improvements.

I'm not sure the exact timeframe on that, but I would s

[2015-09-18 21:48] rummand commented on #135
Would love the MQTT support, so it's +1 from me...

[2015-09-18 22:22] sparrc commented on #206
Closing issue, this is available on HEAD and will be in 0.1.9 when it's released early next week

[2015-09-18 22:22] #206 closed

[2015-09-18 22:56] sparrc commented on #177
I've got my first draft up of a plugin README: https://github.com/influxdb/telegraf/blob/master/plugins/system/CPU_README.md

@beckettsean I made a few changes from your template so let me know what you think. I haven't included the InfluxDB versions because that shouldn't matter on a per-plugin basis. I also condensed the "measurements" list into groups, so that all measurements that have the sam

[2015-09-18 23:23] mabushey opened #213 "Redis plugin should report the number of keys"
The data is available from INFO:
[code]

This reports just the keys:
[code]

The number of keys and the number of clients are the most import metrics. The code looks really clean, but I have no experience in Go or I would add this. Thanks!

[2015-09-19 00:54] sparrc commented on #213
thanks @mabushey I am not a redis expert but this is actually the second request for the same thing, so obviously it is important to redis users: https://github.com/influxdb/telegraf/issues/205

I'm going to close this case as a duplicate, but it's information will get linked into that original case, thanks so much for reporting it! :+1:

[2015-09-19 00:54] #213 closed

[2015-09-19 01:03] #187 closed

[2015-09-19 12:02] dj-wasabi commented on #184
Yes, this would be an very nice to have. This is very handy when you use tools like Ansible or Puppet for installing/configuring servers, each role or module wil install their own telegraf configuration file in this directory.

[2015-09-20 10:52] caquino commented on #83
+1, this is useful for any kind of logs, for example mail logs.
It would be awesome to be able to specify logfiles and regexps for metrics extraction, with this it will be possible for example to collect metrics related to from/to deliveries on postfix.

IMHO being possible to specify one or more logfile to be parsed and one or more regexps to be matched on the logfile with named or positional mat

[2015-09-20 10:53] caquino commented on #39
+1, having a replacement for StatsD/datadog-agent-statsd will make the migration from other services way easier.

[2015-09-21 09:50] gdm85 opened #214 "Proposal: add another metric for (used - cached - buffer)"
I've seen in [memory.go](https://github.com/influxdb/telegraf/blob/master/plugins/system/memory.go) how telegraf is leveraging the ``vmstat`` metrics for memory.

This however, paves the way for a newbie mistake on how these metrics are interpreted/charted (see also: http://www.linuxatemyram.com/).

Would it be a viable idea to add a new metrics that basically is just ``mem_used - mem_cached``?
I

[2015-09-21 16:16] ranjib commented on #39
@pauldix is anyone actively working on it. if not i can take a stab at it. this will be a really useful feature. Im currently running an additional statsd agent (statsdaemon) along side telegraf for this.
@sparrc comments?

[2015-09-21 16:18] ranjib commented on #193
i think it will be harder to support different versions of etcd,. iirc etcd has fuse bindings. something like etcd-> toml config rendering system can be used to achieve this. This will allow not only telegraf, but all other toml backed system to be configured via etcd, as well as telegraf wont have any etcd specific code.

[2015-09-21 16:25] ranjib opened #215 "Allow process monitoring"
Gathering stats about a particular process' memory, cpu consumption is easy, less invasive and generic way of  monitoring any system. It will be nice to have a plugin that allows users to specify a process via pidfile or executable name and gathers it memory, cpu consumption data.
This is very similar to Nagios' [check_procs](https://www.monitoring-plugins.org/doc/man/check_procs.html)

[2015-09-21 16:37] sparrc commented on #214
Good suggestion! I actually have a change to the memory plugin that will have it gathering the following metrics:
- total
- free
- used
- actual_free
- actual_used

Where actual_free and actual_used are what you are looking for. On linux it will be `mem_used - mem_cahced - mem_buffer`

[2015-09-21 16:40] sparrc commented on #39
@ranjib  I am hoping to work on this today

[2015-09-21 16:55] sparrc commented on #215
This is definitely something that we need, thanks for making an issue to track it

[2015-09-21 17:15] ranjib commented on #215
@sparrc i can take a stab at it. It will be nice to capture all the details (if you have anything specific in mind). I am thinking of how to specify the expected process, i.e. via pid file or via executable path or via dbus calls.

[2015-09-21 17:36] gdm85 commented on #214
@sparrc if you're going to change the memory plugin in a non-backward-compatible way, I'd suggest to **not** have the confusing ``actual_`` prefix at all. I mean, why would anybody be interested in the non-actual value for a metric called ``free``/``used``? :) What the telegraf set should contain is, IMO:
* total
* free
* used

For example look at the output of ``free`` on Linux:
[code]

We really

[2015-09-21 17:51] sparrc commented on #215
@ranjib That would be great and much appreciated!

As for the filtering, I would say that we probably just want all (or at least most) of the same filters that the nagios check_procs plugin has:

[code]

[2015-09-21 18:08] sparrc commented on #214
@gdm85 I definitely see your point, and looking around I see that `Scout` reports just the "actual" metrics: http://blog.scoutapp.com/articles/2010/10/06/determining-free-memory-on-linux

I'm going to ask around and see what other people think, but I'm leaning towards your approach

[2015-09-21 18:49] pauldix commented on #39
With the 0.9.5 release coming we'll have support for many fields and we'll stop pushing people to only have a single field per measurement. We should support writing data to multiple fields. I'm thinking that we can support the StatsD protocol like I mentioned above, but we should also make it possible to write values into different fields. I'm thinking it should look exactly like the line protoco

[2015-09-21 19:03] sparrc commented on #214
I'm looking at other collection tools, and actually see that they generally do NOT redefine "used" memory as the `used - cached - buffer`

I'm thinking that it might be better to keep it as-is. Re-defining `used` to be `used - cache - buffer` might be more intuitive to beginners, but I think that it would be less intuitive for users who are experienced with this concept of "free" and "used" memory

[2015-09-21 19:28] dgnorton commented on #214
I think it's best to keep it consistent with the OS and not store values in a way that are (mostly) unique to telegraf & influxdb.

[2015-09-21 19:30] gdm85 commented on #214
@sparrc I think ``free`` is reported that way on *nix systems for legacy reasons; on a new system you can choose to go with legacy/standard or stick to more intuitive meaning (and close to the word meaning).

If you want to keep it close to the OS, then an option would be (as per OP) to just add a ``net_free`` or similar that basically removes cached and buffer from used.

Or else we want **every*

[2015-09-21 19:31] SkyRocknRoll commented on #39
+1 @pauldix https://github.com/influxdb/telegraf/issues/39#issuecomment-142073599

[2015-09-21 19:44] mabushey opened #216 "Provide docs on derivative items."
Metrics like net_packets_sent and net_packets_recv look like a skateboard ramp. Figuring out how to graph this w/o docs is about as likely as winning the Lottery. Here is a query that actually appears works which I only obtained through Googling:

[code]

[2015-09-21 20:27] sparrc commented on #216
:+1: I agree 100%, was actually planning on this being the topic of a blog post and doc page

[2015-09-21 20:45] sparrc commented on #214
@gdm85 how about this:

- total
- free
- used
- available

Reason being, it looks like the linux kernel is actually addressing this confusion, and as of kernel `2.6.27+` is reporting a `MemAvailable` stat in `/proc/meminfo`

[2015-09-21 22:11] gotyaoi commented on #215
I would definitely appreciate a plugin like this. Another source of inspiration might be the processes plugin from collectd, which by default records the number of processes grouped by state, and then will provide more information about processes specified by name or regex. https://collectd.org/wiki/index.php/Plugin:Processes

[2015-09-22 00:43] #214 closed

[2015-09-22 01:56] sparrc commented on #199
@pauldix I came up with a different solution while I was working on a filtering change.

See PR #217, this will allow users to specify the plugins and outputs they want when they generate the config file, like:

`telegraf -sample-config -filter cpu:mem:swap -outputfilter influxdb`

Also, when installing from the deb/rpm package, only influxdb and a few of the system plugins are enabled by default

[2015-09-22 07:23] KyleAMathews opened #218 "Docker image?"
Pardon me if I'm missing something documented but is there a docker image for this? That'd be a very convenient way to install it.

[2015-09-22 08:48] gdm85 commented on #214
@sparrc thanks! great job :)

[2015-09-22 09:48] neezgee opened #219 "Update gopsutil"
Please update gopsutil to get docker fixed again on centos 7  (fixed in https://github.com/shirou/gopsutil/pull/83).

[2015-09-22 16:20] sparrc commented on #219
Will do, sorry for blowing that away @neezgee, I thought I had found all the fixes we made to the internal gopsutil library and pushed them to the upstream. I'll get this done ASAP

[2015-09-22 16:24] sparrc commented on #218
Hi @KyleAMathews, there isn't a docker image, and I haven't tried that out yet.

I don't think it's a great use-case, I suspect that many of the system plugins would misbehave because it would be gathering stats from the OS on the docker container rather than the underlying OS.

Could you explain more why installing via docker would be useful to you? One of the goals of telegraf was for easy insta

[2015-09-22 16:28] #219 closed

[2015-09-22 18:36] #211 closed

[2015-09-22 21:02] damstux opened #221 "Varnishstat plugin"
It will be great to have a varnishstat plugin to collect varnish metrics

[2015-09-22 21:44] damstux commented on #221
the exec module and varnishstat -j do the job !

[2015-09-22 21:59] mabushey opened #222 "Ping plugin providing incorrect values"
![2015-09-22_ping_time](https://cloud.githubusercontent.com/assets/7863135/10032776/045c5f0e-613a-11e5-94cd-bf2e3b2d70b6.png)

From /etc/opt/telegraf/telegraf.conf:
[code]
I'm not sure if this is a bug in Telegraf or the cloud provider has some machine that's responding locally to ping requests to google.com. When I hover over the purple area at the bottom 90% of the way to the right they are most

[2015-09-22 22:39] sparrc commented on #222
@mabushey could you provide output from the ping command on that server? try running `ping -c 10 www.google.com` and show me the output.

Personally I frequently get 4ms pings from google.com with regular consumer-class comcast service, so this doesn't sound crazily out of the ordinary to me

[2015-09-22 22:40] sparrc commented on #221
perfect! can we close this then?

[2015-09-22 22:43] mabushey commented on #222
[code]

[2015-09-22 22:49] sparrc commented on #222
Do you have ping output from when this was running? What makes you think these values are incorrect?

[2015-09-22 22:51] sparrc commented on #222
Also, it seems to consistently drop across almost all of your servers, which indicates to me that telegraf is getting the correct values.

(with the exception of the "green" server, which appears to be somewhat independent)

[2015-09-23 02:49] #205 closed

[2015-09-23 09:24] neezgee opened #224 "Docker "name tag"

[2015-09-23 10:51] witscher opened #225 "redis password/auth not in plugin sample condig"
Redis password/AUTH seems to be supported, but the sample config is missing an example of how to provide it correctly. Unfortunaletly I am not that familiar with go, si I couldn't figure it out myself.

[2015-09-23 17:24] sparrc commented on #224
Details?

[2015-09-23 17:25] sparrc commented on #224
is this a duplicate of #90?

[2015-09-23 18:27] neezgee commented on #224
Sent by accedent. Sorry. :-(

[2015-09-23 18:27] #224 closed

[2015-09-23 19:13] sparrc commented on #225
true, it's not very well documented, I have change to fix it, thanks for pointing it out :+1:

[2015-09-23 20:28] #225 closed

[2015-09-23 21:28] #90 closed

[2015-09-23 21:29] sparrc commented on #90
@JulienChampseix finally found some time to get to this, it's available if you build from source, and I'll hopefully get a nightly build system going soon to get features like this out to people sooner

[2015-09-23 21:42] mabushey commented on #222
Can I specifically log the results of the pings? The log files are almost empty:
[code]

[2015-09-23 21:54] sparrc commented on #222
@mabushey, There currently isn't, but you bring up a good point, we probably need multiple levels of debug logging in order to track down problems like this. Instead of just `-debug`, we should have verbosity levels like `-v`, `-vv`, etc.

[2015-09-23 22:00] mabushey commented on #222
Also limiting the debug to a plugin would be helpful, something like `-debug -filter ping`

[2015-09-24 01:12] sparrc commented on #222
@mabushey one thing you could do in the meantime would be to just run ping in the background and see if it corroborates, like:

`nohup ping -i <INTERVAL> -D www.google.com > /tmp/pingoutput.log &`

-D adds unix timestamps

[2015-09-24 21:34] beckettsean commented on #177
@sparrc that looks great to me!

[2015-09-24 21:59] skynet opened #229 "InfluxDB Collector Plugin (using SHOW STATS)"
Could Telegraf help with streamlining and visualizing InfluxDB stats in Grafana?
https://influxdb.com/blog/2015/09/22/monitoring_internal_show_stats.html

[2015-09-24 22:43] sparrc commented on #229
@skynet I believe those stats are already in InfluxDB, so I'm not sure there is much for telegraf to do, @otoolep correct me if I'm wrong

[2015-09-24 22:48] skynet commented on #229
True, they are, but I don't think that they are stored in a time series. Correct me if I am wrong :) Moreover, it would be nice to funnel those stats through Telegraf and use the output in a consistent fashion, similar to what we do with other Telegraf collectors.

[2015-09-24 23:03] mabushey commented on #222
I ran a ping above and waited until I saw the issue in grafana (all servers except for one report 1ms ping time to google).
![2015-09-25_ping_grafana](https://cloud.githubusercontent.com/assets/7863135/10089167/88cde432-62d5-11e5-9167-132668e36e23.png)

The log file, on a server that shows 1ms in the screenshot attached, shows only ping times between 38 to 41ms.

[code]

[2015-09-25 00:50] sparrc commented on #222
@mabushey I haven't been able to reproduce any issues with the ping plugin locally, so I'd like to take Grafana out of the mix as well.

You can run the query locally or remotely using a command like this:
`influx -database 'telegraf' -host 'localhost' -port '8086' -execute 'SELECT * FROM ping_average_response_ms'`

This will give me the actual data in InfluxDB along with the UNIX timestamps, whic

[2015-09-25 00:59] sparrc commented on #222
WHERE clause could help to find the low readings:

[code]

[2015-09-25 02:57] paulstuart commented on #40
I wrote a standalone snmp stats collector for influxdb 8.x, and am now updating it to work with 9.x (hopefully will be done next week).

https://github.com/paulstuart/influxsnmp

[2015-09-25 03:43] otoolep commented on #229
Yes, the stats are stored in the `_internal` database, as explained in the blog post.

[2015-09-25 03:43] #229 closed

[2015-09-25 04:10] skynet commented on #229
I still have to see a use case with SHOW STATS plotted on a Grafana chart.

[2015-09-25 04:12] otoolep commented on #229
I am confused. Everything from SHOW STATS is also available by SELECTing on
the internal database, as explained in the post. You feed that SELECT query
to Grafana.

What more do you need? Am I missing your point?

On Thursday, September 24, 2015, Ionel Roiban <notifications@github.com>
wrote:

[2015-09-25 04:23] skynet commented on #229
No, that's fine, it's just that I have to put this in Grafana myself and see how it works. It is, indeed, very important to be able to monitor InfluxDB along with the other services running on a particular (Linux) machine.

[2015-09-25 06:04] sparrc commented on #229
@skynet Are you talking about using Telegraf for outputting that data from InfluxDB into other outputs like Kafka? How does Telegraf help you to put the data into Grafana? Isn't it just an Influx query either way?

[2015-09-25 13:55] jcmartins commented on #229
@skynet you don't need use telegraf, because the stats are store in Influxdb, so you can read it by Grafana.

[2015-09-25 16:45] skynet commented on #229
Yes I agree with both of you, can simply plugin the InfluxDB stats data directly into Grafana. But I can't just agree with declining any use for Telegraf here if you look at Telegraf from the perspective of being the middleware, having the role of providing a unified model of aggregating data, standardizing it, and subsequently making it possible and seamless to build the visuals (e.g. using Grafa

[2015-09-25 16:56] otoolep commented on #229
That is valid, and we do have plans to add an InfluxDB monitoring plugin -- or PRs are very welcome -- for InfluxDB.

[2015-09-25 16:57] skynet commented on #229
Wonderful, thank you.

[2015-09-25 17:58] mabushey commented on #222
[code]

[code]
Apparently InfluxDB timestamps are from a timezone 6 days off.

I have 30 servers, can someone help me translate `AND host="server1"` from SQL into "SQL Like"? This fake SQL syntax makes me sad. At least I have grep.

[code]

The time 2015-09-24T22:36:36Z is a match against the PDT value of 15:36 on 2015-09-24 displayed in Grafana. Telegraf is logging incorrect data for ping times.

[2015-09-25 19:20] sparrc commented on #222
@mabushey re host filtering, the Influx QL sees double-quotes as an "identifier", strings need to be single-quoted like:

`> SELECT * FROM ping_average_response_ms WHERE value < 5 AND host='tyrion'`

see https://influxdb.com/docs/v0.9/query_language/data_exploration.html

Timestamps are also in unix nanoseconds, that is why your "InfluxDB timestamps are from a timezone 6 days off."

Re: the origin

[2015-09-25 19:52] sparrc commented on #222
@mabushey would it be possible for you to drop in a special binary that logs pings where they're less than 2ms? You can find it here:

https://circle-artifacts.com/gh/influxdb/telegraf/591/artifacts/0/tmp/circle-artifacts.SN2Ya2A/telegraf-linux-amd64

You can drop it in directly like this:

[code]

[2015-09-25 20:06] sparrc commented on #222
ps, if you want to see where this is coming from, it's our CI build page, see the "Artifacts" tab here: https://circleci.com/gh/influxdb/telegraf/591

[2015-09-25 20:32] mabushey commented on #222
OK, I moved the symlink out of the way and grabbed the version posted.

[code]

[2015-09-25 20:44] mabushey commented on #222
Another strange thing I've noticed that may or may not be related is:

1. I have 25 servers reporting ping times
2. 9 of these servers are running Nginx (with the telegraf nginx plugin) and php-fpm
3. 1 server is running Nginx (with the telegraf nginx plugin) and hhvm

The nine Nginx / php-fpm servers only log pings every 30 seconds. All the other servers, Including the Nginx/hhvm machine, log pin

[2015-09-25 21:16] mabushey commented on #222
[code]
[code]

Strange that there is such different ping times between www and not having www, but the responses are from different servers. I wonder if DNS is changing...

[2015-09-26 15:53] skynet opened #230 "Plugin suggestion: Monit"
Monit seems to be a good candidate for a plugin:
https://mmonit.com/monit/

Monit has a basic API that can be used to collect statistics for each monitored service:
http:SERVER_IP:2812/_status

Here's some sample output:

[code]

[2015-09-26 16:12] skynet commented on #102
:+1:

[2015-09-28 12:20] yankcrime opened #231 "Package installation fails to create system account for 'telegraf' user on Ubuntu"
An error in the package's `postinst` results in the `telegraf` account being created without the `--system` option being passed to `useradd`:

[code]
The problem is due to the following "bashism" in `postinst`:
[code]
This is because on Ubuntu, `/bin/sh` is symlinked by default to Dash and so the use of this test syntax isn't valid for this shell.  The fix is to change this line to:

[code]

More

[2015-09-28 16:30] ggit commented on #230
+i

[2015-09-28 18:46] cornerot opened #233 "Bcache plugin"
Bcache statistics

[2015-09-28 18:47] cornerot opened #234 "Php-fpm plugin"
Add php-fpm stats

[2015-09-28 21:00] #231 closed

[2015-09-28 21:01] sparrc commented on #233
@cornerot thanks for the suggestion, any other details you could provide would be much appreciated!

[2015-09-28 21:02] sparrc commented on #234
Thanks @cornerot, any other details you can provide would be much appreciated!

[2015-09-29 00:09] sparrc commented on #222
@mabushey were you able to get any useful logging output from the special binary? FWIW, I also saw that happen with `google.com` vs `www.google.com`, although right now they are identical for me

[2015-09-29 00:51] jhofeditz commented on #216
Thank you @mabushey! I had the derivative query close but the scale seemed off. Using your query made Grafana do exactly what I needed for counter based data from Telegraf.

Looking forward to seeing the proper query syntax for InfluxDB in the docs and Grafana supporting it in the editor.

[2015-09-29 01:05] jhofeditz opened #235 "More system metrics"
We would like Telegraf to provide a few more system level metrics to fully replace our existing metrics collectors (Munin/Nagios/Collectd). It would be nice to see these added:

- total number of system processes/threads (by state - runnable,sleeping,zombie)
- interrupts and context switches
- netstat tcp metrics (established, reset, time wait, etc)
- NTP time offset
- more granular memory metrics

[2015-09-29 16:52] JulienChampseix opened #236 "Error during installation (not found) - Package deb"
Hi,

Find bellow an error during the instalation of the deb:

root@# dpkg -i telegraf_0.1.9_amd64.deb
Selecting previously unselected package telegraf.
(Reading database ... 57300 files and directories currently installed.)
Preparing to unpack telegraf_0.1.9_amd64.deb ...
Unpacking telegraf (0.1.9) ...
Setting up telegraf (0.1.9) ...
/var/lib/dpkg/info/telegraf.postinst: 9: /var/lib/dpkg/info/tele

[2015-09-29 17:59] sparrc commented on #236
This was fixed by #232, I can re-roll a `0.1.9.1` with that fix if it affected your installation. Did you end up with telegraf 0.1.9 on your system anyways?

[2015-09-29 19:35] mabushey commented on #222
It appears the problem I've been seeing is DNS related, basically flipping between www.google.com and google.com. I wonder if 8.8.8.8 would better... I'm using google.com now and all seems good. I set the Decimals to 3 under Legend Values in Grafana and now it show values like "0.689" instead of "1".

I do have a weird issue where some of my servers report their ping time every 10 seconds as per t

[2015-09-29 21:57] piniondna commented on #218
It easier to deploy and update a docker image if you're already running a docker cluster. I've managed to get a docker container with telegraf working with the exception of Docker metrics. Using --net=host doesn't seem to do the trick either.

[2015-09-29 22:07] sparrc commented on #218
@piniondna cool! could you share how you got that working?

[2015-09-29 22:11] sparrc commented on #222
@mabushey that's strange, I'm not sure how to explain that. If you are able to build from tip I have a change that increases the logging of telegraf, which would help to debug this.

Binaries can also be found in the Artifacts tab here: https://circleci.com/gh/influxdb/telegraf/598

[2015-09-29 23:38] mabushey commented on #222
I'd rather do a git clone and compile than figure out circleci's nonsensical UI.  I'm not sure what 'tip' (I don't see a branch with that name) is. Does the master branch of telegraf have the increased logging?

Thanks for all the help, I've replaced collectd on all my servers as I believe that telegraf is a better solution.

[2015-09-29 23:50] sparrc commented on #222
sorry, that was a term from my mercurial days, I meant HEAD instead of tip. This is the direct link to the binary: https://circle-artifacts.com/gh/influxdb/telegraf/598/artifacts/0/tmp/circle-artifacts.bpCA9GO/telegraf-linux-amd64

And yes, the master branch has the increased logging

[2015-09-30 06:05] JulienChampseix commented on #97
any update on this features/output ? @sparrc @jipperinbham

[2015-09-30 17:43] jginfluxdata commented on #222
@mabushey - thanks for feedback on telegraf. Let me know if you'd like a hoodie and stickers sent your way as a thank you. jimmy at influxdb.com

[2015-09-30 19:58] mabushey commented on #222
@sparrc You're awesome! This was reported in the log:
[code]
I realized I had a hardcoded hostname in the telegraf.conf Ansible template so IPTables was blocking the request. It worked on the one web node because the firewall was fine locally, and Telegraf worked correctly on the rest of the servers because Ansible didn't include the haproxy part. Thanks for the better logging!

I like this much b

[2015-09-30 20:13] piniondna commented on #218
No problem...

I based my Dockerfile on the [bailey telegraph image](https://hub.docker.com/r/bbailey/telegraf/~/dockerfile/). I install 0.1.7, I create my own telegraph.toml (to include the docker plugin, and I don't include the run.sh script since I execute the command from docker-compose (see code blocks below).

In order to get Docker metrics forwarding, the trick was mapping the proper host p

[2015-09-30 20:19] piniondna commented on #218
btw... @sparrc 's comment about this not being a good idea still might hold true. I just wanted to demonstrate that it's at least possible to deploy Telegraf as a container. However, if the telemetry streaming out of that container is bad due to assumptions about the host enviornment then obviously this method is not a good way to go.

From what I've seen so far, everything looks good, but after r

[2015-10-01 00:51] mabushey commented on #222
The server I installed the logging version of Telegraph stopped reporting mem and cpu statistics. I reinstalled the .deb of the release version, restarted, and the cpu and mem metrics came back. I hope this is only a bug in the version with the extra logging.

[2015-10-01 05:39] sparrc commented on #218
@piniondna I could be wrong, since many of Telegraf's metrics come directly from the kernel `/proc` filesystem. If docker containers are using the same `/proc` files as the host OS, then it's probably accurate

[2015-10-01 23:47] mabushey commented on #222
I think some keys changed a bit in this version, I noticed some series now contain a port number.

[2015-10-01 23:51] mabushey commented on #222
All looks good, the changing ping time does not appear to be an issue with Telegraf. Thanks again for all your debug help. :)

[2015-10-01 23:51] #222 closed

[2015-10-01 23:54] mabushey commented on #235
I would love:
* top 10 (or however many configured) list of system processes
* Running kernel (uname -r)

[2015-10-02 00:15] mabushey commented on #234
It looks something like this:
[code]

It's typical to run multiple pools (I have 9001 and 9002, and yes, I know 9001 is named two). Also  `QUERY_STRING=full` can be specified:
[code]

In addition to the status, there is a ping:
[code]

This is configured in the files `/etc/php5/fpm/pool.d/www0.conf` and `/etc/php5/fpm/pool.d/www1.conf`. From www0.conf:
[code]

[2015-10-02 00:22] mabushey opened #238 "How do I select from InfluxDB what hosts are in the DB?"
I would like to select the hosts for a Grafana templated query, but I don't know how. It seems like something this simple should be documented, but I can't find it. Trying to use a "SQL Like" query language is about as productive as trying to eat "Food Like" plastic.

[2015-10-02 00:53] gotyaoi commented on #238
Something like `SHOW TAG VALUES WITH KEY=host` I think.
https://influxdb.com/docs/v0.9/query_language/schema_exploration.html

[2015-10-02 01:12] mabushey commented on #238
Awesome! That worked. :) Thank you @gotyaoi

[2015-10-02 03:41] aderumier commented on #215
Hi,on elastic camp, they have a new tool to get process metrics (cpu/memory usage)

https://www.elastic.co/guide/en/beats/topbeat/current/topbeat-getting-started.html

[2015-10-02 08:21] descrepes commented on #184
Hi,

Any updates on this feature ?
I'm actually managing Telegraf in puppet with augeas which is a nightmare :)
This feature will really improve the deployment of Telegraf :p

Thx for the awesome work !

[2015-10-02 16:44] sparrc commented on #222
@mabushey yes I've changed some series names for the sake of consistency. See the [CHANGELOG.md](https://github.com/influxdb/telegraf/blob/master/CHANGELOG.md) for more details.

Sorry for the inconvenience, there will probably be more breaking changes coming in the 0.1.X release as I get some of the standards and rules for plugins cemented.

[2015-10-02 16:46] sparrc commented on #235
These all sound like reasonable requests to me. Currently I am focusing on statsd support but should have time to work on this later this month.

[2015-10-02 16:49] sparrc commented on #234
@mabushey so this information is available on `localhost:9001/fpm-status-zwei` and `localhost:9001/ping-zwei`? Does the URL always have the `-zwei` added or is that something that you've configured?

[2015-10-02 16:59] sparrc commented on #184
Right now I'm focused on statsd support, I'm not sure how soon I'll be able to get to this, if someone could help out on this one with a PR it would be much appreciated!

[2015-10-02 17:10] #238 closed

[2015-10-02 17:16] mabushey commented on #234
These are specified in the conf files located in `/etc/php5/fpm/pool.d/` (`www0` and `www1` in my case). I think you missed that part of my last post:

The listen directive (line 27) determines the IP/port binding.
The `pm.status_path` (line 139) and `ping.path` (line 151) control the URL path.

[2015-10-02 18:29] mabushey commented on #222
I like making things cleaner/better and appreciate consistency. Thanks. :)

[2015-10-02 22:39] gotyaoi commented on #184
I'm sort of looking at doing this, but there's a slight hitch. My inclination is that values from included configs should override higher level values, but since the config struct holds the data as "ast.Table"s, merging them is a little difficult. I can see a couple places using UnmarshalTable on them for convenience, but aside from that, is there a reason they're being stored like that?

[2015-10-02 22:50] sparrc commented on #184
@gotyaoi not that I'm aware of, I think you could refactor out the `ast.Table`'s. That would be really awesome because it would make that code more readable too.

[2015-10-02 23:03] gotyaoi commented on #184
Ok, I'll work on that then.

[2015-10-03 04:32] kureikain commented on #234
I'm writing PHP code so probably I'm more familiar with this stuff. If no one wanna take it, can you assign to me to prevent other dev work on it? It's similar to my HAProxy plugin, where I can request an end-point, just different parser to grab data point.

[2015-10-03 05:31] sparrc commented on #234
@kureikain I'm not able to assign to someone outside of the InfluxDB organization, but don't worry, nobody else has claimed this so work away! Thank you! :+1:

[2015-10-04 08:03] ranjib commented on #215
@sparrc i have few question regarding the measurement we want to get out of this plugin. If we filter processes or rss/vms values, what are the metrics/measurements we want to publish? Total number of processes? Do we want total value of RSS/VMS by all processes filtered by the criteria ?
Following is a feature request from https://github.com/influxdb/telegraf/issues/235
- total number of system p

[2015-10-05 08:26] SkyRocknRoll commented on #39
does somebody working on this ? Is the any ETA or target release ?

[2015-10-05 08:29] ranjib commented on #39
@SkyRocknRoll https://github.com/influxdb/telegraf/pull/237

[2015-10-05 12:16] yankcrime opened #243 "Add OpenStack plugin"
A plugin which queries the various OpenStack APIs in order to obtain statistics about a given component, i.e number of running instances, vCPUs deployed, memory in use, and so on.  By way of comparison, there's a fairly comprehensive collectd plugin that's been written [here](https://github.com/rochaporto/collectd-openstack).

[2015-10-05 17:22] sparrc commented on #243
Thanks for the suggestion @yankcrime. If anyone has time to work on this, please update the issue before you begin working so that your work is not duplicated :-)

[2015-10-05 17:25] sparrc commented on #39
It's something I'm working on right now. At the moment I have counters, gauges, and sets working. I still have a ways to go with timers, as they're a bit more complicated.

I'm hoping to have timers working by the end of the week, life permitting ;-)

[2015-10-05 17:32] SkyRocknRoll commented on #39
Thank you @ranjib

@sparrc
Thank you for your kind update. Right now  just to maintain the count we are inserting lot of records. If influxdb statsd is there then our No of records will reduce to 1/1000 th :) and performance will improve a lot.

Eagerly waiting for the release :)

[2015-10-05 17:52] sparrc commented on #39
@SkyRocknRoll Since InfluxDB is a bit more powerful than Graphite, the default behavior is going to be a little different than a typical statsd server.

to give you a little preview, counters would look something like this:

Metrics sent:
[code]

Telegraf debug output:
[code]

As you can see, counters will be maintained and reported at each collection interval, and they will not be cleared by defa

[2015-10-05 18:11] SkyRocknRoll commented on #39
@sparrc wherever i have used , counters are always associated with time. Like requests per second.
Some actions per second. So it would be better if we clear of counter values after each flush. For gauge maintaining values across each flush does make sense.

So default behavior
* counter --> reset to 0 after each flush.
* guage -> maintaining the value  between flush.
But providing everything as c

[2015-10-05 18:36] sparrc commented on #39
My problem resetting the counter is this: InfluxDB provides you with the ability to calculate rates of change on counters that are always-increasing (like this: `SELECT non_negative_derivative(value, 1s) FROM statsd_deploys_myservice_counter`)

If the counter reset, this obviously wouldn't work, and calculating rates of change on the counter requires knowledge of the flushing interval. This also m

[2015-10-05 23:26] sparrc commented on #221
Closing because it appears the exec plugin can be used, please re-open if otherwise

[2015-10-05 23:26] #221 closed

[2015-10-06 04:25] SkyRocknRoll commented on #39
@sparrc I agree with you. one more question. How we are planning to write data using this ?
Pointing influxdb client to telegraf statsd or we should use separate influx-statsd client which supports tags & fields along with measurement .

[2015-10-06 04:41] sparrc commented on #39
It will be a "plugin" on one of your telegraf instances. That telegraf instance will open up a port and listen for UDP packets, where you can send your normal statsd-style packets. On the regular telegraf interval, the statsd server will be flushed and all data will be sent to InfluxDB.

[2015-10-06 05:16] SkyRocknRoll commented on #39
@sparrc Will the line format support tags & fields of influxdb ?  Right now we are not using any of statsd influxdb writer because those doesn't understand influxdb tags & fields.

[2015-10-06 05:22] sparrc commented on #39
yes, it will support a way to create a mapping of a statsd "bucket" to an influxdb measurement with tags: https://github.com/influxdb/telegraf/blob/statsd/plugins/statsd/README.md

[2015-10-06 05:35] zp-markusp commented on #39
Why don't you take advantages of influxdb and use the line protocol syntax? So that you are able to define tags on the fly and don't rely on any hardcoded dot separated order?

Regards, Markus

[2015-10-06 08:42] SkyRocknRoll commented on #39
@sparrc as @zp-markusp said we were looking exactly the same feature. We see influx tags & fields unbeatable feature. If we use the same line protocol then we get all the dynamism of tags and filed and also counters & gauge at the telegraf level.

Or may be we need both of it . Plain statsd for statsd protocol and statsd features with the line protocol.

Plain statstd strips away all the awesomene

[2015-10-06 10:25] dbellantuono opened #245 "Exec documentation, provide JSON examples"
Hi guys!
I tried to write a script to send metrics via exec plugin, but i didn't fund the correct JSON output format.
Can you add in documentation an example with JSON output?

[2015-10-06 11:01] justin8 commented on #39
It would be very useful to support both. Being able to use it as a drop in replacement for things like datadog would be really useful, with the added benefit that you can alter your apps to utilize tags afterwards. It would make the barrier for entry incredibly low.

[2015-10-06 11:23] cornerot commented on #233
#cache sets

/sys/fs/bcache/\<cset-uuid\>
* cset-uuid - UUIDs of cache sets

[code]

## metrics

**stats**

path
 * /sys/fs/bcache/3e35941c-088d-4c34-971c-492886250738/stats_total

files
* bypassed
* cache_bypass_hits
* cache_bypass_misses
* cache_hit_ratio
* cache_hits
* cache_miss_collisions
* cache_misses
* cache_readaheads

description
* bypassed
    * Amount of IO (both reads and writes) that

[2015-10-06 14:19] kostya-sh commented on #144
FYI it should be possible to use httpjson plugin with jolokia.

E.g. the following GET request:

    http://localhost:8080/jolokia/read/java.lang:type=Memory/HeapMemoryUsage

will return

    {
      "status" : 200,
      "value" :  {
               "committed" : 18292736,
               "used" : 15348352,
               "max" : 532742144,
               "init" : 0
              },
      "request"

[2015-10-06 16:32] sparrc commented on #245
@jpalay @alvaromorales Could one of you guys take care of this? And don't forget to sign up for Hacktoberfest https://hacktoberfest.digitalocean.com/ ;-)

[2015-10-06 16:32] yankcrime commented on #235
+1 on this.  Would like to see more I/O-related stats using `iostat` perhaps, i.e queue depths.

[2015-10-06 17:04] sparrc commented on #39
Thanks everyone for the input, especially for the datadog-statsd link, that is very useful and it seems like they have created a good system for adding tags to statsd lines.

As I see it, there are two options we can support: `datadog-statsd` is closer to plain statsd and simply adds a list of tags after a `|#` character. `influx-statsd` would be similar to what @nstott wrote above. It is less sim

[2015-10-06 17:17] kureikain commented on #234
Cool, will adjust HAProxy plugin to parse FPM stat output.

[2015-10-06 17:40] SkyRocknRoll commented on #39
@sparrc I would like go with `influx-statsd` because it will give us consistency across whole influxdb ecosystem.It looks very similar to influxdb line protocol.  Also @pauldix https://github.com/influxdb/telegraf/issues/39#issuecomment-142073599 was mentioning about supporting multiple values. If we are going to design influxdb-statstd lets provision a way to support multiple field values also.

[2015-10-06 17:43] zp-markusp commented on #39
From a gut feeling perspective I would prefer influx-statsd as this could be implemented without changing the statsd library on the application side as it follows the pattern string{identifier}{value}{statsd type}. So just the identifier has to be exchanged.

[2015-10-06 17:46] SkyRocknRoll commented on #39
@zp-markusp +1

[2015-10-06 17:51] zp-markusp commented on #39
For example the standard statsd output from logstash could be used.

[2015-10-06 17:58] nathanielc commented on #39
I say `influx-statsd` since its a subset of the statsd protocol, like @zp-markusp said. It won't require a new client.

I think you should also do something similar to the graphite plugin in InfluxDB that allows you to transform a metric name into a measurement, fields, and tags set. See https://github.com/influxdb/influxdb/tree/master/services/graphite#templates

This will allow for users that al

[2015-10-06 18:08] sparrc commented on #39
okay, good point @SkyRocknRoll about supporting multiple fields, how about this:

[code]

so an example would look like:

[code]

field names and tags are optional, so you could also just do this:

[code]

@nathanielc thanks for pointing me to that, I did not realize that we already had a graphite template transformation setup, I was going to have telegraf have a configuration table for transformi

[2015-10-06 18:22] zp-markusp commented on #39
@sparrc does it make sense to hard code the gauge as suffix to the name?
I would propose to either ignore it or add it as a tag (statsd-type=gauge)

[2015-10-06 18:24] nathanielc commented on #39
I don't see a strong  need to support multiple fields either. StatsD is an event counter, seems odd to want to send multiple fields for a single event. But as long as it is backwards compatible with the StatsD protocol (like your example) I don't see an issue supporting it.

[2015-10-06 19:00] sparrc commented on #39
@zp-markusp I like that idea more too, I'll change the behavior to add a metric_type tag :+1:

[2015-10-06 20:44] justin8 commented on #39
Bit late to reply to this one now; but the way it seems to be heading sounds great! Backwards compatible with extra features/tags :+1:

[2015-10-07 06:26] gotyaoi commented on #184
Small status update. Wasn't able to get rid of the `ast.Table`s entirely, as they're the dynamic part needed to account for loading data into structs which aren't known about ahead of time. Focused on getting the data out of the `ast.Table`s and into the actual structs as soon as possible.

Implemented a very basic struct merge function. Useful for setting defaults in a base struct, then overridin

[2015-10-07 09:58] mbrochh commented on #196
I tried that for many commands but usually it just returns something useless like `# Read metrics about disk usage by mount point`

Are the plugins all not documented, yet?

[2015-10-07 14:39] kokarn commented on #160
This would help greatly with updating on multiple servers :+1:

[2015-10-07 15:05] sparrc commented on #196
@mbrochh correct, they are not all documented. If it only returns that then there are no config options for the plugin

[2015-10-07 19:45] skynet commented on #160
Is the new release imminent?

[2015-10-08 04:27] aderumier commented on #234
Hi,
listen can also be an unix socket, it could be great to be able to read it too.

[2015-10-08 06:41] kokarn commented on #160
Well 3 releases in August and 2 in September is a bit of work if you have a few servers :)

[2015-10-08 11:40] kokarn commented on #216
:+1:
This would indeed be very helpful.
I imagine bandwidth usage is a pretty common thing to display.

[2015-10-08 13:33] skynet commented on #160
Not if telegraf updates with yum, right?

[2015-10-08 14:00] kokarn commented on #160
Yeah, if they add yum and apt it would be easy as pie :cake:

[2015-10-08 14:37] skynet commented on #160
Except that Telegraf is so much dependent on InfluxDB, which is not yet updatable using yum, plus that InfluxDB is going through heavy changes with broken compatibility from one version to another. Hope that all of this will get stable one day, before we get tired of running into problems with the updates.

[2015-10-08 15:46] tarrychk opened #250 "Race Condition in Output Plugins"
I deployed a telegraf v0.1.9 instance with multiple output plugins configured. Unfortunately it crashes every few hours. I compiled telegraf with go race detector enabled and it threw following backtrace:
[code]
Influxdb and kafka output plugin both modify the BatchPoints datastructure passed to Write func by defining Tags. Those tags are only required locally, so I think copying the Points datast

[2015-10-08 17:18] sparrc commented on #250
Thanks for the report @tarrychk, looking into it

[2015-10-09 08:16] tarrychk commented on #218
I deployed telegraf in a docker container and use it to monitor host and other containers. The container itself is trivial, just (a patched) telegraf with its configuration.

I mount following folders from host into telegraf container
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro

/var/run is required because of /var/run/docker.sock which allows me to use docker plugin.
/s

[2015-10-09 08:18] tarrychk commented on #218
P.S. /proc on host and /proc inside containers vary significantly, even between containers on same host.

[2015-10-09 09:19] ekini commented on #185
I'm working on it.

[2015-10-09 09:37] rvrignaud commented on #185
Thanks @ekini !

[2015-10-09 10:43] testuser7 opened #253 "Negative values are reported by mongodb plugin"
Negative values are reported (*_per_sec and *_net_* counters) when mongodb instance freezes for some time.

`time host hostname state value`
`2015-10-09T09:22:19Z  "mongodb" "127.0.0.1:27019" "PRI" 420`
`2015-10-09T09:22:30Z  "mongodb" "127.0.0.1:27019" "PRI" 438`
`2015-10-09T09:28:41Z  "mongodb" "127.0.0.1:27019"  -73293`
`2015-10-09T09:28:52Z  "mongodb" "127.0.0.1:27019"  192`
`2015-10-09T09:29:

[2015-10-09 20:16] sparrc commented on #253
@testuser7 what is this output from? Can you provide telegraf debug output and version number?

[2015-10-09 20:19] #250 closed

[2015-10-10 17:59] kureikain commented on #234
@aderumier I just had the stat via HTTP first. WIll try to get the unix socket working, but prlly not on first iteration.

[2015-10-11 16:37] steverweber commented on #102
perhaps something simpler, tail a file.
some code like: https://github.com/hpcloud/tail/blob/master/tail.go
and add some processing options like.
 - count match of a regex...
 - send raw text that a regex matches

this could be used in many ways! lets say you want to know howmany 404 nginx is returning a second. OR perhaps send raw error.log messages.. The log string lines would be nice in grafana

[2015-10-11 19:13] cornerot commented on #234
This draft. Pool-request and test I will do later.
[code]

[2015-10-11 20:41] skynet commented on #102
Where do we start?

[2015-10-11 20:55] sparrc commented on #102
Tail code looks interesting, but it may even be overkill for this situation. A telegraf plugin being able to handle a constant stream of messages is something that I've implemented in the statsd plugin that has a PR open now #237.

But I think for this situation we might be able to just cache the position in the file and then start reading from that position on the next call to `Gather()`

There i

[2015-10-11 22:15] timgriffiths commented on #102
+1

[2015-10-11 22:16] skynet commented on #102
:+1:

[2015-10-12 01:39] kureikain commented on #234
PR is added https://github.com/influxdb/telegraf/pull/255

[2015-10-12 06:27] kureikain opened #256 "Phusion Passenger plugin"
Hi @sparrc

Not sure if anyone is working on Phusion Passenger. I run `PHP` at home and `Ruby` at work so would want to have telegraf support it. Gonna work on it if no one else that you know are working on it.

[2015-10-12 07:26] cornerot commented on #234
ok :+1:

[2015-10-12 10:08] testuser7 commented on #253
This is result of query `select * from mongodb_commands_per_sec where "hostname" = '127.0.0.1:27019'`

I don't have debug logs. Telegraf 0.1.9 was used.

[2015-10-12 12:32] pugna0 opened #257 "Issue on kafka_consumer plugin"
Hi bro,
I clone this project from master on Ubuntu14.04.
I just put kafka plugin in the config file, and output it to influxdb.
It works well but the result is consits of "kafka_" and the data in the topic , like:
cpu_time_guest  (source data )
kafka_cpu_time_guest (generated by telegraf)

and I write "aaa" into kafka , then using telegraf with that topic, this log information clearly indicate tha

[2015-10-12 14:05] steverweber commented on #102
keep in mined the logstreamer should recover if a file is
 - deleted and recreated.
 - truncated
 - is partway through a line write.

perhaps make it so multiple logstreamers are not needed for each metric.
/we only want to read log file once/
[code]

[2015-10-12 15:26] steverweber commented on #83
related: https://github.com/influxdb/telegraf/issues/83
perhaps have the logsreamer read from a network port instead of a file.

[2015-10-12 15:29] steverweber commented on #102
perhaps file could even be a network stream... withs could open up support for syslog:
file = "udp:\\127.0.0.1:4880"

[2015-10-12 16:03] steverweber commented on #102
some of the code in heka might be helpfull for udp input:
https://github.com/mozilla-services/heka/blob/dev/plugins/udp/udp_input.go

fyi: i feel telegraf objectives would be further along if it forked or contributed to: https://github.com/mozilla-services/heka  - http://hekad.readthedocs.org/en/v0.10.0b1/
options are good tho :)

[2015-10-12 16:10] cornerot commented on #233
plugin is almost ready

[2015-10-12 16:14] kureikain commented on #234
@aderumier socket is also supported. Could you give it a try once it's merged.

[2015-10-12 17:56] sparrc commented on #257
how would you expect telegraf to parse "aaa"? I believe that the kafka consumer plugin needs to be in the line-protocol format

[2015-10-12 18:15] sparrc commented on #257
it's also expected that telegraf plugins prepend measurements with the plugin name

[2015-10-12 18:15] #257 closed

[2015-10-12 18:16] sparrc commented on #256
@kureikain Not that I'm aware of, although this looks like a fairly small use-case and I'm not sure it's worth merging into the telegraf repository.

I could be wrong and people in the community can put a +1 here if they want it.

Otherwise, you could keep the plugin in a fork, or write an `exec` collector that could output the data into JSON and get picked up by telegraf.

[2015-10-12 18:43] bmxpert1 commented on #256
+1. Heavy user of passenger myself, so I think I'd make use of this plugin. What sort of metrics are available @kureikain ?

[2015-10-12 18:45] gotyaoi commented on #256
As a note, passenger-status can output to xml with `passenger-status --show=xml`. Unfortunately it seems there are no plans for a json output: https://github.com/phusion/passenger/issues/1363. On the other hand, it's possible you could run the xml output through a dumb converter program and get json that could be used with the exec plugin. On the gripping hand, perhaps the exec plugin could suppor

[2015-10-12 18:50] sparrc commented on #256
My preference would be to have the exec plugin support XML, and then use that to parse the passenger status output

[2015-10-13 01:47] pugna0 commented on #257
I mean, the contents kafka-plugin gathered are not run-time status or performance of consumer on a topic , they are just source data. The function of kafka plugin is not like redis 's.

[2015-10-13 01:49] sparrc commented on #257
that is why it's called a `kafka_consumer`, it consumes kafka data. I suppose a statistics-gathering plugin would just be called `kafka`

This should be spelled out in a README, see #177

[2015-10-13 01:55] pugna0 commented on #257
Did I make a mistake? These two do not have same function?
# read metrics from a Kafka topic
[kafka]
# Read metrics from one or many redis servers
[redis]

[2015-10-13 01:57] pugna0 commented on #257
I copy them from config-sample.

[2015-10-13 01:58] sparrc commented on #257
@pugna0, correct, they don't have the same function. You can submit a PR if you would like to change the wording, and as I said you can also help the project by submitting a README.

[2015-10-13 02:07] pugna0 commented on #257
I've got it , thank you very much , I'll leave messages for you if I have any ideas.

[2015-10-13 02:38] sparrc commented on #234
closed by #255

[2015-10-13 02:38] #234 closed

[2015-10-13 02:39] sparrc commented on #135
closed by #241

[2015-10-13 02:39] #135 closed

[2015-10-13 02:41] sparrc commented on #83
closing this as a duplicate of #102

[2015-10-13 02:41] #83 closed

[2015-10-13 02:42] sparrc commented on #236
closing as fixed by #232, it will be in the next release

[2015-10-13 02:42] #236 closed

[2015-10-13 02:44] sparrc commented on #199
closing this as fixed by the `-filter` and `-outputfilter` flags, these should now be used to create config files.

[2015-10-13 02:47] sparrc commented on #215
closing this one as fixed by the `procstat` plugin, will use #235 to track the total processes count

[2015-10-13 02:47] #215 closed

[2015-10-13 04:02] kureikain commented on #256
Phusion Passenger is very popular in Ruby community though. It's considering the fastest Ruby app server and it can also serve NodeJS and Python.

Right now, `exec` plugin is quite limited because it doesn't know how to access JSON. It's simply grab the top level field. It also doesn't support `tag`.

I probably will keep it on my own fork, make it easier to parse and insert metric I think.

[2015-10-13 04:05] kureikain commented on #256
@bmxpert1 It will included those metric:

- pool size
- Processes
- Requests in top-level queue

Below are tagged by Pid, App root

- Request in queue
- Session
- Mem
- CPU
- Processed

Will point your to my fork in a few day.

[2015-10-13 04:06] bmxpert1 commented on #256
@kureikain thank you!

[2015-10-13 12:26] pauldix commented on #199
Will it still output all the other plugin configs commented out or disabled? It's helpful for users to have that in there rather than having to know all of the plugin names that exist so that they can put them in the command line when generating the file.

[2015-10-13 14:16] sparrc commented on #199
It won't, but maybe I could make an option to list them more succinctly? The reason I say that is because the default sample config is getting pretty huge, and is only going to get bigger

[2015-10-13 14:33] pauldix commented on #199
That's fine if it's huge, it's just a text file.

Check the config for Redis: http://download.redis.io/redis-stable/redis.conf

That one is big too, but I think it's the gold standard for example config files. Tons of comments so that the user can just look at the config file without having to jump to documentation to figure out what to do.

Better to have everything there, rather than forcing the

[2015-10-13 15:23] sparrc commented on #199
okay, re-opening

[2015-10-13 18:13] ekini opened #260 "telegraf crashes if login/password is incorrect in rabbitmq plugin"
[code]

[2015-10-13 18:16] ekini commented on #260
The commit above fixes the crash for me. Can anyone test?

[2015-10-13 18:33] ekini commented on #102
How about (sample config):
[code]
The plugin recursively walks the specified directories and looks for all files that match the "mask".
The it starts tailing them.

There are rules to parse and extract data, where regex named groups are used.
The name "date" is special, so it requires date_format (for golang time.Parse) to be properly parsed and translated to timestamp in metrics.
Names that end w

[2015-10-13 19:34] steverweber commented on #102
I like the idea of reading the datetime from the log, however I think it should be optional. Keep in-mind some time offsetting should be included to maintain the order of the log messages if not using the actual timestamps in the log.

also like the idea of including a tag or field name in the regex/rule.

[2015-10-13 20:09] sparrc commented on #102
@ekini I'd like if there was an option to add a straight filename in addition to the "mask"

[2015-10-13 20:10] sparrc commented on #102
Also, +1 to date parsing being optional, some people are only going to care about a count within an interval, not a point for every single instance of a regex match.

So you should support that as well, as in my original example above

[2015-10-13 20:11] sparrc commented on #260
That looks OK to me, can you submit a PR?

[2015-10-13 20:57] ekini commented on #102
Of course, date is optional, as well as date_format. Timestamps will be time.Now() then.
And yes, maybe walking through directories is an overkill.

There is one more concern. If you want to cache position in a file, and parse it to the end at each Gather, what happens if file is big? Also, what happens if telegraf gets restarted?

My test code constantly reads files, and sends parsed content to a

[2015-10-13 22:08] steverweber commented on #102
tailing/seeking to end of file is often not a problem when its big...
perhaps you are referring to many writes between the timespan of a gather().
should have some limit... perhaps 1mb for a string buffer.

it gets restarted and jumps to the end of the file... We don't care if we loose some data between.

[2015-10-13 22:25] sparrc commented on #102
There is still a question of what to do if file is truncated. One option would be to make a ServicePIugin that has the Tail code that @steverweber running in the background.

This probably wouldn't be possible until I merge the statsd code

[2015-10-13 22:27] steverweber commented on #102
the https://github.com/hpcloud/tail code seems to handle this well.

[2015-10-13 23:53] #245 closed

[2015-10-13 23:54] #260 closed

[2015-10-14 06:59] farss opened #263 "Skip virtual interface"
I don't want to gather interface data of virtual interface. How skip virtual interface.

[2015-10-14 15:46] sparrc commented on #263
what plugin are you talking about? Have you tried plugin `drop` or `tagdrop` parameters? https://github.com/influxdb/telegraf#plugin-options

[2015-10-14 16:55] ekini commented on #263
Or if you're talking about net plugin, then
[code]

[2015-10-14 17:03] linsomniac opened #264 "Problems with debian packages."
Thank you very much for the debian packages. However, there are a few things I think need to be changed:

The package installs things into opt sub-directories of other directories: /etc/opt/telegraf. These are just the wrong places for them. Really the config file should go into /etc/telegraf.conf, or possibly /etc/telegraf/telegraf.conf (though since there is only one file, it doesn't make sense

[2015-10-14 17:20] sparrc commented on #264
Can't say I disagree with these points, I believe `opt` is actually the technical standard, but in practice I find usage of `opt` kind of pointless and ignored by almost everyone.

@linsomniac I'll merge the PR you sent up, and then talk to others here at Influx and see if we can eliminate usage of `opt` as well

[2015-10-14 17:24] linsomniac commented on #264
See the discussion on influxdb for my similar report and PR:

https://github.com/influxdb/influxdb/issues/4446

[2015-10-14 17:31] sparrc commented on #264
Thanks, can you send up another PR to fix the rest of the points you made?

[2015-10-14 17:35] ekini commented on #152
How about creating global option `separate_series = true` (I would call it separate_measurements), to make AddWithFields behave differently?
Then, for example, in `net` plugin we could use
[code]
instead of
[code]
(which is quite repeatable).
This will accomplish three goals:
1. Let users of older influxdb use telegraf without penalty of storing multiple values in a measurement. Or if they just wa

[2015-10-14 17:53] sparrc commented on #152
@ekini I just don't see a strong justification for having separate measurements anymore. It complicates the documentation significantly (see https://github.com/influxdb/telegraf/issues/152#issuecomment-136461809)

There is a reason that Telegraf is still in the `0.1.X` phase of releases, so I don't find backwards-compatability enough of a justification at this point.

[2015-10-14 19:27] linsomniac commented on #264
Probably.  The package.sh script is a slightly unusual way of doing it (instead of using a debian/ directory), but I can probably figure it out.  From the influxdb side of things, it sounds like it is something they are open to, so it sounds like I could have some traction if I made the changes I proposed.  Does the proposal sound good to you?

[2015-10-14 20:42] sparrc commented on #264
yes, except please link the binary in `/usr/bin` instead of putting it in `/usr/sbin`

[2015-10-15 10:51] #263 closed

[2015-10-15 16:57] linsomniac opened #266 "Init script fails if another process has "telegraf" in the command-line"
I was editing the telegraf config file and the init script would no longer work.  This is because the init script uses "pgrep -f", which shows processes with the search string anywhere in the command-line, including arguments such as "vi /etc/opt/telegraf/telegraf.conf".

[2015-10-15 17:19] linsomniac commented on #264
Please re-open.

[2015-10-15 18:18] #39 closed

[2015-10-15 21:06] #266 closed

[2015-10-15 21:12] sparrc commented on #39
This is now in master and can be gotten by building from source, see README here for documentation and usage details: https://github.com/influxdb/telegraf/tree/master/plugins/statsd

more feedback is much appreciated, thanks all

[2015-10-15 21:42] jrxFive opened #269 "godep restore failing"
Attempting to add a new import, `godep restore` output:

[code]

Additionally getting 404's for the URL equivalent.

[2015-10-15 22:03] sparrc commented on #269
I can't reproduce it, I would say that you should open the issue with the godep project

why do you need `godep restore` to add a dependency anyways? Should just be `godep save`

[2015-10-15 22:03] #269 closed

[2015-10-16 11:48] pauldix opened #272 "Add integration to service discovery"
If there's some standard service discovery to connect to like Consul, it would be cool to have Telegraf connect to that and automatically start collecting data for services that Telegraf supports.

So when a new MySQL server comes on, Telegraf will automatically start collecting data from it.

Just an idea. Users could also get this by just having Telegraf part of their deploys when they create ne

[2015-10-16 17:42] sparrc commented on #272
:+1:

[2015-10-16 20:06] sparrc opened #277 "httpjson & exec plugins should give special meaning to keys: "name" and "tags""
The JSON parsing of the exec and httpjson plugins should accept some keys as instructions for naming/tagging.

For example, the following JSON

[code]

currently would be parsed like this:

[code]

Instead, "name" should override the parent key name, and tags should add tags. Tags at lower levels in the tree should override top-level tags. So the above would look like this instead:

[code]

There

[2015-10-16 20:10] sparrc commented on #277
cc @otoolep @palkan @jpalay @alvaromorales

[2015-10-16 20:15] otoolep commented on #277
Yeah, stuff like this would be handy.

[2015-10-16 20:41] jrxFive opened #278 "Add Solr plugin"
Seeing if anyone has the need or creating a solr plugin? I have it somewhat completed but have not figured out a good way to collect data from the following endpoint:

`/solr/{CORE_NAME}/admin/mbeans?stats=true&wt=json`

[2015-10-16 20:55] sparrc commented on #278
why not just use the httpjson plugin? https://github.com/influxdb/telegraf/tree/master/plugins/httpjson

[2015-10-16 21:00] jrxFive commented on #278
I wouldn't know the `coreName` value beforehand unless I used some type of config management/service discovery/scripting tool to generate a template that for the httpjson plugin request.

[2015-10-16 21:04] sparrc commented on #278
So the plugin would need to discover `CORE_NAME`?

[2015-10-16 21:05] sparrc opened #279 "Clean up system unit tests"
`system_test.go` is a mess, and makes it difficult for contributors to add new unit tests. This file should be broken out into a test file for each plugin. ie, `cpu_test.go`, `mem_test.go`, etc.

[2015-10-16 21:07] jrxFive commented on #278
Yea it would use a different endpoint to extract all the cores ( plus some general information ), and then iterate over each `CORE_NAME` to get the mbean stats. At least I think thats how it would work, I have not seen a more dump worthy endpoint to get all the information at once.

`/solr/admin/cores?action=STATUS&wt=json`

[2015-10-16 21:08] sparrc opened #280 "Use InfluxDB client v2"
Old client is deprecated, v2 client supports specifying fields and precision better.

Because the new client does not store Tags (only on each point), this will probably require the `Accumulator` to maintain a map of default tags that get applied when `Add` is called.

[2015-10-16 21:12] sparrc opened #281 "Eliminate deep copying of batch points"
Multiple output sinks each need to be passed the same BatchPoints, which requires us to deepcopy the entire batch for each output, See #250

If we make a lockable wrapper, we can eliminate the deep copying.

#280 should be done before this is worked on.

[2015-10-17 11:53] palkan commented on #277
## About tags and names

It looks a little bit complicated to me.

This features require command/service providers to _know_ that telegraph is using it. Smells like _high coupling_.
Another argument: legacy systems.
I think that telegraph shouldn't add any new constraints to _systems_ being monitored.

For example, for tags I like the idea of providing _tag keys_ parameter (where to look for keys?

[2015-10-18 20:28] sparrc commented on #277
@palkan The libraries folder would be for a general use-case, code for all plugins

re: high coupling. This is true, but there actually has been a request _for_ this feature, so that users can develop "telegraf-aware" JSON output. See https://github.com/influxdb/telegraf/issues/190

[2015-10-18 20:28] sparrc commented on #190
Closing this in favor of https://github.com/influxdb/telegraf/issues/277, @abh let me know what you think of what I proposed in that case

[2015-10-18 20:28] #190 closed

[2015-10-18 21:00] abh commented on #277
The coupling seems pretty reasonable me. Without it, how do you use the tagging feature?

I don't know about the exact format without having tried developing for it, but if the experts says this would be good then it sounds good to me (as the requestor of #190).

[2015-10-19 07:31] palkan commented on #277
@abh The idea of extracting tags from existing data (without modifying it) is explained (and implemented)  in #275.

@sparrc
What about having  two possibilities: `parse_tags=true` (_telegraph-aware_) and `extract_tags=true` (#275)? This would make telegraph more flexible.

[2015-10-19 13:14] jipperinbham commented on #97
@JulienChampseix I did some testing with this and I have a few ssues/concerns

- the docs for writing directly to the sensu socket on a host went missing after the 0.16 release.
- I would imagine that many use cases would involve running telegraf in a container. By doing so, it becomes quite difficult to write/access the host level socket.
- sensu already has an extensive list of [plugins](https:/

[2015-10-19 13:54] daviesalex opened #285 "[RFC] Implement a fixed-size buffer of points"
We are running many thousands of telegraf clients with a frequency of collection in the low seconds. We would like to be able to run some collectors at least once per second and potentially more frequently (not currently supported by telegraf, and irrelevant until other scaling issues are resolved).

From my reading of the code, telegraf batches points from a given run, one per schedule. So if all

[2015-10-19 13:57] jrxFive commented on #279
would you want and additional tests for each plugin?

[2015-10-19 15:07] rvrignaud commented on #272
Hello @pauldix,
What you suggest is, I think, what I tried to explain here: https://github.com/influxdb/telegraf/issues/193#issuecomment-140688471
Prometheus supports a wide range of discovery (consul included). I'm personally interested in kubernetes discovery.

[2015-10-19 15:26] otoolep commented on #277
I don't think telegraf should assume the names of the keys. Is should instead be told what the name is of the field to interpret as "name", same for tags (if any) and values. It just happens that "name" (the field) is the "name" in the InfluxDB measurement sense above.

[2015-10-19 15:27] otoolep commented on #277
This would be done via config changes, just like the Graphite service on InfluxDB is configured for parsing.

[2015-10-19 16:01] sparrc commented on #277
@palkan there's no reason we can't just do both, I don't see a good reason for having a option to deal with #275, you can just not use the feature by not specifying anything in the tag_keys list.

[2015-10-19 16:02] sparrc commented on #279
additional tests are always good, where applicable

[2015-10-19 17:43] cornerot commented on #233
https://github.com/influxdb/telegraf/pull/286

[2015-10-19 18:19] sparrc commented on #285
I agree that this would be a better design at scale.

The first thing that stands out to me about the design your suggesting is a configurable minimum interval, with a circular buffer. This would mean you would like Telegraf to just overwrite and drop metrics if more metrics are coming in than the buffer has available?

cc @pauldix

[2015-10-19 18:27] daviesalex commented on #285
@sparrc , that is certainly an accurate summary of my suggestion (perhaps adding "with POST attempts retried at that minimum interval until they succeed, or the writes fall out the ring buffer (FIFO)".

[2015-10-19 18:34] cornerot commented on #230
[code]
or "monit status" command

[2015-10-19 20:36] sparrc commented on #285
Do you mean the ring buffer would be for a batches of points? or for individual points?

Right now I happen to be working on a change that gets us closer to what you're suggesting, but without sophisticated buffering.

Basically the accumulator is changing to only track a channel of points, which a separate gorouting reads into a slice. Then there will be a configurable `flush_interval` parameter

[2015-10-19 21:37] gotyaoi commented on #184
Ok, I've got some tests in and implemented directory loading. I'll probably try to run this myself for a little bit, then open a PR.

[2015-10-19 21:59] daviesalex commented on #285
That channel will be what, a buffered one? Presumably if flush_interval != the interval the points are being collected, they have to be buffered somewhere.

Buffering is mostly to allow us to survive a brief network outage (or InfluxDB service event) without loosing data (what happens today) or a memory leak (what would happen if we had no buffer size!). Other approaches may well get us to the sam

[2015-10-19 22:16] gotyaoi opened #289 "panic in accumulator if nil is passed as the third parameter to Add"
I was testing the changes I had made for the config directory support when I came across this. The changes here: https://github.com/influxdb/telegraf/commit/6977119f1e208bbaae7584168af3a0226ceb065a#diff-2df0b9f3bc0da3ee13966a69e386ff84R145 will panic if Add is passed nil as the tags parameter. A quick grep shows this only happens in the system plugin, the puppetagent plugin and as an example in th

[2015-10-19 23:15] gotyaoi opened #290 "net, disk and io plugins measurements being written to influxdb as strings"
While testing my changes, I noticed some of my graphs were not displaying. It appears that the net, disk and io plugins measurements are being written to influxdb as strings. A sampling of the relevant post data, grabbed by tcpdump. notice the quotes around the numbers:
[code]

[2015-10-20 00:13] sparrc commented on #285
We can buffer the channel, but flusher will make every effort to get it off the channel and into a slice, which can be passed to and read by multiple output sinks. My thought was that the code that writes to the output sinks (see `agent.flush`) would retry on failures a few times.

I really don't want to see telegraf buffering a large amount of data, I feel that having a moderate number of retries

[2015-10-20 00:24] daviesalex commented on #285
So we did briefly go up to thousands of clients (although are now back at ~1k). We actually found that overall the distribution was pretty good (slightly to our surprise - we expected a huge micro-burst every second or ten seconds), because they synchronize on their startup time which when n is large enough is almost entirely random.

So the jitter idea is a nice touch, but not as necessary as I h

[2015-10-20 00:45] sparrc commented on #290
InfluxDB does not support writing `uint64`, I have a hack-a-round

[2015-10-20 01:06] sparrc commented on #285
Agreed, totally understand that non-100% uptime should be handled gracefully (this is the real world ;-))

I hope that simple retries can get us there, and @pauldix also had the idea that after a certain number of retries the lines could get written to disk and read on restart.

[2015-10-20 01:09] #290 closed

[2015-10-20 09:19] JulienChampseix commented on #97
@jipperinbham thanks for your update.

The best solution remain to send metrics to the sensu-client based on the local server. Currently that the best practise for respect the sensu architecture in term of workflow. I'm not convinced to send directly to sensu rabbitmq is a good idea and could impact alerting part (in term of management / threshold) .

My current idea for having sensu plugin for te

[2015-10-20 10:41] daviesalex commented on #285
Writing to disk is a further detail - I still think that there should be a fixed size buffer (I can think of lots of reasons why you would not want it to grow unbounded, even on disk!) and in most real world environments I suspect that buffer will be so small you can keep it in memory and yet still achieve its goals. You could write it to disk (either regularly, or on shutdown) but I almost wonder

[2015-10-20 15:48] ymettier commented on #30
Hello,

I saw the "Help Wanted" tag and maybe you would be interested in this :
https://github.com/cloudfoundry/gosigar

I saw at least 2 collectors that use gosigar, including Topbeat (from Elastic).

You may also want to see how Mackerel works :
* https://github.com/mackerelio/mackerel-agent/tree/master/metrics
* https://github.com/mackerelio/mackerel-agent/tree/master/util/windows

For wmi (inc

[2015-10-20 15:51] sparrc commented on #30
@ymettier gosigar specifically doesn't support windows

The other libraries look useful, thanks for the recommendations :+1:

[2015-10-20 15:57] justin8 opened #291 "datadog issues"
Just trying to test telegraf on datadog, as I need it working there before I can try to swap out datadog for influxdb+grafana+etc. I've found a couple issues, and I'll try and add more as I find them. Initially though I've found the following:

- [ ] Data is pushed with a 'host:foo.example.com' as expected, but (using system_load1 as an example) it shows data as coming from '*' and when doing syst

[2015-10-20 16:04] sparrc commented on #289
I'm working on overhauling the accumulator and already have a fix for this in that branch

[2015-10-20 16:11] sparrc commented on #291
I'm not very familiar with datadog, @jipperinbham can you comment?

Re: dot-separated values, why is that an issue? InfluxDB doesn't put any meaning on dot-separated values so Telegraf doesn't either. We can easily convert "_" -> "." but then your measurements will have different names in InfluxDB and datadog.

[2015-10-20 16:14] justin8 commented on #291
That's true. but I don't believe we can query datadog's database directly; it's all via their webfrontend which is similar to grafana. I would at least vote for having the _ replaced by a . for that as it would allow it to be seamlessly swapped on the machines, but now reporting to two locations. Which allows current datadog users to very easily change over.

[2015-10-20 16:47] jipperinbham commented on #291
@justin8 thanks for the info here, I'll try and get a PR up soon to address these.

Doing a gsub on `_` to `.` makes sense for this use case.

I'm not sure what the deal is with the `over` portion of the query. I'll take a look at the datadog API again and see what I can figure out.

[2015-10-20 17:00] justin8 commented on #291
Let me know if you need any help with testing it. I have a few hundred machines on datadog currently that I can use to test some of these changes.

[2015-10-20 17:11] gotyaoi commented on #289
Ok, cool.

[2015-10-20 17:55] sparrc commented on #291
@jipperinbham I'm working on a fairly large change to the accumulator that is affecting the datadog code quite a bit. Just an FYI that you might want to wait for me to get that pushed first. See #292

[2015-10-20 17:57] sparrc commented on #289
I'll leave this case open until I actually get that pushed, thanks for the report @gotyaoi!

[2015-10-20 19:04] jipperinbham commented on #291
@sparrc thanks for the heads up!

Is that refactor going to replace the need to do a deepcopy when sending points to outputs?

[2015-10-20 19:18] sparrc commented on #291
yep :+1:

[2015-10-20 19:22] jipperinbham commented on #291
nice! I had toyed around with using a channel to send the points back when adding the outputs so very happy to see this happening.

[2015-10-20 19:56] sparrc opened #293 "Run long unit tests in CircleCI"
Utilize docker & docker-compose.yml. See Makefile `make test`

Should take this opportunity to run them with the `-race` flag too

[2015-10-20 20:10] #280 closed

[2015-10-20 20:10] #281 closed

[2015-10-20 20:10] #289 closed

[2015-10-20 21:25] gotyaoi opened #294 "flushinterval causes delay for latest data"
Just doing some testing with the new accumulator, and ran into an odd little issue. The way it seems to be operating, for collections, it runs immediately after startup, then waits `Interval`, then collects again, but for flushing, it waits `FlushInterval` after startup, then flushes. This has the effect that looks like this in the log:
[code]
With the flush occurring immediately before the gather

[2015-10-20 21:45] #233 closed

[2015-10-20 22:38] sparrc commented on #294
hmm this is a bit tough to guarantee since they are two independent threads. 99.9% correct solution could be to sleep for a few milliseconds when the flusher thread starts up

[2015-10-20 22:46] #294 closed

[2015-10-20 22:47] sparrc commented on #294
Thanks for the report @gotyaoi! I've pushed a change to delay the startup of the flusher

[2015-10-20 23:02] gotyaoi commented on #294
Looks good.

[2015-10-20 23:33] gotyaoi commented on #184
PR open here: https://github.com/influxdb/telegraf/pull/295

[2015-10-20 23:54] DefunctExodus opened #296 "[Kafka] collectd SNMP"
just wondering if anyone has integrated collectd snmp data into Kafka then Influx.

Getting it into Kafka is fine but the only options available from collectd are graphite / putval / json.

[2015-10-21 07:33] ymettier commented on #30
Hello,

About gosigar, I'm confused...

https://github.com/cloudfoundry/gosigar/blob/master/sigar_windows.go
[code]
OK, you are right. I'm sorry.

But from topbeat :
https://github.com/elastic/topbeat/blob/master/Godeps/_workspace/src/github.com/elastic/gosigar/sigar_windows.go

[code]

So i'm sorry for the wrong URL. I would agree if you do not want to use gosigar (I would not use it either after

[2015-10-21 07:50] ymettier commented on #30
Hello again...

Reading again @discoduck2x's comment about typeperf and collectm...

Collectm uses http://markitondemand.github.io/node-perfmon/. Reading the code of this module is very interesting and I would have recommended a similar implementation 1 or 2 months ago...
Every time you call `perfmon()` to add a counter, it will add it in a list. Then it will run `typeperf` with the list of counte

[2015-10-21 09:11] codeb2cc commented on #77
I think there's should be an option to disable this feature. 3c7c8926fb436e683c6a74201b1c90f390ef419f added a default error "Could not create database on any server" and if the creation query failed, telegraf exists. In my case, the influxdb user for telegraf has no right to create db and the creation query gets a 401 response.

[2015-10-21 14:14] adithyabenny opened #297 "MySQL plugin takes wrong server tag if the password contains '@'"
https://github.com/influxdb/telegraf/blob/master/plugins/mysql/mysql.go#L135 is how the MySQL plugin takes the server tag. It should take the last element of the array, as opposed to the second element, otherwise it'll output the wrong result if the password contains the character '@'.

[2015-10-21 16:38] sparrc commented on #77
@codeb2cc please open a new issue for that

[2015-10-21 16:41] sparrc commented on #297
thanks for the report

[2015-10-21 18:06] samahee commented on #277
# ./telegraf -config telegraf.conf -test
2015/10/22 02:50:45 line 121: field corresponding to `tagdrop' is not defined in `*httpjson.Service'

# ./telegraf -config telegraf.conf
2015/10/22 02:35:19 line 130: field corresponding to `drop' is not defined in `*httpjson.Service'

can't use plugin options..

[2015-10-21 18:10] samahee opened #299 "bind stats plugin"
Add bind stats

[2015-10-21 18:17] sparrc commented on #277
@samahee irrelevant to this case, open a new one

[2015-10-21 18:17] sparrc commented on #299
dns bind? can you provide more details where that data should come from?

[2015-10-21 18:20] sparrc commented on #296
this isn't really the right place for a discussion thread

fwiw, there is this snmp -> influx project: https://github.com/paulstuart/influxsnmp

[2015-10-21 18:20] #296 closed

[2015-10-21 23:29] sparrc opened #301 "Normalize telegraf collection interval on even intervals"
ie, if you specify `interval = "10s"` then you will get metrics stamped at `:00`, `:10`, `:20`, etc.

This will also introduce a `flush_jitter` option so that multiple telegraf instances don't all flush at exactly the same time.

[2015-10-21 23:42] #301 closed

[2015-10-22 00:40] sparrc opened #302 "[tags] from config file are not getting picked up"
AFAIK, this is only on HEAD

[2015-10-22 05:29] samahee commented on #299
yes dns bind.
1. https://collectd.org/wiki/index.php/Plugin:BIND (using libpcap, golang - https://github.com/sungit/gopcap)
2. https://exchange.nagios.org/directory/Plugins/Network-Protocols/DNS/check_bind-2Esh/details (using bind stats file)

first is more detailed informations, seconds is simple data.

[2015-10-22 06:08] samahee commented on #30
downloaded https://s3.amazonaws.com/get.influxdb.org/telegraf/telegraf_0.1.9_amd64.msi
measurements is cpu, mem. how to collect network, disk metric?

[2015-10-22 09:47] codeb2cc opened #304 "Influxdb CREATE DATABASE authorization problem"
3c7c892 added a default error "Could not create database on any server" and if the creation query failed, telegraf exits. But in some cases the influxdb user for telegraf has no right to create db and the creation query will gets a 401 Unauthorized response. Telegraf should have a better way to handle such errors (may be just ignore the 401?).

[2015-10-22 11:14] nohn opened #305 "Error Message on .deb-Install on Ubuntu 14.04"
sudo dpkg -i telegraf_0.1.9_amd64.deb
    Selecting previously unselected package telegraf.
    (Reading database ... 106864 files and directories currently installed.)
    Preparing to unpack telegraf_0.1.9_amd64.deb ...
    Unpacking telegraf (0.1.9) ...
    Setting up telegraf (0.1.9) ...
    /var/lib/dpkg/info/telegraf.postinst: 9: /var/lib/dpkg/info/telegraf.postinst: [[: not found
     Remov

[2015-10-22 11:33] adithyabenny commented on #297
The sever tag should be 'localhost' even if the `serv` variable is "root:root@http://10.0.0.18/?tls=false" or "root:passwd@tcp(127.0.0.1:3036)/?allowOldPasswords=1"

[2015-10-22 12:10] oldmantaiter opened #306 "Prometheus Output"
I was wondering if it is inline with the project goals/style for me to have an output plugin for prometheus that is a local HTTP server that listens on a configurable address/port for prometheus to poll. Basically it would enable a prometheus client. I have a working implementation, but was wondering if it would be of use before writing tests etc.

[2015-10-22 15:50] sparrc commented on #306
@oldmantaiter So this would be an output plugin that starts up a server with an endpoint for prometheus to query from? Then that server needs to accept flush writes from Telegraf while also accepting requests from prometheus?

That definitely sounds like it would be useful, I know @brian-brazil would be interested.

I don't think that it's possible, however, with the current `Output` interface. We

[2015-10-22 16:05] oldmantaiter commented on #306
@sparrc Correct, the current implementation does the following:
    - Connect: to spawn the HTTP server with the prometheus handler (requires github.com/prometheus/client_golang/prometheus)
    - Write: set prometheus gauge metrics for each point that comes through

I will put my current code in my fork, although I am still tweaking it.

[2015-10-22 16:13] sparrc commented on #302
@gotyaoi this looks to be related to your config changes, can you take a look at this?

Using the tags dict in the config file is not getting applied, like the config below

[code]

[2015-10-22 16:50] gotyaoi commented on #302
Ah, I see what's wrong. I think I was in the middle of a change there and forgot to finish it. I'll submit a fix later today.

[2015-10-22 16:57] #253 closed

[2015-10-22 16:57] sparrc commented on #302
thank you :+1:

[2015-10-22 17:26] #304 closed

[2015-10-22 19:24] sparrc commented on #301
@daviesalex I wanted to let you know that this is also in HEAD because you mentioned this in case #285. I'm hoping that the jitter is enough to allay your concerns, the default behavior is a jitter of 5s with a flush interval of 10s.

The way that it's implemented, `flush_interval` is the minimum flush time, and `flush_interval + flush_jitter` would be the max flush time.

It sounds like you are e

[2015-10-22 19:36] sparrc commented on #285
@daviesalex I'm going to re-open this case with a new title, since I still think there is a good argument for having a fixed-size buffer rather than simply retrying writes.

[2015-10-22 19:55] sparrc opened #309 "NSQ output"
We should write an NSQ output sink, looks fairly straightforward since it's a Go project and they have an officially supported Go client.

Official Go client:
https://github.com/nsqio/go-nsq

Example writer:
https://github.com/nsqio/nsq/blob/master/apps/to_nsq/to_nsq.go

[2015-10-22 19:59] #302 closed

[2015-10-22 21:45] brian-brazil commented on #306
I already wrote up the code for this, see https://github.com/influxdb/telegraf/compare/master...brian-brazil:prometheus and #15

You should produce untyped metrics at scrape time (untyped as we don't know if they're counters or gauges). This keeps the timestamps correct.

[2015-10-22 22:05] allenj commented on #34
I've written an output for this. I'm waiting on amir/raidman#11 to be merged but the branch mentioned in the commit above works.

[2015-10-22 22:05] sparrc commented on #306
@brian-brazil This is different because we'd be creating a generic interface for outputs to provide a service, rather than having prometheus being integrated directly into the agent.

@oldmantaiter let me know if you need assistance or want me to add some of the generic interface code. My thought was that we could make a generic ServiceOutput interface similar to ServicePlugin: https://github.com/

[2015-10-22 22:12] allenj opened #310 "Support sending elasticsearch cluster health metrics"
Currently only the /_nodes/stats and /_nodes/_local/stats are hit. Cluster health would also be beneficial (https://www.elastic.co/guide/en/elasticsearch/guide/current/_cluster_health.html).

[2015-10-23 00:03] oldmantaiter commented on #306
@sparrc I'll take a look.

@brian-brazil I had considered supporting counters, but from a really brief glance had not really seen any metrics that would warrant it. If that is not the case, I can look into adding support.

[2015-10-23 00:42] samahee commented on #309
+1

[2015-10-23 05:05] ekini commented on #305
It should have been fixed in #236

[2015-10-23 06:12] brian-brazil commented on #306
It's a question of what the plugin produces, for example `/proc/stat` is almost all counters. As you don't want to go down the rabbit hole of figuring out which metrics are of which type so that you get the metadata correct (which Prometheus currently doesn't use), just make everything untyped.

[2015-10-23 12:22] oldmantaiter commented on #306
@brian-brazil You are absolutely correct, I was thinking of metrics in terms of how our current in-house implementation (which we are replacing with telegraf) presents them (counters are converted to gauges). I will make adjustments.

[2015-10-23 16:30] daviesalex commented on #301
Some initial real world data from this can be found at https://github.com/influxdb/telegraf/pull/298#issuecomment-150614275

[2015-10-23 19:52] oldmantaiter commented on #306
@sparrc I have not changed it to be a new ServiceOutput interface yet, that will be in my next commit.

@brian-brazil The code I had written required an update to the prometheus/client_golang library that was in godep, so I had to change the current prometheus plugin to use the new functions. I have tested locally and it looks to be working, but I would like your eyes on the change - https://githu

[2015-10-23 19:58] brian-brazil commented on #306
@oldmantaiter That all looks okay from a quick peek, I left some small comments.

[2015-10-23 20:26] oldmantaiter commented on #306
@brian-brazil Great, thanks, updated to use port `9126` and removed some useless comments.

I'll keep plugging away on the interface for ServiceOutput. At this point, would it make more sense for me to track this in a PR or continue updating this issue?

[2015-10-23 23:29] #297 closed

[2015-10-23 23:39] gotyaoi commented on #184
This has been merged, so it can probably be closed now. I think I messed up the issue number on the commit, so it didn't auto close.

[2015-10-24 00:26] sparrc commented on #184
thanks much @gotyaoi :+1:

[2015-10-24 00:26] #184 closed

[2015-10-24 00:38] sparrc commented on #306
Thanks a bunch @oldmantaiter, send me an email cameron (at) influxdb.com if you'd like to do a google hangout

Feel free to open a PR anytime you'd like us to review some code, doesn't have to be finished

[2015-10-24 00:48] sparrc commented on #310
sounds good, would love to get a PR for this from anyone familiar with Elastic Search :+1:

[2015-10-24 07:54] cornerot opened #317 "ZFS plugin"
ZFS metrics

[2015-10-24 22:32] azrdev opened #319 "disk plugin reports bind mounts as duplicates"
Consider an `/etc/fstab` like
[code]
i.e. a mount point `/mnt` and some subdirectories of it bind-mounted to some other directory.

Such configuration leads to the disk plugin of telegraf reporting disk usage statistics for each of these bind mounts separately, with the same data (that of the original mount point).

[2015-10-26 07:13] sparrc commented on #319
Closing this as expected behavior.

What would you want it to do? Ignore your bind mounts? If they're in fstab seems like they should be listed. You can ignore them using `tagpass/tagdrop` or `pass/drop` filters. https://github.com/influxdb/telegraf#plugin-options

[2015-10-26 07:13] #319 closed

[2015-10-26 12:20] ekini opened #320 "Config ignores toml struct tags"
If we have a config struct in a plugin like
[code]
Then telegram will fail at the start with `could not find field in pluginname.Config matching group`.

Most likely, it's caused by #295

[2015-10-26 12:23] ekini commented on #320
@gotyaoi any ideas?

[2015-10-26 13:06] adithyabenny commented on #297
@sparrc the updated plugin returns 'localhost:3306' as the server tag. Isn't that undesirable? Shouldn't the server tag consist of just 'localhost'?

[2015-10-26 13:21] jrxFive commented on #309
Should the output sink have the option to do a lookup for the "topic" against nsqlookupd or just directly to a set of nsqd instances?

[2015-10-26 16:53] sparrc commented on #320
thanks for the report, @gotyaoi could you please take a look at this as soon as possible?

[2015-10-26 16:55] sparrc commented on #297
I'd prefer it have port and server, since that is the full address

[2015-10-26 17:15] sparrc commented on #320
@ekini are there any plugins that currently rely on this behavior?

[2015-10-26 18:00] gotyaoi commented on #320
I'll take a look.

[2015-10-26 18:07] ekini commented on #320
@sparrc although there are some plugins that use struct tags, all of them luckily work correctly,
except my unreleased plugin :)
[code]

[2015-10-26 18:14] amoghe commented on #264
Since this bug tracks issues with installing from a debian pacakge, I'll add this here:

On installation, I see this:
[code]

Probably due to bash syntax in a file that is executed under `sh`?

Happy to open a new issue to track this if needed.

Details of downloaded deb file:
[code]

[2015-10-26 18:16] sparrc commented on #264
That issue has been fixed, it will be available in the next release

[2015-10-26 18:28] gotyaoi commented on #320
Ok, so those work correctly because they are, shall I say, close enough. The merging code currently strips underscores and lowercases to match between a key in toml and a field in the struct. The struct tag is not currently consulted. I'll put in matching on the struct tag.

[2015-10-26 19:50] jipperinbham commented on #310
@allenj are you just thinking the top level health call or also including `?level=indices`?

[2015-10-26 20:12] allenj commented on #310
I was thinking ```?level=indices``` if possible so you know the specific index that is having issues.

[2015-10-26 22:49] gotyaoi commented on #320
@ekini Could you please give the patch from https://github.com/gotyaoi/telegraf/commit/d85cf9b9aefb072b8dba3467a01d59a01d490c18 a try? If that works for you, I'll rebase and submit a PR.

[2015-10-27 00:49] jipperinbham commented on #310
Ok, I'll see how hard it will be to add `?level=indices` in addition to general cluster health.

[2015-10-27 00:52] otoolep commented on #310
I think `indices` should be tags

[2015-10-27 01:59] jipperinbham commented on #310
@otoolep sounds good, so for the following input
[code]

we'd process the tags as (semi-pseudo code)

[code]

[2015-10-27 02:07] otoolep commented on #310
Thanks @jipperinbham -- do you need to prefix the value names?

If I was to pump that data into InfluxDB, I would do this (in terms of line protocol):

`indices,index=v1 status=green,number_of_shards=10,.....`

At least I think so. This schema would allow me to know how many relocating shards there were, across the cluster and across time, with a query like so:

`SELECT relocating_shards FROM indi

[2015-10-27 02:43] jipperinbham commented on #310
Ah, yes, I see the data model now.

[2015-10-27 05:36] sparrc commented on #309
@jrxFive Doing discovery would be a good idea. What exactly do you mean about the measurement times? Convering them to a different unit?

Personally I would prefer to just use what they give us to avoid confusion. It's easy enough in influx to divide by whatever scale you need.

[2015-10-27 10:09] rvrignaud commented on #185
Hello @ekini, is there anything to test ? How can I help you ?

[2015-10-27 12:16] jrxFive commented on #309
@sparrc, I was asking if there should be an adjustments to the default config given. The time duration for those defaults are in nanoseconds was just trying to give the base unit :). But yea I agree ill stick to the defaults and incorporate a lookupd option.

[2015-10-27 15:44] ekini commented on #320
@gotyaoi it works, but it matches both "group" and "groups". I'd use something like ekini@600c48abf96506a8a5a6ed125d8648b0369e3df3

Also, I think it's better not to fail when config dir doesn't exist, because .rpm and .deb post-install scripts don't create it, but it's specified in startup script. Please, check ekini@5b96193b755a27b084aabc4ac3f62471ad6104d2

[2015-10-27 16:25] gotyaoi commented on #320
Ah, yes, that definitely makes sense. @sparrc that could probably be taken as is, or I could squash it down into one commit on my branch, whichever you would like.

Regarding the config directory, I think that if it's been specified at the command line, it should be an error if it doesn't exist. In that case, it should probably be created by the packages. I'll put together a commit for that a bit

[2015-10-27 16:51] sparrc commented on #320
@ekini I think that it's okay for it to error if the directory does not exist. The .deb and .rpm packages should create the directory if it's specified in the startup script.

[2015-10-27 16:52] sparrc commented on #320
@gotyaoi if you could squash and submit a PR, that would be easiest for me, thanks!

[2015-10-27 18:37] #320 closed

[2015-10-27 19:02] sparrc commented on #305
Yep, this is fixed and available in version 0.2.0, thanks for the report @nohn

[2015-10-27 19:02] #305 closed

[2015-10-28 12:09] saiello commented on #144
Hi, I tried to develop an experimental jolokia plugin.
You can find it at:

https://github.com/saiello/telegraf/commit/d90e081f861b7711bde31e69b6d550b088d460e9

I really appreciate feedbacks and suggestions.

[2015-10-28 13:59] dustinblackman commented on #218
@tarrychk Do you happen to have a repo up of what you patched?

[2015-10-28 16:41] sparrc commented on #144
@saiello 1st thing that stands out is that you should run `go fmt` on your code, Go should always be tab-indented.

I made a few comments, you'll also need to write some unit tests for us to merge it

[2015-10-28 18:31] #293 closed

[2015-10-28 19:03] sparrc opened #328 "Logstash integration"
Looking for community input.

We'd like Telegraf to have some integration with logstash. Not being a user of logstash myself, what should this look like? An `output` that can send arbitrary telegraf data to logstash, or a `plugin` that could consume logstash output and forward to InfluxDB?

[2015-10-28 19:14] sparrc commented on #102
@ekini you mentioned you had some working code for this a couple weeks ago, do you happen to have anything I can take a look at? I'm interested in getting something working for this

[2015-10-28 19:24] panda87 commented on #144
My suggestion \ question is if we will be able to consume MBeans which are not part of what you wrote. This could be by adding conf. file

[2015-10-28 19:26] jrxFive commented on #328
I'm a pretty heavy logstash user. I think it would be cool to do both if possible but I favor a pure output. Since logstash is a great router to different services, it could in itself send to InfluxDB as logstash output.

It could be alot like the Kafka/NSQ output. With it being formatted into the logstash protocol. Since we already using tags, that can be an exact mapping for logstash. Type confi