[2019-06-05 22:07] rdxmb commented on #5905
In my actual test-setup all of the nodes reconnected after 10min - doesn't matter about the variable above. The one node I was watching changed the outgoing port ... .
I will just repeat the test the next days

[2019-06-05 22:30] NikitaGl commented on #5935
@vincer Thanks for advice, I've re-ran my service with updated config and it started to report all missing metrics.

@danielnelson I see you've already [updated code](https://github.com/influxdata/telegraf/blob/f22e7a146596f5d3ce9fd65fae1ed74635772f92/plugins/inputs/ecs/ecs.go#L221) for uppercase container status, thanks. I assume this issue can be closed.

[2019-06-05 22:53] poulhs commented on #5958
It could be achieved with a tag, that is "hard-coded" in the configuration (that would obviously be a tag, and that feels wrong - it would depend on the configuration that may not be changed when upgrading the telegraf). One could also implement it with an exec plugin, parsing the output from telegraf --version... _argh..._

This would fit nicely in the [[inputs.internal]] ?

[2019-06-05 22:55] danielnelson commented on #5961
Add `-w -s` to the ldflags which strip some debugging information:
[code]

BTW, If you want even smaller, you can comment out unused plugins in the all.go files:
- /plugins/inputs/all/all.go
- /plugins/outputs/all/all.go

[2019-06-05 22:55] #5961 closed

[2019-06-05 22:59] danielnelson commented on #5958
Yeah, I'm thinking we add it as a tag to the `internal_agent` measurement:
[code]

Probably the best way to get this info today for most is by looking at the User-Agent header from the InfluxDB output.

[2019-06-06 03:50] vishiy commented on #5961
thank you @danielnelson

[2019-06-06 05:14] jyotiverma03 commented on #5956
@danielnelson  I am using different telegraf for different hosts but when I give input of these telegrafs to one telegraf and then send those metrics to prometheus.  So at this point of time, I am not able to identify the origin of metrics.

[2019-06-06 06:38] rdxmb commented on #5905
In another test all nodes with the var set reconnected. The one without that var set did not reconnect. Is this already the solution or just a workaround?

I will try to get an `netstat` output from this setup again to see if there is any difference.

[2019-06-06 07:10] danielnelson commented on #5905
Thanks for the testing, this is just a workaround though I think the biggest downside is needing to set the variable.

[2019-06-06 07:17] danielnelson commented on #5956
Can you describe the full path of the metrics from creation to prometheus, including which plugins are used?

[2019-06-06 07:25] rdxmb commented on #5905
looks good:

without variable set

[code]

with variable set

[code]

[2019-06-06 13:34] Esity commented on #5958
@danielnelson Can we add a flag for this one inside the config?

[code]

[2019-06-06 14:00] raffraffraff opened #5962 "tagdrop on prometheus input doesn't work if statsd input with data dog tags support is also used"
### Relevant telegraf.conf:
[code]

### System info:
CentOS 7, Kernel 3.10.0-957
Telegraf 1.10.4 (git: HEAD 3548ce47)

### Steps to reproduce:
1. Expose Prometheus metrics endpoint port localhost port 9090
2. Configure Telegraf as above, with a valid tagdrop configuration
3. Start telegraf and wait for it to scrape the Prometheus endpoint
4. Curl the Telegraf prometheus endpoint on port 9000 and g

[2019-06-06 14:14] raffraffraff commented on #5962
OK, so I've narrowed it down to this part of the statsd input plugin configuration: `parse_data_dog_tags = true`

[2019-06-06 15:14] raffraffraff commented on #5962
No. Way.
[code]

That didn't even show up in the debug logs. I stumbled upon it in the code. I'm gonna test this out to see if it fixes the issue.

[2019-06-06 15:17] Legogris opened #5963 "Stackdriver output sometimes writes TimeSeries out of order"
Even with the recentish changes to the Stackdriver output, we are still seeing regular out-of-order errors:

[code]
Interestingly enough these errors often seem to occur with exactly 1h intervals. Config as below.
[code]

When this happens, metrics end up being >5 min late, resulting in triggered alarms and other shenanigans.

### Relevant telegraf.conf:
[code]

### System info:
`Telegraf 1.10.1 (

[2019-06-06 15:18] Legogris commented on #5633
https://github.com/influxdata/telegraf/issues/5963

[2019-06-06 15:18] poulhs commented on #5958
It would be preferred to have the version as a fieldvalue, that way one can compare...
(so tag would be sufficient if it is possible to do "SELECT host,version WHERE version < "7.9.13" to get a report of all versions before a given version)

[2019-06-06 15:29] raffraffraff commented on #5962
Unlikely. For a start, the code clearly enables datadog_extensions if you enable `parse_data_dog_tags`. But switching to datadog_extensions cause it to fail on startup
[code]

[2019-06-06 15:40] raffraffraff commented on #5962
I've just tested this with Telegraf 1.9.5, and `parse_data_dog_tags = true` affects the ability to use tagdrop.

[2019-06-06 15:48] Esity commented on #5958
Are you trying to report on this? If so, get a CMDB tool to do that. If you want to show internal metrics for telegraf and group by the version, then the tag makes perfect sense

[2019-06-06 15:56] sheldonhull opened #5964 "inputs.win_services Error Handling for services that do not exist"
### Relevant telegraf.conf:

[code]

### System info:

- Telegraf 1.10
- Windows 10 x64

### Steps to reproduce:

1. Start telegraf with win_services being configured for various services to monitor.
2. Error is thrown with entry each time the interval is populated with the following result: `2019-06-05T21:51:00Z E! [inputs.win_services]: Error in plugin: could not open service: 'ReportServer': Th

[2019-06-06 15:59] raffraffraff commented on #5962
I just tried dropping metrics in another input, to see if this affected all inputs. It does not:
[code]
This continued to work with `parse_data_dog_tags = true` while prometheus input tagdrop failed to work.

[2019-06-06 17:07] danielnelson commented on #5958
I wasn't thinking to add a flag, usually I only add one if it will reduce the collection time significantly.  If you want to exclude it then you could just use `tagexclude`.

This would be nice, especially if it could handle semantic versions correctly.  I don't think we can even do lexical string comparisons with InfluxQL, but you can use a regular expression with a tag:
[code]

[2019-06-06 17:17] rdxmb commented on #5905
@danielnelson to set this variable for telegraf in docker: Is it enough to set it as an env var via Docker?

[2019-06-06 17:58] danielnelson commented on #5962
This should actually read "deprecated in 1.11" and this is why you can't set the new option yet.  Don't worry though the old option still works.  I'll take care of this.

This bug is very strange, I'm not sure how it could occur.  Could you paste an example of a metric from the prometheus input that should be filtered but is not?

[2019-06-06 18:01] poulhs commented on #5958
Afaik, the (so called) "regular expression"  do expand the expression to a list of possible combinations and is de facto a version = 7.0 OR version = 7.0.1  OR and so forth.

And one have to select fieldvalues, but I don't need any of the other fieldvalues to determine which versions are out their (if version is a tag, one can't do "SELECT version FROM internal_agent")

And yes, we do use CMDB tha

[2019-06-06 18:38] raffraffraff commented on #5962
Well, there were _lots of them_ but the general format was:
[code]

[2019-06-06 19:30] danielnelson commented on #5962
I'm not able to reproduce this, here is what I did:

Setup a fake prometheus endpoint with the metric:
[code]

With the config above:
[code]

If I remove the tagdrop from the config I get:
[code]

I'm not sending any data on the statsd plugin, but it is running.

[2019-06-06 19:44] raffraffraff commented on #5962
Not sure if it made any difference that there was data coming to the statsd input. I'll see if I can reproduce on another host that isn't receiving statsd metrics.

[2019-06-06 20:19] danielnelson commented on #5905
I believe so.

[2019-06-07 04:20] vinayakshettar opened #5965 "Metrics reset to default values"
Hi ..
I am using Prometheus-net.aspnetcore 2.1.3 wit my webapi  version.I have deployed my application in IIS server. Everything works fine when i submit reuqests to webapi and i can see all metrics in browser using url /metrics.
But after some time when i refresh the browser .all values goes to default like below
[code]

[2019-06-07 06:33] YuxinZhou opened #5966 "Extend the vSphere plugin for vSAN."
## Feature Request

### Proposal:

VMware vSAN is a software-defined storage solution which aggregates local or direct-attached data storage devices to create a single storage pool shared across all hosts in the vSAN cluster. vSAN is a distributed layer of software included in the ESXi hypervisor, and it is fully integrated with VMware vSphere.

I would like to extend the vSphere plugin for vSAN,

[2019-06-07 07:32] dmiddelhede commented on #1630
+1

[2019-06-07 09:28] florent26 opened #5967 "Add support for basic auth to elasticsearch plugins"
Hi,
Is it possible to add http auth params on the elasticsearch plugin ?
For example it doesn't work when Xpack Security is enable.

Thanks,

[2019-06-07 13:04] randallt commented on #5937
Cool. Any idea which release you might be able to squeeze this in?

[2019-06-07 19:11] danielnelson commented on #5965
Could you add your Telegraf configuration, a list of what you did, what you expected and what actually occurred.  If you are using the prometheus input can you also show the scraped prometheus endpoint at the time the unexpected behavior occurred.

[2019-06-07 19:22] prydin commented on #5918
This issue disappeared after merging with latest upstream.

[2019-06-07 19:22] #5918 closed

[2019-06-07 21:17] prydin commented on #5937
Indeed, the vSphere plugin uses the timestamps it obtains from the server. This is by design, since this is the true collection time. This is especially important in this plugin, since vCenter can delay samples under load.

vSphere realtime data is made available available every 20s. Let's say the clocks of your telegraf server and the vCenter host are perfectly in sync when you start telegraf. Le

[2019-06-07 21:33] danielnelson commented on #5937
@randallt We could work on this in 1.12.

However, I'm not 100% sure this is the cause of your problems; hopefully it will take care of it but I'm unsure.  Generally the Ticker has been much more precise than this, I have some systems at home that have been running without restart for months and I don't even see a full second of drift.  One thing I notice from your configuration is that you have q

[2019-06-08 12:29] raffraffraff commented on #5962
OK, so the issue only appears when Telegraf is actually receiving statsd metrics. I just recreated it quite simply. This gist demonstrates it:

https://gist.github.com/raffraffraff/af9c6bf09899ffe58a914313e5375bd2#file-telegraf_prometheus_dog_statsd_bug-sh

[2019-06-08 20:41] rdxmb commented on #5905
works :+1:

[2019-06-10 08:08] vibhavachar opened #5973 "Getting timeouts when exporting metrics to prometheus"
root@mesos-master2:/etc/telegraf/telegraf.d# /usr/bin/telegraf --config /etc/telegraf/telegraf.conf --config-directory /etc/telegraf/telegraf.d
2019-06-10T07:00:32Z I! Starting Telegraf 1.10.4
2019-06-10T07:00:32Z I! Loaded inputs: mesos mesos
2019-06-10T07:00:32Z I! Loaded aggregators:
2019-06-10T07:00:32Z I! Loaded processors:
2019-06-10T07:00:32Z I! Loaded outputs: prometheus_client
2019-06-10T

[2019-06-10 15:23] Veenumittal opened #5974 "Failed to find Premain-Class manifest attribute in /tools/jolokia/jolokia.war | weblogic 12c"
I am using jolokia.war and jolokia2_agent to get the weblogic metrices but upon restarting the domain, I am getting below error:

blogic1221/wlserver_12.2.1/installation/wlserver/server/native/linux/x86_64 -javaagent:/XPISTORAGEMPS/HPD/JavaAgent/DiagnosticsAgent/lib/probeagent.jar -Dprobe.id=Server_0_1 -Dprobe.group
=PROD -XX:+UnlockDiagnosticVMOptions -XX:+UnsyncloadClass -javaagent:/tools/joloki

[2019-06-10 17:33] danielnelson commented on #5974
This doesn't look like a Telegraf issue, can you open it with the Jolokia team?

[2019-06-10 17:33] #5974 closed

[2019-06-10 18:49] venado3 commented on #5613
https://github.com/influxdata/telegraf/issues/5613#issuecomment-475165263

[2019-06-10 18:56] hmojic200 commented on #5909
I can confirm that the `$var` format doesn't work in docker image `1.10.4-alpine` and `1.10.4`.  Neither setting environment variables nor using `/etc/default/telegraf` file works.

Example: the following will output graphite metrics at `__METRIC_PREFIX_`
[code]

[2019-06-10 20:21] prydin commented on #5937
@danielnelson I agree. Slight drift between the Telegraf server and the vCenter server is a much more likely culprit. I guess we could introduce a flag for letting Telegraf set the timestamp instead of using the one that comes from vCenter, but we'd be lying, since the one from vCenter is the *true* timestamp.

[2019-06-10 20:27] randallt commented on #5937
@prydin, my issue with drift here is independent of the vsphere plugin. The only reference to the vsphere plugin here is that samples from it did NOT drift (which is preferable). So I don't think a change should be considered in the vsphere plugin to match the drifting timestamps of the other input plugins.

[2019-06-10 20:55] sgtsquiggs commented on #3522
This issue is causing me problems right now - when telegraf is sent a SIGHUP to reload its configuration, it will miss log lines written during the reload. I'm not sure how to solve this elegantly since reloading destroys and reloads all plugin instances. Perhaps tail could hold a global state to keep track of offsets of files watched for the duration of the telegraf process.

[2019-06-10 21:45] danielnelson commented on #5909
I wouldn't expect `/etc/default/telegraf` to work in the docker container, normally this is read by the init system, and the docker container doesn't do it: https://github.com/influxdata/influxdata-docker/blob/master/telegraf/1.10/entrypoint.sh.  We could add support for this though.

Can you show the command you used to start the docker container?

[2019-06-10 21:51] danielnelson commented on #5973
You won't be able to run Telegraf in the foreground unless you stop the background daemon, this is why you are receiving this error when running:
[code]

These errors indicates that Telegraf did not receive a response from the mesos server, not even a port closed error.  This could be caused by many things, possibly a firewall, you will need to debug it on your end.  Make sure the system running T

[2019-06-10 21:51] #5973 closed

[2019-06-10 22:30] hmojic200 commented on #5909
I was just falling back on the image's `CMD`, so it was just `telegraf`.  Shouldn't environment variables still work though, or was I missing a command line argument or something else for that?

[2019-06-10 22:47] danielnelson commented on #5909
They should work and it is working for me. I'm running the container like:
[code]

[2019-06-10 23:03] danielnelson commented on #3522
I think this would be okay, sure there are some corner cases where it doesn't work as expected such as more than one plugin tailing the same file or if the file is switched out exactly at reload time, but I think overall this would work.

[2019-06-10 23:32] danielnelson commented on #5962
Here is the output when I run the script, but it looks correct to me.

I'm expecting the statsd items with `interface=all` to be emitted because only the prometheus input has the tagdrop, and all the `interface=all` from the prometheus input are not present.

[code]

[2019-06-11 06:18] raffraffraff commented on #5962
That does muddy the water a bit, I'll eliminate those from the statsd input.

[2019-06-11 06:55] vjanssens commented on #5909
Thanks for the help @danielnelson, I got it working with the example I provided before, but with `$VARNAME` instead of `${VARNAME}`.

[2019-06-11 07:52] raffraffraff commented on #5962
So I *was* stupidly missing the statsd_ prefix on my test and posted without being thorough. But what is super frustrating is that I just went back to the failing example that our developer brought to me originally (to see if they were duplicating their prometheus metrics into statsd) ...it's _working_ now. It's definitely the same telegraf config, and I can directly curl the prometheus metrics an

[2019-06-11 07:52] #5962 closed

[2019-06-11 08:06] florent26 commented on #5967
I have tried in /etc/telegraf/telegraf.d :
<code>
servers = ["http://elastic:XXXXXX@10.24.0.15:9200"]
</code>

But it doesn't work.

[2019-06-11 08:32] florent26 commented on #5967
Sorry, finally it works with http://USERNAME:PASS@.....

[2019-06-11 09:00] florent26 commented on #5967
Maybe you just can update the readme ?
Thanks

[2019-06-11 09:38] dataviruset commented on #4770
Not the same problem as this, but I had a similar issue where the MySQL input would delay collecting metrics from other servers if one of the servers had a slow response. I solved this by setting the readTimeout and writeTimeout options in the DSN as described here. The defaults are way too long.
https://github.com/go-sql-driver/mysql#connection-pool-and-timeouts
But I agree with the OP here that

[2019-06-11 13:35] jyotiverma03 commented on #5956
Hello @danielnelson ,
Currently, I am using two telegraf as inputs of one telegraf(that is acting as an aggregator).
NF-1:
**NF-1 docker-compose.yml**

services:
 telegraf:
    image: telegraf
    container_name: NF-1
    restart: always
    environment:
      HOST_PROC: /rootfs/proc
      HOST_SYS: /rootfs/sys
      HOST_ETC: /rootfs/etc
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf

[2019-06-11 17:06] danielnelson commented on #5967
I think we should add support for HTTP Basic auth which uses the Authentication header instead of the userinfo section of the URL.  The reason being that the URL can be printed in a number of circumstances, and many don't want to log credentials.  I can add this if you could help test it out, are you working with the Elasticsearch input or output?

[2019-06-11 17:47] danielnelson commented on #5956
I notice you are using `data_format = "json"` to relay the metrics from the edge Telegraf to the aggregating/batching Telegraf, this will be problematic because this data format does not round trip without modification (#2252).  This results in metrics not being received in the same form as they are originally created and also the loss of tags.

What I recommend is to switch to `data_format = "inf

[2019-06-11 19:38] prydin commented on #4989
Merged and resolved.

[2019-06-11 19:38] #4989 closed

[2019-06-11 22:16] williamh opened #5977 "unable to build 0.4.10.1 from source with go 1.12"
GDM is dying because it seems to have an issue importing one of the dependencies; this happens whether I run "gdm restore" or "gdm vendor".

[gdm.log](https://github.com/influxdata/telegraf/files/3278781/gdm.log)

[2019-06-11 23:08] danielnelson commented on #5977
Try making this change:
[code]

This version is ancient Telegraf history, time to upgrade!

[2019-06-11 23:08] #5977 closed

[2019-06-12 01:21] shr00mie opened #5980 "Cannot set mount_points option in disk input"
### Relevant telegraf.conf:
[code]

### System info:

Telegraf 1.11.0 (git: HEAD c9d8f7b0)
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.6 LTS
(same results on 18.04LTS as well.)

### Steps to reproduce:

1. got the same issue on all my ubuntu systems after the update. seems to be pertaining to the inputs.disk section. commenting out mount_points line and restarting the service seems to work.

[2019-06-12 06:15] saintunix commented on #5980
Agree, have the same error. It has started to work after removing the line.
  mount_points = ["/", "/vz", "/vz1" ]

[2019-06-12 07:32] Ulrar commented on #5980
We're having the same issue on all the servers that updated last night

[2019-06-12 08:05] danielnelson commented on #5980
Sorry all, must have been introduced when we updated the toml library.  Fix is easy though, we just need to add struct tags for these fields, will definitely make it in the next release.

[2019-06-12 08:16] Ulrar commented on #5980
Any idea on when that might be ? Just to know if we can wait for it or if we should plan to remove the field everywhere in the meantime somehow

[2019-06-12 08:44] guitoulefoux opened #5981 "Telegraf 1.11.0 Error running agent: Error parsing /etc/telegraf/telegraf.conf, line 2868: field corresponding to `metrics' is not defined in jolokia2.JolokiaAgent"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.11.0

### Steps to reproduce:

1. /usr/bin/telegraf --config /etc/telegraf/telegraf.conf --config-directory /etc/telegraf/telegraf.d

### Error:
[telegraf] Error running agent: Error parsing /etc/telegraf/telegraf.conf, line 2868: field corresponding to `metrics' is not defined in jolokia2.JolokiaAgent

I have not this problem on ol

[2019-06-12 10:06] Hipska commented on #3279
Is there any documentation of this feature anywhere?

[2019-06-12 10:47] jyotiverma03 commented on #5956
@danielnelson Thanks, I will try this and let you know whether it works or not.

[2019-06-12 17:02] danielnelson commented on #5981
Try using metric instead of metrics, it seems the newer toml library is a bit stricter on naming:
[code]

[2019-06-12 17:27] door7302 opened #5983 "inputs.cisco_telemetry_gnmi and wildcard in path - measurement name always empty"
### Relevant telegraf.conf:
[code]

### System info:

### Steps to reproduce:

I tried to use the inputs.cisco_telemetry_gnmi to collect telemetry data on Nokia SROS gNMI compliant router. But on Nokia we need to provide for some paths wildcard key for some elem :

"/state/port[port-id=*]/ethernet/statistics"

and therefore the measurement name is always empty because in line 346 :
[code]
name is

[2019-06-12 17:52] #5980 closed

[2019-06-12 17:52] door7302 commented on #5983
FYI.

I use this current workaround to solve my issue.
from line 113 :

[code]

Now I sent influx metrics with the right measurement name:

trafficstats,host=MUZTC840,path=/state/port/ethernet/statistics/ethernet-like-medium,port_id=2/1/1,source=nmtln201 ethernet_like_medium/frame_too_long="0" 1560361761044568011
trafficstats,host=MUZTC840,path=/state/port/ethernet/statistics,port_id=2/1/1,source=

[2019-06-12 18:30] danielnelson commented on #5980
Currently the plan is to release 1.11.1 on the 25th, depending on if other important bugs are found, in the meantime here are some builds of 1.11.0 including this patch:

- [telegraf-1.11.0~b1154378-0.x86_64.rpm](https://34562-33258973-gh.circle-artifacts.com/0/build/linux/amd64/telegraf-1.11.0~b1154378-0.x86_64.rpm)
- [telegraf_1.11.0~b1154378-0_amd64.deb](https://34562-33258973-gh.circle-artifac

[2019-06-12 20:59] danielnelson commented on #4770
@dataviruset  If you want greater isolation with multiple servers you may want to define one server per plugin.  The configuration does end up with quite a bit of duplication this way but one MySQL server won't be able to stop another server from running; when they are all in a single plugin the gather must complete for all servers before the next can begin.
[code]

This is really a general tip an

[2019-06-13 06:39] dataviruset commented on #4770
@danielnelson Even though it would add some duplicated configuration, that's a good workaround, thanks for the suggestion!

[2019-06-13 07:45] dynek opened #5984 "mount_points value in inputs.disk can't be declared in TOML anymore ?"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf has been updated from 1.10.4 to 1.11.0 via https://repos.influxdata.com/debian

[code]

### Steps to reproduce:

1. Install version 1.11.0
2. Start telegraf

### Expected behavior:

Telegraf starts

### Actual behavior:

Telegraf doesn't start and displays an error message:
[code]

### Additional info:

This config was running fine un

[2019-06-13 08:04] sbyx commented on #5983
You are correct I will provide patch in the coming weeks.
You should be able to define a custom alias for now as a workaround without needing to change the code. E.g. insert this below the line _redial = "10s"_

[code]

[2019-06-13 08:18] door7302 commented on #5983
Thank you. I will test it. Otherwise, currently all is working fine with Nokia SROS.

[2019-06-13 08:20] Veenumittal commented on #5974
Please guide me, Where to open it with Jolokia team?

[2019-06-13 08:31] Ulrar commented on #5980
Alright those packages do work fine, that'll do in the meantime, thanks !

[2019-06-13 08:32] guitoulefoux commented on #5981
it's ok thanks.

[2019-06-13 09:21] dupondje opened #5987 "Merge MySQL metrics inside 1 metric with label"
## Feature Request

### Proposal:

It might be a good idea to consolidate some MySQL metrics inside 1 metric with labels.

### Current behavior:

For example the mysql_com_xxx metric is returned 158 times with different values.
mysql_com_alter_db
mysql_com_alter_db_upgrade
mysql_com_alter_event
mysql_com_alter_function
mysql_com_alter_instance
mysql_com_alter_procedure
mysql_com_alter_server
mysql

[2019-06-13 10:29] Ulrar commented on #5984
Duplicate of #5980

[2019-06-13 10:46] #5984 closed

[2019-06-13 10:48] #5981 closed

[2019-06-13 10:50] danielnelson commented on #5974
https://jolokia.org/support.html

[2019-06-13 10:52] dynek commented on #5984
Oops my bad, I did a quick search and didn't see it :-|

[2019-06-13 11:50] priyankamondalairtel opened #5988 "[[inputs.ping]]"
HI,

I am monitoring few server through [[inputs.ping]] with all default configuration, by which I am getting multiple ping failed error.
To reduce it, i want to generate alert on 3 consecutive ping failed for a url. also want to increase poll interval. how to achieve this?
My current cofuguration:
telegraf version: telegraf-1.9.0-1.x86_64
telegraf configuration file:
[agent]
  interval = "120s"
[

[2019-06-13 15:57] nicolinuxfr opened #5989 "Telegraf 1.10 : high CPU usage since update"
I updated several servers to Telegraf 1.10 today, and since then, CPU usage is high on all of them :

![Capture d’écran 2019-06-13 à 16 44 37](https://user-images.githubusercontent.com/2078386/59447564-bab54a00-8e03-11e9-899e-86978a280aee.png)

On each server, I have one Telegraf process at around 100 % of CPU usage, and two or three more around 50 %.

I did not change the configuration from befor

[2019-06-13 17:07] Timidger commented on #1717
Is [this patch](https://github.com/influxdata/telegraf/commit/92d8a2e5ea2846a34ba8c90a67606b9708aa5eb0) the latest work that has been done on this front?

[2019-06-13 18:06] danielnelson commented on #1717
Yes, no work has been done on this for several years.

[2019-06-13 22:12] danielnelson commented on #5989
Can you try upgrading to 1.10.4?  It might be #5589

[2019-06-13 22:15] danielnelson commented on #5988
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please ask general questions at the [InfluxData Community](https://community.influxdata.com) site.

[2019-06-13 22:15] #5988 closed

[2019-06-13 23:59] js-mode commented on #5909
I am unable to still get this working -- not sure if it is an alpine issue, but I will wait for the latest telegraf:alpine version to include telegraf 1.11 version.  If anyone else is able to get this working in Alpine, please let me know.

[2019-06-14 00:13] danielnelson commented on #5909
@js-mode The official alpine 1.10.4 image is working for me too, try running these steps and see if it works for you, if it works we can try to build out to your actual config:

[code]

[2019-06-14 02:35] cobolbaby commented on #1630
+1

[2019-06-14 04:59] danielnelson commented on #5987
I guess it depends on what query you want to run, with InfluxQL your proposed layout wouldn't be great for math across fields, or Kapacitor alerts that need multiple field values.  In the case where you are using Flux you can do your query today.  I'll take your word that it can't be done in PromQL, since I don't know it very well, and also I agree it can't work with topk to rank commands.

Howeve

[2019-06-14 05:43] nicolinuxfr commented on #5989
For some reason, it has stopped during the night and it seems fine now… 🤔

I'm using the InfluxData repository and I don't have the update now. Since it stopped, I prefer to wait until the new version is available this way and then try.

[2019-06-14 06:26] timhallinflux commented on #1630
Has anyone considered using Apache NiFi for the creation of this?  Telegraf can write to NiFi and I believe NiFi has an Avro output processor.  There are a number of other benefits to Nifi as well...

[2019-06-14 07:12] dupondje commented on #5987
That pivot would do the trick indeed.
But it might be nice to add regex to that. Cause there are for example 158 mysql_com_xx metrics. (And possibly there will be others in other versions of MySQL), so it would be way more flexible if you could apply some regex.

[[processors.pivot]]
  tag_key = "mysql_com_(.*)"
  value_key = "{$1}"

For example :)

[2019-06-14 07:15] dupondje commented on #5987
Also I don't know how big the customerbase is that uses Prometheus.
But we could add combine_metrics = true/false option for example in the config. So its flexible for users to enable this if they are using prometheus.
This would make all users use the same style, and dashboard sharing etc is more straightforward.

Anyway, your call :)

[2019-06-14 08:18] danielnelson commented on #5987
In your case you will want to use the unpivot variation.  It will unpivot every field that is added to the processor, I don't think you will need a regex but you can combine this with the [metric filtering](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#metric-filtering).

Since the line protocol is like this:
[code]

You should be able to do:
[code]

The output will be l

[2019-06-14 10:52] HogeBlekker commented on #3041
In this issues' opening post:

We developed https://github.com/factrylabs/influx-opcua-server to do just that.

[2019-06-14 13:41] pyves06 opened #5993 "not all the VMs of my vcenter are collected"
### Relevant telegraf.conf:

[code]

### System info:

/usr/bin/telegraf version
Telegraf 1.11.0 (git: HEAD c9d8f7b0)
Debian 8.10
### Steps to reproduce:

1. ...just starting telegraph using systemctl start telegraf
2. ...

### Expected behavior:
collecting all the infos from my vcenter (17 hosts, 306 VMs)

### Actual behavior:
not collecting all the VMs

### Additional info:

from the logs :
2019

[2019-06-14 13:46] pyves06 commented on #5993
forgot to mention :
my vcenter is VMware vCenter Server Appliance running 6.5.0.24100 version
ESXi servers are running 6.5.0, 13635690 build

[2019-06-14 14:57] Timidger commented on #1717
I'm currently evaluating if it's possible if this feature would enable us to use other languages (namely Rust) to collect metrics. In our use case that would mean our .so Go plugin would have a statically linked in Rust code that can be called over the C ABI.

We don't want to use gRPC because we are targeting devices that have low space requirements. This feature would be better on our space usag

[2019-06-14 18:03] Timidger commented on #1717
I got a toy example put together that works, but would the project be willing to use the C ABI for the shared library?

It would mean we wouldn't have to maintain any shim Go code (which I would currently have to do since the change as proposed so far expects something implementing the `Plugin` interface, which I can't express in Rust). As well, more projects could benefit since every language und

[2019-06-14 18:18] danielnelson commented on #1717
I don't think that would be something we would merge as it would require cgo enabled, and I don't think this is an API we want to maintain officially.  Wouldn't mind seeing what you have though if you can link to the code.

The best methods for integrating other languages currently are either the exec plugin (for polling data), or for event driven data or for efficiency by running an external proc

[2019-06-14 18:27] #5692 closed

[2019-06-14 18:29] #5983 closed

[2019-06-14 18:44] raider111111 opened #5994 "Can't find Telegraf executable version on Windows"
### Relevant telegraf.conf:

[code]

### System info:

Windows
### Steps to reproduce:

1. Download the latest version of Telegraf  ...
2. Open the properties/details pane to see the version ...

### Expected behavior:
Display the version number in "Product version"
### Actual behavior:
Version is blank
### Additional info:

[2019-06-14 18:46] jdeglopper commented on #3332
@antifuchs I have submitted a change request to the upstream OpenIPMI project to fix the init script issue on Ubuntu.  The tiny patch is to change the test on line 80 of `/etc/init.d/openipmi` to correctly detect udev on Ubuntu: `if [ -e /sbin/udev -o -e /sbin/udevd -o -e /bin/udevadm ]; then`

After this, the udev rule permissions changes are not overwritten by the init script.

[2019-06-14 18:48] danielnelson commented on #5994
You can run `telegraf version`, closing since this is a duplicate of #3171

[2019-06-14 18:48] #5994 closed

[2019-06-14 18:49] Timidger commented on #1717
Ok. I'm going to add the Go plugin feature then and keep that CGo shim out of tree. We are going to publish it in a Rust crate so if you're interested I can link it here once it's complete.

[2019-06-14 18:57] danielnelson commented on #5989
I'm going to close the issue for now then, we can reopen later if you are able to figure out the cause or a way to reproduce.

[2019-06-14 18:57] #5989 closed

[2019-06-14 19:03] #5828 closed

[2019-06-14 19:46] danielnelson commented on #5300
Closed in #5972

[2019-06-14 19:46] #5300 closed

[2019-06-14 22:12] #1438 closed

[2019-06-14 22:26] #5629 closed

[2019-06-15 09:44] nicgrobler commented on #5958
I wrote a plug-in that simply exports the version to an ENV on startup...then sends influx this info as a tag...only on startup (not per collection interval). This way you can see when the agent was started, and it’s version.
never bothered submitting a PR as didn’t think anyone else needed this...

Also wasn’t sure that my ‘solution’ was acceptable.

If you think it is worth it, I can open a PR f

[2019-06-16 02:13] pulord commented on #4356
the same problem!  How to fix it @danielnelson . thanks

[2019-06-16 02:37] pulord commented on #4356
https://github.com/influxdata/telegraf/blob/d260437318184d77abf1e5f73ee939cbbb47a78a/plugins/inputs/sysstat/sysstat.go#L338

[2019-06-17 15:34] jsnjack opened #5999 "panic in pgbouncer plugin"
### Relevant telegraf.conf:

[code]

### System info:

Debian 8, telegraf 1.11.0-1, pgbouncer 1.5.4

### Steps to reproduce:
1. Enable pgbouncer input

### Expected behavior:
Telegraf starts to report data

### Actual behavior:
Telegraf is not able to start

### Additional info:
[code]

[2019-06-17 20:34] #5723 closed

[2019-06-17 23:32] danielnelson commented on #5958
@nicgrobler Sure, would be helpful to take a look at.  I do think if we go the route of having Telegraf report state change events we should probably add a few more events like reload and shutdown and possible some addition information.  We should probably think a bit more about what that might look like.

[2019-06-17 23:32] danielnelson commented on #5993
@prydin Any ideas on this one?

[2019-06-17 23:47] prydin commented on #5993
Most likely, those are powered down VMs. Check in vCenter to see if you have anything that's powered down.

[2019-06-18 04:36] 17billion commented on #5794
Output was so large that only the necessary parts were extracted.
In conclusion, no part of the container network could be found in the result. ex) rx_bytes, rx_dropped, rx_errors, rx_packets ,tx_bytes

[2019-06-18 06:38] alpern95 opened #6002 "error scanning /var/spool/postfix/active: lstat /var/spool/postfix/active: permission denied"
### Error
error scanning /var/spool/postfix/active: lstat /var/spool/postfix/active: permission denied

doing setfacl -Rdm g:telegraf:rX /var/spool/postfix/{active,hold,incoming,deferred,maildrop}

### Relevant telegraf.conf:
[code]

### System info:
[code]

[2019-06-18 08:58] pyves06 commented on #5993
Ok understood. This is not a bug but a feature :)
thanks for the clarification

[2019-06-18 08:58] #5993 closed

[2019-06-18 10:22] adityask2 opened #6003 "Ability to add some info in header which identifies type of input plugin when using http output plugin"
## Feature Request

Ability to add some info in header which identifies type of input plugin when using http output plugin. For ex when using cpu input plugin, we can send the metric with header plugin=cpu

### Proposal:

### Current behavior:
Current behavior of telegraf doesn't support different headers for different plugins. May be this is due to all the metrics are sent in one single http mess

[2019-06-18 13:13] jyotiverma03 commented on #5956
@danielnelson Thanks, This solution worked!!!

[2019-06-18 13:21] dupondje commented on #2711
Fixed in https://github.com/influxdata/telegraf/commit/1775e1cdc692ae08cfad7668b02807cea3bd4ed3 ?
Or do we still want to rename elasticsearch_indices to something like elasticsearch_cluster_health_indices?

[2019-06-18 13:51] cryptolukas opened #6005 "Telegraf can't load powerdns_recursor"
### Relevant telegraf.conf:

[code]

### System info:
[code]

### Steps to reproduce:

1. Add the config above into your telegraf conf dir
2. Ensure that your pdns recursor controlsocket is there
[code]
3. Use the CLI to check this plugin\
[code]
### Expected behavior:
1. I get a valid response from telegraf
2. I collect the data as described here https://github.com/influxdata/telegraf/blob/master

[2019-06-18 20:40] GeorgeMac commented on #5520
Could it be:
[code]

becomes:

[code]

Perhaps that is what @darox meant? Was the double declaration of `outputs.influxdb` causing the second configuration to overwrite the first?

[2019-06-18 21:03] danielnelson commented on #5520
No, when you use double brackets in TOML it is an array of objects, so this is normal for defining two plugins.

Also remember that the indention is just for looks, so in your second example the `tagexclude` is just treated as an item in the `tagdrop` table.

[2019-06-18 21:03] #5520 closed

[2019-06-18 22:56] #1483 closed

[2019-06-18 23:06] danielnelson commented on #6002
Check `getfacl /var/spool/postfix/active` to make sure the posix acl's are set correctly.  After that, how are you launching telegraf?  I assume it is working when ran as root?

[2019-06-19 00:22] GeorgeMac commented on #5520
Cheers for the info!

[2019-06-19 03:06] est commented on #4568
I need this feature as well. Especially how to use GSSAPI and keytab

[2019-06-19 06:31] alpern95 commented on #6002
Hello,
here is the getfacl, and yes it is working as root.

## getfacl
[root@myserver ~]# getfacl /var/spool/postfix/active
getfacl : suppression du premier « / » des noms de chemins absolus
# file: var/spool/postfix/active
# owner: postfix
# group: telegraf
# flags: -s-
user::rwx
group::rwx
other::rwx
default:user::rwx
default:group::---
default:group:telegraf:r-x
default:mask::r-x
default:other:

[2019-06-19 06:56] priyankamondalairtel opened #6009 "old linux server [Red Hat Enterprise Linux ES release 4 (Nahant Update 9)] monitoring"
can you please provide a solution to monitor Linux server of version: **"Red Hat Enterprise Linux ES release 4 (Nahant Update 9)"**

[2019-06-19 07:56] danielnelson commented on #6005
You will need Telegraf 1.11.0 to use this new plugin.

[2019-06-19 07:56] #6005 closed

[2019-06-19 10:23] priyankamondalairtel opened #6010 "win_disk :: getting HardDiskVolume## value"
HI,
I am using telegraf agent to monitor windows server.
telegraf version:  1.9.0
windows version: windows2012
telegraf is showing HadrDiskVolume## data, which is actually not any drive on a device.
for example, it is collecting data named HardDiskVolume100 for some time, after that there is no value for that drive.
and sometimes disk utilization of this HardDiskVolume goes into negative value.

c

[2019-06-19 13:18] nicgrobler opened #6011 "filecount plugin size test fails on some platforms"
### Relevant telegraf.conf:

[code]

### System info:

### Steps to reproduce:

1. clone telegraf (>1.9) repo to Mac / Docker during CI tests
2. run go test

### Expected behavior:
tests pass regardless of which OS they are run on
### Actual behavior:
filecount plugin tests fail
### Additional info:
I see this locally on Mac OS 10.14.5, as well as in containers running Golang 1.1x.x-stretch:
the O

[2019-06-19 15:17] wedgeV opened #6012 "statsd tcp input errors"
### Relevant telegraf.conf:

[code]

### System info:

1.11.0

### Steps to reproduce:

1. use statsd tcp input

### Expected behavior:
not flood the logs with errors

### Actual behavior:
floods of

```E! [inputs.statsd] failed to parse 100.96.6.161:43576```

### Additional info:

https://github.com/influxdata/telegraf/commit/8f3ed4579774bee772b89889f0e7f24c7cc50a68#diff-f7014190a74e5349747269f41

[2019-06-19 16:31] raider111111 opened #6013 "Run a CMD command in Inputs.Exec"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.11.0 Windows 10
### Steps to reproduce:

1. Use inputs.exec to run a CMD command that calls PowerShell.

### Expected behavior:
Runs the command and accepts the output, then sends the data to the monitoring appliance. This command works normally in CMD or when Telegraf calls it from a .bat file.
### Actual behavior:
The Telegraf ser

[2019-06-19 18:52] danielnelson commented on #6013
Try using triple quotes for your string, so that you can use the `"` inside to quote the powershell command:
[code]

You might be interested in #5958 too.

[2019-06-19 18:53] vishiy opened #6014 "Telegraf - how to ignore config error(s)"
We are using telegraf to collect a few prometheus metrics out of the box. Now we want to extend the configurability of telegraf to our customers, so that they can bring-in their own scrape endpoints & services (as part of prometheus input plugin).
How do we do config isolation in this case, so that the customer's config does not bring down telegraf instance we are running for collecting a few othe

[2019-06-19 19:00] danielnelson commented on #6011
Makes sense to me, there is no way this test is safe across platforms, but I think ultimately the right way to test this code is by mocking the test code, otherwise we are just rewriting the code in the test.

[2019-06-19 19:05] danielnelson commented on #6009
You can try compiling Telegraf with an older Go version.  I know you must compile with no later than 1.9 in order for the binary to work on RHEL5, but never tried with RHEL4.  Here are instructions on how to do this but it is not something we are going to provide officially.

https://github.com/influxdata/telegraf/wiki/Packaging#package-using-docker

[2019-06-19 19:05] #6009 closed

[2019-06-19 19:11] danielnelson commented on #6002
How about
[code]

[2019-06-19 19:18] danielnelson commented on #3603
@gavmckee80 Were you able to get this working correctly?

[2019-06-19 19:21] danielnelson commented on #4896
Closing, since this doesn't appear to be a Telegraf issue.

[2019-06-19 19:21] #4896 closed

[2019-06-19 19:26] danielnelson commented on #6014
I suggest not allowing access to the `/etc/telegraf/telegraf.d` directory directly, and requiring the configuration to be added by running a small custom program that does some config verification first.

These sort of questions would be best asked at the [InfluxData Community](https://community.influxdata.com) site.

[2019-06-19 19:26] #6014 closed

[2019-06-19 19:37] vishiy commented on #6014
Thanks. Let me post it there.

[2019-06-19 19:40] danielnelson commented on #6010
In the default Windows config file, the win_disk measurement is based on the information provided by the Windows [performance counters](https://docs.microsoft.com/en-us/windows/desktop/perfctrs/performance-counters-portal).

A good way to investigate the performance counters is with the typeperf command:
[code]

You can also use the `perfmon` GUI, both of these commands come packaged with Windows.

[2019-06-19 19:40] #6010 closed

[2019-06-19 19:41] vishiy commented on #6014
I posted. Also wanted to ask -
Is there any API/packages to validate config per plugin ?

[2019-06-19 19:44] danielnelson commented on #6014
No, not currently, I'm pretty sure we have an issue open for it though.  You can get some validation by running `telegraf --config partial_or_full_config.conf --test` and checking the result code.

[2019-06-19 20:00] #6013 closed

[2019-06-19 20:32] codeperfector commented on #5762
I am running into this exact problem where I also deploy telegraf in a docker container and use environment variables in a docker-compose.yml file. It would be good have a solution that doesn't rely on ansible or jinja2 templating.

[2019-06-19 20:40] #5856 closed

[2019-06-19 21:28] #5807 closed

[2019-06-19 22:08] samhld commented on #1630
@timhallinflux would a request for NiFi input/output plugins be worthwhile?

[2019-06-19 22:37] #3184 closed

[2019-06-19 23:43] danielnelson commented on #6003
I don't think we would do this, because as you note, the output is often mixed and conceptually the outputs are disjoint from the inputs.  The best way to handle this is to have the server receiving the metrics check their measurement, which is generally based on the plugin.

[2019-06-19 23:43] #6003 closed

[2019-06-20 01:02] #2233 closed

[2019-06-20 06:26] alpern95 commented on #6002
hello,

[root@myserver ~]# sudo -u telegraf stat /var/spool/postfix/active
stat: impossible d'évaluer « /var/spool/postfix/active »: Permission non accordée
[root@myserver ~]#
[root@myserver ~]#
[root@myserver ~]# sudo -u telegraf stat /var/spool/postfix
  Fichier : « /var/spool/postfix »
   Taille : 201         Blocs : 0          Blocs d'E/S : 4096   répertoire
Périphérique : fd02h/64770d     Inœ

[2019-06-20 06:40] priyankamondalairtel opened #6020 "telegraf installation steps for 32bits Linux server"
please update telegraf installation steps for 32bit Linux server.

[2019-06-20 06:59] danielnelson commented on #6020
Can you add a link to the steps are you following?  What was the result of following the steps?

[2019-06-20 07:08] priyankamondalairtel commented on #6020
used below package to install:

wget https://dl.influxdata.com/telegraf/releases/telegraf-1.11.0_linux_i386.tar.gz
tar xf telegraf-1.11.0_linux_i386.tar.gz

after that didn't find any configuration steps to follow.

[2019-06-20 07:23] danielnelson commented on #6002
I think you need to run this, it is the original command without `-d`.  My understanding of this is that when you run with `-d` it sets the permissions as the default acl for the directory, which causes new child directories to have the acl, but it doesn't actually set the acl for the directory.
[code]

[2019-06-20 07:29] danielnelson commented on #6020
You probably want to use either the .rpm or the .deb.  Give these instructions a shot, choose either "Ubuntu & Debian" or "Redhat & Centos":

https://docs.influxdata.com/telegraf/v1.11/introduction/installation/#installation

[2019-06-20 09:39] johnatannvmd opened #6021 "Enhance pgbouncer with SHOW CLIENTS and SHOW SERVERS queries"
## Feature Request

I want to gather `SHOW CLIENTS` and `SHOW SERVERS` metrics but, currently, I limited with only `SHOW POOLS` and `SHOW STATS` info.

### Proposal:

If we enhance Postgres service with additional data types(https://github.com/influxdata/telegraf/blob/master/plugins/inputs/postgresql/service.go#L120) that can allow using postgresql_extensible input plugin with any query that we wa

[2019-06-20 11:09] nmorisod opened #6023 "Add support for basic auth for Webhooks input plugin"
## Feature Request

A lot of telegraf plugin have http authentication already,  but webhooks input plugin  doesn't have any authentication possibilities.  i'm using for example particle webhook plugin an wanted to authenticate the client that insert data to my influxDB via telegraf

### Proposal:
Add http autentication to webhook plugins

### Current behavior:
No possibility to force authenticatio

[2019-06-20 11:55] alpern95 commented on #6002
Hello
i do this but allway permission denied with telegraf user.
Information: I have a linux logical volume mount on /var/spool/postfix/

###############
[root@myserver ~]# setfacl -Rm g:telegraf:rX /var/spool/postfix/{active,hold,incoming,deferred,maildrop}

[root@myserver ~]# sudo -u telegraf stat /var/spool/postfix/active
stat: impossible d'évaluer « /var/spool/postfix/active »: Permission non

[2019-06-20 18:21] sgtsquiggs opened #6025 "socket_listener splits incoming data by line when using TCP, does not when using UDP"
### Relevant telegraf.conf:

[code]
(protobuf is my own parser plugin)

### Expected behavior:

socket_listener passes entire buffer to parser (since using Parse not ParseLine)

### Actual behavior:

socket_listener splits buffer on LF character, passes tokens to parser using Parse. This breaks when parsing protobuf because protobuf makes use of LF characters in its encoding.

[Offending code here

[2019-06-20 18:23] sgtsquiggs commented on #6025
My temporary hack of a solution:

[code]

[2019-06-20 18:25] danielnelson commented on #6002
Can you try setting this ACL on the postfix directory too?
[code]

[2019-06-20 18:33] danielnelson commented on #6025
I assume this is done to allow metrics to be streamed over tcp, what we would need is a function on Parser  that takes an io.Reader.  I think even with this hack it is possible that Read will return only a partial protobuf message and your custom parser will fail.  I'll look into this more closely in a bit.

[2019-06-20 18:45] sgtsquiggs commented on #6025
Yeah this method fails if my protobuf message doesn't fit in a single packet. Passing an io.Reader to the parser would be interesting.

[2019-06-20 18:51] #5999 closed

[2019-06-20 18:52] #4356 closed

[2019-06-20 23:13] danielnelson commented on #6025
I could see using the strategy pattern for framing, but not sure it will be very desirable in your specific case since protobuf is not inherently [streamable](https://developers.google.com/protocol-buffers/docs/techniques#streaming).  Strategies like writing a length before each message or byte stuffing are possibilities, but I worry they are quite hard to get right.  Still, we could add support f

[2019-06-21 07:16] alpern95 commented on #6002
hello Daniel,
Thank for your help, i do the setfacl for the postfix directory, and it's working now.

see below, the getfcl for the directory postfix and the sub-directory active.

##################################
[root@myserver ~]# getfacl /var/spool/postfix
getfacl : suppression du premier « / » des noms de chemins absolus
# file: var/spool/postfix
# owner: postfix
# group: root
user::rwx
grou

[2019-06-21 09:01] v98765 commented on #5846
[code]

[2019-06-21 09:50] adityask2 commented on #6003
I would like to know why there is difference in behaviour in case of mqtt plugin where each plugin send data in different topic.

[2019-06-21 11:48] coccobill1 commented on #4169
The plugin still only seems to save smart_device data to influxdb for my 970 EVO NVME drive, not smart_attribute.

[2019-06-21 16:38] raider111111 opened #6028 "Can't start Telegraf Service Inputs.exec Linux"
### Relevant telegraf.conf:

[code]

### System info:

### Steps to reproduce:

1. Place command in the command block

### Expected behavior:
Display Telegraf version number
### Actual behavior:
Process fails to start
### Additional info:
Failed to start The plugin-driven server agent for reporting metrics into InfluxDB.

Command executes sucessfully in the terminal:
telegraf --version | awk '{pri

[2019-06-21 16:43] goller commented on #6028
Hey @raider111111 , would you try escaping the double quotes like this:

[code]

[2019-06-21 16:52] raider111111 commented on #6028
That worked!

Thanks!

[2019-06-21 17:26] raider111111 commented on #6028
Hi!

That worked but for some reason it isn't sending the data correctly:

[code]

I'm just trying to send only the Telegraf version number out without the second period, like this:"1.11".

Any idea?

[2019-06-21 17:32] goller commented on #6028
Hey @raider111111 , because your data_type is `integer` is it trying to convert the output of your awk command to an integer.

What is the output of your command now?  I suspect you have the SHA in there as well.

The resolution will likely be to change the datatype to something other than an integer.

[2019-06-21 17:36] raider111111 commented on #6028
Hi @goller ,
I've tried sending it as a string, float, and integer.

Here is what I see:
String:
`2019-06-21T17:32:00Z E! [inputs.exec]: Error in plugin: strconv.Atoi: parsing "c9d8f7b0)": invalid syntax`

Float:
`
2019-06-21T17:36:00Z E! [inputs.exec]: Error in plugin: strconv.ParseFloat: parsing "c9d8f7b0)": invalid syntax`

[2019-06-21 17:38] goller commented on #6028
Yes, I read that as telegraf is not able to parse your awk output as either a pure float or integer.  Your string example looks like it is running Atoi (that'd be converting the output to an integer).

What is the output of the command line when you run it outside of telegraf?

[2019-06-21 17:39] raider111111 commented on #6028
1.11

[2019-06-21 17:41] raider111111 commented on #6028
Well, actually it doesn't work with your edits, but I've encountered Telegraf parsing commands differently so I assumed that was probably fine.

[code]

[code]

[2019-06-21 17:42] goller commented on #6028
yes, my edits with the escaping of " are only applicable in the telegraf YAML.  Those escapes would not be needed when running from the CLI.

try this:

[code]

[2019-06-21 17:50] raider111111 commented on #6028
Sure thing!

That looks better, though I lose the period in the 1.11.

`TelegrafVersion,host=ld08382.homedepot.com value="111" 1561139280000000000
`
Progress!

Any way to get that . back so it's 1.11?

[2019-06-21 17:53] goller commented on #6028
Yup, so, we can't use an integer in this case, so, you'll need to doubly escape the period and use a string:

[code]

[code]

[2019-06-21 18:03] raider111111 commented on #6028
I'm trying that out.

So, that came out correctly except that the monitoring appliance doesn't accept strings.

`Wavefront allows integers and floats as input values.
`
Is there no way it can be a integer or a float value?

[2019-06-21 18:04] goller commented on #6028
@raider111111 1.11 could be formatted as a float, yes.  Try `float` out

[2019-06-21 18:08] raider111111 commented on #6028
That did it!

Adding the end result.
[code]

Thanks for your help friend!

[2019-06-21 18:08] #6028 closed

[2019-06-21 18:09] danielnelson commented on #6028
Keep an eye on https://github.com/influxdata/telegraf/issues/5958 too, I think it also will do essentially what you want.

[2019-06-21 18:11] raider111111 commented on #6028
@danielnelson Nice!!

[2019-06-21 18:54] danielnelson commented on #6002
Nice, I'll update the docs with this new information.

BTW, quick github markdown tip, you can use 4-space indent or triple backticks to do a code block:

[code]

[2019-06-21 18:58] danielnelson commented on #6002
6738d566

[2019-06-21 18:58] #6002 closed

[2019-06-21 19:15] danielnelson commented on #4169
@coccobill1 Could you open a new issue with the output described [here](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/smart#troubleshooting)?

[2019-06-21 19:19] danielnelson commented on #6003
If you can explain the full setup in more detail I might be able to help.  You could also try using tags to track plugin source:
[code]

[2019-06-21 19:37] casKd-dev opened #6029 "Monitor only on specific hosts"
## Feature Request

Having multiple configuration files for multiple collectors is sometimes hard to manage. Running multiple agents based on the same configuration helps against that, but one features is missing. The ability to choose on what hosts to run a plugin.

### Proposal:

Add the ability to run specific plugins based on variables. (eg. hostname)

### Current behavior:

Multiple configura

[2019-06-21 20:58] nstrappazzonc opened #6030 "Add ProxySQL input plugin"
## Add ProxySQL input plugin

Gathers only the most important stats from ProxySQL for this first version, I think the follow metrics are the most important:

- Connection Pool
- Commands Counters
- Global Stats

The pull request #5995

This plugin is based on the MySQL input and use same packages because ProxySQL and MySQL understand the same protocol.

[2019-06-21 21:01] danielnelson commented on #5678
@ceastman-ibm Where you able to get this working as expected?

[2019-06-21 21:02] danielnelson commented on #5401
@vishiy Did you get this working?

[2019-06-21 21:09] vishiy commented on #5401
@danielnelson - Works for me in the later builds. Thanks.

[2019-06-21 21:16] #5401 closed

[2019-06-21 21:32] danielnelson commented on #6029
I'm not sure this is something we want to do, but I'll leave it open as an idea for discussion and as a reminder.  I can see this evolving into needing a whole templating system and I don't think one belongs in Telegraf, it is better off as a separate layer and/or managed when the tool you use for deploys.

Personally, I use ansible to deploy my configuration (on a very small network), and define

[2019-06-21 23:43] danielnelson commented on #2711
Been so long, I think though we should move the metrics from `_cluster/health?level=indices` as `elasticsearch_cluster_health_indices`.

[2019-06-21 23:54] coccobill1 opened #6032 "Smart_attributes not written to influxdb on NVME drive"
### Relevant telegraf.conf:

[code]

### System info:

telegraf-1.11.0_windows_amd64
Windows 10 Pro
Smartmontools 7.0-1.win32
Samsung 970 EVO NVME drive

### Steps to reproduce:

1. Set up telegraf to output smart data to influxdb

### Expected behavior:
Smart_attribute data is written to influxdb.

### Actual behavior:
It is not. :)
Smart_device data however is written as expected.

### Additiona

[2019-06-21 23:55] coccobill1 commented on #4169
Sure, hope this helps: https://github.com/influxdata/telegraf/issues/6032

[2019-06-22 00:07] danielnelson commented on #6032
Thanks @coccobill1, could you also add the output of `telegraf --input-filter=smart --test`?

[2019-06-22 00:23] coccobill1 commented on #6032
C:\Users\tommi\Downloads\telegraf-1.11.0_windows_amd64\telegraf>telegraf --config telegraf.conf --input-filter=smart --test
2019-06-22T00:18:46Z I! Starting Telegraf 1.11.0

[2019-06-22 00:53] danielnelson commented on #6032
Looks like we are not setting tags correctly on the nvme device, for example this metric should have the `device` and `serial_no` tags like in the associated `smart_device`:
[code]

[2019-06-22 07:42] wmalgadey commented on #5837
FYI: mounting `/usr/share/snmp/mibs` from my host did work indeed

[2019-06-22 09:04] coccobill1 commented on #6032
Yeah, also any idea why it only lists 4 attributes when there should be, um, 14?

[2019-06-22 09:13] coccobill1 commented on #6032
Or actually just 2 attributes twice (PoH and temp), for /dev/sde and /dev/nvme0.

[2019-06-22 14:43] DirtyCajunRice commented on #5564
@danielnelson how we doing? anything else you need from us?

[2019-06-22 15:07] DirtyCajunRice commented on #5119
I believe this is encompassed by https://github.com/influxdata/telegraf/pull/5885/commits/2325c9734d9e51047b98f91745b09618925b0de2 so i will close this out

[2019-06-22 15:07] #5119 closed

[2019-06-23 09:28] toni-moreno opened #6033 "kube_inventory only gathers kubernetes_node measurement with cluster-admin role"
As previously reported to the community https://community.influxdata.com/t/telegraf-kube-inventory-only-gathering-the-kubernetes-node-measurement/10237

### Relevant telegraf.conf:

We are trying to get data from the kube_inventory plugin, but just getting only one measurement (kubernetes_node).

I’ve deployed as a deployment on the “monitoring” namespace accesign to the kubernetes.default.svc API

[2019-06-23 15:19] nsupathy opened #6034 "logparser unable to parse ISO 8601 timestamp"
## Feature Request
logparser input plugin is unable to parse timestamp in ISO 8601 format.
Please refer to https://en.wikipedia.org/wiki/ISO_8601
I am using the timestamp format 2019-06-23T14:26:34+00:00
Lot of applications/services use this timestamp format.  It will be easier to roll out logparser instead of writing custom scripts to extract information from these applications.

### Proposal:
Pl

[2019-06-23 21:40] Quentin-M opened #6035 "Kernel Panic - Double Fault"
Over the couple several weeks, we've been seeing weekly kernel panics on some of our busiest Ubuntu production instances on AWS (both in terms of CPU & IOs). Common denominator is that telegraf appears in stack traces.

Have you ever seen this?

### Relevant telegraf.conf:

conf.d: https://paste.quentin-machu.fr/kokumahuza

### System info:

ubuntu 18.04
kernel 4.15 - 4.18
telegraf 1.8.3 - 1.10.4

[2019-06-24 10:10] GainfulShrimp commented on #5980
In case it helps others (perhaps using armhf architecture like me, so they can't use the temporary packages posted by Daniel above), you can 'hold back' the old version of Telegraf so it won't get upgraded by a `sudo apt-get update && sudo apt-get upgrade`:
[code]
You can then update the rest of your system without upgrading telegraf. :)

Once the new version (hopefully with working mount_points o

[2019-06-24 11:14] aikdog opened #6037 "Add response content length to the http_response plugin"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

I ask in the http_request plugin to add the page size (like len (body))

[2019-06-24 13:04] ceastman-ibm commented on #5678
@danielnelson i got side tracked by another project but im back to working on telegraf and the kube inputs. i can let you know in a couple of days.

[2019-06-24 17:19] #5837 closed

[2019-06-24 18:03] #6011 closed

[2019-06-24 18:21] danielnelson commented on #6034
You can almost use `ts-rfc3339nano` for your format, but need a colon in the timezone offset: `+01:00` vs `+0100`, so instead you will need to use a custom format for this case.

If you want to parse a log file like this:
[code]

You can use this slightly modified pattern:
[code]

[2019-06-24 18:21] #6034 closed

[2019-06-24 18:28] toni-moreno commented on #6033
Finally the problem seems to be in the config , in order to get data from all namespaces needs the `namespace = "" `

now seems working fine!

[2019-06-24 18:28] #6033 closed

[2019-06-24 18:28] danielnelson commented on #6035
No, I haven't seen this before.  Searching a bit I see this issue reported by a fuzzing program, may be related.

https://lore.kernel.org/lkml/00000000000063079a057109b225@google.com/

[2019-06-24 18:30] danielnelson commented on #6035
Give Telegraf 1.11 a try, it is built with a newer version of Go (1.12).

[2019-06-24 18:41] bharatsindhu opened #6039 "Prometheus input plugin: Unable to Authenticate using basic_Auth"
Hi,
Unable to Authenticate to a protected endpoint using Telegraf: input plugin: Prometheus.
**Maybe missing a feature here? Is there any workaround for this?**

We have an **enterprise support from influxDB**, let me know if this is possible. I'll route my request from a different channel.

Here is how we are able to utilize an endpoint which supports prometheus formatted metrics.
I have an endpo

[2019-06-24 18:49] danielnelson commented on #5564
I think we have collected the important information to where someone could work on this, but I don't personally have this on my schedule right now.  Will probably depend on a community contribution to be completed.

[2019-06-24 18:52] danielnelson commented on #6039
Right now the plugin only has support for Bearer token authentication, but it should be quite easy to add basic auth support.  I'll put it on for 1.12.

[2019-06-24 20:21] bharatsindhu commented on #6039
Thanks Daniel.

Can you give some guidance on how can I build the plugin from source and
use it?

Thanks,
Bharat

On Mon, Jun 24, 2019 at 2:53 PM Daniel Nelson <notifications@github.com>
wrote:

--
Regards,
Bharat Sindhu

[2019-06-24 20:48] danielnelson commented on #6039
Sure, here is the link to the instructions for [building from source].

[building from source]: https://github.com/influxdata/telegraf#from-source

[2019-06-24 21:47] ceastman-ibm commented on #5678
I think i was running into this bug: https://github.com/influxdata/telegraf/issues/6033 i added namespace = "" and now i am seeing restarts as i was expecting.

[[inputs.kube_inventory]]
  bearer_token = "/var/run/secrets/kubernetes.io/serviceaccount/token"
  insecure_skip_verify = true
  namespace = ""
  url = "https://kube master:28942"

[2019-06-24 21:47] #5678 closed

[2019-06-25 00:40] danielnelson commented on #6032
We have limited support for info in the NVMe log as it's not formatted in the same way as the normal attribute table, which look more like this:
[code]

I assume `/dev/sde` and `/dev/nvme0` are actually the same devices?  Gathering both just follows from the output of `smartctl --scan` listed both variations, but you could work around this by either listing the devices manually in the `devices` se

[2019-06-25 01:07] danielnelson commented on #4881
@genofire What is the output of `smartctl --scan-open`?  Does it return a working `-d` device type?

[2019-06-25 01:11] danielnelson commented on #6037
I'm assuming you meant the `http_response` input plugin?  I think it would make sense to add a `content_length` field.

[2019-06-25 01:58] danielnelson commented on #5398
Closed in #5742

[2019-06-25 01:58] #5398 closed

[2019-06-25 04:51] danielnelson commented on #5212
@joeheaton Was finally looking at this today, sorry for being so slow, but need some additional info.  Can you run once with raw jiffies collected by enabling `collect_cpu_time`:
[code]

You can avoid inserting any unwanted data by running it with the `--test` flag:
[code]

---
On the  `n_users` issue, could you try to compile and run this program on the affected arm64 system?

Put this into a fil

[2019-06-25 05:54] coccobill1 commented on #6032
They are the same device yes, but yeah that's not an issue at all. Just really a shame if the only smart_attributes parsed are temperature (which already comes with the smart_device data) and power cycle count. Should I make a separate feature request for some key pre-fail attributes? I'd like to be able to pull at least "Media and Data Integrity Errors" and "Power On Hours". Sadly the drive doesn

[2019-06-25 06:00] genofire commented on #4881
^^
[code]

[2019-06-25 06:04] danielnelson commented on #6032
Yeah, could you open a new issue?

[2019-06-25 06:10] danielnelson commented on #4881
Does the info/health/attributes call work as desired with the `sat+megaraid,5` device type?
[code]

[2019-06-25 06:18] coccobill1 opened #6041 "Add more smart attributes written from NVME drives"
## Feature Request

More smart attributes should be logged when using the inputs.smart plugin with NVME devices.
Currently the plugin pulls smart_device data from NVME drives, along with the following smart_attributes: Temperature and Power Cycle Count. Temperature is already included in the smart_device data, so the benefit of adding attributes: true is limited. It would be helpful if additional

[2019-06-25 06:20] genofire commented on #4881
yes

[2019-06-25 08:56] DRailleur opened #6042 "lang parameter for openweathermap"
Hi,

That would be great if you could add a "lang" parameter to the openweathermap plugin in order to grab a localized description field as explained here: https://openweathermap.org/current#multi

Thanks

[2019-06-25 14:28] spcqike opened #6043 "openweathermap update interval"
Hello,

i can't find anything about it, but it seems that there is a problem with the update interval of openweathermap.
the weather (now) is updated once per hour. when i run "telegraf --test" i get something like

weather,city=Berlin,city_id=2950159,country=DE,forecast=*,host=XXX cloudiness=0i,humidity=27i,pressure=1021,rain=0,sunrise=1561430648000000000i,sunset=1561491212000000000i,temperature=

[2019-06-25 18:34] #2874 closed

[2019-06-25 18:51] #6032 closed

[2019-06-25 19:04] #6012 closed

[2019-06-25 22:35] danielnelson commented on #6043
Thanks for reporting this, it seems that it has something to do with the use of the `/data/2.5/group` API to get multiple locations in one query:

Single location (we don't use this)
[code]

Multiple locations, what the plugin uses:
[code]

We might need to consider switching to the single location per call API, though it is probably worth asking OpenWeatherMap support about this first.  Can you v

[2019-06-25 22:44] danielnelson commented on #6039
@bharatsindhu Can you clarify why you closed the issue, do you still need this feature?

[2019-06-25 22:50] bharatsindhu commented on #6039
I thought since it has been added to the next milestone, It can be closed.
Though, I was able to build it myself but It would be a good feature for the anyone else.
I'll reopen it.

[2019-06-25 23:16] #2711 closed

[2019-06-25 23:21] scottgrover commented on #4170
I think we can deal with the memory increase, and the metric buffer issue you mentioned. The metrics we're going to be pushing into separate topics are the ones that send at a ridiculously high rate, not something that we'll be waiting on the metric buffer to get filled.

I don't believe adding more processor plugins into our pipeline will work for our use case. We have a huge influx pipeline. @Ji

[2019-06-26 00:55] danielnelson commented on #4170
Code looks good, my only suggestion is that you will want to use `metric.GetTag()` instead of `metric.Tags()` since the later is quite expensive and will likely be removed at some point.

[2019-06-26 01:08] danielnelson commented on #4881
I notice that you are now on smartctl 7.0, up from 6.6.  Any chance the command now works without a device type?
[code]

[2019-06-26 01:12] danielnelson commented on #6039
:+1: We only have it scheduled for now, once it has been implemented then we will close the issue and at that point building the `master` branch from source, or after waiting a day for the [nightly builds](https://github.com/influxdata/telegraf#nightly-builds) to update, it should be possible for you test out the changes.

[2019-06-26 02:04] timhallinflux opened #6045 "Add support for TLS1.2 for Cisco MDT Plugins"
## Feature Request
TLS 1.2 support for Cisco MDT

### Proposal:
Trying to advance all of the plug-ins such that they have options for secure communication for data collection.  Proposal is to add support for optional TLS 1.2 configuration.

### Current behavior:
Provide configuration option to provide support for TLS 1.2

### Desired behavior:
Allow collection of metrics using TLS 1.2

[2019-06-26 05:21] spcqike commented on #6043
Hello,

thanks for your anwser.
yes, the time reported from the group api is the same, as telegraf --test gets. so this might be the problem.

maybe it's possible to give a "switch" or path via telegraf.conf, like you can allready set the base url. so the user can decide wether to use the group or singel call.

[2019-06-26 06:28] Smiton2006 opened #6046 "Procstat don't send running=0 if process down when use pid_file"
### Relevant telegraf.conf:
[code]

### System info:
Telegraf 1.11
Debian GNU/Linux 9
### Steps to reproduce:
1. kill -9 `cat /home/smiton/influxdb-1.7.6-1/influx.pid`

### Expected behavior:
procstat_lookup,host=host,pid_finder=native,result=lookup_error pid_count=0i,running=0i,result_code=0i 1561529910000000000
### Actual behavior:
procstat_lookup,host=host,pid_finder=native,result=lookup_error

[2019-06-26 06:29] keyos1 opened #6047 "win_perf_counters with backslash escape issue"
Hello,

when trying to add MSMQ perf counters with this config:

[[inputs.win_perf_counters.object]]
    ObjectName = "MSMQ Queue"
    Instances = ["*"]
    Counters = [
      "Messages in Queue",
    ]
    Measurement = "ev_queue"

we encountered issue on influx side that counter instance is being submitted without escaping backslashes, so the influx side looks like:

corpev2\private$\admin_queue

[2019-06-26 06:35] Smiton2006 commented on #6046
Open pull request https://github.com/influxdata/telegraf/pull/6048 it fix this bug

[2019-06-26 06:37] aikdog commented on #6037
Thnx!

[2019-06-26 06:48] genofire commented on #4881
[code]

[2019-06-26 18:12] danielnelson commented on #4881
I think it may make sense to have three modes:
[code]

The default mode would be auto, which wouldn't use the device type from the scan since it does not seems to be very reliable and may break some devices.  If --scan or --scan-open is set we would use the type given like in the #4886 pull request, altering the command as needed.

[2019-06-26 18:50] danielnelson commented on #6046
Can you clarify your expected/actual responses, right now I think they are the same.

Here is what I see:
[code]

[2019-06-26 19:15] danielnelson commented on #6047
This is an (unfortunate) quirk of line protocol escaping.  In tags, space and comma are escaped, but other characters and notably backslash are not.  You may want to confirm this by connecting to InfluxDB using the cli tool and checking the columns there:
[code]

In the query though backslash does need to be escaped:
[code]

I tried the query builder in Chronograf 1.7.3, and I see that it is not g

[2019-06-26 20:38] danielnelson commented on #6045
The gRPC transport already has support for TLS, it also ought to be quite easy to extent TLS to the tcp socket transport, but the [documentation][] I have seen seems to indicate that TLS is only supported for gRPC.

@sbyx Do you know if devices would support using TLS along with the TCP socket?

[documentation]: https://www.cisco.com/c/en/us/td/docs/iosxr/asr9000/telemetry/b-telemetry-cg-asr9000-6

[2019-06-26 23:17] danielnelson commented on #4519
@gecube Sorry about the slow response, I have been looking through this issue closer today and I think I found a good way forward:

I would be reluctant to do this since it could increase the series cardinality quite a bit, something the docker plugin already can struggle with.

Not sure about using "latest", since it would be technically incorrect.  We could potentially leave the tag off complete

[2019-06-26 23:24] danielnelson commented on #5175
Closing, but let me know if my last comment didn't work for you.

[2019-06-26 23:24] #5175 closed

[2019-06-26 23:25] danielnelson commented on #5186
Closing, but please let me know if you weren't able to debug this issue.

[2019-06-26 23:25] #5186 closed

[2019-06-26 23:26] danielnelson commented on #5197
Closing, let me know if you are still having problems.

[2019-06-26 23:26] #5197 closed

[2019-06-26 23:26] #5470 closed

[2019-06-26 23:29] danielnelson commented on #5549
@jfeito Could you retest with the latest version of Telegraf, and also enable the debug option in your telegraf.conf?
[code]

[2019-06-26 23:29] #5580 closed

[2019-06-26 23:37] danielnelson commented on #5751
Sorry this issue fell between the cracks for me.  This reminds me a bit of why we added the `database_tag` option to the InfluxDB output, you can use this to send to different databases based on a tag without knowing all the values up front.  It won't however let you send to different InfluxDB instances, for that you need an separate output defined.  Could this work here?

[2019-06-26 23:39] danielnelson commented on #5787
@santos-lucas Any chance you were you able to get the plugin working?

[2019-06-26 23:46] danielnelson commented on #5794
Let's try grabbing the stats directly from the Docker API, here is an example of how to do it when Docker is listening to a unix socket:
[code]

[2019-06-26 23:47] #5890 closed

[2019-06-26 23:48] #5925 closed

[2019-06-26 23:48] #6020 closed

[2019-06-26 23:49] #5965 closed

[2019-06-27 01:35] #5787 closed

[2019-06-27 02:32] Smiton2006 commented on #6046
My apologies, I used version 1.10 in .1.11 it fixed. But maybe my request will be useful? It will separate the find pids and gather metrics more clearly.

[2019-06-27 04:29] sbyx commented on #6045
Yeah the legacy plain TCP transport doesn't support TLS on the device side so it would be a fruitless effort. TLS for GRPC should be completely covered.

[2019-06-27 04:35] ronnocol opened #6051 "Input plugin for fireboard connected thermometers."
## Feature Request

Import real time temperatures from Fireboard connected thermometers

### Proposal:

Connect to the Fireboard REST API servers and import temps as metrics.

### Current behavior:
N/A
### Desired behavior:
Import temps from fireboard servers
### Use case:
Another source of information to be ingested by telegraf.

[2019-06-27 14:58] davidaugustin1 opened #6054 "input.vsphere: unable to connect after vCenter reboot"
### Relevant telegraf.conf:

[code]

### System info:

OS: openSUSE Tumbleweed
Telegraf version: telegraf-1.10.2_linux_amd64

### Steps to reproduce:

1. Run Telegraf
2. Reboot vCenter

### Expected behavior:

vSphere Plugin reconnects to vCenter and continues metric collection

### Actual behavior:

vSphere Plugin tries to reauthenticate with no success until I restart Telegraf
After restarting T

[2019-06-27 16:03] sjal commented on #4822
Is it me or you've skipped the part where you access JSON through a HTTP request? File module doesn't allow you to scrape the metric as a HTTP request so I don't see how did that help ea1dof's case

[2019-06-27 18:10] ronnocol commented on #6051
See https://github.com/influxdata/telegraf/pull/6052

[2019-06-28 05:46] bdeam commented on #5421
Still not sure as to the exact root cause for this, I spun up a Telegraf 1.11 instance and a 1.7.4 InfluxDB instance on a seperate RHEL7 server and left them all at default configuration. I then enabled the vSphere plugin and noticed 'Dropped metrics' from Telegraf's 'Internal' plugin:

![image](https://user-images.githubusercontent.com/40452846/60319999-8327cf80-99b7-11e9-8894-d6de26accdfb.png)

[2019-06-28 09:16] davidaugustin1 commented on #6054
Some additional info:
Here are the log entrys from vCenter by that time.
At 3:31:10 PM I restarted Telegraf manually
[code]

[2019-06-28 12:51] gecube commented on #4519
@danielnelson thank for your reply. It is not very bad that too much time passed :-) I believe that we shall have project session each other and think about use cases of docker input with telegraf. I really like telegraf as metrics agent, more than prometheus, cadvisor and others. But as I see our colleagues don't think so and switch to latter ones.

[2019-06-28 16:01] egondalia opened #6055 "Azure Monitor - prefix name like procstat for each mount or disk e.g. /sda or /testmount1"
See screenshot of current procstats I want same for each disk or mount

Currently I have example:
[code]
When I go into the Azure Monitor Portal I can select the Process by name e.g.
1) telegraf/procstat >>> Metric = _cron_cpu_time
and
2) telegraf/procstat >>> Metric = _waagent_cpu_time

I now want to do the same for DISK MOUNTS but there doeesnt appear to be a ##Field name prefix so unable to fin

[2019-06-28 16:21] tecmatia-dp commented on #3041
I invite you to try Notify, a software application specifically designed to collect data from SCADA systems (including OPC UA) and in addition to notifying alarms, allows registration in InfluxDB.
http://tecmatia.com/index.php/en/products/notify

[2019-06-28 16:54] jcmcken commented on #4519
@danielnelson That sounds fine to me. I agree about the series cardinality, although it would be nice if Influx supported non-indexed metadata for stuff like that (e.g. I limit the query using standard InfluxQL clauses, now I want to look at some metadata attached to each row in a small subset of the data, but don't necessarily care about needing to query it with ``SELECT`` clauses).

I debated ch

[2019-06-28 18:13] glinton commented on #6055
Similar to #3929, but it looks like you want to use `name_override` to override the metric name? See [input docs](https://github.com/influxdata/telegraf/blob/release-1.11/docs/CONFIGURATION.md#input-plugins) for more info on available options.

If you want to see a prefix for disk fields, please indicate and I'll mark this as a feature request.

[2019-06-29 02:52] littlespace commented on #6045
@danielnelson @timhallinflux I am not sure if you can add recommendations to each plugins or not. For example for all gNMI plugins the TLS and read only user authentication  should be mandatory because gNMI also has the capability to do configuration change on the device so if the user/pass in the telegraf.conf is not a read only account it will be major security risk!

[2019-07-01 00:49] digikin commented on #5031
Just want to say this solved my issue.  Telegraf is awesome, keep up the good work.

[2019-07-01 09:30] fti7 commented on #3776
Same Problem here.
Any news on this Feature Request? Is that somehow possible with an Processor?

[2019-07-01 12:41] dukz commented on #5887
I do agree in removing the default influxdb output configuration.

Every time I upgrade the telegraf package, it ends up having a config overwrite with the package manager, and I have to do it by hand to disable that all over again.

I've made it a practice to just put everything under the telegraf.d folder, so configs are consistent even after the telegraf package is updated.

[2019-07-01 15:52] DButter opened #6057 "Regex with named field access, creates new field with full String"
### Relevant telegraf.conf:
[code]

##check_ipa_sync_date.sh
'''
echo "version: 1

dn: cn=meToipa02.test.me,cn=replica,cn=dc\3Drcrs\2Cdc\3Dme,cn=mapping tree,cn=
 config
nsds5replicaLastUpdateEnd: 20190627132140Z"
'''

### System info:

Telegraf 1.8.3 (git: HEAD f2979106)
Red Hat Enterprise Linux Server 7.5 (Maipo)

### Steps to reproduce:

run telegraf with config and shell script

### Expected b

[2019-07-01 16:35] rdxmb commented on #5905
I have still the problem that one node does not reconnect and quits writing metrics. All other nodes and pods (same network) are reconnecting ... This seems crazy to me.

[2019-07-01 17:39] danielnelson commented on #5421
I'd probably adjust `metric_batch_size` down to no more than 10k, this just modifies how large each request to InfluxDB is and if its too large you might run into request timeouts.  The `metric_buffer_limit`  setting seems about right.

We now log as well when metrics are dropped, though I still recommend using the `internal` plugin for almost everyone.  I think this logging will solve being surpr

[2019-07-01 17:39] #5421 closed

[2019-07-01 17:45] danielnelson commented on #6054
@prydin What do you think?  Possibly an issue with the govmomi?

[2019-07-01 17:53] danielnelson commented on #4519
Yeah `unknown` is probably not what I would pick today, but I don't think changing it now is worth the disruption.  I'll put together a change to prefer the inspect container data for container image.

[2019-07-01 18:55] danielnelson commented on #5905
Even with the environment variable set on ALL nodes?

[2019-07-01 19:03] danielnelson commented on #6045
I can add a note to the configuration further clarifying that the TCP transport is not encrypted.  Luckily with MDT it listens like a server, and no secrets are sent to the device.

[2019-07-01 19:03] #6045 closed

[2019-07-01 20:01] danielnelson commented on #6057
You will need to set the `s` flag so that your regexp matches newlines, otherwise only the last line of the input is modified:
[code]

[2019-07-01 20:01] #6057 closed

[2019-07-01 20:11] danielnelson commented on #3776
Yes, should look something like this:

[code]

Closing this issue since the enum processor was added in 1.8

[2019-07-01 20:11] #3776 closed

[2019-07-01 20:17] rdxmb commented on #5905
yes. Here on the host with the problem:

[code]

[code]

```curl -v https://kubernetes.influxdb.example.org/ping``` works

And actually ```pkill -HUP telegraf``` does not solve the problem.

[code]

[2019-07-01 20:23] prydin commented on #6054
This looks like an issue with the code that attempts to reauthenticate against vCenter if it looses connectivity.

This line
[code]
makes me think that it holds onto some reference to an ephemeral object in the old instance of vCenter. I'd have to check the code that handles the reconnection. I'll get back to you once I've done that.

[2019-07-01 20:25] danielnelson commented on #4822
@sjal You can use the JSON parser with any plugin that has the `data_format` option, and all of the related options will also be available.

Read JSON from a file:
[code]

Read JSON from a HTTP server:
[code]

Hope that clears things up, otherwise you can ask follow up questions at the [InfluxData Community](https://community.influxdata.com) site.

[2019-07-01 20:48] prydin commented on #6054
Yeah... It's a bug in the plugin code. Turns out the connection needs to be torn down one step further to guarantee that no references are reused. We'll try to get this fixed over the next few days.

[2019-07-01 21:59] danielnelson commented on #5905
Did you do a full restart at least once?  SIGHUP won't be enough for Telegraf to get new environment variables.

[2019-07-01 22:06] rdxmb commented on #5905
multiple restarts during the last week... . At the moment, telegraf is connected. Seems like it takes a very long time to come back. I will watch it the next days - maybe the connection / metrics come back later as expected ...

[2019-07-01 22:40] danielnelson commented on #6055
What you will want to do is click on the "apply splitting" option in Azure Monitor, this will allow you to split out the series by a tag instead of aggregated across all hosts and mounts.  You can use this with the "add filter" option to limit which series are shown.

You can combine the plugins into a single instance too if you use this method:
[code]

I don't recommend using the `prefix` option

[2019-07-01 22:40] danielnelson commented on #6055
Closing, let us know if you need more help though.

[2019-07-01 22:40] #6055 closed

[2019-07-01 23:22] #4268 closed

[2019-07-01 23:22] #5780 closed

[2019-07-02 02:35] danielnelson commented on #3573
Closing based on https://github.com/influxdata/telegraf/pull/5347#issuecomment-507465612

[2019-07-02 02:36] danielnelson commented on #2648
Haven't seen this for a long time, closing.

[2019-07-02 02:36] #2648 closed

[2019-07-02 02:41] danielnelson commented on #3092
Fixed in #5608

[2019-07-02 02:41] #3092 closed

[2019-07-02 08:04] dupondje commented on #2158
Pushed a possible fix in the commit above (tests not adjusted yet).
Is it this kind of output we want? Cause a node can have multiple roles, so we need a tag with multiple values here.

I don't know if we want an option to include/exclude them? (And what default do we use)?

[2019-07-02 10:43] #6046 closed

[2019-07-02 11:56] valcryst opened #6059 "Input: Bind - strconv.ParseInt : value out of range"
### Relevant telegraf.conf:
[code]

### System info:

Telegraf 1.11.1-1 i386
Ubuntu 16.04.06 LTS i386
Bind 9.10.3

### Expected behavior:

Parse value

### Actual behavior:

[inputs.bind]: Error in plugin: Unable to decode XML document: strconv.ParseInt: parsing "2389951589": value out of range

[2019-07-02 12:09] dupondje commented on #2779
This is merged. Issue can be closed!

[2019-07-02 12:11] dupondje commented on #2791
This is also fixed! :)

[2019-07-02 12:52] dupondje commented on #4493
Which attribute/tags are lost?

I compares ES 5 and ES 6, but they seem both similar.

For the master vs data nodes:
https://github.com/dupondje/telegraf/commit/ae167922ed8542741616c9dde54f3de1c317b56e

I'll get this merged asap.

[2019-07-02 12:55] dupondje commented on #3630
Its still not clear for me what is broken now since ES 6.

I tried the latest Telegraf on ES 6, and I get correct metrics. Compared some output to ES 5 output, and its 100% the same ...

Can somebody be clear please? Give me exact examples of missing metrics/tags.
Then I can have a look to fix this. But currently, I really don't see an issue.

@kri5 :
But more recent versions mention:

So nothing

[2019-07-02 13:55] matthenning commented on #3630
I think the mentioned problems only manifest when using ES 7.
In ES 6 those issues only throw a deprecation notice.

[2019-07-02 14:43] ru87 commented on #5652
Any updates on this request?

[2019-07-02 15:01] dupondje commented on #3630
@matthenning: Just setup an ES 7.2 via docker. And seems to work fine on first check ...
Guess we still need a clear stat/call/whatever that doesn't work, cause its still not clear :(

[2019-07-02 18:10] danielnelson commented on #5621
Reopening based on https://github.com/influxdata/telegraf/pull/5630#issuecomment-507683585

[2019-07-02 18:14] #6039 closed

[2019-07-02 18:32] danielnelson commented on #2791
Closed in #3772

[2019-07-02 18:32] #2791 closed

[2019-07-02 18:48] danielnelson commented on #2779
But I was having so much fun bumping the milestone!

Closed in #4167

[2019-07-02 18:48] #2779 closed

[2019-07-02 18:51] danielnelson commented on #6059
@valcryst I think this will solve the issue, could you test out this build?

- [telegraf_1.12.0~75e2f82c-0_i386.deb](https://35858-33258973-gh.circle-artifacts.com/0/build/linux/i386/telegraf_1.12.0~75e2f82c-0_i386.deb)

[2019-07-02 19:08] danielnelson commented on #2158
I don't like it, but I think this is our only/best option.  Would be really nice if we could send multiple values for a tag.  My only suggestion is to sort the roles in the list so they will be in a stable order.

[2019-07-02 22:29] sgtsquiggs commented on #3573
This issue is still valid :(

I have found the issue though. In hpcloud/tail (influxdata/tail) there is a problem:

In [this](https://github.com/hpcloud/tail/blob/master/watch/inotify_tracker.go#L164-L195) function, it is possible for shared.watchNums[fname] to go negative.

When debugging, I found that it would decrement once because of tomb.Tomb's Dying() triggering:
[code]

and again due to tai

[2019-07-03 00:53] #5927 closed

[2019-07-03 07:10] matthenning commented on #3630
@dupondje My bad, I was thinking output plugins.

[2019-07-03 07:47] DButter commented on #6057
@danielnelson hey, i tried your solution and you are completely right about the cause of the non match, but i would have expected the regex filter to not create a "sync_date" field at all when the regex fails. Especially if I use named fields to fill it.

Is that assumption wrong?

[2019-07-03 17:45] danielnelson commented on #3630
I think we should close this issue, in general this seems to be working and new issues can be created for any specific bugs that might remain.

[2019-07-03 17:45] #3630 closed

[2019-07-03 17:49] danielnelson commented on #6057
I believe this is how it works, but in this particular case the regular expression matched.

[2019-07-03 17:58] victorhooi commented on #5405
+1 to this for me!

[2019-07-03 20:04] #2158 closed

[2019-07-03 23:28] #6059 closed

[2019-07-03 23:51] danielnelson commented on #5638
@rbkasat Glad things are working well overall, I'm going to close this issue but if you find you still need a change then just go ahead and open a feature request, and we can discuss further on it.

[2019-07-03 23:51] #5638 closed

[2019-07-04 00:09] danielnelson commented on #6043
I posted [this question] with OpenWeatherMap, let's give them at least a week and based on what we learn we can decide our next step.

[this question]: https://openweathermap.desk.com/customer/en/portal/questions/17597807-update-frequency-of-data-2-5-weather-vs-data-2-5-group

[2019-07-04 00:11] #5916 closed

[2019-07-04 00:13] #5919 closed

[2019-07-04 00:18] danielnelson commented on #5843
This is working as intended, the replacement is unconditional, use the enum processor as suggested.

[2019-07-04 00:18] #5843 closed

[2019-07-04 03:36] Piyaphong opened #6065 "Telegraf build that can run on android"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
build package that can run on android
### Current behavior:
do not have package apk for android
### Desired behavior:
run
### Use case:
too few opensource application can monitor android on large scale

[2019-07-04 08:33] Jokuh opened #6066 "x509_cert: Error when site SSL is not valid"
Relevant telegraf.conf:
[[inputs.x509_cert]]
sources = ["https://www.testsite.com:443""]

Additional info:
The SSL of the site is currently expired, and I am trying to set up monitoring for that URL.

Expected behavior:
Telegraf exposes SSL metrics for www.google.com, and indicated that it is expired (i.e. expiry as a negative value). That way alerts can be set up for certificates that are already

[2019-07-04 11:40] burakyuksel0 opened #6067 "procstat - Collecting processes directly by providing PIDs in config file"
## Feature Request

I could not find if there is a way to do that but I think it would be better if we were able to collect processes by providing their PIDs in config file, maybe as an array.

### Desired behavior:

- Being able to specify processes to monitor by their PIDs

### Use case:

It makes the plugin more customizable and prevents collecting unwanted processes.

[2019-07-04 12:18] alvarolmedo opened #6069 "Burrow input: Topic filter applied to partition metrics"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf 1.10.3.
CentOS 7 / RedHat 7

### Steps to reproduce:

1. Use a burrow instance to get metrics with telegraf input. Config the address in server config var. The burrow config point to a kafka cluster with activer consumers and producers.

2. Prepare the next two files of configuration
[code]
2. Execute telegraf with --test. Observe the

[2019-07-04 13:54] Theoooooo opened #6071 "Telegraf still set _type field metrics for ES 7.x ?"
### Relevant telegraf.conf:
[code]

### System info:

Telegraf v1.11.1
Elasticsearch v7.2.0
CentOS7 Minimal 1807

### Steps to reproduce:
Install telegraf
Install ElasticSearch
Add configuration to Telegraf
Start both service
Can't input data to ElasticSearch due to mapping issue

### Actual behavior:
ElasticSearch create the default mapping with doc _type and not metrics. Because of this, i can't

[2019-07-04 15:50] goller commented on #6065
@Piyaphong Are you thinking telegraf could be an SDK or a full application?

difference is highlighted here: https://github.com/golang/go/wiki/Mobile

[2019-07-05 07:55] phillui-37 opened #6072 "Docker image cannot connect to kafka(both in/out) using SASL/SCRAM"
### Relevant telegraf.conf:
[code]

### System info:
System: OSX 10.14.5/Arch Linux 5.1.15
Docker: (OSX) 18.09.2, build 6247962/ (Arch Linux) 18.09.7-ce, build 2d0083d657
Telegraf: 1.11.1 (edge docker image)
librdkafka: 1.1.0

### Steps to reproduce:
Start the two telegraf docker instances with the two configs.

### Expected behavior:
Connection is build between influxdb and kafka. Data synchroniz

[2019-07-05 07:56] phillui-37 commented on #6072
I don't know what is the issue root cause as I have tried to connect to same kafka service using Python->confluent-kafka which can send and receive message normally

[2019-07-05 13:55] sgreszcz commented on #3723
Is there a way to work-around this?  There were some changes in Elastic Search 7 which cause the output to fail.  This unfortunately causes telegraf to restart continuously which breaks my kafka output which is working OK.  For now I guess I'll need to comment out the Elastic Search output.

[2019-07-05 15:27] glinton commented on #3723
@sgreszcz regarding the elasticsearch 7, can you test out the [nightly build](https://github.com/influxdata/telegraf#nightly-builds), there were [some changes](https://github.com/influxdata/telegraf/pull/6053) that got merged for ES7

[2019-07-05 16:08] glinton commented on #6072
Are you able to do a packet trace to determine where the packets are being dropped?

[2019-07-05 17:48] sgtsquiggs commented on #5375
Are you sending SIGHUP to Telegraf? There is a known issue #3573 that applies to tail plugin w/ inotify

[2019-07-05 18:05] danielnelson commented on #6071
Can you try with one of the [nightly builds](https://github.com/influxdata/telegraf#nightly-builds)?  #6053 will be included in the 1.12 release.

[2019-07-05 18:15] glinton commented on #5964
This could be a relatively quick fix if somebody wants to pick it up. With the new `Init()` function that got put in in #5899. I suspect one could loop through the list and drop any that don't exist.

Whether or not that is the desired behavior is another question though as automagic isn't always friendly. I don't believe the original ask was for telegraf to error and fail to start if a service co

[2019-07-05 19:04] danielnelson commented on #6069
Closed in #6070

[2019-07-05 19:04] #6069 closed

[2019-07-05 19:28] diraol opened #6075 "Statsd input plugin crashing"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf: 1.11.1 (docker version)
OS: Ubuntu 14.04
Datadog agent version: 1:5.32.4-1

### Steps to reproduce:

1. Run telegraf with statsd plugin enabled (and parsing datadog_extensions).
2. Configure a datadog agent to send metrics to telegraf/statsd.
3. Send invalid metrics to datadog agent (from telegraf/statsd perspective).

Metric example

[2019-07-05 21:16] lbatalha opened #6076 "ActiveMQ input plugin fails with HTTPS targets"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf 1.11.1, MacOS Mojave, ActiveMQ 5.15.0 (AmazonMQ)

### Steps to reproduce:

1. Set target URL to an HTTPS broker admin page
2. Start Telegraf
3. Plugin errors: `E! [inputs.activemq]: Error in plugin: EOF`

### Expected behavior:
Telegraf plugin connects to activemq admin page and gets metrics
### Actual behavior:
Telegraf fails to conne

[2019-07-05 21:33] danielnelson commented on #6067
It wouldn't be hard to do, but it seems to me that it wouldn't work very well either.  Anytime you restart the program you would need to modify the configuration and reload Telegraf.  The only situation I can see this is monitoring pid 1, can you tell me more about your use case?

[2019-07-05 21:35] danielnelson commented on #6076
Thanks, this should be easy for us to fix, looks like there is a hardcoded http:// scheme in the plugin.

[2019-07-05 22:14] DenKn commented on #5928
I ran into the same problem.
#5173 is very uncomfortable, unfortunately.

I need substring replacement for tag and field keys.

[2019-07-06 11:12] mohsin106 opened #6078 "Cisco MDT Input Plugin Not Binding"
### Relevant telegraf.conf:
[[inputs.cisco_telemetry_mdt]]
 ## Telemetry transport can be "tcp" or "grpc".  TLS is only supported when
 ## using the grpc transport.
 transport = "grpc"

 ## Address and port to host telemetry listener
 service_address = "1.1.1.1:50051"

 ## Enable TLS; grpc transport only.
 # tls_cert = "/etc/telegraf/cert.pem"
 # tls_key = "/etc/telegraf/key.pem"

 ## Enable TLS c

[2019-07-06 22:41] Aqualie commented on #2877
Can we have this re-added as a milestone in the future. Would be a very useful plugin to have added as UPS monitoring in large (NUT) is utilized quite heavily for monitoring.

[2019-07-07 06:45] BoobooWei opened #6080 "Enhance inputs.mysql to gather more lock info"
## Feature Request

* Gets the metalock session details and the long uncommitted transaction session ID that Used to quickly resolve metalock conflicts
* Get the session details of InnoDB transaction lock conflicts and how many transactions have been blocked to quickly resolve innodb row lock conflicts
* Get deadlock information to analyze the deadlock reason

* 获取元锁会话明细和导致元锁冲突的长时间未提交的事务会话id，用于快速解

[2019-07-07 06:59] danielnelson commented on #6078
This plugin listens on the service address, so it needs to be given an IP address assigned to one of the systems interfaces.

The code linked is indeed different from what is included in Telegraf, the largest difference is that the plugin included in Telegraf does not support grpc dialin, and is only tcp and grpc dialout.  This is why the `username` option is not available.

Let me know if you sti

[2019-07-07 06:59] #6078 closed

[2019-07-07 07:10] BoobooWei commented on #6080
https://github.com/BoobooWei/telegraf-1

[2019-07-07 13:50] sarojcare commented on #2546
Looking forward for this feature.

[2019-07-07 16:03] DenKn opened #6082 "Json array it seems doesn't work for http_listener."
### Relevant telegraf.conf:

[code]
### System info:
telegraf:1.10.4

### Steps to reproduce:

When I sent to http
`{
	"a": 5,
    "test": [
    	{
    		"b": 1
    	},
    	{
        	"b": 2
    	}
	]
}`

### Expected behavior:
{"fields":{"a":5,"test_b":1},"name":"log","tags":{"host":"testhost-elk-g"},"timestamp":1562513750},
{"fields":{"a":5,"test_b":2},"name":"log","tags":{"host":"testhost-elk-

[2019-07-07 21:49] danielnelson commented on #6082
Sorry, I don't think the JSON parser can handle this input data how you want.  If you can change the input format then probably the easiest way to get this would be to move "a" into the list of objects and set `json_query = "test"`:
[code]

We have an issue open to improve this parser, keep an eye on #1363 for improvements.

[2019-07-07 21:49] #6082 closed

[2019-07-08 03:18] phillui-37 commented on #6072
I used tcpdump to trace packets. Result are listed [here](https://gist.github.com/phillui-37/21adfd9364b469ba290369427ac6069b)

[2019-07-08 03:18] phillui-37 commented on #6072
I used cloudkarafka to demo the status here

[2019-07-08 09:08] burakyuksel0 commented on #6067
You are right.
In my case the programs, I wanted to monitor, didn't have pidfile. I needed either to create pidfiles manually, or to make procstat_lookup collect all running programs and select programs from Chronograf manually.

[2019-07-08 15:29] DenKn commented on #6082
Thanks. That example works.

But it doesn't work for nested array.
`{ "test": [ { "a": 5, "b": 1, "values": [{"c": 3, "d": 4}] }, { "a": 5, "b": 2 } ] }`

In output we get:
- values_0_c: 3
- values_1_d: 4

[2019-07-08 16:49] danielarkins opened #6087 "global replace not working"
expecting this to replace all occurences of / in fieldname to _per
perhaps this is not supported? my config looks like this:

[code]

but output still has / in field nmae. Also tried this but no luck

[code]

[2019-07-08 17:23] danielnelson commented on #6067
Have you tried using one of the other matching options: `exe`, `pattern`, `user`, etc?  How do you usually lookup the process manually to create the pidfile, maybe you can use a similar method.

[2019-07-08 18:24] danielnelson commented on #6082
Yeah, this is just how the JSON parser works, it's not all that flexible and this is why #1363 is open.  I usually avoid sublists, since it almost never handles them how I want, you really want to aim for a list of flat objects.

[2019-07-08 19:19] glinton commented on #6087
In the future, please follow the [provided template for issues](https://github.com/influxdata/telegraf/issues/new?template=Bug_report.md)

What version of telegraf are you running?

The following config works with telegraf 1.11. Note the processor doesn't get applied when running telegraf with `--test`
[code]

[2019-07-08 19:22] jghendrick opened #6090 "[inputs.mqtt_consumer]: Error in plugin: metric parse error: expected tag at 1:3: "95""
Hello, I'm getting the error: metric parse error when receiving the data from the mqtt broker. I'm using Mosquito on a separate server, and Influxdb, telegraf on a Cernt0s 7vm. The connections all seem to be working. I can see the topics in my database, MQTT02, but no values. I have tried
`data_format = "value"`
`data_format = "float"` also
`data_format = "json"` I get different errors, so I think

[2019-07-08 19:33] danielnelson commented on #6087
Not sure if this is the cause, but recall that this plugin only supports modifying field values, and not field keys #5928

[2019-07-08 19:41] glinton commented on #6087
Good point Daniel, I misread and assumed the desired behavior was to modify values.

[2019-07-08 19:48] glinton commented on #6090
What is an example of the output/payload you are having telegraf ingest?

[2019-07-08 19:50] danielarkins commented on #6087
Ahhh
I want to globally modify the keys

From: Greg <notifications@github.com>
Sent: Monday, July 8, 2019 3:42 PM
To: influxdata/telegraf <telegraf@noreply.github.com>
Cc: Arkins, Daniel <Daniel.Arkins@blackrock.com>; Author <author@noreply.github.com>
Subject: Re: [influxdata/telegraf] global replace not working (#6087)

External Email: Use caution with links and attachments

Good point Daniel, I

[2019-07-08 20:21] danielnelson commented on #6087
Okay I'm going to close this as a duplicate of #5928 then.

[2019-07-08 20:21] #6087 closed

[2019-07-08 21:44] #6075 closed

[2019-07-08 21:48] #3573 closed

[2019-07-08 22:47] glinton commented on #6072
@phillui-37 do you mind trying again with the new logging addition Daniel just made?

<ul>
  <li><details><summary>freebsd</summary><ul>
    <li><details><summary>static_amd64</summary><ul>
      <li><a href="https://36140-33258973-gh.circle-artifacts.com/0/build/freebsd/amd64/telegraf">telegraf</a></li>
      <li><a href="https://36140-33258973-gh.circle-artifacts.com/0/build/freebsd/amd64/telegr

[2019-07-08 23:02] DenKn commented on #6082
Ok. Thanks for explanation.

[2019-07-09 06:40] spcqike commented on #6043
Hello danielnelson,

so it seems, that this is expected behavior for group requests.
so, as a free user can generate 60 API calls per minute, maybe its best to switch to single query requests, as long as we don't monitor more than 600 locations :)

or are there any disadvantages about multiple single requests?

[2019-07-09 07:38] harshitdx29 opened #6093 "Not able to send metrics to Datadog"
### Relevant telegraf.conf:
[code]

### Expected behavior:
I expect my metrics to be sent to datadog.

### Actual behavior:
Getting timeout error. But when I hit Datadog API directly from the same host, it's working so certainly not a connectivity issue
The API I am hitting is:

curl  -X POST -H "Content-type: application/json" \
-d "{ \"series\" :
         [{\"metric\":\"test.metric\",

[2019-07-09 12:24] MorphBonehunter opened #6094 "missing types in bind plugin"
### Relevant telegraf.conf:

[code]

### System info:

Using Telegraf 1.11.1 on Arch Linux with BIND 9.14.3

### Steps to reproduce:
Today i played with the bind plugin and noticed that there are two missing types in the telegraf output.
Based on the [example output](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/bind#example-output) there are 6 types on the bind_counter measure

[2019-07-09 12:38] Esity opened #6095 "AMQP output plugin direct queue support"
## Feature Request

The AMQP output plugin should support writing directly to a queue. Currently you can only write to an exchange

### Use case:
Some times there isn't a need for an exchange. This will allow people to skip the exchange side of things

[2019-07-09 14:02] AlexSnarf opened #6096 "jti_openconfig_telemetry component_id as tag"
## Feature Request

Hi,
First thank you for your job!
I've been playing with Telegraf/influxdb along with some Juniper routers for some time now and it works pretty well.
Nonetheless I am facing a frustrating issue when I'm working with Firewall counters. Those counters are identified by a Firewall name, a counter Name and also by a component_id. The problem is that this component_id is created as

[2019-07-09 16:19] glinton commented on #6096
Have you considered [the converter processor](https://github.com/influxdata/telegraf/tree/1.11.1/plugins/processors/converter) to convert from a field to a tag?

[2019-07-09 16:55] Toniob opened #6097 "Allow gjson multipath"
## Feature Request

gjson supports a multipath syntax for queries. It would be great to allow it in telegraf : https://github.com/tidwall/gjson/blob/master/SYNTAX.md#multipaths

### Current behavior:

We can't choose a subset of the keys in a json stream.

### Desired behavior:

Telegraf should allow to use gjson multipath syntax for users to only use a portion of a json stream.

### Use case:

I'

[2019-07-09 16:58] glinton commented on #6094
Is `/json/v1/server` supported in the telegraf config as an item in `urls`? looks like it only takes `/json/v1` [in the plugin](https://github.com/influxdata/telegraf/blob/601f4991265259e6859270dfd7974772f82f0247/plugins/inputs/bind/bind.go#L70)

[2019-07-09 17:13] danielnelson commented on #6093
@harshitdx29 I checked that this plugin is working for me, and also I took a quick look over the code for this plugin, but I don't see any obvious cause other than a timeout/networking issue.  Any chance you are you using a proxy?

[2019-07-09 17:21] danielnelson commented on #6095
I think this can be done by sending to the default exchange:
[code]

[2019-07-09 17:36] glinton commented on #4493
@bbfoto have you tried again with [a nightly build](https://github.com/influxdata/telegraf#nightly-builds) since #6064 was merged

[2019-07-09 17:40] #6076 closed

[2019-07-09 17:44] MorphBonehunter commented on #6094
Hey @glinton, as you can see in my `telegraf.conf` i don't use the `/json/v1/server` in the plugin.
This was only to demonstrate that the information is in the json output and to limit the output (the full output has over 19k lines)
I've edited my initial comment to make this clear.

[2019-07-09 18:02] danielnelson commented on #6096
@AlexSnarf Could you also add a few examples of the metrics Telegraf is collecting?

[2019-07-09 19:16] glinton commented on #5621
closed by #6077

[2019-07-09 19:16] #5621 closed

[2019-07-09 19:18] danielnelson commented on #6043
Yes, I agree.  Downside is just more requests/api calls but I think for most people this will be best and I don't see this plugin as being the right solution for exporting tons of locations.

[2019-07-09 20:58] danielnelson commented on #3534
@vlastahajek Correct me if I'm wrong, still a little fuzzy on Windows authentication methods, this is supported now by your latest patch to go-mssqldb?

[2019-07-09 21:31] danielnelson commented on #6090
I think @glinton's has your answer covered, but if you are still having trouble please ask over at the [InfluxData Community](https://community.influxdata.com) site.

[2019-07-09 21:31] #6090 closed

[2019-07-09 22:00] jghendrick commented on #6090
Thanks @glinton, your answer did help get me in the right direction.

[2019-07-09 22:25] #6054 closed

[2019-07-09 22:43] danielnelson commented on #2877
I think we are quite close to having this done, and it would make sense to finalize it up.  I'll add this to the next milestone, it does't guarantee we can get to it, but it will put it on our short(er) list of task items.

[2019-07-09 22:57] danielnelson commented on #6066
I think you must set `insecure_skip_verify = true` in order to check a potentially invalid certificate, can you give this a shot?

[2019-07-09 23:51] danielnelson commented on #5527
Closed in #5572

[2019-07-09 23:51] #5527 closed

[2019-07-10 02:08] danielnelson commented on #299
Closed in #2383 + #5653 and included in 1.11.0.

[2019-07-10 02:08] #299 closed

[2019-07-10 02:08] #6071 closed

[2019-07-10 02:26] phillui-37 commented on #6072
I used image you have provided and still have the same result

[tcpdump](https://gist.github.com/phillui-37/dc89f4d8999c04cfd3949150fc510898)

[2019-07-10 04:54] harshitdx29 commented on #6093
It can't be a networking issue because I am able to hit the datadog URL directly using CURL.

Also, we are not using any proxy for this.

[2019-07-10 06:46] burakyuksel0 commented on #6067
I was searching processes by using `ps` and `grep` commands. Looks like `pattern` option would mostly do my job. I used telegraf for a short period of time and I just wanted to be able to pick exact processes but as you said it may not be handy for generic use cases.
We can close the issue and thanks a lot for your attention.

[2019-07-10 07:19] AlexSnarf commented on #6096
I'll check this! I thought this plugin could only work on the type (str, int, etc...) but you are right, the documentation says it can also convert field to tag. I'll give it a try.

Here are some of the data I'm collecting, this is the data as they are stored in influxdb:
[code]

We have filter on lag interfaces which can rely on physical interfaces located on different boards. Let me know if thi

[2019-07-10 08:30] antitbone opened #6103 "[linux] inputs.mem: SlabReclaimable and SlabUnreclaim"
## Feature Request

On linux slab is subdivided into two: SReclaimable and SUnreclaim.
It is interesting to know these two values.

### Proposal:

Add SReclaimable and SUnreclaim values in addition to Slab to inputs.mem

### Use case:
SReclaimable can be freed with /proc/sys/vm/drop_caches.

[2019-07-10 09:38] AlexSnarf commented on #6096
The converter processor does the job! I'm a bit confused I did not see that before hand...
Anyway don't you think these information should be processed the same way the system_id is? These information share the same purpose, locating where the measure comes from :) and are not variant accross time.
I can be wrong, I'm kind of new in the telemetry world!

[2019-07-10 13:19] kgelinas commented on #5907
Which version of the Metrics API will this be compatible?
will this be compatible with 6.x branch
https://lucene.apache.org/solr/guide/6_6/metrics-reporting.html#metrics-api

[2019-07-10 13:40] eikef commented on #3788
Do you need another testcase? Ran into the same problem on the same kinds of switches (HP V1910-*) :)

[2019-07-10 14:40] frizner commented on #5907
The plugin should work with Solr 6.x branch too. In this case an user shouldn't set keys. Otherwise Solr returns all accessible metrics.

[2019-07-10 17:16] kgelinas commented on #5907
I've tried with a simple prefixes
- solr.jetty:org.eclipse.jetty.server.handler.DefaultHandler.5xx-responses does not work
- org.eclipse.jetty.server.handler.DefaultHandler.5xx-responses
  return this:
    2019-07-10T17:06:30Z E! [inputs.solrmetrics]: Error in plugin: json: cannot unmarshal array into Go
struct field MetricResponse.metrics of type solrmetrics.Metrics

probably because there's some

[2019-07-10 17:17] #6067 closed

[2019-07-10 17:45] jimmybrancaccio commented on #6043
Glad to see I wasn't the only one having the issue. I've just switched over to `inputs.http` for now.

[2019-07-10 17:50] frizner commented on #5907
correct. It is hard to parse such output and set right tags and values for the metrics. It is why in this case `keys` should be used, but it is not your solution because of Solr 6. Right?

[2019-07-10 18:19] danielnelson commented on #6103
@antibone I think the SUnreclaim value ought to be added to gopsutil, do you think you could open an issue upstream?

[2019-07-10 18:49] kgelinas commented on #5907
exactly
keys are not present in 6.x

[2019-07-10 19:06] danielnelson commented on #3788
Yeah, that would be helpful.  Could you do the tcpdump capture above once with snmpget and once with Telegraf?

[2019-07-10 19:43] danielnelson commented on #6043
@regel What do you think on this one?

[2019-07-10 19:45] danielnelson commented on #6072
Can you run it with the `--debug` cli option, we are expecting to see a fair number of new log messages.

[2019-07-10 19:50] danielnelson commented on #6093
Any chance we just need to increase the timeout option?  Telegraf is likely sending a much larger payload compared to the curl comman.

Otherwise, first try running in foreground (not as service) from the same shell as the curl command.  If that still doesn't help could you try from a different computer preferably at a different location.

[2019-07-10 20:55] yppdr opened #6106 "nvidia_smi Fail"
### Relevant telegraf.conf:

[code]

### System info:

Win 10 Pro, Telegraf 1.11.2

### Explanation of the bug:

After a fresh installation of telegraf and nvidia smi (via cuda-toolkit) I see in my log that I have an error with the smi:
[code]
I do not understand or could come the mistake because the path is the right one.

### Additional info (log):
[code]

[2019-07-10 21:20] shawnahall71 opened #6107 "lustre2 input plugin not customizable due to TOML parsing issue"
As requested by @danielnelson in #5771.

### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.11.2 on CentOS 7.4

### Steps to reproduce:

Use the above Telegraf config on different versions of Telegraf.

### Expected behavior:

When I use telegraf 1.10.4, it works as expected:

[code]

### Actual behavior:

When I use this config with Telegraf 1.11.2, uncommenting the default inputs.

[2019-07-11 00:01] danielnelson commented on #6106
Can you try running this command and paste the output:
[code]

[2019-07-11 00:07] danielnelson commented on #6096
@littlespace Would love to get your opinion on the component_id, do we need it as a tag to provide uniqueness?

[2019-07-11 00:21] kgelinas commented on #5907
I don't think there's an easy way to detect solr version if there is maybe it's a better way.
if not you could add a flag for 6x compatibility
reuse the same prefix format "solr.jetty:org.eclipse.jetty.server.handler.DefaultHandler.5xx-responses"
if the flag is present modify the url to put the value before the ":" to group in the url?

[2019-07-11 00:56] littlespace commented on #6096
@danielnelson, I wrote my own serializer in Telegraf and I am creating a new metric per fields (bytes/ packets for the firewall counters) and add tags to it. I am not using the component_id or subcomponent_id at the moment as a tag because Of the number of tags limitation on opentsdb. @AlexSnarf can you let us know why do you need that? Do you have an use case for it?

[2019-07-11 02:26] phillui-37 commented on #6072
[log](https://gist.github.com/phillui-37/059200ba9b2ad567bee1251661e63fb5)

[2019-07-11 03:02] danielnelson commented on #6072
Thanks @phillui-37, connection is fine but it looks like the server closes the connection once the SASL handshake is sent.

Would you be able to check the logs from one of the Kafka servers for any clues?  Also, it might be helpful if you could put together a small sample program with the python program that can connect and send a message.

Finally, there is one connection option that we don't exp

[2019-07-11 03:39] frizner commented on #5907
Initially I wanted to use groups, but it didn't looks good solution, because groups can be combined with prefixes and the config becomes too confusing to handle or understand.

[2019-07-11 04:15] phillui-37 commented on #6072
There is no logs provided by cloudkarfka free account, sorry...
well, the python test code is located [here](https://gist.github.com/phillui-37/183db960204864166e3ae4a22e6cfbd7)

[2019-07-11 04:27] danielnelson commented on #6072
Looks like support for SASL/SCRAM requires a newer version of the sarama library than we have in Telegraf right now.  I'll try to put together a new build tomorrow with the updated library for testing.

https://github.com/Shopify/sarama/pull/1295

[2019-07-11 06:33] antitbone commented on #6103
@danielnelson issue opened on the upstream
https://github.com/shirou/gopsutil/issues/719

[2019-07-11 09:30] regel commented on #6043
Hi Daniel, ok. Reading OWM's response

An easy route is to document this behavior, use a 1-hour interval as the default value in the configuration, and call the single location API if the cities list parameter contains one unique item. Then we can duplicate the [[inputs.openweathermap]] section if a lower time resolution is required for more than one city.

[code]

warning: the single city API use

[2019-07-11 10:13] AlexSnarf commented on #6096
Sure, I want to graph Firewall counters and policer bandwitdh. Those firewalls fiters are applied to lag interfaces based on physical interfaces located on different linecard.
Junos does send the counters per linecard, meaning that if the interfaces in the lag are spread among 2 linecards then I will get 2 counters.
I need to sum the two counters before applying a derivative function to get the ba

[2019-07-11 11:40] robert-gomes opened #6108 "[inputs.exec] Python command ModuleNotFoundError"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf 1.9.0
Centos 7.6

### Steps to reproduce:
In the commands section include a command that references a python module (PYTHONPATH to module root defined in /etc/environment)

### Expected behavior:
Runs the command and produces json output as per input
### Actual behavior:

Throws ModuleNotFoundError
`2019-07-11T11:22:00Z E! [inputs.exec

[2019-07-11 12:43] megastef commented on #989
Is there a plan for an "processing" plugin that aggregate derivatives (rates or deltas)? Would you accept a PR for such a processor?

I developed several monitoring agents in nodejs. I used deltas for all growing metrics, but could not find anything in telegraf processor plugins.

Example in my nginx agent: https://github.com/sematext/sematext-agent-nginx/blob/master/lib/aggregator.js#L31-L37

Alw

[2019-07-11 14:55] alternativc opened #6109 "Cloudwatch input has missing metrics for some RDS instances"
### Relevant telegraf.conf:

[code]

### System info:

telegraf version 1.11.2
Centos7
### Steps to reproduce:

1. Doing a dry run of the configuration gives correct results:
[code]
2. But when running the telegraf service, it skips some metrics (debug via output.file)
[code]

### Expected behavior:
The gathered result between --test and non-test should be the same
### Actual behavior:
There is a

[2019-07-11 15:08] frizner commented on #5907
@kgelinas
Could you show output of `http://solrserver:8389/solr/admin/metrics?wt=json&prefix=org.eclipse.jetty.server.handler.DefaultHandler.5xx-responses` and your config file?
I tested the plugin with Solr 7 with only one prefix and it works.
[code]
I see the following metrics in a DB with common prefix `solr.jetty.org.eclipse.jetty.server.handler.DefaultHandler.5xx-responses`:
"count", "meanRat

[2019-07-11 15:34] GeorgeMac commented on #6108
@robert-gomes just to clarify. Is it true that all you have to do to produce this error is to drop the `--test` from the telegraf command? Or are you running telegraf via some other process manager like systemd when this error occurs?

[2019-07-11 16:10] GeorgeMac commented on #6108
If you are experiencing this issue via systemd you may find it is because our default service definition doesn't reference `/etc/environment` and I believe that systemd would need to reference that explicitly.
https://github.com/influxdata/telegraf/blob/master/scripts/telegraf.service#L7
We do however reference `/etc/default/telegraf`. If this is what you are experiencing you could add `PYTHONPATH

[2019-07-11 18:11] danielnelson commented on #6096
At a high level, because unfortunately I don't understand the OpenConfig model well enough, each logical object should form a series: with unique and normally unchanging measurement and tags.

What I see in the data above, unless I'm misreading which is quite possible, is that there are multiple firewall rules but they are all being sent with same measurement/tags.  This means that with InfluxDB t

[2019-07-11 18:29] danielnelson commented on #6109
Try setting the delay to "5m", perhaps these values aren't available yet.

[2019-07-11 18:35] danielnelson commented on #989
Yes, there is a pull request open to do deltas https://github.com/influxdata/telegraf/pull/4435, and I am planning to take a look at it as soon as I can.

Can I ask what store/vis you are using that doesn't support counters?

[2019-07-11 19:02] AlexSnarf commented on #6096
Actually, both values come from the exact same Firewall Filter.
But the equipement send 1 value per physical card.
On router we are using (MX2020) there are 20 linecards. A firewall rule can be applied to a logical interface that relies on physical interfaces located on different linecards. Each line card send the number of packets or bytes that matches the Firewall rule on its own physical interf

[2019-07-11 21:28] kgelinas commented on #5907
{"responseHeader":{"status":0,"QTime":4},"metrics":["solr.core.customers",{},"solr.core.xxxx",{},"solr.core.xxxxxx",{},"solr.jetty",{"org.eclipse.jetty.server.handler.DefaultHandler.5xx-responses":{"count":1,"meanRate":1.7572203828424237E-6,"1minRate":2.964393875E-314,"5minRate":7.595114699769402E-299,"15minRate":3.1499831990439436E-102}},"solr.core.agencyDetail",{},"solr.jvm",{},"solr.node",{},"s

[2019-07-11 21:57] danielnelson commented on #6072
Give one of these builds a shot, you will need to add `sasl_mechanism` in the configurations for both the input and output:
[code]

- [telegraf-1.12.0~4f49189a-0.x86_64.rpm](https://36428-33258973-gh.circle-artifacts.com/0/build/linux/amd64/telegraf-1.12.0~4f49189a-0.x86_64.rpm)
- [telegraf-1.12.0~4f49189a_linux_amd64.tar.gz](https://36428-33258973-gh.circle-artifacts.com/0/build/linux/amd64/teleg

[2019-07-11 22:07] #2833 closed

[2019-07-11 23:06] danielnelson commented on #5808
@erik-wramner Can you try out these user setup instructions from #6111?

[code]

[2019-07-12 00:43] danielnelson commented on #3522
Reopening since #6074 won't actually fix the original issue here.

[2019-07-12 02:21] mahima2112 opened #6112 "Setup for Type1 and Type 2 hypervisor"
Can telegraf, influxdb and grafana used together to get the metrics from both type1 and type2 hypervisor machines? I have got the metrics for type1 using vmware. how can we do it for stand alone machines?
the telegraf.conf file had some lines about bare metal, but the entire thing didnt work. Also it had some content about about using SNMP which gave no response from server.

OS: Ubuntu 18.04

[2019-07-12 02:33] phillui-37 commented on #6072
still not work

[log and conf](https://gist.github.com/phillui-37/d2a54db48bd17ffa069322da0ee2b1b1)

[2019-07-12 04:08] guillaumelfv commented on #6108
We moved env vars from `/etc/environment` to `/etc/default/telegraf` and now it is working.

Thanks for the fix ! Issue can be closed.

[2019-07-12 05:12] yppdr commented on #6106
Yes, output :
[code]

[2019-07-12 06:26] xiaoyanghapi commented on #5967
I also want to ask this qustion、
我也想问这个问题。

[2019-07-12 07:00] beyondht2003 opened #6113 "[inputs.exec]: Error in plugin: metric parse error"
### Relevant telegraf.conf:

[code]

### System info:

### Steps to reproduce:

1. ...
[[inputs.exec]]
   commands = [
     "/data/telegraf/test.sh"
   ]

test.sh file

#!/bin/sh
ias_pid=16781
heap=`/nemo/jdk8/bin/jstat -gc $ias_pid|tail -n1`
ias_m=`echo "$heap"|awk -F " " '{print $9}'`
tempv=`echo "scale=0; $ias_m/1"|bc`
#tempv=64100.1
echo "multi_proc,tag=tagvalue ias_m=$tempv"

2. ...
run test.

[2019-07-12 08:03] alternativc commented on #6109
@danielnelson I have changed the delay to 2m and I am getting the metrics now. It's strange though as detailed monitoring is enabled on all instances. Thanks for the tip!

[2019-07-12 08:03] #6109 closed

[2019-07-12 08:23] #6113 closed

[2019-07-12 08:25] beyondht2003 commented on #6113
https://github.com/influxdata/telegraf/issues/2215
Similar problem, I add telegraf to sudo and it works !

[2019-07-12 09:20] #6108 closed

[2019-07-12 12:06] frizner commented on #5907
Solr 6.x returns metrics as an array, Solr 7.x as a map.

[2019-07-12 12:42] philippreston commented on #5864
Hey

Just wanted to check if you had any feedback or any view on whether this is likely to be accepted?

Many thanks

[2019-07-12 15:46] puckpuck opened #6115 "Input plugin to subscribe to SQS for metrics"
## Feature Request

Similar to the GCP pub/sub plugin that can receive metrics, a similar plugin for AWS SQS.  It should be able to work with any of the Telegraf input data formats.

[2019-07-12 21:21] danielnelson commented on #6106
Output looks fine, I found in the [nvidia-smi documentation](https://developer.download.nvidia.com/compute/DCGM/docs/nvidia-smi-367.38.pdf):

Are you running Telegraf as a service?  If so, does it work when ran directly from an Administrator command window? `telegraf --input-filter nvidia_smi --test`

[2019-07-13 16:36] yppdr commented on #6106
After executing this command nothing that changes, I have all the statistical windows but nothing from nvidia.

[2019-07-15 08:52] MorphBonehunter commented on #6094
@glinton maybe another question...you added the "feature request" label but is this really a feature request?
In the the example output the two missing measurements are present, so i thought this is an bug or is the example the wrong one?

[2019-07-15 09:01] vlastahajek commented on #3534
@danielnelson, my patch didn't add any new authentication method.  The issue was in wrong handshake of authentication messages, not in unsupported authentication method.
However, If needed I can look at this as well, I saw similar requests in go-mssqldb repo.

[2019-07-15 09:24] #5758 closed

[2019-07-15 14:44] UnAfraid commented on #2020
This query worked fine in Grafana/influxdb-cli, but i cannot get it to work in Chronograf, i tried:
`SHOW TAG VALUES CARDINALITY FROM "cpu" WITH KEY="cpu" WHERE "cpu" != 'cpu-total' AND "host"=:host:` returns no results
`SHOW TAG VALUES CARDINALITY FROM "telegraf"."autogen"."cpu" WITH KEY="cpu" WHERE "cpu" != 'cpu-total' AND "host"=:host:` returns empty string
`SHOW TAG VALUES CARDINALITY ON "tele

[2019-07-15 15:45] dsvemp opened #6120 "Windows - Log file on a drive other than C:"
### Proposal:
Hello, on Windows I haven't found a way to make telegraf save its log to a D: drive

### Current behavior:
Log file can be customised (ie "/program files/folder") via the logfile parameter in a configuration file, but only for the C: drive. I'm running it as a Windows Service and it might be due to the context of the console session where the service runs in?

### Desired behavior:
B

[2019-07-15 18:36] danielnelson commented on #6120
This should work in the agent section of the configuration, note the single quotes to avoid needing to escape backslashes:
[code]

[2019-07-15 18:36] #6120 closed

[2019-07-15 18:41] danielnelson commented on #2020
@UnAfraid I'm not sure what the issue might be, could you open a [new issue with Chronograf](https://github.com/influxdata/chronograf/issues/new)?

[2019-07-15 20:08] danielnelson commented on #5905
This issue might be related https://github.com/golang/go/issues/21978

[2019-07-15 23:41] #5967 closed

[2019-07-15 23:45] #6097 closed

[2019-07-15 23:48] #4912 closed

[2019-07-16 00:49] danielnelson commented on #6072
I opened an issue upstream with the Sarama project: https://github.com/Shopify/sarama/issues/1427

[2019-07-16 01:51] danielnelson commented on #5864
Thanks for the PR, it seems very useful and we'd definitely like to add it, unfortunately we are quite a bit behind on review (to put it nicely) so it might be a while before we can take a proper look.

[2019-07-16 06:19] danielnelson commented on #6094
@MorphBonehunter Doesn't look like we ever had any code to parse rcodes or zonestats in json, however maybe the xml variant handles it dynamically.  It's one of those bug/feature middle ground items, but the distinction isn't super important here.  If you can verify this fix we can include it in the next patch release:

- [telegraf-1.12.0~24d63ab7-0.x86_64.rpm](https://36726-33258973-gh.circle-art

[2019-07-16 06:39] Jokuh commented on #6066
I think that was enabled, but unfortunately we have renewed the certificate so I cannot test anymore. I'll keep an eye on it.

[2019-07-16 07:06] MorphBonehunter commented on #6094
@danielnelson thanks for the explanation, indeed i only look at the json code.
I can confirm your code additions work:
[code]
But i like to mention that all other types are singular and your code addition adds the two types as plural. Also the XML Output is singular so i think it would be better to use `rcode` than `rcodes` and `zonestat` than `zonestats`.

[2019-07-16 07:11] danielnelson commented on #6094
Good call, I'll make that change.

[2019-07-16 10:49] dsvemp commented on #6120
Thanks! Can I suggest you document this somewhere? Thanks again

[2019-07-16 12:24] theodiefenthal opened #6124 "Using influxdb proxy (http_listener, influxdb_listener, http_listener_v2) should write the same points as direct write to InfluxDB"
### System info:
Official telegraf 1.11 docker image, relevant to all telegraf versions in all OS.

### Steps to reproduce:

1. Write a batch of points in one request to Telegraf containing some invalid points.

### Expected behavior:

If I send a batch of points to InfluxDB with some invalid points, I receive a partial write error. Nonetheless, the valid points in that batch are stored.

### Actu

[2019-07-16 13:57] megastef commented on #989
I use Sematext Cloud - currently, charts would render counters with the always growing absolute value. Therefore Sematext agents calculate delta or rates. This might change one day, nevertheless, I think the possibility to calculate deltas and rates is really a handy feature for any monitoring agent. On the client-side, it needs fewer calculations at query-time or render-time and users don't even

[2019-07-16 14:24] GeorgeMac commented on #767
Delivered in https://github.com/influxdata/telegraf/pull/4259

[2019-07-16 14:24] #767 closed

[2019-07-16 16:59] GeorgeMac commented on #5894
After doing some digging into this problem I have found some behavior I need to clarify further.

What I find is hard to express in a PR, so bare with me and I am happy to attempt to attempt to clarify more.

The parse tree for these filters looks like this:
[code]
With precedence from left to right. Since we prioritise exact matches over wildcards.
The moment an incoming line starts to match we d

[2019-07-16 20:32] andreykaipov opened #6125 "JSON parser fails on empty arrays"
I was using the `http` input plugin to parse out metrics out of one of our services but found Telegraf failing on an empty array (on service startup, our endpoint responds with an empty array until it receives a request).

I took a look and found the [`isarray`](https://github.com/influxdata/telegraf/blob/release-1.11/plugins/parsers/json/parser.go#L267-L275) function doesn't consider this edge-ca

[2019-07-16 21:17] sgtsquiggs opened #6127 "More multicast-capable socket_listener"
## Feature Request

A new multicast_listener plugin that allows multicast-specific options to be set.

### Proposal:

Here's my current work-in-progress config:

[code]

I want to be able to support several different combinations of source "include" vs "exclude" which are described in the [documentation](https://godoc.org/golang.org/x/net/ipv4#hdr-Source_specific_multicasting). I also want to supp

[2019-07-17 01:04] danielnelson commented on #6124
Thanks for the bug report, I took a quick look at the code the current behavior of `influxdb_listener` is to parse lines until the first error and then stop, whereas InfluxDB parses all lines skipping the unparseable lines in full.  The `http_listener_v2` plugin is not meant to behave the same as InfluxDB, so let's ignore it here.

To summarize, given the input:
[code]

Actual output
[code]

Expec

[2019-07-17 02:41] danielnelson commented on #6066
Will keep open until we can test this behavior.  It seems like if we need `insecure_skip_verify` for invalid certs the documentation needs updated.

[2019-07-17 03:10] danielnelson commented on #6127
It's not entirely clear to me from the Godocs the degree you can combine the operations.
- Does it make sense to join more than one source specific group? (in include mode)
- Does it make sense to both include and exclude source specific groups? (in exclude mode)
- Does it make sense to combine include mode and exclude mode?

[2019-07-17 05:04] danielnelson commented on #5894
It seems to me that we should backtrack and try the next pattern.

[2019-07-17 06:52] AlexKapustin opened #6131 "Add metrics from performance_schema.events_statements_summary_by_account_by_event_name"
## Feature Request

Currently it's not possible to gather metrics per username (number of queries and so on) for mysql plugin

### Proposal:

There is the table which contains desired information: performance_schema.events_statements_summary_by_account_by_event_name need to add this functionality to mysql plugin.
For example: add flag into config:
`gather_perf_sum_per_acc_per_event = true`
and we

[2019-07-17 08:28] erik-wramner commented on #5808
I'll upgrade to the latest version and try it out, but it will take some time. I'm on vacation so I don't have access to the environments right now.

[2019-07-17 09:00] DavidVog opened #6133 "input.kubernetes: kubernetes.cpu.limits & kubernetes.memory.limits"
## Feature Request
Adding kubernetes.cpu.limits & kubernetes.memory.limits for kubernetes_pod_container in the kubernetes input plugin.

### Proposal:
Adding two fields in kubernetes.go:
fields["cpu_usage_limit_nanocores"]
fields["memory_usage_limit_nanocores"]

### Current behavior:
Those two metrics are lacking.

### Desired behavior:
Getting the cpu en memory limit of each pod

### Use case:
Th

[2019-07-17 15:16] thetravellor commented on #2509
And so we have a completely working solution to something the authors of telegraf feel is not feasible.
I suggest this is reopened, as I too had been looking for a solution to this, and here it is

[2019-07-17 16:09] GeorgeMac commented on #5140
Am I right in thinking that this is only a problem for the field with name `timestamp`? As in the `semantic_name` when set to `timestamp` gets used at the metric timestamp. Where other field names here become fields (or tags with the tag modifier) even when the modifier is a `ts` prefix?

Would another option be to prefix all `ts` modifiers to circumvent this scenario? e.g. `field-ts-rfc3339`. Thi

[2019-07-17 20:10] MaartenKleijwegt commented on #3041
Any news on this? Our company has got plenty of machines out in the field with OPC-UA and we're looking into building a test dashboard. [This](https://github.com/coussej/node-opcua-logger is what I'm currently using, but if telegraf could handle it that would be much better IMHO

[2019-07-17 20:27] danielnelson commented on #5964
I agree this could be confusing, imagine the case where you type the name of the service wrong, and instead of a warning the plugin just doesn't collect anything.  I would be okay with a one time logging of the error, but would do it in the Gather function as Init() isn't meant only for config file checks.  In the more distant future when we have per plugin log levels it could be handled this way

[2019-07-17 20:41] danielnelson commented on #5140
I believe any field with a `ts-` "modifier" becomes the timestamp, regardless of what the "semantic_name" is.  So `%{TIMESTAMP:howdy:ts}` would still be the timestamp.

The `field-ts-rfc3339` idea ought to work.  Another possible way to solve this would be that if you specify a `grok_timestamp` option then it specifies a specific "semantic_name" for the timestamp, and other names would be just reg

[2019-07-17 21:13] arkhitekton commented on #4377
This link ( https://www.influxdata.com/what-is-snmp/ ) indicates that the "Telegraf SNMP Input Plugin" supports receiving traps:

Is that because the feature got developed already? Or is it a different component than being discussed here?

Is there any update on this?  We also are being asked to get rid of COTS and this feature is the only large gap for a TICK stack versus our current stuff.

Than

[2019-07-17 21:23] danielnelson commented on #4377
Thanks for pointing out this page, unfortunately it is not accurate and currently there is no TRAP support in Telegraf.  However, it is something we are working on.

I'll have someone correct that link to avoid confusion.

[2019-07-17 21:31] #6094 closed

[2019-07-17 22:03] #6125 closed

[2019-07-18 00:09] andreykaipov commented on #6125
Thank you @danielnelson for pushing a fix out so quickly!

[2019-07-18 13:06] The-smooth-operator commented on #4877
I'd love to see this feature implemented.
Today I stumbled on the case where a certificate was (incorrectly) renewed, thus it wasn't valid. My monitoring couldn't catch that because Telegraf did not process it but threw an error message:
[code]

Using tags for reporting it seems a good idea.

[2019-07-18 13:40] #6107 closed

[2019-07-18 16:04] adithyamk opened #6136 "Telegraf Kafka input plugin issue with latest Kafka (2.12-2.3.0) when configuring multiple Kafka consumers"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf 1.10.4
kafka_2.12-2.3.0

### Steps to reproduce:
 ./telegraf -config telegraf.toml

### Expected behavior:

2019-07-18T15:56:11Z I! Starting Telegraf 1.10.4
2019-07-18T15:56:11Z I! Loaded inputs: kafka_consumer kafka_consumer
2019-07-18T15:56:11Z I! Loaded aggregators:
2019-07-18T15:56:11Z I! Loaded processors:
2019-07-18T15:56:11Z I!

[2019-07-18 16:14] harnitsignalfx opened #6138 "json_query not parsing through all entries in the JSON array"
Hi, I think there is a bug in how JSON array entries are being parsed by JSONQuery. Would really appreciate guidance on whether I've made a configuration error or this is indeed reproducible by other folks.

### Relevant telegraf.conf:

[code]

### System info:

Telegraf v 1.11.2
OS: Debian 9

### Steps to reproduce:

1. Follow the example for JSON Query -
https://github.com/influxdata/telegraf/tr

[2019-07-18 17:36] danielnelson commented on #6138
This is a bug in the tail plugin caused by some special logic for the csv parser when reading the first line of the file.  I'll put together a fix for the next release.

[2019-07-18 17:44] harnitsignalfx commented on #6138
Appreciate your looking into it. Thanks Daniel!

[2019-07-18 20:24] sheldonhull commented on #5964
I'm doing the config directory. However list of services should minimize errors for each loop if service in list doesn't exist. That's what I was primarily focused on.

[2019-07-18 23:02] danielnelson commented on #4877
You may want to set `insecure_skip_verify = true` in the plugin settings, see https://github.com/influxdata/telegraf/pull/6139#issuecomment-513009766

[2019-07-18 23:09] glinton commented on #5905
@rdxmb what version of traefik are you using and is there a way you can share your config? I'm still failing to reproduce.
Are there any healthchecks that drop/move the VIP when influx restarts/goes offline? The issue daniel linked definitely sounds like this, but it would be nice to have an easily repeatable setup to reproduce/test this.

[2019-07-18 23:16] danielnelson commented on #2509
Either of @phemmer and @jnguiot's solutions should work well, and don't require any changes to Telegraf.  Maybe we should make a list of how to monitor things that don't have a specific plugin, so that it is easier to discover these sorts of things.

[2019-07-18 23:45] danielnelson commented on #2509
I added @jnguiot's tip to the Telegraf wiki, perhaps we could build this into a useful resource?

https://github.com/influxdata/telegraf/wiki/Users

[2019-07-19 07:54] AakashMasand opened #6140 "SqlServer Plugin Feature - Adding Blocking Query Information"
It would be great if we could figure out the Blocking Information and the query causing the block event using telegraf. A lot of third party tools like Idera and SQLMonitor provide the functionality.

Something on the lines of:
![image](https://user-images.githubusercontent.com/6144247/61518978-29fb0b00-aa4e-11e9-804b-36c91f119081.png)

[2019-07-19 08:01] bnjroos opened #6141 "json_query not working in mqtt consumer"
### Relevant telegraf.conf:

[code]

### System info:

Ubuntu telegraf 1.11

### Steps to reproduce:

Writting to topic "meters/DB1" the following payload:
'{"meters":[{"meter":"PPAC3_1In","E":144.1158}],"date":"2019-07-19-14:57:54"}'

### Expected behavior:

The parser is parsing the subquery:
[{"meter":"PPAC3_1In","E":144.1158}]

### Actual behavior:
Getting the following error from Telegraf:
E!

[2019-07-19 08:21] The-smooth-operator commented on #4877
@danielnelson thanks for your reply.
Setting `insecure_skip_verify = true` does not work for the case described above. Setting this option makes Telegraf ignoring the fact that the cert is not valid and reporting the time to expire. In this situation, I'm more interested in the fact that I'm using an invalid cert, so users "can't visit my site" rather than know how much time is left for expiration

[2019-07-19 09:57] rdxmb commented on #5905
`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
    ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: traefik-public
    kubernetes.io/tls-acme: "true"
    traefik.ingress.kubernetes.io/whitelist-source-range: ------------------------------------------------------
   labels:
    app.kubernetes.

[2019-07-19 09:57] rdxmb commented on #5905
[code]

[2019-07-19 10:07] rdxmb commented on #5905
see above. What I actually see is there is no headless service for the statefulSet. Could that be a problem?

As I wrote above:

[code]

Definitely no. The VIP only switches when the traefik does not answer on port 80 .

The issue daniel linked definitely sounds like this, but it would be nice to have an easily repeatable setup to reproduce/test this.

[2019-07-19 10:51] dogada opened #6142 "Telegraph writes 1 batch from MQTT to to InfluxDB and then restarts with memory error"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf 1.10.4 in Docker version 18.06.1-ce, build e68fc7a
Ubuntu 18.04 LTS

### Steps to reproduce:

Start TICK stack, configure Telegraf to read from MQTT and write to Influx and see failures every 2-3 hours. It worked fine when traffic to MQTT was approx. 500 records/second, but then when MQTT traffic became 3000 records/seconds, telegraf s

[2019-07-19 11:08] philippreston commented on #5864
Thanks for the update.

[2019-07-19 17:27] danielnelson commented on #6140
@m82labs @denzilribeiro Would love to hear your thoughts on if adding these queries to sqlserver would be good.  I'm also working a new plugin for ad-hoc queries so if its too expensive/advanced/esoteric that could be a way we allow for these types of queries.

[2019-07-19 17:53] denzilribeiro commented on #6140
Query as is a bit more heavy weight than I would prefer, and is missing a few things such as open tran count,  app name, etc  I was thinking of adding some form of this as yes it would be useful. Note this will be a bit heavier weight than other collectors so far - for example yes convenient to get the object name, but that encompasses the join with partitions.  I think there is a simpler form of

[2019-07-19 20:14] #5894 closed

[2019-07-19 20:16] #5928 closed

[2019-07-19 20:18] #5822 closed

[2019-07-19 20:44] danielnelson commented on #6140
That seems great, I think we are on the same page, the database plugins are a delicate balancing act between too much and too little.

---

The ad-hoc query plugins are a set of plugins for databases with a Go SQL driver, initially in Telegraf we would have support for SQLServer, MySQL, and Postgres.  The code will be mostly shared though I will probably have named plugins for these 3, plus a gene

[2019-07-20 21:16] dogada commented on #6142
As it stated at https://github.com/eclipse/paho.mqtt.golang/issues/341#issuecomment-513407661 above error may be caused by outdated `paho.mqtt.golang` dependency. Can it be updated to 1.2 version?

[2019-07-21 12:59] pythonwood commented on #4356
why it still happen now?  (linux x64.tar.gz)

`$ usr/bin/telegraf --config etc/telegraf/telegraf.conf --input-filter sysstat --test
2019-07-21T12:55:02Z I! Starting Telegraf 1.11.2

`

[2019-07-21 13:20] broizter commented on #3096
Would like to add a request to also get mips (not mipsel) packages. Currently I have to compile myself to get Telegraf running on my EdgeRouter 4.

[2019-07-21 19:12] orcunbaslak opened #6145 "InfluxDB Database/Measurement Settings Based on MQTT Topic"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal: Telegraf will parse the topic message and move it to appropriate database/measurement based on the MQTT topic. Like /db_1/measurement_1/# will forward all the messages in that topic to those databases/measurements.

### Current behavior: Not that I know of.

### Desired behavior: As I explained above.

### Use cas

[2019-07-21 20:03] markusressel commented on #6065
I'm also interested in this. There would need to be a way to configure telegraf but from my point of view a predefined file path located on the local android storage would be sufficient for that so afaik it could be a native application. An automatically build release artifact for android with some minor adjustments to the `AndroidManifest.xml` for storage access would a good start. Although it mi

[2019-07-22 06:00] prashanthjbabu opened #6146 "docker_log plugin crash"
### Relevant telegraf.conf:

[code]

### System info:

### Steps to reproduce:

1. Enable docker_log plugin
2. Have docker containers which throw out logs

### Expected behavior:
No crash
### Actual behavior:
docker_log plugin crashes randomly . Trigger unknown!
[code]
### Additional info:

[2019-07-22 06:01] prashanthjbabu commented on #6146
@danielnelson  Looks like tailStream() goroutine is trying to flush out data even after the telegraf accumulator channel is closed . Probably during a shutdown of telegraf?

[2019-07-22 07:11] Theoooooo commented on #6071
Sorry i was not available to do this test, i was in school.
I will test this today and give you a feedback @danielnelson

[2019-07-22 07:22] brightzheng100 opened #6147 "Telegraf pushes to Prometheus?"
## Feature Request

Prometheus follows pull model but it provides PushGateway. While looking through the output plugins, I'm not sure which one is suitable to make it push-able from Telegraf output to Prometheus (through PushGateway)?
Maybe just need some more docs or a new feature request for that?

### Proposal:

Telegraf output plugin -> Prometheus PushGateway?

### Current behavior:

Currently

[2019-07-22 08:42] 1212kheem commented on #5338
hi
the telegraf tail  plugin start collecting the limited data after 1 day, although the data output limited to few lines.
Did you observe such behaviour?

[2019-07-22 10:00] GeorgeMac commented on #6138
@danielnelson been playing about with tests on this one and come to realise that there is a little interface design discrepancy going on between the tail plugin, the parser interface and the json implementation.

The parser interface assumers 1 metric per line:
https://github.com/influxdata/telegraf/blob/877c42362d9d3c8264add86a727af7b10f01c571/plugins/parsers/registry.go#L38-L58

Parse can take m

[2019-07-22 10:27] GeorgeMac commented on #6145
@orcunbaslak could you give an example of how this would differ from the current behavior of the `mqtt_consumer` input plugin:

https://github.com/influxdata/telegraf/tree/master/plugins/inputs/mqtt_consumer#tags

[2019-07-22 13:24] Theoooooo commented on #6071
I can confirm that the nightly build you send me works correctly and set _doc for the _type.

[2019-07-22 15:24] GeorgeMac commented on #6146
Thanks @prashanthjbabu

This is definitely a bug and it is to do with the fact that the docker log Gather() function currently doesn't guarantee it won't attempt to call AddFields after exit.
Note: https://github.com/influxdata/telegraf/blob/877c42362d9d3c8264add86a727af7b10f01c571/plugins/inputs/docker_log/docker_log.go#L222-L233

A global wait group is incremented which is to support calls to `p

[2019-07-22 17:59] glinton commented on #5571
According to #5703, this has been ["put it on ice until we have time to revamp the config loading in depth."](https://github.com/influxdata/telegraf/pull/5703#discussion_r276448439)

[2019-07-22 17:59] glinton commented on #5656
According to #5703, this has been ["put it on ice until we have time to revamp the config loading in depth."](https://github.com/influxdata/telegraf/pull/5703#discussion_r276448439)

[2019-07-22 18:03] mohsin106 opened #6148 "'enable_tls' is not defined in jti_openconfig_telemetry.OpenConfigTelemetry"
### Relevant telegraf.conf:

[code]

### System info:

Docker container running Telegraf v1.11

### Steps to reproduce:

1. Put 'enable_tls = true' statement in the telegraf.conf file.
2. Start Telegraf Docker container.
3. Error is shown in the logs.

### Expected behavior:
Telegraf should start streaming data into my InfluxDB.

### Actual behavior:
Seeing the following error message:

Error runn

[2019-07-22 18:17] danielnelson commented on #6146
A plugin is allowed to use the accumulator until the Stop function returns, after this function is called on all plugins the channel is closed.

[2019-07-22 18:37] danielnelson commented on #6071
Great, appreciate the testing and workaround.

[2019-07-22 18:47] orcunbaslak commented on #6145
Hello,

Let me try to make it more clear.

Let's say I have 1.000 IoT devices.
Device #1 sends its metrics to topic : /db1/device1/
Device #2 sends its metrics to topic : /db1/device2/
Device #3 sends its metrics to topic : /db2/device3/
Device #4 sends its metrics to topic : /db2/device4/

So I want [[inputs.mqtt_consumer]] to listen to '#' and when it receives a message from device1 in the topic

[2019-07-22 19:24] glinton commented on #6148
If you wish to use this feature, please use a [nightly build](https://github.com/influxdata/telegraf#nightly-builds), as it hasn't made it to an official release yet. (Implemented in #6027)

[2019-07-22 19:24] #6148 closed

[2019-07-22 19:56] sgtsquiggs commented on #6025
Here's where I'm at currently:

#### plugins/parsers/registry.go
[code]

#### socket_listener.go
[code]

#### example parser (protobuf TCP stream):
[code]

[2019-07-22 20:19] glinton commented on #4356
@pythonwood try using a [nightly build](https://github.com/influxdata/telegraf#nightly-builds) the fix has been merged, but is scheduled for release in 1.12

[2019-07-22 20:27] danielnelson commented on #6138
Yes, I'm hoping to remove the ParseLine function from this interface.  Since we want to support arbitrary binary formats we shouldn't have a line based method; the containing plugin should handle transport level framing and the parser should understand inter-metric level framing.

First though we need a solution for parser state.  The tail plugin is using the ParseLine function to check headers on

[2019-07-22 20:34] danielnelson commented on #6065
Would be great if someone could try to build Telegraf using gomobile as an application, and document how to setup the environment and the compile results.  Once the environment is setup it should be something along the lines of this in place of `make telegraf` in the current build steps:
[code]

https://github.com/golang/go/wiki/Mobile#building-and-deploying-to-android

[2019-07-22 20:39] Esity opened #6150 "kube_inventory not using namespace for persistentvolumes"
### Relevant telegraf.conf:

[code]

### System info:
Telegraf v1.11.2

### Steps to reproduce:

Collect metrics with limited access in Openshift/kubernetes and set the namespace.

### Expected behavior:
Telegraf should collect persistentvolumes metrics

### Actual behavior:
Telegraf throws an error complaining about how it can't access persistentvolumes at the cluster scope.

[code]

### Addition

[2019-07-22 20:44] glinton commented on #6150
Persistent volumes are not in a namespace and, therefore, cannot be subject to namespace filtering. See https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#not-all-objects-are-in-a-namespace

This error looks like an authorization error. Double check with your k8s admin to ensure the telegraf user has the proper permissions.

[2019-07-22 20:44] #6150 closed

[2019-07-22 21:01] Esity commented on #6150
Yeah you are absolutely right. I was mixing up persistentvolumes and kubernetes_persistentvolumeclaim. So with that, I am still having issues running the kube_inventory input plugin to collect metrics for the kubernetes_deployment. Was on the phone with @danielnelson this morning and he said you have some pretty good knowledge of the kubernetes and kube_inventory plugins

[2019-07-22 21:03] glinton commented on #6150
It's definitely basic knowledge compared to that of others... :) did you get permissions configured as described [in the plugin readme?](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/kube_inventory#kubernetes-permissions) What are the new errors?

[2019-07-22 21:14] #6142 closed

[2019-07-22 21:17] GeorgeMac commented on #6146
@danielnelson that appears to be true only if the input plugin implements `telegraf.ServiceInput`:

https://github.com/influxdata/telegraf/blob/877c42362d9d3c8264add86a727af7b10f01c571/agent/agent.go#L711-L715

I appears that the docker login plugin doesn't implement Start(accumulator). Unless I am not finding that definition. It does have stop though.

[2019-07-22 21:42] russorat opened #6151 "github input panics when repo has no language"
### Relevant telegraf.conf:

[code]

### System info:

master branch, mac os

### Steps to reproduce:

1. Start Telegraf with this config, telegraf panics

### Expected behavior:
Telegraf should not panic

### Actual behavior:
Telegraf panics

### Additional info:

[code]

[2019-07-22 21:44] danielnelson commented on #6146
That makes sense then, the Stop wouldn't even be called.  Let's add an empty Start function.

[2019-07-22 22:10] danielnelson commented on #6147
I think this issue would be addressed by adding the Prometheus serializer and pairing it with the http output.  I'm going to close this issue and we have an issue open for the serializer in https://github.com/influxdata/telegraf/issues/4414.

[2019-07-22 22:10] #6147 closed

[2019-07-22 22:11] #6051 closed

[2019-07-22 22:17] danielnelson commented on #6140
Closed in #6144

[2019-07-22 22:17] #6140 closed

[2019-07-22 22:30] russorat commented on #6151
i think this also happens if you hit the API limits from github.

[2019-07-22 22:37] glinton commented on #6151
Is it a similar panic or just error?

[2019-07-22 23:10] #4877 closed

[2019-07-22 23:29] danielnelson commented on #6145
The mqtt_consumer does not support setting the measurement from the topic.  Your best bet is to use an input `data_format` that supports setting the measurement as part of the message.  Most of the formats support this but one notably exception I commonly see used with MQTT is `data_format="value"`.

You could however split the topic into two tags using the regex processor, and then use the result

[2019-07-22 23:30] #6145 closed

[2019-07-22 23:30] #6151 closed

[2019-07-22 23:50] danielnelson commented on #6141
@bnjroos I'm not able to replicate, when I send a message with:
[code]

Telegraf produces a metric like:
[code]

I'm testing with Telegraf 1.11.2 and I don't see this error, but this code does have an upcoming modification for 1.11.3 (#6125).  Can you retest with 1.11.2 and the command above and let me know if you still see the error?

[2019-07-23 09:47] The-smooth-operator opened #6156 "x509_cert input: certificate validation is not working as expected"
### Relevant telegraf.conf:

[code]

### System info:

Built from master rev. b9cb606ca0450a82aae4ba4b4c04b581f545e058
Linux.
### Steps to reproduce:

1. paste that configuration into a file
2. build Telegraf from master and run ` ./telegraf --config config.conf --test`

### Expected behavior:
I don't see any `verification_error`

### Actual behavior:
The parsing is reporting first an invalid cert

[2019-07-23 11:03] UnAfraid commented on #2020
Done: https://github.com/influxdata/chronograf/issues/5237

[2019-07-23 14:12] sykss opened #6158 "VMware Vsphere no dashboard no metrics"
### Relevant telegraf.conf:
[code]

### System info:

telegraf version 1.11, grafana v4.6.3, ubuntu 16.04, influxdb, esxi v6.0

### Steps to reproduce:

1. systemctl start telegraf
2. systemctl restart grafana

### Expected behavior:

### Actual behavior:
It seems to work, i haven't error in log (journalctl -fu telegraf/journalctl -fu influxdb), but i can't see a graph or a metrics in the grafana

[2019-07-23 14:29] GeorgeMac commented on #6138
I get you. The tail plugin processes line by line. The file plugin processes entire document contents in one. However, both depend upon parser interface.

The parser needs to be able to handle being called either line by line or entire documents and be able to support the effect of a parser changing state when called in a line by line fashion (i.e. csv first line means header is parsed and then th

[2019-07-23 15:06] Esity commented on #6150
I am running in Openshift so I want to run it there. Do you have any experience with that?

[2019-07-23 17:15] glinton commented on #6150
I do not. Did you get a new error when just trying to collect `persistentvolumeclaims` and `deployments` though?

[2019-07-23 18:17] glinton commented on #6066
Closed by #6143

Note, `insecure_skip_verify` is deprecated. Config won't complain, it just doesn't get used anymore.

[2019-07-23 18:17] #6066 closed

[2019-07-23 20:34] glinton commented on #6133
@DavidVog where do you acquire those measurements? I checked `/stats/summary` on a kubelet and didn't see any reference to limits on cpu/memory. Do the pods need to be configured with limits for it to show? If you have output from `/stats/summary` that includes these limits, please paste it here and we should be able to get that in, thanks.

[2019-07-23 20:53] Esity commented on #6095
Per the RMQ documentation at [amqp-concepts](https://www.rabbitmq.com/tutorials/amqp-concepts.html)

Closing this issue

[2019-07-23 20:53] #6095 closed

[2019-07-23 21:02] Esity opened #6162 "Allow Github Enterprise repos"
## Feature Request
Allow Telegraf to poll Github Enterprise repos. Currently it would appear from the documentation you can only enter repos from github.com

### Proposal:
Add URL variable for the github input plugin so you grab metrics from on prem github

Input Plugin [github](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/github)

[2019-07-23 23:00] #6146 closed

[2019-07-23 23:20] danielnelson commented on #6158
You will want to look at the data used by the dashboard and check if your database contains values for those items.  Which dashboard exactly are you using?

[2019-07-24 06:14] n1nj4888 commented on #3823
Any update on this?

I'm seeing the same behaviour - When multiple hosts are configured and one is down, the smtp queries appear to be sent sequentially to the hosts and so if a single/multiple hosts are down, this can cause the snmp plugin to timeout on the offline hosts before actually completing the list of online hosts?

Is it not possible to run the snmp queries to hosts in parallel?

Thanks!

[2019-07-24 06:20] danielnelson commented on #3823
In a nutshell, the workaround is to talk to a single remote agent per plugin:
[code]

[2019-07-24 07:38] sykss commented on #6158
I use the dashboard VMware vsphere overview, and the dashboard Telegraf metrics, my dashboard VMware vpshere overview is empty but in the telegraf metrics (who use influxdb too) i have some graph about my monitoring vm..

here the output command of my database "influx_db_telegraf" when i make SHOW MEASURMENTS

[code]

[2019-07-24 07:51] n1nj4888 commented on #3823
Ok thanks @danielnelson. Understand the workaround but, if "# other options" is an extensive list of OIDs, managing any changes to those options would be complicated across a number of hosts.

Are there plans to make the snmp calls in parallel to the listed agents or, if a response is not received from AgentA, continue with AgentB before retrying AgentA?

Thanks!

[2019-07-24 12:43] alexmc1510 opened #6164 "inputs.logparser no data acquisition"
### Relevant telegraf.conf:
[code]

### System info:

Log file sample:
2019-07-23 19:37:32 INFO: CONVAC2 Transfer successful
2019-07-23 19:52:37 INFO: CONVAC2 Transfer successful
2019-07-23 19:54:01 INFO: CONVAC2 Transfer successful
2019-07-23 20:07:35 INFO: CONVAC2 Transfer successful
2019-07-23 20:22:38 INFO: CONVAC2 Transfer successful
2019-07-23 20:37:31 INFO: CONVAC2 Transfer successful

This

[2019-07-24 13:02] #6041 closed

[2019-07-24 13:38] glinton commented on #2020
Regarding the original request: would it suffice to add a flag to turn irix mode off ([`cpu_perc`](https://github.com/influxdata/telegraf/blob/1.11.3/plugins/inputs/procstat/procstat.go#L236) would be divided by `float64(runtime.NumCPU())` before setting the `cpu_used` field)?

[2019-07-24 13:45] UnAfraid commented on #2020
That would be lovely

[2019-07-24 19:00] danielnelson commented on #6164
I think this may be related to file encoding, can you attach one of your logfiles?

[2019-07-24 21:46] danielnelson commented on #3823
Yes, the other options would be whatever tables/fields you want to collect and would need repeated.  If you are reading this issue you probably have lots of agents and for managing that I recommend using a templating program to generate your configuration.

To be clear, the plugin does make SNMP calls in parallel to the agents, but all agents must complete before the next collection will begin.  T

[2019-07-24 21:54] danielnelson commented on #6158
It looks like it is working on the Telegraf side of things, does this query return results?:
[code]

[2019-07-25 08:56] sykss commented on #6158
Hi,
The query returns nothing, i try to use oxalide plugin then i have the dash but no data point, i dont understand, but i prefere use telegraf + influx on grfana instead of oxalide + influx db

[2019-07-25 09:48] sykss commented on #6158
[code]
here is the result of the command journalctl -fu influxdb

[2019-07-25 10:43] vlastahajek commented on #4301
Sorry for getting to this so late.
It looks it's already fixed, it works for me.

[2019-07-25 15:20] vlastahajek commented on #3747
I'm working on this.  Current status on my laptop:
[code]
In the tests above there is a problem in the toml library it wrongly counts lines on Windows. Is it a known issue?
[code]
I

[2019-07-25 18:21] danielnelson commented on #6158
I would add a file output to your Telegraf config:
[code]

Then try running this plugin in the foreground:
[code]

If any data is being produced, it should appear here (but it won't be sent to the database in this setup).

[2019-07-25 18:21] #4301 closed

[2019-07-25 21:20] denzilribeiro opened #6169 "/etc/telegraf.conf needs new sql plugin options"
### Relevant telegraf.conf:

[code]

### System info:
Nightly Telegraf build

### Expected behavior:
Telegraf options mentioned here :
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/sqlserver
### Actual behavior:
https://github.com/influxdata/telegraf/blob/master/etc/telegraf.conf  missing some of the newer options
### Additional info:
As part of prior pull requests for SQL was

[2019-07-25 21:27] douglasg14b opened #6170 "Feature request: AMD GPU Metrics Support"
### Proposal:

Plugin with AMD GPU support.

### Use case:

Same as nvidia-smi use cases, but for AMD GPUs

### More Info

A few libraries that seem to pull metrics from AMD GPUs that might help in the development of a plugin:

* https://github.com/clbr/radeontop
* https://github.com/marazmista/radeon-profile
* https://github.com/GPUOpen-Tools/Radeon-GPUProfiler
* https://github.com/Ricks-Lab/amdg

[2019-07-26 00:16] danielnelson commented on #6169
Usually we just update this right before the next release, but I'll get it now.  (Actually, I've been meaning to delete this file and generate it during the build using `telegraf config > telegraf.conf`)

785b76d3d1b104af2badc6e77f62abcf71db9098

[2019-07-26 00:16] #6169 closed

[2019-07-26 00:45] danielnelson commented on #6136
@adithyamk Could you try out one of these builds and see if it helps?

- [telegraf-1.12.0~9eb7c8dd-0.x86_64.rpm](https://37405-33258973-gh.circle-artifacts.com/0/build/linux/amd64/telegraf-1.12.0~9eb7c8dd-0.x86_64.rpm)
- [telegraf_1.12.0~9eb7c8dd-0_amd64.deb](https://37405-33258973-gh.circle-artifacts.com/0/build/linux/amd64/telegraf_1.12.0~9eb7c8dd-0_amd64.deb)
- [telegraf-1.12.0~9eb7c8dd_windows

[2019-07-26 01:23] superdave commented on #4377
Glad to see this is active! I was actually just looking to see if it had already been done. I'm a professional Go developer who's interested in helping; is there anything public available I could contribute to/collaborate on?

[2019-07-26 04:10] samhld opened #6173 "Fluentd documentation link in Fluentd README is broken"
[Source page](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/fluentd)

[Dest page](https://docs.fluentd.org/v0.12/articles/config-file)

[2019-07-26 06:25] 1995prit1331am5991 commented on #5394
@danielnelson  "unique_timestamp" not working for me in logparser plugin. Its sending duplicate data to the influxdb.
I am attached my access.log file, telegraf.config file and influxdb measurement output image.

[access.log](https://github.com/influxdata/telegraf/files/3434449/access.log)
[telegraf.log](https://github.com/influxdata/telegraf/files/3434450/telegraf.log)
![Influxdb_databaseOutput](

[2019-07-26 06:49] 1995prit1331am5991 commented on #5394
@danielnelson "unique_timestamp" not working for me in logparser plugin. Its sending duplicate data to the influxdb.
I
![influxdboutput](https://user-images.githubusercontent.com/14738655/61931897-9ec6cb80-af9f-11e9-8ae5-0c807cd97008.png)
[access.log](https://github.com/influxdata/telegraf/files/3434529/access.log)
[telegraf.log](https://github.com/influxdata/telegraf/files/3434530/telegraf.log)

[2019-07-26 07:20] 1995prit1331am5991 commented on #5394
@danielnelson "unique_timestamp" not working for me in logparser plugin. Its sending duplicate data to the influxdb.
I am attached my access.log file, telegraf.config file and influxdb measurement output image.

[telegraf.txt](https://github.com/influxdata/telegraf/files/3434651/telegraf.txt)
[access.log](https://github.com/influxdata/telegraf/files/3434652/access.log)
![influxdboutput](https://us

[2019-07-26 08:42] kohonen opened #6174 "Procstat should support multiple search criteria"
### Relevant telegraf.conf:

[code]

### System info:

telegraf-1.11.1-1.x86_64
influxdb-1.7.7-1.x86_64

CentOS Linux release 7.6.1810 (Core)

### Steps to reproduce:
the telegraf github page show way more fields and tags for the procstat_lookup measurement than we can see. tried to change pid_tag = true/false, no success

### Expected behavior:
we need at least the 'user' tag in order to differen

[2019-07-26 12:21] sykss commented on #6158
Hi i've edit telegraf.conf to add ```[[outputs.file]] files = ["stdout"```
below the is the result when I use ```telegraf --input-filter=vsphere --output-filter=file```
[code]
I don't know what's is mean but there many error in the discovery..

[2019-07-26 17:34] antitbone commented on #6103
https://github.com/shirou/gopsutil/pull/725

[2019-07-26 18:27] danielnelson commented on #6103
Nice job, I'm anticipating a new gopsutil release in the next few days, since they generally do a release each month.  Once it is out, we can update the dependencies and make the tie in to the mem plugin.

[2019-07-26 19:56] adithyamk commented on #6136
@danielnelson

I run into this error.
Is it expected? Or am I missing some configuration setting somewhere?

./telegraf -config telegraf3.toml
2019-07-26T19:52:40Z I! Starting Telegraf
2019-07-26T19:52:40Z I! Loaded inputs: kafka_consumer kafka_consumer
2019-07-26T19:52:40Z I! Loaded aggregators:
2019-07-26T19:52:40Z I! Loaded processors:
2019-07-26T19:52:40Z I! Loaded outputs: influxdb influxdb
2

[2019-07-26 20:18] danielnelson commented on #5394
@1995prit1331am5991 What you will need to do to avoid this is to parse the date from the logfile into the metric timestamp, instead of having it as a field.  This way if the file is read twice, the points will be overwritten in the database.   You can do this by making a change like this to the date part of the pattern:
[code]

[2019-07-26 20:26] danielnelson commented on #6136
Try setting `version = "2.0.0"` in the kafka_consumer.

[2019-07-26 20:51] adithyamk commented on #6136
@danielnelson

kafka_2.12-2.3.0
telegraf-1.12.0~9eb7c8dd
This configuration works and there are no issues when I added version = "2.0.0" to the telegraf kafka consumer plugin.

So this fixes the issue.

But I just want to bring to notice that this is not backward compatible, which makes sense.

So with older version of kafka, kafka_2.11-0.11.0.1 and telegraf-1.12.0~9eb7c8dd, this configuration doe

[2019-07-26 20:56] danielnelson commented on #6136
Can you clarify what happens when you try to use it with Kafka 2.11-0.11.0.1?

[2019-07-26 21:04] adithyamk commented on #6136
./telegraf -config telegraf3.toml
2019-07-26T20:44:20Z I! Starting Telegraf
2019-07-26T20:44:20Z I! Loaded inputs: kafka_consumer kafka_consumer
2019-07-26T20:44:20Z I! Loaded aggregators:
2019-07-26T20:44:20Z I! Loaded processors:
2019-07-26T20:44:20Z I! Loaded outputs: influxdb influxdb
2019-07-26T20:44:20Z I! Tags enabled: host=xxxxx
2019-07-26T20:44:20Z I! [agent] Config: Interval:10s, Quiet:f

[2019-07-26 21:11] danielnelson commented on #6136
Does it help for that instance if `version = "0.11.0.1" is set?

[2019-07-26 21:15] danielnelson commented on #6174
I should mention that the plugin right now only supports lookup using a single search criteria, so if you set both `exe` and `user` only `exe` is taking effect.  Lookup on multiple attributes would be a good feature request though.

On the tags though, we should update the plugin so that the lookup tags on `procstat_lookup` match with the `procstat` measurement.

[2019-07-26 21:17] adithyamk commented on #6136
When I set the version to 0.11.0.1, it works. So, looks like I need to add version in the telegraf kafka consumer plugin.

[2019-07-26 21:55] danielnelson commented on #6136
What I think I'll do then is automatically set the version to at least 0.10.2.0 if consumer groups are being used, because it wasn't previously required to have this set to use consumer groups.  So long as the version is set to a value lower than your Kafka version it should work, but some functionality may not be available and it uses older APIs in some cases.

Let's keep the issue open until the

[2019-07-26 21:58] adithyamk commented on #6136
Yes, that should work. Thanks Daniel.

[2019-07-26 22:01] #6173 closed

[2019-07-26 22:08] ilyam8 commented on #6158
hey @sykss 	it is not related to the problem but

 timeout = "1800s"

30 minutes, really? :smile:

[2019-07-26 22:52] danielnelson commented on #4377
@superdave Do you think you could investigate adding support for INFORM to gosnmp?  From a cursory look at the library I don't think it is supported currently.  If we can receive them and acknowledge in a similar way to TRAP, it would be very helpful.

[2019-07-27 00:35] danielnelson commented on #6136
Just found a bug in my new code, but I have to run, probably not safe to use the builds for long under load.  Will work on an update early next week.

[2019-07-27 01:00] superdave commented on #4377
I could look! I don't know if I have any current devices that use it, but I imagine I can get one of the various SNMP daemons out there to throw one out.

[2019-07-28 05:57] yongz2 opened #6176 "Allow multiple path and name in inputs.cisco_telemetry_gnmi.subscription"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Does it possible define multiple path and name in inputs.cisco_telemetry_gnmi.subscription in one confg file?
### Current behavior:
I can define single measurement name and path under inputs.cisco_telemetry_gnmi.subscription now, but if multiple name and path defined it went error. Created multiple "[[inputs.cisco

[2019-07-29 00:27] danielnelson commented on #6176
You should be able to do multiple paths with a configuration like this:
[code]

Let me know if it works and if you are still having trouble with a config like this, add the details about what is happening.

[2019-07-29 02:15] yongz2 commented on #6176
Hi danielnelson，

Really appreciate for your help, it worked.
Seems there is no data in one path at first,  after changed to another is solved.

[2019-07-29 02:15] #6176 closed

[2019-07-29 09:39] sykss commented on #6158
ahah i try all my possible.. but still not working

[2019-07-29 10:04] ichasco opened #6178 "Add use_sudo option in x509_cert input"
## Feature Request

I can't check the certificate, because:

E! [telegraf] Error running agent: cannot get SSL cert 'cert.crt': open cert.crt: permission denied

If I execute it with root user with --test it works

### Proposal:

Add sudo option to execute it. Like in iptables input

### Current behavior:

Fail when execute non permitted certificate

### Desired behavior:

Execute with sudo and wo

[2019-07-29 10:33] PritamKrishnaMali commented on #5394
@danielnelson  Thank you

I have done the changes in my telegraf.conf its working fine for me and its not sending duplicate data to influxdb.

Now I am facing some other issue, I have logs like the same timestamp but different API, clientIP etc.
It's taking only the first log of that timestamp but other logs of the same timestamp are not being sent to influxdb.

Attachments :
[access.log](https://

[2019-07-29 14:51] adithyamk commented on #6136
Thanks Daniel.

[2019-07-29 15:14] glinton commented on #6178
This behavior wouldn't work because the `x509` plugin doesn't shell out (call a system binary) like the `iptables` plugin does. In order for the `x509` plugin to read private files is for it to be given permissions to access that file, added to a group allowed to access that file, or to be run as the user who owns the file.

[2019-07-29 15:14] #6178 closed

[2019-07-29 15:46] bogski87 commented on #5966
Have you tried this one?
[VSAN Metrics](https://github.com/equelin/vsanmetrics)

Run it using the exec plugin. Works great - Although expanding the Telegraf plugin to get this data anyway would be cool. The above VSAN one works

[2019-07-29 20:20] YuxinZhou commented on #5966
@bogski87 Thank you for sharing this. Looks cool!

[2019-07-29 22:23] danielnelson commented on #6178
@ichasco On Linux you could use a Posix ACL to give the `telegraf` user read access to the Certificate:
[code]

[2019-07-29 22:36] danielnelson commented on #5394
InfluxDB allows for only a single value per field for each unique combination of measurement+tags+timestamp.  If it receives another value with the same measurement+tags+timestamp then the new value overwrites the previous value.

Right now, all your log data is being parsed as fields which means you can only have one value per timestamp.  The solution is to make the parts of the data that identif

[2019-07-29 22:39] danielnelson commented on #6158
@prydin Any advice on this error, is it a timeout?  Might be a follow on error that we are reporting instead of the initial error?
[code]

[2019-07-29 23:01] prydin commented on #6158
Looks like a benign race condition. The Telegraf process is on its way to shut down, but there's a vSphere object discovery running in the background. To make sure that the background discovery exits quickly and gracefully, we simply cancel the context that was passed down to it. If it's currently waiting for an API call to complete, it will return an error, since its context was cancelled. This i

[2019-07-29 23:02] prydin commented on #6158
(I wouldn't even call it a race condition. It's just a graceful shutdown that generates an expected error that probably shouldn't be printed)

[2019-07-29 23:47] junior466 opened #6180 "(vSphere) Datastore metrics disappear after a day or so"
### Relevant telegraf.conf:

[code]

### System info:

### Steps to reproduce:

1. ...Start Telegraf
2. ...Wait about a day or two

### Expected behavior:
 Show datastore metrics
### Actual behavior:
Datastore metrics disappear after a few days
### Additional info:

I am showing my datastore metrics using this query in Grafana

    SELECT mean("used_latest") AS "used", mean("capacity_latest") AS "

[2019-07-30 00:11] danielnelson commented on #6180
There is an example where you linked showing how to set up separate plugins.  However, using two plugins like this just allows you to have different intervals for the different vSphere types, it shouldn't be required to continue to get datastore metrics.  So this seems like a bug, do metrics other than datastore continue being collected?

[2019-07-30 00:54] junior466 commented on #6180
Yes, all others work just fine.

[2019-07-30 01:11] danielnelson commented on #6158
@sykss Let's enable the internal plugin as well:
[code]

Run it for a few minutes:
[code]

[2019-07-30 04:34] danielnelson commented on #1717
Closed in #6024

[2019-07-30 04:34] #1717 closed

[2019-07-30 05:00] pvandervelde opened #6182 "Unbound on windows cannot find unbound-control"
### Configurations:

#### Main configuration

Stored in `c:\telegraf\telegraf.conf`

[code]
#### Input / Output configuration

Stored in `c:\config\telegraf\inputs.conf`

[code]
### System info:

Telegraf version: `1.10.3`
OS: `Windows 2016 Core (10.0.17134.0)`
Unbound version 1.9.0 installed in the default location (`c:\Program Files\Unbound`)

### Steps to reproduce:

Execute telegraf with the f

[2019-07-30 05:49] danielnelson commented on #6182
This plugin seems to be working for me.  I installed the 1.9.2 package from https://nlnetlabs.nl/projects/unbound/download/, enabled remote-control in the included service.conf, and started unbound.exe.

I don't see anything wrong with your config file, and in fact I was able to use it successfully:
[code]

Not sure what is causing that error, could it be a permissions problem?

[2019-07-30 08:09] sykss commented on #6158
Hi, thank's u for all u responses
i try to configure telegraf.conf with

[code]

Below the result in a txt file (the result is very long)

[debug_telegraf.txt](https://github.com/influxdata/telegraf/files/3445768/debug_telegraf.txt)

thank's u a lot again..
syks

[2019-07-30 14:07] osd42 commented on #5880
Hello,
I tried with telegraf 1.11.3 and it is working. I wish to thank you for the support !

`telegraf --config-directory /etc/telegraf/telegraf.d -input-filter consul -output-filter prometheus_client --debug`

output :
`2019-07-30T14:05:48Z I! Loaded processors:
2019-07-30T14:05:48Z I! Loaded outputs: prometheus_client
2019-07-30T14:05:48Z I! Tags enabled: host=pp221-nomad-consul
2019-07-30T14:0

[2019-07-30 14:51] #5880 closed

[2019-07-30 15:37] fullMetalFileCabinet opened #6183 "Log rotation on Windows"
### Relevant telegraf.conf:

[code]

### System info:

telegraf-1.11.1_windows_amd64

Windows Server 2016 Standard

### Steps to reproduce:

1. Configure telegraf.conf with log settings from above, logfile_rotation_interval = "1d"
2. Restart Telegraf service (Telegraf is running as Windows service)

### Expected behavior:

Log file rotation after 1 day, or 24 hours.

### Actual behavior:

No log f

[2019-07-30 17:22] danielnelson commented on #6183
As a test, does it work with a much smaller interval such as "5m"?

[2019-07-30 19:26] fullMetalFileCabinet commented on #6183
Changing the setting to "5m" made no difference by itself.  However, changing the setting to "5m" AND changing debug to 'debug = true' (so something would be written) did result in log file rotation.

Is it possible that it is only checking the log file timestamp/size when it writes something to it?

In our environment the only time I see things written to the log is during a service restart, or w

[2019-07-30 19:59] danielnelson commented on #6183
Yes, no writes means no rotation.  I think this is okay behavior though a bit confusing.

[2019-07-30 21:16] #5933 closed

[2019-07-30 22:07] pvandervelde commented on #6182
Huh, ok let me go and see if I can figure out what's going on there then. I'll close this issue if it works on your side with the assumption that I've stuffed something up.

[2019-07-30 22:07] #6182 closed

[2019-07-30 23:31] #920 closed

[2019-07-31 04:33] #6136 closed

[2019-07-31 07:01] harshitdx29 commented on #6093
I increased the timeout to 60s but to no success. Also, I re confirmed from devops here, we are not using any proxy.

[2019-07-31 10:09] harshitdx29 commented on #6093
I am now getting `2019-07-31T10:09:02Z E! Error writing to output [datadog]: received bad status code, 413` from telegraf logs.

[2019-07-31 14:12] yishaihl opened #6187 "Latest Grafana + Telegraf + InfluxDB + vSphere Plugin - loosing Dashboard Gauge Stats"
### Relevant telegraf.conf:

[code]

### System info:

**OS version**: Ubuntu 18.04
**vCenter version**: 6.7.0 - build 13639324
**ESXi version**:  VMware ESXi, 6.0.0, 3620759 & VMware ESXi, 6.7.0, 13006603
**Telegraf version**: Telegraf 1.11.3
**Grafana version**: Grafana v6.2.5 (commit: 6082d19) .
**InfluxDB version**: version 1.7.7.
**Dashboard**: VMware vSphere Overview : https://grafana.com/gr

[2019-07-31 14:13] mmriis opened #6188 "docker_log input plugin not working"
### Relevant telegraf.conf:
[code]

### System info:

nightly build 2019/7/31

Running from a daemonset pod in kubernetes that has /var/run/docker.run attached, docker cli works:

[code]
[code]

### Steps to reproduce:

[code]

### Expected behavior:
Collecting logs.

### Actual behavior:
It gets container list, but gives the following error for each container:
[code]

### Additional info:

[2019-07-31 14:14] yishaihl commented on #6187
![Screen Shot 2019-07-31 at 10 17 54 - Copy](https://user-images.githubusercontent.com/39559916/62219250-a4188180-b3b6-11e9-9649-183746b08d2d.png)

[2019-07-31 14:15] yishaihl commented on #6187
![Screen Shot 2019-07-31 at 17 10 08](https://user-images.githubusercontent.com/39559916/62219356-d7f3a700-b3b6-11e9-892c-55a482396509.png)

[2019-07-31 14:16] yishaihl commented on #6187
It might have something to do with the mixup between my ESXi 6.0 and ESXi 6.7 versions?

[2019-07-31 16:48] danielnelson commented on #6093
This means Datadog rejected the payload because it was too large, what is your agent `metric_batch_size`?  Try reducing it and see if it helps.

[2019-07-31 16:53] harshitdx29 commented on #6093
It was default of 1000. Reduced it to 500. Also I noticed another problem in all of our services. For the initial duration of starting the telegraf container I get the following error:

[code]

After that it creates connection.

[2019-07-31 16:54] harshitdx29 commented on #6093
I also started getting a lot of errors:

[code]

[2019-07-31 16:59] danielnelson commented on #6093
The first error is a timeout, Datadog took too long to respond (60s?).  The second is a common error in older Telegraf versions when the output is taking a long time to write, it will probably go away if you update.

[2019-07-31 17:04] harshitdx29 commented on #6093
For the first one why does it take too long to respond using telegraf. If I directly hit datadog apis it responds quickly.

For the second one can you suggest how to update the version. I am using docker to run telegraf container. Also it started coming when I reduced `metric_batch_size` to 500. Earlier it was not coming.

[2019-07-31 17:12] harshitdx29 commented on #6093
Reducing metrics batch size worked. Thanks :)

[2019-07-31 18:38] danielnelson commented on #6093
Great, I'm going to close this issue then.  I think the full batch sizes were just to large for DataDog to process quickly or they were taking too long to upload.  If you want to get further visibility into this you could enable the `internal` plugin which will output metrics about how log it takes to write each batch.

[2019-07-31 18:38] #6093 closed

[2019-07-31 18:57] alanjcastonguay commented on #3589
I am using Telegraf 1.10.4 with the `kafka_consumer` input with Azure EventHub with Kafka. Leaving the default `config.Version = sarama.V0_10_2_0` produces this EOF error. It looks like EventHub drops the connection when faced with a client presenting a _too-old_ version, but I haven't proven that.

[code]

Explicitly setting a higher version 1.0.0 successfully consumes messages from Azure EventHu

[2019-07-31 19:12] danielnelson commented on #3589
Thanks for the tip on setting the version. I thought the default version was 0.8.2.0?

Either way, I recently updated the sarama library to support the latest version of Kafka, and as part of this the lowest version we will support in 1.12 is 0.10.2.0.  We could potentially add a fallback path for older versions but I'm waiting to see if there is any demand for it.

[2019-07-31 19:14] danielnelson commented on #6187
So when Telegraf first starts up the plugin is working but then over time it stops reporting?  How long does it take before metrics stop being reported?

related #6158

[2019-07-31 19:16] danielnelson commented on #6158
From this log it looks like everything worked, perhaps you are having the same issue as in #6187, where when Telegraf first starts up everything is working, but then over time it stops reporting.

[2019-07-31 20:01] prydin commented on #6187
I think we need a logfile to be able to address this. Can you share, @yishaihl ?

[2019-07-31 20:03] prydin commented on #6158
Not sure if this has any impact here, but you may want to try ```force_discover_on_init = true``` in your config file. In fact (note to self), we should change that to be the default.

[2019-07-31 20:14] fullMetalFileCabinet commented on #6183
Yes, it makes sense when rotation is based on size, but not so much when based on time.  At a minimum, having something in the comments may be helpful.  I'm more on the operations side, so not really sure what the "right" answer is here...

[2019-07-31 20:27] russorat commented on #5900
Which measurement would you put numgoroutine in? it doesn't seem to fit well into any of the existing ones. maybe adding an internal_runtime measurement?

Other things that might be useful to have (from: https://github.com/influxdata/influxdb/blob/master/prometheus/influx.go#L27):
- "version":    build.Version,
- "commit":     build.Commit,
- "build_date": build.Date,
- "os":         runtime.GOOS,

[2019-07-31 20:32] danielnelson commented on #6183
That's a good point about size vs time, I've added a note to the time based rotation option that will hopefully reduce future confusion.  28f1bdb696e9826f33adec09acec23cee93a3ccf

[2019-07-31 20:32] #6183 closed

[2019-07-31 23:44] russorat commented on #4632
for 1. you can use something like the following processor to convert the bool to an int:
[code]

can you confirm that 2. is still an issue in telegraf 1.11?

[2019-07-31 23:55] #5877 closed

[2019-07-31 23:59] #6156 closed

[2019-08-01 00:13] russorat opened #6190 "--test flag doesn't run processors or aggregators"
Looks like processors and aggregators are not being applied when the `--test` flag is enabled.

I think we need to add this code block:
https://github.com/influxdata/telegraf/blob/master/agent/agent.go#L89

to the test function, but i'm not sure.

### Relevant telegraf.conf:
[code]

test.sh
[code]

[2019-08-01 03:53] harshitdx29 commented on #6093
2019-08-01T03:47:10Z E! [agent] Error writing to output [datadog]: unable to marshal TimeSeries, json: unsupported value: NaN Getting this now :(

[2019-08-01 06:15] danielnelson commented on #6093
I imagine this should be an easy fix, could you do me a favor and open a new issue for it?  This way when we reference the bug in the changelog it will be clear what the issue was and it won't be muddied by the previous conversation.

[2019-08-01 06:20] harshitdx29 opened #6191 "Not able to publish metrics to Datadog"
2019-08-01T03:47:10Z E! [agent] Error writing to output [datadog]: unable to marshal TimeSeries, json: unsupported value: NaN Getting this error from telegraf :(

[2019-08-01 06:21] harshitdx29 commented on #6093
Done: https://github.com/influxdata/telegraf/issues/6191

[2019-08-01 07:33] yishaihl commented on #6187
@danielnelson it can take 4 hours before the metrics stops reporting or even 24h, not constant.

[2019-08-01 07:40] yishaihl commented on #6187
@prydin please see attached Grafana log:
[grafana.log](https://github.com/influxdata/telegraf/files/3455472/grafana.log)

[2019-08-01 08:03] yishaihl commented on #6158
@prydin you think it might solve the problem?

[2019-08-01 10:18] harshitdx29 commented on #6191
Hi @danielnelson Can you suggest here?

[2019-08-01 11:50] prydin commented on #6187
I would need the telegraf log, not the grafana one. If it stops collecting metrics, there should be an error on there somewhere.

[2019-08-01 13:43] yishaihl commented on #6187
Here you go: (mind that i just enabled the telegraf.log, but i think that the disconnections are there.)
[telegraf.log](https://github.com/influxdata/telegraf/files/3456974/telegraf.log)

[2019-08-01 13:56] yishaihl commented on #6187
@prydin
Following : https://github.com/influxdata/telegraf/issues/5133
i saw that the following line was hashed so i changed it as follow:
## timeout applies to any of the api request made to vcenter
## timeout = "1800s"

![Screen Shot 2019-08-01 at 16 50 36](https://user-images.githubusercontent.com/39559916/62299071-ea381880-b47c-11e9-9df3-ed88529621e4.png)
 &
![Screen Shot 2019-08-01 at 16 52 3

[2019-08-01 17:47] Daryes commented on #4632
Just checked with `--test` on Telegraf 1.11.2 :
1) thanks for the converter example,

2)  Yup, as the parameter `attributes ` is still set to false as the default value in 1.11.2.
At least, the documentation should be updated for this setting, it isn't clear how much impact and detail it can bring on the output when activated

[2019-08-01 19:21] russorat commented on #4632
does https://github.com/influxdata/telegraf/pull/6192 satisfy 2 for you?

[2019-08-01 21:42] alexpantyukhin commented on #3813
For now I'm required to send telegraph data on one grpc call. For the current situation I see only one way: write some kind of service which recieves data from telegraph with `http` output and transform it as I need. Is it good idea or not? Do such services exist already?

[2019-08-01 22:58] prydin commented on #6187
I don't see any disconnections in the log, but I think I have an idea what can be wrong. It looks like the metric poll for vSphere returns well over 10,000 metrics, but your output buffer is only set to 10,000. This can cause Telegraf to silently drop data. To verify this, please enable the "internal" plugin and check the metrics dropped metric (don't remember the exact name of it).

Alternatively

[2019-08-02 00:43] shanempope commented on #6162
@Esity something like this: https://github.com/influxdata/telegraf/pull/6194

[2019-08-02 06:36] leonardor opened #6196 "Solr 8 measurements are not saved though they pass the tests"
## Feature Request

I have installed Solr 8.1 and Telegraf 1.11.3. The telegraf agent seems too parse/collect the data but they are not shown in the Chronograf dashboard.

### Proposal:

Add a feature to collect and save properly the Solr 8.1 measurements

### Current behavior:

The telegraf agent doesn't collect Solr 8.1 measurements.

### Desired behavior:

The telegraf agent collects Solr 8.1 m

[2019-08-02 08:36] yishaihl commented on #6187
I'll try and let you know if it worked.. thanks!

[2019-08-02 10:49] Daryes commented on #4632
That's good, thanks

[2019-08-02 11:57] maxlein commented on #4660
As you appended two @@ and are using  server = "tcp://0.0.0.0:6514", you are using tcp for logging and not udp!?

[2019-08-02 12:49] sykss commented on #6158
im gonna see this topics, i try to use
`force_discover_on_init = true`
but it fails i've no dashboard.. but i ve 2 question when i use the dahsboard named telegraf metric i see the graph about my monitoring server only (grafana server + influx server + telegraf server) this dashboard use telegraf and influx too, like the dashboard vmware vpshere overview.. So why i'v a dash here and no dash on vm

[2019-08-02 13:19] prydin commented on #6158
@sykss I'm not sure how to help you here. From the logs, it looks like everything is working. Were you ever able to run it with the file output to verify that all the data is there? If data stops flowing at some point, it would be valuable to look at debug logs for that time period. If data is flowing, the problem is more likely to be on the Grafana side.

[2019-08-02 13:58] jlsam opened #6197 "Improvements in fails2ban plugin"
### Relevant telegraf.conf:

[code]

### System info:
VPS running Ubuntu 18.04.2 LTS, Telegraf 1.11.3 (git: HEAD d6024fd2)

### Steps to reproduce:

1. Follow 'You will also need to update your sudoers file' section in
https://github.com/influxdata/telegraf/blob/master/plugins/inputs/fail2ban/README.md

2. Reboot VPS to be sure

### Expected behavior:
Telegraf would successfully collect fail2ban m

[2019-08-02 14:20] sykss commented on #6158
@prydin i run it with the file output and all the data seems to be here as i send in the debug file precedently ..

[2019-08-02 15:18] sykss commented on #6158
I find the issue, the version of grafana-server was too old, so i make an update and it work ! thank's u for u're help :)

[2019-08-02 17:20] danielnelson commented on #6187
The advice above is good, I also recommend running the `internal` plugin and increasing your metric buffer, but I wanted to mention that  Telegraf 1.11 there is a warning log message whenever an output drops messages.

[2019-08-02 17:48] #4632 closed

[2019-08-02 19:06] #6158 closed

[2019-08-02 19:39] danielnelson commented on #6197
I updated the README with most your ideas, but didn't include the recommendation for altering the interval.  Even if fail2ban bans for 600s, I think it could be valuable to have the poll interval faster since not all bans would be applied on a rounded time period, and you might want to have a faster update.

364bf38b4ae9a86555dac22306c41c9d6320a9be

[2019-08-02 19:39] #6197 closed

[2019-08-02 19:42] #2562 closed

[2019-08-02 19:58] danielnelson commented on #3813
If you are sending to a common service then perhaps it should be a new output plugin, but if you are sending to a custom service then this would be a good solution.  Another option you have is to write a custom output plugin for it and maintain it separately but I don't think it would make sense to try to generalize a gRPC output because of how open ended the protocol is.  I'm not aware of any suc

[2019-08-02 20:06] danielnelson commented on #6162
Closed in #6194

[2019-08-02 20:06] #6162 closed

[2019-08-02 20:49] StephenWithPH commented on #5963
We see similar behavior, but ours is far less regularly-timed than hourly.

* version: `Telegraf 1.11.3` (official Docker image)
* /etc/telegraf/telegraf.conf:
[code]

* log lines:
[code]

Anecdotally, it seems to happen in waves. Eventually, things stabilize. We then run for a time with no problems. And then the wave begins again.

Of note, the problems seem to always end once we see the log line

[2019-08-02 22:59] jlsam commented on #6197
Ok... but now I'm confused - the page now indicates the default config as `use_sudo = false` and two lines below it recommends `use_sudo = true`. So `use_sudo = false` is the correct setting when running telegraf as root, which is not recommended? I think the text as currently is, although correct lends itself to confusion when read quickly. If you don't recommend running as root, why display that

[2019-08-02 23:30] danielnelson commented on #6197
I didn't change the default, false here has always been the default, but I did move the sudoers config into the configuration section.  I think having this option default off is okay, because it indicates that you must take some action to enable sudo, perhaps a better comment would be helpful:

[code]

I do expect sudo to be the most common way to configure the plugin on a Debian/Fedora system, bu