[2018-08-16 14:27] DanHoerst opened #4564 "Poor performance with http_listener input and influxdb output and large number of connections"
### Relevant telegraf.conf:

[code]

### System info:

[Include Telegraf version, operating system name, and other relevant details]

Telegraf version: 1.7.3
OS: Ubuntu 14.04

Running on AWS on m5.large and r5.large instances

### Steps to reproduce:

1. Spin up telegraf with the above config
2. Open a large number of connections to telegraf

### Expected behavior:

I'd expect Telegraf to be able

[2018-08-16 19:09] danielnelson commented on #4564
This is a result of https://github.com/influxdata/telegraf/issues/2919.  Telegraf is essentially getting backed up because it can't output as fast as it is receiving data.  I'm currently working on a solution, perhaps you can help with testing when I'm a little further along?

In the meantime, the best workaround is lowering the InfluxDB timeout (careful as this can cause more load on InfluxDB as

[2018-08-16 19:09] #4564 closed

[2018-08-16 19:11] danielnelson commented on #4563
You can use the `internal` plugin to send metrics about performance and errors.  Each plugin can also add custom metrics to this plugin, a good example of a plugin using this is the `http_listener` plugin.

[2018-08-16 19:11] #4563 closed

[2018-08-16 19:26] danielnelson commented on #4562
You can write to stderr in your script and Telegraf should log the error.

[2018-08-17 00:06] #4560 closed

[2018-08-17 00:39] garceri opened #4566 "Enhanced Varnish Cache Stats Collection"
## Feature Request
Collect varnish stats over HTTP
### Proposal:
Current varnish input plugin only works by using the varnishstat binary, i propose the plugin gets an overhaul that allows for reading the stats over HTTP.

### Current behavior:
Current plugin requires to run telegraf in the same machine/vm/container as Varnish, this is cumbersome and doesn't take advantage of Varnish 4 HTTP stats e

[2018-08-17 07:28] orientzc commented on #4454
sorry. i edit the expiration_interval = "2m", but the result is same. a part of metrics that is same as "60s" losted.

[2018-08-17 13:57] vlastahajek commented on #4453
Both a) skipping sleep and letting gather finish without returning metrics and b) recreating counters after collecting metrics, will not work properly, if gather interval will be equal to or higher than counters refresh interval, which can be seen among users.

There must be a catch, i will look on it later.

[2018-08-17 18:00] jamesshannon commented on #3184
Any movement on this? I'd really like to see this done as a way to catch errors that cause reboots.

It's not clear to me which measurement this would go into. There are container-specific metrics for blockio, cpu, mem, and net. Would we need to create a new one for uptime? That seems wasteful (though technically-speaking it probably isn't).

[2018-08-17 19:08] ono760 opened #4568 "Kafka output and consumer should support Kerberos Authentication"
## Feature Request

Kafka Plugin Support Kerberos Authentication of Kafka Brokers

To implement security on kafka environments, currently have two options for authentication:
SSL and Kerberos.

With SSL, certs expire on a timely manner, therefore,  kerberos authentication seems like the best option.

[2018-08-17 19:50] danielnelson commented on #4454
If setting `expiration_interval` higher did not help then I'm not sure what the cause is.  I'm also confused with the error message, this warning show only be shown if one of the masters values does not start with `http://` or `https://`, which your example does.  Can you upload your full config?

[2018-08-17 20:03] danielnelson commented on #4566
Seems like a good idea, is this something you could work on?

Would this require any configuration changes on the Varnish server?  We should check how the varnishstat binary gets the stats, does it use the HTTP interface or does it use a different method.

Would this result in any breaking changes to the produced metrics?  New fields are find but we wouldn't want to change the names of fields or t

[2018-08-17 20:45] #3484 closed

[2018-08-17 20:49] danielnelson commented on #3484
@botzill with the change in #4433 you can set the measurement name from a matched pattern.  This isn't exactly what is described above, but I think it will be a good solution for setting a dynamic measurement name, and it fits in well with the existing grok pattern language.  Please let us know if it doesn't work for your use-case and we can consider additional changes.

[2018-08-17 23:15] Laszlo-JFLMTCO commented on #4561
@danielnelson Many thanks for the suggestion. Unfortunately it still drops other metrics that has the `device` value populated. Here is an example.

Before updating `conf` with your suggestion:
[code]

After updating `conf` with your suggestion:
[code]

Please notice, how it drops the followings because they have `device=all`:
[code]

I was trying to update the filter you provided, but I do not ha

[2018-08-17 23:26] Laszlo-JFLMTCO commented on #4561
@danielnelson Actually playing a bit more with the filter, here is what I have now:

[code]
Resulting in the following output => `disk` metrics are still missing as they have `device=centos-...`:
[code]

[2018-08-17 23:40] danielnelson commented on #4561
Maybe it would be better to try to tagdrop all the unwanted interface name types:
[code]

[2018-08-18 06:51] prashanthjbabu commented on #4549
Here's the entire telegraf.conf file that I'm using

[[inputs.ping]]
  urls = ["www.google.com"]
[[outputs.file]]
  files = ["stdout"]

The error thrown is :

BusyBox v1.28.4 (2018-05-30 10:45:57 UTC) multi-call binary.

Usage: ping [OPTIONS] HOST

Send ICMP ECHO_REQUEST packets to network hosts

	-4,-6		Force IP or IPv6 name resolution
	-c CNT		Send only CNT pings
	-s SIZE		Send SIZE data bytes i

[2018-08-18 22:49] Laszlo-JFLMTCO commented on #4561
Thank you for your help @danielnelson I think for now I will go with the `tagdrop` you posted, but I am not sure if it will work long term as it might force us to have unique `sysstat` configs for different servers.

I would have really liked to be able to apply a tagpass filter for `bond0` only within `network` metrics, as that would leave the other metrics alone and that is exactly what we need

[2018-08-19 15:36] endersonmaia commented on #4377
the `gosnmp` that's used by telegraf already has a trap listening implementation.

see: https://github.com/soniah/gosnmp/blob/master/trap.go

maybe it's the way to go

since i don't know Golang, I was thinking on recurring to `snmptrapd` and `snmptt` sending logs to telegraf syslog input plugin, but that's a lot of moving parts

[2018-08-19 19:36] hulkk opened #4569 "SQL Server input plugin: Data File(s) Used Size (KB)"
## Feature Request
### Proposal:
Collect "Data File(s) Used Size (KB)" metric from SQL Server databases.
### Current behavior:
Currently the SQL Server Telegraf plugin only collects "Data File(s) Size (KB)" metric.
### Desired behavior:
Collect how much of the configured data files is used. The same metric is currently collected from transaction log files - "Log File(s) Used Size (KB)".
### Use ca

[2018-08-19 22:38] endersonmaia opened #4570 "Input Plugin for Windows Event Log"
## Feature Request

Since Telegraf 1.7 and it's syslog input plugin, I think Telegraf should also have a solution for Windows Event Log.

### Proposal:

Implement a input plugin using the [Windows Event Collector](https://msdn.microsoft.com/pt-br/library/bb427443(v=vs.85).aspx) implementation.

That way, the telegraf would remotely subscribe to Windows Events.

### Current behavior:

Telegraf does

[2018-08-19 23:25] iserialize commented on #4570
Iam currently pushing the windows event log data via a Task Scheduler job which is triggered when an event gets written in the event log. The job sends the event log to a powershell script which then write the data to influxdb using the line protocol.  With 1.7, we could potentially use the same method but write to telegraf (localhost) which could then proxy the request to influxdb.

It would be i

[2018-08-20 02:29] orientzc commented on #4454
my full config? my telegraf config?
[telegraf.txt](https://github.com/influxdata/telegraf/files/2300968/telegraf.txt)

[2018-08-20 09:13] Xiol commented on #4562
Okay, gave this another look this morning. The `requiretty` setting is enabled which was preventing Telegraf from using sudo. Resolved this with the following in sudoers:

[code]

In theory the error from sudo should have already been going into stderr, so not sure why Telegraf wasn't picking this up.

[2018-08-20 09:13] #4562 closed

[2018-08-20 13:12] cruscio commented on #4570
I opened a similar feature request in - Windows Event Log Analytics #4525

[2018-08-20 13:49] vlastahajek commented on #4499
Thanks for discovering this bug. It is always surpsing what kind of text instance name could be :-).
However, regexp matching is a bit complicated, because the instance part is optional.

Even though playing with regexp if fun, regexp matching became too complex and slow, so I replaced it with a simple substring searching. Benchmark showed it is 40x faster than regexp.

[2018-08-20 18:23] danielnelson opened #4573 "Support sending a random routing key for each message in kafka output"
## Feature Request

### Proposal:

Kafka requires at least one partition per concurrent consumer, and without a properly set routing key (aka partition key) only one partition will be written too.  There is some information suggesting that the partition written to will be changed after 10m, but this would be too long of a windows for most uses.

While sometimes it is possible to use a common tag s

[2018-08-20 18:32] danielnelson commented on #4569
cc @m82labs

[2018-08-20 20:29] danielnelson commented on #4566
That's basically it, using a specialized parser allows us to structure the data schema exactly how we want, and provides a level of abstraction so that we can hide changes and maintain the schema.  That said, it would be nice if we had a more flexible JSON parser that could handle this while still being as performance as custom code.

[2018-08-20 20:46] danielnelson commented on #4454
Can you try setting timeout in the mesos plugin to `5000` and see if that has any effect?

[2018-08-20 20:51] i2blind opened #4574 "http_response creates two versions of http_response_result_code when result_code becomes 3"
### Relevant telegraf.conf:

[[inputs.http_response]]
    name_suffix = "_TEST1"
    address = "http://somehost:9198/metrics"
    response_timeout = "10s"
    method = "GET"
    follow_redirects = true
    response_string_match = "go"

### System info:
both telegraf 1.7.0.1-1
telegraf 1.7.3-1

CentOS Linux release 7.5.1804 (Core)  Virtual Machine
[Include Telegraf version, operating system name, a

[2018-08-20 20:52] danielnelson commented on #4570
Merging issue with #4525

[2018-08-20 20:52] #4570 closed

[2018-08-20 21:34] danielnelson commented on #4574
I think this is because the tags do not match, otherwise the new failure metric would overwrite the old one instead of creating a different metric.  Can you check if the tags are different and what tags are changing?

[2018-08-21 01:43] orientzc commented on #4454
ok. yeah. it work. Thanks very much.
and it because connect timeout? guess?

[2018-08-21 10:54] yuriy-slobodchikov opened #4576 "Gather Kibana health metrics"
## Feature Request
 Kibana health check plugin
( @danielnelson )

Opening a feature request kicks off a discussion.

### Proposal:
Adding  Kibana health check plugin

### Current behavior:
No Kibana health check via localhost:5601/api/status
https://www.elastic.co/guide/en/kibana/6.3/access.html#status

### Desired behavior:
To have ability to get metrics and plugin health checks from json localho

[2018-08-21 11:36] endersonmaia commented on #4525
Just adding some information, maybe a way to go is via [Windows Event Collector](
https://msdn.microsoft.com/pt-br/library/bb427443(v=vs.85).aspx)

[2018-08-21 12:08] lpic10 commented on #4576
That definitely could be useful, but as a separated kibana plugin

[2018-08-21 13:05] i2blind commented on #4574
The tags and values of those are the same except for the status_code, result and result_type.   The other tags that i removed are statically assigned to the agent as a whole.  I did a comparison of the two lines to make sure.

[2018-08-21 13:07] i2blind commented on #4574
I have a few other http_response configurations on this same telegraf instance as well and I have seen this same behavior with others.

[2018-08-21 16:50] hulkk commented on #4569
According to my research it seems that database's used size information is not available in the master database. That information needs to be collected inside each database's sys.database_files view.

I've tested following query example with SQL Server 2014 and 2016.
[code]
To be able to query the required view inside user databases there is one new grant required:
[code]
Only drawback with the gr

[2018-08-21 16:54] glinton commented on #3184
@jamesshannon I'm not aware of anyone spending time on this yet. If you'd like to, you're more than welcome to open a pr for it. It looks like adding it as another metric like the blockio, cpu, etc... is the way to go.

[2018-08-21 17:01] ono760 opened #4578 "Time-based limits of metrics"
## Feature Request

The `metric_buffer_limit` setting in Telegraf is not very helpful when I want to control the ability to only send time-based limits of metrics.

For example, instead of a buffer_limit of `5000`, I would like my Telegraf agent(s) to keep only 30 minutes worth of data in its buffer.

The number of metrics in the buffer is useless when I don’t know how many lines are output, pendi

[2018-08-21 17:19] glinton commented on #4549
You are correct, I only read the Readme which says it defaults to 0. Setting it to 0 will be fine for your case. I'm going to leave this open and rename it as an issue with the ping readme.

[2018-08-21 18:59] roderick-unicom commented on #4456
Anything new on this? Since this request, I have updated couchdb from 2.1.1 to 2.2.0.

[2018-08-21 19:23] darox opened #4580 "MQTT connected, not pushing data to influxdb"
I have configured the following Influxdb in telegraf.conf:
[code]
And the following MQTT input config in telegraf.conf
[code]

But for some reason, Telegraf is not pushing the data to Influxdb anymore. In the Telegraf logs I can see, that Telegraf connects to the MQTT broker, but no Data is sent towards Influxdb. The MQTT message looks like this:
`{"temperature":25,"airpressure":1010,"humidity":77

[2018-08-21 19:44] #4573 closed

[2018-08-21 22:53] danielnelson commented on #4454
Interesting, the mesos input uses the [/metrics/snapshot](https://mesos.apache.org/documentation/latest/endpoints/metrics/snapshot/) endpoint and it says this about the timeout query parameter:

It seems that this is a "soft" timeout that can cause the endpoint to return a partial payload.  We will investigate if there is a way we can detect if this has occurred and perhaps we can show some sort o

[2018-08-21 22:58] danielnelson commented on #3184
In 1.8.0 we have added a new measurement:
[code]

@jindov @jamesshannon Would this meet your requirements?

[2018-08-21 23:01] #4463 closed

[2018-08-21 23:01] danielnelson commented on #4463
Closing since no activity.

[2018-08-21 23:08] danielnelson commented on #4580
Any chance the metrics are being removed by this?
[code]

The way I usually test this is by enabling a `file` output with no filters and running telegraf while watching stdout:
[code]

[2018-08-21 23:38] danielnelson commented on #3184
The containers monitored will be subject to the existing options, such as `container_name_include` and `container_state_include`.

To be honest, I was not even aware it was possible to have information about the last time a container died, and I'm not sure even what that means.  I was under the assumption that these would not be filled out until the container had stopped.  Once a container is stop

[2018-08-21 23:50] danielnelson commented on #4574
The change is the status_code, result, result_type tags are enough to cause problems here, we don't have a way to know these are readings are for the same logical object.  I think there are two actions you can take:

1. Set `expiration_interval = "60s"` to a value appropriate based on your agent interval.  You will want it high enough that values do not disappear between collections, but low enoug

[2018-08-21 23:50] #4574 closed

[2018-08-22 02:12] orientzc commented on #4454
Thanks very much. and your attitude to warn encouraged me. Good Luck for us.

[2018-08-22 03:27] theoutlander opened #4581 "Question: How do we monitor for deleted messages"
I would like to know when a message is deleted in a channel that I'm listening to. Is there a way to do this via telegram/telegraf? I've checked the documentation for everything and looked through the code, but can't seem to find anything.

I tried listening for the following events, but they don't work: message, edited_message, delete (this doesn't exist). Thank you!

[2018-08-22 03:29] theoutlander commented on #4581
I've found the following on SO: https://stackoverflow.com/questions/48484272/handle-deleted-message-by-user-in-telegram-bot

Is it still true that there's no way to track if messages were deleted?

[2018-08-22 04:44] prashanthjbabu commented on #4549
So just to make it clear , I just need to set "ping_interval" to 0.0 explicity in telegraf.conf file and it would work for busybox and other such ping applications which don't have too many ping options(like -i for interval).

[2018-08-22 07:27] lpic10 commented on #4576
Ok, so I worked on a simple standalone kibana input plugin, I should open a PR later today or tomorrow

[2018-08-22 07:54] kkzinger commented on #4543
@glinton yes this works but then I do not get graphite tags. The problem is that we need to keep the metric paths and additionally want graphite tags for easy migration scenario.
I updated the first post because I missed the tags in the expected behavior output.

[2018-08-22 10:13] fchiorascu commented on #3991
@danielnelson this is only for "nightly" version of telegraf, it will be something similar for the normal version of telegraf e.f. telegraf 1.7.3, etc?

[2018-08-22 10:14] skipper00 commented on #4377
+1

[2018-08-22 11:41] 6d6178 opened #4582 "Converter does not convert"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf v1.7.3 (git: release-1.7 4dc29d0e)
CentOS Linux release 7.4.1708 (Core)

### Steps to reproduce:

The device I poll answers with a numeric string. I was happy to find that you implemented a converter recently. When I added the converter it didn't change the output. I used

 `telegraf --config /etc/telegraf/telegraf.conf --config-direc

[2018-08-22 12:09] 6d6178 commented on #4543
Just want to add a +1.
A 'big-bang'-migration from old to new behaviour is "impossible" for me. From what I understand you can use tags and the "old" system at the same time. So a option like "legacy" or "both" would be great.

[2018-08-22 12:19] billyhudson opened #4583 "FreeBSD - Telegraf restarts and eventually fails"
### Relevant telegraf.conf:

[code]

### Logs:
Telegraf is configured to log to /var/log/telegraf/telegraf.log but the SIGQUIT go trace always outputs to /var/log/telegraf.log
[telegraf.telegraf.log](https://github.com/influxdata/telegraf/files/2310236/telegraf.telegraf.log)
[telegraf.log](https://github.com/influxdata/telegraf/files/2310237/telegraf.log)

### System info:
FreeBSD 11.1-RELEASE-p10

[2018-08-22 13:46] mjf commented on #4566
@danielnelson Thanks for clarification.

[2018-08-22 15:02] i2blind commented on #4574
your workaround for tagexclude partially worked.

I had to do this.
    tagexclude = ["status_code","result"]
    fielddrop = ["result_type"]

[2018-08-22 16:54] i2blind commented on #4574
This is working, setting prometheus output a suggested resolved.

[2018-08-22 16:58] glinton commented on #4581
Are you asking about [telegraf](https://www.influxdata.com/time-series-platform/telegraf/) (this project) or [telegram](https://telegram.org/)?

[2018-08-22 17:01] glinton commented on #4549
correct, but there is still the issue as you originally described it, where a valid ping metric gets recorded by telegraf rather than it failing on error.

[2018-08-22 17:17] glinton commented on #4456
Can you paste output from a `GET` to the same db node that your test telegraf is gathering from?

[2018-08-22 17:27] roderick-unicom commented on #4456
This?

{"couchdb":{"httpd":{"aborted_requests":{"value":0,"type":"counter","desc":"number of aborted requests"},"bulk_docs":{"value":{"min":0.0,"max":0.0,"arithmetic_mean":0.0,"geometric_mean":0.0,"harmonic_mean":0.0,"median":0.0,"variance":0.0,"standard_deviation":0.0,"skewness":0.0,"kurtosis":0.0,"percentile":[[50,0.0],[75,0.0],[90,0.0],[95,0.0],[99,0.0],[999,0.0]],"histogram":[[0,0]],"n":0},"ty

[2018-08-22 17:51] roderick-unicom commented on #4456
Just in case you want those:

HTTP/1.1 200 OK
Cache-Control: must-revalidate
Content-Length: 14118
Content-Type: application/json
Date: Wed, 22 Aug 2018 17:49:25 GMT
Server: CouchDB/2.2.0 (Erlang OTP/19)

[2018-08-22 18:32] endersonmaia commented on #1420
there are two PRs for this, #4141 and #2682

[2018-08-22 18:41] glinton commented on #4456
Ok. So it turns out that telegraf doesn't error if couchdb responds unsuccessfully. The cause of the unsuccessful response is because Couchdb moved the `/_stats` route to `/_node/_local/_stats` for 2.0 and changed the api response, so you are getting 0s as most of the fields don't exist.

[2018-08-22 18:42] garceri commented on #4566
My knowledge of Go is rather limited and i'm sure the code i would produce would be sub-standard (if i ever get something working). the specialized parser is a good idea, maybe we can use JMESPATH (http://jmespath.org/specification.html) a-la `jq` to enable the flexibility required to parse with more complex data input structure like varnish's.

Here is an example of how the input data on the OP w

[2018-08-22 20:07] roderick-unicom commented on #4456
Ok, so basically, the couchdb add-on for telegraf will not work, until there has been an update to the code, to be compatible with Couchdb 2.X?

[2018-08-22 20:55] #4427 closed

[2018-08-22 21:28] Foggy2 commented on #3076
This would also be very useful for me. Using Cisco equipment and many of the tables reference other tables with alternative index values that are stored under one of the OIDs.

It would also be very useful if you can link to more than one foreign table/index as I have seen some complex OID/table structures when trying to query for specific information.

I don't know any GoLang but I am happy to tr

[2018-08-23 02:10] #2658 closed

[2018-08-23 02:13] vikrant6 opened #4586 "make package fails"
make package fails with below error

When building locally on Mac OS I get below error for make package

[ERROR] run: Command 'fpm -f -s dir --log error --vendor InfluxData --url https://github.com/influxdata/telegraf --license MIT --maintainer support@influxdb.com --config-files /etc/telegraf/telegraf.conf --config-files /etc/logrotate.d/telegraf --after-install scripts/post-install.sh --before-i

[2018-08-23 02:26] #2986 closed

[2018-08-23 02:35] danielnelson commented on #1363
I merged a bunch of new features into the existing JSON parser, I think it may meet the needs for many watching this issue.  Check the [JSON data format](https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md#json) for details.

There is still a place for a new parser, so I will keep this issue open.

[2018-08-23 02:49] danielnelson commented on #4583
I am going to guess that the different log file is caused by Telegraf logging the panic stack trace to stderr instead of using the agents logfile.

The actual crash, `fatal error: runtime: split stack overflow`, seems like it could be an error in Go.  I did find an issue but it has been fixed for some time https://github.com/golang/go/issues/14067

@girgen Do you know what version of Go is used in

[2018-08-23 07:49] andreffonseca commented on #2546
Hello,
I know this is an old thread but is there any news about this subject?

Thanks,
Best Regards,

[2018-08-23 08:32] Yang-HangWA opened #4587 "How to config inputs.redis for redis when running redis as a docker container #"
I try to config input.redis part to monitor the redis server,both way one and way two work incorrectly.
way one:
[[inputs.redis]]
   servers = ["tcp://redis:16379"]
way two:
[[inputs.redis]]
   servers = ["tcp://localhost:16379"]

[2018-08-23 10:07] girgen commented on #4583
@danielnelson go-1.10.2 is the most likely candidate.

pkg building is automated in FreeBSD, so it actually depends a bit. Telegraf-1.6.3 was committed 2018-05-25  and at that time go-1.10.2 was in the tree, so telegraf package would have been built with that version of go.

The latest version of telegraf in the FreeBSD tree is telegraf-1.7.3 which should have been build using go-1.10.3

[2018-08-23 12:14] heathermary89 commented on #1643
Check /var/log/messages for detailed info on the error.

[2018-08-23 12:27] HristoMohamed opened #4588 "Telegraf kafka_consumer does not work with Kafka 2.0"
Hi,
Updating Apache Kafka to 2.0.0 causes problems with the current version of the sarama library.
2018-08-23T11:32:57Z E! Error in plugin [inputs.kafka_consumer]: Consumer Error: kafka: error while consuming telegraftopic/22: kafka: error decodin:wqg packet: CRC didn't match expected 0x0 got 0xe38a6876

They have already addressed this:
https://github.com/Shopify/sarama/pull/1149

Maybe an update

[2018-08-23 17:09] glinton commented on #4586
The script may clean up directories, but what do you get when you run the tar command that failed?
[code]

[2018-08-23 18:06] darox commented on #4580
I just tested without namesuffix, still the same result as with namesuffix. Therefore I think it's a bug. In the mosquitto log I can see, that telegraf connects.

[2018-08-23 18:56] danielnelson commented on #4588
@HristoMohamed Would you be able to try Telegraf master and set the new version option to 1.1.0?  I think this may allow using Kafka 2.0 with the current version, and I would feel more comfortable backporting the version option to Telegraf 1.7.x.

[2018-08-23 19:47] danielnelson commented on #3184
I don't think there would be a way to easily display uptime in Grafana or Chronograf with the start_time/end_time only.  You would probably only be able to do something interesting with custom code or use one of these tools to display the value in a table.

So it seems that we should add a new uptime field to the docker_container_status measurement based on started_at and time.Now().

[2018-08-23 20:04] danielnelson commented on #3991
It will have to be 1.8.0 for the valuecounter aggregator.  I would also like to look into packaging this up into a more easy to use single input plugin, but it might be awhile before I have available time for that.

[2018-08-23 20:08] danielnelson commented on #4582
Do you just need to change the field name from Rx to Tx?
[code]

[2018-08-23 20:11] danielnelson commented on #4543
Perhaps a solution would be to setup two outputs, one with tag support enabled and one with tag support disabled.  You will have double the metrics written but it would give you time to migrate dashboards without having to do it all in one shot.  Once the dashboard migration has been completed you can remove the output with tag support disabled.

[2018-08-23 20:37] danielnelson commented on #4583
@billyhudson Would it be possible for you to check if the crash remains in 1.7.3?

[2018-08-23 20:50] danielnelson commented on #4549
Closed in #4550

[2018-08-23 20:50] #4549 closed

[2018-08-23 22:46] ahb-sjsu commented on #3982
Hi Rico Ullman,

It's not clear why you closed this issue. Your response doesn't make any sense.

"I have ignored the line stating that everything within quotes will be ignored." -- What does that mean?

"Basically the API is sending a valid, but still in logical terms wrong object as all the int objects shouldn't be quoted."

They are not "int objects"..

Daniel included objects in the json that

[2018-08-23 22:59] ahb-sjsu opened #4589 "inputs.exe json plugin can't parse input with strings"
### Relevant telegraf.conf:
[[inputs.exec]]
#   ## Commands array
commands = [
"/etc/telegraf/wae-telegraf-input.sh"
]
#   ## Timeout for each command to complete.
timeout = "5s"
#
#   ## measurement name suffix (for separating different commands)
name_suffix = "_waecollector"
#
#   ## Data format to consume.
data_format = "json"

### System info:

[Include Telegraf version, operating system name,

[2018-08-23 23:55] danielnelson commented on #4589
Currently the JSON parser will only parse strings to tags using the `tag_keys` option.  However, keep in mind that our data model requires at least one field, so your original example with only strings is impossible to parse to a metric.

In the next release, 1.8.0, you will be able to use the new `string_keys` option to whitelist strings and add them as fields.  This was implemented in #4351.

[2018-08-23 23:55] #4589 closed

[2018-08-23 23:56] danielnelson commented on #2835
In 1.8.0, this can be done with the `string_keys` option.

[2018-08-23 23:56] #2835 closed

[2018-08-24 08:35] kjedrol opened #4590 "Many processes with same name, but wanted to point out one of these."
Hello,
First of all, many thanks for great plugin. Appreciate Your work.

I have many processes with the same name: "nssm.exe", but every of them is different program.
I would like to point out in configuration file, the path to the exactly one process.
Is it possible?
Thanks in advance for Your help.

Example:
[[inputs.win_perf_counters.object]]
    ObjectName = "Process"
	Counters = ["ID Process

[2018-08-24 09:26] billyhudson commented on #4583
I have upgraded the telegraf package to 1.7.3 and started the service, shall report back, thank you.

[2018-08-24 13:40] SimonOlenik commented on #3189
We need that ASAP!

[2018-08-24 14:16] billyhudson commented on #4583
It still appears to be crashing but with a different go trace, however I've noticed it has had more success at recovering.

[telegraf-20180824.log](https://github.com/influxdata/telegraf/files/2318684/telegraf-20180824.log)

[2018-08-24 16:44] 6d6178 commented on #4582
I would love if that was the solution.
Sadly all numeric values are given as string so I need to convert them all. (You'd think that a billion dollar company can get this right) I tried to show that it doesn't affect a value but I probably make it more complicated than needed.

[2018-08-24 18:30] danielnelson commented on #4580
Namepass would remove the metric if the name didn't match, we can use the file output to see what the actual name is.  I'm not sure if Telegraf can write to the `/etc/telegraf` directory though so I recommend using something like `/tmp/metric_output.out`.

[2018-08-24 19:13] danielnelson commented on #4582
Maybe something like this would work, it should convert all fields for the `sdx.ports` to integer:

[code]

[2018-08-24 21:53] teresaibarra opened #4591 "Docker metrics missing from Input Plugin"
### Relevant files:
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/docker#metrics

###  Behavior:
We noticed that some metrics in the Docker Input Plugin were missing. After further investigation, it seems that the plugin may not be up-to-date with the Docker API.

It seems that `pool_blocksize` is no longer returned by the Docker API.

The below metrics are noted as unstable in

[2018-08-24 22:07] danielnelson commented on #4583
That is quite the assortment of errors, all from within the Go runtime:
[code]

Do you have multiple systems all reporting similar errors or is this all from a lone server?  I have seen similar behavior in Linux that has been traced back to a hardware issue.

[2018-08-24 23:40] #2108 closed

[2018-08-25 13:50] vit1251 opened #4593 "Add support for BSD style syslog messages RFC 3164 to syslog input"
### Relevant telegraf.conf:

=udp4://:6514

### System info:

1.7.3

### Steps to reproduce:

1. Setup UDP input syslog plugin
2. Setup nginx output in that UDP port

### Expected behavior:

Message store in InfluxDB

### Actual behavior:

Error in plugin [inputs.syslog]: read udp4 0.0.0.0:6514: i/o timeout

### Additional info:

No idea.

[2018-08-26 18:46] lazarberbakov opened #4594 "MQTT input plugin disconnecting from Mosquitto"
We are planning to use TICK stack on a EU funded project for collection of measurements from MQTT broker. For this purpose, we setup InfluxDB, MQTT broker (Mosquitto) and Telegraf (mqtt_consumer input plugin and InfluxDB output plugin). Telegraf connects successfully to Mosquitto, and starts collecting published metrics in JSON format. However, from time to time it disconnects from the MQTT broker

[2018-08-27 08:43] kri5 commented on #3630
It seems that you can pass an argument `level` to the query `_nodes/stats` or `/_nodes/_local/stats` with the value `indices`, and you get a subfields `indices` , child of the regular `indices` field, where each key is the index `name`, and the value is an object with the stats corresponding to this index.

As an example you can try `/_nodes/_local/stats?level=indices&pretty'`, it works on ES 6.4,

[2018-08-27 09:00] n1b0r commented on #4591
I'm also looking for `docker_container_status` metric which does not seem to be exported.

Is there any workaround ?

[2018-08-27 12:57] BenjaminLSmith opened #4595 "[Feature Request] - Elasticsearch metric format as DATA_OUTPUT_FORMAT option"
## Feature Request
Currently, the Elasticsearch Telegraf output uniquely formats messages like an Elastic message, produced by any Beat or Logstash  application. The downside is that this is only available if you use the Elasticsearch output plugin. As-is, the only available output formats are JSON, Influx, or Graphite. Creating a new Elasticsearch output format would allow us to send Telegraf met

[2018-08-27 18:52] danielnelson commented on #4591
The `pool_blocksize`, `docker_data` and `docker_metadata` metrics require using the [devicemapper](https://docs.docker.com/storage/storagedriver/device-mapper-driver/) storage driver.

To see the `docker_container_health` metrics you must have a HEALTHCHECK defined on your container.  I have been using the tips from this page to add fake health checks to my containers for testing: https://ryanesch

[2018-08-27 18:55] teresaibarra commented on #4591
It does! I'm checking up on this information for CircleCI's documentation on metrics, and that'd be super helpful :-) Thanks so much!

[2018-08-27 19:14] varun-dhawan opened #4597 "Add counter [SQLServer:Databases Percent Log Used] to enable monitoring for T-log utilization"
## Feature Request
Please add counter [SQLServer:Databases Percent Log Used] to enable monitoring for T-log utilization

Opening a feature request kicks off a discussion.

### Proposal:
Please add counter [SQLServer:Databases Percent Log Used] to enable monitoring for T-log utilization

### Current behavior:
Current dashboard monitors following counters
- SQLServer:Databases Log File(s) Size (KB)

[2018-08-27 20:07] danielnelson commented on #4591
Changes to readme: 61e5d500baeefc32c51e449969584d6581ee4e1e

[2018-08-27 20:07] #4591 closed

[2018-08-27 20:56] danielnelson commented on #4593
Can you show your nginx config for sending over UDP?

[2018-08-27 21:00] danielnelson commented on #4590
@kjedrol I will check into this the next time I have access to a Windows machine.

[2018-08-27 21:05] #4428 closed

[2018-08-27 21:05] russorat commented on #4428
https://github.com/influxdata/telegraf/pull/4551

[2018-08-27 21:47] #3189 closed

[2018-08-27 21:50] danielnelson commented on #2756
In 1.8 this can be accomplished using `syslog -> parser processor(json)` or from a logfile using `tail(grok) -> parser processor(json)`.

[2018-08-27 21:50] #2756 closed

[2018-08-27 21:52] danielnelson commented on #4597
Is it possible to compute the percentage at query time with `used_size/size`?

[2018-08-27 22:31] danielnelson commented on #4594
I believe this is an issue in the eclipse/paho.mqtt.golang library version we are using.  In the next release of Telegraf (1.8) we are using an updated version of this library, could you try using one of the
[nightly development builds](https://github.com/influxdata/telegraf#nightly-builds) and see if the error persists?

If the error still occurs, can you add the Telegraf logs around the moment t

[2018-08-27 22:53] vit1251 commented on #4593
@danielnelson I setup nginx by manual at address http://nginx.org/en/docs/syslog.html

[2018-08-27 23:45] danielnelson commented on #4593
I believe the issue is that nginx outputs only in RFC 3164, but the syslog input only does RFC 5424 messages.  There is an issue on go-syslog to add support: https://github.com/influxdata/go-syslog/issues/15.

In the meantime I think a workaround would be to use rsyslog to convert between formats.

[2018-08-28 05:40] meetchandan opened #4600 "Get Kafka topic number of messages (count) as output value"
## Feature Request
[code]

Now, with above, I am able to push kafka messages in above topics to my desired output (influxdb in my case)

What I wish to do is, instead of the kafka messages being pushed, I just want the message count in kafka topics during the interval to be inserted into influxdb.

I do not know if this is possible currently, or this is very vague requirement.

P.S. My use case is

[2018-08-28 06:30] vit1251 commented on #4593
@danielnelson maybe an interesting fact or my mistake I'm not exactly sure but... after error ocuire I try to make custom message by logger from shell and no message pass in Influx. I guess that parsing goroutine ended and no more ready to receive UDP packet. Perhaps this is a mistake.

[2018-08-28 08:02] zngzlg opened #4601 "Error in plugin [inputs.cgroup]: took longer to collect than collection interval"
### Relevant telegraf.conf:

### System info:

[Include Telegraf version, operating system name, and other relevant details]

### Steps to reproduce:

1.  cgroup file missing duration flush:
2018-08-28T07:39:00Z E! Error in plugin [inputs.cgroup]: stat /cgroup/memory/hadoop-yarn/container_e25_1534970549996_5341889_01_000411: no such file or directory

2. May be Os.Stat throw exceptions if  cgroup

[2018-08-28 11:26] billyhudson commented on #4583
This is only happening on one of our T2.medium servers at aws, of which there is another in the same region that is absolutely fine.

[2018-08-28 11:56] pengliangcheng opened #4602 "Telegraf 1.7.3 version is not support acvtivemq and acvtivemq congfig file loss"
The activemq is not supported in telegraf 1.7.3, and the activemq configuration does not exist in telegraf.conf.
After adding "[[inputs.activemq]]", the error "Error parsing telegraf.conf, Undefined but requested input: activemq"

[2018-08-28 13:45] gaizeror opened #4603 "RabbitMQ plugin idle_since equivalent as int"
## Feature Request

One of the alerts we need to configure to indicate something wrong with our services is:
The queue has more than X jobs in queue as ready + The queue is idle for more than Y minutes.
Unfortunately it is not supported today.

### Proposal:
Create a field (idle_since_in_sec or something) that returns idle_since as int/float.

### Current behavior:
Today idle_since returns value l

[2018-08-28 13:53] gaizeror opened #4604 "Procstat/Processes Zombies monitor"
## Feature Request

We are using celery and gunicorn, which works with a "main process" and workers, which are forks of the "MainProcess".
Today we monitor with Nagios if any of the processes became Zombie process, but we can't do the same with Procstat/Processes because.

### Proposal:
Either add tags to the Zombies metric in "processes plugin" which indicates the process pid + process name (proc

[2018-08-28 18:03] danielnelson commented on #4583
I'm going to close this issue with the recommendation to replace this AWS instance as it is not working properly.

[2018-08-28 18:03] #4583 closed

[2018-08-28 18:12] danielnelson commented on #4600
You can use the [jolokia2](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/jolokia2) plugin to get JMX metrics from Kafka, I would start with the [example configuration](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/jolokia2/examples/kafka.conf).

Another popular input for monitoring Kafka is the [burrow input](https://github.com/influxdata/telegraf/tree/maste

[2018-08-28 18:12] #4600 closed

[2018-08-28 20:41] danielnelson commented on #4593
I set up rsyslog to forward over UDP:
[code]

And then used the logger command from util-linux:
[code]

I did get the message, but also an error message:
[code]

Afterwards, I am unable to send to this socket.  I think we just want to remove the deadline for the UDP socket altogether, I'll put together a pr.

[2018-08-28 21:12] danielnelson commented on #4602
The new activemq plugin will be included in 1.8

[2018-08-28 21:12] #4602 closed

[2018-08-28 21:13] garceri commented on #4566
I was able to pull stats out of /stats over http using the http input plugin with JSON data format, no further modifications required, anyway the ability to customize the input with filters would be a nice to have

This is the config i'm using
`        [[inputs.http]]
          timeout = "15s"
          urls = [ "http://varnish:6085/stats" ]
          username = "secretuser"
          password = "

[2018-08-29 00:50] pengliangcheng commented on #4602
thank you

[2018-08-29 01:45] nicktank commented on #3176
Wanted to jump in here, if there is anything Splunk can do to help move this forward please let me know, we have a new product that this is a perfect fit for this plugin and our platform customers have been asking about a plugin like this for a long time.

[2018-08-29 06:52] lazarberbakov opened #4607 "JSON parser, UNIX time format for timestamp field"
Currently, the JSON parser allows parsing of time stamp and configuration of time format by using e.g.
json_time_format = "02 Jan 06 15:04 MST".

### Proposal:
It would be nice if epoch/unix timestamp could also be parsed by specifying whether the timestamp is
given in seconds, milliseconds, microseconds or nanoseconds.

[2018-08-29 12:08] HristoMohamed commented on #4588
Hey,
Yes I can test by later this week.

[2018-08-29 13:26] lazarberbakov commented on #4594
I downloaded nightly build and noticed the following behavior.

As can be seen in Telegraf log below, it outputs twice that the MQTT Client is connected, even though I have only one MQTT consumer configuration. After some time it stops collecting metrics from MQTT broker, exactly at the point where MQTT broker Mosquitto says that there was a socket error.
I would also like to point out that I comp

[2018-08-29 14:52] billyhudson commented on #4583
After reinstalling all base packages and stopping and starting the instance at AWS, destroying and recreating this instance appears to have resolved the problem. Thank you.

[2018-08-29 18:38] #4601 closed

[2018-08-29 19:28] #4526 closed

[2018-08-29 19:28] #4544 closed

[2018-08-29 20:00] bolek2000 opened #4610 "'systemctl restart telegraf' failing (related to logparser ?)"
### Relevant telegraf.conf:
Agent runs some basic system metric plus one logparser that parses a preprocessed (sorted) nginx acces.log. The preprocessing script runs every 10 minutes and extracts 10 minutes (in the past, to make sure nginx buffer is flushed) of logdata to a sorted file for ingestion into telegraf logparser (every run about 10.000 lines)

Logparser config (one file in /etc/telegraf

[2018-08-29 22:25] danielnelson commented on #4610
Does it behave the same if you use reload?
[code]

[2018-08-30 02:11] #3438 closed

[2018-08-30 04:36] mcassaniti opened #4611 "Include changes in GitHub release information"
Can the change information that goes into the change log also be recorded with the release information on the GitHub release section?

[2018-08-30 06:48] bolek2000 commented on #4610
That is what I tried afterwards after I discovered these problems. I changed to reload, but this was even worse. telegraf totally stopped sending metrics. And a weird cut off log entry in the log again.

[code]
Then the logfile ends and nothing is written to it anymore until I changed back to restart. As you can see, telegraf was still running, and doing reloads, but stopped working at all.
[code]

[2018-08-30 07:04] bolek2000 commented on #4610
By the way I was using restart because of all the other bugs with logparser not realizing that a file is overwritten or a second logparser not working, when using reload etc. So now also my latest workaroud is broken.
https://github.com/influxdata/telegraf/issues/3573
https://github.com/influxdata/telegraf/issues/3906
So this alltogether renders the logparser plugin nearly impossible to use in a p

[2018-08-30 07:27] bolek2000 commented on #4610
Now I tried:

[code]

[code]

[2018-08-30 08:29] kriptor commented on #3189
Thx @danielnelson

[2018-08-30 09:47] billyhudson opened #4612 "FreeBSD - Newsyslog log rotation"
I have a question regarding logrotation for telegraf on FreeBSD.

I have configured newsyslog to send SIGHUP to `/var/run/telegraf.pid` in an attempt to restart the service however the telegraf.pid file contains the pid of the daemon and not the child telegraf process, which results in telegraf becoming a child of init and the new log file remaining empty.
I can see that the rc.d/telegraf script u

[2018-08-30 12:53] david-guenault opened #4613 "Missing fields in ping plugin"
### Relevant telegraf.conf:

[code]
### System info:

[code]

[code]

[code]

### Steps to reproduce:

1. use the provided config
2. launch the following test command

[code]

### Expected behavior:

Having all the field as in ping plugin documentation

[code]

### Actual behavior:

Some fields are missing, others are added. See example result on expected behaviour. For example percent_reply_loss

[2018-08-30 14:24] pprkut opened #4614 "Logparser treats rotated log file as new file and re-imports everything"
### Relevant telegraf.conf:

[code]

### System info:

Telegraf v1.7.2 (git: release-1.7 c6feb056)
CentOS Linux release 7.5.1804 (Core)

logrotate config:
[code]

### Steps to reproduce:

I have logrotate configured for nginx access logs. The main log file (e.g. *access.log) and the first rotated file (e.g. *access.log-20180830) are uncompressed, while the earlier logs are compressed.
You want to

[2018-08-30 20:43] danielnelson commented on #4612
The Telegraf package in ports is maintained outside of this repo and includes this file.

@girgen How would you prefer we go about handling these sorts of issues?  Should this be reported to https://www.freebsd.org/support/bugreports.html or is there another place?  We can also just discuss them here too, whatever is best for you.

[2018-08-31 00:17] danielnelson opened #4616 "Provide guidelines for how to structure a processor config"
## Feature Request

A common task in a processor is to pick a tag, field or measurement, modify the key or the value, and save it over the old value or to a new field/tag.  Now that we are beginning to build a library of utility processors of this style, I have noticed that the naming conventions and configuration style is not very uniform between them.

To come up with some guidelines and best pr

[2018-08-31 01:36] ironpillow opened #4617 "mqtt broker and client on the same machine and broker not receving mqtt messages"
### Relevant telegraf.conf:
[code]
### System info:
Telegraf v1.7.4
ubuntu 18.04

### Steps to reproduce:
MQTT broker and client on the same machine
1. start broker and listen on ```127.0.0.1:8883```
2. start telegraf with mqtt output plugin
3. check telegraf logs, which show something similar to:
[code]

### Expected behavior:
MQTT broker's log should contain:
[code]
### Actual behavior:
MQTT bro

[2018-08-31 06:15] ohcaka commented on #824
Hi @toni-moreno
I cannot monitor JBoss EAP7.1 by INPUT jboss
[https://github.com/toni-moreno/telegraf/tree/new_input_jboss_plugin/plugins/inputs/jboss](url)

I have monitor JBoss EAP6.4 and EAP7.0 successfully but fail In EAP7.1 version i got this message when i run  telegraf testing.
(I build telegraf from your git on December 2017)

Please suggest me. for fix it.

Thank you

[2018-08-31 06:29] danielnelson commented on #4611
Seems like a good idea to me, I added the items for the last release:  https://github.com/influxdata/telegraf/releases/tag/1.7.4

cc @glinton

[2018-08-31 06:29] #4611 closed

[2018-08-31 06:41] danielnelson commented on #4614
I believe this is the same issue as reported in https://github.com/influxdata/telegraf/issues/3522.  There isn't a known workaround, but it may be worth using the syslog input along with the parser processor when 1.8 is released.  It is definitely a little more setup but it sidesteps log rotation.

[2018-08-31 06:41] #4614 closed

[2018-08-31 06:45] danielnelson commented on #4071
Fixed in 1.7.0

[2018-08-31 06:45] #4071 closed

[2018-08-31 08:02] pprkut opened #4619 "lumberjack protocol parser"
## Feature Request

Lumberjack is the protocol used by filebeat when configured to send logs to logstash. It's a TCP connection, so conceptually one could then point filebeat's output to the tcp input of telegraf, parse the data using the lumberjack parser and process it with grok before sending it off to influxdb.

Filebeat could then do the heavy lifting of processing the log files, handling log

[2018-08-31 08:26] girgen commented on #4612
Hi, either way of reporting the problem is fine. I'll check it out.

[2018-08-31 09:48] dvenza commented on #4588
I can confirm that the latest master, with the version option works with Kafka 2.0

[2018-08-31 15:45] simonboa opened #4621 "Scraping for events for Azure hosted targets"
## Feature Request

### Proposal:
The ability to scrape Azure hosted targets for data, using Kapacitor.
### Current behavior:
Kapacitor doesn't appear to support this, though we have the following documentation - https://docs.influxdata.com/kapacitor/v1.5/working/scraping-and-discovery/
### Desired behavior:
Customers should be able to use this functionality & we should have detailed documentation

[2018-08-31 15:51] ironpillow commented on #4617
It's my fault. I didn't know telegraf mqtt output plugin appended `hostname` to `topic_prefix`.
For example:
[code]

Above telegraf.conf is working.

Thanks

[2018-08-31 15:51] #4617 closed

[2018-08-31 17:21] omarkohl commented on #3296
I can confirm this issue. It caused a few hours of wasted time. As stated above:

[2018-08-31 18:14] danielnelson commented on #4588
Good news, thanks for checking this out @dvenza.

I think this will need to wait for 1.8 because of the changes to the sarama library version.

[2018-08-31 18:14] #4588 closed

[2018-08-31 18:43] danielnelson commented on #4621
Couple follow up questions:
- Do you want to do this with Kapacitor or with Telegraf?
- What type of data are we talking about, is this prometheus endpoints?
- Can you link to the documentation of what Grafana is providing?

[2018-08-31 19:51] russorat commented on #4568
The current library we are using doesn't support Kerberos: https://github.com/Shopify/sarama/issues/934

Also, the other Go libraried for Kafka doesn't support them either: https://github.com/segmentio/kafka-go/issues/109

So we will need to find a Go library that supports it or implement it ourselves with something like https://github.com/jcmturner/gokrb5

[2018-08-31 21:04] danielnelson commented on #4613
Thanks for the report, it seems that there are some differences in this plugin between Windows and other systems.  The percent_reply_loss is only sent on Windows, and standard_deviation_ms is sent only on non-Windows.

I updated the [README](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/ping) to correct all the issues and bring it up to the latest template, please take a look a

[2018-08-31 21:04] #4613 closed

[2018-08-31 21:12] danielnelson commented on #4593
@vit1251 You should be able to craft a message directly now if you use the [nightly builds](https://github.com/influxdata/telegraf#nightly-builds).

[2018-09-01 08:23] juerg-jenzer opened #4622 "Please add the following to documentation"
telegraf/plugins/inputs/syslog/README.md

Configuration using udp:

[code]

[2018-09-01 17:13] stefa975 commented on #824
Hi, yes the digest logon fails on eap 7.1. I have a fix for that. I can send a PR or diff on  monday.

[2018-09-01 17:57] ohcaka commented on #824
Hi @stefa975 , Sounds Good. I'm waiting your fix. I can follow your update from this link [https://github.com/stefa975/telegraf/tree/master/plugins/inputs/jboss](url) or other link?

Thank you

[2018-09-02 01:53] danielnelson commented on #4590
It doesn't seem like it would be possible to collect the executable path with performance counters, the best you could do is collect all of the processes separately, but you won't know which without checking the pid by hand:
[code]

Another hacky idea is to copy and rename the nssm executable, this seems to work for okay for me, the instance is the name of the executable.
[code]

We might be able

[2018-09-02 01:53] #4590 closed

[2018-09-02 01:57] #3303 closed

[2018-09-02 01:57] #3293 closed

[2018-09-02 01:59] #4499 closed

[2018-09-02 02:46] dels78 commented on #174
I guess that's not happening huh? :(

[2018-09-02 11:25] toni-moreno commented on #824
Hi @stefa975 I can add to my PR (https://github.com/influxdata/telegraf/pull/3537)  if you send me the diff .

I've also noticed that new EAP and Wildfly versions has big internal changes, ( mainly in the web and mq modules) I've begun to add support to this new versions but seems that wildfly has bugs on the  HTTP management API.

I've opened some weeks ago a related issue (https://github.com/wil

[2018-09-02 11:36] kjedrol commented on #4590
Thank You so much!
It helped!
Glad, that there are people like You :)

niedz., 2 wrz 2018, 03:53 użytkownik Daniel Nelson <notifications@github.com>
napisał:

[2018-09-03 01:23] volfco opened #4624 "Added support for custom datadog URL"
## Feature Request

The official Datadog Agent allows for specification of a custom datadog url.

### Proposal:

Convert the hard-coded constant into a configuration key that can be overridden in the config file.

### Current behavior:

### Desired behavior:

### Use case: [Why is this important (helps with prioritizing requests)]

Allows the user to change the endpoint that the metrics are submit

[2018-09-03 13:03] darox opened #4625 "Telegraf reporting error where config doesn't exist"
My telegraf instace is reporting the following error:
telegraf[22896]: 2018-09-03T12:57:20Z E! [outputs.influxdb]: when writing to [http://localhost:8086]: Post http://localhost:8086/write?db=telegraf: d

Although I have setup the outputs.influxdb plugin with a different hostname. Is there any reason for that?

[2018-09-03 15:08] umitdemirbaga1 commented on #3250
Hi @Manikandan25,
I am trying to collect Hadoop metrics via Telegraf. I cannot find enough documentation about that. Could you please inform me about this?

[2018-09-03 15:25] makzdot opened #4626 "jti_openconfig_telemetry unexpected behavior when str_as_tags = true"
### Relevant telegraf.conf:
[[inputs.jti_openconfig_telemetry]]
  ## List of device addresses to collect telemetry from
  servers = ["myrouter:50051"]
  username = "blah"
  password = "blahblah"
  client_id = "gobbler"

  sample_frequency = "5000ms"

  sensors = [
   "jti_interfaces /interfaces",
   "10000ms jti_bgp /network-instances/network-instance/protocols/protocol/bgp",
   "300000ms jti_comp

[2018-09-03 20:18] silveriodba opened #4627 "Error in plugin [inputs.exec]: metric parse error: expected field at offset 127"
### Relevant telegraf.conf:
[agent]
  interval = "15s"
  round_interval = true
  metric_buffer_limit = 1000
  flush_buffer_when_full = true
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  debug = false
  quiet = false 

[[outputs.influxdb]]
  urls = ["https://xx.xxx.xxx.xx:8086"] # required
  database = "databasename" # required
  precision = "s"

  timeout = "15s"
  us

[2018-09-04 05:16] stefa975 commented on #824
Hi @toni-moreno and @ohcaka ,
I pushed my changes to my fork.
https://github.com/stefa975/telegraf/tree/master/plugins/inputs/jboss has my latest changes.

You can take the best parts from there.

[2018-09-04 08:43] david-guenault commented on #4613
Look good to me
thx.

[2018-09-04 09:47] ohcaka commented on #824
Hi @stefa975 ,

Great Thank. I just test from [](https://github.com/stefa975/telegraf/tree/master/plugins/inputs/jboss)
Your fork has fixed "status code 401 (Unauthorized)" issue.

More thing. I want to monitor DataSources statistic.

In EAP6.4, I have monitor list as below.
"jboss_jvm"
"jboss_database"
"jboss_ejb"
"jboss_jms"
"jboss_web_app"
and  "jboss_web_con".

In EAP7.0 - EAP7.1, I can monito

[2018-09-04 10:48] toni-moreno commented on #824
I think the issue is in the big changes from JBoss AS <7.X ( JBoss EAP 6.X ) vs Wildfly >= 8 ( JBoss EAP 7.X).

https://stackoverflow.com/questions/31756933/what-is-the-difference-between-jboss-eap-wildfly-jboss-web-and-jboss-server

I have ready a patch for some components but not working for some others (undertow,active mq) as I told you some days ago.

I will update my PR as soon as I come back

[2018-09-04 11:34] evollution opened #4629 "[inputs.cpu]: Error: current total CPU time is less than previous total CPU time"
### Relevant telegraf.conf:
 [[inputs.cpu]]
     percpu = true
     totalcpu = true
     fielddrop = ["time_*"]

### System info:
Windows Server 2016; Telegraf v1.7.4

### Steps to reproduce:

1. ...
2. ...

### Expected behavior:

### Actual behavior:
[code]
### Additional info:

Could you please help me with this issue, i do not actually understand what is this caused by ?

[2018-09-04 13:26] m82labs opened #4630 "Issues building on Windows 10"
### Relevant telegraf.conf:
N/A

### System info:
Fresh "go get" of telegraf
Windows 10
go 1.11
GNUWin32 Make 3.81

### Steps to reproduce:
I am running through the steps in the appveyor.yml file manually:
1.  `go get -d github.com/influxdata/telegraf`
2.   `go get -d github.com/golang/dep`
3.  `cd "%GOPATH%\src\github.com\golang\dep"`
4. `git checkout -q v0.5.0`
5.  `go install -ldflags="-X main.

[2018-09-04 13:28] ohcaka commented on #824
Hi @toni-moreno

"I have ready a patch for some components"

Thank you

[2018-09-04 13:50] hkraal opened #4631 "Output value usage_iowait is always 0"
### Relevant telegraf.conf:
[code]

### System info:
* Debian GNU/Linux 7.6 (wheezy)
* Telegraf v1.7.4
* Kernel 4.4.150 with grsec

### Steps to reproduce

* Run Telegraf normally / test output
[code]

* Check the data being send to InfluxDB
[code]

### Expected behavior:

* `usage_iowait` being higher than `0`

### Actual behavior:

* `usage_iowait` is always `0`

### Additional info:

An stack t

[2018-09-04 13:51] Daryes opened #4632 "S.M.A.R.T. Input Plugin enhancements : convert health_ok to int and collect additional attributes"
## Features Request

### 1 : Change the drive status (health_ok) from boolean to int.
Influxdb just doesn't play nice with boolean field, any aggregation done will be limited to a very few number of selectors, otherwise an error will be raised.

The caveat would be that the `smart_device.health_ok` field, if not the whole `smart_device` measurement would require to be dropped before.
Maybe for thi

[2018-09-04 18:18] danielnelson commented on #4630
I have never seen this error, can you try with Go 1.10.3?  Make sure to remove the [DEPCACHEDIR](https://golang.github.io/dep/docs/env-vars.html#depcachedir) and the vendor directory.

If that doesn't change anything I think we should report it to https://github.com/golang/dep

[2018-09-04 18:19] stefa975 commented on #824
Hi, I found out that the http digest client I use breaks the login  on eap 6. So I'll try to fix that.

[2018-09-04 19:00] m82labs commented on #4630
Thanks @danielnelson I'll give it a try.

[2018-09-04 19:13] danielnelson commented on #4625
Can you attach your full config file?

[2018-09-04 19:16] danielnelson commented on #4622
I have it without binary framing `(o)` in my notes, should we document it like this?:
[code]

[2018-09-04 19:38] danielnelson commented on #4629
I think this is a bug, as a workaround you can use the `win_perf_counters` plugin on Windows:
[code]

[2018-09-04 22:35] narayanprabhu commented on #272
Hi,
I'm pretty new to the TICK stack and getting used to this. We are trying to setup the TICK stack as the monitoring platform for our organization. One question that has been pounding up is on how we manage the configurations - for instance if we need to monitor one service/process on a server we would have to make changes to the config on the server and restart telegraf. On doing some research

[2018-09-05 00:14] danielnelson commented on #4301
I'm hijacking this issue for another intermittent issue (previous issue seems to be fixed):
[code]

@vlastahajek Do you have time to look at this?

[2018-09-05 01:27] voiprodrigo commented on #272
@narayanprabhu I use Puppet to ease that kind of pain.  It knows all the services that are “ensured” on each server, and that makes it easier to deploy  a matching Telegraf config.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-05 01:54] narayanprabhu commented on #272
@voiprodrigo Yes puppet is a good option, unfortunately my organization does not have that solution. They mainly rely on SCCM for windows deployment and Ansible for the linux. This thread says that there is a UI option being built for chronograf to manage agent configs, is that option still being built. Wondering if that is coming up anytime soon?

And there is something about etcd where we can ha

[2018-09-05 01:56] danielnelson commented on #4626
Can you enable a `file` output:
[code]

And then run telegraf like this for one interval and paste the output:
[code]

[2018-09-05 15:59] glinton commented on #174
@dels78, If you have the means and time, we welcome pull requests. We do still need to "design a concrete data model" as [stated in this comment](https://github.com/influxdata/telegraf/issues/174#issuecomment-320754737).

[2018-09-05 20:24] OmegaVVeapon opened #4636 "SNMP fetching fails when last traceroute hop doesn't match agent IP"
### Relevant telegraf.conf:
[code]

### System info:
- Telegraf v1.7.3
- CentOS7
- Using the dockerized telegraf image

### Prerequisites:
Have a switch (or another SNMP server) who's destination IP isn't the last traceroute hop.
For example, our switch on `172.16.10.6` returns the following `traceroute` from this machine:
[code]

### Steps to reproduce:
1 - Try to collect SNMP metrics on IP `172.

[2018-09-05 21:25] #4636 closed, assigned to nobody

[2018-09-06 00:13] #4630 closed

[2018-09-06 00:13] m82labs commented on #4630
Clearing the DEPCACHE fixed the issue. Thanks

[2018-09-06 00:29] danielnelson commented on #4630
Glad you got it working, mysterious.

[2018-09-06 01:50] danielnelson commented on #4288
The updated gopsutil release that does not run udevadm has been merged, so this change will be in 1.8.

[2018-09-06 01:50] #4288 closed

[2018-09-06 07:46] bolek2000 commented on #4610
On Ubuntu 14.04 the restart problem shows up  diffferently. Here telegraf processes are not stopped properly (because of lack of systemd kill mechanisms ?) and are piling up. The problem is, that they still produce load and after a couple of weeks the load rises dramatically.
Luckily we always renice all telegraf processes. This problem I saw first after upgrade to 1.7.3. Now I am on 1.7.4, and wi

[2018-09-06 11:21] gusakk opened #4638 "Telegraf adds incorrect tags to measurements"
### Relevant telegraf.conf:
[code]
### System info:
 - Ubuntu 18.04.1 LTS (bionic)
 - Telegraf v1.7.4

### Preconditions:
- `correct_metrics.sh` - valid measurements (InfluxDB Line Protocol)
[code]

- `incorrect_metrics.sh` - invalid measurement (doesn't contain any fields)
[code]
### Steps to reproduce:

1. Run the Telegraf with the appropriate configuration which is described above:
[code]
2. Ma

[2018-09-06 11:23] rununrath opened #4639 "Monitor JBoss performance"
## Feature Request
Hi ,
I try to used Jolokia2 Input Plugins for monitor JBoss and I used https://github.com/influxdata/telegraf/blob/master/plugins/inputs/jolokia2/examples/jboss.conf to collect JBoss resource information and performance.
I want more details as MaxHeapSize of JBoss server, Max connection of each data source.

Please guide me to get above details. Thank you.

[2018-09-06 14:30] makzdot commented on #4626
Hi @danielnelson

Thank you for your reply. Attached a couple of seconds of output.

Regards,
Max

[jti_output.txt](https://github.com/influxdata/telegraf/files/2357453/jti_output.txt)

[2018-09-06 15:05] erangt opened #4641 "MacOs"
Hi,
Can you monitor specific process with it in MacOS machines?

I want to monitor the process cpu,memory ... like ps aux.

Thanks,

[2018-09-06 15:53] 6d6178 commented on #4582
Sorry for not getting back to you sooner.
I tried it with namepass but it didn't change the output. Is the placement of the Processor part in the config important? I have it in a file in the config directory. Or is it more likely that the processor doesn't match the field for some reason?
On that note, is there a way to show all the plugins (inputs,outputs,processors) that are loaded on startup to

[2018-09-06 18:17] jcmcken opened #4643 "CloudWatch input metrics start time calculated from period, not interval, leading to missing data"
Here's something I'm trying to accomplish:

I want to retrieve certain EC2 metrics every 15 minutes. I want to retrieve the metrics in 5 minute periods, so that for a single metric and dimension, I should have 3 data points. Here's an example using AWSCLI:

[code]

Looking at [the plugin code](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/cloudwatch/cloudwatch.go#L363), though,

[2018-09-06 18:36] danielnelson commented on #4643
Interval is not exposed to the plugin, but I think the idea is good.  Instead of always taking the last point, collect all points since the last call.  Is this something you could work on?

[2018-09-06 18:37] danielnelson commented on #4641
You can use the procstat plugin.  If you need more help, please ask general questions at the [InfluxData Community](https://community.influxdata.com) site.

[2018-09-06 18:37] #4641 closed

[2018-09-06 19:19] jcmcken commented on #4643
I'm not super experienced with Go, but I can give it a whirl. Would you want a new parameter added, since ``interval`` isn't exposed to the plugin? Or were you thinking to memoize the last retrieval time and use that as the new start time?

[2018-09-06 19:30] danielnelson commented on #4626
@ajhai Do you have any suggestions on how we could improve the data schema here?

[2018-09-06 19:34] danielnelson commented on #4643
I think the later method would work best.  On the first time Gather is called we would just grab a single period and save the end-time in the plugin struct, then on subsequent calls we would use the previous value for the start-time.  If an error occurs during Gather, we should still update the end-time so that we don't fall behind.

[2018-09-06 20:24] #4639 closed, assigned to nobody

[2018-09-06 22:02] ajhai commented on #4626
We can probably explain str_as_tag option better. If the data type of incoming value is string, this flag will allow that value to be stored as a tag instead of trying to store it as a field value.

https://github.com/influxdata/telegraf/blob/master/plugins/inputs/jti_openconfig_telemetry/openconfig_telemetry.go#L159

Also, https://github.com/influxdata/telegraf/blob/master/plugins/inputs/jti_open

[2018-09-06 22:29] danielnelson commented on #4626
One observation I have is that we are creating multiple metrics with the same series:
[code]

If we were to combine these, into a single telegraf.Metric containing all the fields, then any string fields that are promoted to tags would be applied to all fields.

As an aside, do you know of a good resource to get a better overview of the concrete structure of the sensors?  Perhaps something like the

[2018-09-06 22:35] danielnelson opened #4644 "Support tailing files created after startup in tail input."
## Feature Request

### Proposal:

Logparser supports tailing new files that match the list of patterns as they are created.  Before we can deprecate the logparser plugin we need to add this functionality to the tail input.  Also update the github label to be area/tail.

### Current behavior:

The tail plugin checks for matching files on startup only.

### Desired behavior:

Check for new matches

[2018-09-06 23:50] glinton commented on #4638
Thanks for this detailed report, I was able to reproduce this behavior. I'll see if anything stands out as a cause

[2018-09-07 00:44] #4607 closed

[2018-09-07 00:45] #4638 closed

[2018-09-07 00:53] danielnelson commented on #4631
My guess is that /proc/stat appears different to the `telegraf` user than it does to your regular user.  Can you try running `cat /proc/stat` as the telegraf user and comparing to your normal account?

[2018-09-07 01:13] danielnelson commented on #4398
Closed in #4571

[2018-09-07 05:23] Dees7 opened #4647 "mqtt_consumer stops gathering metrics"
### Relevant telegraf.conf:
[code]
### System info:

Telegraf unknown (git: master 3268937c)
mosquitto version 1.4.10 (build date Fri, 22 Dec 2017 08:19:25 +0000)
Description:    Raspbian GNU/Linux 9.4 (stretch)

### Steps to reproduce:

Unexpected stops gathering metrics

Debug log looks like

    2018-09-07T05:16:20Z D! Output [influxdb] buffer fullness: 96 / 1000 metrics.
    2018-09-07T05:16:2

[2018-09-07 06:06] pengliangcheng opened #4648 "Is there any plan to support the monitoring of go procedures?"
Is there any plan to support the monitoring of go procedures?

[2018-09-07 06:44] evollution opened #4649 "ObjectName = "ASP.NET", does not dispaly any information"
### Relevant telegraf.conf:
  [[inputs.win_perf_counters.object]]
    # IIS, ASP.NET
    ObjectName = "ASP.NET"
    Counters = ["Application Restarts", "Request Wait Time","Requests Current","Requests Queued","Requests Rejected"]
    Instances = ["*"]
    Measurement = "win_aspnet"
    IncludeTotal=true #Set to true to include _Total instance when querying for all (*).

### System info:
Windows Se

[2018-09-07 07:09] 6d6178 commented on #4582
You are absolutely right. I totally forgot about that when I saw the processor plugin. I tested it and it does indeed work.
It's up to you if we mark this as solved with this "workaround" or try to find out what is wrong as the processor is seemingly not working as intended.

[2018-09-07 09:02] Thidjs opened #4650 "Need help with parsing JSON with strings in Telegraf inputs.http"
### **Relevant conf**
telegraf.conf
[code]

json response
[code]
### **System info**
Windows 10 fully updated
Telegraf latest nightly (7 sept)

### **Steps to reproduce**

I want to use the json_query, because I don’t need the “charts” stuff, only the stats-portion.
The issue is that when I leave the json_query out, it only parses the charts-part like charts_payments_0_0 with as field the numeric

[2018-09-07 11:18] mayukhg opened #4651 "Is telegraf a replacement for FileBeat/Logstash"
Trying to understand how this differs from a log shipper

[2018-09-07 13:28] hkraal commented on #4631
@danielnelson your guess is spot on. The telegraf user wasn't part of the "proc" group in this specific case which was easily fixed, thank you for your time!

[2018-09-07 13:28] #4631 closed

[2018-09-07 13:28] turbo commented on #4335
This issue is not fixed. I experience the exact same error as @mthota15

[2018-09-07 17:04] Daryes opened #4652 "Windows : telegraf doesn't respect round_interval and collect data too soon"
Might be related (or not) to #4487

### System info:
Telegraf-1.7.3 on Windows Server 2012

### Steps to reproduce:
use   `interval = "5m"` with `round_interval = true` in telegraf.conf
1. run telegraf and wait up to ~48h
2. query the windows measurements in Influxdb

### Expected behavior:
query influxdb, returning the metrics with a timestamp at [0 or 5]:00 +jitter sec

### Actual behavior:
the

[2018-09-07 17:12] glinton commented on #4335
@turbo, what version of telegraf are you using, what does your config look like, and have you tried the suggestions outlined in #4482? (specifically having telegraf syslog address use udp as it doesn't require octet framing)

[2018-09-07 17:23] infa-stopiwal opened #4653 "Question: kafka_consumer plugin topic regex"
Can the current kafka_consumer plugin use "*" as a regex for the topics key to specify all topics or topics matching a specific regex?

[2018-09-07 18:50] Dees7 commented on #4647
Looks like telegraf disconected and doesn't try reconnecting. mosquitto doesn't publish messaget to telegraf
[code]

judging by logs telegraf begins gather less metrics with no error messages
[code]

[2018-09-07 18:51] danielnelson commented on #4652
I believe it could be because of the way time.Ticker works in Go.  The ticker goes off every interval, which could be subject to drift or system clock synchronization changes.  The times not being aligned can cause problems with certain aggregations.

As a limited workaround, you could consider setting precision higher, here is the most recent documentation along with how to set this value properl

[2018-09-07 18:56] tjratch commented on #3225
@nheath I've been starting at my telegraf.conf forever wondering what's wrong. lol Thank you for point out the single braces!

[2018-09-07 19:18] glinton commented on #4335
@turbo if you don't mind continuing this in 4482, that better describes your issue, thanks.

[2018-09-07 19:18] #4335 closed

[2018-09-07 19:33] danielnelson commented on #4650
Thanks for the help testing, looks like this feature was not working due to some mixup in the variable naming.  Once #4656 is merged you should use the option `json_string_fields` instead of `string_fields`, your query and other settings are all correct.

[2018-09-07 19:44] makzdot commented on #4626
@danielnelson I think your observation is correct and if those metrics would be combined (better/differently), that would solve my problem.

I have not yet found a 'definitive' documentation on the JTI data structure for openconfig. I think it is still a little sparse at the moment. As it tends to be with new Juniper technology and features. But maybe @ajhai can shed some light on that.

[2018-09-07 19:45] danielnelson commented on #4582
It would be nice to figure out what the converter issue is, but it seems to be working for me.  Here is how I'm testing:
[code]

Then I start Telegraf and from another shell run:
[code]

Telegraf outputs the converted integer values:
[code]

Can you try that out and see if it works for you?

[2018-09-07 19:49] danielnelson commented on #4649
Can you see these performance counters in perfmon?

https://www.thewindowsclub.com/how-to-use-perfmon-performance-monitor-windows

[2018-09-07 20:03] danielnelson commented on #4653
It is not possible currently.  For the updating reasons mentioned in this issue on sarama-cluster we probably will not attempt to add it externally, so it is unlikely we can add this anytime soon.

https://github.com/bsm/sarama-cluster/issues/36

[2018-09-07 20:03] #4653 closed

[2018-09-07 20:05] danielnelson commented on #4648
There is no plan, but you can open a feature request if you can add more detail about how it would work:  what process is monitored, what options should exist, what metrics would be gathered, etc.

[2018-09-07 20:05] #4648 closed

[2018-09-07 20:50] #4398 closed

[2018-09-07 21:25] #4647 closed, assigned to nobody

[2018-09-07 21:55] danielnelson commented on #4626
I think the data must be spread across messages in the gRPC stream.  Since the data is streaming in there is no clear point where we can aggregate the data into a combined metric, that is we don't know how long to hold onto the metric in case another one comes in with the same tags.

We could potentially write an aggregator that just merges series, I'm unsure if it is the best solution though.

[2018-09-08 00:14] Daryes commented on #4652
You might be right with the situation related to a drift with the system time.  I have already had problems with VM and time drifting before, until switching VM time sync directly to a NTP server instead of relying to the host physical clock (which itself was sync on a ntp server).

Just changed the precision parm, we'll see in some hours.
But, unless I'm mistaken, the documentation you provided c

[2018-09-08 01:17] danielnelson commented on #4652
I probably need to reword the documentation, but what it is meant to say is that the **default** value changes based on the interval and the highest default chosen is "1s".  If you do set the value though it is required to have a constant in addition to the units.  So it actually should be "1s" and not "s", otherwise the default is used.

[2018-09-08 21:28] ajhai commented on #4626
@danielnelson This is flattened hierarchical data being emitted as key value pairs. So key here is essentially a path from root of the tree to that level. We are breaking this xpath key back into that hierarchy creating one field per key element at a level with keys at parent levels as tags.

In this
[code]
we have different values for /interfaces/interface/@name.

https://www.juniper.net/document

[2018-09-09 01:12] smalenfant opened #4658 "Report interface speed in net module"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

It seems like there is no statistics on interface speed today available.
Statistics available from /sys/class/net/<dev>/speed

### Current behavior:

N/A

### Desired behavior:

Get interface speed along with net statistics.

### Use case: [Why is this important (helps with prioritizing requests)]

Calculate perc

[2018-09-10 07:26] turbo opened #4660 "Docker Swarm: No Data on Telegraf Syslog Input"
### Relevant telegraf.conf:

[code]

### System info:

Here is the complete stack:

[code]

### Steps to reproduce:

1. Deploy the stack

### Expected behavior:

- syslog table autogenerated, log messages from chronograf service available in log viewer

### Actual behavior:

- No logging input (syslog tables absent also in Data Explorer)

### Additional info:

Docker doesn't complain about the ser

[2018-09-10 07:33] turbo commented on #4660
Additonal Info 1:

The dummy TLS config by @glinton keeps the chronograf service from starting alltogether:

[code]

[2018-09-10 07:43] turbo commented on #4660
Progress:

I have setup rsyslog on the manager:

[code]

I have changed to telegraf config to bind on all interfaces and added an additional output:

[code]

I have changed my logging extension to:

[code]

Now, in the data explorer, I can see the syslog table and query it manually:

[code]

![syslog](https://user-images.githubusercontent.com/8023543/45283209-84961300-b4dd-11e8-8108-ce4ec39f1e91.p

[2018-09-10 07:53] turbo commented on #4660
Progress 2:

I've changed the Telegraf config as follows:

[code]

Now logs appear in log viewer. However, only dockerd and other system logs, no entries related to the docker container chronograf, which is supposed to log.

[2018-09-10 08:04] dannybeeckman opened #4661 "http_response: unable to filter based on hostname, protocol or port in the database."
Because the URL is only available in the full url format in the database, I am not able to select (group/filter) a specific hostname in the http_response plugin.

**AS IS:**
`http_response,result=success,server=https://www.google.com:443/search/,status_code=200 http_response_code=200i,response_time=0.00778448,result_code=0i,result_type="success" 1536565736000000000`

**TO BE:**
`http_response,host

[2018-09-10 08:06] dannybeeckman commented on #4661
#4662

[2018-09-10 09:14] turbo commented on #4660
Update yet again. The Rsyslog config was bogus (taken from the Influx blog). The new syntax configures the UDP module directly. Only the last line for the proxy is needed.

**Configure Rsyslog**

Uncomment and modify:

[code]

Append:

[code]

**Configure Telegraf**

[code]

**Configure Your Stack**

[code]

(i.e. don't set the msg format!)

**Enjoy**

![logfinal](https://user-images.githubusercon

[2018-09-10 09:14] #4660 closed

[2018-09-10 10:00] topdogs opened #4663 "plugins/inputs/redis password contain "#" parse fail"
[[inputs.redis]]
servers=["tcp://:passw@rd#aaa@localhost:6379"]

command：
telegraf --config telegraf.conf --input-filter redis --test

result：
 E! Error in plugin [inputs.redis]: dial tcp: address rd: missing port in address

[2018-09-10 10:03] tuapuikia opened #4664 "Mongodb input connection metrics"
### Relevant telegraf.conf:

### System info:

Telegraf version: nightly version (mater 54f28eef)
Input plugin : mongodb
Enabled : gather_perdb_stats = true

### Steps to reproduce:

1. Configure mongodb shard cluster (3 replica set with 1 primary + 2 secondary)
2. Collect mongodb metric using telegraf --config /etc/telegraf/telegraf.conf --test

### Expected behavior:
1. Connection metric availab

[2018-09-10 11:14] AjithKumar-Raj opened #4665 "Telegraf Aerospike Plugin with Latency Info"
## Feature Request

Opening a feature request for Telegraf Aerospike Plugin with Latency Info.

### Proposal:

We can get details of every namespace Read, Write, UDF and Query operations latency in counts.
### Current behavior:

We are getting only queries aerospike server(s) and get node statistics & stats for all the configured namespaces.

### Desired behavior:

We will get node statistics & st

[2018-09-10 12:20] olljanat opened #4666 "Support for Windows containers"
## Feature Request
Currently containerized version of Telegraf is only available for Linux and it would be very useful to have it for native [Windows containers](https://docs.microsoft.com/en-us/virtualization/windowscontainers/about/) too.

### Proposal:
* Make sure that Docker plugin is able to communicate with Windows containers
* Implement Dockerfile for Windows containers:  https://github.com

[2018-09-10 15:38] jcmcken commented on #4643
I need to inquire about the CLA with my company before signing, but the PR is up for review.

I decided to store the full window info in the plugin struct, and modify a few things with that assumption in mind. But I can change it if there's a different preferred way of doing it

Is there anything I need to update in the README?

[2018-09-10 16:01] glinton commented on #4658
Thanks for the suggestion. If you'd like, you are more than welcome to add this functionality to telegraf.

[2018-09-10 16:56] voiprodrigo opened #4668 "Add stats reset as an option to the redis input plugin"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

Add an option to the redis plugin to enforce a stats reset.

### Current behavior:

No reset is performed.

### Desired behavior:

Provide the option to send the CONFIG RESETSTAT command after the INFO command.

https://redis.io/commands/config-resetstat

### Use case: [Why is this important (helps with prioritiz

[2018-09-10 17:44] glinton commented on #2825
@HansonHH 1.8 should be released by the end of the month with an RC coming before that.

[2018-09-10 17:56] HansonHH commented on #2825
@glinton Thanks for the info! Looking forward to 1.8 with the latest and greatest!

[2018-09-10 18:49] danielnelson commented on #4626
Yeah, my example was not valid.

@makzdot Can you perform the same collection as above but with `str_as_tags = false`?  To aid with comparison can you also set `influx_sort_fields = true` in the file output?

[2018-09-10 18:50] jgitlin-bt commented on #3239
@danielnelson I have a concern with what was proposed on #3996, namely that if it becomes mandatory in a future version (I.E. there's no way to disable it) then it will require that processes sending to the socket have the same group id as telegraf... this will be an issue for my usage, where processes send InfluxDB line protocol stats to the socket but these process need to be in a separate group

[2018-09-10 18:53] #4520 closed

[2018-09-10 18:54] danielnelson commented on #4400
Closed by #4411

[2018-09-10 18:54] #4400 closed

[2018-09-10 18:55] #4650 closed

[2018-09-10 18:56] #4509 closed

[2018-09-10 19:28] jcmcken commented on #4643
All the PR requirements are completed

[2018-09-10 22:57] glinton commented on #2786
I wonder if the reason the non-special character password didn't work is because a bad url format, there should be a leading `:` that separates the empty username with the defined password. `tcp://:kool1@localhost:6379` 4669 resolves this in any case.

[2018-09-10 23:11] danielnelson commented on #4666
@olljanat That would be great if you could look into this.  I haven't researched this at all but the main question I have is if the image would have to be built on a Windows machine or if it can be created from Linux.

[2018-09-10 23:12] danielnelson commented on #4658
We should consider if this would be a good fit in gopsutil as well.

[2018-09-10 23:40] danielnelson commented on #3239
We can do this, I think we would only use SCM_CREDENTIALS if it is configured, and use directory permissions by default.

[2018-09-10 23:45] #2786 closed

[2018-09-10 23:45] #4663 closed

[2018-09-10 23:56] voiprodrigo commented on #4668
Ok, understandable. No problem when doing regular queries to the database, but actually the use case  I had in mind when submitting this was streaming in kapacitor, where I just want to alert on every detected growth.

[2018-09-11 00:02] danielnelson commented on #4668
Do you have the processing flow lined up like:
[code]
or:
[code]

[2018-09-11 00:03] voiprodrigo commented on #4668
I guess I can use changeDetect|difference for that.

[2018-09-11 00:04] danielnelson commented on #4668
What about this node? https://docs.influxdata.com/kapacitor/v1.5/nodes/derivative_node/

[2018-09-11 00:07] voiprodrigo commented on #4668
@danielnelson it’s telegraf to influx then to influx, streaming via subscriptions.

[2018-09-11 00:13] voiprodrigo commented on #4668
@danielnelson a rate over 0 would provide the same indication, but from|difference seems more direct? Haven’t tested though, only tomorrow.

[2018-09-11 00:28] danielnelson commented on #4668
I think since you want to detect any rise either one will do the job.

I'm going to close this issue but let me know if you have trouble or aren't happy with the results when you test it out tomorrow.

[2018-09-11 00:28] #4668 closed

[2018-09-11 00:38] danielnelson commented on #4409
It sounds like this issue can be closed, there is no changes to make at this time.

[2018-09-11 00:38] #4409 closed

[2018-09-11 00:40] danielnelson commented on #4595
@BenjaminLSmith What would you use to consume the data from Kafka?

[2018-09-11 02:32] BenjaminLSmith commented on #4595
@lpic10 That would also work, however doesn't it seem duplicative to use Telegraf twice in a data flow?
@danielnelson The idea is to use Logstash to do additional data enrichment to pull from Kafka and push to Elasticsearch.

Overall, data is destined for an Elastic product, It just would be nice not have to do basic enrichment (like set @timestamp to be the event time) that the Elasticsearch outp

[2018-09-11 06:34] zhangjianweibj opened #4671 "input exec bug report"
version:Telegraf v1.7.4 (git: release-1.7 578db7ef)
config the telegraf.conf input.exec then start telegraf ,log shows telegraf exec not support csv property.why?
my configuration below:
![image](https://user-images.githubusercontent.com/18585129/45342173-b12a5780-b5cf-11e8-85d4-0afa7da408ee.png)

error log:
![image](https://user-images.githubusercontent.com/18585129/45342068-5b55af80-b5cf-11e8-8f

[2018-09-11 06:49] danielnelson commented on #4671
The csv option will only be available in 1.8.0, but you can test with one of the [nightly builds](https://github.com/influxdata/telegraf#nightly-builds) and we should have a release candidate out later this week.

[2018-09-11 06:49] #4671 closed

[2018-09-11 07:25] dearco opened #4673 "Linux Pool metrics needs "health" & "operations/bandwidth""
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
More and more people use zfs on ubuntu 16.04/18.04, we need more metrics for monitoring zpool status.

### Current behavior:
No metrics for linux zpool of "health" & "operations/bandwidth".

### Desired behavior:

### Use case: [Why is this important (helps with prioritizing requests)]
help indicating the status o

[2018-09-11 07:26] vlastahajek commented on #4301
@danielnelson, I'm busy with sth else,  I can look at this in ~ 2 weeks

[2018-09-11 08:48] langerma opened #4675 "Elasticsearch Metrics are not correctly parsed/emitted to OpenTSDB"
### Relevant telegraf.conf:
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 100
  metric_buffer_limit = 4000000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  hostname = ""
  omit_hostname = false

[[outputs.opentsdb]]
   host = "http://127.0.0.1"
   port = 14242
   httpBatchSize = 100

[[inputs.

[2018-09-11 11:54] jbrischle commented on #2835
@danielnelson could you please add this to the readme? Thanks.

[2018-09-11 12:04] GillesC commented on #4650
The MQTT consumer has not defined `json_string_fields` in the latest nightly build for the `armhf` platform.
I will now build from source and update my comment.
However, I think this should be clearly described in the documentation of the input data format.

[2018-09-11 14:24] mvuets opened #4677 "docs: Link to InfluxDB line-protocol description"
I work with a Telegraf plugin that has `data_format` configured to `influx`. As a brand new user of Telegraf I wonder what that is, so I go to the [documenation page](https://github.com/influxdata/telegraf/blob/e85a9e09565949c204ef522b4dc3f9a27bfc7a6d/docs/DATA_FORMATS_INPUT.md#influx) only to discover that it is a regular "InfluxDB line-protocol". Alas, that does not help (-:

Suggestion: turn "I

[2018-09-11 14:42] goller commented on #4677
Hi @mvuets, good point.  Do you mind creating a PR for that?

[2018-09-11 15:02] GillesC commented on #4650
I finally managed to convert a string-valued json parameter; but not through `string_fields` or `json_string_fields`.

1. I added the needed string-valued key to `tag_keys`
[code]

2.  Than I used the `Converter` processor to convert the tag to a field
[code]
  In your case you could (probably) also use another target type.

3.   Finally, I converted the strings (which could be interpreted as an e

[2018-09-11 15:20] chumbert2 opened #4678 "http input plugin does not honor tag_url option"
### Relevant telegraf.conf:

[code]

### System info:

`Telegraf v1.7.4 (git: release-1.7 578db7ef)` Linux.

### Steps to reproduce:

1. Generate a telegraf config file and enable HTTP input plugin.
2. In `[[inputs.http]]` section, set `tag_url = false`
3. Start Telegraf.
[code]

### Expected behavior:

`tag_url` option is taken into account.

### Actual behavior:

Parsing error:
[code]

### Addit

[2018-09-11 16:03] glinton commented on #4673
Good idea, if you have time and would like to contribute, you can use [the freebsd](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/zfs/zfs_freebsd.go) version as a starting point.

[2018-09-11 16:13] glinton commented on #4675
Thanks for the report, which version of elasticsearch are you using?

[2018-09-11 19:48] danielnelson commented on #4595
I don't see any issues with this as an idea, though from an implementation point of view it will be a lot easier once we have proper separation between serializers: #4330.

[2018-09-11 20:10] danielnelson commented on #3176
We have merged #4339, which is the splunk metrics serializer, (thanks @ronnocol).  What "serializer" means in this case is that you will need to use it along with any output that has the `data_format` option.  There are some good examples in the [documentation](https://github.com/influxdata/telegraf/tree/master/plugins/serializers/splunkmetric).

I'm going to close this issue, but if anyone is int

[2018-09-11 20:10] #3176 closed

[2018-09-11 20:31] danielnelson commented on #2835
My previous comment has the incorrect option name, it should be `json_strings_fields`.  The documentation for the JSON parser(`data_format = "json"`) is here:

https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md#json

Keep in mind that this must be used with an input that supports the `data_format` option, in this case you will want to use the `http` input.

[2018-09-11 20:53] danielnelson commented on #4677
I got it: fa1c572096376727ca46b7ae5620ee890af93c01

[2018-09-11 20:53] #4677 closed

[2018-09-11 21:04] danielnelson commented on #4650
@GillesC `json_string_fields` should be working now, can you post an example of the data you are trying to parse and what your settings are.  Can you also post the output of `telegraf version` for the nightly you are using.

BTW, we are switching around the enum processor config before the release https://github.com/influxdata/telegraf/pull/4672

[2018-09-11 21:15] chezneUE opened #4680 "Telegraf/Prometheus - inputs.mongodb not reporting replica set metrics"
### Relevant telegraf.conf:

https://github.com/influxdata/telegraf/tree/master/plugins/inputs/mongodb

### System info:

[Include Telegraf version, operating system name, and other relevant details]

Telegraf 1.7 latest
CentOS7

user created for mondoDB:
db.createUser({user: "telegraf", pwd: "telegraf", roles: [{role:"userAdminAnyDatabase",db:"admin"}]})

### Steps to reproduce:

1. Follow docume

[2018-09-11 21:32] danielnelson commented on #4678
@chumbert2 I removed this option before the plugin was released, looks like I forgot to clean up the sample config.  The behavior now is to add the url tag if it is not already set by the input data, does this behavior work for you?

[2018-09-11 21:38] danielnelson commented on #2200
I believe this feature was added in https://github.com/influxdata/telegraf/pull/3565

[2018-09-11 21:38] #2200 closed

[2018-09-11 21:39] danielnelson commented on #4673
Let's merge this issue with https://github.com/influxdata/telegraf/issues/2616

[2018-09-11 21:39] #4673 closed

[2018-09-11 21:41] danielnelson commented on #4673
@dearco I don't think that other issue mentions operations/bandwidth, but it definitely discusses health.  Can you add a comment on the other issue along with how you normally view the info you are interested in manually.

[2018-09-11 21:53] #1420 closed

[2018-09-11 21:59] #4643 closed

[2018-09-11 23:07] danielnelson commented on #4522
I have reduced the log level of the error message for 1.8.  We can still add the exclude option but we will need to be mindful not to list services unless required.

[2018-09-12 01:47] #4597 closed

[2018-09-12 07:05] chumbert2 commented on #4678
@danielnelson Ah OK. Actually, I do not want the `url` tag but this can be achieved too by adding `tagexclude = ["url"]` in the config file. Thus, the default behaviour is fine.

[2018-09-12 08:04] #4456 closed

[2018-09-12 09:15] GillesC commented on #4594
I can confirm the aforementioned issue where the nightly build connects two times to the broker.
[code]
It also seems that the mqtt_consumer stopped gathering metrics after some hours as stated by the reference.

[2018-09-12 14:49] m82labs commented on #2524
Does this issue still need work done on it?

[2018-09-12 14:50] m82labs commented on #2824
@jgerschk is this still something you are having trouble with?

[2018-09-12 14:51] m82labs commented on #2852
@cstovi is this still an issue for you?

[2018-09-12 15:00] aurimasplu opened #4683 "inputs snmp ignores zero retries setting"
### Relevant telegraf.conf:
[[inputs.snmp]]

agents = ["router.testdom.net"]

  interval = "60s"
  **timeout = "2s"**
  **retries = 0**
  version = 3
  max_repetitions = 30

  ## SNMPv3 auth parameters
  sec_name = "snmpuser"
  auth_protocol = "SHA"
  auth_password = "snmpapass"
  sec_level = "authPriv"
  context_name = ""
  priv_protocol = "AES"
  priv_password = "snmpppass"

    [[inputs.snmp.ta

[2018-09-12 15:07] cstovi commented on #2852
It's not.  I don't know if it works now as we only have a handful of instances using this and they are not using the host/instance format.  We only had a couple which needed it back then.

[2018-09-12 16:11] olljanat commented on #4666
@danielnelson it need to be created on Windows. That is only way.

Btw. Is there some reason that Docker client is set to use 1.21 version instead of some newer one? (https://github.com/influxdata/telegraf/blob/master/plugins/inputs/docker/client.go#L14)
1.24 is first one which is supported by Windows containers.

[2018-09-12 16:36] toni-moreno commented on #824
Hi @ohcaka, @stefa975  , I've updated the PR with wildfly support , ( where HTTP API is working ok). (https://github.com/influxdata/telegraf/pull/3537/commits/48af54039f405eee8996f6026c7fcd435a154683)

Could you compile and test again ?

[2018-09-12 16:52] glinton commented on #4666
The docker client is set to 1.21 to support older docker versions. Iirc, it will still work with newer server versions, let me know if you find differently.

[2018-09-12 17:09] glinton commented on #4683
I wonder if this is an error in the [underlying library](https://github.com/soniah/gosnmp), as it is what handles the retries.

[2018-09-12 18:55] danielnelson commented on #4678
I removed the option from the sample config for now.  37fefa300b87d72e8d96028af3da0230b1093d36

[2018-09-12 18:55] #4678 closed

[2018-09-12 18:56] #2852 closed

[2018-09-12 21:27] pikilon opened #4685 "On deleted Message event"
## Feature Request

I want my bot to detect when a user deleted a message.
I am counting the words in the whole chat and I need to update my ddbb in order to delete this words.

### Proposal:
[code]
### Current behavior:
Nothing
### Desired behavior:
Returned the deleted message id and if possible the type

### Use case: [Why is this important (helps with prioritizing requests)]
For any bot that p

[2018-09-12 21:32] danielnelson commented on #4685
I think you may be looking for the https://github.com/telegraf/telegraf project?

[2018-09-12 21:32] #4685 closed

[2018-09-13 00:50] Touchedegris opened #4687 "expecting a version value in the range 1-999 [col 5]"
### Relevant telegraf.conf:

[[inputs.syslog]]
  server = "udp://:6514"

### System info:

CentOS 7 with official Docker container 1.7.4

Syslog messages sent from a network switch.

### Actual behavior:
Receive the following error message everytime telegraf receives a syslog message:

E! Error in plugin [inputs.syslog]: expecting a version value in the range 1-999 [col 5]

[2018-09-13 05:51] erik-wramner commented on #4222
The readme still doesn't describe how to configure the SQL Server account in Azure.  It is not possible to grant VIEW SERVER STATE and VIEW ANY DEFINITION. I can't find it in any of the issues either. Can you add the settings you were using in #4642, please?

[2018-09-13 12:07] Thidjs commented on #4650
@danielnelson Just tested the latest nightly on my config stated earlier. It works like a charm, al strings defined in json_string_fields are being sent to influxdb. Next step for me is to convert some of these strings to float so I can use them in graphs in Grafana :-) Any suggestions?

[2018-09-13 12:13] 6d6178 commented on #4582
I think I figured it out!
First off, your suggested config works.
I think that I made a different mistake at first which was probably related to my syntax. At some point after opening this Issue I got the config right but I tested it with the "--test". And it seems like the "--test" output does not use the converter. I did the above with the SNMP input and when I use "--test" it shows string and w

[2018-09-13 14:36] chezneUE commented on #2497
this does not work, tried multiple options it shows each process but not duplicates.

Really the procstat is supposed to display all that is visible using the top command in linux, i run top and there are multiple python processes, yet telegraf [[inputs.procstat]] only showing one process with that name when in reality there are three processes with the exact name all with their separate CPU usage

[2018-09-13 15:05] chezneUE commented on #2497
Ok nevermind above post, when running "service telegraf restart" to check configuration changes, the Telegraf software is not completely quitting and as a result the new config cannot be picked up.

[2018-09-13 15:12] chezneUE commented on #4680
Can close this, not a bug with prometheus output,

However, i do believe this needs to be specified in the documentation.

Instead use this depending on the number of MongoDB instances you wish to capture metric from.

servers = ["mongodb://telegraf:telegraf@mongodbhere:27017,mongodbhere:27017,mongodbhere:27017/?replicaSet=s0&authSource=admin"]

Maybe should be added to documentation for MongoDB i

[2018-09-13 15:54] Daryes commented on #4652
Back after having telegraf running until now : I though it was much better, as only the last few hours after 6 days were starting to show the wrong interval, and only a dot from time to time, not multiple block of hours like previously.

That's only due to telegraf doing 2 POST to influxdb, because of `metric_batch_size` reverted to 1000 when I updated the precision to 5s, instead of 5000 like I h

[2018-09-13 16:19] aleszeleny opened #4688 "postgresql_extensible crash on null value"
### Relevant telegraf.conf:
[code]

### System info:

[code]

### Steps to reproduce:

drop target measurement on influxdb side and

select have to capture at least one column with null value, can be simplified:
[code]

### Expected behavior:
Insert null and did not crash
### Actual behavior:

[code]
### Additional info:
crash is not written to logfile.

[2018-09-13 17:50] danielnelson commented on #4582
Yes that's it, the `--test` option right now only runs the inputs and not processors/aggregators/outputs.  Of course you will probably just want to use the conversion option in SNMP but it is good to know that there isn't any major issue with converter, thanks!

[2018-09-13 17:50] #4582 closed

[2018-09-13 18:35] danielnelson commented on #4680
@chezneUE Can you summarize what you found the cause to be?

[2018-09-13 18:38] danielnelson commented on #4652
I wouldn't pay much attention to the output POST times, all the timestamps are set when the metrics are created in the inputs.  The outputs will write when either `metric_batch_size` new metrics have been produced, or after every `flush_interval`, whichever comes first.

[2018-09-13 19:53] Touchedegris commented on #3256
+1
I have the same issue with VLAN/Port association in Alcatel-Lucent switches:
ALCATEL-IND1-VLAN-MGR-MIB::vpaType.1.1005
where 1= VLAN IS and 1005 = my ifIndex.  I would like to split them and have 2 different index tags.

[2018-09-14 00:27] danielnelson commented on #4687
Can you capture a syslog message?  It might be a bit different with docker container but it should be something along the lines of:
[code]

[2018-09-14 00:28] danielnelson commented on #4687
There is a good change this is the same issue as #4593, but we will be able tell from the packet capture.

[2018-09-14 00:29] itfanr opened #4692 "Does telegraf plan to support ROS message input?"
## Feature Request

 ROS is a popular platform in robotics .When dealling with performance tunning, We need a visual graph to find the bottleneck.

### Proposal:
Add a plugin to support ROS message.
You can refer to : `http://wiki.ros.org/roscpp`

### Current behavior:
Not support ROS

### Desired behavior:
Add a plugin to support ROS message.

### Use case: [Why is this important (helps with prio

[2018-09-14 00:41] danielnelson commented on #4692
@itfanr We don't currently have any plans for this, looks interesting though.

One potential problem is that we don't currently accept plugins that use non-Go code.  This is mostly because we are not setup to do cross compilation of other languages and we don't want to add C/C++ library dependencies to the build.  Do you know if there is a Go implementation of the client?

Another possible issue i

[2018-09-14 03:56] k-xzc opened #4693 "Plugin to query mongodb"
## Feature Request

I would like to query collection data in mongodb
example : system.profile
To find out which query make my mongodb slow

### Proposal:

Add plugin to support query collection data in mongodb

### Current behavior:

Not support to query to mongodb collection like system.profile

### Desired behavior:

Support to query to mongodb collection

### Use case: [Why is this important (h

[2018-09-14 05:18] ohcaka commented on #824
Hi @toni-moreno
I just complied and tested your PR but it cannot authentication.
please suggest me for fix it.

`[root@slavehost2 telegraf]# vi etc/telegraf.conf
[root@slavehost2 telegraf]# ./telegraf --config etc/telegraf.conf --test
2018-09-14T05:04:35Z E! JBoss Error handling ExecMode Test: Response from url "" has status code 401 (Unauthorized), expected 200 (OK)
2018-09-14T05:04:35Z E! Error

[2018-09-14 05:28] amoghe opened #4694 "statsd input plugin does not honor override `interval`"
### Relevant telegraf.conf:
[code]

### System info:

Ubuntu 16.04: `Linux <redacted> 4.4.0-134-generic #160-Ubuntu SMP Wed Aug 15 14:58:00 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

Telegraf: `v1.7.1`

### Expected behavior:

As per the documentation, any input plugin can specify its own interval:

### Actual behavior:

But the `statsd` input plugin does not seem to honor this. I suspect this is b

[2018-09-14 05:43] darox commented on #4625
# Telegraf Configuration
#
# Telegraf is entirely plugin driven. All metrics are gathered from the
# declared inputs, and sent to the declared outputs.
#
# Plugins must be declared in here to be active.
# To deactivate a plugin, comment out the name and any variables.
#
# Use 'telegraf -config telegraf.conf -test' to see what metrics a config
# file would generate.
#
# Environment variables can be

[2018-09-14 05:47] darox commented on #4580
I still have this issue, as soon as I have two different mqtt.consumer instances with different name_suffix it stops working. If I configured both mqtt.consumer instances to the same name_suffix it works.

[2018-09-14 06:00] itfanr commented on #4692
@danielnelson

Thank you for you reply. I find that someone is writing a go client.

https://github.com/akio/rosgo

ROS1 is popular and it has many problems.
In ROS2, any launguage is supported to easily access to ROS. But there are some time to make it widely used.

[2018-09-14 08:00] ohcaka commented on #824
I noticed that my jboss eap7.1 process is running in Managed Domain Mode but in testing output it show standalone mode as below.

My telegraf configuration

My Starting Jboss command

I cannot use "exec_as_domain" parameter in your PR.

About Unauthenticated issue I have tested @stefa975 's PR. [(https://github.com/stefa975/telegraf/tree/master/plugins/inputs/jboss)](url) it's solved
Difference th

[2018-09-14 11:08] Daryes commented on #4652
Ok. This aside, it took 7 days, but now all the metrics are showing negative drifting in the interval time, for nearly 50% of the collected points.
The setting helped to increase the time before it appears, but didn't fix it.

[2018-09-14 15:37] mapsacosta commented on #3462
+1

[2018-09-14 18:32] MartinArens commented on #425
+1

[2018-09-14 18:56] danielnelson commented on #4652
Thanks for the update, so there must be a 2.5 second drift over only 7 days, much larger than I expected.  I think we will have to change the way we calculate the intervals to fix.

[2018-09-14 19:02] danielnelson commented on #4580
That seems like a helpful observation, have you seen any of the symptoms described in #4594?

[2018-09-14 19:09] danielnelson commented on #4625
Perhaps it is loading a different configuration file?  One thing to check is if the path to the config file is the expected one and if it shows the 3 influxdb outputs on startup, it should look something like this:
[code]

[2018-09-14 19:17] danielnelson commented on #4694
While many of the "service inputs" do not use the interval, the statsd input actually does use this interval as the period to aggregate over.  What is the flush_interval of your agent?  If this is 30s then this would explain the grouping with the file output.

[2018-09-14 19:21] danielnelson commented on #4388
@dbienapfl-dataminr Have you had a chance to add the wrapper?

[2018-09-14 19:26] danielnelson commented on #2805
Closing, RHEL5 users should use the poll method.

[2018-09-14 19:26] #2805 closed

[2018-09-14 19:37] danielnelson commented on #2524
@sagarshetty I'm going to close but if this is still an issue for you can you retest with 1.8.0-rc1 or newer?

[2018-09-14 19:37] #2524 closed

[2018-09-15 00:52] glinton opened #4697 "Add base64 decoder processor"
## Feature Request
Add a base64 (or configurable) decoder processor

### Proposal:
Add to strings (not likely the correct place) a decoder, to decode a field.

### Example config:
[code]

### Desired behavior:
Decode a field so further processing can be done on it.

### Use case:
Google IOT sends a data field base64 encoded, it would be nice to be able to pull this data out and store it.

[2018-09-15 03:56] smicha opened #4699 "Datadog Plugin Spikes CPU"
When I enabled the datadog plugin  the cpus on our servers (windows ec2 ) went up from 6% to 35% . Is this normal or am I missing something .  I am running a binary that I built  with the below command

 GOOS=windows GOARCH=amd64 make telegraf and Installed it .

[2018-09-15 12:28] darox commented on #4580
@danielnelson I need to have a look on the logs. But In general, twoninstances of input.mqtt should be supported right?

[2018-09-15 17:43] jul1u5 commented on #3226
It has been over a year now. Are there any updates regarding this feature?

[2018-09-16 18:07] kurbeco opened #4705 "Cannot use json_string_fields in mqtt_consumer"
### Relevant telegraf.conf:

    [[inputs.mqtt_consumer]]
    servers = ["tcp://localhost:1883"]
    qos = 0

    topics = [
      "dale",
      "chip/#",
    ]
    username = "user"
    password = "pass"

    data_format = "json"

    json_string_fields = [
      "battery"
    ]

### System info:

Initially seen in `Telegraf v1.7.3 (git: release-1.7 4dc29d0e)` updated to `1.8.0-rc1` to check if f

[2018-09-17 10:03] WuBingzheng opened #4706 "fail to load config of CSV format intput"
I want to use telegraf (version `Telegraf 1.8.0~rc1 (git: HEAD 0984fc0d)`) to read csv file, but it fails to load config:

    [[inputs.tail]]
      files = ["/path/test.csv"]
      data_format = "csv"
      csv_header_row_count = 1

it gives the error:

    E! Error parsing telegraf.conf, there must be a header if `csv_data_columns` is not specified

If I use `csv_data_columns`, it fails too:

[2018-09-17 11:54] alex1702 opened #4707 "input smart parse problem?"
### Relevant telegraf.conf:
[code]

### System info:

[code]
[code]

Telegraf v1.7.4 (git: release-1.7 578db7ef)

### Steps to reproduce:

A SSD with this smart output:

[code]

### Expected behavior:

I don't get the temp_c value.
[code]

### Actual behavior:

I think the brackets behind the raw value of 194 cause problems when parsing.
[code]

On another system I also have the value with bracket

[2018-09-17 14:10] amarao opened #4708 "no json_* options for exec input plugin"
### Relevant telegraf.conf:
Configuration from example in documentation
(https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md#json)
[code]
### System info:
telegraf                              1.7.0-1
Ubuntu 18.04

UPD:  telegraf 1.7.4-1 have the same problem

### Steps to reproduce:
Write config. Run --test
### Expected behavior:
Work
### Actual behavior:
E! Error parsin

[2018-09-17 14:33] kurbeco commented on #4708
Possible link to https://github.com/influxdata/telegraf/issues/4705

[2018-09-17 15:40] nikolay-t opened #4709 "Process start time in Procstat input plugin"
## Feature Request

It will be good include process start time in Procstat input plugin.

### Proposal:

Add a new field for timestamp (i.e. Unix time stamp) for the time when reported process was started.

### Current behavior:

Not available.

### Use case:

This information can be used to detect restarts of processes. PID can be used for the here as well, but what if PID gets the same as it was

[2018-09-17 18:30] danielnelson commented on #4699
@smicha I see that this plugin does a few operations that are somewhat expensive, in particular it calls `Metric.Fields()` and `Metric.Tags()` instead of `FieldList()` and `TagList()`.  We should update the output to use the more efficient methods.

[2018-09-17 18:32] danielnelson commented on #4580
Yes, this should be supported.

[2018-09-17 19:00] danielnelson commented on #4708
These new options are only available in 1.8, currently the latest version is 1.8.0-rc1:

https://github.com/influxdata/telegraf/releases/tag/1.8.0-rc1

[2018-09-17 19:00] #4708 closed

[2018-09-17 19:02] danielnelson commented on #4705
These options will be available only in 1.8.0-rc1, can you make sure you are using this version?

[2018-09-17 19:13] danielnelson commented on #4706
Thanks for the report, this appears to be a bug.  We will fix this for 1.8.0-rc2.

[2018-09-17 19:36] danielnelson commented on #4709
I agree it would be a very useful feature.  We have another issue open for this, so lets merge these issues: #2203

[2018-09-17 19:36] #4709 closed

[2018-09-17 20:47] jul1u5 commented on #3226
I would be willing to implement this feature myself. I assume I could just copy the source of the current `http_listener` and then implement the proposed config options.

[2018-09-17 22:03] glinton commented on #3226
I don't think we recommend copying the http_listener plugin, but if you'd like to make this a reality that would be fantastic! If you need anything from us, let me know.

[2018-09-17 22:39] danielnelson commented on #4705
Make sure you have the `s` on the end: `json_string_fields`

[2018-09-17 22:50] kurbeco commented on #4705
https://i.imgur.com/iWKad22.jpg

That was it, I can't believe did that. So sorry! I must've left it off when I swapped it from `tag_keys`.

Sorry for the noise!

[2018-09-17 22:50] #4705 closed

[2018-09-17 23:20] #4644 closed

[2018-09-18 00:15] danielnelson opened #4711 "Headers are treated as data when CSV file is rotated by tail plugin."
### Relevant telegraf.conf:

### System info:

Telegraf master 44c2435f6471859381650700a28eaf0382851ce9

### Steps to reproduce:

[code]

[code]

1. `telegraf --input-filter tail --output-filter file`
2. `echo a,b > test.csv`

### Expected behavior:

Headers are updated or ignored in truncated file:

[code]

### Actual behavior:

Headers are treated as new data:
[code]

### Additional info:

The h

[2018-09-18 08:04] pmouawad commented on #2986
Hello,
Can you confirm current below documentation:
https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md#json

References new features like json_time_key and json_time_format that are not yet available as of version 1.7.4 , and that will be available in 1.8.0 ?

Is release date expected on 21 september ?

Thanks for your help

[2018-09-18 09:32] Aminolroaya opened #4713 "Solr 6 to Solr 7 missed measurements"
Hi. We are migrating from Solr 6 to Solr 7; However, In Solr 7, we only can access to four measurements of solr_admin, solr_core, solr_cache and other measures like solr_queryhandler and solr_updatehandler are gone. Is the limitation from the telegraph side?

[2018-09-18 12:32] 6d6178 commented on #4582
Since I can't find any indication of this behaviour, would it make sense to add this to the documentation and maybe add a message at the beginning of the "--test" output like the one for udp listeners? Or should I just make a PR and discuss this then?

[2018-09-18 14:14] 6d6178 commented on #4543
I think there is a way that makes a big migration unecessary but still benefits from tags.
If I am right, the way Graphite does tagging would allow it to use old and new system at the same time.
Graphite without Tags structures the metrics in the way they (files) are located in a directory. (Tree Structure) (Whisper)
Tagging support adds Tags to a metric. I think it is added to the place in the tr

[2018-09-18 15:05] tboggiano opened #4714 "SQL Server offline databases and Forwarded Records doesn't work"
### Relevant telegraf.conf:

### System info: SQL Server offline databases doesn't work

[Include Telegraf version, operating system name, and other relevant details]

### Steps to reproduce:

1. ...
2. ...

### Expected behavior:
To report data back
### Actual behavior:
No data reported back
### Additional info:
Forwarded Records/sec is abbreviated and db_offline is looking at state 10 instead of

[2018-09-18 16:01] danielnelson commented on #4582
Maybe we can mention this in the output of the `--help` command.  Right now we have:
[code]

What do you think about if we change it to:
[code]

[2018-09-18 16:08] #4688 closed

[2018-09-18 16:08] #4087 closed

[2018-09-18 16:08] #4088 closed

[2018-09-18 17:10] danielnelson commented on #4714
@tboggiano Can you provide more detail about how Forwarded Records/sec is abbreviated?  Perhaps an example of expected output vs actual output.

cc @m82labs

[2018-09-18 17:16] danielnelson commented on #2986
@pmouawad I recently updated the JSON documentation, these options are documented but can you take a look and let me know if you have any feedback.

Any documentation links to the master branch are for the latest development version, so you may want to check the release branch for release specific docs:

https://github.com/influxdata/telegraf/tree/release-1.8/plugins/parsers/json

[2018-09-18 17:40] nikolay-t commented on #4709
@danielnelson Thanks. I see there is completed PR for my request - https://github.com/influxdata/telegraf/pull/3895. It is in not-merged state for 6 months.  I don't see changes in it aside from procstat, so risks are minimal for the rest of Telegraf code. What is the point of keeping it not-merged?

[2018-09-18 18:51] chezneUE commented on #4680
Hello, the issue some is on my part some maybe the documentation, firstly say if you have a primary mongodb and two secondaries.

Create the telegraf users with clustermonitor role, then in the inputs.mongodb of the telegraf configuration add multiple servers such as:

[[inputs.mongodb]]
servers = ["mongodb://telegraf:telegraf@localhost:27017/?replicaSet=s0&authSource=admin"]

[[inputs.mongodb]]
s

[2018-09-18 19:05] shreedhar22 opened #4715 "Telegraf cloudwatch plugin not working for AWS/Route53 name space"
I am trying to use Telegraf cloudwatch plugin for retrieving AWS/Route53 metrics and the plugin doesn't seem to list any metrics for Route53. It works for SQS and RDS but not for Route53. The credentials and the other configs(I haven't listed them here are correct and they work for SQS and RDS namespace correctly). DNS records are already present in the route53 service in my AWS account. I am hopi

[2018-09-18 21:10] danielnelson commented on #4709
This PR is still waiting for review, we need to look through all the fields that are being added as well as the methods that are used.  If we had a PR that only added the create time and left the other fields out we could probably get to it quicker.

[2018-09-18 21:16] danielnelson commented on #4713
It sounds likely this is a limitation in the Telegraf plugin, can you adjust the URL and grab the output of this command:
[code]

[2018-09-18 21:39] ono760 opened #4717 "Multiple output plugins with different time intervals"
Allow user to configure multiple output plugins for a Telegraf agent to send data at different time intervals. Essentially, the data will be flowing to 2 different outputs at different intervals.

Example:

`outputs.influxdb` is set to send data every `30s`
`outputs.http_listener` is configured to send data every `60s`

[2018-09-18 23:48] m82labs commented on #4714
It looks like there is a typo in the original PR that added this metric.

On Tue, Sep 18, 2018 at 13:11 Daniel Nelson <notifications@github.com>
wrote:

[2018-09-19 00:32] akshaymoghe commented on #4694
Yes, the flush interval is indeed the rate at which I'm seeing the metrics being flushed by the output plugin. So it seems that I may have misunderstood how these knobs interact. I think this ticket can be closed out.

However I do have another related question - from the docs

so why does this warning exist? To me it would seem that if `flush_interval` is shorter than the `interval`, it will simp

[2018-09-19 00:38] amoghe commented on #4694
Yes, the flush interval is indeed the rate at which I'm seeing the metrics being flushed by the output plugin. So it seems that I may have misunderstood how these knobs interact. I think this ticket can be closed.

However I do have another related question - from the docs

flush_interval: Default data flushing interval for all outputs. You should not set this below interval.

why does this warnin

[2018-09-19 01:06] danielnelson commented on #4694
The warning should be removed, and in fact there are some corner cases where you might want the flush_interval lower than interval.  An example is when using a service input that can add metrics at any point and you want very low latency.

[2018-09-19 01:06] #4694 closed

[2018-09-19 01:19] danielnelson commented on #4694
Documentation fix: https://github.com/influxdata/telegraf/commit/a75c789e3ecdc92fede5635da9465c044001bace

[2018-09-19 03:47] smicha commented on #4699
Thanks . I will submit a PR for it tomorrow

[2018-09-19 08:07] shindoyang commented on #3005
@danielnelson have you finished your plugins? nowtime, I have a project want to use Telegraf to support Eureka .  if I want to use your plugins, how can I do ?

[2018-09-19 09:27] fuzecheng opened #4719 "E! failed to remove tmp file after -S DISK 1 2 /tmp/sysstat-1537347255 command: remove /tmp/sysstat-1537347255: no such file or directory"
CenOS, use  yum install telegraf, then  telegraf telegraf.conf  -----
Erro：
2018-09-19T08:54:13Z I! Agent Config: Interval:15s, Quiet:false, Hostname:"wxds-vm-3-115", Flush Interval:15s
2018-09-19T08:54:15Z E! failed to remove tmp file after  -S DISK 1 2 /tmp/sysstat-1537347255 command: remove /tmp/sysstat-1537347255: no such file or directory
2018-09-19T08:54:15Z E! Error in plugin [inputs.syssta

[2018-09-19 12:37] sachaz opened #4720 "Smart not for all devices"
### Relevant telegraf.conf:
[code]

### System info:
FreeBSD 11.1-RELEASE-p13
telegraf-1.6.3

### Steps to reproduce:
From the 8 devices in the telegraf.conf I got only 2 devices result :

[code]

### Expected behavior:
smart result on all disks

### Actual behavior:
only 2 disks

### Additional info:
on the system a request on other devices like following exemple works:
`/usr/local/sbin/smartctl

[2018-09-19 15:02] 1medusa1 commented on #1449
Downloaded the rpm straight from influxdb and this is not working

[2018-09-19 18:34] markusr opened #4723 "Make basicstats faster"
### Steps to reproduce:

1. Config basicstats to only do
[code]

### Expected behavior:
"mean" is calculated at the ```Push``` by dividing
[code]

### Actual behavior:
All values also variance are calculated on each ```Add```
https://github.com/influxdata/telegraf/blob/master/plugins/aggregators/basicstats/basicstats.go#L107

### Additional info:
I tested this on a raspberry pi 3.

After removing

[2018-09-19 21:14] chezneUE commented on #4680
Still not working, i installed telegraf from influxdb, i didn't build the application using Go. 1.7.4 value remains 0.

[2018-09-19 21:44] chezneUE commented on #1449
Also having issue this is my configuration one configuration file telegraf.conf input plugin content part below:

[[inputs.mongodb]] # PRIMARY
servers = ["mongodb://telegraf:telegraf@localhost:27017/?replicaSet=s0&authSource=admin"]

[[inputs.mongodb]] # SECONDARY
servers = ["mongodb://telegraf:telegraf@10.0.0.1:27017/?replicaSet=s0&authSource=admin"]

[[inputs.mongodb]] # SECONDARY
servers = ["mo

[2018-09-20 07:09] WuBingzheng opened #4725 "csv_delimiter works wrong in csv data format"
### Relevant telegraf.conf:

    [[inputs.tail]]
      files = ["/path/test.csv"]
      data_format = "csv"
      csv_column_names = ["ts","a","b"]
      #csv_delimiter = ","
      #csv_timestamp_column = "ts"
      #csv_timestamp_format = "2006-01-02T15:04:05.999-0700"

### System info:

Telegraf 1.8.0~rc2 (git: HEAD f54bbd6e)

Ubuntu

### Steps to reproduce:

1. It works fine with the above conf

[2018-09-20 11:55] anoppe commented on #144
You PR #2058 has conflicts. It would be nice if this PR can be merged. Would be a nice addition to the Telegraf functionality without the necessity for other components...

[2018-09-20 13:12] mvhconsult opened #4727 "csv parser: `csv_trim_space' is not defined in `*file.File'"
### Relevant telegraf.conf:
1.8 RC csv following the readme.md
### System info:

[Include Telegraf version, operating system name, and other relevant details]

### Steps to reproduce:

1. create a conf file
2. run 1.8RC2

### Expected behavior:
No error
### Actual behavior:
telegraf errors out. Disabling the option completely in the config file makes telegraf work.
### Additional info:

[Include g

[2018-09-20 13:51] 6d6178 commented on #4582
Looks good. Since there is no mention of `--test` in the documentation we don't need to change it. (Maybe consider adding at some point)
Would you mind adding this in one of your next PRs?

[2018-09-20 18:49] glinton commented on #4719
@fuzecheng 	please add your `telegraf.conf` file and other system information to help reproduce your issue

[2018-09-20 19:43] Quentin-M commented on #4543
I literally just spent 2 hours trying to understand why my metrics didn't seem to get through.

[2018-09-20 19:57] danielnelson commented on #4727
Thanks for the report, I fixed this in 1e3e28428d8c9cf00a6350fd381d938b2f90373c and we will include this in the next rc.

[2018-09-20 19:57] #4727 closed

[2018-09-20 19:58] glinton commented on #4725
Thanks for the detailed report

[2018-09-20 21:17] absolutejam opened #4729 "Optional argument to ignore bad configs"
## Feature Request

### Proposal:

Argument to allow Telegraf to ignore bad config files instead of throwing a critical exception.

### Current behavior:

Currently, a bad telegraf config (Within `--config-directory`) will kill the Telegraf agent.

### Desired behavior:

Option to ignore bad config file and log an message instead.

### Use case: [Why is this important (helps with prioritizing requ

[2018-09-20 22:01] danielnelson commented on #4582
https://github.com/influxdata/telegraf/commit/fe0b964d3e7004f39ab0870dd4d25ca5fb39a1e8

[2018-09-20 22:37] absolutejam commented on #4729
Actually, it looks like the `--test` param can validate the config, but I'd still like this option to be considered :smile:

[2018-09-21 02:57] AjithKumar-Raj commented on #4665
@glinton can you help me?.
I can't push my branch.

[code]

[2018-09-21 04:18] AjithKumar-Raj commented on #4665
I can't push my branch, So @glinton @danielnelson can you help me.
I got error like bellow

[2018-09-21 11:43] bbergshaven commented on #4725
I found the reason and a solution.
Line 234 in plugins/parsers/registry.go should use "%c" instead of "%v"
`delimiter = fmt.Sprintf("%c", runeStr[0])`
Same for line 242

[2018-09-21 13:36] makzdot commented on #4626
@danielnelson Sorry haven't gotten around to it yet. Hopefully next week.

[2018-09-21 15:49] sachaz commented on #4720
[code]

[2018-09-21 16:15] ElFishi opened #4731 "telegraf stops sending data to influx"
I use telegraf to collect MQTT data and send the to Influx.
In irregular intervals telegraf stops sending data. The instance is still there but seems to do nothing. When telegraf is restarted everything works again as expected.

### System info:
Telegraf v1.7.4 (git: release-1.7 578db7ef)
Raspbian GNU/Linux 9 (stretch), Rpi 3
[trace.txt](https://github.com/influxdata/telegraf/files/2406120/trace.t

[2018-09-21 17:16] glinton opened #4732 "VSphere changelog links don't work"
In the main readme, the links go go `plugin/README.md`, but vsphere names it `README.MD`, breaking the link.

[2018-09-21 18:00] glinton commented on #4665
Fork the repo and then push to your fork (`github.com/AjithKumar-Raj/telegraf`) and open a pr from there.

[2018-09-21 18:06] danielnelson commented on #4729
I think this would be a good feature, maybe not for the agent section but at least for plugins, and I especially like the idea of an option to validate the config.

Here is a related issue about Telegraf not starting when an ouput connection cannot be made: #3723

[2018-09-21 18:06] danielnelson commented on #1977
Closing, was fixed back in 1.6

[2018-09-21 18:06] #1977 closed

[2018-09-21 18:08] glinton commented on #4731
How is your resource utilization at the time it stops reporting? I wonder if they get exhausted.

[2018-09-21 18:17] #4732 closed

[2018-09-21 19:30] glinton commented on #4603
I'm not sure this is feasible to implement as there is no documentation or guarantee the time zone will be the same. If RabbitMQ is always returning UTC, we can then add a field `idle_seconds` using something similar to the following:
[code]

[2018-09-21 19:39] #4725 closed

[2018-09-21 20:06] jul1u5 commented on #3226
I am currently trying to run/test my plugin. I executed `make static`, but when I tried to run `make plugin-http_plugin_ng` I got an error that there is no such file `dev/docker-compose.yml`. I am not sure how to set up docker-compose with my plugin on the telegraf image.

[2018-09-21 21:29] glinton opened #4734 "JSON parser panic if name key returns nil"
If the `json_name_key` doesn't exist, telegraf panics.

### telegraf.conf
[code]

### /tmp/test.json
[code]

[2018-09-21 21:32] glinton commented on #3226
To build, I just run `make telegraf` or `go build ./cmd/telegraf`

[2018-09-21 22:26] ElFishi commented on #4731
I monitor CPU loads and memory. Maximum load around the time the data flow stopped was 0.25, available memory around 700MB.

Correct me if I'm wrong, but 4580 sounds as if there is no data flowing to Influx at all. My problem is that it all works and then stops at some random time.
4594 is concerned with MQTT disconnects. I, too, have disconnects in my journal but according to the log telegraf alw

[2018-09-21 22:47] #4734 closed

[2018-09-22 01:07] danielnelson commented on #4603
@gaizeror What about the various fields on `rabbitmq_queue` such as `messages_ack`, `messages_deliver`, `messages_ready`.  Instead of attempting to compute how long you are idle you can check the inverse: how much work was completed.

[2018-09-22 05:51] Aminolroaya commented on #4713
Thanks Daniel. As you see the query and update handlers' outputs are null as the output in follows for a collection;

[code]
I think the api should change for solr 7. Am I right?

[2018-09-23 12:26] jul1u5 commented on #3226
I have a couple questions about the implementation:
How should the plugin deal with `paths` config option? Should it add a tag containing the request's path to the newly created metric?
And what about `methods` option? Right now I just check if the request's method matches the ones specified in the config and return bad request if it doesn't match.

[2018-09-24 01:50] AjithKumar-Raj commented on #4665
Thanks @glinton
This is my pr -> #4736

[2018-09-24 08:19] iatalay commented on #4522
this solved my issue.
thanks

[2018-09-24 09:26] matt-smith opened #4737 "SHA256 of latest 1.8.0 release is incorrect"
looks as though the SHA256 of the latest 1.8.0 packages is incorrect - https://github.com/influxdata/telegraf/releases/tag/1.8.0

[2018-09-24 16:14] rmacian opened #4738 "Failed to connect to output influxdb, retrying in 15s, error was 'unsupported scheme ["openshift-telegraf-test"]: ""
### Relevant telegraf.conf:
only server , database and user password for the influxdb output plugin
### System info:
telegraf 1.8.0 with influxdb 1.3.3 under RHEL7
[Include Telegraf version, operating system name, and other relevant details]

### Steps to reproduce:

1. ...Working installation of telegraf 1.5.4
2. ...Upgrade to 1.8.0

### Expected behavior:

no errors on upgrade

### Actual behavi

[2018-09-24 16:26] rmacian commented on #4738
Issue was a missconfiguration of the urls parameter, it had the database name instead of the host

[2018-09-24 16:26] #4738 closed

[2018-09-24 18:10] danielnelson commented on #4737
Thanks for the reporting this issue, luckily it looks like this was just a mistake in the release notes.

The releases are built on CircleCI and the uploaded packages were built from this tag build (under `make package-release`):
https://circleci.com/gh/influxdata/telegraf/19504

It looks like I have used the hashes from the branch build (under `make package`):
https://circleci.com/gh/influxdata/t

[2018-09-24 18:14] pnedkov commented on #4163
With Telegraf 1.8.0 I get one additional error message:
[code]

Is there an option I could use to either suppress these error messages in the log file or even better to disable these data collections that are not relevant for the arbiter? It would have been nice if the mongo plugin itself does not try to collect this data if it detects that the Mongo node is an arbiter.

Removing all our Mongo Arb

[2018-09-24 18:55] danielnelson commented on #4737
Github release page and [InfluxData downloads page](https://portal.influxdata.com/downloads) for 1.8.0-rc1, 1.8.0-rc2, and 1.8.0 have been updated with the hashes from the correct CircleCI build.

[2018-09-24 18:55] #4737 closed

[2018-09-24 19:12] danielnelson commented on #3226
In retrospect, I think we should just have a single path, I think most of the time you will just need a single path and there is always the option to define the plugin multiple times.  Let's not add any new tags by default, I think for the plugins that use `data_format` we should avoid modifying the data by default.
[code]

For `methods`, if the request method doesn't match then return `405 Method

[2018-09-24 19:45] matt-smith commented on #4737
Thanks @danielnelson! really appreciate the quick response 👍

[2018-09-24 22:13] danielnelson commented on #4723
@markusr I think we need the online mean for the online variance, but we should get a big performance gain by switching from `Fields()` to `FieldList()`.  I made this change in #4741, can you compare the performance with this code?

[2018-09-24 23:46] danielnelson opened #4742 "Errors from http_listener should match InfluxDB"
### Relevant telegraf.conf:

[code]

### System info:

N/A

### Steps to reproduce:

1. Send malformed line protocol to http_listener
   - `cpu value=`
   - `cpu value=42\ncpu value=`

### Expected behavior:

Telegraf response should have `X-Influxdb-Error`, while the error strings do
not need to be identical they should contain the prefixes `unable to parse`
and `partial write`:

[code]

[code]

[2018-09-24 23:50] danielnelson commented on #4742
Errors are also printed to the Telegraf log, these should be removed or logged only at debug level:
[code]

[2018-09-25 00:12] danielnelson opened #4743 "Improve error strings from line protocol parser"
## Feature Request

When sending batches of line protocol it is very difficult to parse the error messages because the entire batch is shown.

### Proposal:

Show only a section of the offending line and show the line number and column.

[code]

### Current behavior:

Only byte offset is given
[code]

### Desired behavior:

The error message contains line/column instead of offset.  Column is given

[2018-09-25 02:06] Touchedegris commented on #4687
Hi,
I did not have the chance to do my packet capture yet but I do confirm that my equipment does support syslog RFC 5424. I went through the RFC 5424 and they refer to IANA for versin registration.  In both the RFC and IANA document, there seems to be only Version 1 registered.  I will confirm if the versin number is sent from my switch, but would it be a good idea to user version 1 if the versio

[2018-09-25 02:19] Touchedegris commented on #4326
In some examples, it would be nice to have tags also entered as values.  In Grafana Dashboards, singlestat plugin cannot display tag values, only the field values.  With dynamic dashboards (with variables), I was trying to show my tag value somewhere in the dashboard.  Should this fix be optionnal? (with a parameter like is_tag_and_value = true)?

[2018-09-25 04:59] langerma commented on #4675
no i did no update...neither on opentsdb side nor elastic side. i guess it is a problem with the elastic input.

[2018-09-25 05:57] Dees7 opened #4744 "processors.converter doesn't work with mqtt_consumer"
### Relevant telegraf.conf:
[code]
### System info:

Telegraf unknown (git: master 3268937c)
mosquitto is an MQTT v3.1 broker.

### Steps to reproduce:
I have mqtt-messages like there:
[code]
There is "POWER":"1" (not "POWER":1) and telegraf can't push it "as is" to influx.
I tring convert with  an "additionally config":
[code]
There is field POWER exist in the databese already and has type 'float

[2018-09-25 09:41] ilkermanap commented on #4720
I have telegraf-1.7.4-1.x86_64 installed on  CentOS Linux release 7.5.1804 (Core).
Disks are behind the Hewlett-Packard P420i .
Disks can be reached with  /dev/sg0 -d cciss,0  ...    /dev/sg0 -d cciss,23
In the telegraf.conf,  I put only one disk for testing " /dev/sg0 -d cciss,0" with
[code]

And here is the test output for smart part:
[code]

[2018-09-25 10:13] Selllavi opened #4745 "Telegraf fails with 'unable to parse' error on node, where cassandra was deployed"
### Relevant telegraf.conf:

### System info:

Telegraf - version 1.3.3

### Steps to reproduce:

1. deploy Cassandra on some nodes
2. deploy telegraf on the same nodes and turn on gathering docker metrics via adding in telegraf.conf

[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  name_prefix = "t_"
  timeout = "10s"
  perdevice = true

### Expected behavior:
Telegraf will gather a

[2018-09-25 10:58] jbro opened #4746 "ntpq input plugin should use the -w parameter to get entire IPv6 address of remote"
### Relevant telegraf.conf:

[code]

### System info:

[code]

[code]

[code]

### Steps to reproduce:

1. `$ sudo telegraf --test --input-filter ntpq`
2. `$ ntpq -p -n`
3. `$ ntpq -p -n -w`

### Expected behavior:

[code]

### Actual behavior:

[code]

### Additional info:

[code]

[code]

[2018-09-25 11:14] Metalfusion commented on #3041
Another use case for OPC UA is to provide a standardized API for historical (time series) data access. The standard defines historical data queries including aggregation. The DB would need to implement OPC UA server that exposes stored data using the OPC UA data model and supports historical data queries. OPC UA even has "methods" for RPC that can be used to expose custom API within the same secur

[2018-09-25 14:52] simonboa commented on #4621
Hi @danielnelson I filed this incorrectly under Telegraf issues, I've created https://github.com/influxdata/kapacitor/issues/2065 in it's place & linked to the Grafana offering.

[2018-09-25 14:52] #4621 closed

[2018-09-25 15:05] Touchedegris commented on #4687
Here is the packet capture.  As I was expecting, there is no version between the priority field and the date.
[syslog_packet.zip](https://github.com/influxdata/telegraf/files/2415753/syslog_packet.zip)

[2018-09-25 17:28] albundy83 opened #4748 "[jolokia2] support wildcard mbean non-map values"
### Relevant telegraf.conf:
The configuration described here https://github.com/influxdata/telegraf/blob/f72e52528d1edf757a068c059fcebf23ad27f29f/plugins/inputs/jolokia2/examples/java.conf#L24

which should allow to filter LastGcInfo metrics does not work.
Or you specify the configuration described but you won't collect anything or you specify only :
[code]
But you will collect all the values unde

[2018-09-25 22:44] samhld opened #4749 "Per-directory file counts in the Filecount plugin"
## Feature Request

### Proposal:

Perhaps the `directory` section of the plugin config becomes a glob...similar to the `file` section?

### Current behavior:

Recursively totals the number of occurrences of certain types/names of files within a higher level directory

### Desired behavior:

I think it would benefit our users to see the file counts by name in each subdirectory of the top level dir

[2018-09-25 22:54] danielnelson commented on #4749
We could convert directory to a glob and all expansions would be tagged separately:
[code]

[code]

[code]

[2018-09-26 02:55] shamsherdullet commented on #4687
I have the same issue with Telegraf v1.7.3

Sample packet below.
![image](https://user-images.githubusercontent.com/38048683/46054594-d608e980-c0fc-11e8-9c81-b9c091d7ea92.png)

[2018-09-26 08:56] danielnelson commented on #4745
This has been fixed for quite some time now, can you update to a newer Telegraf?

[2018-09-26 08:56] #4745 closed

[2018-09-26 09:01] markusr commented on #4723
@danielnelson
You are right. #4741 gives the same speed up. The CPU usage I measured was on the same level (35.41%) as my test before.

It can be merged.

[2018-09-26 09:03] danielnelson commented on #4744
Yes it should work with any input.  I believe the problem here is that by default the JSON data format does not capture string fields.  I believe you will want to use `json_string_fields`.  Check [this document](https://github.com/influxdata/telegraf/tree/master/plugins/parsers/json#json) for more info, but keep in mind some of these options require Telegraf 1.8.0.

[2018-09-26 09:03] #4744 closed

[2018-09-26 09:13] #4714 closed

[2018-09-26 09:54] Selllavi commented on #4745
Thank you for answer.
In which version was it fixed?

[2018-09-26 12:49] Jaeyo commented on #4749
how about use `directories` than `directory` like file input.

[2018-09-26 18:15] glinton commented on #4746
I wonder if this plugin is a good candidate for custom flags, similar to the `ping` plugin.

[2018-09-26 18:38] jul1u5 commented on #3226
So looks like I have finished implementing the plugin. I tested with `http_plugin` tests and added one with `json`. They all pass.

I have minimally removed the buffering: `bufferpool.go` is removed, but buffering process is still mostly the same. I tried to experiment by simplifying it but some tests failed. I could try more if this is unsatisfactory.

By the way, I have also removed `precision`

[2018-09-26 18:40] albundy83 commented on #4748
When I put the configuration described:
[code]
and I run command:
[code]
I have this output:
[code]
And as I explain, when I put configuration without "duration", like this:
[code]

I have all the metrics under LastGcInfo
[code]
But that's not what I want :-)

I hope that the filter "LastGcInfo/duration" could produce me just this metric.

[2018-09-26 20:46] glinton commented on #4748
I'm just guessing here, but can you modify your `mbean` line to be
`mbean = "java.lang:name=ConcurrentMarkSweep,type=GarbageCollector"`. It seems that if the `mbean` has an `*`, we [don't handle plain/other values](https://github.com/influxdata/telegraf/blob/f72e52528d1edf757a068c059fcebf23ad27f29f/plugins/inputs/jolokia2/point_builder.go#L31-L39).
I'm hoping the `ConcurrentMarkSweep` is the mbean

[2018-09-26 21:10] albundy83 commented on #4748
Yes it works :-)
when I put:
[code]
It produces:
[code]
Just what I expect, thanks a lot for your help.

I will just need to duplicate lines for each GarbageCollector type:
[code]
And I have:
[code]

[2018-09-26 21:13] albundy83 commented on #4748
I did not understand the go code you show me, but maybe it could be an improvement to support the wildcard AND the specific path.

[2018-09-26 22:30] danielnelson commented on #4263
@Jaeyo @huangqiz Can you tell me a little bit about why you want to run multiple Telegraf's on one system?  I'm happy to include it as an option but it seems like it shouldn't be needed.

[2018-09-27 02:08] #4723 closed

[2018-09-27 03:41] amoghe opened #4757 "Support IPVS metrics"
## Feature Request

I'd like to implement an input plugin for reporting IPVS metrics (for "virtual_server" and "real_server").

### Proposal:

Proposal is to add this in phases.

## Phase 1
Add metrics to track "virtual_services". They are namespaced under "virtual_server" so that we can disinguish between them and the "real_server" metrics (see phase 2).

These are the readily available metrics:

[2018-09-27 03:48] sandey60 commented on #3044
Hi Telegraf community,   Any update on this? Is this is in the roadmap yet?

Thanks

[2018-09-27 04:43] langerma commented on #4675
thx, will try once the new telegraf version is released.

[2018-09-27 05:58] agnivade opened #4758 "cloudwatch output plugin broke after 1.8 upgrade"
### Relevant telegraf.conf:

[code]
and some usual inputs -

[code]

### System info:

Telegraf - 1.8.0-1
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.5 LTS"

### Steps to reproduce:

1. Use the above config. Obviously fill in the access_key and secret_key
2. Run it using `telegraf -config /etc/telegraf/telegraf.conf `

### Expected behavior:
No

[2018-09-27 10:23] candlerb opened #4759 "Improve documentation of syslog plugin"
I was very happy to see the inclusion of a syslog plugin.  However the [documentation](https://github.com/influxdata/telegraf/tree/release-1.8/plugins/inputs/syslog) is missing some critical information, in particular:

* Does the event timestamp (influxdb timestamp) come from the time the message was received, or the timestamp contained *within* the message?
* What happens for messages which cont

[2018-09-27 10:23] martinwalke opened #4760 "telegraf appears to be inserting HOST and URL fields into influx input data"
Hi,
I'm sending the following string to telegraf upon a GET request using the [inputs.http] section:

 server_2 cdce_1=1i,cdce_2=1i,sams_hb_1=1i,sams_hb_2=1i,sams_vl_1=1i,sams_vl_2=1i

but when it's passed to influx, the data becomes:

server_2,host=DEV-1,url=http://xx.xxx.xxx.xx:8080/web-app/services/status/interfaceStatusTelegraf?serverId\=1 sams_hb_1=1i,sams_hb_2=1i,sams_vl_1=1i,sams_vl_2=1i,cd

[2018-09-27 10:43] candlerb opened #4761 "Spurious leading space in syslog message"
### Relevant telegraf.conf:

[Sample syslog config](https://github.com/influxdata/telegraf/tree/release-1.8/plugins/inputs/syslog#configuration) exactly as given

### System info:

Telegraf 1.8.0-1 installed from apt repo; Ubuntu 16.04.5 amd64

### Steps to reproduce:

1. Configure telegraf syslog receiver exactly as per sample configuration
2. Configure rsyslog to forward to telegraf exactly as p

[2018-09-27 10:51] candlerb commented on #4759
Another question is: "what does telegraf syslog do with the messages which contain STRUCTURED-DATA? Does it emit fields for each item?"

So I set up another test, using an example from RFC5424:

[code]

Result:

[code]

As far as I can tell then, the STRUCTURED-DATA part of the syslog message is ignored.  Again: I think this should be documented.

(I have raised a separate issue #4761 for parsing

[2018-09-27 11:05] candlerb opened #4762 "Record the source IP address of syslog messages"
## Feature Request

As far as I can tell, the syslog receiver in telegraf 1.8.0-1 does not log the source IP address of the incoming message.  It would be helpful if it did.

### Proposal:

Add a new tag containing the source IP address, e.g. `source`

This could optionally be reverse-DNS resolved; but if so I would like an option to turn it off; I prefer the raw IP addresses for accuracy (not sub

[2018-09-27 11:14] candlerb commented on #4759
An example for STRUCTURED-DATA would be helpful too.  I set up another test, using an example from RFC5424:

[code]

Result:

[code]

telegraf has created new field keys:

[code]

[2018-09-27 11:46] candlerb commented on #4759
There is one other thing worth mentioning in the documentation.  If you follow the [example](https://github.com/influxdata/telegraf/tree/release-1.8/plugins/inputs/syslog#rsyslog-integration) to get rsyslog to forward logs to telegraf on localhost:

[code]

... you should beware that in a default Ubuntu 16.04 installation, influxdb writes query logs to stderr, which are picked up by systemd and wr

[2018-09-27 12:50] JulienChampseix commented on #4482
Hi @danielnelson  @glinton,
We are getting same issue @mthota15
Is there any progress on it cuz it can block our POC using influxdb ? (versus ES + Kibana)

[2018-09-27 15:33] rmacian commented on #2910
I am in 1.8.0 and still the same error occurs

[2018-09-27 16:08] glinton commented on #3044
As there hasn't been a lot of community interest in this plugin, it hasn't been planned yet. If you'd like, feel free to create the plugin and open a pr.

[2018-09-27 16:50] candlerb commented on #4525
Another possible approach is to use [nxlog](https://nxlog.co/products/nxlog-community-edition) to convert Windows logs to syslog.  There is [an example from fluentd](https://docs.fluentd.org/v0.12/articles/windows).

According to [Splunk documentation](http://docs.splunk.com/Documentation/Splunk/7.1.3/Data/MonitorWindowseventlogdata), fetching Windows logs remotely using WMI requires machines to b

[2018-09-27 17:59] glinton commented on #4762
`host` is added by telegraf to all metrics unless disabled with the following config:
[code]
It seems we may want to change `hostname` to `source` in our quest to unify tags (4413), or just add `source` and do as you suggested and assign it the source ip.

[2018-09-27 18:02] danielnelson commented on #4760
You can remove the url tag using [`tagexclude`](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#measurement-filtering).

If we were to write this plugin today, we would use `source` instead of `url`.  Since `source` is always only a hostname we might want other tags such as `scheme` or `port`.  In the future, I think we also ought not add any tags to `ParserInput`'s by def

[2018-09-27 18:02] #4760 closed

[2018-09-27 18:10] danielnelson commented on #4745
I believe it was fixed in no later than 1.6.  I also recommend using the label options to control what docker labels are added to the docker metrics, as k8s adds a lot of large labels.  This *may* prevent the error from occurring even in 1.3:
[code]

[2018-09-27 18:55] prydin opened #4764 "vSphere input plugin: Panic if network error when calling a specific vCenter method"
### Relevant telegraf.conf:
[code]

### System info:
Ubuntu 16.04 AWS "Small" configuration.
Telegraf 1.18

### Steps to reproduce:
Very hard to reproduce. You have to get a network error at the exact right time. This happened when I deliberately was trying to overload a undersized system.

See logfile for information how this happened.
### Expected behavior:
Data should be collected without error

[2018-09-27 19:02] danielnelson commented on #4482
@JulienChampseix We haven't had time to work on this yet, it is probably something for 1.9.0.  I think we should do the 3-state option:
[code]

Default would be `auto`, and enable/disable would just force using either the rfc5424(disable) or the rfc5425(enable) parser into use.

[2018-09-27 20:46] amoghe commented on #4757
The terminology is different depending on where you look. The golang libraries call them "Services" and "Destinations" , however the IPVS terminology is "Virtual Server" and "Real Server".

A virtual server is configured to be backed by one or more real servers (that can actually handle the traffic). The virtual server is just a load balancer.

The virtual server can be configured to schedule conn

[2018-09-27 20:49] amoghe commented on #4757
I'll switch to using `virtual_server` and `real_server` in the code and documentation. I think it is better to align the terminology with IPVS one than the one used by the libraries.

[2018-09-27 21:20] danielnelson commented on #4757
Looks like libipvs uses github.com/hkwi/nlgo for netlink.  I know we have some other netlink work in progress, @fntlnz is this the same library your work is using?

In phase 2 the sum of the values for the real servers would be equal to the value for the virtual server?  Or perhaps only approximately due to network issues or unavailability?

[2018-09-27 22:13] amoghe commented on #4757
While there are other libraries that are available for manipulating `ipvs` from go - including one that ships in docker (`github.com/docker/libnetwork/ipvs`), this library (`libipvs`) is the only one that seems to handle deserialization of the stats block correctly (which is what we're interested in). The other libraries either dont support it , or dont handle it well.

Another promising one is gi

[2018-09-27 22:14] amoghe commented on #4757
Yes, from my experimentation that seems to be the case but I wouldnt be surprised if it wasn't . They are being reported separately from the kernel.

[2018-09-28 00:28] amoghe commented on #4757
Updated the _Feature Request_ comment to reflect the updated proposal (naming scheme of the metrics).

[2018-09-28 00:29] #4764 closed

[2018-09-28 00:59] danielnelson commented on #2910
@rmacian What version of MariaDB?

[2018-09-28 01:12] danielnelson commented on #4759
Thanks @candlerb, these are some good observations that will really help getting started with this plugin.

Telegraf writes in batches of `metric_batch_size` which is 1000 by default.

As mentioned on #4762, the `host` tag is a tag we set on all metrics by default, and represents the host running Telegraf.  I'll comment further on the other issue on what we should do with hostname.

We will improv

[2018-09-28 01:35] danielnelson commented on #4762
There are two main ways you could deploy this plugin:
- One syslog input on a central server that all syslog agents send to.
- Telegraf on every server with the syslog input running, all data is sent InfluxDB directly or to batching Telegrafs.

Granted that in the first deployment model, the host is not very useful, especially if you have only one Telegraf.  The second model works better if you al

[2018-09-28 01:37] danielnelson commented on #4761
@leodido Can you take a look and let us know if we should open an issue in https://github.com/influxdata/go-syslog?

[2018-09-28 01:41] #4263 closed

[2018-09-28 01:48] danielnelson commented on #4748
cc @dylanmei

[2018-09-28 01:53] danielnelson commented on #4163
Sorry, there is no option to disable the logging, we will get it fixed.

[2018-09-28 02:03] danielnelson commented on #4326
@Touchedegris I don't think we will add an option for this, and instead rely on the query workaround.

I think you should be able to duplicate your tag to a field though using a combination of the `regex` and `converter` processors.  First copy the tag using regex, then convert one of the copies to a field in converter.  Use the `order` option to enforce ordering.

[2018-09-28 02:03] #4326 closed

[2018-09-28 02:14] voiprodrigo commented on #802
Anything planned for this?

[2018-09-28 02:18] shindoyang commented on #3005
I have wrote a java project to solve this problem. the project can find all the project register in eureka ,and renew the relegraf.conf real time. at last ,it will restart telegraf ,so we can get all projects in grafana.
you can refer to my java project : https://github.com/shindoyang/telegraf_plugin-of-eureka

[2018-09-28 02:32] danielnelson commented on #4687
Both captures are in RFC3164 format, you can quickly because the log time is not in RFC3339 format.

I will add some additional documentation around this issue but please watch #4593 for the latest updates on adding support.  You might also be able to use the workaround in that issue, using rsyslog to perform the conversion.

[2018-09-28 02:43] danielnelson commented on #3005
@shindoyang Sorry, work on the config plugins has been on hold for awhile now.  It may be some time still before we can complete it.  Glad you have a working solution and thanks for sharing the link.

[2018-09-28 05:55] Touchedegris commented on #4687
Haha that's a good point! I will forward the info the the manufacturer so he modifies it's datasheet or code! I will follow your yread for sure!  Thanks for the help.

[2018-09-28 06:03] amoghe commented on #4757
Here is a similar name scheme, but first some background...

Typically a single `virtual_server` is backed by several `real_servers`. So the output from `ipvsadm` can look like this:
[code]

Here, the first line (with the prefix *TCP*) indicates that this is a section for a virtual server, and the lines that follow are its real servers.

Now, a virtual server is defined by one of
- proto + ip + po

[2018-09-28 06:34] sbengo commented on #4764
Hi again @prydin !

What a coincidence! Just yesterday I tried the new plugin and it gave me a panic when trying to collect data and created the gist with the panic, but didn't have enough time to write up the issue!

Reviewing your log, it seems that is the same panic, but to be sure, here it is:

- [Panic log](https://gist.github.com/sbengo/ba0d2e58632092cb6ab4fc6b3227d2c4)

It seems that was ha

[2018-09-28 06:36] rmacian commented on #2910
@danielnelson is version 5.5.52

[2018-09-28 08:40] candlerb commented on #4762
Thank you, I agree with all of that.  A separate processor for reverse DNS resolution makes sense.  It could put the reverse DNS name in a separate tag if you choose; it could also implement "paranoid" mode where it checks that there is matching forward DNS.

I can see one other potential problem with UDP address spoofing: if source address is stored in a *tag* rather than a *field*, and someone s

[2018-09-28 10:32] leodido commented on #4761
Since there are two white spaces in the inbound message I think the parser is catching it correctly.

Ie.,
SP for the first white space, the second one is initial character of MSG.

Probably is rsyslog to add a space in front of "foo" message during forwarding.

We could provide an option to trim white spaces in syslog input plugin, maybe.

[2018-09-28 11:01] candlerb commented on #4761
I did a more careful examination of the BNF from RFC 5424, and I think you're right.

[code]

The sample log message is `<13>1 2018-09-27T10:27:39.862806+00:00 tick root - - - {spc}foo`

* HEADER
    * PRI: `<13>`
    * VERSION: `1`
    * TIMESTAMP: `2018-09-27T10:27:39.862806+00:00`
    * HOSTNAME: `tick`
    * APP-NAME: `root`
    * PROCID: `-`
    * MSGID: `-`
* STRUCTURED-DATA: `-`
* MSG: `{sp

[2018-09-28 12:18] prydin commented on #4764
@sbengo Hmmm... I thought it would take longer for someone to hit that bug, but OK. :) Do you get any other error just before the panic? This bug is in the error handling code, so some other issue must have triggered it.

Also, if you want, I can build you a "hotfix" binary with that bug fixed.

[2018-09-28 12:50] prydin opened #4768 "vSphere plugin: Add the BIOS UUID field to virtual machines"
## Feature Request

Add the BIOS UUID field to virtual machines.

### Proposal:
vCenter stores three distinct identifiers for a VM: The moid, the instance UUID and the BIOS UUID. We currently emit the moid, since it can be used (together with the vCenter name) to uniquely identify a VM.

We are proposing to expose the BIOS UUID as well. This useful since it can also be obtained from within a VM, t

[2018-09-28 13:08] shalstea commented on #299
Any plans to move this forward?

[2018-09-28 14:43] jbro commented on #4746
The problem here is that I can't distinguish the peers, as all the measurements have remote=2001:948:96::13. So optional flags would be a fix for that, but I think it is a general that you can't tell peers a part.

[2018-09-28 16:16] leodido commented on #4687
A parser for RFC3164 is in the making but not top priority right now.

A branch living here https://github.com/influxdata/go-syslog/tree/feature/rfc3164 exists.

@danielnelson should this be closed for now?

[2018-09-28 16:17] Castaglia opened #4770 "MySQL plugin should continue collecting metrics even if some fail"
### Relevant telegraf.conf:

[code]
### System info:

Telegraf version:
[code]
OS version:
[code]
Platform version:
[code]

### Expected behavior:

The MySQL plugin will attempt to collect all of the requested metrics, even if the gathering of some of those metrics fails due to _e.g._ database user permissions not being present.

### Actual behavior:

Our monitoring database user did not have suff

[2018-09-28 17:36] littlespace commented on #2986
@bbczeuz were you able to get this working with the UDP streaming? I am trying to do the same, would you mind share your experience?

Thanks

[2018-09-28 17:56] danielnelson commented on #4761
You can use the `strings` processor to trim whitespace from fields:
[code]

[2018-09-28 17:56] #4761 closed

[2018-09-28 17:57] danielnelson commented on #299
@shalstea We need a volunteer to finish up some final modifications on the PR, are you able to help?

[2018-09-28 19:54] danielnelson commented on #2910
Can you open it as a new issue?

[2018-09-28 20:13] dp1140a opened #4771 "Running as Windows Service ignored --config-directory option"
### Relevant telegraf.conf:
I just used a file output so I could see what was being output during test runs
<<telegraf.conf>>
[[inputs.win_perf_counters]]

    [[inputs.win_perf_counters.object]]
        ObjectName = "LogicalDisk"
        Instances = ["*"]
        Counters = ["% Disk Read Time", "% Disk Time", "% Disk Write Time", "% Free Space", "% Idle Time", "Disk Reads/sec", "Disk Writes/sec",

[2018-09-28 20:32] danielnelson commented on #299
It is described in the #2383 PR, but basically it is just a restructuring of the metrics.

[2018-09-28 20:35] danielnelson commented on #4771
@dp1140a This is with Telegraf 1.8.0?

[2018-09-28 20:49] lizaoreo opened #4772 "Ping Input Not Updating InfluxDB if Server Down"
### Relevant telegraf.conf:

[[inputs.ping]]
   urls = ["192.168.10.1"] # required
  interval = "1m"
  count = 2 # required
  ping_interval = 0.0
  timeout = 0.0

### System info:

Telegraf 1.8
CentOS 7

### Steps to reproduce:

1. Configure ping input
2. Take server being monitored offline
3. Rather than update the InfluxDB database with information showing pings are not longer being returned, it

[2018-09-28 20:57] amoghe commented on #4757
Yes, I think we're in agreement on the line protocol format.

As for using the `vishvananda/netlink` lib - let me poke around and see how easy it is to get IPVS support using that as the underlying netlink lib. I agree that using just one dependency is desirable, but I'd hate for that to be a gating factor. I'll update this thread with what I find.

On a related note, I docs to be lacking on the f

[2018-09-28 20:57] glinton commented on #4746
Gotcha, as long as adding it doesn't cause problems for others, I think it can go in. If you've got a minute, and would like to add this, we love community PRs.

[2018-09-28 21:08] glinton commented on #4746
It has been brought to my attention that the `-w` flag is not always available.
Docs for reference
 - http://doc.ntp.org/4.1.0/ntpq.htm
 - http://doc.ntp.org/current-stable/ntpq.html

[2018-09-28 23:07] dp1140a commented on #4771
1.7.3 and 1.8.0

[2018-09-28 23:13] bbczeuz commented on #2986
@littlespace I didn't work with that feature for a long time and am ususally offline these days, so you might have to test it yourself

[2018-09-28 23:44] danielnelson commented on #4757
IPVS is becoming popular for use with kube proxy, so adding k8s tag.

[2018-09-28 23:50] danielnelson commented on #4757
I'll update the docs with answers to your questions, but the short answer is you should use a struct tag for each field instead of relying on the default camelcase conversion:
[code]

For errors fatal to the gather attempt return an error out of Gather, if the gather should continue use:
[code]

You can use `I!`, `D!`, `E!` for info, debug, error level.

[2018-09-30 07:24] WuBingzheng opened #4775 "config data types of fields in CSV input plugin"
__Proposal:__  add a config to allow the users to set data types of fields, in CSV input plugin

__Current behavior:__ The CSV input detects the field type by trying int, float, bool and string in turn.
So for the following input file:

    lily, 2
    lucy, 2.1

at the first line, the plugin takes the value `2` as int. And at the second line, it takes the value `2.1` as float.

The different type

[2018-09-30 19:50] ErikAndren opened #4777 "Telegraf stops sending data to influx"
### Relevant telegraf.conf:
[telegraf.conf.txt](https://github.com/influxdata/telegraf/files/2431951/telegraf.conf.txt)
[telegraf.log.txt](https://github.com/influxdata/telegraf/files/2431952/telegraf.log.txt)

### System info:
[Include Telegraf version, operating system name, and other relevant details]
1.8.0, Debian Raspbian Stretch, Raspberry pi model A i. e. Fairly resource constrained system.

[2018-10-01 14:20] eugen35 opened #4779 "long polling bot requires certificate?"
const Telegraf = require('telegraf')
const bot = new Telegraf('xxxxxxxxx')
bot.start((ctx) => ctx.reply('Welcome!'))
bot.help((ctx) => ctx.reply('Send me a sticker'))
bot.on('sticker', (ctx) => ctx.reply('👍'))
bot.hears('hi', (ctx) => ctx.reply('Hey there'))
bot.hears(/buy/i, (ctx) => ctx.reply('Buy-buy'))
bot.startPolling()

gives error: "Failed to fetch updates. Waiting: 1s request to https://ap

[2018-10-01 16:00] makzdot commented on #4626
@danielnelson: Finally got around to it.

[jti_output.txt](https://github.com/influxdata/telegraf/files/2434685/jti_output.txt)

[2018-10-01 16:07] makzdot commented on #4626
@danielnelson I Finally got around to it.
[jti_output.txt](https://github.com/influxdata/telegraf/files/2434718/jti_output.txt)

[2018-10-01 16:16] glinton commented on #4777
It sounds like telegraf is running out of resources and halting. How long does it generally take for things to stop for you?

[2018-10-01 16:44] glinton opened #4780 "Add measurement name to tail input"
## Feature Request
Add the ability to name the measurement generated by the `tail` input plugin, similar to how `logparser` did.

**Add to struct**

https://github.com/influxdata/telegraf/blob/af0ef55c0281af67fe2db52d8c700fa8f636010e/plugins/inputs/logparser/logparser.go#L25

**Set name on `AddFields` call**

https://github.com/influxdata/telegraf/blob/af0ef55c0281af67fe2db52d8c700fa8f636010e/plug

[2018-10-01 16:45] glinton commented on #4779
I believe you are looking for https://github.com/telegraf/telegraf

[2018-10-01 16:45] #4779 closed

[2018-10-01 17:38] egegunes commented on #4780
I will work on it. Happy Hacktoberfest!

[2018-10-01 18:11] danielnelson commented on #4780
You can use the `name_override` option on any input plugin specify the default measurement name.

[2018-10-01 18:12] glinton commented on #4780
Ah, I definitely missed that, sorry @egegunes, turns out this isn't needed.

[2018-10-01 18:12] #4780 closed

[2018-10-01 18:17] danielnelson commented on #4777
I believe this is the same issue as https://github.com/influxdata/telegraf/issues/4594 because in the log file I see the MQTT input logging that it is connected twice.  I'm going to close as a duplicate and we can discuss on the other issue.

[2018-10-01 18:17] #4777 closed

[2018-10-01 18:33] rudbast commented on #4775
is it okay for me to take this ? i've got the PR ready, first time trying hacktoberfest, sorry if it seems hasty (with the PR i meant).

[2018-10-01 18:53] danielnelson commented on #4775
You can use the converter processor to adjust the type of a field:
[code]

I think this feature is still helpful to simplify the config.

[2018-10-01 20:31] danielnelson commented on #4446
@mjf When I try this the message comes through but I get a few error messages from rsyslog, do you know how to resolve these:
[code]

[2018-10-01 21:16] prydin opened #4783 "vSphere Plugin: Samples missing from non-realtime metrics."
### Relevant telegraf.conf:
[code]

### System info:
Ubuntu 16.04 AWS "Small" configuration.
Telegraf 1.18

### Steps to reproduce:

Collect some non-realtime metrics, e.g. datastores or clusters.

### Expected behavior:
You should see a data point once every 5 minutes.

### Actual behavior:
Some data points are missing.

### Additional info:
This bug is due to some strangeness in the way vCenter

[2018-10-01 23:03] danielnelson commented on #4622
Added the version in my notes. 5ec50b28ed0e4914ba4075ba44f886140f86dbae

[2018-10-01 23:03] #4622 closed

[2018-10-01 23:05] danielnelson commented on #4687
I added a little blurb about RFC 3164 support.  We will keep #4593 open as a feature request until we have support.

https://github.com/influxdata/telegraf/tree/master/plugins/inputs/syslog#rfc3164

[2018-10-01 23:05] #4687 closed

[2018-10-01 23:06] danielnelson commented on #4759
I added documentation about timestamp vs timestamp field and structured data to the syslog readme.

[2018-10-01 23:06] #4759 closed

[2018-10-01 23:08] danielnelson commented on #4446
That seems to be a separate issue, I have added the RainerScript version to the docs.

[2018-10-01 23:08] #4446 closed

[2018-10-01 23:13] #4768 closed

[2018-10-01 23:14] #4742 closed

[2018-10-01 23:36] Touchedegris commented on #3256
Hi,
This request would be very useful in a lot of cases, as most of the major networking manufacturers uses multiple indexes for snmp tables in their proprietary MIBS.  Is there any plan to support multiple indexes in a single table in the future?

[2018-10-02 00:00] danielnelson commented on #3256
Could this be done using the regex processor?

[2018-10-02 00:19] glinton commented on #4503
closing due to inactivity

[2018-10-02 00:19] #4503 closed

[2018-10-02 01:08] danielnelson commented on #4626
Looked through the data, I don't think there is anything we will be able to do.  None of the items with a description could have a corresponding out-pkts unless you drop the `path` tag, and I think if you drop that then you will probably have bad results.

As an aside, I see quite a few fields with empty string values.  Do you think we should not add these @ajhai or does it make sense to keep them

[2018-10-02 01:27] #4758 closed

[2018-10-02 03:43] agnivade commented on #4758
Thanks !

[2018-10-02 03:51] ajhai commented on #4626
@danielnelson I think we should keep them given that the device is emitting them as empty strings and could signify things like missing component, unconfigured feature etc etc..

[2018-10-02 08:57] xelite commented on #3864
Please add some output in log when query isn't execute.

[2018-10-02 11:29] Dees7 opened #4787 "processors.regex doesn't works well. or works unstable"
### Relevant telegraf.conf:
[code]
### System info:

Telegraf unknown (git: master 3268937c)
Description:    Raspbian GNU/Linux 9.4 (stretch)
mosquitto is an MQTT v3.1 broker.

### Steps to reproduce:

1. Satart telegraf.
2. publish topoc. all ok
3. restart telegraf
4. publish topic. processors.regex  doesnt works
..
n. processors.regex begins work again after 5-10  telegram restart.

### Expected

[2018-10-02 11:30] Dees7 commented on #4787
I tested Telegraf 1.8.0. The same behavior

[2018-10-02 13:41] WuBingzheng commented on #4775
Thanks. I will try this.

[2018-10-02 13:47] 1medusa1 commented on #1007
Any option to achieve this using prometheus?

[2018-10-02 18:17] brice86 commented on #4764
@prydin We're hitting the same problem.  Would that be possible to provide us with a "hotfix" binary?

[2018-10-02 18:52] amoghe commented on #4757
@danielnelson can we take on the lib change as a "Phase 3" item? I'd like to proceed using the existing library (which is pure-go, so not a burning issue, imo) . Later we can switch to using the `visvananda/netlink` lib once I contribute the code there.

[2018-10-02 19:37] prydin commented on #4764
*Unofficial* hotfix. Linux only. Let me know if you need anything else. (Also fixes #4783)
https://github.com/prydin/telegraf/releases/tag/PRYDIN-HOTFIX-4783

[2018-10-02 20:42] photinus opened #4789 "vSphere Input does not collect datastore metrics"
### Relevant telegraf.conf:
[agent]
  interval = "10s"
  round_interval = true
  metric_buffer_limit = 1000
  flush_buffer_when_full = true
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  debug = true
  quiet = false
  logfile = "/Program Files/Telegraf/telegraf.log"

  hostname = ""
[[outputs.influxdb]]
  urls = ["udp://10.120.1.44:8089"]

[[inputs.vsphere]]
  vcenters

[2018-10-02 21:30] Khord opened #4790 "vSphere Plugin: VM whitelist"
## Feature Request

### Proposal:
Wondering if there could be a VM whitelist in the vsphere plugin config so that I can just include my vCenter VM for the purposes of a VCSA utilization graph, as well as a smaller group of infrastructure type VMs. In an environment with thousands of VMs, I do not want to be collecting for all of them.

### Current behavior:
Can only exclude or include metrics.

##

[2018-10-02 22:48] amoghe commented on #4757
PR #4792

[2018-10-02 23:37] voiprodrigo commented on #4790
What about using output metric filter tagpass?Collect all but only output some, based on vm name tag value.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-03 02:51] Khord commented on #4790
Hmm didn't know about that and it sounds useful, but I'm also concerned about the strain this could put on the VMware SDK if this plugin is still gathering data on all 15000 VMs on a continuous interval, with the drop off only happening at Telegraf before it gets shipped to InfluxDB. If you are saying that it would only query the name/tagpass against the SDK, then I will definitely try that.

[2018-10-03 08:38] rsasportes commented on #4789
I have the same exact issue here.
My log shows mostly the same result as above.

[2018-10-03 08:49] dfbeckman opened #4794 "field corresponding to timezone' is not defined in*logparser.GrokConfig"
### Relevant telegraf.conf:
cat /etc/telegraf/telegraf.d/fhem_fritz_adatper.conf
[[inputs.logparser]]
  files = ["/opt/fhem/log/FBDECT_fb1_08761_0453247-*.log"]
  from_beginning = false
  [inputs.logparser.grok]
   patterns = ["%{POWER}"]
   measurement = "fhem"
   **TimeZone = "Europe/Berlin"**
   custom_patterns = '''
    POWER %{DATA:timestamp:ts-"2006-01-02_15:04:05"} %{DATA:room:tag} power: %

[2018-10-03 13:34] shanielh opened #4795 "Kinesis Output should support aggregating messages"
## Feature Request

### Proposal:

Kinesis Output should support aggregating messages into one message, one known format is the [KPL aggregated format](https://github.com/a8m/kinesis-producer/blob/master/aggregation-format.md).

### Current behavior:

Each metric is sent as a different record in Kinesis, one shard supports up to 1000 records / second or up to 1 mb / second. Because of that behavio

[2018-10-03 14:02] LeeNX commented on #4580
Run into a similar problem with v1.8.0, rolling back to v1.7.4 seems to resolve the my issue.

I also have two inputs.mqtt_consumer configs. The json set seems to go offline pretty quickly.

Let me know if there is anything I can either test or look into for more useful info.

[2018-10-03 15:07] AlarkaSanyal commented on #2898
This doesn't seem to work for me. Once I manually added multiple ones, only the last one gets selected. Any other solution?

[2018-10-03 16:05] jcmcken opened #4796 "Log more details in the event of an input collection failure"
## Feature Request

### Proposal:

The Telegraf agent should print more details any time an input experiences a data collection failure.

For example, if collection takes longer than the collection interval, the agent should print not just the plugin where it originated, but specific details (e.g. the line number of the input in the config file, or the index of the input in the list of inputs -- s

[2018-10-03 16:54] voiprodrigo commented on #4790
Correct, this only reduces what you send to InfluxDB, not what you collect. Just a mitigation for not filling the DB.

[2018-10-03 17:27] prydin commented on #4790
Filtering on resource names is something we're considering for a later release. For now, the best way to reduce the amount of data emitted is to filter the metrics as @voiprodrigo suggested.

[2018-10-03 17:31] prydin commented on #4790
Also, the metric filters DO affect what gets collected. It's essentially what builds the query against the SDK.

As for performance, vm and host queries are relatively cheap and shouldn't bog down your vCenter too much, since they're just scraped from ESXi memory. It's the other stuff, like clusters and datastores that hits the vCenter database and can cause heavy load.

Another tip is to turn off

[2018-10-03 17:49] danielnelson commented on #4790
If you use tagpass or any of the other [metric filtering](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#metric-filtering) options, it is best to apply them to the input plugin if possible.  This gives a slight performance improvement as they are removed from the Telegraf pipeline earlier.

[2018-10-03 19:02] #4783 closed

[2018-10-03 19:44] itzg opened #4801 "Provide a tar.gz release package for Darwin / MacOS with CGO"
## Feature Request

### Proposal:

It would be very helpful to obtain the "tar.gz" binary packages for Darwin under https://github.com/influxdata/telegraf/releases/latest .

### Current behavior:

At a particular release area, such as ["latest",](https://github.com/influxdata/telegraf/releases/latest), there are many platforms listed, but Darwin is not one of them.

### Desired behavior:

See a ta

[2018-10-03 19:48] mihaitodor opened #4802 "Test fails if the Local timezone is IST"
Hang on to your chair. This is going to be a funny one :)

### System info:
- Telegraf version: master branch #b9c64df
- OS: OSX HighSierra
- Current timezone: Europe/Dublin

### Steps to reproduce:
- `cd plugins/parsers/grok`
- `go test -run TestTimezoneLocalCompileFileAndParse`

### Expected behavior:
[code]

### Actual behavior:
[code]

It looks like this test is going to annoy developers from

[2018-10-03 19:58] #4794 closed

[2018-10-03 21:13] danielnelson commented on #4802
Hmm, some sort of leap millisecond issue perhaps... does this test work?:
[code]

[2018-10-03 21:15] danielnelson commented on #4801
I wonder which files should go into the darwin tar.gz?  Do you think it should just be telegraf and telegraf.conf similar to the Windows zip files?

[2018-10-03 21:33] mihaitodor commented on #4802
Output:

The issue is due to [tsMod](https://github.com/influxdata/telegraf/blob/e6c98e5ce047671c41775fb5710bb6ebc54640ad/plugins/parsers/grok/parser.go#L490) considering (rightly) that `"04/Jun/2016:12:41:45 +0100"` and `"04/06/2016--12:41:45"` are identical when `time.LoadLocation("Local")` resolves to `"Europe/Dublin"`.

Try running this code:

[code]

[2018-10-03 21:56] danielnelson commented on #4802
I see, this testcase is checking the conversion into local time from both a time with and without a timezone, and its not trying to test the timestamp fudging in tsMod.  I think then we should just pick a new time in the second metric that cannot conflict with the first metric.  I'll just add one second to the second metric: `04/06/2016--12:41:46`?

[2018-10-03 22:01] mihaitodor commented on #4802
That would definitely fix it, but I guess it would make the test slightly different. The original intent seems to have been to test that the timezone adjustment worked as intended. I'll let you decide, since I have little experience with this code.

[2018-10-03 22:18] danielnelson commented on #4802
I agree it is about timezone adjustment, ` +0100` vs `""` but I think the mistake we made was to not consider conflicts, likely we should also test tsMod with a timezone conversion but in the meantime I believe this brings us to the original intent of the tests: 4898edbb2d687b48ed87cae9233542854484b370

Can you double check that and let me know if it fails?

[2018-10-03 22:18] #4802 closed

[2018-10-03 23:08] mihaitodor commented on #4802
All tests passed OK using 4898edb. Thank you very much!

[2018-10-03 23:08] itzg commented on #4801
Yes, I think the two files like the Windows zip would be perfect.

[2018-10-04 00:02] rgitzel opened #4804 "1.8.0 dies on Paho "nil pointer dereference" exception"
Since I upgraded from 1.7.1 to 1.8.0 on Friday I've been having all manner of stability issues, with big gaps in my graphs.

Definitely I'm seeing issues similar to https://github.com/influxdata/telegraf/issues/4594.  But I am also occasionally seeing outright crashes.  Logs of one of them are below.

### Relevant telegraf.conf:
[code]
### System info:

- Telegraf 1.8.0 official Docker image
- Mos

[2018-10-04 00:11] danielnelson commented on #2898
Just double checked this with 1.8.1 and it is working as expected.  Can you open a new issue with your full config and the output of `telegraf --test`?

[2018-10-04 00:15] danielnelson commented on #4796
Let's merge this issue with https://github.com/influxdata/telegraf/issues/1815

[2018-10-04 00:15] #4796 closed

[2018-10-04 01:19] #4775 closed, assigned to nobody

[2018-10-04 01:29] danielnelson commented on #4787
I think this is the same bug as in #4594, lets discuss further on that issue.

[2018-10-04 01:46] mihaitodor opened #4805 "CONTRIBUTING.md is out of date"
The Contributing guidelines indicate that the `make lint` linter [needs to be executed](https://github.com/influxdata/telegraf/blob/master/CONTRIBUTING.md#execute-linter) before submitting a PR, which was available in the Makefile [here](https://github.com/influxdata/telegraf/blob/bb14589469f9aaaadfd511cfec32354b387783d9/Makefile#L45-L46) in bb14589. However, it got changed in #3731, when Circle 2

[2018-10-04 06:05] rsasportes commented on #4789
Hi,

My telegraf.log is now a little more explicit about what's happening. Here it is :
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------

018-10-04T06:01:47Z D! [input.vsphere]: Start of sample period deemed to be 2018-10-04 05:56:47.096487102 +0000

[2018-10-04 06:50] rsasportes commented on #4789
I have extended the interval between collections. and now I have another set of errors :

--------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------

2018-10-04T06:48:16Z D! [input.vsphere]: Start of sample period deemed to be 2018-10-04 06:43:16.837579961 +0000 UTC m=-178

[2018-10-04 08:11] Dees7 commented on #4787
No. This is other bug.
MQTT works well. and data recived but processed wrong

[code]

There is no topicname=sonoff after restart
As we can see in log TEMP=41.1 and other are recived  by telegraf

[2018-10-04 09:53] mihaitodor commented on #4079
@russorat Are you considering switching from https://github.com/couchbase/go-couchbase to https://github.com/couchbase/gocb and using `CertAuthenticator` as described [here](https://godoc.org/github.com/couchbase/gocb#CertAuthenticator)?

[2018-10-04 10:30] rmacian opened #4810 "Mysql plugin errors, requisites should be documented"
### Relevant telegraf.conf:

default config with the mysql plugin

### System info:

Telegraf 1.8.0
MariaDB 5.5.60

### Steps to reproduce:

1. Enable the plugin
2. Check telegraf logs

### Expected behavior:

Collect metrics

### Actual behavior:

E! Error in plugin [inputs.mysql]: Error 1381: You are not using binary logging

After changing the config in my.cnf  I get

E! Error in plugin [inputs

[2018-10-04 11:09] Dees7 commented on #4594
I suppose referencing #4787  into this issue was mistake.
I wrote about processors.regex
MQTT works well and data recived but processed wrong

[code]

There is no topicname=sonoff after restart
As we can see in log TEMP=41.1 and other are received  by telegraf

[2018-10-04 15:13] pytimer commented on #4209
Hi, @danielnelson .

I send a [PR](https://github.com/influxdata/telegraf/pull/4811) to implement this issue. I hope you can review it if you have time.

Some checks were not successful for this pr. I am not very clear about how to make changes, if it can not ignore, can you tell me how to fix it? Thanks.

[2018-10-04 15:52] rgitzel commented on #4804
So far 1.7.x has been stable _for me_, FWIW.

I'm going to do some more diagnosis, and will probably still create an issue upstream for this crash -- if nothing else, that error message isn't helpful. ;-)

My experience suggest that it's the _ping_ that's the problem. In most of my failure cases, Mosquitto has justifiably stopped publishing messages because it's not been recently pinged by Telegra

[2018-10-04 16:37] prydin commented on #4789
@rsasportes I don't see any errors in that log. Just debug messages. Am I missing something?

[2018-10-04 16:42] prydin commented on #4789
Oh! Now I see the problem! The query isn't returning any data. Which version of Telegraf are you on? 1.8 has a bug in it that can cause queries to return 0 objects of the time on the node where Telegraf runs is ahead of vCenter. This is fixed in 1.8.1 that was just released.

[2018-10-04 17:15] russorat commented on #4079
@mihaitodor i would imagine we should migrate to the official go lib for couchbase. We'd just want to make sure the shape of the data is similar enough that there is a migration path when users upgrade. Is that something you're interested in tackling?

[2018-10-04 17:29] danielnelson commented on #4079
There was an attempt to move to gocb a few years ago, but I have not followed up on if the additional functionality was added: https://github.com/influxdata/telegraf/issues/2418

[2018-10-04 18:12] unnamed3788 opened #4812 "vsphere plugin does not connect locally"
### Relevant telegraf.conf:
[code]
### System info:
Windows 2012 R2 Server
Telegraf 1.8.0 RC2

### Steps to reproduce:
Trying different ways of introducing the vsphere plugin.
Always same logfile output.

### Expected behavior:
Data should be collected without error.

### Actual behavior:
[code]

[2018-10-04 18:13] kgelinas commented on #824
anyone kind anough to provide a build of the latest version
I can't seem to be able to build it on debian

[2018-10-04 18:18] glinton commented on #4812
Can you confirm that you can make a request to `localhost:9443` using the username and password in the config file, and that you get valid data back?

[2018-10-04 18:24] Touchedegris opened #4813 "Plugin HTTP with cookies"
## Feature Request

Some REST API environment uses authentication through GET request and generate a cookie to use for the next GET command.

### Proposal:

When the server return a cookie in the HTTP reply, store the cookie in a jar and use it for the next requests in the plugin.

### Current behavior:

No cookies are stored, so all the sessions are considered as a new session, so all the GET req

[2018-10-04 18:37] glinton commented on #4813
@Touchedegris is there a particular plugin you had in mind for this to apply to?

[2018-10-04 18:47] #4805 closed

[2018-10-04 18:48] prydin commented on #4812
The URL needs to have /sdk at the end. You're hitting the UI, not the API.

[2018-10-04 19:18] danielnelson commented on #4787
This may just be an issue of which order the two processors run in.  Unless you add the `order` option it is undefined.  Can you retest with these additions:
[code]

[2018-10-04 20:05] glinton commented on #4810
Thanks for this report

[2018-10-04 22:16] glinton commented on #4812
@unnamed3788 can you validate against the `/sdk` endpoint?

[2018-10-04 22:34] Touchedegris commented on #4813
Http

[2018-10-04 23:28] kevinconaway commented on #3911
I took a look at this to see if this could be something that I could tackle.

The central problem here is that the version information is isolated in the telegraf _main_ module, it isn't accessible from any of the plugin interfaces.

This code base is fairly new to me so this may be off base but one idea that I had for this would be to add something like an `AgentInformation` struct to the `Config

[2018-10-05 06:37] ytzelf commented on #3039
Is there any development on this? Thanks a lot!

[2018-10-05 07:59] rsasportes commented on #4789
Hi,

First, thanks for your help ;-)

I've upgraded Telegraf to 1.8.1_1, and now some datastores start to appear in the dashboard.
Unfortunately, it is only a small amount of them (3 over 40).

As it says in the log :

--------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------

[2018-10-05 10:04] chumbert2 commented on #4580
Applying the following patch on the current master
https://github.com/Brightcookie/telegraf/commit/e3c4b9d6f7e9ca4af6de8cf27a6d9454080c3545
fixes the issue for us.

See #4580

[2018-10-05 10:05] chumbert2 commented on #4580
Oops. I meant #4594 where the above patch is referenced.

[2018-10-05 13:05] brenwhyte commented on #4771
I am not seeing this behaviour with 1.8.0 or 1.8.1 (only ones I've tested)

Sample working telegraf.d conf:

`[[inputs.win_perf_counters]]
  [[inputs.win_perf_counters.object]]
    #Query for ASP.Net perfmon objects
    ObjectName = "ASP.Net"
    Counters = ["Requests Queued","Request Wait Time","Worker Process Restarts"]
    Instances = ["------"] # Use 6 x - to remove the Instance bit from the q

[2018-10-05 13:12] voiprodrigo commented on #3039
This would be really good to have!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-05 13:27] mapleleafs89 commented on #3192
It would be great to have some more info/examples on the topk plugin, and whether it's possible it integrate it into the telegraf dashboard for grafana :+1:

[2018-10-05 15:31] kevinconaway commented on #3911
Another option could be to have the linker write the version information in to `selfstat` instead of writing it in to the main module.  Everything could then query `selfstat` for the version information as needed.

[2018-10-05 16:19] prydin commented on #4789
Do you see any metrics at all? Do you see a complete set of metrics for some datastores or do you only see sporadic metrics for random datastores? Also, for anything that's missing, can you go to the vCenter UI and make sure you can see those metrics under Monitoring->Performance?

[2018-10-05 17:09] glinton commented on #3039
@ytzelf to my knowledge, there hasn't been any implementation of this in development yet

[2018-10-05 17:45] mihaitodor commented on #4813
Taking a stab at this. I think I can send a PR soonish.

[2018-10-05 18:00] danielnelson commented on #3911
This seems like the right approach but lets add a function, or functions, to the `internal` package to retrieve the version.

[2018-10-05 19:11] kevinconaway commented on #3911
So should we modify the link step to write the version values to the _internal_ module instead and then expose them via a function?

[2018-10-05 19:55] #4749 closed

[2018-10-05 20:20] danielnelson commented on #3911
Hmm, maybe we should continue to write them to `main.version` in the linker step since this seems to be the convention, but have cmd/telegraf/telegraf.go set them to internal, so in `internal/internal.go` we would add:
[code]

[2018-10-05 20:48] danielnelson commented on #4699
Closed in #4803

[2018-10-05 20:48] #4699 closed

[2018-10-05 20:51] #4624 closed

[2018-10-05 22:06] #4472 closed

[2018-10-06 00:37] law opened #4816 "logparser broken on 1.8.x"
### Relevant telegraf.conf:
[code]

### System info:
telegraf 1.8.x (tested on .0 and .1), Ubuntu 16.04.5

### Steps to reproduce:

1. Define a standard nginx 'combined' logfile
2. configure telegraf with a logparser as per above
3. restart telegraf

### Expected behavior:

telegraf should send metrics from the parsed logfile to the defined 'output' (the above config works with telegraf 1.7.x, tes

[2018-10-06 00:56] WeiWan-Reflektion opened #4817 "do i still need to download jolokia2 into the machine where telegraf is running?"
To whom it may concern,
This is my first time to use jolokia2 to monitor cassandra,
I have installed telegraf on the cassandra machine,
do i still need to download  jolokia2 into the cassandra machine?
when i put This site can’t be reached in the browser, it always show this

This site can’t be reached
agent’s server IP address could not be found.
Try running Network Diagnostics.

what is the best

[2018-10-06 01:14] danielnelson commented on #4816
Looks like the measurement name is not being set properly, this shouldbe a workaround and we will fix this in 1.8.2:
[code]

[2018-10-06 12:36] mihaitodor commented on #4079
@russorat I don't have much experience with couchbase, but it might be fun to see if I can implement this. I'll give it a shot next week, unless somebody else wants to take it.

[2018-10-06 15:56] Dees7 commented on #4787
Yes. It helps.
Is it possible to set "order" option in [[outputs.influxdb]] ?

[2018-10-07 14:54] ea1dof opened #4822 "Unable to parse JSON input from HTTP"
I am trying to acquire metrics formatted in JSON and available with a simple HTTP query.

Here is an example of the JSON object that I get:
[code]

The configuration in the input.http section is:
[code]

When I run:
   telegraf --config /etc/telegraf/telegraf.d/mytelegraf2.conf --input-filter http --debug --test
nothing happens. Telegraf finishes and nothing is reported on the screen or the log fi

[2018-10-07 18:46] junior466 opened #4824 "input.vsphere: Error in discovery"
### Relevant telegraf.conf:

        # Read metrics from one or many vCenters
        [[inputs.vsphere]]
            ## List of vCenter URLs to be monitored. These three lines must be uncommented
          ## and edited for the plugin to work.
          vcenters = [ "https://myip/sdk" ]
          username = "user@corp.local"
          password = "paswword"

         ## VMs
          ## Typical VM

[2018-10-08 01:24] pflorczyk opened #4825 "Prometheus output: Collector as metric name"
## Feature Request
It would be really useful if prometheus output could be configured to output collector name as metric name.

### Proposal:
Allow configuring collector name as metric name (maybe per collector, in vein of collectors_exclude)

### Current behavior:
Metrics are exposed as:
[code]
### Desired behavior:
[code]
### Use case:
Allows simpler and more effective querying in prometheus. It

[2018-10-08 10:04] Teumaat opened #4827 "strconv.ParseFloat: parsing "???": invalid syntax"
**Telegraf 1.8.1 (git: HEAD ae9efb2f)
Ubuntu 16.04.5 LTS**

**telegraf.conf**
[[inputs.mqtt_consumer]]
...
  data_format = "value"
  data_type = "float"

**syslog error**
2018-10-08T07:59:30Z E! Error in plugin [inputs.mqtt_consumer]: E! MQTT Parse Error
message: ???
error: strconv.ParseFloat: parsing "???": invalid syntax

**MQTT value**
events/cv/otmonitor/modulation ???

I am running OpenTherm

[2018-10-08 11:18] Muellerflo commented on #4789
Hi,
i have the same issue and only see sporadic metrics in the grafana dashboard.
I also want to exclude some metrics (all local esxi disks which named "hypervisorxxx-local")
datastore_metric_exclude = ["*-local"]
But the plugin still collect metrics for 98 datastores ;)

Thanks.

[2018-10-08 13:45] Jaeyo commented on #272
@danielnelson any update?

[2018-10-08 15:38] prydin commented on #4824
Could you please run it with the -debug flag and send me the logs? My initial guess is that some object in vCenter is corrupted.

[2018-10-08 15:49] glinton commented on #4787
@Dees7 there is no `"order"` config for the influxdb output, are you asking if you can define the order of the tags/fields being output?

[2018-10-08 16:57] glinton commented on #4822
You'll need to specify the member [as documented](https://github.com/influxdata/telegraf/blob/1.8.1/plugins/parsers/json/README.md), summarized here:
[code]
output:
[code]

You can alternatively add `json_query` to apply tags/fields based on the subset of that query (best if there will be more than one member of `clients`):
[code]

output:
[code]

Both using a modified version of your input:
[code

[2018-10-08 16:57] #4822 closed

[2018-10-08 17:20] glinton commented on #4827
Do you have a simple way to reproduce this (config example/test)? thanks

[2018-10-08 17:29] Dees7 commented on #4787
Yes, I ask if I can define order of tagging and output to influxdb.  Something like:
[code]

Because I have no "topicname" in output to influxdb (and POWERs were added as tag not float) if it was not printed with  `processors.printer`.
So now I have in DB:
POWER(float) POWER1(float) POWER1_1(tag) POWER2(float) POWER2_1(tag) (cause bug-order?)

[2018-10-08 18:01] otherpirate opened #4829 "[processors] Remove values and/or tags"
## Feature Request

I'm collecting data with MySQL input, but it's too much information, I not need all that information.

Exist a plugin that remove's some tags and/or some values?

### Proposal:

Should be a nice feature to ANY input plugin, because each project/client has a diferent request

### Current behavior:

I don't can filter any metric

### Desired behavior:

I want to filter any metric

[2018-10-08 18:02] danielnelson commented on #4787
Inputs and Outputs do not have an `order` option because they run before and after the processors and so there is no need for them to be ordered.

If you are still having issues after adding the `order` option to the processors, can you show the full config after the new changes?

[2018-10-08 18:14] glinton commented on #4829
This is possible with [measurement filtering](https://github.com/influxdata/telegraf/blob/1.8.1/docs/CONFIGURATION.md#measurement-filtering)

[2018-10-08 18:14] #4829 closed

[2018-10-08 18:45] law commented on #4816
Another data-point, it appears that adding comments to the config file breaks the workaround.  For example, this works:
[code]

whereas this results in the metrics not showing up, and no further information/warnings/errors being logged:
[code]

[2018-10-08 19:08] prydin commented on #4789
@Muellerflo the includes and excludes act on metric names, not object names. The ability to filter objects will be added soon. See #4790

As for sporadic metrics, have you checked the log if you get any timeouts/collections that take longer than the interval?

[2018-10-08 19:16] danielnelson commented on #272
Work is on hold right now (for the first item here), but I'm tempted to break this issue up into several issues:
1. Loading config data from a configuration store (zookeeper/etcd/consul/etc), prototype code for a plugin config loading system here: https://github.com/danielnelson/tgconfig
2. General purpose discovery: still needs more thought into what precisely it will be.
3. Prometheus endpoint d

[2018-10-08 19:29] danielnelson commented on #4825
I would like to restructure the prometheus input and output mapping, but I don't think the desired behavior above matches best practices established by the prometheus project:

https://prometheus.io/docs/practices/naming/#metric-names

[2018-10-08 19:29] #4825 closed