[2015-10-28 19:45] ekini commented on #102
@sparrc yes, I've got something working at ekini@04f4b72182eaf5533275433be6933d15932af480
It's based on mentioned above hpcloud/tail.
It workd, but there are plenty of sharp edges.

[2015-10-29 00:29] mabushey commented on #317
I triple second this!

[2015-10-29 00:35] mabushey opened #330 "Problem with exec (test says OK, but service errors)"
[code]

looks OK from the test....

[code]
[code]

Looks like json, the telegraf test thinks it's valid, but the telegraf service disagrees...

[code]

[2015-10-29 06:47] sparrc commented on #330
@mabushey I haven't been able to reproduce on 0.2.0, what version are you running?

`/opt/telegraf/telegraf -version`

[2015-10-29 08:34] JulienChampseix commented on #40
@paulstuart working like a charm ! @sparrc Hope to see this into telegraf as a plugin soon and that will be perfect and great improvement for telegraf tool ;)

[2015-10-29 13:56] adithyabenny opened #331 "Redis plugin overwrites the 'host' tag, instead of using a 'server' tag"
Unlike the MySQL plugin which uses a 'server' tag to communicate the server it connects to, the Redis plugin uses the 'host' tag, which is rather undesirable as the 'host' tag gets overwritten.

[2015-10-29 14:21] skynet commented on #160
Any news about this? I'd so much like to just have it updated along with other libraries.

[2015-10-29 14:27] rossmcdonald commented on #160
@skynet No update yet. We should have progress made on this sometime this week, though. I'll send out an update as soon as it's been added.

[2015-10-29 16:07] saiello commented on #144
@sparrc i read your comment and I came up with this new version

https://github.com/influxdb/telegraf/compare/master...saiello:6de4a08944d6508a7f054a2640308c6a85fcf10b

I will add some unit test later

@panda87 of course. sample-config reports just some example. You can consume any Mbeans

[2015-10-29 17:12] mabushey commented on #330
I was running 1.9, I upgraded to 2.0. Thanks for the new version. :)

I made a more simplified version of sf_pull.sh:
[code]

It works. This was an environmental error, it doesn't work if I run the original sf_pull.sh script as the telegraf user. It's funky that the test option apparently runs under the user executing it while the daemon runs under the telegraf user.

[2015-10-29 23:10] sparrc commented on #330
I suppose I expect that, I'm not sure how we could execute under a user other than the current user. I know that we are making some pretty big changes to the deb and rpm packages soon for influxdb and telegraf, which might include something about users and privilege changes, @rossmcdonald can you comment?

[2015-10-29 23:12] sparrc commented on #144
awesome, :+1:, thanks @saiello. Send up a PR whenever you have something ready to merge :-)

[2015-10-29 23:41] mabushey commented on #330
Maybe add the the documentation to test it with sudo -u telegraf  ??

[2015-10-30 07:07] kureikain opened #332 "http-ping plugin"
We have a `ping` plugin, if so, we probably should have a HTTP plugin that fetch the URL and record response time, which is an important metric for many people.

Will this be considered? I know we can wrap some script to use `exec` plugin but by that logic probably everything is exec

[2015-10-30 14:24] tarrychk commented on #218
@dustinblackman https://github.com/tarrychk/telegraf/tree/procfs
My patch expects host procfs in /rootfs/proc. Either start container with "--volume /:/rootfs:ro" or "--volume /proc:/rootfs/proc:ro". Symlinking /rootfs/proc -> /proc will allow you to test telegraf in your build/test environment.

[2015-10-30 16:38] otoolep commented on #332
This isn't a bad idea, it would allow simple up/not-up checks of a website, for example.

[2015-10-31 14:48] kokarn commented on #332
:+1:
This would be very useful.
Maybe even options to load all assets or not?

[2015-10-31 21:19] cornerot commented on #317
plugin is almost ready

[2015-11-01 09:24] ekini commented on #185
Sorry to make you waiting for it so long. I've created the pull request.

[2015-11-02 03:26] kureikain commented on #332
sound like people like it. Let me whip up something and see

[2015-11-02 04:11] sparrc commented on #332
@kureikain what about an "http" option to the `ping` plugin instead of a separate plugin? Or it could just take two url lists, `urls` and `http_ping_urls`

[2015-11-02 05:25] otoolep commented on #332
@sparrc -- I would avoid that. We're using the word "ping" in a metaphorical sense, but I wouldn't actually add this functionality to the ping plugin.

[2015-11-02 05:51] oliverjanik commented on #30
Looks like datadog client uses WMI and Event Log https://github.com/DataDog/dd-agent/tree/master/checks.d

[2015-11-02 07:29] yellowmenace07 opened #336 "Mongodb plugin should output 2 measurements in test mode"
Mongodb plugin is not returning any output since upgrade from 0.1.9 to 0.2.0. The operating system is Centos 6.5.
[code]

[2015-11-02 13:19] ebaratte commented on #218
I successfully run a docker container with @tarrychk patch. The Dockerfile contains:

[code]
and can be run with `docker run -d --name telegraf --link influxdb-latest-1.dual-latest.f5e3b2d9:influxdb -v /sys:/sys:ro -v /var/run/docker.sock:/var/run/docker.sock -v /:/rootfs:ro my_telegraf_build`

[2015-11-02 14:52] saiello commented on #144
hi @sparrc, i sent a PR https://github.com/influxdb/telegraf/pull/337

[2015-11-02 17:20] sparrc commented on #336
This is sort of expected behavior.

Since those values are "derived" metrics based on 2 measurements, they can only be output after taking two measurements. Currently only the `cpu` plugin takes 2 measurements in test mode, which is something I changed in version 0.2.0.

I will add a switch for outputting 2 measurements for `mongodb` plugin in test mode.

**tldr** this is only a problem of `-test`

[2015-11-02 18:00] #306 closed

[2015-11-02 18:13] #185 closed

[2015-11-02 18:27] sparrc commented on #331
thanks for pointing it out

[2015-11-02 18:45] schors commented on #317
Hm... but on what OS? Not FreeBSD...

[2015-11-02 18:46] pauldix opened #339 "Should be able to post data via UDP"
This will require and update the the client library as well as an update to Telegraf. Users should be able to have Telegraf post data to InfluxDB through the UDP input.

[2015-11-02 19:58] sparrc commented on #339
:+1: I can take a look at adding that functionality to the client as well

[2015-11-02 19:59] #331 closed

[2015-11-03 00:24] #336 closed

[2015-11-03 00:25] sparrc commented on #309
closed by #325

[2015-11-03 00:25] #309 closed

[2015-11-03 15:56] cornerot commented on #317
No :) http://zfsonlinux.org/

[2015-11-03 16:45] sparrc commented on #30
Yes, we will need to do something with the Windows event log, this is going to be difficult though because I guess we'll need to have our own log wrapper that uses either stdout/stderr or the windows event log depending on the system.

https://github.com/golang/sys/tree/master/windows/svc/example

[2015-11-03 17:02] schors commented on #317
Well, this time hell knows what

[2015-11-03 17:22] descrepes opened #342 "Haproxy plugin overwrites the 'host' tag"
The Haproxy plugin should not use the host tag as it overwrite the agent host tag.
The plugin should use a server tag like MySQL or the fixed Redis plugin ^^
Maybe there could be 2 tags, server and port.

Thx !

[2015-11-03 18:11] sparrc commented on #330
@mabushey I'll do that

[2015-11-03 18:20] #330 closed

[2015-11-03 18:22] #342 closed

[2015-11-05 03:25] ChamaraG opened #345 "LVM plugin"
Is there a LVM plugin available? The disk plugin does not seem to be able to figure out the sizes of LVM volumes correctly.

I am using version 0.2.0

[2015-11-05 04:20] sparrc commented on #345
There is no LVM plugin, but that would be good to have

[2015-11-05 08:48] panda87 opened #346 "Consume AWS metrics (EC2, ELB)"
It will be great to add plugin to consume metrics from AWS CloudWatch, mainly the ELB and EC2 metrics.

[2015-11-05 08:56] panda87 opened #347 "Part measurement to types and sub types"
I think the measurement tag should represent a group types, for example, cpu.
Today the cpu measurement looks like this: cpu_usage_steal, and I think the measurement should be only `cpu` and `usage`, `steal` should be the types and sub type.

With this approach this will be easy for example to build more aggregate queries in Grafana and use as many WHERE and GROUP BY we can to get the right result

[2015-11-05 15:09] ChamaraG commented on #345
Thanks for the info; I'll see whether I can add one.

[2015-11-05 17:27] sparrc commented on #347
Thanks for the suggestion, there's already an issue for this though #152

[2015-11-05 17:27] #347 closed

[2015-11-05 17:27] sparrc commented on #346
:+1:

[2015-11-05 22:43] gunnaraasen opened #348 "StatsD output"
Following up with the corollary to https://github.com/influxdb/telegraf/issues/39, a StatsD output could be useful for sending metrics produced by Telegraf to a StatsD consumer.

[2015-11-05 22:53] gunnaraasen opened #349 "Telegraf/line protocol input/output"
Telegraf should be able to output metrics to another Telegraf, which would aggregate the metrics before sending them onto another output. This could potentially be a plugin that could simply accepts line protocol metrics generated via Telegraf's InfluxDB output.

[2015-11-06 15:25] ChamaraG opened #351 "InfluxDB log messages: CREATE DATABASE telegraf"
I have Telegraf 0.2.0 sending data to a InfluxDB 0.9.4.2 server and in the server logs I see the following log message every few seconds. This message is generated by a Telegraf query.

    {"log":"[http] 2015/11/06 07:14:02 172.28.213.9 - root [06/Nov/2015:07:14:02 -0800] POST /write?consistency=\u0026db=telegraf\u0026precision=s\u0026q=CREATE+DATABASE+telegraf\u0026rp= HTTP/1.1 204 0 - InfluxDBC

[2015-11-06 15:43] steverweber commented on #102
a little trick i been toying with.

[code]
might need work, but thought it worth the share.

[2015-11-06 16:10] otoolep commented on #351
That is not right. Whatever is sending `CREATE DATABASE` is sending it to the wrong endpoint.

[2015-11-06 16:33] ChamaraG commented on #351
Hi, thanks for the reply. I think it is Telegraf that is causing `CREATE DATABASE` as when I stop Telegraf, this message stops appearing in the InfluxDB logs and all I see is queries from my consumers.

Is there anything I can do to trace this? I am running Telegraf with `Debug:true`, but I don't see anything unusual in the Telegraf log file.

[2015-11-06 17:15] sparrc commented on #351
@ChamaraG Sounds like a bug, Telegraf should only run that at startup, I'll look into it

[2015-11-06 18:40] alexarwine commented on #351
I'm hitting a similar issue; influxdb crashed last night (single node, 0.9.3), all telegraf clients (0.2.0 as well as master branch) seem to be hitting the connect timeout value; but collectd seems to be collecting fine.

increasing the timeout does not seem to help.

2015/11/06 10:00:00 Gathered metrics, (10s interval), from 9 plugins in 11.797297ms
2015/11/06 10:00:00 ERROR: Post http://10.90.13

[2015-11-06 19:15] sparrc commented on #351
@alexarwine that is an unrelated issue, and also I'm not sure it's an issue. If InfluxDB is down, then Telegraf won't be able to write to it, what behavior would you be expecting?

[2015-11-06 19:29] alexarwine commented on #351
I apologize, I discovered that influx was not accepting writes by way of telegraf

[2015-11-06 21:15] sparrc commented on #351
this is in fact a bug in the InfluxDB client, see PR above

[2015-11-06 21:15] sparrc commented on #351
@alexarwine no problem, just making sure it wasn't a telegraf issue

[2015-11-06 22:10] leonty opened #352 "Generic DB Query Plugin (DBI plugin)"
Is it possible like in collectd to perform an arbitrary sql query that forms a metrics?

[2015-11-06 22:17] ChamaraG commented on #351
@sparrc , thank you.

[2015-11-06 22:34] sparrc commented on #352
are you talking about the [DBI plugin](https://collectd.org/wiki/index.php/Plugin:DBI)?

There is nothing like that in Telegraf, but I can make it a feature request

[2015-11-06 22:42] sparrc commented on #349
One option would be to just have a udp input listener that would accept line-protocol, and same with the output

[2015-11-06 22:47] #351 closed

[2015-11-07 08:08] leonty commented on #352
Exactly. Actually I thought it was done already when read the plugin list...

[2015-11-07 13:47] kzarzycki commented on #144
Hi! Do I understand, that the jolokia plugin is only for Jolokia-based agents? So I understand that this plugin is not going to support connecting to Remote JMX, that most of current java software use out of the box?(I think jolokia adoption is pretty narrow yet, while Remote JMX is wide).

[2015-11-09 18:01] cornerot commented on #317
Yes, I know

[2015-11-09 18:01] #317 closed

[2015-11-09 18:01] syepes opened #355 "FreeBSD Support"
It would be great if we could add support for FreeBSD

[2015-11-09 20:53] sparrc commented on #355
@syepes Do you mean for pre-compiled binaries or a package you could install? Telegraf should compile on FreeBSD, afaik

[2015-11-10 16:39] JulienChampseix opened #358 "[0.2.0] - Jolokia plugin not available in 0.2.0"
Hi Team,

We wanted to test jolokia from the latest version of telegraf 0.2.0 (http://get.influxdb.org/telegraf/telegraf_0.2.0_amd64.deb) but apparently dont work :

root@-:/opt/telegraf# ./telegraf -usage jolokia
___Plugin jolokia not found and Output jolokia not found___
root@-:/opt/telegraf# ./telegraf -version
___Telegraf - Version 0.2.0___

It's weird because on the main page in section Suppo

[2015-11-10 16:43] panda87 commented on #358
This will be available in the next version, 0.2.1
Someone knows when this version will be released since I also want to test the Jolokia plugin.

Thanks

[2015-11-10 16:46] sparrc commented on #358
Jolokia will be available in 0.2.1, sorry for the confusion,

I can make a 0.2.1 release this Thursday

[2015-11-10 16:48] panda87 commented on #358
Sounds good :+1:
There are nightly builds in Telegraf?

[2015-11-10 16:52] JulienChampseix commented on #358
@sparrc that will be great !!! if you can do this release :+1:

[2015-11-10 16:56] sparrc commented on #358
@panda87 Currently there are not nightly builds for Telegraf but I'm hoping to get that going soon

[2015-11-10 17:16] #358 closed

[2015-11-10 18:19] syepes commented on #355
I was thinking more that the system/net and zfs plugins be able to collect there info from fBSD.

[2015-11-10 18:23] sparrc commented on #355
Could you be more specific about what errors you are seeing in those plugins?

[2015-11-11 11:22] jcmartins commented on #97
I don't know how telegraf can talk with sensu-client.
For me Telegraf is good to metrics and Sensu is good to handler alarms
If you want use Telegraf to alarm maybe the solution is:
Telegraf -> Influxdb <- Grafana v2.5 -> Grafana handler alarms.
I don't now if Chronograf have handlers to alarms, maybe can you change grafana to chronograf.

[2015-11-11 15:08] aodj opened #359 "Unable to use pass or drop with httpjson"
As the title says, I can't seem to get any of the filtering mechanisms to work with the `httpjson` plugin (or the `exec` plugin fwiw)

In fact, adding in `pass` completely stops the plugin from working, even when using `-test` to validate:

[code]
when executed as `telegraf -config httpjson.conf -test` returns simply:

    * Plugin: httpjson, Collection 1

... before exiting.

Basically what I'm t

[2015-11-11 15:16] aodj commented on #359
i need to correct my earlier assertion regarding `tagdrop` and `tagpass` since I had my syntax all wrong for it.

[code]
The above *will* filter out (since it's tagdrop) tags with the name `server` and value `http://localhost:9200/dohop-*/_stats/docs/`

[2015-11-11 15:40] jrxFive commented on #328
@sparrc, any suggestion on which direction? I probably have some time to start this.

[2015-11-12 11:05] aodj commented on #359
After sleeping on it, I tried a brute force approach to work out what was happening; basically the value of the `pass` array need to start with the value of `name` if it's been specified. So in my case, I need to start all `pass` or `drop` filters with `es_indexes` which means I can get to the single value I want by specifying `pass = [ "es_indexes__all_primaries_docs_count" ]`

It's quite non-int

[2015-11-12 11:35] cornerot commented on #355
Currently, ZFS plugin does not work on fBSD

[2015-11-12 13:37] cgeoffroy commented on #218
For the use-case aspect, I can speak about `cadvisor`. You monitor the host by deploying it in a container (see https://github.com/google/cadvisor#quick-start-running-cadvisor-in-a-docker-container).

Back to `telegraf`, you can have the same feature without heavily patching the code. Because `telegraf` uses the `gopsutil` as a back-end library to deal with low level stuff. `gopsutil` has 2 enviro

[2015-11-12 16:41] sparrc commented on #359
@aodj I'm not sure I understand, what do you want to be able to do? You want to do a glob-style matching of the pass filters?

Just inputing "_all" and expecting it to filter seems too broad, what if you have multiple metrics with "_all" but you only want some of them?

[2015-11-12 16:50] sparrc commented on #359
With the current architecture there wouldn't really be a way around the "name" being part of the filter. In this case, "name" is an argument specific to this plugin, whereas "pass" is an argument for the entire daemon. The daemon doesn't have any control over the name of a measurement given by a plugin, it just takes whatever the plugin gives it and tries to filter.

I do think, though, that these

[2015-11-12 17:49] sparrc opened #362 "pass, drop, tagpass, and tagdrop should all support glob matching"
Currently they only support "startswith" matching, which isn't super easy to use.

We can probably just put this function: https://github.com/ryanuber/go-glob/blob/master/glob.go#L11 into the `internal` telegraf package (including the license)

[2015-11-12 18:32] rijnhard opened #363 "StatsD Multiple Database Support"
Just putting this here for completeness.

It would be useful to push different statsd series to different DB's.

The use case is pushing application stats series to one DB so that clients can see and manipulate them in grafana, while server performance stats series go to another DB so that only we can see those.

(depending on feedback this should probably be a separate feature request)
And just t

[2015-11-12 20:38] aodj commented on #359
@sparrc regarding your first post, `_all` was the name of a top level field in the JSON response from the API I was querying, rather than a glob syntax, since I was trying to work out the prefix required to filter on.

As for the second point you raise, I wasn't aware that the `pass` and `drop` fields were part of each plugin in turn, but rather thought they were attached to the individual items g

[2015-11-12 23:30] jchauncey commented on #218
So I submitted the original PR that added that functionality. I was in the middle of writing a go client that works very similar to telegraf and needed to mount the host /proc into the container so i could generate system metrics and send them to influx. If you guys had this in telegraf I could probably deprecate my client.

[2015-11-12 23:35] sparrc commented on #218
I recently tried to update gopsutil to HEAD of master, but there appears to be an issue with the Go 1.5.1 build toolchain and `internal` packages. I can't find the issue at the moment, but it will probably need to wait until Go 1.5.2 is released

[2015-11-12 23:36] jchauncey commented on #218
Sounds good

[2015-11-13 05:13] insasho opened #366 "InfluxDB input plugin"
influxdb can be a difficult thing to manage, but telegraf does not have a plugin to monitor influxdb. InfluxDB has server monitoring features built in (https://influxdb.com/docs/v0.9/administration/statistics.html) and it could be useful to use telegraf to consolidate influxdb metrics from many clusters into a single cluster.

Expected behavior: telegraf should have an influxdb input.

[2015-11-13 05:18] otoolep commented on #366
I agree. PRs welcome. :-)

[2015-11-13 07:47] JulienChampseix commented on #299
Any update on it ?

[2015-11-13 13:05] syepes commented on #355
FreeBSD Build log failure:

[code]

[2015-11-13 16:29] sparrc commented on #299
PRs welcome :-)

[2015-11-13 18:11] beckettsean opened #367 "[0.2] create database statement fails, going to wrong endpoint"
Installed telegraf 0.2.0 from deb package. On launch, it's trying to create the `telegraf` database in the InfluxDB instance, but it's sending the command to the wrong endpoint:

[code]

That request should be a `GET` to the `/query` endpoint, not a `POST` to the `/write` endpoint.

[2015-11-13 18:13] beckettsean commented on #367
Once I manually created the `telegraf` database everything works as expected, but this is a poor "out-of-the-box" experience.

[2015-11-13 18:34] jtyr commented on #97
Perhaps something like `threshold` plugin for Telegraf would help to solve this problem. For example Collectd has a `threshold` plugin where you can set thresholds (warnings, failure) and then the message ([OK, WARNING, FAILURE] + details) is sent via `write_sensu` plugin to Sensu client. Then there is no need to send ALL metrics to Sensu because all the threshold evaluation is done on each of the

[2015-11-13 19:41] JulienChampseix commented on #346
:+1:

[2015-11-13 19:42] sparrc commented on #367
@beckettsean This will be fixed in 0.2.1, it was actually a bug in the InfluxDB v2 client, see https://github.com/influxdb/influxdb/pull/4700 and #351

[2015-11-13 23:18] sparrc commented on #339
closed by #364

[2015-11-13 23:18] #339 closed

[2015-11-15 12:52] MerlinDMC commented on #355
That is due to the fact that the dependency gosigar has no FreeBSD support.

It is mainly using the proc filesystem to parse cpu stats which in FreeBSD is not available.
You probably want to extend gosigar to support FreeBSD in the first place which would mean getting a `sigar_freebsd.go` in there that implements the missing bits of all those types - mainly all the Get methods.
If you take `sigar_

[2015-11-15 19:10] panda87 opened #371 "kafka consumer plugin issue"
Hi,
As part of my tests Im using Telegraf to send metrics to Kafka.
From Kafka I plan to consume the metrics to InfluxDB.

As part of my tests I tried to use the Kafka (consumer) plugin, but the problem is that the plugin doesn't consume any logs from the relevant topic, unfortunately I can't see any problem. (in the zk I can see it consumed 20K logs but then it stopped without send them to Influx

[2015-11-15 20:25] sparrc commented on #355
I think it would be more simple to just remove the go-sigar dependency and replace it with gopsutil. gosigar is a project that doesn't often respond to PRs, and I think you even have to send in a snail-mail CLA agreement

[2015-11-15 20:59] MerlinDMC commented on #355
@sparrc since gopsutil is already a dependency for other stuff this seems to be a good way.
There still is the termios problem in the logrus code but @Sirupsen is very responsive so that problem might be easily solved.

[2015-11-15 21:59] MerlinDMC commented on #355
Turns out it already is fixed in logrus just the stored version of go-dockerclient still had a broken version.
A simple bump of `github.com/fsouza/go-dockerclient` via godep did the trick.

PR #372 should fix compilation on FreeBSD

[2015-11-16 02:51] anarcher commented on #348
:+1:

[2015-11-16 03:56] pcheliniy commented on #348
:+1:

[2015-11-16 04:03] sparrc commented on #348
Does anyone have a suggestion on how this would work? How could a Telegraf metric be converted into a Gauge/Counter/Timer/Set?

[2015-11-16 13:49] JulienChampseix commented on #358
@sparrc i saw 0.2.1 is not out last Thursday, is it planned this week ?

[2015-11-16 16:31] sparrc commented on #358
@JulienChampseix I'll have it packaged and on the github page by this evening (US PST)

[2015-11-16 16:53] sparrc opened #373 "Use BurntSushi TOML parser instead of naoina"
the BurntSushi toml parser is much more commonly used and supported: https://github.com/BurntSushi/toml

We should use this instead of https://github.com/naoina/toml. This will be easier to maintain and also fix an issue where invalid types in the TOML config cause a panic, such as:

[code]

[2015-11-16 18:01] sparrc commented on #371
I can't recreate, can you provide your configuration on both sides of kafka?

Note that your Kafka topic of the output and input plugins must match. Currently the default topics do not match, which we should probably fix.

[2015-11-16 18:12] panda87 commented on #371
What do you mean configuration on both sides of kafka?
The kafka configurations or telegraf output + kafka consumer plugins?

[2015-11-16 18:26] sparrc commented on #371
yes, please show your configuration, for output and consumer plugins.

I am now also seeing problems with the consumer plugin, but I haven't yet found out the problem

[2015-11-16 18:31] sparrc commented on #371
@panda87 forget about the configuration. As far as I can tell, the kafka consumer plugin can only anything on the 1st run. I don't think it's ever been a functional plugin :sob:

I'm going to need to significantly refactor it to get it working, probably making it a `ServicePlugin`, I'll try to do that today

[2015-11-16 19:19] panda87 commented on #371
Thanks @sparrc!
If you are planning to refactor this plugin, can I ask you to add another parameters in order to fit this plugin for more use cases.

1. Offset management - manage what is the starting offset for consuming (last offset or manual offset number).
2. Partitions - let us choose the number of partitions in order to fit the amount of partitions of the topic. Since if the topic has more t

[2015-11-17 09:36] ekini commented on #373
According to https://github.com/toml-lang/toml#user-content-implementations, BurntSushi's is only 0.2.0 compliant, but naoina's supports 0.4.0.

I've used both, and like the latter more. At least for auto recognising toml's "some_value' as SomeValue.

There's also https://github.com/pelletier/go-toml, which I've never tried.

[2015-11-17 15:54] EnterSrl commented on #30
I tried https://s3.amazonaws.com/get.influxdb.org/telegraf/telegraf_0.1.9_amd64.msi on windows server and it works fine!
But i didn't find the official download page of Telgraf Windows version, where i can find the Telegraf newest release for Windows?

[2015-11-17 15:57] dbellantuono commented on #30
I tried https://s3.amazonaws.com/get.influxdb.org/telegraf/telegraf_0.1.9_amd64.msi on windows server and it works fine!
But i didn't find the official download page of Telgraf Windows version, where i can find the Telegraf newest release for Windows?

[2015-11-17 16:12] jcmartins commented on #346
:+1:

[2015-11-17 17:53] sparrc commented on #30
@dbellantuono It's not officially supported yet so we aren't distributing it. Packaging up 0.1.9 was a bit of a one-off, there are also many plugins you will find don't work properly.

[2015-11-17 17:56] sparrc commented on #373
@ekini I didn't realize that, from what I could tell it seemed that the BurntSushi library has an easier interface for parsing arbitrary toml than naoina's, and it also won't panic when presented with the wrong type.

[2015-11-18 10:14] neckhair commented on #65
Pull-Request for this is #357

[2015-11-18 19:13] babilen commented on #34
Really looking forward to this.

[2015-11-18 20:30] sparrc commented on #367
0.2.2 is now released and has this fix

[2015-11-18 20:30] #367 closed

[2015-11-18 22:45] #34 closed

[2015-11-19 00:37] sparrc commented on #346
Definitely looks possible, there's this library: https://github.com/goamz/goamz that appears to provide most capabilities

[2015-11-19 06:27] panda87 commented on #346
This is correct, but you don't prefer using this library: https://github.com/aws/aws-sdk-go?
I saw that this project: https://github.com/bosun-monitor/bosun/blob/master/cmd/scollector/collectors/aws.go implemented part of metrics with the library above.
What do you think?

[2015-11-19 12:44] ekini opened #380 "Telegraf should do some simple metric aggregation/rollup"
Let's say I have 1k metrics per second, generated by one host, with the same tags, but different values.
I want to sum all values, aggregated by 1 minute.

I can send all of them to InfluxDB and do aggregation there. It works for a few hosts, but what if I have thousands of them? InfluxDB will just die.

I'm not speaking about complex functions, but some simple ones like sum(), count() and mean()

[2015-11-19 16:05] fifthecho opened #381 "Redis plugin does not tag output"
The redis plugin does not tag its output with the source server, making it impossible to isolate redis statistics between redis servers (or clusters).

[2015-11-19 18:15] sparrc commented on #381
yes it does, there is a `server` and `host` tag in version 0.2.x:

[code]

[2015-11-19 18:15] #381 closed

[2015-11-19 18:39] sparrc commented on #346
oops, that's the one I meant to link, thanks @panda87

[2015-11-19 18:57] fifthecho commented on #381
Then possibly this is from code newer than the available RPM as the output I receive is:
[code]
I'll look forward to having better redis information in a newer release. Thank you.

[2015-11-19 20:01] sparrc commented on #381
@fifthecho There is a newer RPM available, you are using 0.2.0 and the latest is 0.2.2, you can get it on the main page: https://github.com/influxdb/telegraf

[2015-11-19 20:49] #371 closed

[2015-11-19 21:11] fifthecho commented on #381
0.2.2 is tagging the output but doesn't have all of the output fields your output has. Are there configuration options which have been added to redis or are those data points added in code which isn't part of 0.2.2?

[2015-11-19 21:37] sparrc commented on #381
Nothing different about Telegraf, but it might be that you have a different version of redis. Can you run the INFO command and show me the output? Here's what it looks  like on my redis instance (via telnet):

[code]

[2015-11-20 13:37] kokarn commented on #332
A friend threw together a go app that does exactly this except it takes a json list of urls as input.
Should require minimal effort to port to a plugin
https://github.com/gust1n/isitupandfast

[2015-11-20 15:45] fifthecho commented on #381
This does look like a redis-level thing. Some of our systems are running redis 3.x which are providing all of these stats, but redis 2.x doesn't.

Thank you very much for all your help.

[2015-11-20 17:31] sparrc commented on #380
This is an interesting idea, do you have any ideas for how these aggregation functions could be configured? It would probably need to be a separate `[aggregation]` section of the config, where you could define different aggregation functions, maybe like this:

[code]

This would then need to be processed after collection. It'll be a little tricky I think because these measurements will need to be

[2015-11-20 17:44] sparrc commented on #380
BTW, @ekini which plugin is generating that many metrics?

[2015-11-20 18:02] ekini commented on #380
The one that parses logs :)

I've been thinking about it a bit, and I'm still not sure how to configure aggregation. But there should be some grouping, by time and tags.

[2015-11-20 18:23] sparrc commented on #380
Seems like aggregations could be their own special type of plugin. They could live in their own directory and have an interface to make it easy for contributors.

Mechanically, I'm thinking they would need to be run by the `flusher` goroutine in agent.go, on the list of points, before `flush` gets called.

[2015-11-20 18:58] sparrc commented on #380
Actually we can aggregate stats as they arrive here: https://github.com/influxdb/telegraf/blob/master/agent.go#L397-L399

that way not needing to deal with dropping metrics that shouldn't be flushed on their own, we can just add the aggregated stats directly to the slice of points.

[2015-11-20 19:17] jro opened #384 "md5sum on download page don't seem to match"
when downloaded through the link in README.md or from the one on the downloads page. At least for deb.

[2015-11-20 20:17] sparrc commented on #384
Where are you getting the md5 from? I don't recall publishing any md5sums

[2015-11-20 20:27] sparrc commented on #384
oh, on the downloads page, now I see, you can open an issue on the docs pages here: https://github.com/influxdb/influxdb.com

[2015-11-20 20:27] #384 closed

[2015-11-20 22:31] gotyaoi opened #385 "Prometheus error in test-short"
Getting the following error when running `make test-short`:
[code]
Not sure if this is a dependency issue or if this test should not be in test-short.

[2015-11-22 23:31] gotyaoi opened #387 "kafka_consumer error in test-short"
[code]
Got this when I ran the tests while compiling something unrelated in another terminal. Perhaps interestingly, the issue I mentioned in #385 did not show up on that test run.

[2015-11-23 10:09] kohlerm opened #388 "Stops sending data after "Error: current total CPU time is less than previous total CPU time""
Telegraf stops sending data after getting into the
"Error: current total CPU time is less than previous total CPU time".
Not sure how it happened, but restarting telegraf solved the issue.

Not that I monitored a laptop for testing purposes, which might not have connection to the server all the times, and might also be hibernated and restarted.

Anyway it would be good if there would be a better s

[2015-11-23 16:52] JulienChampseix commented on #144
@sparrc @saiello i will be interested about question from @kzarzycki

[2015-11-23 17:41] sparrc commented on #144
@kzarzycki @JulienChampseix I don't know the answer to this as I'm not familiar with remote JMX or Jolokia. @saiello it would be helpful if you could answer this, or if anyone else is familiar with the differences between Jolokia and Remote JMX.

[2015-11-23 17:45] sparrc commented on #387
I can't reproduce it, and unless it happens very frequently I'm going to mark it as "won't fix"

[2015-11-23 17:45] #387 closed

[2015-11-23 18:17] rvrignaud opened #389 "Telegraf 0.2.2 panic"
Hello,

I'm using telegraf to scrape prometheus' kubernetes endpoints.
I tried to upgrade my telegraf from 0.1.9 to 0.2.2.
It panicked after complaining a lot about NaN. Please find the logs below.
I'm happy to provide more informations and help in debugging if needed.
I did a rollback to 0.1.9: no complain about NaN and no panic.

[code]

[2015-11-23 18:31] sparrc commented on #389
@rvrignaud What plugins and outputs are you using? Only the prometheus plugin & influxdb output? Are the values actually NaN? How do they appear in influxdb?

[2015-11-23 18:57] rvrignaud commented on #389
I have only influxdb output (I use influxdb 0.9.4.1) and only prometheus plugin (an array with 13 urls).
The prometheus urls do seem to have NaN values (not checked all of them) for the complaining tags, I can PV you an output if needed.
I'm not sure what exactly do you mean by how do they appear in influxdb. I can throw a bunch of influxdb queries if you ask them.

[2015-11-23 19:04] mabushey opened #390 "Telegraf 2.0 -> 2.2 breakage"
I upgraded a server from 2.0 to 2.2.
[code]

How do I change "system_uptime" datatype to int64 from float?

[2015-11-23 19:11] sparrc commented on #389
@rvrignaud I'm just trying to understand what the NaN metrics actually look like when they reach InfluxDB.

When using Telegraf 0.1.9, could you make a query on a NaN metric and show me how it looks in the DB? Something simple like `SELECT * FROM prometheus_kubelet_pod_start_latency_microseconds` would do

[2015-11-23 19:13] sparrc commented on #390
This is likely due to this change: https://github.com/influxdb/telegraf/pull/372, I'll look into it

[2015-11-23 19:15] rvrignaud commented on #389
[code]
Others queries are working fine

[2015-11-23 19:17] sparrc commented on #389
@rvrignaud I see, it looks like InfluxDB 0.9.5 has begun explicitly banning NaN values, because it has never actually supported them anyways.

I think the fix is going to be for Telegraf to just drop the NaNs before trying to even create points out of them. It looks like the panic is coming from the influxdb client so that should probably be fixed as well in the influxdb repo.

[2015-11-23 19:22] gotyaoi commented on #387
Ok, I'll reopen if I can manage to reproduce consistently.

[2015-11-23 19:28] sparrc commented on #390
@mabushey I confirmed that gosigar was providing the uptime metric as `float64`, whereas gopsutil is providing it as a `uint64` (which we started using in Telegraf 0.2.1)

I actually think that gopsutil has it right, uptime _should_ be an int, but I'll convert it so as not to break backwards compatability.

[2015-11-23 19:30] mabushey commented on #390
Thanks for the lightning fast response! Sounds good. :) It will be nice to have FreeBSD compatibility too.

[2015-11-23 19:55] saiello commented on #144
Hi, @kzarzycki yes this plugin is only for jolokia-based agent, and even though it would be awesome connecting directly to the JVM through the JMX protocol, I think it's not possible: JMX is a java world protocol based on RMI.

From jolokia site(https://jolokia.org/about.html):
"JSR-160 connectors are highly Java centric where its default protocol RMI is not available outside the Java universe"

J

[2015-11-23 20:23] sparrc commented on #390
When I was working on a fix for this I realized that the gopsutil uptime implementation is pretty broken. We'll have to wait until this PR is merged to fix this: https://github.com/shirou/gopsutil/pull/114

[2015-11-23 21:35] panda87 commented on #144
First of all @saiello thanks for the Jolokia plugin and the effort.
As the comments above, I also have some problems with this plugin since most of my jvm based services are in Docker container and I don't have the ability (and maybe we don't want) to add another agent \ dependency to the container if we can get these metrics by jmx request.

This is not an easy decision for us, but as you said th

[2015-11-23 21:57] sparrc commented on #144
@saiello @panda87 Is Jolokia the only way that Remote JMX could be exposed to a non-Java application (such as Telegraf)? If so then I think we can close this case

[2015-11-23 23:08] #389 closed

[2015-11-24 02:27] imcphillips commented on #277
So am I understanding the docs and this thread correctly, that there's currently no way to include tags with metrics gathered with this plugin? I see it was added to httpjson, but I'm not seeing a corresponding change in exec.

[2015-11-24 17:40] sparrc commented on #277
@imcphillips That is correct, these two plugins really should be using the same common code, PRs accepted ;-)

[2015-11-24 18:12] Millnert commented on #191
Missing this. Don't know Ruby. How can we get it in?

[2015-11-24 22:57] ankanm commented on #363
+1 for adding the ability to send various metrics to different target dbs (on the same influxdb.)

Another way is to add a 3rd (optional) argument after the measurement that points to the db(s) to send the data to:
[code]
And perhaps the current "database" entry becomes the default db to send metrics to if nothing is provided here.

[2015-11-24 23:25] haninaguib opened #393 "Ability to add a tag specifying the plugin that captured the metric"
I just started looking at telegraf, so forgive me if this functionality already exits.

In my use case having a tag that tells me which plugin captured the metric would be very useful, for
filtering and analyzing the data.

[2015-11-24 23:36] haninaguib commented on #393
Just noticed that metric names seem to be prefixed with plugin name. This will probably be enough for my use case.

[2015-11-24 23:50] sparrc commented on #393
@haninaguib This will be even more clear once we make this change: #152, which will aggregate measurements into a single measurement, named by the plugin.

[2015-11-24 23:50] #393 closed

[2015-11-25 20:56] panda87 opened #394 "Add REST API to the httpjson plugin"
Hi

I found the httpjson plugin as a very good idea, but today as many of the API's are REST based, this will be very useful to add REST capabilities to this plugin.

Thanks
D.

[2015-11-26 14:06] Clement87 opened #396 "Mongostat diff when counter goes back to 0"
Hi,
following this commit : https://github.com/influxdb/telegraf/commit/48d11f0a5c47417856d048e910cebeefb14fdb44#diff-0ddfbde05774dc69c98628f68f9dad7d
In case the counter goes back to 0, the result should be calculated like this :
d = maxVal - oldVal + newVal
instead of d = newVal
Thanks

[2015-11-26 21:45] sparrc commented on #396
@Clement87, can you submit a PR?

[2015-11-26 23:18] schen59 opened #397 "Make a database_routing_tag argument for InfluxDB output"
Right now telegraf only support writing metrics to single pre-defined influxdb database. Can we add some support to dispatch different metrics to different influxdb databases dynamically? For example, based on some tags, I would like metrics which have tag 'A' to output to influxdb database 'A' and metrics which have tags 'B' to output to influxdb database 'B'.

[2015-11-27 15:16] oldmantaiter commented on #397
Was just thinking about this as well for allowing overrides of certain plugins to change the database they go into. @sparrc would that be a good idea to pursue? Or have you had thoughts on this in the past that you'd like to see done instead

[2015-11-27 15:17] oldmantaiter commented on #385
@gotyaoi There were issues initially with the testing as the prometheus_client starts its own "service", I believe @sparrc fixed up the tests but I can take another look.

Is this happening every time you run test-short?

[2015-11-27 16:38] oldmantaiter commented on #397
Update, took a look into this and what I have so far (can submit a PR if this is OK) is adding a config option like the following:

[code]

[2015-11-28 17:31] sparrc commented on #397
@oldmantaiter @schen59 I think this is a good idea, I was thinking that we could solve this by making the pass/drop/tagpass/tagdrop plugin parameters available for outputs as well. That way, you could have a configuration like this:

[code]

The reason I like this is because it's generic and can be used by all outputs, and it also makes output and plugin configurations have consistent arguments.

[2015-11-28 17:50] oldmantaiter commented on #397
Sounds good, I forgot about multiplexing outputs of the same output plugin type. Did you want one of us to tackle adding the params?

[2015-11-28 19:24] schen59 commented on #397
This looks good. Thanks for taking the time to look into it. However, instead of hard coded the database in the config file, can we determine it base on tags/metrics at run time? For example, I can just use the tag/metrics as database name to output to at run time.

Sent from my iPhone

[2015-11-28 19:40] sparrc commented on #397
@schen59 I see what you mean, the Kafka output already has something similar called `routing_tag` which uses that tag's value as the kafka routing key.

We could add an argument to the influxdb output called something like `database_routing_tag` that could route the metric to the database given by the tag specified.

@schen59 but what should the output do if the database doesn't exist? This might

[2015-11-28 19:42] sparrc opened #398 "Support pass/drop/tagpass/tagdrop parameters for outputs"
see https://github.com/influxdb/telegraf/issues/397

Make it so that outputs can drop/pass metrics based on their name and/or tags, allowing configurations like this:

[code]

cc @oldmantaiter @schen59

[2015-11-29 04:20] schen59 commented on #397
@sparrc In my case, it is OK for me to discard the metrics if the database it routes to doesn't exist. As long as the database it routes to does not exist, it keeps discarding them. In order to keep those metrics, I can manually create the database beforehand.

[2015-11-30 10:03] logicall opened #402 "Prometneus_client error"
Hello!
I'm trying to run a telegraph version 0.2.2 with the plugin Prometneus_client and get this error
[code]

Here is my config

[code]

[2015-11-30 12:02] daviesalex opened #403 "Improve mysql plugin"
The telegraf MySQL plugin is extremely simple (runs SHOW GLOBAL STATUS) and parses a small number of counters from it).

We propose to work on an improved plugin that mimics the functionality of the best open source plugin today (https://github.com/prometheus/mysqld_exporter). This includes data from the performance schema (if enabled), information schema, some replication commands and so on. We a

[2015-11-30 17:19] sparrc commented on #402
Closing as a duplicate of https://github.com/influxdb/telegraf/issues/389, which will be fixed in 0.2.3, thanks for the report!

[2015-11-30 17:19] #402 closed

[2015-11-30 17:58] sparrc commented on #397
Now that I see this in practice (PR #400) I'm not sure I understand the utility of it, especially since using this feature would add a significant amount of processing.

Tags exist to separate metrics within a database, why would you want to use tags to separate metrics into separate DBs? Is this a feature that many in the community would use?

IMHO it would encourage bad practices using InfluxDB,

[2015-11-30 18:27] schen59 commented on #397
In my case, I have several organizations and each of which has applications running on different docker containers. I use the dock plugin to collect all the container metrics and use one of the container label(indicates the name of the organization) to routes all the metrics to different databases. In this way, each organization has a influxdb database for it's own metrics and I can set up the aut

[2015-11-30 18:33] sparrc commented on #397
@schen59 that makes sense but still doesn't explain why they need to be dynamic tags, the dynamic nature is what creates the extra processing within the influxdb output.

[2015-11-30 18:38] schen59 commented on #397
@sparrc In my case, the number of organizations keeps growing so I can not have a static list of orgs. I can not depend on the static config to list all the configs for each org.

[2015-11-30 19:06] sparrc commented on #397
But you need to create the databases anyways, don't you? If you don't keep track of the orgs how do you know which databases you need to create?

[2015-11-30 19:19] allen13 commented on #390
+1 on this issue. Also, shirou/gopsutil#114 was merged.

[2015-11-30 19:21] schen59 commented on #397
Ya. That's right. I will have another service to create the influxdb databases beforehand.

[2015-11-30 20:15] sparrc commented on #390
Unfortunately there is a Golang bug preventing me from updating the gopsutil dependency: https://github.com/golang/go/issues/11307

I'm going to wait until Go1.5.2 is released to get this out the door, since that should be any day now

[2015-12-01 02:20] sparrc commented on #402
@logicall 0.2.3 is now available on the README

[2015-12-01 02:21] sparrc commented on #389
@rvrignaud 0.2.3 is now available and this is fixed

[2015-12-01 06:40] logicall commented on #402
Hello!
I've updated to version 0.2.3 Telegraph, but the problem has remained.
Telegraph falls as before
[code]

[2015-12-01 06:42] logicall opened #405 "Prometneus_client error in telegraf 0.2.3"
Hello!
I've updated to version 0.2.3 Telegraph, but the problem has remained.
Telegraph falls as before
[code]

[2015-12-01 07:13] sparrc commented on #405
thanks for the report, I'll take a look at this tomorrow

[2015-12-01 07:27] sparrc commented on #405
This actually appears to be a different problem. The previous panic was because of a NaN value trying to get sent to InfluxDB. This panic is coming from the prometheus client code here: https://github.com/prometheus/client_golang/blob/master/prometheus/vec.go#L143

It is getting an error on this function call: https://godoc.org/github.com/prometheus/client_golang/prometheus#MetricVec.GetMetricWith

[2015-12-01 07:32] sparrc commented on #405
@oldmantaiter @brian-brazil Any ideas on the above panic and error?

[2015-12-01 10:30] brian-brazil commented on #405
This means that some metric has say two labels sometimes and three at other times, which is not allowed (it's an anti-pattern). I'd guess that there's a clash on some metric name.

[2015-12-01 13:05] oldmantaiter commented on #405
I ran into this while writing/testing with the aerospike plugin (which is why there was a "namespace" called "_service").

@logicall could you post a copy of your config (removing any sensitive information)?

[2015-12-01 16:40] sparrc commented on #405
@oldmantaiter Could you explain the `"namespace": "_service"` tag more? How does that prevent this panic from happening?

TBH, panic'ing seems like a very extreme thing for the prometheus client library to do in this situation. Most golang libraries try to avoid panic'ing at all costs and prefer to return an error.

[2015-12-01 16:41] sparrc commented on #394
@panda87 could you be more specific? What features would you like to see?

[2015-12-01 16:48] #385 closed

[2015-12-01 16:51] logicall commented on #405
@oldmantaiter
Here is my config
[code]

[2015-12-01 16:56] sparrc commented on #405
I think I at least have a solution for the panic, we can use `GetMetricWith(l)` instead of `With(l)` that will not panic when an error occurs.

There will still be an error and the metric will have to be dropped, but at least it won't crash the entire telegraf process.

[2015-12-01 17:47] panda87 commented on #394
Today, the plugin is good only for simple GET \ POST.
But, if I want to send more complicated POST as REST API like:
{"type":"test","host":"home"}
This are not possible, since instead of sending the the json request in the body (-d) you serialize it in the url request.

So POST request to REST API are not working as expected.

[2015-12-01 17:53] sparrc commented on #405
Any steps to reproduce? I haven't been able to on darwin or linux (ubuntu)

[2015-12-01 18:14] oldmantaiter commented on #405
@sparrc There are measurements that are for both the global service level and the namespace level statistics for an aerospike server.

For example, the `data_used_bytes_memory` measurement exists for both, and without the `"namespace" : "_service"` tag, when the prometheus client got the metric, it would panic because the namespace version of the measurement had the `"namespace": <namespace>` tag,

[2015-12-01 21:15] oldmantaiter commented on #397
@sparrc @schen59 This seems like it could be used with #398 and "dynamically" setting up options in the config with tagpass (and a drop on the general telegraf DB for `dock_` or whatever the leading metric is for docker). I guess it wouldn't hurt to get #69 in the mix so a reload of the config presents new options without dropping any metrics.

I could also throw in a bunch of disclaimers and warn

[2015-12-01 21:31] calmh opened #407 "Solaris Support"
The CPU and terminal stuff is probably trivial, the Bolt locking thing is a long standing issue on Bolt. Do we need a database just to send values to Influx?

[code]

[2015-12-01 22:35] sparrc commented on #407
@calmh That is probably because we currently import the graphite service from influxdb to filter statsd metrics here: https://github.com/influxdb/telegraf/blob/master/plugins/statsd/statsd.go#L13

importing that service in turn imports the rest of the influxdb repo. If we moved that dependency (maybe just copy and paste the code into telegraf, or move it into an independent package within influxdb

[2015-12-02 00:21] sparrc commented on #144
I'm going to assume that Jolokia is the best we can do for JVM metrics, if anyone has additional feedback or ideas, please feel free to re-open.

And thanks again @saiello for the Jolokia plugin! :smile:

[2015-12-02 00:21] #144 closed

[2015-12-02 08:00] logicall commented on #405
Hello!
Today I build last telegraf. Everything worked.
But what errors appear
[code]

[2015-12-02 10:07] adithyabenny commented on #285
@sparrc Have we considered having a on-disk ring buffer [TCollector](https://github.com/OpenTSDB/tcollector) style?
Two concurrent threads - one writing the metrics to the buffer, the other one from the buffer to the configured output. What say?

[2015-12-02 10:24] brian-brazil commented on #405
That's exactly what the Prometheus client is trying to avoid. Dealing with multiple levels of aggregation mixed into a single metric is quite tricky (e.g. a naive sum will give twice the real answer) and thus we strongly discourage this in Prometheus.
I'd presume this is just as difficult to deal with for users in InfluxDB, and would recommend putting the global metrics under a different metric na

[2015-12-02 16:51] sparrc commented on #405
@logicall can you run in debug mode with only the io plugin enabled and attach all of the output? I'm still not sure I understand how you are getting measurements with different labels.

[2015-12-02 17:01] sparrc commented on #405
@logicall nevermind I think I understand the problem now. InfluxDB doesn't care if two measurements have the same name, it can separate measurements based on different tags, ie, these measurements are OK in InfluxDB:

[code]

But from what I am understanding, this is not OK for prometheus? @brian-brazil @oldmantaiter is that correct?

[2015-12-02 17:03] sparrc commented on #405
@brian-brazil InfluxDB is designed to handle filtering on multiple tags and fields within the same metric. Currently it is limited to 255 fields within a single metric but with the new storage engine this limit will be removed.

[2015-12-02 17:12] brian-brazil commented on #405
These measurements are also fine with Prometheus, as it has a very similar data model.

What's technically okay but strongly discouraged (and the Prometheus client libraries will try and stop you from doing as you've discovered) is:
[code]

This is hard to deal with for users, as a `sum(io_reads)` rather than giving the sum across all reads would double-count and give you twice the correct answer.

[2015-12-02 17:33] sparrc commented on #285
@adithyabenny Yes I have some thoughts on this, we probably need to make a buffer package within telegraf that would handle the ring buffer. Currently the accumulator just throws all metrics into a single channel that gets filtered into a single list for all the outputs to write.

What we probably want is to have a buffer that will track a channel for each output, that way we can filter metrics (o

[2015-12-02 18:11] sparrc commented on #405
@brian-brazil I see what you mean, looks like the `io` plugin is not applying the `name` tag if there is none in the diskstats file, which looks like it might be a "total" counter

[2015-12-02 18:47] sparrc commented on #405
@logicall Can you run `cat /proc/diskstats` on your system where you are seeing this and show me your output? As far as I can tell, every device should have a name

[2015-12-02 19:03] logicall commented on #405
@sparrc
[code]

[2015-12-02 19:11] sparrc commented on #405
@logicall Seems like that should be working, could you provide the full debug output leading up to the error messages?

[2015-12-02 19:28] logicall commented on #405
@sparrc
[code]

[2015-12-02 19:30] sparrc commented on #405
@logicall actually I need to see all of the output please! (the part you replaced with `...........`)

[2015-12-02 19:32] logicall commented on #405
@sparrc
[code]

[2015-12-02 19:36] sparrc commented on #405
thank you @logicall! I believe you can workaround this temporarily by setting `SkipSerialNumber = true` in the `io` plugin (if you don't care about the serial number):

[code]

I'll have a fix up for it soon

[2015-12-02 19:56] logicall commented on #405
@sparrc
Thank you!
Now everything works fine!

[2015-12-02 19:58] sparrc commented on #405
No problem, thank you for following up and providing debug output, it helps a lot! :+1:

[2015-12-02 20:26] #405 closed

[2015-12-02 21:28] oldmantaiter commented on #405
@sparrc My apologies for not checking all possibilities from plugins when adding prometheus_client. I should have done some more in depth testing to prevent extra work. Thanks for fixing it up!

[2015-12-02 22:04] jrxFive opened #414 "jolokia add optional authentication parameters"
Attempting to use the jolokia plugin against a service that has credentials established, I see no option to add credentials to the config file, unable to query endpoints, automatically get:

[code]

When attempting a http call to test manually:

[code]

Same call with credentials specified:

[code]

[2015-12-02 22:38] sparrc commented on #405
@oldmantaiter no problem :smile:, it's actually a bit of a corner case where there is some sort of "disk" showing up in /proc/diskstats that doesn't have a readable serial number

[2015-12-02 22:39] sparrc commented on #414
Okay, thanks for the report @jrxFive, shouldn't be too hard to add credentials

[2015-12-03 10:51] cicerocomp opened #415 "Memcache plugin not support unix socket style"
If my memcached is running via unix socket, the current plugin does not support this model.

Run memcached via unix socket:
```memcached -u root -m 5120 -c 5120 -t 17 -s /var/run/memcached.sock -a 777```

[2015-12-03 19:09] sparrc commented on #415
I'll have a fix for this soon, thanks for pointing it out @cicerocomp

[2015-12-03 20:24] #414 closed

[2015-12-03 20:26] #415 closed

[2015-12-03 21:11] sparrc commented on #414
@jrxFive my change will add the credentials directly into the URL, can you check that this works?:

[code]

[2015-12-03 21:20] jrxFive commented on #414
@sparrc it works :D thank you!

[2015-12-03 21:44] sparrc commented on #414
@jrxFive Great, thanks!

[2015-12-03 23:24] sparrc commented on #388
Thanks for the report @kohlerm, I have a fix in-hand for this and it will be available in release 0.2.4

[2015-12-03 23:31] sparrc commented on #291
@justin8 Has this case been fixed by PR #312?

[2015-12-03 23:32] #388 closed

[2015-12-04 07:46] kohlerm commented on #388
great! Will let you know whether it worked for me!

[2015-12-04 20:50] sparrc commented on #390
@mabushey @allen13 Had to change some of the godep build process but I got gopsutil updated. This will be fixed in 0.2.4, thanks for your patience!

[2015-12-04 20:55] #390 closed

[2015-12-04 21:25] allen13 commented on #390
Thanks!

[2015-12-04 21:50] mabushey commented on #390
Thank you for all you help @sparrc !

[2015-12-04 22:52] #398 closed

[2015-12-07 09:59] marinonjalsson opened #422 "Problem with plugin exec (format error for command)"
The error !!
[code]
But the json seems to be ok
[code]
FROM: /etc/opt/telegraf/telegraf.d/test.conf
[code]
Version:
[code]

Any thoughts?

[2015-12-07 18:01] sparrc commented on #422
certainly looks like a bug, I'll look into it, thanks for the report @marinonjalsson

[2015-12-07 18:15] sparrc commented on #422
@marinonjalsson I haven't been able to reproduce, here is my script:

[code]

And collection works fine for me:

[code]

What OS are you running on? Can you send me output of the commands that I executed above?

[2015-12-07 18:31] sparrc commented on #363
We now have the ability for users to specify multiple outputs of the same type in the config file, and in 0.2.4 we will have the ability to have pass/drop/tagpass/tagdrop parameters on outputs.

@WiR3D-kNiGhT @ankanm I'm wondering if this solves your use-case in a generic way, you could now setup something like this:

[code]

Note that you can also use tags to filter the outputs, so if you have ta

[2015-12-07 18:52] sparrc commented on #422
@marinonjalsson This might be a 32/64 bit architecture issue? I found this case: http://askubuntu.com/questions/447709/im-getting-exec-format-error-when-i-try-to-run-an-executable

[2015-12-07 19:50] marinonjalsson commented on #422
Thank you for your reply.
OS:
[code]
I'm running the telegraf_0.2.3_amd64.deb package.
all 64:
[code]
[code]
I will test your script next.

[2015-12-07 20:11] sparrc commented on #422
@marinonjalsson Can you include the full text of your test script? And show the file permissions on it? (`ls -l /opt/snara/slog/slog-netstat-test2.sh`)

[2015-12-07 20:17] marinonjalsson commented on #422
SOLVED.
I forgot the shebang in all my test-scripts.
Added
[code]
... and its working.  @sparrc thanks for the help

[2015-12-07 20:45] sparrc commented on #422
great!

[2015-12-07 20:45] #422 closed

[2015-12-08 08:03] WiR3D-kNiGhT commented on #363
so basically this way means you will configure the inputs in one location (the statsd service plugin) for all metrics and how they must be passed.

Then you would setup an output for each db want to target:
* can target multiple db's on the same/or different host with different metrics
* and I am also assuming you can send the same metric/tag to multiple outputs.

In which case it covers all use c

[2015-12-08 08:04] WiR3D-kNiGhT commented on #363
Oh and also, thank you @sparcc

[2015-12-08 08:38] ankanm commented on #363
That looks good. Thanks @sparrc!

[2015-12-09 01:29] sparrc commented on #362
closed by https://github.com/influxdb/telegraf/commit/03e66d5b87584a9862f8d37a5e70c962a22c1429

[2015-12-09 01:29] #362 closed

[2015-12-09 01:30] sparrc commented on #355
fixed by https://github.com/influxdb/telegraf/pull/372

[2015-12-09 01:30] #355 closed

[2015-12-09 20:35] aderumier commented on #152
Hi, any news now that influx 0.9.6 has been released ?

[2015-12-09 22:14] sparrc commented on #152
@aderumier the new storage engine is in 0.9.6, although it's not the default. I will be making breaking changes soon to Telegraf and cutting a 0.3.0 branch, I just wanted to first make sure we had all the bugfixes for 0.2.x in before doing that.

0.2.x will continue to be supported for a time

[2015-12-09 22:15] skynet commented on #152
:+1: how soon can we expect a release?

[2015-12-09 22:23] skynet opened #425 "Google Analytics Plugin"
https://influxdata.com/time-series-platform/telegraf/
https://github.com/influxdb/telegraf/blob/d62e63c448947af1c5929a04f64f3904fc4271f8/README.md#telegraf---a-native-agent-for-influxdb-

"Third party APIs like Mailchimp, AWS CloudWatch and Google Analytics"

Is there a plugin for GA?

[2015-12-09 22:27] skynet commented on #403
:+1:

[2015-12-09 22:29] sparrc commented on #425
nope, not yet

[2015-12-09 22:36] skynet commented on #425
I said - Huraaaah! And jumped right away to look for it. Hopefully soon! :+1:

[2015-12-09 23:19] sparrc commented on #425
@skynet sorry about the confusion, we've updated the website :smile:

[2015-12-10 00:20] skynet commented on #425
No problem. Looking forward to it

[2015-12-10 00:37] sparrc commented on #425
we can leave this open until it's done

[2015-12-10 06:44] niriven opened #426 "httpjson - support for headers"
httpjson supports passing parameters, however it would be nice if it supported configuration of headers and setting them based on config similar to how the parameters are done

Looks like a new config section should be added, struct updated, and headers set at the req level with req.Header.Add(key, value)

Test update needed as well to cover this change

[2015-12-10 08:00] palkan commented on #426
Should we provide headers on per server or per service base?
I guess, you want to use some kind of _authorization_ headers. Thus every server needs its own headers.

This requires some breaking changes to configuration, i.e.:

[code]

ping @sparrc

[2015-12-10 08:44] oyvindt opened #429 "Wrong/changed datatype for metrics"
I have telegraf 0.2.3 running on some machines writing data to InfluxDB (version 0.9.5.1) . Added a new machine now to this system with telegraf 0.2.4, and it's unable to write data to InfluxDB with this error:

ERROR: write failed: field type conflict: input field "value" on measurement "system_uptime" is type float64, already exists as type integer

[2015-12-10 14:01] gseven opened #430 "No network node statistics in Elasticsearch 2.*"
There's no network section in Elasticsearch 2.* node statistics.

Trying to get ES statistics causes:

2015/12/10 14:28:52 elasticsearch: got unexpected type <nil> with value <nil> (network)

[2015-12-10 14:28] niriven commented on #426
Correct me if I am wrong, but it looks as though it would be best to put it at a service level, not server. I assume you can define one service per JSON API, and differnt servers for similar API's in the cluster, just on differnt machines. If they are similar services, the headers should be treated the same (as the url parameters are). I there is a need to seperate headers per server, it probably

[2015-12-10 15:16] ddes opened #431 "Bandwidth consumption"
Hi guys,

I'm trying to get the bandwidth usage via telegraf net plugin but when I choose "net_bytes_revc", I receive results like 370GBps which seems to be cumulated.

Is there a way to have the usage in realtime per interface ?

I specified this in my config:

   interfaces = ["eth0"]

[2015-12-10 15:48] axingblog opened #432 "procstat can't process the pattern more than 15 characters"
pgrep  limited to the 15 characters present in the output of /proc/pid/stat

[code]

[2015-12-10 15:51] axingblog commented on #432
name=ecschedulesvr-7 should be  name=ecschedulesvr-77

[2015-12-10 16:08] allen13 opened #433 "Telegraf not uptodate in InfluxDB yum/apt repos"
The new influxdb repository does not seem to be keeping up to date with the latest telegraf releases.
https://repos.influxdata.com/centos/7/x86_64/stable/

[2015-12-10 16:55] sparrc commented on #429
This was actually changed because in Telegraf 0.2.2 and prior we were writing it as a float, this was a bug that came up because of FreeBSD support, see #390

It's going to stay a float, sorry for the inconvenience

[2015-12-10 16:55] #429 closed

[2015-12-10 17:01] sparrc commented on #431
to get a per-second rate of consumption you should use the influxdb derivative functions
https://influxdb.com/docs/v0.9/query_language/functions.html#derivative

[2015-12-10 17:01] #431 closed

[2015-12-10 17:13] sparrc commented on #432
won't fix, if it's not in /proc/<pid>/stat then there's nothing I can do.

The name is coming from here: https://github.com/shirou/gopsutil/blob/master/process/process_linux.go#L489

[2015-12-10 17:13] #432 closed

[2015-12-10 17:19] sparrc commented on #430
@gseven can you send the output of your server from

[code]

[2015-12-10 18:22] sparrc commented on #433
@rossmcdonald any ideas? What do we need to do to keep Telegraf updated in these repos?

[2015-12-10 18:31] rossmcdonald commented on #433
Sorry about that! I haven't been keeping up to date with the most recent Telegraf releases. It should be fixed now.

@sparrc We're going to try and implement some automated way of keeping the releases up-to-date, but, in the meantime, just ping me when there's a new release and I'll get it added.

[2015-12-10 18:31] #433 closed

[2015-12-10 21:56] skynet commented on #425
does that mean there is already some work done for such plugin? if yes, where?

[2015-12-10 21:59] sparrc commented on #425
wow, you're very excited about this plugin @skynet :wink:, there is no work on it yet as far as I know

[2015-12-10 22:33] sparrc commented on #152
@skynet I'd like to have a "beta" 0.3 version ready by December 20th

[2015-12-11 04:12] niriven commented on #426
Closing since we ended up writing a custom plugin anyway. Headers would be nice, but it turned out we needed to do some very specific things with our software that probably do not appyl here.

[2015-12-11 04:12] #426 closed

[2015-12-11 08:06] f0s0 opened #434 "[tags] are not attached to metrics"
I have tags like this in Telegraf configuration:

[tags]
apache = "1"
phpfpm = "1"

Configuration is parsed correctly. Metrics from different plugins are written to InfluxDB output but no custom tags are found within the metrics.
In addition, it would be useful to be able to specify tags on a plugin basis.
I am running Telegraf 0.2.2 with InfluxDB 0.9.5.1

[2015-12-11 08:27] sparrc commented on #434
@f0s0 please specify your version

[2015-12-11 10:10] Galser commented on #390
And it is (problem) back for version 0.2.4.1 :
2015/12/11 11:01:39 ERROR: write failed: field type conflict: input field "value" on measurement "system_uptime" is type float64, already exists as type integer

After upgrade from 0.2.3 to fresh 0.2.4.1. Should I create a new issue?

[2015-12-11 10:17] Galser opened #435 "Telegraf 0.2.3 to 0.2.4 upgrade break system_uptime, due to the different type of value"
After upgrade of Telegraf on CentOS 6  version **0.2.3 to 0.2.4** flushing to IndluxDB fails, as **system_uptime** cannot be written to DB anymore :
[code]

So, it is back, I reported in the old bug (between 0.2.0 and 0.2.1 ) also.

Basically it then brake any flushing metrics to DB :
[code]

[2015-12-11 10:21] pasancario commented on #390
I'm facing the same problem with new 0.2.4.1 version:

[code]

[2015-12-11 10:23] Galser commented on #390
Well, I already opened a new issue (I think it is a correct way to track changes), as it if specific to version upgrade between previous stable 0.2.3 and new 0.2.4, see it in the list, on top.

[2015-12-11 10:24] pasancario commented on #435
Same issue with a new deployment:

[code]

[2015-12-11 10:39] descrepes commented on #430
Hi,

Got the same issue on ES 2.1 with either Telegraf 0.2.3 and 0.2.4.
Here is the indices output:

[code]

Thx

[2015-12-11 13:40] aderumier commented on #152
@sparrc Great :+1:  Waiting for Christmas :)

[2015-12-11 14:59] ekini commented on #435
Most likely, related to #390

[2015-12-11 17:24] sparrc commented on #435
I'm very sorry for the inconvenience, but there is no way I can fix this without breaking someone. Users of Telegraf pre-0.2.3 will be broken if I change it back to an int.

Having it as an int in 0.2.3 was a mistake that was made when we switched from using gosigar to gopsutil.

[2015-12-11 17:24] #435 closed

[2015-12-11 17:51] sparrc commented on #434
@f0s0 This was a bug in 0.2.2, it is fixed in the latest version (0.2.4), sorry for the inconvenience!

[2015-12-11 17:51] #434 closed

[2015-12-11 17:52] sparrc commented on #430
thanks @descrepes, looks like the metrics output from elasticsearch may have changed in newer versions

[2015-12-11 18:14] skynet commented on #425
I am very excited about the whole telegraf project! not to mention influxdb :)

[2015-12-11 20:30] descrepes commented on #430
Here is the output  if  ```local=false```

[code]

[2015-12-11 20:45] sparrc commented on #430
Looks like your output is missing the `network` key as shown here: https://github.com/influxdb/telegraf/blob/master/plugins/elasticsearch/testdata_test.go#L442

Do you know if the network stats are something that needs to be enabled on your elasticsearch cluster?

[2015-12-11 20:56] sparrc commented on #430
I've been able to reproduce with a docker container. I'm not sure why there is no network field, maybe it got removed in a recent version. @jipperinbham do you have any thoughts?

[2015-12-11 21:03] sparrc commented on #430
Nevermind, I confirmed that it was removed in elasticsearch 2.x, I guess we just need to ignore any errors if this field is not there

[2015-12-11 22:34] jipperinbham commented on #430
yea, several items were removed in the [2.0 release](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_stats_info_and_literal_cat_literal_changes.html).

If I have time this weekend, I'll send up a PR.

[2015-12-12 08:15] ruudboon opened #438 "Net Plugin missing data of interface"
I'm running Telegraf under FreeBSD 10.1.
When using the net plugin the capturing of the lo0 and tun0 interface works but I'm unable to measure my main interface vtnet0. I specified the interface in the config but no data of this interface is showing when running.
```./telegraf -config telegraf.conf -test```
When I remove the lo0 and tun0 from the config no data for the net plugin show up at all.

[2015-12-12 09:05] sparrc commented on #438
can you run `/usr/bin/netstat -ibdn` on your system and include the output?

[2015-12-12 09:11] ruudboon commented on #438
Sure.

[code]

[2015-12-12 09:14] ruudboon commented on #438
Founded it, vnet (without 0) is working. Kinda weird, because everywhere else in the sytem it called vtnet1

[2015-12-12 11:15] ruudboon opened #439 "Gather bandwidth consumption by IP"
I would know the bandwidth consumption by ip instead of the complete of the interface.
Netstat is already providing the numbers.

[code]

Is it possible to add an option to log the data by ip?

[2015-12-12 12:47] Millnert opened #440 "plugins/system/disk.go diskusage queries all devices first, prunes later"
On systems that have NFS mounts under heavy load, the telegraf process locks up when using the system/disk plugin. Data gathering takes too long.

I have traced the issue to the plugins/system/disk.go code performing some meta command to retrieve disk usage statistics for presumably ALL filesystems first, and then applying the pruning on the retrieved data.

That's precisely the wrong order of ope

[2015-12-12 12:56] Millnert commented on #440
I now noticed https://github.com/influxdb/telegraf/blob/master/plugins/system/ps.go#L70 - so perhaps it's this function that should get an optional "mountpoints" list argument instead.

[2015-12-12 16:39] sparrc commented on #440
Sounds reasonable to me :+1:

[2015-12-12 23:04] montanaflynn commented on #425
I'll look into creating the plugin, is there docs for plugin creators? If not I'll just look at existing plugins.

@skynet I'm also very excited about the influxdata platform!

[2015-12-12 23:05] montanaflynn commented on #425
Found the docs (very easily) here: https://github.com/influxdb/telegraf/blob/master/CONTRIBUTING.md

[2015-12-14 13:28] Galser commented on #435
Okay. Point taken. Now we just need somehow to convert existing data.

[2015-12-14 14:28] Millnert commented on #439
[root@server ~]# netstat -ibdnW
netstat: invalid option -- 'b'

[2015-12-14 14:33] ruudboon commented on #439
Works on FreeBSD 10.1. The b shows the information in bytes. Maybe this could be different on your system?

[2015-12-14 15:30] sparrc commented on #439
@ruudboon Do you mean you would like to see an IP address tag on the data? Or filtering which interfaces to get data for by ip address?

This will require a change to gopsutil, which I can take care of

[2015-12-14 16:04] ruudboon commented on #439
I was thinking about logging more data and tag the ip.
Looking at my netstat I asssume we are now taken the first one (total)
Maybe we could add the separate IP entries also (interface + ip)

[code]

[2015-12-14 16:36] padcom commented on #152
I'm a little confused regarding the change in connection with the `httpjson` and `exec` plugins. Currently when an endpoint returns value that value is then stored in series like so

[code]

I wonder what would it look like after the switch? Would it be `exec_prefix` or `exec.prefix` (does it make a difference?) or could we finally make that 100% configurable and just state what should be the seri

[2015-12-14 17:43] sparrc commented on #152
@padcom This is one of the goals of this change. I agree that there needs to be more measurements that are fields rather than their own measurements.

In 0.3.0 I'm going to be changing the way in which the `exec` and `httpjson` plugins are defined in the config file, as well as adding some more plugin options for redefining measurement names, so you'll be able to do something like this:

[code]

A

[2015-12-15 00:31] padcom commented on #152
That sounds PERFECT! Can't wait to get it implemented in my setup :) Thanks for all your hard work. It's much appreciated!

[2015-12-15 03:06] smebberson opened #441 "Building on Alpine Linux fails"
I'm trying to build Telegraf on Alpine Linux. I'm building this within a Docker container. I've successfully built InfluxDB, https://hub.docker.com/r/smebberson/alpine-influxdb/. I'm trying to add Telegraf to the alpine-influxdb container.

Here is the Dockerfile (not complete yet):

[code]

And here is the output:

[code]

Specifically the error is `godep: error downloading dep (bitbucket.org/ww/

[2015-12-15 04:04] sparrc commented on #441
That is a good question, I have no idea why it's trying to download that dependency, it's not a requirement of Telegraf.

I've removed using godep as a build dependency since 0.2.4, I would recommend just trying to build telegraf without godep, so run this instead of `make`

[code]

[2015-12-15 05:51] smebberson commented on #441
@sparrc, that worked! Nice!

[2015-12-15 12:39] psi-4ward opened #442 "No docker_* Stats?"
I configured telegraf with influxdb and grafana and enabled `[docker]` in the `telegraf.conf`.

`telegraf -config telegraf.conf -test | grep docker` gives me lots of output but `SHOW MEASUREMENTS` query against Influx does not show any `docker_*` series.

Anyone has a hint what im doing wrong?

I'm on CentOS7 with `tutum/influxdb:0.9` Container and locally installed `Telegraf - Version 0.1.9`

[2015-12-15 13:52] ut0mt8 opened #443 "Error in ping plugin"
Hello,

The doc (and the code) mention :

ping timeout, in s. 0 == no timeout (ping -t <TIMEOUT>)
  timeout = 0.0

That is absolutely not true, at least on debian linux ,
-t is the flag for specifie ttl,
-W is the right option to use

Thks.

[2015-12-15 15:18] sparrc commented on #441
@smebberson great! you can use `make` again with 0.2.5

[2015-12-15 15:18] #441 closed

[2015-12-15 15:20] sparrc commented on #443
thanks for the report

[2015-12-15 15:22] sparrc commented on #442
@psi-4ward can you show me your telegraf output when running without the `-test` flag? And when you make the `SHOW MEASUREMENTS` query, are you using the `telegraf` database (it's not the default in the management UI)?

[2015-12-15 15:29] sparrc commented on #438
thanks for tracking that down @ruudboon, I've pushed a PR to gopsutil to fix it there: https://github.com/shirou/gopsutil/pull/130

I'll close this case when it gets pulled into telegraf

[2015-12-15 15:35] sparrc commented on #438
@ruudboon I noticed this in the man page:

[code]

Do you happen to know what happens when it overflows? I ask because gopsutil relies on there being a whitespace separation between the `Name` and `Mtu` fields.

[2015-12-15 15:42] ruudboon commented on #438
@sparrc From what I see it keeps a white space between the columns. When scaling my terminal I do see line overflowing to the next line. But this is not different then without -W. It just happens sooner (in my case 1 character).
Thnx for making the PR

[2015-12-15 20:18] padcom commented on #152
Just one comment: since you pointed out that all plugins will benefit from the name_override option it seems that monitoring multiple Java services with JMX and Jolokia will finally make sense :) That will be awesome!

[2015-12-15 21:26] dadolab opened #444 "Nmon plugin"
Hello

did you foreseen a nmon plugin?

Thanks

[2015-12-15 21:57] sparrc commented on #444
Nope, but what do you need it for? You should be able to get all the info in nmon using Telegraf's other system plugins

[2015-12-15 22:02] skynet commented on #160
any luck on this?

[2015-12-15 22:54] smebberson commented on #191
Yeah, it would be great to get some SSL support here. Can't really configure InfluxDB over HTTPS without Telegraf supporting https connections too.

[2015-12-15 23:06] skynet commented on #160
Just noticed that influxdb provides telegraf packages:

[code]

[2015-12-15 23:30] deanefrati commented on #191
+1

[2015-12-16 07:15] lmx1989219 opened #447 "please help me!!"
@sparrc i see the plugins 'mysql' ,it's very cool but i need it show more information.
e.g:
show processlist detail information
,the number of current perform sql statement;the lock status and so on.

[2015-12-16 07:19] JulienChampseix opened #448 "[Feature] - Plugin collect datas from mysql query"
Hi Team,

An usefull feature will be to have a mysql_query plugin which will be able to run an provided mysql query (returning 1 field only) against one mysql database for store result in influxdb.

See bellow an idea of the config of this plugin which could be present in telegraf.conf:

[mysql_query]
query=["mysqlhost;mysqluser;mysqlpwd;mysqlquery;measurementinfluxdb"]
query=["mysqlhost;mysqluser

[2015-12-16 09:38] psi-4ward commented on #442
`/opt/telegraf/telegraf -config /etc/opt/telegraf/telegraf.conf -test | grep docker`:
[code]

`SHOW MEASUREMENTS`:
[code]

[2015-12-16 12:47] dadolab commented on #444
I have several AIX and linux server that are collecting system metric using, I would like to collect this metric in influxdb

[2015-12-16 14:46] rossmcdonald commented on #160
@skynet Yes, sorry for not updating this. Telegraf packages are now officially available through the repos.influxdata.com repository. Let me know if anyone runs into any issues!

[2015-12-16 14:46] #160 closed

[2015-12-16 17:00] JulienChampseix commented on #30
is it more official now ? where to find a list of msi built ?

[2015-12-16 18:37] sparrc commented on #447
track this issue: https://github.com/influxdb/telegraf/issues/403

[2015-12-16 18:37] #447 closed

[2015-12-16 18:39] sparrc commented on #442
@psi-4ward 0.1.9 is pretty old, any way you could upgrade? (to 0.2.4)

[2015-12-16 18:47] sparrc commented on #448
Sounds good, thanks for the detailed suggestions Julien, could you put this comment within the generic db query plugin case? (here: https://github.com/influxdb/telegraf/issues/352)

[2015-12-16 18:48] sparrc commented on #444
@dadolab would you like to collect it from an nmon csv file? Or run nmon at collection time and parse stdout?

[2015-12-16 18:48] sparrc commented on #160
thanks much @rossmcdonald

[2015-12-16 18:52] sparrc commented on #30
@JulienChampseix It's not, sorry, I have many other core changes to telegraf to work on right now. I will be sure to update this case when I've made progress.

[2015-12-16 19:30] ruudboon opened #450 "[Feature Request] FreeBSD Port"
Telegraf compiles nicely on FreeBSD now (#355)
Unfortunately there isn't a port available in the FreeBSD ports tree. Would be a great feature if a port with proper startup scripts etc comes available.
Unfortunately I don't have the skills (yet) to create a port but I if there's anything I can do to realise this please let me know.

[2015-12-16 20:24] miguel250 commented on #403
@daviesalex any update on this?

[2015-12-16 20:36] dadolab commented on #444
It would be nice to have it at collection time to have online, but also have it collected daily from nmon file/csv will be enough

But for AIX will be possible to have telegraf binary?

[2015-12-16 21:51] JulienChampseix commented on #352
Comment from #448  :

An usefull feature will be to have a mysql_query plugin which will be able to run an provided mysql query (returning 1 field only) against one mysql database for store result in influxdb.

See bellow an idea of the config of this plugin which could be present in telegraf.conf:

[mysql_query]
query=["mysqlhost;mysqluser;mysqlpwd;mysqlquery;measurementinfluxdb"]
query=["mysqlho

[2015-12-16 21:55] JulienChampseix commented on #431
@ddes +1

@sparrc Looks like this question could be really usefull for the community (plus added in documentation as example). If you could provide an example of request (select) which could return the right informations (here the bandwidth consumption for in & out), that will be perfect.

[2015-12-16 22:13] hurrycaine commented on #30
I saw the question above about what are people using to get windows metrics into Influxdb. I am using sensu monitoring framework. There are a few checks (for Windows) and they are easy to extend.
Normally sensu spins up another process when doing a check but you can also write extensions where the code runs in the main ruby loop.
You can write the checks really in anything but most are in ruby tha

[2015-12-16 22:19] sparrc commented on #444
@dadolab I don't think this will be possible for a loooooong time, Go doesn't support AIX: https://github.com/golang/go/issues/7208

[2015-12-16 22:22] sparrc commented on #431
@JulienChampseix currently working on 0.3.0, where the doc will need to be re-written to accomodate the new db schema coming.....PRs for code AND docs are always welcome, especially docs ;-)

[2015-12-17 13:45] gseven opened #452 "Problem with increasing connections while getting metrics from Elasticsearch in client mode"
Hello.

I'm using Telegraf (ver. 0.2.4) to monitor few Elasticsearch (ver. 1.7.3) instances. One of them is configured in client mode (has no data, essentially it's a load balancer). When I'm starting Telegraf, metrics are gathered and send to Influx database. But Telegraf process keeps opening network connections to Elasticsearch, never closing them. It keeps increasing until limit of open files

[2015-12-17 14:23] zstyblik commented on #442
I was testing with 0.2.4 couple days ago and got `docker_*` metrics just fine.

[2015-12-17 14:34] zstyblik commented on #452
My guess is this is caused by not calling `r.Body.Close()` and not reading response body. I don't see anything like that in code of the plugin.

[code]

I had the similar issue in Python with requests.

[2015-12-17 14:38] psi-4ward commented on #442
Updated to 0.2.4 and everything works!
Thanks!

[2015-12-17 14:38] #442 closed

[2015-12-17 17:53] sparrc commented on #452
thanks for the report, if @zstyblik is correct then that is the issue, we should be always be closing the response body.

[2015-12-17 18:26] zstyblik commented on #452
@sparrc - I don't know architecture of Telegraf, so it's a "guess" based on reading through the Elasticsearch plugin. But I doubt such functionality, read body of response and close connection, is implemented somewhere inside. Anyway, that part is copy-paste from documentation of `net/http` + my own experience from Python land :)

[2015-12-17 18:46] sparrc commented on #452
I think you're right, we should be closing this: https://github.com/influxdb/telegraf/blob/master/plugins/elasticsearch/elasticsearch.go#L201

[2015-12-17 18:55] zstyblik commented on #452
@sparrc indeed :) It could be something like ...

[code]

? And import `ioutil` or use another Reader, I guess.

[2015-12-17 19:00] sparrc commented on #452
why does it require the `ioutil.ReadAll`? I think only the `defer` is necessary

[2015-12-17 19:04] zstyblik commented on #452
Because you're supposed to read the body of the response even if you don't care about it. Whether it's just a good practice or optional, that I don't know. I'm always doing it regardless :)

[2015-12-17 20:08] jipperinbham commented on #452
@sparrc I was going to work on this and https://github.com/influxdb/telegraf/issues/430 but wasn't sure if I should create a branch from master or 0.2.4 given all the changes going on with master

[2015-12-17 20:27] sparrc commented on #452
@jipperinbham do it on master, the changes I'm making are on the 0.3.0 branch and will remain there until sometime in January

[2015-12-17 20:48] jipperinbham commented on #452
@zstyblik re: whether or not the body should be read, from what I've read you are right in that the underlying transport will not reuse the connection if `Body.Close()` is called without first being read.

In this situation, I tend to think it's _ok_ to not reuse the underlying connection because we received something other than `HTTP/1.1 200 OK` and would want to setup the connection again.

thou

[2015-12-17 20:51] jipperinbham commented on #430
@gseven @descrepes @sparrc my plan for this is to not try and process any of the metrics removed from the 2.0 release rather than try to account for version differences.

If you feel those metrics are critical to keep for versions prior to 2.0, let me know.

[2015-12-17 21:43] #430 closed

[2015-12-17 21:43] #452 closed

[2015-12-18 04:17] seanlook opened #455 "Please stop using lsof to get TCP state"
In my environment, I have lots of tcp connections to serve. Telegraf use `lsof` to collect tcp state (`NETSTAT_README.md`), and I saw the lsof process is **always** running because too slow to get the results. 100% CPU used by lsof:

    PID USER      PR  NI  VIRT  RES  SHR S %CPU %MEM    TIME+  COMMAND
     6227 root      20   0 19140  11m  720 R 99.8  0.0   0:25.94 /usr/sbin/lsof -a -n -P -i tcp

[2015-12-18 05:34] zstyblik commented on #452
@jipperinbham sorry, but I don't know that well. I'd expect this to be related to connection pool rather than connection being reused, resp. another request being sent over the exactly the same and already open connection and freeing up that connection early. *shrug*

[2015-12-18 13:08] sparrc commented on #455
@seanlook what is your OS?

[2015-12-18 17:21] mark-rushakoff commented on #444
Until a plugin is written... there's [a standalone tool](https://github.com/adejoux/nmon2influxdb) out there that takes an nmon file and imports it into InfluxDB. I haven't used it myself but I've stumbled across it while curating [awesome-influxdb](https://github.com/mark-rushakoff/awesome-influxdb).

[2015-12-18 22:14] Dual-Boot opened #456 "mispelled issue in the conf file"
Hello,

 just a mispelled issue with telegraf.conf.
Into the plugin [[plugins.io]] commentary :
```# Setting devices will restrict the stats to the specified devcies.```
should be :
```# Setting devices will restrict the stats to the specified devices.```

 Regards,

PS: I am not used to github already, to put the fix myself .

[2015-12-18 23:11] sparrc commented on #455
Also I would like to know if Telegraf is erroring at all when this is happening, @seanlook can you provide telegraf logs?

[2015-12-19 11:04] jlaffaye commented on #332
and https cert expiration date ;)

[2015-12-19 20:53] sparrc commented on #455
@zstyblik ...I don't think these are related issues...? Please open a new case and provide more details

[2015-12-19 20:55] zstyblik commented on #455
@sparrc sorry, I misunderstood your sentence about erroring. Moving on.

[2015-12-20 06:54] sparrc commented on #152
FYI: a beta build of 0.3.0 is now available, see here: https://github.com/influxdb/telegraf#version-030-beta

The README on the [0.3.0 branch](https://github.com/influxdb/telegraf/tree/0.3.0) may also be helpful, as well as the [configuration guide](https://github.com/influxdb/telegraf/blob/0.3.0/CONFIGURATION.md).

[2015-12-20 19:17] daviesalex commented on #403
@miguel250, not just yet, but we have started work on this and hope to have something to share in January.

[2015-12-20 23:23] padcom commented on #152
I have tried the exec and httpjson plugins. Both, the command and an HTTP service return the same data:

### exec
[code]

### httpjspn
[code]
The `exec` plugin performs as advertised resulting in a series `sensors` with a tag `host` and 2 values for `pressure` and `temperature`. However the `httpjson` plugin returns with the following exception:

[code]

[2015-12-20 23:24] padcom commented on #152
The service http://home.aplaline.com:32768 is public facing - feel free to use it

[2015-12-21 00:29] padcom commented on #152
Apart from the above I have tested the Apache plugin and the Docker plugin. They work like a charm!

[2015-12-21 03:38] seanlook commented on #455
@sparrc CentOS 6.6. There's no any errors or warnnings in Telegraf log. When my system load is up, `/usr/sbin/lsof -a -n -P -i tcp` is slow ( 2 to 5 seconds)

[2015-12-21 03:49] seanlook commented on #455
As @zstyblik memtioned, `lsof` is not installed default in every system, but `ss` does. (`netstat` is also slow in lots of tcp connection server

[2015-12-21 08:18] zstyblik opened #457 "configurable timeout for plugin execution/plugin execution should timeout"
Hello,

this is based on https://github.com/influxdb/telegraf/issues/455. I believe plugin execution should timeout after N seconds or at least print a warning. Timeout should be configurable and may be even set to null, never timeout, by default. But the following situation doesn't look good to me. I know this is a deliberate setup, but as https://github.com/influxdb/telegraf/issues/455 shows, it

[2015-12-21 20:59] sparrc commented on #152
Thanks for the report @padcom, I'll look into that

[2015-12-21 21:02] sparrc commented on #457
good idea, this should be globally and individually configurable

[2015-12-21 21:57] sparrc commented on #152
@padcom this has been fixed, you can now download 0.3.0-beta2 from the README.

Thanks again for the report!

[2015-12-22 00:43] padcom commented on #152
Installed the latest, tested both (exec and httpjson) - all OK. Thank you!!

[2015-12-22 00:50] padcom commented on #152
I have noticed a memory use reduction by about 400MB. Might not be related (changed from exec to httpjson plugin but also did more changes in the mean time) but it always is nice to see gauges go down :)

[2015-12-22 10:57] tarjei opened #459 "Mysql plugin should show slave status"
Hi, the mysql plugin is missing the crucial Slave status information.
@see:
https://github.com/prometheus/mysqld_exporter/blob/master/mysqld_exporter.go#L49

[2015-12-22 13:50] daviesalex opened #460 "[RFC] Randomization for plugin execution"
Today, telegraf has two modes:

round_interval=true. Will call all plugins "on the second", exactly, every time
round_interval=false. Will call plugins exactly every configured second, starting at the startup time.

Randomization of this interval is important for us as it avoids self-synchronization effects mucking up analysis and causing all theads to be doing work concretely. What we would like

[2015-12-22 16:42] johnrengelman commented on #218
Any update on this since go 1.5.2 is released?

[2015-12-22 16:43] NRMK81 opened #461 "Authentication option for httpjson plugin"
Can we add or send user credentials along with HTTP request?

[2015-12-22 21:40] dadolab commented on #444
@mark-rushakoff: I'm already using nmon2influxdb, but the "upload" is manual/offline

[2015-12-23 02:07] sparrc commented on #459
thanks for the report @tarjei, but I'm going to close this in favor of https://github.com/influxdb/telegraf/issues/403, as I'm fairly certain that PR will include slave status

[2015-12-23 02:10] sparrc commented on #461
good idea, shouldn't be too difficult to add

[2015-12-23 02:12] sparrc commented on #218
I'm not exactly sure the status of this, but https://github.com/shirou/gopsutil/pull/106 _has_ been merged into telegraf's build dependencies

@jchauncey @cgeoffroy  any comments?

[2015-12-23 12:39] tarjei commented on #459
Cool!
23. des. 2015 3.07 a.m. skrev "Cameron Sparr" <notifications@github.com>:

[2015-12-23 17:55] johnrengelman opened #462 "How to use Telegraf in a Docker cluster environment"
I'm considering using Telegraf for gathering metrics in my Docker cluster (using Rancher), but I'm running in to a roadblock for one item in particular.

Many of our applications are Java apps, that will be package up into containers and deployed. However, the support for the JVM in Telegraf is via the Jolokia plugin which uses a "pull" method (i.e. it needs to know which end points to connect to

[2015-12-23 18:06] johnrengelman commented on #462
A possible solution that I'm going to explore is using the `statsd` plugin for Telegraf so that it can't accept that input and then run a "sidekick" container to each of my JVM containers that uses [JMXTrans](https://github.com/jmxtrans/jmxtrans) to push the JMX data to Telegraf which can then forward it on.

[2015-12-23 18:58] #459 closed

[2015-12-23 19:07] sparrc commented on #462
@johnrengelman Running the Telegraf Statsd server is one way to solve this problem. Another way would be to use a message queue, such as kafka. Your apps could push [line-protocol](https://docs.influxdata.com/influxdb/v0.9/write_protocols/line/) into kafka and then you can use Telegraf's `kafka_consumer` plugin to read those messages from kafka.

Another thing you might consider is if Telegraf rea

[2015-12-23 19:58] johnrengelman commented on #462
All good points. I'll look into those.
My initial reaction to sending metrics straight to InfluxDb is that I want to utilize Telegraf in the middle to apply some consistent tags to the data (datacenter, region, instance Id, etc). I don't want to have to replicate this data over and over.
I was also thinking it would be a good central place to do any filtering, so instead of having the developers d

[2015-12-23 20:00] johnrengelman commented on #462
I also want to reduce the complexity for my developers in that I want to enforce that certain standard JVM metrics are sent and they only need to worry about custom application metrics for their app. So that's a big piece of puzzle as well.

[2015-12-23 22:14] zstyblik commented on #462
@johnrengelman Telegraf should work just fine in Docker container. You likely want to mount Hosts' `/proc` and `/sys` and tell Telegraf where to look for it via `HOST_PROC` and `HOST_SYS` environment variables. Then, you want to mount `docker.socket`. The only thing that's not going to work, or so I think, is `% lsof;` for collecting info about TCP/IP state.

[2015-12-23 22:28] johnrengelman commented on #462
Running Telegraf in a Docker container wasn't what I was concerned about. I'm more interested in the best ways to collect metrics from containers in the dynamic nature of a cluster where I won't know which hosts are running which containers or even how many instances of each container might be running (scaling).

[2015-12-24 06:24] sparrc commented on #462
@johnrengelman Makes sense, it would make sense for telegraf to have a generic tcp & udp line-protocol listener for this sort of aggregation.

[2015-12-25 03:19] longnguyen11288 opened #463 "Configurable Docker endpoint"
Is it possible to make docker endpoint configurable and have a default if it isn't specified

[2015-12-26 19:03] Boulet- opened #464 "[Elasticsearch] Multi-server, No metric if there is a node down"
Hi,

My conf for elasticsearch plugin :
[code]

[2015-12-28 02:03] titilambert commented on #193
Hello !
@sparrc @rvrignaud @farss @ranjib
I made a small poc of etcd integration. You can see it here: #465

[2015-12-28 03:30] yuankui opened #466 "plugins documentation"
for now the link in the documentation of telegraf is to github plugin sources.

can you generate a uniformed doc from source or something to show the how to config each plugin?

[2015-12-28 05:15] sparrc commented on #466
use `telegraf -sample-config`

[2015-12-28 05:15] #466 closed

[2015-12-28 05:23] yuankui commented on #466
thx

[2015-12-28 07:23] entertainyou opened #467 "statsd plugin: add option to disable replacing '.' with '_'"
As title, it's the some configuration to disable this?

[2015-12-29 02:43] sparrc commented on #467
There isn't, InfluxDB & Telegraf generally uses underscores as a convention, but it would be pretty simple to disable this.

[2015-12-29 03:25] iotp opened #468 "issue with reading kafka mesages in telegraf to be written to influxdb"
I am trying to read messages from kafka and all my messages fail as follows:
(note - i am using collectd to write the data to kafka)

2015/12/28 20:55:16 Could not parse kafka message: [{"values":[0],"dstypes":["gauge"],"dsnames":["value"],"time":1451357716.011,"interval":10.000,"host":"remotemachine","plugin":"disk","plugin_instance":"mmcblk0p1","type":"pending_operations","type_instance":""}], e

[2015-12-29 03:28] sparrc commented on #468
The kafka messages need to be in [line protocol](https://docs.influxdata.com/influxdb/v0.9/write_protocols/line/) format for the `kafka_consumer` plugin to read them

[2015-12-29 03:29] #468 closed

[2015-12-29 05:41] smebberson opened #469 "Data types using statsd"
I have telegraf configured as follows:

[code]

I'm using the Node.js module [statsy](https://github.com/segmentio/statsy) to send through metrics via the statsd protocol. This is an example of the label I create in statsy:

[code]

However, when viewing this information within the InfluxDB query viewer, everything is coming out as strings. That includes the minutes, session, usingLabel, usingClie

[2015-12-29 06:06] smebberson commented on #469
I should have also stated I'm using Telegraf v0.2.4 and InfluxDB v0.9.6.1 both compiled from source.

[2015-12-29 06:53] sparrc commented on #469
@smebberson Currently the influx statsd implementation does _not_ support multiple fields on a measurement. The way you are sending the metrics, they are being interpreted as tags, which are always strings (see here: https://docs.influxdata.com/influxdb/v0.9/concepts/key_concepts/#tag-value).

I can't tell exactly what you should be sending, could you include the full statsd line? What type of mea

[2015-12-30 08:51] zstyblik commented on #464
So it seems. I wanted to say that something like `func escalate(old_state error, new_state error) error` could be handy, but I'm not sure how this case should be handled. @sparrc?

[2015-12-31 16:16] gtirloni opened #472 "CentOS RPM installs files in /opt/telegraf"
InfluxDB and Kapacitor install files in /usr/lib, /usr/bin and /etc/$product.

Telegraf on the other hand installs in /opt/telegraf and config files are in /etc/opt/telegraf.

I was wondering what's different in Telegraf that it should be in /opt.

It's nothing major but I would expect all Influxdata products to follow a similar pattern in terms of install location, systemd units, config files, et

[2016-01-01 00:08] panda87 opened #473 "Add Jolokia proxy mode"
Hi

The Jolokia plugin that @saiello wrote is very good, but for some cases is not help like the following,
Jolokia has 2 options agent and proxy modes. The current plugin is build for the agent mode, but for cases that I don't want to setup the agent as a dependency in my project or in case I have container that I dont want to add another articats inside, Jolokia is support the proxy mode.

For i

[2016-01-04 08:14] saiello commented on #473
Hi
@panda87 's suggestion is right!

The plugin configuration could be something like

[code]

I'll provide an implementation on my fork as soon as possible. @panda87, I'll notify you when ready.

[2016-01-04 08:39] panda87 commented on #473
Thanks @saiello this feature is super important for me and I believe for others that wan to use this plugin in their systems!
Thanks for the effort!

[2016-01-04 10:33] m4ce commented on #97
I believe telegraf -> influxdb -> kapacitor -> sensu is a better approach.

[2016-01-04 10:40] jtyr commented on #97
@m4ce I don't think so. There is no support fro Sensu in kapacitor. And even if there would be, to alert on metrics stored in InfluxDB, it would require to read the metrics from the DB which puts more load on the InfluxDB servers. This is why it would be much better to generate the alerts on the client side where the metric is collected because that spreads the load across the clients instead of l

[2016-01-04 10:49] m4ce commented on #97
@jtyr, well, writing a sensu output for kapacitor should be quite trivial, but yes it is missing at the moment. One thing to keep in mind is that InfluxDB scales horizontally and kapacitor triggers do leverage InfluxDB built-in analytics functions which work in a distributed way. But yes, it could potentially lead to experience high loads, depending on the queries being executed. Definitely distri

[2016-01-04 11:00] jtyr commented on #97
@m4ce I completely agree. But the user should have a choice which solution to use. So support for Sensu in Kapacitor and threshold plugin in Telegraf should be both available.

[2016-01-04 13:23] yuankui opened #478 "access global config in plugins"
Is any way to access global config like `interval` in plugins?

[2016-01-04 15:01] saiello commented on #473
Hi,
I just complete a simple naive implementation of what we expect branching the 0.2.4 of this repo.

You could find the source code at: https://github.com/saiello/telegraf/tree/feature/jolokia-as-proxy-mode even though I need to improve and write some test as well.

@panda87 If you have some more suggestions or you figure out some issues...

[2016-01-04 21:11] panda87 commented on #473
Thanks @saiello, I'll do my best to try the new feature in day or two and keep you updated with my findings.

[2016-01-05 03:05] yuankui opened #479 "Add per-plugin execution time to debug output"
[code]

here is my config

[code]

[2016-01-05 05:27] sparrc commented on #478
yep: https://github.com/influxdata/telegraf#plugin-options

[2016-01-05 05:27] #478 closed

[2016-01-05 07:13] sparrc commented on #479
It would help if you could be more specific. Try to narrow down which plugin is taking too long, and also specify how long you would expect it to take.

[2016-01-05 08:09] zstyblik commented on #479
@sparrc out of curiosity, is there a way to get per-plugin execution times?

[2016-01-05 12:52] zstyblik commented on #478
The way I understood the question is whether it's possible to access:

[code]

[2016-01-05 17:17] RyanMnM opened #480 "httpjson - No metric output even with valid json responce"
Hi,

I'm trying to get the httpjson plugin to pull down JSON data from a New Relic instance we run so that we can collate it along with data from other sources and show it on one instance of grafana.

I've added a fix in for New Relic requiring a api key in the request header and i can see that data is being pulled down but the metric that httpjson returns seems to be blank.

I've tried dumping th

[2016-01-05 17:23] sparrc commented on #479
@zstyblik there isn't, you would need to run the plugins one-by-one

[2016-01-05 17:26] sparrc commented on #478
@zstyblik please read the link above, it describes how to set the interval per-plugin

[2016-01-05 17:27] sparrc commented on #472
thanks for the feedback @gtirloni, this is a duplicate of https://github.com/influxdata/telegraf/issues/264

[2016-01-05 17:27] #472 closed

[2016-01-05 19:40] zstyblik commented on #478
@sparrc - I understand your reply. I know you can set interval per plugin. And I'm telling you that's not how I understood the question. But I'm not the one whom asked and perhaps it's me who misunderstood the question. Still, if you have time, please, read again what I've written, resp. compare the last sentence and your reply. :)

[2016-01-05 19:40] zstyblik commented on #479
@sparrc I see :\ Thanks.

[2016-01-05 20:40] sparrc commented on #478
I don't see any reason plugins need access to the global `interval` parameter. Asking for a feature without giving the use-case usually leads to confusion ;-)

[2016-01-05 21:09] sparrc commented on #480
The httpjson plugin doesn't understand lists. It simply looks through dictionaries and flattens them into metrics.

It would probably be better to develop a plugin specifically for New Relic, since this would be a generally useful plugin.

[2016-01-05 21:09] #480 closed

[2016-01-05 21:10] sparrc commented on #473
@saiello please hold off on sending up a PR, I am trying to finish 0.3.0 (see #437), and will need the changes to be rebased off of 0.3.0 anyways

[2016-01-05 21:11] sparrc commented on #462
I think this is resolved, @johnrengelman feel free to re-open if there is anything else

[2016-01-05 21:11] #462 closed

[2016-01-05 21:16] #456 closed

[2016-01-05 21:18] johnrengelman commented on #462
Should we create a ticket for a generic tcp/udp line-protocol listener?

[2016-01-05 21:20] sparrc commented on #462
@johnrengelman sure, please do!

[2016-01-05 21:36] zstyblik commented on #478
Sure. Use-case that comes to my mind could be choosing retention policy, resp. embedding interval into metric name in order to choose retention policy later up in the chain. And what not. I don't know. Anyway ...

[2016-01-05 21:43] johnrengelman opened #481 "Add a generic TCP/UDP line-protocol listener"
Take away from this conversation - https://github.com/influxdata/telegraf/issues/462

Would be beneficial to have a generic line-protocol listener that multiple processes could push data to for aggregation/annotation before being shipped out.

[2016-01-05 22:23] NRMK81 opened #482 "couchbase plugin"
Can we have couchbase plugin to collect cluster/node level metrics as we do for elasticsearch?
http://<host:port>/pools/nodes

[2016-01-05 23:57] sparrc commented on #478
Why not just add a tag then? This would be a pretty minor duplication...

[code]

[2016-01-06 08:18] zstyblik commented on #478
@sparrc sure, that could work, although it's hard to say what @yuankui 's use case is. Such thing wouldn't work for me. I would need per plugin tag rather than a global one :)

[2016-01-06 08:29] sparrc commented on #478
@zstyblik per-plugin tags are coming in 0.3.0, see https://github.com/influxdata/telegraf/pull/437

[2016-01-06 08:32] yuankui commented on #478
thank @zstyblik for reply.
here is my use case.

I want to monitor the network(Bytes per second) of every network interface.

but the provided network provide only the accumulated network bytes.

It's suggested to use [derivative](https://docs.influxdata.com/influxdb/v0.9/query_language/functions/#derivative) in SQL, bug I failed to get it to work. (maybe there is some issue in the function)

So I

[2016-01-06 08:37] yuankui commented on #479
May it's good for debug if add some info like `per-plugin execution time` in the schedule framework?

[2016-01-06 08:45] panda87 commented on #473
I made tests to the plugin and it looks very good.
I have only one issue that I want to check if this Jolokia or plugin issue.
The problem is when my mbean look like this:

[code]

The result is one big serializing json that instead of split it to many tags, im getting one long tag like this example: `kafka.log:name=LogEndOffset,partition=0,topic=Production,type=Log` and the value look like this:

[2016-01-06 09:48] melck opened #484 "[Feature Request] Procstat cpu in percent"
I want to collect all processes with their state and cpu usage in percent. Actually procstat_cpu give time spent.

Could you add procstat_cpu_usage* metrics to easier exploit data ?

Is there a way to list all processes without define pattern ?

[2016-01-06 12:43] tomasramanauskas commented on #230
+1

[2016-01-06 19:01] sparrc commented on #478
I wouldn't rely on interval for that, you should store the timestamp of the last gather.

[2016-01-07 00:57] benweissmann commented on #256
Any update on this? I'd also love to use a Passenger plugin.

[2016-01-07 00:59] sparrc commented on #256
@kureikain did you have a plugin for this in your fork?

If so, if you could rebase it off the 0.3.0 branch and send up a PR it would be much appreciated!

[2016-01-07 08:26] yuankui opened #491 "support multiple config files"
use case:

host1 contains: tomcat & nginx
host2 contains: tomcat & redis
host3 contains: redis & mysql

if there are more hosts, I need to maintain many configs.

if telegraf support multiple config files and merge the config at startup, then the tomcat/nginx/redis configuration can be shared between multi hosts

[2016-01-07 13:53] zstyblik commented on #478
@sparrc great!

@yuankui have you reported the bug with InfluxDB? As far as I can tell, the query works for me. Whether reported values are correct, that's another story(I haven't invested time into this). But I'd try to solve it outside of Telegraf.

[2016-01-07 16:51] sparrc commented on #491
We already support that via the `-configdirectory` option, you can specify a directory with multiple configuration files

[2016-01-07 16:51] #491 closed

[2016-01-08 11:28] xor-gate opened #496 "Use go for the ping plugin"
I'm running telegraf in a systemd container with debian jessie. It seems it calls exec directly on `/bin/ping`. Telegraf runs under the user `telegraf` so the suid bit needs to be set. Maybe it should check this before invoking ?. And maybe it would be much nicer if we can directly ICMP from golang instead of executing a binary?

[code]

[code]

then it works:
[code]

[2016-01-08 15:21] zstyblik commented on #496
Do you mean Telegraf should check every 10s? Also, this is imho Debian's problem and not the Telegraf's problem. Don't get me wrong. I had the same problem with Nagios checks and wasn't happy about it either.

That would be awesome.

[2016-01-08 17:57] sparrc commented on #496
looks like we may be able to use this library: https://github.com/tatsushid/go-fastping, that would be a better solution than executing the ping binary

[2016-01-08 18:14] saiello commented on #473
@sparrc don't worry.

@panda87 Could you paste here the jolokia response you obtain calling the agent directly?

[2016-01-08 19:11] zstyblik commented on #496
@xor-gate btw the correct solution is to use/set capabilities `%  setcap cap_net_raw+p /bin/ping`

[2016-01-08 20:18] sparrc commented on #469
@smebberson I think this is solved, please feel free to re-open if not, or if you have additional questions

[2016-01-08 20:18] #469 closed

[2016-01-08 20:19] sparrc commented on #484
shouldn't be too hard, it will probably work similar to the current `cpu` plugin implementation

[2016-01-08 21:59] rossmcdonald commented on #264
Fixed with #497

[2016-01-08 21:59] #264 closed

[2016-01-09 12:03] melck commented on #484
Yes it's like cpu plugin and to list all processes without pattern ?

[2016-01-09 16:38] sofixa opened #499 "phpfpm plugin with unix socket fails"
Hello, everybody.

Awesome work on telegraf, it's really a pleasure to use it, and i've had no issues with it whatsoever until recently.

I setup a webserver with nginx and php5-fpm, with communcation between them passing via the unix socket at /var/run/php5-fpm.sock.

Whenever i run telegraf, with -test and -debug, i get a rather long stacktrace, but with nothing that actually helps me debug:

[c

[2016-01-09 16:43] sofixa commented on #499
In fact, i just discovered my problem - the path to the sock should be prefixed by localhost:(so localhost:/var/run/php5-fpm.sock instead of just /var/run/php5-fpm.sock). That isn't very clear in the documentation of the plugin, so i propose that you edit it to mention that little detail.

[2016-01-09 18:30] sparrc commented on #499
thanks for the detailed report :+1:

[2016-01-10 18:41] xor-gate commented on #496
@zstyblik, you are right i'm not very familiar with the capabilities under linux. It is good to mention because `setuid bit` is kind of evil.

[2016-01-10 21:53] sofixa opened #502 "phpfpm plugin doesn't return any data"
I have tried using the phpfpm plugin, and altough it runs successfully, it doesn't return any data.
Here's the output from the command:
[code]

[code]

Without -test i have:
[code]

So, in theory, it should work, but in InfluxDB i have absolutely nothing.
PHP-FPM is working, and i have used it, and when running a script that shows the status of PHP-FPM i get plenty of data:

[code]

What could be

[2016-01-10 23:59] egoldblum opened #503 "Docker plugin not working on Amazon Linux (EC2/ECS)"
Similar to #84

[code]

Per http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-install.html:
[code]

[code]

The docker plugin config ought to take a base path so that the cgroup directory can be read correctly on distros that don't place it in the standard `/sys/fs/cgroup`
https://github.com/influxdata/telegraf/blob/master/plugins/system/ps.go#L145

[2016-01-11 00:31] harpreet-sawhney commented on #346
Any progress on this?

I happy to take this on.

[2016-01-11 06:20] sparrc commented on #502
@sofixa your test output isn't in fact working, it should be showing measurements

@kureikain any ideas why he wouldn't be getting any metrics?

[2016-01-11 10:53] zstyblik commented on #496
@xor-gate no worries. It's not from my head either ;)

[2016-01-11 13:28] padcom opened #504 "systemd requires /etc/defaults/telegraf"
The package build using `package.sh` does not create the `/etc/defaults/telegraf` file required by `systemd` in `telegraf.service:7`. Without creating even an empty `/etc/defaults/telegraf` file the service won't start.

Tested under Raspbian (Debian Jessie) but should be the same since that is a systemd issue.

[2016-01-11 16:52] sparrc commented on #504
@rossmcdonald has this been fixed with the new packaging scripts from #497?

[2016-01-11 17:32] padcom commented on #504
Possibly

https://github.com/influxdata/telegraf/pull/497/files#diff-b6751345d3563056b97c219a56bddeb9R38

This looks like what'd be needed. If I'd like to test which branch should I build?

[2016-01-11 18:09] sparrc commented on #504
@padcom probably you'll want to use 0.10.0 (0.3.x is 0.10.x now, to coincide with releases of the other influx products)

[2016-01-11 19:57] sofixa opened #505 "Link in Readme to version 0.10 .deb/.rpm results in 404"
Hello,

The links to the new versions of Telegraf, both in .rpm and .deb format, return in a 404 error:

[code]
Could you please update them? And it'd be nice to have a tutorial (or at least a mention, i'd happily write a more detailed tutorial if needed) how to update from 0.2.4 to 0.10.0 :)

[2016-01-11 20:19] jcmartins commented on #505
Where is the correct download to telegraf?
https://repos.influxdata.com
or in the web
http://get.influxdb.org/telegraf/

[2016-01-11 20:25] sparrc commented on #505
@jcmartins both, but repos should generally be used for automating yum/apt only

[2016-01-11 20:25] sparrc commented on #505
@sofixa I seem to have something in the new build script wrong wrt AWS, working on a fix now

[2016-01-11 20:36] #505 closed

[2016-01-11 20:37] sparrc commented on #505
should be fixed now, thanks for the report @sofixa!

There will be a blog post tomorrow about the 0.10.0 release, which will have additional information about migrating.

[2016-01-11 20:49] sparrc commented on #504
@padcom I just tested on ubuntu 15 and it is working, as well as creating an /etc/default file:

[code]

please create a new issue if you notice any other problems.

[2016-01-11 20:49] #504 closed

[2016-01-11 20:53] padcom commented on #504
I just finished my tests as well - works as it should. Thanks!

Any timeline for the 0.10.0 release?

[2016-01-11 20:54] sparrc commented on #504
@padcom are you asking for the release date? or a list of upcoming features?

[2016-01-11 21:45] padcom commented on #504
More like a release date...

[2016-01-12 07:53] logicall opened #508 "prometheus output. plugin net"
Hello!
Today I updated to version 0.10.0 telegraf and appeared errors
[code]
Here is my config
[code]

[2016-01-12 13:50] logicall opened #510 "telegraf 0.2.3 and plugin procstat"
Hello!
I run telegraf on rhel 5.8 x32. And uses a plugin protsstat.

The database get weird data

[code]

On rhel 6.3 x64 this plugin works fine and displays and the normal values.

[code]

Tell me, because of what this could be?

[2016-01-12 16:51] f0s0 opened #511 "number of processes and number of users [plugin request]"
Would be useful to collect these metrics:
- total number of running processes
- total number of users logged in

[2016-01-12 16:55] sparrc commented on #508
@logicall Thanks for the report, we might need to rename the net protocol stats. The problem is the second `net` metric that doesn't have the `interface` stat. This is fine for InfluxDB but not for prometheus.

[2016-01-12 16:57] sparrc commented on #510
The `procstat` plugin is reporting cpu _time_ instead of cpu usage. See https://github.com/influxdata/telegraf/issues/484

In 0.10.0 the metric name has been changed to include `_time`

[2016-01-13 07:33] panda87 opened #513 "Incorrect disk usage stats"
Today, the disk stats shows only the amount the space on the partitions, this will be great if this will show also the percentage, since I had a case that `df -h` shows 100%, but when I calculated that manually, the result was less than 100% (close to 90%).

So both of the stats are important and relevant.

Thanks
D.

[2016-01-13 15:56] exzz opened #514 "Option to disable log messages"
My log file is flooded by messages like these:
Jan 13 16:55:30 volta telegraf[3323]: 2016/01/13 16:55:30 Gathered metrics, (10s interval), from 10 inputs in 31.422957ms
Jan 13 16:55:30 volta telegraf[3323]: 2016/01/13 16:55:30 Flushed 58 metrics to output influxdb in 52.51005ms
Jan 13 16:55:40 volta telegraf[3323]: 2016/01/13 16:55:40 Gathered metrics, (10s interval), from 10 inputs in 30.624247ms

[2016-01-13 23:41] sparrc commented on #514
Sounds reasonable, we could make a quiet mode config option

[2016-01-14 00:38] kureikain commented on #502
@sparrc My apologize for not answering sooner.

@sofixa Hi, Can you post your example config for `fpm`.

My guess is this a permission issue. Telegraf may run under telegraf user. And it doesn't have permission to access socket. From your output, I can see that you are running under root to get stats.

Here is some information for further output:

[code]

If you use `http` endpoint, then you don't

[2016-01-14 00:40] kureikain commented on #256
@sparrc Yes, will send up a PR for this plugin. I have it in my fork. Will do when I'm home

[2016-01-14 05:55] mark-rushakoff commented on #460
+1 for the jitter idea. Standard kind of solution to this problem, straightforward to implement and to understand. Might be useful for plugins that do anything with a network request as well. Should it be fully random or deterministically random, e.g. should a random offset for a plugin be determined once and used repeatedly, or should it be a new random number each time the plugin executes?

I'm

[2016-01-14 08:02] sofixa commented on #502
Hi, thanks for your response.
I thought it might be a rights issue before, when i was receiving an error, so my unix socket is in 666:
[code]

My config is simple:
[code]
Note:without the localhost: bit i was getting an error, which wasn't due to a rights issue, since i have been running my sock as 666.
Furthermore, i have also ran telegraf under root, for test and debug, and it doesn't work eithe

[2016-01-14 08:08] xor-gate commented on #443
Below the hood is not so cross-platform to use the ping plugin because it exec's directly the system `/bin/ping`. See also https://github.com/influxdata/telegraf/issues/496

[2016-01-14 09:20] lassizci commented on #502
I have noticed the same with fcgi/cgi. Works through nginx:
[code]
I have tried with all of these, one at a time or course:
[[plugins.phpfpm]]
urls = ["fcgi://127.0.0.1:9000/status"]
#urls = ["cgi://127.0.0.1:9000/status"]
#urls = ["http://127.0.0.1/status"]

only the http url returns metrics. I get no errors, just the line `* Plugin: phpfpm, Collection 1` and nothing after that.

[2016-01-14 10:07] neckhair commented on #256
A huge :+1: from me!

[2016-01-14 17:22] sparrc commented on #510
closing as won't fix, cpu usage will come with #484

[2016-01-14 17:22] #510 closed

[2016-01-14 17:24] TheFlyingCorpse commented on #40
+1 on SNMP, would simplify greatly collecting from network / appliance devices.

Maybe some way to allow adding in new hosts to query via an API of sorts so it doesnt need to be one gigantic config file? 1000+ network devices with adds/removes every day.

[2016-01-14 18:21] lassizci opened #515 "mysql plugin field overflow"
Hi,

is there a way to collect from mysql and output to influxdb? Currently I seem to get:

[code]

telegraf with -test outputs the statistics though:
[code]

so that is probably more than influxdb can handle.

[2016-01-14 18:25] sparrc commented on #515
@lassizci This is because InfluxDB 0.9.x is limited to 255 fields per measurement.

The simple fix would be to use the InfluxDB [0.10.0 beta](https://influxdata.com/downloads/), or use Telegraf 0.2.4.

[2016-01-14 18:31] lassizci commented on #515
Allright, thanks for the info!

[2016-01-14 18:31] #515 closed

[2016-01-14 18:49] kureikain commented on #502
@lassizci fcgi ideally should works. I don't write that part of code. Will look into it. Thanks for your Nginx configuration to limit access.

@sofixa As @lassizci  pointed out, you can use `deny all` and `allow` before it to allow access from some ip such as 127.0.0.1.

Will push a fix for this.

I still not sure why it won't work even when you run under root. Will you able to compile this file a

[2016-01-14 18:54] kureikain commented on #499
Will submit PRs for this.

[2016-01-14 19:39] jcmartins opened #517 "procstat permission denied"
Telegraf - Version 0.10.0

cat /var/log/telegraf/telegraf.log
2016/01/14 19:29:00 procstat, fd stats not available: NumFD error: open /proc/4564/fd: permission denied
2016/01/14 19:29:00 procstat, io stats not available: IOCounters error: open /proc/4564/io: permission denied

**ps -aux | grep telegraf**
**telegraf  4788**  0.0  0.1 319472 14660 pts/0    Sl   19:27   0:00 /usr/bin/telegraf -pidfil

[2016-01-14 19:48] rossmcdonald commented on #517
We've run into this issue as well. The easiest solution is to run the Telegraf service as `root`, though I would only recommend doing that on test boxes as it can have pretty severe security implications. An alternative is to modify the `/etc/init.d/influxdb` service to make the `/proc/<pid>` directories group readable, and then add the `telegraf` user to the `influxdb` group.

[2016-01-14 20:44] TheFlyingCorpse commented on #513
inodes as well perhaps?

[2016-01-14 21:31] paulstuart commented on #40
@TheFlyingCorpse -- seems reasonable to me. The issue is how to do so cleanly - the hosts would have varying mibs to monitor, n'est pas? How do you envision this API looking?

p.s. I wrote this code for a project that has been sidelined, so I'm not even using these days myself :-(. I still want to make it useful for others so I'll do whatever I can as time allows.

[2016-01-15 00:04] kostasb opened #521 "exec plugin ignores string values"
Telegraf - Version 0.10.0

Example json output from custom script which run as command in [[inputs.exec]]
[code]
Telegraf only stores the int and float values in fields, ignoring the string value.

The result looks like:
[code]

---

[2016-01-15 01:10] kureikain commented on #256
PR is open https://github.com/influxdata/telegraf/pull/522. Will add unit test and document

[2016-01-15 02:24] sparrc commented on #499
thanks @kureikain

[2016-01-15 04:31] #508 closed

[2016-01-15 04:42] sparrc commented on #152
closed by 0.10.0

[2016-01-15 04:42] #152 closed

[2016-01-15 04:46] sparrc commented on #439
closed by https://github.com/shirou/gopsutil/pull/130

[2016-01-15 04:47] sparrc commented on #373
closing, won't implement

[2016-01-15 04:47] #373 closed

[2016-01-15 04:48] sparrc commented on #348
closing this as won't implement, there isn't a clear mapping to statsd metrics from telegraf, and there is already a PR up for graphite output #494

[2016-01-15 04:53] sparrc commented on #366
closed by #449

[2016-01-15 04:53] #366 closed

[2016-01-15 04:54] sparrc commented on #439
oops, closed the wrong issue: https://github.com/influxdata/telegraf/issues/438

[2016-01-15 04:55] sparrc commented on #438
closed by shirou/gopsutil#130

[2016-01-15 04:55] #438 closed

[2016-01-15 05:01] sparrc commented on #455
closing as a won't fix for this repo, it should be opened in https://github.com/shirou/gopsutil

[2016-01-15 05:01] #455 closed

[2016-01-15 05:02] sparrc commented on #463
can you provide more details?

[2016-01-15 05:03] sparrc commented on #291
closing as fixed, please feel free to re-open

[2016-01-15 05:03] #291 closed

[2016-01-15 05:05] sparrc commented on #277
wont implement, now that we have an influxdb plugin, and tag keys for httpjson

[2016-01-15 05:05] #277 closed

[2016-01-15 05:10] sparrc commented on #359
fixed by release 0.10.0, an httpjson service is now configured as a single plugin

[2016-01-15 05:10] #359 closed

[2016-01-15 05:11] sparrc commented on #310
closed by #327

[2016-01-15 05:11] #310 closed

[2016-01-15 06:34] kureikain commented on #256
Doc is added https://github.com/kureikain/telegraf/blob/2c7d7c15015699e28ec43b709183c8821f69d4e0/plugins/inputs/passenger/README.md

If anyone have feedback to improve doc please do.

[2016-01-15 07:43] ekini commented on #521
Well, according to documentation https://github.com/influxdata/telegraf/tree/master/plugins/inputs/exec, it's intended.

[2016-01-15 10:06] panda87 commented on #513
inodes exists in ubuntu?

[2016-01-15 13:37] tripledes opened #524 "Rewrite import paths from influxdb -> influxdata"
Trying to build Telegraf's master branch I get errors reporting the use of the internal package from Influx's old repository:

[code]

I think it would be just a matter of rewriting the import paths, wouldn't it? If so, I could do so with ```gofmt``` and submit a PR.

Cheers!

[2016-01-15 14:47] zstyblik commented on #463
@sparrc my guess is Docker over TCP, resp. `DOCKER_HOST=tcp://X.X.X.X:2375/` instead of U*nix socket in `/var/lib/run/docker.sock`.

[2016-01-15 15:18] deric opened #525 "Systemd service not enabled on Debian"
Debian does not contain `/etc/lsb-release` file (unlike Ubuntu), instead there's a binary `lsb_release`:
[code]
When release number is `>=8.0` systemd service should be enabled. Maybe just removing [this line](https://github.com/influxdata/telegraf/blob/master/scripts/post-install.sh#L59) would solve it. Assuming that most distributions would use either `systemd` or `sysvinit`.

[2016-01-15 15:55] rossmcdonald commented on #525
@deric Thanks for letting us know. Fix here: #526

Workaround:

[code]

[2016-01-15 16:18] deric commented on #525
No, problem. Yeah, I've managed to bypass the issue, but it's annoying to do this on each server. Using `/etc/debian_version` is even better idea, than mine :+1:.

[2016-01-15 16:37] longnguyen11288 commented on #463
My unix socket isn't running at /var/lib/run/docker.sock. and would like for it to be configurable so I can use this awesome plugin for my servers.

On January 14, 2016 at 9:02:49 PM, Cameron Sparr (notifications@github.com) wrote:

can you provide more details?

—
Reply to this email directly or view it on GitHub.

[2016-01-15 16:51] jcmartins commented on #517
Influxdata can be create a unique group to all softwares (influxdb, telgraf, kapacitor, etc)...

[2016-01-15 17:10] zstyblik commented on #463
@longnguyen11288 I'd say this is rather question for gopsutil which is being utilized by Telegraf.

[2016-01-15 17:34] sparrc commented on #513
@panda87 Are the disk stats incorrect? Why was it off by 10%?

[2016-01-15 17:42] sparrc commented on #513
Can you explain the query you're using the calculate it?

when I do

[code]

I get the correct percentage

[2016-01-15 17:50] sparrc commented on #524
@tripledes the workaround is to get the repo with `go get github.com/influxdb/telegraf`

[2016-01-15 17:55] #525 closed

[2016-01-15 18:13] TheFlyingCorpse commented on #513
@panda87  - yes, unles you are using XFS I think.
to get inodes: $ df -i

Ex from my puppet master test:
Filesystem      Inodes  IUsed   IFree IUse% Mounted on
/dev/dm-0      3164112 129123 3034989    5% /
udev            124675    318  124357    1% /dev
tmpfs           126878    485  126393    1% /run
tmpfs           126878      1  126877    1% /dev/shm
tmpfs           126878      8  126870    1%

[2016-01-15 18:26] #168 closed

[2016-01-15 18:30] TheFlyingCorpse commented on #40
On the API, I'm not really sure. I'm used to Nagios/icinga with reload signal to make it reload its configuration, which is not really an API. It could easily be this in some form as long as it doesn't go and polll everything in the first 2 seconds then waits for say 298 seconds and does it again to everything, spread it out a bit.

What I'm struggling with in regards to SNMP is what is useful to

[2016-01-15 18:52] sparrc commented on #40
If any of you have comments on an SNMP plugin, please make them at https://github.com/influxdata/telegraf/pull/495, we should be able to get that merged soon and I want to make sure that it fits everyone's needs

[2016-01-15 19:34] zensqlmonitor opened #528 "md14454/gosensors"
When I try to do a make:
[code]

[2016-01-15 19:43] sparrc commented on #528
errp, I didn't realize this was a requirement of that package, current workaround is to install the `lm-sensors` package

[2016-01-15 20:00] zensqlmonitor commented on #528
Thanks.
I got it, it is called lm_sensors
...but in CentOS 7, make still failed with the same error message.

[2016-01-15 20:07] sparrc commented on #528
I'm going to add some build flags to the sensors plugin to only compile when a flag is passed to it, then you can ignore building it for most cases

[2016-01-15 20:08] zensqlmonitor commented on #528
Ok, I resolve it by installing following package:
yum install lm_sensors-devel

[2016-01-15 20:08] #528 closed

[2016-01-15 20:42] #514 closed

[2016-01-15 20:51] sparrc commented on #448
closing in favor of #352

[2016-01-15 20:51] #448 closed

[2016-01-15 21:00] sparrc commented on #443
closing in favor of #496

[2016-01-15 21:01] sparrc commented on #496
Changing this case to just track using golang for the ping plugin, which is probably the only real solution to this issue

[2016-01-15 21:50] sparrc commented on #396
@Clement87 could you explain more? What is `maxVal`?

[2016-01-15 22:52] tripledes commented on #524
@sparrc thanks, then is it worth it to rewrite the import paths?

[2016-01-15 22:57] sparrc commented on #524
yes, rewriting will need to happen eventually, but will be a breaking change to everyone who builds from source

[2016-01-15 22:58] #467 closed

[2016-01-15 23:02] tripledes commented on #524
OK, I guess the issue can be left opened. Thanks.

[2016-01-16 11:52] TheFlyingCorpse commented on #513
@sparrc, running "SELECT used/total FROM disk WHERE path='/'" on 0.9.6 via the influxdb simple website on :8083, it crashes parts of the influxdb daemon, like tsdb, is this intentional?

From log:
Jan 16 12:48:50 ryglif11 systemd[1]: influxdb.service: main process exited, code=exited, status=2/INVALIDARGUMENT
Jan 16 12:48:50 ryglif11 systemd[1]: Unit influxdb.service entered failed state.

[2016-01-16 15:35] sparrc commented on #513
@TheFlyingCorpse No, that is not intentional, I'm fairly sure that bugfix was the reason we released 0.9.6.1 (see https://github.com/influxdata/influxdb/pull/4984), so I'd suggest upgrading

[2016-01-16 18:32] sofixa commented on #502
I get the following when running your script
[code]
As for the http method, i am not worried about unauthorized access, that's easy; my problem is that my PHP code immediately redirects the request(since i run a WordPress blog with internalization, which intercepts all requests and if they are not prefixed with a language name, sends them to the default one, and then demands the info) and returns

[2016-01-16 18:40] sofixa commented on #502
When i put the actual path to my PHP-FPM status page i get it properly with your script:
[code]
Which is odd, because i can't even wget into it:
[code]

[2016-01-16 19:33] kureikain commented on #502
@sofixa You cannot wget it because it use fastcgi protocol, not http protocol.

So now I know what is the problem. Problem is that you don't use `default path /status`. That's why we get this: `2016/01/16 18:25:53 Sock Err: Primary script unknown`

So I'm going to create a PR (https://github.com/influxdata/telegraf/pull/538) to allow you supply the path to socket like this:

[code]
Are you ok with

[2016-01-16 20:38] sofixa commented on #502
Yeap, sounds perfect.

[2016-01-16 21:16] sofixa commented on #502
And i probably should have mentioned i am not using /status, i am using it for nginx's status page, sorry...

[2016-01-16 21:38] kureikain commented on #502
@sofixa yeah, this is because the plugin doesn't report error properly, it just fail silently. I fixed all kind of this issue in #538 .

Also, you can use only:

[code]

You don't have to specify the host field.

It may take awhile for #538 to be merge and release. So you may want to compile it yourself. It's rebase on current master.

[2016-01-16 21:50] sofixa commented on #502
Okay, thanks a lot, mate.
Cheers!

[2016-01-16 22:43] TheFlyingCorpse commented on #513
@sparrc, docs out of date then, it points to 0.9.5.1, meanwhile download page lists 0.9.6.1 and docs on github in raw format points to an actual repository. Ref: https://influxdb.com/docs/v0.9/introduction/installation.html

Sorry for posting about this in this ticket.

[2016-01-16 22:59] sparrc commented on #513
looks like our old website isn't redirecting yet, see the new docs site: https://docs.influxdata.com/influxdb/v0.9/ and https://influxdata.com/downloads/

[2016-01-17 03:28] gfk commented on #433
Hi Ross, telegraf 0.10 has been released a couple days ago, could you add it to the repos? Thanks!
https://influxdata.com/blog/announcing-telegraf-0-10-0/

[2016-01-17 05:37] sparrc commented on #433
@gfk, 0.10 is a breaking build, which is why we're holding off on updating.

[2016-01-17 18:08] titilambert opened #540 "SNMP input plugin - Add table feature"
After a discussion with @TheFlyingCorpse, we designed a new config file like this:
[code]

[2016-01-18 06:01] kureikain commented on #332
I'm working on this plugin. Write in here to avoid wasting someone's time.

[2016-01-18 11:33] cwegener commented on #30
So, having read the comments in this issue, I still have no idea what the consensus is about designing such a feature for Telegraf.
I'm rather brand new to Telegraf, but I do have a little bit of Windows experience.
So, my question is, would it be reasonable to implement this feature via the go-com wrapper as StackExchange are doing in their go-wmi code? I am a bit concerned about the effect on co

[2016-01-18 11:52] cwegener commented on #30
As a general Windows perf counter project to use as inspiration and help, I guess the C# PerfTrap implementation that sends graphite output is a very useful reference: https://github.com/Iristyle/PerfTap#other-historical-notes

[2016-01-18 16:40] njawalkar opened #543 "StatsD plugin: Error parsing incoming stats under load"
I'm sending ~1000 stats per second to a telegraf instance in statsd format. I see errors like the following every time it flushes data to the backing influxdb instance:

`

2016/01/18 17:20:40 Gathered metrics, ({2s} interval), from 1 plugins in 10.769936ms
2016/01/18 17:20:40 Error: splitting ':', Unable to parse metric: cmd,source=metricsProto
2016/01/18 17:20:40 Error: splitting ':', Unable to

[2016-01-18 16:53] gena01 opened #544 "Add exec plugin as output"
Would be nice to be able to execute a script that would take json metrics content and would send it to where it needs to go. (Most of these would help with various http/https api integrations)

[2016-01-18 17:29] sparrc commented on #544
@gena01 were you thinking via stdin?

[2016-01-18 17:35] sparrc commented on #543
@njawalkar What are you using to send the statsd packets (ie, which client library?)

In theory the flushing and parsing of UDP stats are in their own threads and shouldn't affect one another, but it's possible that the system is being stressed too much, do you happen to have load, cpu, or mem stats for the machine the statsd server is running on?

Another possible solution would be to make the UD

[2016-01-18 17:57] #499 closed

[2016-01-18 17:57] #502 closed

[2016-01-18 18:15] gena01 commented on #544
Precisely. This could work nicely to proxy metrics to a system currently not supported via native output plugin. This way an external script can reformat and forward these metrics where it needs to go.

[2016-01-18 18:19] sparrc commented on #544
@gena01 Would line-protocol work? Otherwise we would need to convert metrics back to JSON from line-protocol, which wouldn't be a huge deal either.

[2016-01-18 18:24] gena01 commented on #544
Sure. Might even be better in some use cases (easier to parse?).

[2016-01-18 23:32] kureikain opened #545 "Extend MySQL plugin for table metric, query result metric"
Hi,

Is it possible to extend functionality of MySQL to report more detail metric on table level, thing like:

- record counts
- last write

Or even run a sql query and record value (yes, sound like an use case for `exec` plugin)

This use case is special for me because I have those kind of checks in our system like 'check query that runs longer than 2 minutes', find table that have no write in 15

[2016-01-19 00:01] sparrc commented on #545
dupe, see #403

[2016-01-19 00:01] #545 closed

[2016-01-19 02:54] kureikain commented on #403
@daviesalex Are you working on this? I have an idea to report information of each table(records count, last write,..) and exec a configured MySQL query, then gather field to report to InfluxDB? Can I join your effort.

[2016-01-19 10:24] entertainyou opened #547 "Statsd input can not process metric names with a colon in it"
An example `foo,url=http://www.google.com:10|ms`, I found no restriction on metric name in https://github.com/b/statsd_spec, and my output backend is influxdb, which can accept colon in metric name.

It would be great if `telegraf` can support colon in metric name

[2016-01-19 11:54] njawalkar commented on #543
I'm using this: https://github.com/njawalkar/java-influx-statsd-client
It is a modification of the dogstatsd client to follow influxdb line protocol (dogstatsd formats tags a little differently than what telegraf expects)

The test is deterministic. It reads a pre-existing file of events and sends them. So every time I run the test, the same events are generated. During this test, the cpu stays be

[2016-01-19 12:16] klyinliu opened #548 "[Feature Request] procstat to provide cpu_time_total"
cpu_time_total will be the sum up of all cpu_time used by the process.

So basically, what I need is the total CPU percentage.
If I can get the cpu_time_total, then I can use the derivative function in influxdb to get the percentage.
However, now all cpu_time are separate and derivative function in influxdb doesn't support math function of multi fields. Thus, I have to create an extra Continuous Q

[2016-01-19 12:38] Maksadbek commented on #403
Hi @kureikain, Currently I am working on it, almost finished. Only fixing metric names and tags is left.

[2016-01-19 16:22] aderumier opened #549 "telegraf 0.10 not yet available in debian repositories ?"
Hi,

It seem that telegraf 0.10 is not yet available in debian repositories.

Is it planned to include it soon ?

[2016-01-19 16:30] gena01 opened #550 "Telegraf "master" branch doesn't compile with go 1.4.3"
I am trying to compile telegraf master branch locally on ubuntu 14.04 and I am getting these errors using go 1.4.3:

[code]

README says 1.4+ should work?

[2016-01-19 16:43] sparrc commented on #550
Thanks for pointing this out, I'm not going to fix this for Go 1.4.x, I'll change the README to say 1.5+

[2016-01-19 16:43] #550 closed

[2016-01-19 16:45] sparrc commented on #547
good point, shouldn't be a hard fix

[2016-01-19 16:50] sparrc commented on #543
I'm fairly certain this is the issue: https://github.com/njawalkar/java-influx-statsd-client/blob/master/src/main/java/com/timgroup/statsd/NonBlockingStatsDClient.java#L49

The client library is sending 1500-byte packets, and the telegraf statsd is accepting only 1024-byte packets: https://github.com/influxdata/telegraf/blob/master/plugins/inputs/statsd/statsd.go#L223

to be clear, the issue is wi

[2016-01-19 17:08] sparrc commented on #548
Would it be enough to just have the usage percentages? see https://github.com/influxdata/telegraf/issues/484

[2016-01-19 17:38] sparrc commented on #547
actually this isn't trivial because of #354, will have to do some checking on each ":" split if the resulting string looks like a statsd metric.

[2016-01-19 17:51] rossmcdonald commented on #549
@aderumier The 0.10.0 packages should now be available.

[2016-01-19 17:51] #549 closed

[2016-01-19 17:53] rossmcdonald commented on #433
@gfk The 0.10.0 packages are now available through the repository.

[2016-01-19 18:08] #543 closed

[2016-01-19 18:12] klyinliu commented on #548
Yes, that will be even better.

[2016-01-19 18:18] sparrc commented on #548
okay, closing in favor of #484

[2016-01-19 18:18] #548 closed

[2016-01-19 19:04] njawalkar commented on #543
Thanks! I should have mentioned the packet size being 1500 in the client, but it slipped my mind. But thanks for making the input buffer configurable.

[2016-01-19 20:44] #460 closed

[2016-01-19 21:48] TheFlyingCorpse commented on #30
@cwegener - I got a very rough proof of concept (outside of telegraf) working with the github.com/lxn/win example you hinted at. I'm new to programming in general, used to scripting and if it works dont optimize. I need to figure out some basic stuff with Go and programming in general regarding pointer/referral handling. I hope to get this done this week, hopefully useful on most if not all Perfor

[2016-01-19 21:55] ruudboon commented on #450
Thumbs up for @cheffo https://github.com/cheffo/FreeBSD-Ports/tree/master/net-mgmt/telegraf

[2016-01-20 05:42] sparrc commented on #484
@melck this plugin really isn't optimized for getting stats for _all_ processes, what is your use-case? are you looking for the "top" consuming processes?

[2016-01-20 10:27] njawalkar opened #555 "Unable to build with go 1.5"
I'm trying to build telegraf (from master) using go 1.5, and I see the following error messages:

[code]

I'm trying to build this in a docker container:
[code]
Googling around suggests that some package dirs need to be moved to fix this:
https://github.com/kisielk/errcheck/pull/73

[2016-01-20 11:01] melck commented on #484
@sparrc Yes, I don't want all processes, I just want to have "top X" consumming processes.

I want to watch some processes to compare when we have extra consumption cpu or memory

[2016-01-20 13:16] panda87 opened #556 "Statsd counter float values"
Hi

I'm using statsd plugin to collect the consul metrics, but since the last version of consul it seems that part of the metrics (counters) are float and not int64.
For my case, i'm loosing a big amount of data just because of counters can't parse floats values.

My simple solution as I see it, is that in case of counter floats or any other object, try to cast to int64 and throw log that explain

[2016-01-20 13:59] tripledes commented on #555
@njawalkar have a look to #524

[2016-01-20 16:43] sparrc commented on #555
This is because of #524. The current workaround is to clone from github.com/influxdb/telegraf instead of github.com/influxdata/telegraf

[2016-01-20 16:43] #555 closed

[2016-01-20 16:45] sparrc commented on #484
There's been a request for that before, and I think using `ps` or `top` would be better. The procstat plugin takes quite a bit of time to query each process it monitors, so I don't think it's good for monitoring all processes. (try setting it up with `pattern = "i"` and you'll see what I mean)

[2016-01-20 17:20] sparrc commented on #479
changing this case to just be for adding per-plugin execution time to the debug output

[2016-01-20 18:05] charles-d-burton opened #559 "PCP Plugin Request"
I think it would be very useful to have a plugin to ingest Performance Copilot data.  PCP provides a lot of interesting time-series metrics on running systems.

[2016-01-20 18:10] panda87 commented on #559
:+1:

[2016-01-20 18:30] sparrc commented on #559
Would it make more sense for PCP to directly be able to output data InfluxDB? Seems a little odd for a collector to collect from another collector :sweat_smile:

For reference, this is the API documentation of PCP (I think interacting with it will require CGO): http://www.pcp.io/doc/pcp-programmers-guide.pdf

And here is a PCP module for directly outputting PCP data to graphite, which will probabl

[2016-01-20 18:46] #484 closed

[2016-01-20 18:47] #440 closed

[2016-01-20 18:50] charles-d-burton commented on #559
That's a pretty good idea.  Do you know if there are any good examples of using python to send data to InfluxDB?  Looking through the pcp2graphite code it doesn't look to be too difficult to modify it to send data to Influx.

[2016-01-20 18:52] sparrc commented on #559
@charles-d-burton This is the official influxdb python client, if that helps: https://github.com/influxdata/influxdb-python

[2016-01-20 19:01] charles-d-burton commented on #559
That will do, looks like I just need to figure out what the tuples look like that are being sent to graphite and format them into json to send to influx.  Shouldn't be too difficult(famous last words).  I think you can close this if you like, unless you think there might still be value added to ingesting via telegraf.  The main point I can think of is that telegraf might scale better.  Looking at

[2016-01-20 19:02] sparrc commented on #559
I don't think it hurts to have both, so I'll leave this issue open, thanks @charles-d-burton

[2016-01-20 19:08] #524 closed

[2016-01-20 20:38] nsteinmetz opened #562 "arm zip file seems incorrect"
Hi,

On my RPI2B, what I have when I try to decompress the arm file for telegraf.

File is correct:
[code]

But, when decompressing:

[code]

Seems more a zip archive:

[code]

And so:

[code]

Could you please review the way you create the archive?

Thanks,
Nicolas

[2016-01-20 20:51] rossmcdonald commented on #562
@nsteinmetz Thanks, this was a bug in our packaging script. The `zip` was just renamed to `tar.gz` when it was exported. I should have a fix for this later today.

[2016-01-20 22:00] #556 closed

[2016-01-20 22:26] sparrc commented on #463
I'm not sure that I follow.....the docker plugin uses cgroup files to gather stats (such as `/sys/fs/cgroup/cpuacct/docker`). Maybe I'm missing something but I don't think it's accessing /var/run/docker.sock?

[2016-01-20 22:43] TheFlyingCorpse commented on #30
@cwegener - Got a lot further today, the proof of concept is working standalone in the expected way, I hope to move this to telegraf on Friday or Saturday. Tomorrow is maintenance evening @ work.

Sample of how I am specifying performance counters:
[code]

[2016-01-20 22:50] sparrc commented on #463
@longnguyen11288 It should be fairly easy to change this: https://github.com/influxdata/telegraf/blob/master/plugins/inputs/system/ps.go#L139

But does your system still have the cgroup files (such as `/sys/fs/cgroup/cpuacct/docker`) available locally? because https://github.com/shirou/gopsutil/ relies on these local files to gather stats.

[2016-01-21 03:36] gena01 opened #564 "[Feature request] Add some small things to make output plugin writing easier"
So I've been hacking on a little output plugin and I noticed a few things:
- metrics in telegraf don't have types (internally). Various Input plugins can inject various types, but those are not saved internally.
- When sending points to some external services which do have various supported types (gauge, counter, cumulative_counter, etc..) you have to either pick one like "gauge" as default or fig

[2016-01-21 05:44] kureikain commented on #403
Thanks @Maksadbek So exicting :)

[2016-01-21 06:48] panda87 commented on #556
@sparrc you are the man! thank you very much! I really appreciate your effort

[2016-01-21 12:28] anlutro opened #565 "Hostname override no longer works in 0.10?"
In my configuration, I have

[code]

However, in InfluxDB, the machine's regular hostname is still being used.

I'm not 100% sure this was working in v0.2, but I think it was.

[2016-01-21 12:31] jcmartins commented on #565
It's work ok for me in telegraf 0.3beta and 0.10.

[2016-01-21 14:20] anlutro opened #566 "inputs.exec fails silently if json values have wrong types"
I had a script that was basically returning `{"something": true}`. This didn't write anything to InfluxDB, but didn't generate any errors in the InfluxDB or Telegraf logs.

Changing it to an integer instead of a boolean made it work.

[2016-01-21 15:37] sparrc commented on #565
should be `host = "foo.bar.baz"`, not `hostname`

[2016-01-21 15:37] #565 closed

[2016-01-21 15:39] sparrc commented on #566
closing as dupe of https://github.com/influxdata/telegraf/issues/521

This really is by design, the plugin is meant to be able to deal with a wide range of different JSON blobs and extract the numeric data out.

I suppose it could support booleans by converting to 0/1 though

[2016-01-21 15:39] #566 closed

[2016-01-21 15:53] sparrc commented on #564
@gena01

some thoughts:

- Re "types" metrics in Telegraf _do_ have types, it is the influxdb `client.Point` type. This type is more low-level because it corresponds to an entry in a database. The types that you're referencing "gauge" and "counter" are specific metric types to prometheus and statsd and don't exist in the database. There are many systems that come up with their own special type of

[2016-01-21 16:02] tarrychk commented on #218
I'm running telegraf 0.10.0 in docker container and collect system statistics via HOST_PROC and HOST_SYS. Works fine for me.

[2016-01-21 16:35] anlutro commented on #566
Gotcha! I'll comment on the other issue.

[2016-01-21 16:37] anlutro commented on #521
This applies to booleans as well. I'd really appreciate it if this triggered a warning or error in the log files, just for clarity's sake when debugging and learning by trial and error.

[2016-01-21 16:38] anlutro commented on #565
Aha. I'm pretty sure the 0.10 generated sample config contains `hostname = ""`, though.

[2016-01-21 17:39] sparrc commented on #565
@anlutro, oops, you're right, but I just tested and the hostname is getting overidden, are you using or editing the correct config file?

[2016-01-21 17:40] sparrc commented on #521
But for users who are parsing large JSON blobs, logging every single string and/or boolean that is supposed to be ignored would be overkill. I think we can just put some documentation in the config file about this.

[2016-01-21 17:44] anlutro commented on #565
Definitely, other configuration changes I make are correctly reflected. Actually when I think about it, it might be my mistake, having the wrong hostname for my local VMs. I'll double check tomorrow.

[2016-01-21 21:22] sparrc commented on #450
cool! I'm going to close this as there are no plans for influx to maintain FreeBSD ports ourselves

[2016-01-21 21:22] #450 closed

[2016-01-21 21:23] sparrc commented on #473
@saiello 0.10.0 (prev 0.3.0) has been merged to master, so feel free to forge ahead

[2016-01-21 23:17] #503 closed

[2016-01-21 23:17] #463 closed

[2016-01-22 00:02] sparrc commented on #279
this was done in 0.10.0

[2016-01-22 00:02] #279 closed

[2016-01-22 00:06] sparrc commented on #328
@jrxFive Sorry I missed this comment. I think that supporting the logstash encoding would be good. I was recently thinking about ways to do this, one option would be to have "protocol" plugins that could parse the `client.Point` object to various different protocols, such as logstash. Currently we pretty much just do line-protocol, JSON would be easy and an obvious one to support as well.

So let

[2016-01-22 00:21] #464 closed

[2016-01-22 03:36] gena01 commented on #564
In regards to tags. That query looks like InfluxDb query and it might be fine there. The system I am pushing stats to everything is flat (one big bucket). There are no "metric" tables. There is no "FROM". Think of dumping everything into one influxdb "metric" table/metric. Then you can have the same "name" tag coming from multiple plugins potentially clashing the dataset and making filtering harde

[2016-01-22 13:03] joakimberglund opened #568 "panic: runtime error"
Got an instans of telegraf 0.10.0-1 on RHEL6.7 that crashes a couple of times a day...

[code]

[2016-01-22 13:05] joakimberglund commented on #568
# Telegraf configuration

# Tags can also be specified via a normal map, but only one form at a time:
[tags]
  # dc = "us-east-1"
  tenant = "xyz"

# Configuration for telegraf agent
[agent]
  # Default data collection interval for all plugins
  interval = "10s"
  # Rounds collection interval to 'interval'
  # ie, if interval="10s" then always collect on :00, :10, :20, etc.
  round_interval = true

[2016-01-22 13:07] joakimberglund commented on #568
and in telegraf.d/apache.conf

[[outputs.influxdb]]
  urls = ["http://xyz:8086"] # required
  # The target database for metrics (telegraf will create it if not exists)
  database = "apache" # required
  # Precision of writes, valid values are n, u, ms, s, m, and h
  # note: using second precision greatly helps InfluxDB compression
  precision = "s"

  # Connection timeout (for the connection with

[2016-01-22 14:27] skares commented on #559
+1

[2016-01-22 16:52] jchauncey opened #569 "kubernetes input plugin"
It would be nice to see telegraf support kuberentes deployments. This means decorating metrics with appropriate pod labels (pod name, namespace, container name, etc..).

I'll try and take a stab at this soon as I would like to use telegraf instead of cadvisor for collecting metrics on my k8s cluster.

[2016-01-22 17:25] sparrc commented on #569
@jchauncey How are you monitoring the kubernetes deployment? I've recently overhauled the docker plugin to gather more metrics and allow specifying an endpoint, does this help? https://github.com/influxdata/telegraf/tree/master/plugins/inputs/docker

I'm not sure how kubernetes labels work, but the _docker_ labels are applied as tags

[2016-01-22 17:33] jchauncey commented on #569
youll need to contact the kube api server to gather the information about each pod and the metrics its consuming.

This would be so I could monitor the k8s deployment. My goal is to supplant cadvisor with telegraf to have a tighter integration with influx.

[2016-01-22 20:36] sparrc commented on #562
@rossmcdonald do you have a fix for this?

[2016-01-22 21:44] TheFlyingCorpse opened #571 "fatal error: unexpected signal during runtime execution"
Agent based on git commit from master branch: 7531e218c179d00554c0ed332f1f100bc68290e8 (0.10)

This error shows up after the telegraf has been running for 2-3 days and promptly kills it:
[code]

config:
[code]

[2016-01-22 21:47] sparrc commented on #571
@TheFlyingCorpse What is your OS?

[2016-01-22 22:55] TheFlyingCorpse commented on #571
My OS is Windows 10, build 1511. Using Go 1.5.1 atm.

[2016-01-22 23:14] sparrc commented on #571
I'm closing as a Golang issue, I would try building with Go 1.5.3 first (might even be worth trying a 1.6 beta build)

see [this comment](https://github.com/golang/go/issues/11783#issuecomment-122590180) for more details on getting more complete traceback info

[2016-01-22 23:14] #571 closed

[2016-01-22 23:17] sparrc commented on #568
Thanks for the details @joakimberglund, looks like there was a race condition that could only be tripped when multiple outputs of the same type were specified.

PR #570 will fix this, and will go into version 0.10.1

[2016-01-22 23:29] #285 closed

[2016-01-22 23:29] #568 closed

[2016-01-24 10:05] zstyblik opened #574 "Plugins should emit metric unit as a tag"
You collect all these cool metrics about everything and nothing, but what unit is this metric in? Is it MB or B or potatoes? Do you remember? Do you know?

Now, that we have support for tags aka meta-data, it'd be cool if tag `unit` was emitted as well to better describe the metric.

[2016-01-24 18:15] mark-rushakoff commented on #574
I wonder if units are something that are a better fit as a first-class InfluxDB feature. (I did a cursory search through InfluxDB issues and didn't see anything – perhaps you'd like to open an issue @zstyblik ?) It's something we've internally talked about once or twice in Chronograf development as well.

I'm not sure that tags are a proper fit for this problem. For example, the system plugin's di

[2016-01-25 05:14] jchauncey commented on #569
My thought right now is that when you collect the metrics on the container if they have turned on k8s metrics we reach out to the api server and fetch all the pod information. That would probably take place around [here](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/docker/docker.go#L92)

[2016-01-25 06:30] rvrignaud commented on #569
Hi @jchauncey,

This is slightly out of scope of this issue but for my k8s cluster in production I use both heapster running with InfluxDB sink and telegraf using prometheus input plugin to fetch kubelet metrics. This works pretty well. I'm happy to provide more informations if you want.

[2016-01-25 15:56] jchauncey commented on #569
So right now Id like to not rely on heapster and just use the TICK stack as a pure installation on top of k8s. I feel this would ultimately be more powerful than how the cadvisor+heapster stack is being managed. Especially since TICK will move faster than both of those (cadvisor + heapster)

[2016-01-25 16:33] rossmcdonald commented on #562
@sparrc Yes, working on it now. Got distracted with some compilation issues due to the import path change.

[2016-01-25 19:36] #40 closed

[2016-01-25 20:21] sparrc commented on #513
@panda87 I think the real issue here is that your disk stats were incorrect in Telegraf, could you provide any more information on that?

[2016-01-25 20:30] sparrc commented on #521
I'm going to close this as "won't fix", I'll push a change to include a note about this in the httpjson and exec plugins

[2016-01-25 20:30] #521 closed

[2016-01-25 21:06] jschnare opened #579 "init script not installed on Amazon Linux"
The logic in `scripts/post-install.sh` checks for either /etc/redhat-release or /etc/debian_version, neither of which exist on Amazon Linux.  There is no fallback, so the init script is not installed.

On AL the script should run `install_init` and `install_chkconfig`, just like RHEL.

I don't know the best way to check for AL, but an else statement which calls `install_init` is probably safe & su

[2016-01-25 21:09] rossmcdonald commented on #579
@jschnare Thanks for letting us know. I'm spinning up an Amazon Linux box to test on now, so I should have a fix for this shortly.

[2016-01-25 21:38] jmesserli commented on #513
I have the same Issue, all the disk stats except the "Used" one are correct.

![Imgur](http://i.imgur.com/AMB5RvU.png)

Output of "select used/total from disk where path = '/'":
![Imgur](http://i.imgur.com/aukamI9.png)

A Grafana graph:
![Imgur](http://i.imgur.com/bF3m2WP.png)

I am on Ubuntu 14.04.3 LTS, using InfluxDB 0.9.6.1 and Telegraf version 0.10.0.

Log output in /var/log/telegraf/telegraf

[2016-01-25 21:46] sparrc commented on #513
Interesting, this looks like it might be this problem: http://stackoverflow.com/questions/21693673/differ-in-output-of-df-and-statfs, since we're using gopsutil which makes the statfs call directly.

Thanks for the details @jmesserli, I should be able to get a fix for this going soon

[2016-01-25 22:03] sparrc commented on #513
So this is due to a strange behavior of gopsutil (and the python psutil) to use bfree for `used` space, but bavail for `free` space.

@jmesserli Could you try this query and let me know if it's correct?

[code]

[2016-01-25 22:10] sparrc commented on #513
Actually looks like this could be two different problems.

@jmesserli I believe your stats are off because you are running `df` as root, and telegraf runs under the `telegraf` user. can you try running `sudo -u telegraf df -h /`?

[2016-01-25 22:17] rossmcdonald commented on #562
Fixed by #578

[2016-01-25 22:17] #562 closed

[2016-01-25 22:47] jmesserli commented on #513
@sparrc The stats are the same when running the command as user telegraf

[code]

[2016-01-26 00:20] sparrc commented on #513
Finally tracked this down, it looks like the `df` percentage is actually calculated as:

[code]

see here: https://en.wikipedia.org/wiki/Df_(Unix)

@jmesserli note that in your df example, used + free = 912gb, whereas total = 960gb

I'm not sure there is anything I can do about this, other than add a `used_percent` field to the disk plugin

[2016-01-26 00:49] #579 closed

[2016-01-26 05:07] AlexKapustin opened #582 "[Feature Request] Custom application metrics"
Hello!

Please let us know, are you planning to add possibility to send custom metrics from application to telegraf ?

Ideally it would be:

tcp/udb server socket (depends on config) which accepts metrics in JSON format, gather it, aggregate (?) and flush into db each N seconds (depends on config)

Thanks,
Have a great day! :)

[2016-01-26 05:10] sparrc commented on #582
yes, dupe of https://github.com/influxdata/telegraf/issues/481

[2016-01-26 05:10] #582 closed

[2016-01-26 05:53] sparrc commented on #574
As Mark said, there isn't a solution for this that telegraf can solve, because tags cannot be applied per-field.

[2016-01-26 05:53] #574 closed

[2016-01-26 05:55] sparrc commented on #349
closing, essentially the same as https://github.com/influxdata/telegraf/issues/481

[2016-01-26 05:55] #349 closed

[2016-01-26 05:59] asdfsx opened #583 "mesos input plugin"
Hope telegraf will support mesos one day. Prometheus has already have a mess_exporter.

[2016-01-26 06:16] zstyblik commented on #574
@mark-rushakoff, @sparrc I see that as a rather short-sighted (design) decision. My $0.02USD.

Yes, but let me counter with ``back to the Graphite land''.

[2016-01-26 06:21] sparrc commented on #574
@zstyblik That requires renaming every single field that telegraf emits, which requires users to re-tool all their queries. Please remember that you're not the only user we need to satisfy ;-)

[2016-01-26 07:00] AlexKapustin commented on #582
Thank you for your response!

[2016-01-26 07:05] wutaizeng opened #584 "Some inputs panic will lead to the telegraf exit"
I expect only those inputs exit, instead of the telegraf exit.

[2016-01-26 07:27] panda87 commented on #513
Thanks @sparrc !

[2016-01-26 07:43] jmesserli commented on #513
@sparrc Awesome! Thank you

[2016-01-26 08:06] tripledes commented on #583
@asdfsx If what you need is to query mesos for metrics, I guess for now you could use `httpjson` plugin.

I'm working on a slightly more elaborated plugin for mesos, currently I've already got some code to fetch metrics from mesos master, at this stage it's not very different from what `httpjson` can do although I'm trying to group related metrics so they can be blacklisted from configuration.

As

[2016-01-26 08:07] zstyblik commented on #574
@sparrc what do you mean by renaming? Do you mean `total_bytes`? I'm sorry, but that was irony, if you didn't get it. It's a no way for us and it should be a no way for anybody else. Don't you feel it's going backwards, thus the remark of Graphite?

[2016-01-26 08:26] zstyblik commented on #584
@wutaizeng dealing with errors is rather difficult eg. closing connections, stopping threads, rollbacks etc. aka cleaning up, so when something goes wrong, crashing loud actually is the best way to go.
Also, it might serve as a motivation to actually fix things.

My $0.02USD.

[2016-01-26 09:32] asdfsx commented on #583
@tripledes  THX ! I almost forget httjson..... and good to hear you're working on the mesos plugin~~~!

[2016-01-26 14:34] aodj opened #586 "procstat response when monitored process dies"
Could we improve the response of the `procstat` input such that when a process dies, it still continues to send some metrics, ideally something signalling that the process has died. Currently, the input outputs a message saying `Error: procstat getting process, exe: [] pidfile: [] pattern: [hekas] Failed to execute pgrep. Error: 'exit status 1'` (or similar when using `pid_file`).

[2016-01-26 14:40] mark-rushakoff commented on #574
@zstyblik It sounds like you have some strong opinions about how this should work. Please either open an issue on the influxdb repo regarding first-class unit support, or create a new thread on the mailing list to invite a larger discussion on how to solve the problem you're facing.

[2016-01-26 16:02] tripledes commented on #584
@zstyblik I agree on the fixing/improving stuff, on the other hand Go offers the `recover()` function which @wutaizeng uses on his #585 which is supposed to be used in such cases, I would rather have telegraf running and logging errors (which might just be temporary issues) than aborting execution.

[2016-01-26 16:03] zstyblik commented on #574
@mark-rushakoff we've just had discussion with opinions about this and that. And I'm sorry, but I'm not knowledgeable enough to see how this is InfluxDB's problem.

[2016-01-26 16:32] sparrc commented on #574
Mark has suggested that InfluxDB have built-in support for tracking the `unit` of each field. This would be a better solution because using tags requires separating measurements by unit, which sometimes isn't ideal.

There are many plugins which combine fields in a single measurement that have different units, and all of these would need to be reworked to support unit tags (this would also be a br

[2016-01-26 16:35] sparrc commented on #586
@aodj What would you suggest that procstat sends when the process dies?

[2016-01-26 17:09] jchauncey opened #587 "Binary download doesnt work and instructions are wrong"
The instructions for downloading the binary are wrong on this page - `https://influxdata.com/downloads//#telegraf`

[code]

The file in the tar command doesn't match the one you download.

But besides that the command gives the following error -

[code]

[2016-01-26 17:13] sparrc commented on #587
dupe of https://github.com/influxdata/telegraf/issues/562, this will be fixed in 0.10.1

[2016-01-26 17:13] #587 closed

[2016-01-26 17:48] #584 closed

[2016-01-26 18:01] zstyblik commented on #574
@sparrc What @mark-rushakoff has suggested is to open ticket with influxdb and a work-around. Work-around which I didn't agree with. You've added to that:

... which stated the obvious.
I don't see any (obvious) suggestion there is internal support of `units` in InfluxDB that you're referencing to.

@sparrc please, can you show where I was sarcastic or rude? btw  what you're suggesting goes both w

[2016-01-26 18:58] sparrc commented on #583
thanks @tripledes, looking forward to the PR :+1:

[2016-01-26 20:43] jchauncey commented on #569
@sparrc is there a way to decorate data that has been generated in another plugin?

I'm trying to decide if polluting the docker plugin with k8s is the right way to go or not.

[2016-01-26 20:47] sparrc commented on #569
I think making a separate kubernetes plugin would be better.

It's okay if there is some duplicated docker code. Or you could also break out the docker metric collection into a separate package and put it in `internal/`.

[2016-01-26 20:55] beckettsean commented on #574
@zstyblik

Be careful what you wish for:

Not sarcastic but pretty flippant:

So I would agree that your tone has not been constructive, and I thank @mark-rushakoff and @sparrc for keeping it cool through your continued attempts to get a rise out of them.

@mark-rushakoff and @sparrc are knowledgeable enough to say that this is best fixed by an alteration to InfluxDB, not to Telegraf. You may cont

[2016-01-26 21:22] zstyblik commented on #574
@beckettsean thank you for twisting and taking things out of context. This kind of puts nice end to it all.

Then I'd expect such knowledgeable people to open such issue since they have knowledge to write up exactly what's necessary to move things in right direction and at the right place. Obviously, I don't.

I'm glad this is allowed. I got the feeling that such thing, different opinion, isn't we

[2016-01-26 21:32] sparrc commented on #574
https://en.wikipedia.org/wiki/Wikipedia:You_can%27t_squeeze_blood_from_a_turnip

[2016-01-26 21:39] #513 closed

[2016-01-27 04:52] djMax opened #590 "Should the 64 bit binaries work on Alpine?"
I can't even unzip/untar the distro...

[code]

[2016-01-27 05:48] mark-rushakoff commented on #590
Dupe of https://github.com/influxdata/telegraf/issues/562 / fixed by https://github.com/influxdata/telegraf/pull/578 / fix will be included in 0.10.1.

[2016-01-27 05:48] #590 closed

[2016-01-27 10:31] aodj commented on #586
I'm not sure exactly. I initially thought that you could send a `process_alive` measurement, which changes to false when the `/proc` endpoint returns file not existing, but then you're sending an extra value with each metric push. It could be an opt in setting like an `include_heart_beat` option in the input, but I was basically looking for some way to determine when a process has died, without ha

[2016-01-27 12:33] cheffo opened #591 "running on FreeBSD issues"
Hi,

I'm trying to create a port of Telegraf for FreeBSD ports system, but the are two issues - first is mongodb input:

[code]

And second problem is with diskio input - it does not read properly disk names (in linux we have sda, sdb in FreeBSD naming convention is different).

Exact error is:
[code]

Snippet from my config file:

[code]

[2016-01-27 16:30] sparrc commented on #591
@cheffo How are you getting dependencies, are you using https://github.com/sparrc/gdm? If you use that there shouldn't be any import of mgo.v2-unstable.

I'm not sure about the diskio error, looks like it's coming from `gopsutil`. What is your exact OS and architecture? And do you get any errors if you comment out the `Devices` line?

[2016-01-27 16:43] steverweber opened #592 "doc: configuration for tags"
please give an example of a "normal map"
[code]

also `CONFIGURATION.md` seems to be missing docs for `[tag]`

[2016-01-27 17:23] sparrc commented on #592
That is a bit vague, I'm actually not sure what that means either :sweat_smile:.

I'll rewrite that bit and put a section in the config readme. For now just know that you can simply specify tags there as key="value" pairs,

[code]

make sense?

[2016-01-27 17:34] steverweber commented on #592
yes

Still a little interested what the normal map might look like...

best not to support two formats, so im happy with your edit.

[2016-01-27 17:43] sparrc commented on #592
I think he probably meant like this: https://github.com/toml-lang/toml#inline-table

so we support that too since it's valid toml, but you can only use one or the other.

[2016-01-27 17:46] steverweber commented on #592
ah ic thanks.

`tags = { first = "Tom", last = "Preston-Werner" }`

[2016-01-27 17:46] #592 closed

[2016-01-27 20:39] AlexAkulov opened #595 "Graphite output send different metrics the same names"
I try telegraf on Windows and use grapite as an output plugin.
I can see how telegraf is sending metrics about 2 disks (C: and D:)
[code]
But finally 2 metrics with the same name come to graphite
[code]

[2016-01-27 21:07] jchauncey commented on #569
@sparrc is there a reason you used `cont_` as the prefix and not `container_`?

[2016-01-27 21:16] sparrc commented on #569
@jchauncey not particularly.......I'm not opposed to changing it to `container_`

[2016-01-27 21:34] jchauncey commented on #569
k ill probably make that change as part of my refactor to support the k8s plugin.

[2016-01-28 03:47] seanlook opened #598 "All plugins should have timeout and retry options"
I see some telegraf plugins have implemented their own check timeout options.  I think all telelgraf agent should have `timeout` and `retries` options. I do not find any docs about that here.

This is what I encountered:
I use telegraf to gather MySQL metrics ( running in another machine). Because of network traffic problem, my telegraf monitor machine can't connect to 3306 . So I saw telegraf stu

[2016-01-28 06:01] sparrc commented on #598
dupe of #457

[2016-01-28 06:01] #598 closed

[2016-01-28 06:20] wryun opened #599 "Datadog plugin tags not working"
https://github.com/influxdata/telegraf/commit/ec39d106951a7af09591b4a9f8abaa599e2666d5#diff-1be6997ca515c6fc8b54466206d89067

Seems to have removed tags support for datadog accidentally. Looks like an easy fix, but I don't want to set up a build environment to test :)

Also, when I push things through statsd I'm getting 'value' added to the end (e.g. push page.views, get page.viewsvalue). Not sure

[2016-01-28 06:45] sparrc commented on #599
@wryun can you open a separate case about the statsd plugin, and include your config and version?

[2016-01-28 06:59] #564 closed

[2016-01-28 06:59] #599 closed

[2016-01-28 08:26] wryun commented on #599
Thanks for fast response! That commit changed omitempty to omitemmy... (search/replace).

[2016-01-28 09:08] wryun opened #600 "Getting fieldName appended to end of metrics in datadog"
This commit:

https://github.com/influxdata/telegraf/commit/ec39d106951a7af09591b4a9f8abaa599e2666d5#diff-1be6997ca515c6fc8b54466206d89067

Adds fieldname to the end of the metric name without an intervening period. i.e. if you have a metric like 'x.y.z', you end up with 'x.y.zvalue' (which looks a bit ugly).

Does it need to be there?

[2016-01-28 09:29] abra7134 opened #601 "Warning if buffer overflow"
Hello,
In the latest version added support of the buffer for output plugins. It is good idea, however the code doesn't warn about cases of overflow of the buffer or when the size is chosen very small and all data aren't located there. For production use it is very important to know when metrics are lost.

[2016-01-28 10:18] cheffo commented on #591
@sparrc I'm fetching the dependencies using the FreeBSD ports system framework to fetch dependencies. It's similar of fetching them manually then puting them all in the "src" folder.

Looks like I got the wrong revision numbers for mgo.v2 and reverting to the proper branch it's building as expected. (I do fetch it from here - https://github.com/go-mgo/mgo/tree/v2) as there is no support for gopkg.

[2016-01-28 10:29] cheffo commented on #591
@sparrc here is the port itself - https://github.com/cheffo/FreeBSD-Ports/tree/master/net-mgmt/telegraf

[2016-01-28 13:06] lassizci opened #602 "statsd input and field name"
I've been trying to template my metrics so that I could have multiple fields with my measurement. According to https://github.com/influxdata/influxdb/tree/master/services/graphite#templates (which is linked from statsd readme page).

it should be possible to make a template like:

[code]

so this:
[code]

would turn in to:
[code]

However, there's only field called "value" and no tag field. So at

[2016-01-28 13:40] tstm commented on #602
+1

[2016-01-28 18:09] #595 closed

[2016-01-28 19:09] #600 closed

[2016-01-28 19:34] jchauncey opened #605 "Question: glide vs godeps"
Have you guys thought about using Glide instead of godeps?

[2016-01-28 19:55] sparrc commented on #605
I wanted something more simple, why?

[2016-01-28 19:56] jchauncey commented on #605
hand editing the godeps file with merge conflicts is awful. Unless I'm doing it wrong.

[2016-01-28 19:58] sparrc commented on #605
how would that be any different with Glide? isn't there still a dependency file?

[2016-01-28 20:09] jchauncey commented on #605
The problem I just had was that I added new deps to the file and then rebased against master which added more dependencies and changed the shas on others. I'm not sure glide would actually fix this now that I think about it. We use it internally for our go projects (since one of our devs wrote it) and it works well but I haven't had a large merge conflict like this before. Anyways I'll close the i

[2016-01-28 20:09] #605 closed

[2016-01-28 20:14] sparrc commented on #605
I guess I'm not sure either because I haven't used Glide, but you shouldn't need to edit the file manually, you can use https://github.com/sparrc/gdm to manage it (or https://github.com/robfig/glock, but change the file name)

[2016-01-28 20:17] jchauncey commented on #605
The one thing it would do is allow you to install the deps into a vendor directory that is managed by glide. This means when we run `glide install` we aren't munging with stuff in the gopath.

[2016-01-28 21:00] #601 closed

[2016-01-28 21:04] jchauncey commented on #569
@sparrc can you do token replacements in the toml file? For example if I do:

[code]

will it do the right thing?

[2016-01-28 21:16] sparrc commented on #569
I don't think that's part of the toml spec, so probably not

[2016-01-28 22:24] wryun opened #607 "Json field in datadog mis-generated"
Bad search replace in:

https://github.com/influxdata/telegraf/commit/c549ab907ab567a3a1cfb10039d5fa32d2e16100

Caused 'points' to be renamed to 'metrics', and 'omitemmy' to be specified on the json field. See comments on commit.

[2016-01-28 23:13] sparrc commented on #607
thanks for keeping me honest @wryun, wish there was a better way for me to test this output plugin

[2016-01-28 23:16] #607 closed

[2016-01-28 23:17] deanefrati commented on #191
@sparrc any update on this? We would really like to use telegraf but our use case requires data transfer over public wire which requires authenticating with influx and TLS.

[2016-01-28 23:34] sparrc commented on #191
I'll try to get to this next week. It will require a change to the influxdb client as well

[2016-01-28 23:37] deanefrati commented on #191
thanks @sparrc please let me know if there is anything i can do to help

[2016-01-28 23:42] sparrc commented on #602
thanks for pointing this out :+1:, I have a PR up to fix this.

I'm not exactly sure how this would look for timings though, and I'm thinking of simply not supporting fields for timings. This is because (as of 0.10.2) timings will have their actual metrics that are sent in their own fields.

ie, my_timing_metric will be the measurement, with mean,stddev,90_percentile, etc. as fields

[2016-01-29 00:27] sparrc commented on #396
closing, feel free to open if you have more info

[2016-01-29 00:27] #396 closed

[2016-01-29 00:35] wryun commented on #607
Could add some testing ;) (thinking about a PR, I promise)

[2016-01-29 02:18] #602 closed

[2016-01-29 02:29] sparrc commented on #586
opting-in to that seems fine

[2016-01-29 09:36] jjungnickel opened #612 "Telegraf 0.10.1 on CoreOS crashes after a few minutes"
Telegraf 0.10.1 is running in a docker container that has /var/run/docker.sock mounted.

[code]

[2016-01-29 09:38] jjungnickel commented on #612
Configuration:

`# Telegraf configuration

# Telegraf is entirely plugin driven. All metrics are gathered from the
# declared inputs.

# Even if a plugin has no configuration, it must be declared in here
# to be active. Declaring a plugin means just specifying the name
# as a section with no variables. To deactivate a plugin, comment
# out the name and any variables.

# Use 'telegraf -config teleg

[2016-01-29 14:11] cwegener commented on #30
@TheFlyingCorpse - That sounds great! I'm a lousy programmer myself. :wink: But I'm more than happy to code review and of course to deploy any telegraf code to some spare machines I have running around. :smile:

[2016-01-29 14:45] wgrcunha opened #613 "External plugin interface"
Is there any way to implement external plugin?  Now we can use the exec but is very limited, i want to report fields and tags from the custom plugin.

Maybe implement something like Kapacitor custom functions: https://influxdata.com/blog/announcing-kapacitor-v0-10-udfs/

[2016-01-29 17:13] sparrc commented on #612
thanks for the report @jjungnickel, I can see the problem here, I'll have a fix in 0.10.2

[2016-01-29 17:17] sparrc commented on #613
@wgrcunha What if exec could read line-protocol metrics? https://docs.influxdata.com/influxdb/v0.9/write_protocols/line/

I've been wanting to support this anyways, and it shouldn't be difficult

[2016-01-29 17:35] wgrcunha commented on #613
@sparrc Perfect :)

[2016-01-29 17:38] sparrc commented on #591
@cheffo I can't quite reproduce this, I'm running a FreeBSD 10.1 VM and it collects diskio just fine:

[code]

can you provide some guidance on how I can install the port directly to reproduce? I'm not very familiar with the FreeBSD ports system

[2016-01-29 17:52] #612 closed

[2016-01-29 20:45] hryamzik opened #618 "Strait forward way to get the latest release"
Can we get any simple way to get the latest stable release (and betas too)? If it already exists please let me know. =)

The common way on github is to put files in releases but these two links are useless:
https://api.github.com/repos/influxdata/telegraf/releases
https://api.github.com/repos/influxdata/telegraf/release/latest

[Tags](https://api.github.com/repos/influxdata/telegraf/tags) have som

[2016-01-29 20:48] TheFlyingCorpse commented on #30
@cwegener - Get the latest from git if possible, the pull request was accepted. Performance Counters wooo !

[2016-01-29 21:02] sparrc commented on #618
@hryamzik In general we just use Amazon S3 to store our releases, I haven't done any investigation into using github for it but it would require us to modify the build process across the InfluxData products. Could you explain why the s3 links (get.influxdb.org) don't work for you?

cc @rossmcdonald

[2016-01-29 21:18] hryamzik commented on #618
@sparrc they do work but how can I get the latest one? Is there any listing available?

To be clear: we use ansible for deployments and our roles are used to install the latest software. So I like to put some version and url defining logic inside.

[2016-01-29 21:30] sparrc commented on #618
so you are looking for something like: http://get.influxdb.org/telegraf/telegraf_latest_amd64.deb that always has the latest version?

[2016-01-29 21:32] rossmcdonald commented on #618
@hryamzik The best way to get the latest stable releases would be to use the [InfluxData repository](https://docs.influxdata.com/influxdb/v0.9/introduction/installation/#installation). You would just run `apt-get install telegraf`/`yum install telegraf` instead of `influxdb`.

I actually have a Telegraf Ansible role [here](https://github.com/rossmcdonald/telegraf) that you can use for reference.

[2016-01-29 21:37] hryamzik commented on #618
@rossmcdonald yep, repository is a perfect solution, thank you! I didn't find any information about it in readme.

[2016-01-29 21:39] sparrc commented on #618
I'll put a link to the install doc on the README

[2016-01-30 01:45] cwegener commented on #30
@TheFlyingCorpse Excellent work. I will build a package and run it on a few systems.
I just read through the commit 15ec51a179141094b4f8b39d1d4079169cc354bb
One important comment should be added to the plugins/inputs/win_perf_counters/README.md.
Only the Windows versions of Vista/2008 and higher will work with this plugin (Due to the use of the following Win32 Performance Counter function)
[code]

[2016-01-30 03:27] cwegener commented on #30
@TheFlyingCorpse Package is built and working. Deploying to some machines now.
Found one issue: -sample output is broken for all the counters in your sample string that have a percentage sign in the counter name. I'll have a dig around and see why that is.

[2016-01-30 03:53] cwegener commented on #30
@TheFlyingCorpse Also, the following counters are not being printed to stdout during telegraf -test:
-  Counters that have one of the following characters in their name: % (percentage sign) / (slash) . (period)

This only affects the -test
All counters are correctly gathered and sent to the output plugin (influxdb in my case).

[2016-01-30 06:55] cwegener commented on #30
-sample-config output bug is fixed in pull request #620

[2016-01-30 07:15] discoduck2x commented on #30
@cwegener if u gather a fair amount of counters every second how does that affect the system? What is the telegraf process cpu usage?

[2016-01-30 07:59] discoduck2x commented on #30
@cwegener @TheFlyingCorpse ,"all" other attempts ive tested, collectm, collectw, perftap,powershell functions etc they all induce a fair amount of cpu usage themselfs which is bad. im currently just parsing typeperf files and shipping their contents to influx from another system. if telegraf gets down to a resource footprint similar to running typeperf on each "monitored" host then this will be th

[2016-01-30 08:38] cwegener commented on #30
@discoduck2x I will collect and graph the CPU usage of telegraf.exe and report back. How many counters do you consider to be a 'fair amount'?
My polling interval is currently at 10 seconds (since all my other influxdb databases are at 10 seconds). I can run some tests at 1 second.

[2016-01-30 08:53] discoduck2x commented on #30
@cwegener  Id say 50-100 , not all would need per second interval but cpu , nic, process etc would need frequent interval. Possibility to set interval per counter group?

[2016-01-30 09:00] cwegener commented on #30
@discoduck2x I have now added the collection of "% Processor Time" for all instances of "Process" to my test setup. This now gives me ~150 counters. I will leave it running for a bit and see how the median and average % Processor time of telegraf.exe looks ... For now, I have not been able to make telegraf.exe go beyond 0.2% Processor utilization (I'm still at 10 second interval though ...)

[2016-01-30 09:13] cwegener commented on #30
@discoduck2x I have dropped my telegraf test database and I am now running a 1 second interval for all telegraf counters. I am still collecting ~150 counters on the test machine. The "% Processor Time" mean value for 'telegraf.exe' still sits below 0.2 percent.
I will leave it running like that for a while and post a screenshot once I have 12 hours worth of data in the database.

[2016-01-30 09:35] cwegener commented on #30
I can see a bit of Processor utilization by telegraf.exe now, but it is still considerably low (Over a 5 minute window. avg: 0.3%, max 5%)
![screenshot 2016-01-30 at 8 33 13 pm](https://cloud.githubusercontent.com/assets/2950544/12694920/b837a440-c790-11e5-9534-fcd16238aeaf.png)

[2016-01-30 11:20] elvarb commented on #30
Very promising everyone, in my experience when using graphite powershell and Windows counters is that some counters take more power than others so having the ability to group counters by polling intervals would be a very useful addition.

One counter that I remember being heavy is disk utilization, free space. Would be interesting to see a test of one of those with 1 sec interval. This is also one

[2016-01-30 11:28] TheFlyingCorpse commented on #30
Happy to hear that @cwegener , my intention was to gather with a very low footprint.

The plugin iterates over the configuration on startup to find the valid queries, then saves these with a handle to the search, so it can just query for the next value every interval, instead of creating a new query, waiting for the results (1s+ needed on the first sample), cleanup, wait for interval and do the pr

[2016-01-30 14:33] discoduck2x commented on #30
@TheFlyingCorpse @cwegener , how do i test this ? is there a compiled bin somewhere or do i have to dl src from github?

One Q , can you do wildcards on the counters? such as "\process(*sql*)\% Processor Time" would give you all processes with sql in their processname.

[2016-01-30 18:26] #613 closed

[2016-01-30 18:36] #618 closed

[2016-01-30 18:37] hryamzik commented on #618
@sparrc can you also point to an ansible role, please?

[2016-01-30 20:11] TheFlyingCorpse commented on #30
@discoduck2x - I can provide a compiled version if you'd like to. It is not too hard to build your own, maybe 10-15 mins tops. Install git with git in path, install make to path as well as go. Then just set gopath=C:\temp\work, go get github.com/influxdata/telegraf, cd %gopath%\src\influxdata\telegraf, make windows
Inside of the folder should now (as of the current git version) be a telegraf.exe t

[2016-01-30 22:11] cwegener commented on #30
@discoduck2x Regarding wildcards for instance names - I would probably prefer to simply collect all instances with the win_perf_counters plugin and do the filtering at a later stage due to the complexities involved when working with instance names. Though I clearly agree with your use case.
However, the only benefit I can see right now from filtering down the number of instances being collected wo

[2016-01-31 09:06] cwegener opened #624 "Regression - Increased CPU usage of telegraf"
@sparrc After commits 38c4111e6cb2a045d17e4333377b0d56812d3a9c and b97027ac9a87a7c4db5d7341b5c8554aa2a47e93, the CPU utilization of telegraf.exe on Windows has gone up significantly. On my test rig, before this commit CPU utilization of telegraf.exe was at ~0.3% avg. After this commit, CPU utilization went up to ~1.6% avg

The attached screenshot shows the comparison when running telegraf.exe with

[2016-01-31 15:36] discoduck2x commented on #30
@cwegener & @TheFlyingCorpse ,,,first, great discussing thist with you!  i dont think it makes sense to collect all instances,, you will end up with too many and by that making a too big footprint cpu wise for the collection process. Sure, there might be ppl wanting to collect ALL running processes cpu mem io usage etc and all processes that will ever start going forward after start of the telegra

[2016-01-31 15:49] TheFlyingCorpse commented on #30
@discoduck2x, I might have a solution for wildcards in the instance name.

On Pre Vista compability, I might also have a solution here.

In the Pull Requests for Telegraf there is now also support for collecting a specific object every X iteration of the telegraf interval.

[2016-01-31 16:32] TheFlyingCorpse commented on #30
Pre Vista compability "added" in my local for now, testing a bit more, it will use the pre-vista method of adding perfcounters, this will require users to use the localized counters instead of the english ones that work across installed languages.

[2016-01-31 16:41] sparrc commented on #624
I don't understand how these changes could have affected CPU usage, are you sure there isn't another source of the cpu usage on your system?

What is your config? Because that commit only affects the `exec` plugin. And if you're using JSON as the format it shouldn't have any affect at all

[2016-01-31 18:51] TheFlyingCorpse commented on #30
Vista pushed to local, awaiting merge of my two other PR's before that is pushed.
On the wildcard, match, the API doesnt seem to support it.

Depending on how many processes there is you want data for, if for example Chrome you can do Instances=["chrome","chrome#1","chrome#2","chrome#3","chrome#4"]
I can with ease add in a function so you can select Counters to handle also as tags, so you can foll

[2016-01-31 19:26] cwegener commented on #624
I agree. It's definitely a bit strange. Not sure if it is something with my build environment. conf file is attached. I'm running telegraf.exe -config telegraf.conf
(No input or output filters)
Maybe you can try a repro.

[telegraf_conf.txt](https://github.com/influxdata/telegraf/files/111471/telegraf_conf.txt)

[2016-01-31 20:00] cwegener commented on #624
I did another test: I built the exact same branch (with the 2 commits reverted) twice in a row. The first build works fine (no elevated CPU usage). The second build has the problem again.
Very weird.

[2016-01-31 21:56] tripledes commented on #583
Hi, I've got a POC for the plugin, currently it's able to query a mesos master which is not that different from what `httpjson` can do, although I've added a possibility to remove sets of metrics.

I would like to have opinions regarding both the code and the functionality, what would be better to remove based on sets or allow the user to remove hand picked metrics by name? The former feels more p

[2016-02-01 02:22] cwegener commented on #624
This is pretty strange. Here's the result of another test:
1. check out master in influxdata/telegraf
2. build telegraf.exe 3 consecutive times
== first result: all three builds show the same high CPU usage for telegraf.exe process (number 0 in below screenshot)
3. in inflxudata/telegraf, create a new branch locally (i called it cpu-issue-2)
4. revert commit 38c4111e6cb2a045d17e4333377b0d56812d3a9

[2016-02-01 02:28] cwegener commented on #624
@TheFlyingCorpse *ping*. Since you have a Windows build environment too, I was wondering if you can see a similar issue.

[2016-02-01 04:30] cwegener commented on #624
Problem solved by deleting all content in the telegraf GOPATH and then cloning master from github.com

Seems that go build doesn't compile consistent binaries when working with multiple branches of telegraf ...

[2016-02-01 04:30] #624 closed

[2016-02-01 06:18] asdfsx commented on #583
@tripledes excellent work!!! And Are you trying to collect whole mesos cluster's metrics using one telegraph?

[2016-02-01 06:26] sparrc commented on #583
@tripledes yes to the using goroutines, you can see the ping plugin as an example of how to structure that: https://github.com/zooplus/telegraf/blob/mesos/plugins/inputs/ping/ping.go

For the "blacklist", I would suggest reversing that to "collect_metrics", and have it default to a list of _all_ the categories that can be collected. That way users can just comment out the ones they don't care abou

[2016-02-01 08:17] discoduck2x commented on #30
@TheFlyingCorpse then the api seems flawed? as the native way of collecting counters do support wildcards in instance names? is there no way round this?
I will not be able to go for this unless i can have a generic conf file which specifies all our proprietary service/process names (or parts of their names that is) with wildcards to push out to +200 physical boxes :( ,, will have to keep parsing t

[2016-02-01 08:39] tripledes commented on #583
Hi,

thanks for the comments much appreciated.

@asdfsx what would be your use case? I mean I think I can do discovery through the Master's API, but not sure whether everything can be discovered or whether that's would be the desired behaviour, IIRC the `elasticsearch` plugin does something similar.

On the other hand, I imagine Mesos slave might be something ephemeral for some people so I was won

[2016-02-01 13:25] cwegener commented on #30
@discoduck2x typeperf.exe is a cli tool that talks to the api. Implementation details of typeperf.exe are not easily accessible without a source code license from Microsoft. But if you have a look at @TheFlyingCorpse's implementation you will see that you can change the code yourself very easily to perform the discovery/validation of the pdh query on every call to gather.

My guess is that perform

[2016-02-01 13:27] cwegener commented on #30
On another note, I am working on the code to be able to run telegraf as a windows service. I have a functional PoC running. Depending on how much time I can spend on telegraf development this week, I might have pull request ready in the next week or so.

[2016-02-01 13:53] cheffo commented on #591
@sparrc All you need is to have a FreeBSD with ports installed in it (normaly in /usr/ports/)

Then just download my port, copy the folder in /usr/ports/net-mgmt/telegraf, cd there and run "make install clean" - this will download, build and install telegraf on your VM.

[2016-02-01 14:04] cheffo commented on #591
@sparrc I'm using 0.10.0 release - I just saw that 0.10.1 is available and will update and report.

[2016-02-01 15:44] sparrc commented on #30
@cwegener how are you implementing that? what is currently blocking it running as a service? I was planning on using something like https://nssm.cc/ to wrap the binary

[2016-02-01 16:44] vat9 commented on #591
A few of the inputs will likely need to be modified to support FreeBSD as gopsutil doesn't support everything on BSD yet.  In particular the netstat and zfs inputs won't provide information.  Netstat may eventually be included in gopsutil, but I'm not sure if it's important to that project.  As for zfs, it will need a zfs_freebsd.go implementation that wraps sysctl to produce the same data as the

[2016-02-01 19:45] dswarbrick commented on #174
Bear in mind that if src/dest address and src/dest port are to be stored as tags (which would be useful, to allow e.g. `GROUP BY dest_port`, the cardinality of this data will be very high. A colleague of mine recently managed to bring InfluxDB to its knees by inserting such data.

Even just the (worst case) src/dest port combinations alone add up to around 2.1 billion (65536 * 65537 / 2). Now thro

[2016-02-01 20:56] discoduck2x commented on #30
@cwegener ,, oh i see, sorry if i sounded abit naive, i admit i did :)
im ops end user here pretty much, no dev skills

[2016-02-01 21:35] cwegener commented on #30
@sparrc I've used github.com/chai2010/winsvc which is a tiny helper to make using x/sys/windows/svc easier. The first PoC is in my fork on github.com. I only have 2 items left before it's fully usable:
- Support using -config parameter when running -service-install
- Figure out how to hand the shutdown signal to Agent when the service is stopping.