[2022-10-28 11:24] cschra opened #12123 "env variables get only loaded when starting telegraf with systemd"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.24.2, CentOS 7, installed via rpm

### Docker

_No response_

### Steps to reproduce

1. systemctl start telegraf -> no errors
2. telegraf -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d --debug -> above error appears

### Expected behavior

env variables should be loaded

[2022-10-28 13:19] powersj commented on #12114
Can you also please attach what Telegraf produces with the `[[outputs.file]]`?

[2022-10-28 13:29] cschra commented on #12123
Hey @powersj,
thanks for the fast response and clearing this up - I have to agree that the docs are a bit misleading on this.
I mainly use it for testing and to start in test and debug mode. I thought about creating a PR, but I guess I will just enhance my start command.

[2022-10-28 13:48] powersj commented on #12121
Hi,

I just put up #12124 with a possible fix. In 20-30mins there should be build artifacts attached to that PR. While I know you were using docker-compose to do this, would you be able to try this out to verify it is working across filesystems?

Thanks!

[2022-10-28 14:50] dirk-ecker commented on #12121
Thank you for your fix, yes it worked.
I simply have started the container and replaced the telegraf application with you PR and then restart it again.

The only thing I have left for me is to fix the permission denied I solved with a chmod a+w, but I think that is a docker topic to investigate. Do you know how to fix this with docker setting a user or something like that.

Thanks again for solvin

[2022-10-28 16:05] powersj commented on #12121
Thank you very much for trying this out!

re: permissions - might be a UID/GUID issue as well.

I'll need a review of the PR from a team member and then we can get these into nighties. It may or may not make next week's point release.

[2022-10-28 16:48] dirk-ecker commented on #12121
Hey cool, and also thank you for your tip.

I close the ticket.

[2022-10-28 17:20] powersj commented on #12121
No problem! I am going to re-open this until we land the fix :)

[2022-10-28 20:34] prydin commented on #11168
Not sure why this go auto cloused. @powersj I think I might have found a workaround. @powersj have you tried adding `metric_lookback = 0` to your config file? This seems to solve the problem. Make sure you're not seeing any gaps in the data.

[2022-10-28 20:50] powersj commented on #11168
@yogeshprasad can you try the above suggestion?

[2022-10-28 21:49] lfarkas commented on #12091
Hi,
also follow the logic of the issue, it'd be very useful if i can add different tag for different field in stead of put them into different measurement. eg in the above example it'd much better to something like this:
[code]
should i've to write a feature request for that?

[2022-10-28 23:43] pgeler commented on #12010
@powersj looks good to me

[2022-10-29 14:33] SokoFromNZ commented on #12091
Yeah... I was also disappointed not to be able to set a tag per field. This is why I did it like this.
Your example is not kinda correct though. It should look something like this as tags is a key/value array, not a single value.

[code]
In theory you could do this already. But I'm not quite sure if telegraf does here separate calls are the same as above:
[code]

[2022-10-29 21:14] inselbuch opened #12125 "Docker image for telegraf 1.25"
### Use Case

would like to use new plugin that requires version 1.25

### Expected behavior

published on dockerhub.com telegraf version 1.25

### Actual behavior

not published

### Additional info

please

[2022-10-29 23:02] powersj commented on #12125
Hi,

The next minor release, 1.25 is scheduled for December. For now you can use the [nightly docker image](https://github.com/influxdata/telegraf/blob/master/docs/NIGHTLIES.md) if you want to try new plugins.

[2022-10-29 23:02] #12125 closed

[2022-10-31 00:04] philomory commented on #10568
@powersj Is there any way to make this work on Kubernetes?

[2022-10-31 13:15] #6804 closed

[2022-10-31 13:23] srebhan commented on #11536
@SpiderD555 sorry to hear. I changed the issue title in the hope that someone more familiar with Cirtix can take over this feature request...

[2022-10-31 13:41] Skr3ms opened #12128 "OPC UA Alarms & Conditions"
### Please direct all support questsions to slack or the forums. Thank you.

Hello Community,

im new with InfluxDB and Telegraf, i try so subscripe to an OPC UA Alarms & Conditions Eevent. I know the correct Node ID but dont know how to configure the Config File in that way that i can receive the event data. And i dont want to subscripe only with the BaseEventType, i need additional Tags from the

[2022-10-31 14:35] thias opened #12129 "inputs.consul: Connections to consul reach maximum allowed"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

telegraf-1.24.2-1.x86_64 rpm on RHEL 7 & 8

### Docker

_No response_

### Steps to reproduce

1. `lsof -nP | grep 127.0.0.1:8500 | cut -d ' ' -f 1 | sort | uniq -c`
2. ``kill -HUP `/sbin/pidof /usr/bin/telegraf` ``

Repeat the above over an over.

### Expected behavior

The initial values should stay stable, like

[2022-10-31 15:26] powersj commented on #12129
Out of curiosity, why are you using SIGHUP over say a service restart?

When Telegraf gets a SIGHUP it will attempt to stop service inputs and running outputs. The `console` plugin is not a service input, so there is not attempt at any clean up. Restarting helps since it is an entirely new process. I also don't see a [close method](https://github.com/hashicorp/consul/blob/main/api/api.go) in their

[2022-10-31 16:28] #7772 closed

[2022-10-31 16:34] srebhan commented on #12006
Me neither. ;-) However, I feel confident to *review* a PR. :-)

[2022-10-31 16:48] powersj commented on #12129
Please do. I would like to see how upstream responds to this and if there is something we should be doing different.

[2022-10-31 18:47] powersj commented on #2564
Hi,

A lot has changed since this was originally filed. A number of new processors like the starlark processor are now around and are able to do increasingly complex operations on logs. Additionally, the regex and enum example above is another option.

Adding additional log parsing logic for now does not seem like something to add unless we see a huge amount of desire for something specific that w

[2022-10-31 18:47] #2564 closed

[2022-10-31 18:54] reimda commented on #7520
Came across this while looking through inactive issues.

@gnjack is this still a problem for you? Are you able to submit a PR to make the change you and Daniel discussed?

[2022-10-31 18:58] powersj commented on #3348
Hi,

It looks like the multifile plugin was merged in #5256. It looks like something that would be useful in this case. If it is, could you loop back and let us know?

Thanks!

[2022-10-31 20:07] vsinha commented on #12006
@srebhan i have an open PR here that you could review! https://github.com/influxdata/telegraf/pull/12101

[2022-10-31 22:04] brightonli commented on #12114
The output of the `[[outputs.file]]` is the telegraf-output.json in the attached zip folder above.

[2022-11-01 10:55] MyaLongmire commented on #12115
@thomas725 a new bug would be great. Thanks for following up :)

[2022-11-01 11:13] ashkii7 commented on #12011
@Hipska
Hello,
I come back to you to get news about my problem

[2022-11-01 11:17] srebhan commented on #12122
@akoscsiszar maybe I don't get the question, but using `ABCD`, `DCBA` or even just `AB`, `BA` should do. Do you get a warning or error or anything?

[2022-11-01 12:20] akoscsiszar commented on #12122
I did not try earlier, I just figured it would not work as the ABCD describes just 4 bytes, not 8 as needed for a 64 bit integer. Now I tried and indeed I get an error message
[code]

the corresponding config is

[code]

[2022-11-01 12:32] akoscsiszar commented on #12122
It seems that the conversion would work fine in the code, even if only 4 letters are specifie, but, before the code gets there:
[code]

triggers the error, since the byteOrder length and twice the address length does not match

[2022-11-01 12:32] Skr3ms opened #12136 "Error parsing opcua_listener"
### Please direct all support questsions to slack or the forums. Thank you.

Hey together,

i want to use the plugin but when i try to start telegraf i got this error message.
`error running agent: Error loading config file telegraf_opc.conf: error parsing opcua_listener, Undefined but requested input: opcua_listener`
Does anybody know how to implement opcua_listener correctly?

Best greetings
Ale

[2022-11-01 12:40] powersj commented on #12114
Ah I was expecting line protocol, so when I saw JSON I wasn't sure what this was from

[2022-11-01 12:41] #12010 closed

[2022-11-01 12:42] #12121 closed

[2022-11-01 12:52] richursa opened #12137 "inputs.gnmi doesnt support double_val for gnmi v0.8.0"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.24.0

### Docker

_No response_

### Steps to reproduce

1. Let telegraf do a gnmi subscription on Routers that support double_val eg Cisco IOS XE 17.10
2. Observe logs to see error `docker logs -f  telegraf`
...

### Expected behavior

double_val should be correctly parsed by telegraf.

### Actual beha

[2022-11-01 13:56] powersj commented on #12114
In 20-30mins there will be a build uploaded to #12139. That will have some additional debug output. Can you please get me the full logs from it?

[2022-11-01 15:11] lfarkas opened #12141 "inputs.modbus assign tags as a key/value array to each fields"
### Use Case

As described in this issue #12091 it'd be useful for many users if in the modbus input plugin we can assign tags for each fields. just to copy the example from that issue:
[code]

### Expected behavior

in that case we can separately tag all fields in stead of put the into different measurement (since currently we can put them into different measurement but can't add different tags.)

[2022-11-01 15:57] LarsStegman commented on #8083
`[[inputs.opcua_listener.nodes]]
     name = "my_field_name"
     namespace = "x"  # you really need to known this
     identifier_type = "i"
     identifier = "2041"`

should do it

[2022-11-01 16:06] inselbuch commented on #8083
I had quite some difficulty in configured the CONF file for the input plugin.

Don't know if this is helpful, but here is an example that is working for me.

Note that idenitifier_type is not the same as data_type. That just indicates what to expect in the identifier=""

Regards,

Frank

[[inputs.opcua_listener]]

  name = "opc141"
  endpoint = "opc.tcp://10.10.0.141:53530/OPCUA/SimulationServer"

[2022-11-01 16:52] DasCapschen commented on #12071
Creating an individual `[[inputs.modbus.request]]` for each field seems to have worked, thank you.

[2022-11-01 17:51] sspaink commented on #8697
@mirkocomparetti-synesis are you still interested in this?

[2022-11-01 18:04] reimda commented on #12137
Hi @richursa thanks for the issue and the PR to fix it. I see it's marked draft. Whenever you're ready for review, mark it as a normal PR and we'll take a look.

[2022-11-01 18:09] #9543 closed

[2022-11-01 18:09] #8236 closed

[2022-11-01 18:09] #8024 closed

[2022-11-01 18:09] #7805 closed

[2022-11-01 18:19] reimda commented on #12141
Hi @lfarkas, as a workaround since the modbus plugin doesn't have a way to add tags per modbus field, you could use a processor to add the tags afterward. The starlark processor lets you write a script to do specific tasks. You can use it to check the address and add a tag.

There's an example script that does a similar job. It checks the value of a field and clears fields: https://github.com/infl

[2022-11-01 19:47] lfarkas commented on #12141
unfortunately it's not possible in this case. as you can see different memory address represent different  values. just think about the above case is the 3 phase electricity measurement. for each phase you'd like to add a tag, but if you don't distinguish at read time later you can't add that tag. and another problems is that we can't read all this value in different round. so we can have to add i

[2022-11-01 20:01] powersj opened #12143 "test(outputs.stackdriver): flaky tests"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

master

### Docker

n/a

### Steps to reproduce

Run tests on CircleCI

### Expected behavior

Test pass

### Actual behavior

Test fail

### Additional info

In `TestCounterCacheDayRollover` there are two times that are compared:

* `startTime` = `1667418334`: Wed Nov 02 2022 19:45:34 GMT+0000
* `now.Unix` = `166

[2022-11-01 20:24] powersj commented on #12143
next steps: review the tests, look at the usage of `now.Unix` and look at adding some debug code to determine what the test thinks the time is when it starts and if it changes?

[2022-11-01 20:36] gcsontos commented on #12141
Hi,

I have been searching for the same solution as @lfarkas. I would like to put phase tags (like L1, L2, L3) per address (only if needed), and I don't want to separete the requests because of that.
I am not familiar with the starlark processor. Are you sure we can use it for that? There isn't any "address" field in the output of the modbus plugin.

Thanks

[2022-11-01 23:52] brightonli commented on #12114
Here are all the related outputs after running the build.
I had the following embedded_tags in the config:
embedded_tags  = ["Cisco-IOS-XE-bgp-oper:bgp-state-data/bgp_route_vrfs/bgp_route_vrf/bgp_route_af/afi_safi, "Cisco-IOS-XE-bgp-oper:bgp-state-data/bgp_route_vrfs/bgp_route_af"]
[fix-12139-debug.zip](https://github.com/influxdata/telegraf/files/9914695/fix-12139-debug.zip)

[2022-11-02 00:51] dmgeurts opened #12144 "Make n_users (System Input Plugin) configurable"
### Use Case

Currently, the n_users number represents the active terminals, but this may not be equal to the number of users. For example a user running terminal management like screen or byobu will be a single user, but each terminal they have open will be reported as a user by `[[inputs.system]]`

### Expected behavior

It would be great to be able to configure if one would like to count actual

[2022-11-02 07:31] Skr3ms commented on #8083
Hello inselbuch,
the node "1001" and "1003" you subscribe in your sample are singel variables of the the type integer and float?
In my case the object behind my node id is an Alarm Message of the type BaseEventType.
The property "data_type" you write is not explained in any official example about the opc ua config file, where do you know that you can define it?
Im new in InfluxDB and Telegraf sorr

[2022-11-02 08:59] Hipska opened #12145 "Panic when stopping telegraf ifname processor"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.24.2

### Docker

_No response_

### Steps to reproduce

1. Make minimal config with `processors.ifname` and `aggregators.merge`
2. Run test `telegraf --test --config ifname_panic.toml`

### Expected behavior

Telegraf panics "close of closed channel".

### Actual behavior

Normal shutdown of telegraf.

[2022-11-02 10:52] Hipska commented on #11741
It seems like this filtering is not supported (anymore?) by the `test` command. It's something I would like to see added..

[2022-11-02 12:39] powersj commented on #12145
I think this has already been fixed:

[code]

[2022-11-02 12:41] ake5 opened #12146 "Add s390x rpm packages to influxdata repository"
### Use Case

To use telegraf rpm packages we need them in the official influxdata rhel repository. On github these packages are already available for separate download.

### Expected behavior

telegraf rpm s390x packages are also avaible at https://repos.influxdata.com/rhel

### Actual behavior

Only arm, i386 and amd64 rpm packages are avaible

### Additional info

_No response_

[2022-11-02 12:42] Hipska commented on #12145
Hmm, do you know which PR would have fixed it? And will it be part of 1.24.3?

[2022-11-02 13:09] powersj commented on #12144
The `system` plugin gets the value for `n_users` via a call to [gopsutil](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/system/system.go#L50-L52). Looking at [gopsutil's Users()](https://github.com/shirou/gopsutil/blob/master/host/host.go#L130-L132) it calls a couple different functions depending on the platform. In general, it appears to return a slice of [UserStat](https://gi

[2022-11-02 13:12] Hipska commented on #12145
I could only find #12072 but that mentioned the given bug wasn't released and only seems to be relevant for inputs.

[2022-11-02 13:15] MyaLongmire opened #12148 "sql test-integration failing"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.23.3

### Docker

_No response_

### Steps to reproduce

Tag created for v1.23.3 and the integration test failed

### Expected behavior

The sql test should pass

### Actual behavior

the test does not pass

### Additional info

_No response_

[2022-11-02 13:20] powersj commented on #12145
Fixed by https://github.com/influxdata/telegraf/pull/12081

[2022-11-02 14:55] dmgeurts commented on #12144
This is working great, thank you!

[2022-11-02 15:04] #12144 closed

[2022-11-02 15:05] #12148 closed

[2022-11-02 15:11] #4138 closed

[2022-11-02 15:11] #4341 closed

[2022-11-02 15:15] sspaink commented on #5375
Because https://github.com/influxdata/telegraf/issues/3573 has been resolved, I am assuming this issue can be closed as well seeing there hasn't been new reported issues related to this since. Please comment or reopen if that isn't the case so we can investigate further. Thanks!

[2022-11-02 16:09] powersj commented on #12146
I have an internal PR up to add s390x, ppc64[el|le], and riscv64 to the deb and rpm repos. I'm waiting on a review + some testing. Will let you know once it is merged and packages are available.

[2022-11-02 16:47] #4523 closed

[2022-11-02 16:50] #4079 closed

[2022-11-02 16:58] sspaink commented on #7160
I think this was resolved in: https://github.com/influxdata/telegraf/pull/11560

[2022-11-02 16:58] #7160 closed

[2022-11-02 18:43] richursa commented on #12137
Hi @reimda thanks for looking into this. I have marked it ready for review.

[2022-11-02 19:20] #12137 closed

[2022-11-03 01:43] zak-pawel opened #12151 "Linter findings for using deprecated fields from gnmi library"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

N/A

### Docker

_No response_

### Steps to reproduce

N/A

### Expected behavior

`golangci-lint` doesn't find any problems with using deprecated fields from `gnmi` library.

### Actual behavior

`golangci-lint` found following problems which should be addressed:
[code]

### Additional info

Introduced during bu

[2022-11-03 01:46] zak-pawel commented on #12151
@richursa Will you have some time to address these issues?

[2022-11-03 01:50] richursa commented on #12151
Hi @zak-pawel, there are still routers which use older gnmi spec, that will need those depreciated fields in plugin to parse data properly for.

The depreciated fields have been kept to maintain backward compatibility with older gnmi specs.

[2022-11-03 01:57] zak-pawel opened #12152 "Replica and Sentinel stats are not gathered in redis_sentinel input plugin"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

N/A

### Docker

_No response_

### Steps to reproduce

N/A

### Expected behavior

Replica and Sentinel stats are gathered in `redis_sentinel` input plugin

### Actual behavior

Replica and Sentinel stats are not gathered in `redis_sentinel` input plugin.

`gatherMasterStats` always returns empty `masterNames`.
!

[2022-11-03 11:41] mczimm opened #12155 "panic: interface conversion: interface {} is int64, not float64"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.25.0-453f36e8, Ubuntu 18.04

### Docker

_No response_

### Steps to reproduce

1. Enable postgresql input
2. Enable yandex_cloud_monitoring output
3. Run telegraf

### Expected behavior

metrics are being written successfully

### Actual behavior

the telegraf has fault

### Additional info

_No respon

[2022-11-03 13:15] powersj commented on #12155
Hi,

It looks like we attempt to take the received metrics and generate a [yandexCloudMonitoringMetric](https://github.com/influxdata/telegraf/blob/master/plugins/outputs/yandex_cloud_monitoring/yandex_cloud_monitoring.go#L127-L132). We attempt to take the value and cast to float64 in all cases.

I have put up https://github.com/influxdata/telegraf/pull/12156 with a possible fix. In 20-30mins test

[2022-11-03 13:41] #12151 closed

[2022-11-03 15:32] powersj commented on #8206
Hi,

I set up Apache in a container with the following config:

[code]

Using the following telegraf config:

[code]

I see the following:

[code]

As you mentioned in your 2nd comment, the port is correctly set. The hard-coded HTTP and HTTPS ports are only in the event of an error parsing that URL. If that URL fails to parse, I don't think you would be getting this far in the first place.

Can yo

[2022-11-03 15:56] dennisbleul opened #12159 "Drop Metrics if field value greater than"
### Please direct all support questsions to slack or the forums. Thank you.

Hello all,

I would like to discard all metrics when a field value is greater than.

Anybody have an idea how I can solve this?

Greetings from Switzerland
Dennis

[2022-11-03 16:05] spideyfusion commented on #12152
@zak-pawel You're totally right. As we iterate over the Sentinel masters, we never append any of them to the returned list. 😅

I'll get it fixed ASAP and improve test coverage.

[2022-11-03 16:07] peterbaumert commented on #174
Glad to see this is being worked on. Thx @srebhan

[2022-11-03 16:24] #12025 closed

[2022-11-03 16:33] powersj commented on #9821
Hi,

Expire is currently only called during `Collect()`, which is run when someone loaded the prometheus endpoint with the v1 metric type.

I have put up #12160 with a fix to add the expire call during add as well. In 20-30mins, there will be some test artifacts attached that PR. Could someone please download that artifact and confirm the lower memory usage? If you do run into any issues, can you

[2022-11-03 17:26] srebhan commented on #12159
@dennisbleul currently there is no good solution to "discard all". The closest you can get is to set a `tag` dependent on you field value e.g. with the starlark processor and the use `tagdrop`...

[2022-11-03 17:41] powersj commented on #8667
Hi,

I have put up PR #12165, which adds the malloced and version tag. If you could give that PR a shot and let me know I would appreciate it. Test artifacts should be uploaded in 20-30mins. Also where is the uptime field? I am only making these changes to the JSON-based stats given they are supported on newer versions as well.

Thanks!

[2022-11-03 18:06] dakotacody commented on #8206
I'm not sure if this issue is even occurring anymore.. we include a ports.conf file.

So the apache conf looks like this:
`
# Security
ServerTokens prod
ServerSignature Off
TraceEnable On

ServerName "<redacted>"
ServerRoot "/etc/apache2"
PidFile ${APACHE_PID_FILE}
Timeout 60
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 15
LimitRequestFieldSize 8190
LimitRequestFields 100

User www-data

[2022-11-03 18:41] powersj commented on #8206
Thanks - that all looks pretty standard

sounds, please do!

[2022-11-03 18:41] #8206 closed

[2022-11-03 18:41] #9835 closed

[2022-11-03 19:31] sspaink commented on #9207
Thanks for researching this, I think your right that there isn't much we can do about these except for elastic.

[2022-11-03 19:48] #5934 closed

[2022-11-03 20:04] powersj commented on #10743
@PacoTyson,

I put up #12171, which will attempt to determine the major version when running on FreeBSD. With versions older than 12 it will use the old behavior, but will 13 and newer, use the -W option.

Can you give this a shot and let me know if it resolves the issue?

Thanks!

[2022-11-03 20:44] atartareanu opened #12172 "cloudwatch input plugin config example with multiple namespaces"
### Use Case

Hello
Thank you for making this possible: configure multiple namespaces in telegraf cloudwatch input
https://github.com/influxdata/telegraf/pull/9386

However there is no concrete example how to configure this, especially for the three of metrics and dimensions. I have tried multiple combinations and some do not make sense, but still work  like:

namespaces = ["AWS/Billing", "AWS/ECS

[2022-11-03 22:30] powersj commented on #12172
Hi,

This sounds more like a support request, that would be better asked in Slack or on our community forums.

Can you show your full cloudwatch config as well as logs, please? I ask because you have one "namespace" option that isn't even in the cloudwatch plugin section and it helps to not hide any config options from us if we are trying to support you.

It sounds like you are doing the right thi

[2022-11-04 09:03] atartareanu commented on #12172
Hello @powersj
Thank you for your quick reply, I was not aware we can get support on Slack, I will try my luck there by providing additional information.

[2022-11-04 11:49] 7Hazard opened #12176 "Socket listener only processes first 1 or 2 batches of metrics with errors"
### Relevant telegraf.conf

[code]

### Logs from Telegraf
https://gist.github.com/7Hazard/c3e7b49b8d2981cb99a6b8a0cc9e3238

### System info

Docker Image - telegraf:1.24-alpine

### Docker

FROM telegraf:1.24-alpine

COPY telegraf.conf /etc/telegraf/telegraf.conf
COPY collectd-types.db /usr/share/collectd/types.db

### Steps to reproduce

These collectd metrics are forwarded from GitHub Enterpris

[2022-11-04 12:33] mczimm commented on #12155
Hi, all good now thanks!

[2022-11-04 12:50] powersj commented on #12176
Hi,

Based on the timestamps, you have provided 2 seconds worth of logs. Looking at the "Wrote batch of" messages," about 9000 metrics were written in 9 separate batches.

While there do appear to be a number of debug messages from the serializer that it was unable to serialize a field, those fields are skipped and processing on other fields does continue. You mentioned #5858, however, PR #5943 im

[2022-11-04 14:54] srebhan commented on #11099
Please keep this open as it tracks an upstream bug...

[2022-11-04 15:31] powersj commented on #11099
FYI use the "upstream" tag to make it clear it is waiting on something other than us or the reporter

[2022-11-04 18:18] powersj commented on #12114
Thank you!

It does look like there is the `_` vs `-` as you suggested and the code confirms this as well:

[code]

I've pushed another commit with a change to the comparison. That should be available in 20-30mins, could you give that another spin and see how much further you get this time?

Thanks again!

[2022-11-04 22:07] logmod opened #12178 "improve inputs.modbus device name configuration"
### Use Case

I would like to have the option to get rid of the amgibious "name" tag that is hardcoded into the plugin when using a request style configuration.

When using the register style config it makes sense to set the name of the device as it is defined by a unique slave id. When using the  request style configuration multiple slave ids can be requested and here the only useful interpretati

[2022-11-05 02:27] powersj commented on #12178
This already exists, via [metric filtering](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#metric-filtering) with the `tagexclude` option:

[code]

[2022-11-05 13:00] PacoTyson commented on #10743
Hi @powersj , here's the result of my test:
I downloaded the amd64 freebsd artifact, uploaded the new executable file to the Opnsense FW, replaced the already installed telegraf executable file by the new one, started Telegraf with --debug :

2022-11-05T12:51:00Z I! Starting Telegraf 1.25.0-079ddff0
2022-11-05T12:51:00Z I! Available plugins: 210 inputs, 9 aggregators, 26 processors, 21 parsers, 57

[2022-11-05 13:11] 7Hazard commented on #12176
There is metrics being continuously sent from collectd in intervals of 10.
For more metrics to be processed and sent to InfluxDB by Telegraf, I have to restart it.
I mean, if I really wanted to do some hacky solution, I could restart Telegraf every 10 seconds instead to have it pick up and forward the metrics to InfluxDB.

[2022-11-06 09:35] logmod commented on #12178
Thank you, I was not aware of metric filtering. Problem solved. Can I create a pull request to amend the sample configuration regarding the use of the name tag?

[2022-11-06 10:21] dennisbleul commented on #12159
Thank you for your answer.

I think this will solve my problem.

[2022-11-06 13:09] lfarkas commented on #12091
@SokoFromNZ I open the above FR. could you comment on it and/or enhance it?

[2022-11-06 16:37] powersj commented on #12178
Please do!

[2022-11-06 23:13] brightonli commented on #12114
I have attached the output of the new commit. It looks like it is upacking the different afi-safis for each vrf. But doesn't seem to contain any children data anymore.
[fix-12139-debug-2.zip](https://github.com/influxdata/telegraf/files/9947053/fix-12139-debug-2.zip)

[2022-11-07 07:28] wudongwang opened #12184 "The grok syntax for tail"
### Please direct all support questsions to slack or the forums. Thank you.

The grok syntax for tail.

Configuration.

 grok_patterns = ['%{TIMESTAMP_ISO8601:access_time}\s*%{HOSTNAME:hostname}\s*%{DATA:work}\s*%{LOGLEVEL:level}\s*(?<execute>(.*)(?<=execute error)/?)\s*%{GREEDYDATA:message_data}']

invalid or unsupported Perl syntax: `(?<`

[2022-11-07 07:29] SokoFromNZ commented on #12141
@lfarkas thanks for this FR. Its exactly how I expected it to find in telegraf already :)
Hope this gets implemented soon

[2022-11-07 08:36] 7Hazard commented on #12176
Here are some more logs, where at the beginning of the program, the InfluxDB was turned off then later turned on after a couple of minutes: https://gist.github.com/7Hazard/1ef922b590592b4029e59255e287088b

[2022-11-07 09:54] WireFr33 commented on #6263
+1

[2022-11-07 13:25] srebhan commented on #12172
Further digging brought up the error message
[code]
occurring during `ListMetrics`.

[2022-11-07 14:05] #12159 closed

[2022-11-07 14:14] powersj commented on #10743
Thanks for giving that a shot. I've pushed another commit to add one additional check. It seems the check worked and avoided the `-X` option, but later on we add `-x` as well. Hopefully that is the last option we need to check for.

In another 20-30mins the PR should have new artifacts attached that you can test. Thank you again!

[2022-11-07 14:28] #3780 closed

[2022-11-07 14:28] #12155 closed

[2022-11-07 14:44] srebhan commented on #6920
@mroe1234 can you please check if #12187 with the correct `splitting` setting fixes the issue?

[2022-11-07 14:47] powersj commented on #12176
This should have no affect on how telegraf processes metrics from the socket listener. All this would do is increase the # of metrics in the buffer and produce some error messages about the output not being available. You can see this in messages like this:

[code]

It says it in the logs, the `statsd_value` metric has a "NaN" as as part of a value field.

[code]

I asked which metrics are no long

[2022-11-07 15:20] powersj commented on #9239
Hi,

I put up #12167, however now that I have my openweather API key active I was able to test it live. I ran with the default behavior at 8:05am local time and got the following values for the first 5 results of the forecast:

[code]

[code]

This would indicate that timestamps are already 3 hours in the future. The assumption that the timestamps are stored with the time they were forecasted at,

[2022-11-07 16:08] feld opened #12192 "postgresql output plugin cannot create schemas"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

1.24.0

### Docker

_No response_

### Steps to reproduce

Use the above example config where raw data is dumped into the Telegraf schema, but a view is created in the public schema.

### Expected behavior

The telegraf schema is created automatically

### Actual behavior

The telegraf schema is not created automa

[2022-11-07 16:20] powersj commented on #12192
I wondered if this was something in the original PR and sure enough found a couple comments about why this plugin does not manage schemas, see [this comment](https://github.com/influxdata/telegraf/pull/8651#issuecomment-926681090) and [this one](https://github.com/influxdata/telegraf/pull/8651#issuecomment-1102893820).

Given the deliberate omission specifically around security + permissions, this

[2022-11-07 17:48] #5887 closed

[2022-11-07 17:51] #11074 closed

[2022-11-07 18:09] #12128 closed

[2022-11-07 18:15] srebhan commented on #12022
After some internal discussion we decided to revert CSV behavior back to what it was on 1.20.x, which is what you expect @petr-tichy... This involves:

1. Define test-cases for at least `tail`, `file` and maybe `exec` to make sure we catch potential behavior changes on follow-up versions of Telegraf.
2. Implement a plugin dependent _default_ reset-behavior (i.e. `always` reset for `!tail` and `non

[2022-11-07 18:17] sjwang90 commented on #11074
Update won't be implemented until Telegraf 1.25 feature release in December

[2022-11-07 18:36] #9821 closed

[2022-11-07 19:35] #12006 closed

[2022-11-07 19:39] sspaink commented on #7109
@josephpeacock sorry you haven't had any response in a while, are you still interested in seeing this configuration option added?

[2022-11-07 19:41] sspaink commented on #7037
@Trovalo are you still having this problem? Or was the workaround sufficient?

[2022-11-07 19:47] powersj commented on #7528
Going through old issues and came across this one. This change would require a large overhaul to how metrics are handled in Telegraf. I do not think this is something we would take on currently or have in plan.

[2022-11-07 19:49] powersj commented on #7230
next steps: pick this one back up, look at #7229 as inspiration or drive it to completion

[2022-11-07 19:54] #9985 closed

[2022-11-07 19:57] powersj commented on #7172
@neeles83 sounds like the request seems reasonable, however if we were to look into this, where could we find sample protobuf Cisco files that we could use for development? Would these be possible with the Cisco simulator as well? The big concern with taking on changes to the cisco plugin is our lack of access and knowledge to hardware and this ecosystem.

[2022-11-07 20:00] PacoTyson commented on #10743
Now it's working fine : no more errors in logs and the value is correctly sent to Influxdb. Thanks a lot.

[2022-11-07 20:00] #10743 closed

[2022-11-07 20:31] #12105 closed

[2022-11-08 04:51] jeremycohoe commented on #7404
Is anything needed from our end ?

[2022-11-08 09:35] darjisanket opened #12200 "undefined but requested input: google_cloud_storage"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

telegraf:1.24.3

### Docker

FROM telegraf:1.24.3-alpine

### Steps to reproduce

1. apply input plugin
.

### Expected behavior

telegraf not starting

### Actual behavior

should start and give metrics for gcs

### Additional info

_No response_

[2022-11-08 09:52] MyaLongmire commented on #12200
`google_cloud_storage` is a new feature so it will not be in the packaged release until 1.25 but it is available on master and [nightly builds](https://github.com/influxdata/telegraf/blob/master/docs/NIGHTLIES.md).

[2022-11-08 12:58] MyaLongmire commented on #12136
`opcua_listener` is only available on master and in nightly builds currently, as it is a new feature. It will be in the package release of v1.25.0

[2022-11-08 15:06] #12040 closed

[2022-11-08 15:57] reimda opened #12202 "Improve plugin code guide"
Add guidance on when plugins should connect to external services and whether failures to connect should prevent telegraf from starting up.

Typically service inputs and outputs need to make a connection over the network and reuse that connection for a long time. In these cases when the plugin can't make the connection it needs, the default behavior should be to cause telegraf to fail to start. Ser

[2022-11-08 16:30] maufc commented on #10266
It looks great but I get an error (on request method):
[telegraf] Error running agent: could not initialize input inputs.modbus: configuraton invalid: unknown byte-order "BA"

[2022-11-08 17:15] zak-pawel commented on #12202
@reimda I'm not sure if this guide should be limited to `ServiceInput` plugins only. I would take into consideration also "normal" `Input` plugins (with `Init() error` function).

You wrote "If a plugin connects to a local socket ... they don't **need** to require the connection at Start/Connect". But **can** they (with proper setting that allow required connections to be made later of course)?

[2022-11-08 17:55] maufc commented on #10266
Ok. I tried

Ok. I tried with register method and it worked.
Could be a way to make it on reguest method as it allows different data types in the same query?
Thanks!

[2022-11-08 18:09] #12136 closed

[2022-11-08 18:09] #12089 closed

[2022-11-08 21:16] #8016 closed

[2022-11-08 21:26] #8687 closed

[2022-11-08 21:58] reimda opened #12206 "Reduce the number of methods in inputs.procstat's Process interface"
related #12174

Process has >15 methods taken directly from gopsutil that read data into structs. The plugin itself only calls the methods one after another in its Gather method. The mock interface probably should have only one method that returns everything Gather needs. In other words it's mocked at the wrong level for testing.

We'd like to reduce the number of methods in Process so we can run

[2022-11-08 21:59] reimda opened #12207 "Reduce the number of methods in the metric interface"
related #12174

Metric has a bunch of "deprecated" methods that nobody ever got rid of, and it mixes a few concepts (building a metric, using a metric, and tracking a metric) in one interface. It would be cleaner if there were multiple separate smaller interfaces for each concept.

We'd like to reduce the number of methods in Metric so we can run the interfacebloat linter without having to add //n

[2022-11-09 02:43] bell-kevin opened #12208 "Create Code of Conduct"
Maybe a Code of Conduct might be nice. What do you all think?

[2022-11-09 06:45] PatMis16 opened #12209 "Git repository as config directory"
### Use Case

Configuring the Telegraf agend on Windows systems is a chalenge. We know that we can start the Telegraf agent to read a configuration from a URL. So for example to a raw file on a Git repository:

`telegraf.exe --config https://<my git>/repos/telegraf-windows-config/raw/telegraf.conf`

It would be helpful if we were able to do it for config directories aswell but specify a git reposi

[2022-11-09 08:51] Trovalo commented on #7037
The issue can be closed.

The workaround works, also it makes sense to store that string (a query text) as a field for several reasons:
- the length can be huge (leading to the error)
- saved as a tag it's unreadable because the escape sequences are kept as-is (full of `\n \t` etc), as a field it's readable
- I don't think it's worth indexing, it will also take lots of space

I thought about turni

[2022-11-09 09:14] pratikdas44 opened #12210 "Telegraf abandoned subscription for Kafka Consumer"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf - 1.23.3

### Docker

_No response_

### Steps to reproduce

1. Use the telegraf configuration for kafka consumer
2.
3.
...

### Expected behavior

Seeing message Abandoned subscription to Kafka topic, even after providing "max_processing_time"

### Actual behavior

Telegraf kafka consumer should be worki

[2022-11-09 09:57] 7Hazard commented on #12176
This appears to have been some networking issue in the Kubernetes cluster I was working in, where the health check for the UDP port was trying TCP instead, which prevented packets from being sent. I figured this out after I deduced that it wasn't an issue from Telegrafs side.
Pardon for the issue!

[2022-11-09 09:57] #12176 closed

[2022-11-09 10:33] 135zyf commented on #12152
When is the problem expected to be fixed? Recently, I plan to upgrade the Telegraf version we use in batches to better monitor Redis.

[2022-11-09 11:03] #7037 closed

[2022-11-09 12:13] Ohimma opened #12212 "input nodata, how to do the alarm"
### Please direct all support questsions to slack or the forums. Thank you.

If I configure the input plug-in, but for some reason I can't get the data, how do I find that there is no data？？

for example：
vim telegraf.d/es.conf
servers = ["http://xxxx:xxxxx@127.0.0.1:9200"]

error log:
2022-11-09T12:12:00Z E! [inputs.elasticsearch] Error in plugin: elasticsearch: API responded with status-code 401

[2022-11-09 12:39] Hipska commented on #12202
They don't need to require it, but indeed, they can do it.

[2022-11-09 13:47] srebhan commented on #6025
@sgtsquiggs can you please check if PR #12187 fixes the issue for you!?

[2022-11-09 14:28] #12212 closed

[2022-11-09 15:11] mikaelpeltier opened #12213 "Internet_speed plugin failed to fetch user info"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Latest version of telegraf docker

### Docker

_No response_

### Steps to reproduce

1. Configure internet_speed plugin with the official telegraf docker (latest version)
2. Start telegraf
3. internet_speed plugin will generate error because it failed to fetch user info

### Expected behavior

internet_speed plug

[2022-11-09 15:27] powersj commented on #12213
You mean the function I called out in your forum post ;)

Can I have you file a bug at the upstream [showwin/speedtest-go](https://github.com/showwin/speedtest-go) and ask what issue might be causing this? This code is outside of telegraf.

Thanks

[2022-11-09 15:31] mikaelpeltier commented on #12213
Yes, it seems related to the function that you mentionned.
I quickly checked and it could be related to user-agent, but not sure.
Yes, I will create a bug at the upstream [showwin/speedtest-go](https://github.com/showwin/speedtest-go).

[2022-11-09 17:30] reimda opened #12214 "Cancel gracefully when connecting to kafka broker"
If the user sends a signal to telegraf while kafka_consumer is connecting to the broker (before sarama.NewConsumerGroup() has returned), the signal will be delayed until connection is made or timed out. This means sigint to shut down telegraf, or sighup to reload config are ignored while connecting to the broker.

Since #12111, telegraf allows the kafka connection to be deferred until after startu

[2022-11-09 18:09] #12028 closed

[2022-11-09 18:09] #11507 closed

[2022-11-09 18:09] #9163 closed

[2022-11-09 18:09] #8606 closed

[2022-11-09 18:09] #8070 closed

[2022-11-09 18:09] #7168 closed

[2022-11-09 23:04] reimda opened #12220 "Simplify etc/telegraf.conf"
Background:

The etc/telegraf.conf file is a sample config. It's included in telegraf build by all the packages (deb, rpm, zip, etc). It used as the initial configuration after package installation. (It's placed in /etc/telegraf.conf on unix style OSes.)

It has a small set of initial plugins enabled: the influxdb output and cpu, disk, diskio, kernel, mem, processes, swap, and system inputs. If In

[2022-11-10 04:08] sureshsubramaniam commented on #12068
@MyaLongmire Thanks, i will try a test run today and keep posted with the latest version

[2022-11-10 07:26] spideyfusion commented on #12152
@135zyf I'll be tackling this issue tomorrow.

[2022-11-10 07:36] 135zyf commented on #12152
Thank you very much！

[2022-11-10 07:47] serroba opened #12221 "Enhance MQTT output plugin's routing capabilities"
### Use Case

The current plugin is very strict and opinionated on what is allow to be used as parts of the topic definition in MQTT.

This is what is currently possible to do: https://github.com/influxdata/telegraf/blob/af43d0183c4b4035d6f5cec20ff7e5683ef4149f/plugins/outputs/mqtt/sample.conf#L16

[code]

This feature request is about allowing to use a more dynamic expression of topics, taking in

[2022-11-10 14:35] LarsStegman opened #12222 "inputs.modbus: Read register span in one go and drop unused fields"
### Use Case

We currently only need a (big) subset from one of our edge devices, but this results in Telegraf sending about 200 read requests which takes about 4 seconds. The subsets are not completely contiguous in the address space, but the gaps in between the blocks are only about 1-4 registers. If we manually fill these gaps with "Spare" fields the performance increase significantly to 150ms.

[2022-11-10 15:09] srebhan commented on #12222
Do you use the `omit` flag to drop the unused registers? Like
[code]

[2022-11-10 16:01] LarsStegman commented on #12222
Ah, we used `fielddrop`, but yes, something similar. We would like to have Telegraf automatically figure out how to optimize reading, as this would make the configuration file smaller.

[2022-11-10 17:56] srebhan commented on #12222
There is https://github.com/influxdata/telegraf/pull/11273 and #11106. Will try to accelerate those a bit if you promise to test them. ;-)

[2022-11-10 18:40] #12208 closed

[2022-11-10 19:18] LarsStegman commented on #12222
Of course there already is a PR on this. It keeps amazing me how active this project is. Every time I think of something I can find an issue or a PR already working on it. I'll discuss with the team tomorrow if they want to test this. Thanks!

[2022-11-11 07:45] sureshsubramaniam commented on #12068
@MyaLongmire  I took the latest release of telegraf [Telegraf 1.24.3 (git: HEAD@ff7323e1)], it works perfectly fine with the sorting, adding the configurations here for someone who lands here for the top 10 processes metrics
[[inputs.procstat]]
  interval = "60s"
  mode = "irix"
  pattern = "."
  pid_tag = false
  fieldpass = ["memory_usage","cpu_usage","memory_swap","num_fds","pid" ]

[[processor

[2022-11-11 07:45] #12068 closed

[2022-11-11 18:09] #12118 closed

[2022-11-11 18:09] #12112 closed

[2022-11-14 07:56] prajyod opened #12230 "Add Input plugin support to take inputs from Influxdb"
### Use Case

I have a scenario where I will run Tasks in InfluxDB . This tasks creates a bucket and data inside it.
My end goal is to read the data created in this bucket and output to open telemetry format.
As of now we don't have an option in input plugins where I can read data from InfluxDB .

### Expected behavior

We should have a Input Plugin which take bucket details, authorization etc fro

[2022-11-14 08:02] jgeorge1234 commented on #11903
where we will get the certificates and key . Could someone share the full telegraf conf

[2022-11-14 09:39] goswamisandeep commented on #10245
We do have a scenario where we do report to user whether metric collection fails because of :-

1. TCP connection issue
2. Username / password is wrong
3. PERMISSION issue

I do see telegraf do report them in log files ,

`2022-11-12T09:42:09Z E! [inputs.sqlserver] Error in plugin: query SQLServerAvailabilityReplicaStates failed for server: 10.53.117.51 and database: <empty-database-name> with Msg

[2022-11-14 09:45] Hipska commented on #10245
This is also a valid use-case that would be solved with this feature request. Currently it is not possible, but we are looking for help for someone to implement this.

[2022-11-14 09:55] Hipska commented on #12230
Yes, it is possible but needs configuration on InfluxDB. The Edge Data Replication function in combination with telegrafs influxdb_v2_listener input.

[2022-11-14 09:58] Hipska opened #12231 "EDR documentation on influxdb_v2_listener"
It would be nice to have a section on the influxdb_v2_listener documentation with info on setting up EDR in combination with this plugin, so we can point users to this..

[2022-11-14 10:56] prajyod commented on #12230
@Hipska Should it be code level change? or I can do some configurations to bring this feature up?

[2022-11-14 11:00] Hipska commented on #12230
Configuration. See https://www.influxdata.com/products/influxdb-edge-data-replication/ and more documentation will come with #12231

[2022-11-14 13:30] orypilant opened #12234 "Need to convert Hex to IEEE-754 Float from files with tail"
### Use Case

**I am using the tail plugin to read data from files. In these files I have Hexa data that I need to convert to IEEE-754 Float, and then I need to apply some math operations.**

My input file :

`2022-10-28 17:44:47 AAA01 BBB01 01 43 1E 00 CD 50 00 00 AB CD 2C 0F 00 00 00 00 01 01 01 00 01 00 01 01 01 00 02 00 0B 00 0B 02 00 00 00 1D 02 00 00 00 13 02 00 00 00 12 02 00 00 00 23 02 00

[2022-11-14 18:09] #12184 closed

[2022-11-14 19:31] #12222 closed

[2022-11-14 20:10] srebhan commented on #12141
@lfarkas and @SokoFromNZ I think we might hit TOML limitations with this as you cannot define an array like this. Not even sure if you can define a map inside this structure. Currently, the solution would be to either tag the phase in the measurement, i.e. have one metric per phase or to add the phase to the field name and do the conversion to tag in a processor.

The reason why I'm a bit hesitant

[2022-11-14 20:17] srebhan commented on #174
@peterbaumert happy to get some testing feedback.

@all interested in this plugin, I'm not an expert in Netflow, so I would appreciate some feedback regarding the mappings for [element IDs common to Netflow v9 and IPFIX](https://github.com/influxdata/telegraf/blob/56bc550ad8c8e705bb2cdc56afae72786715dbbc/plugins/inputs/netflow/netflow_decoder.go#L26), mappings for [Netflow v9](https://github.com/i

[2022-11-14 20:21] srebhan commented on #12122
@akoscsiszar for the old style you need to use `ABCDEFGH` for 64-bit types.... :-(

[2022-11-14 20:24] srebhan commented on #6025
Anyway, thanks @sgtsquiggs for reporting back and sorry it took so long to work on this!

[2022-11-14 21:14] SokoFromNZ commented on #12141
@srebhan Thanks for your input here.

If TOML cannot do such things we are out of luck anyhow. But giving multiple tags to a single field/address is especially in my case (reading data of a photovoltaic power inverter) basically a must.

Ideally I would like to do something like this so I can easily do separate queries later on the input/output of the inverter (_measurement AC or DC), the type (_f

[2022-11-14 21:33] lfarkas commented on #12141
Let we see this current example. In case of electricity there are dozen things which are phase specific and another dozen which are not. But it'd be logical to keep all of them in one measurement.
Here is a concrete example how do you keep it? In a dozen of measurements?
And then what's happening when you like to aggregate eg. 15 minutes min max mean value to the influx cloud? You create 3 times d

[2022-11-14 23:28] brightonli commented on #12114
Hey @powersj .

Any update on this, or anything I can help with?

Regards,
Brighton

[2022-11-15 09:51] Meceron opened #12243 "Null delimiter cannot be used"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.24.2 (telegraf:lastest image)

### Docker

Docker 20.10.20

### Steps to reproduce

1. Set up config to null delimiters
2. Start up env
3. send csv data separated with  "\u000"
...

### Expected behavior

Like its works with tab ("\u0009"), data parsed and send to influx

### Actual behavior

Throw erro

[2022-11-15 11:15] srebhan commented on #10266
This will not work with the `request` configuration as it does not support changing the byte-order for a request. You probably need to use two `request` sections with different byte-orders...

[2022-11-15 13:09] mikaelpeltier commented on #12213
The new release of speedtest-go v1.2.1 contains a fix that should avoid this error.
Now, I think that the version of speedtest-go used by telegraf must be updated, someone could confirm this point ?

[2022-11-15 13:49] srebhan commented on #12243
This is a limitation of/bug in Golang's `encoding/csv` package. See https://goplay.space/#h_2t1TMJlU8.

[2022-11-15 13:52] powersj commented on #12213
Thanks for putting up that PR! I can put up a PR to update the dep in go.mod shortly

[2022-11-15 14:36] Meceron commented on #12243
No, it's from the influx Reader.go problem. At reader.go:95 there is :

`func validDelim(r rune) bool {
    return r != 0 && r != '"' && r != '\r' && r != '\n' && utf8.ValidRune(r) && r != utf8.RuneError
}`

[2022-11-15 15:54] #11754 closed

[2022-11-15 18:09] #12122 closed

[2022-11-15 18:09] #8697 closed

[2022-11-15 18:09] #7520 closed

[2022-11-16 03:09] loganmarchione commented on #4927
Does this PR fix this issue?

https://github.com/influxdata/telegraf/pull/9822

[2022-11-16 03:14] loganmarchione opened #12245 "Add documentation for x509 plugin option"
I saw this [PR](https://github.com/influxdata/telegraf/pull/9822), which adds support for an option for the x509 plugin called `exclude_root_certs`. However, that option is not documented in the README. Please update the README with an example.

https://github.com/influxdata/telegraf/blob/master/plugins/inputs/x509_cert/README.md

[2022-11-16 04:39] prajyod commented on #12231
@Hipska/ @Jayclifford345  can you provide the ETA for providing documentation

[2022-11-16 07:25] prajyod commented on #12230
@Hipska to be clear I want an input plugin to take data from a bucket in influxdb where I have some counter values which are already in Cloud . I need an input plugin where I can given the influxdb details and these details are fetched from this cloud instance .

[2022-11-16 08:43] Hipska commented on #12230
It is the other way round. You setup the influxdb_listener input plugin and setup your InfluxDB EDR  to send to this telegraf instance.

[2022-11-16 10:31] Jayclifford345 commented on #12231
Hi @prajyod,
I will be looking to write this next week.

[2022-11-16 10:36] x70b1 commented on #4927
@loganmarchione

I have not tested it, But it looks very like this. Yeah!

[2022-11-16 11:40] srebhan commented on #12213
@mikaelpeltier please test the binary built by CI in #12248 once it's finished. Let me know if this fixes your issue.

[2022-11-16 11:41] srebhan commented on #12230
@Hipska I think @prajyod wants to take the data from the **cloud** and put it elsewhere, so EDR is not an option here.

[2022-11-16 11:42] srebhan commented on #12234
@orypilant can you please test the binary built in #12232 and let me know if this fixes your issue!?

[2022-11-16 11:43] srebhan commented on #12243
@Meceron can you please point me to the code, i.e. provide a link to the `reader.go` file you are talking about?

[2022-11-16 11:58] prajyod commented on #12230
@Hipska what @srebhan said is right. I want to take the data from the cloud and put it elsewhere.

[2022-11-16 12:23] Hipska commented on #12230
Oh, I didn't know InfluxDB cloud didn't have EDR feature.

[2022-11-16 13:37] #12245 closed

[2022-11-16 14:18] #11406 closed

[2022-11-16 14:43] srebhan commented on #11919
PR fixing this merged. Please reopen if this didn't fix your issue.

[2022-11-16 14:43] #11919 closed

[2022-11-16 14:45] srebhan commented on #12178
Closing this issue as you can do what you want using `tagexclude`

[2022-11-16 14:45] #12178 closed

[2022-11-16 15:13] srebhan commented on #9022
@orbweaver I cannot reproduce this with latest master nor using Telegraf v1.24.3. Can you please test those versions?

[2022-11-16 16:10] srebhan commented on #4927
@loganmarchione in this case `exclude_root_certs = true` is what you want. The naming is a bit misleading though.

[2022-11-16 18:09] #4073 closed

[2022-11-16 18:31] rumato163 opened #12252 "Telegraf getting "protocol wrong type for socket" error while trying to connect to powerdns-recursor socket"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

gentoo Linux 5.15.26-gentoo

### Docker

_No response_

### Steps to reproduce

1. Install powerdns-recursor >=4.5.X version and run it with all the necessary steps to grant telegraf user access rights to socket directory and socket itself
2. Install telegraf
3. Configure inputs.powerdns-recursor plugin as it show

[2022-11-16 18:43] prajyod commented on #12230
@Hipska @srebhan Will this feature be assigned to anyone ?

[2022-11-16 19:24] powersj commented on #12252
I can reproduce using a Ubuntu 22.04 LTS LXD:

[code]

It looks like we need #9633 to land due to a changes in pdns.

next steps: review that PR and see what needs to happen to wrap it up

[2022-11-16 19:26] powersj commented on #12221
next steps: review #12224, thanks for the PR!

[2022-11-16 20:00] x70b1 commented on #4927
Thats enough I would say.
Would it be an idea to make `true` the default for `exclude_root_certs`?

[2022-11-16 20:43] srebhan commented on #4927
@x70b1 as we are committed to _keep the behavior stable for existing configs_ we cannot make this change as it would change behavior for everyone wanting the whole chain and did not explicitly set it...

Will close this issue as it seems like we have a working solution. If you disagree, please feel free to reopen the issue.

[2022-11-16 20:43] #4927 closed

[2022-11-16 20:43] #12234 closed

[2022-11-16 20:43] #12152 closed

[2022-11-16 20:45] x70b1 commented on #4927
I am fine with this. Thanks a lot!

[2022-11-16 20:47] #7930 closed

[2022-11-16 22:23] srebhan commented on #10266
@maufc and @meowcat can you please test the binary built by CI from #12255 and let me know if this is what you expected?!?

[2022-11-17 04:11] mahish512 commented on #4174
my  "messages" file under  /var/log/ directory is filling with telegraf messages. i have enabled below configs. so any help will be appreciated.

 debug = false
quiet = true
logfile = "/logs/telegraf/telegraf.log"

[2022-11-17 07:13] BhumikaMatharu opened #12256 "Conntrack new added statistics not supported in latest version"
### Please direct all support questsions to slack or the forums. Thank you.

In this pull request https://github.com/influxdata/telegraf/pull/8958, additional conntrack tools were added to the input plugin but on checking the source code for the latest releases, I couldn't find this change.

Can you add this change in your next release or any idea in which release this change will be there?

[2022-11-17 13:35] rasanentimo opened #12257 "Could not serialize metric: invalid name from gnmi input plugin with Sonic switch"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Docker image telegraf:1.23.4-alpine

### Docker

_No response_

### Steps to reproduce

1. Configure gnmi on the Sonic switch (4.0.2)
2. start Telegraf

### Expected behavior

Expecting the data to be written to the file and the metric name as stated on the configuration file, in this case 'temperature'.

### Actu

[2022-11-17 13:38] ake5 commented on #12146
hi, any news on this?

[2022-11-17 14:02] #6025 closed

[2022-11-17 14:02] #6920 closed

[2022-11-17 14:05] powersj commented on #12256
That was merged last month as a feature which means it will be in our next minor release, v1.25.0, in December. For now you can use builds with these included, by using the nightly builds: https://github.com/influxdata/telegraf/blob/master/docs/NIGHTLIES.md

[2022-11-17 14:05] #12256 closed

[2022-11-17 14:34] powersj commented on #12146
Hi - I have pinged the folks internally again, will get back to you shortly

[2022-11-17 15:55] srebhan commented on #12070
We cannot handle JSON nested in fields, so reopening this as feature request.

[2022-11-17 17:09] srebhan commented on #12070
@nicho2 can you please test the binary built in #12260 (once it's finished)!? With your input data I get
[code]
with the following config
[code]

[2022-11-17 17:20] powersj commented on #12146
@ake5 my PR was landed and the repos updated. Looking at the [stable repo](http://repos.influxdata.com/stable/) I now see folders for x390x, riscv64, and ppc64le for the RPM packages!

Can you confirm and let me know!

[2022-11-17 18:09] #8667 closed

[2022-11-18 07:06] prajyod commented on #12230
@Hipska / @srebhan any update?

[2022-11-18 07:08] prajyod commented on #12230
Or let me know If I can contribute to this feature.

[2022-11-18 07:28] ake5 commented on #12146
Yes, its working. Thank you very much !

[2022-11-18 07:28] #12146 closed

[2022-11-18 08:15] werjo-gridfuse commented on #11736
Hello, we are preparing a PR that will do this and is adding subject parsing like it's done in the mqtt_plugin.

https://github.com/gridfuse/telegraf/tree/feat_add_nats_subject_parsing

[2022-11-18 09:03] Hipska commented on #12230
Everybody is free to contribute to telegraf, we are happy to review your PR to implement this..

[2022-11-18 09:15] nicho2 opened #12261 "add capacity to reformat datas for mongodb output plugin"
### Use Case

Hello,
I have some datas with json nested fields , and i search to send it in mongodb in a json format

 3ddlmlite_diag_devices,device_id=00:80:E1:0B:14:31,host=FRL17172,type=diagnostic F4CE36DBF3AA2794="{\"shortAddress\": \"0000\", \"status\": \"online\"}" 00047400001212AC="{\"shortAddress\": \"AB1A\", \"status\": \"online\"}" 0000004740000AEFC89="{\"status\": \"offline\"}" 16686963

[2022-11-18 10:48] rasanentimo commented on #12257
here are more debugs related to the case, https://github.com/influxdata/telegraf/pull/12258/commits/d0c7391052cd7b7d356fc60823f4e4c2360cc76d
[code]

https://github.com/influxdata/telegraf/pull/12258/commits/5416caed7715aea53a2fee136bff83855a62fb0c

[code]

These test were run with following config
[code]

[2022-11-18 10:53] #12070 closed

[2022-11-18 10:54] rasanentimo commented on #12257
I tested this also with Arista (ceos:4.28.2F) which seem to work fine, https://github.com/influxdata/telegraf/pull/12258/commits/5416caed7715aea53a2fee136bff83855a62fb0c

[code]

[code]

[2022-11-18 11:44] rasanentimo commented on #12257
logs with https://github.com/influxdata/telegraf/pull/12258/commits/8ef9b46af2334868dfdbfa681e31194e85a98388

config
[code]

[code]

[2022-11-18 12:39] rasanentimo commented on #12257
logs with https://github.com/influxdata/telegraf/commit/8ef9b46af2334868dfdbfa681e31194e85a98388 & Arista ceos:4.28.2F

config

[code]

Logs

[code]

[2022-11-18 14:18] powersj commented on #12261
@srebhan can your recent change help in this case?

[2022-11-18 15:23] #10266 closed

[2022-11-18 17:13] nicho2 commented on #12261
Hello,
@srebhan's evolution have help me very very much (with mqtt) .
Now it's new request to can change format also in the mongodb output plugin.
Actually this plugin haven't this capacity

[2022-11-18 17:19] powersj commented on #12220
next steps: work through proposal

[2022-11-18 17:20] powersj commented on #12206
next steps: look at what is required to reduce interface

[2022-11-18 17:20] powersj commented on #12207
next steps: look at what is required to reduce interface

[2022-11-18 17:22] powersj commented on #12214
next steps: investigate what can be done to cancel the consumer group, or look to document the issue

[2022-11-18 20:22] whizkidTRW commented on #11903
Here's my production gNMI config for the Ciena's. We only have 5 devices in there currently.

`[[inputs.gnmi]]
  addresses = ["10.255.30.5:6702","10.255.30.6:6702","10.255.30.14:6702","10.255.30.33:6702","10.255.32.14:6702"]
  username = "XXXXXXX"
  password = "XXXXXXX"
  encoding = "proto"
  redial = "10s"
  enable_tls = true
  tls_ca = "/etc/telegraf/ca.cert.pem"
  insecure_skip_verify = true

[2022-11-19 07:26] jgeorge1234 commented on #11903
Is there any helpful links regarding the certificates. Who will provide
these certificates.
Is that we generate on the server where we installed telegraf.

Currently I have generated ca cert and .p13 certificates from server and
installed same on ciena device, but it's throwing certificate error

On Sat, 19 Nov 2022, 01:52 whizkidTRW, ***@***.***> wrote:

[2022-11-19 09:51] mikaelpeltier commented on #12213
Thanks, I did a quick test with the binary built by CI in https://github.com/influxdata/telegraf/pull/12248 and works as expected.

Indeed, plugin does not longer crashed.
[code]

And I can display result into influxdb dashboard

![graph](https://user-images.githubusercontent.com/12774819/202845147-2d8607ae-b180-490a-9c57-9446fd3955f1.png)

[2022-11-19 10:12] jgeorge1234 commented on #11903
error:

 [inputs.gnmi] Error in plugin: failed to setup subscription: rpc error: code = Unavailable desc = connection error: desc = "transport: authentication handshake failed: remote error: tls: unknown certificate authority"

[2022-11-19 10:16] jgeorge1234 commented on #11903
ca-key.pem
 ca-cert.pem   ca cert installed on ciena device
client-req.pem
 client-key.pem
 client-cert.pem
 client-cert.p12   --- certificate instaled on ciena device

certificates generated from server on which telegraf is installed

[2022-11-19 13:45] giddyhup opened #12263 "Agent ignores DNS settings, tries Google DNS instead"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

 Telegraf 1.22.1, Raspbian 10 (buster), local DNS set via /etc/resolv.conf

### Docker

_No response_

### Steps to reproduce

1. High wifi latency
2. Local InfluxDB slow/hard to reach
3.
...

### Expected behavior

Use system DNS setting

### Actual behavior

Google DNS is queried (which is blocked in my network)

[2022-11-19 15:25] whizkidTRW commented on #11903
I don't understand. The error is happening when parsing the path, why do you need the certs?

Just turn off verification with insecure_skip_verify = true

[2022-11-19 17:43] jgeorge1234 commented on #11903
I have configured same as per the configuration shared by you.

And I am getting below error

telegraf error:

[inputs.gnmi] Error in plugin: failed to setup subscription: rpc error: code = Unavailable desc = connection error: desc = "transport: authentication handshake failed: remote error: tls: unknown certificate authority"

looks like thats the tls certificate related.

i have followed the bel

[2022-11-19 18:01] whizkidTRW commented on #11903
As far as I know, the certs came with Telegraf. We didn't have to put any certs on the Ciena devices.

[2022-11-19 18:41] jgeorge1234 commented on #11903
can you confirm whether there is any config we need to do on ciena device ?

Also I cannot find these certificates.

tls_ca = "/etc/telegraf/ca.cert.pem"
tls_cert = "/etc/telegraf/client.cert.pem"
tls_key = "/etc/telegraf/client.key.pem"

[2022-11-21 12:20] neelayu opened #12264 "Support for CREATE watch event for `config-directory`"
Currently, when the telegraf starts with `--config-directory` flag and with `--watch-config=<poll | inotify>`, it expects `*.conf` files to be present in that directory. That means, the watch events for only those files are recorded which are already present at the time of telegraf execution.

In case, we add a new file to the directory, telegraf doesn't pick up that change. This is because, the `

[2022-11-21 16:50] rasanentimo commented on #12257
based on the initial tests, https://github.com/influxdata/telegraf/pull/12258 fixes the issue

[code]

[2022-11-21 17:37] MichaelMichaelMichaelMichaelMichael opened #12265 "telegraf: Error running agent, plugin inputs.http - configuration specified the fields ["tag_keys"], but they weren't used"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Ubuntu 22.04.1 LTS, docker 20.10.17, telegraf 1.24.3

### Docker

[code]

### Steps to reproduce

1. docker compose up
(using portainer though)

### Expected behavior

no occurence of error "configuration specified the fields ["tag_keys"], but they weren't used"

### Actual behavior

- image exiting with error fro

[2022-11-21 18:09] #12192 closed

[2022-11-21 18:09] #9239 closed

[2022-11-21 19:09] #12213 closed

[2022-11-21 19:56] #11952 closed

[2022-11-21 19:59] #12257 closed

[2022-11-22 02:57] xinmos opened #12270 "input.cisco_telemetry_mdt: missing some important data"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

telegraf 1.24.3

### Docker

_No response_

### Steps to reproduce

Cisco IOS XR Software, Version 7.3.1
Telemetry Model Driven Configuration:
[code]

### Expected behavior

I got these data: (PS: All real ip addresses are replaced with 192.1.1.*)
[code]
But real telemetry fileds like this:
[code]

### Actual beha

[2022-11-22 08:33] adriankurtasinski commented on #10087
@MichaelTharwat did you manage to solve this issue?

[2022-11-22 08:48] MichaelTharwat commented on #10087
unfortunately no , However when check PCAP file data from Router side we can see all data related to hierarchy QoS is sent

[2022-11-22 10:45] srebhan commented on #12141
@lfarkas I don't see your point. Let's take a look at the resulting **metrics** instead of the modbus configuration. There are multiple variations of what you want, I'll show two which I used myself. The first one is to have what I call a _sensor-centric_ view, where you put all fields in one measurement (basically your last example) and get a measurement like
[code]
This has the advantage that yo

[2022-11-22 11:55] srebhan commented on #12230
@prajyod we are assigning the issues as soon as we are working on them. As you can see we have some of those feature-requests, so you can speed-up things by submitting a PR (or find someone who does) or help with other issues to free some time for us. Hammering with "any update" requests is certainly not reduce our workload. ;-)

[2022-11-22 14:08] aymanrb commented on #12099
Since (un)fortunately the data source I want to query is in Elasticsearch 7 and would like to have telegraf support it so we keep the tool we use for collecting all metrics.

I tried to fiddle around quickly with it today and could get it to run against my datasource using the changes in [this commit](https://github.com/influxdata/telegraf/commit/405d3951d1770855f75f87afefe4bcb9a817d34a) with the

[2022-11-22 14:13] thias commented on #12129
Given how GitHub reports "1k" open issues for consul, I didn't really have high hopes :disappointed: This bug clearly still exists as of current versions of telegraf and consul.

[2022-11-22 15:07] Hipska commented on #6330
@LeadingMoominExpert can you have a look at PR #11872?

[2022-11-22 18:09] #12200 closed

[2022-11-22 18:09] #7172 closed

[2022-11-22 18:09] #7109 closed

[2022-11-22 18:32] srebhan commented on #174
Heads-up: I added Netflow v5 support and finished IPFIX. Example data for Netflow v5 is welcome to add a test-case.

[2022-11-23 00:53] brightonli commented on #12114
Hey @powersj. Sorry about the wait. Had some issues with the VM I was working on.
Here is the data from the new commit
[fix-12139-debug-3.zip](https://github.com/influxdata/telegraf/files/10072151/fix-12139-debug-3.zip)

[2022-11-23 03:37] prajyod commented on #12230
@srebhan : Sure I will try to work on this.

[2022-11-23 10:29] jrventer commented on #11903
I see same issue with Huawei NE40 device. They do not implement origin so the path contains a ":".

[telegraf] Error running agent: starting input inputs.gnmi: invalid string path /huawei-ifm:ifm/interfaces/interface/mib-statistics: invalid node name: "huawei-ifm:ifm"

When I use gnmic to subscribe it works and I start receiving data.
gnmic -a 192.168.33.164 -u xxxx -p 'xxx' --skip-verify sub --mo

[2022-11-23 11:05] rhowe opened #12271 "Support for exposing container memory reservation in ECS"
### Use Case

Currently the ecs input plugin exposes memory usage data and also the container/task memory limit. These are exposed via the docker stats endpoint.
It would be extremely useful to also know about the memory reservation (soft limit) and (optional) CPU reservation associated with each container, as this is one of the primary drivers for resource allocation within ECS and can help detec

[2022-11-23 11:36] rhowe commented on #12271
AWS feature request: https://github.com/aws/containers-roadmap/issues/1893

[2022-11-23 11:57] srebhan commented on #11903
@whizkidTRW and @ddichev-hub can you please test PR #12272? CI will build a binary for you... Let me know if it fixes the issue!

[2022-11-23 12:01] srebhan commented on #8783
@jrametta and @veorlo can you please test a nightly build or the binary in PR #12258? Let me know if it fixes your problem!

[2022-11-23 12:11] srebhan commented on #9590
@EricRemote any news on this issue? Does it still crash?

[2022-11-23 12:16] srebhan commented on #9806
@doxuanquang does this issue still exist with current Telegraf?

[2022-11-23 12:18] srebhan commented on #11879
@peterbaumert can you please output the collected metrics as influx-line-protocol e.g. by adding another `outputs.file` instance with `data_format = "influx"`!?

[2022-11-23 12:24] srebhan commented on #8694
@norrisjeremy and @mousedownmike is this still the case for the latest version of telegraf?

[2022-11-23 13:44] jrventer commented on #11903
@srebhan I have tested #12272 and that fixes the issue with path validation. So I do not see the invalid node name anymore. Also now as per the updated debug logs below it seem to be parsing the path correct. I however still have issue that the subscription is rejected by the router. When I compare with the gnmic request the main difference is the empty prefix that is included in the request. Coul

[2022-11-23 13:54] srebhan commented on #11903
@jrventer would you be so kind and open another issue for this!? Otherwise we get lost here. Feel free to ping me in the new issue.

[2022-11-23 14:08] jrventer commented on #11903
Ok will open new issue for the prefix issue.

[2022-11-23 14:23] jrventer opened #12273 "gnmi plugin adds prefix with no content when building subscription"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.25.0-c3562ae8 with PR#12272 fix, mcr.microsoft.com/devcontainers/go:0-1.18-bullseye

### Docker

_No response_

### Steps to reproduce

1. establish GNMI connection with Huawei NE40 router v8.21
2. Subscribe to the following path without origin - "huawei-ifm:ifm/interfaces/interface"

### Expected behav

[2022-11-23 14:46] jrventer commented on #12273
I have tried that initially. That would have also allowed me not to hit the other path validation issue. The errors are not very helpful but from all the reading I have done it seems like they did not implement origin. Below the log output with origin config.

[code]

[2022-11-23 14:50] jrventer commented on #12273
@srebhan did another test now with the prefix hashed out and origin config and with prefix removed the log is more clear.

[code]

[2022-11-23 14:51] whizkidTRW commented on #11903
Sven, I’m running Telegraf in a container and not sure how to test that PR.
I’m more than happy to if someone can show me how.

Thanks!

On Wed, Nov 23, 2022 at 8:08 AM Rudolf Venter ***@***.***>
wrote:

--
Todd Witten
***@***.***

[2022-11-23 18:09] #12210 closed

[2022-11-23 18:09] #12209 closed

[2022-11-23 18:39] jrventer commented on #11903
Hi @whizkidTRW You can try use this Dockerfile to compile a built version with the PR:
**Dockerfile**
[code]
Run:
`docker build -t srebhan/telegraf:gnmi_issue_11903 .`

then use "srebhan/telegraf:gnmi_issue_11903" as the container name once you built it

[2022-11-23 18:46] srebhan commented on #11903
@whizkidTRW you can also download the static binary for your arch (it's only one file without dependencies) and run it in your existing container e.g. by providing it in a mount-point or downloading it in the container.

[2022-11-23 18:47] srebhan commented on #11903
@jrventer please note that you should use go 1.19 as this is the current requirement for building Telegraf. :-)

[2022-11-23 19:16] whizkidTRW commented on #11903
Thanks Rudolf & Sven. I'll try the binary as soon as I can, might be
Monday, but I'll certainly get back to you on it.

Todd Witten
***@***.***

On Wed, Nov 23, 2022 at 12:47 PM Sven Rebhan ***@***.***>
wrote:

[2022-11-23 19:22] jackbenimble999 opened #12287 "Directory Monitor Input Plugin on Windows doesn't move file to "done" folder after writing data to influx."
I'm trying to get some test data written into the InfluxDB using the Directory Monitor Input Plugin.
However, it doesn't seem to be working - I keep getting this error message:
2022-11-22T16:32:40Z E! [inputs.directory_monitor] Failed removing original file: remove C:/influxDirectoryMonitor/input/testData3.txt: The process cannot access the file because it is being used by another process
I'm not

[2022-11-23 19:31] whizkidTRW commented on #11903
I was able to pull it down into my Telegraf container and test. It does parse the config and subscribe, but now the errors are different and it still doesn't return valid data. I'm attaching the output. I exported just the Ciena relevant sections of my main telegraf.conf file to telegraf-ciena.conf and tested with that using --test-wait 30

[telegraf-ciena.log](https://github.com/influxdata/telegr

[2022-11-23 20:00] jrventer commented on #11903
Thanks I have updated was mostly building plugin that was based on telegraf 1.20 so adapted from that environment which was using older golang version.

[2022-11-23 20:08] srebhan commented on #11903
@whizkidTRW thanks for testing! Can you please open another issue for this so others can find the issue if they experience similar problems... It would also be helpful to provide debug output (running telegraf with `--debug`) for the new issue.

[2022-11-23 20:15] whizkidTRW commented on #11903
Absolutely. Will do shortly.

Todd Witten
***@***.***

On Wed, Nov 23, 2022 at 2:08 PM Sven Rebhan ***@***.***>
wrote:

[2022-11-23 20:54] srebhan commented on #174
Can anybody give #12108 a test with real hardware/in a real environment please and let me know how that goes?

[2022-11-23 21:14] jrventer commented on #12273
Thanks tested and working.

[2022-11-23 21:24] jammiemil commented on #174
I'll get the updated binary dropped in over the next few days to check. We had the previous version running and _most_ v9 stuff seemed ok (Waiting on details of what didnt work 100%), a pcap was generated for v5 but as the binary now exists ill get it tested live

[2022-11-23 21:59] sajoupa opened #12276 "socket_listener input plugin leaking tcp connections"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Ubuntu 22.04.1

### Docker

_No response_

### Steps to reproduce

1. Enable the inputs.socket_listener plugin (no specific option)
2. Check the TCP connections on port 8094:
[code]
3. open/close connections to the port on which socket_listener is listening:
`for i in $(seq 1 5) ; do nc -vz -w 3 localhost 8094 ; d

[2022-11-23 23:38] EricRemote commented on #9590
@srebhan hello Sven, sorry but in the meantime I changed company and I'm not able to test anymore :(

[2022-11-24 06:03] gssprakash opened #12277 "Telegraf output plugin for postgresql"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

telegraf 1.24.2  on windows 11

### Docker

_No response_

### Steps to reproduce

1. Just add the output plugin postgresql  with [outputs.postgresql]
2. enter the line host=localhost port=5432 user=postgres password=xxxxx sslmode=disable dbname=anydb
3. telegraf throws TOML error
...

### Expected behavior

No  T

[2022-11-24 08:27] srebhan commented on #12277
I'm pretty sure your line `host=localhost port=5432 user=postgres password=xxxxx sslmode=disable dbname=xxxxx` is the value for the `connection` option. Have you tried
[code]

Anyway, as the error message suggests, the config part you sent is _not_ vaild TOML!

[2022-11-24 08:29] maloy-ghosh opened #12279 "Drop influxdb measurement (with tags) from telegraf from starlark plugin"
### Use Case

- The underlying device streams add/del/update telemetry events.
- Currently I am collecting events via syslog and pushing dynamic metrics to influx via starlark plugin.
- **When the underlying agent is reset, old data is of no use.**
- **We want to drop series from influx measurement for this particular agent on this trigger.**

### Expected behavior

Measurements matching tags woul

[2022-11-24 08:31] srebhan commented on #12279
@maloy-ghosh maybe I didn't get your request, but are you expecting Telegraf to delete data from InfluxDB?

[2022-11-24 08:37] maloy-ghosh commented on #12279
@srebhan Yes (Delete old data from a specific measurement for the specific agent )

I was going through some old issue reports (https://github.com/influxdata/telegraf/issues/4884#issuecomment-431292226), where it was mentioned that telegraf cannot delete data from influx, it can only add.

Is it still the same?

[2022-11-24 09:25] gssprakash commented on #12277
Excellent .It worked .Thanks for your quick reply srebhan ..  Please add this an example here https://github.com/influxdata/telegraf/blob/release-1.24/plugins/outputs/postgresql/README.md

Also Iam looking for a way to use tags  with Postgresql output plugin .. using database_tag = "tag3"  for influxdb . How can I do this with postgres.

This tags are needed to push data into different databases .

[2022-11-24 10:00] srebhan commented on #12279
Yes. Telegraf is a **collection** agent! So deleting stuff on the output side will not happen. You can likely use [InfluxDB's tasks](https://docs.influxdata.com/influxdb/v2.5/process-data/) or retention policy.

Closing this issue as this is completely out-of-scope for Telegraf.

[2022-11-24 10:00] #12279 closed

[2022-11-24 10:51] srebhan commented on #12276
@sajoupa can you please test if #12280 fixes the issue for you? There will be some binaries built by CI for convenience.

[2022-11-24 11:04] srebhan commented on #12265
@MichaelMichaelMichaelMichaelMichael there is no such option named `tag_keys`! Where did you get this from and what are you trying to achieve?

[2022-11-24 11:23] srebhan commented on #12263
@giddyhup Telegraf's `outputs.influxdb_v2` does **NOT** hardcode _any_ DNS resolver nor does the agent. We solely rely on Golang's name resolving which, according to [its documentation](https://pkg.go.dev/net#hdr-Name_Resolution), uses the system settings in `/etc/resolv.conf`.

Also scanning through the code in https://go.dev/src/net/dnsconfig_unix.go, I can confirm that on Linux/Unix Golang uses

[2022-11-24 12:51] n3k232 commented on #802
Totally in need of a solution for this.

[2022-11-24 15:41] srebhan commented on #9590
@EricRemote no worries and thanks for the quick response!

Will close this for now. If anybody comes across this and the issue still persists, please reopen this issue or create a new one!

[2022-11-24 15:41] #9590 closed

[2022-11-24 17:16] srebhan commented on #12141
@SokoFromNZ no each request is exactly this "a request".

@lfarkas, all of the above can be done with one request! The first one is what you get if you you everything into one measurement and use the `name` properties to set the corresponding field name
[code]

the second example is similar

[code]

and similar for the last one (I think you see the pattern)...

If you do have combinatorics, you sh

[2022-11-25 08:33] sajoupa commented on #12276
Hi,

Thanks for the quick fix.
I installed the binaries on 3 machines, so far so good. Will let them run like this and let you know if I detect any issues.

--
Laurent

[2022-11-25 09:15] St3f1n commented on #11823
We have the same problem, and actually it is blocking us from updating telegraf further. If this issue does not get solved we will need to exchange our filecount plugin implementations with other solutions to allow us to update telegraf and all its other plugins. Unfortunately i don't see an easy solution to replace our filecount implementations, which makes it important to get a solution here.

A

[2022-11-25 10:06] haeiven opened #12283 "Proxmox quorum status"
### Use Case

Actually, the proxmox input plugin is only to gather VMs info, but do not give any informations about the cluster state.

Reporting the quorum state and stats about votes, etc... would help to create alerts.

### Expected behavior

Reporting VMs stats + quorum state (and probably some other stats)

### Actual behavior

Reporting VMs stats

### Additional info

_No response_

[2022-11-25 10:08] srebhan commented on #12277
Please use the [community forums](https://community.influxdata.com/c/ts-collect/6) or our [Slack channel](https://www.influxdata.com/slack) for these kind of questions!

Closing this issue as this is not a bug. :-)

[2022-11-25 10:08] #12277 closed

[2022-11-25 10:15] Hipska commented on #2809
Hi @knackjax, would you be able to test the artefacts from this PR #11872?

[2022-11-25 11:24] SamSkjord commented on #11823
As an interim solution I've been using exec with a python script:
[code]

exec_count.py
[code]

Quick and dirty but it works

[2022-11-26 12:49] shriramb380 commented on #3832
@powersj Orange has raised this and wanted to know if this can be prioritised in the coming releases. Let me know if you have any ETA. Thanks
https://influxdata.lightning.force.com/lightning/r/Case/5001S00001dETxEQAW/view

[2022-11-27 13:02] giddyhup commented on #12263
Please accept my apologies for blaming Telegraf. Sorry for the wild goose chase. If you want to you can delete this issue.

I analyzed the behavior over a few days and it seems that it was caused by the resolvconf package (or residues thereof).

Resolvconf appeared as not installed and when I checked /etc/resolv.conf the file contained the proper internal DNS settings. But the file also showed wri

[2022-11-27 20:12] lfarkas commented on #12141
@srebhan do you mean in the last example like this?:
[code]

[2022-11-28 08:18] St3f1n commented on #11823
Thank you for this interim solution proposal.

However, i'd really prefer to get a fix of this issue to avoid the effort of such a workaround and a rough timeline for this would be appreciated.

[2022-11-28 09:18] sajoupa commented on #12276
Hi @srebhan, it's been running fine over the weekend. I couldn't see any sockets leaked, nor any new issue.

[2022-11-28 09:33] maraswrona commented on #10621
I also have run into the same issue. At the moment in my deployment I have ~40k fields in this measurement. It is simply unusable in tools like chronograf or grafana which try to list all the possible field keys and hang / block for a while, not to mention that scrolling through 40k lines and finding what you need is very impractical.

According to InfluxDB best practices you should not be encodin

[2022-11-28 11:19] severindellsperger opened #12286 "Cisco Model-Driven Telemetry (MDT) Input Plugin: Doesn't support/recognize Event-Driven Telemetry (EDT) Delete Messages"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.15-alpine (Docker), Ubuntu 22.04.1 LTS

### Docker

The problem is not related to docker - anyway here is the `docker-compose.yml`:
[code]

Just to notice: the bug is also present in more recent telegraf version. But there the log message was removed, so we had to use the older version `telegraf:1.15-al

[2022-11-28 11:33] srebhan commented on #12286
@severindellsperger you might check the [delete field of the message](https://github.com/ios-xr/model-driven-telemetry/blob/7a4356e9cab814c8f88d2c6966ef283e090b5c31/protos/742/telemetry.proto#L136) here and issue a "delete" metric. Not sure how it should look like (i.e. which fields it should contain) though...

[2022-11-28 13:12] severindellsperger commented on #12286
Exactly, this was the idea I had. I will take a look at it and keep you posted about it.

[2022-11-28 14:29] #11903 closed

[2022-11-28 14:43] severindellsperger commented on #12286
Following is an example of how a metric could look when a delete message is sent.
It shows an example within the "openconfig-interfaces" model but could be similar in other models.
The important is that the `"delete": "true"` is set within the `"fields"` section.

[code]

[2022-11-28 15:01] #2809 closed

[2022-11-28 15:01] #6330 closed

[2022-11-28 15:01] #12276 closed

[2022-11-28 15:01] frankvdbh opened #12288 "--watch-config inside docker container ?"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.24 in docker container

### Docker

_No response_

### Steps to reproduce

1. Launch docker container with extra arguments --watch-config inotify (Same result with 'pull') and mapping of /etc/telegraf/telegraf.conf to a file on the host
2. Edit the file on the host

### Expected behavior

Expected to de

[2022-11-28 15:04] frankvdbh commented on #12288
My bad, it turns out that this works if I explicitly add the --config directive as well pointing to the config file.

[2022-11-28 15:07] goswamisandeep opened #12289 "Need to add available_physical_memory_kb in sqlserver_server_properties"
sqlserver_server_properties provided total_physical_memory_kb as server_memory , We have seen that available_physical_memory_kb is also a good metric to report .  I have made changes in telegraf and would like to submit it .

`> sqlserver_server_properties,active_node_ip=10.53.117.51,endpoint_uuid=9479db77-c9ce-48b5-56e9-2d689063fe50,hardware_type=HYPERVISOR,host=sandeep.goswaminutanix.com,measure

[2022-11-28 15:13] whizkidTRW opened #12290 "gnmi plugin: Subscribing to Ciena device - empty name for update path"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.25.0 PR #12272, Docker 20.10.5, Debian 11/bullseye

### Docker

  telegraf:
    image: telegraf
    container_name: telegraf
    restart: always
    volumes:
      - /opt/TIGstack/telegraf/etc:/etc/telegraf:rw
      - /opt/TIGstack/var/lib/mibs/ietf:/var/lib/mibs:rw
      - /opt/TIGstack/var/lib/mibs/ie

[2022-11-28 15:14] whizkidTRW commented on #12290
Full debug output.
[ciena-gnmi.log](https://github.com/influxdata/telegraf/files/10104977/ciena-gnmi.log)

[2022-11-28 15:48] whizkidTRW commented on #12288
How can you modify the container or docker-compose file to add this option when creating / updating new Telegraf containers?

[2022-11-28 17:10] powersj commented on #12263
Thanks for following up with the source!

[2022-11-28 17:10] #12263 closed

[2022-11-28 17:17] tjnome commented on #10621
Yeah I agree, but still don't have a good solutions. For my use case the "clients" data was complete unnecessary and best solution was to drop the data: _fielddrop = ["clients*"]_

[2022-11-28 17:47] ubaumann commented on #12286
Does the `field` key needs data, or could it be an empty object?

As a developer working with telemetry data, I prefer the data to be as static as possible. So I would like an empty object as `fields` and move the flag `delete` to `tags`.

So I would like to have something like:
[code]

The other option I would be okay with would be having the key `delete` in all the streaming data.

[2022-11-28 18:11] srebhan commented on #12287
@jackbenimble999 can you please test the binary built by CI in PR #12294 once it's finished and let me know if it fixes the issue?!?

[2022-11-28 18:18] srebhan commented on #12290
@whizkidTRW can you please provide the full error message, i.e. a complete path/message that fails!?

[2022-11-28 18:26] powersj commented on #12288
@frankvdbh - thanks for following up I am going to close this

@whizkidTRW - by default the telegraf dockerfile will only run `telegraf`. You can update the default command using the `command` option in your docker-compose file.

[2022-11-28 18:26] #12288 closed

[2022-11-28 18:46] powersj commented on #12129
Thanks for filing the issue!

I think one step we might be able to take here is convert the consul input to be a service input which as a specific `Start()` and `Stop()` function. The sighup I believe should call the `Stop()` to let us close the connection.

@srebhan what do you think?

[2022-11-28 19:19] powersj commented on #11823
Hi,

Thank you for taking the time to try the different versions and help us narrow down the source of the change.

There were no changes to the filecount plugin itself between [v1.23.3 and v1.23.4](https://github.com/influxdata/telegraf/compare/v1.23.3...v1.23.4). Looking at the other relevant changes it appears that https://github.com/influxdata/telegraf/pull/11574 updated the version of [godirw

[2022-11-28 19:29] powersj commented on #12099
Thanks for taking a stab at this.

I do not think this will work, per [this response](https://github.com/olivere/elastic/issues/1649#issuecomment-1252083011) and the [readme](https://github.com/olivere/elastic/#releases) which states the API version of the library needs to be the same as the version of the target elasticsearch server. I think we are currently getting lucky with using v5 with the v

[2022-11-28 19:49] powersj commented on #12271
Hi,

Thanks for opening the upstream feature request.

Outside of that feature request landing, you mentioned the possibility of collecting this data via reading the task definition itself. What endpoint and APIs would need to be hit for this?

[2022-11-28 19:51] powersj commented on #12283
Hi,

Can you specify which APIs, specific values, and permissions might be needed to gain this information?

Thanks!

[2022-11-28 19:55] powersj commented on #12270
Hi,

Can you specify which fields you want to collect?
How should that data look like in InfluxDB?

For example, looking at these `output-protocol` values:

[code]

These are not easily stored without additional detail as to what those bytes and packets belong to.

Thanks!

[2022-11-28 19:58] #12273 closed

[2022-11-28 20:05] rhowe commented on #12271
It would require calling the AWS ECS API's `DescribeTaskDefinition` method with the ARN of the task definition (which I think can be read from the ECS task metadata)

[2022-11-28 21:04] whizkidTRW commented on #12290
@srebhan, all of the output I get is in the attached log. It appears that *any* element returned is generating this error.

[2022-11-28 21:18] whizkidTRW commented on #12288
@powersj Thank you Joshua! I'll look that up.

[2022-11-28 21:22] powersj commented on #12114
That looks like a step backwards from the first and second debug output :( I need to look at what this is trying to do in more detail.

Do you know if I can use the simulator to reproduce this? This would be much easier to understand and debug with that, rather than trying to do this back and forth and then try to pick this up each week.

[2022-11-28 23:09] haeiven commented on #12283
Hello,

https://pve.proxmox.com/pve-docs/api-viewer/#/cluster/status

This can return a cluster state or a node status, depending if it's running in a cluster or no.

Needed informations if cluster:
- online
- nodes
- quorate
- version

needed permission: Sys.Audit in /

Best regards,

[2022-11-28 23:45] blockloop opened #12300 "Plugins can replace global_tags"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Telegraf 1.24.2, Ubuntu

### Docker

_No response_

### Steps to reproduce

1. Set global_tags
2. run telegraf with any input that accepts tags
3. emit a metric with a global_tag set to something different
4. observe the tag from global tags is overridden
...

### Expected behavior

global_tags should be static an

[2022-11-29 04:01] jgeorge1234 commented on #12290
can someone help on the certificates.

  tls_ca = "/etc/telegraf/ca.cert.pem"
  insecure_skip_verify = true
  tls_cert = "/etc/telegraf/client.cert.pem"
  tls_key = "/etc/telegraf/client.key.pem"

I used self signed certificates but its throwing error unknown Certificate authority error

[2022-11-29 07:05] Tuxdiver commented on #11823
I can confirm, that the filecount plugin on our "Windows Server 2019 Standard":

* 1.24.2 does not work
* 1.23.3 works
* your version from #12295 works

Thanks for your investigations!

[2022-11-29 13:06] srebhan commented on #12287
Tested on a Windows machine and do not get the error with the fixed version.

[2022-11-29 13:06] #12287 closed

[2022-11-29 13:16] severindellsperger commented on #12286
We've discussed the following things in the slack channel.
It seems that it is [not allowed to set an empty "fields object"](https://docs.influxdata.com/influxdb/v2.2/reference/syntax/line-protocol/#elements-of-line-protocol). Thus, we can not stick with the delete-tag solution.
So, from a developer's point of view, it seems to be the best solution if the delete info is always included in the fiel

[2022-11-29 13:32] powersj commented on #12300
The [configuration docs](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#global-tags) specifies the opposite: global tags are overridden by tags set by plugins.

This would have implications around cardinality for some outputs and is quite the change in behavior. While we could put this behind an option your existing workaround via the use of processors is a preferred solu

[2022-11-29 13:34] srebhan commented on #12099
@powersj and @aymanrb there are multiple issues I see here. First of all, as @powersj said, you should **additionally**
import
[code]
and _not_ replace the existing client. While I'm not 100% sure about the compatibility I guess there is a reason why we see client versions matching server versions...
The second issue I see is that `github.com/olivere/elastic` is deprecated according to the GitHub

[2022-11-29 13:34] powersj commented on #12283
Thanks for the pointer to the docs and what info might be useful

Is this the same as "PVEAuditor" that we document in the permissions section of the plugin readme?

[2022-11-29 13:37] srebhan commented on #12129
@powersj I agree, we should add a `Start()` and `Stop()` implementation, making this a mix between service and pull plugin.

[2022-11-29 14:03] srebhan commented on #12290
@jgeorge1234 how is your message related to this issue?

[2022-11-29 14:05] srebhan commented on #12290
@whizkidTRW it stops after `empty name for update path:{origin:"Ciena" `??? Leaving the brackets open? I need the complete part here to reproduce and debug the problem locally.

[2022-11-29 14:24] blockloop commented on #12300
Ah, thank you. I missed that part of the doc. Is there a better way to force a single tag outside of the trick I used?

[2022-11-29 15:19] srebhan commented on #12290
@whizkidTRW it seems like your device replies with a different **origin**  (`Ciena`) compared to your subscription... Just for me to understand, why do you put another origin in the path instead of using
[code]

[2022-11-29 15:43] whizkidTRW commented on #12290
Great question! I have inherited this setup from a coworker who is no longer with the company . . . It was working this way pre 1.24.0 but I wondered that myself. When changing the 5 subscriptions to match your suggestion, I no longer get errors but I don't get any output either:

r```
oot@6c3462af89b0:/usr/local/src/telegraf-1.25.0/usr/bin# ./telegraf --config /etc/telegraf/telegraf-ciena.conf --

[2022-11-29 16:07] whizkidTRW commented on #12290
Success! After trying various combinations of origin and paths, it appears that for Ciena SAOS 10.x, the Origin has to be "Ciena" and the path must include oc-if at each branch. Debug output and sample config below.

@srebhan, is this expected behavior per the code because the Ciena boxes are just weird or is this still a bug?

[code]

Config (I shortened the subscriptions down to one for path tes

[2022-11-29 16:38] aymanrb commented on #12099
Yes sure, I definitely didn't mean we should remove the older version clients (was curious already about how did v5 work for v6 servers, yes absolutely we need to keep the support for all versions).

What I have in that commit was more of a quick check on what's needed (not an actual implementation), and as I found out it's not only the client package version that needs to be changed, I had to do

[2022-11-29 17:12] QuentinM-Hilbtec opened #12303 "telegraf-1.24.4-1.x86_64.rpm is not signed"
### Relevant telegraf.conf

[code]

### Logs from Telegraf

[code]

### System info

Red Hat Enterprise Linux 8.5 (Ootpa)

### Docker

N/A

### Steps to reproduce

Brand new RHEL8.5 server.

### /etc/yum.repos.d/influxdb.repo
[code]

### Yum

[code]

### Expected behavior

Yum (& our Ansible playbooks) are able to install telegraf.

### Actual behavior

Yum is unable to install Telegraf due to sig

[2022-11-29 17:27] powersj commented on #12303
@bnpfeife did something change with the CI process that we need to do?

[2022-11-29 17:34] bnpfeife commented on #12303
I modified the release process to not re-upload signed packages. I suspect something isn't right with that. I'll look into this right now.

[2022-11-29 17:57] srebhan commented on #12290
@whizkidTRW I'd say it's expected behavior. We need a way to relate an update-response with the subscription and that's usually done using that path (including prefixes and origin). So an empty measurement name indicates that we were not able to build-up the above relation...

I'll change the text of the message a bit and change it from error to warning to allow the `name_override` workaround...

[2022-11-29 18:23] haeiven commented on #12283
i think yes, i can't verify right now.

[2022-11-29 19:14] whizkidTRW commented on #12290
@srebhan That works for me! Thanks again for your help on this, I look forward to getting Telegraf 1.25 in to production as soon as it's ready.

[2022-11-29 20:51] chrishoage commented on #11738
Would be nice if this was replaced with `hdparm -H`

https://man7.org/linux/man-pages/man8/hdparm.8.html

While only Hitachi/HGST/WD drives support this those cover a large amount of drives, and not needing the drive to be spun up is very valuable to be able to monitor temperatures while allowing the spindown of drives for power or noise reasons.

Example output

[code]

[code]

[2022-11-29 22:07] Hipska commented on #12303
I'm getting a different message if that matters:
[code]

[2022-11-29 22:15] powersj commented on #12303
@bnpfeife I also see checksums do not match, do we need to regen something?

[code]

[2022-11-29 22:20] nerijus commented on #12303
`createrepo` should be enough.

[2022-11-30 08:21] khushboo121 commented on #12303
We are facing the same error, is there anyway to select telegraf 1.23 version :
`ownloading packages:
telegraf-1.24.4-1.x86_64.rpm   FAILED                                               64% [==============================================-                          ]  23 MB/s |  26 MB  00:00:00 ETA
https://repos.influxdata.com/rhel/7/x86_64/stable/telegraf-1.24.4-1.x86_64.rpm: [Errno -1] Package doe

[2022-11-30 08:25] Hipska commented on #12303
@khushboo121 Please convert it to a code block with 3 ` ticks. And yes, you just need to run `yum install telegraf-1.24.3`.

[2022-11-30 10:29] khushboo121 commented on #12303
@Hipska thanks it worked.

[2022-11-30 10:48] paulbrimicombe commented on #12303
Just in case this is helpful, these steps can be used to reproduce the issue (might help with testing any fixes):

Run CentOS 7 in a docker container:

[code]

Then add the InfluxDB repository, import the GPG key and attempt to install the RPM:

[code]

[2022-11-30 11:08] nerijus commented on #12303
Most probably running `createrepo` in the repo dir should be enough - should be an easy fix for repo admins.

[2022-11-30 11:09] #12290 closed

[2022-11-30 11:48] Hipska commented on #11925
@LukeWinikates It seems you fixed the bug upstream, can you also create a PR here to update wavefront module to newest version?

[2022-11-30 12:04] srebhan commented on #12141
@lfarkas exactly.

[2022-11-30 14:03] powersj commented on #12300
Not at this time.

Right tagexclude is filtering that happens at the very end of a plugin.

[2022-11-30 14:51] powersj commented on #11925
PR to update the dep: https://github.com/influxdata/telegraf/pull/12309

[2022-11-30 15:08] #10219 closed

[2022-11-30 15:20] srebhan commented on #12099
Having an option also sounds good.

[2022-11-30 16:37] skotekar opened #12311 "Allow Config Path/URL to be specified using environment variable"
### Use Case

When running telegraf in a docker container or via docker compose file, we cannot specify the --config command line option.
For such cases it will be useful to read the config file path (mostly for URL based remote path) via an environment variable.

### Expected behavior

Allow remote config path/url to be specified via environment variable.

### Actual behavior

Remote config path/

[2022-11-30 17:29] powersj commented on #12311
if you run the telegraf binary by itself it will tell you where it looks for configs by default:

[code]

[2022-11-30 17:29] #12311 closed

[2022-11-30 17:55] powersj commented on #11823
I have got a reproducer outside of Telegraf using code from the godirwalk own examples  and filed https://github.com/karrick/godirwalk/issues/70

I will wait to see if I get a response before we either land the revert.

[2022-11-30 18:09] #9022 closed

[2022-11-30 19:01] nsandhu-godaddy commented on #10184
oh man! I am running into the same issue. It would be really nice to be able to merge the metrics generated by basicstats. I am trying to calculate a mean of multiple metrics and was hoping to combine all the averages into one metric. It could be:

[code]

`usage_system_mean` is the mean calculated by basicstats from cpu input metric.
`usage_percent_mean` is the mean calculated by basicstats from

[2022-11-30 19:52] powersj commented on #12303
Thanks @bnpfeife it looks like this has been resolved:

[code]

[2022-11-30 19:52] #12303 closed

[2022-11-30 21:18] gregarndt opened #12313 "inputs.statsd - Increasing number of UDP pending messages dropped"
### Please direct all support questsions to slack or the forums. Thank you.

Opening up this ticket in response to discussing the issue on slack.  The issue is that despite setting allowed pending messages to a very large number like 1.5M, we're still dropping UDP packages and unsure why.  There was the suggestion that perhaps there were not enough parsers available to drain the channel before pac

[2022-11-30 21:37] srebhan commented on #12313
@gregarndt can you please add your (redacted) config for the `statsd` plugin?!

[2022-11-30 21:44] gregarndt commented on #12313
Here is our statsd plugin config:

`# Telegraf Configuration
#
# Telegraf is entirely plugin driven. All metrics are gathered from the
# declared inputs, and sent to the declared outputs.
#
# Plugins must be declared in here to be active.
# To deactivate a plugin, comment out the name and any variables.
#
# Use 'telegraf -config telegraf.conf -test' to see what metrics a config
# file would genera

[2022-11-30 21:45] gregarndt commented on #12313
Here is our statsd config:

[code]

[2022-11-30 21:45] srebhan commented on #8783
I'm closing this issue as the problem is likely fixed with PR #12258. If the problem still persists, please feel free to reopen the issue or to create a new one.

[2022-11-30 21:45] #8783 closed

[2022-11-30 21:48] srebhan commented on #12290
@jgeorge1234 if you do have problem with GNMI and certificates, please open a separate issue! Mixing different bugs/topics makes it hard to follow the information and makes it hard for us to work on the matter.

[2022-11-30 21:50] srebhan commented on #12300
@blockloop a PR to configure the precedence would be welcome... :-)

[2022-11-30 21:51] srebhan commented on #12300
@blockloop and as a workaround, you could add an [override processor](https://github.com/influxdata/telegraf/tree/master/plugins/processors/override) to override the plugin tags with what you want instead of using global tags...