[2016-10-01 03:32] phemmer commented on #1833
Can you show your configuration please?
The error means that you have telegraf configured to read an integer, but your snmp agent is returning a string.

[2016-10-01 11:55] runsisi commented on #1657
i m running a Ceph Jewel cluster, i think adding `telegraf` to `ceph` group is not enough, e.g.,
[code]
[code]
if i add `w` permission for `ceph` group, then everything works as expected, e.g.,
[code]

[2016-10-01 17:08] daviesalex commented on #1724
I really defer to @sparrc on the timing of when this should be put back to full functionality in telegraf ; we also want to use this data, but the issue with this plugin (and procstat, which was also fixed in a similar way) is that you can very easily inject sufficient data to really screw up your InfluxDB as things stand today. That is why this change was made I believe.

From our POV, we have de

[2016-10-01 20:57] grisu-cl opened #1835 "SNMP - problems with emtpy string"
## Bug report
Hi,
i am querying interfaces from a switch and i set the ifAlias as tag
If ifAlias is empty no tag added

so far so good,
but sometime a get the ifAlias added with an empty string

it seems like (given that ifAlias is empty) :
- using inputs.snmp.fields i always get the empty tag
- using inputs.snmp.table i only get an empty tag if it is the last return-value of the bulk-response
- a

[2016-10-02 10:07] sparrc commented on #1834
could you try setting `context = /jolokia/read`?

[2016-10-02 10:08] sparrc commented on #1800
that doesn't answer the question of whether the env vars are accessible to the telegraf user

[2016-10-02 10:26] sparrc commented on #1834
Also the telegraf plugin sends a POST request to jolokia, so try

[code]

or you may need to send the read request as data in the POST:

[code]

[2016-10-02 12:51] Maksadbek commented on #870
@burdandrei @lnkisi
Can you provide sample DSN that reproduces this bug ? A password with ```%j+``` sequence works fine for me.

[2016-10-02 17:45] winstonsimon commented on #1834
I'm getting following error while posting:

[code]

[code]

Is this jolokia configuration issue? Do you have any latest example that I can use to configure jolokia or to get Jvm stats?

[2016-10-02 19:15] burdandrei commented on #870
@Maksadbek well this is strange,
I just tried this ```   servers = ['ttt:1%j+2@tcp(production.db.com:3306)/'] ``` and this worked for me in 1.0
@lnkisi can you please share your DSN?

[2016-10-03 03:05] phemmer commented on #1835
I cant see anything in the snmp code which might cause this. I suspect it's an issue with the underlying gosnmp library.
However I might argue that the empty tag is the right behavior. If the snmp agent returns an empty string, then telegraf should also report empty string. Only if the snmp agent reports no such object should we omit it.

Now I might not be opposed to an option to control the beha

[2016-10-03 12:19] sparrc commented on #1834
your Jolokia instance needs to support POST requests. I'm not very familiar with Jolokia configuration but the best I can do is point you towards this: https://jolokia.org/reference/html/protocol.html#request-response

I'm going to change this to a documentation issue because this has been a source of confusion for other users as well.

[2016-10-03 12:21] sparrc commented on #1834
The Jolokia plugin documentation needs to be updated to inform users that their Jolokia endpoint must support POST requests.

This should be both in the sample configuration and in the README. The README should also give a few `curl` examples to test connectivity and debug.

@saiello Since you made this change to use POST requests, and know more about Jolokia configuration than I do, I'd appreciat

[2016-10-03 12:34] dragonxtek opened #1837 "is not defined in `*snmp.Snmp'"
I'm trying to execute snmp plugin, but I can't. I tried with examples in https://github.com/influxdata/telegraf/tree/master/plugins/inputs/snmp_legacy
I used default configuration and I change the input configuration by the follow:
For the first input plugin:

[[inputs.snmp]]
  [[inputs.snmp.host]]
    address = "127.0.0.1:161"
    # SNMP community
    community = "public" # default public
    # S

[2016-10-03 12:38] sparrc commented on #1837
please use the updated snmp plugin: https://github.com/influxdata/telegraf/tree/master/plugins/inputs/snmp

where did you find a link to the old plugin? it was deprecated in 1.0

[2016-10-03 12:38] #1837 closed

[2016-10-03 12:56] dragonxtek commented on #1833
The configuration file is this (available on [https://github.com/influxdata/telegraf/tree/master/plugins/inputs/snmp](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/snmp))

  agents = [ "127.0.0.1:161" ]
  version = 2
  community = "public"
  name = "system"
  [[inputs.snmp.field]]
    name = "hostname"
    oid = ".1.0.0.1.1"
    is_tag = true
  [[inputs.snmp.field]]
    name =

[2016-10-03 13:03] dragonxtek commented on #1837
I found it googling
I'm trying lot examples because none works for me.
I created the issue #1833 with the updated snmp plugin. Please help me
Thanks

On Mon, Oct 3, 2016 at 9:38 AM, Cameron Sparr <notifications@github.com>
wrote:

[2016-10-03 14:19] zargex commented on #1668
I think if the procstat plugin had the pid field key as tag key, it wouldn't be this problem.

[2016-10-03 16:41] #1786 closed

[2016-10-03 16:50] sparrc opened #1840 "Telegraf logger should send to windows event log"
self-explanatory, in the telegraf logger package: https://github.com/influxdata/telegraf/blob/master/logger/logger.go

We should probably have a windows Writer which will determine the log level of the incoming message, and then call the appropriate Error/Warning/Info function of the kardianos/service logger: https://godoc.org/github.com/kardianos/service#Logger

[2016-10-03 16:51] sparrc commented on #1786
https://github.com/influxdata/telegraf/pull/1838 added the ability to specify the logfile as a configuration option.

I've created a separate issue for sending to the Windows event log: https://github.com/influxdata/telegraf/issues/1840

[2016-10-03 21:25] viswa-devops947 opened #1841 "Telegraf has docker container"
Hi,

I am running Telegraf has docker container in my environment.
currently it is getting disk usage of container not the Host.
How can i get the Host level metrics?

I mount /proc to /rootfs/proc for docker container.

in telegraf.conf

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs"]

[[inputs.diskio]]

Thanks,
 Viswa.

[2016-10-03 21:46] brunomvsouza opened #1842 "Given a valid connection string, the MySQL plugin isn't working as expected"
## Bug report

### Relevant telegraf.conf:
[code]
### System info:

- Telegraf 1.0.0
- Ubuntu 14.04.4 LTS

### Steps to reproduce:

1. With a MySQL server configured with the given DSN string
2. Restart the service to apply the new configuration
3. Check the error log
4. 💣

### Expected behavior:
No errors in the error log.

### Actual behavior:
Error being shown in the error log.

ERROR in input

[2016-10-03 22:36] sparrc commented on #1841
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-10-03 22:36] #1841 closed

[2016-10-03 22:37] sparrc commented on #870
see also https://github.com/influxdata/telegraf/issues/1842

[2016-10-04 07:55] zarnovican commented on #1424
FYI

The issue appeared in Telegraf 1.0.0 as well.
[code]
Full log https://gist.github.com/zarnovican/cfa366d167cf0f2c537b55d61c1c0bfb#file-crash-2016-09-29

[2016-10-04 09:14] sparrc commented on #1424
@zarnovican it looks like the panic this time occured in the influxdb input plugin. I took a look at the code where it panicked and the only thing I can imagine happening here is memory corruption on your machine.

The reason being that the panic is occuring during a JSON decode into an interface, but the interface is defined immediately before (there is no risk of a race condition), and the JSON

[2016-10-04 09:30] pkid commented on #462
@johnrengelman do you have an example of what have you done with the TCP/UDP line-protocol listener? We want to gather some spring boot actuator metrics and then export them to Influxdb. What we are doing now is just have a scheduled task to write the metrices(say every 5 seconds) to Influxdb, but we want to have a more "advanced" approach, especially when we having multiple instances scaled up au

[2016-10-04 11:07] zarnovican commented on #1424
@sparrc thanks for your time looking into this.

As I have mentioned before, this has happened on _two_ machines running on 0.13.1 at that time. It is possible that AWS has memory issue on both of them..

Here is a full log from the other machine (we call hoover) back from July https://gist.github.com/zarnovican/cfa366d167cf0f2c537b55d61c1c0bfb#file-hoover-crash-2016-07-17

So far, it has happened

[2016-10-04 11:35] jamescarr commented on #732
@indradhanush Did you have any luck on this one? I'm a bit interested in this as well.

[2016-10-04 12:47] indradhanush commented on #732
@jamescarr Yeah. I wrote the output plugin last weekend and a test case, but I need to work on a docker container that will serve a zeromq server for the test case.

[2016-10-04 13:37] phemmer commented on #1833
Found the issue here and fixed it. The issue is an incorrect handling of OIDs that can't be found in the MIB. Very easy fix. PR is up at #1846

[2016-10-04 13:48] jamescarr commented on #732
Cool let me know if you need a hand. I'm interesting in exposing similar functionality. :-D

[2016-10-04 14:38] dragonxtek commented on #1833
I update telegraf to this branch. Now, I don't receive errors, but also I don't receive any data to my influxdb :(
![selection_124](https://cloud.githubusercontent.com/assets/10552658/19077965/df233d38-8a24-11e6-9d48-68198fdf590d.png)
How I can add these fields to MIB? I need to download something?

[2016-10-04 14:42] phemmer commented on #1833
From your earlier comment, is sounds like you're using the sample config. This config is meant to demonstrate the usage of the plugin, and not actually be used. You have to generate a config specific to the device you're trying to probe.

[2016-10-04 15:01] dragonxtek commented on #1833
Thanks, now it's working with snmp fields supported by my system and without errors

[2016-10-04 15:22] #1833 closed

[2016-10-04 15:25] mclate opened #1849 "Telegraf panics when StatsD plugin enabled"
When enabling StatsD pugin in telegraf, at some point it panics with division by zero error. This happens for v0.13 as well as for v1.0

[code]

### Relevant telegraf.conf:

[code]

### System info:

[code]

### Additional info:

There are consul (consul.io) and nomad (nomadproject.io) reporting to statsd on localhost

[2016-10-04 15:27] sparrc commented on #1849
you can workaround this by setting `allowed_pending_messages = 10000` in the configuration.

it'll be fixed in version 1.0.1: https://github.com/influxdata/telegraf/pull/1785

[2016-10-04 15:27] #1849 closed

[2016-10-04 15:30] #1835 closed

[2016-10-04 16:17] indradhanush commented on #732
@jamescarr I'll create a PR for the existing work and reference it here so you can also take a look at it.

[2016-10-04 18:06] grisu-cl commented on #1835
hi,
sorry for my late response,

seems that there is still a fix in gosnmp
https://github.com/soniah/gosnmp/commit/3fe3beb30fa9700988893c56a63b1df8e1b68c26  fixes the issue with the null-string
after recompiling telegraf with (at least) that version everything works as expected

thanks

[2016-10-04 18:09] phemmer commented on #1835
I'll create another PR to update gosnmp.

[2016-10-04 19:13] saiello commented on #1834
@sparrc using POST requests allow to switch to 'proxy' mode in a easier way ( code is the same). Maybe along with the documentation improvement it would be better(nicer) specify whether to work in GET or POST. I'll check

[2016-10-05 06:06] itheiss opened #1851 "SNMP plugin without external dependencies"
Hi,

this is only a feature request for the SNMP plugin not an bug or misbehaviour.

The SNMP plugin currently relies on the availability of external SNMP binaries (e.g. snmpwalk). Not all platforms provide all required binaries to fully exploit all features of the SNMP plugin. In my case I am running telegraf on a Synology NAS which doesn't provide a snmpwalk binary.

To make the SNMP plugin more

[2016-10-05 06:11] itheiss commented on #1851
Uuups. I saw this already happened in current master version. Closing.

[2016-10-05 06:11] #1851 closed

[2016-10-05 16:32] mnctech opened #1852 "Panic in Telegraf with new snmp plugin using conversion in 1.0.1"
Using the new conversion option for snmp fields causes a panic in telegraf

##error

2016/10/05 12:26:30 Output [influxdb] wrote batch of 1 metrics in 30.025698ms
2016/10/05 12:26:37 Attempting connection to output: influxdb
2016/10/05 12:26:37 Successfully connected to output: influxdb
2016/10/05 12:26:37 Attempting connection to output: file
2016/10/05 12:26:37 Successfully connected to output:

[2016-10-05 17:14] sparrc commented on #1852
cc @phemmer

[2016-10-05 17:23] phemmer commented on #1852
@mnctech What version of telegraf are you using? It looks like you're not using a version that has the `hwaddr` conversion capability. The feature was added very recently, is not in an official release yet, just the nightlies.

[2016-10-05 17:25] phemmer commented on #1852
Though given that influxdb/models lib panics in this case, it would probably be a good idea to throw an error on unknown conversion types instead of just passing the value through unchanged. Will create a PR for that.

[2016-10-05 19:21] jgerschk opened #1854 "SQL Server Input - String or Binary Data would be Truncated with WaitStats"
## Bug report

[Include Telegraf version, operating system name, and other relevant details]

1.0.1 - Telegraf

I think there is a typo here within the SQL code.

[code]

Within the @w5 declaration of table, should not WaitCategory be 64 as well, and not 16.

After installing the 1.0.1 version (can't say if it worked before since this is new), we see errors in the log of String or binary data woul

[2016-10-05 19:32] winstonsimon opened #1855 "Telegraf Consuming CPU from 10% to 15%"
## Bug report

I am running load test for one of our nodejs application and I am seeing telegraf is using 10% to 15% of our CPU resources.

### Relevant telegraf.conf:
[code]

### System info:
Red Hat Enterprise Linux Server release 6.8 (Santiago)
Config: 12Core(24thread)/24G
Telegraf - version 1.0.0

### Steps to reproduce:

1.  Start telegraf with above mentioned configuration

[code]
1. Started

[2016-10-05 19:36] johnrengelman opened #1856 "[bug] http_listener w/ buffer scanning causes type conflicts in influx"
We built the latest master and deploy that with the `http_listener` changes to use a scan buffer to address the memory issues but that causes us to have issues with writing data to Influx.
Lots of these errors:
[code]

which go away when we roll back to the previous version.

[2016-10-05 19:37] johnrengelman commented on #1856
Wondering if it could be caused by a buffer overflow here: https://github.com/influxdata/telegraf/blob/master/plugins/inputs/http_listener/http_listener.go#L122

[2016-10-05 20:38] sparrc commented on #1855
try setting `collection_jitter = "1s"` or so, might just be the overhead of requesting all the system information at once.

how many disks are being monitored? and what is the cpu speed on the box?

[2016-10-05 20:41] sparrc commented on #1856
I don't think this is exactly related to the scan buffer changes, I'll take a look

[2016-10-05 20:43] johnrengelman commented on #1856
Might be another goose chase. I went back to the last master version and now the error doesn't occur.
So I don't know what's happening but it seems like things run fine for a while (days) and then something happens to cause a flood of metrics which i think was causing both the previous memory leaks and this issue.

[2016-10-05 20:54] sparrc commented on #1856
It's a strange error due to get from a flood of metrics. The buffer size limit is for a single token, with a single token being a single metric. So that buffer is not the limit on the size of the total request, it's the size of a single metric.

One possibility is a dependency issue. If you are building telegraf from source and have an old version of the influxdb client library, it could be writin

[2016-10-05 20:56] winstonsimon commented on #1855
Ok. I'll try this setting.

[code]
CPU Info:
[code]

[2016-10-05 20:57] johnrengelman commented on #1856
everything should be running at minimum v1.0.0
Looks like `master` is using v0.12.1 of influxdb

[2016-10-05 20:59] winstonsimon commented on #1855
Interestingly, even with no traffic to this host I am seeing telegraf is using 15% of CPU.

-bash-4.1$ top
[code]

[2016-10-05 21:07] winstonsimon commented on #1855
Tried ```collection_jitter = "1s"``` but I am still seeing 10% usage and this host is idle with no external traffic.

[code]

[2016-10-05 22:34] DmitryKiselev commented on #1829
+1 on this one.

[2016-10-05 23:21] mnctech commented on #1852
Sorry for the misunderstanding, i thought the conversion was available in 1.0.1. I'll grab the nightly and try it out.

[2016-10-06 09:03] sparrc commented on #1855
I just realized that you are collecting every 1s: `interval = "1s"`, so I would say this is a normal amount of CPU usage. Especially given the fact that you have 12 cores, which means that telegraf is collecting all of your metrics every second and is using less than 1% of the total cpu on the system.

To me this seems reasonable.....if you want it to use less CPU then you'll need to collect your

[2016-10-06 09:03] #1855 closed

[2016-10-06 09:08] sparrc commented on #1854
cc @zensqlmonitor what do you think? does nvarchar(16) need to be changed to nvarchar(64)?

[2016-10-06 09:13] sparrc commented on #1834
@saiello I would prefer if we did POST requests only. The problem is just that we don't have it documented so it can be quite confusing to new users.

[2016-10-06 09:41] toni-moreno opened #1857 "Add ability to query WMI on Windows."
## Feature Request

Add new input wmi input plugin.
### Proposal:

Add a new wmi input plugin to get arbitrary information from the system
### Current behavior:

There is no way to get some configuration information from the Performance Counters.
### Desired behavior:

Get data from WMI and perhaps ( not required but interesting) combine with existing win_perf_counters defined measurements.
### Us

[2016-10-06 10:12] sparrc commented on #1857
It's probably useful to be able to query WMI directly, but FWIW you should be able to get all the system information you need from the regular plugins like [[inputs.cpu]] & [[inputs.mem]]. These plugins use WMI behind the scenes.

@toni-moreno is there something in particular you are missing from these?

[2016-10-06 10:48] sparrc commented on #1857
From what I can tell, any WMI class that we'd want to support would need to be defined natively in Go for us to make the queries: https://msdn.microsoft.com/en-us/library/dn792258(v=vs.85).aspx

There's a lot there, so any feedback on which classes are particularly helpful for Windows users would be nice to hear about.

[2016-10-06 11:36] perez1987 opened #1858 "Problem configutarion with kafka_consumer"
Hello,

I am trying to configure an input in consumer telegraf Kafka. This is the configuration:

[[inputs.kafka_consumer]]
  topics = ["IPFeed"]
  zookeeper_peers = ["172.20.106.114:2181"]
  consumer_group = "telegraf_metrics_consumers"
  metric_buffer = 100000
  offset = "newest"

I'm getting this error:

telegraf_1       | 2016/10/06 11:29:22 Using config file: /etc/telegraf/telegraf.conf
teleg

[2016-10-06 11:53] zensqlmonitor commented on #1854
yes, typo error.
You are the first who meets the DISTRIBUTED QUERY category (with a length of 17 !)
I will modify the code and the new PR.

[2016-10-06 11:57] sparrc commented on #1858
@perez1987 what version of kafka are you using?

[2016-10-06 11:58] w4 commented on #1854
I got tagged here 😢

[2016-10-06 12:00] sparrc commented on #1854
LOL, sorry @w4

[2016-10-06 12:03] perez1987 commented on #1858
@sparrc kafka_2.11-0.8.2.2

[2016-10-06 12:12] sparrc commented on #1858
I'm not really sure what the problem is then, because version 0.8 of kafka should be supported. Can you connect to the kafka broker otherwise? do you have any ideas on how to reproduce?

[2016-10-06 13:16] jgerschk commented on #1854
Thanks @sparrc and @zensqlmonitor !  Well, at least @w4 you can hold more! :)

[2016-10-06 13:21] sparrc commented on #1854
closed by  #1859

[2016-10-06 13:21] #1854 closed

[2016-10-06 13:23] #1852 closed

[2016-10-06 13:27] sparrc commented on #1811
closed by https://github.com/influxdata/telegraf/pull/1844

[2016-10-06 13:27] #1811 closed

[2016-10-06 13:29] perez1987 commented on #1858
Yes, I can connect to the server locally kafka and works well but when the input set in telegraf gives the error that indicated in my previous message.

Any idea?

[2016-10-06 13:57] sparrc commented on #1858
I didn't mean locally, I meant over your network, you're not using localhost in your config?

[2016-10-06 14:02] perez1987 commented on #1858
No, kafka is on another server @sparrc

[2016-10-06 14:10] sparrc commented on #1858
sorry but I can't help you with debugging network errors, it looks like your influxdb instance is having troubles connecting as well

if you can submit more proof that the kafka consumer is working and connectable, or steps to reproduce, then I can dig into it.

[2016-10-06 14:10] #1858 closed

[2016-10-06 15:41] #1856 closed

[2016-10-06 15:42] sparrc commented on #1842
dupe of https://github.com/influxdata/telegraf/issues/870

[2016-10-06 15:42] #1842 closed

[2016-10-06 16:27] andreftavares commented on #1810
@Tympanix thanks for finding the bug! I was getting nuts not understanding why some requests weren't appearing on Influx. Taking that knowledge, I updated my logparser to "ignore" processing  both `ident` and `auth` (see the first 2 `%{DATA}`) and now all requests seem to be logged properly!

[code]

[2016-10-06 17:35] Tympanix commented on #1810
Great solution. I've done something similar by adding digits (0-9) and spaces to the _NGUSER_ pattern to overcome this issue. We have a potential issue where both the _ident_ and _auth_ contains multiple words though. You wouldn't be able to tell them apart. I've never seen this in practice though.

[2016-10-07 04:25] roycepope opened #1862 "ERROR in input [exec]: Errors encountered: [exec: exit status 1 for command '/opt/temp.py']"
## Bug report
I am trying to collect temperature and humidity data from my raspberry pi. The telegraf log keeps spitting out the following error:
`ERROR in input [exec]: Errors encountered: [exec: exit status 1 for command '/opt/temp.py']`

I am able to run the script standalone and get the exit status 0. I tried running telegraf in debug mode but it produces the same error.

The response data fro

[2016-10-07 08:57] sparrc commented on #1862
Hi @roycepope, I see that you've set the correct permissions to execute the binary, but I wonder if there are still permissions issues with some of the operations in the script.

What happens when you run the script as the `telegraf` user? try `sudo -u telegraf /opt/temp.py`

[2016-10-07 09:48] sparrc commented on #1810
@Tympanix are http ident and auth allowed to have spaces in them? I'm not sure there's anything we can do if so. I will definitely fix the case of numbers in the ident for release 1.1.

[2016-10-07 09:57] nyirimark opened #1863 "[[inputs.jolokia]] define measurements table."
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be sent to the [InfluxDB mailing list](https://groups.google.com/forum/#!forum/influxdb).

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section

[2016-10-07 10:02] sparrc commented on #1863
you can define multiple [[inputs.jolokia]] instances and then use name_override to set a different name. see https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md

[2016-10-07 10:02] #1863 closed

[2016-10-07 10:56] sparrc commented on #1718
#1717 closing this in favor of "external" plugins

[2016-10-07 10:56] #1718 closed

[2016-10-07 13:04] kostasb commented on #1814
@phemmer For the OID, I think it would suffice to append the string to the message as `"performing get on %s",oid`.  It would also be useful to specify the actual agent that encountered the polling error.

[2016-10-07 13:23] Tympanix commented on #1810
I have tested this on my own nginx server, and seemingly the http basic module does not complain when using spaces. The following is logged when using _"my username here"_ as the username:
[code]

I would point out that this is an edge case. Also the password (which I assume to be the first dash) doesn't show regardless of the input. If that is **always** the case then we should be able to parse t

[2016-10-07 14:13] johankcarlsson commented on #1395
I just got the same problem/symptom.
See logs below.
If I have "from_beginning = true" it manage to read a lot of lines before it fails. If it is "false" that it fails directly.
I run:
Red Hat Enterprise Linux Server release 5.11
Telegraf - version 1.0.1

2016/10/07 16:08:59 Output [file] wrote batch of 1000 metrics in 11.952114ms
2016/10/07 16:08:59 FATAL -- failed to create Watcher
goroutine 15

[2016-10-07 14:19] toni-moreno commented on #1395
As I know golang tools are not supported below Centos/RHEL 6. See yourself at https://golang.org/doc/install

[2016-10-07 14:33] johankcarlsson commented on #1395
OK, sorry I missed that

[2016-10-07 14:41] toni-moreno commented on #1395
Ops. Sorry, supported linux version had been commented before in this thread...

[2016-10-07 14:45] toni-moreno commented on #1395
Have you tried yourself compile the golang tools from source code over RHEL 5 Instead of download precompiled packages and after compile telegraf with your own go on rhel5 ?

[2016-10-07 14:54] sparrc commented on #1395
I'm going to close out the issue because it sounds like it's a Go compatability problem. You can continue to discuss workarounds as needed, but we won't be fixing this in Telegraf.

[2016-10-07 14:54] #1395 closed

[2016-10-07 16:34] roycepope commented on #1862
Thanks @sparrc I think this is definitely a permission issue.

[code]

[2016-10-07 16:34] #1862 closed

[2016-10-07 18:14] jmat6 opened #1866 "Forwarding data from telegraf to different sources"
Hi

I have a doubt. Is it possible for telegraf to send metrics to an elastic search cluster directly? If not, any other way of achieving this (either through logstash/fluentd)?

[2016-10-07 20:22] toni-moreno commented on #1857
Hi @sparrc I have not tested yet the cpu/mem input plugin in windows , perhaps could be enough for us now (to get memory info) but a General  WMI  input plugin will be also a great improvement. I will test next week .Thank you

[2016-10-07 21:05] sparrc commented on #1866
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-10-07 21:05] #1866 closed

[2016-10-08 05:38] johankcarlsson commented on #1395
No I have not tried to compile the binaries on RHEL5. I'm lazy so I will use Logstash/Elastic in this specific case and save Telegraf/Logparser for other servers running newer versioins of RHEL.

[2016-10-08 06:08] lazywhite opened #1867 "Input plugin "Postgresql" support multi pg-instance"
if I have multi postgresql instance running on host, can telegraf support to configure each of them and send monitoring data ?

[2016-10-10 09:20] Prunar commented on #1291
Any idea when this will be implemented? Really usefull for instances that change name. E.g. include runtime version in name.

[2016-10-10 10:24] sparrc commented on #1237
@wunzeco are you still seeing this issue? has anyone else seen it? does anyone have steps to reproduce?

[2016-10-10 10:27] #1810 closed

[2016-10-10 10:28] sparrc commented on #1867
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-10-10 10:28] #1867 closed

[2016-10-10 10:39] wunzeco commented on #1237
@sparrc I haven't tried again and have been using ip address ever since. **Steps to reproduce** are outlined in my earliest post. Here it is again

**Steps to reproduce**

1) Add config for mongodb plugin using hostname as value of servers setting

[code]

2) Restart telegraf, `sudo service telegraf restart`

Will be delighted to know your observation.

[2016-10-10 11:06] arussellsaw opened #1869 "panic: division by zero in statsd allowed_pending_messages"
## Bug report
panic on statsd input where allowed_pending_messages < 1

minimal PR, looking for quick wins for hacktoberfest 😸

found via a tweet from a pal: https://twitter.com/rubynerd/status/775399499128856576

### Relevant telegraf.conf:

[code]

### System info:

telegraf 1.0, MacOS 10.10

### Steps to reproduce:

1. setup statsd input with 0 allowed_pending_messages
2. get input to start dro

[2016-10-10 11:23] sparrc commented on #1869
TFW users tweet about issues rather than opening bug reports.....

it's already fixed in 1.0.1: https://github.com/influxdata/telegraf/pull/1785

[2016-10-10 11:28] arussellsaw commented on #1869
oh no! i thought i'd gotten here in time for hacktoberfest.

[2016-10-10 11:32] sparrc commented on #1869
sorry mate, appreciate the effort though :), now that I think about it I think it could still panic if a user actively set the value to 0....maybe there is still a bug?

the PR I linked to just fixed it so that not setting a value wouldn't default to 0

[2016-10-10 11:41] arussellsaw commented on #1869
i have a PR ready with a warn and adjust to 1 if that's the desired behaviour

[2016-10-10 11:43] arussellsaw commented on #1869
https://github.com/influxdata/telegraf/pull/1870

[2016-10-10 19:36] mhiller opened #1873 "get full process path via procstat as TAG"
### System info:

[Include Telegraf version, operating system name, and other relevant details]
telegraf-1.0.0-1.x86_64
RHEL6
## Feature Request

include command_line as a field collected from procstat .
### Proposal:

get the full command line from  /proc/*/cmdline . return the contents of this file as a tag.
### Current behavior:

returns only the short name for the process and pid as the identi

[2016-10-10 20:15] supershal commented on #1823
We also faced the same issue last week. however we were running the code which does not include  #1826 fix. We are using http_listeneter as relay and routing traffic from around 500 servers with batch size of 1000. The telegraf instances were going OOM after a while and crashing.
The cpu and memory was going up immediately after a while. The logs had a lot of request timeout errors from reading bo

[2016-10-10 20:19] johnrengelman commented on #1823
@supershal we would see that read timeout error message as well in our logs. I think you're on to something there.

[2016-10-10 20:28] sparrc commented on #1823
nice sleuthing @supershal 👍 , let us know what you find

[2016-10-10 20:51] #1869 closed

[2016-10-11 03:08] rolele opened #1876 "plugin statsd does not allow field"
## Bug report
telegraf statsd plugin behave strangely with fields of the line protocol
[key+tags] [fields] [timestamp]

### System info:
Telegraf - version 1.0.1

### Steps to reproduce:

I am using python (note the space between [key+tags] [fields])
[code]

### Expected behavior:
key = example.timing7
tags = service=payroll,region=us-west
fields = value=22,test=666

### Actual behavior:

key = ex

[2016-10-11 04:19] rolele commented on #1876
It appears that the python client that I am using could format the udp request in a different way that I originally written.
I decided to go with simple curl command to telegraf to test the behaviors of each query.
It appears that I easily can add tags to influxdb using
[code]
but I can not see how I can send field to be indexed as well.

[2016-10-11 08:15] sparrc commented on #1876
the statsd protocol is separate from influx line-protocol. Only a single "field" is supported.

[2016-10-11 08:15] #1876 closed

[2016-10-11 09:12] rolele commented on #1876
@sparrc
What about this claim that was made last year: "COMING SOON: there will be a way to specify multiple fields."
Is there any plan to implement this?

[2016-10-11 09:56] sparrc commented on #1876
no, sorry, I will remove that

[2016-10-11 10:02] willemdh commented on #1827
I'm seeing more abnormal Windows process results. One of my colleagues pointed out for example that Telegraf.exe was using more then 10 % CPU on some servers in Grafana. I doublechecked this on the server and it was only using 1 % CPU.
Is someone able to reproduce these issues?

[2016-10-11 11:19] sparrc opened #1878 "Rewrite Riemann output plugin"
The Riemann plugin is currently in a bad state, to name a few problems:
1. there are no unit tests.
2. there is no README.
3. it concatenates all tags into the riemann "service" name.
4. it sends all string metrics as riemann "state" metrics, which probably doesn't make sense to do.
5. it doesn't use Riemann attributes.
6. it doesn't set a TTL for any metrics, and doesn't provide the option to.

F

[2016-10-11 11:19] sparrc commented on #1501
closing in favor of #1845

[2016-10-11 11:19] #1501 closed

[2016-10-11 11:29] sparrc commented on #1878
see also the collectd output plugin for a good example of the write protocol: https://collectd.org/wiki/index.php/Plugin:Write_Riemann

[2016-10-11 12:18] bricewge opened #1880 "Add plugin for SMART data from disk"
It would be nice to have a plugin which support [SMART](https://en.wikipedia.org/wiki/S.M.A.R.T.) data for monitoring disks health. Other collectors like [collectd](https://collectd.org/wiki/index.php/Plugin:SMART) and [diamond](http://diamond.readthedocs.io/en/latest/collectors/SmartCollector/) already have a plugin for it.

[2016-10-11 12:30] sparrc commented on #1880
looks like diamond just parses the output of `smartctl -A`: https://github.com/python-diamond/Diamond/blob/master/src/collectors/smart/smart.py, should be a fairly simple plugin to write.

[2016-10-11 12:53] bricewge opened #1881 "Add support for BTRFS filesystem"
For the moment the `disk` plugin report wrong measurements on `btrfs` filesystems. The issue isn't apparent until your the partition become full, here is relevant article from the [btrfs's wiki](https://btrfs.wiki.kernel.org/index.php/FAQ#Understanding_free_space.2C_using_the_original_tools). To get the proper size we should use a method similar to `btrfs fi df` instead of the `df` way.

The quick

[2016-10-11 13:34] freeseacher opened #1882 "[Feature request] Ability to parse array in httpjson responce"
i have a data designed in that way
[code]
i want to do such scrape
[code]
Currently such scrape will fail with `2016/10/11 16:15:50 unable to parse out as JSON, json: cannot unmarshal array into Go value of type map[string]interface {}
`
i am expecting such  data from it
[code]

[2016-10-11 13:35] zbindenren commented on #1873
:+1:

I think, the actual procstat plugin has several more issues:

1. The above
2. The pid is added as field, but a better solution would be as tag (for grouping)
3. pgrep allows the following: pgrep -u user1,user2,user3 but then the tag is then user1,user2,user3 and not the processes username
4. if a process exists, telegraf logs errors of missing processes

[2016-10-11 13:39] freeseacher commented on #1882
or maybe there is a way how to redesign data to archive such functionality ?

[2016-10-11 13:41] sparrc commented on #1882
closing as a dupe of https://github.com/influxdata/telegraf/issues/1363

[2016-10-11 13:41] #1882 closed

[2016-10-11 14:39] rikatz commented on #782
This is happening in PR #1875  ! Let's follow there :) :+1:

[2016-10-11 14:49] #1731 closed

[2016-10-11 14:57] toni-moreno opened #1884 "Error in metric path order for Graphite Output in windows metric names"
## Bug report

I've notice 2 extrange behaviour of the output Graphite Plugin

- A non expected Hostname appears in the Graphite metric path in the incorrect place
- A extra level Appears with Object Name ("Processor Information") in the Windows Performance Counters , when I've renamed as "win_cpu_ext"

### Relevant telegraf.conf:
[code]

### System info:

Telegraf 1.0.1
Windows 2012 R2

### Steps

[2016-10-11 15:55] sparrc commented on #1884
Hi @toni-moreno, "host" is a tag and thus it will be added when you use the `tags` keyword.

"Processor_Information" is the object name, which is also a tag.

If you want to exclude those tags, you can use the `tagexclude` configuration option.

[2016-10-11 15:55] #1884 closed

[2016-10-11 16:35] apinyarr commented on #1449
+1

[2016-10-11 19:00] jeichorn opened #1886 "phpfpm module crashes when fastcgi endpoint is down"
## Bug report
Using fcgi urls in phpfpm causes telegraf to crash when the endpoint doesnt' exist

### Relevant telegraf.conf:
[code]

### System info:
Telegraf 1.0.1, Ubuntu 16.04
[Include Telegraf version, operating system name, and other relevant details]

### Steps to reproduce:
Add in a bad fcgi config, launch telegraf

## Expected behavior:
Not crashing

### Actual behavior:
Crashing

### Add

[2016-10-11 20:20] toni-moreno commented on #1884
Ok thank you for your support.

But IMHO I think this is a unexpected behavior, what sense has  define host in the graphite template (template = "host.measurement.tags.field") if host is already taken as a tag ?  With default configuration hostname will be sent twice in the graphite style metric path.

by the way , what is the exact tag name of the object name , to try filter it ?

Thank you very

[2016-10-12 04:05] lazywhite opened #1887 "TCP port monitoring of telegraf"
can telegraf monitor the tcp port ie 6379 of localhost ， then send metric to influxdb ?

[2016-10-12 07:26] sparrc commented on #1884
I'm not sure the exact tag names, the best way for you to figure it out is to run with the --test flag or to output your metrics to a file.

[2016-10-12 07:57] sparrc commented on #1887
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-10-12 07:57] #1887 closed

[2016-10-12 10:39] #1724 closed

[2016-10-12 11:23] #1886 closed

[2016-10-12 16:07] #1726 closed

[2016-10-12 16:07] #1344 closed

[2016-10-12 16:07] #1771 closed

[2016-10-12 16:11] #870 closed

[2016-10-12 18:29] supershal commented on #1823
@sparrc @johnrengelman I tested #1826 with large batch size. I ran into same metric parsing issue as #1856 . I think the parsing issues were result of the bugfix.

I have submitted #1892.
This fix handles the incoming requests the same way as influxdb's HTTP write handler. It reads content-length header and preallocates buffer with that size and reads all data before parsing them using scanner. We

[2016-10-13 09:14] hchargois opened #1893 "[statsd input plugin] documentation seems wrong about default value of delete_timings"
The doc says:

[code]

But with no `delete_timings` option set, I was having timings not deleted, and sent at every interval. With the option set to `true`, the desired behavior is happening. I guess that it's only the documentation that got the default value wrong.

BTW, I wonder why those options are `false` by default, since this is a very weird default... I never used etsy's statsd, but if I'm

[2016-10-13 09:25] dariohruska opened #1894 "Custom queries for SQL Server"
It would be good if users could add their own queries for SQL Server (similar to PostgreSQL_Extensible plugin)

[2016-10-13 10:19] toni-moreno commented on #1395
@johankcarlsson Hi ,  I'm missing something , are you migrating tom ELK to TICK ?  I would like to know about your experience... can I contact you in any way?

Thank-you.

[2016-10-13 11:27] Appeltabak opened #1895 "[procstat plugin] Some tags are missing from README."
Currently, the README of the `procstat` plugin states:

But according to this commit (message) f1b7ecb2a2dd3a7c3585574008c4805f1fca35ad, `user` and `exe` are also sent as tags. At least this is true for `exe`, ~~but `user` doesn't seem to be sent anymore. Must `user` be defined explicitly in the configuration before it will send along with the metric?~~

Anyhow, I think the README needs an update

[2016-10-13 14:04] skord opened #1896 "MySQL Global Status values that should be strings aren't"
## Feature Request

Many of the SHOW GLOBAL STATUS values from the MySQL plugin should be interpreted as strings, but aren't. A quick list of the keys from a MariaDB 10.1 instance:
- Compression
- Innodb_buffer_pool_dump_status
- Innodb_buffer_pool_load_status
- Innodb_have_atomic_builtins
- Innodb_have_lz4
- Innodb_have_lzo
- Innodb_have_lzma
- Innodb_have_bzip2
- Innodb_have_snappy
- Rpl_status

[2016-10-13 14:49] toni-moreno commented on #1884
Hi @sparrc I've tested the tagexclude after review the tag name  and added tagexclude array in the input as described in (https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md) but still receiving tags on the graphite path as you can see in the screenshot ( hostname under win_cpu measurement name, and objectname="Processor").

This is my configuration sample.

[code]

![image](h

[2016-10-13 15:17] o7g8 opened #1897 "[Windows] win_perf_counters/graphite: No "Network Interface" counters are saved in Graphite"
## Bug report
### Relevant telegraf.conf:

I show only sections which I have changed in the default config:

[code]
### System info:

Telegraf 1.0.1
Windows 10
### Steps to reproduce:

Start telegraf with my config and look into Graphite browser.
### Expected behavior:

The Graphite tree

telegraf.MYHOST.bottleneck_network.Intel[R]_82579LM_Gigabit_Network_Connection should have metrics Bytes_Recei

[2016-10-13 15:18] sparrc commented on #1884
@toni-moreno We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

in general, I would say that using more concrete line-protocol examples are more he

[2016-10-13 15:22] sparrc commented on #1897
please provide the output of `telegraf --test`, also try redirecting your output to a file using

[code]

[2016-10-14 08:50] o7g8 commented on #1897
Hi Cameron,

Thank you for the quick response!

Here just in case is my inputs- and outputs- part of Telegraf config:

[[outputs.graphite]]
  servers = ["X.X.X.X:2003"]
  prefix = "telegraf"
  template = "host.measurement.tags.field"
  timeout = 2

[[outputs.file]]
  files = ["./telegraf_dump.log", "stdout"]
  data_format = "graphite"
  prefix = "telegraf"
  template = "host.measurement.tags.field

[2016-10-14 08:56] sparrc commented on #1897
what is this screenshot indicating? To me it looks like the metrics are there, but they are all 0

[2016-10-14 09:05] o7g8 commented on #1897
The screenshot shows, that the highlighted nodes don't have leaf nodes with names `Network_Interface.Bytes_Total_persec` and `Network_Interface.Output_Queue_Length`.
So basically the metrics are not properly recorded in Graphite.

As you can see in the attached telegraf_dump.zip a following metric is not zero:

`telegraf.XXX.bottleneck_network.Intel[R]_82579LM_Gigabit_Network_Connection.Network_In

[2016-10-14 13:45] KamikaZeeFu opened #1898 "StatsD: support negative counter values or allow suppressing of error logging"
Hello,
I'm using telegraf as a StatsD backend and my application frequently logs negative counter values, eg. `foo:-1|c`.
I do not particularly depend on these values being supported, but my log files grow rapidly because telegraf keeps logging `Error: +- values are only supported for gauges: foo:-1|c`.

Can this log message be suppressed, or alternatively, can negative counters be supported?

[2016-10-14 16:12] skonet commented on #1730
Hello,

Same problem here... such a pity that all "Windows counters collection" implementations face the same issues with non-English counters...

Thanks to fix this!
Best regards.

[2016-10-14 16:37] johankcarlsson commented on #1395
Actually I was testing Telegraf logparser for the first time. We have earlier experience of Logstash/Elastic but now I wanted to test Telegraf/InfluxDB, since I realy like the Influx stack.
I will test it on some other servers. :-)

[2016-10-14 16:40] johankcarlsson commented on #1395
Just want to add that I find Influx stack A lot easier to work with then ElasticSearch. But of course Elastic is probably more suitable for logdata with much text.

[2016-10-14 19:41] skonet opened #1899 "win_perf_counters and remote Windows host"
Hello,

In fact this is maybe a feature request but documentation does not seem to detail this point.

Telegraf win_perf_counters input plugin does not seem to allow to collect Windows counters from a remote machine (ie limited to local machine). This functionality is however present in Windows standard counters features (eg in Perfmon using metrics like \hostname\category\object).

I tried to for

[2016-10-15 15:51] JamesClonk commented on #1878
@sparrc I started working on new version of the riemann plugin. See https://github.com/influxdata/telegraf/pull/1900
Still work-in-progress. Have to write some actual unit & integration tests, and a proper README.md.

It's mostly a cleaned-up version of the old plugin, though it's behaviour should be more obvious and predictable now.
I agree with all of your points except 1) about using `state`. I

[2016-10-15 17:04] sparrc commented on #1878
@JamesClonk How are you doing that exactly? are you sending custom metrics through telegraf?

Mostly I'm concerned that it's not going to make sense for the majority of string metrics, which could be anything (but could also be a state). Maybe we could make it a config option? `send_strings_as_states`?

[2016-10-16 08:37] JamesClonk commented on #1878
@sparrc Hmm OK, yes I guess it makes sense to only send string metrics if explicitly requested. I've added a `string_as_state` configuration option to the plugin (plus some more unit & integration tests, also had to change the riemann docker image to one that allows querying for the integration tests).

Currently I'm sending string/state metrics into Telegraf via the http_listener, the data I'm se

[2016-10-16 09:07] jonaz opened #1904 "input hddtemp: Strange data? Why not just use value?"
## Bug report
### Relevant telegraf.conf:

[code]
### System info:

Telegraf - version 1.0.1
ubuntu 14.04
### Steps to reproduce:
1. Just run hddtemp input
### Expected behavior:

The temperature should be in the value field and not a new field for each disk?
### Actual behavior:

![2016-10-16-110545_1229x455_scrot](https://cloud.githubusercontent.com/assets/1146389/19416438/8a1d425a-9390-11e6-9fe

[2016-10-16 09:10] jonaz commented on #1904
cc @MendelGusmao

[2016-10-16 17:05] MendelGusmao commented on #1904
Sorry for not noticing this before. It was my first PR. hddtemp's plugin implementation was based off of sensors plugin.

I agree with the changes proposed by @jonaz and am willing to accept a PR at MendelGusmao/go-hddtemp.

[2016-10-16 20:45] yverry opened #1906 "inputs: php-fpm url scheme handle '?'"
Hi,

telegraf inputs phpfpm doesn't handle '?' char.
In my nginx setup the pool name is a variable like:

[code]

with this config you can call the pool name directly with:

[code]
### Relevant telegraf.conf:

put in your config to use phpfpm inputs like :

[code]
### System info:

telegraf 1.0.1
### Expected behavior:

[code]
### Actual behavior:

[code]
### Workaround

I replace '?' with `%3F` l

[2016-10-17 08:53] toni-moreno commented on #1346
Hi @sparrc @notok any idea on how to fix this issue? I will need telegraf also for Win32 machines.

Thank you very much

[2016-10-17 11:01] gugansankar opened #1907 "Empty output for AWS/EBS and AWS/S3"
I tried to pull AWS metrics through cloudwatch using telegraf and write the output data into influxdb.

When I run the test with sample config, it shows only EC2 stats . Not showing anything else.

For example,
If I set the namespace to "AWS/EC2", then i can see the output,

]# telegraf -config telegraf.conf -input-filter cloudwatch -test

If I changed namespace to EBS, it not showing any output
[

[2016-10-17 12:22] teomurgi opened #1909 "Custom mqtt clientId"
It would be great to have to possibility to use a custom mqttClientId specified in config file.

This is useful in order to match an exact client upon first connection in order to manage
which client are online and which are offline at a given moment.

And it is also useful in order to track an history of connections/disconnections of a particular client.

[2016-10-17 12:23] #1909 closed

[2016-10-17 12:24] teomurgi opened #1910 "[MQTT Output] Custom mqtt clientId"
It would be great to have to possibility to use a custom mqttClientId specified in config file.

This is useful in order to match an exact client upon first connection in order to manage
which client are online and which are offline at a given moment.

And it is also useful in order to track an history of connections/disconnections of a particular client.

[2016-10-17 12:28] bernardoVale commented on #1346
Forget to mention that my workaround inside the Makefile worked fine after upgrading to go 1.6

@toni-moreno , could you test making this change on Makefile?
[code]
After that execute:
[code]

PS: This is just a workaround.

[2016-10-17 12:48] sparrc commented on #1737
closing because we not going to fix this. anyone is free to submit a PR if they want this.

[2016-10-17 12:48] #1737 closed

[2016-10-17 13:11] sparrc commented on #1907
cc @joshglympse @johnrengelman

[2016-10-17 13:19] NerdyProjects opened #1911 "Sysstat plugin needs LANG=C or similar locale"
## Bug report

When running on a system with default locale de_DE (e.g. one, where numbers are formatted differently), the sysstat plugin output can not be parsed:

[code]

(...)

Putting LANG=C in /etc/default/telegraf fixes the problem.
### System info:

Debian GNU/Linux 8 (jessie)
Linux banana 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-1 (2016-03-06) x86_64 GNU/Linux
telegraf 0.1-1 amd64
### Ste

[2016-10-17 14:36] #1742 closed

[2016-10-17 19:58] #1774 closed

[2016-10-17 20:43] njhartwell opened #1912 "Support for decimal in timestamps for logparser input"
## Feature Request
### Proposal:

In trying to ingest Apache Traffic Server's squid-formatted log files (using logparser input or influx line protocol), there does not seem to be an easy way to get telegraf to accept millisecond-precision timestamps like `1476680409.042`. I'd be happy to submit a PR if someone could verify that this is a reasonable request and suggest the best way to implement it

[2016-10-17 21:16] sparrc commented on #1912
It should be added as a special timestamp format, similar to how ts-epoch and ts-epochnano are parsed: https://github.com/influxdata/telegraf/blob/master/plugins/inputs/logparser/grok/grok.go#L227

as a workaround, you could parse just the unix epoch part of the timestamp with something like this (throwing away the millisecond precision):

`%{INTEGER:unixtime:ts-epoch}.%{INTEGER} ...`

[2016-10-17 23:48] xaque208 opened #1914 "Build trouble on OpenBSD"
## Bug report

Running `make` on OpenBSD fails to build correctly.

### System info:

OpenBSD 5.9 amd64

[Include Telegraf version, operating system name, and other relevant details]

### Steps to reproduce:

1. export GOPATH=~/go
2. go get github.com/influxdata/telegraf
3. cd $GOPATH/src/github.com/influxdata/telegraf
4. make

### Expected behavior:

Should compile into something useful.

### Act

[2016-10-18 15:31] sparrc commented on #1914
All these errors you're listing appear be due to some missing features in OpenBSD's version of make. Couldn't you just install GNU make and it will work? Or just use Go's builtin build tools, this is all you need to run:

[code]

[2016-10-18 15:31] #1914 closed

[2016-10-18 22:52] awilson77584 commented on #1420
Xorux has lpar2rrd (GNU GPL) that also does VMware monitoring.  I'm trying to get the same type of information for lpars and the AIX frame.  I'm trying to get the data into Telegraf for tagging and then to Influxdb.  I'll post back if I have success.

[2016-10-19 00:02] wei-hai opened #1918 "support multiple [outputs.influxdb] or multiple database names in one [outputs.influxdb]"
## Feature Request

### Proposal:
support multiple [outputs.influxdb] or multiple databases in [outputs.influxdb] so that different input can write data to different database, for example, inputs.statsd can write data into statsd_db and inputs.docker can write data into database docker_db

### Current behavior:
no way to do it unless you run multiple telegraf instances

### Desired behavior:
one t

[2016-10-19 03:57] phemmer commented on #1918
See #1778, which has a few suggestions of how you can accomplish this.

[2016-10-19 08:35] sparrc commented on #1918
@wei-hai if you put two brackets around it, multiple `[[outputs.influxdb]]` is already supported. see https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#output-configuration-examples

[2016-10-19 08:35] #1918 closed

[2016-10-19 14:39] wrigtim opened #1919 "Update Godeps to make use of latest influxdb/client (including PR7305)"
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be sent to the [InfluxDB mailing list](https://groups.google.com/forum/#!forum/influxdb).

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section

[2016-10-19 15:04] wrigtim commented on #1919
Bah - ignore me!

[2016-10-19 15:04] #1919 closed

[2016-10-19 15:05] tobgu opened #1920 "Exec error: "no such file or directory for command" when no scripts match glob pattern"
## Bug report
### Relevant telegraf.conf:

[[inputs.exec]]
  commands = ["/metrics/*_metrics.sh"]
  data_format = "influx"
### System info:

Telegraf - version 1.0.1, CoreOS stable (1068.8.0)
### Steps to reproduce:
1. Add definition to telegraf.conf as above
2. Don't put any files matching the pattern in /bin
### Expected behavior:

Nothing happens since there are no files matching the pattern.
#

[2016-10-19 20:30] ervansetiawan opened #1921 "ElasticSearch Cluster Stats Support"
The cluster stats obtained by the elasticsearch input plugin is currently only getting metrics from the /_cluster/health endpoint.

We need the ability to also consume metrics from the /_cluster/stats endpoint.

https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-stats.html

[2016-10-20 14:27] alexbowers opened #1922 "Haproxy basic auth documentation"
It is not currently documented how to access a basic auth protected stats page for haproxy.

The test appears tocover this:

https://github.com/influxdata/telegraf/blob/master/plugins/inputs/haproxy/haproxy_test.go#L61, so perhaps it should be documetned

[2016-10-20 17:28] dgnorton commented on #1829
It's working as intended. Jetty should be configured so that it always writes to the same log file and `logrotate` should be used to do the rotation.

[2016-10-20 18:04] akan1979 commented on #1829
Unfortunately this is not something that is out of the box standard to jetty.

Please refer to here:
http://wiki.eclipse.org/Jetty/Howto/Configure_Request_Logs

Either way, logparser should detect new files.  There is not only 1 way to accomplish 1 task.

[2016-10-20 18:18] dgnorton commented on #1829
@akan1979  what happens if `retainDays` is set to 2 billion (> 5M years) and `yyyy_mm_dd` is removed from the file name?

[2016-10-21 12:10] halt-hammerzeit commented on #1893
I don't even understand what `delete_timings` means and what it does.
No clarification in the docs on that topic.
Does it delete the metrics? What's the point of gathering the metrics then if it's immediately deleted afterwards?

[2016-10-21 12:19] halt-hammerzeit opened #1925 "`-input-filter` option doesn't work"
The document says
https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md

[code]

But when I generate the config it contains all input filters so `-input-filter` option doesn't work.

[2016-10-21 12:39] sparrc commented on #1893
delete_timings deletes it from Telegraf's internal cache, it obviously does no modification on the output plugins. It's important to understand the concept behind `statsd` and then I think you will understand this option.

[2016-10-21 12:41] sparrc commented on #1925
workaround is to use the `telegraf --sample-config` rather than `telegraf config`

[2016-10-21 12:47] halt-hammerzeit commented on #1893
@sparrc Ok, it deletes it from cache when the value has been sent. Then why wouldn't it delete it then? What would be the reason behind non-deleting everything?

[2016-10-21 13:05] sparrc commented on #1893
I guess if you wanted the accumulated metrics in InfluxDB since runtime. I think I would also agree that the defaults should be `delete... = true`

[2016-10-21 13:55] zensqlmonitor commented on #1816
Not a good idea to change this.
With InfluxDB and Grafana, database name is a field and can be easily queried like this:
`
SELECT "databasename" FROM "State OFFLINE" WHERE "servername" =~ /$Instance$/ AND "type" = 'Database properties' AND $timeFilter`

The result is formatted as a pivot to get sum info and individual databases value within the same row.
The result you want is different.

[2016-10-21 13:56] zensqlmonitor commented on #1816
I will work on the mssqlserver_extensible plugin soon.

[2016-10-21 13:57] zensqlmonitor commented on #1894
I will work on the mssqlserver_extensible plugin soon.

[2016-10-21 14:25] Scott-St commented on #1857
I'd like to add to this that I want to get sensor readings from WMI.  aida64 uses WMI for its readings so I would like to be able to query WMI (or write my own plugin) to get this same information.

[2016-10-21 14:34] sparrc commented on #1857
@Scott-St You may want to check out the `exec` plugin

[2016-10-21 19:23] hahnjo commented on #1730
I also stumbled across this one on a German server.

As the code snippet above shows, you can set `PreVistaSupport = true` in your config which will take the other branch and everything is fine.

When you try to use the English name on a localized system, validation won't let your query be passed to `PdhAddCounter`: There is no `PdhValidateEnglishPath()`!
(https://github.com/influxdata/telegraf/bl

[2016-10-21 20:52] denzuko opened #1926 "TOML internal.Duration marshaller panics on integers"
## Bug report
telegraf crashes with snmp input pointed to bigswitch

### Relevant telegraf.conf:
'''
[[outputs.influxdb]]
  urls = ["http://influxdbmaster:8086"] # required
  database = "telegraf" # required

  retention_policy = ""
  write_consistency = "any"
  timeout = "5s"

[[inputs.snmp]]
  interval = "15s"
  retries  = 2
  timeout  = 5

  version  = 2
  community="public"

  agents = [ "bs1.

[2016-10-21 22:48] phemmer commented on #1926
timeout = 5

should be

    timeout = "5s"

...or whatever your unit is if not seconds.

Agree this is a bug though. Parser should throw a graceful error rather than panic. Dunno that this'll get fixed though if the plan is to switch parsers (#1598).

[2016-10-22 14:14] StianOvrevage commented on #1816
I understand that it's easy with Influx but it's impossible with Prometheus. I'm also just proposing an extension of the plugin and not necessarily a breaking change. I've also tried changing the original queries in the mssqlserver plugin but it's just too complicated for me to understand.

I really appreciate you taking some time to look at it!

[2016-10-22 20:13] discoduck2x commented on #1291
@TheFlyingCorpse @sparrc
any updates? still not able to use telegraf for windows since both issues remain

[2016-10-23 19:34] wilk opened #1928 "[httpjson input plugin] Missing response_timeout field"
## Bug report

It seems the `response_timeout` property of the httpjson input plugin is missing.
What's wrong with it?

### Relevant telegraf.conf:

[code]

### System info:

Telegraf version: 1.0.1
OS: Mac OS X 10.11.6 El Capitan

### Unexpected Behaviour

[code]

### How to reproduce the bug

Launch Telegram with the config file listed below:

[code]

### Gist

https://gist.github.com/wilk/7a33a

[2016-10-24 03:16] juanpaulo opened #1929 "[redis input] field type conflict for master_last_io_seconds_ago"
the value [master_last_io_seconds_ago](http://redis.io/commands/INFO) may change to [`-1`](https://github.com/antirez/redis/blob/c7a4e694ad3689d934897b0d2c37144d7b2d0b97/src/server.c#L3047) on failover which would trigger the following error (since the value is explicitly specified as integer type initially, master_last_io_seconds_ago=0i -> master_last_io_seconds_ago=-1):

[code]

This error will

[2016-10-24 08:18] axinojolais opened #1931 "telegraf unresponsive"
## Bug report

telegraf stops gathering metrics and the prometheus_client output becomes unresponsive
### Relevant telegraf.conf:

[code]
### System info:

telegraf version 1.0.1+git1324~215f1b5, Ubuntu xenial
### Steps to reproduce:
1. Start telegraf
### Expected behavior:

telegraf never stops gathering data and can output metrics when queried
### Actual behavior:

telegraf stops gathering data

[2016-10-24 08:48] sparrc commented on #1931
thanks for the report, ctrl-\ would be helpful, do you happen to know of a way to get it to reproduce?

[2016-10-24 09:07] sparrc commented on #1816
@zensqlmonitor I still think that the database name should be a tag, the more idiomatic way of doing this measurement would be to call the field `value`, then you could modify your original query as such:

[code]

this would also support the use-case of @StianOvrevage, who could filter specific databases with something like this:

[code]

[2016-10-24 09:14] axinojolais commented on #1931
Nope, found no way to do that sorry. Now that I think about it, ctrl+\ just sends a SIGQUIT right ? Perhaps there are other ways to get a stack trace without having a PTY ? I'll try different things when I get a new occurrence.

[2016-10-24 09:21] sparrc commented on #1931
yes, you can kill the process by `kill -3 <pid>` and you should get the stack dump that way as well

[2016-10-24 09:26] sparrc commented on #1929
I think the correct solution is for that field to be sent as an integer. Integers can be negative afaik.

[2016-10-24 09:27] sparrc commented on #1929
can you explain how to do this?

[2016-10-24 09:44] sparrc commented on #1928
that field was added for 1.1, and is not available yet

if you generate the config using `telegraf --sample-config` or `telegraf --usage httpjson` you will see that that field is not available.

[2016-10-24 09:44] #1928 closed

[2016-10-24 09:46] sparrc commented on #1922
sure, if you could write that documentation then please submit a PR

[2016-10-24 14:14] jchauncey opened #1933 "Kuberentes plugin leaking connections"
## Directions

## Bug report
The kubernetes plugin is leaking connections which is also leaking memory.

[Include Telegraf version, operating system name, and other relevant details]
Version: master telegraf
OS: ubuntu docker image

### Steps to reproduce:
Enable kubernetes plugin and wait

### Expected behavior:
Should close connections responsibly

### Actual behavior:
Never closes opened connec

[2016-10-24 14:14] jchauncey commented on #1933
Im actively working on this issue now

[2016-10-24 14:29] maxenced opened #1934 "Jolokia input should normalize key name"
## Bug report

Jolokia input supports fetching of various metrics without any cleaning.  As a consequence, some values returned by Jolokia can contains spaces, which aren't replaced, which make data unavailable in influxdb, for ex with MemoryPool Mbean :

[code]

names contains spaces, which makes them unavailable to query in influxdb.
### Relevant telegraf.conf:

[code]
### System info:

[code]
#

[2016-10-24 15:28] jchauncey commented on #1933
Looks like the problem might be with keep alives. I foolishly set that to true and it seems like it works pretty well.  Soon as I am done testing this fix I'll submit a PR.

[2016-10-24 15:29] sorin2343 opened #1935 "telegraf on windows send data to graphite"
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be sent to the [InfluxDB mailing list](https://groups.google.com/forum/#!forum/influxdb).

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section

[2016-10-24 15:34] sparrc commented on #1933
I see what you mean, it appears there are quite a lot of custom defaults in the http Transport, do you think you could trim this:

[code]

to just this?:

[code]

[2016-10-24 15:41] sparrc commented on #1935
system info? what version of telegraf? are you able to send metrics from other plugins? can you provide any information that shows that your graphite server is connectable and writeable?

also, can you please clean up the issue templating that you're not using?

[2016-10-24 15:52] sparrc opened #1936 "Set default values for MaxAllowedConnections & MaxPendingMessages in udp_listener & tcp_listener"
see title

[2016-10-24 16:08] dnascimento commented on #1809
@evanrich one of the dependencies does not compile mips64:
[code]
I created a git issue: https://github.com/shirou/gopsutil/issues/273

Be aware that telegraf is a 26MB binary and it consumes quiet a lot of resources.
@sparrc ever you considered to develop a C based telegraf, micro-telegraf, designed for IoT devices?

[2016-10-24 16:23] sparrc commented on #1809
@dnascimento we haven't considered doing that, if your resources are that constrained you might want to consider just running collectd

[2016-10-24 19:52] dnascimento commented on #1809
Fantastic! Just what we were looking for! Thanks @sparrc
https://github.com/influxdata/influxdb/blob/master/services/collectd/README.md

[2016-10-24 21:52] phemmer commented on #1934
InfluxDB is capable of handling tags with spaces just fine:

[code]

[2016-10-24 22:17] moloney opened #1938 "Ceph input plugin config parse errors"
## Bug report

Trying to use documented config options for the Ceph input plugin results in parsing errors. In particular the following config options appear to cause parse errors:

 * gather_cluster_stats
 * ceph_user
 * gather_admin_socket_stats

In the logs I see errors like:

Error parsing /etc/telegraf/telegraf.conf, line 539: field corresponding to `gather_cluster_stats' is not defined in `*

[2016-10-24 23:02] sparrc commented on #1938
these options will not be available until 1.1, please use telegraf --usage ceph to see what's available in your version

[2016-10-24 23:02] #1938 closed

[2016-10-24 23:21] wei-hai opened #1939 "inputs.postgresql doesn't collect metric from all databases by default"
## Bug report
inputs.postgresql doesn't collect metric from all databases if not given database name.
### Relevant telegraf.conf:
[[inputs.postgresql]]
### System info:

[Include Telegraf version, operating system name, and other relevant details]
Telegraf v1.0.1
### Steps to reproduce:

1. set address = "postgres://telegraf:password@localhost?sslmode=disable" or address = "host=localhost user=tel

[2016-10-24 23:24] sparrc commented on #1939
can you explain why you can't specify your database name(s)?

[2016-10-24 23:33] jackzampolin opened #1940 "[feature request] Graphite parser enhancement"
## Feature Request
### Proposal:

Add support for the following graphite parsing patterns:

[code]
### Current behavior:

Currently the graphite parser does not allow a wildcard match for tags for the end of a graphite string:

[code]

This makes it impossible to match a tag with an indeterminate number of sections at the end of a string. It is also not currently possible to match an indeterminate

[2016-10-24 23:35] wei-hai commented on #1939
Is dbname required? I thought it was optional.

[2016-10-24 23:40] jackzampolin opened #1941 "[feature request] Parallelize graphite parsing"
## Feature Request
### Proposal:

Parallelize graphite parsing
### Current behavior:

Parsing is currently a serial operation.
### Desired behavior:

Spin off a configurable number of goroutines to parallelize parsing.
### Use case:

Prevents more than one CPU from being used on dedicated statsd servers. This forces users to run multiple telegraf instances to take full advantage of their compute.

[2016-10-24 23:46] beckettsean commented on #1939
@wei-hai,

@sparrc is not saying you must specify the databases to be sampled. Please see this section of the config comments you linked above:

[code]

As you mention, "It looks like the plugin is trying to connect to database=USERNAME in the connection parameters instead of all existing databases," and that is what is happening. Since `telegraf` isn't a valid database the connection fails.

I be

[2016-10-24 23:46] #1939 closed

[2016-10-24 23:52] wei-hai commented on #1939
got it, it might be better to set the default database to "postgres" instead of username.

[2016-10-25 02:20] jchauncey commented on #1933
Alright it was definitely the `DisableKeepAlives` you have to explicitly set that to true otherwise it will leak connections like crazy.

[2016-10-25 06:15] axinojolais commented on #1931
Got it. Note that this is with a slightly different config (inputs.snmp replaced by inputs.haproxy) :
[code]

[2016-10-25 07:14] juanpaulo commented on #1929
Read a bit more about [InfluxDB's line protocol](https://docs.influxdata.com/influxdb/v1.0/write_protocols/line_protocol_reference/) and I agree on your solution!

Will look more into how to trigger redis failover. In our case, it just happened and the agent on that server started sending `master_last_io_seconds_ago=-1`. Should figure out how to make it `master_last_io_seconds_ago=-1i` which I bel

[2016-10-25 08:45] adeleglise commented on #1730
Hi,

I'm facing this issue on a Windows 2012 R2 Server, with telegraf 1.0.1. The system is localized in french, and not metrics are forwarded to influxdb.

How can we give an help in hand with this issue ?

[2016-10-25 08:46] sparrc commented on #1931
was this process hanging as well? I can't seem to find anything out of the ordinary in the stack trace.

What exactly happens when it hangs? is it just the prometheus output or is it also that the rest of telegraf stops collecting metrics? Would it be possible for you to setup a dummy `outputs.file` output and see if it also hangs?

[2016-10-25 08:57] sparrc commented on #1730
we will try to have this fixed in release 1.2, if anyone can submit a PR it would be helpful.

FWIW, there is quite an easy workaround, just set `PreVistaSupport = true`. Please let us know if this workaround is not working for you.

[2016-10-25 09:09] sparrc commented on #1933
@jchauncey Let's try to see if there is another solution, I'd prefer not to disable keep-alives as this is something typically only done in very resource-constrained environments.

Go says this about the round-tripper:

[code]

So we should probably only instantiate the round-tripper once, and reuse it on subsequent calls to Gather.

You should also try removing the custom Dialer, unless that has

[2016-10-25 09:13] axinojolais commented on #1931
Yes it was hung, prometheus output times out and also the collection of metrics stop (to be precise, telegraf stops logging anything and only does futex/clock_gettime syscalls.

I can try setting up a dummy outputs.file, sure

[2016-10-25 09:17] adeleglise commented on #1730
With the `PreVistaSupport` parameter set to true, the metrics are collected. Thanks.

Tell me if I can do anything to help you with feedback from my tests.

[2016-10-25 12:32] #1926 closed

[2016-10-25 12:52] 0x000flo commented on #1730
Hi,

I can confirm that PreVistaSupport is working but there are counters with special chars (umlauts) which are not being processed. (Total gathered metrics: 0. Total dropped metrics: 0.)
Example:
ObjectName = "Virtueller Prozessor des Hyper-V-Hypervisorstamms"
Counters =  "% Gastausf**ü**hrungszeit"

Maybe this could be also adressed in release 1.2...

Tell me if you need more input.

[2016-10-25 13:26] einhirn opened #1948 "SNMP Table Indices not added as Tags"
## Bug report

When using the "auto table" conf syntax, table indices are not added as tags, even though the [source code implies](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/snmp/snmp.go#L258) they should.
### Relevant telegraf.conf:

[code]
### System info:

Telegraf - version 1.0.1
Ubuntu 14.04.5 LTS
NET-SNMP version: 5.7.2

This probably occurs on any MIB table structure,

[2016-10-25 13:34] sparrc commented on #1948
cc @phemmer

[2016-10-25 13:45] sparrc commented on #1925
the problem here is actually the documentation, "arguments" need to come after flags in Go, so the command should look like this:

[code]

[2016-10-25 13:47] #1925 closed

[2016-10-25 13:52] ConfiDev opened #1949 "Net Plugin not sending any data on Windows Server 2012"
Windows Server 2012 R2 Standard / Windows 10 Pro (both tested with same config)
Telegraf 1.0.1

I'm using the Net Input Plugin. The plugin is getting detected and started as input plugin but its not sending any data to the InfluxDb. The other stats are getting send to InfluxDb, e.g. cpu, mem.
I started the plugin without any additional configurations. (the interfaces option is not used)

The exact

[2016-10-25 13:58] sparrc commented on #1949
can you run a test output?: `telegraf.exe --debug --config telegraf.conf --test`

[2016-10-25 14:03] ConfiDev commented on #1949
No Data fround:
[code]

[2016-10-25 14:14] phemmer commented on #1948
This is happening because the MIB has that OID listed as `not-accessible`. Meaning we shouldn't try to retrieve it.
It might be possible to ignore that, and fetch it anyway, but I'm not sure if we should. I think your workaround might be the proper solution.

[2016-10-25 14:32] Da1den commented on #1730
Hi,
@0x000flo I just took a look on your problem but first I could not find the ObjectName "Virtueller Prozessor des Hyper-V-Hypervisorstamms" so I could not recreate your scenario but I tried another counter with special chars (umlaut).
Example:
[code]

I tried another one as well and that worked, too.

So I do not know what is wrong but I think that the win perf counters can handle special chars

[2016-10-25 14:38] jchauncey commented on #1933
Yeah Im working on that now. We should change the other plugins that use the same pattern.

[2016-10-25 14:51] einhirn commented on #1948
Ah, I see, somehow I was led to believe that snmptables just ignored the index column in my environment.
I did some digging and found a thread in the [net-snmp mailing list archive](https://sourceforge.net/p/net-snmp/mailman/message/17165517/). It quotes "SMI-v2" (some SNMP/MIB standard obviously)
[code]
Someone seeming to have authority said following:
[code]
So instead of relying on a Index Attr

[2016-10-25 15:00] phemmer commented on #1948
We do extract the index from the OID. It's just used internally within the plugin for identifying all the columns in each row. If you're proposing we should automatically add this index to the output tags, I would be opposed to that.
Basically the auto table mode is meant to work just like the output of the `snmptable` command (and if you notice, the lineVoltageIndex OID is missing there too). I t

[2016-10-25 15:05] sparrc commented on #1949
thanks @ConfiDev, I've tracked this down to a bug in the windows build of a system information library we're using. I've submitted a PR here: https://github.com/shirou/gopsutil/pull/275 to fix that, so hopefully we can have that merged and in Telegraf by version 1.2

[2016-10-25 15:35] einhirn commented on #1948
With 'snmptable' I can add the '-Ci' switch to show the index. In Telegraf I can't access this information, even if I wanted to. The workaround indeed only works if the snmp agent doesn't adhere to the definitions in the MIB and actually allows access to an attribute that has "MAX-ACCESS not-accessible"... With an other SNMP Agent I do not get any data when querying the index value - and telegraf

[2016-10-25 15:46] einhirn commented on #1948
Err. No. IF-MIB just ignores the SMI-v2-Rule stated above and defines "ifIndex" as Read-Only.

[2016-10-25 15:58] #1935 closed

[2016-10-25 15:58] sparrc commented on #1935
closed for lack of info

[2016-10-25 16:37] phemmer commented on #1948
I'll look into a `forceIndices` option, or something of the sort. It might be doable without any negative side effects.

You said you had one agent which doesn't respond to queries for the not-accessible OID. What do you get when you try to use `snmpget` on the object? I'm guessing something like a No Such Object error?

[2016-10-25 18:31] sorin2343 commented on #1935
Can you give me a config that should work ?
I tryied to send by telnet and It’s worked .

From: Cameron Sparr [mailto:notifications@github.com]
Sent: Monday, October 24, 2016 6:42 PM
To: influxdata/telegraf <telegraf@noreply.github.com>
Cc: Sorin Ispas | eMAG, Infrastructure <sorin.ispas@emag.ro>; Author <author@noreply.github.com>
Subject: Re: [influxdata/telegraf] telegraf on windows send data t

[2016-10-25 18:48] sorin2343 commented on #1935
192.168.1.1             Telegraf  sender
192.168.1.195   graphite relay

From: Sorin Ispas | eMAG, Infrastructure
Sent: Monday, October 24, 2016 6:59 PM
To: 'influxdata/telegraf' <reply@reply.github.com>; influxdata/telegraf <telegraf@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [influxdata/telegraf] telegraf on windows send data to graphite (#1935)

Can you give me a co

[2016-10-25 19:01] jchauncey commented on #1933
Yup will do.

On Oct 24, 2016 11:34 AM, "Cameron Sparr" <notifications@github.com> wrote:

[2016-10-25 19:22] 0x000flo commented on #1730
Hi @Da1den,

Thanks for looking into it.
My example was a bit odd. This counter is only available when the Hyper-V server role is installed.
I found my mistake. I edited the .conf file directly on the server and opened it with wordpad >< So the encoding was messed up. As I was looking on your example I used Notepad with utf8 encoding and everything is working now.

Thank you all!

[2016-10-26 00:38] moloney commented on #1938
Thanks for the clarification. Those options were included (although commented out) in the default config file included in the .deb so I was a bit confused.

[2016-10-26 06:31] einhirn commented on #1948
Thanks, that'd be great.
Yes, exactly, I get a No such object error:
[code]

[2016-10-26 06:46] adeleglise commented on #1730
The metrics are indeed collected with PreVistaSupport set to true.

But counters with quotes in their names are still not collected.

[2016-10-26 07:58] sparrc commented on #1938
If you're using the official 1.0.1 .deb then those config options are definitely not there.

[2016-10-26 12:00] m4ce opened #1953 "NATS ouput not reconnecting on failure"
Looks like if the NATS server happens to be unreachable and later comes back, telegraf never recovers:

[code]

[2016-10-26 12:03] sparrc commented on #1953
can you provide your config file, telegraf version, and steps to reproduce?

[2016-10-26 12:15] sorin2343 commented on #1935
you requests :
sysinfo
[systeminfo.txt](https://github.com/influxdata/telegraf/files/553183/systeminfo.txt)
telegraf is 1.0.1 from telegraf-1.0.1_windows_amd64.zip
the test I made is echo "Windows.QLIKVIEW5-2.HarddiskVolume1.LogicalDisk.Disk.Percent_Idle_Time 100 1477320460" > telnet 192.168.1.195 2003

[2016-10-26 12:44] sparrc opened #1954 "Audit plugin usage of http.Transport & http.RoundTripper"
http.Transport & http.RoundTripper should only be instantiated once and re-used. Plugins that use this construct should be audited to verify that this is not being recreated on every call to Gather()

see #1951 & #1933

[2016-10-26 12:47] #1933 closed

[2016-10-26 12:55] wallyqs commented on #1953
nats client has `MaxReconnect` which if set to `-1` means that it would never stop reconnecting, maybe could be adopted for the output plugin for cases like this?

[2016-10-26 13:05] m4ce commented on #1953
The sender (version 1.1.0 - master):

[code]

The receiver (version 1.0.1):
[code]

NATS server running:
[code]

Stopping NATS server:
[code]

Telegraf receiver reports NATS server is down:
[code]

Telegraf sender keeps sending although NATS server is down (not sure why this happens):
[code]

After a minute, telegraf sender detects the NATS server is down and start reporting the errors:

[code]

S

[2016-10-26 13:09] sparrc commented on #1953
OK, looks like a bug, PRs appreciated

[2016-10-26 13:15] m4ce commented on #1953
@sparcc, actually the nats consumer recovers at some point, only the sender does not. Sorry, missed to see that.

[2016-10-26 13:33] pires commented on #1953
@wallyqs so why not set [the default](https://github.com/nats-io/nats/blob/master/nats.go#L35) to `-1`? Anyway, it's a simple fix, on it.

[2016-10-26 13:35] sparrc commented on #1953
@pires please make the change in the nats output and the nats_consumer input as well,

thanks!

[2016-10-26 14:10] pires commented on #1953
@sparrc 👍

[2016-10-26 14:28] dgnorton commented on #1730
Are quotes in the names a separate issue?

[2016-10-26 14:34] m4ce opened #1956 "NATS consumer missing messages"
Hi,

I have a really weird issue here. It seems that the NATS consumer is missing messages from time to time.

This is the telegraf publisher:

[code]

This is the subscriber:

[code]

Consumer configured as follows:

[code]

Publisher configured as follows:

[code]

The publisher has a number of input plugins configured, see below:

[code]

The subscriber only has

[code]

I can only see the nats

[2016-10-26 14:35] m4ce commented on #1956
By the way, I've tried to subscribe to the subject telegraf myself and I could see the messages coming in, so the issue seems to be really on the subscriber's side.

[2016-10-26 14:40] m4ce commented on #1956
Also, looking at the NATS server monitoring interface, you can see the messages add up:

[code]
in_msgs = 3816, out_msgs = 3816
[code]

[2016-10-26 14:43] sparrc commented on #1956
from the logging you've provided it looks as if it's missing almost all of the messages.

[2016-10-26 14:45] m4ce commented on #1956
Yes, from the logs I provided it is like that indeed. However, if I leave it running for sometime, some messages occassionally come in! It's really bizarre.

Any chance you can reproduce this?

[2016-10-26 14:45] #1953 closed

[2016-10-26 14:48] sparrc commented on #1956
@m4ce are you 100% sure that you don't have multiple consumers pointing to the same queue_group? messages are only delivered to one subscriber for each queue group: https://nats.io/documentation/concepts/nats-queueing/

[2016-10-26 14:54] sparrc commented on #1956
I've actually been able to reproduce this quite easily....I'm not sure the issue but the nats_consumer appears to not be receiving all messages.

[2016-10-26 15:01] m4ce commented on #1956
so, I stopped the only consumer I have:

[code]

There's only the publisher as you can see.

Quick protocol demo to see if messages are coming in:

[code]

So messages are there. Starting telegraf's subscriber again:

[code]

Nothing...

[2016-10-26 15:01] m4ce commented on #1956
ah okay.. sorry read the message now..

[2016-10-26 15:05] sparrc commented on #1956
I think the problem is that we're not creating a buffered channel when we subscribe to nats, and it appears that the nats client will just drop the message if it can't push it onto the channel immediately.

[2016-10-26 17:44] wallyqs commented on #1953
Thanks @pires :) I think it is a case by case thing... I thought that for `telegraf` case not giving up when forwarding output was expected so suggested the never stop reconnecting option, but yeah by default client stops reconnecting when no servers available on max retries then closing the connection, triggering the close callback and letting user decide how to handle that case.

[2016-10-26 18:44] bennco1 commented on #1300
Hello - can anyone advise how to change the telegraf process from running as telegraf to root?

[2016-10-26 20:44] bennco1 commented on #1657
Hello can anyone advise how exactly to have telegraf run as root user? I am experiencing the error above. I am able to pull cpu, mem etc but nothing related to ceph.

[2016-10-26 20:50] bennco1 opened #1960 "error reading from socket '/var/run/ceph/ceph-osd.112.asok': error running ceph dump: exit status 22 - Telegraf"
Hello can anyone advise how exactly to have telegraf run as root user or correct the problem reported? I am able to pull cpu, mem etc but nothing related to ceph.

Telegraf - version 1.0.1

2016/10/26 16:41:40 error reading from socket '/var/run/ceph/ceph-osd.112.asok': error running ceph dump: exit status 22
2016/10/26 16:41:40 error reading from socket '/var/run/ceph/ceph-osd.126.asok': error ru

[2016-10-26 20:52] sparrc commented on #1960
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-10-26 20:52] #1960 closed

[2016-10-26 20:54] spjmurray commented on #1657
Ceph's permissions are the problem here. They should create the Unix socket as 775, try seeing what they say for starters

[2016-10-26 21:01] sparrc commented on #1657
since there have been so many questions about ceph permissions, there seems to be a need for the doc to be more informative. If anyone can edit this doc: https://github.com/influxdata/telegraf/blob/master/plugins/inputs/ceph/README.md with details about permissions (chmod commands to run, groups to add telegraf user to, etc.) & submit a PR I would appreciate it a lot.

[2016-10-26 21:10] vsavornin commented on #1730
Hi !

Found the solution for the quotes.
Windows doesn't use the classic quote, but the curly one (cf. explanations [here](http://practicaltypography.com/straight-and-curly-quotes.html))

You can use curly quote with ALT+0146.

In config file, you need to replace all the quotes with curly quotes into the names of Perf Counters.

Tested with Telegraf v1.0.0 on Windows Localized in French
PreVistaSu

[2016-10-26 22:53] bennco1 commented on #1657
@spjmurray Thanks I did confirm perviously it's a permissions issue by executing the following sudo -u root ceph --admin-daemon /var/run/ceph/ceph-osd.87.asok perf dump, but I am unsure how to resolve it from a telegraf perspective.

[2016-10-26 23:16] kimor79 commented on #1907
I see similar behavior.

Here are the metrics that do end up in InfluxDB:
[code]

Config:
[code]

[2016-10-26 23:25] johnrengelman commented on #1907
@kimor79 can you try setting 'period=5m' and see if that makes a difference?

[2016-10-26 23:50] kimor79 commented on #1907
I changed AutoScaling, the second input, to 5m but it didn't make a difference:

[code]

[2016-10-27 07:33] adeleglise commented on #1730
@vsavornin This solution works for me. Thanks for sharing.

[2016-10-27 08:47] toni-moreno opened #1961 "[Feature Request] Add Support for HTTPS/Authentication in apache plugin"
## Feature Request

Some Environments with enabled security, has apache servers only serving data over HTTPS and/or with HTTP Authentication , but when configured in Telegraf this error happens en HTTPS

[code]

There is no info for configure any HTTPS  and Authentication related parameters at https://github.com/influxdata/telegraf/blob/master/plugins/inputs/apache/README.md,
### Proposal:

Add su

[2016-10-27 08:51] sparrc commented on #1657
has anyone tried just `sudo chmod 775 <socket_path>`?

[2016-10-27 08:59] sparrc commented on #1300
closing as it appears to be a permissions issue.

If there is a specific workaround that should be pointed out, please submit a PR to change the plugin README, thanks

[2016-10-27 08:59] #1300 closed

[2016-10-27 09:43] #1936 closed

[2016-10-27 13:37] runsisi commented on #1657
@sparrc see my comment above.
i will create a PR on ceph to let the user to configure the admin socket file mode.

[2016-10-27 17:41] sparrc commented on #1657
@runsisi do you think you could add step-by-step instructions to https://github.com/influxdata/telegraf/blob/master/plugins/inputs/ceph/README.md?

You don't need to clone the repo, you can just edit the file in-browser and submit a PR 😬 🙏

[2016-10-28 07:19] axinojolais commented on #1931
Hi,

I have another hang, however not on a machine where I configured outputs.file.
I ran `time strace -fc` on the process for one minute, and I got :
[code]

The process is still up, if you want me to run commands on it ?

[2016-10-28 09:36] maxenced commented on #1934
Ok, so straced telegraf to try to understand what's going on.

The answer I get from jolokia is :

[code]

What is sent to influx is :

[code]

The answer is :

[code]

But in influx :

[code]

But from grafana, the request is :

[code]
ie :

[code]
which returns :

[code]

Might be more a grafana issue than a telegraf one ...

[2016-10-28 11:53] SomKen opened #1969 "[Feature Request] Add logparser support for Lighttpd"
## Feature Request
### Proposal: Add
### Current behavior: Current telegraf is unable to parse Lighttpd logs
### Desired behavior: Able to parse Lighttpd logs.
### Use case: Lighttpd is a commonly used webserver and is server used for PFSense.

https://redmine.lighttpd.net/projects/1/wiki/Docs_ModAccesslog

[2016-10-29 04:52] runsisi commented on #1657
@sparrc OK, i will try :)

[2016-10-29 20:29] RajibHossen commented on #1938
`# Collects performance metrics from the MON and OSD nodes in a Ceph storage cluster.
[[inputs.ceph]]
  ## All configuration values are optional, defaults are shown below

  ## location of ceph binary
  ceph_binary = "/usr/bin/ceph"

  ## directory in which to look for socket files
  socket_dir = "/var/run/ceph"

  ## prefix of MON and OSD socket files, used to determine socket type
  mon_prefix =

[2016-10-30 03:22] mattyjones opened #1971 "[feature request] SSL Certificate Input"
## Feature Request

A telegraf input for SSL certificates and associated values.
### Proposal:

I would like to write a telegraf input that could pull fields/values from a SSL certificate. I see the following data as useful:

[code]
### Current behavior:

Nothing currently exists that I am aware of
### Desired behavior:

All reasonable stats for the certificate tree for a given certificate
### Use

[2016-10-30 03:34] phemmer commented on #1971
Telegraf is used for capturing time series data. Values that change. Most of those values do not change. The only one that does is the expiry time. For that see #1762

[2016-10-30 03:37] mattyjones commented on #1971
@phemmer Fair, enough I am unsure how I missed that. Thanks!

I will leave this here for now but I have no objection to closing this and using the above mentioned input if no one else can think of a good use for this data.

[2016-10-30 03:39] phemmer commented on #1971
Perhaps a mixture of the two might be best. I think all that data is overkill, but some of it might be useful for tagging if you're monitoring a large number of servers with different certificates.

[2016-10-30 03:44] mattyjones commented on #1971
Speaking to the above about the timeseries data, I completely agree. My reason for pulling everything is because data is cheap, if I am going to pull one thing I might as well pull it all. Who knows in the future who it could be used or what other inputs I could cross reference with it.

I do agree on the overkill but I also believe when it comes to metrics, within reason, anything worth doing is

[2016-10-30 04:06] phemmer commented on #1971
Perhaps. For frequently polled data, that extra information can be detrimental though. It's a lot of data to have to store when you're really just after a single 4 or 8 byte number. More work for the time series DB (e.g. InfluxDB).
Though granted, I don't imagine this will be frequently polled.

But if I were to throw out a feature list, I would expect such a plugin to provide the following:
* Exp

[2016-10-30 22:15] harnash commented on #1825
@bondido thanks for report. I'll look into it and hopefully fix it this week.

[2016-10-30 22:21] szabolor opened #1973 "IPv6 addresses can't be parsed with grok's %{IPORHOST}"
The default %{COMBINED_LOG_FORMAT} can't understand even simple IPv6 addresses:
`2001:0db8:85a3:0000:0000:8a2e:0370:7334` with `%{IPORHOST}` becomes: `"IPORHOST": [ "2001" ]`

But if we use the definition from [Logstash's patters](https://github.com/logstash-plugins/logstash-patterns-core/blob/master/patterns/grok-patterns) `IPORHOST (?:%{IP}|%{HOSTNAME})` it can match the whole IPv6 address.

Fur

[2016-10-31 10:48] kostasb opened #1975 "Statsd metrics not isolated per plugin"
Running 2 statsd input plugins:

[code]

Submit a single metric to one of the inputs, e.g. on port 8125:

`echo "a.b:100|c" | nc -u localhost 8125`

This results in two output metrics, both prefixes applied.

[code]

Tested on the nightly build.

[2016-10-31 15:35] albundy83 opened #1976 "[feature request] buffer data when output (influxdb ..) not available"
## Feature Request
Do you think it's possible to bufferize data until output is back again ?
### Proposal:
Write in log and replay content
### Current behavior:
Data are lost
### Desired behavior:
Don't loose data :)
### Use case:
For a production platform, it's very important that each component is able to handle issues.

[2016-10-31 19:41] widdma commented on #1976
The current behavior, as described in the default config, is:
[code]

Are you suggesting a different behavior? Perhaps storing the buffer on disk?

[2016-10-31 20:52] wei-hai opened #1977 "make persistent connection to postgresql"
## Feature Request
Let Telegraf make persistent connection to postgresql database

### Proposal:
We are using telegraf to collect metric data from postgresql and it works well, however, we found that it doesn’t keep persistent connection postgresql, which causes unnecessary growth and noises in postgresql log file

### Current behavior:
Telegraf makes connection to postgresql every INTERVAL second

[2016-10-31 23:04] albundy83 commented on #1976
No, sorry, I just did not read correctly the configuration parameters.
That's perfect.

[2016-10-31 23:04] #1976 closed

[2016-11-01 11:44] Snorflake commented on #1230
I'm experiencing this too. version 1.0.1

[2016-11-01 15:18] kostasb opened #1978 "[statsd] Convert counters to floats"
### Proposal:

Emit statsd counter values as float instead of int in Line protocol.

### Current behavior:

Counters are emitted as integers while gauges are emitted as floats.
This causes a type conflict in InfluxDB when trying to store a counter and a gauge in the same field. It also makes it impossible to send floating increments to counters.

### Desired behavior:

Convert statsd counters from

[2016-11-01 17:54] banks commented on #1775
Hi, @sparrc

I've finally gotten around to testing 1.0.1 ready to roll out to our servers and I've discovered that this issue seems NOT to be resolved in the latest 1.0.1 binary..

On my hosts before (0.13.2) I could run my little for loop from the original issue description:

[code]

On my canary host (wouldn't expect identical number of metrics but equally consistent) I see:

[code]

The log out

[2016-11-01 18:09] banks commented on #1775
FWIW my wild guess is that although the output is no longer clearing the map on each Write, it is clearing it at the end of each collection so there is a race where prometheus might (and often does) scrape before it's done with all batches so it can see the result f any number of Writes complete before it gets data... i.e. still not seeing everything collected since last scrape.

This is almost as

[2016-11-01 21:10] wei-hai opened #1980 "[feature request]Hide elasticsearch username and password from log"
## Feature Request

### Proposal:
Hide elasticsearch username and password from log

### Current behavior:
given `servers = ["https://admin:password@localhost:9200"]`
The log includes username and password in elasticsearch URL like:
`2016/11/01 13:53:09 ERROR in input [elasticsearch]: Errors encountered: [Get https://admin:password@localhost:9200/_nodes/_local/stats: remote error: handshake failur

[2016-11-02 09:45] #1956 closed

[2016-11-02 10:30] sparrc commented on #1775
doesn't this add up to 4122 metrics, which is what you were expecting?:

[code]

I think that the consistency can be fixed by making your output batch size larger than the number of metrics you expect to receive, ie, set `metric_batch_size = 5000`. If you do this and run your script, I think you will see consistent results every time.

The problem is that Telegraf can only "Lock" the output on eac

[2016-11-02 11:28] sparrc commented on #1969
Could you give more details? what do you lighttpd logs look like? the link provided shows a spec for formatting logs but it would be more helpful if you could provide examples of what the default log lines look like, and maybe some common variations if they exist.

for dev reference, see https://github.com/garethr/logstash-patterns/pull/3/files

[2016-11-02 11:35] sparrc commented on #1934
what version of grafana are you using? I think it should be supported in the latest version

[2016-11-02 11:44] banks commented on #1775
Yes sorry, that's confusion on my part. I expected 4122 _because_ I added those up - my point is those log messages look correct and are the same for 1.0.1 as 0.13.2, despite the _output_ as indicated in the for loop above being different.

I can't explain why we saw 3988 in the output though - that was consistently less than 100% but its also not a simple combination of the batches reported in th

[2016-11-02 12:02] m4ce opened #1982 "chrony input plugin leap_status is truncated"
Hi,

the chrony input plugin has a little issue where assigning string values to tags. It only considers the first item of the valueFields array of strings.

In the case of leap_status being 'Not synchronized', only 'not' will be reported.

[code]

I am preparing a pull request to fix the issue.

[2016-11-02 12:05] sparrc commented on #1775
You need to understand that the prometheus output is a bit different than any other telegraf output. "Writing" a batch to the prometheus output is more like just registering metrics on the http endpoint. Batching is really intended more for the sake of the more traditional write endpoints (InfluxDB, graphite, openTSDB, MQTT, AMQP, Kafka, etc).

I think that you should be able to come up with a max

[2016-11-02 12:08] maxenced commented on #1934
Grafana v3.1.1 (commit: a4d2708)

[2016-11-02 14:02] sparrc opened #1984 "logparser grok should support add_field, add_tag config options"
these should be supported in a way similar to logstash: https://www.elastic.co/guide/en/logstash/current/plugins-filters-grok.html#_synopsis_128

use-case from Google mailing list:

[2016-11-02 14:38] SomKen commented on #1969
http://pastebin.com/raw/eFcQu4Ha

[2016-11-02 14:43] sparrc commented on #1969
@SomKen isn't that the same as the "combined log format"?

[2016-11-02 14:45] banks commented on #1775
Thanks for that @sparrc

Batching not being relevant for prometheus is useful to know.

Yeah if that is a viable solution then this would be necessary. I'll see what happens in our tests.

Interesting. The way I see it is if we do end up with ~100k metrics per host which is not impossible, then exposing them all through a single scrape in Telegraf is less overhead than running hundreds of promethe

[2016-11-02 14:48] sparrc commented on #1969
closing because this is the same format as the "COMBINED_LOG_FORMAT"

[2016-11-02 14:48] #1969 closed

[2016-11-02 14:58] sparrc commented on #1775
yes, you might be right that collecting the prometheus metrics in one place is better, especially if the machine exposing the http endpoint with that many metrics isn't expected to perform other heavy duties.

I will reopen the issue because it's probably worth revisiting how we handle the prometheus output. Basically the problem is that prometheus expects that the metrics get collected at the tim

[2016-11-02 15:01] banks commented on #1775
Cool thanks.

I didn't quite follow your suggestion. It sounds like something I was considering but I think would need a change to how Telegraf calls Write to indicate whether or not there are more metrics to be collected in the current collection cycle.

How do you propose informing the output that there are "outstanding "Write" requests on the lock"?

Given a mechanism like I described (and like

[2016-11-02 15:04] sparrc commented on #1775
My hope was that the prometheus plugin could service this lock internally, delaying HTTP requests until _all_ metrics are ready.

[2016-11-02 15:36] guillemj opened #1985 "Telegraf seemingly undistributable due to license-less dependency"
## Bug report

The current telegraf from git master (commit d6135f8c760cd0ad334b310a14fd8546b401acff) looks undistributable, as it depends on github.com/influxdata/config which has no license. This might not be a problem for Influxdata as the original copyright holder, but is should be for any third-party, including any attempt to package this for a distribution. Of course IANAL, etc.

The relevan

[2016-11-02 15:51] JamesClonk commented on #1878
@sparrc Could you have a look at the Riemann output plugin at https://github.com/influxdata/telegraf/pull/1900, when you have time?
I think it's finished now. We've been using a telegraf built with it for 2 weeks now in our environments and it seems to work well. 😃

[2016-11-02 16:18] sparrc commented on #1775
giving this a second thought, I'm actually not sure there is anything we can do to guarantee that this won't happen. Telegraf deals with metrics individually as they stream to the output plugins, so there isn't really any concept of "groups" of metrics that should or shouldn't get exposed together (in the prometheus sense).

as to the behavior in 0.13.2, I think that was even worse in some ways. I

[2016-11-02 16:28] sparrc commented on #1985
I don't fully understand the problem with the latter, what do we need to do there to fix it exactly?

[2016-11-02 16:58] p3r7 opened #1986 "Feature request: support graphite templates for plugin httpjson"
The statsd plugin support graphite templates (cf [statsd plugin documentation](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/statsd) and [more general template documentation](https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md#graphite)).

It would be nice for plugin httpjson to support this feature as well.

Indeed, it flattens the retrieved JSON and

[2016-11-02 17:02] sparrc commented on #1986
statsd is a more natural fit for that, I have no idea how we could support something like this in httpjson, since the httpjson plugin constructs measurement names out of json trees rather than dot buckets

[2016-11-02 17:02] #1986 closed

[2016-11-02 17:26] p3r7 commented on #1986
Mhm ok, but, I fail to see the difference between a dot bucket and a flattened json path, with '.' as node separators.

Statsd and graphite work nice for push mode, and httpjson seemed like a good alternative for pull mode.

[2016-11-02 17:43] sparrc commented on #1986
I'd probably recommend prometheus, you can also push tags into the json directly so I'm not sure I understand the point of templating anyways

[2016-11-02 18:42] guillemj commented on #1985
The source for parse.peg.go is parse.peg, generated with https://github.com/pointlander/peg. Because there have been commits changing parse.peg.go but not the source, when building from source or when modifying the source those changes would get lost.

The naoina/toml didn't even build against latest pointlander/peg, but I've submitted a couple of issues/pulls for that:

  https://github.com/naoin

[2016-11-02 22:13] banks commented on #1775
@sparrc thanks for the thought. It was my assumption based on logs and config etc, that Telegraf has distinct collection "passes" - i.e. it does have a concept of a group of metrics collected together that is just hidden form the outputs currently.

If that is really not the case then You're right, it's pretty hard to reconcile the model with Prometheus's assumptions.

I'm going to think some more

[2016-11-03 08:57] erSitzt opened #1987 "Docker input plugin imagename/version split does not work if private registry with port in url is used"
## Bug report

The docker input plugin splits the image name and image version at the colon.

python:3

results in

container_image: python
container_version: 3

but the image name may contain a private registry url which contains a port, also with a colon for separation.

eg.

registry.domain.com:5000/monitoring/cadvisor:internal.0.23

This results in

container_image: registry.domain.com:
contai

[2016-11-03 09:02] p3r7 commented on #1986
Setting the tag into the json sets it globally, for the whole json document.
The idea here would have had been to have **different tags inside a same document**.

Here is a minimalist example.

The following JSON document
[code]

Would translate after flattening into the fields:
[code]

Having a template like so
[code]

Would allow to store our 3 fields into a single measurement, but with differen

[2016-11-03 09:28] sparrc commented on #1986
There has been a request for an input plugin similar to httpjson that can scrape all data formats, see https://github.com/influxdata/telegraf/issues/813. note that there is already a workaround for that. You can use the `exec` plugin to call `curl <url>`.

The main reason I'm resistant to this is because once every 2-4 weeks someone opens a feature request for a different way of parsing their part

[2016-11-03 09:29] sparrc commented on #1986
what's more, you could also do what you want when https://github.com/influxdata/telegraf/pull/1965 gets merged, as you will be able to separate multiple JSON documents by using an array at the root.

[2016-11-03 10:47] sparrc commented on #1982
closed by #1983

[2016-11-03 10:47] #1982 closed

[2016-11-03 13:22] JulienChampseix commented on #352
@sparrc is there some progress about a plugin for mysql db query ?

[2016-11-03 14:12] puckpuck opened #1988 "Add "Questions" global status variable to mysql input plugin"
## Enhancement Request

Currently the *Questions* global status variable is not gathered for MySQL.  This is different from the *Queries* variable especially for applications that make heavy use of prepared statements and stored procedures.  *Questions* delivers a more accurate measure of how the system is being used
<http://dev.mysql.com/doc/refman/5.7/en/server-status-variables.html#statvar_Ques

[2016-11-03 14:24] sparrc commented on #1988
sure, PRs appreciated

[2016-11-03 14:26] sparrc commented on #352
@JulienChampseix no, I would update the case if I was working on it. But I wouldn't expect to see it anytime soon, this is a large & difficult feature to implement.

[2016-11-03 14:47] toni-moreno opened #1989 "Aggregator documentation: historical data not supported"
## Bug report

Telegraf is not detecting aggregators plugins with this error.

[code]

### Relevant telegraf.conf:

[code]

### System info:

windows 2008 R2 //(telegraf-1.0.1_windows_amd64.zip)

[Include Telegraf version, operating system name, and other relevant details]

### Steps to reproduce:

1. C:\"Program Files"\Telegraf\telegraf.exe --config C:\"Program Files"\Telegraf\telegraf.conf --tes

[2016-11-03 15:01] timbunce commented on #1507
@sparrc what are the consequences of using a different separator in influxdb?

Using `_` seems strange to me when many of our metric names include underscores, so the individual metric names can't be separated out. Compare `mls_image_resizer_raw_img_get` with `mls.image_resizer.raw_img.get`.

I found [an article](http://techblog.shutl.com/2016/06/moving-from-graphite-to-influxdb/) that says:

As a

[2016-11-03 15:05] toni-moreno commented on #1989
I've tested also on linux with rpm telegraf-1.0.1.x86_64.rpm, and is also exiting with the same error.
[code]
I've copied config example from https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#aggregator-configuration-examples

[2016-11-03 15:21] spjmurray commented on #243
Just a heads up that I'm taking this on as things have gone a bit stale in the last 7 months :)  This work is dependant on a few patch sets making it into gophercloud.  Will keep you updated.

[2016-11-03 15:24] yankcrime commented on #243
@spjmurray My hero ❤️

[2016-11-03 16:25] sparrc commented on #1507
there are no consequences, it's just the default, change it to `.` if it's easier for you, that's why the config option exists

[2016-11-03 16:26] sparrc commented on #1989
sorry for the confusion but that feature has been added in 1.1, it's not available yet

[2016-11-03 17:15] p3r7 commented on #1986
Well, sir, thank you sir.
Indeed, a JSON-path parser would be the most flexible solution.

[2016-11-03 17:25] sparrc commented on #1989
@toni-moreno a release candidate for 1.1 should be available on the downloads page soon: https://www.influxdata.com/downloads/

[2016-11-03 18:06] #1949 closed

[2016-11-03 18:48] #1564 closed

[2016-11-03 19:06] sparrc commented on #1907
@kimor79 @gugansankar can you confirm that this behavior is observed when not in `--test` mode?

@kostasb I remember you mentioned a customer issue with this, did you ever track it down?

[2016-11-03 19:07] sparrc commented on #1032
closing this out for lack of updates & corroboration, @damm please feel free to reopen if you're able to reproduce with a more recent version of telegraf

[2016-11-03 19:07] #1032 closed

[2016-11-03 19:08] phemmer opened #1990 ""mem" measurement should report more metrics"
## Feature Request

### Proposal:
On Linux `/proc/meminfo` provides a ton of available metrics about host memory usage. Very few of these metrics are made available through the "mem" measurement.

Either the "mem" measurement should be extended to include these additional metrics, or a new measurement should be provided.

### Current behavior:
Only the following metrics are made available:
* activ

[2016-11-03 19:08] sparrc commented on #1630
closing for lack of updates

[2016-11-03 19:11] sparrc commented on #1783
@johnrengelman what is the bug here exactly? are you requesting that telegraf's default docker images install https by default? shouldnt that be a bug in the docker repo?

[2016-11-03 19:18] sparrc commented on #1990
might be worth writing a `meminfo` plugin only for linux that would read /proc/meminfo and create metrics for whatever lines it finds there (since they do seem to change fairly often between different kernel versions)

I can't decide though if that should be a separate plugin or a configurable extension of the regular `mem` plugin.

[2016-11-03 19:23] sparrc commented on #1990
might also close https://github.com/influxdata/telegraf/issues/1176

[2016-11-03 19:42] kimor79 commented on #1907
Yes, I can confirm the behavior when not in `--test`

[2016-11-03 20:44] toni-moreno commented on #1989
Hi @sparrc  but I'm a bit confused over current versions, I'm compiling from sources rigth now commit (47de43abf3864b99465b5b033f420ce3d6e25e29) , and when building the executable version 1.0.0-beta3-209-g47de43a appears

[code]

[2016-11-03 20:53] johnrengelman commented on #1907
@kimor79 Autoscaling metrics are not enabled by default in AWS accounts. Have you enabled them for some ASGs? (http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-monitoring.html#as-enable-group-metrics)

If you have not enabled them for any ASG, then cloudwatch returns an empty list of metrics available for the AWS/AutoScaling namespace.

That might be the issue there...i'm lookin

[2016-11-03 21:10] toni-moreno commented on #1989
Hi @sparrc sorry for the error related to the versions.

When testing with my recently compiled version (right now) I can not see any `<fieldname>_max` , `<fieldname>_min` on my output file.  I think the aggregator is not running  propertly.

Perhaps you would like to open the issue again...

NOTE: I'm inserting each second a apache formated line to the simulated access.log to test the aggregator,

[2016-11-03 21:11] johnrengelman commented on #1574
@zarnovican can you replace the single quotes `'` with double quotes `"` and try again? When I tested locally, I found that single quoted values for any of the durations where not correctly parsed and were thus resulting in invalid queries to cloudwatch (because they would default to 0 seconds).

[2016-11-03 21:12] johnrengelman commented on #1907
@gugansankar can you change your single quotes `'` to double quotes `"` in your config file and try again?

[2016-11-03 21:38] sparrc commented on #1989
sure, if that's the case it's definitely a bug

[2016-11-03 21:38] sparrc commented on #1989
could you provide a sample log file?

[2016-11-03 22:06] kimor79 commented on #1907
Good catch with the autoscaling metrics. It was indeed not having metrics enabled in AWS.

[2016-11-03 22:18] trastle commented on #1775
I have encountered this same issue.

Reading through your notes the behaviour in V0.13.2 would be much more useful in my use than the V1.0.0 behaviour. I am not sure if this is useful

@banks what was your work around with V1.0.1?

[2016-11-03 22:18] toni-moreno commented on #1989
I've configured with debug = true, and no logfile .  And  here the output

[code]

[2016-11-03 23:29] damm commented on #1032
@sparrc oh I can reproduce it but after a point with 40 core's Telegraf is close enough.

I think the blame is partially due to not all kernels being in the same HZ and I don't think that should complicate calculating cpu usage but it seems to.

Pretty much my tools tell me one thing but i'm not sure I should trust them; i'm dealing with stock ubuntu kernels with hpet enabled in the bios and in th

[2016-11-04 02:57] johnrengelman commented on #1907
@sparrc Still waiting for feeback, but this might just be a configuration issue - I've fixed up some docs here: https://github.com/influxdata/telegraf/pull/1991

[2016-11-04 03:38] johnrengelman commented on #1574
@zarnovican I did some testing with one of my larger accounts tonight and this is what I found.
When I queried Cloudwatch directly, I saw 408 possible metrics.
When I used your configuration above, Telegraf would output a variable amount, generally in the ~350 - 360 range.

I then tried upping the `period` and `delay` numbers and as I increased them, I would get outputs closer to 408, but they wer

[2016-11-04 03:39] johnrengelman commented on #1907
Some more info that is likely pertinent: https://github.com/influxdata/telegraf/issues/1574#issuecomment-258337777

[2016-11-04 06:02] banks commented on #1775
@trastle increasing batchsize is a theoretical workaround with a few unpleasant caveats as noted. Honestly I've not even tried it yet although it should work.

The more I look at this, the more I see fundamental mismatches between what telegraf does and what Prometheus expects.

I've not finished looking yet, but I'm sadly leaning towards replacing telegraf in our setup with a combination of Prome

[2016-11-04 08:33] sparrc commented on #1032
@damm https://github.com/shirou/gopsutil is the library we use to get CPU info, and it does make corrections for the different hz of various kernels. I would be very surprised if it had a kernel that ubuntu is using wrong, but if you could trace it down I would recommend opening an issue there.

[2016-11-04 08:39] sparrc commented on #1907
@johnrengelman It sounds like we probably need to update the documentation with this information....do you think you could submit a PR for that?

[2016-11-04 08:49] sparrc commented on #1775
@trastle increase `metric_batch_size` in the `[agent]` section of your config to a number larger than you'd expect a single "collection" to take.

it's true that using telegraf for prometheus output is somewhat of a shoehorn. The typical workflow of a prometheus exporter is to collect metrics on an http request, which means that there is always a "batch" of metrics that are collected & exposed tog

[2016-11-04 08:55] sparrc commented on #1775
@banks I'd appreciate if you could test with a very large batch size setting no matter which option you decide on. I'm thinking that the simplest solution to this would actually be to just set the batch size for the prometheus output to a very high number (10,000,000?) when the output is created (ignoring the `metric_batch_size` setting).

From what I can tell, this can be set to an almost arbitra

[2016-11-04 09:19] sparrc commented on #1574
thanks for the sleuthing @johnrengelman, I will close this issue once we've updated the documentation to account for this. We might also want to increase the default values for `period` and `delay` to `5m`?

[2016-11-04 10:06] banks commented on #1775
I've had a few other duties to attend to this week which have limited my time to continuing figuring out the best option here beyond discovering the issue in the first place and out-of-hours reading up on things.

It's on my TODO list though to test with the hack fix and to review telegraf code base more thoroughly to see if there is a cleaner solution.

To be honest though your suggestion there i

[2016-11-04 10:12] sparrc commented on #1989
I believe this is actually a documentation issue. Unfortunately at the moment we do not support historical data in the aggregator plugins.

This is a bit of a thorny problem as we have to create a sliding window of cached metrics for each period. Fully supporting historical data would require creating an arbitrary number of windows as metrics arrive to the aggregator because we can't pre-determine

[2016-11-04 10:13] zarnovican commented on #1574
Hi have re-tested the issue today and I'm not able to reproduce it anymore. I have tested telegraf 0.13.1, 1.0.1 and intervals 1m, 10m. None of the four combinations produced the original problem. My conclusion is that _something_ probably changed on AWS end.

BTW, I have switched from 1m to 10m interval some time ago. The reasons were financial. On 1m interval, the number of CloudWatch queries wa

[2016-11-04 10:16] sparrc opened #1992 "Aggregator plugins: Support historical data"
Currently aggregator plugins only support aggregating data with "current" timestamps.

We should try to support a single stream of historical data in the aggregator plugins, as this likely could be a common use-case when parsing a logfile.

see https://github.com/influxdata/telegraf/issues/1989

from that issue:

[2016-11-04 10:16] sparrc commented on #1989
I created a separate issue for supporting historical data, see https://github.com/influxdata/telegraf/issues/1992

[2016-11-04 10:34] sparrc commented on #1775
FWIW, in my mind I wouldn't call increasing the batch size a "hack", I think it's simply the correct behavior for a prometheus exporter. The fact that it needs to be increased manually at the moment is inconvenient, but it's because the setting makes more sense from a more standard "push" output perspective.

[2016-11-04 10:46] johnrengelman commented on #1907
For sure. Will do it later this morning.

[2016-11-04 10:50] johnrengelman commented on #1574
@sparrc I don't think we should set the minimum as there are metrics that you can get at 1 and 3 mins. So it should be up to you. You'd just have to break at those metrics into a separate input.

I think updating the docs with this info and including a note in the sample config comments should be sufficient.

[2016-11-04 10:57] banks commented on #1775
@sparrc I agree: the "hack" is doing it manually in a global config. This is a hack because:

 - even if documented, it's surprising behaviour that will be overlooked and catch people out
 - the failure mode is more or less silent but fundamentally compromises accuracy/availability of the data
 - it limits Prometheus users to never being able to use any other output in conjunction with Prometheus

[2016-11-04 10:59] zarnovican commented on #1569
I have re-tested this issue and it is still happening. For the latest 1.0.1 telegraf, both 1min and 10min intervals.

[2016-11-04 11:08] sparrc commented on #1775
TBH I was thinking something quite a bit simpler, after calling NewRunningOutput we can just check if we are creating a prometheus output:

[code]

this would just need to get inserted at https://github.com/influxdata/telegraf/blob/master/internal/models/running_output.go#L44

[2016-11-04 11:13] sparrc commented on #1990
I think it's probably better to have an option on the `mem` plugin, and just indicate in the doc that it only works on linux.

[2016-11-04 11:29] banks commented on #1775
Hmm thinking more: is this even a correct solution?

Given that flushing right now is not in strict collection groups, even if we make batch size arbitrarily large, it will onyl work as expected if all inputs are on same interval and collect at exactlty same time so all the metrics arrive in one batch right?

If you were to have 2 different inputs with different intervals, you'd never have all the

[2016-11-04 11:49] sparrc commented on #1775
what this does guarantee is that when the metrics are getting written (on flush_interval), that whatever metrics have been reported at that time will get written together (and thus can never be split across multiple prometheus requests)

any metrics that arrive later would get added to the next flush, which to me seems like the logical thing to happen.

You would have the metrics together whenever

[2016-11-04 12:00] ragalie commented on #1775
I think there are three intervals at play: input plugin collection interval, telegraf flush/write interval and prometheus scrape interval.

To me the core difficulty is in the interplay between telegraf flush and prometheus scrape. If telegraf flushes too quickly, then it's possible for prometheus to miss metrics. For example:

[code]

I don't think we ever actually get a plugin B reading in that

[2016-11-04 12:07] banks commented on #1775
Heh I was just writing up an elaborate example that said the same as Mike. Even if you consider that flush interval is set to min of any of the input intervals, the collections and flushes take time too and there are clearly races that can happen that would mean some plugins output might be missed entirely on some scrapes due to being overwritten by another flush before the scrape can happen.

I t

[2016-11-04 12:17] sparrc commented on #1775
@ragalie a `flush` with no metrics is a no-op, and so at `scrape 00:14` you would actually get the `collect 00:00: pluginB`. But that being said I'm sure we can construct another example where things get dropped, and I agree that the interfacing between these three intervals is complicated & opaque.

Alright! I think the solution will be to have an "expiration" setting for the prometheus output. E

[2016-11-04 12:27] banks commented on #1775
Sounds good to me!

Thanks for your effort on this @sparrc we really appreciate the time in this conversation and putting up with a lot of verbosity and mind-changing from me :).

Either Mike or I would probably be able to contribute a PR for that proposal if that would help.

[2016-11-04 14:18] karech opened #1997 "Non-default HTTP timeouts for RabbitMQ plugin"
There is hard-coded http timeouts ( [header](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/rabbitmq/rabbitmq.go#L173) and [client](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/rabbitmq/rabbitmq.go#L178) ).
Sometimes plugin failes to fetch data with this timeouts, so it's better to have option to configure them.

[2016-11-04 14:42] trastle commented on #1775
I have found the same thing as @ragalie the **flush_interval** is key. I need to make sure metrics collection is completed before flushing to the prometheus output or metrics are lost.

In my environment I collecting some 50k metrics per interval. This takes about 350 seconds. I am allowing 600 seconds so have plenty of head room.

I was testing this today using V1.0.0 with the following config:

[2016-11-04 14:42] ragalie commented on #1775
@sparrc I have a PR on this, just need to get it cleared and sign the CLA and I'll open it up. Thanks again!

[2016-11-04 15:11] dswarbrick commented on #299
Since work on the original plugin seems to have stalled, I started to write a BIND9 XML stats parser, which is about 80 - 90% complete. As many service providers are quite conservative about upgrading BIND, and the JSON stats are only supported in BIND 9.10+ (and also not enabled in Debian's BIND 9.10 packages), I think supporting the XML stats is a higher priority at present.

I hope to have a PR

[2016-11-04 19:29] johnrengelman commented on #1574
@sparrc just re-read your comment so I'll clarify mine.
I will submit a PR to update the defaults to `"5m"` as that is more appropriate and offers a better initial UX. But we wont' prevent a user from decreasing it. (Thought your comment was to set the minimum).

[2016-11-04 20:31] johnrengelman commented on #1783
@sparrc it looks like maybe Amazon rotated the cert (around Sept. 5, 2016), so the container just had an out-of-date cert. It appears that the Dockerfile is installing the CA base certificates, so I think we're fine.

[2016-11-04 20:59] toni-moreno commented on #1989
Sorry but I'm a bit confused about how aggregator plugins gets data and process them.

On my use case I'm simulating 1 log line per second, and I have aggregation configured with period 10 seconds.

[code]

[2016-11-04 23:14] sparrc commented on #1989
When the aggregators start up they get a starting timestamp. If metrics are outside this timestamp then they are not aggregated.

If you take a look at the input plugins for telegraf, almost none of them accept data with a timestamp, the logparser is actually an outlier among them.

The aggregators basically assume that the data being aggregated is getting collected "now". In your case, the logfil

[2016-11-04 23:21] sparrc commented on #1783
OK, thanks, in that case I'll close this out

[2016-11-04 23:21] #1783 closed

[2016-11-05 00:02] damm commented on #1032
He also tries to take into cpu frequency scaling (power management) which we disable... well we can't fully disable it on the cpu itself

Nothing is perfect and I suspect the tooling (top, ps, vmstat) can also be part of the problem as I tried various ways to generate the average (ended up settling with sar) which even gave worse results.

So like I said in the previous post without running System

[2016-11-05 06:07] toni-moreno commented on #1989
Ok , I understand what you mean when you say "historical" , but I can not understand yet why aggregator is discarding measurements with correct timestamps  in the range ( now- period ). what is the reason?

In the example above the only way aggregator gets timestamps outside the range (now-period) is a internal measurement buffer has been retaining a while metrics between input and aggregator  blo

[2016-11-05 09:03] sparrc commented on #1989
@toni-moreno there is no internal buffering at play, your logparser pattern is setting the timestamp of the metrics, specifically, it's this part: `\[%{HTTPDATE:ts:ts-httpd}\]`

I could be missing something as well but I'm assuming you are parsing a logfile with timestamps in the past.....the example output that you provided has timestamps from over a week ago.

could you provide the logfile? (the

[2016-11-07 08:29] adeleglise opened #2002 "ERROR in input [phpfpm]: Unable parse phpfpm status. Error: Primary script unknown <nil>"
Hi,

I'm encountering the same issue as #835 .

We have telegraf 1.0.1 gathering php5-fpm metrics, using sockets.

We're on Debian wheezy. The php5-fpm sockets are owned by www-data, telegraf is a member of the www-data group.

Here is the config file were using :
[code]

In the log file we have :

[code]

Do you guys have an idea on what's wrong ?

[2016-11-07 10:32] sparrc commented on #2002
did you try the workaround that was mentioned in #835?

[2016-11-07 11:28] adeleglise commented on #2002
@sparrc : Thanks for your answer.

We're only using php5-fpm. All the status path are correctly declared in the php5-fpm.conf file.

[2016-11-07 11:42] sparrc commented on #2002
try seeing if you can narrow the problem down, I'd recommend testing telegraf with different user privileges and see what happens:

run as root:
[code]

run as telegraf:
[code]

[2016-11-07 15:48] KingCrunch opened #2005 "[Feature Request] Jolokia: JMX-path should be configurable"
### Feature Reqeust

With Jolokia in Proxy mode the JMX-Context is harcoded to `/jmxrmi`. Not every setup use this default.

### Proposal:

Make JMX-path configurable

### Current behavior:

Path not configurable. It is hardcoded top [`/jmxrmi`](https://github.com/influxdata/telegraf/blob/1271f9d/plugins/inputs/jolokia/jolokia.go#L168)

### Desired behavior:

When using jolokia in proxy-mode it sh

[2016-11-07 20:33] toni-moreno commented on #1989
Hi  @sparrc you are right !! I can now see aggregator values  when I've configured logparser to remove log formatted time  `\[%{HTTPDATE:ts:drop}\]` .

I'm sorry , a different timestamp on each output make me think that aggregator was generating timestamp at parsing time. But after your review I can see why aggregator was discarding metrics.

Again sorry and thanks a lot

[2016-11-07 20:33] #1989 closed

[2016-11-08 00:48] Foggy2 opened #2007 "SNMP - Translating Numeric OIDs"
## Bug report

### Relevant telegraf.conf:
[code]

[code]
### System info:

Telegraf 1.1.0~rc1 on both Windows 7 x64 and Centos 7 x64 - Both systems had identical behavior

### Steps to reproduce:

1. ... Query SNMP with version 1.1.0~rc1
2. ...

### Expected behavior:
The numeric OIDs are already in the correct format and do not require translating.

### Actual behavior:
The below is output to th

[2016-11-08 01:58] phemmer commented on #2007
Yeah, this is a bug. I think this may be a regression, as I could have sworn I made the `snmptranslate` command not get called if all the required info was provided.
Will take a look and get this fixed.

[2016-11-08 05:00] apinyarr opened #2009 "Disk plugin does not show all mount points"
## Bug report
I use telegraf inside docker container to monitor disk usage of host. However, I cannot get disk usage for some mount points.

### Relevant telegraf.conf:

[code]

### System info:

[Include Telegraf version, operating system name, and other relevant details]

Telegraf image version:

OS
[code]

Docker version
[code]

Docker run command
`docker run -d -v $(pwd)/telegraf/telegraf.conf

[2016-11-08 09:34] adeleglise commented on #2002
Hello,

It seems that my config file is not xell formated :

[code]

[2016-11-08 10:20] sparrc commented on #2009
does the diskio plugin report stats for it? might be the same issue as https://github.com/influxdata/telegraf/issues/1544

[2016-11-08 12:30] apinyarr commented on #2009
@sparrc
`does the diskio plugin report stats for it? might be the same issue as #1544`

I think no. diskio plugin report disk ops read/write, throughput, time read/write but not disk usage as disk plugin.

[2016-11-08 12:34] sparrc commented on #2009
I meant, does the diskio plugin detect the mount points properly and collect stats for them?

[2016-11-08 12:37] apinyarr commented on #2009
Yes, with diskio plugin, vda, vdb, and vdc stats are collected but not with disk plugin.

[2016-11-08 13:39] sparrc commented on #2009
OK, thank you for the additional info, in that case I'll close the issue as it's a dupe of #1544

[2016-11-08 13:39] #2009 closed

[2016-11-08 13:40] fsvehla opened #2010 "cgroups: Grafana issues with / in path tag"
## Bug report

### Relevant telegraf.conf:

[code]

### System info:

- Ubuntu 16.04.1 LTS
- 1.1 RC1
- Grafana 3.1.1

### Steps to reproduce:

1. Configure as above
2. Try to filter by group tag in Grafana

### Expected behavior:

Filtered by tag in Grafana

### Actual behavior:

Since the path contains `/`, Grafana breaks.

### Additional info:

Maybe rewrite slashes as dots for this input?

[2016-11-08 13:41] sparrc commented on #2010
shouldn't this be opened as a bug in grafana, not telegraf?

[2016-11-08 13:42] sparrc commented on #2010
I'm not going to replace every single `/` with a `.` in telegraf. There are a huge multitude of tags that validly use `/`, namely for paths and URLs.

[2016-11-08 13:42] #2010 closed

[2016-11-08 13:48] rub0 opened #2011 "Mesos plugin - slaves field not found"
## Relevant Telegraf.conf info

`[[inputs.mesos]]
  ## Timeout, in ms.
  timeout = 100
  masters = ["master:5050"]
  # Metrics groups to be collected, by default, all enabled.

  ## Master metrics groups to be collected, by default, all enabled.

  # master_collections = [
  #  "resources",
  #  "master",
  #  "system",
  #  "agents",
  #  "frameworks",
  #  "tasks",
  #  "messages",
  #  "evqueue

[2016-11-08 13:50] fsvehla commented on #2010
@sparrc You did here: https://github.com/influxdata/telegraf/pull/1523 :)

[2016-11-08 13:50] sparrc commented on #2011
can't tell for certain since you didn't provide your version info, but it looks like your telegraf version doesn't support mesos slave stats. You can check with `telegraf --usage mesos`

Version 1.1 will be up on the downloads page soon

[2016-11-08 13:50] #2011 closed

[2016-11-08 13:54] sparrc commented on #2010
no, I didn't, that was a single instance of replacing ` /Sec` with `_persec` in the measurement name.  That was a space, capital letter, and slash, and it was the measurement name, not a tag.

[2016-11-08 14:57] EBallou opened #2012 "Support HTTPS Jolokia requests"
Need assistance and/or enhancement to support https for Jolokia queries

### Relevant telegraf.conf:

[code]

### System info:

Using telegraf 1.0.0.  Jolokia 1.3.5 on Red Hat 5, Centos 7

### Steps to reproduce:

1. configure telegraf.conf as above
2. start service
3. receive error in -test

Error handling response: Post http://jolokia:jolokia_pw@my_app_server.domain.info:443/jolokia: EOF

### Ex

[2016-11-08 15:20] erSitzt commented on #988
any news on this ? the plugin is providing quite a lot metrics and it would be nice to have a sample dashboard to start with.

@zensqlmonitor ***please*** could you provide them ?

[2016-11-08 16:00] dylanmei opened #2014 "Jolokia input plugin should extract tags"
## Feature Request

Jolokia input plugin should have a mechanism for extracting tags to account for an evolving application. If you have a workaround, or think I'm simply doing it wrong, please share.

### Proposal:

The Jolokia input plugin is well suited for a fixed set of `mbean` names. However, in a system such as Kafka or Cassandra where metrics may come and go (based on user created/deleted

[2016-11-08 16:05] zensqlmonitor commented on #988
Hi,
it has been published some time ago:
https://grafana.net/dashboards/409

[2016-11-08 16:50] jaibheem opened #2015 "Discrepancy in the cassandra read requests count"
Hello,

I am using Telegraf with Jolokia to momnitor the cassandra metrics, however I am seeing some discrepancy in the metrics. Here is the example. please help me understand if I am missing something.

**Item1**. Getting Read Requests count for a given Table in all the keyspaces and one of the table has to 103 read requests here.
[code]

**Item2**. Getting the total read requests for a give node

[2016-11-08 17:10] erSitzt commented on #988
Ok, thanks ! :)

[2016-11-08 17:22] sparrc commented on #2015
telegraf just reports what Cassandra reports, you should ask Cassandra what their metrics mean, or consult their documentation.

If you find something that you think would be helpful for other users, please then consider contributing that to the plugin documentation.

[2016-11-08 17:22] #2015 closed

[2016-11-08 17:38] sparrc commented on #2014
this is a good idea, I agree that we can do a better job at parsing mbean-formatted metrics, logstash would be a good model to follow.

[2016-11-08 18:18] alex-sherwin commented on #1987
+1

[2016-11-08 19:40] sachagear commented on #1987
+1

[2016-11-09 03:34] JeffAshton commented on #1763
Opened pull request https://github.com/influxdata/telegraf/pull/2017 to address this

[2016-11-09 04:38] puckpuck commented on #763
A little late, but these metrics are all available via the jolokia agent deployed to Tomcat.

Once deployed, this URL: `http://<myserver>/jolokia/read/java.lang:name=*,type=MemoryPool/Usage`

will return what all the memory pool information above.  Thread and request info is also available.  `http://<myserver>/jolokia/list` will return all available metrics in JSON format.  This list can be quite

[2016-11-09 09:19] adeleglise commented on #2002
My configuration file seems to be good :

[[inputs.phpfpm]]
    urls = ["/var/run/xxxxxxx.sock"]

I've just retried on another machine and the error message is the same.

What can I do now to give you more informations regarding this issue ?

[2016-11-09 09:36] sparrc commented on #2002
something is wrong with the config file, can you try regenerating it using `telegraf --sample-config`?

[2016-11-09 10:08] ptitou opened #2020 "[procstat] Include information about number of cores"
## Feature Request

When I use cpu_usage from procstat with a multicore system, cpu percentage can be greater than 100%.
example on a 8core system and a process consuming 2 cpu :
- on top global cpu reporting with cpu
- on bottom, cpu reporting for a spécific process that consume 2 cores
![image](https://cloud.githubusercontent.com/assets/16797555/20134571/2b2653e2-a66c-11e6-8cbb-438f2609b28d.png)

[2016-11-09 11:01] ptitou commented on #1668
I've got the same problem to monitor Oracle process (multiple process, but only on reported to influxdb (not always the same)

[2016-11-09 11:31] adeleglise commented on #2002
The configuration file is deployed by ansible. I don't have any problems with it on any machine using this configuration file.
The machine where the phpfpm plugin is declared are sending metrics correctly except phpfpm.
The error  "Error: no inputs found, did you provide a valid config file?" is displayed only when using the "--test " statement.

[2016-11-09 11:53] toni-moreno opened #2021 "[Feature Request] Improve documentation / help to registering new aggregator plugins"
## Feature Request

We  would like to  add a new aggregator with basic stats ( mean/stdev/count/max/min/median, etc).
https://github.com/toni-moreno/telegraf/tree/added_new_basicstats_aggregator

The aggregator seems like that:

https://github.com/toni-moreno/telegraf/blob/added_new_basicstats_aggregator/plugins/aggregators/basicstats/basicstats.go

When trying to test I have an unexpected error (

[2016-11-09 11:56] sparrc commented on #2002
if the config file has the phpfpm input defined then I don't think it's possible to get this error.....can you please provide your full config file?

[2016-11-09 12:11] adeleglise commented on #2002
Here is the telegraf.conf :

[code]

Here is the phpfpm.conf (inside telegraf.d):

[code]

[2016-11-09 12:11] sparrc commented on #2021
Thanks @toni-moreno, I'm going to close this issue since it's not something I will likely ever find time to work on.

Feel free to submit a PR for the documentation, but please note for the plugin that I will be working on a statistics aggregator that is scheduled for release 1.2 already: https://github.com/influxdata/telegraf/issues/1662

[2016-11-09 12:11] #2021 closed

[2016-11-09 12:15] sparrc commented on #2002
@adeleglise put `inputs.phpfpm` into telegraf.conf and then please run the test output again with different user permissions. Please then submit all commands run and the output of all of those commands.

[2016-11-09 13:02] ptitou commented on #1668
I don't know if it's possible (or already done) to send 1 datapoint per PID, but also 1 datapoint with de sum of all PID ?
with an option in telegraf.conf
report = "each" to report each pid
report = "sum" to report only the sum of all pid found (permit to have less datapoint !

example :
- report = "each"
procstat,exe=foo,pid=**1**,cpu_usage=2, ...
procstat,exe=foo,pid=**2**,cpu_usage=3, ...
procs

[2016-11-09 15:20] jenkinsorigins opened #2022 "Cloudwatch time error"
## Bug report

### Relevant telegraf.conf:
[code]
### System info:
Telegraf v1.1.0 (git: release-1.1.0 8ecfe13bf813d5512267d90e7b3ad2f62aba5842)
AWS linux
### Steps to reproduce:
1- Use my conf
2- run Telegraf
### Expected behavior:
Data import with no issue
### Actual behavior:
[code]
### Additional info:
Working great until i rebuild my stack :/

[2016-11-09 15:21] #2022 closed

[2016-11-09 15:21] adeleglise commented on #2002
I've added the phpfpm input in the main telegraf.conf file:

[code]

[2016-11-09 15:23] antoiner77 opened #2023 "Single-quotted durations are not being parsed properly"
## Bug report

### Relevant telegraf.conf:
[code]
### System info:
Telegraf v1.1.0 (git: release-1.1.0 8ecfe13bf813d5512267d90e7b3ad2f62aba5842)
AWS linux
### Steps to reproduce:
1- Use my conf
2- run Telegraf
### Expected behavior:
Data import with no issue
### Actual behavior:
[code]
### Additional info:
Working great until i rebuild my stack :/

[2016-11-09 15:25] sparrc commented on #2023
what do you mean by this? was this working in a previous version?

[2016-11-09 15:26] sparrc commented on #2023
cc @johnrengelman

[2016-11-09 15:30] antoiner77 commented on #2023
Same version i guess, i'm using the repo to install telegraf, my last test was a week ago but there as been no change to the Cloudwatch plugin for that period

[2016-11-09 15:31] sparrc commented on #2002
can you run `ls -ls /var/run/php5-fpm-xxxxxxxx.sock`?

Also are you able to directly connect to the socket outside of telegraf? I found some debugging and connection tips here: https://www.thatsgeeky.com/2012/02/directly-connecting-to-php-fpm/

[2016-11-09 15:35] sparrc commented on #2023
version 1.1 was released just a few days ago, you may have been using version 1.0.1 before.

[2016-11-09 15:37] antoiner77 commented on #2023
Probably yes, but the "time related function" on the plugin haven't change :/. Strange behavior. I did not say but I of course use the same configuration file during my tests

[2016-11-09 15:39] johnrengelman commented on #2023
I don't see how this could happen unless you set `period` to 0 - https://github.com/influxdata/telegraf/blob/master/plugins/inputs/cloudwatch/cloudwatch.go#L351-L352

[2016-11-09 15:40] sparrc commented on #2023
might be due to toml parsing of the duration field, which did change in 1.1

@antoiner77 could you change your `'` to `"`?

[2016-11-09 15:41] johnrengelman commented on #2023
oh yeah...that's totally it. gah. stupid single quotes. they come back as 0 if you have something like `'1m'`

[2016-11-09 15:44] antoiner77 commented on #2023
`wrote batch of 13 metrics`. Yea that was the issue. Thank you guys

[2016-11-09 15:45] sparrc commented on #2023
OK, I will get a fix in for this, 1.1.1 here we come, whatta day!! :sob:

[2016-11-09 16:09] adeleglise commented on #2002
As I told when I opened this issue, all the sockets are owned by www-data and telegraf is a member of the www-data group.

[code]

Thanks for the link , but the cgi-fcgi tool is not installed on the machine and I can't install it. :\

[2016-11-09 16:17] toni-moreno commented on #2021
Hi @sparrc.

 I'm happy to know you are already working on the same thing. But I need a solution to get averaged response times and request counts of apache log un windows on a few days (is quite urgent for me), if you let me, I would like to help you in this plugin.

If you have a branch with your  aggregator I would like to test for you , and also contribute in code if you let me.

[2016-11-09 17:09] sparrc commented on #2002
OK, sorry @adeleglise but I'm going to have to close the issue. If you can't provide steps to reproduce or more debugging information than I'm afraid there's that we can do from a telegraf development perspective.

All that I can tell is that you will need to modify & test with different phpfpm settings, if you find a solution please follow-up here or post a PR for the README.

[2016-11-09 17:09] #2002 closed

[2016-11-09 18:25] njhartwell commented on #1829
This seems to be a problem when a file is (re)moved as well, e.g. given this config:

[code]

I see this behavior:
[code]

On the plus side, truncation detection seems to work, e.g.
[code]
... but I suspect more than a few logging tools (e.g. logback) don't support rolling by truncation.

[2016-11-09 18:44] sparrc commented on #1829
Internally telegraf has to spinup a thread for each file that it needs to tail. Currently it only does that once at startup, which is why deleted & created files are not handled.

I think it's worthwhile to handle these two cases in the tailer & logparser so I'm going to reopen this issue and put it into the 1.3 milestone.

[2016-11-09 19:06] kimor79 commented on #1907
I've been trying various period/interval combinations and so far these ones still don't record any metrics (even though there are metrics in CloudWatch):

EC2 (and I'm only interested in a subset: 'CPUCreditBalance', 'CPUCreditUsage', 'StatusCheckFailed', 'StatusCheckFailed_Instance', 'StatusCheckFailed_System')
SNS
S3

[2016-11-09 19:18] njhartwell commented on #1829
Sounds good. FWIW, it looks like this lib solves addresses these problems. I haven't dug into the source yet, but it has a lot of ⭐️s so must be good :)

[2016-11-09 19:20] sparrc commented on #1829
@njhartwell what lib are you talking about?

[2016-11-09 19:42] njhartwell commented on #1829
Sorry, forgot to paste it https://github.com/hpcloud/tail/tree/master/vendor/gopkg.in/fsnotify.v1

[2016-11-09 19:44] sparrc commented on #1829
we are already using that library, it doesn't solve all of this

[2016-11-10 09:53] deric commented on #1987
+1

[2016-11-10 09:56] sparrc commented on #1987
this is already slated for a release and there is a PR up to fix it, there's no need to "+1", thanks

[2016-11-10 10:08] deric opened #2025 "Docker: Allow excluding tags"
In our scenario Docker images are assigned names based on Mesos task ID which aren't important for monitoring
[code]
each time container is restarted, it will get a new ID. This obviously leads to high number of series generated by Docker collector. Would it be possible to define which tags are collected by the plugin?

Either by blacklisting:
[code]
or maybe even better, just whitelist desired ta

[2016-11-10 11:29] andyceo opened #2027 "panic in docker module: interface conversion int64 uint64"
Ubuntu 16.04, telegraf: 1.1.0, installed from ofiicial repo.

If in docker plugin `total = true`, telegraf fails with mesaage:

[code]

Tuning `total = false` fix the problem.

[2016-11-10 16:02] sysadminsemantics commented on #1776
Bump? This is actually really quite annoying. I don't want to have to mirror this stuff to my own local repo just because release X is no longer present. Managing this in puppet with an ensure => latest is not an option, as I'd actually like to test your software before pushing it to my production environment.

Also, you are actually offering previous versions of the package in RPM-flavor, so whil

[2016-11-10 16:03] kali-brandwatch commented on #1776
We are using telegraf in production on debian platform, and use the official repos for management via puppet. However this limitation breaks our platform every single time a new version is pushed into the repo.

We *could* use 'latest' in our puppet manifests to always use the latest available version but this also breaks our platform when a new config is needed in the new version.

This way of ma

[2016-11-10 22:14] Dienns commented on #517
I am experiencing this issue again. It works fine on one of my servers, but on this one it seems to fail.
Starting Telegraf gives me the following:

`ERROR in input [netstat]: error getting net connections info: open /proc/net/tcp: permission denied`

I cannot seem to find an answer to fixing this. I tried the commands listed above, nothing works. I do not plan on running this as root. Any ideas?

[2016-11-11 00:08] dfinzer opened #2032 "Error calling Elastic Search over SSL due to "no cipher suites in common""
## Bug report

Encountering an error when using Telegraf with an Elastic Search SSL plugin, despite being able to successfully curl the server from the host.

### Relevant telegraf.conf:

[code]

### System info:

Telegraf - version 1.0.1, on mac

### Steps to reproduce:

1. Spin up Elastic Search with SSL configured using the [SearchGuard](https://github.com/floragunncom/search-guard) plugin
2. V

[2016-11-11 08:23] maddygoes opened #2033 "can we use powershell script in telegraf?"
[[inputs.exec]]
commands = ["D:\Tealeaf\System\canisterstats.ps1"]
timeout = "30s"
data_format = "influx"
name_suffix = "_expPlusCan"

am getting below error :
C:\Program Files\Telegraf>telegraf -config telegraf.conf -test
Error parsing telegraf.conf, toml: line 131: parse error

this is line 131 --  commands = ["D:\Tealeaf\System\canisterstats.ps1"]

[2016-11-11 15:08] danifunker opened #2035 "[BUG] [WINDOWS] "-service install" switch not working when running in a non-interactive environment"
## Bug report
When running telegraf.exe -service install in a non-interactive session, the service does not return any error message nor installs the service properly. This affects primarily automated installation scripts including computer startup scripts and using psexec. The issue happens when running as an administrator or within the system account

### Relevant telegraf.conf:
N/A
### System i

[2016-11-11 15:13] danifunker commented on #2035
Saw this was just resolved.

[2016-11-11 15:13] #2035 closed

[2016-11-11 17:40] #2023 closed

[2016-11-12 04:43] puckpuck commented on #2033
You need to escape your backslash in your commands path.  Use double backslash instead `\\`

commands = ["D:\\Tealeaf\\System\\canisterstats.ps1"]

[2016-11-12 12:41] maddygoes commented on #2033
Thanks puckpuck.. Still error.. changed from ps1 to bat :-(

[[inputs.exec]]
commands = ["D:\\Tealeaf\\System\\canstat.bat"]
timeout = "30s"
data_format = "json"
name_suffix = "_expPlusCan"

2016/11/12 04:39:53 Errors encountered: [exec: exec: "D:TealeafSystemcanstat.bat
": file does not exist for command 'D:\Tealeaf\System\canstat.bat']

[2016-11-12 12:45] maddygoes commented on #2033
commands = ["D:/\\Tealeaf/\\System/\\canstat.bat"]   --- this one working !!!

Thanks for showing me a way ;-)

[2016-11-14 08:38] Dienns opened #2040 "Telegraf net input permission denied"
On my newest server, Ubuntu 16.04 LTS, Telegraf is unable to receive it's own network status through `sudo service telegraf start`.

ERROR in input [netstat]: error getting net connections info: open /proc/net/tcp: permission denied

I cannot seem to find an answer to fixing this. I tried the some commands that I found about an issue that is similiar to this one, but nothing worked.

(Ubuntu 16.04

[2016-11-14 11:41] sparrc commented on #2025
you can use the tagexclude config option: https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#measurement-filtering

[2016-11-14 11:41] #2025 closed

[2016-11-14 11:47] sparrc commented on #2032
this is some sort of Oracle/OpenJDK Java politics issue, see https://github.com/influxdata/telegraf/issues/1126 & https://github.com/Shopify/sarama/issues/643

[2016-11-14 11:47] #2032 closed

[2016-11-14 11:49] sparrc commented on #2027
the panic appears to be truncated, do you have the full traceback?

[2016-11-14 11:53] sparrc commented on #2040
I think the error message is clear. If you want telegraf to collect /proc/net/tcp then the telegraf user needs to have permission to access that file, which is doesn't have on your machine. There are many different solutions to this problem and it depends on how you want to setup your permissions.

[2016-11-14 11:53] #2040 closed

[2016-11-14 11:56] schotlandzegtja opened #2041 "Telegraf writing metrics twice, but one is wrong?"
## Bug report

### Relevant telegraf.conf:

[code]

### System info:

[Include Telegraf version, operating system name, and other relevant details]
Telegraf v1.1.0 (git: release-1.1.0 8ecfe13bf813d5512267d90e7b3ad2f62aba5842)
InfluxDB shell version: 1.0.2
InfluxDB Relay: latest

### Steps to reproduce:

I have setup a system as described here:

- one HAProxy server, configured in round-robin
- two

[2016-11-14 11:59] sparrc commented on #2041
cc @phemmer

[2016-11-14 12:07] toni-moreno commented on #2021
Hi @sparrc, I'm still interesting on work as betatester for your statistics aggregator, can I  do it?

[2016-11-14 12:09] sparrc commented on #2021
I can't help you there, sorry, I'll update the issue when I'm working on it

[2016-11-14 12:26] schotlandzegtja commented on #2041
I've just tried removing Relay altogether i.e. writing straight to the backends and the issue persists regardless.

[2016-11-14 14:46] ndegory opened #2042 "Docker input plugin incompatible with Docker Engine 1.13.0-rc1"
## Bug report

### Relevant telegraf.conf:

See gist below

### System info:

Telegraf 1.1.0 (and 1.1.1), Docker image (official one and also on custom build [appcelerator/telegraf](https://github.com/appcelerator/docker-telegraf))

### Steps to reproduce:

1. Generate a configuration file:
    docker run --rm telegraf -sample-config > telegraf.conf
    enable the inputs.docker plugin by uncomment

[2016-11-14 14:55] phemmer commented on #2041
How are you generating these log files? Are you running `telegraf -test`, querying the data from `influxdb`, using `[[outputs.file]]`, something else?

Can you do an `snmpwalk` of the `IF-MIB::ifXTable`?
The outputs of the 2 lines are so radically different, I can't think of anything in the SNMP plugin which could result in such behavior.
My initial suspicion is one of 2 things:
1. There is more t

[2016-11-14 15:12] schotlandzegtja commented on #2041
Output is [here](https://gist.github.com/schotlandzegtja/b3e00f246ca1ff52e5da7b47e6798c98)

An abridged output of just the one interface I was using as an example, is as follows:

`[root@dc5-influxha01 ~]# cat snmpwalk.lst | grep '\.104 ='
IF-MIB::ifName.104 = STRING: Vl351
IF-MIB::ifInMulticastPkts.104 = Counter32: 0
IF-MIB::ifInBroadcastPkts.104 = Counter32: 31807157
IF-MIB::ifOutMulticastPkts.1

[2016-11-14 15:24] sparrc commented on #2027
also, what is your docker version?

[2016-11-14 15:50] dmitrysdm opened #2044 "Needed more information about timestamp modifier for processing custom logstamps"
I have two documents with information about custom log processing
https://github.com/influxdata/telegraf/tree/master/plugins/inputs/logparser
https://www.influxdata.com/telegraf-correlate-log-metrics-data-performance-bottlenecks/

now i have two kind of timestamp:
2016-10-25 11:50:21 ( from gpuz utility )
and
11/13/2016 00:00:17 ( from powershell script )
but have not sufficient information, how t

[2016-11-14 15:53] sparrc commented on #2044
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-11-14 15:53] #2044 closed

[2016-11-14 16:34] Dienns commented on #2040
@sparrc I must have not made myself clear; I am not an expert on Linux, I don't know how to give permission to the telegraf user. Could you give me a few example commands, explaining what they do and which one would be bestt?

[2016-11-14 16:49] aseev-xx opened #2045 "Graylog output should send non-empty short_message"
## Bug report

Graylog output plugin send empty string in short_message variable. In source code (https://github.com/influxdata/telegraf/blob/master/plugins/outputs/graylog/graylog.go#L216):
`m["short_message"] = " "`

This leads to error kind:

`2016-11-14T18:43:00.203+03:00 DEBUG [DecodingProcessor] Dropping incomplete message RawMessage{id=058d2ca0-aa81-11e6-8b1d-fa163e114f3b, journalOffset=391

[2016-11-14 17:38] sparrc commented on #2045
what version of graylog & telegraf are you using?

[2016-11-14 18:04] phemmer commented on #2041
The plugin internally indexes on the OID, so that is why both rows are present, and not merged together. However when reporting, unless you grab enough fields to ensure uniqueness, and use `is_tag` on them, they'll get merged together when inserted into InfluxDB.

There is another feature request (#1948) to allow adding the OID index as a tag, which would also help differentiating two rows when al

[2016-11-14 18:27] dswarbrick commented on #299
PR created #2046

As this is my first contribution to Telegraf, and my first Github PR, I hope I did everything "right"... Could not find the "squash commits" option when creating the PR, but read that upstream can do that if they choose.

[2016-11-15 08:33] aseev-xx commented on #2045
I tested Graylog v2.1.2 & Telegraf 1.0.1

[2016-11-15 09:02] schotlandzegtja commented on #2041
I get you. Whilst reading [this](http://www.irobert.info/display/IRINFO/Understanding+ifDescr,+ifName+and+ifAlias), I noticed the following from the SNMP RFC:

The Cisco device I was looking at is doing just this. It was presenting multiple devices with the same ifName.

In my specific use case, one solution to this is to add IF-MIB::ifType as a tag. The multiple devices which share the same name

[2016-11-15 09:02] #2041 closed

[2016-11-15 10:28] mattpoel commented on #1818
Would love to see this feature! I am parsing the logfiles of an application, which is using multiline messages quite a lot.

Example with multiline messages:

[code]

Unfortunately execution times for operations are even written to two different log lines:

[code]

It would be good if patterns could be defined to store multiline messages (example 1) and to be able to merge two lines to parse the e

[2016-11-15 11:09] andyceo commented on #2027
Docker version 1.12.3, build 6b644ec
I updated telegraf to v1.1.1 (git: release-1.1.0 94de9dca1fc6efb3a4bf3ec6869c356278c6755a), this error still exists (cheked right now).

Full dump is:

[code]

I get this dump with `sudo journalctl -b` command and copy-pasted error messages related to telegraf.

[2016-11-15 11:12] sparrc commented on #2027
please try to find a way to get untruncated lines from journalctl, some googling around seems to suggest that `journalctl -b --no-pager | less` might work

[2016-11-15 11:15] andyceo commented on #2027
@sparrc Thank you for pointing me! I updated comment above, please check.

[2016-11-15 11:33] sparrc commented on #1775
closed by https://github.com/influxdata/telegraf/pull/2016

[2016-11-15 11:33] #1775 closed

[2016-11-15 11:41] lisuiheng opened #2047 "32 bit os - atomic.addUint64 cause the panic"
##  Bug report
I cause  panic when I use test in a function with telegraf.Accumulator.AddFields
it looks like atomic.addUint64  cause the  panic
How can I fit it

[code]

## System info:
Raspbian GNU/Linux 8.0 (jessie)  32bit OS
Raspberry pi3b
telegraf is git clone the source form  master

[2016-11-15 11:46] sparrc commented on #2047
This is a panic in the testutil accumulator, which is not supported.

would help also though that you specify your Go version.

We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing

[2016-11-15 11:46] #2047 closed

[2016-11-15 11:48] sparrc commented on #2047
could be the same issue as this: https://github.com/fsouza/go-dockerclient/pull/522

PRs would be accepted.

[2016-11-15 14:16] steverweber opened #2048 "readme download links.."
please update the readme with new download links... or a direct link to something like https://www.influxdata.com/downloads/#influxdb

wget https://dl.influxdata.com/telegraf/releases/telegraf_1.1.1_amd64.deb
sudo dpkg -i telegraf_1.1.1_amd64.deb

wget https://dl.influxdata.com/telegraf/releases/telegraf-1.1.1_windows_amd64.zip
unzip telegraf-1.1.1_windows_amd64.zip

etc.

[2016-11-15 14:23] sparrc commented on #2048
will get to this eventually, you could submit a pr in the meantime if it's urgent

[2016-11-15 14:23] #2048 closed

[2016-11-15 15:33] j-vizcaino commented on #1544
The problem is that `HOST_MOUNT_PREFIX` does not work as expected.
According to the code, it is added as a prefix to the mount paths gathered by the ps package, expecting that the mount paths would be relative to the host root (not the container).

**This is the problem**: if you `cat /hostfs/etc/mtab` you can see all the mount points of the host, but relative to container mount point.
Example: if

[2016-11-15 15:35] j-vizcaino commented on #1880
@sparrc Be aware that the implementation from Diamond is lacking proper support for SAS drives (at least from my personnal experience with Dell hardware). Considering that SAS drive are entreprise grade disks, this should be taken into consideration.

[2016-11-15 15:38] sparrc commented on #1544
thanks for tracking that down @j-vizcaino, is this just a documentation issue then? care to submit a PR?

[2016-11-15 15:41] sparrc commented on #1880
@j-vizcaino do you have any tips or docs for supporting SAS drives?

to me it seems reasonable to say that we would only support drives which `smartctl` can profile. I believe this is the only reasonable option because we can't make the build system depend on a third-party C library.

[2016-11-15 16:06] j-vizcaino commented on #1544
Problem is in the code: it prepends `HOST_MOUNT_PREFIX` to the mount points gathered via `ps.Partitions()` whereas it should strip the prefix from the paths.
I will try to find some time to submit a PR to fix this.

[2016-11-15 16:09] j-vizcaino commented on #1880
@sparrc The problem does not come from `smartctl`. `smartctl` can talk to SAS drives perfectly. The thing is, S.M.A.R.T tables from SATA drives have a properly defined table of infos, wheres SAS drives tend to have no real normalization. I have a working code written in Python that handles both SAS, SATA HDD and SATA SSD. I will try to squeeze some time to port it to Go and submit a PR.

[2016-11-15 16:20] j-vizcaino commented on #1880
To further help the discussion, I have uploaded 4 examples of output generated by `smartctl` for different kind of drives.
Outputs can be found here: https://gist.github.com/j-vizcaino/092f43d6c45e347919e37f287a4e5264
You can see that SATA drives have a nice, well formatted output (that's the info the Diamond scraper is expecting), whereas SAS output is more *diverse*...

[2016-11-15 16:42] j-vizcaino commented on #1544
Digging more, it seems the problem is a bit more complex.
The package used to query all partitions uses the `etc/mtab` file. In our case, this is `/hostfs/etc/mtab` which should be fine because it is the same file as the host.
Things start to get tricky when `etc/mtab` is a symlink. In CoreOS, `/etc/mtab → ../proc/self/mounts`. In Debian, `/etc/mtab → /proc/mounts`. In these cases, the parsed mtab

[2016-11-15 20:52] jeromegit commented on #352
I would love to see this feature come to life too...

[2016-11-16 13:31] melor opened #2050 "[disk] Negative free disk space values stored to InfluxDB"
## Bug report

Series of negative free disk space spikes observed on some Linux nodes.

![telegraf-disk-free2](https://cloud.githubusercontent.com/assets/396587/20349119/9810bb0a-ac11-11e6-8e12-43d728f292a8.png)

### System info:

* telegraf 1.0.0
* influxdb 1.0.0
* Linux n7495 4.7.10-100.fc23.x86_64 #1 SMP Wed Oct 26 23:29:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

### Expected behavior:

Correc

[2016-11-16 14:06] sparrc commented on #2050
we are simply using the value returned from https://github.com/shirou/gopsutil, could you open a corresponding issue there as well?

could you also provide more OS information? which distribution are you using? can you test and see if `df` ever gives you negative values?

[2016-11-16 15:22] j-vizcaino commented on #1544
I was wrong again.
The following applies: `/etc/mtab` → `/proc/mounts` → `/proc/self/mounts`
Running tests on CoreOS 1068, within a Docker container having `/` bound to `/hostfs`, issuing `cat /proc/mounts` gives the exact same result as `cat /hostfs/proc/mounts`, that is, mount points appearing prefixed with `/hostfs`. The only way to effectively get the mount point of the host would be to `cat /

[2016-11-16 16:11] haf-lynx opened #2051 "SQL Server input errors out"
## Directions

## Bug report

### Relevant telegraf.conf:

[code]

or alternatively:

[code]

Returns:

[code]

### System info:

[Include Telegraf version, operating system name, and other relevant details]

Server 2012 R2, telegraf ver c4a7bb84772af4ae543b160ec345bca6 v1.1.1

### Steps to reproduce:

1. Start telegraf.exe with the above connection string and a valid influx endpoint

### Expected

[2016-11-16 16:16] sparrc commented on #2051
no idea, and we can't debug without more information, sounds like your server isn't responding or you're not connecting to it properly. I can assure you that the plugin is working but you'll have to figure out how to connect to your server, see the config file for proper config hints:

[code]

[2016-11-16 16:16] #2051 closed

[2016-11-16 16:18] #1997 closed

[2016-11-16 16:32] ddtxra commented on #425
Hello,
Is there any people working on this plugin already? I may help.

[2016-11-16 19:34] khera opened #2052 "postgresql_extensible plugin does not properly format float results"
## Bug report

When a custom query returns a floating point value, it is formatted as a string for influx line input rather than as a float. In contrast, integers are properly recognized and formatted. Therefore I consider it a bug that the floats are not.

### Relevant telegraf.conf:

Here is a complete config file to demonstrate the issue:

[code]

### System info:

Telegraf version 1.0.1 runnin

[2016-11-17 09:37] njwhite opened #2053 "Nginx Plugin Doesn't Accept Self-Signed Certs"
## Bug report

The nginx plugin doesn't allow you to specify a CA cert file to use,

### Relevant telegraf.conf:

[code]

### System info:

`telegraf version`: `Telegraf v1.1.1 (git: release-1.1.0 94de9dca1fc6efb3a4bf3ec6869c356278c6755a)`

`uname -a`: `myhost 2.6.32-642.6.2.el6.x86_64 #1 SMP Wed Oct 26 06:52:09 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

### Steps to reproduce:

1. Start an nginx s

[2016-11-17 13:44] m4ce opened #2054 "Add support for docker events"
Hi,

it would be super handy if the docker input plugin had support for docker events (https://docs.docker.com/engine/reference/commandline/events/).

This way, down the line, kapacitor could alert when a specific event triggers (e.g. container restart)

Not sure if this feature should be implemented in the existing docker plugin (since it runs at a given interval) or in a new one?

Cheers,
Matteo

[2016-11-17 14:08] maklaut commented on #1899
:+1:

[2016-11-17 14:33] m4ce commented on #2054
@sparcc, I would like to contribute here. However, I'd need some design advice before I commence the work there. Do you think it's a good idea to implement this in the existing docker input plugin?

[2016-11-17 15:05] sparrc commented on #2054
are these events in a log somewhere? almost looks more like something for the logparser plugin

[2016-11-17 15:32] m4ce commented on #2054
@sparcc, it depends on the log driver. If the log driver is set to journald or syslog, they will be available under the system's logs. However, if the log driver is set to gelf, fluentd etc., they won't be there.

I guess another option would be to send the logs/events to logstash or fluentd and then forward them to influxdb. However, I wanted to avoid adding other components and only rely on tele

[2016-11-17 15:44] m4ce commented on #2054
Actually, my bad, the events are not dependent on the log driver at all. You really have to stream them via the dedicated API endpoint.

[2016-11-17 19:42] evanccnyc opened #2055 "Telegraf InfluxDB udp output does not set database properly"
## Bug report
  On Telegraf 1.1.1 it appears that the database is not set properly in a UDP packet. Its set properly in HTTP.

### Relevant telegraf.conf:
[code]
### System info:
Ubuntu 14.04
Telegraf v1.1.1 (git: release-1.1.0 94de9dca1fc6efb3a4bf3ec6869c356278c6755a)

### Steps to reproduce:

1. Create InfluxDB output with UDP settings in telegraf.conf
2. Specify database in config
3. Restart Te

[2016-11-17 19:50] sparrc commented on #2055
Unfortunately it is not possible to set the database with udp packets. The UDP service on your influxdb instance is what sets the database.

There is a proposal for an updated & more refined line-protocol spec here: https://github.com/influxdata/influxdb/issues/6037. I believe this includes a way to specify the database on a per-metric level.

[2016-11-17 19:50] #2055 closed

[2016-11-17 19:57] evanccnyc commented on #2055
Ah thanks the documentation was unclear about that.

[2016-11-18 08:57] pumantis commented on #1032
We are also seeing similar issues.
We're having problems on KVM hypervisors. The values reported by telegraf don't match the ones reported by sar. I attached the output from both on the same time period. In the middle of the period I generated some load on the guests of the hypervisor, that's when the values differ. Sar doesn't report the guest usage values, but the idle and user percentage still

[2016-11-18 11:06] njwhite commented on #144
@sparrc can you re-open this? I've created PR #2056 that gathers data from (Hotspot) JVMs directly, rather than via an intermediate service.

[2016-11-18 12:00] sparrc commented on #1717
we may have experimental support for this in Telegraf 1.2, but since Go 1.8 will not be officially released at that point we will probably only see full support in Telegraf 1.3.

[2016-11-18 22:41] mattyjones opened #2057 "First class Debian package support"
I was looking at creating first class support for both kapacitor and telegraf for Debain. Are there thoughts on this here? There is currently no official packages for Debian and I am running tlegraf on it, in a production capacity and would like support for it.

[2016-11-19 02:24] phemmer commented on #2057
What do you mean there are no official packages?

https://www.influxdata.com/downloads/

![image](https://cloud.githubusercontent.com/assets/1826947/20452339/58cd4010-add5-11e6-883d-e648440b9853.png)

[2016-11-19 02:45] mattyjones commented on #2057
I am referring to pure Debian packages, not third-party packages. I want to be able to `apt-get install telegraf` w/o have to adjust my sources.

[2016-11-19 03:19] phemmer commented on #2057
Oh, you mean you want to add the package to the official debian repo. Someone has already beaten you to it. An ITP was filed several months ago and appears to be well under way: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=793749

[2016-11-19 03:52] mattyjones commented on #2057
I will reach out then and see if I can be of further help. Thanks!

[2016-11-19 03:52] #2057 closed

[2016-11-19 08:12] sparrc commented on #1985
thanks for the details @guillemj, I've noticed some activity on the latter two, are those solved? One problem may be that naoina hasn't merged any PRs in over a year and appears to have abandoned the project.

Is this related to debian packaging? Would it help if the dependencies were vendored in-repo?

[2016-11-20 09:56] rolele opened #2059 "docker input percpu_usage"
what is the telegraf equivalent of the docker engine metric percpu_usage?

[code]

[2016-11-20 11:38] sparrc commented on #2059
We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or the #influxdb channel on [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-11-20 11:38] #2059 closed

[2016-11-20 16:22] oryband commented on #913
@robinpercy-xm if you compare this input to [consul-exporter](https://github.com/prometheus/consul_exporter), consul-exporter fetches the catalog for _all services from the entire cluster_, not just local services.

Can this feature be added please? I'd rather not have to deploy two agents next to each other: telegraf and consul-exporter.

[2016-11-21 08:53] dmitrysdm commented on #2044
I ask about this question in influxdb slack group, but unsuccessfully.
Now exist situation, when functional ready, but without documentation, nobody can use it :(
Do you know contact, who responsible for logparser, i will ask him documentation.
Thanks.

[2016-11-21 10:40] harnash commented on #913
@oryband Thanks for the feedback. I'll look at consul-exporter and try to fill the missing parts. Hopefully this week.

[2016-11-21 12:35] guillemj commented on #1985
Hmm, vendoring would certainly make things even more difficult, as those would need to be unvendored before packaging, and it would still not solve the underlying bugs anyway. The influxdata/toml package is already in Debian (https://tracker.debian.org/pkg/golang-github-influxdata-toml).

These two bugs have some pull requests that somewhat fix the issues, the important one is already fixed in Deb

[2016-11-21 12:37] sparrc commented on #1985
We'll have to keep the fork for now, yes please send PRs to the fork for the time being.

[2016-11-21 13:42] elvarb opened #2060 "NSQ support for reader-opt and producer-opt"
NSQ supports authentication and the NSQ command line tools either use
-reader-opt "auth_secret,verysecretreader"
or
-producer-opt "auth_secret,verysecretproducer"

So in the NSQd auth server you can configure that the verysecretreader identity can only consume or produce data from a specific topic/channel.

To secure NSQ traffic with authentication and ssl you have to insert a special NSQd and NSQ

[2016-11-21 18:53] shangeo opened #2061 "Telegraf crashes with the followinfg error: panic: runtime error: invalid memory address or nil pointer dereference"
I was running telegraf version 1.0.0 on CentOS release 6.5 when it crashed. Here are the last few lines from /var/log/telegraf/telegraf.log:

2016/11/18 10:18:30 Output [influxdb] wrote batch of 1000 metrics in 23.381351ms
2016/11/18 10:18:30 Output [influxdb] wrote batch of 1000 metrics in 23.187129ms
2016/11/18 10:18:30 Output [influxdb] wrote batch of 1000 metrics in 22.511862ms
panic: runtime

[2016-11-21 19:38] sparrc commented on #2061
please provide your config file

[2016-11-21 20:23] aeugenio opened #2062 "procstat plugin reports old pids"
## Bug report
i want procstat to track the current pid for a process and then have kapacitor alert if that process is no longer found or the pid changes.  using the pid_file and pattern inputs, i see old pid's reported by telegraf; they appear to be cached as restarting telegraf service stops the old pid's from being sent.

note that option 1 (pattern) will not report that the pid no longer exists

[2016-11-21 20:32] shangeo commented on #2061
Here you go:
[global_tags]

[agent]

  interval = "10s"

  round_interval = true

  metric_batch_size = 1000

  metric_buffer_limit = 10000

  collection_jitter = "0s"

  flush_interval = "10s"

  flush_jitter = "0s"

  precision = ""

  debug = false

  quiet = false

  hostname = ""

  omit_hostname = false

[[outputs.influxdb]]

  urls = ["http://influxdb-hostname:8086"] # required

  database

[2016-11-21 21:19] johnrengelman commented on #1717
@sparrc I have to do some reading on Go 1.8's feature, but have you seen or evaluated this as an alternative? https://github.com/hashicorp/go-plugin

[2016-11-21 21:24] sparrc commented on #1717
yes, that has been evaluated, IIRC that library doesn't give us anything we don't already have (plugins statically-compiled into a single binary)

[2016-11-21 21:36] johnrengelman commented on #1717
I believe you can use it to load plugins as external binaries that communicate over network RPC. That's how Terraform used to work (as separate binaries per plugin) before they changed to bundling everything into a single binary. I believe external plugins are still loaded via this mechanism.

[2016-11-21 21:37] johnrengelman commented on #1717
https://github.com/hashicorp/go-plugin/blob/master/client.go#L78

[2016-11-21 23:33] sparrc commented on #1717
We could do external binaries, but there really is no need in that case for a plugin framework, IMHO, why not just communicate over plain grpc or text at that point?

the decision to go with dynamic libraries was specifically to avoid managing external processes.

[2016-11-22 00:01] johnrengelman commented on #1717
Sounds good. Just wanted to offer up some options since plugins would be super beneficial for me. +1 to this plan. :)

[2016-11-22 00:05] wei-hai opened #2063 "[Feature request] Add support for linkerd and namerd"
## Feature Request
Add support for linkerd and namerd

### Proposal:
There is no linkerd exporter for Prometheus thus telegraf's intput.prometheus cannot work with linkerd or namerd. An option is to make telegraf collect stats from linkerd and namerd directly.

### Current behavior:
No linkerd or namerd input plugin.

### Desired behavior:
Make an input plugin for linkerd and namerd.

[2016-11-22 01:49] joezhoujinjing opened #2064 "Data point cache to HDD in case of Internet outage for long time"
If increasing the datapoint cached, then the memory will be a problem. Isn't it desirable if those 'might be dropped datapoints' can be cached in an influx database?

We currently create a local influx database with a few days retention policy, however, the synchronization/transferring between the local database to the remote database is not easy as well.
Any idea how should we solve this?
### Use

[2016-11-22 09:17] sparrc commented on #2064
dupe of #802

[2016-11-22 09:17] #2064 closed

[2016-11-22 10:24] sparrc commented on #2063
can you provide a link to documentation on their stats endpoint?

[2016-11-22 15:16] Will-Beninger commented on #1665
My case will of course be atypical from most, but I'm polling roughly ~600 clients at a time and pulling maybe 3-4 tables and a few odd OIDs. The Plugin is completely too slow to accomplish this. I've had to fall back to a suite of BASH scripts making forked **snmpget**/**snmptable** calls to make up the difference.

Just for a comparison between the two, I'm using BASH to call snmptable on 2 tabl

[2016-11-22 15:35] Will-Beninger commented on #1665
I was able to get a 200% improvement simple from parallelizing that first piece of agent code:
[code]

Code that I changed:
[code]

[2016-11-22 15:37] phemmer commented on #1665
Because the underlying gosnmp library does not support it. We would have to spawn of dozens of copies of it to achieve parallelism. And doing so in such a manner that is controllable is difficult. We'd basically have to create a pool.
I've attempted to make the gosnmp library able to handle parallel requests, but design issues in the library have made this very difficult.

[2016-11-22 15:39] Will-Beninger commented on #1665
@phemmer Seems we're both looking at this. See my obviously quick + dirty test code above. We don't need to necessarily parallelize the gosnmp library but all the calls that are happening serially and being waited on.

[2016-11-22 15:39] phemmer commented on #1665
You code will cause problems because you are reusing the same gosnmp object. It is not parallel safe. Doing so will result in receive errors.

[2016-11-22 15:42] Will-Beninger commented on #1665
Posting the full code this time instead of the diffs... but no, I'm instantiating a separate gosnmp object in each parallel call:
[code]

[2016-11-22 15:46] phemmer commented on #1665
Yes, that should in theory not cause any problems. But it is not how I would recommend addressing the issue. Much better results can be obtained by sending multiple simultaneous requests per-agent. For people requesting a large number of OIDs from one agent, your change won't help. The only way to send parallel requests per agent is to either create multiple gosnmp objects, or fix the gosnmp libra

[2016-11-22 15:49] Will-Beninger commented on #1665
Agreed, but I'm on the scale of using ~600 agents so parallelizing this makes a huge difference.

One question, why are you using this gosnmp library? The code makes calls to net-snmp-utils programs already for snmptranslate/snmptable/etc, why not just use them throughout? Making parallel calls to these programs would be parallel safe.

The only reason I can think to stay with the gosnmp library w

[2016-11-22 15:50] phemmer commented on #1665
These utilities are optional. They add additional functionality to the plugin, but the plugin does not require them.

[2016-11-22 17:02] toni-moreno commented on #1665
Hi @StianOvrevage we are working in a snmp colector tool for influxdb that has a good behaviour with lots of metrics.

 Its different from telegraph because it is focused only on snmp devicss and It has also a web-ui  interface which help us to configure in a easy way.

Perhaps would you like to test its performance.

https://github.com/toni-moreno/snmpcollector

Thank you and sorry for the spam

[2016-11-22 18:31] joezhoujinjing commented on #802
Is there a plan for this feature? @sparrc

[2016-11-22 18:37] kevinjos opened #2066 "Add support to parse nested JSON array"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Extended https://github.com/influxdata/telegraf/pull/1965 to support object specific tags in nested JSON arrays. Is there a small change to the JSON parser to accommodate this request without breaking existing functionality?

### Current behavior:

The HTTP JSON input plugin line protocol output for the following.

[2016-11-22 18:57] joezhoujinjing opened #2067 "Fully transferring all measurements/datapoints from one influxdb to the remote one."
## Feature Request
We gather metrics in the local database (with shorter retention policy) in case of data point dropped as described in #802, and transfer the local database to remote databases.

However, there is no easy/efficient way to fully transfer one database to the other in telegraf, (not exactly synchronization, as there is only one-way communication.) The intputs.influxdb is for HTTP en

[2016-11-22 19:10] wei-hai commented on #2063
please check out this link https://linkerd.io/getting-started/admin/

[2016-11-22 19:56] whitelynx commented on #235
@mabushey wrote:

@sparrc: Did support for this ever get implemented? I saw that #1932 was closed, but searching for `top processes` (or even just `top`) in the project hasn't shown me much other than that.

[2016-11-22 22:16] sparrc commented on #2066
there is already an issue open to support more generic JSON parsing, see #1363

[2016-11-22 22:16] #2066 closed

[2016-11-22 22:16] sparrc commented on #802
nope, sorry, it will be assigned a milestone when there is

[2016-11-22 22:17] sparrc commented on #2067
this is not a feature for telegraf, maybe you meant to open this on the InfluxDB repo?

[2016-11-22 22:17] #2067 closed

[2016-11-23 00:46] kureikain opened #2068 "StatsD set doesn't accept a string"
## Bug report

### Relevant telegraf.conf:

### System info:

[code]

StatsD config:

[code]

### Steps to reproduce:

1. Tail the log
1. Sending a SET like `test:a123b|s`
2. Log show: ` Error: parsing value to int64: test:a123b|s`. No data is inserted into InfluxDB

### Expected behavior:

Data is flushed into InfluxDB. `test` should be create and increase value by 1

### Actual behavior:

No dat

[2016-11-23 03:53] StianOvrevage commented on #1665
@toni-moreno Awesome! I will have a look at it when I have time. I would love to give you some feedback and performance numbers from real-world testing at a few different setups I have available.

[2016-11-23 04:27] zhang8473 opened #2069 "docker_container_net is missing"
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be sent to the [InfluxDB mailing list](https://groups.google.com/forum/#!forum/influxdb).

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section

[2016-11-23 08:48] sparrc commented on #2068
can you provide and example of a common statsd server that accepts strings for sets?

[2016-11-23 08:50] sparrc commented on #2068
the "statsd spec" specifies values as only being integer or float: https://github.com/b/statsd_spec#metric-types--formats

[2016-11-23 09:07] sparrc commented on #2069
Thank you for the detailed debugging information, as far as I can tell your docker version does not support this metric. If there are no stats in stat.Networks then there isn't really anything we can do about it. If there should be stats there then this would be a bug in https://github.com/docker/engine-api

[2016-11-23 09:07] #2069 closed

[2016-11-23 09:30] sparrc opened #2071 "docker engine-api library is deprecated, we should use their official SDK"
Docker's engine-api library is deprecated: https://github.com/docker/engine-api

we should switch to https://github.com/docker/docker/tree/master/client as soon as possible

[2016-11-23 09:47] m4ce opened #2072 "chrony leap_status should be a field?"
Hi,

I'm working with the chrony input plugin and trying to set up some monitoring using kapacitor.

I have a feeling that the leap_status should be a field rather than a tag as it's something that one wants to monitor on.

It is a status field that one wants to use to monitor whether chrony is working or not as in synched with its time sources.

Let me know what you think and I can make the neces

[2016-11-23 09:59] sparrc commented on #2072
sure, seems reasonable

[2016-11-23 10:46] lanox commented on #1232
@kohlerm  how did you get it to work ?

[2016-11-23 13:50] mnietz commented on #1977
:+1:

[2016-11-23 14:17] mnietz opened #2075 "PostgreSQL Input Plugin: Monitoring multiple Instances"
I need to monitor two Instances of Postgresql on the same Machine but on different Ports (5432 and 5433).

I use the following telegraf configuration on the database server to achieve this:

[code]

As long as i only activate one instance of the plugin everything works fine and this is the expected result:

[code]

The instance on Port 5432 has about 91 requested checkpoints and the instance on 54

[2016-11-23 17:24] Kebus1 opened #2077 "SQL Server Input - Arithmetic overflow error converting numeric to data type int."
## Bug report

I think there a bug within the SQL code for big databases.

file concerned : sqlserver.go
Lines  : 406 and 407

[code]

With patching : add a cast operation for forcing in a BIGINT datatype

[code]

The bug is generated by query on lines 479 to 486.

[code]

I test all queries in file sqlserver.go on my databases and the only error is generated by query above.
I can't release window

[2016-11-23 17:28] sparrc commented on #2077
thanks, would you be able to submit a PR?

[2016-11-24 08:50] ndegory commented on #2042
related to #2071

[2016-11-24 08:58] sparrc commented on #2042
how do you know it's related to #2071? Have you confirmed that updating the library will fix the issue?

[2016-11-24 09:49] mnietz commented on #820
:+1:

[2016-11-24 16:50] dpotapov opened #2080 "ipmi_sensor input plugin stops after first failed server"
## Bug report

### Relevant telegraf.conf:

[code]

### System info:

* OS: CentOS 7.2
* Telegraf - version 1.0.0

### Steps to reproduce:

1. Assuming you have 4 servers with IPMI enabled: _node01-04_
2. Setup telegraf config like in the example above
3. Ensure metrics are collected from all nodes
3. Stop IPMI service on _node03_ (simulate the situation when you unplug power from the server)
4. N

[2016-11-25 13:34] melor commented on #2050
I got back to investigating this further and it seems the input from telegraf to influxdb is correct (no negative values), yet there are negative values returned from influxdb when querying the raw data. Could be related to https://github.com/influxdata/influxdb/issues/6643

Closing this ticket and continuing on the influxdb side.

[2016-11-25 13:34] #2050 closed

[2016-11-25 13:47] mytototo opened #2083 "Plugin suggestion: Segment"

[2016-11-25 13:47] mytototo opened #2084 "Plugin suggestion: Mixpanel"

[2016-11-25 13:47] mytototo opened #2085 "Plugin suggestion: Stripe"

[2016-11-25 13:58] oxitech239 opened #2086 "issues compiling on alpine linux 3.4 ( use of internal package not allowed )"
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be sent to the [InfluxDB mailing list](https://groups.google.com/forum/#!forum/influxdb).

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section

[2016-11-25 14:00] shadialsalamat commented on #1833
how did you solve this problem can you tell me

[2016-11-25 14:00] sparrc commented on #2085
when you make feature requests, please provide more information, links to documentation, examples, etc.

[2016-11-25 14:00] #2085 closed

[2016-11-25 14:01] sparrc commented on #2084
when you make feature requests, please provide more information, links to documentation, examples, etc.

[2016-11-25 14:01] #2084 closed

[2016-11-25 14:01] sparrc commented on #2083
when you make feature requests, please provide more information, links to documentation, examples, etc.

[2016-11-25 14:01] #2083 closed

[2016-11-25 14:02] sparrc commented on #2086
I'm sorry but I can't spend the time to help you debug Go build issues. I can assure you that this project builds if you get your environment setup properly.

[2016-11-25 14:02] #2086 closed

[2016-11-25 14:14] oxitech239 commented on #2086
earlier reports indicate this may be a bug with go, can you validate building against the reportd version of GO works ?

[2016-11-25 14:41] oxitech239 commented on #2086
found

export GOPATH="$pwd"
works partially

this missing modules are under src/github.com/docker/docker/vendor/github.com/ but the make process looks under src/github.com/docker/docker/vendor/github.com/src/github.com

[2016-11-25 15:40] oxitech239 commented on #2086
It is totally unclear how to set GOPATH to include these when it's looking under the wrong path (./src)

[2016-11-25 16:01] sparrc commented on #2086
like I said, I can't help you with Go build env problems, I'd reccomend the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list or [Gopher Slack](https://www.influxdata.com/announcing-the-influxdb-slack-channel/).

[2016-11-25 17:22] ndegory commented on #2042
Correct, I've tried a quick fix with the docker/docker api instead of docker/engine-api, it fixes this issue (tested with Docker 1.12.3 and 1.13.0-rc2).

Because  unlike docker/engine_api github.com/docker/docker is not a library, it's vendored, and there's types conflicts in the way it is used in the telegraf plugin. The tests should be refactored (the DockerClient interface can't be used like th

[2016-11-25 17:35] phemmer opened #2087 "exec input should be able to handle long-running commands"
## Feature Request

### Proposal:
The `exec` input should be able to handle commands which run, and then stream their output data.

### Current behavior:
Currently telegraf expects commands launched by the `exec` input to generate output and then exit. Thus telegraf buffers all the output until the command does exit.

### Desired behavior:
Telegraf should instead be able to launch the command and

[2016-11-25 18:45] kevinjos commented on #1363
Hello, I opened https://github.com/influxdata/telegraf/issues/2066 and am taking a look at the more generic solution proposed here. What are you thinking in terms of configuration @sparrc ? Currently, I see that httpjson conf can..

- set a global servers=$VALUE tag
- specify a tag_keys array
- parse top level arrays of objects to unique points in line protocol

What should a user of the generic J

[2016-11-26 11:18] sparrc commented on #1363
@kevinjos this issue is specific to JSON parsing, not the httpjson plugin. For that reason, there will not be a change to the first bullet-point.

Ideally it will be backwards-compatible, tag_keys will continue to be supported, and if the JSON parsing rules fail then it will fall back to the current behavior, which is to parse the top-level arrays.

I haven't thought too much about what this will

[2016-11-26 19:48] phemmer opened #2089 "inputs.tail can't read from named pipe"
## Bug report

### Relevant telegraf.conf:
[code]
### System info:

telegraf-1.0.1_7_g00637b3-0
CentOS/7

### Steps to reproduce:

1. `mkfifo /var/tmp/foo.fifo`
2. Launch telegraf with above config

### Expected behavior:
To tail the pipe

### Actual behavior:
Doesn't tail the pipe

### Additional info:
No error output is generated at all. Telegraf silently closes the file descriptor and does noth

[2016-11-27 04:37] jvannier opened #2091 "Telegraf not writing in UTC"
## Bug report
Telegraf is writing to influxdb with bizarre timestamp.

### Relevant telegraf.conf:
# Telegraf configuration
[agent]
  interval = "10s"
  round_interval = true
  flush_interval = "10s"
  flush_jitter = "0s"

[outputs]

[[outputs.influxdb]]
  url = "http://influxdb:8086" # required
  database = "metrics" # required
  precision = "s"

### System info:
Telegraf: telegraf:1.1.1-alpine
I

[2016-11-27 05:00] jvannier commented on #2091
SOLVED !

It turns out my docker vm's clock drifted. For any who also run into this issue the command to fix it is
ntpd -d -q -n -p pool.ntp.org

courtesy of http://stackoverflow.com/questions/22800624/will-docker-container-auto-sync-time-with-the-host-machine

(Sorry for polluting your issues section, Telegraf!)

[2016-11-27 05:00] #2091 closed

[2016-11-27 09:09] seanlook opened #2092 "Input mysql IntervalSlow can be set for more metrics?"
`IntervalSlow` is very usefull for metrics that gather not too often as told in README.md, but not just for `show global status` . One day a time is more fit for  `gather_table_schema` and `gather_info_schema_auto_inc`, because it change not to fast.

I've saw `IntervalSlow` is coded in `gatherGlobalVariables` function. So would you plan to allow some options to make  intervalslow more configurabl

[2016-11-27 13:54] ndegory commented on #2042
@sparrc please tell me if you're interested in a PR on that topic, I'll spend more time on the tests in this case.

[2016-11-27 15:08] melor commented on #2050
I upgraded InfluxDB from 1.0 to 1.1 and haven't seen this issue since.

[2016-11-27 15:23] mytototo opened #2093 "Plugin suggestion: Kong"
It would be nice to have an input plugin for the [Kong API gateway](https://getkong.org/). So, this way we'll be able to collect and report metrics of everything that happens on the gateway and all of our APIs.

[2016-11-28 06:29] voyalab opened #2095 "Database creation failed: unable to decode json"
I am sending RabbitMQ metrics to InfluxDB using Telegraf. While running telegraf I am facing this issue.
`2016/11/28 11:47:47 E! Database creation failed: unable to decode json: received status code 405 err: invalid character 'M' looking for beginning of value`

### Relevant telegraf.conf:
[code]
### System info:

**OS** : Ubuntu 16.04 LTS
**Telegraf Version** : V1.1.1
**InfluxDB version** : V0.10

[2016-11-28 06:56] divgwd opened #2096 "Adding partition ids to telegraf kafka output plugin"
Hi,
Is there a way add  partition ids to a particular topic in telegraf kafka output plugin config??

[2016-11-28 09:52] sparrc commented on #2096
dupe of #1304

[2016-11-28 09:52] #2096 closed

[2016-11-28 09:54] sparrc commented on #2042
yes, I would appreciate a PR very much :)

[2016-11-28 09:55] sparrc commented on #2095
you'll need to either downgrade telegraf to 0.10.x or upgrade your infludb to 1.1.x. Mismatched versions are not supported at the moment.

[2016-11-28 09:55] #2095 closed

[2016-11-28 12:00] elvarb commented on #860
Telegraf now has native service handling which is awesome but sadly now NSSM does not work with Telegraf.

Of the binaries I have the last version that worked with NSSM is 1.0.0-Beta3
The version after that which does not work is 1.0.1

[2016-11-28 12:41] Dominick1993 opened #2097 "Configurable HTTP timeouts in Jolokia plugin"
HTTP timeouts in Jolokia input plugin are hard-coded. Sometimes retrieving data with those timeouts fails, so it would be beneficial to have them configurable.

[2016-11-28 15:53] oryband opened #2099 "Add Google Cloud Monitoring input (Stackdriver)"
## Feature Request

### Proposal:

Google [has made Stackdriver generally available](https://cloudplatform.googleblog.com/2016/10/Google-Stackdriver-Generally-Available.html), and has a [metrics API](https://cloud.google.com/monitoring/docs/apis).

Please add support for fetching metrics from Google Cloud Monitoring, similar to [AWS CloudWatch input](https://github.com/influxdata/telegraf/tree/5d3

[2016-11-28 22:28] kevinjos commented on #1363
I opened a PR that introduces jsonq to the json parser to support parsing nested objects and arrays of objects into unique metrics with default, top-level and object-specific tags:

https://github.com/influxdata/telegraf/pull/2101

Feedback is much appreciated.

[2016-11-29 14:10] zrice57 opened #2102 "fatal error: concurrent map writes"
## Bug report
Telegraf crashes with error  **"fatal error: concurrent map writes"**

### Relevant telegraf.conf:
See gist.

### Relevant Input
I have two statsd inputs configured and a few other inputs. I've only included the statsd input config because it seems the most relevent.

This has been happening on multiple servers regularly for at least a week.

### System info:
* telegraf.x86_64  1.1.1

[2016-11-29 17:08] sparrc commented on #2102
thanks for the crash log, might be related to this: https://github.com/influxdata/telegraf/issues/1975