[2017-09-06 21:57] danielnelson commented on #3203
Yeah, I'll get it.

[2017-09-06 22:16] jchauncey commented on #3203
Ive got the work done for this. Just have to go through the channels at microsoft to submit the pr. Should have it up first this tomorrow.

[2017-09-06 22:26] mrchang7 commented on #3204
* Plugin: inputs.net, Collection 1

[2017-09-07 00:29] danielnelson commented on #3204
Yes, but you can filter out the interfaces you are not interested in and you can also remove fields you don't want using the [measurement filtering](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#measurement-filtering) options.

[2017-09-07 00:45] danielnelson commented on #3205
This is working as designed, the `name_override` parameter is most often used with input plugins that generate metrics and allows the measurement name to be changed.  I don't see it used very often with the queuing system consumers.  You should be able to just remove the option and I think everything will work as desired.

[2017-09-07 00:56] DavidAntliff commented on #3205
Ok, so there's no harm in having multiple MQTT input plugins (subscribed to different topics) all with the same default name of "mqtt_consumer"? I'll close this for now and confirm for myself. Thanks.

[2017-09-07 00:56] #3205 closed

[2017-09-07 01:41] mrchang7 commented on #3204
Super. That will be very useful. Many thanks!

[2017-09-07 01:41] #3204 closed

[2017-09-07 06:16] JustTheSame commented on #2786
how can i solve the problem?

[2017-09-07 12:27] hcsaustrup commented on #3195
@danielnelson we're monitoring a boat load of servers, and I'm unable to update Telegraf on the last 5% or so, but I do think I see a significant reduction in errors. Looking at the few errors still there, they're either from servers running old versions of Telegraf or not identifiable:

``
Sep  7 14:19:36 Y33392 influxd: [I] 2017-09-07T12:19:36Z Failed to parse points: unable to parse '0000000000

[2017-09-07 12:42] guitarzero commented on #3201
Hello Daniel
Thank you for your answer.
I would be interested in having a closer look where it could be possible to deal with my requirement. I will watch at cascading failures (i need to think about it a bit more to better understand the consequences).

So yes, i would like to work on my own fork and your help will be greatly appreciated if you could show me where to start (my requirement is to m

[2017-09-07 13:46] DanKans commented on #3136
Hi @danielnelson,

I've redesigned this plugin, based on zipkin http listener. The key part is to avoid printing error message in situation where `http.ErrServerClosed` occur. Please take a look -
 https://github.com/influxdata/telegraf/pull/3206

Output after sending 2 HUP signals:
[code]

Thanks,
Daniel

[2017-09-07 15:51] m4ce opened #3207 "IPMI sensor status"
At current, the IPMI plugin assumes that if the sensor is "ok", then the status field will be set to 1, else 0.

However, there are multiple sensor status available and it is very inconvenient not to be able to access the original value.

The list of available sensor status values are:

* ok - OK
* nr - Non Recoverable
* cr - Critical
* nc - Non Critical
* ns - Not Specified
* na - Not Available

[2017-09-07 16:11] bitxel commented on #3200
yep, good idea, extend `redis` input plugin to support more redis queries except for `INFO`.

[2017-09-07 18:19] danielnelson opened #3208 "Post install maintainer script does not work with resin.io"
## Bug report

As discussed on the community site, when installing the deb package on a resin.io system the post-install.sh script does not detect the system correctly to setup initscripts for the package.

https://community.influxdata.com/t/installing-on-a-raspberry-pi/2159/7

### Relevant telegraf.conf:

### System info:

Raspberry pi with resin.io

### Steps to reproduce:

1. Install deb packag

[2017-09-07 18:27] danielnelson commented on #2786
I think we should rework this plugin to use gopkg.in/redis.v4

[2017-09-07 18:34] danielnelson commented on #3195
There should also be a corresponding log message on the Telegraf side, if you have a method to search the logs on all systems.

[2017-09-07 18:34] #3195 closed

[2017-09-07 18:50] danielnelson commented on #3201
There is a goroutine running the [gatherer](https://github.com/influxdata/telegraf/blob/master/agent/agent.go#L100) function for every input plugin.  I think the easiest way to serialize these is using the [semaphore pattern](http://www.golangpatterns.info/concurrency/semaphores) and adding it to the [Agent](https://github.com/influxdata/telegraf/blob/master/agent/agent.go#L19) struct.  Then, I th

[2017-09-07 19:15] danielnelson commented on #3208
The system the package was being installed on did not have systemd or sysvinit installed, but the issue could still happen if the os detection fails.

[2017-09-07 19:27] danielnelson commented on #3207
How about instead of changing the type of the status field we add a new field for the string codes, otherwise everyone will have to flush their databases.  Unfortunately the name won't be as nice, but perhaps `sensor_status` or `status_name`?

[2017-09-07 23:20] scfigg opened #3209 "Can't figure out why certain data fields isn't going into Grafana"
Using Postman for Windows, I'm polling my API url for my Cisco Prime infrastructure to see how many clients are on a specific SSID. Postman shows the data I'm looking for (see picture below). However, I'm assuming my telegraf config is wrong since Grafana isn't showing all the data that I'm seeing in postman (only a few things such as VLAD ID, etc). Any suggestions on what I'm doing wrong?

Here i

[2017-09-08 01:20] tocheeba commented on #3209
Looks like this may be it? Because the integers are enclosed in quotes from Cisco, they aren't treated as numbers - they are treated as strings instead?

https://github.com/influxdata/telegraf/issues/2904

[2017-09-08 02:16] danielnelson commented on #3209
The [JSON input data format](https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md#json) ignores all strings that are not in the `tag_keys`.  If they are in the tag keys they are collected as tags, so make sure it makes sense from a [schema design](https://docs.influxdata.com/influxdb/v1.3/concepts/schema_and_data_layout/) point of view.

[2017-09-08 08:18] m4ce commented on #3207
@danielnelson - that makes sense. I will name it `status_name`.

[2017-09-08 09:15] umataro commented on #3197
There is no error. I must have made a typo on my first try and assumed it wasn't supported (as it is not documented). I guess this ticket should change into "Can port specification be documented?".

[2017-09-08 13:00] tocheeba commented on #3209
So given that I want the "@count" data, which yields a number with quotes ("273"), as long as I have it setup in tags, I should be able to pull it into Grafana, right? I can't think of anything I have wrong in my config, other than telegraf not being able to read the value "273" or whatever number as an actual 'number' since it has quotes? (per #2904)

[2017-09-08 16:00] jchauncey commented on #3203
So might just be easier for someone else do this or I can throw up the code somewhere that Ive got and someone else can submit it

[2017-09-08 16:01] jchauncey commented on #3203
Here is a gist with the changes - https://gist.github.com/jchauncey/325956b3d03db33fd1a3241ecf6b9e78

[2017-09-08 18:32] danielnelson commented on #3209
It appears that `tag_keys` are only valid for top level items, since `@count` is nested under `queryResponse` it can't be added as a tag.  Even if you could grab this item as a tag though it probably wouldn't be a very good idea, it looks like this value changes frequently and you would end up creating a large amount of series.

I think the only way to scrape this data currently would be with a cu

[2017-09-08 20:03] #3059 closed

[2017-09-08 20:04] danielnelson commented on #3059
@goller Can you please retest?

[2017-09-08 20:51] goller commented on #3059
I'm getting hangs sadly.

[2017-09-08 21:55] danielnelson commented on #3059
Okay, we can follow this remaining issue on #3158

[2017-09-08 22:35] #1588 closed

[2017-09-08 23:35] danielnelson commented on #3081
@dulrich14 Can you create a pull request?

[2017-09-09 00:20] danielnelson commented on #2930
I've decided not to address this issue, while this means Telegraf could send a request with an invalid query string, such as `?a%GG`, blocking this would make it impossible to use a strictly invalid url which may be something a user wants to do http response.

[2017-09-09 00:20] #2930 closed

[2017-09-09 01:18] scfigg commented on #3209
Thanks, that makes sense I guess. I'm still new to API usage, telegraf, etc. I've been reading up a lot, and I guess I'll have to figure something out with the exec plugin.

[2017-09-09 01:18] #3209 closed

[2017-09-10 04:44] mirath commented on #3192
@danielnelson
I've been reading on the documentation of aggregators and processors. As far as I can tell, the aggregator interface doesn't offer a way to actually modify the list of metrics that get passed to the database, only processors can do that (they actually receive a pointer to the list of metrics). So this plugin would have to be done as a processor, not as an aggregator as you suggested.

[2017-09-11 16:02] Jugulaire commented on #2174
This is does not help us, can you please provide a example ?
It's does not work on my telegraf with multiples inputs ...

[2017-09-11 18:56] #2981 closed

[2017-09-11 19:16] danielnelson commented on #2174
@Jugulaire With any input plugin you can define it multiple times in the config file, here is an example using the cpu plugin: https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#multiple-inputs-of-the-same-type

[2017-09-11 19:30] danielnelson commented on #3167
Thanks @DanKans, I'm going to add this to the 1.4.1 release

[2017-09-11 21:01] danielnelson commented on #3192
I think it could probably be implemented as either a processor or a aggregator.

Aggregators generate new metrics, and leave the choice of if the original metrics are emitted as a user option handled by Telegraf via `drop_original`.  In a "top" plugin it wouldn't make sense to emit the originals, so the user would need to make sure this is set to true.  I'd say this aspect definitely favors doing

[2017-09-11 21:21] mirath commented on #3192
I like the processor + period approach, I'll work on that then.

[2017-09-11 21:40] pfriel-bcs opened #3217 "Fluentd plugin sends float pointers instead of real values"
## Bug report
When using the new fluentd plugin to send queue metrics to Influx the buffer_total_queued_size, buffer_queue_length and retry_count are sending the float pointer memory address like "0xc420045418" instead of the real underlying values like "12345".

### Relevant telegraf.conf:
[code]

### System info:

Telegraf 1.4.0
OS: Ubuntu 16.04.2

### Steps to reproduce:

1. Enable the fluentd

[2017-09-11 21:47] shezaan opened #3218 "Feature request: Plugin for Spark"
## Feature Request

Hello, I would like to request a plugin for Spark.

[2017-09-11 21:49] phemmer opened #3219 "run postgres_extensible query across multiple databases"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
The postgres_extensible plugin should support a way of running the same query across multiple databases. The configuration should allow running across all databases, or a filtered list.

### Current behavior:
No such feature

### Desired behavior:
Such a feature

### Use case: [Why is this important (helps with pr

[2017-09-12 07:48] danielnelson commented on #3219
What about the [databases](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/postgresql_extensible/postgresql_extensible.go#L61-L63) option?  It sounds like it does something similar, though maybe we need better filtering.

[2017-09-12 07:50] danielnelson commented on #3218
We have one pull request but work on it has stalled https://github.com/influxdata/telegraf/pull/1611.

[2017-09-12 08:40] DanKans commented on #3136
Solved by https://github.com/influxdata/telegraf/pull/3206

[2017-09-12 09:15] iebra opened #3220 "monitor other server in telegraf"
i have a Telegraf in system 'A' and i have other system 'B' with PostgreSQL , so i monitor the PostgreSQL but i want monitor system 'B' also, how can i do it ?

[2017-09-12 11:59] arindamchoudhury opened #3221 "Feature request: flush to file if write on shutdown fails"

[2017-09-12 12:41] jonnyzzz opened #3222 "Support arbitrary tokens for Prometheus input"
## Bug report
Our application has a token file on the disk. It writes the value of `Authorization` header into the file. We cannot make the reporter work

### Relevant telegraf.conf:
[code]
It could be nice to allow any Authorization header value being read from the file. In my case, we indeed have the file with just `Authorization` header value. So what I pass the file into `bearer_token` I have

[2017-09-12 13:10] phemmer commented on #3219
No, the `databases` option is nothing like what being requested. The `databases` option simply tacks `IN ('foo','bar','baz')` on to the end of the query, which I personally don't see any use for.

[2017-09-12 17:45] #3136 closed

[2017-09-12 18:08] danielnelson commented on #3221
Similar to https://github.com/influxdata/telegraf/issues/802

[2017-09-12 18:08] #3221 closed

[2017-09-12 18:16] phemmer commented on #3219
I'm really thinking the current `databases` option should either be removed, or replaced with this feature request. I can see no benefit to it. The 2 use cases in the documentation are invalid:

  databases defined in the 'databases field', the sql query is ended by a 'is
  not null' in order to make the query succeed.

The user can add `is not null` to their query. There's no reason to make it mo

[2017-09-12 18:36] danielnelson commented on #3219
I don't understand why someone would use it either, if anyone is using this option currently can you explain how it is helpful?

Even though it is using a good name, we might want to call the new feature `dbnames` and leave databases alone outside of deprecating it.

[2017-09-12 19:03] danielnelson commented on #3220
It completely depends on the input plugins you are using, some input plugins can operate over the network but others require Telegraf to be running locally.   Many of us are running a Telegraf instance on most of our servers for this reason, if you do this you can collect all information locally on host 'B', both postgres and system, and then send the data out to InfluxDB.

We try to reserve GitHu

[2017-09-12 19:03] #3220 closed

[2017-09-12 21:57] deepujain opened #3223 "InfluxDB write error : HTTP/1.1 400 - Not enough logs"
influxdb:1.2-alpine

I have 150+ machines, each running telegraf agent and pushing metrics to a single InfluxDB server running on kubernetes with influxdb:1.2-alpine version.

In influxD server logs, i notice multiple lines with below

2017-09-12T21:54:27.581450000Z [httpd] <SOME_IP> - root [12/Sep/2017:21:54:27 +0000] "POST /write?consistency=any&db=telegraf&precision=ns&rp= HTTP/1.1" 400 200 "-"

[2017-09-12 22:37] danielnelson commented on #3223
1. It appears so
2. Is the client IP in `<SOME_IP>`?  This is really more of an InfluxDB question, you could try asking on the [InfluxData Community](https://community.influxdata.com) site.
3. Yes, the best way to do this is with the "internal" input plugin.  It will show you success/fail stats for each plugin.

[2017-09-12 22:37] #3223 closed

[2017-09-13 00:19] danielnelson commented on #3217
https://github.com/influxdata/telegraf/commit/8a68e7424c48e8f28034855a239265ab52ba536d

[2017-09-13 00:19] #3217 closed

[2017-09-13 00:28] #3203 closed

[2017-09-13 00:55] danielnelson commented on #3222
The `bearer_token` in a file is a good idea, but I think it to specialized for inclusion, unless there is an established pattern that I'm unaware of.

We could definitely add a headers option like in `httpjson` though.

[2017-09-13 13:00] jonnyzzz commented on #3222
Thanks. In my case, I was looking for the way to pass `Authorization` header value entirely from a file (and reread it on every request)

[2017-09-13 17:13] nheath opened #3225 "win_perf_counters.tags not being applied"
win_perf_counter tags are not applied. With the awaited release of 1.4 and fix of #1137 and #2535, I attempted to create two inputs for win_perf_counters with separate tags. I've included a commented out version of this test, but ran into issues getting any tags to send at all.

### Relevant telegraf.conf:
[code]

### System info:
Windows 10, telegraf 1.4 running as a windows service

### Expected

[2017-09-13 17:19] nheath commented on #3225
nevermind, i should have done more testing, i see the correct syntax is `[inputs.win_perf_counters.tags]` not `[[inputs.win_perf_counters.tags]]`

[2017-09-13 17:19] #3225 closed

[2017-09-13 18:22] danielnelson opened #3226 "Add input that accepts all input data formats using HTTP"
## Feature Request

The current `http_listener` input only accepts influx data format and attempts to behave like an InfluxDB server with respect to parsing, paths, headers, etc.

### Proposal:

Add a plugin alias for the current http_listener plugin: `influxdb_listener`, at some point in the future we remove the old http_listener.

Create a new input from scratch called `http_listener_ng`, or a g

[2017-09-13 18:39] danielnelson commented on #3222
I don't think we want to do this, but maybe you could use a proxy or some other method to add the authorization in.

[2017-09-13 18:39] #3222 closed

[2017-09-13 19:11] danielnelson commented on #3201
I'm going to close this issue, but feel free to comment here if you need any more help.

[2017-09-13 19:11] #3201 closed

[2017-09-13 19:12] danielnelson commented on #2944
Please reopen if internal plugin does not work for your use case.

[2017-09-13 19:12] #2944 closed

[2017-09-13 19:13] #3107 closed

[2017-09-13 19:14] danielnelson commented on #3154
Let me know if you still think there is a bug that needs addressed and we can reopen.

[2017-09-13 19:14] #3154 closed

[2017-09-13 19:15] danielnelson commented on #3172
@jeroenjacobs1205 I'm going to close, let me know if the check_id does not work.

[2017-09-13 19:15] #3172 closed

[2017-09-13 19:32] #3167 closed

[2017-09-14 00:29] danielnelson commented on #2750
Will be in 1.5, thanks @dimrozakis

[2017-09-14 00:29] #2750 closed

[2017-09-14 00:30] #3064 closed

[2017-09-14 00:33] danielnelson commented on #3064
Fix will be in 1.4.1, if anyone can test with tomorrows nightly build it would be helpful.

[2017-09-14 04:02] Paxa opened #3228 "Feature request: Matching multiple lines"
Comes from https://community.influxdata.com/t/match-multiple-lines-with-telegraf/2362

I would like to process logs like this:
[code]

I'm parsing with:
[code]

I hope to get error message and all stacktrace as one record

[2017-09-14 12:05] discoduck2x commented on #1291
still no update to #1 on this one?

[2017-09-14 14:42] lberruti opened #3229 "Iptables input plugins skips lines with empty target and "port" column"
## Bug report
Iptables input plugin skips lines with empty target and "port" column

### Relevant telegraf.conf:
[code]
### System info:
Telegraf 1.4.0-1 (telegraf_1.4.0-1_i386.deb), Debian 8.9

### Steps to reproduce:
Having this rules:
[code]
then run:
[code]

### Expected behavior:
All lines are parsed:
[code]
### Actual behavior:
Lines with empty "target" and empty "port" column are skipped
[c

[2017-09-14 18:16] danielnelson commented on #3228
Here is how logstash allows this to be done, maybe we can add something similar.

https://www.elastic.co/guide/en/logstash/2.4/plugins-codecs-multiline.html

[2017-09-14 18:39] danielnelson commented on #3100
Thanks, I will get this fixed.  I recommend using the targets in the [Makefile](https://github.com/influxdata/telegraf#from-source) though in general since getting the HEAD of each dependency is bound to cause lots of problems.

[2017-09-14 18:42] danielnelson commented on #3100
After updating to the lastest zipkin-go-opentracing release version I get:
[code]

I believe we need to wait for github.com/apache/thrift to release 0.11 in order to fix this issue, according to https://github.com/openzipkin/zipkin-go-opentracing/issues/68

[2017-09-14 19:30] m82labs opened #3233 "Feature Request: Re-model SQL Server Plugin Data Output"
This request is based on this initial conversation: https://community.influxdata.com/t/plugin-modification-guidance/2355

## Feature Request

### Proposal:
The proposal is to re-model the data that is returned by the SQL Server plugin to be more user friendly. Most of the changes could be made in the TSQL code itself, so we should be able to keep backward compatibility for users by adding a `metri

[2017-09-14 21:42] danielnelson commented on #2683
https://github.com/jackc/pgx/issues/321

[2017-09-14 21:57] danielnelson commented on #3233
@zensqlmonitor @lucadistefano

This is one of the older plugins and it seems like it might be time to revamp the output format here to fit better with the latest Telegraf best practices.  In particular I think we could make better use of tags and fields.  I could also be talked into style changes too so that the output looks more like other plugins.

Everything needs to be done in a backwards comp

[2017-09-14 21:59] #3229 closed

[2017-09-14 22:23] danielnelson commented on #2823
Will be included in 1.5.0, thanks to @tpounds

[2017-09-14 22:23] #2823 closed

[2017-09-15 02:55] m82labs commented on #3233
This is not a full spec by any means, it's just a summary of some thoughts I had on how this plugin could be reworked.

## Modeling ##

I have been thinking about the output format quite a bit, and this is how I think I would model it. I have left out some of the tags (like host) for brevity. I think all of the modeling changes could be made in the TSQL code, so adding new queries and only using t

[2017-09-15 10:13] viktorsmari opened #3237 "Malformed measurements from telegraf to influxdb"
I have telegraf running on multiple hosts which report to a influxdb (via https) running on Docker behind nginx proxy.

## Bug report
Measurements get a random gibberish text in front of their names.

Could this be related to telegraf on some of our host  trying to post to much data?

We are using the [[inputs.httpjson]] plugin on one host.

Can someone help me debug this further?

![2017-09-15_35

[2017-09-15 13:04] freeseacher commented on #1363
any news ?

[2017-09-15 15:45] phemmer commented on #3192
The way I've approached this problem in the past with homebrew process monitoring solutions is to use a criteria for defining "interesting" processes.
This criteria is things like:
* Process is listening on a TCP/UDP socket
* Process is contributing to system load (in a run state)
* Process is using > X kb of memory
* Process CPU time / wall time ratio > X %
* Process IO / wall time ratio > X %

A

[2017-09-15 17:49] geekdave opened #3238 "Feature Request: Splunk Input Plugin"
I see there is already a request for a [Splunk Output Plugin](https://github.com/influxdata/telegraf/issues/3176).  In my case I'd like to request a Splunk **Input** Plugin.

Use case: We already have an extensive logging system that sends a ton of data to Splunk.  However, when we want to visualize summarized trends like API latency over time, Splunk is super slow.  If we could have Telegraf runn

[2017-09-15 17:58] danielnelson commented on #3192
Maybe what procstat really needs is some way to run a custom pid collector.  So instead of using pgrep you can run any process that returns a pid per line.

[2017-09-15 18:00] phemmer commented on #3192
I had thought about that, and I think the problem there is you then have 2 different utilities polling the process data. One utility will pull all the data to determine what pids should be monitored, and then another utility will pull the data again. Granted the second one (telegraf) should only be pulling data for a small number of PIDs. It just feels weird.

[2017-09-15 18:05] danielnelson commented on #3192
To be fair, that's what the plugin does now.

[2017-09-15 18:09] phemmer commented on #3192
True, but it's not pulling the full data of the process. The `pgrep` is only matching on process name, executable, or other limited information. It doesn't go through things like process statistics, so the data being used doesn't change between process matching and telegraf polling (other than the process going away entirely).

[2017-09-15 18:16] #2617 closed

[2017-09-15 18:28] danielnelson commented on #3192
Yeah, performance wise it would probably be better to collect all processes and apply filters.  I guess we could add procstat specific filters here if we feel that there are enough people interested in it, is this something that would still be useful for you?

As an aside, I have come around to the idea of attaching general purpose processors/aggregators to specific plugins though I will need to r

[2017-09-15 18:36] phemmer commented on #3192
I dunno. I was mostly just throwing out an idea that I've used in the past and worked well.
While I might like to have the functionality in place, currently we're making do with the existing matching functionality. Though we've barely touched the subject of process monitoring with telegraf in our systems, so we haven't felt the pain yet :-)

[2017-09-15 18:49] danielnelson commented on #3233
We often use an include/exclude list for filtering, but with a short list of items just and exclude list works.  All items should be independent of each other if we do this:
[code]

Can you tell me more about the metrics where we capture deltas over time?  Most of the plugins prefer to report absolute values, these can easily be converted to deltas at query time and handle any Telegraf downtime ni

[2017-09-15 18:49] bobmshannon commented on #3237
Hey @viktorsmari,

I think this has been encountered before in #2854.

Since you have an reproduction, can you share your nginx config and also try adding the following to your location block and see if it helps?

[code]

[2017-09-15 19:18] phemmer commented on #3238
See also https://splunkbase.splunk.com/app/3065/

[2017-09-15 19:24] danielnelson commented on #2854
I'm looking through the code again, and I think it may be possible for the Content-Length header to be incorrect.  Can someone, if it has not already been done, test with the `content_encoding = "gzip"` option?  This would disable the Content-Length header and use chunked transfer encoding.

[2017-09-15 19:26] geekdave commented on #3238
@phemmer thanks for the pointer!  Have you tried out that app?  Unfortunately for me this is a non-starter for me due to this limitation:

[2017-09-15 19:30] danielnelson commented on #3237
I agree this is probably the same issue, we can discuss further over on #2854.

@viktorsmari If you could also try my suggestion in https://github.com/influxdata/telegraf/issues/2854#issuecomment-329876846 could you add a comment over on that issue to let people know you will test it.

[2017-09-15 19:30] #3237 closed

[2017-09-15 19:40] lucadistefano commented on #3233
Personally I don’t like perform deltas in the gathering of metrics. I prefer to get the raw values and perform deltas using db functions or frontend functions or a post processing batch.
If we get deltas we loose the information of the absolute values. For get deltas you need to perform 2 queries for each poll, using raw values only 1 query. Then how to choose the delta period? Some metrics are up

[2017-09-15 20:20] james-lawrence opened #3239 "socket listener: needs a way to set socket permissions for unix/dgram sockets."
### Relevant telegraf.conf:

### System info:
Telegraf v1.4.0 (git: release-1.4 34b7a4c3611d1ede908ef275401544c34a4a3ba3)

## Feature Request

being able to set socket permissions for socket_listener, will allow administrators to have various applications on the system write to the telegraf socket.

[code]

telegraf -conf=test.conf

[2017-09-15 20:54] phemmer commented on #3238
I have not. I generally go the other way, pulling data out of InfluxDB into splunk.

[2017-09-15 21:11] geekdave commented on #3238
@phemmer I'm curious about your philosophy in this regard, and wondering if I've been thinking about it all wrong myself.

My understanding has been that Splunk is better suited for storing oodles of detailed log-level data such as individual web server requests (full URL of the request, status code, response time) and that InfluxDB is better suited for storing aggregated info like p(95) response

[2017-09-15 21:16] phemmer commented on #3238
I actually don't store the data in splunk. I have a splunk search command which runs queries against InfluxDB and dumps the results. I then use splunk for it's graphing, analytics, and machine learning capabilities.

[2017-09-15 21:19] geekdave commented on #3238
Cool - thanks!

[2017-09-16 16:34] viktorsmari commented on #3237
Confirming that adding the section above to nginx location fixes the issue!

Thank you!

[2017-09-16 18:37] swapper82 opened #3240 "error: metric parsing error, reason: [buffer too short],"
Hi im having some problem with getting the mqtt_consumer to accept data from mqtt server.
When writing a value it repports an error:

2017-09-16T18:23:59Z E! Error in plugin [inputs.mqtt_consumer]: E! MQTT Parse Error
message: 23
error: metric parsing error, reason: [buffer too short], buffer: [23
], index: [0]

Might be me not understanding how to do this right but the error message is confusing

[2017-09-17 03:30] freeseacher opened #3241 "pid is missing in procstat's telegraf output"
## Bug report

### Relevant telegraf.conf:
[code]

### System info:

Telegraf v1.3.5 (git: release-1.3 7192e68b2423997177692834f53cdf171aee1a88)

### Expected behavior:
pid is in tags
[code]

### Actual behavior:
no pid exists
[code]
### Additional info:

as a result multiple processes on one host can't be correctly collected :(
[Include gist of relevant config, logs, etc.]

[2017-09-17 03:36] freeseacher commented on #2928
any news?

[2017-09-17 10:18] jqueuniet opened #3242 "Binary release for arm64 doesn't work when arm32 binary support isn't available"
## Bug report

### System info:

telegraf v1.4.0
Tested on an ARM64-2GB virtual machine rented at Scaleway. Architecture is aarch64 and AFAIK their hardware is a Cavium ThunderX SoC running a KVM hypervisor.
Operating system is Debian 9.0

### Steps to reproduce:

1. Start a Scaleway ARM64 virtual machine running Debian 9
2. Install the telegraf arm64 debian package
3. Run telegraf

### Expected b

[2017-09-18 02:44] mirath commented on #3192
I've been analyzing the processor code, and it has come to my attention that in agent.go, not all current metrics are passed onto the processor plugins. They are passed on one by one

[code]

This means that each call to Apply in the Processor interface does not receives enough context to calculate a topk.

Our options are then:
   * Create an Aggregator that accumulates the measurements and retur

[2017-09-18 03:48] marcopullo commented on #3154
Same issue with well over 100% CPU on Telegraf 1.4.0, Docker 17.05.0-ce.  Changing time grouping doesn’t resolve.

[2017-09-18 15:38] sjcollin commented on #820
+1

[2017-09-18 20:56] danielnelson commented on #3241
The pid field is translated to this line in your prometheus output:
[code]

If you use the `pid_tag = true` option in your procstat config, it will become a tag like this:
[code]

The reason pid is, by default, a field is because it can create too many series if the process being monitored is short lived.

[2017-09-18 20:56] #3241 closed

[2017-09-18 21:04] danielnelson commented on #3192
The processor would need to add state to its struct while the metrics flow through.  This would mean at first no metrics are emitted until the processor has determined which ones to allow.

[2017-09-18 21:07] mirath commented on #3192
So the Apply call would accumulate metrics until it has decided that it has enough information to give a return value? And in the meantime it would just return nil?

[2017-09-18 21:11] danielnelson commented on #3154
@marcopullo Over 100% CPU is okay, does it match the output of `docker stats`?

[2017-09-18 21:15] danielnelson commented on #3192
I think it must, probably return an empty list.  It could store the metrics until it knows what to allow and then emit the appropriate old metrics at that time.

[2017-09-18 21:17] mirath commented on #3192
I think an empty list will work, but I have to look at the code. I'll check it out today or tomorrow.

[2017-09-18 21:22] #3242 closed

[2017-09-18 21:35] danielnelson commented on #3240
The mqtt_consumer input found the message "23` in the queue, but was expecting line protocol because `data_format = "influx"`.

Is this how you expect the messages to look?  If so you could use `data_format = "value"`, but it is somewhat limited.

[2017-09-18 21:53] danielnelson commented on #3242
The fix should be in 1.4.1, here is a link to the [deb package](https://8268-33258973-gh.circle-artifacts.com/0/tmp/circle-artifacts.xEgxzbI/build/linux/arm64/telegraf_1.4.0%257E52cd381-0_arm64.deb) from CI if you would like to test it.

[2017-09-18 23:35] danielnelson commented on #2976
I believe this was fixed by #3043.

[2017-09-18 23:35] #2976 closed

[2017-09-18 23:50] danielnelson commented on #2539
I just bumped version of Go in the official builds to 1.9, hopefully this solves the issue but let me know if you see it again. https://github.com/influxdata/telegraf/commit/a63f80e017721c3ca77b5e8e553d401224227d98

[2017-09-18 23:50] #2539 closed

[2017-09-19 06:04] pramachan opened #3248 "Proxy agent to monitor remote systems"
## Feature Request

Request for a proxy plugin for the win_perf_counters (Windows) where one agent in one server can monitor other servers within the same network (using WinRMI and authentication details in configuration). Another proxy for Linux 'system' plugin also, but using SSH.

### Proposal:
When the data is collected, it should have metrics along with the server name it corresponds too.

##

[2017-09-19 06:05] #3248 closed

[2017-09-19 06:07] n1sivakumar opened #3249 "Proxy agent to monitor remote systems"
## Feature Request

Request for a proxy plugin for the win_perf_counters (Windows) where one agent in one server can monitor other servers within the same network (using WinRMI and authentication details in configuration). Another proxy for Linux 'system' plugin also, but using SSH.

### Proposal:
When the data is collected, it should have metrics along with the server name it corresponds too.

##

[2017-09-19 06:07] #3249 closed

[2017-09-19 09:06] jqueuniet commented on #3242
It works perfectly, thank you.

[2017-09-19 12:00] Manikandan25 opened #3250 "Add plugin to telegraf.conf"
I  would like to add plugin to my telegraf.conf. So, I run telegraf -usage apache in my terminal. Then I got the following:
#Read Apache status information (mod_status)
[[inputs.apache]]
  ##An array of URLs to gather from, must be directed at the machine
  ##readable version of the mod_status page including the auto query string.
  ##Default is "http://localhost/server-status?auto".
  urls = ["ht

[2017-09-19 12:23] julienmary opened #3251 "Too many useless metrics"
## Feature Request

### Proposal:
Add granularity to the configuration enabling to select only the wished metrics in place of all the metrics in a given group.
### Current behavior:
We can select only whole groups, making wished measurements coming with a lot of noise.
### Desired behavior:
ability to select metrics precisely.
Example --
[code]
Would disable the whole group resources to provide on

[2017-09-19 16:57] jcmartins opened #3252 "Add more metrics to RabbitMQ (mnesia, exchange, node_up)"
## Feature Request
See metrics below:

rabbitmq_node_up

rabbitmq_mnesia_table_read_only
rabbitmq_mnesia_table_disc_copies
rabbitmq_mnesia_table_disc_only_copies
rabbitmq_mnesia_table_local_content
rabbitmq_mnesia_table_majority_required
rabbitmq_mnesia_table_master_nodes
rabbitmq_mnesia_table_memory_bytes
rabbitmq_mnesia_table_ram_copies
rabbitmq_mnesia_table_records_count
rabbitmq_mnesia_table_d

[2017-09-19 17:54] danielnelson commented on #3250
Is there anything interesting in the logfile?  Make sure when you restart Telegraf the plugin is listed:
[code]

We try to reserve GitHub Issues for actionable bug reports or feature requests. Please ask general questions at the [InfluxData Community](https://community.influxdata.com) site.

[2017-09-19 17:54] #3250 closed

[2017-09-19 17:55] danielnelson commented on #3251
You can use the [measurement filtering](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#measurement-filtering) options on inputs or outputs to whitelist.

[2017-09-19 17:55] #3251 closed

[2017-09-19 18:02] danielnelson commented on #3249
We have an issue open for WMI support https://github.com/influxdata/telegraf/issues/1857

[2017-09-19 18:43] danielnelson commented on #3177
Added in #3196

[2017-09-19 18:43] #3177 closed

[2017-09-20 00:46] chamini2 commented on #2889
https://github.com/jackc/pgx/issues/282

[2017-09-20 01:20] danielnelson commented on #2889
When the next pgx version is released we can update to use it.

[2017-09-20 09:05] mazebuhu commented on #1717
Such feature would be very useful for us. For some internal projects we had to develop very custom and specific input/output plugins. We currently have the burden to make our own internal build of telegarf and container image and keep everything in sync with the upstream project.

[2017-09-20 09:12] szuki commented on #1717
We have the same problem as mazebuhu.

[2017-09-20 10:38] mced opened #3253 "postgresql_extensible.query cannot connect to pgbouncer"
## Bug report
With last version 1.4, many of us thought that telegraf was compatible with pgbouncer through postgresql_extensible.query input plugin.

It is not the case.

### Relevant telegraf.conf:
[code]

### System info:
Telegraf v1.4.0 (git: release-1.4 34b7a4c3611d1ede908ef275401544c34a4a3ba3)
Ubuntu 14.04
pgbouncer 1.5.4

### Steps to reproduce:
Add telegraf user in pgbouncer config file as

[2017-09-20 17:46] danielnelson commented on #1717
I think we will try to add support for gRPC plugins due to usability issues with the Go plugins.  I think everyone will be happier with this solution in the end.

[2017-09-20 20:06] Manikandan25 commented on #3250
Thanks for the reply Daniel. I found similar question in influx community
and now I can apache inputs loaded.. Thanks a lot

On Tue, Sep 19, 2017 at 11:24 PM, Daniel Nelson <notifications@github.com>
wrote:

[2017-09-20 20:07] druchoo opened #3255 "Error in plugin [inputs.cloudwatch]: RequestError: send request failed"
## Bug report
CloudWatch input seems to leave many TIME_WAIT connections which eventually causes it to return too many open files error.

### Relevant telegraf.conf:
60 or so different cloudwatch configs (we use Puppet so the files are separated) for various namespaces (AWS/AutoScaling, AWS/ECS, AWS/RDS)
[code]

### System info:
telegraf-1.3.5-1.x86_64
CentOS Linux release 7.2.1511 (Core)

### Ste

[2017-09-20 21:36] danielnelson commented on #3255
We should try initializing the cloudwatch.New with a custom transport and see if it helps out.  I think we will need to limit the concurrent requests with more than just a rate limit as well in order to set the proper max idle connections.

[2017-09-20 22:01] danielnelson commented on #3253
Is this from the Open call here?  https://github.com/influxdata/telegraf/blob/master/plugins/inputs/postgresql_extensible/postgresql_extensible.go#L134

[2017-09-21 08:04] brady77 opened #3256 "Telegraf SNMP plugin index values into individual tags"
I’m not able to get table index data into appropriate tags to process them later.

Currently, I can access SNMP index values by `index_as_tag = true`, but this gives me only one composite tag key with name `index`. The value for this _index_ key will be for instance _14_2_1_1_ referencing ifIndex 14, direction out (2), queue 1 and threshold 1. So all index values are placed into one composite key,

[2017-09-21 12:18] james-lawrence commented on #3253
did we actually confirm it worked? the pgbouncer PR had mixed statements from others on it working? I don't remember the failures being understood and addressed.

the error mentioned here is a [protocol violation](https://www.postgresql.org/docs/9.4/static/errcodes-appendix.html).

Also looking at your configuration: its going to default to port 5432.... is pgbouncer running on that port? Also wha

[2017-09-21 21:20] danielnelson commented on #2849
@scjoiner I recently updated master (the development branch) to use Go 1.9, and I wonder if this helps at all with your issue.  Is this something you could test?

[2017-09-21 22:26] danielnelson commented on #3240
Please reopen if your issue is not solved.

[2017-09-21 22:26] #3240 closed

[2017-09-22 00:07] scjoiner commented on #2849
Yeah I’d be happy to. I’ll spin up an instance in the AM and let you know.

[2017-09-22 07:07] julienmary commented on #3251
ok tks :-)

[2017-09-22 10:10] valerian1978 commented on #3081
Is there any pull request for that ?
I 'm facing the same issue

[2017-09-22 13:19] joakimberglund opened #3259 "System input and Atoi problem for kernel_vmstat"
1.4.0

 tail -1 telegraf.log
2017-09-22T13:16:50Z E! Error in plugin [inputs.kernel_vmstat]: strconv.Atoi: parsing "6690743595": value out of range
 cat /proc/vmstat | grep 66907
numa_hit 6690746819
numa_local 6690746819

[2017-09-22 15:14] mced commented on #3253
@danielnelson I can't say

@james-lawrence nope nobody confirmed, and you're right according to https://github.com/influxdata/telegraf/pull/2573#discussion_r134276525, it was not working.

pgbouncer is listening on 5432 port and pooling connections from localhost application to a remote database

#### pgbouncer is listening on 5432 port
[code]

#### Here is my pgbouncer config
[code]

[2017-09-22 15:50] crenz opened #3260 "Add support for paths in output.influxdb"
## Feature Request

### Proposal:

I propose to add support for InfluxDB URLs that contain paths. As of today, the configuration is an URL, which kind of suggests that paths are supported – when in reality they are not. Here is an example:

[code]

### Current behavior:

For the example above, telegraf will only extract the host name and port, and issue a request to e.g. `http://influxdb.example.c

[2017-09-22 17:44] james-lawrence commented on #3253
k, I might have a chance to look into this. but will depend on my mood. =)

[2017-09-22 18:35] danielnelson commented on #3260
This was added in https://github.com/influxdata/telegraf/pull/3224, will be in 1.5.0

[2017-09-22 18:35] #3260 closed

[2017-09-22 18:39] danielnelson commented on #3259
What platform and arch is this on?

[2017-09-23 01:11] danielnelson commented on #3081
@valerian1978 There isn't a pr, I'll create one next week from the bug report and if you can test we try to include it in 1.4.2.

[2017-09-23 06:01] joakimberglund commented on #3259
CentOS 6.7 64bit

[2017-09-24 13:28] james-lawrence commented on #3253
@mced, alright did some investigation, `SQLSTATE 08P01` is pretty much a catchall error. times I've received it:
- `ERROR: No such user: james (SQLSTATE 08P01)` - missing user from pgbouncer userlist.
- `ERROR: not allowed (SQLSTATE 08P01)` - missing user from admin_users or stats_users in pgbouncer.ini.
- `ERROR: unsupported pkt type: 80 (SQLSTATE 08P01)` - this looks like an actual problem that

[2017-09-25 05:01] pstatho opened #3263 "SNMP Table input fails on Windows"
## Bug report

SNMP Table input fails on Windows.

### Relevant telegraf.conf:
[code]
### System info:

Telegraf v1.4 on Windows 2012R2

### Steps to reproduce:

1. Install net-snmp 5.7 for Windows
2. Use the CONFIG EXAMPLES from the SNMP plugin as above

### Expected behavior:
SNMP Table info is collected and sent to InfluxDB

### Actual behavior:
SNMP plugin fails to collect table data

### Addi

[2017-09-25 08:30] h4ckroot commented on #2786
I have the same issue, the plugin never works with any password !. Please help.

[2017-09-25 10:57] mced commented on #3253
Tank you for your feedback.

[2017-09-25 15:45] huyujie opened #3264 "input plugin err"
when I write a input plugin;the code is:

[code]

[2017-09-25 16:23] murray02 opened #3265 "Unable to strip BOM character from json. httpjson plugin"
### Relevant telegraf.conf:
[[inputs.httpjson]]
  name = "webserver_stats"
  servers = [ "http://localhost:1234/v2/json" ]
  response_timeout = "5s"
  method = "GET"
  tag_keys = [ "Meters" ]#

### System info:

C:\telegraf>telegraf.exe --version
Telegraf v1.3.5 (git: release-1.3 7192e68b2423997177692834f53cdf171aee1a88)

Windows Server 2012

### Steps to reproduce:

1. Metrics.net application wri

[2017-09-25 18:01] danielnelson commented on #2786
@h4ckroot Does it work with a weak password containing no symbols?

[2017-09-25 18:06] danielnelson commented on #3264
That's very strange, can you test with a file output enabled and report back with the line protocol?

Also, you might be interested in this pull request https://github.com/influxdata/telegraf/pull/2295

[2017-09-25 18:13] danielnelson commented on #3263
I wonder if this is a permissions or environment issue, how are you running telegraf?

[2017-09-25 18:34] pstatho commented on #3263
Telegraf is running a windows service as per documentation. If I comment out just the [[inputs.snmp.table]] section telegraf will get the other SNMP values properly.
In fact when I'm collecting an individual index (port) from IF-MIB::ifTable is works no problem and is sent to InfluxDB as expected. Only when I use the table option it fails.

Also like I mentioned, I'm pretty sure it's failing when

[2017-09-25 18:48] pstatho commented on #3263
I just tried in another environment with another network device and I get the same error. I believe it's the way Go is wrapping and calling the net-snmp commands.  BTW, yes the net-snmp commands work properly since I can call
    snmpwalk -v 1 -c public 10.20.254.10 IF-MIB::ifTable
and it will return the results of tha table as expected.

[2017-09-25 19:23] m82labs commented on #3233
I agree with the statement above about raw values. Some of the counters are static values and some require you to get the delta for them to make sense, so maybe a tag could be added to specify?

Handling user defined queries in a separate plugin would likely be cleaner so I'll take a look at the general purpose plugin.

[2017-09-25 21:45] danielnelson commented on #3259
Interesting, I was pretty sure you were going to say 32-bit.  What is the output of the file command?
[code]

[2017-09-26 00:48] danielnelson commented on #2854
@rlex Nightly builds are now built with Go 1.9, do you think you could also test with content_encoding = "gzip"?

[2017-09-26 00:49] #2694 closed

[2017-09-26 00:58] danielnelson commented on #1259
Lets tackle this when InfluxDB 2.0 comes out, or if we have an incompatibility we need to check for.

[2017-09-26 00:58] #1259 closed

[2017-09-26 06:19] joakimberglund commented on #3259
wtf...

Okie, my bad!

file /usr/bin/telegraf
/usr/bin/telegraf: ELF 32-bit LSB executable, Intel 80386, version 1 (SYSV), statically linked, stripped

Looks like I installed the wrong version when I tried 1.4.0 on my test machine.
Real sorry for that.

[2017-09-26 08:13] rsaffi commented on #3253
[99-pgbouncer.conf.zip](https://github.com/influxdata/telegraf/files/1332250/99-pgbouncer.conf.zip)
[pgbouncer.ini.zip](https://github.com/influxdata/telegraf/files/1332242/pgbouncer.ini.zip)

@james-lawrence On my scenario it's the last one: `ERROR: unsupported pkt type: 80 (SQLSTATE 08P01)`.

Both telegraf input plugin and pgbouncer config files are attached. IPs and passwords have obviously bee

[2017-09-26 09:03] ayounas commented on #3176
I am using socket writer at the moment to push data from telegraf into splunk. Splunk is configured to listen on a UDP socket and socket writer pushes data to splunk in json format. Problem is there is no authentication, it will be good to have a plugin which supports output to https with ability to send authorization header.

[2017-09-26 09:54] lchabert opened #3270 "SNMP Table does not insert TAG"
## Bug report

I try to monitor my cisco equipments with SNMP module provided by this repo. I have copy and paste example configuration (please find below my configuration), but when i try to query data, filtering on one interface, no data is reported. I seems that 'ifDescr' tag is not set.

### Relevant telegraf.conf:

[code]

### System info:

I'm using Telegraf v1.3.3 (git: release-1.3 46db92aa

[2017-09-26 12:30] phemmer commented on #3270
Not all devices capable of SNMP use the same OIDs. You need to tailor the config to your specific device you want to monitor.

[2017-09-26 12:43] lchabert commented on #3270
Same OID for ?

Do you mean the suffix OID used by IF-MIB::ifDescr is not the same on IF-MIB::ifDescr  and IF-MIB::ifXTable ?

[2017-09-26 12:58] james-lawrence commented on #3253
@rsaffi thanks for the information. I got buyin from the pgx maintainer to make the implicit prepared queries optional. so fixing the issue will be pretty straight forward just need to find the time to do it.

[2017-09-26 13:09] murray02 commented on #3265
Tracking this. Is there a way to build the source of this in windows. The details on the homepage only builds Linux. I can open a seperate ticket but just wanted to see if this is possible.

[2017-09-26 15:57] phemmer commented on #3270
No, I'm saying whatever device you're querying might not have `RFC1213-MIB::sysName.0`.
You can use `snmpget -v 2c -c public 10.16.25.2 RFC1213-MIB::sysName.0` to find out. If you don't get anything back, then your device doesn't have it.

[2017-09-26 18:58] danielnelson commented on #3259
No problem, this is a bug for the 32-bit builds so I appreciate the report.  I will include the fix in 1.4.2 and in the meantime you can grab the 64-bit version.

[2017-09-26 21:37] danielnelson commented on #1665
@Will-Beninger If you could open a pull request with the parallel execution that would be very much appreciated.

[2017-09-26 22:21] smallsam commented on #3238
@geekdave well it looks like the game has changed with Splunk 7's metric support. I've yet to try it out, but for those without influxdb or other dedicated metrics infrastructure it's very interesting to have both log and metrics in the same platform.

[2017-09-26 22:25] #3259 closed

[2017-09-26 22:35] danielnelson commented on #3265
Yes, instructions are actually the same for Windows but if you don't want to install GNU make you can instead run the commands manually after you have Go installed and setup:
[code]

[2017-09-26 22:36] #3265 closed

[2017-09-26 22:58] #2887 closed

[2017-09-27 00:51] idanci commented on #3200
Looks like a duplicate of https://github.com/influxdata/telegraf/issues/1027

[2017-09-27 00:54] danielnelson commented on #2014
I believe this can be closed now that we have merged #2278.

[2017-09-27 00:54] #2014 closed

[2017-09-27 00:55] danielnelson commented on #2012
Thanks to @dylanmei, #2278 has been merged and will be in the 1.5.0 release.

[2017-09-27 00:55] #2012 closed

[2017-09-27 00:58] danielnelson commented on #2005
I believe this has been fixed in #2278 which will be included in 1.5.0.

[2017-09-27 00:58] #2005 closed

[2017-09-27 06:58] lchabert commented on #3270
Oh ok, i have understood. In MIB::IfXTable, there is no IF-MIB::ifDescr entry (on cisco equipment).
In ifXTable, interface name is "ifName" ...

Sorry for my misunderstanding, i close this issue.

[2017-09-27 06:58] #3270 closed

[2017-09-27 09:29] h4ckroot commented on #2786
Unfortunately, no !. I used the password: kool1, but that did not work !.

[2017-09-27 11:35] envintus opened #3272 "Pruning packages from Debian repositories"
This issue has been reported before, but I cannot find the original issue. Anyways, it seems like every time there is a new stable release of Telegraf the entire repository is wiped and the only thing that is available is the latest, stable version. I'll call it inconvenient. Especially if we want to version pin instances or our configuration management has yet to be updated for the latest stable

[2017-09-27 12:21] ihr opened #3273 "Telegraf not building due to: Error getting VCS info for collectd.org"
## Bug report
When building Telegraf (e.g. make), I got the following result:

[code]

### System info:

- MacOS Sierra 10.12.6
- Telegraf Master branch with b8a0b84 commit
- go version go1.9 darwin/amd64
- gdm - version
- make - GNU Make 3.81

### Steps to reproduce:

1. clone Telegraf repo
2. cd to Telegraf directory
3. make

### Proposal:

I was able to fix the problem by changing the first lin

[2017-09-27 13:10] huyujie commented on #3264
@danielnelson Thanks for your help,pull request #2295 has resolved my problem.Later,I will tell you why the problem has happend for my code when I find out the answer.

[2017-09-27 14:46] jasonkeller commented on #1665
A little something to add to this - we're currently bumping into this error in telegraf "socket: too many open files".  This is related to us instantiating a separate input.snmp instance in our configuration file per device (they all have different community strings).  We have about 1800 devices in total right now.

I have the clause `LimitNOFILE=infinity` set in the `[Service]` section of `/usr/l

[2017-09-27 14:57] phemmer commented on #1665
No, parallelization will make the issue worse, which is why I'm not fond of it. The issue really needs to be fixed within the gosnmp lib.

[2017-09-27 15:16] swestcott opened #3274 "1.4.1 docker images"
Hi, are there plans to publish a docker image for 1.4.1?

https://hub.docker.com/r/library/telegraf/tags/

[2017-09-27 15:17] jasonkeller commented on #1665
Thanks @phemmer !  I had begun to wonder about how to keep those local overrides in but that link spells it out quite plainly (and I now have it integrated properly).  Saved me loads of searching - thank you again.

[2017-09-27 17:56] danielnelson commented on #1665
Shouldn't the number of open sockets remain the same if we gather each agent in parallel since we currently keep all sockets open between gathers?

[2017-09-27 17:59] danielnelson commented on #3274
Yes, these have been added now.

[2017-09-27 17:59] #3274 closed

[2017-09-27 18:02] danielnelson commented on #3264
Okay, I'm going to close the issue but just add the info here and I will see it.

[2017-09-27 18:02] #3264 closed

[2017-09-27 18:14] danielnelson commented on #3273
I think this was a temporary with the collectd domain, as it is currently working for me.  Let me know if you have continuing problems but I don't think there is any change to make.

[2017-09-27 18:14] #3273 closed

[2017-09-27 18:19] danielnelson commented on #3200
@idanci Good catch, thanks for letting me know.

[2017-09-27 18:19] #3200 closed

[2017-09-27 18:43] danielnelson commented on #2561
This feature has been added by @owlet123 and will be in the 1.5.0 release.

[2017-09-27 18:43] #2561 closed

[2017-09-27 20:01] sim-brar commented on #2468
@ronnix Your work around worked perfectly! Thanks :)

[2017-09-27 21:19] spowser commented on #2950
Can confirm this issue.  Any metrics that traverse through telegraf are losing their metric types.

[2017-09-28 06:40] lshahar opened #3275 "Redis response time"
## Feature Request
### Proposal:
Adding Redis latency/response time  to metric collecting.

We would like to understand we the Redis is our bottleneck at system , this metrics can help us to understand the situation.

[2017-09-28 11:14] murray02 commented on #3265
Just wanted to leave a thanks @danielnelson for this! You saved a deadline!

[2017-09-28 11:44] Alessar opened #3276 "Processor interface should contain `Initialize` function"
## Feature Request
Processor interface has very limited number of a functions.
So it will be good if function `Initialize` appear at this interface.
That function should be invoked one time after creating plugin and before main processing.
(Like `Connect` in `Output` interface).

### Use case:
It should helps with making plugin initializing.
(If this function invoked in plugin during creating manu

[2017-09-28 12:18] christianhill commented on #1291
Just started using Telegraf, quite impressed with what I'm seeing so far.

However, I too would like to see the ability to use wildcards on instance names, if possible. It'd be a pain to have to edit the config every time we add new queues to a server.

[2017-09-28 12:29] opsnull commented on #272
any update?

[2017-09-28 12:55] atzoum commented on #272
#2846 appears to be blocked by this too.

[2017-09-28 15:45] arathim commented on #931
I have the same issue as above. make on telegraf master hangs. Could you please tell me how to fix it?

[2017-09-28 15:53] urskog84 commented on #2230
@danielnelson have the same problem, tray to move the  filte "servicecheck.ps1" to a path with out spaces (wihtespace)

[[inputs.exec]]
  commands = ["powershell C:/temp/servicecheck.ps1"]
  timeout = "5s"
  data_format = "influx"

[2017-09-28 16:00] scanterog opened #3278 "Outputs.influxdb sends incomplete or corrupted line protocol data to influxdb"
## Bug report

Outputs.influxdb sends incomplete or corrupted line protocol data to influxdb in a non-reproducible way.

I'm using telegraf to parse `/var/log/syslog` with logparser. I define a set of custom grok patterns. I am sending the data to two outputs: (1) outputs.influxdb and (2) outputs.file. The last one just for testing.

### Relevant telegraf.conf:

[code]

### System info:

Telegraf

[2017-09-28 18:53] danielnelson commented on #931
@arathim @xiwangren This is a different issue than what was originally reported and also this issue was closed over a year ago.  Please open a new issue when you have a new problem.

Try clearing your GOPATH and running the commands again, I think either it is unable to checkout a repository either because of network issues or because the local checkout is in a bad state.

[2017-09-28 18:55] danielnelson commented on #3278
Do you happen to be using nginx as a proxy?

[2017-09-28 19:00] scanterog commented on #3278
yes, forgot to mention that. We're using nginx as a proxy. Our influxDB instance is running inside an LXD container. But it's just a quite simple configuration.

[2017-09-28 19:03] danielnelson commented on #272
I hope to have a pull request up soon for further discussion, it will contain a configuration plugin system in a style similar to the current input/output plugins.

[2017-09-28 19:11] danielnelson commented on #3278
Okay, I think this is the same issue as https://github.com/influxdata/telegraf/issues/2854

Would you be able to add `content_encoding = "gzip"` to your influxdb output and see if it helps?

[2017-09-28 19:25] scanterog commented on #3278
Done! Thanks! I'll keep you updated.

[2017-09-28 19:33] bolek2000 commented on #1992
we are testing log parsing with telegraf and plan to import older logfiles into the DB. It will be handy if we can use the aggregator for historical data too.

[2017-09-28 19:45] danielnelson commented on #3276
Yes, I think all of the plugins need a way to simply initialize themselves based on the config.  This is actually something that will be a part of the configuration plugin system in #272

In the meantime the best way to deal with this is calling a guarded initialize function either using sync.Once or a boolean at the start of the Apply function.

[2017-09-28 20:27] danielnelson commented on #3275
Would the design in #1027 meet your needs if it collected a response_time field?

[2017-09-28 21:29] wade-lich opened #3279 "How to add a static tag or field and value to inputs.snmp"
I am trying to find a way to define my data centers in my configuration for inputs.snmp.

I have devices that are the same in two DC A/B.  I want to have either a field or tag I can reference as a filter in my select statements in Grafana.  Is this possible?

e.g.

[[inputs.snmp.tags]]
  dc = "A"

This example I feel is less likely.

[[inputs.snmp.field]]
  name = "DataCenter"
  value = "B"

If I

[2017-09-28 21:37] danielnelson commented on #3279
You can add static tags like:
[code]
Make sure you put the table after any options to the plugin.

You can't add static fields, although there is an issue open to allow this #2564

All that said it might be better to use a snmp field:
[code]

[2017-09-28 21:37] #3279 closed

[2017-09-28 21:49] wade-lich commented on #3279
Thanks!, I had already tried the first method and didn’t see the tag key appear in the DB. I noticed here there is only one “[" and "]" not two.  that was my problem.

Regards,
  Wade

On Sep 28, 2017, at 2:37 PM, Daniel Nelson <notifications@github.com> wrote:

You can add static tags like:

[[inputs.snmp]]
  # other stuff
  [inputs.snmp.tags]
    site=“EZE”
Make sure you put the table after any

[2017-09-28 23:01] dzr0001 commented on #2950
I can confirm this is present in 1.4.1. I think the offending line is found [here](https://github.com/influxdata/telegraf/blob/cd1791494ae82c6c77255795a6bbf3e6d9d3802f/plugins/outputs/prometheus_client/prometheus_client.go#L245)

[code]

[2017-09-28 23:37] dzr0001 commented on #2950
After thinking about this a little further, I think this would have to be addressed on the input and not the output. Trying to address this on the output would be difficult, as quantile types would have to construct new quantile labels and use the field names as the label value.

For any other single value metric, the field name should get used as the type.

[2017-09-29 01:27] danielnelson commented on #3272
@envintus I looked into this a little bit today, and it doesn't seem possible for there to be more than one version of a package with the same distro name.  So we can't, for example, have both 1.4.1 and 1.3.5 in jessie.

Now, I'm not an expert on this, does anyone else know if this is possible?

[2017-09-29 01:30] danielnelson commented on #3272
This might just be a limitation of reprepro https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=570623

[2017-09-29 06:47] cloudislife opened #3280 "ceph plugin should support new ceph version(luminous)"
As response data changed in ceph luminous ,the current ceph plugin could not work well.So,the plugin should be updated to support for ceph luminous.

[2017-09-29 09:28] heshsmurf opened #3282 "Runtime error 'index out of range' while gathering CPUStats"
## Bug report
I'm running telegraf on node and it fails after a while.

[code]
### Relevant telegraf.conf:
[code]
### System info:
Telegraf v1.4.1, Linux version 4.4.0-96-generic (buildd@lgw01-10)

### Steps to reproduce:
1. Start telegraf as a daemon

[2017-09-29 09:38] roffe commented on #3110
@danielnelson thank you, got rid of my errors.

[2017-09-29 13:36] oplehto commented on #1815
+1 for having a user-defineable plugin alias name.

We are deploying several input.exec plugins managed by different groups with log monitoring and alerting done via a log analytics system.

Thus it's really becoming a necessity to be able to differentiate between these input plugins so that the groups get just their own plugins' log messages and alerts.

[2017-09-29 17:36] scanterog commented on #3278
Hi @danielnelson! It's been a day and everything is fine so far :) usually it used to happen in some hours. I'll post update again on next week! Thanks!

[2017-09-29 18:08] jpereira commented on #2280
I am experiencing the same issue in my setup.

[code]

[2017-09-29 18:10] danielnelson commented on #3278
That's great, I'm going to close this issue and if you see any problems then please comment over on #2854

[2017-09-29 18:10] #3278 closed

[2017-09-29 18:13] danielnelson commented on #2854
@scanterog Has been testing with `content_encoding = "gzip"` for about a day without corruption, so I think it is the Content-Length.  I will get it fixed.

[2017-09-29 18:16] danielnelson commented on #2280
@jpereira Just to clarify, is the error when you are sending to the http_listener in Telegraf, or when you are sending to InfluxDB?

[2017-09-29 18:16] jpereira commented on #2280
@danielegozzi  Sending to the InfluxDB Cluster.

[2017-09-29 18:20] danielnelson commented on #2280
Okay, this is a different issue.  It indicates that InfluxDB closed the connection, I would check the InfluxDB logs to see if anything is reported.

[2017-09-29 18:24] jpereira commented on #2280
@danielegozzi I am using the latest version 1.4.1

[2017-09-29 18:31] danielnelson commented on #3282
I can see where this would fail if the number of CPUs in `/proc/stat` changed over time, is this something that is possibly happening?

[2017-09-29 18:53] mamudragon opened #3283 "inputs.docker section in telegraf.conf , throwing errors, when uncommented"
## Bug report
Trying to collect docker container metrics using Grafana-Influxdb-Telegraf on Windows 10, but Telegraf throws error

### Relevant telegraf.conf: DOCKER INPUT PLUGIN telegraf.conf -
[code]

### System info:
Windows-10-Pro-64-bit
docker CE 17.x
Using telegraf Repo-official (v1.3)
InfluxDB - official Repo

### Steps to reproduce:

1. Uncommented inputs.docker to timeout, as mentioned ab

[2017-09-29 21:02] danielnelson commented on #3283
Can you add the output after this:
[code]

The connection error `127.0.0.1:8086: getsockopt: connection` doesn't look like an error in Telegraf, it just cannot connect to InfluxDB because that port is not being listened on.

[2017-09-29 21:08] danielnelson commented on #3110
I added this to the docker README: https://github.com/influxdata/telegraf/commit/ad4a5aa7a0409a528782cbfeb6b0038b629efeb1

[2017-09-29 21:23] danielnelson commented on #3280
What happens when you try to use the current plugin with Ceph Luminous?

[2017-09-29 21:29] tstaals opened #3284 "MQTT Consumer fails with invalid connection_timeout value"
telegraf stops working after the last update, in the log files i receive the follow message.

2017-09-29T21:17:00Z E! Service for input inputs.mqtt_consumer failed to start, exiting
MQTT Consumer, invalid connection_timeout value: {0}
2017-09-29T21:19:32Z E! Service for input inputs.mqtt_consumer failed to start, exiting
MQTT Consumer, invalid connection_timeout value: {30000000000}
2017-09-29T21:

[2017-09-29 21:42] tstaals commented on #3284
When I change the `connection_timeout = 30` to `connection_timeout =1` telefgraf will start up

[2017-09-29 21:50] james-lawrence opened #3285 "telegraf doesn't play well with kapacitor."
telegraf's batching causes kapacitor to basically be non-functional.

time oriented nodes like derivative and window seems to fail miserably. Would adding a socket processor fix these issues?

[2017-09-29 21:56] danielnelson commented on #3233
A couple things I think would be useful are:

Use a common measurement name or at least far fewer measurement names, perhaps based on the type field.  This provides a way to more easily find all measurements from the sqlserver if you have other plugins enabled.  For example we could have `sqlserver_waitstats` and `sqlserver_perf_counters`.  This seems like it would be helpful especially when using

[2017-09-29 22:21] danielnelson commented on #3233
If I understand correctly @m82labs, you are thinking about a way to determine the units of a value.  I have seen tags used for storing units but it can make it more difficult to use fields, since sometimes you want fields with differing units in the same series.

Here is an example where someone wants to compute the number of bytes written per call to write.

If you have a units tags:
[code]
Same

[2017-09-29 22:23] danielnelson commented on #3285
I'm guessing you have a pipeline like: Telegraf -> Kapacitor -> InfluxDB?

What would the socket processor do?  Would it be like the socket_writer output so that points are sent immediately on collection?

[2017-09-29 22:26] danielnelson commented on #3284
I think this should actually be a string duration, can you test with `connection_timeout = "30s"`?

[2017-09-29 22:29] james-lawrence commented on #3285
actually pipeline is using telegraf to push to a local kapacitor process and to a remote influxdb.
telegraf -> (kapacitor, influxdb).

and basically yes, socket_write but sent immediately.

we can also add alert nodes with statechangeonly to the list of things that fail miserably =/

[2017-09-29 22:33] tstaals commented on #3284
tested it with 30s and that does seam to do the trick, so only the documentation at https://github.com/influxdata/telegraf/blob/master/plugins/inputs/mqtt_consumer/README.md should be updated to reflect that

[2017-09-29 22:39] danielnelson commented on #3285
Even with immediate send the gather is still on a periodic interval, so it seems that you could reduce latency but the fundamental problem would remain.

Can you show your TICK script and what plugins it is processing?

cc @desa

[2017-09-29 22:40] danielnelson commented on #3284
I will correct the documentation and also set a default timeout if it is not specified.

[2017-09-29 22:47] james-lawrence commented on #3285
I've burned all day trying to get this basic alert to work, this is the current version:

the log() node looks good. I see all the events I expect to see, what doesn't seem to be working with this script is the stateChangesOnly(3s). the alert triggers once and never again.
[code]

by plugins do you mean telegraf's conf?

[2017-09-29 22:53] danielnelson commented on #3285
Yeah, probably don't need full config just which plugins you are using.  I'm mostly interested in if you are using both service inputs (immediate) and normal inputs (interval).

I'm really terrible with TICK scripts, but have you tried using a batch instead of a stream?

[2017-09-29 22:58] #3284 closed

[2017-09-30 00:45] m82labs commented on #3233
@danielnelson what you mention about units is what I was thinking. Depending on the type of perfmon counter though, you might have more complex calculations ( A2 - A1 / B2 - B1). I was thinking perf counter would have a counter value and base value. Sometimes the base value would be empty, and then you would tag the record with a counter type, this type is what would indicate to the user what type

[2017-09-30 01:18] danielnelson commented on #272
@abraithwaite Can you take a look at the `kubernetes_services` option we added to the prometheus input and see if it works for your use case, it is only on the master branch but you can use the [nightly builds](https://github.com/influxdata/telegraf#nightly-builds).

[2017-09-30 02:37] cloudislife commented on #3280
Oh,sorry,it's my fault,I made a incorrect permission in my new ceph env. Thx i'll close this issues

[2017-09-30 02:37] #3280 closed

[2017-09-30 03:58] m82labs commented on #3233
This page explains the types of calculations you have to deal with: https://blogs.msdn.microsoft.com/psssql/2013/09/23/interpreting-the-counter-values-from-sys-dm_os_performance_counters/

I would say skip it and just grab the perf counters using the windows perf counter plugin, but this would not work for SQL on Linux users. In that environment the only way to get the performance counters is via

[2017-09-30 04:53] mamudragon commented on #3283
Thanks, log details attached below.

==================================
2017/09/29 18:10:25 I! Using config file: /etc/telegraf/telegraf.conf
2017-09-29T18:10:25Z I! Database creation failed: Post http://localhost:8086/query?q=CREATE+DATABASE+%22telegraf%22: dial tcp 127.0.0.1:8086: getsockopt: connection refused
2017-09-29T18:10:25Z I! Starting Telegraf v1.4.1
2017-09-29T18:10:25Z I! Loaded outpu

[2017-09-30 12:21] tstaals opened #3288 "MQTT Consumer still fails when set to 30s"
After the first report #3284 all seem to work , but I think i made a mistake somewhere.

Telegraf still fails with msg
MQTT Consumer, invalid connection_timeout value: {30000000000}
2017-09-30T12:16:02Z E! Service for input inputs.mqtt_consumer failed to start, exiting
MQTT Consumer, invalid connection_timeout value: {20000000000}

So It does not work with connection_timeout = "30s" or connection_

[2017-09-30 15:42] envintus commented on #3272
Daniel, thanks for checking on providing that link. We're going to start installing latest to avoid any breakage with configuration management. I see you added the `area/packaging` label to the issue. Do you plan on keeping it open with the hope to eventually provide an archive of stable releases? If not this can be closed.

[2017-09-30 17:54] heshsmurf commented on #3282
Actually I run telegraf on virtual machine, so that behavior seems possible

[2017-10-01 21:07] abraithwaite commented on #272
Unfortunately not.  The value that prometheus provides with Kubernetes is that you configure metrics collection via the service (with kubernetes annotations) and not through the metrics collection agent.

This enables users to configure everything they need without having to setup something outside the scope of their own services.

I can provide examples if needed, just lemme know.

[2017-10-02 07:24] valerian1978 commented on #3081
Thank you very much for your answer.
I'll test it once it's available and let you known

[2017-10-02 08:34] Alessar opened #3291 "Metrc Interface and ReplaceFieldValue function"
### Feature Request
`Metric` interface contains `AddField`and `RemoveField` functions.
It will be good if this interface has function `ReplaceField` for replace field value.

[2017-10-02 11:20] fenneh opened #3293 "Windows Perfmon Counters Not Detected"
This isn't necessarily a bug - maybe an oversight.

## Bug report

If Telegraf starts up before an application has started publishing its own performance counters then they are never detected and no metrics are sent. A restart of the Telegraf agent is then required.

### System info:

Windows Server 2008R2, 2012R2. Telegraf 1.4.0.

### Steps to reproduce:

1. Start Telegraf Agent
2. Start Windows

[2017-10-02 11:55] tierhetze opened #3294 "Dynamically reconfigure an agent(telegraf), Telegraf UI on level of Graphs UI."
## Some plugins need more flexible configuration and start/stop mechanism

I recognize that influxdata is a very powerful solution, I implemented it in a pre-production environment in a very large global trade company, that actually springs into new market (China), so it is a sort of a respect and proud, not a critique. Take it very positively. I hope in 1-2 month to see it in production, if we fu

[2017-10-02 13:32] andryua commented on #3293
Same issue on Windows 10 x64

[2017-10-02 14:47] kaithar commented on #3294
I, personally, would like to see telegraf be configurable in a similar way to influx and kapacitor, in that we can change plugin config via API

[2017-10-02 15:10] kaithar commented on #1319
I'd like to resuscitate this issue, I also have a use case that requires specific times.

My use case is I want to split collection between two or more telegraf instances.
For an example, let's say I want to query SNMP on Foo for an int relating to the Bar service.  Latency isn't relevant to the request.  I want to get the metric every 10 minutes using telegraf instances Spam and Eggs.

To accompl

[2017-10-02 15:27] mamudragon commented on #3283
goroutine 28 [running]:
github.com-influxdata/telegraf/plugins/inputs/docker.(*Docker).gatherInfo(0xc042166480,
0x1c8ae00, 0xc0422788c0, 0x0, 0x0)
        /home/ubuntu/telegraf-build/src/
github.com/influxdata/telegraf/plugins/inputs/docker/docker.go:198 +0x15e
github.com-influxdata/telegraf/plugins/inputs/docker.(*Docker).Gather(0xc042166480,
0x1c8ae00, 0xc0422788c0, 0x0, 0x0)
        /home/ubunt

[2017-10-02 16:20] jcmcken commented on #1588
Any chance this gets into a 1.4.x release? This bug/missing feature renders the ``http_response`` input pretty useless for anything but intranet resources.

[2017-10-02 19:19] danielnelson opened #3295 "Ping input is not compatible with GNU inetutils ping"
## Bug report

The GNU inetutils ping utility does not work with the ping input because the -W flag will not accept a float.  This version of ping is included in the official docker images:

[code]

[code]

### Relevant telegraf.conf:
[code]

### System info:
[code]

### Steps to reproduce:

1. Install `inetutils-ping`
2. Run telegraf with ping input

### Expected behavior:
Ping metrics are create

[2017-10-02 19:32] danielnelson commented on #3288
I think this also fixed now by cdca81c9999364cf6fb35f25fabdad31bb81a177, thank you for testing the original fix.

[2017-10-02 19:32] #3288 closed

[2017-10-02 19:43] amitkumar912 commented on #2230
Has anyone been able to get this to work with glob?
I'm trying to run several files within a folder like so:

However it's giving me the following error, even after trying multiple `\\`,`\`,`//` and `/` combinations with both the directory path as well as the asterisk itself:

FWIW - Running the scripts individually like this seems to work just fine:

Is it related to the other cases of Windows an

[2017-10-02 21:05] patrickqbis opened #3296 "telegraf logparser fails silently on permissions issues"
I spent a bit of time chasing down why I couldn't get the log parser to parse web logs to discover that telegraf didn't have read permissions on the relevant files.

It didn't produce any message on this failure including with debugging on, so this would likely be a feature request to not have it fail silently on errors, especially if you have debug on.

[Include Telegraf version, operating system

[2017-10-02 22:55] danielnelson commented on #3272
Okay, we can always reopen later if this is needed.

[2017-10-02 22:55] #3272 closed

[2017-10-02 22:56] danielnelson commented on #3282
Interesting, can I ask which hypervisor you are using?

[2017-10-02 23:04] danielnelson commented on #272
@abraithwaite can you link me to the Kubernetes documentation for the method you are using?

[2017-10-02 23:10] abraithwaite commented on #272
Haven't seen any official documentation, actually.  Just pieced it together from the code:

https://github.com/prometheus/prometheus/blob/master/documentation/examples/prometheus-kubernetes.yml
https://coreos.com/blog/prometheus-and-kubernetes-up-and-running.html
https://github.com/prometheus/prometheus/issues/2989
https://github.com/prometheus/prometheus/issues/2009
https://movio.co/en/blog/prome

[2017-10-02 23:13] abraithwaite commented on #272
FWIW, I don't use prometheus with Kubernetes but the concept is extremely valuable and I'd still love to see it here.

I looked at the telegraf code though and I'm certain you'd need to add service discovery as a first class configuration method.

[2017-10-02 23:17] danielnelson commented on #3293
Related pull request: #2345

[2017-10-02 23:24] danielnelson commented on #3294
There is already some work underway to provide a plugin based configuration system, with this we can support dynamic config stores such as Consul.  More information will be added to #272 when available.  This system could be used to configure Telegraf from Grafana or Chronograf.

@kaithar This system could also provide a HTTP API for configuration, but I believe it will be better to use a shared c

[2017-10-02 23:24] #3294 closed

[2017-10-02 23:26] danielnelson commented on #1319
@kaithar Can you share why you need to split your queries like this?  Is it due to the current performance of the snmp plugin?

[2017-10-02 23:31] danielnelson opened #3297 "http_response input does not support proxy environment vars"
## Bug report

The http_response input does not support proxy environment variables.

### Relevant telegraf.conf:

### System info:

Telegraf 1.4.1

### Steps to reproduce:

1. set http_proxy environment variables
2. run Telegraf with http_response plugin

### Expected behavior:

Connect to to http response target with proxy from environment.

### Actual behavior:

Attempts to connect directly to

[2017-10-02 23:33] danielnelson commented on #1588
@jcmcken The fix for this issue only added support to the InfluxDB and other output plugins, I opened a new issue for http_response: https://github.com/influxdata/telegraf/issues/3297

[2017-10-02 23:43] danielnelson commented on #2230
@amitkumar912 I think this issue will need to be fixed before you will be able to get the globs to work in Windows.  It isn't related to those other issues.

I recommend listing the scripts one at a time, as I'd be somewhat uneasy with the idea of executing based on a glob personally.

[2017-10-02 23:51] danielnelson commented on #3296
This seems to happen when the directory containing the log cannot be read.  If an unreadable file is in a readable directory you get the error:
[code]

[2017-10-03 00:08] danielnelson commented on #272
Just to clarify, the `kubernetes_services` option allows you to use the Kubernetes DNS cluster add-on to find and scrape prometheus endpoints without needing to update your Telegraf configuration file when a service is started/stopped.

[2017-10-03 00:13] abraithwaite commented on #272
Right, I understand that.  It still requires an explicit dependency between the service and telegraf, instead of an implicit one.

When using annotations, there is no PR a user has to make to update the telegraf config in order to start getting metrics from their service collected.

[2017-10-03 00:15] #3081 closed

[2017-10-03 00:41] danielnelson commented on #3146
Added in #3281

[2017-10-03 00:41] #3146 closed

[2017-10-03 02:49] danielnelson commented on #3233
That makes sense, one series per performance counter name, with one field for the value and, sometimes, one for the the base:
[code]

I would do this only if you think you will want to do calculations across counter_names, but you could try to push the counter_name into the field, which would allow the series to hold multiple counters:
[code]
When you query you would have to know the type based on

[2017-10-03 06:39] andryua commented on #3293
doesn't support v 1.4.1 and nightly build too

[2017-10-03 06:58] rbucchi opened #3298 "mssql plugin input: panic: runtime error: invalid memory address or nil pointer dereference"
## Bug report

### Relevant telegraf.conf:

[code]

### System info:

[Include Telegraf version, operating system name, and other relevant details]

Windows 10, docker Version 17.06.2-ce-win27 (13194) Channel: stable.
SqlServer (on host): MSSQL13.SQLEXPRESS
Telegraf:
[code]
InfluxDB:
[code]
Container:
[code]
### Steps to reproduce:

1. run
[code]
2. configure Grant as wiki
3. Configure telegraf.co

[2017-10-03 10:41] heshsmurf commented on #3282
VM is running under LXC

[2017-10-03 12:01] emexelem opened #3299 "Telegraf service continuously restarting, fatal error: MHeap_AllocLocked - MSpan not free"
## Bug report

### Relevant telegraf.conf:

Almost the default config, interval + flush is 20s, inputs.net is enabled.
single output is an influxdb on a remote server

### System info:

Telegraf 1.4.1 installed from deb package on Ubuntu Server 16.04
The host is an Azure D4s-v3 instance running Docker and a single container, gitlab-ce

### Steps to reproduce:

Just start Telegraf service and wait

[2017-10-03 12:21] xEranx commented on #820
+1

[2017-10-03 12:38] emexelem commented on #3299
The service finally crashed with the stack trace below, and isn't restarted automatically by systemd as it did not exited:

[code]

[2017-10-03 13:28] scanterog commented on #2854
Hi guys. It has been 5 days for me now and all looks ok. No errors anymore. So I can say `content_encoding = "gzip"` actually fixes it.

[2017-10-03 14:34] druchoo commented on #425
Is there any update on this plugin?

[2017-10-03 19:34] dinacel opened #3301 "Telegraf fails starting with MQTT consumer is connection_timeout is not defined"
## Bug report

### Relevant telegraf.conf:
[code]

### System info:
Telegraf version 1.4.1-1

[code]

### Steps to reproduce:
1. Remove or comment "connection_timeout" parameter in the telegraf.conf (or upgrade telegraf from a previous version).
2. Restart telegraf.

### Expected behavior:
Telegraf start.

### Actual behavior:
Telegraf fails starting with a message in the logs :

[code]

[2017-10-03 19:41] danielnelson commented on #2854
Great news!  I'll work on fixing the Content-Length header which I think will also allow it to work when gzip is not enabled.

[2017-10-03 19:43] danielnelson commented on #3298
Are you able to test with Telegraf 1.4.1?

[2017-10-03 19:54] danielnelson commented on #3299
Can you check if the problem persists with a minimal configuration, only a file output and socket_listener:
[code]

[2017-10-03 19:59] danielnelson commented on #3301
Sorry about this regression, we have a fix for this in 1.4.2. https://github.com/influxdata/telegraf/issues/3284

[2017-10-03 19:59] #3301 closed

[2017-10-03 21:38] danielnelson commented on #3125
Thanks @adityacs, will be in 1.5.0

[2017-10-03 21:38] #3125 closed

[2017-10-03 22:22] #3297 closed

[2017-10-04 04:10] adityacs commented on #3125
@danielnelson Thank you so much.

[2017-10-04 11:07] ghost opened #3303 "Underscores using "Processor" object on win_perf_counters"
### Relevant telegraf.conf:

[[inputs.win_perf_counters]]

[[inputs.win_perf_counters.object]]

    ObjectName = "Process"
    Counters = ["% Processor Time","% User Time","Handle Count","Private Bytes","Thread Count","Virtual Bytes","Working Set"]
    Instances = ["*"]
    Measurement = "win_proc"
    IncludeTotal=false #Set to true to include _Total instance when querying for all (*).

### Syste

[2017-10-04 11:12] leehambley commented on #3253
I just ran into this issue today, is there a workaround for collecting `SHOW POOLS` metrics with Telegraf pending a fix? I have:

[code]

Thanks, and sorry for highlighting the issue without a constructive contribution.

[2017-10-04 12:08] rsaffi commented on #3253
@leehambley Well, I ended up making a python script that does the trick. I am using it with the "exec" plugin from Telegraf to send metrics to InfluxDB and it has been working great so far.
In case you can't wait for the fix (like I couldn't), feel free to try it out meanwhile:

https://github.com/CrossEngage/telebouncer

PS: In case it's not allowed to crosspost to another project like I did, ple

[2017-10-04 12:32] james-lawrence commented on #3253
@leehambley there isn't currently a work around. its just straight up work that needs to be done in the driver we're using.

[2017-10-04 13:59] tuukkamustonen commented on #1990
Definitively allow picking the metrics one wants, if you're going to add lots of new metrics. Not everyone is interested in all the metrics, so allowing to pick what to produce would be nice.

[2017-10-04 18:05] kaithar commented on #1319
@danielnelson for resiliency rather than performance.  My goal is to have it such that if one of the instances dies I'm still going to get metrics from the other instance, I'll just have half the temporal resolution.

[2017-10-04 20:24] patrickqbis commented on #3296
That's likely true as when I encountered the issue both the directory and file itself was unreadable, and I did not test enabling read on them separately.

[2017-10-04 21:18] danielnelson commented on #1990
We generally try to use the [measurement filtering](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#measurement-filtering) options for reducing the number of fields, and only add dedicated options to pluguins if there is a substantial difference in the cost of collection.

[2017-10-04 21:25] tuukkamustonen commented on #1990
I'm an utter noob to telegraf so I wasn't aware of that. I should just RTFM. Thanks for the pointer!

[2017-10-04 21:26] danielnelson commented on #3303
Does this mean the measurement name is "win_proc_XXXXXX"?

[2017-10-04 21:52] emexelem commented on #3299
No, the problem does not persist with this minimal config. I'll add inputs and outputs progressively to try to identify which one is causing the problem.

[2017-10-04 22:15] #1880 closed

[2017-10-04 22:21] danielnelson commented on #1880
Thanks @rickard-von-essen and everyone who helped with this plugin, will be in the 1.5 release.

[2017-10-05 01:41] danielnelson commented on #3291
Of course you can remove and then add, can you explain what your use case is which makes this a particular problem?

[2017-10-05 07:52] nilsmagnus opened #3308 "Input plugin for hystrix-stream-servlet"
## Feature Request

Support collection of metrics from a hystrix-stream-servlet. Hystrix is a widely used framework created by netflix and provides useful metrics for monitoring.

### Proposal:

Implement support.

### Use case:

Collect metrics from hystrix-stream-servlets

[2017-10-05 07:56] nilsmagnus commented on #3308
See #3309 for PR

[2017-10-05 07:56] nilsmagnus commented on #3308
Solved by #3309

[2017-10-05 07:56] #3308 closed

[2017-10-05 08:14] mazhead commented on #2616
@tomtastic  Any chance to get this moving again? ZFS could be really useful.

[2017-10-05 09:25] 999chris commented on #3303
No sir. the measurement remains the same. Here is an exceprt from InfluxDB:

[code]
You can see references to previous running of applications are in the DB though not running at that time. Is there any way to fix this?

[2017-10-05 09:41] tomtastic commented on #2616
I don't know enough Golang currently to fix the unit test code, sorry @mazhead.

But if you take the zfs plugin code from my branch https://github.com/tomtastic/telegraf/tree/better_zpool_linux you can compile up a working version, it's just the unit-tests I can't sort out for submitting the PR to get this merged.

[2017-10-05 13:16] petercelentano opened #3310 "postgresql_extensible feature request: Allow for using variables in queries"
## Feature Request

Hi all.  I started porting my custom monitoring queries for PostgreSQL from collectd to telegraf.  Currently, it doesn't appear that there is an option to accomplish this with the current postgresql_extensible plugin in Telegraf.

The collectd postgresql plugin allows for using variable names in queries to represent items such as database name, schema name, table name, etc.  Th

[2017-10-05 15:56] sebastien-prudhomme opened #3311 "Netstat input problem on CentOS 6 after upgrading to nightly release"
## Bug report

### Relevant telegraf.conf:

### System info:

[code]

Running on Centos 6 (Kernel 2.6.32-431.el6.x86_64)

### Actual behavior:

In telegraf.log:

[code]

### Additional info:

Works fine on previous installed version (telegraf-1.3.2-1.x86_64.rpm)

[2017-10-05 19:47] danielnelson commented on #3303
Probably not an easy way.  In the case of, for example, `svchost` where there are multiple instance, what do you think would be a good name?
[code]

[2017-10-05 19:54] danielnelson commented on #3310
Perhaps we could add a subtable with query parameters, is this the sort of thing you are thinking about?

[code]

[2017-10-05 20:53] danielnelson commented on #3311
https://github.com/shirou/gopsutil/issues/433

[2017-10-05 23:02] #3282 closed

[2017-10-06 01:26] m82labs commented on #3233
After some more thought, I think it might make sense to give all metrics collected by this plugin the same measurement, and use a 'type' tag to differentiate between the different types of metrics. This would allow some interesting possibilities, like dividing WRITELOG waits for a given period by the batches per second to get avg writelog per batch. There are other use cases for this, but this is

[2017-10-06 06:17] ashikaumanga commented on #2061
I am having this issue when receiving Metrics from Flink. I used telegraf version Telegraf v1.2.0
Any tips?

`2017-10-06T06:06:41Z E! Error: parsing value to float64: someserver101.taskmanager.53c74f35b7540a32557f494d6b5bcb21.Kafka_To_HDFS_Application.Source- Custom Source.1.latency:{}|g
2017-10-06T06:06:41Z E! Error: parsing value to float64: someserver101.taskmanager.53c74f35b7540a32557f494d6b5b

[2017-10-06 13:19] petercelentano commented on #3310
What I think would make more sense is this:

[[inputs.postgresql_extensible]]
  [[inputs.postgresql_extensible.database]]
    database="postgres"
    password="password"
    port="5432"
    query="pg_db_size"
    query="pg_stat_activity"
  [[inputs.postgresql_extensible.query]]
    name="pg_db_size"
    query="SELECT pg_database_size(@dbname) AS size;"
  [[inputs.postgresql_extensible.query]]

[2017-10-06 13:46] petercelentano commented on #3310
Having the flexability to monitor many databases with this plugin without needing to copy and paste each monitoring query multiple times can be seen in this example.  Lets look at the output of this query:
[code]
The purpose of the above query is to list all tables in pg_catalog.  Depending on the database we are currently connected to, the output will be completely different.  Assuming this list

[2017-10-06 15:53] desa commented on #3285
@james-lawrence  Just took a look. I'm not totally sure what the issue is. Is it that the alert node isn't firing every 3s?

Can you be more specific. What's the issue?

This makes me think that it's definitely a Kapacitor issue and not a Telegraf issue.

[2017-10-06 16:09] phemmer commented on #3310
To me this feels like 2 separate goals. In the first you're wanting some variable thing, and in the second you want to run the same query against multiple databases.

In the variable thing, in your provided example, where does `@dbname` come from?
Note that you can already accomplish this:
[code]

As for your second request, of running the same query against multiple databases, see #3219

[2017-10-06 16:35] petercelentano commented on #3310
@phemmer See above in @danielnelson's post with the reference to it.  Those queries are simple examples I was using for a sample config file mockup of what a solution could look like.  There are many more complicated queries where you absolutely need to specify a database name in order to query for specific data.

As I said, I am attempting to move to telegraf from collectd (which does support thi

[2017-10-06 16:39] phemmer commented on #3310
In that case (where `@dbname` comes from), I personally don't see the benefit over the example queries I provided.
I'm just saying that aside from needing to connect to the different databases, I don't see a need for telegraf to support the variables. You can do things like joins, group bys, subqueries, etc to satisfy all the use cases I can think of. If you have a use case that can't be satisfied

[2017-10-06 16:51] petercelentano commented on #3310
While other techniques can be used to parse the data out, it can substantially increase the overhead of the monitoring query.

In practice, a monitoring query needs to be as lightweight as possible (since it is being run at regular intervals), and must have minimal impact on overall database performance.  Also, do you know of a pure sql solution for querying for table information concerning databa

[2017-10-06 16:57] phemmer commented on #3310
Actually doing all the operations in a single query is generally a lot better for the server. There are a lot of views (commonly provided by extensions) that are resource intensive. Gathering all the data in a single query is a lot better so that you're not hitting the view multiple times. Same goes for queries against a table, it's more efficient for the DB to only scan an index/table once.

That

[2017-10-06 17:11] danielnelson commented on #3310
@petercelentano Are there other variables you would need besides database name?

[2017-10-06 17:13] petercelentano commented on #3310
schema would be nice to have :)

[2017-10-06 18:58] rdxmb commented on #29
As described here
https://community.influxdata.com/t/why-is-hostname-not-replaced-with-its-content-when-using-in-global-tags/2603
the same problem again occurs with telegraf v1.4.1.
Can we reopen this issue or should I create a new one?

[2017-10-06 19:10] m82labs commented on #3233
Here is the perfmon query I would suggest: https://gist.github.com/m82labs/5abe0ece587f7090174ec76baab5448f

The c_type tag would be used to determine if you need to treat it as a raw value or if you need to calculate the delta.

This is a modified version of the query used by Microsoft when monitoring SQL Server on Linux instances: https://github.com/Microsoft/mssql-monitoring/blob/master/collect

[2017-10-06 19:43] botzill opened #3313 "Wrong node status for windows 7 machine."
Hi.

I installed `Telegraf` on windows 7 machine and all seems to work OK, I get the general statistics into `Cronograf`:

<img width="1267" alt="screen shot 2017-10-06 at 10 38 56 pm" src="https://user-images.githubusercontent.com/4686040/31295416-3794d54c-aae7-11e7-920c-64b9866d9bcc.png">

but when I go to list nodes I see the issue related to `Status`:

<img width="1192" alt="screen shot 2017-1

[2017-10-06 21:18] danielnelson commented on #3310
Adding variables that are tied to a connection string (currently `address`) that are used by queries is not hard, but it seems to be of limited use unless we can also have multiple connection strings?

[2017-10-06 21:32] danielnelson commented on #3313
@jaredscheib What determines the status color for a host?

[2017-10-07 11:20] mamudragon commented on #3283
Is there an ETA, on when this bug will be fixed, on Windows? Thanks.

[2017-10-07 12:33] adityacs opened #3314 "Feature Request: Add more tags to "System" metrics for telegraf agent on EC2, GCE instances"
## Feature Request

Add tags to "System"(cpu, memory, disk) metrics which would give more information other than "host".

### Proposal:

When we collect docker metrics we get labels from container and we add these as tags to cpu, mem, disk metrics. The labels would be **task.id, service_name** etc..

In the same way when we collect metrics from "system" we should be allowing to add more tags.

###

[2017-10-07 12:34] adityacs commented on #3314
@danielnelson I am not sure if this feature already exists. Let me know your views on this.

[2017-10-08 20:41] nferch commented on #2263
Started some work on this at https://github.com/nferch/telegraf/commit/7c4f5c581233df61753bb2a043fb2fa018093ed6 . Only works with state table entries for now, what else would you want it to collect?

[2017-10-09 13:06] leehambley commented on #3253
Thanks, actually took the chance to remove PGbouncer from the stack, a 🎉 🎈 followed :) 👍

[2017-10-09 14:31] petercelentano commented on #3310
Not necessarily.  My plan was to place my postgresql queries into one telegraf config file, and define each DB and the queries that need to be run against it in their own configs (one config file per DB).  I assume having multiple connection strings would be necessary, since the way I intend to use the plugin, I will place each DB config in a separate config file.

[2017-10-09 19:54] danielnelson commented on #3314
I think the best way to do this now would be to add them as env vars, perhaps using `/etc/default/telegraf` and then add them to the global_tags section of the config.  Does that work for you?

[2017-10-09 22:35] danielnelson commented on #3283
I think we will need to run a version Telegraf with extra logging to determine what the cause of the crash is.  Are you able to build from source or would you prefer a package or docker image?

[2017-10-09 23:21] danielnelson commented on #3233
This all sounds good to me, though I will have a better feel for it when I see it as line protocol.  I like the idea of simplifying the queries a bit too.

One concern I have is that I wonder if the system stats are needed when using a hosted server such as on Azure.  @regevbr @kardianos @deluxor Would this be a problem?

[2017-10-10 01:32] danielnelson commented on #3310
You won't be able to split the config files, since a plugin only has access to the config it is defined in.

What do you think about this:
[code]

[2017-10-10 03:01] mamudragon commented on #3283
I prefer a package and docker image(with docker on windows). I tried both options and that's where I encountered this error.

[2017-10-10 06:10] adityacs commented on #3314
@danielnelson Makes sense.

[2017-10-10 06:48] adrianlzt opened #3318 "telegraf taking too long to collect net metrics"
## Bug report
We are seeing this message each 10" in some of our servers:
[code]
Net metrics are not being sent, but the rest are working correctly.

If I run telegraf in test mode it works correctly:
[code]

I have restarted telegraf in one of the failing nodes and now is working correctly.

Killed with SIGQUIT another node: https://gist.github.com/7e999b78093bb41fd89e1314fe7e4b1b

Another SIGQUI

[2017-10-10 11:14] rbucchi commented on #3298
it works with Telegraf 1.4.1, thanks.

[2017-10-10 11:15] #3298 closed

[2017-10-10 12:25] m82labs commented on #3233
@danielnelson I wonder if we make the system stats an optional query?

I can work out some queries to query the Azure specific DMV's for system metrics. For example: https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-resource-stats-azure-sql-database

[2017-10-10 13:12] adamchainz opened #3319 "cloudwatch output uses ListMetricData"
## Bug report

When starting the Cloudwatch output plugin, it tries to list some metrics, even though this isn't needed for normal operation: https://github.com/influxdata/telegraf/blob/ac1fa05672a3eb9342b23534f22cb5538576e759/plugins/outputs/cloudwatch/cloudwatch.go#L62 . Thus the AWS credentials in use need access to `ListMetricData` even though when in use the plugin only needs `PutMetricData`.

[2017-10-10 17:25] derekmwright opened #3320 "SNMP plugin timeout when the response SRC IP is different than original request (HA Virtual IPs)"
## Bug report

### Relevant telegraf.conf:

[code]

### System info:

Ran from Docker Hub (library)
Telegraf v1.4.1 (git: release-1.4 2de7aa23d7d3c3bcf639d417129ab7c17d83399b)

### Steps to reproduce:

1. Ensure Remote-Hostname is listening on 161 for SNMP GET
2. Execute container with snmp config mounted: `docker run -v $PWD/telegraf.conf:/etc/telegraf/telegraf.conf:ro telegraf`
3. Receive error:

[2017-10-10 17:36] derekmwright commented on #3320
Also, might be worth noting, adding the leading `.` doesn't matter:
`oid = "1.3.6.1.2.1.1.5.0"` or `oid = ".1.3.6.1.2.1.1.5.0"` both give the same result.

[2017-10-10 18:01] danielnelson commented on #3252
Related to #874

[2017-10-10 18:08] danielnelson commented on #3319
Thanks for the report, I agree on all points.  Is this something you would be able to work on?

[2017-10-10 18:17] danielnelson commented on #3318
Is there more to the SIGQUIT dumps?

[2017-10-10 18:20] danielnelson commented on #3314
If it doesn't work out we can reopen this issue.

[2017-10-10 18:20] #3314 closed

[2017-10-10 18:24] adamchainz commented on #3319
Never used this language before but I’ll give it a... Go

[2017-10-10 18:30] adrianlzt commented on #3318
No, seems that journald cuts the end.
I can switch to file log and repeat the SIGQUIT if it is needed.

El mar., 10 oct. 2017 20:17, Daniel Nelson <notifications@github.com>
escribió:

[2017-10-10 18:38] danielnelson commented on #3318
Yeah could you do that, also when this occurs try to make a request to `https://127.0.0.1/metrics`, perhaps by exec'ing a shell and using curl.

[2017-10-10 18:41] sharik79 commented on #2614
I started some project at my work place.
However I pushed directly data into InfluxDB, and not via telegraf agent protocols.

[2017-10-10 18:41] danielnelson commented on #3320
Can you run `snmpget -v2c -c public remote-hostname:161 1.3.6.1.2.1.1.5.0`

[2017-10-10 18:48] danielnelson commented on #2614
@sharik79 Can you link to any code or explain what APIs you used and what metrics you collected?

[2017-10-10 19:01] derekmwright commented on #3320
`snmpget -v2c -c public remote-hostname:161 1.3.6.1.2.1.1.5.0`
returns
`SNMPv2-MIB::sysName.0 = STRING: REMOTE-HOSTNAME`

I'm really perplexed, all snmputils are working (had to install them locally as they aren't present in the docker container). I tested with a ruby script and i can get data from the remote host. But I can't get telegraf to get data out of the remote host. I will see if I can ge

[2017-10-10 19:10] danielnelson commented on #3320
That would help a ton, thanks

[2017-10-10 19:23] danielnelson commented on #3320
Could you open an issue with https://github.com/soniah/gosnmp

[2017-10-10 20:10] jaredscheib commented on #3313
I believe this is probably related to https://github.com/influxdata/chronograf/pull/2015 and thus was fixed in Chronograf 1.3.9.0.

Could you try upgrading, @botzill? And, if you're still experiencing this issue after the upgrade, file the issue under https://github.com/influxdata/chronograf/issues/?

Thanks!

[2017-10-10 20:28] #3313 closed

[2017-10-10 20:37] danielnelson commented on #3283
If you can reproduce the error from outside docker then I think it is preferable, one less variable to worry about.  Here is a [Windows build with the extra log messages](https://8505-33258973-gh.circle-artifacts.com/0/tmp/circle-artifacts.WpVy9pP/build/windows/amd64/telegraf-1.4.1%257Ec45a7cf_windows_amd64.zip).

[2017-10-10 20:40] #2714 closed

[2017-10-10 20:50] derekmwright commented on #3320
Will do, I'm going to attempt a failing example and I'll get one open there and reference it here.

[2017-10-10 20:57] danielnelson commented on #3320
Sounds good, I think I will reopen this issue for tracking.

[2017-10-11 03:10] windkit opened #3321 "inputs.leofs: Fix related to Go 1.8 url.Parse breaks the plugin"
## Bug report

### Relevant telegraf.conf:
[code]

### System info:
From 1.4.0
Related PR: https://github.com/influxdata/telegraf/pull/2900

snmpwalk does not accept endpoint with scheme `udp://` so the plugin would fail to collect statistics

### Expected behavior:
[code]

### Actual behavior:
[code]

### Additional info:
Related to Issue at LeoFS https://github.com/leo-project/leofs/issues/869

[2017-10-11 08:32] sharik79 commented on #2614
@danielnelson  I used SEMP  which is a RESTful API for retrieving the stats info. I used the SEMP Legacy ,on solace version 7.1, while now they have SEMP v2 on Solace 8.2.
link to SEMP: https://docs.solace.com/SEMP/SEMP-Home.htm

they also have schema for describing all supported metrics, and how to query them (follow link https://docs.solace.com/SEMP/SEMP-API-Archit.htm#SEMP )

I will need to get

[2017-10-11 08:40] adrianlzt commented on #3318
Now it is not failing, although kubernetes input is giving timeout all the time (and docker socket from time to time)

[2017-10-11 13:02] derekmwright commented on #3320
Updated title to more accurately reflect the issue.

[2017-10-11 14:13] derekmwright commented on #3320
@danielnelson looks like this was an issue back in 2015 and has sort of stalled. Seems Juniper routers can have the same problem. Perhaps the telegraf team would be able to help them get some priority on a resolution?

[2017-10-11 15:27] Kranach opened #3323 "README claims there are hadoop plugins, but there are none."
Hey, maybe im missing something, but README for telegraf states there are plugins for Hadoop services. Yet I don't see anything that would collects basic metrics for HDFS, YARN or Spark which is what I would expect. (There is something only for Zookeper, but it's not that much useful).

## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions sho

[2017-10-11 16:40] hemasalma opened #3324 "telegraf on windows output plugin elasticsearch"
Hello,

We have installed telegraf on our windows machine and we need to send data to elasticsearch

for this we we have an option in linux..

do we have any other possiblity to send windows data to Elasticsearch

[2017-10-11 19:12] stiehl84 opened #3325 "different behaviour in test-mode and real world execution"
It seems that telegraf called with parameter --test shows another behaviour than running the config directly in telegraf.

relevant section from telegraf.conf:

[code]

### System info:
[code]
### Steps to reproduce:

[code]

[code]

### Expected behavior:
inserting the three lines into influxdb

### Actual behavior:
[code]
### Additional info:

calling the script /home/telegraf/readvalues.sh dire

[2017-10-11 19:18] kevinpreynolds opened #3326 "Panic on string fields with unescaped quotes: Slice bounds out of range"
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be asked at the [InfluxData Community](https://community.influxdata.com) site.

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section below.
Era

[2017-10-11 19:59] danielnelson commented on #3323
Thanks for opening the issue, I agree that this line is somewhat confusing.  I think it means to say is that the plugin system *could* be used to support these services, and was written back when Telegraf had very few plugins as a suggestion of some services we would like to have added.

Anyway, I updated the readme to remove these examples.  c74c29b164ccb0facc7c24bcbcc78fc31e033eba

[2017-10-11 19:59] #3323 closed

[2017-10-11 20:04] danielnelson commented on #3325
I suspect that this is permissions related, when you run telegraf as a service it generally runs as the telegraf user.  Make sure you script will work as the telegraf user (probably just move the file in the /root directory to a location telegraf can read).

Let me know if this doesn't solve your issue.

[2017-10-11 20:04] #3325 closed

[2017-10-11 20:10] danielnelson commented on #3326
Thanks for opening the bug report, would you be able to send me an example of the line protocol that is causing the crash?

[2017-10-11 20:15] danielnelson commented on #3324
I believe this plugin will work if you add it your config, you can print out the default config using `telegraf --usage elasticsearch` and copy the elasticsearch output into your config file.

Let me know if it doesn't work and we can reopen the issue.

[2017-10-11 20:15] #3324 closed

[2017-10-11 20:20] danielnelson commented on #3321
Thanks for the report, should be able to fix by the next patch release.

[2017-10-11 20:23] kevinpreynolds commented on #3326
This works:
IMW-4,event=Tracker\ Error count="1",text="Tracker error: (18825629) - Code: 13",lineNumber="229",procedure="DoOnError" 1506550891007000000

This doesn't:
IMW-4,event=Tracker\ Error count=1,text="Tracker error: (18825629) - Code: 13",lineNumber=229,procedure="DoOnError" 1506550891007000000

[2017-10-11 21:33] phemmer commented on #3321
This never worked. The plugin doesn't support URLs. It accepts `host:port`.

[2017-10-11 21:46] danielnelson commented on #3321
It used to work because previously you could `url.Parse(host:port)`.  I should have fixed it by removing the url.Parse.

[2017-10-11 21:47] phemmer commented on #3321
Oh, nevermind me. I'm totally off my rocker. I misread the issue. Carry on :-)

[2017-10-11 21:57] danielnelson commented on #3326
I am unable to reproduce on Linux publishing running:
[code]

Do you have just a single line in each message?  I know there are some issues with DOS line endings.

Perhaps you can try publishing with this command?

[2017-10-11 22:11] kevinpreynolds commented on #3326
There's just a single line in each message.

Messages are being published out of ActiveMQ through the MQTT endpoint, also running on Windows.

I'll see if there are any DOS line endings in the lines that get published to telegraf and replace them.

[2017-10-12 00:44] ono760 opened #3327 "Docker Plugin for Telegraf and Exclusive Parameters"
## Bug report

Telegraf plugin input docker says config can contain:

Containers to include and exclude. Collect all if empty. Globs accepted.

[code]

but inspection of this line [here](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/docker/docker.go#L377-L383) and testing shows that these are EXCLUSIVE parameters...

### Expected behavior:

We would expect only "included*" cont

[2017-10-12 06:56] windkit commented on #3321
PR at https://github.com/influxdata/telegraf/pull/3328

[2017-10-12 07:06] stiehl84 commented on #3325
that's it, thanks!

[2017-10-12 13:37] hemasalma commented on #3324
Hi...

Am able to use the elasticsearch output plugin but am not able to get the all the metrics:
metrics that are collected by win_perf_counters.object are not collected by this.
metrics like win_cpu, win_mem, win_sytem, win_disk....

am runnin the conf file using the command:
telegraf --config telegraf.conf

the error am getting is:

C:\telegraf>telegraf.exe --config telegraf.conf --test
* Plugi

[2017-10-12 14:23] valerian1978 opened #3329 "SQL Server Case Sensitive Input plugin issue"
## Bug report

No BufferPoolRate information when running sql server input against a case sensitive instance

### System info:

SQL Server Collation: Latin1_General_BIN (Case sensitive)
Telegraf Version: Telegraf v1.4.2
OS: Windows

### Steps to reproduce:

1. Add a connection to a case sensitive sql server
2. Run telegraf

### Expected behavior:

Rretrieve information on specified query below

##

[2017-10-12 17:25] spowser commented on #2950
Will this be added to the 1.5 milestone?

[2017-10-12 18:39] wei-hai opened #3330 "[Feature Request] Input plugin for Grafana internal metrics"
Collect Grafana internal metrics from endpoint `/api/metrics`
official doc:
http://docs.grafana.org/administration/metrics/

[2017-10-12 19:08] danielnelson commented on #3324
This is a known issue with the 32-bit Windows build and the win_perf_counters plugin (https://github.com/influxdata/telegraf/issues/2468).  If you can switch to the 64-bit version that will fix it, otherwise I am hoping someone with a 32-bit Windows can fix and send a pull request.

[2017-10-12 19:31] chrishoage opened #3332 "IPMI Sensor plugin requires telegraf service to run as root"
## Bug report

On Ubuntu `/dev/ipmi0` is owned by `root`

[code]

The only way I've found to get `ipmitool sdr` (local ipmi) to work is to modify the telegraf.service user to be `root` on ubuntu.

I've tried adding `telegraf` user to the `root` group. I've tried adding

[code]

to my visudo file.

I'm really unsure how to get this to work with out having the service run telegraf as root.

### Rele

[2017-10-12 20:26] danielnelson commented on #3332
I'm not very familiar with ipmi, I don't think I own any hardware that supports it, but it would be great if we could work out some improved documentation around setup.

I think the device file needs to be assigned to a group and the group given, at least, read permissions.  Something like:
[code]

If this does the job we could work on a udev rule to set it up on boot.

[2017-10-12 20:29] danielnelson commented on #3330
In the meantime, you could use a promentheus input or possible a socket_listener with the graphite parser.

I'll leave this open because I have an idea around having plugins instantiate another plugin.  Essentially this plugin would return a prometheus input correctly setup for grafana.

[2017-10-12 20:39] alexdaviesjump opened #3333 "Documentation for inputs.ping: DNS timeouts not counted with the 1s ping timeout"
We discovered this in production, and it might be useful to add to the docs. The "ping" commands timeout does not apply to the DNS lookup, so if your DNS is broken (meaning that the nameservers do not respond and the record isnt cached), you will find ping (at least on RHEL 7) take what seems to be exactly 11 seconds to return:

[code]

I dont think there is much telegraf can do about this other t

[2017-10-12 20:43] danielnelson commented on #3333
Interesting, thanks for this info.  Maybe we should do the dns lookup before the call to the ping utility.

[2017-10-12 20:45] danielnelson commented on #3333
@scjoiner This might explain why we still had timeouts testing #2849

[2017-10-12 20:53] alexdaviesjump commented on #3333
@danielnelson DNS lookup (with a timeout we control) before ping command is an excellent idea. If we have a chance we will get a PR your way.

How would you prefer we return the state of 'cant get ip'? packets_transmitted=0, packets_received=0, percent_packet_loss=0 seems misleading, I wonder if we want another error={ping-timeout,dns-timeout} output?

We came across this because of course what yo

[2017-10-12 21:38] danielnelson commented on #3333
It looks like there is an errors field (only shows up in Windows) that is the percentage of pings that returned errors (always 100.0), we could use it but I probably would want to do it differently.

We did an update to the http_response input not long ago that is similar, we added a `result_type` string field that is one of several result types.  My only regrets on this is that perhaps it is wast

[2017-10-12 22:31] phemmer commented on #3333
Somewhat related discussion on how to report the error: https://github.com/influxdata/telegraf/issues/2548#issuecomment-292003304

[2017-10-12 22:50] #3327 closed

[2017-10-12 23:50] danielnelson commented on #3311
I will update our gopsutil version on their next release.

[2017-10-13 00:28] danielnelson commented on #3321
Thanks @windkit, will be in 1.4.3

[2017-10-13 00:28] #3321 closed

[2017-10-13 03:15] chrishoage commented on #3332
chmoding didn't work, but your suggestion of a udev rule sent of off in the right direction.

I found

which gave me the idea to create

[code]

after changing `telegraf.service` back to the `telgraf` user and restarting the service I am able to read data with `ipmitool sdr`

[2017-10-13 05:05] muhahacz opened #3338 "Possibility to merge or override configs"
Is it not possible to merge or override config files just like in influxd?

For example:
`/opt/influxdb/influxd config -config /config/influxdb.custom.conf > /config/influxdb.conf`

Problem is that even if you starts telegraf with --config-directory /config/, it will double the configuration from both files. It makes dockerizing a lit a bit harder.

Thanks

[2017-10-13 05:18] muhahacz opened #3339 "System Input Plugin should have also variable for determinate path to /hostfs/var"
## Bug report
System Input Plugin should have also variable for determinate path to /hostfs/var

Logs:
2017-10-13T04:52:40Z E! Error in plugin [inputs.system]: open /var/run/utmp: no such file or directory

HOST_VAR=/hostfs/var should be a solution, just like in HOST_ETC= case

### Relevant telegraf.conf:

 [inputs.system]

### System info:

Telegraph 1.4.2
Alpine 3.6

### Steps to reproduce:

doc

[2017-10-13 07:06] sungiri88 commented on #1896
name: mysql
time                wsrep_incoming_addresses
----                ------------------------
1507875280000000000 0
1507875280000000000 0
1507875280000000000 0
1507875276000000000 0
1507875271000000000 0
1507875270000000000 0
1507875270000000000 0
1507875270000000000 0
1507875266000000000 0
1507875261000000000 0

Where as in cluter we get

| wsrep_incoming_addresses

[2017-10-13 10:45] hemasalma commented on #3324
Hi...

ours is 64-bit windows

[2017-10-13 13:48] jdoupe commented on #2950
This is *mostly* addressed by https://github.com/influxdata/telegraf/pull/3337

[2017-10-13 13:54] jdoupe commented on #2327
This is addressed by https://github.com/influxdata/telegraf/pull/3337.  The go_* and process_* metrics come from the main part of client library (as pointed out above).  The http_* metrics come from the deprecated portion of the http listener built into the client library.

[2017-10-13 14:26] bfgoodrich commented on #3192
@mirath - thanks for working on this - I think this will be very useful!

[2017-10-13 14:53] olegmayko commented on #3174
What is the solution for that, i missed how the issue got resolved , could you please clarify?

[2017-10-13 15:33] sebastien-prudhomme commented on #3311
Thanks

[2017-10-13 16:46] mirath commented on #3192
@bfgoodrich Thank you!

[2017-10-13 17:49] danielnelson commented on #3338
Sorry, I don't understand your question.  Can you tell me what you tried, what you expected to happen, and what happened instead?

[2017-10-13 17:53] danielnelson commented on #3324
Are you positive you are using the [Windows 64-bit Telegraf](https://dl.influxdata.com/telegraf/releases/telegraf-1.4.2_windows_amd64.zip)?

[2017-10-13 18:00] danielnelson commented on #3174
@olegmayko Which error are you getting?  I would not have a second GOPATH that is located within your first path.

[2017-10-13 18:04] #3319 closed

[2017-10-13 18:32] danielnelson commented on #3285
@james-lawrence Let me know if you still need help with this.

[2017-10-13 18:32] #3285 closed

[2017-10-13 18:44] danielnelson commented on #3339
@shirou Do you think we should add a `HOST_VAR` environment variable support to gopsutil?  I believe the relevant code is https://github.com/shirou/gopsutil/blob/master/host/host_linux.go#L135

[2017-10-13 18:46] danielnelson commented on #3339
@muhahacz I know some people have used the advice in this comment for setup: https://github.com/influxdata/telegraf/issues/1544#issuecomment-278955406.  I agree we need to do additional testing and add some setup advice to the documentation.

[2017-10-13 18:48] danielnelson commented on #3332
@chrishoage Can you check if the group needs read and write 660 permissions or just read 640?

[2017-10-13 19:12] chrishoage commented on #3332
@danielnelson I modified the udev rule to try both `640` and `640` running both `udevadm control --reload-rules && udevadm trigger` and `service telegraf restart` after each edit.

`640` caused `E! Error in plugin [inputs.ipmi_sensor]: failed to run command /usr/bin/ipmitool sdr: exit status 1 - Could not open device at /dev/ipmi0 or /dev/ipmi/0 or /dev/ipmidev/0: No such file or directory`
`660`

[2017-10-13 20:56] danielnelson commented on #3332
I updated the ipmi_sensor README, can you take a look?  I suggested placing the file into `/etc/udev/rules.d` instead of `/lib` because I think this is the correct spot for custom rules.

[2017-10-14 02:07] shirou commented on #3339
@danielnelson I agree to add environmental variable support to `host.Users`. Something like `HOST_VAR` as described proposal?

[2017-10-14 16:20] chrishoage commented on #3332
I moved my rule to `/etc/udev/ruels.d` and everything is still working.

I notice you have a tiny typo here: https://github.com/influxdata/telegraf/commit/a1796989f71626a37a75d830b3a24ef9e2b0153b#diff-379ee781bc500686e14753d1bc9756efR58
`impi` -> `ipmi`

other than that the new docs look good.

Thank you for your guidance in helping me solve this issue.

Please feel free to close this issue at you

[2017-10-15 12:59] olegmayko commented on #3174
@danielnelson , thanks for answering ,
i am getting cmd/telegraf/telegraf.go:16:2: use of internal package not allowed, i've removed the 2nd GOPATH, so it looks like:
GOPATH="/var/go/go"
so the location path to telegraf is
/var/go/go/src/github.com/influxdata/telegraf
to the custom build -
/var/go/go/src/telegate
how can i fix that?

[2017-10-16 08:54] kylejvrsa opened #3341 "Logparser duplicates entries from rotated logs after path key was added"
We use the logparser to read our logs as well as our rotated logs what this means is that we have for example:
measurement.log which when rotated becomes
measurment.log.2017-08-02 and a new measurement.log is generated. We have telegraf reading measurement.log* which means it reads all the measurement.log files including the rotated ones. This gave us the buffer that if telegraf were to crash or w

[2017-10-16 16:30] mindscratch opened #3343 "Enable StatsD UDP listening using IPv4 or IPv6 explicitly"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:

Enable the StatsD input plugin to listen on UDP using IPv4 or IPv6 explicitly.

### Current behavior:

The StatsD input plugin listens for UDP traffic using whichever versions of the Internet Protocol are  supported by the system its running on. For example, on macOS Sierra it'll use IPv4 and IPv6. On a CentOS 7

[2017-10-16 18:12] kevinpreynolds commented on #3326
It fails using both ActiveMQ and Mosquitto running on Windows.  Hidden characters have also been removed from the strings.  I'll try running Mosquitto on Linux.

[2017-10-16 18:12] danielnelson commented on #3332
I fixed the typo, thanks

[2017-10-16 18:12] #3332 closed

[2017-10-16 18:15] danielnelson commented on #3174
What is `/var/go/go/src/telegate`?

[2017-10-16 18:25] danielnelson commented on #3341
Thanks for letting me know about this, I did not anticipate this side effect.

I can think of a few possible solutions.  You could use tagexclude to remove the tag:
[code]

You could also overwrite the tag with a static string:
[code]

Let me know if one of these options works for you.

[2017-10-16 18:26] #3329 closed

[2017-10-16 18:41] danielnelson commented on #3326
I could make you a build with an extra logging statement that you could run in Windows to capture the message as Telegraf sees it, I think that would give us the info we need.

[2017-10-16 19:00] kevinpreynolds commented on #3326
Thanks, that would be helpful.  I installed Mosquitto on Ubuntu and used that as the broker.  It still causes that same error.

[2017-10-16 19:12] danielnelson commented on #3326
This build should log one line per message [telegraf-1.5.0~e1468b8_windows_amd64.zip](https://8559-33258973-gh.circle-artifacts.com/0/tmp/circle-artifacts.TETKTcu/build/windows/amd64/telegraf-1.5.0%257Ee1468b8_windows_amd64.zip)

[2017-10-16 19:17] praveenuchiha commented on #1550
Any update on this?  `logrotate`  would be handy for file output based on size and age.

[2017-10-16 19:25] danielnelson commented on #1550
As a workaround, you could use logrotate or another log rotation service to implement this.  You can use the [telegraf logrotate file](https://github.com/influxdata/telegraf/blob/master/etc/logrotate.d/telegraf) as an example.

[2017-10-16 19:54] kevinpreynolds commented on #3326
[telegraf.log](https://github.com/influxdata/telegraf/files/1388873/telegraf.log)

Here's the log file using the new build.

[2017-10-16 19:56] danielnelson commented on #3339
@shirou Yes, I think so.  I'll submit a PR later today.

[2017-10-16 20:25] danielnelson commented on #3326
Thank you, I can reproduce the crash with this line so it should be fairly straightforward to fix:
[code]

The line should be rejected as invalid line protocol, because the field needs internal double quotes escaped (make sure to escape `"` and `\` inside string fields):
[code]

[2017-10-16 20:44] kevinpreynolds commented on #3326
Thank you.  Internal double quotes need to be escaped as well.

[2017-10-16 20:58] danielnelson commented on #3326
Let's leave this open until the panic is fixed.

[2017-10-16 21:18] #3343 closed

[2017-10-17 01:07] m82labs commented on #3233
Here is an example of the output of the wait stats query:
`SqlServerPerformance,wait_category=Memory,type=WaitStats,server=a2899f8066f1,wait_type=RESERVED_MEMORY_ALLOCATION_EXT,host=pigdog max_wait_time_ms=0i,resource_wait_ms=5i,signal_wait_time_ms=0i,waiting_tasks_count=9913i,wait_time_ms=5i 1507815670000000000
SqlServerPerformance,server=a2899f8066f1,wait_type=SOS_SCHEDULER_YIELD,wait_category=C

[2017-10-17 01:21] m82labs commented on #3233
Here is a query that could be used for the Azure DB stats: https://gist.github.com/m82labs/753d0972e7c9240609e8fbeafc769c24

[2017-10-17 08:39] olegmayko commented on #3174
@danielnelson it's telegraf's fork. but so far i understood, it works i had to copy the modified sources into $GOPATH/src/github.com/influxdata/telegraf and then it goes. I am not new to Go, and i had to maintain it from now. i had to learn more about go packaging management and so on.  but thanks for your help.

[2017-10-17 13:52] james-lawrence commented on #3285
I do, but its work related and it keeps getting punted on the priority list, and I want a chance to dig further into the cause.

[2017-10-17 19:21] wei-hai opened #3347 "[Bug] mongodb doesn't support authenticationDatabase"
### Relevant telegraf.conf:
[code]
### System info:
ubuntu 14
[Include Telegraf version, operating system name, and other relevant details]
1.4.2

By default the authenticationDatabase is `admin`, the plugin should support customized authenticationDatabase in the url like this: `mongodb://user:auth_key@10.10.3.30:27017/authenticationDatabase`

[2017-10-17 19:27] phemmer opened #3348 "Gather information from /sys/class/block/*/queue"
## Feature Request

Opening a feature request kicks off a discussion.

### Proposal:
Gather metrics from `/sys/class/block/*/queue`

### Current behavior:
No such data

### Desired behavior:
Gather the data.

### Use case: [Why is this important (helps with prioritizing requests)]
The main metric I'm interested in right now is the `nr_requests`, so we can get the maximum number of queued requests

[2017-10-17 19:31] phemmer commented on #3348
An alternative might be a "file" or "directory" input plugin. This plugin would be given a path (in this case `/sys/class/block/*/queue`), and it would poll all the files in that path (or single file if not a directory), and record each file as a field. The wildcard in the path could also be extracted and added as a tag somehow.

[2017-10-17 21:05] danielnelson commented on #3333
I tried to use each of the different options, and here is what I found:
- `result_type` as a string field: Hard to aggregate, can't be displayed as y-axis.
- `result_code` as an int field: Also somewhat hard to aggregate (use mode?), but can display on y-axis.  Must consulting documentation to determine error type.
- `result_type` as a tag: Can graph if you group by `result_type`, but must ensure

[2017-10-17 21:16] danielnelson commented on #3285
Okay, I know how that goes...  Just post here when you are working on it again.

[2017-10-17 21:56] danielnelson commented on #3348
I guess this is not part of iops_in_progress from diskio, it seems like something that would ideally be in there:

I think the file/directory plugin idea could be useful.  Maybe the input could use `data_format` and in this case it would just be `data_format="value"`?  It would essentially be the tail input without tailing.  I do worry though that the field/tag naming will not be very flexible, yo

[2017-10-17 22:09] danielnelson commented on #3233
Looks great to me.  Do you have an example of a perfmon query with a base and value?  What do you think about having separate measurement names for wait stats vs perf counters? `sqlserver_perfmon` and `sqlserver_waitstats` or such.

@zensqlmonitor I know you collect a lot of metrics on your servers, would this amount of data still be sufficient for you?

[2017-10-17 23:24] mplisov opened #3349 "Missing metrics {type="Database size"} for inputs.sqlserver when output to prometheus_client when running telegraf on windows."
Seeing strange behaviour with sqlserver metrics on telegraf 1.4.2 on Windows.
Prometheus output misses {type="Database size"} metrics block  completely.
I can see those metrics in --test run of telegraf though.
Second note: Issue doesn't appear when running same version of telegraf on linux.

SQL servers and connection credentials are the same (checked with sql server 2008,2012,2014)

[2017-10-17 23:49] danielnelson commented on #3349
Can you show what the output looks like on Linux vs Windows?  Can you also show the relevant output when using `--test`?

[2017-10-18 00:11] mplisov commented on #3349
Output is quite big.
Example of missing data
Here is the sample from --test run (its identical on windows and linux):

[2017-10-18 00:53] freeseacher commented on #2928
ping?

[2017-10-18 00:59] danielnelson commented on #2928
Hey @freeseacher, I'm actually in this code right now, I will go ahead and add the string fields as labels and we can see how it ends up looking.

[2017-10-18 01:07] freeseacher commented on #2928
oh! cool. :)

[2017-10-18 02:22] phemmer commented on #3348
For that one specific metric, it might go in there sure. If we want to do that and punt the issue on the rest of the values, it would satisfy my use case.

[2017-10-18 02:40] danielnelson commented on #3348
I would love to have the file input as well, seems handy for debugging vs what I do now with socket_listener: `echo 'foo bar=42' | nc -u localhost 8094`, so I'm open to either as well.

[2017-10-18 06:57] weapon008 opened #3352 "[Feature Request] Plugin procstat - tag processes by their command line"
## Feature Request
if i have 2 process
31559 ./svc_launch -type gateway
31560 ./svc_launch -type transmit
i can not distinguish svc_launch -type gateway from svc_launch -type transmit now.

[2017-10-18 08:59] ghost opened #3353 "Haproxy : field corresponding to `servers' is not defined in `*system.SystemStats'"
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be asked at the [InfluxData Community](https://community.influxdata.com) site.

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section below.
Era

[2017-10-18 09:47] mplisov commented on #3349
Figured out than metrics of type="Database IO" also missing on Windows instance. It seems that bug somewhere in parsing data to Prometheus format, because in --test output they are present.
Example of missing data
`> Log\ reads\ (bytes/sec),servername=SQL2012,type=Database\ IO,host=sql2012 model=0i,tempdb=0i,breedfarm=0i,newvysokovskoe=0i,crm_demo=0i,trade.standard=0i,erp2_demo=0i,enterprise20_cop

[2017-10-18 13:58] m82labs commented on #3233
@danielnelson I altered the query to handle ratio metrics automatically, it doesn't handle the more complex counter types, but I also don't think any of those are worth collecting over time by default. So it ended up being quite simple.

The reason I was thinking of keeping measurement names the same, was so you could do things like dividing a certain wait type by batches/sec. It was my understand

[2017-10-18 14:26] SEJeff opened #3356 "Feature Request: add exclude_interfaces_regex for inputs.netif"
### Proposal:
A configuration option such as `exclude_interfaces_regex` would allow users to automatically exclude a set of interfaces.

### Current behavior:
1. Run telegraf with `inputs.netif` on a node that runs in a kubernetes cluster with lots and lots of docker containers
2. Watch telegraf start collecting metrics from all of the virtual interfaces and sending metrics we'd rather not collect

[2017-10-18 16:39] msoltyspl opened #3357 "[httpjson] add option to silence complaints about null values"
Currently, whenever an explicit null value is encountered by httpjson - it always informs about it in the logs and there seems to be no way to turn it off, e.g.:
[code]

So far I've been reloading (logstash) once with failed config and once with correct config to silence some of those messages, but that's a bit crude workaround. Explicit nulls are not technically invalid - so an option to just ign

[2017-10-18 17:50] alexdaviesjump commented on #3333
@danielnelson yeah, certainly where we have had to do this, we have no better solution than a  int status (either 0/1 or a more complex list, which as you point out means you really have to RTFM to know what you are plotting).

How is best to proceed - adjust #3345 to do this and give it a whirl?

[2017-10-18 19:27] #3013 closed

[2017-10-18 19:33] danielnelson commented on #1237
@wunzeco I think we want to require using the `mongodb://` prefix on the server urls for other reasons.  The documentation has already been corrected, but if you still have the problem when using this format of url please let me know.

[2017-10-18 19:33] #1237 closed

[2017-10-18 19:40] danielnelson commented on #3347
It makes sense to support more of the connection string.  Here is some documentation I found about the [connection string format](https://docs.mongodb.com/manual/reference/connection-string/).

[2017-10-18 20:22] danielnelson commented on #3352
We have an ongoing discussion about this on #1873

[2017-10-18 20:22] #3352 closed

[2017-10-18 20:23] #3353 closed

[2017-10-18 20:31] danielnelson commented on #3357
I think we should just silence this without providing an option.  Here is some JSON input that will trigger this message: `{"x": null}`

[2017-10-18 20:44] danielnelson commented on #3333
We should probably use `net.LookupHost` instead of trying to reusing dns_query, and ping only the first address.
- result_code (int, 0: success; 1: no such host)

[2017-10-18 21:03] danielnelson commented on #3356
I believe this is duplicate of #1073, we will probably want to use globs for greater consistency with the rest of the telegraf plugins.

[2017-10-18 21:03] #3356 closed

[2017-10-18 21:51] #2950 closed

[2017-10-18 22:11] danielnelson commented on #3349
My access to a Windows machine is limited, but I will try to reproduce this Friday.

[2017-10-19 00:42] #2928 closed

[2017-10-19 00:42] #2957 closed

[2017-10-19 06:55] kylejvrsa commented on #3341
@danielnelson

Thanks for the reply!

Ok I got tagexclude to work, but couldn't specify the tag using [inputs.logparser.tags]

[[inputs.logparser]]
     files = ["/path/to/metasurement.log*"]
     from_beginning = true

  [inputs.logparser.tags]
    path = "measurement.log"

  [inputs.logparser.grok]
     patterns = ["%{SOME_PATERN}"]
     measurement = "some_measurement"
     custom_patterns = ''

[2017-10-19 08:43] flexd commented on #1550
I never got around to using what I wrote, and I'm not sure where I put it, unfortunately. It should be in a git repo somewhere 😄

[2017-10-19 08:54] Soulou commented on #1581
I've started working on a pure go implementation of PV/VG/LV reading from raw devices, and later optionally to use lvmetad. It's really early early work, if you're interested helping building the package, help's welcome. It has been built so far by a mix of reading lvm code and using `strace` to analyze the execution of tools like `vgdisplay` : https://github.com/Soulou/go-lvm

[2017-10-19 08:54] msoltyspl commented on #3357
Even better =)

[2017-10-19 09:32] Ulrar opened #3360 "HAProxy - curconn"
Hi,

Just to confirm, is there no way currently to get the number of current connections in HAProxy ?
I see a "scur" field, but that's for sessions. We've just realized one of our haproxy was constantly at max conn and we apparently had no indication of that anywhere, which is a bit worrying.

Thanks

[2017-10-19 11:07] rushin-devops opened #3361 "Multi grok pattern match for single log line entry"
I am experiencing an issue whereby we are trying to extract multiple matches of data using logparser from single log line entries, using 3 different grok patterns as follows:

**log entry:**
`[13/Oct/2017:01:03:09] INFO Cars. Data: {'BMW': 321, 'LEXUS': 1650, 'JAGUAR': 500}`

So from the above log example we expect to extract each value of 'BMW', 'LEXUS' and 'JAGUAR' respectively.

**Config:**
[co

[2017-10-19 11:09] alexdaviesjump commented on #3333
Just putting this out there - is there any possibility that somebody else is going to find something else and we would want to make result_code a enum with more than 2 options? If its just this very specific failure , would it be more self explanatory to call it dns_lookup_fail={0,1}?

[2017-10-19 17:54] danielnelson commented on #3361
I'm not sure I understand your question, each pattern should match the full line.  I used your config with the example input line and got the following output:
[code]

What output are you expecting?

[2017-10-19 18:17] danielnelson opened #3362 "Favor tags specified in config over those generated by input."
## Feature Request

### Proposal:

Change the order of precedence when applying tags.

### Current behavior:

Tags generated by a input plugin are favored over tags specified in the configuration of the plugin via the tags subtable, which are in turn favored over tags in the global tags section.

### Desired behavior:

Change the precedence to be (highest to lowest):
1. tags subtable
2. global tag

[2017-10-19 18:20] danielnelson commented on #3341
It looks like the tags added by the plugin have a higher precedence than the tags table, which in turn has higher precedence than global tags.  It seems like we should change this, but I am nervous about breaking configurations.  I opened #3362 to discuss this change.

In the meantime, I believe you will need to use tagexclude.

[2017-10-19 18:37] danielnelson commented on #3360
It looks that `conn_tot` should be collected if it is set:

[2017-10-19 18:46] danielnelson commented on #3333
That is certainly more readable without checking the documentation.  Other things could go wrong that prevent pinging though, for instance if I try to ping googles ipv6 address I get this error because I don't have ipv6 setup:
[code]

[2017-10-19 19:49] danielnelson commented on #3233
On metrics such as `SQL Compilations/sec` it might be more flexible to have the raw numbers, though it depends.  If you have the cumulative total count you can recover from downtime better an are less tied to the per second units when aggregating.  Can you show a few seconds of the raw data?

You can use [functions](https://docs.influxdata.com/influxdb/v1.3/query_language/functions/) on a field wi

[2017-10-19 23:25] #3357 closed

[2017-10-19 23:36] #1912 closed

[2017-10-20 02:03] m82labs commented on #3233
@danielnelson ah, I understand. In that case, having different measurement names would work fine.

Just to clarify, the only calculations I am doing in the queries I linked to are dividing a metric by it's base, for ratio metrics (CPU% for example). Only if a counter has a base am I doing any calculations. The rest are raw values. All of the `/sec` counters are being reported as raw values.

[2017-10-20 02:04] binary0111 opened #3366 "Connect to InfluxDB via a Unix Domain Socket"
## Feature Request

### Proposal:

Add support for connecting to InfluxDB over a unix domain socket

### Current behavior:

We can connect to InfluxDB via UDP or HTTP(S) over TCP but not UDS. While Telegraf has support for a generic socket writer which supports UDS, InfluxDB's UDS socket listener expects HTTP.

See : https://github.com/influxdata/influxdb/pull/7135
         https://github.com/infl

[2017-10-20 02:21] danielnelson commented on #3233
Okay, I'm not sure it is the same situation, but you might be interested to know that most of our advanced users prefer cpu time (in jiffies) over percentage.  I believe they are more accurate when aggregating over time.  Still many others prefer the simplicity of percentage.

[2017-10-20 03:25] sonchu opened #3367 "Inputs.exec doesn't work well, command timeout"
## Bug report
Inputs.exec doesn't work well with powershell script. Sometime I got command timeout. I have used this script to monitor iis pool on Nagios before and totally no error with scripting.

### Relevant telegraf.conf:

### System info:
Telegraf version 1.4.2, Windows Server 2012 R2 64 bit

### Steps to reproduce:

1. Set telegraf run as server on Windows Server 2012
2. Config inputs.exec

[2017-10-20 06:21] vinshas1 opened #3368 "Telegraf not processing multiple conf files in output directory."
I have 1 base config file and 3 role based config files copied to output-directory.

Basically I need to set for example Role = "SQL", "IIS" in the Global tags. Some servers in my environment has multiple roles so I have to measure the metrics based on its role. As I can not use a tag with multiple values such as Role = "SQL", "IIS" so I have created multiple conf files to set this. So please advi

[2017-10-20 07:03] kylejvrsa commented on #3341
Thanks @danielnelson

[2017-10-20 09:08] rushin-devops commented on #3361
The output that you've added is exactly what we're expecting, but not getting. On our side only one of the 3 values gets returned. See attached.

![spectacle x32067](https://user-images.githubusercontent.com/18162898/31813317-37450eaa-b586-11e7-945b-db5f55d96fc7.png)

[2017-10-20 10:31] gaetanquentin opened #3369 "tomcat input: Unable to unquote name 'http-8080': invalid syntax"
I think there is a bug with :
 - telegraf 1.4.2 linux
 - plugin tomcat

tomcat :  6.0.26

telegraf logs:
E! Error in plugin [inputs.tomcat]: Unable to unquote name 'http-8080': invalid syntax

output of curl http://127.0.0.1:8080/manager/status/all?XML=true
[code]
In influxdb i just can see free memory (free max total).

Regards.

[2017-10-20 11:00] flexd commented on #1550
I can't find it now, must be on a old machine somewhere, it was never pushed to GitHub.

I started with the normal file plugin https://github.com/influxdata/telegraf/tree/master/plugins/outputs/file and just added closing the current file and opening a new one every X minutes if data was sent.

You can rotate a file by using a custom writer, something like suggested here https://stackoverflow.com/

[2017-10-20 11:15] RubenN commented on #3263
Same here on a windows 10 64 bit system:
`2017-10-19T13:46:00Z E! Error in plugin [inputs.snmp]: initializing table interface: getting table columns: exit status 1: IF-MIB::ifTable`

[2017-10-20 14:41] jasonkeller commented on #2679
@danielnelson are there any updates to this?  I keep running into this and getting weird dip/spikes on my graphs in grafana on derivative functions due to the missing datapoints.

If we don't have a good way to update the telegraf instance with new endpoints to poll without losing data, that really nerfs when we can realistically begin polling new devices.

[2017-10-20 16:14] jasonkeller commented on #2679
@danielnelson I'll back up a second and get this out there so people realize the other implications of restarting/refreshing the telegraf process.

So part of the issue is dropping data (which if you flush more frequently than poll, you can get around it with careful timing), but another issue that may inevitably bite you is interval skew.  If you don't restart at the relative point in the interva

[2017-10-20 16:52] koma85 commented on #2910
I'm having this problem too, i cannot monitor any of my mariadb servers sadly.

[2017-10-20 18:15] wei-hai opened #3370 "[bug] inconsistent os hostname"
### System info:

[Include Telegraf version, operating system name, and other relevant details]
telegraf: 1.1
centos 7
google cloud and AWS

suppose in `etc/hosts` we have:
`1.2.3.4 ip-1-2-3-4.c.testing.internal ip-1-2-3-4`

sometimes the tag `hostname` is `ip-1-2-3-4` and sometimes it is `ip-1-2-3-4.c.testing.internal`

[2017-10-20 20:02] danielnelson commented on #3368
If I'm understanding correctly you would like to have a tag with multiple values and metrics are outputted with each tag value.

Then if a metric is created like:
[code]
The output would be multiple points:
[code]

If this is right, I can think of 2 ways to do this:
- Run multiple Telegraf instances with different config files, each config file uses a different value in the global tags. (this is w

[2017-10-20 20:02] #3368 closed

[2017-10-20 20:06] danielnelson commented on #3370
Are you referring to the `host` tag?  This tag does not use the `/etc/hosts` file at all, under the hood it is read from `/proc/sys/kernel/hostname`.  I believe on Centos you can set this by modifying `/etc/sysconfig/network`.

[2017-10-20 20:19] danielnelson commented on #3367
I don't understand, isn't the command just not completing within the 15s timeout?

[2017-10-20 20:21] danielnelson commented on #3341
I'm going to close this issue, keep an eye on #3362 to track the precedence change.

[2017-10-20 20:21] #3341 closed

[2017-10-20 20:43] danielnelson commented on #3361
I didn't notice it at first, but the problem is that in InfluxDB a series can only have one value per field per timestamp.  Since there is only one series that last line overwrites the previous values.  I suggest moving this field to be a tag so you will have multiple series:
[code]

You can do this with the tag "modifier": `%{QS:MetricName:tag}`.  Might want to exclude the single quotes from the

[2017-10-20 21:11] vinshas1 commented on #3368
Thanks for your quick response!! You understood it right.

I am OK with both options. Could you please explain more with an example how can I implement this.

-  How to run multiple instances with different config files.

- How to use tags options in input plugins.

Thanks,
Vinay.

[2017-10-20 23:37] sonchu commented on #3367
Hi Danielnelson,

I don't think it is script problem because i run it normally and it always return the result within 3 seconds. So I tried to run telegraf in debug mode to see if I can get any more useful information but not much.

That why i think maybe it is telegraf issue because sometime the script timed out. I have tried to log script action to see what happen when script run and i noticed t

[2017-10-20 23:48] danielnelson commented on #3367
It might be best to test with a very simple script that pauses for 5 seconds and then exits, just to see if the error is still reported.

[2017-10-21 00:47] danielnelson commented on #3349
I created a powershell script that echos some of the lines from the --test output, and ran that as an exec plugin, but I wasn't missing any data from the prometheus output:
[code]

Can you enable a file output and check if the missing data is written?

[2017-10-21 01:02] danielnelson commented on #2679
I'm hoping to fix this as part of the configuration overhaul to support kv config stores. https://github.com/influxdata/telegraf/issues/272

I've heard about reload causing issues with plugin specific collection interval https://github.com/influxdata/telegraf/issues/2839, is it happening also with the global interval?  Also what round interval is set to.

[2017-10-21 01:26] sonchu commented on #3367
Ok, i will try with your advise and report back to you today.

Thanks a lot.

[2017-10-21 02:36] danielnelson commented on #3368
To run multiple instances with different configs, just create a config for each role and specify which config with the `--config` flag.

If you want to run a single telegraf, [here is an example or adding tags to an input](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#input-config-tags).

And any input can be specified more than once with different settings:
[code]

[2017-10-21 04:02] vinshas1 commented on #3368
That's wonderful!! Thank you so much for helping me with the clear examples.

I really appreciate your support. You are the best!!

Thanks,
Vinay.

[2017-10-21 06:37] vinshas1 commented on #3368
- To run multiple instances with different configs, just create a config for each role and specify which config with the --config flag.
I didn't quite get this statement.  I have 2 roles so I have created 2 config files and I want to use these 2 config files at the same time as I need the data from both roles at the same time.

Can you brief me with an example. sorry for bothering!!

[2017-10-21 09:58] lqueryvg opened #3372 "ability to re-write tags as fields"
### System info:

Telegraf v1.3.4
Ubuntu 16.04

## Feature Request

Provide a way to re-write tags as fields.

Example line output (I've added spaces and newlines for readability):

[code]

In the above, everything except `usage_total` and `container_id` is a tag. Many of these tags should really be fields because:
- they vary so much that it makes no sense to index them
- the indexes consume a *l

[2017-10-21 21:33] danielnelson commented on #3263
I did a little investigation and it appears that this is caused by DOS line endings in the command output in Windows.

[2017-10-22 07:59] sonchu commented on #3367
I am really sorry for wrong report. It must be powershell core issue which has timeout error when executing.

Thanks a lot for your support.

[2017-10-22 07:59] #3367 closed

[2017-10-22 14:02] pstatho commented on #3263
Thanks @danielnelson, would you know of a temporary workaround or do we have to wait till this bug is corrected?

[2017-10-22 22:59] jackzampolin opened #3373 "Telegraf Panics after start"
## Bug report

[Panic in logs](https://gist.github.com/jackzampolin/e95090cd6bf640959dc8b21ef40bc628)

### Relevant telegraf.conf:

[gist](https://gist.github.com/jackzampolin/e95090cd6bf640959dc8b21ef40bc628)

### System info:

`Telegraf v1.4.2 (git: release-1.4 0cc5fc0ce40b09467012fffddcea6985b2763a97)`
Ubuntu 16.04

[2017-10-23 05:14] mvhconsult commented on #3283
Another way to produce the panic:
set the endpoint to: endpoint = "/var/run/docker.sock"

Host is Ubuntu 16.04
Tried this, as I do not get a connection using the proposed endpoint = "unix:///var/run/docker.sock"
error:
05:06:20Z E! Error in plugin [inputs.docker]: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

[2017-10-23 07:59] RubenN commented on #3263
I put part of the logic in a little test program:

    ...
	oidFullName := "IF-MIB::ifTable"
	// this won't actually try to run a query. The `-Ch` will just cause it to dump headers.
	out, err := execCmd("snmptable", "-Ch", "-Cl", "-c", "public", "127.0.0.1", oidFullName)
	if err != nil {
		fmt.Println(err.Error())
	}
    ...

And this doesn't trigger the error part.

[2017-10-23 09:15] rushin-devops commented on #3361
Ah yes, it makes total sense now. I'm receiving the correct output as expected. Thanks!

[2017-10-23 10:33] winem opened #3374 "Make the proxy url for the inputs.http_response plugin configurable"
## Feature Request
The plugin supports a http(s) proxy since #3302

Now, it would be great if the proxy url is configurable. This is useful to test a connection through a specific proxy without having any impact to user or customer traffic.

### Proposal:
Add a config parameter like proxy_url.

### Current behavior:
Only the proxy set in the environment variables is used. It's not possible to set

[2017-10-23 14:40] jasonkeller commented on #2679
Round interval is set to true, with default interval in our agent section set to 60s.  All our probe intervals are set to 300s though.  Does round_interval only interact with the global interval in the agent section?

[2017-10-23 17:50] danielnelson commented on #3373
This might be the same as #3299, how hard is it to reproduce the panic?  It would be helpful if we could pin it down to a specific plugin.

[2017-10-23 17:59] danielnelson commented on #3263
@pstatho You might be able to create a wrapper script that converts to unix line endings, and wrap both snmptranslate and snmptable.  I haven't tried this so I'm not sure if it will work.

@RubenN It is not actually a problem with running the commands, but with parsing the output.  When we parse the oidText [here](https://github.com/influxdata/telegraf/blob/master/plugins/inputs/snmp/snmp.go#L949)

[2017-10-23 17:59] #3361 closed

[2017-10-23 18:13] danielnelson commented on #3372
I would like to support this, perhaps doing it as a processor plugin.

I think in your specific case though you may just want to consider excluding these tags.  I added a section to the docker readme about excluding [kubernetes labels]( https://github.com/influxdata/telegraf/tree/master/plugins/inputs/docker#kubernetes-labels) in the docker input.  On other plugins you may want to use the `tagexcl

[2017-10-23 18:53] jackzampolin commented on #3373
I think its coming from the exec plugin. I've got it running a `bitcoin-cli` command. Those are the only instances where I'm seeing that panic.

[2017-10-23 18:54] smolse opened #3375 "[BUG] Consul input plugin does not utilize token"
## Bug report

Before Consul version 0.7.2 there was no need to include ACL token in request params or headers to get health checks data from Consul API. In version 0.7.2 Consul introduced [complete ACL coverage](https://www.consul.io/docs/guides/acl.html#complete-acl-coverage-in-consul-0-8) which has been taken into use by default in Consul 0.8.0. Now in order to get health checks data from API a

[2017-10-23 19:08] danielnelson commented on #3373
The exec plugin isn't doing anything fancy, if it is causing this panic it might be a Go bug.  Any chance you can run it with all other plugins disabled to verify?

[2017-10-23 19:31] #3375 closed

[2017-10-23 20:23] daviesalex commented on #3333
Thanks, I think we have enough for somebody to put a PR together. @vlasad would you be so kind as to modify #3345 based on the above? I think the requirements are:

- Do DNS lookup in Go, catch errors, if there are any return result_code=1 (as well as logging the details)
- Do ping and catch error, if there are unparsable errors (like the one @danielnelson found with ipv6 above), return result_cod

[2017-10-23 20:34] danielnelson commented on #3368
In the multiple instance solution using global_tags you would simply be running Telegraf twice, one copy with each config file.  The config files would be independent.

[2017-10-23 20:37] danielnelson commented on #3283
@mvhconsult Can you provide the stacktrace of the panic?

[2017-10-23 20:40] zhang8473 opened #3378 "How to config inputs.kubernetes.url for kubelet when running telegraf as Daemonset"
As the title.
It is clear that `url = "http://0.0.0.0:10255"` works in bare-metal.
If I do not want to give the host network access to the container. How do I config the kubelet url?

The example at https://github.com/influxdata/telegraf/tree/master/plugins/inputs/kubernetes does not work. The yaml is even not deploy-able because logger-redis-creds is not defined.

[2017-10-23 20:56] danielnelson commented on #2679
I haven't investigated the issue closely yet, but it is supposed to work in either case.

[2017-10-23 21:09] danielnelson commented on #3378
Regarding the kubelet url, I would try asking for advice at the [InfluxData Community](https://community.influxdata.com) site.

On the example yaml, the logger-redis-creds container doesn't seem required to me, does it work when we just remove it?

[2017-10-23 21:42] wolfyzvf opened #3379 "Logparser : Epoch convertion impossible with SYSLOGTIMESTAMP Grok pattern"
## Bug report

### Relevant telegraf.conf:

[[inputs.logparser]]
files = ["/root/samples/*mail.log"]
from_beginning = true

[inputs.logparser.grok]
patterns = ["%{SYSLOGTIMESTAMP:timestamp:ts-“Mon Jan 2 15:04:05”} %{SYSLOGHOST:hostname} mta-in/milter\[%{MILTER_PROCESSID}\]: %{POSTFIX_QUEUEID:postfix_queue_id}: from=<%{DATA:postfix_from}>, firstto=<%{DATA:postfix_firstto}>, nrcpt=%{DATA:postfix_nrc

[2017-10-23 22:58] vinshas1 commented on #3368
unfortunately that didn’t work. The role is getting overwritten and finally processing just one role.

[2017-10-23 23:02] danielnelson commented on #3368
Any chance you can add your config files?

[2017-10-24 00:46] kmcnicholas commented on #2263
pfctl -ss

The ability to separate the individual entries of the configuration by tag for at least state entries/usage of the rule.

[2017-10-24 05:36] vlasad commented on #3333
OK

[2017-10-24 06:11] lqueryvg commented on #3372
Hi @danielnelson, thanks for your support.

FYI, I've already taken the approach of excluding certain tags, but in doing so I'm aware that I am throwing away some potentially useful information, for example `io.kubernetes.container.restartCount` can be a very useful metric. Hence this feature request.

[2017-10-24 08:28] zoujd-github opened #3380 "Logparser: github.com/influxdata/tail/watch.(*InotifyTracker).run(0xc4203de980)"
## Directions

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be asked at the [InfluxData Community](https://community.influxdata.com) site.

Before opening an issue, search for similar bug reports or feature requests on GitHub Issues.
If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section below.
Era

[2017-10-24 12:04] etiennecarriere commented on #2910
I had this issue too so I propose a PR with a logic based on @danielnelson  proposal

[2017-10-24 12:37] crazycodr opened #3383 "Containers in restarting mode are still reported but the timestamp falls outside of retention policy..."
## Bug report

I just started using the TICK stack in favor of our old Prometheus stack and found this. When you have a container that is stuck in restarting mode. Telegraf docker plugin generates points that fall outside my already pretty wide retention policy (180d) which probably means it is sending a timestamp that is extremely low or maybe even a 0 value.

### Relevant telegraf.conf:

Nothing

[2017-10-24 12:38] crazycodr commented on #3383
To be noted, it is actually ironic, but my stuck in restart mode container is my prometheus container that i was trying to replace... LOL

[2017-10-24 17:52] jackzampolin commented on #3373
So no panic after a day of just `exec` was having multiple per hour earlier. So prob not that

[2017-10-24 18:10] danielnelson commented on #3373
Maybe diskio, are you running in docker?

[2017-10-24 18:14] danielnelson commented on #3380
@zoujd-github Thanks for the bug report, we already have an issue open tracking this bug https://github.com/influxdata/telegraf/issues/2805

[2017-10-24 18:14] #3380 closed

[2017-10-24 18:15] jackzampolin commented on #3373
No. Just bitcoin and python app.

[2017-10-24 18:17] danielnelson commented on #2805
In version 1.5 we are adding a `watch_method = "poll" option which I believe will be a workaround for this issue.

[2017-10-24 18:30] danielnelson commented on #3383
Can you enable a file output and reproduce the error?  This will let us see exactly what we are submitting to InfluxDB.

[2017-10-24 18:59] nferch commented on #2263
@kmcnicholas Could you elaborate? Any thoughts on what the tags/fields schema would look like?

Have the `State Table` bit of `pfctl -s info` represented, would be fairly trivial to include interface stats and Counters, but not sure what to track on a rule basis.

[2017-10-24 19:24] crazycodr commented on #3383
I will put this on my todo list for this week

[2017-10-24 19:41] jackzampolin commented on #3373
Ding ding ding! We have a winner. `diskio` it is.

[code]

[2017-10-24 22:16] danielnelson commented on #3275
If the linked suggestion would not be sufficient let me know and we can reopen.

[2017-10-24 22:16] #3275 closed

[2017-10-24 22:16] #3338 closed

[2017-10-24 22:17] #3370 closed

[2017-10-24 22:18] danielnelson commented on #3360
Let me know if this is not being collected and we can debug it together.

[2017-10-24 22:18] #3360 closed

[2017-10-24 22:34] danielnelson commented on #3348
I'm also unsure if it is a good idea in general for a plugin to gather from multiple sources.  Diskio currently is essentially `/proc/diskstats`, would adding `/sys/class/block/*/queue` make it less cohesive?  Different sources would be more likely to have different units or, perhaps, underlying sampling rates.  If it is a concern, it would be only a guideline, not a rule.

[2017-10-24 22:36] #3369 closed

[2017-10-24 23:26] #3373 closed

[2017-10-25 01:10] phemmer commented on #3348
I do think there is a definite benefit to having both sources in the same plugin, in that they'll both be part of the same measurement, and be recorded at the same timestamp, allowing you to do queries across multiple fields, such as dividing active queue depth against the max to determine what your usage % is.

[2017-10-25 11:14] halfa commented on #3296
This one is particularly nasty, as [the doc](https://www.influxdata.com/blog/telegraf-correlate-log-metrics-data-performance-bottlenecks/) don't say anything about permissions...

[2017-10-25 12:04] jiribroulik opened #3387 "Ceph Luminous monitoring"
Although the following setup works for monitoring Ceph Jewel, In Luminous I do not have a lot of metrics visible.

I have the following setup:

[[inputs.ceph]]
  gather_admin_socket_stats = true
  gather_cluster_stats = true
  gather_pool_loads = true

syslog logs: ERROR in input [inputs.ceph]: error parsing output: WARNING ceph - unable to decode deep health

In Grafana Health status says: warnin

[2017-10-25 18:35] Fyyre commented on #3357
Michal, I apologize for writing this way - but I lost your contact.  Long time since last speak.  Can you please get in touch with me at fyyre @ fyyre.ru ?

Thanks =)

[2017-10-25 20:19] pstatho commented on #3263
@danielnelson the line parsing does sound like it's the issue. I support using ReadLine() instead would make it cross-platform.  BTW, it's also used on several other lines like [850](https://github.com/influxdata/telegraf/blob/65580759fc48f8074f2a827337f31637f5738016/plugins/inputs/snmp/snmp.go#L850) and [877](https://github.com/influxdata/telegraf/blob/65580759fc48f8074f2a827337f31637f5738016/plu

[2017-10-25 22:26] danielnelson commented on #3387
I have heard one report that [Luminous is working](https://github.com/influxdata/telegraf/issues/3280).

What is the full output of the following command:
[code]

[2017-10-25 22:41] danielnelson commented on #1665
Support for concurrently gathering across agents has been merged into master and should show up in the [nightly builds](https://github.com/influxdata/telegraf#nightly-builds) in the next 24 hours.  I expect this should help significantly if you have many agents.

I would appreciate any testing and feedback on how well this works in practice, we can determine if this issue can be closed based on wh

[2017-10-26 02:10] baoyicai opened #3388 "support swing door data compression plugin"
Hi,
I'm wondering if telegraf can support more data compression plugin, the one algorithm I'm particularly interested is the swing door algorithm, it is implemented by OSIsoft PI system, in their interface node, which is very similar to telegraf ( the interface implements data exception algorithm) and the its core database (implements data compression algorithm)

the two algorithms can greatly red

[2017-10-26 10:58] ayounas commented on #1665
Thanks @danielnelson
Just tried the latest nightly build and it is a huge improvment

Time taken to poll 10 device on latest nightly
real    0m4.696s
user    0m0.363s
sys     0m0.098s

Time taken to poll same 10 devices with stable

real    0m16.728s
user    0m0.377s
sys     0m0.116s

I will add more devices and report times

[2017-10-26 13:12] daniel-alonso-sanchez opened #3389 "Error: Could not write to any InfluxDB server in cluster"
## Bug report
Hi. First of all, thanks a lot for your support and the tool!
I've a problem with latest telegraf versions (1.4.2 and 1.4.3), tryining to write into influxdb (1.3.6).
I've tested also with a previous version (telegraf 1.2.1) in windows and linux machines and it works perfectly

### Relevant telegraf.conf:
[code]
### System info:

- Suse Linux 12
- Windows 8

Telegraf 1.4.3 and 1.4.2

[2017-10-26 13:30] ildarsv opened #3390 "Bond Interface monitoring"
## Feature Request
Bond interface status monitoring
### Proposal:

There is no way to monitor bond interfaces status in the telegraf.
I'm starting develop the Bond input plugin. It will gather bond interfaces status from `/proc/net/bonding/*`.
Maybe somebody has an opinion regarding this approach?
### Current behavior:
There are no bond interface status metrics.
### Desired behavior:
To have some

[2017-10-26 14:22] efficks opened #3391 "[[inputs.diskio]] crash on Windows Server 2003 i386"
## Bug report
I'm trying to run telegraf on WIndows Server 2003 32 bit. When adding inputs.diskio, I got an exception "Invalid class"

### Relevant telegraf.conf:
Without this line in the conf, everything works fine.
[code]
### System info:
* Telegraf v1.4.2
* Windows Server 2003 SP2

### Steps to reproduce:

1. Run telegraf with inputs.diskio enabled

### Expected behavior:
Don't crash

### Actua

[2017-10-26 17:24] jmwilkinson opened #3392 "Influx docker input reports container_id as measurement not tag"
As in title, the container ids are being reported as measurements, not tags. This is problematic when it comes to grouping data, etc.

For instance:

https://github.com/influxdata/telegraf/blob/master/plugins/inputs/docker/docker.go#L542

[2017-10-26 17:46] danielnelson opened #3393 "Need document of how to rotate logs in Windows"
## Bug report

In Windows it is not clear how to handle log rotation.  Normally on unix systems this is left to another tool such as logrotate.

One idea is to use the tools mentioned here:
https://jira.mongodb.org/browse/SERVER-7312

### System info:

Telegraf v1.4.3

Windows

[2017-10-26 19:03] danielnelson commented on #3389
`403 Forbidden` usually indicates that the user does not have write permissions to the database, but in this case I think this may be coming from the proxy.  Normally a permission error from InfluxDB has an error message like:
[code]

[2017-10-26 19:09] danielnelson commented on #3390
What bond modes are you interested in?  I have only ever used active-backup, in which case it could be nice to monitor which interfaces are up and how many times they have failed.

[2017-10-26 19:16] danielnelson commented on #3388
This is an interesting idea, something like this could be implemented as a processor.  One thing to note is that it seems that this could cause aggregation issues.

[2017-10-26 19:17] danielnelson commented on #3388
To answer you question though, Telegraf currently has no support for this style of compression algorithm.

[2017-10-26 19:18] danielnelson commented on #3391
Is there a stack trace printed, if so can you add it?

[2017-10-26 19:20] brianm opened #3394 "Building telegraf manipulates other repos on $GOPATH"
## Bug report

Building telegraf via the included `Makefile` uses [gdm](https://github.com/sparrc/gdm) to manage dependencies. Unfortunately, `gdm` behaves poorly in regards to the common practice of using a singular `GOPATH`. A well behaved build will not manipulate things outside of the project being worked on.

### Relevant telegraf.conf:

n/a

### System info:

n/a

### Steps to reproduce:

1.

[2017-10-26 19:24] danielnelson commented on #3392
These values are reported as fields to avoid causing high series cardinality which in turn causes memory usage issues.  It isn't container specific but can you use the `container_name` tag instead?

In the future we will probably add a processor that can promote fields to tags and vice versa. #3372

[2017-10-26 19:28] danielnelson commented on #3394
We may do this in the future, but not until dep is a little more mature.  In the meantime you can use the `make telegraf` target to skip running gdm.

[2017-10-26 20:37] #3333 closed

[2017-10-26 21:26] absolutejam opened #3395 "Can't run --test non-interactively"
## Bug report

Running `'C:\\opt\\telegraf\\telegraf.exe --config C:\\opt\\telegraf\\telegraf.conf --config-directory C:\\opt\\telegraf\\conf.d --test` either within Powershell remoting or viia. SaltStack provides the following error: `2017/10/26 22:23:02 E! The service process could not connect to the service controller.` Running other flags, eg.  `--version` works.

### Relevant telegraf.conf:

[2017-10-26 22:04] danielnelson commented on #3395
I wonder if this would be fixed by https://github.com/influxdata/telegraf/pull/2754

[2017-10-26 22:29] jspiewak commented on #3383
We were just diagnosing this issue and tracked it down to a container that we were stopping.
Telegraf is reporting a negative timestamp:

[code]

[2017-10-26 22:42] danielnelson commented on #3383
@jspiewak Can you add the output of:
[code]

[2017-10-27 01:02] russorat commented on #256
code merged. resolving issue.

[2017-10-27 01:02] #256 closed

[2017-10-27 03:23] baoyicai commented on #3388
Thanks for replying. I believe it will be a great feature for future development. It aims to reduce data size, which is the same as aggregation, but it keeps the details like the data spikes, which is important for analysis.

[2017-10-27 04:26] daniel-alonso-sanchez commented on #3389
You're porobably right. Because also, there's no log entry un influxdb about the problem... But i cannot understand why everything works with 1.2.1, using same config files...

I'm gonna try sniffing net packsges...

[2017-10-27 05:49] daniel-alonso-sanchez commented on #3389
Confirmed. It's the annoying corporate proxy. It's funny because it's the first company that limits also connections among internal machines...

Is there a way of setting a NO_PROXY exception in source machine (telegraf machine)?

Thanks a lot and sorry for the inconvenience.

[2017-10-27 05:54] daniel-alonso-sanchez commented on #3389
Looks like there is other people asking for something similar: #1588

Closing this ticket. Thanks again!

[2017-10-27 05:54] #3389 closed

[2017-10-27 08:51] anatolijd opened #3397 "deadlock if influxdb output server is unreachable"
## Bug report

If Telegraf starts and InfluxDB output server is not reachable at that moment - Telegraf will not  write to that InfluxDB output until restarted.

A have several servers where Telegraf agent has been started during InfluxDB cluster downtime.
Those Telegraf agents are still not sending any data to influxdb output, despite the cluster went back online more than 3 hours before now.

Se

[2017-10-27 10:17] svetlovildar commented on #3390
I am interested in active-backup and balance-rr. But anyway, I guess slave status and count of failures are good to monitor for every mode.

[2017-10-27 11:24] gaetanquentin commented on #3369
ok it works now

[2017-10-27 13:29] jspiewak commented on #3383
@danielnelson our system runs customer workloads and we create, start, stop, and then destroy containers all the time. That container is long gone.

That said, we are regularly seeing the negative timestamp occur, so if there is a different thing you would like me to try, happy to give it a go.

In case it is at all useful, we are running Docker 17.04 and telegraf 1.4.1

[2017-10-27 16:54] efficks commented on #3391
@danielnelson No there's no stack trace. Only this message.

This is the complete output with the disk and diskio module enabled
[code]

[2017-10-27 17:54] danielnelson commented on #3397
Thanks for the bug report, I see the last log message was at `2017-10-27T08:14:03Z`, at what time approximately did you signal the process?

[2017-10-27 18:34] danielnelson commented on #3389
That makes sense, we only added support for the proxy environment variables recently.

It sounds like maybe we need a way to disable this on a per plugin basis in the config, but in the meantime you can add `NO_PROXY="*"` in `/etc/default/telegraf`.

[2017-10-27 18:38] danielnelson commented on #3383
Do you think you can capture this from another container exhibiting the bug?

[2017-10-27 20:12] daniel-alonso-sanchez commented on #3389
Hi again! That's exactly what i've done and works like a charm! Thanx a lot!!

[2017-10-27 20:25] jspiewak commented on #3383
Doubtful. The scenario we have is that our system decides the container should no longer be running, it is stopped, and then it is destroyed. My guess is that the telegraf docker plugin obtains a list of all running containers, then while it is obtaining the stats for the containers, the container in question is stopped and destroyed. When telegraf goes to obtain stats, something doesn't go quite

[2017-10-27 20:42] danielnelson commented on #3383
I could create a special build of Telegraf that will dump the JSON when an error occurs, would you be able to run this until a negative timestamp is found?

[2017-10-27 20:55] anatolijd commented on #3397
Somewhen between 08:14  and 08:19  . I killed process, spent some minutes looking for log file and syslog messages, then srarted telegraf service

[2017-10-27 21:04] xkilian opened #3402 "basicstats aggregator - Add filtering based on fields"
basicstats aggregator as proposed by @toni-moreno will create an additionnal set of statistics for all metrics generated by telegraf. You can set it to not send the original metrics, but this is a very blunt configuration.

Use case
Using basicstats aggregator to get actionable/alertable metrics for volatile metrics. (cpu, diskio, contextswitches, memory usage, number of emails received/sent, etc)

[2017-10-27 21:28] danielnelson commented on #3397
And there was never any metrics produced since you started Telegraf?

This looks like a proxy (nginx maybe) returned a 503 Unauthorized error, I say it looks like a proxy because there is no error message and InfluxDB usually reports something more helpful.
[code]

[2017-10-27 21:38] danielnelson commented on #3402
You can use the [measurement filtering](https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md#measurement-filtering) options to select which metrics are added to an aggregator.  Metrics that do not match are still sent onwards to the outputs.  We probably need to improve the documentation around this.

I think the idea to control which stats are calculated is a good one, it coul

[2017-10-28 04:54] anatolijd commented on #3397
Yes, never. And yes, there is haproxy balancer in front of.
I see a gap in the metrics for other agents for the downtime period, later they restored writes.
But only those telegraf agents started during downtime - they never restored.

[2017-10-28 06:24] santakd opened #3403 "Not getting data for rabbitmq_queue"
## Directions
When configured telegraf using the config file provided, we are not getting data for rabbitmq_queue
Data does shows up for rabbitmq_overview and rabbitmq_node

GitHub Issues are reserved for actionable bug reports and feature requests.
General questions should be asked at the [InfluxData Community](https://community.influxdata.com) site.

Before opening an issue, search for similar b

[2017-10-28 06:26] santakd commented on #3403
Telegraf.conf
[[inputs.rabbitmq]]
  ## Management Plugin url. (default: http://localhost:15672)
  url = "http://localhost:15672"
  ## Tag added to rabbitmq_overview series; deprecated: use tags
  name = "PEG-RABBITMQ"
  ## Credentials
  username = "user"
  password = "xxxx"

  ## Optional SSL Config
  # ssl_ca = "/etc/telegraf/ca.pem"
  # ssl_cert = "/etc/telegraf/cert.pem"
  # ssl_key = "/etc/tel

[2017-10-29 20:45] adityacs commented on #3283
@mamudragon Just for clearing my doubt, did you bind your localhost with `--bind 127.0.0.1` when starting influxdb and telegraf container?

[2017-10-30 12:58] jspiewak commented on #3383
Sure thing. Would it be helpful to upgrade to 1.4.3 first?

[2017-10-30 17:47] danielnelson commented on #3397
I tried to reproduce by starting Telegraf with the same plugins and my InfluxDB turned off and then after a few intervals starting InfluxDB, but was unable to reproduce the issue.  I didn't have a haproxy setup.

@anatolijd Are you able to reproduce the issue?

[2017-10-30 18:05] danielnelson commented on #3403
Can you check the queues that rabbitmq reports:
[code]

[2017-10-30 19:27] santakd commented on #3403
Hi,
 Though there are queues on this windows server, it is just reporting this

[]

The user has monitoring level of access and has access to the root and all the vhosts on the server

[2017-10-30 19:45] leiserfg opened #3408 "Postgresql output plugin (for using with timescaledb)"

[2017-10-30 19:53] danielnelson commented on #3403
If you haven't already, take a look at these:
[code]

You should also be able to browser to http://localhost:15672 and look around in the gui.

[2017-10-30 20:02] santakd commented on #3403
Hello,
 Yes, I did check in the gui and saw the queues are there
 Question: Do I have to  change anything in the config file?

Thanks
Santak

[2017-10-30 20:13] santakd commented on #3403
If I query on channels, connections and exchanges, I do get the data

- [ ] curl -u user:xxxx http://localhost:15672/api/channels
- [ ] curl -u user:xxxx http://localhost:15672/api/exchanges
- [ ] curl -u user:xxxx http://localhost:15672/api/connections

Not getting anything for queues

[2017-10-30 20:23] santakd commented on #3403
I got the queue information
Had to add the user to each of the vHosts and not just the root
Once I added the user to each of the vHosts, I started seeing information for queues
Please mark this as resolved

Thanks

[2017-10-30 20:24] santakd commented on #3403
- [ ] curl -u user:xxxx http://localhost:15672/api/channels
- [ ] curl -u user:xxxx http://localhost:15672/api/exchanges
- [ ] curl -u user:xxxx http://localhost:15672/api/connections
- [ ] curl -u user:xxxx http://localhost:15672/api/queues

[2017-10-30 20:25] danielnelson commented on #3403
Glad you got it working and thanks for the update.

[2017-10-30 20:25] #3403 closed

[2017-10-30 20:52] #3129 closed

[2017-10-30 22:40] danielnelson commented on #3383
Here is a build of 1.4.3 with the logging patch, it will log the JSON from the endpoint if the timestamp is negative.  [Debian Package](https://8701-33258973-gh.circle-artifacts.com/0/tmp/circle-artifacts.0458eKJ/build/linux/amd64/telegraf_1.4.3%257E8330363-0_amd64.deb), let me know if you need a different package.

[2017-10-30 23:35] danielnelson commented on #3402
I updated the documentation to better describe what happens when you use the measurement filtering parameters with aggregators.  Let me know if there is something else we should add.

[2017-10-30 23:35] #3402 closed

[2017-10-31 10:47] toni-moreno commented on #824
Hi @stefa975 and @danielnelson have you plans to add  soon this plugin ?  I'll be happy if we can use it. Thanks a lot.

[2017-10-31 12:00] toni-moreno opened #3410 "[bug] Wrong version from last git repo version 1.2.X instead of 1.4.3 ?"
Hi @danielnelson just now I've compiled and got an erroneous version 1.2.X, but latest seems to be https://github.com/influxdata/telegraf/releases/tag/1.4.3 rigth now

#/src/gospace/src/github.com/influxdata/telegraf$ /home/developer/src/gospace/bin/telegraf -version
Telegraf v1.2.0-rc1-628-g777b84d (git: master 777b84d)

#/src/gospace/src/github.com/influxdata/telegraf$ git rev-parse --verify HEA

[2017-10-31 12:32] jspiewak commented on #3383
We are running telegraf as a Docker container, actually

[2017-10-31 13:59] xkilian commented on #3402
Thank you for the updated documentation. I was using namepass, fieldpass methods which were dropping all metrics. So I was under the impression that the filtering was not working.

[namepass] = ["Percent_Processor_Time"]
or
[fieldpass] = ["Percent_Processor_Time"]

Both of these measurement filters do not work in an aggregator. (basicstats or minmax) For data from the windows input :  [[inputs.win

[2017-10-31 14:00] xkilian commented on #3402
You have my thumbs up for the way you propose to filter the statistical function to apply and forward.

stats = ["stdev", "s2"]

[2017-10-31 14:49] botzill commented on #3403
@santakd can you explain in more details how you did that ? I have an admin user but seems to not see any queue info. Thx.

[2017-10-31 14:50] xkilian commented on #3402
For data from the windows input : [[inputs.win.perf_counters.object]].
[[
This works as expected:
[[aggregators.minmax]]
  period = "60s"
  drop_original = false
  fieldpass = ["*"]

These do not work.
  fieldpass = ["Percent*"]
  fieldpass = ["*Time"]
  fieldpass = ["*time"]

  [[inputs.win_perf_counters.object]]
    # Processor usage, alternative to native, reports on a per core.
    ObjectName

[2017-10-31 16:38] hlihhovac commented on #3408
+1

[2017-10-31 17:28] lfdominguez opened #3411 "Strange behavior in SNMP plugin"
Hello, i'm using telegraf to obtain information from my internet router with SNMP plugin, but i see this strange behavior ( I have a 2mbps/2mbps of internet, so the max has to be of 256 KBytes/s, but i see in this 400 Kbytes/s)

![image](https://user-images.githubusercontent.com/5604131/32238798-291b868a-be3f-11e7-90cc-9f16a5a756da.png)

My Configuration is

[[inputs.snmp]]
  agents = [ "190.6.71.

[2017-10-31 17:59] jcmartins opened #3412 "add /monitor in mesos input plugin "feature request""
Please implement /monitor metrics.

I would like to have a memory and cpu consumer per app so I need see  mesos api:

/monitor/statistics
/slave(1)/monitor/statistics

tks
Joao

[2017-10-31 18:37] danielnelson commented on #3402
The way I usually check the actual field names is by running with `--test`, or when using a service input I will run with the file output for a minute.

I used a socket_listener input and the basicstats aggregator configured like this:
[code]

Then I write to the socket_listener this point, this is just an easy way to add arbitrary test data.  In Windows it might be easier to use the http_listener

[2017-10-31 18:44] danielnelson opened #3413 "Add ability to limit stats in the basicstats aggregator"
## Feature Request

Option to limit the new values to a single calculation (stdv or median or all)

Requested in #3402 by @xkilian

### Proposal:

Add method to select which statistics are collected, perhaps:
[code]

### Current behavior:

Must generate all stats.

Due to the way measurement filtering works with processors/aggregators, you cannot use the filtering option to limit the output.  This

[2017-10-31 18:45] danielnelson commented on #3402
I opened the stat limiting as a new issue

[2017-10-31 19:01] danielnelson commented on #3411
I think the value in non_negative_derivative is probably wrong, try setting it to the collection internal (probably 10s).

[2017-10-31 19:04] danielnelson commented on #3412
Do you have a link to the documentation for these APIs?

[2017-10-31 19:07] danielnelson commented on #3410
Here is what I get:
[code]

[2017-10-31 19:55] lfdominguez commented on #3411
uff if i change that i get the same graph but now with Mbps
![image](https://user-images.githubusercontent.com/5604131/32245981-f10cc6d6-be53-11e7-92d5-fc4072e33a4b.png)

[2017-10-31 19:59] poezn commented on #3176
The [Splunk documentation](http://docs.splunk.com/Documentation/Splunk/7.0.0/Metrics/GetMetricsInOther#Get_metrics_in_from_clients_over_HTTP_or_HTTPS) spells out how the data would have to be formatted. But at its simplest, the data could look as follows:

[code]

[2017-10-31 20:25] danielnelson commented on #3383
`docker pull danielnelson/telegraf:22d26745`

[2017-10-31 21:00] xkilian commented on #3402
Thank you for opening the stats issue.

As for the windows issue, I checked with --test and the name is as expected Percent_Processor_Time. If someone can test namepass or fieldpass with actual data from a windows perf counter to confirm my issue this would be great.

[2017-10-31 21:10] danielnelson commented on #3411
I guess you should go back to 1s, I think this is right because you want bytes/sec.

I think this could just be caused by variations in how long it takes to collect the data, since we can't always poll exactly 10s apart.  Does it appear better when grouped by a larger interval?

[2017-10-31 21:17] danielnelson commented on #3411
I'm happy to continue trying to help figure this out here, but you might get better results at the [InfluxData Community](https://community.influxdata.com) site.

[2017-11-01 11:35] lfdominguez commented on #3411
umm yeap, seems that, because the router is slow to respond to SNMP requests... but i solved that (before that I used InfluxDB with Telegraf) with a ruby script that catch the "uptime" of the router on response and make the math with this, not with the time configurated. Thanks.

[2017-11-01 11:50] lfdominguez commented on #3411
thanks... @danielnelson this is the new link
https://community.influxdata.com/t/strange-behavior-in-telegraf-snmp-plugin/2937

[2017-11-01 17:59] #3411 closed

[2017-11-01 19:51] envy opened #3416 "impi_sensors should split multiple sensor readings with the same name"
## Feature Request

I'm monitoring a Dell R630 with telegraf and ipmi_sensors. The server has two CPU sockets and therefore reports temperatures for both CPUs. It would be nice, if I could access those two readings seperately as they are currently combined into one reading.

### Proposal:

If multiple instances of a sensor are detected, they should be split. Example the Temp sensor:
[code]

### Cu

[2017-11-01 19:58] adityacs commented on #3366
@danielnelson Can we implement the same way as explained here [influxdata/influxdb#7135](https://github.com/influxdata/influxdb/pull/7135) ?

[2017-11-01 19:59] danielnelson commented on #3416
I like the second suggestion, though in the specific case above it seems like we should skip values like `disabled` that do not have a value.

[2017-11-01 20:08] justindiaw commented on #1665
I am having trouble to monitor when there are errors for some devices. When I check the log, it seems that the snmp plugin is trying for a long time on each field, and the other's have to wait. I guess this must because I am putting all IP address in one agent list. When some error happen to one device, the others have to wait. Which means, if I want to avoid this, I have to seperate all device by

[2017-11-01 20:09] danielnelson commented on #3366
Yeah, probably just need to add a `unix_socket = "/var/run/influxdb.sock"` option that if set enabled the dial function.

[2017-11-01 20:12] danielnelson commented on #1665
@justindiaw What you are experiencing should be addressed in the 1.5 release, could you try the nightly build and let me know if it is working well for you.

[2017-11-01 20:16] justindiaw commented on #1665
@danielnelson Thanks for the fast reply. Good to know that. I'm going to try the new release.

[2017-11-01 20:20] danielnelson commented on #1665
Just to be clear, the 1.5 release with the change is not yet released, if you are able to help with testing you will need to use a nightly build or compile from source.

[2017-11-01 22:32] envy commented on #3416
Yes, that would also be nice. I try to get some ipmitool output of some other Dell servers tomorrow that actually have two CPUs to see what the difference in output is (if there is any).

[2017-11-02 05:40] JerryPierre opened #3417 "Influxdb: Connection refused after installing SSL"
## Bug report
I have installed the Influxdb TICK stack on the same server, and all is working well. Now, I would like to add SSL for better security. I have gotten an official CA cert and followed the steps in this link https://docs.influxdata.com/influxdb/v1.3/administration/https_setup/2

Unfortunately, after a restart I get this error when I try to access the Influxdb CLI:

[user@nfluxdb ssl]$

[2017-11-02 09:04] envy commented on #3416
So I gathered some output from two servers at work, one with IDRAC 6 and one with IDRAC 7: https://gist.github.com/envy/91cb29370cbf8414c58402014ff4f8df

The IDRAC 7 output matches the IDRAC 8 output of my R630 shown above.
The IDRAC 6 output lists Temp even more often, however, no actual value is given. I don't know why yet, maybe it's a permission problem as I'm not the administrator of that mac

[2017-11-02 17:27] jspiewak commented on #3383
FYI, looks like the image is missing the entrypoint.sh, and is much smaller than 1.4.3:

[code]

We using the Chef Docker cookbook to configure the container, and something about not having the entrypoint broke the update to use this image.

Anyway, it is now deployed in production so we should have something by tomorrow. What can I grep for in the output, since we have it log the metrics as well?

[2017-11-02 18:43] stefa975 commented on #824
Hi, I can make a pull request so the team can have a look at it.

[2017-11-02 22:24] jspiewak commented on #3383
I don't see any JSON debugging, but I had the processors.printer enabled anyway:

[code]

[2017-11-02 23:13] bobmshannon opened #3419 "Datadog output plugin logs API key"
## Bug report

When using the `datadog` output plugin, telegraf can log the datadog API key if the server is unreachable or in any scenario where debug information is logged that includes the HTTP query URI.

### Relevant telegraf.conf:

Any configuration with the Datadog output plugin enabled.

### System info:

Telegraf version 1.4.3

### Expected behavior:

The API key should not be logged. In

[2017-11-03 09:39] botzill commented on #2214
Can we exclude randomly generated queues names like: `450ec2647db4465482ee16c4794d664a` ?

[2017-11-03 13:06] toni-moreno commented on #3410
I've got source code with go tool
[code]
after updated the version seems to be ok, but `git describe --always --tags` still wrong ( last Makefile tooks version from here).

[2017-11-03 13:06] #3410 closed

[2017-11-03 13:08] jspiewak commented on #3383
By the way, -6795364578871345152 appears to be a magic number:

https://groups.google.com/d/msg/influxdb/ZT1NOsKIHCs/9Ojqh083IyAJ
https://gist.github.com/patdowney/b64a4fee790ac66dd1a2

[2017-11-03 14:45] svetlovildar commented on #3390
#3424

[2017-11-03 15:09] rvojcik opened #3425 "Conflicting tags"
Hi Guys,
I think this is somehing wich was the case in #662
## Bug report
I tried add tags to second SNMP Instance with different value and I get this
[code]

### Relevant telegraf.conf:
[code]

### System info:

Debian Wheezy
Telegraf version 1.4.3-1

### Expected behavior:
I was expected that I will have measurement called Doors with value and different tags.
I have many of these sensors so it m

[2017-11-03 16:21] efficks commented on #3391
@danielnelson I've resolved the issue for the "Invalid class".
It's a wmi error. I've resolved it using these command to fix the server WMI.
[code]

Reference : http://www.neolisk.com/techblog/wmiquery-incorrectclassonwindows2003r2

[2017-11-03 16:21] #3391 closed

[2017-11-03 23:52] phemmer commented on #3425
`[[inputs.snmp.field]]` adds a field. `[inputs.snmp.tags]` has to go in an `[[inputs.snmp]]` section. You can't apply a tag to a field.
If you want to create multiple series, your options are to either set up an SNMP table (using `[[inputs.snmp.table]]`, or define multiple `[[inputs.snmp]]` sections.

[2017-11-05 17:49] muhahacz commented on #3339
Seems its fixed in gopsutil v2.17.10.
Will it be available in 1.4.4 ?
Thanks

[2017-11-06 03:48] hemasalma opened #3429 "disk-diskio and mem-swap metrics are pushed into same index"
Hello,

We have installed teletgraf rpm build by us... in our lab.
for this I followed the below procedure

Install Go
Setup your GOPATH
Run go get -d github.com/influxdata/telegraf
Run cd $GOPATH/src/github.com/influxdata/telegraf
Run make

we need to send telegraf data to elasticsearch with different indexes...like cpu metrics to cpu index and memory metrics to mem index swap metrics to swap ind

[2017-11-06 05:27] oplehto opened #3430 "Inconsistent disk plugin behavior using autofs with different types of maps"
## Directions

## Bug report
We moved from using NIS mapping autofs NFS mounts to using ones defined in regular text files. All of the sudden all of our servers started mounting all the filesystems defined in the autofs files. We tracked this down to Telegraf which started triggering all of our autofs mounts after the aforementioned change.

I found an (undocumented) **ignore_fs** parameter which

[2017-11-06 06:42] santakd commented on #3403
Hello,
 I had setup a monitoring user with access to the root
 This got me the overview\node information
 Had to add the user to each of the vHosts and not just the root
 Once I added the user to each of the vhost, I started getting information
for the queues

Thanks
Santak

 Santak Das, PMP, CSM

On Tue, Oct 31, 2017 at 7:49 AM, Chirica Gheorghe <notifications@github.com>
wrote:

[2017-11-06 06:47] botzill commented on #3403
Thx @santakd I deleted my question because I found the issue :). The problem in my case what that I needed setup extra privileges for admin user so. I was using ansible for this and this can be achieved easily via:

[code]

This solved my issues and now user ``admin`` does have access to all queues.

Thx!

[2017-11-06 09:13] yoke88 opened #3431 "ceph influxdb output no ceph_pool_stat"
## Directions
using telegraf Telegraf v1.4.3 (git: release-1.4 b473b6a6596078f142a623ca38ff7030b7acec8f) to monitor ceph,but can not see the measurement with name 'ceph_pool_stat'

## Bug report

### Relevant telegraf.conf:
 [[inputs.ceph]]
   interval = '1m'
   ceph_user = "client.admin"
   ceph_config = "/etc/ceph/ceph.conf"
   gather_admin_socket_stats = true
   gather_cluster_stats = true
###

[2017-11-06 09:32] droidnxs opened #3432 "Logparser custom timestamp gives config parse error upon telegraf startup"
**Telegraf version**: 1.4.3

I'm trying to parse MongoDB's replica log file which has a timestamp as "2017-10-24T03:37:09.086+0000". My grok expression is:

The above expression works right as it is and parses the file without any issues. However the timestamp is the parsed time and not the actual log time and I'm trying to replace the parse time that telegraf uses with the log timestamp by adding

[2017-11-06 11:33] toni-moreno commented on #824
Hi @stefa975 I'm testing it and I could see 2 things to review:

### 1) Error on getWebStatistics
Values are strings not floats as spected
Tested on 6.4 EAP and 7.0.2 CE

[code]
Could be easily fix with this bit of code in the getWebStatistics method

[code]
### 2.- This plugin can also run in JBoss started as Domain.

I'm right now trying to adapt  the code to get also data from a standalone jbos

[2017-11-06 11:59] rvojcik commented on #3425
Thank you, I'd love to use snmp.table but sadly it's proprietary sensors solution and I cant use it. I define it separately. Thank you.

[2017-11-06 11:59] #3425 closed

[2017-11-06 12:09] arindamchoudhury opened #3433 "missing output"
Hi,

We have a custom output plugin. We check for corresponding output in our output plugin.

you can check the code [here](https://gist.github.com/arindamchoudhury/dfb7f684e0bf04d17c9b919d858f5531)

We observe frequent missing output messages:

[code]
Thanks,

[2017-11-06 12:50] sebastien-prudhomme commented on #3311
Seems there is a new release of gopsutils with the fix (v2.17.10)

[2017-11-06 14:56] toni-moreno commented on #824
Hi @stefa975  I've finally added a new config parameter to select mode of  jboss execution. ( exec_as_domain = true/false ),  I will create a fork with the code  if you want to  build the PR.

I have another doubt  while showing the created measurements.

I can not understand why we will need the "jboss_domain" measurement, as it doesn't give us any important data. You can easily get  how many ser

[2017-11-06 16:13] juldou commented on #1331
Whenever I type this, but with my domain and port 8086, the terminal is just waiting and nothing happens.
Notice that I have telegraf on another server as influxdb. I also have telegraf and influxdb in docker container.

curl -GET 'http://172.20.0.166:30084/query?pretty=true' --data-urlencode "q=CREATE DATABASE telegraf"

where can be problem?

[2017-11-06 17:52] svenklemm commented on #3408
I've written an output plugin for postgresql. Let me know if you need any other features.

PR #3428

[2017-11-06 18:08] neldog2 opened #3435 "jolokia2_agent plugin doesn't seem to work for some mbeans despite valid json and a 200 response being returned from POST request"
## Bug report

### Relevant telegraf.conf:
[code]

### System info:

[code]

### Steps to reproduce:

` telegraf -config /etc/telegraf/telegraf.d/tomcat.conf -debug`

### Expected behavior:
Metrics for Manager mbean should be collected and added to influxdb

### Actual behavior:
[code]
### Additional info:
Doing a tcpdump shows that the POST retrieves valid json with a 200 response.  Debugging via

[2017-11-06 18:25] toni-moreno commented on #824
About naming conventions and types

![image](https://user-images.githubusercontent.com/5883405/32456985-be06e2a2-c327-11e7-939a-a68ed7981828.png)

As you can see jboss_database measurement is right now defined as "string" but should be integer instead. Field names should be like the other fields,  ( not camel case) .

There is a "type" tag for each measurement , but  this is redundant with the  me